{% extends 'MenuBar.html' %}
{% block ContentArea %}
{% load static from staticfiles %}
<div class="leftMiddle">
	<div class="banner">
	Contact Search Results 
	</div>
	{% if not contactSearchObjs %}
		<h1>* * * No Contacts Found * * *</h1>
		<br><br><br>
	{% else %}
		<form action="/WillowTree/{{ school }}/{{ AcYear }}/addExistingContactAdd/{{ FamilyId }}/" method="post">
			{% csrf_token %}
			<div style='font-size:1.2em;font-weight:bold;margin-bottom:15px;text-align:center;'>
				Add the following checked contacts to the family {{ FamilyId }}
				<input style='margin-left:25px;width:100px;' type="submit" value="Add Contact/s?">
				<input style='margin-left:25px;width:100px;' onclick='history.go(-1);' type="button" value="Go Back?">
			</div>
			<table class="WillowTable1">
				<tr>
					<td class="WillowTableHeader">Select</td>
					<td class="WillowTableHeader">Contact</td>
				<tr>
				{% for contact in contactSearchObjs %}
				<tr>
					<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}"><input style='width:20px;height:20px;' type="checkbox" id="contact_id" name="contact_id{{ contact.id }}" value="{{ contact.id }}"></td>
					<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" >ID:{{ contact.id }} -- <b>{{ contact.Forename }} {{ contact.Surname }}</b></td>
				</tr>
				{% endfor %}
				</table>
			<br><br><br>
		</form>
	{% endif %}
</div>			
{% endblock %}
