{% extends 'MenuBar.html' %}
{% block ContentArea %}
{% load static from staticfiles %}
<div class="leftMiddle">
	<div class="banner">
	Pupil Search Results 
	</div>
	{% if not pupilSearchObjs %}
		<h1>* * * No Pupils Found * * *</h1>
		<br><br><br>
	{% else %}
		<form action="/WillowTree/{{ school }}/{{ AcYear }}/addExistingPupilAdd/{{ FamilyId }}/" method="post">
			{% csrf_token %}
			<div style='font-size:1.2em;font-weight:bold;margin-bottom:15px;text-align:center;'>
				Add the following checked pupils to the family {{ FamilyId }}
				<input style='margin-left:25px;width:100px;' type="submit" value="Add Pupil/s?">
				<input style='margin-left:25px;width:100px;' onclick='history.go(-1);' type="button" value="Go Back?">
			</div>
			<table class="WillowTable1">
				<tr>
					<td class="WillowTableHeader">Select</td>
					<td class="WillowTableHeader">Pupil</td>
				<tr>
				{% for pupil in pupilSearchObjs %}
				<tr>
					<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}"><input style='width:20px;height:20px;' type="checkbox" id="pupil_id" name="pupil_id{{ pupil.id }}" value="{{ pupil.id }}"></td>
					<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" >ID:{{ pupil.id }} -- <b>{{ pupil.Forename }} {{ pupil.Surname }}</b> -- dob:{{ pupil.DateOfBirth|date:"jS F Y" }}</td>
				</tr>
				{% endfor %}
				</table>
			<br><br><br>
		</form>
	{% endif %}
</div>			
{% endblock %}
