
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% endif %}
					{{ BannerTitle }}
				</div>
			{% if ApplicantsForm.errors %}
			<p style="color: red;">
			Please Correct the error{{ ApplicantsForm.errors|pluralize }} below.
			</p>
			{% endif %}

			<form class = "WillowTable" action="/WillowTree/{{ school }}/{{AcYear}}/{{ TriggerAction}}/" method="post">{% csrf_token %}
			<table border=0>

			</table>
			
			<input type="submit">

			</form>			<br><br>
			<h2> WARNING: Please remember to select a family for a child who's family are already
			known to Thomas's. Creation of a second family record WILL cause issues </h2>

			</div>

			
{% endblock %}
