
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
					ClassList: {{ GroupName }} 
				</div>
			<table class="WillowTable1">
				<tr>
					<td class="WillowTableHeader"><br></td>
					<td class="WillowTableHeader">Id</td>
					<td class="WillowTableHeader">Surname</td>
					<td class="WillowTableHeader">Forename</td>
					<td class="WillowTableHeader">Other Names</td>
					<td class="WillowTableHeader">NickName</td>					
					<td class="WillowTableHeader">Gender</td>
					<td class="WillowTableHeader">Active Alerts</td>
				
				</tr>

			{% for pupil in ClassList %}
			<tr>
				<td>
					<a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ pupil.Pupil.id }}/"><img src="{{ MEDIA_REDIRECT }}{{pupil.Pupil.Picture}}" width="50" height="60"/></a>
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.id }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.Surname }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.Forename }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.OtherNames }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.NickName }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.Gender }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >

						{% for alert_items in pupil.ActivePupilAlerts %}
						 {% for alerts in alert_items %}
							<img style="float:left" id="img_{{alerts.id}}" src="{% static alerts.AlertType.Icon %}" width="25" height="25"/>
							<span dojoType="dijit.Tooltip" connectId="img_{{alerts.id}}" style="display:none">
							    <b>Alert Type:</b> {{alerts.AlertType.AlertGroup.Name }} ({{alerts.AlertType.Name}})<br>
							    <b>Start Date:</b> {{alerts.StartDate}}<br>
							    {{alerts.AlertDetails|safe}}
							</span>

						 {% endfor %}
						{% endfor %}
				
				<td>
			<tr>
				
			{% endfor %}
			</table>



			</div>
			<div class="leftBottom">
				<img src="images/left_bottom.jpg" width="800" height="8" />
			</div>
			
{% endblock %}
