
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">
{% include "KeywordsManager.js" %}
</script>
<!-- pop out code -->
<script>
{% include "popOutJavaScript.js" %}
</script>
<!-- end -->
<script type="text/javascript" src="{{ STATIC_URL }}Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
{% include "tinyMCE.js" %}
</script>
{% endblock %}
{% load WillowFilters %}
{% block ContentArea %}

		{% include "Manager_AddNote.html" %}
		{% include "SelectALetterManager.html" %}
		{% include "includes/MoveAPupil.html" %}
		{% include "includes/LabelManager.html" %}		
		{% include "includes/MoveSinglePupilBackToHolding.html" %}
		{% include "includes/CopySinglePupilBackToHolding.html" %}
		{% include "includes/MoveSinglePupilToInterview_PopUp.html" %}							
		{% include "includes/MoveSinglePupilToWithdrawn_PopUp.html" %}
		{% include "includes/MoveSinglePupilToOffer_PopUp.html" %}
		{% include "includes/MoveSinglePupilToNotOffered_PopUp.html" %}
		{% include "includes/MoveSinglePupilToWaitListed_PopUp.html" %}
		{% include "includes/MoveSinglePupilToClassYear_PopUp.html" %}
		{% include "includes/MoveSinglePupilToDeclinedPlace_PopUp.html" %}
		{% include "includes/MoveSinglePupilToDeclinedInterview_PopUp.html" %}		
		{% include "includes/MoveSinglePupilToNoShow_PopUp.html" %}	
		{% include "includes/MoveSinglePupilToDeclinedAfterDepositPaid_PopUp.html" %}
		{% include "includes/MoveSinglePupilToClass_PopUp.html" %}	
		{% include "includes/MoveSinglePupilToReserve_PopUp.html" %}
		{% include "includes/MoveSinglePupilToMoveToPimSeptLower.html" %}
		{% include "includes/MoveSinglePupilToMoveToPimSeptUpper.html" %}
		{% include "includes/MoveSinglePupilToMoveToPimJanLower.html" %}
		{% include "includes/MoveSinglePupilToMoveToPimJanUpper.html" %}
		{% include "includes/MoveSinglePupilToMoveToBatSeptLower.html" %}
		{% include "includes/MoveSinglePupilToMoveToBatSeptUpper.html" %}
		{% include "includes/MoveSinglePupilToMoveToBatJanLower.html" %}
		{% include "includes/MoveSinglePupilToMoveToBatJanUpper.html" %}
		{% include "includes/MoveSinglePupilToMoveToPimSeptLowerAccepted.html" %}
		{% include "includes/MoveSinglePupilToMoveToPimSeptUpperAccepted.html" %}
		{% include "includes/MoveSinglePupilToMoveToPimJanLowerAccepted.html" %}
		{% include "includes/MoveSinglePupilToMoveToPimJanUpperAccepted.html" %}
		{% include "includes/MoveSinglePupilToMoveToBatSeptLowerAccepted.html" %}
		{% include "includes/MoveSinglePupilToMoveToBatSeptUpperAccepted.html" %}
		{% include "includes/MoveSinglePupilToMoveToBatJanLowerAccepted.html" %}
		{% include "includes/MoveSinglePupilToMoveToBatJanUpperAccepted.html" %}
		{% include "includes/MoveSinglePupilToMoveToPimSeptLowerOffered.html" %}
		{% include "includes/MoveSinglePupilToMoveToPimSeptUpperOffered.html" %}
		{% include "includes/MoveSinglePupilToMoveToPimJanLowerOffered.html" %}
		{% include "includes/MoveSinglePupilToMoveToPimJanUpperOffered.html" %}
		{% include "includes/MoveSinglePupilToMoveToBatSeptLowerOffered.html" %}
		{% include "includes/MoveSinglePupilToMoveToBatSeptUpperOffered.html" %}
		{% include "includes/MoveSinglePupilToMoveToBatJanLowerOffered.html" %}
		{% include "includes/MoveSinglePupilToMoveToBatJanUpperOffered.html" %}		
		{% include "includes/MoveSinglePupilToMoveToPimSeptLowerDeclined.html" %}
		{% include "includes/MoveSinglePupilToMoveToPimSeptUpperDeclined.html" %}
		{% include "includes/MoveSinglePupilToMoveToPimJanLowerDeclined.html" %}
		{% include "includes/MoveSinglePupilToMoveToPimJanUpperDeclined.html" %}
		{% include "includes/MoveSinglePupilToMoveToBatSeptLowerDeclined.html" %}
		{% include "includes/MoveSinglePupilToMoveToBatSeptUpperDeclined.html" %}
		{% include "includes/MoveSinglePupilToMoveToBatJanLowerDeclined.html" %}
		{% include "includes/MoveSinglePupilToMoveToBatJanUpperDeclined.html" %}
		{% include "includes/removePupilFromGrp.html" %}
		{% include "includes/CsvOptions.html" %}
		{% include "includes/pupilMoveToCurrent.html" %}
		{% include "includes/OtherReportManager.html" %}
		<div>
			
			
			
			
			
			
			
		<div>		
			<div class="leftMiddle">
				<div class="banner" style="clear:both;height:15px;">
					<div style="float:left;">
						<span style="font-weight:bold;color:lightblue;">ClassList: {{ GroupName }}...  (no. in this grp:<span style="color:red;">{{ ClassListLength }}</span>)</span>
					</div>
					<div style="float:right;font-weight:normal;color:lightblue;">
						{% include "includes/go_to_pupil.html" %}	
					</div>		
				</div>							
			<div>
				<p style="color:blue;font-weight:bold;margin-bottom:0;">		
				{% if Messages %}
					{% for msg in Messages %}
						{{ msg }}<br>
					{% endfor %}
				{% endif %}
				</p>
			</div>
			<table class="WillowTable1">
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" width='7%'>
					<input type='checkbox' id="SelectAll" name="PupilCheck" checked='checked' style='height:20px;width:20px;' onChange='ToggleSelectAll();'/> 
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" width='20%'><<<< Select/Unselect All<td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}"><br></td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" width='15%'>
					
				<ul class="managermenu">
					<li><a href='#' class="drop">Actions</a>
						<div class="dropdown_2columns align_right">
							<div class="col_1">
								<h3>Main</h3>
								<ul>
									<li><a href='#Manager_AddNote' class="login-window" onclick="AddForSelected('Note');">Add Note/Email</a></li>
									<li><a href="#SelectALetterManager" class="login-window" onclick="AddForSelected('Letter');">Generate Letter</a></li>
									<li><a href='#LabelManager' class='login-window' onclick="AddForSelected('Labels');">Generate Labels</a></li>
								</ul>
							</div>
							<div class="col_1">															
								<h3>Adhoc</h3>
								<ul>
									<li><a href="#MoveAPupil" class="login-window" onclick="AddForSelected('Move');">Move to Group</a></li>
									<li><a href='#removePupilFromGrp' class="login-window" onclick="AddForSelected('removePupilFromGrp');">Rm from Group</a></li>
									{% if GroupName in ListOfYearClasses %}
									<li><a href="#MoveSinglePupilToClass_PopUp" class="login-window" onclick="AddForSelected('MoveToClass');">Move to Class</a></li>
									{% endif %}
									<li><a href="#CsvOptions" class="login-window" onclick="AddForSelected('CsvOptions');">CSV File</a><li>
									<li><a href="#OtherReportManager" class="login-window" onclick="AddForSelected('OtherReport');">Other Reports</a><li>

								</ul>
							</div>							
						</div>
					</li>
				</ul>
					
				</td>	
			</tr>
		</table>							
			<table class="WillowTable1">
				<tr>
					<td class="WillowTableHeaderSmall" width='7%'>Select</td>
					<td class="WillowTableHeaderSmall">Picture</td>					
					<td class="WillowTableHeaderSmall">Id</td>
					<td class="WillowTableHeaderSmall">Name</td>
					<td class="WillowTableHeaderSmall">Gender</td>
					<td class="WillowTableHeaderSmall">DOB</td>
					<td class="WillowTableHeaderSmall">Assigned To</td>
					<td class="WillowTableHeaderSmall">No./Siblings</td>
					<td class="WillowTableHeaderSmall" width='15%'>Actions</td>
				</tr>
			{% for pupil in ClassList %}
			<tr>
				<td id="go_to_pupil_{{ pupil.Pupil.id }}" class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
					<input type='checkbox' id="Checked{{pupil.Pupil.id}}" name="PupilCheck" checked='checked' style='height:20px;width:20px;' onchange="UpdatePupilList('{{pupil.Pupil.id}}');"/> 
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
					<a href="/WillowTree/{{ School }}/{{ AcYear }}/pupil/{{ pupil.Pupil.id }}/"><img src="{{ MEDIA_REDIRECT }}{{pupil.Pupil.Picture}}" width="50" height="60"/></a>
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.id }}</td> 
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.Surname }}, {{ pupil.Pupil.Forename }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.Gender }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.DateOfBirth|date:"jS N Y" }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >				
				{% for Groups in pupil.GroupList %}
				<a href="/WillowTree/{{ School }}/{{ Groups.AcademicYear }}/ManageThis/{{ Groups.Group.Name }}/">{{ Groups.Group.Name }} ({{Groups.AcademicYear}})</a><br>  
				{% endfor%}
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Siblings|length }}<br></td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
				<ul class="managermenu">
					<li><a href='#' class="drop">Actions</a>
						<div class="dropdown_2columns align_right">
							<div class="col_1">
								<h3>Main</h3>
								<ul>
									<li><a href='#Manager_AddNote' class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Note');">Add Note/Email</a></li>
									<li><a href="#SelectALetterManager" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Letter');">Generate Letter</a></li>
									<li><a href='#LabelManager' class='login-window' onclick="AddFor('{{pupil.Pupil.id}}','Labels');">Generate Labels</a></li> 
									<li><a href="#MoveSinglePupilBackToHolding" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveBackToHolding');" >Move back to Holding</a></li>
									<li><a href="#CopySinglePupilBackToHolding" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','CopyBackToHolding');" >Copy back to Holding</a></li>
									<li><a href="#MoveAPupil" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Move');">Move to Group</a></li>
									<li><a href='#pupilMoveToCurrent' class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveCurrent');">Move To Current</a></li>
									<li><a href='#removePupilFromGrp' class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','removePupilFromGrp');">Rm from Group</a></li>					
								</ul>
	
							</div>
							<div class='col_1'>
								<h3>Applicants</h3>
								<ul>
							{% if GroupName == ApplicantsMainGroup %} 
									<li><a href="#MoveSinglePupilToInterview_PopUp" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToInterview');">Move to Interview</a></li>
									<li><a href="#MoveSinglePupilToDeclinedInterview" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToDeclinedInterview');">Move to Declined Interview</a></li>
									<li><a href="#MoveSinglePupilToWithdrawn" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToWithdrawn');">Move to Withdrawn</a></li>
									<li><a href="#MoveSinglePupilToReserve" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToReserve');">Move to Reserve</a></li>
							{% endif %}
							{% if GroupName == InterviewMainGroup %}
									<li><a href="#MoveSinglePupilToOffer" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToOffer');">Move to Offer</a></li>
									<li><a href="#MoveSinglePupilToNotOffered" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToNotOffered');">Move to Not Offered</a></li>
									<li><a href="#MoveSinglePupilToWaitListed" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToWaitListed');">Move to Wait Listed</a></li>
									<li><a href="#MoveSinglePupilToDeclinedInterview" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToDeclinedInterview');">Move to Applicant Declined Interview</a></li>
									<li><a href="#MoveSinglePupilToNoShow" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToNoShow');">Move to No Show to Interview</a></li>
							{% endif %}
							{% if GroupName == OfferMainGroup %} 
									<li><a href="#MoveSinglePupilToClassYear" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToClassYear');">Move to a Class</a></li>
									<li><a href="#MoveSinglePupilToDeclinedPlace" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToDeclinedPlace');">Move to Declined Place</a></li>
							{% endif %}
							{% if '.Accepted.' in GroupName %}
									<li><a href="#MoveSinglePupilToDeclinedAfterDepositPaid_PopUp" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToDeclinedAfterDepositPaid');">Move to Declined After Deposit Paid</a></li>
									<li><a href="#MoveSinglePupilToClass_PopUp" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToClass');">Move to Class</a></li>
							{% endif %}
							{% if 'Applicants.Kindergarten.PimMain' == GroupName %}
									<li><a href="#MoveSinglePupilToMoveToPimSeptLower" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToPimSeptLower');">Move to September Lower School</a></li>
									<li><a href="#MoveSinglePupilToMoveToPimSeptUpper" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToPimSeptUpper');">Move to September Upper School</a></li>
									<li><a href="#MoveSinglePupilToMoveToPimJanLower" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToPimJanLower');">Move to January Lower School</a></li>
									<li><a href="#MoveSinglePupilToMoveToPimJanUpper" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToPimJanUpper');">Move to January Upper School</a></li>
							{% endif %}
							{% if 'Applicants.Kindergarten.BatMain' == GroupName %}
									<li><a href="#MoveSinglePupilToMoveToBatSeptLower" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToBatSeptLower');">Move to September Lower School</a></li>
									<li><a href="#MoveSinglePupilToMoveToBatSeptUpper" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToBatSeptUpper');">Move to September Upper School</a></li>
									<li><a href="#MoveSinglePupilToMoveToBatJanLower" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToBatJanLower');">Move to January Lower School</a></li>
									<li><a href="#MoveSinglePupilToMoveToBatJanUpper" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToBatJanUpper');">Move to January Upper School</a></li>
							{% endif %}
							{% if 'Applicants.Kindergarten.PimMain.September.Lower.Offered' ==  GroupName %}
									<li><a href="#MoveSinglePupilToMoveToPimSeptLowerAccepted" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToPimSeptLowerAccepted');">Move to September Lower Accepted</a></li>
							{% endif %}
							{% if 'Applicants.Kindergarten.PimMain.September.Upper.Offered' ==  GroupName %}		
									<li><a href="#MoveSinglePupilToMoveToPimSeptUpperAccepted" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToPimSeptUpperAccepted');">Move to September Upper Accepted</a></li>							
							{% endif %}
							{% if 'Applicants.Kindergarten.PimMain.January.Lower.Offered' == GroupName %}
									<li><a href="#MoveSinglePupilToMoveToPimJanLowerAccepted" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToPimJanLowerAccepted');">Move to January Lower Accepted</a></li>
							{% endif %}
							{% if 'Applicants.Kindergarten.PimMain.January.Upper.Offered' == GroupName %}
									<li><a href="#MoveSinglePupilToMoveToPimJanUpperAccepted" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToPimJanUpperAccepted');">Move to January Upper Accepted</a></li>
							{% endif %}
							{% if 'Applicants.Kindergarten.BatMain.September.Lower.Offered' == GroupName %}
									<li><a href="#MoveSinglePupilToMoveToBatSeptLowerAccepted" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToBatSeptLowerAccepted');">Move to September Lower Accepted</a></li>
							{% endif %}
							{% if 'Applicants.Kindergarten.BatMain.September.Upper.Offered' == GroupName %}		
									<li><a href="#MoveSinglePupilToMoveToBatSeptUpperAccepted" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToBatSeptUpperAccepted');">Move to September Upper Accepted</a></li>							
							{% endif %}
							{% if 'Applicants.Kindergarten.BatMain.January.Lower.Offered' == GroupName %}
									<li><a href="#MoveSinglePupilToMoveToBatJanLowerAccepted" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToBatJanLowerAccepted');">Move to January Lower Accepted</a></li>
							{% endif %}
							{% if 'Applicants.Kindergarten.BatMain.January.Upper.Offered' == GroupName %}		
									<li><a href="#MoveSinglePupilToMoveToBatJanUpperAccepted" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToBatJanUpperAccepted');">Move to January Upper Accepted</a></li>
							{% endif %}	
							{% if 'Applicants.Kindergarten.PimMain.September.Lower' ==  GroupName %}
									<li><a href="#MoveSinglePupilToMoveToPimSeptLowerOffered" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToPimSeptLowerOffered');">Move to September Lower Offered</a></li>
							{% endif %}
							{% if 'Applicants.Kindergarten.PimMain.September.Upper' ==  GroupName %}		
									<li><a href="#MoveSinglePupilToMoveToPimSeptUpperOffered" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToPimSeptUpperOffered');">Move to September Upper Offered</a></li>							
							{% endif %}
							{% if 'Applicants.Kindergarten.PimMain.January.Lower' == GroupName %}
									<li><a href="#MoveSinglePupilToMoveToPimJanLowerOffered" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToPimJanLowerOffered');">Move to January Lower Offered</a></li>
							{% endif %}
							{% if 'Applicants.Kindergarten.PimMain.January.Upper' == GroupName %}
									<li><a href="#MoveSinglePupilToMoveToPimJanUpperOffered" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToPimJanUpperOffered');">Move to January Upper Offered</a></li>
							{% endif %}
							{% if 'Applicants.Kindergarten.BatMain.September.Lower' == GroupName %}
									<li><a href="#MoveSinglePupilToMoveToBatSeptLowerOffered" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToBatSeptLowerOffered');">Move to September Lower Offered</a></li>
							{% endif %}
							{% if 'Applicants.Kindergarten.BatMain.September.Upper' == GroupName %}		
									<li><a href="#MoveSinglePupilToMoveToBatSeptUpperOffered" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToBatSeptUpperOffered');">Move to September Upper Offered</a></li>							
							{% endif %}
							{% if 'Applicants.Kindergarten.BatMain.January.Lower' == GroupName %}
									<li><a href="#MoveSinglePupilToMoveToBatJanLowerOffered" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToBatJanLowerOffered');">Move to January Lower Offered</a></li>
							{% endif %}
							{% if 'Applicants.Kindergarten.BatMain.January.Upper' == GroupName %}		
									<li><a href="#MoveSinglePupilToMoveToBatJanUpperOffered" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToBatJanUpperOffered');">Move to January Upper Offered</a></li>
							{% endif %}	
							{% if 'Applicants.Kindergarten.PimMain.September.Lower' in  GroupName %}
									<li><a href="#MoveSinglePupilToMoveToPimSeptLowerDeclined" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToPimSeptLowerDeclined');">Move to September Lower Declined</a></li>
							{% endif %}
							{% if 'Applicants.Kindergarten.PimMain.September.Upper' in  GroupName %}		
									<li><a href="#MoveSinglePupilToMoveToPimSeptUpperDeclined" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToPimSeptUpperDeclined');">Move to September Upper Declined</a></li>							
							{% endif %}
							{% if 'Applicants.Kindergarten.PimMain.January.Lower' in GroupName %}
									<li><a href="#MoveSinglePupilToMoveToPimJanLowerDeclined" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToPimJanLowerDeclined');">Move to January Lower Declined</a></li>
							{% endif %}
							{% if 'Applicants.Kindergarten.PimMain.January.Upper' in GroupName %}
									<li><a href="#MoveSinglePupilToMoveToPimJanUpperDeclined" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToPimJanUpperDeclined');">Move to January Upper Declined</a></li>
							{% endif %}
							{% if 'Applicants.Kindergarten.BatMain.September.Lower' in GroupName %}
									<li><a href="#MoveSinglePupilToMoveToBatSeptLowerDeclined" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToBatSeptLowerDeclined');">Move to September Lower Declined</a></li>
							{% endif %}
							{% if 'Applicants.Kindergarten.BatMain.September.Upper' in GroupName %}		
									<li><a href="#MoveSinglePupilToMoveToBatSeptUpperDeclined" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToBatSeptUpperDeclined');">Move to September Upper Declined</a></li>							
							{% endif %}
							{% if 'Applicants.Kindergarten.BatMain.January.Lower' in GroupName %}
									<li><a href="#MoveSinglePupilToMoveToBatJanLowerDeclined" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToBatJanLowerDeclined');">Move to January Lower Declined</a></li>
							{% endif %}
							{% if 'Applicants.Kindergarten.BatMain.January.Upper' in GroupName %}		
									<li><a href="#MoveSinglePupilToMoveToBatJanUpperDeclined" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveToBatJanUpperDeclined');">Move to January Upper Declined</a></li>
							{% endif %}									
								</ul>
							</div>
						</div>
					</li>
				</ul>

				</td>
			</tr>
				
			{% endfor %}
			</table>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<br><br><br><br><br><br><br><br>
		</div>			
{% endblock %}
