
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static from staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Willow Tree :: {{ TitleBar }} </title>
{% load WillowFilters %} 
<link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
<style>
	{% include "css/thomas.css" %}
	{% include "css/RecordForm.css" %}
	{% include "css/Attendance.css" %}
	{% include "css/ManagerMenu.css" %}
	{% include 'css/Popups.css' %}
</style>
<style>
.fake_link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}	
</style>
<!-- keeping this dojo css as without it the menu's begin to long weird... must fix in the long term - roy  ///// 404 NOT FOUND
     <link href="{% static "Scripts/dojo-release-1.8.1/dojo/resources/dojo.css" %}" rel='stylesheet' type='text/css'/>
 -->
<!-- end -->
<!-- jquery -->
<script src="{% static "Scripts/jquery-1.10.2.min.js" %}"></script> <!-- must be put on server!! -->
<link rel="stylesheet" href="{% static "Scripts/jquery-ui-themes-1.10.3/themes/smoothness/jquery-ui.css" %}" /> <!-- must be put on server!! -->
<script src="{% static "Scripts/jquery-ui-1.10.3/ui/jquery-ui.js" %}"></script> <!-- must be put on server!! -->
<!-- end -->
		{% block base_header_extra %}{% endblock %}
</head>
<!-- jquery tooltip code -->
<script>
$(function () {
      $(document).tooltip({
          content: function () {
              return $(this).prop('title');
          }
      });
  });
  
</script>
<!-- end -->
<body class='tundra'>
<div style="position:absolute;margin-left:5px;;margin-top:10px;">
	<span style="font-weight:bold;font-size:1.1em;color:grey;" id="timer"></span>
</div>
<div class="container">
	<!-- Header Start -->
	<div class="header">
		<div style="position:absolute;margin-left:85px;;margin-top:97px;">
			<span style="color:white;font-size:1.2em;">{{ school|removeSchoolName }} {{ AcYear }}</span>
		</div>
		<a href="/WillowTree/"><img src="{% static Logo %}" width="450" height="120" alt="Willow Tree Logo" /></a>
				<!-- Sidebar Start -->
		<div class="contentRight">
			<div class="rightMiddle">
			<table>
			<tr><td>
				<div class="profileRow">
					<span class="profileArea">Username</span>
					<span class="profileValue">{{ UserName }}</span>
				</div>
				<div class="profileRow">
					<span class="profileArea">Last Action</span>
					<span class="profileValue profileValueLogoutTimer">{% now "G:i" %}</span>
				</div>
				</td><td>

				{% if LoggedIn %}
				<!---   logout timer  --->
				<link rel="stylesheet" href="{% static "css/timeout-logout.css" %}" />
				<script type="text/javascript"> var logoutTimerSchool = '{{ school }}'; </script>
				<script type="text/javascript" src="{% static "Scripts/timeout-logout.js" %}"></script>
				
				<div class="profileRow">
					<form class="RecordForm" action="/WillowTree/{{ school }}/Logout/" method="post" name="auth"> {% csrf_token %}
						<input type="submit" name="logout" id="logout" value="Logout" />
					</form>

				</div>
				</td></tr>
				</table>
				<div class="divider"></div>
				<form class="SearchForm" action="/WillowTree/{{ school }}/{{ AcYear }}/PupilSearch/" method="post" name="auth"> {% csrf_token %}
				<table>
				<tr>
				<td><input type="submit" name="Search" id="Search" value="Pupil Search" /></td>
				<td><input type='text' name='SearchText'></td>
				</tr>
				</table>
				</form>
				{% else %}
				</table>
				<br><br><br><br>
				
				
				{% endif %}				
			</div>
			<div class="rightBottom">
				<img src="{% static "images/right_bottom.jpg" %}" width="340" height="8" />
			</div>			
		</div>
		<!-- Sidebar End -->
	</div>
	<!-- Header End -->
	<!-- Navigation Start -->
	<div class="navbar">
		{% block MenuBar %}{% endblock %}
	</div>
	<!-- Navigation End -->
	<div class="content">

		<!-- Content Start -->
		<div style="background-color:white;" class="contentLeft">
					<div class="leftHead">
				<img src="{% static "images/left_head.jpg" %}" width="900" height="12" />
			</div>
			{% block ContentArea %}{% endblock %}
			<div class="leftBottom">
				<img src="{% static "images/left_bottom.jpg" %}" width="900" height="8" />
			</div>
		</div>
	</div>
	<!-- Content End -->
	<!-- Footer Start -->
	<div class="footer">
		&copy; 2011 - Thomas's London Day Schools    
	<!-- Footer End --> 
</div>
</body>
</html>
