{% extends 'MenuBar.html' %}

{% load static from staticfiles %}
{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
					ClassList: {{ GroupName }} 
				</div>
			<table class="WillowTable1">
				<tr>
					<td class="WillowTableHeaderSmall"><br></td>
					<td class="WillowTableHeaderSmall">Id</td>
					<td class="WillowTableHeaderSmall">Surname</td>
					<td class="WillowTableHeaderSmall">Forename</td>
					<td class="WillowTableHeaderSmall">Other Names</td>
					<td class="WillowTableHeaderSmall">Known as</td>					
					<td class="WillowTableHeaderSmall">Gender</td>
					<td class="WillowTableHeaderSmall">DOB</td>
					<td class="WillowTableHeaderSmall">House</td>
					<td class="WillowTableHeaderSmall">Form</td>
					<td class="WillowTableHeaderSmall">Email</td>					
				</tr>

			{% for pupil in ClassList %}
			<tr>
				<td>
					<a href="/WillowTree/{{ School }}/{{ AcYear }}/pupil/{{ pupil.Pupil.id }}/"><img src="{{ MEDIA_REDIRECT }}{{pupil.Pupil.Picture}}" width="50" height="60"/></a>
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.id }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.Surname }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.Forename }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.OtherNames }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.NickName }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.Gender }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.DateOfBirth }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.AcademicHouse }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Form }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >
				<a href="/WillowTree/{{ School }}/{{ AcYear }}/SendEmail/{{ pupil.Pupil.Surname }}/{{ pupil.Pupil.Forename }}/{{ pupil.Extended.Email.0 }}/">{{ pupil.Pupil.EmailAddress }}</a></td>
			<tr>
				
			{% endfor %}
			</table>



			</div>
			<div class="leftBottom">
				<img src="images/left_bottom.jpg" width="800" height="8" />
			</div>
			
{% endblock %}
