
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block ContentArea %}
			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% else %}
					Please enter a new passphrase
				{% endif %}
				</div>
				<div style="text-align:center;margin:50px 0 30px 0;">
					<span style="color:darkred;font-weight:bold;font-size:1.5em;padding:10px;border:1px solid;">
						please choose a new passphrase...
					</span>
				</div>
				Rules:<br>
				<ul>
					<li>Passphrase are to be made of multiple words</li>
					<li>Passphrase must have at least 3 words of at least three letters per word.</li>
					<li>You cannot repeat a word in your Passphrase</li>
					<li>An Example of a good Passphrase: 'stable class tuesday'</li>
					<li>All Passphrase are case sensitive!</li>
				</ul>
				<br>
				<form action="/WillowTree/{{ school }}/newPasswordAfterReset/{{ StaffId }}/" method="post">
					{% csrf_token %}
					<table>
						<tr><td>Passphrase:</td><td><input type="password" name='password' value="" /></td></tr>
						<tr><td>Repeat Passphrase:</td><td><input type="password" name='password2' value="" /></td></tr>						
					</table>
					<input type="submit" value="Submit" />
				</form>
				<p></p>
			</div>
{% endblock %}
