
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}
<script type="text/javascript">

function CheckSelected(FormObject)
{
	OptionSelected= false;
	for (i=0;i < FormObject.length;i++)
	{
		if (FormObject.Selected=true)
		{
			OptionSelected=true;
		}
	}
	return OptionSelected
}

function CheckText(FormObject)
{
	if (FormObject.value.length > 1)
	{
		return true;
	}
	else
	{
		return false;
	}
}

function checkform()
{
	var ArraySelected= new Array('BaseType','Selectgroup');
	var ArrayText= new Array('LetterName','LetterBody');
	
	for (i=0;i < ArraySelected.length; i++)
	{
		FormObject=document.getElementById(ArraySelected[i]);
		if (CheckSelected(FormObject) ==false)
		{
			return false;
		}
	}
	for (i=0; i < ArrayText.length; i++)
	{
		FormObject=document.getElementById(ArrayText[i]);
		if (CheckSelected(FormObject) ==false)
		{
			return false;
		}	
	}
	return true;
}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script>
tinyMCE.init({
	// example to select only one textarea for tiny mce :-) 
	mode : "specific_textareas",
	editor_selector : "LetterBodyClassForTinyMCE",
	theme : "advanced",
	plugins : "emotions,spellchecker,advhr,insertdatetime,preview,advlist", 
			
	// Theme options - button# indicated the row# only
	theme_advanced_buttons1 : "bold,italic,underline,|,justifyleft,justifycenter,justifyright,|,cut,copy,paste,|,bullist,numlist,|,outdent,indent,|,undo,redo,|,insertdate,inserttime,|,spellchecker,advhr,,removeformat,|,sub,sup,|,emotions",
	theme_advanced_toolbar_location : "bottom",
	theme_advanced_toolbar_align : "center",
	theme_advanced_statusbar_location : "none",
	theme_advanced_resizing : false
});
</script>
<!-- variable help -->
<script>
{% include "popOutJavaScript.js" %}
</script>
{% include "includes/familyLetterVaribleHelp.html" %}
{% include "includes/pupilLetterVaribleHelp.html" %}
{% include "includes/staffLetterVaribleHelp.html" %}
{% include "includes/schoolLetterVaribleHelp.html" %}
<!-- end -->
<div class="leftMiddle">
    <div class="banner">Create a Copy of a letter</div>
	{% if return_msg %}
		{% for msgs in return_msg %}
			<h1>{{ msgs }}</h1>
		{% endfor %}
	{% endif %}

	<div class="LetterCreateMain">
	<!-- variable help -->
	<div style="height:20px;">
		{% if LetterDetails.ObjectBaseType == 'Family' %}
		<a id="famVarHelp" class="login-window" style="color:blue;float:right;text-decoration:none;font-size:1.2em;" href="#familyLetterVaribleHelp" onMouseOver="this.style.color='red';" onMouseOut="this.style.color='blue';">
			Family Letter Variable Help?
		</a>
		{% endif %}
		{% if LetterDetails.ObjectBaseType == 'Pupil' %}
		<a id="pupVarHelp" class="login-window" style="color:blue;float:right;text-decoration:none;font-size:1.2em;" href="#pupilLetterVaribleHelp" onMouseOver="this.style.color='red';" onMouseOut="this.style.color='blue';">
			Pupil Letter Variable Help?
		</a>
		{% endif %}
		{% if LetterDetails.ObjectBaseType == 'Staff' %}
		<a id="staffVarHelp" class="login-window" style="color:blue;float:right;text-decoration:none;font-size:1.2em;" href="#staffLetterVaribleHelp" onMouseOver="this.style.color='red';" onMouseOut="this.style.color='blue';">
			Staff Letter Variable Help?
		</a>	
		{% endif %}		
		{% if LetterDetails.ObjectBaseType == 'School' %}
		<a id="schVarHelp" class="login-window" style="color:blue;float:right;text-decoration:none;font-size:1.2em;" href="#schoolLetterVaribleHelp" onMouseOver="this.style.color='red';" onMouseOut="this.style.color='blue';">
			School Letter Variable Help?
		</a>	
		{% endif %}			
	</div>
	<!-- end -->
	<form action="/WillowTree/{{ school }}/{{ AcYear }}/SaveANewLetter/" method="post" name="Letter"> 
	{% csrf_token %}
	<div class='LetterCreateBottom'>
		<input type='hidden' name='BaseType' id='BaseType' value='{{LetterDetails.ObjectBaseType}}'>
		
		<label>Select a Group to assign to:</label>
		<select style="width:613px;" id='Selectgroup' name='Selectgroup'>
		{% if LetterDetails.ObjectBaseType == 'Family' or LetterDetails.ObjectBaseType == 'Pupil' %}	
			{% for Groups in GroupList.PupilGroups %}
			{% ifequal Groups LetterDetails.AttachedTo %}
				<option id='{{ Groups.Name}}' selected='selected'>{{ Groups.Name}}</option>
			{% else %}
				<option id='{{ Groups.Name }}'>{{ Groups.Name }}</option>
			{% endifequal %}
			{% endfor %}
		{% endif %}
		
		{% if LetterDetails.ObjectBaseType == 'Staff' %}	
			{% for Groups in GroupList.StaffGroups %}
			{% ifequal Groups LetterDetails.AttachedTo %}
				<option id='{{ Groups.Name}}' selected='selected'>{{ Groups.Name}}</option>
			{% else %}
				<option id='{{ Groups.Name }}'>{{ Groups.Name }}</option>
			{% endifequal %}
			{% endfor %}
		{% endif %}
		
		{% if LetterDetails.ObjectBaseType == 'School' %}	
			<option id='SchoolList'>SchoolList</option>	
		{% endif %}		
		</select><br>	
		
			
		<label>Select the Base Template Type:</label>		
		<div id='TemplateListDiv'>
			<select style="width:613px;" id='TemplateList' name='TemplateList'>
			{% if LetterDetails.ObjectBaseType == 'Family' %}	
				{% for Templates in TemplateDetails.FamilyTemplates %}
				{% ifequal Templates LetterDetails.LetterTemplate %}
					<option value='{{Templates.Name}}' selected='selected'>{{Templates.Name}}</option>
				{% else %}
					<option value='{{Templates.Name}}'>{{Templates.Name}}</option>
				{% endifequal %}
				{% endfor %}
			{% endif %}
			
			{% if LetterDetails.ObjectBaseType == 'Pupil' %}	
				{% for Templates in TemplateDetails.PupilTemplates %}
				{% ifequal Templates LetterDetails.LetterTemplate %}
					<option value='{{Templates.Name}}' selected='selected'>{{Templates.Name}}</option>
				{% else %}
					<option value='{{Templates.Name}}'>{{Templates.Name}}</option>
				{% endifequal %}
				{% endfor %}
			{% endif %}
			
			{% if LetterDetails.ObjectBaseType == 'Staff' %}	
				{% for Templates in TemplateDetails.StaffTemplates %}
				{% ifequal Templates LetterDetails.LetterTemplate %}
					<option value='{{Templates.Name}}' selected='selected'>{{Templates.Name}}</option>
				{% else %}
					<option value='{{Templates.Name}}'>{{Templates.Name}}</option>
				{% endifequal %}
				{% endfor %}
			{% endif %}		
			
			{% if LetterDetails.ObjectBaseType == 'School' %}	
				{% for Templates in TemplateDetails.SchoolTemplates %}
				{% ifequal Templates LetterDetails.LetterTemplate %}
					<option value='{{Templates.Name}}' selected='selected'>{{Templates.Name}}</option>
				{% else %}
					<option value='{{Templates.Name}}'>{{Templates.Name}}</option>
				{% endifequal %}
				{% endfor %}
			{% endif %}	
			</select><br>			
		</div>
		<label>Enter the Name for the letter</label>
		<input type='text' id='LetterName' name='LetterName' value='{{ LetterDetails.Name }}'/><br>
				<table border=0>
			<tr>
				<td>
					<label>Enter Descriptive text to help user when Generating this letter:<label>
				</td>
				<td>
					<textarea style="width:605px;height:75px;" id="Description" name="Description" rows='4' cols='60' >{{LetterDetails.Description}}</textarea>
				</td>
			<tr>
		</table>

	</div>
		<div style="padding-top:20px;text-align:center;">
			<span style="font-size:1.5em;font-weight:bold;">Letter Body...</span>
		</div>
		<div class='LetterCreateMiddle'>
			<textarea style="width:100%;height:500px;" name="LetterBody" id="LetterBody" class="LetterBodyClassForTinyMCE">{{ LetterDetails.BodyText|safe }}</textarea>
		</div>	
	<div class='LetterCreateBottom'>
		<label>Senders signature name:</label>
		<input type='text' name='SignatureName' id='SignatureName' value='{{ LetterDetails.SignatureName }}'><br>
		
	<label>Senders Title:</label>
	<input type='text' name='SignatureTitle' id='SignatureTitle' value='{{ LetterDetails.SignatureTitle }}'><br>
	<label>Select a Staff Group from this list:<br /><span style="color:darkred;font-style:italic;">ONLY if access is needed by teaching staff, otherwise leave as none</span></label>
				<select style="width:613px;" id='StaffGroup'>
					<option value='None'>None</option>
					{% for Groups in GroupList.StaffGroups %}
						{% ifequal LetterDetails.ExtraStaffAccess  Groups %}
							<option value='{{ Groups.id }}' selected='selected'>{{ Groups.Name }}</option>					
						{% else %}	
					<option value='{{ Groups.id }}'>{{ Groups.Name }}</option>
						{% endifequal %}
					{% endfor %}
				</select><br><br><br>
		<input style="float:right;padding:15px 5px 15px 5px;" type="submit" id="Submit" name="save" value="SAVE LETTER"/>
		
	</div>

	
	</form>

		</div>

			</div>
			
{% endblock %}
