
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">

	var ArrayKW = new Array ();
	var ArrayPrimary= new Array();
	var ArraySecondary= new Array();
	var ArrayPupilList= new Array();
	var NoPrimary = 0;
	var NoSecondary = 0;
	{% for words in KWList %}
		ArrayKW.push("{{ words.Keyword }}");
	{% endfor %}
	{% for Keywords in KWPrimary %}
		ArrayPrimary.push("{{ Keywords }}");
	{% endfor %}	
	{% for Keywords in KWSecondary %}
		ArraySecondary.push("{{ Keywords }}");
	{% endfor %}

function SelectKeyword(KW)
{
	var KWobject=document.getElementById(KW);
	var KWSelectObject=document.getElementById('KWSelect');
	
	if ( KWobject.style.backgroundColor == '')
	{
		KWobject.style.backgroundColor="#ADA96E";
		KWSelectObject.options[ArrayKW.indexOf(KW)].selected=true;
		
		if (ArrayPrimary.indexOf(KW) > -1)
		{
			NoPrimary=NoPrimary+1;
		}
		if (ArraySecondary.indexOf(KW) > -1)
		{
			NoSecondary=NoSecondary+1;
		}
		if (NoPrimary > 0 && NoSecondary > 0)
		{
			var DetailsBox=document.getElementById('DetailsBox');
			DetailsBox.style.display='inline';
		}
	}
	else
	{
		KWobject.style.backgroundColor='';
		KWSelectObject.options[ArrayKW.indexOf(KW)].selected=false;
		if (ArrayPrimary.indexOf(KW) > -1)
		{
			NoPrimary=NoPrimary-1;
		}
		if (ArraySecondary.indexOf(KW) > -1)
		{
			NoSecondary=NoSecondary-1;
		}
		if (NoPrimary < 1 || NoSecondary < 1)
		{
			var DetailsBox=document.getElementById('DetailsBox');
			DetailsBox.style.display='none';
		}
	}
}
function checkform()
{

	if (document.getElementById('NoteTextArea').value.length > 45)
	{
		return true;
	}
	else
	{
		alert("Your text is not long enough");
		return false;
	}
}
		
</script>
{% endblock %}
	
{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% endif %}
					{{ BannerTitle }}
				</div>
			
		
			<table border=0>
				<tr>			
					<td border=1>
						<h2>Select at least one <span class="KeywordPrimary">Primary</span> keyword and at least one
						<span class="KeywordSecondary">Secondary</span> keyword from this list. Click again to deselect. 
						At least one of each must be selected to enter text or submit</h2>
						<div class="divider"></div>	
						
						<table border=0 style="text-align:center" width=100%>
							<tr>
			{% for Words in KWList %}
				{% if forloop.counter0|divisibleby:"5" %}</tr><tr>{% endif %}
								<td {% ifequal Words.KeywordType "Primary" %} class="KeywordPrimary" {% else %} class="KeywordSecondary" {% endifequal %}>
									<span id="{{Words.Keyword}}" onClick="SelectKeyword('{{Words.Keyword}}')">{{ Words.Keyword }}</span>
								</td>
			{% endfor %}
						</table>
			<div class="divider"></div>	
					</td>
					<td width=10% rowspan=2><br></td></tr>
			</table>
			
			<form class="SearchForm" action="/WillowTree/{{ school }}/{{ AcYear }}/SaveAStaffIssue/{{StaffDetails.id}}/" onsubmit="return checkform()" method="post" name="PupilNote"> {% csrf_token %}
				<select multiple="multiple" id="KWSelect" name="KWSelect" style="display:none;">
				{% for words in KWList %}
					<option>{{ words.Keyword }}</option>
				{% endfor %}
				</select>
				
				
				<span id="DetailsBox" style="display:none">
				<input type="hidden" name="IssueTextArea" id='IssueTextArea' value="" />  
				
				<div dojoType="dijit.Editor" id="IssueTextArea2" onChange="dojo.byId('IssueTextArea').value = this.getValue();"  extraPlugins="['dijit._editor.plugins.AlwaysShowToolbar']">                      
				<p></p>                     
				</div> 
				
				
				<input type="submit" id="Submit" name="save" value="Submit"><br>					
				</span>
			</form>
			</form>
			<br><br>


			</div>

			
{% endblock %}
