
<style>
{% load static from staticfiles %}
{% include 'css/Popups.css' %}
</style>
<script>
function overlay(overlayId) {
	el = document.getElementById(overlayId);
	el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
	

	return true;
}
</script>
<div class='screenlock' id='screenlock'></div>
<div class='overlay' id='CreateNewFamily'>
	<div class='Title'>Create a new Family</div>
	<div class='Popup1'>

	<div class='RecordFormDialog' data-dojo-type="dijit/form/Form" id="NewFamilyForm{{FamilyContact.Contact.id}}" data-dojo-id="NewFamilyForm{{FamilyContact.Contact.id}}" encType="multipart/form-data" action="/WillowTree/{{ school }}/{{ AcYear }}/NewFamily/" method="post">
			{% csrf_token %}
			<script type="dojo/on" data-dojo-event="reset">
				return confirm('Press OK to reset widget values');
			</script>
			<script type="dojo/on" data-dojo-event="submit">
				overlay('screenlock');
				if(this.validate()){
					return true;
				}else{
					overlay('screenlock');
					return false;
				}
				return true;
			</script>	
			<div>
				<table width='500px'>
					<tr>
						<td><label for="FamilyName">Family Name:</label></td>
						<td><input type="text" name="FamilyName" id="FamilyName" style = 'border: 2px solid; width: 250px; height: 25px;' required="true" data-dojo-type="dijit/form/ValidationTextBox"/></td>
					</tr>
					<tr>
						<td><label for="HomeSalutation">Home Salutation:</label></td> 
						<td><input type="text" name="HomeSalutation" id="ModHomeSalutation_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; height: 25px;' required="true" data-dojo-type="dijit/form/ValidationTextBox"/></td>
					</tr>
					<tr>
						<td><label for="PostalTitle">Postal Title:</label></td>
						<td><input type="text" name="PostalTitle" id="ModPostalTitle_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; height: 25px;' required="true" data-dojo-type="dijit/form/ValidationTextBox"/></td>
					</tr>
					<tr>
						<td><label for="AddressLine1">Address Line 1:</label></td> 
						<td><input type="text" name="AddressLine1" id="ModAddressLine1_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; height: 25px;' required="true" data-dojo-type="dijit/form/ValidationTextBox"/></td>
					</tr>
					<tr>
						<td><label for="AddressLine2">Address Line 2:</label></td> 
						<td><input type="text" name="AddressLine2" id="ModAddressLine2_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; height: 25px;' required="true" data-dojo-type="dijit/form/ValidationTextBox"/></td>
					</tr>
					<tr>
						<td><label for="AddressLine3">Address Line 3:</label></td> 
						<td><input type="text" name="AddressLine3" id="ModAddressLine3_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; height: 25px;' data-dojo-type="dijit/form/ValidationTextBox"/></td>
					</tr>
					<tr>
						<td><label for="AddressLine4">Address Line 4:</label></td> 
						<td><input type="text" name="AddressLine4" id="ModAddressLine4_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; height: 25px;' data-dojo-type="dijit/form/ValidationTextBox"/></td>
					</tr>
					<tr>
						<td><label for="PostCode">Postcode:</label></td> 
						<td><input type="text" name="PostCode" id="ModPostCode_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; height: 25px;' required="true" data-dojo-type="dijit/form/ValidationTextBox"/></td>
					</tr>
					<tr>
						<td><label for="Country">Country:</label></td> 
						<td><input type="text" name="Country" id="ModCountry_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; height: 25px;' required="false" data-dojo-type="dijit/form/ValidationTextBox"/></td>
					</tr>					
					<tr>
						<td><label for="Phone1">Phone 1:</label></td> 
						<td><input type="text" name="Phone1" id="ModPhone1_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; height: 25px;' required="true" data-dojo-type="dijit/form/ValidationTextBox"/></td>
					</tr>
					<tr>
						<td><label for="Phone2">Phone 2:</label></td> 
						<td><input type="text" name="Phone2" id="ModPhone2_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; height: 25px;' data-dojo-type="dijit/form/ValidationTextBox"/></td>
					</tr>
					<tr>
						<td><label for="Phone3">Phone 3:</label></td> 
						<td><input type="text" name="Phone3" id="ModPhone3_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; height: 25px;' data-dojo-type="dijit/form/ValidationTextBox"/></td>
					</tr>
					<tr>
						<td><label for="EmailAddress">Email Address:</label></td> 
						<td><input type="text" name="EmailAddress" id="ModEmailAddress_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; height: 25px;' data-dojo-type="dijit/form/ValidationTextBox"/></td>
					</tr>
					<tr>
						<td><label for="Note">Note:</label></td> 
						<td><textarea id="ModNote_{{FamilyContact.Contact.id}}" rows="5" cols="40" name="Note"></textarea></td>
					</tr>
				</table>
			</div>
		<div>	
			<button data-dojo-type="dijit/form/Button"  type='button' onclick="overlay('CreateNewFamily')">Cancel</button>
			<button data-dojo-type="dijit/form/Button"  type='button' onclick="overlay('screenlock')">Lock</button>			
			<button data-dojo-type="dijit/form/Button"  type="submit" >OK</button>				
		</div>
	</div>
	</div>					
</div>

