
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">


{% include "Keywords.js" %}
		
</script>
{% endblock %}
	
{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% endif %}
					Add an Issue for  {{ PupilDetails.Pupil.Forename }} {{ PupilDetails.Pupil.Surname }}
				</div>
			
		<div class='NotesBody'>
		
					{% include "DisplayKeywordsNew.html" %}
					

			
			<form class="SearchForm" action="/WillowTree/{{ school }}/{{ AcYear }}/SaveAnIssue/{{PupilDetails.Pupil.id}}/" onsubmit="return checkform()" method="post" name="PupilNote"> {% csrf_token %}
				<select multiple="multiple" id="KWSelect" name="KWSelect" style="display:none;">
				{% for words in KWList.All %}
					<option>{{ words.Keyword }}</option>
				{% endfor %}
				</select>
				
				
				<span id="DetailsBox" class='NotesC2' style="display:none">
				<input type="hidden" name="IssueTextArea" id='IssueTextArea' value="" />  
				
				<div dojoType="dijit.Editor" id="IssueTextArea2" onChange="dojo.byId('IssueTextArea').value = this.getValue();"  extraPlugins="['dijit._editor.plugins.AlwaysShowToolbar']">                      
				<p></p>                     
				</div> 
				
				
				<input type="submit" id="Submit" name="save" value="Submit"><br>					
				</span>
			</form>
			</form>
			<br><br>

			</div>
			</div>

			
{% endblock %}
