
<div id="login-box" class="login-popup" width='800px;'>
{% load static from staticfiles %}
	<form class='RecordFormDialog' id="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/NewFamily/" method="post" width='800px;'>
		{% csrf_token %}
			<div style="text-align:center;">
				<div class='bannerDialog'>
					<span style="font-weight:bold;">Create new Family</span> 
				</div>
			</div>
			<div>
				<table>
					<tr>
						<td><label for="FamilyName">Family Name: *</label></td>
						<td><input required onclick="showSubmitButton2('login-boxS');"  type="text" name="FamilyName" id="FamilyName" style = 'border: 2px solid; width: 250px; '></td>
					</tr>
					<tr>
						<td><label for="HomeSalutation">Home Salutation: *</label></td> 
						<td><input required onclick="showSubmitButton2('login-boxS');"  type="text" name="HomeSalutation" id="ModHomeSalutation_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; '/></td>
					</tr>
					<tr>
						<td><label for="PostalTitle">Postal Title: *</label></td>
						<td><input required onclick="showSubmitButton2('login-boxS');"  type="text" name="PostalTitle" id="ModPostalTitle_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; '/></td>
					</tr>
					<tr>
						<td><label for="AddressLine1">Address Line 1: *</label></td> 
						<td><input required onclick="showSubmitButton2('login-boxS');"  type="text" name="AddressLine1" id="ModAddressLine1_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; '/></td>
					</tr>
					<tr>
						<td><label for="AddressLine2">Address Line 2: *</label></td> 
						<td><input required onclick="showSubmitButton2('login-boxS');"  type="text" name="AddressLine2" id="ModAddressLine2_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; '/></td>
					</tr>
					<tr>
						<td><label for="AddressLine3">Address Line 3:</label></td> 
						<td><input type="text" name="AddressLine3" id="ModAddressLine3_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; '/></td>
					</tr>
					<tr>
						<td><label for="AddressLine4">Address Line 4:</label></td> 
						<td><input type="text" name="AddressLine4" id="ModAddressLine4_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; '/></td>
					</tr>
					<tr>
						<td><label for="PostCode">Postcode: *</label></td> 
						<td><input required onclick="showSubmitButton2('login-boxS');"  type="text" name="PostCode" id="ModPostCode_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; '/></td>
					</tr>
					<tr>
						<td><label for="Country">Country:</label></td> 
						<td><input type="text" name="Country" id="ModCountry_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; '/></td>
					</tr>					
					<tr>
						<td><label for="Phone1">Phone 1: *</label></td> 
						<td><input required onclick="showSubmitButton2('login-boxS');"  type="text" name="Phone1" id="ModPhone1_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; '/></td>
					</tr>
					<tr>
						<td><label for="Phone2">Phone 2:</label></td> 
						<td><input type="text" name="Phone2" id="ModPhone2_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; '/></td>
					</tr>
					<tr>
						<td><label for="Phone3">Phone 3:</label></td> 
						<td><input type="text" name="Phone3" id="ModPhone3_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; '/></td>
					</tr>
					<tr>
						<td><label for="EmailAddress">Email Address:</label></td> 
						<td><input type="text" name="EmailAddress" id="ModEmailAddress_{{FamilyContact.Contact.id}}" style = 'border: 2px solid; width: 250px; '/></td>
					</tr>
					<tr>
						<td><label for="Note">Note:</label></td> 
						<td><textarea id="ModNote_{{FamilyContact.Contact.id}}" rows="3" cols="30" name="Note"></textarea></td>
					</tr>
				</table>
			</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="login-boxS" onclick="hideSubmitButton('login-boxS');" type="submit" value="Submit">Submit</button>
            <span id="login-boxPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
		<div style="text-align:center;margin-top:10px;border:1px solid;">
			<span>fields marked with an asterisk (*) are required</span>
		</div>			
	</form>
</div>
