
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}
<script type="text/javascript">

function CheckSelected(FormObject)
{
	OptionSelected= false;
	for (i=0;i < FormObject.length;i++)
	{
		if (FormObject.Selected=true)
		{
			OptionSelected=true;
		}
	}
	return OptionSelected
}

function CheckText(FormObject)
{
	if (FormObject.value.length > 1)
	{
		return true;
	}
	else
	{
		return false;
	}
}

function checkform()
{
	var ArraySelected= new Array('BaseType','Selectgroup');
	var ArrayText= new Array('LetterName');
	
	for (i=0;i < ArraySelected.length; i++)
	{
		FormObject=document.getElementById(ArraySelected[i]);
		if (CheckSelected(FormObject) ==false)
		{
			alert('failed on check for ' + ArraySelected[i]);
			return false;
		}
	}
	for (i=0; i < ArrayText.length; i++)
	{
		FormObject=document.getElementById(ArrayText[i]);
		if (CheckText(FormObject) ==false)
		{
			alert('Failed on check for ' + ArrayText[i]);
			return false;
		}	
	}
	return true;
}
	
	
function UpdateTemplateList()
{
	var BaseTypeVar = document.getElementById('BaseType');
	var BaseTypeValue = BaseTypeVar.options[BaseTypeVar.selectedIndex].value;
	if (BaseTypeValue.indexOf("Pupil") > -1)
	{
		var pupil_select = ["<select style='width:613px;' id='TemplateList' name='TemplateList'>",
							{% for Templates in TemplateDetails.PupilTemplates %}
							"	<option value='{{Templates.Name}}'>{{Templates.Name}}</option>",
							{% endfor %}
							"</select><br>"].join('\n');
		document.getElementById("TemplateListDiv").innerHTML = pupil_select;
	}
	else if (BaseTypeValue.indexOf("Family") > -1)
	{
		var family_select = ["<select style='width:613px;' id='TemplateList' name='TemplateList'>",
							 {% for Templates in TemplateDetails.FamilyTemplates %}
							 "	<option value='{{Templates.Name}}'>{{Templates.Name}}</option>",
							 {% endfor %}
							 "</select><br>"].join('\n');
		document.getElementById("TemplateListDiv").innerHTML = family_select;	
	}
	else if (BaseTypeValue.indexOf("Staff") > -1)
	{
		var staff_select = ["<select style='width:613px;' id='TemplateList' name='TemplateList'>",
							{% for Templates in TemplateDetails.StaffTemplates %}
							"	<option value='{{Templates.Name}}'>{{Templates.Name}}</option>",
							{% endfor %}
							"</select><br>"].join('\n');
		document.getElementById("TemplateListDiv").innerHTML = staff_select;	
	}
}
	
	
function UpdateSelectLetterType()
{	
	var SelectGroupVar = document.getElementById('Selectgroup');
	var SelectGroupValue = SelectGroupVar.options[SelectGroupVar.selectedIndex].value;
	if (SelectGroupValue.indexOf("Staff.") > -1)
	{
		var staff_select_2 = ["<select style='width:613px;' id='BaseType' name='BaseType' onChange='UpdateTemplateList();changeVarHelp();'>",
							  "    <option value='Staff'>One per Staff</option>",
							  "</select><br>"].join('\n');
		document.getElementById("UpdateSelectLetterTypeDiv").innerHTML = staff_select_2;
		var BaseTypeVar = document.getElementById('BaseType');
		var BaseTypeValue = BaseTypeVar.options[BaseTypeVar.selectedIndex].value;			
		var staff_select = ["<select style='width:613px;' id='TemplateList' name='TemplateList'>",
							{% for Templates in TemplateDetails.StaffTemplates %}
							"	<option value='{{Templates.Name}}'>{{Templates.Name}}</option>",
							{% endfor %}
							"</select><br>"].join('\n');
		document.getElementById("TemplateListDiv").innerHTML = staff_select;	
		var baseVar = document.getElementById('BaseType');
		var baseValue = baseVar.options[baseVar.selectedIndex].value;
		var famId = document.getElementById('staffVarHelp').style.display = 'inline';			
		var famId = document.getElementById('famVarHelp').style.display = 'none';
		var pupId = document.getElementById('pupVarHelp').style.display = 'none';		
		var schId = document.getElementById('schVarHelp').style.display = 'none';		
	}
	else if (SelectGroupValue.indexOf("SchoolList") > -1) {
		var school_select_2 = ["<select style='width:613px;' id='BaseType' name='BaseType' onChange='UpdateTemplateList();changeVarHelp();'>",
							   "    <option value='School'>One per School</option>",
							   "</select><br>"].join('\n');
		document.getElementById("UpdateSelectLetterTypeDiv").innerHTML = school_select_2;
		var BaseTypeVar = document.getElementById('BaseType');
		var BaseTypeValue = BaseTypeVar.options[BaseTypeVar.selectedIndex].value;			
		var staff_select = ["<select style='width:613px;' id='TemplateList' name='TemplateList'>",
							{% for Templates in TemplateDetails.SchoolTemplates %}
							"	<option value='{{Templates.Name}}'>{{Templates.Name}}</option>",
							{% endfor %}
							"</select><br>"].join('\n');
		document.getElementById("TemplateListDiv").innerHTML = staff_select;	
		var baseVar = document.getElementById('BaseType');
		var baseValue = baseVar.options[baseVar.selectedIndex].value;
		var famId = document.getElementById('staffVarHelp').style.display = 'none';			
		var famId = document.getElementById('famVarHelp').style.display = 'none';
		var pupId = document.getElementById('pupVarHelp').style.display = 'none';	
		var schId = document.getElementById('schVarHelp').style.display = 'inline';		
	}
	else
	{
		var pupil_select_2 = ["<select style='width:613px;' id='BaseType' name='BaseType' onChange='UpdateTemplateList();changeVarHelp();'>",
							  "    <option value='Pupil'>One per Pupil</option>",
							  "    <option value='Family' selected='selected'>One per Family</option>",
							  "</select><br>"].join('\n');
		document.getElementById("UpdateSelectLetterTypeDiv").innerHTML = pupil_select_2;
		var BaseTypeVar = document.getElementById('BaseType');
		var BaseTypeValue = BaseTypeVar.options[BaseTypeVar.selectedIndex].value;			
		var family_select = ["<select style='width:613px;' id='TemplateList' name='TemplateList'>",
							 {% for Templates in TemplateDetails.FamilyTemplates %}
							 "	<option value='{{Templates.Name}}'>{{Templates.Name}}</option>",
							 {% endfor %}
							 "</select><br>"].join('\n');
		document.getElementById("TemplateListDiv").innerHTML = family_select;	
		var baseVar = document.getElementById('BaseType');
		var baseValue = baseVar.options[baseVar.selectedIndex].value;
		var famId = document.getElementById('staffVarHelp').style.display = 'none';			
		var famId = document.getElementById('famVarHelp').style.display = 'inline';
		var pupId = document.getElementById('pupVarHelp').style.display = 'none';	
		var schId = document.getElementById('schVarHelp').style.display = 'none';			
	}
}	
</script>
<script type="text/javascript" src="{{ STATIC_URL }}Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script>
tinyMCE.init({
	// example to select only one textarea for tiny mce :-) 
	mode : "specific_textareas",
	editor_selector : "LetterBodyClassForTinyMCE",
	theme : "advanced",
	plugins : "emotions,spellchecker,advhr,insertdatetime,preview,advlist", 
			
	// Theme options - button# indicated the row# only
	theme_advanced_buttons1 : "bold,italic,underline,|,justifyleft,justifycenter,justifyright,|,cut,copy,paste,|,bullist,numlist,|,outdent,indent,|,undo,redo,|,insertdate,inserttime,|,spellchecker,advhr,,removeformat,|,sub,sup,|,emotions",
	theme_advanced_toolbar_location : "bottom",
	theme_advanced_toolbar_align : "center",
	theme_advanced_statusbar_location : "none",
	theme_advanced_resizing : false
});
</script>
<!-- variable help -->
<script>
{% include "popOutJavaScript.js" %}
</script>
<script>
	function changeVarHelp() {
		var baseVar = document.getElementById('BaseType');
		var baseValue = baseVar.options[baseVar.selectedIndex].value;
		if (baseValue == "Pupil") {
			var famId = document.getElementById('staffVarHelp').style.display = 'none';
			var famId = document.getElementById('famVarHelp').style.display = 'none';
			var pupId = document.getElementById('pupVarHelp').style.display = 'inline';
			var schId = document.getElementById('schVarHelp').style.display = 'none';
		}
		if (baseValue == "Family") {
			var famId = document.getElementById('staffVarHelp').style.display = 'none';			
			var famId = document.getElementById('famVarHelp').style.display = 'inline';
			var pupId = document.getElementById('pupVarHelp').style.display = 'none';
			var schId = document.getElementById('schVarHelp').style.display = 'none';
		}	
		if (baseValue == "Staff") {
			var famId = document.getElementById('staffVarHelp').style.display = 'inline';			
			var famId = document.getElementById('famVarHelp').style.display = 'none';
			var pupId = document.getElementById('pupVarHelp').style.display = 'none';
			var schId = document.getElementById('schVarHelp').style.display = 'none';
		}	
		if (baseValue == "School") {
			var famId = document.getElementById('staffVarHelp').style.display = 'none';			
			var famId = document.getElementById('famVarHelp').style.display = 'none';
			var pupId = document.getElementById('pupVarHelp').style.display = 'none';
			var schId = document.getElementById('schVarHelp').style.display = 'inline';
		}						
	}
</script>
{% include "includes/familyLetterVaribleHelp.html" %}
{% include "includes/pupilLetterVaribleHelp.html" %}
{% include "includes/staffLetterVaribleHelp.html" %}
{% include "includes/schoolLetterVaribleHelp.html" %}
<!-- end -->
<div class="leftMiddle">
    <div class="banner">Create a letter</div>
	{% if return_msg %}
		{% for msgs in return_msg %}
			<h1>{{ msgs }}</h1>
		{% endfor %}
	{% endif %}
	<div class="LetterCreateMain">
	<!-- variable help -->
	<div style="height:20px;">
		<a id="famVarHelp" class="login-window" style="color:blue;float:right;text-decoration:none;font-size:1.2em;" href="#familyLetterVaribleHelp" onMouseOver="this.style.color='red';" onMouseOut="this.style.color='blue';">
			Family Letter Variable Help?
		</a>
		<a id="pupVarHelp" class="login-window" style="color:blue;float:right;text-decoration:none;font-size:1.2em;display:none;" href="#pupilLetterVaribleHelp" onMouseOver="this.style.color='red';" onMouseOut="this.style.color='blue';">
			Pupil Letter Variable Help?
		</a>
		<a id="staffVarHelp" class="login-window" style="color:blue;float:right;text-decoration:none;font-size:1.2em;display:none;" href="#staffLetterVaribleHelp" onMouseOver="this.style.color='red';" onMouseOut="this.style.color='blue';">
			Staff Letter Variable Help?
		</a>	
		<a id="schVarHelp" class="login-window" style="color:blue;float:right;text-decoration:none;font-size:1.2em;display:none;" href="#schoolLetterVaribleHelp" onMouseOver="this.style.color='red';" onMouseOut="this.style.color='blue';">
			School Letter Variable Help?
		</a>				
	</div>
	<!-- end -->		
	<form action="/WillowTree/{{ school }}/{{ AcYear }}/SaveANewLetter/" onsubmit="return checkform()" method="post" name="Letter"> 
	{% csrf_token %}
	<div class='LetterCreateBottom'>
		
		<label>Select a Group to assign to:</label>
		<select style="width:613px;" id='Selectgroup' name='Selectgroup' onChange='UpdateSelectLetterType();'>
			{% for Groups in GroupList.All %}
				<option id='{{ Groups.Name }}'>{{ Groups.Name }}</option>
			{% endfor %}
			<option id='SchoolList'>SchoolList</option>
		</select><br>	
		
		<label>Select the Letter Type:</label>
		<div id="UpdateSelectLetterTypeDiv">
			<select style="width:613px;" id='BaseType' name='BaseType' onChange='UpdateTemplateList();changeVarHelp();'>
				<option value='Pupil'>One per Pupil</option>
				<option value='Family' selected='selected'>One per Family</option>
			</select><br>
		</div>
			
		<label>Select the Base Template Type:</label>
		<div id='TemplateListDiv'>
			<select style="width:613px;" id='TemplateList' name='TemplateList'>
				{% for Templates in TemplateDetails.FamilyTemplates %}
					<option value='{{Templates.Name}}'>{{Templates.Name}}</option>
				{% endfor %}
				</select><br>	
		</div>
					
		<label>Enter the Name for the letter:</label>
		<input type='text' id='LetterName' name='LetterName'/><br>
		<table border=0>
			<tr>
				<td>
					<label>Enter Descriptive text to help user when Generating this letter: <label>
				</td>
				<td>
					<textarea style="width:605px;height:75px;" id="Description" name="Description"></textarea>
				</td>
			<tr>
		</table>
	</div>
	<div style="padding-top:20px;text-align:center;">
		<span style="font-size:1.5em;font-weight:bold;">Letter Body...</span>
	</div>
		<div class='LetterCreateMiddle'>
			<textarea style="width:100%;height:500px;" name="LetterBody" id="LetterBody" class="LetterBodyClassForTinyMCE"></textarea>
		</div>
		
	<div class='LetterCreateBottom'>
		<label>Senders signature name:</label>
		<input type='text' name='SignatureName' id='SignatureName'><br>
		
	<label>Senders Title:</label>
	<input type='text' name='SignatureTitle' id='SignatureTitle'><br>
	<label>Select a Staff Group from this list:<br /><span style="color:darkred;font-style:italic;">ONLY if access is needed by teaching staff, otherwise leave as none</span></label>
				<select style="width:613px;" id='StaffGroup' name='StaffGroup'>
					<option value='None'>None</option>
					{% for Groups in GroupList.StaffGroups %}
					<option value='{{ Groups.id }}'>{{ Groups.Name }}</option>
					{% endfor %}
				</select><br /><br />
		<input style="float:right;padding:15px 5px 15px 5px;" type="submit" id="Submit" name="save" value="SAVE LETTER"/>
		
	</div>

	
	</form>

		</div>

			</div>
			
{% endblock %}
