
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}
<script type="text/javascript">
var PupilArray=new Array();
var FamilyArray=new Array();
{% for Templates in TemplateDetails.PupilTemplates %}
PupilArray.push('{{Templates.Name}}');
{% endfor %}
{% for Templates in TemplateDetails.FamilyTemplates %}
FamilyArray.push('{{Templates.Name}}');
{% endfor %}

function CheckSelected(FormObject)
{
	OptionSelected= false;
	for (i=0;i < FormObject.length;i++)
	{
		if (FormObject.Selected=true)
		{
			OptionSelected=true;
		}
	}
	return OptionSelected
}

function CheckText(FormObject)
{
	if (FormObject.value.length > 1)
	{
		return true;
	}
	else
	{
		return false;
	}
}

function checkform()
{
	var ArraySelected= new Array('BaseType','Selectgroup');
	var ArrayText= new Array('LetterName','LetterBody','SignatureName','SignatureTitle');
	
	for (i=0;i < ArraySelected.length; i++)
	{
		FormObject=document.getElementById(ArraySelected[i]);
		if (CheckSelected(FormObject) ==false)
		{
			alert('failed on check for ' + ArraySelected[i]);
			return false;
		}
	}
	for (i=0; i < ArrayText.length; i++)
	{
		FormObject=document.getElementById(ArrayText[i]);
		if (CheckText(FormObject) ==false)
		{
			alert('Failed on check for ' + ArrayText[i]);
			return false;
		}	
	}
	return true;
}
	
function UpdateTemplateList() {

	dd=document.getElementById("TemplateList");
	BaseType=document.getElementById('BaseType').selectedIndex;
	if (BaseType==null)
	{
		BaseType=1;
	}
	dd.options.length=0;
	if (BaseType==0)
	{
		for (i=0;i < PupilArray.length;i++)
		{
			dd.options[i]= new Option(PupilArray[i],PupilArray[i]);
		}
	}
	else
	{
		for (i=0;i < FamilyArray.length;i++)
		{
			dd.options[i]= new Option(FamilyArray[i],FamilyArray[i]);
		}
	}		
	return;	
}
	
</script>

<div class="leftMiddle">
    <div class="banner">Create  a letter</div>
	{% if return_msg %}
		{% for msgs in return_msg %}
			<h1>{{ msgs }}</h1>
		{% endfor %}
	{% endif %}

	<div class="LetterCreateMain">

	<form action="/WillowTree/{{ school }}/{{ AcYear }}/SaveANewLetter/" onsubmit="return checkform()" method="post" name="Letter"> 
	{% csrf_token %}
	<div class="LetterCreateTop">
		
		<label>Select a Group to assign to Letter:</label>
		<select id='Selectgroup' name='Selectgroup'>
			{% for Groups in GroupList.PupilGroups %}
				<option id='{{ Groups.Name }}'>{{ Groups.Name }}</option>
			{% endfor %}
		</select><br>	
		
		<label>Select the Letter Type:</label>
		<select id='BaseType' name='BaseType' onChange='UpdateTemplateList()'>
				<option value='Pupil'>One per Pupil</option>
				<option value='Family' selected='selected'>One per Family</option>
			</select><br>
			
		<label>Select the Base Template Type:</label>
		<select id='TemplateList' name='TemplateList'>
			{% for Templates in TemplateDetails.FamilyTemplates %}
				<option value='{{Templates.Name}}'>{{Templates.Name}}</option>;
			{% endfor %}
			</select><br>			
		<label>Enter the Name for the letter:</label>
		<input type='text' id='LetterName' name='LetterName'/><br>
		<table border=0>
			<tr>
				<td>
					<label>Enter Descriptive text to help user when Generating this letter: <label>
				</td>
				<td>
					<textarea id="Description" name="Description" data-dojo-type="dijit/form/SimpleTextarea" rows='4' cols='60' ></textarea>
				</td>
			<tr>
		</table>
	</div>
		
		
		
		
		
		<div class='LetterCreateMiddle'>
		<input type="hidden" name="LetterBody" id="LetterBody" value="">
				<div dojoType="dijit.Editor" id="LetterBodyEditor" onChange="dojo.byId('LetterBody').value = this.getValue();"  extraPlugins="['dijit._editor.plugins.AlwaysShowToolbar']" style='height:500px;font-size:15px;'>               
					<p></p>                     
				</div>				
		</div>
		
	<div class='LetterCreateBottom'>
		<label>Enter the Letter senders signature Name</label>
		<input type='text' name='SignatureName' id='SignatureName'><br>
		
	<label>Enter the Letter senders Title</label>
	<input type='text' name='SignatureTitle' id='SignatureTitle'><br>
	<label>Select a Staff Group from this list ONLY if access is needed by teaching staff, otherwise leave as none</label>
				<select id='StaffGroup' name='StaffGroup'>
					<option value='None'>None</option>
					{% for Groups in GroupList.StaffGroups %}
					<option value='{{ Groups.id }}'>{{ Groups.Name }}</option>
					{% endfor %}
				</select><br><br><br>
		<input type="submit" id="Submit" name="save" value="Save Letter"/>
		
	</div>

	
	</form>

		</div>

			</div>
			
{% endblock %}
