
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">
{% include "KeywordsManager.js" %}

</script>
{% endblock %}
{% load WillowFilters %}
{% block ContentArea %}
		{% include "Manager_AddNote.html" %}
		{% include "SelectALetterManager.html" %}
		{% include "includes/CopyAPupil.html" %}
		{% include "includes/MoveAPupil.html" %}
		{% include "includes/LabelManager.html" %}

		<div>
			<div class="leftMiddle">
				<div class="banner">
					<span style="font-weight:bold;color:lightblue;">ClassList: {{ GroupName }}</span>
				</div>
			{% if Messages %}
				{% for msg in Messages %}
					{{ msg }}<br>
				{% endfor %}
			{% endif %}
			<table class="WillowTable1">
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" width='7%'>
					<input type='checkbox' id="SelectAll" name="PupilCheck" checked='checked' style='height:20px;width:20px;' onChange='ToggleSelectAll();'/> 
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" width='20%'><<<< Select/Unselect All<td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}"><br></td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" width='15%'>
					<div data-dojo-type="dijit/form/ComboButton" style='font-size:14px' data-dojo-props="iconClass:'dijitIconFunction'">
						<span>Selected Pupils</span>
						<div data-dojo-type="dijit/DropDownMenu" style='font-size:14px;'>

							<div data-dojo-type="dijit/MenuItem" onclick="AddForSelected('Note');AddNote.show();" data-dojo-props="iconClass:'dijitIconNewTask'">Add Note</div>
							<div data-dojo-type="dijit/MenuItem" onclick="alert('hello')" data-dojo-props="iconClass:'dijitIconMail'">Send Email:Pupil</div>							
							<div data-dojo-type="dijit/MenuItem" data-dojo-props="href:'#',iconClass:'dijitIconMail'" >Send Email:Parents</div>
							{% if 'Admin' in school  or 'Applicants' in school %}
							<div data-dojo-type="dijit/MenuItem" onclick="AddForSelected('Letter');AddLetter.show();"data-dojo-props="iconClass:'dijitIconDocuments'">Generate Letter</div>
							<div data-dojo-type="dijit/MenuItem" onclick="AddForSelected('Labels');AddLabels.show();"data-dojo-props="iconClass:'dijitIconDocuments'">Generate Labels</div>							
							<div data-dojo-type="dijit/MenuSeparator"></div>
							<div data-dojo-type="dijit/MenuItem" onclick="AddForSelected('Copy');CopyAPupil.show();" data-dojo-props="href:'#',iconClass:'dijitIconCopy'">Copy to Group</div>
							<div data-dojo-type="dijit/MenuItem" onclick="AddForSelected('Move');MoveAPupil.show();" data-dojo-props="href:'#',iconClass:'dijitIconClear'">Move to Group</div>							
							<div data-dojo-type="dijit/MenuItem" data-dojo-props="href:'#',iconClass:'dijitIconDelete'">Remove from Group</div>							
							{% if 'Applicants' in GroupName %}
							<div data-dojo-type="dijit/MenuSeparator"></div>							
							<div data-dojo-type="dijit/MenuItem" onclick="AddForSelected('MoveCurrent');MovePupilToCurrent.show();" data-dojo-props="href:'#',iconClass:'dijitIconCopy'">Move To Current</div>
							<div data-dojo-type="dijit/MenuSeparator"></div>							
							{% endif %}
							<div data-dojo-type="dijit/MenuItem" data-dojo-props="href:'#',iconClass:'dijitIconTask'">Move to Another Thomas's</div>							
							{% endif %}
							<div data-dojo-type="dijit/MenuSeparator"></div>	
							<div data-dojo-type="dijit/MenuItem" onclick="document.location.href='/WillowTree/{{school}}/{{AcYear}}/Manage/CSV/{{ GroupName }}/pupillist.csv'" data-dojo-props="iconClass:'dijitIconMail'" >CSV File</div>								
						</div>
					</div>
					
				</td>	
			</tr>
		</table>				
			<table class="WillowTable1">
				<tr>
					<td class="WillowTableHeaderSmall" Width='7%'>Select</td>
					<td class="WillowTableHeaderSmall">Picture</td>					
					<td class="WillowTableHeaderSmall">Id</td>
					<td class="WillowTableHeaderSmall">Name</td>
					<td class="WillowTableHeaderSmall">Gender</td>
					<td class="WillowTableHeaderSmall">DOB</td>
					<td class="WillowTableHeaderSmall">House</td>
					<td class="WillowTableHeaderSmall">Form</td>
					<td class="WillowTableHeaderSmall" width='15%'>Actions</td>
				</tr>
			{% for pupil in ClassList %}
			<tr>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
					<input type='checkbox' id="Checked{{pupil.Pupil.id}}" name="PupilCheck" checked='checked' style='height:20px;width:20px;' onChange="UpdatePupilList('{{pupil.Pupil.id}}');"/> 
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
					<a href="/WillowTree/{{ School }}/{{ AcYear }}/pupil/{{ pupil.Pupil.id }}/"><img src="{{ MEDIA_REDIRECT }}{{pupil.Pupil.Picture}}" width="50" height="60"/></a>
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.id }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.Surname }}, {{ pupil.Pupil.Forename }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.Gender }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.DateOfBirth|date:"jS N Y" }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.AcademicHouse }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Form }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
					<div data-dojo-type="dijit/form/ComboButton" style='font-size:14px' data-dojo-props="iconClass:'dijitIconFunction'">
						<span>Actions</span>
						<div data-dojo-type="dijit/DropDownMenu" style='font-size:14px;'>

							<div data-dojo-type="dijit/MenuItem" onclick="AddFor('{{pupil.Pupil.id}}','Note');AddNote.show();" data-dojo-props="iconClass:'dijitIconNewTask'">Add Note</div>
							<div data-dojo-type="dijit/MenuItem" onclick="alert('hello')" data-dojo-props="iconClass:'dijitIconMail'">Send Email:Pupil</div>							
							<div data-dojo-type="dijit/MenuItem" data-dojo-props="href:'#',iconClass:'dijitIconMail'" >Send Email:Parents</div>
							{% if 'Admin' in school  or 'Applicants' in school %}
							<div data-dojo-type="dijit/MenuItem" onclick="AddFor('{{pupil.Pupil.id}}','Letter');AddLetter.show();" data-dojo-props="iconClass:'dijitIconDocuments'">Generate Letter</div>
							<div data-dojo-type="dijit/MenuItem" onclick="AddFor('{{pupil.Pupil.id}}','Labels');AddLabels.show();" data-dojo-props="iconClass:'dijitIconDocuments'">Generate Labels</div>
							<div data-dojo-type="dijit/MenuSeparator"></div>
							<div data-dojo-type="dijit/MenuItem" data-dojo-props="href:'#',iconClass:'dijitIconEdit'">Edit Family</div>
							{% include "includes/TransferTo.html" %}
							<div data-dojo-type="dijit/MenuItem" onclick='SchoolTransfer{{pupil.Pupil.id}}.show();' data-dojo-props="iconClass:'dijitIconEdit'">Mark forTransfer</div>
							<div data-dojo-type="dijit/MenuSeparator"></div>							
							<div data-dojo-type="dijit/MenuItem" onclick="AddFor('{{pupil.Pupil.id}}','Copy');CopyAPupil.show();" data-dojo-props="href:'#',iconClass:'dijitIconCopy'">Copy to Group</div>
							<div data-dojo-type="dijit/MenuItem" onclick="AddFor('{{pupil.Pupil.id}}','Move');MoveAPupil.show();" data-dojo-props="href:'#',iconClass:'dijitIconClear'">Move to Group</div>							
							<div data-dojo-type="dijit/MenuItem" data-dojo-props="href:'#',iconClass:'dijitIconDelete'">Remove from Group</div>							
							{% if 'Applicants' in GroupName %}
							<div data-dojo-type="dijit/MenuSeparator"></div>							
							<div data-dojo-type="dijit/MenuItem" onclick="AddFor('{{pupil.Pupil.id}}','MoveCurrent');MovePupilToCurrent.show();" data-dojo-props="href:'#',iconClass:'dijitIconCopy'">Move To Current</div>
							<div data-dojo-type="dijit/MenuSeparator"></div>							
							{% endif %}
							<div data-dojo-type="dijit/MenuItem" data-dojo-props="href:'#',iconClass:'dijitIconTask'">Move to Another Thomas's</div>							
							{% endif %}
							<div data-dojo-type="dijit/MenuSeparator"></div>
							{% include "includes/PupilSingleGradeFromManage.html" %}
							<div data-dojo-type="dijit/MenuItem" onclick="PupilSingleGrade{{pupil.Pupil.id}}.show();" data-dojo-props="iconClass:'dijitIconNewTask'">Grade Pupil</div>
						</div>
					</div>
					
				</td>
			<tr>
				
			{% endfor %}
			</table>



		</div>			
{% endblock %}
