
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">
{% include "KeywordsManager.js" %}
</script>
<!-- pop out code -->
<script>
{% include "popOutJavaScript.js" %}
</script>
<script>
{% include "datePickerCode.js" %}
</script>
<!-- end -->
<script type="text/javascript" src="{{ STATIC_URL }}Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
{% include "tinyMCE.js" %}
</script>
{% endblock %}
{% load WillowFilters %}
{% block ContentArea %}
		{% include "Manager_AddNote.html" %}
		{% include "SelectALetterManager.html" %}
		{% include "includes/CopyAPupil.html" %}
		{% include "includes/MoveAPupil.html" %}
		{% include "includes/LabelManager.html" %}
		{% include "includes/PupilSingleGradeFromManage.html" %}
		{% include "includes/TransferTo.html" %}
		{% include "includes/removePupilFromGrp.html" %}
		{% include "includes/CsvOptions.html" %}
		{% include "includes/senProvisionMapPopup.html" %}
		{% include "includes/TeacherNamesManager.html" %}
		{% include "includes/ClassListsManager.html" %}
		{% include "includes/AnalysisReportManager.html" %}
        {%  with AnalysisTerm='Mich' %}
            {% include "includes/AnalysisReportManagerNew.html" %}
        {%  endwith %}
        {%  with AnalysisTerm='Lent' %}
            {% include "includes/AnalysisReportManagerNew.html" %}
        {%  endwith %}
        {%  with AnalysisTerm='Summer' %}
            {% include "includes/AnalysisReportManagerNew.html" %}
        {%  endwith %}
		{% include "includes/Report2ParentsManager.html" %}
		{% include "includes/AttendanceReportManager.html" %}
		{% include "includes/OtherReportManager.html" %}
		{% include "includes/EYFSReportManager.html" %}
		{% include "includes/notesReport.html" %}
		{% include "includes/futureSchoolsReport.html" %}
		{% include "includes/RawGradeExtractFromManagerPopOut.html" %}
		{% include "includes/add_to_special_group.html" %}
		{% include "includes/remove_from_special_group.html" %}
		{% include "includes/CopySinglePupilBackToHolding.html" %}
		<div>
			<div class="leftMiddle">
				<div class="banner" style="clear:both;height:15px;">
					<div style="float:left;">
						<span style="font-weight:bold;color:lightblue;">ClassList: {{ GroupName }}</span>
					</div>
					<div style="float:right;font-weight:normal;color:lightblue;">
						{% include "includes/go_to_pupil.html" %}	
					</div>
				</div>
				
			{% if Messages %}
				{% for msg in Messages %}
					{{ msg }}<br>
				{% endfor %}
			{% endif %}
			<!-- stats data -->
			{% if not senView or ealView or gtView or moreAbledView %}
			<table class="WillowTable1" border=1>
				<tr>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">House</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">Total<td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">Boys</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">Girls</td>
				</tr>
			{% for houses,counts in statsData.returnDic.items %}
			{% if houses != 'Total' %}
			<tr>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">{{ houses }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">{{ counts.Total }}<td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">{{ counts.Boys }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">{{ counts.Girls }}</td>				
			</tr>
			{% endif %}
			{% endfor %}
			<tr>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">Totals</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">{{ statsData.returnDic.Total.Total }}<td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">{{ statsData.returnDic.Total.Boys }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">{{ statsData.returnDic.Total.Girls }}</td>
			</tr>			
			</table>			
			{% endif %}
			<!-- end -->
			
			<table class="WillowTable1">
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" width='5%'>
					<input type='checkbox' id="SelectAll" name="PupilCheck" checked='checked' style='height:20px;width:20px;' onChange='ToggleSelectAll();'/> 
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" width='20%'><<<< Select/Unselect All<td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}"><br></td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" width='15%'>
					<ul class="managermenu">
						<li><a href='#' class="drop">Actions</a>
							<div class="dropdown_4columns align_right">
								<div class='col_1'>
									<h3>Record</h3>
									<ul>
										<li><a href="#Manager_AddNote" class="login-window" onclick="AddForSelected('Note');">Add Note/Email</a><li>

									{% if not wholeSchool %} <!-- these will not show up in whole class unless edited -->
										<li><a href="#TeacherNamesManager" class="login-window">Set Teacher Names</a><li>
									{% endif %}
                                        <li><a href="/WillowTree/{{ school }}/{{ AcYear }}/markbook/start/{{ GroupName }}/">Markbooks</a></li>

										{% if senView or ealView%}  
										<li><a href="#senProvisionMapPopup" class="login-window" onclick="AddForSelected('senMap');">Provision Map</a><li>
										<!-- below is repeated, fixed if used! -->
										<li><a href="#CsvOptions" class="login-window">CSV File</a><li>
										{% endif %}
									</ul>
								</div>
								<!-- special groups -->
								<div class='col_1'>
									<h3>Special Groups</h3>
									<ul>
										<li><a href="#add_to_special_group" class="login-window" onclick="AddForSelected('add_to_special_group');">Add To Group</a><li>
										<li><a href="#remove_from_special_group" class="login-window" onclick="AddForSelected('remove_from_special_group');">Rm from Group</a><li>
									</ul>
								</div>								
								<!-- end -->
								<div class="col_1">
									<h3>Admin</h3>
									<ul>

										{% if 'Admin' in school  or 'Applicants' in school %}
										{% if 'Applicants' in school %}
										<li><a href="#CopyAPupil" class="login-window" onclick="AddForSelected('Copy');">Copy to Group</a><li>
										{% endif %}
										<li><a href="#MoveAPupil" class="login-window" onclick="AddForSelected('Move');">Move to Group</a><li>							
										<li><a href='#removePupilFromGrp' class="login-window" onclick="AddForSelected('removePupilFromGrp');">Rm from Group</a></li>
										{% if 'Applicants' in GroupName %}
				   <!-- problem here --><!--<li><a href="#" class="login-window" onclick="AddForSelected('MoveCurrent');">Move To Current</a><li>-->
										{% endif %}
										{% endif %}
										
									</ul>
								</div> 								
								<div class='col_4'>
								<h3>Reports</h3>
								</div>
								<div class='col_1'>
									<ul>
										<li><a href="#AnalysisReportManager" class="login-window" onclick="AddForSelected('AnalysisReport');">Generate Analysis</a><li>
										<li><a href="#AnalysisReportManagerMich" class="login-window">Analysis (Mich)</a><li>
										<li><a href="#AnalysisReportManagerLent" class="login-window">Analysis (Lent)</a><li>
										<li><a href="#AnalysisReportManagerSummer" class="login-window">Analysis (Summer)</a><li>
										<li><a href="#RawGradeExtract" class="login-window">Raw Grade Data</a><li>
										<li><a href="#AttendanceReportManager" class="login-window" onclick="AddForSelected('AttendanceReport');">Generate Attendence</a><li>
										<li><a href="#EYFSReportManager" class="login-window" onclick="AddForSelected('EYFSReport")>EYFS Analysis</a><li>
										<li><a href="#Report2ParentsManager" class="login-window" onclick="AddForSelected('GradeReport');">Report to Parents</a><li>
										<li><a href="#OtherReportManager" class="login-window" onclick="AddForSelected('OtherReport');">Other Reports</a><li>
									</ul>
								</div>
								<div class='col_1'>
									<ul>
										<li><a href="#notesReport" class="login-window" onclick="AddForSelected('notesReportCSV');">Notes Report</a><li>
										<li><a href="#ClassListManager" class="login-window">Gen Class List</a><li>									
										<li><a href="#LabelManager" class="login-window" onclick="AddForSelected('Labels');">Generate Labels</a><li>	
										<li><a href="#CsvOptions" class="login-window" onclick="AddForSelected('CsvOptions');">CSV File</a><li>
									</ul>
								</div>
								<div class='col_1'>
									<ul>
										{% if 'Admin' in school  or 'Applicants' in school %}
										<li><a href="#futureSchoolsReport" class="login-window" onclick="AddForSelected('futureSchoolsReport');">Future Schools</a><li>
										<li><a href="#SelectALetterManager" class="login-window" onclick="AddForSelected('Letter');">Generate Letter</a><li>																	
										{% endif %}
									</ul>									
								</div>
							</div>
						</li>
					</ul>
				</td>	
			</tr>
		</table>				
			<table class="WillowTable1">
				<tr>
					<td class="WillowTableHeaderSmall" Width='5%'>Select</td>
					<td class="WillowTableHeaderSmall">Picture</td>					
					<td class="WillowTableHeaderSmall">Id</td>
					<td class="WillowTableHeaderSmall">Name</td>
                    <td class="WillowTableHeaderSmall">Flags</td>
					<td class="WillowTableHeaderSmall">Notes</td>
					<td class="WillowTableHeaderSmall">DOB</td>
					<td class="WillowTableHeaderSmall">House</td>
					<td class="WillowTableHeaderSmall">Form</td>
					<td class="WillowTableHeaderSmall" width='15%'>Actions</td>
				</tr>
			{% for pupil in ClassList %}
			<tr>
				<td id="go_to_pupil_{{ pupil.Pupil.id }}" class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
					<input type='checkbox' id="Checked{{pupil.Pupil.id}}" name="PupilCheck" checked='checked' style='height:20px;width:20px;' onChange="UpdatePupilList('{{pupil.Pupil.id}}');"/> 
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
					<a href="/WillowTree/{{ School }}/{{ AcYear }}/pupil/{{ pupil.Pupil.id }}/"><img src="{{ MEDIA_REDIRECT }}{{pupil.Pupil.Picture}}" width="50" height="60"/></a>
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.id }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" ><span {% if pupil.AbsentToday %} title='THIS PUPIL IS ABSENT TODAY' style='background-color:yellow; border:1px solid red; padding: 2px;'{% endif %}>{{ pupil.Pupil.Surname }}, {{ pupil.Pupil.Forename }}</span></td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
						{% for alert_items in pupil.ActivePupilAlerts %}
						 {% for alerts in alert_items %}
							{% if alerts.AlertDetails %}
							<img title='{{ alerts.AlertDetails|safe }}' id="img_{{alerts.id}}" src="{{ MEDIA_REDIRECT }}{{alerts.AlertType.Icon}}" width="20" height="20" updated='{{ alerts.UpdateDate|date:"Y/m/d" }}'/>
							{% else %}
							<img title='{{ alerts.AlertType.Name }}' id="img_{{alerts.id}}" src="{{ MEDIA_REDIRECT }}{{alerts.AlertType.Icon}}" width="20" height="20" updated='{{ alerts.UpdateDate|date:"Y/m/d" }}'/>
							{% endif %}
						{% endfor %}
						{% endfor %}
						<br/>

                </td>

				<td title='Notes added today: {{ pupil.get_amount_of_notes_for_pupil.today }}<br />Notes added this week: {{ pupil.get_amount_of_notes_for_pupil.this_week }}' class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" ><span class='fake_link'>{{ pupil.get_amount_of_notes_for_pupil.today }}/{{ pupil.get_amount_of_notes_for_pupil.this_week }}</span></td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.DateOfBirth|date:"jS N Y" }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.AcademicHouse }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Form }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
<!-- ################################################################### -->
					<ul class="managermenu">
						<li><a href='#' class="drop">Actions</a>
							<div class="dropdown_2columns align_right">
								<div class="col_1">
									<h3>Main</h3>
									<ul>
										<li><a href="#Manager_AddNote" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Note');">Add Note/Email</a></li>
										<li><a href="#LabelManager" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Labels');">Generate Labels</a></li>
										{% if 'Admin' in school  or 'Applicants' in school %}
										<li><a href="#SelectALetterManager" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Letter');">Generate Letter</a></li>										
										<li><a href="#" onclick="alert('not working yet :-(')">Edit Family</a></li>
										{% endif %}
										<li><a href="#PupilSingleGradeFromManage" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}', 'GradePupil')">Grade Pupil</a></li>
									</ul>
								</div>
								<div class='col_1'>
									<h3>AdHoc</h3>
									<ul>
										{% if senView %}  
										<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/pupilSENRecord/{{pupil.Pupil.id}}/">SEN Page</a><li>
										<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/ViewSenProvisionMap/{{pupil.Pupil.id}}/singlePupil" target="_blank">SEN Provision Map</a><li>
										{% endif %}
										{% if ealView %}  
										<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/pupilEALRecord/{{pupil.Pupil.id}}/">EAL Page</a><li>
										<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/ViewEalProvisionMap/{{pupil.Pupil.id}}/singlePupil" target="_blank">EAL Provision Map</a><li>
										{% endif %}										
										{% if not senView %}
										{% if not ealView %}
										{% if not gtView %}
										{% if not moreAbledView %}
										{% if 'Admin' in school  or 'Applicants' in school %}
										<li><a href="#TransferTo" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}', 'MarkForTransfer')">Mark for Transfer</a></li> 
										{% if 'Applicants' in school %}
										<li><a href="#CopyAPupil" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Copy');">Copy to Group</a></li>
										{% endif %}
										<li><a href="#MoveAPupil" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Move');">Move to Group</a></li>						
										<li><a href='#removePupilFromGrp' class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','removePupilFromGrp');">Rm from Group</a></li>
										{% if 'Admin' in school  or 'Applicants' in school %}
										<li><a href="#CopySinglePupilBackToHolding" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','CopyBackToHolding');" >Copy back to Holding</a></li>
										{% endif %}
										{% if 'Applicants' in GroupName %}
										<li><a href="#" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveCurrent');">Move To Current</a></li>
										{% endif %}
										<li></li>
										{% endif %}
										{% endif %}
										{% endif %}
										{% endif %}	
										{% endif %}	
									</ul>
								</div>
							</div>
						</li>
					</ul>				
				</td>
			<tr>
			{% endfor %}
			</table>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<br><br><br><br><br><br><br><br>
		</div>			
{% endblock %}
