
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}
<script>
$(function () {
      $(document).tooltip({
          content: function () {
              return $(this).prop('title');
          }
      });
  });
</script>
<style>
label {
display: inline-block;
width: 5em;
}
</style>
<script>
{% include "popOutJavaScript.js" %}
</script>
<!-- end -->

			<div class="leftMiddle">
<form class="RecordForm" action='/WillowTree/{{ school }}/{{AcYear}}/AttendanceP/{{ GroupName }}/{{ AmPm }}/' method='post'>				
				<div class="banner">
					{{ AmPm }} Daily Attendance for {{ GroupName }}		<!--<button type="submit" style='float:right;'>Submit</button>-->
                    <button id="daily_attendance_button_S" onclick="hideSubmitButton('daily_attendance_button_S');" type="submit" value="Submit" style='float:right;'>Submit</button>
                    <span id="daily_attendance_button_PD" style="display:none;font-weight:bold;color:darkred;float:right;">PROCESSING...</span>
				</div>
				<!-- attendence taken -->
				<div style="text-align:center;">
					<table style="width:100%;">
						<tr>
							{% if attendance_taken.morning_attendance_taken %}
							<td style="background-color:lightgrey;"><span style="color:blue;">Attendance has been taken for AM</span></td>
							{% else %}
							<td style="background-color:lightgrey;"><span style="color:red;">Attendance has not been taken for AM</span></td>
							{% endif %}
							{% if attendance_taken.afternoon_attendance_taken %}
							<td style="background-color:lightgrey;"><span style="color:blue;">Attendance has been taken for PM</span></td>
							{% else %}
							<td style="background-color:lightgrey;"><span style="color:red;">Attendance has not been taken for PM</span></td>
							{% endif %}												
						</tr>
					</table>
				</div>				
				<!-- end -->
				<div style='padding:10px;'>
				{% for i in Messages %}
					<span style="font-size:1.5em;font-weight:bold;color:blue;">{{ i }}</span>
				{% endfor %}
				</div>			
			{% csrf_token %}
			{% for pupils in PupilList %}
			<div class='AttendanceBox'>
				<div class='AttendanceHeader'>{{ pupils.2 }} {{pupils.1}}</div>
				{% if pupils.6 %}
					<div class='AttendanceFooter'>
                    {% if not pupil.8 == '/' and AmPm == 'PM'%}
                        Morning Att Code {{ pupil.8 }}
                    {% endif %}
                    <!-- adds data to the footer of the pictures in the attendance form. blank now I
                    have removed the alert icons, but left in as staff will want to add someing
                    in the future -->
					</div>
			{% endif %}
				<a href='/WillowTree/{{ school }}/{{AcYear }}/pupil/{{ pupils.0 }}/'>
				<img src="{{ MEDIA_REDIRECT }}{{pupils.3}}" />
				</a>
				{% if pupils.7 %}
					<select name="Code_{{ pupils.0}}" >
					{% for codes in AttendanceCodes %}
						{% ifequal pupils.4 codes.AttendanceCode %}
							<option value="{{ codes.AttendanceCode}}" selected='selected'>{{ codes.AttendanceCode }}: {{ codes.AttendanceDesc }}</option>
							<option value="/">/</option>
						{% else %}
							<option value="{{ codes.AttendanceCode}}">{{codes.AttendanceCode}} {{ codes.AttendanceDesc }}</option>	
						{% endifequal %}
					{% endfor %}
					</select>
				{% else %}
					<select name="Code_{{ pupils.0}}" >
						<option value="/" selected="selected">/</option> 
							{% for codes in AttendanceCodes %}
								<option value="{{ codes.AttendanceCode}}">{{ codes.AttendanceCode }}: {{ codes.AttendanceDesc }}</option>
							{% endfor %}
					</select>
				{% endif %}
			</div>
			
			
			
			
			
			

			{% endfor %}


			</form>
			</br><br>
			</div>
			
{% endblock %}
