
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}
<script>
$(function () {
      $(document).tooltip({
          content: function () {
              return $(this).prop('title');
          }
      });
  });
</script>
<style>
label {
display: inline-block;
width: 5em;
}
</style>
<script>
{% include "popOutJavaScript.js" %}
</script>
<script>
{% include "datePickerCode.js" %}
</script>
<!-- end -->
{% include 'includes/AttendanceMarkGroup.html' %}
			<div class="leftMiddle">
<form class="RecordForm" action='/WillowTree/{{ school }}/{{AcYear}}/AttendancePAdmin/{{ GroupName }}/{{ AmPm }}/{{AttDate}}/' method='post'>				
				<div class="banner">
					{{ AmPm }} Attendance for {{ GroupName }}: ({{AttDate}}) 
		<ul class="managermenu" style='float:right;'>
						<li><a href='#' class="drop">Actions</a>
							<div class="dropdown_1column">
								<div class="col_1">
									<h3>Main</h3>
									<ul>
										<li><a href="#AttendanceMarkGroup" class="login-window" >Mark All group</a></li>
									</ul>
								</div>
							</div>
						</li>
		</ul>					
					<button type="submit" style='float:right;'>Submit</button>
				</div>
			
			{% csrf_token %}
			{% for pupils in PupilList %}
			<div class='AttendanceBox'>
				<div class='AttendanceHeader'>{{ pupils.2 }} {{pupils.1}}</div>
				{% if pupils.6 %}
					<div class='AttendanceFooter'>				
					{% for alerts in pupils.6 %}
						<img title='
							<b>Alert Type:</b> {{alerts.AlertType.AlertGroup.Name }} ({{alerts.AlertType.Name}})<br>
							<b>Start Date:</b> {{alerts.StartDate}}
							{{alerts.AlertDetails|safe}}'
						id="img_{{alerts.id}}" src="{{ MEDIA_REDIRECT }}{{alerts.AlertType.Icon}}"/>
				{% endfor %}
					</div>				
			{% endif %}
				<a href='/WillowTree/{{ school }}/{{AcYear }}/pupil/{{ pupils.0 }}/'>
				<img src="{{ MEDIA_REDIRECT }}{{pupils.3}}" />
				</a>
				{% if pupils.7 %}
					<select name="Code_{{ pupils.0}}" >
					{% for codes in AttendanceCodes %}
						{% ifequal pupils.4 codes.AttendanceCode %}
							<option value="{{ codes.AttendanceCode}}" selected='selected'>{{ codes.AttendanceCode }}: {{ codes.AttendanceDesc }}</option>
							<option value="/">/</option>
						{% else %}
							<option value="{{ codes.AttendanceCode}}">{{codes.AttendanceCode}} {{ codes.AttendanceDesc }}</option>	
						{% endifequal %}
					{% endfor %}
					</select>
				{% else %}
					<select name="Code_{{ pupils.0}}" >
						<option value="/" selected="selected">/</option> 
							{% for codes in AttendanceCodes %}
								<option value="{{ codes.AttendanceCode}}">{{ codes.AttendanceCode }}: {{ codes.AttendanceDesc }}</option>
							{% endfor %}
					</select>
				{% endif %}
			</div>
			
			
			
			
			
			

			{% endfor %}


			</form>
			</br><br>
			</div>
			
{% endblock %}
