
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<!-- jquery tooltip code -->
<script>
$(function () {
      $(document).tooltip({
          content: function () {
              return $(this).prop('title');
          }
      });
  });
</script>
<!-- end -->

<script type="text/javascript">
</script>
{% endblock %}
{% block ContentArea %}
<script>
{% include "popOutJavaScript.js" %}
</script>
<script>
{% include "datePickerCode.js" %}
</script>
{% include 'includes/AttendanceChangeDate.html' %}
{% include 'includes/AttendanceByList.html' %}

<div class="leftMiddle">
	<div class="banner">
	{% if errmsg %}
		<b>{{ errmsg }}</b>
	{% endif %}
		{{ BannerTitle }}
		<ul class="managermenu" style='float:right;'>
						<li><a href='#' class="drop">Actions</a>
							<div class="dropdown_1column align_right">
								<div class="col_1">
									<h3>Main</h3>
									<ul>
										<li><a href="#Attendance_ChangeDate" class="login-window" >Change Date</a></li>
										<li><a href="#AttendanceByList" class="login-window" >Attend. by List</a></li>
									</ul>
								</div>
							</div>
						</li>
		</ul>				
	</div>
	<table class="WillowTable1">
		<tr>
			<td class="WillowTableHeader">Group Name</td>
			<td class="WillowTableHeader">AM Taken?</td>
			<td class="WillowTableHeader">AM Auth</td>
			<td class="WillowTableHeader">AM Unauth</td>
			<td class="WillowTableHeader">AM Late</td>
			<td class="WillowTableHeader"><br></td>
			<td class="WillowTableHeader">PM Taken?</td>					
			<td class="WillowTableHeader">PM Auth</td>
			<td class="WillowTableHeader">PM Unauth</td>
			<td class="WillowTableHeader">PM Late</td>
		</tr>
		{% for AttendanceGroup in AttendanceReport %}
				<tr>
					<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" >{{ AttendanceGroup.AttendanceGroup.MenuName }}</td>
					<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" >
						<a href="/WillowTree/{{ school }}/{{ AcYear }}/AttendanceAdmin/{{ AttendanceGroup.AttendanceGroup.Name }}/AM/{{AttDate|date:"Y-m-d"}}/">
						{{ AttendanceGroup.HasBeenTakenAM }}</a></td>

	  <!-- tootip--><td title='
						<table class="WillowTable1">

							<tr>
								<td class="WillowTableHeader">Forename</td>	
								<td class="WillowTableHeader">Surname</td>
								<td class="WillowTableHeader">Absence</td>
							</tr>
						{% for pupil in AttendanceGroup.AuthorisedListAM %}
							<tr>
								<td class="WillowTableRow1">{%if pupil.Pupil.NickName|length > 0 %}{{ pupil.Pupil.NickName }}{% else %}{{ pupil.Pupil.Forename }}{% endif %}</td>
								<td class="WillowTableRow1">{{ pupil.Pupil.Surname }}</td>
								<td class="WillowTableRow1">Code:<b>{{ pupil.Code.AttendanceCode }}</b>,<br />{{ pupil.Code.AttendanceDesc }}</td>
							</tr>
						{% endfor %}
						</table>	  
	  ' class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" id="AuthAM{{AttendanceGroup.AttendanceGroup.id}}" 
	  {% if AttendanceGroup.AuthorisedCountAM > 0 %} style='background-color:yellow;' {% endif%} >{{ AttendanceGroup.AuthorisedCountAM }}</td>
	  <!-- tootip--><td title='
						<table class="WillowTable1">

							<tr>
								<td class="WillowTableHeader">Forename</td>	
								<td class="WillowTableHeader">Surname</td>
								<td class="WillowTableHeader">Absence</td>
							</tr>
						{% for pupil in AttendanceGroup.UnauthorisedListAM %}
							<tr>
								<td class="WillowTableRow1">{%if pupil.Pupil.NickName|length > 0 %}{{ pupil.Pupil.NickName }}{% else %}{{ pupil.Pupil.Forename }}{% endif %}</td>
								<td class="WillowTableRow1">{{ pupil.Pupil.Surname }}</td>
								<td class="WillowTableRow1">Code:<b>{{ pupil.Code.AttendanceCode }}</b>,<br />{{ pupil.Code.AttendanceDesc }}</td>
							</tr>
						{% endfor %}
						</table>	  
	  'class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" id="UnauthAM{{AttendanceGroup.AttendanceGroup.id}}"
	  {% if AttendanceGroup.UnauthorisedCountAM > 0 %} style='background-color:yellow;' {% endif%}>{{ AttendanceGroup.UnauthorisedCountAM }}</td>
	  <!-- tootip--><td title='
	  						<table class="WillowTable1">

							<tr>
								<td class="WillowTableHeader">Forename</td>	
								<td class="WillowTableHeader">Surname</td>
								<td class="WillowTableHeader">Absence</td>
							</tr>
						{% for pupil in AttendanceGroup.LateListAM %}
							<tr>
								<td class="WillowTableRow1">{%if pupil.Pupil.NickName|length > 0 %}{{ pupil.Pupil.NickName }}{% else %}{{ pupil.Pupil.Forename }}{% endif %}</td>
								<td class="WillowTableRow1">{{ pupil.Pupil.Surname }}</td>
								<td class="WillowTableRow1">Code:<b>{{ pupil.Code.AttendanceCode }}</b>,<br />{{ pupil.Code.AttendanceDesc }}</td>
							</tr>
						{% endfor %}
						</table>
	  ' class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" id="LateAM{{AttendanceGroup.AttendanceGroup.id}}"
	  {% if AttendanceGroup.LateCountAM > 0 %} style='background-color:yellow;' {% endif%}>{{ AttendanceGroup.LateCountAM }}</td>
					<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" ><br></td>
					<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" >
						<a href="/WillowTree/{{ school }}/{{ AcYear }}/AttendanceAdmin/{{ AttendanceGroup.AttendanceGroup.Name }}/PM/{{AttDate|date:"Y-m-d"}}/">
						{{ AttendanceGroup.HasBeenTakenPM }}</a></td>					
	  <!-- tootip--><td title='
						<table class="WillowTable1">

							<tr>
								<td class="WillowTableHeader">Forename</td>	
								<td class="WillowTableHeader">Surname</td>
								<td class="WillowTableHeader">Absence</td>
							</tr>
						{% for pupil in AttendanceGroup.AuthorisedListPM %}
							<tr>
								<td class="WillowTableRow1">{%if pupil.Pupil.NickName|length > 0 %}{{ pupil.Pupil.NickName }}{% else %}{{ pupil.Pupil.Forename }}{% endif %}</td>
								<td class="WillowTableRow1">{{ pupil.Pupil.Surname }}</td>
								<td class="WillowTableRow1">Code:<b>{{ pupil.Code.AttendanceCode }}</b>,<br />{{ pupil.Code.AttendanceDesc }}</td>
							</tr>
						{% endfor %}
						</table>	  
	  'class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" id="AuthPM{{AttendanceGroup.AttendanceGroup.id}}"
	  {% if AttendanceGroup.AuthorisedCountPM > 0 %} style='background-color:yellow;' {% endif%}>{{ AttendanceGroup.AuthorisedCountPM }}</td>
	  <!-- tootip--><td title='
	  						<table class="WillowTable1">

							<tr>
								<td class="WillowTableHeader">Forename</td>	
								<td class="WillowTableHeader">Surname</td>
								<td class="WillowTableHeader">Absence</td>
							</tr>
						{% for pupil in AttendanceGroup.UnauthorisedListPM %}
							<tr>
								<td class="WillowTableRow1">{%if pupil.Pupil.NickName|length > 0 %}{{ pupil.Pupil.NickName }}{% else %}{{ pupil.Pupil.Forename }}{% endif %}</td>
								<td class="WillowTableRow1">{{ pupil.Pupil.Surname }}</td>
								<td class="WillowTableRow1">Code:<b>{{ pupil.Code.AttendanceCode }}</b>,<br />{{ pupil.Code.AttendanceDesc }}</td>
							</tr>
						{% endfor %}
						</table>
	  'class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" id="UnauthPM{{AttendanceGroup.AttendanceGroup.id}}"
	  {% if AttendanceGroup.UnauthorisedCountPM > 0 %} style='background-color:yellow;' {% endif%}>{{ AttendanceGroup.UnauthorisedCountPM }}</td>

	  <!-- tootip--><td title='
	  						<table class="WillowTable1">

							<tr>
								<td class="WillowTableHeader">Forename</td>	
								<td class="WillowTableHeader">Surname</td>
								<td class="WillowTableHeader">Absence</td>
							</tr>
						{% for pupil in AttendanceGroup.LateListPM %}
							<tr>
								<td class="WillowTableRow1">{%if pupil.Pupil.NickName|length > 0 %}{{ pupil.Pupil.NickName }}{% else %}{{ pupil.Pupil.Forename }}{% endif %}</td>
								<td class="WillowTableRow1">{{ pupil.Pupil.Surname }}</td>
								<td class="WillowTableRow1">Code:<b>{{ pupil.Code.AttendanceCode }}</b>,<br />{{ pupil.Code.AttendanceDesc }}</td>
							</tr>
						{% endfor %}
						</table>
	  ' class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" id="LatePM{{AttendanceGroup.AttendanceGroup.id}}"
	  {% if AttendanceGroup.LateCountPM > 0 %} style='background-color:yellow;' {% endif%}>{{ AttendanceGroup.LateCountPM }}</td>

				<tr>
				{% endfor %}
			</table>

<br><br>																		
</div>
{% endblock %}
