
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}
<script type="text/javascript">
</script>

			<div class="leftMiddle">
				<div class="banner">
					{{ AmPm }} Daily Attendance for {{ GroupName }} 
				</div>
				<div>
					{% if attendance_taken.morning_attendance_taken %}
					<span style="color:blue;">Attendance has been taken already for AM</span><br />
					{% endif %}
					{% if attendance_taken.afternoon_attendance_taken %}
					<span style="color:blue;">Attendance has been taken already for PM</span><br />
					{% endif %}					
				</div>
<form class="RecordForm" action='/WillowTree/{{ school }}/{{AcYear}}/AttendanceP/{{ GroupName }}/{{ AmPm }}/' method='post'>
			<table border=0, cellpadding=2, cellspacing=0 width=80%>

			<tr><td width=6%><br></td><td><br></td><td><br></td><td rowspan=22 valign='TOP' align="right">
			<br><br>
			<table border=1, cellpadding=5, cellspacing=0>
			{% for codes in AttendanceCodes %}
			<tr><td bgcolor='#FDD017'>{{ codes.AttendanceCode}}</td><td>{{ codes.AttendanceDesc }}</td></tr>
			{% endfor %}
			</table>
			</td></tr>
			<tr>
			
			{% csrf_token %}
			{% for pupils in PupilList %}


			<td>
			{% if pupils.7 %}
			<select name="Code_{{ pupils.0}}" >
			{% for codes in AttendanceCodes %}
			{% ifequal pupils.4 codes.AttendanceCode %}
			<option value="{{ codes.AttendanceCode}}" selected='selected'>{{ codes.AttendanceCode }}: {{ codes.AttendanceDesc }}</option>
			<option value="/">/</option>
			{% else %}
			<option value="{{ codes.AttendanceCode}}">{{codes.AttendanceCode}} {{ codes.AttendanceDesc }}</option>	
			{% endifequal %}
			{% endfor %}
			</select>
			{% else %}
			<select name="Code_{{ pupils.0}}" >
			<option value="/" selected="selected">/</option> 
			{% for codes in AttendanceCodes %}
			<option value="{{ codes.AttendanceCode}}">{{ codes.AttendanceCode }}: {{ codes.AttendanceDesc }}</option>
			{% endfor %}
			</select>
			{% endif %}
			</td>
			<td><a href='/WillowTree/{{ school }}/{{AcYear }}/pupil/{{ pupils.0 }}/'>{{ pupils.2}} {{ pupils.1 }}</a></td>
			{% if pupils.6 %}
				{% for alerts in pupils.6 %}
					<td>
						<img style="float:left" id="img_{{alerts.id}}" src="{{ MEDIA_REDIRECT }}{{alerts.AlertType.Icon}}" width="25" height="25"/>
						<span dojoType="dijit.Tooltip" connectId="img_{{alerts.id}}" style="display:none">
						<b>Alert Type:</b> {{alerts.AlertType.AlertGroup.Name }} ({{alerts.AlertType.Name}})<br>
						<b>Start Date:</b> {{alerts.StartDate}}
						{{alerts.AlertDetails|safe}}
						</span>
					</td>
				{% endfor %}

			{% endif %}
			
			
			
			
			
			
			
			</tr>
			{% endfor %}

			</table>
			<input class="RecordForm" style="float: left" type="submit" value='Submit'>
			</form>
			</br><br>
			</div>
			
{% endblock %}
