
<div data-dojo-type="dijit/Dialog"  title='Delete Pupil Note' data-dojo-id="DeletePupilNotesPopOut">
{% load static from staticfiles %}
	<div class='RecordFormDialog' data-dojo-type="dijit/form/Form" id="DeletePupilNotesPopOut" data-dojo-id="DeletePupilNotesPopOut1" encType="multipart/form-data" action="#"  method="post">	
		<!--action="/WillowTree/{{ school }}/{{ AcYear }}/EditPupilDetails/{{ PupilDetails.Pupil.id }}/"-->
		<script>
		</script>		
	<div class='bannerDialog'>
		Are you sure you wish to delete this note?
	</div>
	{% load WillowFilters %}
		{% csrf_token %}
		<div style="text-align:center;">
			<form class="UpdateAlertsForm" action="#" method='post'>{% csrf_token %}
				<button type="submit" name="DeletePupilNotesPopOutYes" id="DeletePupilNotesPopOutYes">yes</button>
				<button type="button" onclick="DeletePupilNotesPopOut.hide()">no</button>
		</div>
	</div>
</div>
