
<div class='KeywordsContainer'>
{% load static from staticfiles %}
	<div class='KeywordsC1'>
	{% for keywords in KWList.Primary %}
		<p id="{{keywords}}" onClick="SelectPrimary('{{keywords}}')">{{keywords}}</p>
	{% endfor %}
	<br>
		<p id='Curr' onClick="displaySubjects()">Subjects</p>
	</div>
	<div class='KeywordsC2'>
		<div class='KeywordsC2A'>
			{% for keywords in KWList.Secondary %}
			<p id="{{keywords}}" onClick="SelectSecondary('{{keywords}}')" style='display:none;'>{{keywords}}</p>
			{% endfor %}
			{% for keywords in KWList.Subject %}
			<p id="{{keywords}}" onClick="SelectSecondary('{{keywords}}')" style='display:none;'>{{keywords}}</p>
			{% endfor %}			
		</div>
	
	
	
		<div class='KeywordsC2B' id='MainWords'>
			{% for keywords in KWList.Tertiary %}
			<p id="{{keywords}}" onClick="SelectTertiary('{{keywords}}')" style='display:none;'>{{keywords}}</p>
			{% endfor %}
		</div>

	</div>
</div>
