
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}
<script type="text/javascript" src="{% static "Scripts/dojo-release-1.8.1/dojo/dojo.js" %}" djConfig="async: true, parseOnLoad: true,locale:'en-gb'"></script>
<script type="text/javascript">
	require(["dijit/Dialog","dojo/parser","dijit/form/Button","dijit/Tooltip","dijit/form/DateTextBox","dijit/form/Form","dijit/Editor","dijit/_editor/plugins/AlwaysShowToolbar","dijit/_editor/plugins/LinkDialog","dijit/form/SimpleTextarea","dijit/form/CheckBox","dijit/form/TimeTextBox", "dijit/form/Textarea"])

function overlay(overlayId) {
	el = document.getElementById(overlayId);
	el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
	return true;
}
</script>


<script type="text/javascript">
function checkform(AlertName)
{
	if(document.getElementById(AlertName+'_'+'AlertDetails').length > 10)
	{
		return true;
	}
	else
	{
		alert('No Alert details have been inputted. Please enter at least 1 sentence');
		return false;
	}
}

</script>

<div class="leftMiddle">
    <div class="banner">
		Pupil Record : <a class='WillowLink' href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ PupilDetails.Pupil.id }}/">{{ PupilDetails.Pupil.Forename }} {{PupilDetails.Pupil.Surname }}</a>
	</div>
	{% if return_msg %}
		{% for msgs in return_msg %}
			<h1>{{ msgs }}</h1>
		{% endfor %}
	{% endif %}
		{% for Alert_Group in PupilAlertList %}
		{% if Alert_Group.Name != 'Gifted and Talented' %}
		<form action='/WillowTree/{{ school }}/{{AcYear}}/UpdateAlerts/{{Alert_Group.Name}}/{{PupilDetails.Pupil.id}}/' method='post' onsubmit="return Checkform('{{Alert_Group.Name')">{% csrf_token %}	
			{% if Alert_Group.HasPermission %}
			<TABLE class='WillowTable1' border="1" cellpadding="3" cellspacing="0" >
				<tr><td class='WillowTableHeader' colspan='3'>{{ Alert_Group.Name }}({% if Alert_Group.Active %} Active{% else %} Inactive {% endif %})</td></tr>
							
				<tr><td class='WillowTableRow1' style="text-align:left;padding:5px;" width="20%">
						{% if PupilDetails.hasAlert %}
							{%for Alert_Types in Alert_Group.ListOfAlerts %}
							<input type='radio' name='AlertType' value='{{ Alert_Types.Name }}' id='{{Alert_Group.Name}}_Type' 
							{% if Alert_Types.Active %} checked="checked" {% endif %}
							>{{Alert_Types.Name}}</br> 
							{% endfor %}
						{% else %}
							{%for Alert_Types in Alert_Group.ListOfAlerts %}
								{% if Alert_Types == Alert_Group.ListOfAlerts.0 %}
									<input type='radio' name='AlertType' value='{{ Alert_Types.Name }}' id='{{Alert_Group.Name}}_Type' checked="checked">{{Alert_Types.Name}}</br>
								{% else %}
									<input type='radio' name='AlertType' value='{{ Alert_Types.Name }}' id='{{Alert_Group.Name}}_Type'>{{Alert_Types.Name}}</br>
								{% endif %}
							{% endfor %}
						{% endif %}
					</td>
					<td width="50%">
				{% if Alert_Group.Active %}
				<input type="hidden" name="AlertId" id="{{Alert_Group.Name}}_Id" value="{{Alert_Group.Alert.id}}">
				
					<input type="hidden" name="AlertDetails" id='{{ Alert_Group.Name}}_AlertDetails' value="{{Alert_Group.Alert.AlertDetails|safe}}" />  
					<div dojoType="dijit/Editor" id="{{Alert_Group.Name}}2" onChange="dojo.byId('{{Alert_Group.Name }}_AlertDetails').value = this.getValue();"  extraPlugins="['dijit/_editor/plugins/AlwaysShowToolbar']">              
					
					<p>{{Alert_Group.Alert.AlertDetails|safe}}</p>                     
					</div>   	
					</td>
					<td class='WillowTableRow1' width="20%">
										<div style="text-align:left;padding:5px;">
					Start Date<br>
					<input type='text' name="StartDate" id="{{Alert_Group.Name}}_StartDate" size="11" dojoType="dijit/form/DateTextBox" value="{{ Alert_Group.Alert.StartDate|date:'c'}}"/></br>
					Stop Date<br>
					<input type='text' name="StopDate" id="{{Alert_Group.Name}}_StopDate" size="11" dojoType="dijit.form.DateTextBox" value="{{ Alert_Group.Alert.StopDate|date:'c'}}"/></br>
					</div>

					<input type="submit" name="save" value="Modify"><br>
					<input type="submit" name="save" value="New"><br>
					<div class="divider"></div>
					Closure Details
					<textarea id="{{Alert_Group.Name}}_CloseDetails" name='AlertClosedDetails' rows="4" cols="24" style="width:auto;" >{{Alert_Group.Alert.AlertClosedDetails}}</textarea>
					<input type="submit" name="save" value="Close">
				{% else %}
				
					<input type="hidden" name="AlertDetails" id='{{ Alert_Group.Name}}_AlertDetails' value="replaced by dijit.Editor content onsubmit" />  
					<div dojoType="dijit/Editor" id="{{Alert_Group.Name}}2" onChange="dojo.byId('{{Alert_Group.Name }}_AlertDetails').value = this.getValue();"  extraPlugins="['dijit/_editor/plugins/AlwaysShowToolbar']">                      
					<p></p>                     
					</div>   	
					</td>
					<td class='WillowTableRow1' width="15%">
					<div style="text-align:left;padding:5px;">
					Start Date<br>
					<input type='text' name="StartDate" id="{{Alert_Group.Name}}_StartDate" size="11" dojoType="dijit.form.DateTextBox" value=""}}/></br>
					Stop Date<br>
					<input type='text' name="StopDate" id="{{Alert_Group.Name}}_StopDate" size="11" dojoType="dijit.form.DateTextBox" value=""}}/></br>
					Closure Details
					<textarea id="{{Alert_Group.Name}}_textarea" name='AlertClosedDetails' rows="4" cols="24" style="width:auto;" value="{{Alert_Group.Alert.AlertClosedDetails}}"></textarea>
					</div>
					<input type="submit" id="{{Alert_Group.Name}}_Activate" name="save" value="Activate"><br>
					
				{% endif %}				
				
				</td>
				</tr>
				<tr><td colspan='3' class='WillowTableHeader'><br></td></tr>
				</table>
			{% endif %}
			</form>
			<br>
		{% endif %}
		{% endfor %}
			</div>

			
{% endblock %}
