
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}
<script>
{% include "datePickerCode.js" %}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
{% include "tinyMCE.js" %}
</script>
<div class="leftMiddle">
    <div class="banner">
		Pupil Record : <a class='WillowLink' href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ PupilDetails.Pupil.id }}/">{{ PupilDetails.Pupil.Forename }} {{PupilDetails.Pupil.Surname }}</a>
	</div>
	{% if return_msg %}
		{% for msgs in return_msg %}
			<h1>{{ msgs }}</h1>
		{% endfor %}
	{% endif %}
		{% for Alert_Group in PupilAlertList %}
	{% if Alert_Group.Name == 'SEND' and isSEN or Alert_Group.Name == 'EAL' and isSEN or Alert_Group.Name == 'More Abled' and isGT %}
		{% if Alert_Group.Name != 'Gifted and Talented' %}
		<form action='/WillowTree/{{ school }}/{{AcYear}}/UpdateAlerts/{{Alert_Group.Name}}/{{PupilDetails.Pupil.id}}/' method='post' onsubmit="return Checkform('{{Alert_Group.Name')">{% csrf_token %}	
			{% if Alert_Group.HasPermission %}
			<TABLE class='WillowTable1' border="1" cellpadding="3" cellspacing="0" >
				<tr><td class='WillowTableHeader' colspan='3'>{{ Alert_Group.Name }}({% if Alert_Group.Active %}<span style='color:red;font-weight:bold;'>Active!</span>{% else %} Inactive {% endif %})</td></tr>
							
				<tr><td class='WillowTableRow1' style="text-align:left;padding:5px;" width="20%">
						{%for Alert_Types in Alert_Group.ListOfAlerts %}
						<input required type='radio' name='AlertType' value='{{ Alert_Types.Name }}' id='{{Alert_Group.Name}}_Type' 
						{% if Alert_Types.Active %} checked="checked" {% endif %}
						>{{Alert_Types.Name}}</br> 
						{% endfor %}
					</td>
					<td width="50%" style='background-color:#CCC9A1;'>
				{% if Alert_Group.Active %}
				<input type="hidden" name="AlertId" id="{{Alert_Group.Name}}_Id" value="{{Alert_Group.Alert.id}}">
					<textarea name="AlertDetails" id='{{ Alert_Group.Name}}_AlertDetails'>{{Alert_Group.Alert.AlertDetails|safe}}</textarea>  	
					</td>
					<td class='WillowTableRow1' width="20%">
										<div style="text-align:left;padding:5px;">
					Start Date<br>
					<input class='datepicker' readonly='true' readonly='true' name="StartDate" id="{{Alert_Group.Name}}_StartDate" size="11" value="{{ Alert_Group.Alert.StartDate|date:'c'}}"/></br>
					Stop Date<br>
					<input class='datepicker' readonly='true' readonly='true' name="StopDate" id="{{Alert_Group.Name}}_StopDate" size="11" value="{{ Alert_Group.Alert.StopDate|date:'c'}}"/></br>
					</div>

					<input type="submit" name="save" value="Modify"><br>
					<input type="submit" name="save" value="New"><br>
					<div class="divider"></div>
					Closure Details
					<input type='text' id="{{Alert_Group.Name}}_CloseDetails" name='AlertClosedDetails' value='{{Alert_Group.Alert.AlertClosedDetails}}'/>
					<input type="submit" name="save" value="Close">
				{% else %}
					<textarea name="AlertDetails" id='{{ Alert_Group.Name}}_AlertDetails'></textarea>                      
					</div>   	
					</td>
					<td class='WillowTableRow1' width="15%">
					<div style="text-align:left;padding:5px;">
					Start Date<br>
					<input class='datepicker' readonly='true' readonly='true' name="StartDate" id="{{Alert_Group.Name}}_StartDate" size="11" value=""}}/></br>
					Stop Date<br>
					<input class='datepicker' readonly='true' readonly='true' name="StopDate" id="{{Alert_Group.Name}}_StopDate" size="11" value=""}}/></br>
					Closure Details
					<input type='text' id="{{Alert_Group.Name}}_textarea" name='AlertClosedDetails' value="{{Alert_Group.Alert.AlertClosedDetails}}" />
					</div>
					<input type="submit" id="{{Alert_Group.Name}}_Activate" name="save" value="Activate"><br>
					
				{% endif %}				
				
				</td>
				</tr>
				<tr><td colspan='3' class='WillowTableHeader'><br></td></tr>
				</table>
			{% endif %}
			</form>
	{% endif %}
			<br>
		{% endif %}
		{% endfor %}
			</div>

			
{% endblock %}
