
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}

  
<script type="text/javascript">
</script>

{% endblock %}
{% block ContentArea %}
{% load WillowFilters %}

<!-- Postal Details details -->		
<!-- pop out code -->
<script>
{% include "popOutJavaScript.js" %}
</script>
<script>
{% include "datePickerCode.js" %}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
{% include "tinyMCE.js" %}
</script>
<!-- end -->
			{% include "includes/ModifyContactAddressAdvice.html" %}
			<div class="leftMiddle">
				<div class="banner">
					Family Record:{{ FamilyDetails.FamilyId.FamilyName }}
				</div>
				<span style="font-size:1.1em;font-weight:bold;color: darkred;">
                    {% for i in Messages %}
                        {{ i|safe }}<br />
                    {% endfor %}
				</span>
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div class="RecordFormTitle">
						Postal Details 
					</div>
					<div class="RecordFormCommands">
							{% include "NewFamilyAddress.html" %}
						{% if not 'Teacher' in school %}
						<button type="button" id="#NewFamilyAddress" class="login-window2">Add New</button> 
						{% endif %}
						{% include 'includes/SelectExistingFamilyAddress.html' %}
						{% if not 'Teacher' in school %}
						<button type='button' id="#SelectExistingFamilyAddress" class="login-window2">Add Existing</button>
						{% endif %}
											
					</div>
				</div>
				<div class="RecordFormCRight">
					{% for Address in FamilyDetails.FamilyId.Address.all %}
					<div class='RecordFormCRight1'>
						<div class='RecordFormCRight2'>
								{% include "ModifyFamilyAddress.html" %}
								{% include "includes/copy_and_paste_family_address.html" %}
							{% if not 'Teacher' in school %}
							<button type="button" id="#ModifyFamilyAddress_{{ Address.id }}" class="login-window2">Modify</button>
							{% endif %}
							<button type="button" id="#copy_and_paste_family_address{{ Address.id }}" class="login-window2">Copy and Paste mode</button>
							{%  include 'includes/removeAddress.html' %}
							{% if FamilyDetails.FamilyId.Address.all|length > 1%}
							{% if not 'Teacher' in school %}
							<button type="button" id="#removeAddress_{{ Address.id }}" class="login-window2">Remove</button>
							{% endif %}
							{% endif %}




						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll">
									<table>
										<tbody>
										<tr><td class='Label'>Home Sal</td><td class='DataItem'>{{ Address.HomeSalutation }}</td></tr>
										<tr><td class='Label'>Postal Title</td><td class='DataItem'>{{ Address.PostalTitle }}</td></tr>
										<tr><td class='Label'>Address Line 1</td><td class='DataItem'>{{ Address.AddressLine1 }}</td></tr>
										<tr><td class='Label'>Address Line 2</td><td class='DataItem'>{{ Address.AddressLine2 }}</td></tr>
										<tr><td class='Label'>Address Line 3</td><td class='DataItem'>{{ Address.AddressLine3 }}</td></tr>
										<tr><td class='Label'>Address Line 4</td><td class='DataItem'>{{ Address.AddressLine4 }}</td></tr>
										<tr><td class='Label'>Postcode</td><td class='DataItem'>{{ Address.PostCode }}</td></tr>
										<tr><td class='Label'>Country</td><td class='DataItem'>{{ Address.Country }}</td></tr>
										<tr><td class='Label'>Phone 1</td><td class='DataItem'>{{ Address.Phone1 }}</td></tr>
										<tr><td class='Label'>Phone 2</td><td class='DataItem'>{{ Address.Phone2 }}</td></tr>
										<tr><td class='Label'>Phone 3</td><td class='DataItem'>{{ Address.Phone3 }}</td></tr>
										<tr><td class='Label'>Email</td><td class='DataItem'>{{ Address.EmailAddress}}</td></tr>
										<tr><td class='Label'>Notes</td><td class='DataItem'>{{ Address.Note }}</td></tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			
			</div>

<!--  Contact details -->				

			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div class="RecordFormTitle">
						Contacts
					</div>
					<div class="RecordFormCommands">
						
						
						

								{% include "NewContactForm.html" %}

						{% if not 'Teacher' in school %}
						<button type="button" id="#NewContactForm" class="login-window2">Add New</button>
						{% endif %}
						
						
						
						
						
						{% if not 'Teacher' in school %}
						<button type='button' id="#addExistingContact" class="login-window2">Add existing</button>
						{% include "includes/addExistingContact.html" %}
						{% endif %}
					</div>
				</div>
				<div class="RecordFormCRight">
					{% for FamilyContact in FamilyDetails.FamilyContacts %}
					<div class='RecordFormCRight1'>
						<div class='RecordFormCRight2'>
							{% if not 'Teacher' in school %}
							<div style='border:1px solid'>
								Modify
								{% include "ModifyContactForm.html" %}
								<button type='button' id="#ModifyContactForm{{FamilyContact.FamilyRec.Contact.id}}" class="login-window2">Main</button>
								{% include "ModifyContactAddress.html" %}
								<button type='button' id="#ModifyContactAddress{{FamilyContact.FamilyRec.Contact.id}}" class="login-window2">Address</button>
								{% include "ModifyContactWorkAddress.html" %}
								<button type='button' id="#ModifyContactWorkAddress{{FamilyContact.FamilyRec.Contact.id}}" class="login-window2">Work Address</button>
								{% include "includes/contact_skills_bank.html" %}
								<button type='button' id="#contact_skills_bank{{FamilyContact.FamilyRec.Contact.id}}" class="login-window2">Skills Bank</button>
							</div>
							{% include "RemoveFamilyContact.html" %}
							<button type='button' id="#RemoveFamilyContact{{FamilyContact.FamilyRec.Contact.id}}" class="login-window2" >Remove</button>
							{% endif %}
							
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll">
									<table>
										<tbody>
										<tr><td class='Label'>Relationship</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Relationship }}</td></tr>
										<tr><td class='Label'>Priority</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Priority }}</td></tr>
										<tr><td class='Label'>Title</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.Title }}</td></tr>
										<tr><td class='Label'>Forename</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.Forename }}</td></tr>
										<tr><td class='Label'>Surname</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.Surname }}</td></tr>
										
										<tr><td class='Label'>Gender</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.Gender }}</td></tr>
										
										<tr><td class='Label'>Mobile Number</td><td class='DataItem'>{{ FamilyContact.Extended.mobileNumber.0 }}</td></tr>
										<tr><td class='Label'>Occupation</td><td class='DataItem'>{{ FamilyContact.Extended.occupation.0 }}</td></tr>
										<tr><td class='Label'>Nationality</td><td class='DataItem'>{{ FamilyContact.Extended.Nationality.1 }}</td></tr>
										<tr><td class='Label'>Language</td><td class='DataItem'>{{ FamilyContact.Extended.PrimaryLanguage.1 }}</td></tr>
										
										<tr><td class='Label'>Home Sal</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.Address.HomeSaultation }}</td></tr>
										<tr><td class='Label'>Postal Title</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.Address.PostalTitle }}</td></tr>
										<tr><td class='Label'>Address Line 1</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.Address.AddressLine1 }}</td></tr>
										<tr><td class='Label'>Address Line 2</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.Address.AddressLine2 }}</td></tr>
										<tr><td class='Label'>Address Line 3</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.Address.AddressLine3 }}</td></tr>
										<tr><td class='Label'>Address Line 4</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.Address.AddressLine4 }}</td></tr>
										<tr><td class='Label'>Postcode</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.Address.PostCode }}</td></tr>
										<tr><td class='Label'>Phone 1</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.Address.Phone1 }}</td></tr>
										<tr><td class='Label'>Phone 2</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.Address.Phone2 }}</td></tr>
										<tr><td class='Label'>Phone 3</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.Address.Phone3 }}</td></tr>
										<tr><td class='Label'>Email</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.EmailAddress }}</td></tr>
										<tr><td class='Label'>Notes</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.Address.Note }}</td></tr>
										
										<tr><td class='Label'>Work Sal</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.WorkAddress.HomeSaultation }}</td></tr>
										<tr><td class='Label'>Work Postal Title</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.WorkAddress.PostalTitle }}</td></tr>
										<tr><td class='Label'>Work Address Line 1</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.WorkAddress.AddressLine1 }}</td></tr>
										<tr><td class='Label'>Work Address Line 2</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.WorkAddress.AddressLine2 }}</td></tr>
										<tr><td class='Label'>Work Address Line 3</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.WorkAddress.AddressLine3 }}</td></tr>
										<tr><td class='Label'>Work Address Line 4</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.WorkAddress.AddressLine4 }}</td></tr>
										<tr><td class='Label'>Work Postcode</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.WorkAddress.PostCode }}</td></tr>
										<tr><td class='Label'>Work Phone 1</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.WorkAddress.Phone1 }}</td></tr>
										<tr><td class='Label'>Work Phone 2</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.WorkAddress.Phone2 }}</td></tr>
										<tr><td class='Label'>Work Phone 3</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.WorkAddress.Phone3 }}</td></tr>
										<tr><td class='Label'>Work Email</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.WorkAddress.EmailAddress}}</td></tr>
										<tr><td class='Label'>Work Notes</td><td class='DataItem'>{{ FamilyContact.FamilyRec.Contact.WorkAddress.Note }}</td></tr>
                                        <tr><td class='Label'>Skills Bank</td><td class='DataItem'>{{ FamilyContact.Extended.contact_skills_bank.0|safe }}</td></tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			
			</div>

	
<!-- Pupil details -->		

			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div class="RecordFormTitle">
						Child record Details
					</div>
					<div class="RecordFormCommands">

						{% if not 'Teacher' in school %}
						<button type="button" id="#NewPupilForm" class="login-window2">Add New</button> 
						{% include "includes/NewPupilForm.html" %}						
						<button type='button' id="#addExistingPupil" class="login-window2">Add existing</button>
						{% include 'includes/addExistingPupil.html' %}
						{% endif %}
					</div>
				</div>
				<div class="RecordFormCRight">
					{% for Children in FamilyDetails.FamilyPupils %}
					<div class='RecordFormCRight1'>
						<div class='RecordFormCRight2'>
							<button type='button' onclick="document.location.href='/WillowTree/{{school}}/{{AcYear}}/pupil/{{Children.Pupil.id}}/'">Modify/View</button>
							{% if not 'Teacher' in school %}
							<button type='button' id="#RemoveExistingPupil{{Children.Pupil.id}}" class="login-window2">Remove</button>
							{% include 'includes/RemoveExistingPupil.html' %}
							{% endif %}
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style='height: 100px;'>
									<table>
										<tbody>
										<tr><td class='Label'>Name</td><td class='DataItem'>{{ Children.Pupil.FullName }}</td></tr>
										<tr><td class='Label'>Gender</td><td class='DataItem'>{{Children.Pupil.Gender }}</td></tr>
										<tr><td class='Label'>Form</td><td class='DataItem'>{{ Children.Form }}</td></tr>
										<tr><td class='Label'>House</td><td class='DataItem'>{{ Children.AcademicHouse }}</td></tr>
										<tr><td class='Label'>Date of Birth</td><td class='DataItem'>{{Children.Pupil.DateOfBirth|date:"jS F Y" }}</td></tr>
										<tr><td class='Label'>Flags</td><td>
											{% for alert_items in Children.ActivePupilAlerts %}
												{% for alerts in alert_items %}
													<img style="float:left" id="img_1" src="{{ MEDIA_REDIRECT }}{{alerts.AlertType.Icon}}" width="35" height="35"/>
													<div data-dojo-type="dijit/Tooltip" data-dojo-props="connectId:'img_1',position:['above']">
														<b>Alert Type:</b> {{alerts.AlertType.AlertGroup.Name }} ({{alerts.AlertType.Name}})<br>
														<b>Start Date:</b> {{alerts.StartDate}}<br>
														{{alerts.AlertDetails|safe}}
													</div>

												{% endfor %}
											{% endfor %}									
										</td></tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			
			</div>
			</div>

			
{% endblock %}
