
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
{% endblock %}
{% block ContentArea %}
{% load WillowFilters %}
<script>
{% include "datePickerCode.js" %}
</script>
	<div>
		<div class="leftMiddle">
			<div class="banner">
				<span style="font-weight:bold;color:lightblue;">Edit Attendance:</span>
			</div>
			<div>
				<div>
					<h1 style='text-align:center;margin-top:50px;'>Please select a class and date range to edit attendance data...</h1>
				</div>
				<form class="SearchForm" action="/WillowTree/{{ school }}/{{ AcYear }}/EditAttendanceResultsPage/" method="post"> 
					{% csrf_token %}
					<div style="margin:25px 275px 25px 275px;background-color:#F0F0F0;padding:20px;">
						<table>
							<tr>
								<td><span style='font-weight:bold;'>Group/Class:</span></td>
								<td>
									<select name="groupName">
										{% for group in Groups %}
										<option value="{{ group.Name }}">{{ group.Name|getFormOnlyFromGroupName }}</option>
										{% endfor %}
										<option value="Current.{{ school|ChangeMenu:'' }}">Whole School</option>
									</select>
								</td>
							</tr>
							<tr>
								<td><br /></td><td></td>
							</tr>
							<tr>
								<td><span style='font-weight:bold;'>Start Date:</span></td>
								<td><input required name='startDate' class='datepicker' readonly='true' type='text' value="{{ startDate }}"></td>
							</tr>
							<tr>
								<td><span style='font-weight:bold;'>End Date:</span></td>
								<td><input required name='endDate' class='datepicker' readonly='true' type='text' value="{{ endDate }}"></td>
							</tr>
							<tr>
								<td><br /></td><td></td>
							</tr>														
						</table>
						<div style='text-align:center;'><button type="submit">Submit</button></div>
					</div>	
				</form>
			</div>
		</div>
	</div>
{% endblock %}
