
<div id="EditPupilDetails" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/EditPupilDetails/{{ PupilDetails.Pupil.id }}/"  method="post">		
	<div class='bannerDialog'>
		Edit Pupil Details...
	</div>
	{% load WillowFilters %}
		{% csrf_token %}
		<table style="padding-bottom: 20px;">
			<tr>
				<td><label for="Surname">Surname: *</label></td></td> 
				<td><input required onclick="showSubmitButton2('EditPupilDetailsS');"  type="text" name="Surname" id="Surname" value="{{ PupilDetails.Pupil.Surname }}" /></td>
			</tr>
			<tr>
				<td><label for="Forename">Forename: *</label></td></td> 
				<td><input required onclick="showSubmitButton2('EditPupilDetailsS');"  type="text" name="Forename" id="Forename" value="{{ PupilDetails.Pupil.Forename }}"/></td>
			</tr>
			<tr>
				<td><label for="OtherNames">Other Names:</label></td></td> 
				<td><input type="text" name="OtherNames" id="OtherNames" value="{{ PupilDetails.Pupil.OtherNames }}" /></td>
			</tr>			
			<tr>
				<td><label for="NickName">Known as:</label></td></td> 
				<td><input type="text" name="NickName" id="NickName" value="{{ PupilDetails.Pupil.NickName }}" /></td>
			</tr>
			<tr>
				<td><label for="Title">Title:</label></td></td> 
				<td><input type="text" name="Title" id="Title" value="{{ PupilDetails.Pupil.Title }}" /></td>
			</tr>
			<tr>
				<td style="padding-top:10px;"><label for="Gender">Gender:</label></td></td> 
				{% if PupilDetails.Pupil.Gender == "M" %}
				<td style="padding-top:10px;"><input type="radio" name="Gender" value="M" id="Gender" checked>male     <input type="radio" name="Gender" value="F" id="Gender">female</td> 
				{% else %}
				<td style="padding-top:10px"><input type="radio" name="Gender" value="M" id="Gender">male     <input type="radio" name="Gender" value="F" id="Gender" checked>female</td> 
				{% endif %}
			</tr>
			<tr>
				<td style="padding-top:10px;"><label for="DateOfBirth">DOB: *</label></td></td> 
				<td style="padding-top:10px;"><input required onclick="showSubmitButton2('EditPupilDetailsS');" class='datepicker' readonly='true' type='text' name="DateOfBirth" id="DateOfBirth" value="{{ PupilDetails.Pupil.DateOfBirth|date:'Y-m-d' }}"/></td>
			</tr>

			<tr>
				<td style="padding-top:10px;"><label for="EmailAddress">Email: *</label></td></td> 
				<td style="padding-top:10px;"><input type="text" name="EmailAddress" id="EmailAddress" value="{{ PupilDetails.Pupil.EmailAddress }}"/></td>
			</tr>
			<tr>
				<td style="padding-top:10px;"><label for="registrationDate">Registration Date:</label></td></td> 
				<td style="padding-top:10px;"><input class='datepicker' readonly='true' type="text" name="registrationDate" value="{{ PupilDetails.Pupil.RegistrationDate|date:'Y-m-d' }}"/></td>
			</tr>
			<tr>
				<td style="padding-top:10px;"><label for="registrationDate">PASS Pupil Reference Code:</label></td></td> 
				<td style="padding-top:10px;"><input type="text" name="PassPupilReferenceCode" value="{{ PupilDetails.Extended.PassPupilReferenceCode.0 }}"/></td>
			</tr>			
		</table>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="EditPupilDetailsS" onclick="hideSubmitButton('EditPupilDetailsS');" type="submit" value="Submit">Submit</button>
            <span id="EditPupilDetailsPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
		<div style="text-align:center;margin-top:10px;border:1px solid;">
			<span>fields marked with an asterisk (*) are required</span>
		</div>		
	</form>
</div>
