
<div id="EditPupilPermissionsDetails" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/EditPupilPermissions/{{ PupilDetails.Pupil.id }}/"  method="post">	
		<div class='bannerDialog'>
		Edit Pupil Permissions 
		</div>
		{% csrf_token %}
		<div style="margin:5px;">
			<table>
				<tr>
					<td style="padding:5px">
						{% if PupilExtended.P_Internet.0 %} 
						<div id="PupilInternetPermissionsHave" style="padding:5px;background-image:url('{% static "images/icons/artistica2/png/32x32/user_accept.png" %}');background-repeat:no-repeat; background-position:center;" onclick="togglestyleInternet(this);toggleCheckBoxInternet(this,internet_permissions_checkbox);">
							<span class='dataLabel'>Internet:</span>
							<span class='smallDataItem'>
							 </span>
						</div>
						<div>
							<input style="display:none;" type="checkbox" id="internet_permissions_checkbox" name="internet_permissions_checkbox" value="True" checked />
						</div>						
						{% else %}
						<div id="PupilInternetPermissionsHaveNot" style="padding:5px;background-image:url('{% static "images/icons/artistica2/png/32x32/user_delete.png" %}');background-repeat:no-repeat; background-position:center;" onclick="togglestyleInternet(this);toggleCheckBoxInternet(this,internet_permissions_checkbox);">
							<span class='dataLabel'>Internet:</span>
							<span class='smallDataItem'>
							 </span>
						</div>
						<div>
							<input style="display:none;" type="checkbox" id="internet_permissions_checkbox" name="internet_permissions_checkbox" value="False" />
						</div>						
						{% endif %}
					</td>	
					<td>
						{% if PupilExtended.P_Media.0 %}
						<div id="PupilMediaPermissionsHave" style="padding:5px;background-image:url('{% static "images/icons/artistica2/png/32x32/user_accept.png" %}');background-repeat:no-repeat; background-position:center;" onclick="togglestyleMedia(this);toggleCheckBoxMedia(this,media_permissions_checkbox);">
							<span class='dataLabel'>Media:</span>
							<span class='smallDataItem'>
							 </span>
						</div>
						<div>
							<input style="display:none;" type="checkbox" id="media_permissions_checkbox" name="media_permissions_checkbox" checked value="True" />
						</div>						
						{% else %}
						<div id="PupilMediaPermissionsHaveNot" style="padding:5px;background-image:url('{% static "images/icons/artistica2/png/32x32/user_delete.png" %}');background-repeat:no-repeat; background-position:center;" onclick="togglestyleMedia(this);toggleCheckBoxMedia(this,media_permissions_checkbox);">
							<span class='dataLabel'>Media:</span>
							<span class='smallDataItem'>
							 </span>
						</div>
						<div>
							<input style="display:none;" type="checkbox" id="media_permissions_checkbox" name="media_permissions_checkbox" value="False" />
						</div>						
						{% endif %}
					</td>
				</tr>
			</table>
		</div>	
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="EditPupilPermissionsDetailsS" onclick="hideSubmitButton('EditPupilPermissionsDetailsS');" type="submit" value="Submit">Submit</button>
            <span id="EditPupilPermissionsDetailsPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>	
	</form>
</div>
