
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}
<script>
{% include "datePickerCode.js" %}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
{% include "tinyMCE.js" %}
</script>
<div class="leftMiddle">
    <div class="banner">
		Pupil Record : <a class='WillowLink' href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ PupilDetails.Pupil.id }}/">{{ PupilDetails.Pupil.Forename }} {{PupilDetails.Pupil.Surname }}</a>
	</div>
	{% if return_msg %}
		{% for msgs in return_msg %}
			<h1>{{ msgs }}</h1>
		{% endfor %}
	{% endif %}
	{% for Alert_Group in PupilAlertList %}
		{% if not 'Gifted and Talented' in Alert_Group.Name and not 'More Abled' in Alert_Group.Name  %}	
			{% if Alert_Group.Name == 'SEND' or Alert_Group.Name == 'EAL' %}
				{% if isSEN %}
				{% include "includes/alertsFormInclude.html" %}
				{% endif %}
			<br />	
			{% else %}
				{% include "includes/alertsFormInclude.html" %}
			{% endif %}	
		{% endif %}
	{% endfor %}
			</div>

			
{% endblock %}
