
<div id="EditPupilForm" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/EditPupilFormHouse/{{ PupilDetails.Pupil.id }}/"  method="post">
	<div class='bannerDialog'>
		Edit Pupil House...
	</div>
	{% load WillowFilters %}
		{% csrf_token %}
		<table style="padding-bottom: 20px;">

			<tr>
				<td style="padding-top:10px;"><label for="newForm">Form:</label></td></td>
				<td style="padding-top:10px;">
					<select name="newForm">
						{% for i in forms.forms %}
						{% if "Staff" not in i %}
						<option {% if PupilDetails.Form in i %} selected='selected' {% endif %} value="{{ i }}">{{ i|getFormFromGroup }}</option>
						{% endif %}
						{% endfor %}
						<option value="None">None</option>
					</select>
				</td>
			</tr>
		</table>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="EditPupilFormS" onclick="hideSubmitButton('EditPupilFormS');" type="submit" value="Submit">Submit</button>
            <span id="EditPupilFormPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
		<div style="text-align:center;margin-top:10px;border:1px solid;">
			<span>fields marked with an asterisk (*) are required</span>
		</div>		
	</form>
</div>
