
<div id="EditPupilOtherInformation" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/EditPupilOtherInformation/{{ PupilDetails.Pupil.id }}/"  method="post">		
	<div class='bannerDialog'>
		Edit Pupil Other Information...
	</div>
	{% load WillowFilters %}
		{% csrf_token %}
		<table style="padding-bottom: 20px;">
			<tr>
				<td><label for="Surname">UPN Number:</label></td></td> 
				<td><input type="text" name="UPN" id="UPN" value="{{ PupilExtended.UPN.0 }}"/></td>
			</tr>
			<tr>
				<td style="padding-top:10px;"><label for="Ethnicity">Ethnicity:</label></td></td> 
				<td style="padding-top:10px;"><select class="EditPupilOtherInformationSelect" name="Ethnicity" id="Ethnicity">
				{% for Ethnicity in PupilExtended.Ethnicity.2 %}
					<option value="{{ Ethnicity.0 }}" {% ifequal Ethnicity.0 PupilExtended.Ethnicity.0 %} selected="selected" {% endifequal %}>{{ Ethnicity.1 }}</option>
				{% endfor %}
				</select></td>
			</tr>
			<tr>
				<td style="padding-top:10px;"><label for="Nationality">Nationality:</label></td></td> 
				<td style="padding-top:10px;"><select style="width:100%;" class="EditPupilOtherInformationSelect" name="Nationality" id="Nationality">
				{% for Nationality in PupilExtended.Nationality.2 %}
					<option value="{{ Nationality.0 }}" {% ifequal Nationality.0 PupilExtended.Nationality.0 %} selected="selected" {% endifequal %}>{{ Nationality.1 }}</option>
				{% endfor %}
				</select></td>
			</tr>
			<tr>
				<td style="padding-top:10px;"><label for="Religion">Religion:</label></td></td> 
				<td style="padding-top:10px;"><select style="width:100%;" class="EditPupilOtherInformationSelect" name="Religion" id="Religion">
				{% for Religion in PupilExtended.Religion.2 %}
					{% if PupilExtended.Religion.1 not in religionList %}
					<option value="{{ Religion.0 }}" {% ifequal Religion.1 'Not Known' %} selected="selected" {% endifequal %}>{{ Religion.1 }}</option>
					{% else %}
					<option value="{{ Religion.0 }}" {% ifequal Religion.0 PupilExtended.Religion.0 %} selected="selected" {% endifequal %}>{{ Religion.1 }}</option>
					{% endif %}
				{% endfor %}
				</select></td>
			</tr>	
			<tr>
				<td style="padding-top:10px;"><label for="PrimaryLanguage">PrimaryLanguage:</label></td></td> 
				<td style="padding-top:10px;"><select style="width:100%;" class="EditPupilOtherInformationSelect" name="PrimaryLanguage" id="PrimaryLanguage">
				{% for PrimaryLanguage in PupilExtended.PrimaryLanguage.2 %}
					<option value="{{ PrimaryLanguage.0 }}" {% ifequal PrimaryLanguage.0 PupilExtended.PrimaryLanguage.0 %} selected="selected" {% endifequal %}>{{ PrimaryLanguage.1 }}</option>
				{% endfor %}
				</select></td>
			</tr>
				<tr>
					<td style="padding-top:10px;"><label for="Type">Past School:</label></td></td> 
					<td style="padding-top:10px;">
						<select style="width:100%;" name="pastSchool">
							<option>Not Known</option>
							{% for t in pastSchools %}
							<option {% ifequal t.id pastSchool.SchoolId.id %} selected="selected" {% endifequal %}>{{ t.Name }}: {{t.Address.PostCode}}</option>
							{% endfor %}
							<option>Remove from School?</option>
						</select>
					</td>
				</tr>														
		</table>
		<div>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="EditPupilOtherInformationS" onclick="hideSubmitButton('EditPupilOtherInformationS');" type="submit" value="Submit">Submit</button>
            <span id="EditPupilOtherInformationPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
