
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
{% endblock %}
{% block ContentArea %}
{% load WillowFilters %}
<script>
$(function () {
      $(document).tooltip({
          content: function () {
              return $(this).prop('title');
          }
      });
  });
</script>	
	<div>
		<div class="leftMiddle">
			<div class="banner">
				<span style="font-weight:bold;color:lightblue;">Edit Attendance Search Results for {{ GroupName }}:</span>
			</div>
			<!-- updateLogDiv -->
			<div id='updateLog' style='display:none;color:blue;'><h2 style='font-weight:bold;'>Attendences successfully changed...</h2><br /></div>
			<div>
				<table class="WillowTable1" >
				<tr>			
					<td class="WillowTableHeader"><br /></td>
					{% for date in DateRange %}
					{% if date.date.weekday != 5 %}
					{% if date.date.weekday != 6 %}
					<td colspan='2' class="WillowTableHeader">
						<div style='padding:5px;'>{{ date.date.weekday|workOutDayFromWeekdayShort }}<br />{{ date.date.isoformat|englishDateFormat }}</div>
					</td>
					{% endif %}
					{% endif %}
					{% endfor %}
				<tr>			
				{% for attendance in AttendanceData %}
				<tr>
					<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}">
						<a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ attendance.Pupil.id }}">
							{{ attendance.Pupil.FullName }}
						</a>
					</td>
					{% for att in attendance.Data %}
					{% if att.4.weekday != 5 %}
					{% if att.4.weekday != 6 %}
					<td>
						<!-- main div to update -->
<script>
$(document).ready(function(){	
	$("#newAttendanceCode_{{ attendance.Pupil.id }}_{{ att.1 }}_{{ att.3 }}").change(function() {
		var url = "/WillowTree/{{ school }}/{{ AcYear }}/EditAttendancePopUp/";
		$.ajax({
			   type: "POST",
			   url: url,
			   data: $("#form_{{ attendance.Pupil.id }}_{{ att.1 }}_{{ att.3 }}").serialize(), // serializes the form's elements.
			   success: function(data)
			   {
				    obj = JSON.parse(data);
				    var updateLogString = obj.pupilName+'\'s attendance code changed to '+obj.newAttObj+' for the date '+obj.dateChanged+obj.AmPm;
				    // update updateLogDiv
				    var updateLogDiv = document.getElementById('updateLog');
				    updateLogDiv.style.display = 'inline';
				    updateLogDiv.innerHTML += '<span>'+updateLogString+'</span><br />';
				    // update dropdown div
				    var dropdownDiv = document.getElementById(obj.divId);
					dropdownDiv.style.backgroundColor = 'lightblue';
				    
				    
				    //tempAlert(data,1000);
				    //alert(data); // show response from the php script meh!!.
			   }
			 });

		return false; // avoid to execute the actual submit of the form.
	});
});	
</script>	
						<div {% if att.0 != '/' %} style='background-color:pink;' {% endif %} id="EditAttendancePopUp_{{ attendance.Pupil.id }}_{{ att.1 }}_{{ att.3 }}">
							<span title='{{ attendance.Pupil.FullName }}<br />{{ att.1|englishDateFormat }}'>{{ att.3 }}</span>
							<form id='form_{{ attendance.Pupil.id }}_{{ att.1 }}_{{ att.3 }}' action="/WillowTree/{{ school }}/{{ AcYear }}/EditAttendancePopUp/" method="post">
								{% csrf_token %}	
								<div>
									<input type="hidden" name="divId" value="EditAttendancePopUp_{{ attendance.Pupil.id }}_{{ att.1 }}_{{ att.3 }}">
									<input type="hidden" name="startDate" value="{{ startDate }}" id='startDate_{{ attendance.Pupil.id }}_{{ att.1 }}_{{ att.3 }}'>
									<input type="hidden" name="endDate" value="{{ endDate }}" id='endDate_{{ attendance.Pupil.id }}_{{ att.1 }}_{{ att.3 }}'>
									<input type="hidden" name="GroupName" value="{{ groupName }}" id='GroupName_{{ attendance.Pupil.id }}_{{ att.1 }}_{{ att.3 }}'>
									<input type="hidden" name="groupName" value="{{ groupName }}" id='groupName_{{ attendance.Pupil.id }}_{{ att.1 }}_{{ att.3 }}'>
									<input type="hidden" name="pupilId" value="{{ attendance.Pupil.id }}" id='pupilId_{{ attendance.Pupil.id }}_{{ att.1 }}_{{ att.3 }}'>
									<select style='width:35px;' name="newAttendanceCode" id='newAttendanceCode_{{ attendance.Pupil.id }}_{{ att.1 }}_{{ att.3 }}'>
									{% for code in AttendanceCodes %}
										{% if att.0 == code.0 %}
										<option selected='selected' value="{{ code.0 }}_{{ att.1 }}_{{ att.2 }}_{{ att.3 }}_{{ attendance.Pupil.id }}">{{ code.0 }} - {{ code.1 }}</option>
										{% else %}
										<option value="{{ code.0 }}_{{ att.1 }}_{{ att.2 }}_{{ att.3 }}_{{ attendance.Pupil.id }}">{{ code.0 }} - {{ code.1 }}</option>
										{% endif %}
									{% endfor %}
									</select>
								</div>
							</form>
						</div>
					</td>
					{% endif %}
					{% endif %}
					{% endfor %}
				</tr>			
				{% endfor %}
				</table>
			</div>
		</div>
	</div>
{% endblock %}
