{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
{% endblock %}
{% load WillowFilters %}
{% block ContentArea %}
		<div>
			<div class="leftMiddle">
				<div class="banner" style="clear:both;height:15px;">
					<div style="float:left;">
						<span style="font-weight:bold;color:lightblue;">Electronic Signatures for use with letters:</span>
					</div>
				</div>
				<script type="text/javascript" src="{% static 'Scripts/angular/angular-file-upload-html5-shim.min.js' %}"></script>
				<script type="text/javascript" src="{% static 'Scripts/angular/angular.min.js' %}"></script>
				<script type="text/javascript" src="{% static 'Scripts/angular/angular-animate.min.js' %}"></script>
				<script type="text/javascript" src="{% static 'Scripts/angular/angular-route.min.js' %}"></script>
				<script type="text/javascript" src="{% static 'Scripts/angular/angular-sanitize.min.js' %}"></script>
				<script type="text/javascript" src="{% static 'Scripts/angular/angular-file-upload.min.js' %}"></script> 
				<script type="text/javascript" src="{% static 'Scripts/electronic-signatures.js'%}"></script>
				
				<link rel="stylesheet" href="{% static 'css/electronic-signatures.css'%}" >
				
				<div ng-app="electronic-signatures" ng-controller="pageController">
					<div ng-view></div>
					<div class="page-mask" ng-show="data.fetchingData"></div>
					<div class="fetching-data" ng-show="data.fetchingData">
						<div class="fetching-data-msg" >Please wait.. <img src="{% static 'images/ajax-loader.gif' %}"></div>
					</div>
				</div>  <!--- close ng-app electronic-signatures --->
			</div>
		</div>			
{% endblock %}
