
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
					Pupil Record : {{ PupilDetails.Forename }} {{PupilDetails.Surname }}
				</div>


			</div>
			<div class="leftBottom">
				<img src="images/left_bottom.jpg" width="800" height="8" />
			</div>
			
{% endblock %}