
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
{% load static from staticfiles %}
<HTML>
	
<HEAD> 
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="html">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>	
	<STYLE TYPE="text/css">
	    body {

        margin-top: 5mm;
        margin-left:5mm;
        margin-right:5mm;
        
        }	
	h1 { font-size: 18pt;
	font-weight:700;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	margin: 1px 1px 1px 1px}
	
	h2 { font-size: 10pt;
	font-weight:300;
	border: 2px solid black;
	margin: 1px 1px 1px 1px;}
	
	h3 { font-size: 12pt;
	font-family: 'Montserrat', sans-serif;
	font-style:italic;
	font-weight:600;
	margin: 1px 1px 1px 1px;}
	
	h4 { font-size: 9pt;}
	
	ol { margin: 1px 1px 1px 1px;}
	
	table { font-size: 8pt;
	font-family: 'Montserrat', sans-serif;
	
	td { height : 26px}
	
	h5 { font-size: 11pt;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;}
	
	.index { font-size: 11pt;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;}
	
	.bold {
		font-weight: bold;
	}
	
	<!--
		@page { margin-left: 1cm; margin-right: 1cm }
		P { margin-bottom: 0.21cm }
		TD P { margin-bottom: 0cm }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-GB" DIR="LTR">
{% for PupilRec in ClassList %}

	<TABLE width=100% cellspacing=0>
	<!-- EPIF header -->
		<tr>
			<td width=25%>
				<table>
					<tr>
						<td><img src="{% static "images/Thomas-s-Letter-logo.bmp" %}" width="350" height="110" alt=""></td>
					</tr>
				</table>
			</td>
			<td width=35%></td>
			<td width=40% align='right'>
				<table border=1 width=100% style="height: 4px; font-size:6pt" >
					<tr>
						<td width=30% style="height: 4px; font-size:6pt"><br></td>
						<td style="height: 4px; font-size:6pt">Inital</td>
						<td style="height: 4px; font-size:6pt">Date</td>
					</tr>
					<tr>
						<td style="height: 4px; font-size:6pt">Main Office:</td>
						<td><br></td>
						<td><br></td>
					</tr>
				</table>
			</td>
		</tr>
	</TABLE>
	

	<!-- EPIF Header Finished -->
	
	
	<h1><u>ESSENTIAL PUPIL INFORMATION FORM ({{AcYear}})</u></h1>
	<h3> Mandatory fields are underlined</h3>

<!-- Base Pupil Info -->
{% include "EPIF_Pupil.html" %}



<!-- Contact Records go in here -->
{% include "EPIF_Contacts.html" %}
<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>

<!-- Address records go in here -->
{% include "EPIF_Addresses.html" %}
{% include "EPIF_Billing.html" %}
{% include "EPIF_car_details.html" %}

<!-- Medical infor -->

{% include "EPIF_Medical_2.html" %}

<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
<br>
<h1><u>Medical Information</u></h1>
<br />
<h3>For any Medical condition not mentioned above, please attach a letter with all relevant details 
including notes from your doctor if applicable</h3>
</div>


<br>

<h3>IMPORTANT</h3>
<h5>
<ul style="list-style-type:upper-roman">
<li>Is your child receiving any medical treatment or taking any regular medicine for an acute condition?<p></li>
<li>If 'Yes' to the above, please give details and attach<p></li>
<ul style="list-style-type:lower-alpha">
<li>A Doctor's letter detailing the treatment.<p></li>
<li>The <b>"Request for the administration of Long Term or Acute (Emergency) medicine in school" </b>
form in order for the school to oversee the administration of any drug during the school day.  
This includes the use of Inhalers/EpiPens/Regular daily medicines.  
Forms are to be obtained from the School Office. 
<p>For other medicines, such as a short course of Antibiotics, 
a consent form must be completed at the time in the School Office.<p></li>
<li>Please check that all personal medicines in school are labelled and in date, with circumstance/dosage 
clearly indicated on them. <p>

<b>Lower School:</b> Medicines are kept in a designated area within the School. Lower School Children may not carry their own drugs.<p>

<b>Middle and Upper School:</b>  An 'acute' drug (e.g. Inhaler/Epipen/Glucose), may be carried on a child, for emergency situations 
only after permission is given by the School.  Please ensure that the School Office has a spare (seconds) for back-up in an 
emergency situation.  It is the child's responsibility to remember to take such a drug usually carried on his/her person on 
all trips out of the school.<p></li>
<li>A letter must also be attached to this form, if your child has recently been exposed to any infectious disease.</li>
</ul>
<li style="padding-top: 15px">Please note below any other <span class="bold">medical, dietary, allergy</span> or <span class="bold">medication</span> information that the School should be aware of.</li>
<table style="margin:20px">
	<tr>
		<td style="color: white; border: 1px solid black; width:1000px; height:250px">{{PupilRec.Extended.pupils_medical_details.0}}</td>
	</tr>
</table>
</ul>


</h5>

<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>

<br>
</div>
<div style='border:double; width=675px'>
<h1><u>DECLARATION</U></h1>
<h5>
<ul style="list-style-type:upper-roman">
<li>In the event of a high temperature, or onset of illness at school,
I/We give permission for medication (Paracetamol based) to be administered to
reduce symptoms, Parent/guardian's will be informed. <p></p></li>
<li>I/We give permission for the use of sensitive plasters and antiseptic wipes, should this be necessary.<p></p></li>
<li>I/We give consent for my child to be changed and cleaned by staff if he/she wets/soils him/herself while in the care of Thomas’s School (as in line with the Intimate Care Policy).</li>
<li>I/We wish my son/daughter to be allowed to take part in any school journeys or residential
trips in Great Britain. (A separate consent form will be issued for trips overseas).
I/We understand that while the school staff in charge of any trip will take all reasonable
care of the children, they cannot necessarily be held responsible for any loss, damage or
injury suffered by my son/daughter, which occurs as a result of the school journey.
I/We also understand that in the event of an accident, should neither signatory be contactable,
the school will undertake to be the signatory to give permission for such medical operations and 
anaesthetic as become necessary for my child.<p></p></li>
<li>I/We understand that the School (through the Head as the person responsible)
may obtain, process and hold personal information about our child, including
sensitive information such as medical details, and we consent to this in order to safeguard and promote
the welfare of the child.<p></p></li>
<li>I/We confirm that to the best of our knowledge and belief all the information that we 
have given on this form is true, complete and accurate.</li>
</h5>
<table width=100% align='center'>
<p><br><br><br><br><br><br><br><br><br><br></p>
<tr><td style='text-decoration:overline' align='center'><h3>Signature of parent 1/legal guardian<h3></td><td align='center' style='text-decoration:overline'><h3>Signature of parent 2/legal guardian</h3></td></tr>
<tr><td style='text-decoration:overline' align='center'><h3><br><h3></td><td align='center' style='text-decoration:overline'><h3><br></h3></td></tr>
<tr><td style='text-decoration:overline' align='center'><h3><br><h3></td><td align='center' style='text-decoration:overline'><h3><br></h3></td></tr>
<tr><td style='text-decoration:overline' align='center'><h3><br><h3></td><td align='center' style='text-decoration:overline'><h3><br></h3></td></tr>
<tr><td style='text-decoration:overline' align='center'><h3>Date &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp;<h3></td><td align='center' style='text-decoration:overline'><h3>Date &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp;</h3></td></tr>
</table>
</div>
	{% if not forloop.last %}
	<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
	{% endif %}
{% endfor %}
</BODY>
</HTML>
