
<!-- include EPIF_Billing. Puts in the billing Address -->
{% load static from staticfiles %}
{% with Address=pupilRecs.FamilyRecord.BillingAddress %}
	<table align=center width=100%>
		<tr>
			<td width=45%>
				<!-- computer generated info goes here here -->
				<b>Billing Address</b>
				<table width=100% Border=1 bgcolor='lightsteelblue'>
					<tr>
						<td width=30%><u>Home Salutation</u></td>
						<td>{{ Address.HomeSalutation }}<br></td>
					</tr>
					<tr>
						<td><u>Postal Title</u></td>
						<td>{{ Address.PostalTitle}}</td>
					</tr>
					<tr>
						<td style="height: 75px"><u>Home Address</u></td>
						<td>{{Address.AddressLine1}}<br>{{Address.AddressLine2}}
						{% if Address.AddressLine3 %}<br>{{Address.AddressLine3}}{% endif %} 
						{% if Address.AddressLine4 %}<br>{{Address.AddressLine4}}{% endif %}
						<br>{{ Address.PostCode }}{% if Address.Country %}<br>{{Address.Country}}{% endif %}</td>
					</tr>
					<tr>
						<td><u>Email</u></td><td>{{Address.EmailAddress}}<br></td>
					</tr>
				</table>
			</td>
			<td width=2%><!-- blank space --></td>
			<td width=53%><!-- blank space to add info here -->
			<br>
				<table width=100% Border=1>
					<tr>
						<td width=26%><u>Home Salutation</u></td>
						<td><br></td>
					</tr>
					<tr>
						<td><u>Postal Title</u></td>
						<td><br></td>
					</tr>
					<tr>
						<td style="height: 75px"><u>Postal Address</u></td>
						<td><br></td>
					</tr>
					<tr>
						<td><u>Email</u></td>
						<td><br></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
{% endwith %}
