
{% for contactRec in PupilRec.EmergencyContacts %}
{% load static from staticfiles %}
{% if contactRec.Record.Relationship.Type != 'Doctor' %}
{% if forloop.counter <= 4 %}
{% if PupilRec.EmergencyContacts.2.Record.Relationship.Type != 'Doctor' and PupilRec.EmergencyContacts.2.Record.Relationship.Type != 'Doctor' and forloop.counter == 4 %}
{% else %}
	<table align=center width=100%>
		<tr>
			<td width=45%>
				<b>Emergency Contact {{ forloop.counter}}</b>
				<table width=100% Border=1 bgcolor='lightsteelblue'>
					<tr>
						<td width=30%><u>Name</u></td>
						<td>{{ contactRec.Record.Contact.FullName }}<br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Relationship to Child</u>
						</td>
						<td>{{ contactRec.Record.Relationship.Type }}<br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Mobile</u>
						</td>
						<td>{{ contactRec.Extended.mobileNumber.0}}<br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Email</u>
						</td>
						<td>{{ contactRec.Record.Contact.EmailAddress}}<br>
						</td>
					</tr>
					<tr>
						<td>
							Nationality
						</td>
						<td>{{ contactRec.Extended.Nationality.0}}<br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Company)
						</td>
						<td>{{ contactRec.Extended.occupation.0}}<br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Mobile prefered)
						</td>
						<td>{{ contactRec.Extended.WorkPhone.0}}<br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Email)
						</td>
						<td>{{ contactRec.Extended.WorkEmail.0}}<br>
						</td>
					</tr>
					<tr>
						<td>
							Occupation
						</td>
						<td>{{ contactRec.Extended.JobType.0}}<br>
						</td>
					</tr>
				</table>
			</td>
			<td width=2%>
				<!-- blank space -->
			</td>
			<td width=53%>
				<!-- blank space to add info here -->
				<br>
				<table width=100% Border=1>
					<tr>
						<td width=26%>
							<u>Name</u>
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Relationship to Child</u>
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Phone</u>
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Email</u>
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Nationality
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Company)
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Mobile prefered)
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Email)
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Occupation
						</td>
						<td>
							<br>
						</td>
					</tr>

				</table>
			</td>
		</tr>
	</table>
{% endif %}
{% endif %}
{% endif %}
{% endfor %}


{%  if PupilRec.EmergencyContacts|length < 1  %}
	<table align=center width=100%>
		<tr>
			<td width=45%>
				<b>Emergency Contact 1</b>
				<table width=100% Border=1 bgcolor='lightsteelblue'>
					<tr>
						<td width=30%><u>Name</u></td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Relationship to Child</u>
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Phone</u>
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Email</u>
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							Nationality
						</td>
						<td>{{ contactRec.Record.Extended.WorkType.0}}<br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Work (Company)</u>
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Work (Phone)</u>
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Work (Email)</u>
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Work (Type)</u>
						</td>
						<td><br>
						</td>
					</tr>
				</table>
			</td>
			<td width=2%>
				<!-- blank space -->
			</td>
			<td width=53%>
				<!-- blank space to add info here -->
				<br>
				<table width=100% Border=1>
					<tr>
						<td width=26%>
							Name
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Relationship to Child
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Phone
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Email
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Nationality
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Company)
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Phone)
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Email)
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Type)
						</td>
						<td>
							<br>
						</td>
					</tr>

				</table>
			</td>
		</tr>
	</table>
{% endif %}

{%  if PupilRec.EmergencyContacts|length < 2  %}
	<table align=center width=100%>
		<tr>
			<td width=45%>
				<b>Emergency Contact 2</b>
				<table width=100% Border=1 bgcolor='lightsteelblue'>
					<tr>
						<td width=30%><u>Name</u></td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Relationship to Child</u>
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Phone</u>
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Email</u>
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							Nationality
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Company)
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Phone)
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Email)
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Type)
						</td>
						<td><br>
						</td>
					</tr>
				</table>
			</td>
			<td width=2%>
				<!-- blank space -->
			</td>
			<td width=53%>
				<!-- blank space to add info here -->
				<br>
				<table width=100% Border=1>
					<tr>
						<td width=26%>
							Name
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Relationship to Child
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Phone
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Email
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Nationality
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Company)
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Phone)
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Email)
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Type)
						</td>
						<td>
							<br>
						</td>
					</tr>

				</table>
			</td>
		</tr>
	</table>
{% endif %}


{%  if PupilRec.EmergencyContacts|length < 3  %}
	<table align=center width=100%>
		<tr>
			<td width=45%>
				<b>Emergency Contact 3</b>
				<table width=100% Border=1 bgcolor='lightsteelblue'>
					<tr>
						<td width=30%><u>Name</u></td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Relationship to Child</u>
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Phone</u>
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Email</u>
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							Nationality
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Work (Company)</u>
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Work (Phone)</u>
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Work (Email)</u>
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Work (Type)</u>
						</td>
						<td><br>
						</td>
					</tr>
				</table>
			</td>
			<td width=2%>
				<!-- blank space -->
			</td>
			<td width=53%>
				<!-- blank space to add info here -->
				<br>
				<table width=100% Border=1>
					<tr>
						<td width=26%>
							<u>Name</u>
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Relationship to Child</u>
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Phone</u>
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							<u>Email</u>
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Nationality
						</td>
						<td><br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Company)
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Phone)
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Email)
						</td>
						<td>
							<br>
						</td>
					</tr>
					<tr>
						<td>
							Work (Type)
						</td>
						<td>
							<br>
						</td>
					</tr>

				</table>
			</td>
		</tr>
	</table>
{% endif %}
