
<!--
{% load static from staticfiles %}
 import EPIF_Medical.html
 
 Medical info form for the EPIf forms
   
   
-->

<br>
<b><u>IMPORTANT</u><b>
<h5>
<ul style="list-style-type:upper-roman">
<li>Parents must inform the school office of the person who is in loco parentis whenever they are away from home.<p></li>
<li>A copy of the Essential Pupil Information form will be issued for parents to make any amendments  AT THE BEGINNING OF EACH ACADEMIC YEAR. 
If there has been any change in a pupil's details, such as a new address, child care arrangements or alteration in current 
medication provision (such as use of an inhaler/Epipen etc) during the past academic year, parents must inform the school 
office.</li>
</ul>
</h5>
<!-- page 3 of the report -->
<h1><u>Medical Information</u></h1>
<table align=center width=100%>
<tr>
<td width=45%>
<!-- computer generated info goes here here -->
<b>Doctor</b>
	<table width=100% Border=1 bgcolor='lightsteelblue'>
		<tr>
			<td width=30%>
				Name
			</td>
			<td>
				{{PupilRec.Extended.DoctorName.0}}<br>
			</td>
		</tr>
		<tr>
			<td>
				Telephone
			</td>
			<td>
				{{PupilRec.Extended.DoctorPhone.0}}<br>
			</td>
		</tr>
		<tr>
			<td style="height: 75px">
				Address
			</td>
			<td>
				{{PupilRec.Extended.DoctorAddress.0}}<br>
			</td>
		</tr>
		<tr>
			<td style="height: 75px">
				Doc Notes
			</td>
			<td>
				{{PupilRec.Extended.DoctorNotes.0}}<br>
			</td>
		</tr>
</table>
<td width=2%><!-- blank space --></td>
<td width=53%><!-- blank space to add info here -->
<br>
<table width=100% Border=1>
<tr><td width=26%>Name</td><td><br></td></tr>
<tr><td>Telephone</td><td><br></td></tr>
<tr><td style="height: 75px">Address</td><td><br></td></tr>
<tr><td style="height: 75px">Notes</td><td><br></td></tr>
</table>
</td>
</td>
</tr>
</table>
