
	<!-- car details -->
{% load static from staticfiles %}
	<table align=center width=100%>
		<tr>
			<td width=45%>
				<b>Car 1</b>
				<table width=100% Border=1 bgcolor='lightsteelblue'>
					<tr>
						<td style="width:30%;">Registration</td>
						<td><br /></td>
					</tr>
				</table>
			</td>
			<td width=2%><!-- blank space --></td>
			<td width=53%><!-- blank space to add info here -->
			<br>
				<table width=100% Border=1>
					<tr>
						<td style="width:26%;">Registration</td>
						<td><br /></td>
					</tr>				
				</table>
			</td>
		</tr>
	</table>
	<table align=center width=100%>
		<tr>
			<td width=45%>
				<b>Car 2</b>
				<table width=100% Border=1 bgcolor='lightsteelblue'>
					<tr>
						<td style="width:30%;">Registration</td>
						<td><br /></td>
					</tr>
				</table>
			</td>
			<td width=2%><!-- blank space --></td>
			<td width=53%><!-- blank space to add info here -->
			<br>
				<table width=100% Border=1>
					<tr>
						<td style="width:26%;">Registration</td>
						<td><br /></td>
					</tr>				
				</table>
			</td>
		</tr>
	</table>
			<table align=center width=100%>
		<tr>
			<td width=45%>
				<b>Car 3</b>
				<table width=100% Border=1 bgcolor='lightsteelblue'>
					<tr>
						<td style="width:30%;">Registration</td>
						<td><br /></td>
					</tr>
				</table>
			</td>
			<td width=2%><!-- blank space --></td>
			<td width=53%><!-- blank space to add info here -->
			<br>
				<table width=100% Border=1>
					<tr>
						<td style="width:26%;">Registration</td>
						<td><br /></td>
					</tr>				
				</table>
			</td>
		</tr>
	</table>	
