
<!--
{% load static from staticfiles %}
 EPIF_Pupil.html
 
 Include file for the base Pupil info
   
   
-->

	<table align=center width=100%>
		<tr>
			<td width=45%>
			<!-- computer generated info goes here here -->
				<b>Pupil Information</b>
				<table width=100% Border=1 bgcolor='lightsteelblue'>
					<tr>
						<td width=30%><u>Surname</u></td>
						<td>{{ PupilRec.Pupil.Surname}}<br></td>
					</tr>
					<tr>
						<td> <u>First and middle names</u></td>
						<td> {{ PupilRec.Pupil.FirstName}} {{ PupilRec.Pupil.OtherNames}} <br></td>
					</tr>
					<tr>
						<td><u>Date of Birth</u></td>
						<td>{{ PupilRec.Pupil.DateOfBirth|date:"jS N Y" }}<br></td>
					</tr>
					<tr>
						<td><u>Form</u></td>
						<td>{{ PupilForm }}<br></td>
					</tr>
					<tr>
						<td><u>Left Handed</u></td>
						<td><br></td>
					</tr>					
				</table>
			</td>
			<td width=2%><!-- blank space --></td>
			<td width=53%><!-- blank space to add info here -->
				<h3>Enter updated information here</h3>
				<table width=100% Border=1>
					<tr>
						<td width=26%><u>Surname</u></td>
						<td><br></td>
					</tr>
					<tr>
						<td> <u>First and middle names</u></td>
						<td><br></td>
					</tr>
					<tr>
						<td><u>Date of Birth</u></td>
						<td><br></td>
					</tr>
					<tr>
						<td><u>Current Form</u></td>
						<td><br></td>
					</tr>
					<tr>
						<td><u>Left Handed</u></td>
						<td><br></td>
					</tr>					
				</table>
			</td>
		</tr>
	</table>
