
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">
function checkform()
{

	if (document.getElementById('NoteTextArea').value.length > 45)
	{
		return true;
	}
	else
	{
		alert("Your text is not long enough");
		return false;
	}
}
</script>
{% endblock %}
{% block ContentArea %}
			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% endif %}
					{{ BannerTitle }}
				</div>			
		<div class='NoteBody'>
			<table>
				<tr>
					<form class="SearchForm" action="/WillowTree/{{ school }}/{{ AcYear }}/FindFamilies/" onsubmit="return checkform()" method="post" name="PupilNote"> 
						{% csrf_token %}
						<td><label>Search by Postcode:</label></td><td><input type='text' id='Postcode' name='Postcode'></td>
						<td><input type="submit" id="Submit" name="save" value="Submit" autofocus='autofocus'></td>					
					</form>
				</tr>
				<tr>
					<form class="SearchForm" action="/WillowTree/{{ school }}/{{ AcYear }}/FindFamilies/" onsubmit="return checkform()" method="post" name="PupilNote"> 
						{% csrf_token %}
						<td><label>Search by Family Name:</label></td><td><input type='text' id='Surname' name='Surname'></td>
						<td><input type="submit" id="Submit" name="save" value="Submit" autofocus='autofocus'></td>					
					</form>
				</tr>
				<tr>
					<form class="SearchForm" action="/WillowTree/{{ school }}/{{ AcYear }}/FindFamilies/" onsubmit="return checkform()" method="post" name="PupilNote"> 
						{% csrf_token %}
						<td><label>Search by Contact Surname:</label></td><td><input type='text' id='Contact' name='Contact'></td>
						<td><input type="submit" id="Submit" name="save" value="Submit" autofocus='autofocus'></td>					
					</form>
				</tr>	
				<tr>
					<form class="SearchForm" action="/WillowTree/{{ school }}/{{ AcYear }}/FindFamilies/" onsubmit="return checkform()" method="post" name="PupilNote"> 
						{% csrf_token %}
						<td><label>Search by Contact Car registration:</label></td><td><input type='text' id='car_reg_details' name='car_reg_details'></td>
						<td><input type="submit" id="Submit" name="save" value="Submit" autofocus='autofocus'></td>					
					</form>
				</tr>								
			</table>
		</div>
	</div>
{% endblock %}
