
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% endif %}
					{{ BannerTitle }}
				</div>
			<table class="WillowTable1">
			<tr>
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/a">|a|</a></td>
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/b">|b|</a></td>
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/c">|c|</a></td>
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/d">|d|</a></td>	
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/e">|e|</a></td>
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/f">|f|</a></td>
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/g">|g|</a></td>
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/h">|h|</a></td>	
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/i">|i|</a></td>
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/j">|j|</a></td>
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/k">|k|</a></td>
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/l">|l|</a></td>	
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/m">|m|</a></td>
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/n">|n|</a></td>
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/o">|o|</a></td>
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/p">|p|</a></td>	
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/q">|q|</a></td>
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/r">|r|</a></td>
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/s">|s|</a></td>
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/t">|t|</a></td>	
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/u">|u|</a></td>
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/v">|v|</a></td>
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/w">|w|</a></td>
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/x">|x|</a></td>				
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/y">|y|</a></td>
			<td class="WillowTableHeader"><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewApplicant/{{ GroupName }}/z">|z|</a></td>				</tr>
</table>			
				<table class="WillowTable1">
			<tr><td class="WillowTableHeader">Family Name</td>
			<td class="WillowTableHeader">Postal Addresses</td>
			<td class="WillowTableHeader">Use this Family?</td><tr>
			{% for Families in FamilyDetails %}
			<tr>
			<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" >{{ Families.FamilyName }}</td>
			<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" >
				{% for Address in Families.Addresses %}
					{{ Address }}<br>
					{% endfor %} </td>
			<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" >
			<form action="/WillowTree/{{ school }}/{{AcYear}}/{{ TriggerAction}}/{{ Families.FamilyId }}/" method="post">
			<input type='submit' value='Select'/>
			{% csrf_token %}
			</form>
			&nbsp&nbsp</td>
			</tr>
			{% endfor %}
			<tr><td class="WillowTableNewRow">*** NEW FAMILY ***</td>
			<td class="WillowTableNewRow"><br></td>
			<td class="WillowTableNewRow">
			<form action="/WillowTree/{{ school }}/{{AcYear}}/{{ TriggerAction}}/NewFamily/" method="post">
			<input type='submit' value='Select' /><br><br>
			{% csrf_token %}
			</form>
			</td>
			</tr>	
			
			</table>

			<br><br>
			<h2> WARNING: Please remember to select a family for a child who's family are already
			known to Thomas's. Creation of a second family record WILL cause issues </h2>

			</div>

			
{% endblock %}
