
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block ContentArea %}
<!-- pop out code -->
<script>
{% include "popOutJavaScript.js" %}
</script>
        <div>
                <div class="leftMiddle">
                                <div class="banner">
                                {% if errmsg %}
                                <b>{{ errmsg }}</b>
                                {% endif %}
                                                {{ BannerTitle }}
                                </div>

                <table class="WillowTable1">
                <tr><td class="WillowTableHeader">Family Name</td>
                <td class="WillowTableHeader">Postal Addresses</td><tr>
                {% for Families in FamilyList %}
                <tr>
                <td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" ><a href="/WillowTree/{{ school }}/{{ AcYear }}/EditFamily/{{ Families.id }}/">{{ Families.FamilyName }}</a></td>
                <td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" >
                                {% for Address in Families.Address.all %}
                                                <span style="font-weight:bold;">{{ Address.HomeSalutation }}, {{ Address.AddressLine1 }}, {{ Address.AddressLine2 }}, {{ Address.PostCode }}</span><br>
                                                {% endfor %}
                 children: ({% for pupils in Families.familychildren_set.all%}<a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ pupils.Pupil.id }}/">{{ pupils.Pupil.FullName }}</a>, {% endfor %})</td>
                </tr>
                {% endfor %}
                </table>
                <div class="LetterMain">
                                {% include "CreateNewFamily.html" %}
                </div>
                <a href="#login-box" class="login-window">Create New Family</a>
        </div>
{% endblock %}
