
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
					Family Record:{{ FamilyDetails.FamilyId.FamilyName }}
				</div>
				<h1>Postal Details</h1>
				{% for Address in FamilyDetails.FamilyId.Address.all %}
				<table width=50%>
				<tr><td class='dataLabel'>Home Salutation</td><td class='dataSmallItem' >{{ Address.HomeSalutation }}</td></tr>
				<tr><td class='dataLabel'>Postal Title</td><td class='dataSmallItem'>{{ Address.PostalTitle }}</td></tr>
				<tr><td class='dataLabel'>Address</td><td class='dataSmallItem'>{{ Address.AddressLine1 }}<br> {{ Address.AddressLine2 }},<br>{{ Address.AddressLine3 }},<br> {{ Address.AddressLine4 }},<br>
				<br>{{ Address.PostCode }}</td></tr>
				<tr><td class='dataLabel'>Phone Number/s</td><td class='dataSmallItem'> {{ Address.Phone1 }} {% if Address.Phone2 %}<br>{{ Address.Phone2 }} 
				{% endif %}
				{% if Address.Phone3 %}<br>{{ Address.Phone3 }}
				{% endif %}</td></tr>
				<tr><td class='dataLabel'>Email</td><td class='dataSmallItem'>{{ Address.EmailAddress }}</td></tr>
				<tr><td class='dataLabel'>Notes</td><td class='dataSmallItem'>{{ Address.Notes }}</td></tr>
				</table>
				<div class="divider"></div>
				{% endfor %}
				<h1>Family Contacts</h1>
				{% for Contacts in FamilyDetails.FamilyContacts %}
				<table width=50%>
				<tr><td class='dataLabel'>Priority</td><td class='dataSmallItem' >{{ Contacts.Priority }}</td></tr>
				<tr><td class='dataLabel'>Relationship</td><td class='dataSmallItem'>{{ Contacts.Relationship.Type }}</td></tr>				
				<tr><td class='dataLabel'>Name</td><td class='dataSmallItem'>{{ Contacts.Contact.Title }} {{ Contacts.Contact.Forename }} {{ Contacts.Contact.Surname }}</td></tr>
				<tr><td class='dataLabel'>Address</td><td class='dataSmallItem'>{{ Contacts.Contact.Address.all.0.PostalTitle }}<br>{{ Contacts.Contact.Address.all.0.AddressLine1 }}<br>{{ Contacts.Contact.Address.all.0.AddressLine2 }}<br>{{ Contacts.Contact.Address.all.0.AddressLine3 }}<br>{{ Contacts.Contact.Address.all.0.AddressLine4 }}<br>{{ Contacts.Contact.Address.all.0.PostCode }} </td></tr>
				<tr><td class='dataLabel'>Phone1</td><td class='dataSmallItem'>{{ Contacts.Contact.Address.all.0.Phone1 }}</td></tr>
				<tr><td class='dataLabel'>Phone2</td><td class='dataSmallItem'>{{ Contacts.Contact.Address.all.0.Phone2 }}</td></tr>
				<tr><td class='dataLabel'>Phone3</td><td class='dataSmallItem'>{{ Contacts.Contact.Address.all.0.Phone3 }}</td></tr>		
				<tr><td class='dataLabel'>Email Address</td><td class='dataSmallItem'>{{ Contacts.Contact.Address.all.0.EmailAddress }}</td></tr>										
				</table>
				<div class="divider"></div>
				{% endfor %}
				
								<div class="divider"></div>

								
				<h1>Children Attached to this Family</h1>
				<table width=50%>				
				{% for Children in FamilyDetails.FamilyPupils %}

				<td class='dataLabel'>Name:</td>
				<td class='dataSmallItem'>
					
				<a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{Children.Pupil.id}}/">
				{{ Children.Pupil.FullName }} </a>
				</td>
				<td>
					{% for alert_items in Children.ActivePupilAlerts %}
						 {% for alerts in alert_items %}
							<img style="float:left" id="img_{{alerts.id}}" src="{{ MEDIA_REDIRECT }}{{alerts.AlertType.Icon}}" width="35" height="35"/>
							<span dojoType="dijit.Tooltip" connectId="img_{{alerts.id}}" style="display:none">
							<b>Alert Type:</b> {{alerts.AlertType.AlertGroup.Name }} ({{alerts.AlertType.Name}})<br>
							<b>Start Date:</b> {{alerts.StartDate}}<br>
							{{alerts.AlertDetails|safe}}</span>

						{% endfor %}
					{% endfor %}
				
				</td></tr>


				{% endfor %}
				</table>				
				<div class="divider"></div>	
				</div>
				
	


			
{% endblock %}
