
		<h1> Filter form (click filter again to clear)</h1>
{% load static from staticfiles %}
		<table border=1  class='center' style='border-collapse:collapse'>
			<tr>
				<td width=70% style='padding:5px'>
				
					<table border=1 class='center' style='border-collapse:collapse'>
						{% for Words in KWList.All %}
						{% if forloop.counter0|divisibleby:"5" %}</tr><tr>{% endif %}
						<td style='padding:3px'><span id='{{Words.Keyword}}' onClick="SelectKeyword('{{Words.Keyword}}')">{{ Words.Keyword }}</span>
						</td>
						{% endfor %}				
					</table>
				</td>
				<td style='padding:5px'>
					<div style="text-align:left;padding:5px;">
					Start Date<br>
					<input type='text' name="StartDate" id="StartDate" size="11" dojoType="dijit.form.DateTextBox"/></br>
					Stop Date<br>
					<input type='text' name="StopDate" id="StopDate" size="11" dojoType="dijit.form.DateTextBox"/></br>
					</div>
					<div style="padding: 0px 10px 0px 0px;">
					<input type="submit" name="filter" value="Filter">
					</div>
				</td>
			</tr>
		</table>
					<div class="divider"></div>	
		<input type='text' name='PupilNo' value='{{PupilDetails.Pupil.id}}'/ style="display:none;">				
		<select multiple="multiple" id="KWSelect" name="KWSelect" style="display:none;">
				{% for words in KWList.All %}
					<option>{{ words.Keyword }}</option>
				{% endfor %}
		</select>
				<h1> Recorded Notes in Date order ( Filters : {{ Filters }})</h1>
