
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">
	var ArrayKW = new Array ();
	{% for words in KWList %}
		ArrayKW.push("{{ words.Keyword }}");
	{% endfor %}

function SelectKeyword(KW)
{
	var KWobject=document.getElementById(KW);
	var KWSelectObject=document.getElementById('KWSelect');
	
	if ( KWobject.style.backgroundColor == '')
	{
		KWobject.style.backgroundColor="#ADA96E";
		KWSelectObject.options[ArrayKW.indexOf(KW)].selected=true;
		
	}
	else
	{
		KWobject.style.backgroundColor='';
		KWSelectObject.options[ArrayKW.indexOf(KW)].selected=false;
	}
}	
	
</script>
{% endblock %}



{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% endif %}
					Select Notes for {{ GroupName }}
				</div>
	<form class="UpdateAlertsForm" action="/WillowTree/{{ school }}/{{ AcYear }}/FilterNotes/Group/" method='post'>{% csrf_token %}	
		<h1> Filter form (click filter again to clear)</h1>
		<table border=1  class='center' style='border-collapse:collapse'>
			<tr>
				<td width=70% style='padding:5px'>
				
					<table border=1 class='center' style='border-collapse:collapse'>
						{% for Words in KWList %}
						{% if forloop.counter0|divisibleby:"5" %}</tr><tr>{% endif %}
						<td style='padding:3px'><span id='{{Words.Keyword}}' onClick="SelectKeyword('{{Words.Keyword}}')">{{ Words.Keyword }}</span>
						</td>
						{% endfor %}				
					</table>
				</td>
				<td style='padding:5px'>
					<div style="text-align:left;padding:5px;">
					Start Date<br>
					<input type='text' name="StartDate" id="StartDate" size="11" dojoType="dijit.form.DateTextBox"/></br>
					Stop Date<br>
					<input type='text' name="StopDate" id="StopDate" size="11" dojoType="dijit.form.DateTextBox"/></br>
					</div>
					<div style="padding: 0px 10px 0px 0px;">
					<input type="submit" name="filter" value="Filter">
					</div>
				</td>
			</tr>
		</table>
					<div class="divider"></div>	
		<input type='text' name='GroupName' value='{{ GroupName }}'/ style="display:none;">				
		<select multiple="multiple" id="KWSelect" name="KWSelect" style="display:none;">
				{% for words in KWList %}
					<option>{{ words.Keyword }}</option>
				{% endfor %}
		</select>
		</form>



			</div>

			
{% endblock %}
