
<div id="FilterPupilNotes" class="login-popup">
{% load static from staticfiles %}
{% if achievementsOnly %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/FilterAchievementNotes/Pupil/"  method="post">
{% else %}	
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/FilterStandardNotes/Pupil/"  method="post">	
{% endif %}			
		<div class='bannerDialog'>
			Filter Notes...
		</div>
		{% load WillowFilters %}
		{% csrf_token %}
		<div>
			<div style="width:675px;">
				<div class='RecordFormCRight3'>
					<div class="table-wrapper">
						<div class="table-scroll" style="height:250px;">
							<table>
								<tbody>	
								{% if achievementsOnly %}
									{% for Words in KWList.achievementKeywordsOnly %}
									{% if forloop.counter0|divisibleby:"3" %}</tr><tr>{% endif %}
										<td style="background-color:#EAF0E0;"><span style="cursor:pointer;" id='{{Words}}' onClick="SelectFilterKeyword('{{Words}}')">{{ Words }}</span></td>
									{% endfor %}								
								{% else %}
									{% for Words in KWList %}
									{% if forloop.counter0|divisibleby:"3" %}</tr><tr>{% endif %}
										<td style="background-color:#EAF0E0;"><span style="cursor:pointer;" id='{{Words}}' onClick="SelectFilterKeyword('{{Words}}')">{{ Words }}</span></td>
									{% endfor %}
								{% endif %}
								</tbody>
							</table>
						</div>
					</div>											
				</div>
				<div style="float:left;">
					<div>
						<div style="text-align:left;padding:5px;">
							Start Date<br>
							<input class='datepicker' readonly='true' type='text' name="StartDate" id="StartDate" size="11"/></br>
							Stop Date<br>
							<input class='datepicker' readonly='true' type='text' name="StopDate" id="StopDate" size="11"/></br>
						</div>
					</div>
					<div style="text-align:center;"> 
						<input style="padding-top:5px;padding-bottom:5px;;margin-bottom:75px;" type="submit" name="filter" value="Filter">
					</div>
					<div style="float:right;">
						<button type="button" class='close2'>Cancel</button>
					</div>
				</div>
				<div>
					<input type='text' name='PupilNo' value='{{PupilDetails.Pupil.id}}'/ style="display:none;">				
					<select multiple="multiple" id="KWSelect" name="KWSelect" style="display:none;">
							{% if achievementsOnly %}
								{% for words in KWList.achievementKeywordsOnly %}
									<option>{{ words }}</option>
								{% endfor %}							
							{% else %}
								{% for words in KWList %}
									<option>{{ words }}</option>
								{% endfor %}
							{% endif %}
					</select>
				</div>
			</div>
		</div>
	</form>
</div>
