
			{% csrf_token %}
{% load static from staticfiles %}
			<script type="dojo/on" data-dojo-event="reset">
				return confirm('Press OK to reset widget values');
			</script>
			<script type="dojo/on" data-dojo-event="submit">
				overlay('screenlock');
				if(this.validate()){
					return true;
				}else{
					overlay('screenlock');
					return false;
				}
				return true;
			</script>	
