
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
{% endblock %}
{% block ContentArea %}
<script>
{% include "datePickerCode.js" %}
</script>
	<div>
		<div class="leftMiddle">
			<div class="banner">
				<span style="font-weight:bold;color:lightblue;">Weekly Staff Attendence Report Generator:</span>
			</div>
			<div style="text-align:center;">
				<form action="/WillowTree/{{ AcYear }}/staff_attendance/weekly_report/" method="post" target='_blank'> 
					{% csrf_token %}
					<h1>Please Select a Staff Group...</h1>
					<!-- staff groups -->
					<div style="margin:25px 275px 25px 275px;background-color:#F0F0F0;padding:20px;">
						<select name="staff_group">
							{% for group in staff_groups %}
								<option value="{{ group.Name }}">{{ group.Name }}</option>
							{% endfor %}
						</select><br />							
					</div>
					<h1>And a start date for your report...</h1>
					<!-- date thingy -->
					<div style="margin:25px 275px 25px 275px;background-color:#F0F0F0;padding:20px;">
						<input class='datepicker' readonly='true' type="text" name="date_given" value="{{ start_date }}"/><br />
					</div>
					<!-- submit -->
					<button type="submit">Submit</button><br />	
				</form>
			</div>
		</div>
	</div>
{% endblock %}
