
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block ContentArea %}
<script>
{% include "popOutJavaScript.js" %}

function go_to_var()
{
	var go_to_var_var = document.getElementById('go_to_var');
	var go_to_var_value = go_to_var_var.options[go_to_var_var.selectedIndex].value;	
	var go_to_var_div = 'go_to_var_'+go_to_var_value;
	document.getElementById(go_to_var_div).scrollIntoView();
}

</script>

</script>
<div class="leftMiddle">
	<div class="banner">
		<div>
			{% if SystemVariableTrue %}
			System Variables...
			{% else %}
			Yearly Variables...
			{% endif %}
		</div>
	</div>	
	
	<div>
		<div class="RecordFormBody" style="height:40px;width:99%;">
			<div style="float:left;font-weight:normal;margin:7px 5px 5px 5px;">
				<span style="font-weight:bold;">Go to </span>		
				<select id="go_to_var" name="go_to_var" style="max-width:300px;" onChange='go_to_var();'>
				{% for variable in GlobalVariables %}
					<option value="{{ variable.Variable.id }}">{{ variable.Variable.Name }}</option>
				{% endfor %}
				</select>						
			</div>						
		</div>
	</div>			
	
	<div class="GlobalVariablesContainer">
		<div class="table-scroll2" style="98%;">
		{% for variable in GlobalVariables %}
			<table class="GlobalVariablesTable" id="go_to_var_{{ variable.Variable.id }}">
				<tbody>					
					<tr>
						<td class="GlobalVariablesTableTd">{{ variable.Variable.Name }}:</td><td class="GlobalVariablesTableButton"><button type='button' id="#GlobalVariablesEdit_popout{{ variable.id }}" class="login-window2"><span class="GlobalVariablesTableButtonSpan">Modify</span></button></td>
						{% include "includes/GlobalVariablesEdit_popout.html" %}
					</tr>
					
					<tr>
						<td colpan="2" class="GlobalVariablesTableTd"><span style="color:blue;">{% if variable.Data %}{{ variable.Data }}{% else %}<br />{% endif %}</span></td>
					</tr>	
				</tbody>
			</table>					
			{% endfor %}								
		</div>							
	</div>
</div>
{% endblock %}
