
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
{% endblock %}
{% block ContentArea %}
	<div>
		<div class="leftMiddle">
			<div class="banner">
				<span style="font-weight:bold;color:lightblue;">GRADE:</span>
			</div>
			<div>
                <form action="/WillowTree/{{ school }}/{{ AcYear }}/GradeInputIntermediate/Group/{{ GroupName }}/" method="post">
					{% csrf_token %}
					<div style="text-align:center;margin:100px 0 100px 0;">
					<div style="margin-bottom: 25px;"><h1> Grade {{ GroupName }}?</h1></div>
					<!-- grade reports -->
                    <select id="GradeRecordId" name="GradeRecord">
						{% for gradeRecords in gradeObj.GetAllReports %}
							<option value="{{ gradeRecords.GradeRecord.Name }}" {% if gradeRecords == grade_season %} selected="selected" {% endif %}>{{ gradeRecords.GradeRecord.Name }}</option>
						{% endfor %}
					</select>
                    <!-- subjects -->
					<select id="SubjectNameId" name="SubjectName" style="min-width:300px;">
						{% for subject in subjects %}
							<option value="{{ subject }}" {% if subject in GroupName %} selected="selected" {% else %}{% if subject == 'Form_Comment' %}selected="selected"{% endif %}{% endif %}>{{ subject }}</option>
						{% endfor %}
					</select>
					<button type="submit">Grade</button>
					</div>	
				</form>
			</div>
		</div>
	</div>
{% endblock %}
