
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
{% endblock %} 
{% load WillowFilters %}
{% block ContentArea %}
<!-- pop out code -->
<script>
{% include "popOutJavaScript.js" %}
</script>
<script type="text/javascript" src="{% static "Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js" %}"></script>
<script>
{% include "datePickerCode.js" %}
</script>
<!-- end -->
			<div class="leftMiddle">
				<div class="banner">
					<span style="font-weight:bold;color:lightblue;">Grade Input: {{ GradeRecords.PupilItems.FullName }}</span>
				</div>
				<div>
					<p style="color:blue;font-weight:bold;margin-bottom:0;">		
					{% if Messages %}
						{% for msg in Messages %}
							{{ msg }}<br>
						{% endfor %} 
					{% endif %}
					</p>
						{% with Type='Pupil'%}
						{% for subjectname,grades in GradeRecords.GradeRecords %}
							{% include grades.Form %}
						{% endfor %}
						{% endwith %}
				</div>
			</div>
{% endblock %}
