
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block ContentArea %}

<script type="text/javascript">
	
function goBack()
  {
	window.history.back();
  }	
 
function gradeDisplay() {
	var GradeRecordIdOption2 = document.getElementById("GradeRecordId");
	var GradeRecordIdOptionSelectedValue = GradeRecordIdOption2.options[GradeRecordIdOption2.selectedIndex].text;
	var SubjectNameIdOption2 = document.getElementById("SubjectNameId");
	try 
		{
			var SubjectNameIdOptionSelectedValue = SubjectNameIdOption2.options[SubjectNameIdOption2.selectedIndex].text;
			document.getElementById("gradeDisplay").innerHTML="Grade "+SubjectNameIdOptionSelectedValue+" for the Grade Record "+GradeRecordIdOptionSelectedValue+"?";  
		}
	catch(e)
		{
			document.getElementById("gradeDisplay").innerHTML="<span class='redText'>There was a problem there... <br />Perhaps you cannot grade this subject during this Term?</span><br />Please select from the following options:"; 
		}
	} 
  
function changeSubjectList() 
	{
		var GradeRecordOption = document.getElementById("GradeRecordId");
		var GradeRecordOptionValue = GradeRecordOption.options[GradeRecordOption.selectedIndex].text;
		var javaScriptDictionary = {{ javaScriptDic|safe }};
		var javaScriptGroupName = "{{ GroupName }}";
		var javaScriptSelectString = "<p class='GradeSelectPageText'>Change Subject?</p><select id='SubjectNameId' onclick='gradeDisplay();' name='SubjectName' style='min-width:300px;'>";
		var testString = 'nothing';		
					
		for (var i=0, l=javaScriptDictionary.length; i<l; i++)	
			{
				if (GradeRecordOptionValue == javaScriptDictionary[i][0]) 
				{
					for (var tempVariable=0; tempVariable<javaScriptDictionary[i][1].length; tempVariable++)
					{	
						testString = javaScriptDictionary[i][1][tempVariable];
						if (javaScriptGroupName.indexOf(testString) != -1)
						{
							javaScriptSelectString += "<option value='"+javaScriptDictionary[i][1][tempVariable]+"' selected='selected'>"+javaScriptDictionary[i][1][tempVariable]+"</option>";
						}
						else
						{
							javaScriptSelectString += "<option value='"+javaScriptDictionary[i][1][tempVariable]+"'>"+javaScriptDictionary[i][1][tempVariable]+"</option>";
						}	
					}
				}
			}
		
		javaScriptSelectString += "</select>";
		document.getElementById("gradeSubject").innerHTML=javaScriptSelectString;  
		gradeDisplay();
	}

window.onload = gradeDisplay;  

</script>
<div class="leftMiddle">
	<div class="banner">
		Grading Select Page...
	</div>	
	<div class="GlobalVariablesContainer"> 
		<div class="table-scroll2">
			<div id="gradeDisplay">
				<p>loading...</p>
			</div>
			<form action="/WillowTree/{{ school }}/{{ AcYear }}/GradeInputIntermediate/Group/{{ GroupName }}/" method="post">
			{% csrf_token %}
			<div id="gradeSelectionContainer"> 
				<div id="gradeRecord">
					<p class="GradeSelectPageText">Change Grade Record?</p>
					<select id="GradeRecordId" onclick="changeSubjectList();" name="GradeRecord" style="min-width:300px;">   
						{% for gradeRecords in gradeObj.GetAllReports %} 
							<option value="{{ gradeRecords.GradeRecord.Name }}" {% if gradeRecords == gradeObj.GetCurrentSeason %} selected="selected" {% endif %}>{{ gradeRecords.GradeRecord.Name }}</option>
						{% endfor %}     
					</select>
				</div>
				<div id="gradeSubject">
					<p class="GradeSelectPageText">Change Subject?</p>
					<select id="SubjectNameId" onclick="gradeDisplay();" name="SubjectName" style="min-width:300px;">   
						{% for i in javaScriptDic %}
							{% if currentSeason in i %}
								{% for subjects in i.1 %}
								<option value="{{ subjects }}" {% if subjects in GroupName %} selected="selected" {% endif %}>{{ subjects }}</option>
								{% endfor %}
							{% endif %}
						{% endfor %}     
					</select>					
				</div>	
				<div class="GradeSelectPageButtons">
					<button type='button' onclick='goBack();'>Go Back?</button>
					<button type='submit'>Proceed</button>
				</div>		
			</div>	
		</div>									
	</div>
</div>
{% endblock %}
