
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
{% endblock %} 
{% load WillowFilters %}
{% block ContentArea %}
<!-- pop out code -->
<script>
{% include "popOutJavaScript.js" %}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
 <script src="{{ STATIC_URL}}Scripts/willowtreegrades.js"></script>
<script>
{% include "datePickerCode.js" %}
</script>
<!-- end -->
{% include "includes/GradeSubjectChange.html" %}
			<div class="leftMiddle">
				<div class="banner">
					<span style="font-weight:bold;color:lightblue;">Grade: {{ GroupRecords.GradeElements.GradeRecord.Name }} ({{ GroupRecords.GradeElements.GradeSubject.Name }}) Group :{{GroupRecords.GroupName}}</span><span style='float:right'><button onclick="GradeSubjectChange.show();">Change Subject</button></span>
				</div>	
				{% if  GroupRecords.GroupGrades %}	
				<div>
					<p style="color:blue;font-weight:bold;margin-bottom:0;">		
					{% if Messages %}
						{% for msg in Messages %}
							{{ msg }}<br>
						{% endfor %} 
					{% endif %}
					</p>
					{% with Type='Group' %}
					{% for pupilid,GradeRecord in GroupRecords.GroupGrades %}
						{% for subjectname,grades in GradeRecord.GradeRecords %}
							{% include grades.Form %}
						{% endfor %}
					{% endfor %}
					{% endwith %}
				</div>
				{% else %}
				<div style="text-align:center;color:darkred;">
					<h1>Error - There are no pupils in this Group</h1>
				</div>
				{% endif %}
			</div>
{% endblock %}
