
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">

{% include "KeywordsManager.js" %}

</script>
{% endblock %}
{% load WillowFilters %}
{% block ContentArea %}

			<div class="leftMiddle">
				<div class="banner">
					<span style="font-weight:bold;color:lightblue;">ClassList: {{ GroupName }}</span>
				</div>		
			<div>
				<p style="color:blue;font-weight:bold;margin-bottom:0;">		
				{% if Messages %}
					{% for msg in Messages %}
						{{ msg }}<br>
					{% endfor %}
				{% endif %}
				</p>
			</div>


	<div class='RecordFormDialog' data-dojo-type="dijit/form/Form" id="SelectGradeInputForm" data-dojo-id="SelectGradeInputForm" encType="multipart/form-data" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveAnApplicant/{{ GroupName }}/" method="post">
		{% csrf_token %}
		
		<script type="dojo/on" data-dojo-event="reset">
			return confirm('Press OK to reset widget values');
		</script>

		<script type="dojo/on" data-dojo-event="submit">
			if(this.validate()){
				return true;
			}else{
				return false;
			}
			return true;
		</script>
		
		<select multiple="multiple" id="GradeRecord" name="GradeRecord" data-dojo-is='GradeRecord' style='width:500px;' maxHeight='150' data-dojo-type="dijit/form/Select",required=true>
			{% for GradeRecs in Reports.GetAllReports %}
			<option {% ifequal GradeRecs.GradeRecord GradeRecs.ReportList %} selected='selected' {% endifequal %} id='{{ GradeRecs.GradeRecord.Name }}'>{{ GradeRecs.GradeRecord.FullName }}</option>
			{% endfor %}
		</select>			
		
		<select id="SubjectName" name="SubjectName" data-dojo-is='SubjectName' style='width:500px;' maxHeight='150' data-dojo-type="dijit/form/Select",required=true>
				{% for GreGroups in GroupList.Applicants %}
					<option value="{{Groups.Name}}">{{ Groups.Name }}</option>
				{% endfor %}

		</select>		<br>
		
		<button type='button' onclick='MoveAnApplicant.hide()'>Cancel</button>
		<button type="submit">Action Move</button>

	</div>


{% endblock %}
