
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
{% endblock %}
{% block ContentArea %}
<style>
.light_grey {background-color: lightgrey; margin-top: 20px;padding: 10px;}
html, body {
    width: 100%;
}
table {
    margin: 0 auto;
}
h2 {color: blue;}
</style>
<script>
var old_subjects_to_grade_record = false;
function change_subjects_list() {
    <!-- pop up alert to warn the user the form is being reset -->

    <!-- get value of grade_record -->
    var e = document.getElementById("grade_record");
    var value_of_grade_record = e.options[e.selectedIndex].value;

    <!-- old_subjects_to_grade_record divs -->
    if (value_of_grade_record == 'None') {
        if (old_subjects_to_grade_record) {
            document.getElementById(old_subjects_to_grade_record).style.display = 'none';
            var checkboxes = document.getElementsByTagName('input');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                }
            }
        }
    } else {
        if (old_subjects_to_grade_record) {
            alert("WARNING: Changing the grade record resets this form. Please re-check checkboxes.");
            document.getElementById(old_subjects_to_grade_record).style.display = 'none';
            var checkboxes = document.getElementsByTagName('input');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                }
            }
        }
    }

    <!-- show correct subject list -->
    document.getElementById("subjects_to_grade_record_"+value_of_grade_record).style.display = 'inline';
    old_subjects_to_grade_record = "subjects_to_grade_record_"+value_of_grade_record;
}
</script>
	<div>
		<div class="leftMiddle">
			<div class="banner">
				<span style="font-weight:bold;color:lightblue;">Grade Extract Options Page:</span>
			</div>
            <form action="/WillowTree/{{ school }}/{{ AcYear }}/grade_extract_generate/" method="post" >
                {% csrf_token %}
                <div style="text-align: center;width:75%;margin: 0 auto;">
                    <div>
                        <h1>Here you can extract Effort, Level, Attainment and Grade data for a group</h1>
                    </div>

                    <!-- pupil groups -->
                    <div class="light_grey">
                        <h2>Choose a group...</h2>
                        <select name="pupil_group">
                            {% for pupil_group in pupil_groups %}
                            <option value="{{ pupil_group }}">{{ pupil_group }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- grade records -->
                    <div class="light_grey">
                        <h2>Choose a grade record...</h2>
                        <select id="grade_record" name="grade_record" onchange="change_subjects_list();">
                            <option value="None">None</option>
                            {% for grade_record in grade_records %}
                            <option value="{{ grade_record }}">{{ grade_record }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- subjects -->
                    <div class="light_grey">
                        {% for key, value in subjects_to_grade_record.items %}
                        <div style="display: none;" id="subjects_to_grade_record_{{ key }}">
                            <h2>Choose subjects...</h2>
                            <table>
                                <tr>
                                {% for subjects in value %}
                                <td style="width:150px;text-align: left;font-weight: bold;"><input type="checkbox" name="subjects_to_grade_record_{{ key }}_{{ subjects }}" value="{{ subjects }}">{{ subjects }}</td>
                                {% if forloop.counter|divisibleby:3 %}<tr /><tr>{% endif %}
                                {% endfor %}
                                </tr>
                            </table>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- data to return check boxes -->
                    <div class="light_grey">
                        <h2>Choose data to return...</h2>
                        <table>
                            <tr>
                                <td style="width:150px;text-align: left;font-weight: bold;"><input type="checkbox" name="data_to_return_effort" value="True">Effort</td>
                                <td style="width:150px;text-align: left;font-weight: bold;"><input type="checkbox" name="data_to_return_level" value="True">Level</td>
                                <td style="width:150px;text-align: left;font-weight: bold;"><input type="checkbox" name="data_to_return_attainment" value="True">Attainment</td>
                            </tr>
                            <tr>
                                <td style="width:150px;text-align: left;font-weight: bold;"><input type="checkbox" name="data_to_return_exam_1" value="True">Exam 1</td>
                                <td style="width:150px;text-align: left;font-weight: bold;"><input type="checkbox" name="data_to_return_exam_2" value="True">Exam 2</td>
                                <td style="width:150px;text-align: left;font-weight: bold;"><input type="checkbox" name="data_to_return_exam_3" value="True">Exam 3</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div style="text-align: center;padding-top: 20px;">
                    <button type="submit" value="Submit" onclick="alert('your report is being generated');">Generate Report</button>
                </div>
            </form>
		</div>
	</div>
{% endblock %}