
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}
<script>
$(function () {
      $(document).tooltip({
          content: function () {
              return $(this).prop('title');
          }
      });
  });
</script>
<style>
label {
display: inline-block;
width: 5em;
}
</style>
<script>
{% include "popOutJavaScript.js" %}
</script>
<script>
{% include "datePickerCode.js" %}
</script>
<!-- end -->
			<div class="leftMiddle">
			<form class="RecordForm" action='/WillowTree/{{ school }}/{{AcYear}}/AttendanceByGroupProccess/{{ AmPm }}/{{AttDate|date:"Y-m-d"}}/' method='post'>				
				<div class="banner">
					{{ AmPm }} Attendance for {{ SchoolName }} {{ListGroup}}: ({{AttDate|date:"d-m-Y"}}) 
					<button type="submit" style='float:right;'>Submit</button>
				</div>
			
			{% csrf_token %}
			<table>
				<tr>
					<th>Pupil </th> <th>Code</th>
				</tr>
			{% for pupils in PupilList %}
				<tr><td>{{pupils.2}} {{ pupils.1}}</td>
				<td>
					<select name='Pupil_{{pupils.0}}'>
						{% if pupils.7 %}
							{% for codes in AttendanceCodes %}
							  <option value="{{ codes.AttendanceCode}}" {% ifequal pupils.4 codes.AttendanceCode %} selected {% endifequal %}>{{ codes.AttendanceCode }}: {{ codes.AttendanceDesc }}</option>
							  {% endfor %}
							  <option value="/">/</option>
						{% else %}
							{% for codes in AttendanceCodes %}
							  <option value="{{ codes.AttendanceCode}}">{{ codes.AttendanceCode }}: {{ codes.AttendanceDesc }}</option>
							  {% endfor %}
							  <option value="/" selected>/</option>
						{% endif %}						
					</select>
				</td>
				</tr>
			{% endfor %}
		</table>
		</form>
	</br><br>
	</div>
			
{% endblock %}
