
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">
{% include "KeywordsManager.js" %}

</script>
{% endblock %}
{% load WillowFilters %}
{% block ContentArea %}

		{% include "SelectALetterManager.html" %}
		{% include "includes/MoveFromHolding.html" %}				
		<div>
			<div class="leftMiddle">
				<div class="banner">
					<span style="font-weight:bold;color:lightblue;">Holding Manager... (number of applicants in this group: <span style="color:red;">{{ ClassListLength }}</span>)</span>
				</div>
			{% if Messages %}
				{% for msg in Messages %}
					{{ msg }}<br>
				{% endfor %}
			{% endif %}
				
			<table class="WillowTable1">
				<tr>
					<td class="WillowTableHeaderSmall">Picture</td>					
					<td class="WillowTableHeaderSmall">Id</td>
					<td class="WillowTableHeaderSmall">Name</td>
					<td class="WillowTableHeaderSmall">Gender</td>
					<td class="WillowTableHeaderSmall">DOB</td>
					<td class="WillowTableHeaderSmall">Assigned To</td>
					<td class="WillowTableHeaderSmall">No./Siblings</td>
					<td class="WillowTableHeaderSmall">Actions</td>
				</tr>
			{% for pupil in ClassList %}

			<tr>

				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
								{% include "includes/EditPupilDetails_Manager.html" %}
								{% include "includes/RemoveApplicantRecord.html" %}	
								{% include "includes/MoveToMain.html" %}	
								{% include "includes/MoveToReserve.html" %}	
								{% include "includes/MoveToKindergarten.html" %}																				
					<a href="/WillowTree/{{ School }}/{{ AcYear }}/pupil/{{ pupil.Pupil.id }}/"><img src="{{ MEDIA_REDIRECT }}{{pupil.Pupil.Picture}}" width="50" height="60"/></a>
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.id }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.Surname }}, {{ pupil.Pupil.Forename }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.Gender }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.DateOfBirth|date:"jS N Y" }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >
				{% for Groups in pupil.GroupList %}
				<a href="/WillowTree/{{ School }}/{{ AcYear }}/ManageThis/{{ Groups }}/">{{ Groups }}</a><br> 
				{% endfor%}
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Siblings|length }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
					<div data-dojo-type="dijit/form/ComboButton" style='font-size:14px' data-dojo-props="iconClass:'dijitIconFunction'">
						<span>Actions</span>
						<div data-dojo-type="dijit/DropDownMenu" style='font-size:14px;'>

							<div data-dojo-type="dijit/MenuItem" onclick="MoveToMain{{pupil.Pupil.id}}.show()" data-dojo-props="iconClass:'dijitIconEdit'">Move to Main</div>
							<div data-dojo-type="dijit/MenuItem" onclick="MoveToReserve{{pupil.Pupil.id}}.show()" data-dojo-props="iconClass:'dijitIconEdit'">Move to Reserve</div>
							<div data-dojo-type="dijit/MenuItem" onclick="MoveToKindie{{pupil.Pupil.id}}.show()" data-dojo-props="iconClass:'dijitIconEdit'">Move to Kindergarten</div>							
							<div data-dojo-type="dijit/MenuSeparator"></div>

							<div data-dojo-type="dijit/MenuItem" data-dojo-props="href:'#',iconClass:'dijitIconMail'" >Send Email:Parents</div>
							<div data-dojo-type="dijit/MenuItem" onclick="AddFor('{{pupil.Pupil.id}}','Letter');AddLetter.show();"data-dojo-props="iconClass:'dijitIconDocuments'">Generate Letter</div>
							<div data-dojo-type="dijit/MenuSeparator"></div>
							<div data-dojo-type="dijit/MenuItem" onclick="EditPupilDetails{{pupil.Pupil.id}}.show()" data-dojo-props="iconClass:'dijitIconEdit'">Edit Record</div>							
							<div data-dojo-type="dijit/MenuItem" onclick="document.location.href='/WillowTree/{{school}}/{{AcYear}}/EditFamily/{{pupil.FamilyRecord.id}}/'" data-dojo-props="iconClass:'dijitIconEdit'">Edit Family</div>							
							<div data-dojo-type="dijit/MenuSeparator"></div>															
							<div data-dojo-type="dijit/MenuItem" onclick="document.location.href='/WillowTree/{{school}}/{{AcYear}}/Manage/RemoveFromHolding/{{GroupName}}/{{pupil.Pupil.id}}/'" data-dojo-props="iconClass:'dijitIconDelete'">Remove from Holding</div>	
							<div data-dojo-type="dijit/MenuItem" onclick="RemoveApplicant{{pupil.Pupil.id}}.show()" data-dojo-props="iconClass:'dijitIconDelete'">Delete Record</div>													
						</div>
					</div>
					
				</td>
			<tr>
				
			{% endfor %}
			</table>
		</div>		
{% endblock %}
