
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">
{% include "KeywordsManager.js" %}
</script>
<script>
{% include "popOutJavaScript.js" %}
</script>
{% endblock %}
{% load WillowFilters %}
{% block ContentArea %}

		{% include "SelectALetterManager.html" %}
		{% include "includes/MoveFromHolding.html" %}				
		<div>
			<div class="leftMiddle">
				<div class="banner">
					<span style="font-weight:bold;color:lightblue;">Holding Manager... (number of applicants in this group: <span style="color:red;">{{ ClassListLength }}</span>)</span>
				</div>
			{% if Messages %}
				{% for msg in Messages %}
					{{ msg }}<br>
				{% endfor %}
			{% endif %}
				
			<table class="WillowTable1">
				<tr>
					<td class="WillowTableHeaderSmall">Picture</td>					
					<td class="WillowTableHeaderSmall">Id</td>
					<td class="WillowTableHeaderSmall">Name</td>
					<td class="WillowTableHeaderSmall">Gender</td>
					<td class="WillowTableHeaderSmall">DOB</td>
					<td class="WillowTableHeaderSmall">Assigned To</td>
					<td class="WillowTableHeaderSmall">No./Siblings</td>
					<td class="WillowTableHeaderSmall">Actions</td>
				</tr>
			{% for pupil in ClassList %}

			<tr>

				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
								{% include "includes/EditPupilDetails_Manager.html" %}
								{% include "includes/RemoveApplicantRecord.html" %}	
								{% include "includes/MoveToMain.html" %}	
								{% include "includes/MoveToReserve.html" %}	
								{% include "includes/MoveToKindergarten.html" %}																				
					<a href="/WillowTree/{{ School }}/{{ AcYear }}/pupil/{{ pupil.Pupil.id }}/"><img src="{{ MEDIA_REDIRECT }}{{pupil.Pupil.Picture}}" width="50" height="60"/></a>
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.id }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.Surname }}, {{ pupil.Pupil.Forename }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.Gender }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.DateOfBirth|date:"jS N Y" }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >
				{% for Groups in pupil.GroupList %}
				<a href="/WillowTree/{{ School }}/{{ AcYear }}/ManageThis/{{ Groups }}/">{{ Groups }}</a><br> 
				{% endfor%}
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Siblings|length }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
					<ul class="managermenu">
						<li><a href='#' class="drop">Actions</a>
							<div class="dropdown_2columns align_right">
								<div class="col_1">
									<h3>Main</h3>
									<ul>
										<li><a href='#' class="login-window">Send Email:Parents</a></li>
										<li><a href='#' class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Letter');AddLetter.show();">Generate Letter</a></li>
										<li><a href='#EditPupilDetails{{pupil.Pupil.id}}' class="login-window">Edit Record</a></li>
										<li><a href='/WillowTree/{{school}}/{{AcYear}}/EditFamily/{{pupil.FamilyRecord.id}}/' class="login-window">Edit Family</a></li>
										<li><a href='/WillowTree/{{school}}/{{AcYear}}/Manage/RemoveFromHolding/{{GroupName}}/{{pupil.Pupil.id}}/' class="login-window">Remove from Holding</a></li>
										<li><a href='#RemoveApplicant{{pupil.Pupil.id}}' class="login-window">Delete Record</a></li>						
									</ul>
								</div>
								<div class='col_1'>
									<h3>Holding</h3>
									<ul>
										<li><a href='#MoveToMain{{pupil.Pupil.id}}' class="login-window">Move to Main</a></li>
										<li><a href='#MoveToReserve{{pupil.Pupil.id}}' class="login-window">Move to Reserve</a></li>
										<li><a href='#MoveToKindie{{pupil.Pupil.id}}'class="login-window">Move to Kindergarten</a></li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</td>
			<tr>				
			{% endfor %}
			</table>
		</div>		
{% endblock %}
