
<style>
{% load static from staticfiles %}
table, tr, td {
	border: 1px solid;
	border-collapse:collapse;
	}

.heading2 {
	padding: 5px;
	}  
    
.setToCenter {
	text-align:center;
	}
</style>
<span> House Point's Report for: <b>{{ reportData.groupName }} - {{ reportData.datesData.Term }} Term</b> (date created: {{ reportData.todaysDate|date:"jS F Y" }})</span><br />
<p style='width:1000px;border:1px solid;padding:5px;'>Please Note: House points will only appear in this report if staff mark the following key words when creating notes in WillowTree:<br /><br />
Work Positive: <b>Pastoral, Conduct, Work, (plus either) Positive 1, Positive 2, Positive 3</b><br />
Work Negative: <b>Pastoral, Conduct, Work, (plus either) Negative 1, Negative 2, Negative 3</b><br />
Behaviour Positive: <b>Pastoral, Conduct, Merit-Behavior, (plus either) Positive 1, Positive 2, Positive 3</b><br />
Behaviour Negative: <b>Pastoral, Conduct, Merit-Behavior, (plus either) Negative 1, Negative 2, Negative 3</b><br />
</p>
<div style='page-break-before:always;float:clear;'></div>
{% for pupil in reportData.listOfPupilObjs %}
{% if not pupil.data %}
<p style='font-weight:bold;color:darkred;'>No notes in the system yet for: {{ pupil.name }}</p>
<div style='page-break-before:always;float:clear;'></div>
{% else %}
<div style='page'>
	<div style='margin-top:20px;'><span style='font-weight:bold;'>Name: {{ pupil.name }}</span></div>
	<div>
		<table style='border:1px solid;'>
			<tr>
				<td>Week Beginning</td>
				<td><div class='setToCenter' style='width:200px;'>Work Positive</div></td>
				<td><div class='setToCenter' style='width:200px;'>Work Negative</div></td>
				<td><div class='setToCenter' style='width:200px;'>Behaviour Positive</div></td>
				<td><div class='setToCenter' style='width:200px;'>Behaviour Negative</div></td>
			</tr>
			<tr>
		{% for i in pupil.data %}
			{% for k, v in i.items %}
			<tr>
				<td><div style='width:200px;'>{{ k }}</div></td>
				<td class='setToCenter'>{{ v.workPostive }}</td>
				<td class='setToCenter'>{{ v.workNegative }}</td>
				<td class='setToCenter'>{{ v.behaviourPositive }}</td>
				<td class='setToCenter'>{{ v.behaviourNegative }}</td>
			</tr>
			{% endfor %}
		{% endfor %}
			<tr>
				<td>Total</td>
				<td class='setToCenter' colspan='2'>{{ pupil.totalWork }}</td>
				<td class='setToCenter' colspan='2'>{{ pupil.totalBehavior }}</td>
			</tr>
		</table>
	</div>
</div>
<div style='page-break-before:always;float:clear;'></div>
{% endif %}
{% endfor %}
