
<style>
{% load static from staticfiles %}
table, tr, td {
	border: 1px solid;
	border-collapse:collapse;
	}

.heading2 {
	padding: 5px;
	}
	
.page {
	page-break-after: always;
    }    
</style>
<span> House Point's Report for: <b>{{ reportData.groupName }} - {{ reportData.datesData.Term }} Term</b></span><br />

{% for d in reportData.dateGridStrings %}
<div style='page'>
	<div style='margin-top:20px;'><span style='font-weight:bold;'>Week Starting: {{ d }}</span></div>
	<div>
		<table style='border:1px solid;'>
			<tr>
				<td rowspan="2"></td>
				<td><div style='width:200px;'>Work Positive</div></td>
				<td><div style='width:200px;'>Work Negative</div></td>
				<td><div style='width:200px;'>Behaviour Positive</div></td>
				<td><div style='width:200px;'>Behaviour Negative</div></td>
			</tr>
			<tr>
			{% for key, value in reportData.housePointsData.items %}
			<tr>
			<td><div style='width:200px;'>{{ value.Name }}</div></td>
				{% for k, v in value.items %}
				{% if k == d %}
				<td>{{ v.workPositive }}</td>
				<td>{{ v.workNegative }}</td>
				<td>{{ v.behaviourPositive }}</td>
				<td>{{ v.behaviourNegative }}</td>
				{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endfor %}
