
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% endif %}
					Issue {{ IssueRecord.id }} saved
				</div>
				<h1>
				Issue saved for: <a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ PupilDetails.Pupil.id }}/">{{ PupilDetails.Pupil.Forename }} {{ PupilDetails.Pupil.Surname }}</a></h1>
				<br><br>
				<h1>Issue Details</h1>
				<br>
				<span class='dataLabel'>Keywords</span><span class='smallDataItem'>{{ IssueRecord.Keywords }}</span>
				<br>
				<span class='dataLabel'>Details</span><span class='smallDataItem'>{{ IssueRecord.IssueText|safe }}</span>
				
			<br><br>


			</div>

			
{% endblock %}
