
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
<script type="text/javascript">
function SelectKeyword(KW)
{
alert("got here");
}
</script>
<script type="text/javascript">
	var ArrayKW = new Array ();
	var ArrayPrimary= new Array();
	var ArraySeconday= new Array();
	var NoPrimary = 0;
	var NoSeconday = 0;
	{% for words in KWList %}
		ArrayKW.push("{{ words.Keyword }}");
	{% endfor %}
	{% for Keywords in KWPrimary %}
		ArrayPrimary.push("{{ Keywords }}");
	{% endfor %}	
	{% for Keywords in KWSecondary %}
		ArraySecondary.push("{{ Keywords }}");
	{% endfor %}
</script>
<script type="text/javascript">
function SelectKeyword(KW)
{
	var KWobject=document.getElementById(KW);
	var KWSelectObject=document.getElementById('KWselect');
	
	if ( KWobject.style.backgroundColor == '')
	{
		KWobject.style.backgroundColor="#ADA96E";
		KWSelectObject.options[ArrayKW.indexOf(KW)].selected=true;
		
		if (ArrayPrimary.indexOf(KW) > -1)
		{
			NoPrimary=NoPrimary+1;
		}
		if (ArraySecondary.indexOf(KW) > -1)
		{
			NoSecondary=NoSecondary+1;
		}
		if (NoPrimary > 0 && NoSecondary > 0)
		{
			var DetailsBox=document.getElementById('DetailsBox');
			DetailsBox.style.visibility='visible';
		}
	}
	else
	{
		KWobject.style.backgroundColor='';
		KWSelectObject.options[ArrayKW.indexOf(KW)].selected=false;
		if (ArrayPrimary.indexOf(KW) > -1)
		{
			NoPrimary=NoPrimary-1;
		}
		if (ArraySecondary.indexOf(KW) > -1)
		{
			NoSecondary=NoSecondary-1;
		}
		if (NoPrimary < 1 || NoSecondary < 1)
		{
			var DetailsBox=document.getElementById('DetailsBox');
			DetailsBox.style.visibility='hidden';
		}
	}
}
</script>
	
	
{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% endif %}
					{{ BannerTitle }}
				</div>
			<table border=0>
			<tr>
			{% for Words in KWList %}
				{% if forloop.counter|divisibleby:"6" %}</tr><tr>{% endif %}
				<td {% ifequal Words.KeywordType "Primary" %} class="KeywordPrimary" {% else %} class="KeywordSecondary" {% endifequal %}>
				<span id="{{Words.Keyword}}" onClick="SelectKeyword('{{Words.Keyword}}')">{{ Words.Keyword }}</span>
				</td>
			{% endfor %}
			</table>
			<form>
				<select multiple="multiple" id="KWselect">
				{% for words in KWList %}
					<option>{{ words.Keyword }}</option>
				{% endfor %}
				</select>
				<span id="detailsBox" style="visibility:hidden">
				<input type="hidden" name="NoteTextArea" id='NoteTextArea' value="replaced by dijit.Editor content onsubmit" />  
				
				<div dojoType="dijit.Editor" id="NoteTextArea2" onChange="dojo.byId('NoteTextArea1').value = this.getValue();"  extraPlugins="['dijit._editor.plugins.AlwaysShowToolbar']">                      
				<p></p>                     
				</div> 
				
				<input type="submit" id="Submit" name="save" value="Submit"><br>					
				</span>
			</form>
			<br><br>


			</div>

			
{% endblock %}