
Content-Type: text/html; charset=utf-8
{% load static from staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta charset="utf-8">
	<META name="description" content="">
	<Meta name="keywords" content="">
	<TITLE>Levels Percentages Report for   2013-2014</TITLE>
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "css/font.css" %}" cache="false">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<link rel="stylesheet" href="{% static "css/plugin.css" %}">
	<link rel="stylesheet" href="{% static "css/landing.css" %}">
	<style type="text/css">
		td { text-align :center !important;}
		#tblResult
		{width: 80%; margin: 0 auto;}
	</style>
	<!--[if lt IE 9]>
	   <script src="js/ie/respond.min.js" cache="false"></script>
	   <script src="js/ie/html5.js" cache="false"></script>
	   <script src="js/ie/excanvas.js" cache="false"></script>
	<![endif]-->
</head>
<body>
	<section class="panel">
       <header class="panel-heading"><b>Levels Percentages Report for {{DataObject.GroupName }} {{DataObj.Term}} {{DataObj.AcYear}}</b></header>
       <div class="table-responsive">
       <form action="report1.html" id="frmReport">
        <table id="tblResult" BORDER="1" border-color="#000000" CELLPADDING=6 CELLSPACING=1>
           <thead>
             <tr>
              <td colspan="5"><b>Filter by:</b> 
					Gender: <select id="chkGender">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">Male</option>
              							  			<option value="0">Female</option>
              							  		 </select>&nbsp;&nbsp;-&nbsp;&nbsp;
					
              							  Sen: <select id="chkSen">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>&nbsp;&nbsp;-&nbsp;&nbsp;
              							  G&T: <select id="chkgt">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>&nbsp;&nbsp;-&nbsp;&nbsp;
              							  EAL: <select id="chkeAL">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>&nbsp;&nbsp;-&nbsp;&nbsp;
					
              							  MoreAble:  <select id="chkMoreAble">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>&nbsp;&nbsp;-&nbsp;&nbsp;
              							  Summer Birth: <select id="chkSB">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>&nbsp;&nbsp;-&nbsp;&nbsp;
			
					<button type="button" id="btnreset" class="btn btn-primary">Reset</button>
              </td>
             </tr>
             <tr style="background-color: #F7F8F9;">
               <td width="15%"></td>
               <td width="25%"><b>YearGroup</b></td>
               {% for classes in DataObj.ClassList %}
               <td width="20%"><b>{{classes}}</b></td>
               {% endfor %}
             </tr>
           </thead>
           <tbody>
           </tbody>
         </table>
         </form>
       </div>
     </section>
	<!-- / footer -->
	<script src="{% static "js/jquery.min.js" %}"></script>
	<!-- Bootstrap -->
	<script src="{% static "js/bootstrap.js" %}"></script>
	<!-- app -->
<script type="text/javascript">
	//Define data here : 
var jsonp='';
{% for datalines in DataObj.JSONData %}
jsonp += {{ datalines|safe }};
{% endfor %}
//Calculate the result here: 
$(document).ready(function() {
	var objData = $.parseJSON(jsonp);
	FilterData(objData, -1, -1, -1, -1, -1, -1);
	//Copy booker to 1st golfer:
	//Copy booker to 1st golfer:
    $("#chkGender").change(function () {
    	CreateFilter(objData);
    });
    $("#chkSen").change(function () {
    	CreateFilter(objData);
    });
    $("#chkeAL").change(function () {
    	CreateFilter(objData);
    });
    $("#chkgt").change(function () {
    	CreateFilter(objData);
    });

    $("#chkMoreAble").change(function () {
    	CreateFilter(objData);
    });

    $("#chkSB").change(function () {
    	CreateFilter(objData);
    });
    
    $("#btnreset").click(function () {
    	
    	$('#sltClass').val("");
    	$('#chkGender').val("-1");
    	$('#chkSen').val("-1");
    	$('#chkeAL').val("-1");
    	$('#chkgt').val("-1");
    	$('#chkMoreAble').val("-1");
    	$('#chkSB').val("-1");
    	
    	CreateFilter(objData);
    });
});

function CreateFilter(objData)
{
	var iGender = $("#chkGender").val();
	var iSen = $("#chkSen").val();
	var iGt = $("#chkgt").val();
	var iMoreable = $("#chkMoreAble").val();
	var iEAL = $("#chkeAL").val();
	var iSB = $("#chkSB").val();
	var sClass = $('#sltClass').val();
	console.log(iGender + '-' + iSen + '-' + iGt + '-' + iMoreable);
	FilterData(objData, iGender, iSen, iGt, iMoreable, iEAL, iSB);

}


function FilterData(objData, iGender, iSen, iGt, iMoreable, iEAL, iSB)
{
	var content = "";
	
	$('#tblResult >tbody').html("");
	var arrResult = [];
	//Init the data: 
	var objRow = new Object();
	
	objRow.key = 'W';
	objRow.year = 0;
	objRow.ks6 = 0;
	objRow.ke6 = 0;
	objRow.kn6 = 0;
	arrResult.push(objRow);
	/*
	objRow = new Object();
	objRow.key = 'N/F';
	objRow.year = 0;
	objRow.ks6 = 0;
	objRow.ke6 = 0;
	objRow.kn6 = 0;
	arrResult.push(objRow);
	*/
	for(var i=1;i<=8;i++)
	{
		var objRow = new Object();
		objRow.key = i +'c';
		objRow.year = 0;
		objRow.Class1 = 0;
		objRow.Class2 = 0;
		objRow.Class3 = 0;
		objRow.Class4 = 0;
		objRow.Class5 = 0;
		objRow.Class6 = 0;
		arrResult.push(objRow);
		var objRow = new Object();
		objRow.key = i +'b';
		objRow.year = 0;
		objRow.Class1 = 0;
		objRow.Class2 = 0;
		objRow.Class3 = 0;
		objRow.Class4 = 0;
		objRow.Class5 = 0;
		objRow.Class6 = 0;
		arrResult.push(objRow);
		var objRow = new Object();
		objRow.key = i +'a';
		objRow.year = 0;
		objRow.Class1 = 0;
		objRow.Class2 = 0;
		objRow.Class3 = 0;
		objRow.Class4 = 0;
		objRow.Class5 = 0;
		objRow.Class6 = 0;
		arrResult.push(objRow);
	}
	//Make the data
	var total = 0;
	$.each(objData, function (i, item) {
		//Filter here:
		var isValid = true;
		if(iGender == 1 && item['Gender'] == 'F')
		{
			isValid = false;
		}
		if(iGender == 0 && item['Gender'] == 'M')
		{
			isValid = false;
		}
		if(iSen == 1 && item['SEN'] == 'F')
		{
			isValid = false;
		}
		if(iSen == 0 && item['SEN'] == 'T')
		{
			isValid = false;
		}
		if(iGt == 1 && item['G&T'] == 'F')
		{
			isValid = false;
		}
		if(iGt == 0 && item['G&T'] == 'T')
		{
			isValid = false;
		}
		if(iMoreable == 1 && item['MoreAble'] == 'F')
		{
			isValid = false;
		}
		if(iMoreable == 0 && item['MoreAble'] == 'T')
		{
			isValid = false;
		}
		
		if(iEAL == 1 && item['EAL'] == 'F')
		{
			isValid = false;
		}
		if(iEAL == 0 && item['EAL'] == 'T')
		{
			isValid = false;
		}
		
		if(iSB == 1 && item['SumBirth'] == 'F')
		{
			isValid = false;
		}
		if(iSB == 0 && item['SumBirth'] == 'T')
		{
			isValid = false;
		}
		
		if(isValid)
		{
			$.each(item.Level, function (j, subitem) {
				
				var key = '';
				var objRow = new Object();
				if ( subitem.hasOwnProperty('Level') ) {
					key = subitem['Level'];
		        }
			//Update case here : 
				$.each(arrResult, function (k, item1) {
					if(item1.key == key)
					{
						item1.year = item1.year + 1;
						//Calculate total: 
						total = total + 1;
						{% if DataObj.ClassList.0 %}
						if( item['Class'] == '{{DataObj.ClassList.0}}')
						{
							item1.Class1 = item1.Class1 + 1; 
						}
						{% endif %}
						{% if DataObj.ClassList.1 %}
						if( item['Class'] == '{{DataObj.ClassList.1}}')
						{
							item1.Class2 = item1.Class2 + 1; 
						}
						{% endif %}
						{% if DataObj.ClassList.2 %}
						if( item['Class'] == '{{DataObj.ClassList.2}}')
						{
							item1.Class3 = item1.Class3 + 1; 
						}
						{% endif %}
						{% if DataObj.ClassList.3 %}
						if( item['Class'] == '{{DataObj.ClassList.3}}')
						{
							item1.Class4 = item1.Class4 + 1; 
						}
						{% endif %}
						{% if DataObj.ClassList.4 %}
						if( item['Class'] == '{{DataObj.ClassList.4}}')
						{
							item1.Class5 = item1.Class5 + 1; 
						}
						{% endif %}	
						{% if DataObj.ClassList.5 %}
						if( item['Class'] == '{{DataObj.ClassList.5}}')
						{
							item1.Class6 = item1.Class6 + 1; 
						}
						{% endif %}					
					}
				});
			});
		}
	});

	console.log(arrResult);
	$.each(arrResult, function (i, item) {
		content += '<tr>';
		content += '<td bgcolor="#F7F8F9"><b>' + item['key'] + '</b></td>';
		if(item['year'] > 0)
		{
			var percent = (item['year']/total)*100;
			var round = 2;
			if(percent == 100)
				round = 0;
			content += '<td>' + percent.toFixed(round) + '</td>';
		}
		else
		{
			content += '<td bgcolor="#AAAAAA">0.00</td>';
		}
		if(item['ks6'] > 0)
		{
			var percent = (item['ks6']/item['year'])*100;
			var round = 2;
			if(percent == 100)
				round = 0;
			content += '<td>' + percent.toFixed(round) + '</td>';
		}
		else
		{
			content += '<td bgcolor="#AAAAAA">0.00</td>';
		}
		if(item['ke6'] > 0)
		{
			var percent = (item['ke6']/item['year'])*100;
			var round = 2;
			if(percent == 100)
				round = 0;
			content += '<td>' + percent.toFixed(round) + '</td>';
		}
		else
		{
			content += '<td bgcolor="#AAAAAA">0.00</td>';
		}
		if(item['kn6'] > 0)
		{
			var percent = (item['kn6']/item['year'])*100;
			var round = 2;
			if(percent == 100)
				round = 0;
			content += '<td>' + percent.toFixed(round) + '</td>';
		}
		else
		{
			content += '<td bgcolor="#AAAAAA">0.00</td>';
		}
		content += '</tr>';
    });
	//set session data: 
    $('#tblResult >tbody').html(content); 
}
function getById(id, myArray) {
    return myArray.filter(function(obj) {
      if(obj.key == id) {
        return obj; 
      }
    })[0];
}



</script>

</body>
</html>
