
Content-Type: text/html; charset=utf-8
{% load static from staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta charset="utf-8">
	<META name="description" content="Levels Review for {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.AcYear}}">
	<Meta name="keywords" content="Levels Review for {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.AcYear}}">
	<TITLE>Levels Review for {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.AcYear}}</TITLE>
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="{{STATIC_URL}}css/LevelsAnalysis/bootstrap.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/LevelsAnalysis/font-awesome.min.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/LevelsAnalysis/font.css" cache="false">
	<link rel="stylesheet" href="{{STATIC_URL}}css/LevelsAnalysis/style.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/LevelsAnalysis/plugin.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/LevelsAnalysis/landing.css">
	<style type="text/css">
		td { text-align :center !important;}
		#tblResult
		{width: 80%; margin: 0 auto;}
	</style>
	<!--[if lt IE 9]>
	   <script src="js/ie/respond.min.js" cache="false"></script>
	   <script src="js/ie/html5.js" cache="false"></script>
	   <script src="js/ie/excanvas.js" cache="false"></script>
	<![endif]-->
</head>
<body>
	<section class="panel">
       <header class="panel-heading"><b>Levels Review for {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.AcYear}}</b></header>
       <div class="table-responsive">
       <form action="report1.html" id="frmReport">
         <table class="table-striped" id="tblResult" BORDER="1"  BORDERCOLOR="#000000" CELLPADDING="6" CELLSPACING=0>
           <thead>
             <tr>
              <td colspan="11"><b>Filter by:</b> 
              							  Class: <select id="sltClass">
              							  			<option value="" selected="selected">All</option>
              							  			{% for classes in DataObj.ClassList %}
              							  			<option value="{{classes}}">{{classes}}</option>
              							  			{% endfor %}
              							  		 </select>&nbsp;&nbsp;-&nbsp;&nbsp;
              							  Gender: <select id="chkGender">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">Male</option>
              							  			<option value="0">Female</option>
              							  		 </select>&nbsp;&nbsp;-&nbsp;&nbsp;
					
              							  Sen: <select id="chkSen">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>&nbsp;&nbsp;-&nbsp;&nbsp;
              							  G&T: <select id="chkgt">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>&nbsp;&nbsp;-&nbsp;&nbsp;
              							  EAL: <select id="chkeAL">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>&nbsp;&nbsp;-&nbsp;&nbsp;
					
              							  MoreAble:  <select id="chkMoreAble">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>&nbsp;&nbsp;-&nbsp;&nbsp;
              							  Summer Birth: <select id="chkSB">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>&nbsp;&nbsp;-&nbsp;&nbsp;
              							  		 
              							  <button type="button" id="btnreset" class="btn btn-primary">Reset</button>
              </td>
             </tr>
             <tr style="background-color: #AAAAAA;">
                <td><b>Forename</b></td>
				<td><b>Surname</b></td>
				<td><b>Gender</b></td>
				<td><b>Class</b></td>
				<td><b>Learning Support</b></td>
				
				<td><b>Mich Yr4</b></td>
				
				<td><b>Lent Yr4</b></td>
				
				<td><b>Summer Yr4</b></td>
				
				<td><b>Mich Yr5</b></td>
				
				<td><b>Lent Yr5</b></td>
				
				<td><b>Summer Yr5</b></td>
				
			 </tr>
           </thead>
           <tbody>
           </tbody>
         </table>
         </form>
       </div>
     </section>
	<!-- / footer -->
	<script src="{% static "js/jquery.min.js" %}"></script>
	<!-- Bootstrap -->
	<script src="{% static "js/bootstrap.js" %}"></script>
	<!-- app -->
<script type="text/javascript">
//Define data here : 
var jsonp='';
{% for datalines in DataObj.JSONData %}
jsonp += {{ datalines|safe }};
{% endfor %}
	$(document).ready(function() {
		var objData = $.parseJSON(jsonp);
		FilterData(objData, -1, -1, -1, -1, -1, -1, "");
		//Copy booker to 1st golfer:
	    $("#chkGender").change(function () {
	    	CreateFilter(objData);
	    });
	    $("#chkSen").change(function () {
	    	CreateFilter(objData);
	    });
	    $("#chkeAL").change(function () {
	    	CreateFilter(objData);
	    });
	    $("#chkgt").change(function () {
	    	CreateFilter(objData);
	    });

	    $("#chkMoreAble").change(function () {
	    	CreateFilter(objData);
	    });

	    $("#chkSB").change(function () {
	    	CreateFilter(objData);
	    });
	    //Show golfers for toId
	    $('#sltClass').change(function () {
	        CreateFilter(objData);	
	    });
	    
	    $("#btnreset").click(function () {

	    	$('#sltClass').val("");
	    	$('#chkGender').val("-1");
	    	$('#chkSen').val("-1");
	    	$('#chkeAL').val("-1");
	    	$('#chkgt').val("-1");
	    	$('#chkMoreAble').val("-1");
	    	$('#chkSB').val("-1");

	    	CreateFilter(objData);
	    });
	});

function CreateFilter(objData)
{
	var iGender = $("#chkGender").val();
	var iSen = $("#chkSen").val();
	var iGt = $("#chkgt").val();
	var iMoreable = $("#chkMoreAble").val();
	var iEAL = $("#chkeAL").val();
	var iSB = $("#chkSB").val();
	var sClass = $('#sltClass').val();
	console.log(iGender + '-' + iSen + '-' + iGt + '-' + iMoreable);
	FilterData(objData, iGender, iSen, iGt, iMoreable, iEAL, iSB, sClass);

}

function FilterData(objData, iGender, iSen, iGt, iMoreable, iEAL, iSB, sClass)
{
	var content = "";
	$('#tblResult >tbody').html("");
	var arrResult = [];
	//Make the data
	$.each(objData, function (i, item) {
		//Filter here:
				var isValid = true;
		if(iGender == 1 && item['Gender'] == 'F')
		{
			isValid = false;
		}
		if(iGender == 0 && item['Gender'] == 'M')
		{
			isValid = false;
		}
		if(iSen == 1 && item['SEN'] == 'F')
		{
			isValid = false;
		}
		if(iSen == 0 && item['SEN'] == 'T')
		{
			isValid = false;
		}
		if(iGt == 1 && item['G&T'] == 'F')
		{
			isValid = false;
		}
		if(iGt == 0 && item['G&T'] == 'T')
		{
			isValid = false;
		}
		if(iMoreable == 1 && item['MoreAble'] == 'F')
		{
			isValid = false;
		}
		if(iMoreable == 0 && item['MoreAble'] == 'T')
		{
			isValid = false;
		}
		
		if(iEAL == 1 && item['EAL'] == 'F')
		{
			isValid = false;
		}
		if(iEAL == 0 && item['EAL'] == 'T')
		{
			isValid = false;
		}
		
		if(iSB == 1 && item['SumBirth'] == 'F')
		{
			isValid = false;
		}
		if(iSB == 0 && item['SumBirth'] == 'T')
		{
			isValid = false;
		}
		
		//Filter by class:
		if(sClass != "")
		{
			if(sClass != item['Class'])
			{
				isValid = false;
			}
		}
		
		if(isValid)
		{
			var objRow = new Object();
			objRow.forename = item['Fullname'];
			objRow.surename = '';
			objRow.gender = item['Gender'];
			objRow.cls = item['Class'];
			objRow.ls = '';
			if(item['SEN'] == 'T')
			{
				objRow.ls += 'SEN,';
			}	
			if(item['EAL'] == 'T')
			{
				objRow.ls += 'EAL4,';
			}	
			if(item['G&T'] == 'T')
			{
				objRow.ls += 'G&T,';
			}	
			if(item['MoreAble'] == 'T')
			{
				objRow.ls += 'MoreAble,';
			}
			if(item['SumBirth'] == 'T')
			{
				objRow.ls += 'SumBirth,';
			}	
			//Process replace end , character:
			
			objRow.forename = item['Fullname'];
			
			objRow.Yr4_Eot_M = '';
			
			objRow.Yr4_Eot_L = '';
			
			objRow.Yr4_Eot_S = '';
			
			objRow.Yr5_Eot_M = '';
			
			objRow.Yr5_Eot_L = '';
			
			objRow.Yr5_Eot_S = '';
			
			$.each(item.Level, function (j, subitem) {
				var key = '';
				
				if ( subitem.hasOwnProperty('Yr4_Eot_M') ) {
					objRow.Yr4_Eot_M = subitem['Yr4_Eot_M'];
				}
				
				if ( subitem.hasOwnProperty('Yr4_Eot_L') ) {
					objRow.Yr4_Eot_L = subitem['Yr4_Eot_L'];
				}
				
				if ( subitem.hasOwnProperty('Yr4_Eot_S') ) {
					objRow.Yr4_Eot_S = subitem['Yr4_Eot_S'];
				}
				
				if ( subitem.hasOwnProperty('Yr5_Eot_M') ) {
					objRow.Yr5_Eot_M = subitem['Yr5_Eot_M'];
				}
				
				if ( subitem.hasOwnProperty('Yr5_Eot_L') ) {
					objRow.Yr5_Eot_L = subitem['Yr5_Eot_L'];
				}
				
				if ( subitem.hasOwnProperty('Yr5_Eot_S') ) {
					objRow.Yr5_Eot_S = subitem['Yr5_Eot_S'];
				}
				
			});
			arrResult.push(objRow);
		}
	});

	console.log(arrResult);

	$.each(arrResult, function (i, item) {
		content += '<tr>';
		content += '<td>' + item.forename + '</td>';
		content += '<td>' + item.surename + '</td>';
		content += '<td>' + item.gender + '</td>';
		content += '<td>' + item.cls + '</td>';
		content += '<td>' + item.ls + '</td>';
		
		content += '<td>' + item.Yr4_Eot_M + '</td>';
		
		content += '<td>' + item.Yr4_Eot_L + '</td>';
		
		content += '<td>' + item.Yr4_Eot_S + '</td>';
		
		content += '<td>' + item.Yr5_Eot_M + '</td>';
		
		content += '<td>' + item.Yr5_Eot_L + '</td>';
		
		content += '<td>' + item.Yr5_Eot_S + '</td>';
		
		content += '</tr>';
    });
	//set session data: 
    $('#tblResult >tbody').html(content);
}

function getById(id, myArray) {
    return myArray.filter(function(obj) {
      if(obj.key == id) {
        return obj; 
      }
    })[0];
}



</script>

</body>
</html>
