
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% else %}
					<span style="font-weight:bold;color:lightblue;">Welcome To WillowTree</span>
				{% endif %}
				</div>
				<div style='padding:10px;'>
				{% for i in Messages %}
					<span style="font-size:1.5em;font-weight:bold;color:blue;">{{ i }}</span>
				{% endfor %}
				</div>
			<div class='WelcomeBody'>
			<!-- video test -->		
			<!-- end -->
				<br>
				{% include 'includes/FavouritesView_Include.html' %}
				{% include 'includes/VideoManuals.html' %}
			</div>	
			</div>
{% endblock %}
