
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}
<script>
{% include "popOutJavaScript.js" %}
</script>
			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
					{% if Locked %}
					<span style="font-weight:bold;color:red;">{{ errmsg }}</span>
					{% else %}
					<b>{{ errmsg }}</b>
					{% endif %}
				{% else %}
					<span style="font-weight:bold;color:lightblue;">Login Page:</span>
				{% endif %}
			</div>
			<form action="/WillowTree/{{ school }}/Authenticated/" method="post" name="auth" class='RecordFormInput'> {% csrf_token %}
				<label>Username:</label><input type="text" name='username' value=""/></br>
				<label>Password:</label><input type="password" name='password' value="" /></br>
				<button type="submit" style='font-size: 17px;'>Login To WillowTree</button>
			</form>
			<p></p>
			<p></p>
			{% include "includes/registerNewUser.html" %}
			<button style="float:left;" id="#registerNewUser" class="login-window2" >Register New User</button>
			</div>

			
{% endblock %}
