
Content-Type: text/html; charset=utf-8
{% load static from staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta charset="utf-8">
	<META name="description" content="Mapping {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.AcYear}}">
	<Meta name="keywords" content="Mapping {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.AcYear}}">
	<TITLE>Mapping English_Writing 2013-2014</TITLE>
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "css/font.css" %}" cache="false">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<link rel="stylesheet" href="{% static "css/plugin.css" %}">
	<link rel="stylesheet" href="{% static "css/landing.css" %}">
	<!-- CSS file -->
	<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/jquery.qtip.css" />
	<style type="text/css">
		td { text-align :center !important;}
		#tblResult
		{width: 80%; margin: 0 auto;}
	</style>
	<!--[if lt IE 9]>
	   <script src="js/ie/respond.min.js" cache="false"></script>
	   <script src="js/ie/html5.js" cache="false"></script>
	   <script src="js/ie/excanvas.js" cache="false"></script>
	<![endif]-->
</head>
<body>
	<section class="panel">
       
       <header class="panel-heading"><b>Mapping {{ DataObj.SubjectName}} {{DataObj.AcYear}} ({{DataObj.RecordList.0}} to {{DataObj.RecordList.1}})</b>
       			<ul style="float: right;">
					<font color='forestgreen'><li>SEN Action </li></font>
					<font color='lightseagreen'><li>EAL only</li></font>
					<li> (*) Shows the EAL level is applicable</li>
					<font color='red'><li>(GT) Gifted and Talented. Mouse over to see details</li></font>
				</ul>
       </header>
       
       <div class="table-responsive">
       <form action="report1.html" id="frmReport">
         <table id="tblResult"  BORDER="1"  BORDERCOLOR="#000000" CELLPADDING="6" CELLSPACING=0>
           <thead>
             <tr>
              <td id="tdFilter" colspan="25"><b>Filter by:</b> 
              							 Class: <select id="sltClass">
              							  			<option value="" selected="selected">All</option>
              							  			{% for classes in DataObj.ClassList %}
              							  			<option value="{{classes}}">{{ classes }}</option>
              							  			{% endfor %}
              							  		 </select>&nbsp;&nbsp;-&nbsp;&nbsp;
              							  Gender: <select id="chkGender">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">Male</option>
              							  			<option value="0">Female</option>
              							  		 </select>&nbsp;&nbsp;-&nbsp;&nbsp;
					
              							  Sen: <select id="chkSen">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>&nbsp;&nbsp;-&nbsp;&nbsp;
              							  G&T: <select id="chkgt">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>&nbsp;&nbsp;-&nbsp;&nbsp;
              							  EAL: <select id="chkeAL">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>&nbsp;&nbsp;-&nbsp;&nbsp;
					
              							  MoreAble:  <select id="chkMoreAble">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>&nbsp;&nbsp;-&nbsp;&nbsp;
              							  Summer Birth: <select id="chkSB">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>&nbsp;&nbsp;-&nbsp;&nbsp;
	

										  Show empty rows and columns <input type="checkbox" name="chkShowEmpty" class="showempty" value="1" checked="checked">&nbsp;&nbsp;
              							  <button type="button" id="btnreset" class="btn btn-primary">Reset</button>
              </td>
             </tr>
           </thead>
           <tbody>
           </tbody>
         </table>
         </form>
       </div>
     </section>
	<!-- / footer -->
	<script src="{% static "js/jquery.min.js" %}"></script>
	<!-- Bootstrap -->
	<script src="{% static "js/bootstrap.js" %}"></script>
	<!-- Include either the minifed or production version, NOT both!! -->
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.qtip.js"></script>

	<!-- Optional: imagesLoaded script to better support images inside your tooltips -->
	<script type="text/javascript" src="{{STATIC_URL}}js/imagesloaded.pkg.min.js"></script>
	<!-- app -->
<script type="text/javascript">
	//Define data here : 
var jsonp='';
{% for datalines in DataObj.JSONData %}
jsonp += {{ datalines|safe }};
{% endfor %}
//Calculate the result here: 
$(document).ready(function() {
	var objData = $.parseJSON(jsonp);
	FilterData(objData, -1, -1, -1, -1, -1, -1, "", false);
	
	//Copy booker to 1st golfer:
    $("#chkGender").change(function () {
    	CreateFilter(objData);
    });
    $("#chkSen").change(function () {
    	CreateFilter(objData);
    });
    $("#chkeAL").change(function () {
    	CreateFilter(objData);
    });
    $("#chkgt").change(function () {
    	CreateFilter(objData);
    });

    $("#chkMoreAble").change(function () {
    	CreateFilter(objData);
    });

    $("#chkSB").change(function () {
    	CreateFilter(objData);
    });

    $(".showempty").change(function () {
    	CreateFilter(objData);
    });

    //Show golfers for toId
    $('#sltClass').change(function () {
        CreateFilter(objData);	
    });

    
    $("#btnreset").click(function () {
     	$('#sltClass').val("");
    	$('#chkGender').val("-1");
    	$('#chkSen').val("-1");
    	$('#chkeAL').val("-1");
    	$('#chkgt').val("-1");
    	$('#chkMoreAble').val("-1");
    	$('#chkSB').val("-1");
    	CreateFilter(objData);
    });
    $('[title]').qtip(); 	
});
function CreateFilter(objData)
{
	var iGender = $("#chkGender").val();
	var iSen = $("#chkSen").val();
	var iGt = $("#chkgt").val();
	var iMoreable = $("#chkMoreAble").val();
	var iEAL = $("#chkeAL").val();
	var iSB = $("#chkSB").val();

	var chkShowEmpty = $("#frmReport input[name='chkShowEmpty']:checked").val();
	var isShow = false;
	if(chkShowEmpty == undefined)
	{
		isShow = true;
	} 
	
	var sClass = $('#sltClass').val();
	FilterData(objData, iGender, iSen, iGt, iMoreable, iSB, iEAL, sClass, isShow);

    $('[title]').qtip(); 	
}

function FilterData(objData, iGender, iSen, iGt, iMoreable, iSB, iEAL, sClass, isShow)
{
	var content = "";
	$('#tblResult >tbody').html("");
	var arrResult = [];
	
	//Init: 
	var objRow = new Object();
	var arrResult = [];
	//Init the data: 
	var objRow = new Object();
	objRow.key = 'w';
	objRow.Cnt = 0;
	arrResult.push(objRow);
	for(var i=1;i<=8;i++)
	{
		var objRow = new Object();
		objRow.key = i +'c';
		objRow.Cnt = 0;
		arrResult.push(objRow);
		var objRow = new Object();
		objRow.key = i +'b';
		objRow.Cnt = 0;
		arrResult.push(objRow);
		var objRow = new Object();
		objRow.key = i +'a';
		objRow.Cnt = 0;
		arrResult.push(objRow);
	}
	
	//Make the data
	$.each(objData, function (i, item) {
		//Filter here:
		var isValid = true;
		if(iGender == 1 && item['Gender'] == 'F')
		{
			isValid = false;
		}
		if(iGender == 0 && item['Gender'] == 'M')
		{
			isValid = false;
		}
		if(iSen == 1 && item['SEN'] == 'F')
		{
			isValid = false;
		}
		if(iSen == 0 && item['SEN'] == 'T')
		{
			isValid = false;
		}
		if(iGt == 1 && item['G&T'] == 'F')
		{
			isValid = false;
		}
		if(iGt == 0 && item['G&T'] == 'T')
		{
			isValid = false;
		}
		if(iMoreable == 1 && item['MoreAble'] == 'F')
		{
			isValid = false;
		}
		if(iMoreable == 0 && item['MoreAble'] == 'T')
		{
			isValid = false;
		}
		
		if(iEAL == 1 && item['EAL'] == 'F')
		{
			isValid = false;
		}
		if(iEAL == 0 && item['EAL'] == 'T')
		{
			isValid = false;
		}
		
		if(iSB == 1 && item['SumBirth'] == 'F')
		{
			isValid = false;
		}
		if(iSB == 0 && item['SumBirth'] == 'T')
		{
			isValid = false;
		}
		
		//Filter by class:
		if(sClass != "")
		{
			if(sClass != item['Class'])
			{
				isValid = false;
			}
		}
		if(isValid)
		{
			//List all previous year: 
			var prevYear = "";
			var curYear = "";
			$.each(item.Level, function (j, subitem) {
				if ( subitem.hasOwnProperty('Level1') ) {
					prevYear = subitem['Level1'];
				}
				if ( subitem.hasOwnProperty('Level2') ) {
					curYear = subitem['Level2'];
				}
			});
			//Find value of Rows for previous year: 
			//Update case here : 
			$.each(arrResult, function (k, item1) {
				if(item1.key == prevYear)
				{
					//Calculate text :
					var strTextColour = "";
					var strTitle = ""; 
					var strCnt = "";
					if(item['SEN'] == 'T')
					{
						strTitle += item['SEN_Details'] + ',';
						strTextColour = 'color="forestgreen"';
					}	
					if(parseInt(item['EAL']) > 0 )
					{
						strCnt = '(' + item['EAL'] + ')';
						strTitle += 'EAL' + item['EAL'] + ',';
					}	
					if(item['SummerBirth'] == 'T')
					{
						strCnt = '<font color="gold">(SB)</font>';
						strTitle += 'SumBirth,';
					}	
					if(item['G&T'] == 'T')
					{
						strTitle +=  item['G&T_Details'] + ',';
						strTextColour = 'color="red"';
					}	
					
					if(item['SEN'] == 'F' && item['SummerBirth'] == 'F' &&  item['G&T'] == 'F')
					{
						strTextColour = 'color="lightseagreen"';
					}
					
					if(item1[curYear] != null)
					{
						item1[curYear] += "<br/><font " + strTextColour + " title='" + strTitle + "'>" + item['Fullname'] + strCnt + "</font>";
					}
					else
					{
						item1[curYear] = "<font " + strTextColour + " title='" + strTitle + "'>" + item['Fullname'] + strCnt + "</font>";
					}
					item1.Cnt += 1;
				}
			});
		}
	});

	var strColumn = "1c,1b,1a,2c,2b,2a,3c,3b,3a,4c,4b,4a,5c,5b,5a,6c,6b,6a,7c,7b,7a,8c,8b,8a,";
	var arrCols = strColumn.split(","); 
	if(isShow)
	{
		var strExitColumns = "";
		$.each(arrResult, function (i, item) {
			if(item.Cnt > 0)
			{
				for(var i=1;i<=8;i++)
				{
					var strCol = "";
					var strCol1 = "";
					if(item[i +'c'])
					{
						strCol = i+'c';
						if(i>1)
						{
							strCol1 = (i-1).toString() + 'a';
						}
					}
					if(item[i +'b'])
					{
						strCol = i+'b'; 
						strCol1 = i+'c';
					}
					if(item[i +'a'])
					{
						strCol = i+'a';
						strCol1 = i+'b';
					}
					
					if(strCol != "" && strExitColumns.indexOf(strCol) == -1)
					{
						strExitColumns += strCol + ',';	
					}
					if(strCol1 != "" && strExitColumns.indexOf(strCol1) == -1)
					{
						strExitColumns += strCol1 + ',';	
					}
					
				}
			}
	    });
		console.log('exit columns: ' + strExitColumns );
		$.each(arrCols, function (i, item) {
			if(strExitColumns.indexOf(item) == -1)
			{
				strColumn  = replaceAll(item + ',', '', strColumn);
			}
		});
		arrCols = strColumn.split(",");
		console.log("COLUMNS*************");
		console.log(arrCols);
		
		//Sort columns: 
		/*arrCols.sort(function(a,b) {
		    if ( a < b )
		        return -1;
		    if ( a > b)
		        return 1;
		    return 0;
		} );
		*/
	}
	content = '<tr><td width="170" bgcolor="#F7F8F9"><b>Across=Current Year<br/>Down=Prev Year</b></td>';
	var iTotalCols = 1;
	$.each(arrCols, function (i, item) {
		if(item != '')
		{
			iTotalCols++;
		}
	});
	var perCol = 4;
	if(isShow)
	{
		perCol = 100/iTotalCols;
	}
	$.each(arrCols, function (i, item) {
		if(item != '')
		{
			content += '<td bgcolor="#F7F8F9" width="' + perCol + '%"><b>' + item + '</b></td>';
		}
	});
	content += '<tr>';
	
	var iCount = 3;
	var isCount = 1;
	if(isShow && iGt != "-1")
	{
		isCount = 2;
	}
	$.each(arrResult, function (i, item) {
		var strDisplay = '';
		if(isShow)
		{
			if(item.Cnt == 0)
			{
				strDisplay = ' style="display:none;" ';
			}
		}
		content += '<tr' + strDisplay + '>';
		
		//content += '<tr>';
		content += '<td bgcolor="#F7F8F9"><b>' + item.key + '</b></td>';
		var iSub = 1;
		$.each(arrCols, function (j, itemcol) {
			var strcolour = "";	
			if(!isShow)
			{
				if(iSub == iCount)
				{
					strcolour = " bgcolor='peachpuff' ";
				}
				else if(iSub == iCount + 1)
				{
					strcolour = " bgcolor='plum' ";
				}
			}
			if(itemcol != '')
			{
				if(isShow)
				{
					if(iSub == isCount)
					{
						strcolour = " bgcolor='peachpuff' ";
					}
					else if(iSub == isCount + 1)
					{
						strcolour = " bgcolor='plum' ";
					}
				}
				//bgcolor="plum" id="cell_' + item.key + '"
				//(*) Shows the EAL level is applicable
				if(item[itemcol])
				{
					/*
					if(strcolour == "")
					{
						strcolour = " bgcolor='plum' ";
					}*/
					content += '<td ' + strcolour + '>' + item[itemcol] + '</td>';
				}
				else
					content += '<td' + strcolour + '></td>';	
			}
			iSub++;
			
			
		});
		if(item.Cnt > 0)
		{
			isCount++;
		}	
		if(item.key != "1b" && item.key != "1a")
		{
			iCount++;
		}
		content += '</tr>';
    });
	
	//set session data: 
    $('#tblResult >tbody').html(content);

    //Add another colour now: 
	/*$.each(arrResult, function (i, item) {
		if(item.Cnt > 0)
		{
			$.each(arrCols, function (j, itemcol) {	
				if(itemcol != '')
				{
					//(*) Shows the EAL level is applicable
					if(item[itemcol] && $('#cell_' + item.key).prev().text() == "")
					{
						$('#cell_' + item.key).prev().css('backgroundColor', 'peachpuff');
					}
				}
			});
		}
	});
	 */
}

function getById(id, myArray) {
    return myArray.filter(function(obj) {
      if(obj.key == id) {
        return obj; 
      }
    })[0];
}

function replaceAll(find, replace, str) 
{
  while( str.indexOf(find) > -1)
  {
    str = str.replace(find, replace);
  }
  return str;
}


</script>
</body>
</html>
