
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
{% endblock %}
{% load WillowFilters %}
{% block ContentArea %}
<div>
	<div class="leftMiddle">
		<div class="banner" style="clear:both;height:15px;">
			<div style="float:left;">
				<span style="font-weight:bold;color:lightblue;">MarkBooks for: {{ GroupName }}</span>
			</div>
		</div>
		<script type="text/javascript" src="{% static "Scripts/angular/angular.min.js" %}"></script>
		<script type="text/javascript" src="{% static "Scripts/angular/angular-animate.min.js" %}"></script>
		<script type="text/javascript" src="{% static "Scripts/angular/angular-route.min.js" %}"></script>
		<script type="text/javascript" src="{% static "Scripts/angular/angular-sanitize.min.js" %}"></script>
		<script type="text/javascript" src="{% static "Scripts/angular/ng-csv.min.js" %}"></script>
		<script type="text/javascript" src="{% static "Scripts/jquery-handsontables-0.10.5/jquery.handsontable.js" %}"></script>
		<script type="text/javascript" src="{%  static "Scripts/markbook.js"%}"></script>
		
		<link rel="stylesheet" href="{%  static "css/markbook.css" %}">
		<link rel="stylesheet" href="{%  static "Scripts/jquery-handsontables-0.10.5/jquery.handsontable.css" %}">
		
		<script type="text/javascript">var groupName = "{{ GroupName }}";</script>
		
{% verbatim %}
		<div ng-app="markbook" ng-controller="pageController">
			<div id="mb-left-col">
				<div id="mb-list">
					<div class="mb-list-item" ng-class="{selected: isSelected(book)}" ng-dblclick="openMarkBookDbl( book )" ng-click="setSelected( book )" ng-repeat="book in data.markbookList" title="Double Click to Open">{{ book.fields.BookName }}</div>
				</div>
				<div class="mb-button" ng-class="{inactive: isSelectedDefined()}" ng-click="openMarkBook()">Open Selected Markbook</div>
				<div class="mb-button" ng-class="{inactive: isSelectedDefined()}" ng-click="deleteMarkBook()">Delete Selected Markbook</div>
				<div class="mb-button" ng-click="data.newBookPop = true">Create New Markbook</div>
			
			</div><!-- close mb-left-col --->
			<div id="mb-right-col">
				<div id="mb-title" ng-if="data.openBook.fields.BookName !== undefined">
					MarkBook: {{ data.openBook.fields.BookName }} - 
					<button type="button" ng-csv="data.handsonData" filename="download.csv">Download as CSV</button>
				</div>
				<div id="mb-handson"></div>
			</div>

			<div id="page-mask" ng-show="data.newBookPop"></div>
			<div id="fetching-data" ng-show="data.newBookPop">
				<div id="fetching-data-msg">
					<div id="mb-newbook-title">New MarkBook Name</div>
					<input id="mb-newbook-name" name="newbookname" ng-model="data.newBookName" >
					<div id="mb-newbook-messages">{{ data.newBookMessages }}</div>
					<div ng-click="newBookProcess()" class="mb-button">Add New MarkBook</div>
					<div ng-click="data.newBookPop = false" class="mb-button">Cancel</div>
				</div>
			</div>
			<div id="mb-saving">{{ data.saving }}</div>
		
{% endverbatim %}
			<div id="page-mask" ng-show="data.fetchingData"></div>
			<div id="fetching-data" ng-show="data.fetchingData">
				<div id="fetching-data-msg" >Please wait.. <img src="{% static "images/ajax-loader.gif" %}"></div>
			</div>
		</div><!--- close ng-app markbook --->
	</div>
</div>

{% endblock %}