{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
{% endblock %}
{% block ContentArea %}
	<div>
		<div class="leftMiddle">
			<div class="banner">
				<span style="font-weight:bold;color:lightblue;">Mass Upload of Pupil Pictures:</span>
			</div>
			<div>
				<form class="SearchForm" action="/WillowTree/{{ school }}/{{ AcYear }}/mass_upload_of_pupil_pictures/" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div style="text-align:center;margin:50px 0 100px 0;">
                        <ul style="padding-bottom:50px;text-align:left;font-size:1.2em;">
                          <li>Only images in the format of "firstname lastname.jpg" will be accepted.</li>
                          <li>Please be patient. This process can take a long time. The more images uploaded the longer this process will take.</li>
                          <li>Directories will not be accepted. Only image files.</li>
                          <li>Holding the control key will allow you to select more than one image.</li>
                          <li>Holding control key and the "a" key together will select all images in the directory.</li>
                        </ul>
						<button type="submit">Upload Pictures</button><input type="file" name="pictures" multiple>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
