
{% extends 'Base.html' %}
{% load static from staticfiles %}
{% block MenuBar %}
{% load WillowFilters %}
<ul id="menu">
        {% if user.is_authenticated %}
		<li><a href="#">Tasks *</a>
			<ul>
				{% if 'Admin' in school  or 'Applicants' in school %}
				<li><a href='#'>Admin Tasks *</a>
					<ul>
						<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/FamilySearchForm/">Find Family</a></li>
						<li>
							<a href="#">Change Menu</a>
							<ul>
								<li><a href='#'>Admin</a>
								<ul>
									<li><a href="/WillowTree/{{ school|ChangeMenu:'Admin' }}/{{ CurrentYear|AcYearPlus:-1}}/Welcome/">Last Year</a></li>									
									<li><a href="/WillowTree/{{ school|ChangeMenu:'Admin' }}/{{ CurrentYear}}/Welcome/">Current Year</a></li>								
									<li><a href="/WillowTree/{{ school|ChangeMenu:'Admin' }}/{{ CurrentYear|AcYearPlus:1}}/Welcome/">Next Year</a></li>								
								</ul>
								</li>
								<li><a href='#'>Applicants</a>
								<ul>
									<li><a href="/WillowTree/{{ school|ChangeMenu:'Applicants' }}/{{ CurrentYear}}/Welcome/">{{CurrentYear}}</a></li>
									<li><a href="/WillowTree/{{ school|ChangeMenu:'Applicants' }}/{{ CurrentYear|AcYearPlus:1 }}/Welcome/">{{CurrentYear|AcYearPlus:1}}</a></li>
									<li><a href="/WillowTree/{{ school|ChangeMenu:'Applicants' }}/{{ CurrentYear|AcYearPlus:2 }}/Welcome/">{{CurrentYear|AcYearPlus:2}}</a></li>
									<li><a href="/WillowTree/{{ school|ChangeMenu:'Applicants' }}/{{ CurrentYear|AcYearPlus:3 }}/Welcome/">{{CurrentYear|AcYearPlus:3}}</a></li>
									<li><a href="/WillowTree/{{ school|ChangeMenu:'Applicants' }}/{{ CurrentYear|AcYearPlus:4 }}/Welcome/">{{CurrentYear|AcYearPlus:4}}</a></li>
									<li><a href="/WillowTree/{{ school|ChangeMenu:'Applicants' }}/{{ CurrentYear|AcYearPlus:5 }}/Welcome/">{{CurrentYear|AcYearPlus:5}}</a></li>
									<li><a href="/WillowTree/{{ school|ChangeMenu:'Applicants' }}/{{ CurrentYear|AcYearPlus:6 }}/Welcome/">{{CurrentYear|AcYearPlus:6}}</a></li>
									<li><a href="/WillowTree/{{ school|ChangeMenu:'Applicants' }}/{{ CurrentYear|AcYearPlus:7 }}/Welcome/">{{CurrentYear|AcYearPlus:7}}</a></li>
									<li><a href="/WillowTree/{{ school|ChangeMenu:'Applicants' }}/{{ CurrentYear|AcYearPlus:8 }}/Welcome/">{{CurrentYear|AcYearPlus:8}}</a></li>								
									<li><a href="/WillowTree/{{ school|ChangeMenu:'Applicants' }}/{{ CurrentYear|AcYearPlus:9 }}/Welcome/">{{CurrentYear|AcYearPlus:9}}</a></li>								
								</ul>
								</li>
								<li><a href="/WillowTree/KindergartenAdmin/{{ CurrentYear}}/Welcome/">Kindergarten</a>
								<li><a href="/WillowTree/BatterseaAdmin/{{ CurrentYear}}/Welcome/">Battersea</a>
								<li><a href="/WillowTree/ClaphamAdmin/{{ CurrentYear}}/Welcome/">Clapham</a>
								<li><a href="/WillowTree/FulhamAdmin/{{ CurrentYear}}/Welcome/">Fulham</a>
								<li><a href="/WillowTree/KensingtonAdmin/{{ CurrentYear}}/Welcome/">Kensington</a>
							</ul>
						</li>
						<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/Manage/Applicants.Holding/">Holding</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/ManageAll/Current.{{ school|removeAdminString }}/">All Pupils</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/ManageAll/Staff.{{ school|removeAdminString }}/">All Staff</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/special_group_admin_page/">Special Grps</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/Transfer/SearchPage/">Transfer Pupil</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/EditAttendance/">Edit Att</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/DailyAttendanceReport/">Daily Att</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/pastSchools/">Schools List</a></li>
						
						
						<li><a href='#'>Letter Admin *</a>
						<ul>
							<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/NewLetter/">New Letter</a></li>	
							<li><a href="/WillowTree/{{ school }}/{{ AcYear}}/SelectLetterToCopy/">Copy Letter</a></li>	
							<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/SelectLetterToModify/">Modify Letter</a></li>
                            <li><a href="/WillowTree/{{ school }}/{{ AcYear }}/electronic_signatures_home_page/">E-Signatures</a></li>
						</ul>
						<!-- -->
						</li>
						<li><a href='#'>Admin Reports</a>
							<ul>
								<li><a href='#'>Applicant</a>
									<ul>
										<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/AdminApplicantsAmtInGrps/">Amt in Grps</a></li>						
									</ul>
								</li>
								<li><a href='#'>Current</a>
									<ul>
										<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/SelectClassList/">ClassLsts</a></li>
										<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/AttendanceMissingToday/" target='_blank'>MissingToday</a></li>						
										<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/AttendanceMissingTodayCSV/">Missing CSV</a></li>
										<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/schoolAttReport/">School Att</a></li>
										<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/generate_weekly_staff_attendance_report/">Staff Att</a></li>
										<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/whole_school_numbers_report/" target="_blank">Sch Numbers</a></li>
										<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/schoolStats/" target="_blank">School Stats</a></li>
									</ul>
								</li>
							</ul>							
						</li>
						<!-- -->
						<li><a href='#'>Variables *</a>
						<ul>
							<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/EditSystemVariable/">System Vars</a></li>
							<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/EditYearlyVariable/">Yearly Vars</a></li>
							<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/ManageTermDates/">Term Dates</a></li>
						</ul>
						</li>
						<li><a href='#'>Staff *</a>
						<ul>
							<a href="/WillowTree/{{ school }}/{{ AcYear }}/staffSearchPage/">Staff Search</a></li>
							<a href="/WillowTree/{{ school }}/{{ AcYear }}/newStaffPage/">Add New Staff</a></li>
						</ul>
						<li><a href='/WillowTree/{{ school }}/{{ AcYear }}/staff_attendance/home_page/'>Staff Att.</a>
					</ul>

				
				</li>
				{% include "Menus/PotentialClassMenu.html" %}
				{% include "menutimeTables.html" %}
				{% endif %}
				<li>
					<a href="#">Change Menu</a>
					<ul>
						<li><a href="/WillowTree/KindergartenTeacher/{{ CurrentYear}}/Welcome/">Kindergarten</a></li>
						<li><a href="/WillowTree/BatterseaTeacher/{{ CurrentYear}}/Welcome/">Battersea</a></li>
						<li><a href="/WillowTree/ClaphamTeacher/{{ CurrentYear}}/Welcome/">Clapham</a></li>
						<li><a href="/WillowTree/FulhamTeacher/{{ CurrentYear}}/Welcome/">Fulham</a></li>
						<li><a href="/WillowTree/KensingtonTeacher/{{ CurrentYear}}/Welcome/">Kensington</a></li>
					</ul>
				</li>
				<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/myStaffPage/">My Staff Page</a></li>
				<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/view_special_groups/">Special Grps</a></li>				
				<li><a href="/WillowTree/{{ school}}/{{ AcYear }}/analysis_store/">Analysis Store</a></li>
				<li><a href="/WillowTree/{{ school}}/{{ AcYear }}/notes_explorer/home_page/">Notes Explorer</a></li>
                <li><a href="/WillowTree/{{ school}}/{{ AcYear }}/note_notifications_home_page/">Email Notes</a></li>
                <li><a href="/WillowTree/{{ school}}/{{ AcYear }}/most_able_school_report/" target='_blank'>Most Able sch</a></li>
                <li><a href="/WillowTree/{{ school}}/{{ AcYear }}/grade_extract_options_page/">Grade Extract</a></li>
			</ul>
		</li>

			{{ AllGroupMenu|safe}}
		<li>
			<a href='/WillowTree/{{school}}/FireDrill/' target='_blank'>FireDrill</a>
		</li>
		{% else %}
		
									
		<li><a href='#'>Help</a>
			<ul>
				<li><a href='#'>ICT helpdesk</a></li>
				<li><a href="#">Lost Password</a></li>
			</ul>
		</li>
		{% endif %}
</ul>
<br>

{% endblock %}
