
{% load WillowFilters %}
{% load static from staticfiles %}
				<li>
					<a href="#">Timetables</a>
						<ul>
							<li><a href="/WillowTree/{{ school }}/{{ CurrentYear}}/TimeTables/TTmain/">Current {{CurrentYear}}</a></li>
							<li><a href="/WillowTree/{{ school}}/{{ CurrentYear|AcYearPlus:1 }}/TimeTables/TTmain/">NextYear {{CurrentYear|AcYearPlus:1}}</a></li>
						</ul>
				</li>
