
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">

{% include "KeywordsManager.js" %}

function SetKeywords()
{
{% for keywords in NoteRecord.Keywords_as_list %}
	if(ArrayPrimary.indexOf("{{keywords}}") > -1)
	{
		SelectPrimary("{{keywords}}");
	}
	else
	{
		SelectSecondary("{{ keywords }}"); 
	}
{% endfor %}
}		
window.onload=SetKeywords;		
</script>
<script type="text/javascript" src="{{ STATIC_URL }}Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
{% include "tinyMCE.js" %}
</script>
{% endblock %}
	
{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% endif %}
					Modify a Note:
				</div>
		<div class='NotesBody'>
			<div class='NotesC1'>
			{% for PupilDetails in PupilList %}
				{% if forloop.counter0|divisibleby:"4" %}</tr><tr>{% endif %}
				<p id="{{ PupilDetails.id }}" onClick="SelectPupil('{{PupilDetails.id }}')" style='background-color:#ADA96E;border=1; float: left;'>		
				{{ PupilDetails.Forename }} {{ PupilDetails.Surname }}
				</p>
			{% endfor %}
			</div>


			
			
			
			{% include "DisplayKeywordsNew.html" %} 
			
			<form class="SearchForm" action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateANote2/{{ PupilList.0.id }}/{{ NoteRecord.id }}/" method="post" name="PupilNote"> {% csrf_token %}
				<select multiple="multiple" id="KWSelect" name="KWSelect" style="display:none;">
				{% for words in KWList.All %}
					<option>{{ words.Keyword }}</option>
				{% endfor %}
				</select>
				
				<select multiple="multiple" id="PupilSelect" name="PupilSelect"  style="display:none;">
				{% for PupilDetails in PupilList %}
					<option selected="selected" >{{ PupilDetails.id }}</option>
				{% endfor %}
				</select>				
				
				

			<div id="DetailsBox" class="NotesC2">
				
				<p>Enter Details Here</p>
				<textarea name="NoteTextArea" style="width:100%;">{{NoteRecord.NoteText|safe}}</textarea>
				<input type="submit" id="Submit" name="save" value="Submit"><br>	
			
			</div>
			</form>
		</div>
	</div>

			
{% endblock %}
