
{% load WillowFilters %}
{% load static from staticfiles %}
<div id="ModifyContactForm{{FamilyContact.FamilyRec.Contact.id}}" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyFamilyContact/{{ FamilyDetails.FamilyId.id }}/{{FamilyContact.FamilyRec.Contact.id}}/" method="post">
			{% csrf_token %}
	<div class='bannerDialog' style="text-align:center;">
		Please Enter New Contact Details
	</div>			
<table cellspacing="10">
	<tr>
		<td><label for='Relcontact'>Relationship</label></td>
		<td>
			<select name="Relationship" id="RelContact{{FamilyContact.FamilyRec.Contact.id}}"  >
				{% for Rels in Relationships.Adult %}
					{% if Rels.Type == FamilyContact.FamilyRec.Relationship.Type %}
						<option value="{{Rels.Type}}" selected='selected'>{{Rels.Type}}</option>
					{% else %}
						<option value="{{Rels.Type}}"> {{Rels.Type}}</option>
					{% endif %}
				{% endfor %}
			</select>
		</td>
	</tr>
	<tr>
		<td><label for='PrioriotyContact'>Priority</label></td>
			<td>
				<select name="Priority"  id="PriorityContact{{FamilyContact.FamilyRec.Contact.id}}">
					<option value="None" {% ifequal FamilyContact.FamilyRec.FamilyRec.Priority ""%}selected='selected'{% endifequal %} >Not An Emergency Contact</option>
					<option value="1" {% ifequal FamilyContact.FamilyRec.Priority 1 %}selected='selected'{% endifequal %} >1</option>
					<option value="2" {% ifequal FamilyContact.FamilyRec.Priority 2 %}selected='selected'{% endifequal %} >2</option>
					<option value="3" {% ifequal FamilyContact.FamilyRec.Priority 3 %}selected='selected'{% endifequal %} >3</option>
					<option value="4" {% ifequal FamilyContact.FamilyRec.Priority 4 %}selected='selected'{% endifequal %} >4</option>
					<option value="5" {% ifequal FamilyContact.FamilyRec.Priority 5 %}selected='selected'{% endifequal %} >5</option>
					<option value="6" {% ifequal FamilyContact.FamilyRec.Priority 6 %}selected='selected'{% endifequal %} >6</option>
				</select>
		</td>
	</tr>								
	<tr>
		<td>
			<label for="TitleContact">Title:</label>
		</td>
		<td>
			<input type="text" id="TitleContact{{FamilyContact.FamilyRec.Contact.id}}" name="Title"    value="{{FamilyContact.FamilyRec.Contact.Title}}"/>
		</td>
	</tr>
	<tr>
		<td>
			<label for="ForenameContact">Forename: *</label>
		</td>
		<td>
			<input type="text" id="ForenameContact{{FamilyContact.FamilyRec.Contact.id}}" name="Forename"  required onclick="showSubmitButton2('ModifyContactForm{{FamilyContact.FamilyRec.Contact.id}}S');"  value="{{FamilyContact.FamilyRec.Contact.Forename}}"/>
		</td>
	</tr>
	<tr>
		<td>
			<label for="SurnameContact">Surname: *</label>
		</td>
		<td>
			<input type="text" id="SurnameContact{{FamilyContact.FamilyRec.Contact.id}}" name="Surname"  required onclick="showSubmitButton2('ModifyContactForm{{FamilyContact.FamilyRec.Contact.id}}S');"  value="{{FamilyContact.FamilyRec.Contact.Surname}}"/>
		</td>
	</tr>																
	<tr>
		<td><label for='GenderContact'>Gender</label></td>
		<td>
			<table>
				<tr>
					<td><span style="padding-right:5px;">Female</span><input type="radio"  name="Gender" id="ContactradioOne{{FamilyContact.FamilyRec.Contact.id}}" {% ifequal FamilyContact.FamilyRec.Contact.Gender "F" %}checked='checked'{% endifequal %} value="F"/> </td>
					<td style="padding-left:25px;"><span style="padding-right:25px;">Male</span><input type="radio"  name="Gender" id="ContactradioTwo{{FamilyContact.FamilyRec.Contact.id}}" {% ifequal FamilyContact.FamilyRec.Contact.Gender "M" %}checked='checked'{% endifequal %} value="M"/> </td>
				</tr>										
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<label for="EmailContact">Email:</label>
		</td>
		<td>
			<input type="text" id="EmailContact{{FamilyContact.FamilyRec.Contact.id}}"  name="EmailAddress"   value="{{ FamilyContact.FamilyRec.Contact.EmailAddress }}"/>
		</td>                                                                                                           
	</tr>
<!-- NEW NEW NEW -->								
	<tr>
		<td>
			<label for="mobileNumber">Mobile Number:</label>
		</td>
		<td>
			<input type="text" id="mobileNumber{{FamilyContact.FamilyRec.Contact.id}}"  name="mobileNumber"   value="{{ FamilyContact.Extended.mobileNumber.0 }}"/>
		</td>
	</tr>
	
	<tr>
		<td>
			<label for="occupation">Occupation:</label>
		</td>
		<td>
			<input type="text" id="occupation{{FamilyContact.FamilyRec.Contact.id}}"  name="occupation"   value="{{ FamilyContact.Extended.occupation.0 }}"/>
		</td>
	</tr>
	
	<tr>
		<td>
			<label for="car_reg_details">Car Registration:</label>
		</td>
		<td>
			<input type="text" id="car_reg_details{{FamilyContact.FamilyRec.Contact.id}}"  name="car_reg_details"   value="{{ FamilyContact.Extended.car_reg_details.0 }}"/>
		</td>
	</tr>	
	
	<tr>
		<td>
			<label for="Nationality{{FamilyContact.FamilyRec.Contact.id}}">Nationality:</label>
		</td>
		<td>
			<select name="Nationality" id="Nationality" >
			{% for i in nationalityList %}
				{% if FamilyContact.Extended.Nationality.1 not in nationalityList2 %}
				<option value="{{ i.0 }}" {% ifequal i.1 'Not Known' %} selected {% endifequal %}>{{i.1}}</option>
				{% else %}
				<option value="{{ i.0 }}" {% if FamilyContact.Extended.Nationality.1 in i.1 %} selected {% endif %}>{{i.1}}</option>
				{% endif %}
			{% endfor %}
		</td>
		
	</tr>
	<tr>
		<td>
			<label for="Nationality{{FamilyContact.FamilyRec.Contact.id}}">Language:</label>
		</td>
		<td>
			<select name="Language" id="Language" >
			{% for i in FamilyContact.Extended.PrimaryLanguage.2 %}
				{% if i.1 == FamilyContact.Extended.PrimaryLanguage.1 %}
					<option value="{{ i.0 }}" selected>{{ i.1 }}</option>
				{% else %}
					<option value="{{ i.0 }}">{{ i.1 }}</option>
				{% endif %}
			{% endfor %}
		</td>
		
	</tr>		
	<!-- -->																							
<!-- NEW NEW NEW -->									
</table>
<!-- #####################  Messaging System:  ##################### -->	
	<div style="background-color:lightgrey;border:1px solid;padding:2px;margin-bottom:5px;">
		<table>
			<tr>
				<td><label for='GenderContact'>Messaging System:</label></td>
				<td>
					<table>
						<tr>
							<td><span style="padding-right:5px;">SMS</span><input type="checkbox" name="SMS" value="SMS" {% if FamilyContact.FamilyRec.SMS %}checked='checked'{% endif %} /></td>
							<td style="padding-left:25px;"><span style="padding-right:5px;">EMAIL</span><input type="checkbox" name="EMAIL" value="EMAIL" {% if FamilyContact.FamilyRec.EMAIL %}checked='checked'{% endif %} /></td>
						</tr>										
					</table>
				</td>
			</tr>
		</table>
	</div>		
<!-- ############################################################### -->
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="ModifyContactForm{{FamilyContact.FamilyRec.Contact.id}}S" onclick="hideSubmitButton('ModifyContactForm{{FamilyContact.FamilyRec.Contact.id}}S');" type="submit" value="Submit">Submit</button>
            <span id="ModifyContactForm{{FamilyContact.FamilyRec.Contact.id}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
		<div style="text-align:center;margin-top:10px;border:1px solid;">
			<span>fields marked with an asterisk (*) are required</span>
		</div>
</form>
</div>
							
