
<div id="ModifyFamilyAddress_{{ Address.id }}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyFamilyAddress/{{ FamilyDetails.FamilyId.id }}/{{Address.id}}/" method="post">
	{% include "Formscript.html" %}
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<span style="font-weight:bold;">Modify Family Address</span>   
			</div>
		</div>	
		<table>
			<tr>
				<td><label for="HomeSalutation"> Home Salutation: *</label></td>
				<td><input  type="text" name="HomeSalutation" id="HomeSalutation_{{Address.FamilyId.id}}{{Address.id}}" 
				 required onclick="showSubmitButton2('ModifyFamilyAddress_{{ Address.id }}S');"  value='{{Address.HomeSalutation}}'/></td>
			</tr>
			<tr>
				<td><label for="PostalTitle">Postal Title: *</label></td>
				<td><input  type="text" name="PostalTitle" id="PostalTitle_{{Address.FamilyId.id}}{{Address.id}}" 
				required onclick="showSubmitButton2('ModifyFamilyAddress_{{ Address.id }}S');"
				value='{{Address.PostalTitle}}'/></td>
			</tr>
			<tr>
				<td><label for="AddressLine1">Address Line 1: *</label></td> 
				<td><input  type="text" name="AddressLine1" id="AddressLine1_{{Address.FamilyId.id}}{{Address.id}}" 
				required onclick="showSubmitButton2('ModifyFamilyAddress_{{ Address.id }}S');"
				value='{{Address.AddressLine1}}'/></td>
			</tr>
			<tr>
				<td><label for="AddressLine2">Address Line 2: *</label></td> 
				<td><input  type="text" name="AddressLine2" id="AddressLine2_{{Address.FamilyId.id}}{{Address.id}}" 
				required onclick="showSubmitButton2('ModifyFamilyAddress_{{ Address.id }}S');"
				value='{{Address.AddressLine2}}'/></td>
			</tr>
			<tr>
				<td><label for="AddressLine3">Address Line 3:</label></td> 
				<td><input  type="text" name="AddressLine3" id="AddressLine3_{{Address.FamilyId.id}}{{Address.id}}" 
				
				value='{{Address.AddressLine3}}'/></td>
			</tr>
			<tr>
				<td><label for="AddressLine4">Address Line 4:</label></td> 
				<td><input  type="text" name="AddressLine4" id="AddressLine4_{{Address.FamilyId.id}}{{Address.id}}" 
				
				value='{{Address.AddressLine4}}'/></td>
			</tr>
			<tr>
				<td><label for="PostCode">Postcode: *</label></td> 
				<td><input  type="text" name="PostCode" id="PostCode_{{Address.FamilyId.id}}{{Address.id}}" 
				required onclick="showSubmitButton2('ModifyFamilyAddress_{{ Address.id }}S');"
				value='{{Address.PostCode}}'/></td>
			</tr>
			<tr>
				<td><label for="Country">Country:</label></td> 
				<td><input  type="text" name="Country" id="Country_{{Address.FamilyId.id}}{{Address.id}}" 
				value='{{Address.Country}}'/></td>
			</tr>
			<tr>
				<td><label for="Phone1">Phone 1: *</label></td> 
				<td><input  type="text" name="Phone1" id="Phone1_{{Address.FamilyId.id}}{{Address.id}}" 
				required onclick="showSubmitButton2('ModifyFamilyAddress_{{ Address.id }}S');"
				value='{{Address.Phone1}}'/></td>
			</tr>
			<tr>
				<td><label for="Phone2">Phone 2:</label></td> 
				<td><input  type="text" name="Phone2" id="Phone2_{{Address.FamilyId.id}}{{Address.id}}" 
				value='{{Address.Phone2}}'/></td>
				</tr>
			<tr>
				<td><label for="Phone3">Phone 3:</label></td> 
				<td><input  type="text" name="Phone3" id="Phone3_{{Address.FamilyId.id}}{{Address.id}}" 
				value='{{Address.Phone3}}'/></td>
			</tr>
			<tr>
				<td><label for="EmailAddress">Email Address:</label></td> 
				<td><input  type="text" name="EmailAddress" id="EmailAddress_{{Address.FamilyId.id}}{{Address.id}}" 				
				value='{{Address.EmailAddress}}'/></td>
			</tr>
			<tr>
				<td><label for="Note">Note:</label></td> 
				<td><textarea id="Note_{{Address.FamilyId.id}}{{Address.id}}" rows="4" cols="20" name="Note">{{Address.Note}}</textarea></td>
			</tr>
		</table>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="ModifyFamilyAddress_{{ Address.id }}S" onclick="hideSubmitButton('ModifyFamilyAddress_{{ Address.id }}S');" type="submit" value="Submit">Submit</button>
            <span id="ModifyFamilyAddress_{{ Address.id }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
		<div style="text-align:center;margin-top:10px;border:1px solid;">
			<span>fields marked with an asterisk (*) are required</span>
		</div>		
	</form>
</div>



