
<div id="ModifyContactWorkAddress{{FamilyContact.FamilyRec.Contact.id}}" class="login-popup">
{% load static from staticfiles %}
	<table class='RecordFormDialog'>
		<tr>
			<td>
				<div class='bannerDialog'>
					Modify Contact Work Address 
				</div>	
			</td>
		<tr>
		<tr>
			<td>
				<div>
					<button id="#ModifyContactAddressAdvice" class="login-window3">Read this first!</button>
				<div>
			</td>
		</tr>
		{% for FamilyAddress in FamilyDetails.FamilyId.Address.all %}
		<tr>
			<td class='RecordFormDialog' style='width:350px;'>
				<ul>
					<li><label>Home Salutation</label>{{FamilyAddress.HomeSalutation}}</li>
					<li><label>Postal Title</label>{{FamilyAddress.PostalTitle}}</li>
					<li><label>Address Line1</label>{{FamilyAddress.AddressLine1}}</li>
					<li><label>Post Code</label>{{FamilyAddress.PostCode}}</li>
				</ul>
						<button type='button' onclick="document.location.href='/WillowTree/{{ school }}/{{ AcYear }}/ModifyContactWorkAddressFromFamily/{{FamilyDetails.FamilyId.id}}/{{ FamilyContact.FamilyRec.Contact.id}}/{{ FamilyAddress.id }}/'">Use this Address</button>
			</td>
		</tr>
		{% endfor %}
		
		<tr>
			<td>
				{% include 'includes/ModifyContactWorkAddressAddNew.html' %}
				<button id="#ModifyContactWorkAddressAddNew{{FamilyContact.FamilyRec.Contact.id}}" class="login-window3">Change to a New address</button>
			</td>	
		</tr>
		<tr>
			<td>
				<button type="button" class='close2'>Cancel</button>
			</td>
		</tr>
	</table>
</div>

