
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">

{% include Keywords.js %}

function SetKeywords()
{
{% for keywords in IssueDetails.Keywords_as_list %}
	SelectKeyword({{ keywords }})
{% endfor %}
{		
</script>
{% endblock %}
	
{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% endif %}
					{{ BannerTitle }}
				</div>
			
		
			<table border=0>
			<tr><td width=10% rowspan=2><br></td>
			<td border=1>
			
			</td>
			</tr><tr>
			
			
			
			<td border=1>
			<h2>Select at least one <span class="KeywordPrimary">Primary</span> keyword and at least one
			<span class="KeywordSecondary">Secondary</span> keyword from this list. Click again to deselect. 
			At least one of each must be selected to enter text or submit</h2>
			<div class="divider"></div>	
			<table border=0 style="text-align:center" width=100% onload="SetKeywords()">
			<tr>
			{% for Words in KWList %}
				{% if forloop.counter0|divisibleby:"5" %}</tr><tr>{% endif %}
				<td {% ifequal Words.KeywordType "Primary" %} class="KeywordPrimary" {% else %} class="KeywordSecondary" {% endifequal %}>
				<span id="{{Words.Keyword}}" onClick="SelectKeyword('{{Words.Keyword}}')">{{ Words.Keyword }}</span>
				</td>
			{% endfor %}
			</table>
			<div class="divider"></div>	
			</td>
			<td width=10% rowspan=2><br></td></tr>
			</table>
			
			<form class="SearchForm" action="/WillowTree{{ school }}/{{ AcYear }}/UpdateAnIssue/" onsubmit="return checkform()" method="post" name="PupilNote"> {% csrf_token %}
				<select multiple="multiple" id="KWSelect" name="KWSelect" style="display:none;">
				{% for words in KWList %}
					<option>{{ words.Keyword }}</option>
				{% endfor %}
				</select>
				
				
				
				
				<span id="DetailsBox" style="display:none">
				
  
				
				<div dojoType="dijit.Editor" id="IssuesTextArea2" onChange="dojo.byId('IssuesTextArea').value = this.getValue();"  extraPlugins="['dijit._editor.plugins.AlwaysShowToolbar']">                      
				<p>{{IssueDetails.IssueText|safe}}</p>                     
				</div> 
				
				
				<input type="submit" id="Submit" name="save" value="Submit"><br>					
				</span>
				<input type="hidden" name="IssueId" id='issueId' value="{{IssueDetails.id}}" />
			</form>
			</form>
			<br><br>


			</div>

			
{% endblock %}
