
<div data-dojo-type="dijit/Dialog"  title='Modify Note'  data-dojo-id="ModifyNote_{{Notes.NoteId.id}}" style='display:none;'>
{% load static from staticfiles %}
<script type="text/javascript">

{% include "KeywordsManager.js" %}

function SetKeywords()
{
	{% for keywords in NoteRecord.Keywords_as_list %}
		if(ArrayPrimary.indexOf("{{keywords}}") > -1)
		{
			SelectPrimary("{{keywords}}");
		}
		else
		{
			SelectSecondary("{{ keywords }}"); 
		}
	{% endfor %}
}		
window.onload=SetKeywords;		
</script>
	<div class="leftMiddle"> 
		<div class="banner">
		{% if errmsg %}
		<b>{{ errmsg }}</b>
		{% endif %}
			Modify Note:  
		</div>
		<div class='NotesBody'>
			<div class='NotesC1'>
			{% for PupilDetails in PupilList %}
				{% if forloop.counter0|divisibleby:"4" %}</tr><tr>{% endif %}
				<p id="{{ PupilDetails.id }}" onClick="SelectPupil('{{PupilDetails.id }}')" style='background-color:#ADA96E;border=1; float: left;'>		
				{{ PupilDetails.Forename }} {{ PupilDetails.Surname }}
				</p>
			{% endfor %}
			</div>
			{% include "DisplayKeywordsNew.html" %}
			<form class="SearchForm" action="/WillowTree/{{ school }}/{{ AcYear }}/SaveANote/" method="post" name="PupilNote"> {% csrf_token %}
				<select multiple="multiple" id="KWSelect" name="KWSelect" style="display:none;">
				{% for words in KWList.All %}
					<option>{{ words.Keyword }}</option>
				{% endfor %}
				</select>
				<select multiple="multiple" id="PupilSelect" name="PupilSelect"  style="display:none;">
				{% for PupilDetails in PupilList %}
					<option selected="selected" >{{ PupilDetails.id }}</option>
				{% endfor %}
				</select>				
				<div id="DetailsBox" class="NotesC2">
					<p>Enter Details Here</p>
					<div style='border:5px double; padding-bottom:10px; padding-right:3px;'>
					<input type="hidden" name="NoteTextArea" id='NoteTextArea' value="{{NoteRecord.NoteText|safe}}" />  
					<div dojoType="dijit/Editor" id="NoteTextArea2" onChange="dojo.byId('NoteTextArea').value = this.getValue();"  data-dojo-props="extraPlugins:['dijit/_editor/plugins/AlwaysShowToolbar']",height='250px'>
					<p>{{NoteRecord.NoteText|safe}}</p>                     
					</div> 
					</div>
					<input type="submit" id="Submit" name="save" value="Submit"><br>	
				</div>
			</form>
		</div>
	</div>
</div>
