
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">

	var ArrayKW = new Array ();
	var ArrayPrimary= new Array();
	var ArraySecondary= new Array();
	var NoPrimary = 0;
	var NoSecondary = 0;
	{% for words in KWList %}
		ArrayKW.push("{{ words.Keyword }}");
	{% endfor %}
	{% for Keywords in KWPrimary %}
		ArrayPrimary.push("{{ Keywords }}");
	{% endfor %}	
	{% for Keywords in KWSecondary %}
		ArraySecondary.push("{{ Keywords }}");
	{% endfor %}

function SelectKeyword(KW)
{
	var KWobject=document.getElementById(KW);
	var KWSelectObject=document.getElementById('KWSelect');
	
	if ( KWobject.style.backgroundColor == '')
	{
		KWobject.style.backgroundColor="#ADA96E";
		KWSelectObject.options[ArrayKW.indexOf(KW)].selected=true;
		
		if (ArrayPrimary.indexOf(KW) > -1)
		{
			NoPrimary=NoPrimary+1;
		}
		if (ArraySecondary.indexOf(KW) > -1)
		{
			NoSecondary=NoSecondary+1;
		}
		if (NoPrimary > 0 && NoSecondary > 0)
		{
			var DetailsBox=document.getElementById('DetailsBox');
			DetailsBox.style.display='inline';
		}
	}
	else
	{
		KWobject.style.backgroundColor='';
		KWSelectObject.options[ArrayKW.indexOf(KW)].selected=false;
		if (ArrayPrimary.indexOf(KW) > -1)
		{
			NoPrimary=NoPrimary-1;
		}
		if (ArraySecondary.indexOf(KW) > -1)
		{
			NoSecondary=NoSecondary-1;
		}
		if (NoPrimary < 1 || NoSecondary < 1)
		{
			var DetailsBox=document.getElementById('DetailsBox');
			DetailsBox.style.display='none';
		}
	}
}
function SetKeywords()
{
{% for keywords in NoteRecord.Keywords_as_list %}
	SelectKeyword("{{ keywords }}"); 
{% endfor %}
}		
window.onload=SetKeywords
</script>
{% endblock %}
	
{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% endif %}
					{{ BannerTitle }}
				</div>
			
		
			<table border=0>
			<tr><td width=10% rowspan=2><br></td>
			<td border=0>
			<br></div>		
			</td>
			</tr><tr>
			
			
			
			<td border=1>
			<h2>Select at least one <span class="KeywordPrimary">Primary</span> keyword and at least one
			<span class="KeywordSecondary">Secondary</span> keyword from this list. Click again to deselect. 
			At least one of each must be selected to enter text or submit</h2>
			<div class="divider"></div>	
			<table border=0 style="text-align:center" width=100% onload="SetKeywords()">
			<tr>
			{% for Words in KWList %}
				{% if forloop.counter0|divisibleby:"5" %}</tr><tr>{% endif %}
				<td {% ifequal Words.KeywordType "Primary" %} class="KeywordPrimary" {% else %} class="KeywordSecondary" {% endifequal %}>
				<span id="{{Words.Keyword}}" onClick="SelectKeyword('{{Words.Keyword}}')">{{ Words.Keyword }}</span>
				</td>
			{% endfor %}
			</table>
			<div class="divider"></div>	
			</td>
			<td width=10% rowspan=2><br></td></tr>
			</table>
			
			<form class="SearchForm" action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateALetter/" onsubmit="return checkform()" method="post" name="PupilNote"> {% csrf_token %}
				<select multiple="multiple" id="KWSelect" name="KWSelect" style="display:none;">
				{% for words in KWList %}
					<option>{{ words.Keyword }}</option>
				{% endfor %}
				</select>
				
				
				<span id="DetailsBox" style="display:none">
				<br>
  
				<input type="hidden" name="LetterTextArea" id='LetterTextArea' value="{{LetterRecord.LetterText|safe}}" />  				
				<div dojoType="dijit.Editor" id="LetterTextArea2" onChange="dojo.byId('LetterTextArea').value = this.getValue();"  extraPlugins="['dijit._editor.plugins.AlwaysShowToolbar']">                      
				<p>{{LetterRecord.LetterText|safe}}</p>                     
				</div> 
				
				
				<input type="submit" id="Submit" name="save" value="Submit"><br>					
				</span>
				<input type="hidden" name="NoteId" id='NoteId' value="{{NoteRecord.id}}" />
			</form>
			</form>
			<br><br>


			</div>

			
{% endblock %}
