
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">

	var ArrayKW = new Array ();
	var ArrayPrimary= new Array();
	var ArraySecondary= new Array();
	var ArrayPupilList= new Array();
	var ArrayWordSheets = new Array("MainWords","BehaviourWords","SubjectsWords","SportsWords","SpecialWords");	
	var NoPrimary = 0;
	var NoSecondary = 0;
	{% for words in KWList.All %}
		ArrayKW.push("{{ words.Keyword }}");
	{% endfor %}
	{% for Keywords in KWList.Primary %}
		ArrayPrimary.push("{{ Keywords }}");
	{% endfor %}	
	{% for Keywords in KWList.Secondary %}
		ArraySecondary.push("{{ Keywords }}");
	{% endfor %}
	{% for PupilDetails in PupilList %}
		ArrayPupilList.push("{{ PupilDetails.id }}");
	{% endfor %}

function SelectKeyword(KW)
{
	var KWobject=document.getElementById(KW);
	var KWSelectObject=document.getElementById('KWSelect');
	
	if ( KWobject.style.backgroundColor == '')
	{
		KWobject.style.backgroundColor="#ADA96E";
		KWSelectObject.options[ArrayKW.indexOf(KW)].selected=true;
		
		if (ArrayPrimary.indexOf(KW) > -1)
		{
			NoPrimary=NoPrimary+1;
		}
		if (ArraySecondary.indexOf(KW) > -1)
		{
			NoSecondary=NoSecondary+1;
		}
		if (NoPrimary > 0 && NoSecondary > 0)
		{
			var DetailsBox=document.getElementById('DetailsBox');
			DetailsBox.style.display='inline';
		}
	}
	else
	{
		KWobject.style.backgroundColor='';
		KWSelectObject.options[ArrayKW.indexOf(KW)].selected=false;
		if (ArrayPrimary.indexOf(KW) > -1)
		{
			NoPrimary=NoPrimary-1;
		}
		if (ArraySecondary.indexOf(KW) > -1)
		{
			NoSecondary=NoSecondary-1;
		}
		if (NoPrimary < 1 || NoSecondary < 1)
		{
			var DetailsBox=document.getElementById('DetailsBox');
			DetailsBox.style.display='none';
		}
	}
}
function checkform()
{

	if (document.getElementById('NoteTextArea').value.length > 45)
	{
		return true;
	}
	else
	{
		alert("Your text is not long enough");
		return false;
	}
}
function SetKeywords()
{
{% for keywords in NoteRecord.Keywords_as_list %}
	SelectKeyword("{{ keywords }}"); 
{% endfor %}
}		
window.onload=SetKeywords
</script>
{% endblock %}
	
{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% endif %}
					{{ BannerTitle }}
				</div>

			
		<div class='NoteBody'>
			{% include "DisplayKeywords.html" %}
			
			<form class="SearchForm" action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateANote/" onsubmit="return checkform()" method="post" name="PupilNote"> {% csrf_token %}
				<select multiple="multiple" id="KWSelect" name="KWSelect" style="display:none;">
				{% for words in KWList %}
					<option>{{ words.Keyword }}</option>
				{% endfor %}
				</select>
				
				<select multiple="multiple" id="PupilSelect" name="PupilSelect"  style="display:none;">
				{% for PupilDetails in PupilList %}
					<option selected="selected" >{{ PupilDetails.id }}</option>
				{% endfor %}
				</select>				
				
				
				<span id="DetailsBox" class='NotesC2' style="display:none">
				<br>
				<br>
  
				<input type="hidden" name="NoteTextArea" id='NoteTextArea' value="{{NoteRecord.NoteText|safe}}" />  				
				<div dojoType="dijit.Editor" id="NoteTextArea2" onChange="dojo.byId('NoteTextArea').value = this.getValue();"  extraPlugins="['dijit._editor.plugins.AlwaysShowToolbar']">                      
				<p>{{NoteRecord.NoteText|safe}}</p>                     
				</div> 
				
				
				<input type="submit" id="Submit" name="save" value="Submit"><br>					
				</span>
				<input type="hidden" name="NoteId" id='NoteId' value="{{NoteRecord.id}}" />
			</form>
			</form>
			<br><br>


			</div>
		</div>
			
{% endblock %}
