
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}
<script type="text/javascript">

function CheckSelected(FormObject)
{
	OptionSelected= false;
	for (i=0;i < FormObject.length;i++)
	{
		if (FormObject.Selected=true)
		{
			OptionSelected=true;
		}
	}
	return OptionSelected
}

function CheckText(FormObject)
{
	if (FormObject.value.length > 1)
	{
		return true;
	}
	else
	{
		return false;
	}
}

function checkform()
{
	var ArraySelected= new Array('BaseType','Selectgroup');
	var ArrayText= new Array('LetterName','LetterBody','SignatureName','SignatureTitle');
	
	for (i=0;i < ArraySelected.length; i++)
	{
		FormObject=document.getElementById(ArraySelected[i]);
		if (CheckSelected(FormObject) ==false)
		{
			return false;
		}
	}
	for (i=0; i < ArrayText.length; i++)
	{
		FormObject=document.getElementById(ArrayText[i]);
		if (CheckSelected(FormObject) ==false)
		{
			return false;
		}	
	}
	return true;
}
	

</script>

<div class="leftMiddle">
    <div class="banner">Modify a letter</div>
	{% if return_msg %}
		{% for msgs in return_msg %}
			<h1>{{ msgs }}</h1>
		{% endfor %}
	{% endif %}

	<div class="LetterCreateMain">

	<form action="/WillowTree/{{ school }}/{{ AcYear }}/SaveALetterModification/{{ LetterDetails.id}}" method="post" name="Letter"> 
	{% csrf_token %}
	<div class="LetterCreateTop">
		<input type='hidden' name='BaseType' id='BaseType' value='{{LetterDetails.ObjectBaseType}}'>
		
		<label>Select a Group to assign this Letter to.</label>
		<select id='Selectgroup' name='Selectgroup'>
			{% for Groups in GroupList.PupilGroups %}
			{% ifequal Groups LetterDetails.AttachedTo %}
				<option id='{{ Groups.Name}}' selected='selected'>{{ Groups.Name}}</option>
			{% else %}
				<option id='{{ Groups.Name }}'>{{ Groups.Name }}</option>
			{% endifequal %}
			{% endfor %}
		</select><br>	
		
			
		<label>Select the Base Template Type</label>
		<select id='TemplateList' name='TemplateList'>
			{% for Templates in TemplateDetails.AllTemplates %}
			{% ifequal Templates LetterDetails.LetterTemplate %}
				<option value='{{Templates.Name}}' selected='selected'>{{Templates.Name}}</option>
			{% else %}
				<option value='{{Templates.Name}}'>{{Templates.Name}}</option>
			{% endifequal %}
			{% endfor %}
			</select><br>			
		<label>Enter the Name for the letter</label>
		<input type='text' id='LetterName' name='LetterName' value='{{ LetterDetails.Name }}'/><br>
				<table border=0>
			<tr>
				<td>
					<label>Enter Descriptive text to help user when Generating this letter <label>
				</td>
				<td>
					<textarea id="Description" name="Description" data-dojo-type="dijit/form/SimpleTextarea" rows='4' cols='60' >{{LetterDetails.Description}}</textarea>
				</td>
			<tr>
		</table>

	</div>
		
		
		
		
		
		<div class='LetterCreateMiddle'>
		<input type="hidden" name="LetterBody" id="LetterBody" value="{{ LetterDetails.BodyText|safe }}">
				<div dojoType="dijit.Editor" id="LetterBodyEditor" onChange="dojo.byId('LetterBody').value = this.getValue();"  extraPlugins="['dijit._editor.plugins.AlwaysShowToolbar']" style='height:500px;font-size:15px;'>               
					{{ LetterDetails.BodyText|safe }}
				</div>				
		</div>
		
	<div class='LetterCreateBottom'>
		<label>Enter the Letter senders signature Name</label>
		<input type='text' name='SignatureName' id='SignatureName' value='{{ LetterDetails.SignatureName }}'><br>
		
	<label>Enter the Letter senders Title</label>
	<input type='text' name='SignatureTitle' id='SignatureTitle' value='{{ LetterDetails.SignatureTitle }}'><br>
	<label>Select a Staff Group from this list ONLY if access is needed by teaching staff, otherwise leave as none</label>
				<select id='StaffGroup'>
					<option value='None'>None</option>
					{% for Groups in GroupList.StaffGroups %}
						{% ifequal LetterDetails.ExtraStaffAccess  Groups %}
							<option value='{{ Groups.id }}' selected='selected'>{{ Groups.Name }}</option>					
						{% else %}	
					<option value='{{ Groups.id }}'>{{ Groups.Name }}</option>
						{% endifequal %}
					{% endfor %}
				</select><br><br><br>
		<input type="submit" name="save" value="Save Letter">
		
	</div>

	
	</form>

		</div>

			</div>
			
{% endblock %}
