
<div id="NewContactForm" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/NewFamilyContact/{{ FamilyDetails.FamilyId.id }}/" method="post">
	{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			Please Enter New Contact Details
		</div>
	<table cellspacing="10">
		<tr>
			<td><label for='Relcontact'>Relationship</label></td>
			<td>
				<select name="Relationship" id="RelContact">
					{% for Rels in Relationships.Adult %}
						<option value="{{Rels.Type}}"> {{Rels.Type}}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<td><label for='PrioriotyContact'>Priority</label></td>
			<td>
				<select name="Priority"  id="PriorityContact">
						<option value="None">Not An Emergency Contact</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
				</select>
			</td>
		</tr>								
		<tr>
			<td>
				<label for="TitleContact">Title:</label>
			</td>
			<td>
				<input type="text" id="TitleContact" name="Title">
			</td>
		</tr>
		<tr>
			<td>
				<label for="ForenameContact">Forename: *</label>
			</td>
			<td>
				<input type="text" id="ForenameContact" name="Forename"  required onclick="showSubmitButton2('NewContactFormS');">
			</td>
		</tr>
		<tr>
			<td>
				<label for="SurnameContact">Surname: *</label>
			</td>
			<td>
				<input type="text" id="SurnameContact" name="Surname"  required onclick="showSubmitButton2('NewContactFormS');">
			</td>
		</tr>								
		<tr>
			<td>
				<label for="OthernamesContact">Other Names:</label>
			</td>
			<td>
				<input type="text" id="OthernamesContact"  name="OtherNames">
			</td>
		</tr>								
		<tr>
			<td><label for='GenderContact'>Gender:</label></td>
			<td>
				<table>
					<tr>
						<td><span style="padding-right:5px;">Female</span><input type="radio" name="Gender" id="NewContactGenderOne" checked value="F"/></td>
						<td style="padding-left:25px;"><span style="padding-right:5px;">Male</span><input type="radio" name="Gender" id="NewContactGenderTwo" value="M"/> </td>
					</tr>										
				</table>
			</td>
		</tr>				
		<tr>
			<td>
				<label for="EmailContact">Email:</label>
			</td>
			<td>
				<input type="text" id="EmailContact"  name="EmailAddress"  />
			</td>
		</tr>
<!-- NEW NEW NEW -->								
		<tr>
			<td>
				<label for="mobileNumber">Mobile Number:</label>
			</td>
			<td>
				<input type="text" id="mobileNumber"  name="mobileNumber"  />
			</td>
		</tr>
		
		<tr>
			<td>
				<label for="occupation">Occupation:</label>
			</td>
			<td>
				<input type="text" id="occupation"  name="occupation"  />
			</td>
		</tr>
		
		<tr>
			<td>
				<label for="car_reg_details">Car Registration:</label>
			</td>
			<td>
				<input type="text" id="car_reg_details"  name="car_reg_details"  />
			</td>
		</tr>		
		
		<tr>
			<td>
				<label for="Nationality">Nationality:</label>
			</td>
			<td>
				<select name="Nationality" id="Nationality">
				{% for i in nationalityList %}
					<option value="{{ i.0 }}"><b>{{ i.1 }}</option>
				{% endfor %}
			</td>
		</tr>																								
			
	<!-- -->
	<tr>
		<td>
			<label>Language:</label>
		</td>
		<td>
			<select name="Language">
			{% for i in languageList %}
				<option value="{{ i.0 }}"><b>{{ i.1 }}</option>
			{% endfor %}
		</td>	
	</tr>		
	</table>
<!-- #####################  Messaging System:  ##################### -->	
	<div style="background-color:lightgrey;border:1px solid;padding:2px;margin-bottom:5px;">
		<table>
			<tr>
				<td><label for='GenderContact'>Messaging System:</label></td>
				<td>
					<table>
						<tr>
							<td><span style="padding-right:5px;">SMS</span><input type="checkbox" name="SMS" value="SMS"/></td>
							<td style="padding-left:25px;"><span style="padding-right:5px;">EMAIL</span><input type="checkbox" name="EMAIL" value="EMAIL"/></td>
						</tr>										
					</table>
				</td>
			</tr>
		</table>
	</div>		
<!-- ############################################################### -->
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="NewContactFormS" onclick="hideSubmitButton('NewContactFormS');" type="submit" value="Submit">Submit</button>
            <span id="NewContactFormPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
		<div style="text-align:center;margin-top:10px;border:1px solid;">
			<span>fields marked with an asterisk (*) are required</span>
		</div>		
	</form>
</div>
