
<div id="NewFamilyAddress" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/NewFamilyAddress/{{ FamilyDetails.FamilyId.id }}/" method="post">
	{% include "Formscript.html" %}	
		<table>
			<tr>
				<td><label for="HomeSalutation"> Home Salutation: *</label></td> 
				<td><input type="text" name="HomeSalutation" id="HomeSalutation_New"
				style='border: 2px solid; width: 350px; height: 15px;' required onclick="showSubmitButton2('NewFamilyAddressS');" /></td>
			</tr>
			<tr>
				<td><label for="PostalTitle">Postal Title: *</label></td>
				<td><input type="text" name="PostalTitle" id="PostalTitle_New"
				style='border: 2px solid; width: 350px; height: 15px;'  required onclick="showSubmitButton2('NewFamilyAddressS');"
				/></td>
			</tr>
			<tr>
				<td><label for="AddressLine1">Address Line 1: *</label></td> 
				<td><input type="text" name="AddressLine1" id="AddressLine1_New"
				style='border: 2px solid; width: 350px; height: 15px;'  required onclick="showSubmitButton2('NewFamilyAddressS');"
				/></td>
			</tr>
			<tr>
				<td><label for="AddressLine2">Address Line 2: *</label></td> 
				<td><input type="text" name="AddressLine2" id="AddressLine2_New"
				style='border: 2px solid; width: 350px; height: 15px;'  required onclick="showSubmitButton2('NewFamilyAddressS');"
				/></td>
			</tr>
			<tr>
				<td><label for="AddressLine3">Address Line 3:</label></td> 
				<td><input type="text" name="AddressLine3" id="AddressLine3_New"
				style='border: 2px solid; width: 350px; height: 15px;'
				/></td>
			</tr>
			<tr>
				<td><label for="AddressLine4">Address Line 4:</label></td> 
				<td><input type="text" name="AddressLine4" id="AddressLine4_New"
				style='border: 2px solid; width: 350px; height: 15px;'
				/></td>
			</tr>
			<tr>
				<td><label for="PostCode">Postcode: *</label></td> 
				<td><input type="text" name="PostCode" id="PostCode_New"
				style='border: 2px solid; width: 350px; height: 15px;'  required onclick="showSubmitButton2('NewFamilyAddressS');"
				/></td>
			</tr>
			<tr>
				<td><label for="Country">Country:</label></td> 
				<td><input type="text" name="Country" id="Country_New"
				style='border: 2px solid; width: 350px; height: 15px;'
				/></td>
			</tr>
			<tr>
				<td><label for="Phone1">Phone 1: *</label></td> 
				<td><input type="text" name="Phone1" id="Phone1_New"
				style='border: 2px solid; width: 350px; height: 15px;' required onclick="showSubmitButton2('NewFamilyAddressS');"
				/></td>
			</tr>
			<tr>
				<td><label for="Phone2">Phone 2:</label></td> 
				<td><input type="text" name="Phone2" id="Phone2_New"
				style='border: 2px solid; width: 350px; height: 15px;'
				/></td>
			</tr>
			<tr>
				<td><label for="Phone3">Phone 3:</label></td> 
				<td><input type="text" name="Phone3" id="Phone3_New"
				style='border: 2px solid; width: 350px; height: 15px;'
				/></td>
			</tr>
			<tr>
				<td><label for="EmailAddress">Email Address:</label></td> 
				<td><input type="text" name="EmailAddress" id="EmailAddress_New"
				style='border: 2px solid; width: 350px; height: 15px;'
				/></td>
			</tr>
			<tr>
				<td><label for="Note">Note:</label></td> 
				<td><textarea id="Note_New" rows="5" cols="53" name="Note"></textarea></td>
			</tr>
		</table>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="NewFamilyAddressS" onclick="hideSubmitButton('NewFamilyAddressS');" type="submit" value="Submit">Submit</button>
            <span id="NewFamilyAddressPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
		<div style="text-align:center;margin-top:10px;border:1px solid;">
			<span>fields marked with an asterisk (*) are required</span>
		</div>		
	</form>
</div>

