
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}

			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% else %}
					New user Registration Page:
				{% endif %}
				</div>

					<form action="/WillowTree/{{ school }}/Register/" method="post" name="auth" class='RecordFormInput'> {% csrf_token %}
						<label for="NewStaffId">Staff ID number:</label> <input data-dojo-type="dijit/form/TextBox" id="NewStaffId" name="NewStaffId" /><br />
						<label for="Forename">Forename:</label> <input data-dojo-type="dijit/form/TextBox" id="Forename" name="Forename" /><br/>
						<label for="Surname">Surname:</label> <input data-dojo-type="dijit/form/TextBox" id="Surname" name="Surname" /><br/>					
						<button data-dojo-type="dijit/form/Button" type="submit">Save</button>
					</form>
					
					<button type='button' onclick="window.location.href='/WillowTree/'">Click to return to Login</button>

			</div>


			
{% endblock %}
