
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% else %}
					Please Enter the UserId and Passphrase you want to use:
				{% endif %}
				</div>
			Rules:<br>
			<ul>
				<li>UserId's must be unique</li>
				<li>Passphrase are to be made of multiple words</li>
				<li>Passphrase must have at least 3 words of at least three letters per word.</li>
				<li>You cannot repeat a word in your Passphrase</li>
				<li>An Example of a good Passphrase: 'stable class tuesday'</li>
				<li>All Passphrase and UserId's are case sensitive!</li>
			</ul>
			<br>
			<form action="/WillowTree/{{ school }}/CreateNewUser/" method="post" name="auth"> {% csrf_token %}
			
			<table>
			<tr><td>Username:</td><td><input type="text" name='username' value="" /></td></tr>
			<tr><td>Passphrase:</td><td><input type="password" name='password' value="" /></td></tr>
			<tr><td>Repeat Passphrase:</td><td><input type="password" name='password2' value="" /></td></tr>						
			</table>
				<input type="submit" value="Submit" />
			</form>
			<p></p>
			</div>

			
{% endblock %}
