
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
{% endblock %}
{% block ContentArea %}
<div>
	<div class="leftMiddle">
		<div class="banner">
			<span style="font-weight:bold;color:lightblue;">Notes Explorer:</span>
		</div>
		<script type="text/javascript" src="{% static 'Scripts/angular/angular.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'Scripts/angular/angular-animate.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'Scripts/angular/angular-route.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'Scripts/angular/angular-sanitize.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'Scripts/angular/angular-multi-select.js' %}"></script>
		<script type="text/javascript" src="{% static 'Scripts/angular/ng-csv.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'Scripts/notes-explorer.js'%}"></script>
		
		<link rel="stylesheet" href="{% static 'css/notes-explorer.css'%}" >
		<link rel="stylesheet" href="{% static 'css/angular-multi-select.css'%}" >
		
		<div ng-app="notes-explorer" ng-controller="pageController">
			<div ng-view></div>
			<div class="page-mask" ng-show="data.fetchingData"></div>
			<div class="fetching-data" ng-show="data.fetchingData">
			<div class="fetching-data-msg" >Please wait.. <img src="{% static 'images/ajax-loader.gif' %}"></div>
			</div>
		</div>  <!--- close ng-app notes-explorer --->
	</div>
</div>
{% endblock %}
