
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% endif %}
					Note {{ NoteRecord.id }} saved
				</div>
				<h1>
				Note saved for:
				</h1><br>
				{% ifequal BaseType 'Staff' %}
				{{ BaseId.Forename }} {{ BaseId.Surname }}
				{% endifequal %}
				{% ifequal BaseType 'Contact' %}
				{{ BaseId.Forename }} {{ BaseId.Surname }}
				{% endifequal %}
				{% ifequal BaseType 'Family' %}
				Family: {{ BaseId.Name }}
				{% endifequal %}				
				<br>
				<br><br>
				<h1>Note Details</h1>
				<br>
				<span class='dataLabel'>Keywords</span><span class='smallDataItem'>{{ NoteRecord.Keywords }}</span>
				<br>
				<span class='dataLabel'>Details</span><span class='smallDataItem'>{{ NoteRecord.NoteText|safe }}</span>
				
			<br><br>


			</div>

			
{% endblock %}
