
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script>
var STATIC_URL = "{{STATIC_URL}}";
</script>
{% endblock %}
{% load WillowFilters %}
{% block ContentArea %}
		<div>
			<div class="leftMiddle">
				<div class="banner" style="clear:both;height:15px;">
					<div style="float:left;">
						<span style="font-weight:bold;color:lightblue;">Email Notes:</span>
					</div>
				</div>
                <script type="text/javascript" src="{% static 'Scripts/angular/angular.min.js' %}"></script>
				<script type="text/javascript" src="{% static 'Scripts/angular/angular-animate.min.js' %}"></script>
				<script type="text/javascript" src="{% static 'Scripts/angular/angular-route.min.js' %}"></script>
				<script type="text/javascript" src="{% static 'Scripts/angular/angular-sanitize.min.js' %}"></script>
				<script type="text/javascript" src="{% static 'Scripts/note-notifications.js' %}"></script>

				<link rel="stylesheet" href="{% static 'css/note-notifications.css' %}" >
		
				<div ng-app="notifications" ng-controller="pageController">
					<div ng-view></div>
					<div id="page-mask" ng-show="data.fetchingData"></div>
					<div id="fetching-data" ng-show="data.fetchingData">
					<div id="fetching-data-msg" >Please wait.. <img src="{% static 'images/ajax-loader.gif' %}"></div>
					</div>
				</div>  <!--- close ng-app notifications --->
			</div>
		</div>			
{% endblock %}
