
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block ContentArea %}

<script type="text/javascript">
{% include "KeywordsManager.js" %}
{% include "PermissionsToggle.js" %}
{% include "KeywordsManager.js" %}
</script>
<!-- pop out code -->
<script>
{% include "popOutJavaScript.js" %}
</script>
<script>
	
function go_to_school()
{
	var go_to_school_var = document.getElementById('go_to_school');
	var go_to_school_value = go_to_school_var.options[go_to_school_var.selectedIndex].value;	
	var go_to_school_div = 'go_to_school_'+go_to_school_value;
	document.getElementById(go_to_school_div).scrollIntoView();
}

</script>
<!-- MAIN HTML INCLUDES HERE -->
{% include "includes/SchoolLabelManager.html" %}
{% include "SelectALetterManager.html" %}
<!-- # -->
			<div class="leftMiddle">
				<div class="banner">
					<span style="font-weight:bold;color:lightblue;">Schools List...</span>
				</div>	
<!-- DROPDOWN MENU DIV -->
			<div class="RecordFormBody" style="height:40px;">
					<div style="float:left;font-weight:normal;margin:7px 5px 5px 5px;">
						<input type='checkbox' id="SelectAll" name="PupilCheck" checked='checked' style='height:20px;width:20px;' onChange='ToggleSelectAll();'/>
						<span style="font-weight:bold;padding-right:100px;">De/Select All</span>
						<span style="font-weight:bold;">Go to </span>		
						<select id="go_to_school" name="go_to_school" style="max-width:300px;" onChange='go_to_school();'>
						{% for sch in schools %}
							<option value="{{ sch.id }}">{{ sch.Name }} ({{ sch.Address.PostCode }})</option>
						{% endfor %}
						</select>						
					</div>				
					<div style="float:right;font-weight:normal;margin:5px;">
<!-- ######################################################## -->						
						<ul class="managermenu">
							<li><a href='#' class="drop">Actions</a>
								<div class="dropdown_2columns align_right">
									<div class="col_1">
										<h3>Main</h3>
										<ul>
											<li><a href="#SelectALetterManager" class="login-window" onclick="AddForSelected('Letter');">Generate Letters</a><li>						
											<li><a href="#LabelManager" class="login-window" onclick="AddForSelected('Labels');">Generate Labels</a><li>
										</ul>
									</div>
								</div>
							</li>
						</ul>					
<!-- ######################################################## -->	
					</div>				
				</div>					
<!-- # -->
				<div class="RecordFormBody">
					<div class="RecordFormCLeft"> 
						<h1 class="RecordFormTitleText">Schools...</h1>
							{% if not 'Teacher' in school %}
							<button id="#pastSchoolsNew" class="login-window2">Add School</button>
							{% include "includes/pastSchoolsNew.html" %}							
							{% endif %}
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
						{% if schools %}	
							{% for sch in schools %}
							<div id="go_to_school_{{ sch.id }}" class='RecordFormCRight2'>
							{% if not 'Teacher' in school %}
								<button id="#pastSchoolsEdit{{ sch.id }}" class="login-window2">Modify</button>
							{% include "includes/pastSchoolsEdit.html" %}
								<button id="#pastSchoolsDelete{{ sch.id }}" class="login-window2">Delete</button>
							{% include "includes/pastSchoolsDelete.html" %}							
							{% endif %}
								<div style="width:98px;margin:25px 0 0 5px;">
									<input type='checkbox' id="Checked{{ sch.id }}" name="PupilCheck" checked='checked' style='height:20px;width:20px;' onChange="UpdatePupilList('{{ sch.id }}');"/>
									<span >De/Select</span> 
								</div>
								<div>
									<p style="font-size:0.9em;font-weight:normal;font-style:italic;">(for use with<br />letters and labels)</p>
								</div>							
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll" style="height:185px;">
										<table>
											<tbody>	
												<tr><td class="Label">Name of School:</td><td class="DataItem">{{ sch.Name }}</td></tr>
												<tr><td class="Label">Head Teacher:</td><td class="DataItem">{{ sch.HeadTeacher }}</td></tr>
												<tr><td class="Label">Type of School:</td><td class="DataItem">{{ sch.Type }}</td></tr>
												<tr><td class="Label">Description:</td><td class="DataItem">{{ sch.Desc }}</td></tr>
												<tr><td class="Label">PostalTitle:</td><td class="DataItem">{{ sch.Address.PostalTitle }}</td></tr>
												<tr><td class="Label">Address Line 1:</td><td class="DataItem">{{ sch.Address.AddressLine1 }}</td></tr>
												<tr><td class="Label">Address Line 2:</td><td class="DataItem">{{ sch.Address.AddressLine2 }}</td></tr>
												<tr><td class="Label">Address Line 3:</td><td class="DataItem">{{ sch.Address.AddressLine3 }}</td></tr>
												<tr><td class="Label">Address Line 4:</td><td class="DataItem">{{ sch.Address.AddressLine4 }}</td></tr>
												<tr><td class="Label">Postcode:</td><td class="DataItem">{{ sch.Address.PostCode }}</td></tr>
												<tr><td class="Label">Country:</td><td class="DataItem">{{ sch.Address.Country }}</td></tr>
												<tr><td class="Label">Phone Number 1:</td><td class="DataItem">{{ sch.Address.Phone1 }}</td></tr>
												<tr><td class="Label">Phone Number 2:</td><td class="DataItem">{{ sch.Address.Phone2 }}</td></tr>
												<tr><td class="Label">Phone Number 3:</td><td class="DataItem">{{ sch.Address.Phone3 }}</td></tr>
												<tr><td class="Label">Email Address:</td><td class="DataItem">{{ sch.Address.EmailAddress }}</td></tr>
											</tbody>
										</table>
									</div>
								</div>											
							</div>
							{% endfor %}
						{% else %}
							<p style="color:darkred;font-size:1.5em;text-align:center;">No Schools on the System...</p>
						{% endif %}
						</div>
					</div>
				</div>	
			</div>
{% endblock %}
