
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block ContentArea %}

<script type="text/javascript">
{% include "KeywordsManager.js" %}
{% include "PermissionsToggle.js" %}
</script>
			<div class="leftMiddle">
				<div class="banner">
					<span style="font-weight:bold;color:lightblue;">Past Schools List...</span>
				</div>	
				<div class="RecordFormBody">
					<div class="RecordFormCLeft"> 
						<h1 class="RecordFormTitleText">Schools...</h1>
							<button style="margin-top:10px;" onclick="history.go(-1)" >Go Back?</button>
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
							<p style="color:darkred;text-align:center;">Sorry but you tried to create a school with the same NAME and POSTCODE as a 
							school already in the system. Please check to see if the school you are trying to create is in the system already.</p>
							<p style="color:darkred;text-align:center;">If you are are still having problems please see support.</p>
						</div>
					</div>
				</div>	
			</div>
{% endblock %}
