
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">
{% include "KeywordsManager.js" %}
</script>
<!-- pop out code -->
<script>
{% include "popOutJavaScript.js" %}
</script>
<script>
{% include "datePickerCode.js" %}
</script>
<!-- end -->
<script type="text/javascript" src="{{ STATIC_URL }}Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
{% include "tinyMCE.js" %}
</script>
{% endblock %}
{% load WillowFilters %}
{% block ContentArea %}
		{% include "Manager_AddNote.html" %}
		{% include "SelectALetterManager.html" %}
		{% include "includes/LabelManager.html" %}
		{% include "includes/MovePotentialClassManager.html" %}
		{% include "includes/AssignHouseManager.html" %}
		{% include "includes/ModifyClassTeacherVarsManager.html" %}
		{% include "includes/PotentialClassListsManager.html" %}
		{% include "includes/CsvOptions.html" %}
		{% include "includes/EPIFManager.html" %}
		{% include "includes/EmailListManager.html" %}
		<div>
			<div class="leftMiddle">
				<div class="banner">
					<span style="font-weight:bold;color:lightblue;">Potential ClassList: {{ GroupName }} ({{ClassObj.NewAcYear}})</span>
				</div>
			{% if Messages %}
				{% for msg in Messages %}
					{{ msg }}<br>
				{% endfor %}
			{% endif %}
			<table class="WillowTable1" border=1>
				<tr>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">House</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">Total<td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">Boys</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">Girls</td>
				</tr>
			{% for houses,counts in ClassObj.HouseNumbers.items %}
			<tr>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">{{houses}}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">{{counts.Total}}<td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">{{counts.Boys}}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">{{counts.Girls}}</td>				
			</tr>
			{% endfor %}
			<tr>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">Totals</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">{{ClassObj.NumberOfPupils}}<td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">{{ClassObj.NumberOfBoys}}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">{{ClassObj.NumberOfGirls}}</td>
			</tr>			
			</table>
				
			<table class="WillowTable1">
			<tr>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" width='7%'>
					<input type='checkbox' id="SelectAll" name="PupilCheck" checked='checked' style='height:20px;width:20px;' onChange='ToggleSelectAll();'/> 
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" width='20%'><<<< Select/Unselect All<td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}"><br></td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" width='15%'>
					<ul class="managermenu">
						<li><a href='#' class="drop">Actions</a>
							<div class="dropdown_1column align_right">
								<div class="col_1">
									<h3>Main</h3>
									<ul>
										<li><a href="#Manager_AddNote" class="login-window" onclick="AddForSelected('Note');">Add Note/Email</a><li>
										<li><a href="#SelectALetterManager" class="login-window" onclick="AddForSelected('Letter');">Generate Letter</a><li>
										<li><a href="#LabelManager" class="login-window" onclick="AddForSelected('Labels');">Generate Labels</a><li>							
										<li><a href="#EmailListManager" class="login-window" onclick="AddForSelected('EmailList');">Generate EmailList</a><li>
										<li><a href="#CsvOptions" class = "login-window" onclick="AddForSelected('CsvOptions');">CSV File</a><li>
										<li><a href="#ClassListManager" class="login-window" onclick="AddForSelected('ClassList');">Generate ClassList</a><li>	
										<li><a href="#EPIFManager" class="login-window" onclick="AddForSelected('EPIF');">Generate EPIF's</a><li>	
										<li><a href="#MoveClassManager" class="login-window" onclick="AddForSelected('MoveClass');">Move Class</a><li>											
										<li><a href="#AssignHouseManager" class="login-window" onclick="AddForSelected('AssignHouse');">Assign House</a><li>
										<li><a href="#ModifyTeacherVarsManager" class="login-window" >Set Teacher Names</a><li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</td>	
			</tr>
		</table>				
			<table class="WillowTable1">
				<tr>
					<td class="WillowTableHeaderSmall" Width='7%'>Select</td>
					<td class="WillowTableHeaderSmall">Picture</td>					
					<td class="WillowTableHeaderSmall">Id</td>
					<td class="WillowTableHeaderSmall">Name</td>
					<td class="WillowTableHeaderSmall">Gender</td>
					<td class="WillowTableHeaderSmall">DOB</td>
					<td class="WillowTableHeaderSmall">House</td>
					<td class="WillowTableHeaderSmall">Form</td>
					<td class="WillowTableHeaderSmall" width='15%'>Actions</td>
				</tr>
			{% for pupil in ClassList %}
			<tr>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
					<input type='checkbox' id="Checked{{pupil.Pupil.id}}" name="PupilCheck" checked='checked' style='height:20px;width:20px;' onChange="UpdatePupilList('{{pupil.Pupil.id}}');"/> 
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
					<a href="/WillowTree/{{ School }}/{{ AcYear }}/pupil/{{ pupil.Pupil.id }}/"><img src="{{ MEDIA_REDIRECT }}{{pupil.Pupil.Picture}}" width="50" height="60"/></a>
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.id }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.Surname }}, {{ pupil.Pupil.Forename }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.Gender }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.DateOfBirth|date:"jS N Y" }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.AcademicHouse }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Form }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
<!-- ################################################################### -->
					<ul class="managermenu">
						<li><a href='#' class="drop">Actions</a>
							<div class="dropdown_1column align_right">
								<div class="col_1">
									<h3>Main</h3>
									<ul>
										<li><a href="#Manager_AddNote" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Note');">Add Note/Email</a></li>
										<li><a href="#SelectALetterManager" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Letter');">Generate Letter</a></li>
										<li><a href="#LabelManager" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Labels');">Generate Labels</a></li>
										<li><a href="#MoveClassManager" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','MoveClass');">Move Class</a><li>
										<li><a href="#AssignHouseManager" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','AssignHouse');">Assign House</a><li>	
									</ul>
								</div>
							</div>
						</li>
					</ul>				
				</td>
			<tr>
			{% endfor %}
			</table>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<br><br><br><br><br><br><br><br>
		</div>			
{% endblock %}
