
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
{% endblock %}
{% block ContentArea %}
	<div>
		<div class="leftMiddle">
			<div class="banner">
				<span style="font-weight:bold;color:lightblue;">Select Classes:</span>
			</div>
			<div>
				<form class="MultiClasslistForm" action="/WillowTree/{{ school }}/{{ AcYear }}/PotentialGroup/MultiClassListGen/{{NewAcYear}}/" method="post" target="_blank"> 
					{% csrf_token %}
					<div style="text-align:center;margin-left:auto;margin-right:auto;">
						Select Class list type here:<br><br>
						{% include "includes/ClassListSelector.html" %}
						<br><br><br><br>
						Select the classes to be printed here: <br><br>
					<table style="margin-left:auto;margin-right:auto;">
						<tr>
						{% for forms in formList %}
						<td><input type='checkbox' id="{{forms.MenuName}}" name="{{forms.MenuName}}" style='height:20px;width:20px;'/></td>
						<td>{{forms.MenuName}}</td>
						{%if forloop.counter|divisibleby:"4"%}
						</tr><tr>
						{% endif %}
						{% endfor %}
						</tr>
					</table>
					<br>
					<br>
					<button type="submit">Generate Lists</button>
					</div>	
				</form>
			</div>
		</div>
	</div>
{% endblock %}
