
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
{% load static from staticfiles %}
<HTML>
<HEAD> 
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=windows-1252">
	<META name="description" content="$Description">
	<Meta name="keywords" content="$Keywords">
	<TITLE>EAL Map/s</TITLE>
	<STYLE TYPE="text/css">
	h1 { font-size: 15pt;
	font-weight:700;
	text-align:center;
	font-family:Georgia,"New Times Roman",Arial;}
	h2 { font-size: 10pt;
	font-weight:300;
	border: 2px solid black;}
	h3 { font-size: 12pt;
	font-family:Georgia,"New Times Roman",Arial;}
	table { font-size: 8pt;
	font-family:Georgia,"New Times Roman",Arial;}
	.index { font-size: 9pt;
	font-family:Georgia,"New Times Roman",Arial;
	font-weight:700;}
		@page { margin-left: 1cm; margin-right: 1cm }
		P { margin-bottom: 0.21cm }
		TD P { margin-bottom: 0cm }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-GB" DIR="LTR">
{% load WillowFilters %}
{% for pup in pupilList %}
<h1><img src="{% static "images/unicorn_small.jpg" %}" width="100" height="105" style="padding:12px;"/><BR></h1>


<h1><FONT SIZE=5>Thomas's
Learning Support <BR>Provision Map</FONT></h1>
<TABLE WIDTH=100% BORDER=0 CELLPADDING=4 CELLSPACING=0>
	<TR VALIGN=TOP>
		<TD width=10%>Name</TD>
		<td width=25%>{{ pup.0.Pupil.Forename }} {{ pup.0.Pupil.Surname }}</td>
		<td width=10%><b>DOB</b>: {{ pup.0.Pupil.DateOfBirth|date:"jS F Y" }}</td>
		<TD width=15%><b>Year:</b> {{ pup.0.Form.0 }} <b>Class:</b> {{ pup.0.Form }}</TD>
		<td width=15%></td>
		<td width=25%><br></td> 
	</TR>
	<TR VALIGN=TOP>
		<TD Width=10%><br></TD>
		<td width=25%><br></td>
		<td width=40%><br></td>
		<TD Width=15%>EAL Level :</TD>
		<td width=10%>{{ pup.0.ActivePupilAlerts.0.1.AlertType.Name }}</td>
	</TR>
</TABLE>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<TABLE WIDTH=100% BORDER=1 BORDERCOLOR="#000000" CELLPADDING=4 CELLSPACING=0>
	<COL WIDTH=256*>
	<TR>
		<TD WIDTH=100% VALIGN=TOP BGCOLOR="#83caff" class=index align=center>EAL History</TD>
	</TR>
	<TR>
		<TD WIDTH=100% VALIGN=TOP>{{ pup.0.returnEalAssessmentHistory|safe }}<br></TD> 
	</TR>
</TABLE>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<TABLE WIDTH=100% BORDER=1 BORDERCOLOR="#000000" CELLPADDING=4 CELLSPACING=0>
{% for i in pup.0.returnAreasOfConcernList %}
	{% if i.2.0 or i.3.0 or i.4.0 %}
	<TR VALIGN=TOP>
		<TD WIDTH=30% BGCOLOR="#83caff" class=index>{{ i.0 }} Notes</TD>
		<TD WIDTH=80% BGCOLOR="#83caff" class=index>{{ i.0 }} Teacher Notes</TD>
	</TR>	
	<TR VALIGN=TOP>
		<TD WIDTH=50%>{{ i.3.0|safe }}<BR></TD>
		<TD WIDTH=50%>{{ i.4.0|safe }}<BR></TD>
	</TR>
	{% endif %}
{% endfor %}
</TABLE>
<h3>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<DIV style="page-break-after:auto">
<!-- PROVISIONS -->
{% if pup.0.returnProvisions.activeProvisions %}
<P STYLE="margin-bottom: 0cm" class=index>Provisions Made</P>
<table WIDTH=100% BORDER=1 BORDERCOLOR="#000000" CELLPADDING=4 CELLSPACING=0>
	<tr>
		<td BGCOLOR="#83caff" class=index>Type</td><td BGCOLOR="#83caff" class=index>Start Date</td><td BGCOLOR="#83caff" class=index>Stop Date</td><td BGCOLOR="#83caff" class=index style='width:50%;'>Provision</td>
	</tr>	
{% for i in pup.0.returnProvisions.activeProvisions %}
	<tr>
		<td>{{ i.SENType }}</td><td>{{ i.StartDate|date:"jS F Y" }}</td><td>{{ i.StopDate|date:"jS F Y" }}</td><td>{{ i.Details|safe }}</td>
	</tr>
{% endfor %}
</table><BR>
</P>
</div>
{% endif %}
<!-- END -->
<!-- TARGETS -->
{% if pup.0.returnTargets.activeTargets %}
<P STYLE="margin-bottom: 0cm" class=index>Targets set in conjunction with Teacher</P>
<table WIDTH=100% BORDER=1 BORDERCOLOR="#000000" CELLPADDING=4 CELLSPACING=0>
<tr>
	<td BGCOLOR="#83caff" class=index>Review Date</td><td BGCOLOR="#83caff" class=index>Target</td><td BGCOLOR="#83caff" class=index>Review</td>
</tr>
{% for Target in pup.0.returnTargets.activeTargets %}
<tr>
	<td style='width:10%;'>{{ Target.ReviewDate|date:"jS F Y" }}</td><td style='width:40%;'>{{ Target.Target|safe }}</td><td style='width:40%;'>{{ Target.Review|safe }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
<!-- END -->
</div>
<!-- NOTES-->
{% if pup.1.NoteRecords %}
<DIV style="page-break-after:auto">
<P STYLE="margin-bottom: 0cm" class=index>Reviews</P>
<table WIDTH=100% BORDER=1 BORDERCOLOR="#000000" CELLPADDING=4 CELLSPACING=0>
<tr>
	<td BGCOLOR="#83caff" class=index>Review Date</td><td BGCOLOR="#83caff" class=index>Raised By</td><td BGCOLOR="#83caff" class=index>Keywords</td><td BGCOLOR="#83caff" class=index>Details</td>
</tr>
{% for Notes in pup.1.NoteRecords %}
<tr>
	<td style='width:10%;'>{{ Notes.NoteId.RaisedDate|date:"d/m/Y"}}</td><td style='width:10%;'>{{ Notes.NoteId.RaisedBy.UserId.User.Forename }} {{ Notes.NoteId.RaisedBy.UserId.User.Surname }}</td><td style='width:10%;'>{{ Notes.NoteId.Keywords|SplitKW }}</td><td style='width:70%;'>{{ Notes.NoteId.NoteText|safe }}</td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}
<!-- END -->
</h3>
{% endfor %}
<DIV style="page-break-after:auto">
</BODY>
</HTML>
