
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block ContentArea %}
<script>
{% include "popOutJavaScript.js" %}
{% include "KeywordsManager.js" %}
</script>
<script>
{% include "datePickerCode.js" %}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
{% include "tinyMCE.js" %}
</script>
		{% load WillowFilters %}
		{% with PupilExtended=PupilDetails.Extended %}
		{% include "includes/pupilViewPastSENs.html" %}
		{% include "includes/pupilModifySENSpecialPermissions.html" %}
		{% include "pupil_AddNote_fromSEN.html" %}
		{% include "includes/AddProvision.html" %} 
		{% include "includes/oldProvisions.html" %}
		{% include "includes/AddTarget.html" %}
		{% include "includes/oldTargets.html" %}
		{% include "includes/ModifyAssessmentHistory.html" %} 
		{% include "includes/pupilModifyExtraOptions.html" %}
		<div class="leftMiddle">
			<div class="banner">
				<span style="font-weight:bold;color:lightblue;float:left;">Pupil SEN Record: {{ PupilDetails.Pupil.Forename }} {{PupilDetails.Pupil.Surname }} (PupilId: <a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{PupilDetails.Pupil.id}}/">{{ PupilDetails.Pupil.id }}</a> )&nbsp &nbsp </span>
					{% for alert_items in PupilDetails.ActivePupilAlerts %}
					 {% for alerts in alert_items %}
						{% if alerts.AlertDetails %}
						<img style="float:left" title='{{ alerts.AlertDetails|safe }}' id="img_{{alerts.id}}" src="{{ MEDIA_REDIRECT }}{{alerts.AlertType.Icon}}" width="35" height="35"/>
						{% else %}
						<img style="float:left" title='{{ alerts.AlertType.Name }}' id="img_{{alerts.id}}" src="{{ MEDIA_REDIRECT }}{{alerts.AlertType.Icon}}" width="35" height="35"/>
						{% endif %}
					{% endfor %}
					{% endfor %}
					<form class="UpdateAlertsForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyAlerts/{{ PupilDetails.Pupil.id }}/" method='post'/>{% csrf_token %}
					<input type="submit" name="View_PupilNotes" id="View_PupilNotes" value="Edit Alerts" />
					</form><br>					
			</div>			
<!-- sen -->
			<div class="RecordFormBody" style="height:40px;">
				<div style="float:left;font-weight:normal;margin:7px 5px 5px 5px;">
					<button style="width:150px;" onclick="window.open('/WillowTree/{{ school }}/{{ AcYear }}/ViewSenProvisionMap/{{PupilDetails.Pupil.id}}/singlePupil', '_blank');">Show Provision Map</button>
				</div>
			</div>
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>Active Alert...</b></h1>
					</div>
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						<div class='RecordFormCRight2'>
							<button id="#pupilViewPastSENs" class="login-window2" >Past Records</button>
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style="height:auto;">
									<table>
										<tbody>
											<tr><td class="Label">Alert Type</td><td class="DataItem">{{ PupilDetails.ReturnCurrentActiveSen.AlertType.Name }}</td></tr>
											<tr><td class="Label">Start Date</td><td class="DataItem">{{ PupilDetails.ReturnCurrentActiveSen.StartDate|date:"jS F Y" }}</td></tr>
											<tr><td class="Label">Stop Date</td><td class="DataItem">{{ PupilDetails.ReturnCurrentActiveSen.StopDate|date:"jS F Y" }}</td></tr>
											<tr><td class="DataItem" colspan="2">{{ PupilDetails.ReturnCurrentActiveSen.AlertDetails|safe }}</td></tr>
										</tbody>
									</table>
								</div>
							</div>											
						</div>
					</div>
				</div>
			</div>	
<!-- end -->
<!-- sen -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>Special Permissions...</b></h1>
					</div>
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						<div class='RecordFormCRight2'>
							{% if inSEN %}
							<button id="#pupilModifySENSpecialPermissions" class="login-window2" >Modify</button>
							{% endif %}
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style="height:auto;">
									<table>
										<tbody>
											<tr><td class="Label">Extra Time</td><td class="DataItem">{{ PupilDetails.returnSenExtraTimeSpecialPermissions }}</td></tr>
											<tr><td class="Label">Laptop</td><td class="DataItem">{{ PupilDetails.returnSenLaptopSpecialPermissions }}</td></tr>
											<tr><td class="Label">Other</td><td class="DataItem">{{ PupilDetails.returnSenOtherSpecialPermissions|safe }}</td></tr>
										</tbody>
									</table>
								</div>
							</div>											
						</div>
					</div>
				</div>
			</div>
<!-- end -->

<!-- sen -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>Extra<br/>SEN<br />Options...</b></h1>
					</div>
					<div style='margin-top:10px;'>
					{% if inSEN %}
					{% if not extraOptions.hasExtraOptions %}
						<button id="#pupilModifyExtraOptions" class="login-window2" >Add</button>
					{% endif %}
					{% endif %}
					</div>
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						<div class='RecordFormCRight2'>
							{% if inSEN %}
							{% if extraOptions.hasExtraOptions %}
							<button id="#pupilModifyExtraOptions" class="login-window2" >Modify</button>
							{% endif %}
							{% endif %}
						</div>
						<div class='RecordFormCRight3'>
						{% if extraOptions.hasExtraOptions %}
							<div class="table-wrapper">
								<div class="table-scroll" style="height:auto;">
									<table>
										{% for a in extraOptions.extraOptionsInList %}
											{% if a in extraOptions.standard_SEN_search_list %}
										<tr>
											<td>{{ a|replaceSpace:'_' }} <span style='float:right;color:blue;'>(standard)</span></td>
										</tr>
											{% endif %}
											{% if a in extraOptions.difficulties_SEN_search_list %}
										<tr>
											<td>{{ a|replaceSpace:'_' }} <span style='float:right;color:red;'>(difficulty)</span></td>
										</tr>
											{% endif %}
										{% endfor %}
										</tr>									
									</table>
								</div>
							</div>											
						{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-left:125px;padding-top:50px;padding-bottom:75px;">No Extra Options</h1>
						</div>
						{% endif %}						
						</div>
					</div>
				</div>
			</div>
<!-- end -->

<!-- sen -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>Assessment History...</b></h1>
					</div>
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						<div class='RecordFormCRight2'>
							{% if inSEN %}
							<button id="#ModifyAssessmentHistory" class="login-window2" >Modify</button>
							{% endif %}
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style="height:auto;">
									<table>
										<tbody>
											<tr><td class="DataItem" colspan="2"><b>Assessment:</b><br /><br /><span style="font-weight:normal;">{{ PupilDetails.returnSenAssessmentHistory|safe }}</span></td></tr>
										</tbody>
									</table>
								</div>
							</div>											
						</div>
					</div>
				</div>
			</div>
<!-- end -->
<!-- sen -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>Areas of<br />Concern...</b><br /><br /></h1>
					</div>
						{% if inSEN %}
						{% for area in PupilDetails.returnSENAreasOfConcern %}
						{% if not area.1 or not area.2 %}
						{% include "includes/pupilModifySENAreasOfConcern.html" %}
						<div>
							<a href="#pupilModifySENAreasOfConcern_sen{{ area.0 }}" class="login-window" style="text-decoration:none;font-weight:normal;color:blue;" onMouseOver="this.style.color='red';" onMouseOut="this.style.color='blue';">Add {{ area.0 }}?</a>
						</div>							
						{% endif %}
						{% endfor %}
						{% endif %}
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						{% if PupilDetails.returnSENAreasOfConcernBool %}
						{% for area in PupilDetails.returnSENAreasOfConcern %}
						{% if area.1 or area.2 %}
						{% include "includes/pupilModifySENAreasOfConcern.html" %}
						{% include "includes/pupilDeleteSENAreasOfConcern.html" %}
						<div class='RecordFormCRight2'>
							{% if inSEN %}
							<button id="#pupilModifySENAreasOfConcern_sen{{ area.0 }}" class="login-window2" >Modify</button>
							<button id="#pupilDeleteSENAreasOfConcern_sen{{ area.0 }}" class="login-window2" >Delete</button>
							{% endif %}
						</div>						
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style="height:auto;">
									<table>
										<tbody>
											<tr><td class="DataItem" colspan="2"><b>{{ area.0 }} Notes:</b><span style="font-weight:normal;">{{ area.1|safe }}</span></td></tr>
											<tr><td class="DataItem" colspan="2"><b>{{ area.0 }} Teacher Notes:</b><span style="font-weight:normal;">{{ area.2|safe }}</span></td></tr>
											<tr><td style="background-color:#CCC9A1;" colspan="2"><br /></td></tr>
										</tbody>
									</table>
								</div>
							</div>											
						</div>
						{% endif %}						
						{% endfor %}
						{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No Concerns</h1>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
<!-- end -->
<!-- sen -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>Provisions...</b></h1>
					</div>
					<div style="margin-top:10px;">
						{% if inSEN %}
						<button id="#AddProvision" class="login-window2" >Add Provision</button>
						{% endif %}
						{% if inActiveProvisions %}
						<button id="#oldProvisions" class="login-window2" >old Provisions</button>
						{% endif %}
					</div>					
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						{% if activeProvisions %}
						{% for Provision in activeProvisions %}
						{% include "includes/ModifyProvision.html" %}
						{% include "includes/DeleteProvision.html" %}
						<div class='RecordFormCRight2'>
							{% if inSEN %}
							<button id="#ModifyProvision{{ Provision.id }}" class="login-window2" >Modify</button>
							<button id="#DeleteProvision{{ Provision.id }}" class="login-window2" >Delete</button>
							{% endif %}
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style="height:auto;">
									<table>
										<tbody>
											<tr><td class="Label">Type</td><td class="DataItem">{{ Provision.SENType }}</td></tr>
											<tr><td class="Label">Start Date</td><td class="DataItem">{{ Provision.StartDate|date:"jS F Y" }}</td></tr>
											<tr><td class="Label">Stop Date</td><td class="DataItem">{{ Provision.StopDate|date:"jS F Y" }}</td></tr>
											<tr><td class="Label">Details</td><td class="DataItem">{{ Provision.Details|safe }}</td></tr>
											<tr><td style="background-color:#CCC9A1;" colspan="2"><br /></td></tr>
										</tbody>
									</table>
								</div>
							</div>											
						</div>
						{% endfor %}
						{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No Provisions</h1>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
<!-- end -->
<!-- sen -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>Targets...</b></h1>
					</div>
					<div style="margin-top:10px;">
						<button id="#AddTarget" class="login-window2" >Add Target</button>
						{% if inActiveTargets %}
						<button id="#oldTargets" class="login-window2" >old Targets</button>
						{% endif %}						
					</div>					
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						{% if activeTargets %}
						{% for Target in activeTargets %}
						{% include "includes/ModifyTarget.html" %}
						{% include "includes/DeleteTarget.html" %}
						<div class='RecordFormCRight2'>
							<button id="#ModifyTarget{{ Target.id }}" class="login-window2" >Modify</button>
							<button id="#DeleteTarget{{ Target.id }}" class="login-window2" >Delete</button>
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style="height:auto;">
									<table>
										<tbody>
											<tr><td class="Label">Review Date</td><td class="DataItem">{{ Target.ReviewDate|date:"jS F Y" }}</td></tr>
											<tr><td class="Label">Progress</td><td class="DataItem">{{ Target.Progress|replaceSpace:'_' }}</td></tr>
											<tr><td class="Label">Target</td><td class="DataItem">{{ Target.Target|safe }}</td></tr>
											<tr><td class="Label">Review</td><td class="DataItem">{{ Target.Review|safe }}</td></tr>
											<tr><td style="background-color:#CCC9A1;" colspan="2"><br /></td></tr>
										</tbody>
									</table>
								</div>
							</div>											
						</div>
						{% endfor %}
						{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No Targets</h1>
						</div>
						{% endif %}						
					</div>
				</div>
			</div>
<!-- end -->
<!-- sen -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>SEN Notes...</b></h1>
					</div>
					<div style="margin-top:10px;">
						{% if inSEN %}
						<button id="#pupil_AddNote" class="login-window2" >Add a Note</button>
						{% endif %}
					</div>
				</div>
				<div class="RecordFormCRight">
				<div class="RecordFormCRight1">
				{% if NoteRecords %}
				{% for Notes in NoteRecords %}			
					<div class='RecordFormCRight2'>
						<div class='RecordFormCRight2' style="width:90px;">
							{% if inSEN %}
							<button type='button' id="#RemoveNote{{Notes.NoteId.id}}" class="login-window2">Delete</button>
							{% endif %}
							{% include "RemoveNote_fromSEN.html" %}
							<button type='button' onclick="document.location.href='/WillowTree/{{ school }}/{{ AcYear }}/ModifyPupilNote/{{ Notes.NoteId.id }}/{{ PupilDetails.Pupil.id }}/'">Modify</button>
						</div>
					</div>
					<div class='RecordFormCRight3'>
						<div class="table-wrapper"> 
							<div class="table-scroll" style="height:auto;float:right;">
								<table>
									<tbody>
										<tr><td class="DataItem">Raised Date:<span style="float:right;padding-right:4px">{{ Notes.NoteId.RaisedDate|date:"d/m/Y"}}</span></td></tr>
										<tr><td class="DataItem">Raised By:<span style="float:right;padding-right:4px">{{ Notes.NoteId.RaisedBy.UserId.User.Forename }} {{ Notes.NoteId.RaisedBy.UserId.User.Surname }}</span></td></tr>
										<tr><td class='DataItem'>Keywords:<span style="float:right;padding-right:4px">{{ Notes.NoteId.Keywords|SplitKW }}</span></div>
										<tr><td class="DataItem"><br />{{ Notes.NoteId.NoteText|safe }}</td></tr>
										<tr><td style="background-color:#CCC9A1;"><br /></td><td style="background-color:#CCC9A1;"><br /></td></tr>		
									</tbody>
								</table>
							</div>
						</div>
					</div>
				{% endfor %}
				{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No Notes</h1>
						</div>
				{% endif %}				
				</div>
				</div>
			</div>
<!-- end -->
		{% endwith %}
		</div>
{% endblock %}
