
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}

<script type="text/javascript">
</script>
			{% with PupilExtended=PupilDetails.Extended %}   
			<div class="leftMiddle">
				<div class="banner">
				<!-- Contents banner section
					This section is the brown line at the top of the page with the pupils
					name ect in it
				-->
				
					<span style="float:left">Pupil Record : {{ PupilDetails.Pupil.Forename }} {{PupilDetails.Pupil.Surname }} (PupilId: {{ PupilDetails.Pupil.id }} )&nbsp &nbsp </span>


						{% for alert_items in PupilDetails.ActivePupilAlerts %}
						 {% for alerts in alert_items %}
							<img style="float:left" id="img_{{alerts.id}}" src="{{ MEDIA_REDIRECT }}{{alerts.AlertType.Icon}}" width="35" height="35"/>
							<span data-dojo-type="dijit/Tooltip" data-dojo-props="connectId:'img_{{alerts.id}}',position:['below']">
							<b>Alert Type:</b> {{alerts.AlertType.AlertGroup.Name }} ({{alerts.AlertType.Name}})<br>
							<b>Start Date:</b> {{alerts.StartDate}}<br>
						{{alerts.AlertDetails|safe}}</span>

						{% endfor %}
						{% endfor %}



						<form class="UpdateAlertsForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyAlerts/{{ PupilDetails.Pupil.id }}/" method='post'/>{% csrf_token %}
						<input type="submit" name="View_PupilNotes" id="View_PupilNotes" value="Edit Alerts" />
						</form><br>

				</div>
				<div id="pupilRecordMainButtonsBar">
					<button type='button' onclick="document.location.href='/WillowTree/{{ school }}/{{ AcYear }}/FamilyRecord/{{ PupilDetails.Pupil.id }}/'">Family Details</button>
					<button type='button' onclick="document.location.href='/WillowTree/{{ school }}/{{ AcYear }}/ViewPupilNotes/{{ PupilDetails.Pupil.id }}/'">View Notes</button>
					<button type='button' onclick="document.location.href='/WillowTree/{{ school }}/{{ AcYear }}/AddPupilNote/{{ PupilDetails.Pupil.id }}/'">Add a Note</button>
					<button type='button' onclick="document.location.href='/WillowTree/{{ school }}/{{ AcYear }}/ViewPupilIssues/{{ PupilDetails.Pupil.id }}/'">{% if PupilDetails.PupilIssueCount %}{{PupilDetails.PupilIssueCount}} Open Issues{% else %}No Open Issues{% endif %}</button>
				</div>
				<!-- This section shows the primary details of the pupil records -->
				{{ PupilDetails.PupilAlerts }}
				
<!--#################################################################-->
				<h1> Base Details </h1>
				<div id="pupilRecordBaseDetails"> 
					<div id="pupilRecordImage">
						<img src="{{ MEDIA_REDIRECT }}{{PupilDetails.Pupil.Picture}}" width="125" height="170" alt="{{ PupilDetails.Pupil.Forename }} {{ PupilDetails.Pupil.Surname }}" />
					</div>
					<!--<div id="pupilRecordBaseName">
						<h1>{{ PupilDetails.Pupil.Forename }}<br />{{PupilDetails.Pupil.Surname }}</h1>
					</div>-->
					<div id="pupilRecordBaseMainDetails">
						<div class="pupilRecordBaseMainDetailsInnerDiv">Surname: <span class="pupilRecordBold">{{ PupilDetails.Pupil.Surname }}</span></div>
						<div class="pupilRecordBaseMainDetailsInnerDiv">Forename: <span class="pupilRecordBold">{{ PupilDetails.Pupil.Forename }}</span></div>
						<div class="pupilRecordBaseMainDetailsInnerDiv">Other Names: <span class="pupilRecordBold">{{ PupilDetails.Pupil.OtherNames }}</span></div>
						<div class="pupilRecordBaseMainDetailsInnerDiv">Known As: <span class="pupilRecordBold">{{ PupilDetails.Pupil.NickName }}</span></div>
						<div class="pupilRecordBaseMainDetailsInnerDiv">Title: <span class="pupilRecordBold">{{ PupilDetails.Pupil.Title }}</span></div>
						<div class="pupilRecordBaseMainDetailsInnerDiv">Gender: <span class="pupilRecordBold">{{ PupilDetails.Pupil.Gender }}</span></div>
						<div class="pupilRecordBaseMainDetailsInnerDiv">DOB: <span class="pupilRecordBold">{{ PupilDetails.Pupil.DateOfBirth|date:"jS F Y" }}</span></div>
						<div class="pupilRecordBaseMainDetailsInnerDiv">House: <span class="pupilRecordBold">{{ PupilDetails.AcademicHouse }}</span></div>
						<div class="pupilRecordBaseMainDetailsInnerDiv">Form: <span class="pupilRecordBold">{{ PupilDetails.Form }}</span></div>
						<div class="pupilRecordBaseMainDetailsInnerDiv">Email: <span class="pupilRecordBold"><a href="/WillowTree/{{ school }}/{{ AcYear }}/SendEmail/{{ PupilDetails.Pupil.Surname }}/{{ PupilDetails.Pupil.Forename }}/{{ PupilExtended.Email.0 }}/">{{ PupilDetails.Pupil.EmailAddress }}</a></span></div>
						<div class="pupilRecordBaseMainDetailsInnerDiv3">{% include "EditPupilDetails.html" %}<button type="button" style="float:right; width:120px; height:25px;" onclick="EditPupilDetails.show()" >Edit Base details</button></div>
					</div>
				</div>
<!--#################################################################-->				
				<div class="divider"></div>
			<!-- Siblings section -->
			<h1> Siblings </h1>
			<table class="WillowTable1">
				<tr>
					<td class="WillowTableHeaderSmall">Name</td>
					<td class="WillowTableHeaderSmall">Status</td>
					<td class="WillowTableHeaderSmall">Form</td>
					<td class="WillowTableHeaderSmall">House</td>					
				</tr>
				{% for Sibs in PupilDetails.Siblings %}
				<tr>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" ><a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ Sibs.Pupil.id }}/">{{ Sibs.Pupil.FullName }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ Sibs.PupilStatus }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ Sibs.Form }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ Sibs.AcademicHouse }}</td> 
				</tr>
				{% endfor %}
			</table>
			<!-- Emergency contact section -->
			<h1>Family Contacts</h1>
			Please be aware that these contacts are IN ORDER and should be contacted as thus!
			<table class="WillowTable1">
				<tr>
					<td class="WillowTableHeaderSmall">Priority</td>
					<td class="WillowTableHeaderSmall">Relationship</td>
					<td class="WillowTableHeaderSmall">Home Salutation</td>
					<td class="WillowTableHeaderSmall">Title</td>
					<td class="WillowTableHeaderSmall">Forename</td>
					<td class="WillowTableHeaderSmall">Surname</td>
					<td class="WillowTableHeaderSmall">Phone 1</td>					
					<td class="WillowTableHeaderSmall">Phone 2</td>
					<td class="WillowTableHeaderSmall">Email</td>
				</tr>
				{% for CDS in PupilDetails.EmergencyContacts %}
				<tr>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ CDS.Priority }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ CDS.Relationship.Type }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ CDS.Contact.Address.HomeSalutation }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ CDS.Contact.Title }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ CDS.Contact.Forename }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ CDS.Contact.Surname }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ CDS.Contact.Address.Phone1 }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ CDS.Contact.Address.Phone2 }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ CDS.Contact.EmailAddress }}</td>
				<tr>
				{% endfor %}
			</table>
			{% if 'Applicant' in school %}
			<!-- emegency contact section finished -->	
			
			{% endif %}	
			<div class="divider"></div>				
			<!-- emegency contact section finished -->	
				
			<div class="divider"></div>

			<h1>Groups Assigned</h1>
				<table class="WillowTable1">
					{% for groups in PupilDetails.GroupList %}
					<tr>
						<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" >
						<a href="/WillowTree/{{ school }}/{{ AcYear }}/PupilList/Basic/{{ groups }}/">{{ groups }}</a>
						</td>
					</tr>
					{% endfor %}
				</table>
				
			<!-- Other Data section finished -->	
				
			<div class="divider"></div>				
			
			<h1>Other Info </h1>

			<table width=100%>
				<tr>
					<td>
						<span class='dataLabel'>UPN</span>
						<span class='smallDataItem'>{{ PupilExtended.UPN.0 }}</span>
					</td>
					<td>
						<span class='dataLabel'>Entry Year</span>
						<span class='smallDataItem'>{{ PupilExtended.EntryYear.0 }}</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class='dataLabel'>Ethnicity</span>
						<span class='smallDataItem'>{{ PupilExtended.Ethnicity.0 }}</span>
					</td>
						<td>
						<span class='dataLabel'>Nationality</span>
						<span class='smallDataItem'>{{ PupilExtended.Nationality.0 }}</span>
					</td>
					<td>
						<span class='dataLabel'>Religion</span>
						<span class='smallDataItem'>{{ PupilExtended.Religion.0 }}</span>
					</td>
					<td>
						<span class='dataLabel'>Primary Language</span>
						<span class='smallDataItem'>{{ PupilExtended.PrimaryLanguage.0 }}</span>
					</td>
				</tr>
			</table>
			<!-- Permissions Data section finished -->	
				
			<div class="divider"></div>				
			
			<h1>Permissions</h1>
			
			<table width=100%>
				<tr>
					<td>
						<span class='dataLabel'>Internet</span>
						<span class='smallDataItem'>
						 {% if PupilExtended.P_Internet.0 %}
						 <img src="{% static "images/icons/artistica2/png/32x32/user_accept.png" %}" alt="True" />
						 {% else %}
						 <img src="{% static "images/icons/artistica2/png/32x32/user_delete.png" %}" alt="False" />
						 </span>
						 {% endif %}
					<td>
						<span class='dataLabel'>Media</span>
						<span class='smallDataItem'>
						 {% if PupilExtended.P_Media.0 %}
						 <img src="{% static "images/icons/artistica2/png/32x32/user_accept.png" %}" alt="True" />
						 {% else %}
						 <img src="{% static "images/icons/artistica2/png/32x32/user_delete.png" %}" alt="False" />
						 </span>
						 {% endif %}
					<td>
					</td>
				</tr>

			</table>					
			<br>

			<div class="divider"></div>		
			<h1>Stored Documents</h1>				
				{% for Documents in PupilDetails.PupilDocuments %}
				<a href="{{STATIC_URL}}{{Documents.DocumentId.Filename|safe}}">{{Documents.DocumentId.DocumentName}}</a>	<br>
				{% endfor %}
			<div class="divider"></div>					
			{% endwith %}


	
			

			</div>
			


			
{% endblock %}
