
<div class="banner" style="height:13px;"> 
{% load static from staticfiles %}
	<span style="float:left;">
		Pupil Record : <a style="color:lightblue;" href="/WillowTree/BatterseaAdmin/{{ AcYear }}/pupil/{{PupilDetails.Pupil.id}}/">{{ PupilDetails.Pupil.Forename }} {{PupilDetails.Pupil.Surname }}</a> (Pupil Id: {{ PupilDetails.Pupil.id }} )
	</span>
</div>
