
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block ContentArea %}
<!-- pop out code -->
<script>
{% include "popOutJavaScript.js" %}
{% include "KeywordsManager.js" %}
</script>
<script>
{% include "datePickerCode.js" %}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
{% include "tinyMCE.js" %}
</script>
		{% load WillowFilters %}
		{% include "pupil_AddNote_fromMostAble.html" %}
		{% with PupilExtended=PupilDetails.Extended %}
		{% include "includes/pupilGiftedAndTalented.html" %}
		{% include "includes/pupil_gifted_and_talented_old.html" %}
		{% include "includes/add_most_abled_target.html" %}
		{% include "includes/oldTargets.html" %}
		<div class="leftMiddle">			
			<div class="banner">
				<span style="font-weight:bold;color:lightblue;float:left;">Pupil Most Abled Record: {{ PupilDetails2.Pupil.Forename }} {{PupilDetails2.Pupil.Surname }} (PupilId: <a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{PupilDetails2.Pupil.id}}/">{{ PupilDetails2.Pupil.id }}</a> )&nbsp &nbsp </span>
					{% for alert_items in PupilDetails2.ActivePupilAlerts %}
					 {% for alerts in alert_items %}
						{% if alerts.AlertDetails %}
						<img style="float:left" title='{{ alerts.AlertDetails|safe }}' id="img_{{alerts.id}}" src="{{ MEDIA_REDIRECT }}{{alerts.AlertType.Icon}}" width="35" height="35"/>
						{% else %}
						<img style="float:left" title='{{ alerts.AlertType.Name }}' id="img_{{alerts.id}}" src="{{ MEDIA_REDIRECT }}{{alerts.AlertType.Icon}}" width="35" height="35"/>
						{% endif %}
					{% endfor %}
					{% endfor %}
					<form class="UpdateAlertsForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyAlerts/{{ PupilDetails2.Pupil.id }}/" method='post'/>{% csrf_token %}
					<input type="submit" name="View_PupilNotes" id="View_PupilNotes" value="Edit Alerts" />
					</form><br>					
			</div>				
						
<!-- MOST ABLED RECORDS -->
			<div class="RecordFormBody" style="height:40px;">
				<div style="float:left;font-weight:normal;margin:7px 5px 5px 5px;">
					<!-- button goes here? -->
				</div>
			</div>
			<!-- CAT DATA -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText">CAT DATA...</h1>
					</div>
					<div style="margin-top:10px;">
					</div>
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						<div class='RecordFormCRight2'>

						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style="height:auto;">
									<table>
										<tbody>
											<tr><td class="Label">CAT Score</td><td class="DataItem">{{ cat_data.CATScore.0 }}</td></tr>
											<tr><td class="Label">Verbal Score</td><td class="DataItem">{{ cat_data.VerbalScore.0 }}</td></tr>
											<tr><td class="Label">Non Verbal Score</td><td class="DataItem">{{ cat_data.NonVerbalScore.0 }}</td></tr>
											<tr><td class="Label">Quantative Score</td><td class="DataItem">{{ cat_data.QuantativeScore.0 }}</td></tr>
											<tr><td class="Label">Spartial Score</td><td class="DataItem">{{ cat_data.SpartialScore.0 }}</td></tr>										
										</tbody>
									</table>
								</div>
							</div>											
						</div>	
					</div>
				</div>
			</div>	
			<!-- # -->				
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>MostAbled<br />Records...</b></h1>
					</div>
					<div style="margin-top:10px;">
						{% if inGT %}
						<button id="#pupilGiftedAndTalented" class="login-window2" >Add</button>
						{% endif %}
						{% if GTData_old %}
						<button id="#pupil_gifted_and_talented_old" class="login-window2" style="margin-top:15px;">View<br />Closed<br />Alerts</button>
						{% endif %}
					</div>
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						{% if GTData %}
						{% for i in GTData %}
						{% include "includes/pupilModifyGiftedAndTalented.html" %}
						{% include "includes/pupilDeleteGiftedAndTalented.html" %}
						<div class='RecordFormCRight2'>
							{% if inGT %}
							<button id="#pupilModifyGiftedAndTalented{{ i.id }}" class="login-window2" >Modify</button>
							<button id="#pupilDeleteGiftedAndTalented{{ i.id }}" class="login-window2" >Close</button>
							{% endif %}
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style="height:auto;">
									<table>
										<tbody>
											<tr><td class="Label">Subject:</td><td class="DataItem">{{ i.Subject.Name }}</td></tr>
											<tr><td class="Label">Level:</td><td class="DataItem">{{ i.Level }}</td></tr>
											<tr><td class="Label">Mentor:</td><td class="DataItem">{{ i.Mentor }}</td></tr>
											<tr><td class="Label">Date Identified:</td><td class="DataItem">{{ i.DateIdentified }}</td></tr>
											<tr><td class="Label">Details:</td><td class="DataItem">{{ i.Details|safe }}</td></tr>										
											<tr><td class="Label">Date Added:</td><td class="DataItem">{{ i.DateAdded }}</td></tr>																					
											<tr><td style="background-color:#CCC9A1;" colspan="2"><br /></td></tr>
										</tbody>
									</table>
								</div>
							</div>											
						</div>
						{% endfor %}
						{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No Gifted and Talented Data</h1>
						</div>
						{% endif %}						
					</div>
				</div>
			</div>
<!-- end -->
<!-- TARGETS -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>Targets...</b></h1>
					</div>
					<div style="margin-top:10px;">
						{% if inGT %}
						<button id="#AddTarget" class="login-window2" >Add</button>
						{% endif %}
						{% if inActiveTargets %}
						<button id="#oldTargets" class="login-window2" style="margin-top:15px;">View<br />Closed<br />Targets</button>
						{% endif %}						
					</div>					
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						{% if activeTargets %}
						{% for Target in activeTargets %}
						{% include "includes/modify_most_abled_target.html" %}
						{% include "includes/delete_most_abled_target.html" %}
						<div class='RecordFormCRight2'>
							{% if inGT %}
							<button id="#ModifyTarget{{ Target.id }}" class="login-window2" >Modify</button>
							<button id="#DeleteTarget{{ Target.id }}" class="login-window2" >Close</button>
							{% endif %}
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style="height:auto;">
									<table>
										<tbody>
											<tr><td class="Label">Review Date</td><td class="DataItem">{{ Target.ReviewDate|date:"jS F Y" }}</td></tr>
											<tr><td class="Label">Progress</td><td class="DataItem">{{ Target.Progress|replaceSpace:'_' }}</td></tr>
											<tr><td class="Label">Target</td><td class="DataItem">{{ Target.Target|safe }}</td></tr>
											<tr><td class="Label">Review</td><td class="DataItem">{{ Target.Review|safe }}</td></tr>
											<tr><td style="background-color:#CCC9A1;" colspan="2"><br /></td></tr>
										</tbody>
									</table>
								</div>
							</div>											
						</div>
						{% endfor %}
						{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No Targets</h1>
						</div>
						{% endif %}						
					</div>
				</div>
			</div>
<!-- end -->
<!-- sen -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>Most Able Notes...</b></h1>
					</div>
					<div style="margin-top:10px;">
						<button id="#pupil_AddNote" class="login-window2" >Add a Note</button>
					</div>
				</div>
				<div class="RecordFormCRight">
				<div class="RecordFormCRight1">
				{% if NoteRecords %}
				{% for Notes in NoteRecords %}			
					<div class='RecordFormCRight2'>
						<div class='RecordFormCRight2' style="width:90px;">
							<button type='button' id="#RemoveNote{{Notes.NoteId.id}}" class="login-window2">Delete</button>
							{% include "RemoveNote_fromMostAble.html" %}
							<button type='button' onclick="document.location.href='/WillowTree/{{ school }}/{{ AcYear }}/ModifyPupilNote/{{ Notes.NoteId.id }}/{{ PupilDetails.Pupil.id }}/'">Modify</button>
						</div>
					</div>
					<div class='RecordFormCRight3'>
						<div class="table-wrapper"> 
							<div class="table-scroll" style="height:auto;float:right;">
								<table>
									<tbody>
										<tr><td class="DataItem">Raised Date:<span style="float:right;padding-right:4px">{{ Notes.NoteId.RaisedDate|date:"d/m/Y"}}</span></td></tr>
										<tr><td class="DataItem">Raised By:<span style="float:right;padding-right:4px">{{ Notes.NoteId.RaisedBy.UserId.User.Forename }} {{ Notes.NoteId.RaisedBy.UserId.User.Surname }}</span></td></tr>
										<tr><td class='DataItem'>Keywords:<span style="float:right;padding-right:4px">{{ Notes.NoteId.Keywords|SplitKW }}</span></div>
										<tr><td class="DataItem"><br />{{ Notes.NoteId.NoteText|safe }}</td></tr>
										<tr><td style="background-color:#CCC9A1;"><br /></td><td style="background-color:#CCC9A1;"><br /></td></tr>		
									</tbody>
								</table>
							</div>
						</div>
					</div>
				{% endfor %}
				{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No Notes</h1>
						</div>
				{% endif %}				
				</div>
				</div>
			</div>
<!-- end -->
<!-- end -->
		{% endwith %}
		</div>
{% endblock %}
