
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block ContentArea %}
<style>
label {
display: inline-block;
width: 5em;
}
</style>
<!-- end -->
<script type="text/javascript">
{% include "KeywordsManager.js" %}
{% include "PermissionsToggle.js" %}
</script>
<!-- pop out code -->
<script>
{% include "popOutJavaScript.js" %}
</script>
<script>
{% include "datePickerCode.js" %}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
{% include "tinyMCE.js" %}
</script>
<!-- end -->
			{% with PupilExtended=PupilDetails.Extended %} 
			{% include "pupil_AddNote.html" %}
			{% include "includes/PupilSingleGrade.html" %}
			{% include "includes/PupilRec_MvToHolding.html" %}
			{% include "includes/pupilAddDocument.html" %}	
			{% include "includes/PupilFutureAttendance.html" %}
			{% include "includes/pupilModifyMedicalDetails.html" %}
			{% include "includes/AddFutureAttendanceRecords.html" %}
			{% include "includes/pupilAddFutureSchoolsProgressDetails.html" %}
			{% include "includes/PupilMoreAbled.html" %}
			{% include "includes/move_to_group_from_pupil_record.html" %}
			{% include "includes/remove_from_group_from_pupil_record.html" %}
			{% include "includes/view_old_pupil_groups.html" %}
			{% include "includes/pupil_admin_notes.html" %}
			{% include "includes/update_pupil_picture.html" %}
            {% include "EditPupilHouse.html" %}
            {% include "EditPupilForm.html" %}
			{% load WillowFilters %}
			<div class="leftMiddle">
				<div class="banner">
<!-- Contents banner section
	This section is the brown line at the top of the page with the pupils
	name ect in it
-->
				
					<span style="font-weight:bold;color:lightblue;float:left;">Pupil Record: {{ PupilDetails.Pupil.Forename }} {{PupilDetails.Pupil.Surname }} (PupilId: {{ PupilDetails.Pupil.id }} )&nbsp &nbsp </span>


						{% for alert_items in PupilDetails.ActivePupilAlerts %}
						 {% for alerts in alert_items %}
							{% if alerts.AlertDetails %}
							<img style="float:left" title='{{ alerts.AlertDetails|safe }}' id="img_{{alerts.id}}" src="{{ MEDIA_REDIRECT }}{{alerts.AlertType.Icon}}" width="35" height="35" updated="{{ alerts.UpdateDate|date:"Y/m/d" }}"/>
							{% else %}
							<img style="float:left" title='{{ alerts.AlertType.Name }}' id="img_{{alerts.id}}" src="{{ MEDIA_REDIRECT }}{{alerts.AlertType.Icon}}" width="35" height="35" updated="{{ alerts.UpdateDate|date:"Y/m/d" }}"/>
							{% endif %}
						{% endfor %}
						{% endfor %}



						<form class="UpdateAlertsForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyAlerts/{{ PupilDetails.Pupil.id }}/" method='post'/>{% csrf_token %}
						<input type="submit" name="View_PupilNotes" id="View_PupilNotes" value="Edit Alerts" />
						</form><br>

				</div>
				<div class="RecordFormBody" style="height:40px;">
					<div style="float:left;font-weight:normal;margin:7px 5px 5px 5px;">
						{% if PupilDetails.PupilIssueCount %}
						<button style="width:150px;" onclick="document.location.href='/WillowTree/{{ school }}/{{ AcYear }}/ViewPupilIssues/{{ PupilDetails.Pupil.id }}/'"><span style="color:red;">{{PupilDetails.PupilIssueCount}} Open Issues</button>						
						{% endif %}						
						{% if PupilDetails.ReturnCurrentActiveSen %}
						<button style="width:150px;color:green;" onclick="document.location.href='/WillowTree/{{ school }}/{{ AcYear }}/pupilSENRecord/{{ PupilDetails.Pupil.id }}/'">SEN Page</button>
						{% else %}
							{% if PupilDetails.ReturnCurrentInActiveSen %}
							<button style="width:150px;" onclick="document.location.href='/WillowTree/{{ school }}/{{ AcYear }}/pupilSENRecord/{{ PupilDetails.Pupil.id }}/'">SEN Page (inactive)</button>
							{% endif %}
						{% endif %}						
						{% if PupilDetails.ReturnCurrentActiveEal %}
						<button style="width:150px;color:green;" onclick="document.location.href='/WillowTree/{{ school }}/{{ AcYear }}/pupilEALRecord/{{ PupilDetails.Pupil.id }}/'">EAL Page</button>
						{% else %}
							{% if PupilDetails.ReturnCurrentInActiveEal %}
							<button style="width:150px;" onclick="document.location.href='/WillowTree/{{ school }}/{{ AcYear }}/pupilEALRecord/{{ PupilDetails.Pupil.id }}/'">EAL Page (inactive)</button>
							{% endif %}						
						{% endif %}
						{% if PupilDetails.ReturnCurrentActiveGT %}
						<button style="width:150px;color:green;" onclick="document.location.href='/WillowTree/{{ school }}/{{ AcYear }}/pupilGiftedAndTalented/{{ PupilDetails.Pupil.id }}/'">Most Able</button>
						{% else %}
							{% if PupilDetails.ReturnCurrentInActiveGT %}
							<button style="width:150px;" onclick="document.location.href='/WillowTree/{{ school }}/{{ AcYear }}/pupilGiftedAndTalented/{{ PupilDetails.Pupil.id }}/'">Most Able (inactive)</button>
							{% endif %}						
						{% endif %}													
					</div>
					<div style="float:right;font-weight:normal;margin:5px;">
						<ul class="managermenu">
							<li><a href='#' class="drop">Actions</a>
								<div class="dropdown_2columns align_right">
									<div class="col_1">
										<h3>Adhoc</h3>
										<ul>
											{% if 'Admin' in school  or 'Applicants' in school %}
											<li><a href="#PupilRec_MvToHolding" class="login-window" >Mv to Holding</a><li>
											<li><a href="#AddFutureAttendanceRecords" class="login-window" >Future Atten</a></li>
                                            <li><a href="#EditPupilForm" class="login-window">Change Form</a></li>
                                            <li><a href="#EditPupilHouse" class="login-window">Change House</a></li>
											{% endif %}
										</ul>
									</div>
									<div class="col_1">
										<h3>Main</h3>
										<ul>
											<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/FamilyRecord/{{ PupilDetails.Pupil.id }}/" >Family Details</a><li>
											<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/ViewPupilAchievements/{{ PupilDetails.Pupil.id }}/" >Achievements</a><li>										
											<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/ViewPupilNotes/{{ PupilDetails.Pupil.id }}/" >View Notes</a><li>										
											<li><a href="#pupil_AddNote" class="login-window" >Add a Note/Email</a><li>
											<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/pupilGiftedAndTalented/{{ PupilDetails.Pupil.id }}/" >Most Abled</a><li>
											{% if moreAbled %}
											<li><a href="#moreAbled" class="login-window">Unset More Abled?</a><li>
											{% else %}
											<li><a href="#moreAbled" class="login-window">Set More Abled?</a><li>
											{% endif %}
											<li><a href="#PupilSingleGrade" class="login-window" >Grade Pupil</a><li>
											<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/PupilGradeReport/{{ PupilDetails.Pupil.id }}/" target='_blank'>Pupil Grade Report</a><li>

										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>				
				</div>			
<!-- MESSAGES -->
			<div style='padding:10px;'>
			{% for i in Messages %}
				{% if "ERROR" in i %}
					<span style="font-size:1.5em;font-weight:bold;color:red;">{{ i }}</span>
				{% else %}
					<span style="font-size:1.5em;font-weight:bold;color:blue;">{{ i }}</span>
				{% endif %}
			{% endfor %}
			</div>
<!-- If this is an Applicant and has declined after deposit paid -->
			{% if pupilDeclinedAfterDeposit %}
				<div class="RecordFormBody">
					<div class="RecordFormCLeft">
						<div id="RecordFormTitle">
							<h1 class="RecordFormTitleText" style="color:darkred;"><b>APPLICANT HAS DECLINED AFTER DEPOSIT PAID!</b></h1>
						</div>
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
							<div class='RecordFormCRight2'>
								<!-- modify button was here -->
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll" style="height:auto;">
										<table>
											<tbody>
												<tr><td class="Label">Reason:</td><td class="DataItem">{{ pupilDeclinedAfterDepositText|safe }}</td></tr>	
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						</div>
					</div>
				</div>
			{% endif %}					
<!-- If this is an Applicant and has declined an Interview -->
			{% if pupilDeclinedInterview %}
				<div class="RecordFormBody">
					<div class="RecordFormCLeft">
						<div id="RecordFormTitle">
							<h1 class="RecordFormTitleText" style="color:darkred;"><b>APPLICANT HAS DECLINED AN INTERVIEW!</b></h1>
						</div>
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
							<div class='RecordFormCRight2'>
								<!-- modify button was here -->
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll" style="height:auto;">
										<table>
											<tbody>
												<tr><td class="Label">Reason:</td><td class="DataItem">{{ pupilDeclinedInterviewText|safe }}</td></tr>	
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						</div>
					</div>
				</div>
			{% endif %}					
<!-- If this is an Applicant and has declined a place AFTER being offered a place -->
			{% if pupilDeclinedPlace %}
				<div class="RecordFormBody">
					<div class="RecordFormCLeft">
						<div id="RecordFormTitle">
							<h1 class="RecordFormTitleText" style="color:darkred;"><b>APPLICANT HAS DECLINED A PLACE!</b></h1>
						</div>
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
							<div class='RecordFormCRight2'>
								<!-- modify button was here -->
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll" style="height:auto;">
										<table>
											<tbody>
												<tr><td class="Label">Reason:</td><td class="DataItem">{{ pupilDeclinedPlaceText|safe }}</td></tr>	
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						</div>
					</div>
				</div>
			{% endif %}					
<!-- If this is an Applicant and was withdrawn from the process -->
			{% if pupilWithdrawn %}
				<div class="RecordFormBody">
					<div class="RecordFormCLeft">
						<div id="RecordFormTitle">
							<h1 class="RecordFormTitleText" style="color:darkred;"><b>APPLICANT HAS WITHDRAWN!</b></h1>
						</div>
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
							<div class='RecordFormCRight2'>
								<!-- modify button was here -->
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll" style="height:auto;">
										<table>
											<tbody>
												<tr><td class="Label">Reason:</td><td class="DataItem">{{ pupilWithdrawnText|safe }}</td></tr>	
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						</div>
					</div>
				</div>
			{% endif %}	
<!-- If this is an Applicant and was withdrawn from the process -->
			{% if pupilDeclined %}
				<div class="RecordFormBody">
					<div class="RecordFormCLeft">
						<div id="RecordFormTitle">
							<h1 class="RecordFormTitleText" style="color:darkred;"><b>APPLICANT HAS DECLINED!</b></h1>
						</div>
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
							<div class='RecordFormCRight2'>
								<!-- modify button was here -->
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll" style="height:auto;">
										<table>
											<tbody>
												<tr><td class="Label">Reason:</td><td class="DataItem">{{ pupilDeclinedText|safe }}</td></tr>	
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						</div>
					</div>
				</div>	 
			{% endif %}
<!-- This section shows the primary details of the pupil records -->
				{{ PupilDetails.PupilAlerts }}
			
				<div class="RecordFormBody">
					<div class="RecordFormCLeft"> 
						<div id="RecordFormTitle" style="text-align:center;">
							<div>
								<img src="{{ MEDIA_REDIRECT }}{{PupilDetails.Pupil.Picture}}" width="125" height="170" alt="{{ PupilDetails.Pupil.Forename }} {{ PupilDetails.Pupil.Surname }}" style="margin:12px;border:1px solid;"/>
							</div>
						</div>
						<div style="text-align:center;">
							<div>
								<button style="width:125px;" id="#update_pupil_picture" class="login-window2">Edit Picture</button>
							</div>
						</div>
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1"> 						
							<div class='RecordFormCRight2'>
							{% if not 'Teacher' in school %}
							<button id="#EditPupilDetails" class="login-window2" >Modify</button>
							{% include "EditPupilDetails.html" %}
							<button id="#PupilLeaver" class="login-window2">Leaver Details</button>
							{% include "includes/PupilLeaver.html" %}																						
							{% endif %}
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll" style="height:auto;">
										<table>
											<tbody>	
												<tr><td class="Label">Surname:</td><td class="DataItem">{{ PupilDetails.Pupil.Surname }}</td></tr>
												<tr><td class="Label">Forename:</td><td class="DataItem">{{ PupilDetails.Pupil.Forename }}</td></tr>
												<tr><td class="Label">Other Names:</td><td class='DataItem'>{{ PupilDetails.Pupil.OtherNames }}</span></div>
												<tr><td class="Label">Known As:</td><td class="DataItem">{{ PupilDetails.Pupil.NickName }}</td></tr>
												<tr><td class="Label">Title:</td><td class="DataItem">{{ PupilDetails.Pupil.Title }}</td></tr>
												<tr><td class="Label">Gender:</td><td class="DataItem">{{ PupilDetails.Pupil.Gender }}</td></tr>
												<tr><td class="Label">DOB:</td><td class="DataItem">{{ PupilDetails.Pupil.DateOfBirth|date:"jS F Y" }}</td></tr>
												<tr><td class="Label">House:</td><td class="DataItem">{{ PupilDetails.AcademicHouse }}</td></tr>
												<tr><td class="Label">Form:</td><td class="DataItem">{{ PupilDetails.Form }}</td></tr>
												<tr><td class="Label">Email:</td><td class="DataItem">{{ PupilDetails.Pupil.EmailAddress }}</td></tr>
												{% if 'Admin' in school  or 'Applicants' in school %}
												<tr><td class="Label">Registration Date:</td><td class="DataItem">{{ PupilDetails.Pupil.RegistrationDate|date:"jS F Y" }}</td></tr>
												<tr><td class="Label">PASS Pupil Ref Code:</td><td class="DataItem">{{ PupilDetails.Extended.PassPupilReferenceCode.0 }}</td></tr> 
												{% endif %}
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						</div>
					</div>
				</div>	
				{% include "includes/TeacherList.html"  %}
				
			<!-- Admin Notes -->
			{% if 'Applicant' in school or 'Admin' in school %}
				<div class="RecordFormBody">
					<div class="RecordFormCLeft">
						<h1 class="RecordFormTitleText">Admin<br />Notes...</h1>
						{% if not 'Teacher' in school %}
						{% if not PupilExtended.applicantNotes.0 %}
						<button style='margin-top:20px;' id="#pupil_admin_notes" class="login-window2">Add</button> 	
						{% endif %}												
						{% endif %}						
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
							{% if PupilExtended.applicantNotes.0 %}
							<div class='RecordFormCRight2'>
								{% if not 'Teacher' in school %}
								<button id="#pupil_admin_notes" class="login-window2">Modify</button> 													
								{% endif %}
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll">
										<table>
											<tbody>	
												<tr><td>{{ PupilExtended.applicantNotes.0|safe }}</td></tr>
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No Admin Notes</h1>
						</div>
						{% endif %}							
						</div>
					</div>
				</div>
			{% endif %}
			<!-- end -->				
				
			{% if 'Applicant' in school or 'Admin' in school %}
<!-- Applicant extra Fields -->	
			{% include "includes/ApplicantDataRecord.html" %}
			{% endif %}	
						
				<div class="divider"></div>
<!-- Siblings section -->
			{% if PupilDetails.Siblings %}
				<div class="RecordFormBody">
					<div class="RecordFormCLeft">
						<div id="RecordFormTitle">
							<h1 class="RecordFormTitleText">Siblings...</h1>
						</div>
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
							<div class='RecordFormCRight2'>
								<!-- modify button was here -->
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll" style="height:100px;">
										<table>
											<tbody>
											{% for Sibs in PupilDetails.Siblings %}	
												<tr><td class="Label">Name:</td><td class="DataItem"><a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ Sibs.Pupil.id }}/">{{ Sibs.Pupil.FullName }}</td></tr>
												<tr><td class="Label">Status:</td><td class="DataItem">{{ Sibs.PupilStatus }}</td></tr>
												<tr><td class="Label">Form:</td><td class="DataItem">{{ Sibs.Form }}</td></tr>
												<tr><td class="Label">House:</td><td class="DataItem">{{ Sibs.AcademicHouse }}</td></tr>
												<tr><td style="background-color:#CCC9A1;"><br /></td><td style="background-color:#CCC9A1;"><br /></td></tr>
											{% endfor %}	
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						</div>
					</div>
				</div>
			{% endif %}
			<!-- Emergency contact section -->
				<div class="RecordFormBody">
					<div class="RecordFormCLeft"> 
						<h1 class="RecordFormTitleText">Family Contacts...</h1>
						<p style="color:darkred;">Please be aware that these contacts are IN ORDER and should be contacted as thus!</p>
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
							<div class='RecordFormCRight2'>
								<!-- modify button was here -->
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll" style="height:185px;">
										<table>
											<tbody>	
											{% for CDS in PupilDetails.EmergencyContacts %}
												<tr><td class="Label">Priority:</td><td class="DataItem">{{ CDS.Record.Priority }}</td></tr>
												<tr><td class="Label">Relationship:</td><td class="DataItem">{{ CDS.Record.Relationship.Type }}</td></tr>
												<tr><td class="Label">Home Salutation:</td><td class="DataItem">{{ CDS.Record.Contact.Address.HomeSalutation }}</td></tr>
												<tr><td class="Label">Title:</td><td class="DataItem">{{ CDS.Record.Contact.Title }}</td></tr>
												<tr><td class="Label">Forename:</td><td class="DataItem">{{ CDS.Record.Contact.Forename }}</td></tr>
												<tr><td class="Label">Surname:</td><td class="DataItem">{{ CDS.Record.Contact.Surname }}</td></tr>
												<tr><td class="Label">Mobile:</td><td class="DataItem">{{ CDS.Extended.mobileNumber.0}}</td></tr>
												<tr><td class="Label">Phone 1:</td><td class="DataItem">{{ CDS.Record.Contact.Address.Phone1 }}</td></tr>
												<tr><td class="Label">Phone 2:</td><td class="DataItem">{{ CDS.Record.Contact.Address.Phone2 }}</td></tr>
												<tr><td class="Label">Email:</td><td class="DataItem">{{ CDS.Record.Contact.EmailAddress }}</td></tr>
												<tr><td style="background-color:#CCC9A1;"><br /></td><td style="background-color:#CCC9A1;"><br /></td></tr>
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						</div>
					</div>
				</div>	
			<!-- emegency contact section finished -->	
				<div class="RecordFormBody">
					<div class="RecordFormCLeft">
						<h1 class="RecordFormTitleText">Groups Assigned...</h1>
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
							<div class='RecordFormCRight2'>
							{% if not 'Teacher' in school %}
							<button id="#move_to_group_from_pupil_record" class="login-window2" >Add Grp</button>
							<button id="#remove_from_group_from_pupil_record" class="login-window2" >Rm Grp</button>
							<button id="#view_old_pupil_groups" class="login-window2" >Old Grps</button>
							{% endif %}
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll" style="height:auto;">
										<table>
											<tbody>	
											{% for groups in PupilDetails.GroupList %}
												<tr><td style="width:5px" class="Label"></td><td class="DataItem"><a href="/WillowTree/{{ school }}/{{ groups.AcademicYear }}/ManageThis/{{ groups.Group.Name }}/">{{ groups.Group.Name }} ({{groups.AcademicYear}})</a></td></tr>
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						</div>
					</div>
				</div>					
			<!-- Other Data section finished -->	
				<div class="RecordFormBody">
					<div class="RecordFormCLeft">
						<h1 class="RecordFormTitleText">Other information...</h1>
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
							<div class='RecordFormCRight2'>
							{% if not 'Teacher' in school %}
							<button id="#EditPupilOtherInformation" class="login-window2">Modify</button> 
							{% include "EditPupilOtherInformation.html" %}														
							{% endif %}
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll" style="height:125px;">
										<table>
											<tbody>	
												<tr><td class="Label">UPN:</td><td class="DataItem">{{ PupilExtended.UPN.0 }}</td></tr>
												<tr><td class="Label">Ethnicity:</td><td class="DataItem">{{ PupilExtended.Ethnicity.1 }}</td></tr>
												<tr><td class="Label">Nationality:</td><td class="DataItem">{{ PupilExtended.Nationality.1 }}</td></tr>
												<tr><td class="Label">Religion:</td><td class="DataItem">{{ PupilExtended.Religion.1 }}</td></tr>
												<tr><td class="Label">Primary Language:</td><td class="DataItem">{{ PupilExtended.PrimaryLanguage.1 }}</td></tr>	
												<tr><td class="Label">Past School:</td><td class="DataItem">{{ pastSchool.SchoolId.Name }}{%if pastSchool%}: {% endif %}{{ pastSchool.SchoolId.Address.PostCode }}</td></tr>
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						</div>
					</div>
				</div>				
			<!-- Permissions Data section -->	
				<div class="RecordFormBody">
					<div class="RecordFormCLeft">
						<h1 class="RecordFormTitleText">Permissions...</h1>
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
							<div class='RecordFormCRight2'>
							{% if not 'Teacher' in school %}
							<button id="#EditPupilPermissionsDetails" class="login-window2">Modify</button>
							{% include "EditPupilPermissionsDetails.html" %}								
							{% endif %}
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll" style="height:50px;">
										<table>
											<tr>
												<td style="padding:5px">
													<span class='dataLabel'>Internet:</span>
													<span class='smallDataItem'>
													 {% if PupilExtended.P_Internet.0 %}
													 <img src="{% static "images/icons/artistica2/png/32x32/user_accept.png" %}" alt="True" />
													 {% else %}
													 <img src="{% static "images/icons/artistica2/png/32x32/user_delete.png" %}" alt="False" />
													 </span>
													 {% endif %}
												</td>
												<td style="padding:5px">
													<span class='dataLabel'>Media:</span>
													<span class='smallDataItem'>
													 {% if PupilExtended.P_Media.0 %}
													 <img src="{% static "images/icons/artistica2/png/32x32/user_accept.png" %}" alt="True" />
													 {% else %}
													 <img src="{% static "images/icons/artistica2/png/32x32/user_delete.png" %}" alt="False" />
													 </span>
													 {% endif %}
												</td>
											</tr>
										</table>
									</div>
								</div>											
							</div>
						</div>
					</div>
				</div>
			<!-- medical -->
				<div class="RecordFormBody">
					<div class="RecordFormCLeft">
						<h1 class="RecordFormTitleText">Medical<br />Details...</h1>
						{% if not 'Teacher' in school %}
						{% if not PupilDetails.ExtendedRecord.pupils_medical_details.0 %}
						<button style='margin-top:20px;' id="#pupilModifyMedicalDetails" class="login-window2">Add</button> 	
						{% endif %}												
						{% endif %}						
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
							{% if PupilDetails.ExtendedRecord.pupils_medical_details.0 %}
							<div class='RecordFormCRight2'>
								{% if not 'Teacher' in school %}
								<button id="#pupilModifyMedicalDetails" class="login-window2">Modify</button> 													
								{% endif %}
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll">
										<table>
											<tbody>	
												<tr><td>{{ PupilDetails.ExtendedRecord.pupils_medical_details.0|safe }}</td></tr>
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No Medical Details</h1>
						</div>
						{% endif %}							
						</div>
					</div>
				</div>				
			<!-- end -->
			<!-- Stored documents section -->			
				<div class="RecordFormBody">
					<div class="RecordFormCLeft">
						<h1 class="RecordFormTitleText">Documents<br />Stored with<br />this Pupil...</h1>
						{% if not 'Teacher' in school %}
						<button style='margin-top:20px;' id="#pupilAddDocument" class="login-window2">Add</button>
						{% endif %}				
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
							{% if PupilDetails.PupilDocuments %}		
							<div class='RecordFormCRight2'>
								<!-- button place -->
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll" style="min-height:125px;">
										<table>
											<tbody>	
											{% for Documents in PupilDetails.PupilDocuments %}
											{% include "includes/pupilRemoveDocument.html" %}
												<tr>
													<td>
														<a style='text-decoration:none;' href="{{ MEDIA_REDIRECT }}{{Documents.DocumentId.Filename|safe}}" target="_blank">{{Documents.DocumentId.DocumentName}}</a> <span style='font-weight:normal;'>({{ Documents.DocumentId.UploadDate|date:"d/m/y" }})</span>
														<a style='float:right;color:darkred;text-decoration:none;' onMouseOver="this.style.color='red';" onMouseOut="this.style.color='darkred';" href='#pupilRemoveDocument{{Documents.DocumentId.id}}' class="login-window">Remove?</a>
													</td>
												</tr>
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						<!-- -->
						{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No Documents Attached</h1>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
			<!--Future Schools Progress Details -->
				<div class="RecordFormBody">
					<div class="RecordFormCLeft">
						<h1 class="RecordFormTitleText">Future<br />Schools<br />Progress...</h1>
						{% if not 'Teacher' in school %}
						<button style='margin-top:20px;' id="#pupilAddFutureSchoolsProgressDetails" class="login-window2">Add</button> 												
						{% endif %}						
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
							{% if PupilDetails.PupilFutureSchoolProgress %}
							{% for futureSchool in PupilDetails.PupilFutureSchoolProgress %}
							<div class='RecordFormCRight2'>
								{% if not 'Teacher' in school %}
								<button id="#pupilModifyFutureSchoolsProgressDetails_{{ futureSchool.id }}" class="login-window2">Modify</button>
								<button id="#pupilDeleteFutureSchoolsProgressDetails_{{ futureSchool.id }}" class="login-window2">Delete</button>
								<button id="#pupilModifyFutureSchoolsProgressInterview_{{ futureSchool.id }}" class="login-window2">Interview details</button>
								{% endif %}
								{% include "includes/pupilModifyFutureSchoolsProgressDetails.html" %}
								{% include "includes/pupilDeleteFutureSchoolsProgressDetails.html" %}
								{% include "includes/pupilModifyFutureSchoolsProgressInterview.html" %}
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll">
										<table>
											<tbody>
												<tr><td class="Label">School:</td><td class="DataItem">{{ futureSchool.School.Name }} {{ PupilDetails.PupilFutureSchoolProgress.School.Address.PostCode }}</td></tr>
												<tr><td class="Label">Progress:</td><td class="DataItem">{{ futureSchool.Progress }}</td></tr>
												<tr><td class="Label">EntryYear:</td><td class="DataItem">{{ futureSchool.EntryYear }}</td></tr>
												<tr><td class="Label">Interview details:</td><td class="DataItem">{{ futureSchool.Interview|date:"P" }} {% if futureSchool.Interview %}on the {% endif %} {{ futureSchool.Interview|date:"jS F Y" }}</td></tr>
												<tr><td class="Label">Details:</td><td class="DataItem">{{ futureSchool.Details|safe }}</td></tr>
												<tr><td class="Label">Last Updated By:</td><td class="DataItem">{{ futureSchool.LastUpdatedBy.Forename }} {{ futureSchool.LastUpdatedBy.Surname }} ({{ futureSchool.LastUpdatedBy.DefaultMenu.Name }})</td></tr>
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						{% endfor %}
						{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No Future Schools Progress Details</h1>
						</div>
						{% endif %}							
						</div>
					</div>
				</div>				
			<!-- end -->			
				
<!-- end stored docs -->
<!-- Display Future Attendances -->
 {% include "includes/DisplayFutureAttendanceRecs.html" %}
 <!-- end Future Attendances -->			
			{% endwith %}

		</div>
{% endblock %}
