
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block ContentArea %}
<!-- pop out code -->
<script>
{% include "popOutJavaScript.js" %}
{% include "KeywordsManager.js" %}
{% include "datePickerCode.js" %}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
{% include "tinyMCE.js" %}
</script>
		{% load WillowFilters %}
		{% with PupilExtended=PupilDetails.Extended %}
		{% include "includes/pupilViewPastEALs.html" %}
		{% include "includes/pupilModifyEALSpecialPermissions.html" %}
		{% include "includes/pupilModifyEALGeneralNotes.html" %}
		{% include "pupil_AddNote_fromEAL.html" %}
		{% include "includes/oldProvisions.html" %}
		{% include "includes/AddProvision.html" %}
		{% include "includes/AddTarget.html" %}
		{% include "includes/oldTargets.html" %}
		<div class="leftMiddle">
			<div class="banner">
				<span style="font-weight:bold;color:lightblue;float:left;">Pupil EAL Record: {{ PupilDetails.Pupil.Forename }} {{PupilDetails.Pupil.Surname }} (PupilId: <a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{PupilDetails.Pupil.id}}/">{{ PupilDetails.Pupil.id }}</a> )&nbsp &nbsp </span>
					{% for alert_items in PupilDetails.ActivePupilAlerts %}
					 {% for alerts in alert_items %}
						{% if alerts.AlertDetails %}
						<img style="float:left" title='{{ alerts.AlertDetails|safe }}' id="img_{{alerts.id}}" src="{{ MEDIA_REDIRECT }}{{alerts.AlertType.Icon}}" width="35" height="35"/>
						{% else %}
						<img style="float:left" title='{{ alerts.AlertType.Name }}' id="img_{{alerts.id}}" src="{{ MEDIA_REDIRECT }}{{alerts.AlertType.Icon}}" width="35" height="35"/>
						{% endif %}
					{% endfor %}
					{% endfor %}
					<form class="UpdateAlertsForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyAlerts/{{ PupilDetails.Pupil.id }}/" method='post'/>{% csrf_token %}
					<input type="submit" name="View_PupilNotes" id="View_PupilNotes" value="Edit Alerts" />
					</form><br>						
			</div>			
<!-- sen -->
			<div class="RecordFormBody" style="height:40px;">
				<div style="float:left;font-weight:normal;margin:7px 5px 5px 5px;">
					<button style="width:150px;" onclick="window.open('/WillowTree/{{ school }}/{{ AcYear }}/ViewEalProvisionMap/{{PupilDetails.Pupil.id}}/singlePupil', '_blank');">Show Provision Map</button>
				</div>
			</div>
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>Active Alert...</b></h1>
					</div>
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						<div class='RecordFormCRight2'>
							<button id="#pupilViewPastEALs" class="login-window2" >Past Records</button>
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style="height:auto;">
									<table>
										<tbody>
											<tr><td class="Label">Alert Type</td><td class="DataItem">{{ PupilDetails.ReturnCurrentActiveEal.AlertType.Name }}</td></tr>
											<tr><td class="Label">Start Date</td><td class="DataItem">{{ PupilDetails.ReturnCurrentActiveEal.StartDate|date:"jS F Y" }}</td></tr>
											<tr><td class="Label">Stop Date</td><td class="DataItem">{{ PupilDetails.ReturnCurrentActiveEal.StopDate|date:"jS F Y" }}</td></tr>
											<tr><td class="DataItem" colspan="2">{{ PupilDetails.ReturnCurrentActiveEal.AlertDetails|safe }}</td></tr>
										</tbody>
									</table>
								</div>
							</div>											
						</div>
					</div>
				</div>
			</div>
<!-- end -->
<!-- sen -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>Special Permissions...</b></h1>
					</div>
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						<div class='RecordFormCRight2'>
							{% if inSEN %}
							<button id="#pupilModifyEALSpecialPermissions" class="login-window2" >Modify</button>
							{% endif %}
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style="height:auto;">
									<table>
										<tbody>
											<tr><td class="Label">Extra Time</td><td class="DataItem">{{ PupilDetails.returnEalExtraTimeSpecialPermissions }}</td></tr>
											<tr><td class="Label">Laptop</td><td class="DataItem">{{ PupilDetails.returnEalLaptopSpecialPermissions }}</td></tr>
											<tr><td class="Label">Other</td><td class="DataItem">{{ PupilDetails.returnEalOtherSpecialPermissions|safe }}</td></tr>
										</tbody>
									</table>
								</div>
							</div>											
						</div>
					</div>
				</div>
			</div>
<!-- end -->
<!-- sen -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>General Notes...</b></h1>
					</div>
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						<div class='RecordFormCRight2'>
							{% if inSEN %}
							<button id="#pupilModifyEALGeneralNotes" class="login-window2" >Modify</button>
							{% endif %}
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style="height:auto;">
									<table>
										<tbody>
											<tr><td class="DataItem" colspan="2"><b>Notes:</b><br /><br /><span style="font-weight:normal;">{{ PupilDetails.returnEalGeneralNotes|safe }}</span></td></tr>
										</tbody>
									</table>
								</div>
							</div>											
						</div>
					</div>
				</div>
			</div>
<!-- end -->
<!-- sen -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>Language<br />Details...</b><br /><br /></h1>
					</div>
						{% if inSEN %}
						{% for i in PupilDetails.returnEalLanguageList %}
						{% include 'includes/pupilModifyEalLanguageData.html' %}
						{% include 'includes/pupilDeleteEalLanguageData.html' %}
						{% if not i.2.0 and not i.3.0 and not i.4.0 and not i.5.0 %}
						<div>
							<a href="#pupilModifyEalLanguageData_eal{{ i.0 }}" class="login-window" style="text-decoration:none;font-weight:normal;color:blue;" onMouseOver="this.style.color='red';" onMouseOut="this.style.color='blue';">Add {{ i.1 }} Language?</a>
						</div>
						{% endif %}					
						{% endfor %}
						{% endif %}					
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						{% if PupilDetails.returnEalLanguageData %}
						{% for i in PupilDetails.returnEalLanguageList %}
						{% if i.2.0 or i.3.0 or i.4.0 or i.5.0 %}
						<div class='RecordFormCRight2'>
							{% if inSEN %}
							<button id="#pupilModifyEalLanguageData_eal{{ i.0 }}" class="login-window2" >Modify</button>
							<button id="#pupilDeleteEalLanguageData_eal{{ i.0 }}" class="login-window2" >Delete</button>
							{% endif %}
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style="height:auto;">
									<table>
										<tbody>
											<tr><td class="Label">{{ i.1 }} Language:</td><td class="DataItem">{{ i.2.1 }}</td></tr>
											<tr><td class="Label">{{ i.1 }} Speaking Level:</td><td class="DataItem">{{ i.3.0 }} - {{ i.3.1 }}</td></tr>
											<tr><td class="Label">{{ i.1 }} Reading Level:</td><td class="DataItem">{{ i.4.0 }} - {{ i.4.1 }}</td></tr>
											<tr><td class="Label">{{ i.1 }} Writing Level:</td><td class="DataItem">{{ i.5.0 }} - {{ i.5.1 }}</td></tr>
                                            <tr><td style="background-color:#CCC9A1;"><br /></td><td style="background-color:#CCC9A1;"><br /></td></tr>
										</tbody>
									</table>
								</div>
							</div>											
						</div>
						{% endif %}						
						{% endfor %}
						{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No Language Details</h1>
						</div>
						{% endif %}						
					</div>
				</div>
			</div>
<!-- end -->
<!-- sen -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>Further<br />Language<br />Details...</b></h1>
					</div>
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						<div class='RecordFormCRight2'>
							{% if inSEN %}
							{% include 'includes/pupilModifyEalFurtherLanguageDetails.html' %}
							<button id="#pupilModifyEalFurtherLanguageDetails" class="login-window2" >Modify</button>
							{% endif %}
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style="height:auto;">
									<table>
										<tbody>
											<tr><td class="Label">Pupil Ethnicity:</td><td class="DataItem">{{ PupilDetails.returnEthnicity }}</td></tr>
                                            <tr><td style="background-color:#CCC9A1;"><br /></td><td style="background-color:#CCC9A1;"><br /></td></tr>
											<tr><td class="Label">Relationship:</td><td class="DataItem">{% if PupilDetails.EmergencyContacts.0.Record.Relationship.Type %}{{ PupilDetails.EmergencyContacts.0.Record.Relationship.Type }}{% else %}<span style='color:red;'>NO DATA</span>{% endif %}</td></tr>
											<tr><td class="Label">Nationality:</td><td class="DataItem">{% if PupilDetails.EmergencyContacts.0.Extended.Nationality.1 %}{{ PupilDetails.EmergencyContacts.0.Extended.Nationality.1 }}{% else %}<span style='color:red;'>NO DATA</span>{% endif %}</td></tr>
											<tr><td class="Label">Language:</td><td class="DataItem">{% if PupilDetails.EmergencyContacts.0.Extended.PrimaryLanguage.1 %}{{ PupilDetails.EmergencyContacts.0.Extended.PrimaryLanguage.1 }}{% else %}<span style='color:red;'>NO DATA</span>{% endif %}</td></tr>
											<tr><td style="background-color:#CCC9A1;"><br /></td><td style="background-color:#CCC9A1;"><br /></td></tr>
											<tr><td class="Label">Relationship:</td><td class="DataItem">{% if PupilDetails.EmergencyContacts.1.Record.Relationship.Type %}{{ PupilDetails.EmergencyContacts.1.Record.Relationship.Type }}{% else %}<span style='color:red;'>NO DATA</span>{% endif %}</td></tr>
											<tr><td class="Label">Nationality:</td><td class="DataItem">{% if PupilDetails.EmergencyContacts.1.Extended.Nationality.1 %}{{ PupilDetails.EmergencyContacts.1.Extended.Nationality.1 }}{% else %}<span style='color:red;'>NO DATA</span>{% endif %}</td></tr>
											<tr><td class="Label">Language:</td><td class="DataItem">{% if PupilDetails.EmergencyContacts.1.Extended.PrimaryLanguage.1 %}{{ PupilDetails.EmergencyContacts.1.Extended.PrimaryLanguage.1 }}{% else %}<span style='color:red;'>NO DATA</span>{% endif %}</td></tr>
										</tbody>
									</table>									
								</div>
							</div>											
						</div>						
					</div>
				</div>
			</div>
<!-- end -->
<!-- ealprovisions -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>Provisions...</b></h1>
					</div>
					<div style="margin-top:10px;">
						{% if inSEN %}
						<button id="#AddProvision" class="login-window2" >Add Provision</button>
						{% endif %}
						{% if PupilDetails.returnProvisions.inActiveProvisions %}
						<button id="#oldProvisions" class="login-window2" >old Provisions</button>
						{% endif %}
					</div>					
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						{% if PupilDetails.returnProvisions.activeProvisions %}
						{% for Provision in PupilDetails.returnProvisions.activeProvisions %}
						{% include "includes/ModifyProvision.html" %}
						{% include "includes/DeleteProvision.html" %}
						<div class='RecordFormCRight2'>
							{% if inSEN %}
							<button id="#ModifyProvision{{ Provision.id }}" class="login-window2" >Modify</button>
							<button id="#DeleteProvision{{ Provision.id }}" class="login-window2" >Delete</button>
							{% endif %}
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style="height:auto;">
									<table>
										<tbody>
											<tr><td class="Label">Type</td><td class="DataItem">{{ Provision.SENType }}</td></tr>
											<tr><td class="Label">Start Date</td><td class="DataItem">{{ Provision.StartDate|date:"jS F Y" }}</td></tr>
											<tr><td class="Label">Stop Date</td><td class="DataItem">{{ Provision.StopDate|date:"jS F Y" }}</td></tr>
											<tr><td class="Label">Details</td><td class="DataItem">{{ Provision.Details|safe }}</td></tr>
											<tr><td style="background-color:#CCC9A1;" colspan="2"><br /></td></tr>
										</tbody>
									</table>
								</div>
							</div>											
						</div>
						{% endfor %}
						{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No Provisions</h1>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
<!-- end -->

<!-- eal targets -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>Targets...</b></h1>
					</div>
					<div style="margin-top:10px;">
						{% if inSEN %}
						<button id="#AddTarget" class="login-window2" >Add Target</button>
						{% endif %}
						{% if PupilDetails.returnTargets.inActiveTargets %}
						<button id="#oldTargets" class="login-window2" >old Targets</button>
						{% endif %}						
					</div>					
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						{% if PupilDetails.returnTargets.activeTargets %}
						{% for Target in PupilDetails.returnTargets.activeTargets %}
						{% include "includes/ModifyTarget.html" %}
						{% include "includes/DeleteTarget.html" %}
						<div class='RecordFormCRight2'>
							{% if inSEN %}
							<button id="#ModifyTarget{{ Target.id }}" class="login-window2" >Modify</button>
							<button id="#DeleteTarget{{ Target.id }}" class="login-window2" >Delete</button>
							{% endif %}
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style="height:auto;">
									<table>
										<tbody>
											<tr><td class="Label">Review Date</td><td class="DataItem">{{ Target.ReviewDate|date:"jS F Y" }}</td></tr>
											<tr><td class="Label">Target</td><td class="DataItem">{{ Target.Target|safe }}</td></tr>
											<tr><td class="Label">Review</td><td class="DataItem">{{ Target.Review|safe }}</td></tr>
											<tr><td style="background-color:#CCC9A1;" colspan="2"><br /></td></tr>
										</tbody>
									</table>
								</div>
							</div>											
						</div>
						{% endfor %}
						{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No Targets</h1>
						</div>
						{% endif %}						
					</div>
				</div>
			</div>
<!-- end -->

<!-- sen -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>Areas of<br />Concern...</b><br /><br /></h1>
					</div>
						{% if inSEN %}
						{% for i in PupilDetails.returnAreasOfConcernList %}
						{% include "includes/pupilModifyEalAreasOfConcern2.html" %}
						{% include "includes/pupilDeleteEalAreasOfConcern.html" %}
						{% if not i.2.0 and not i.3.0 and not i.4.0 %}
						<div>
							<a href="#pupilModifyEalAreasOfConcern_eal{{ i.1 }}" class="login-window" style="text-decoration:none;font-weight:normal;color:blue;" onMouseOver="this.style.color='red';" onMouseOut="this.style.color='blue';">Add {{ i.0 }}?</a>
						</div>
						{% endif %}					
						{% endfor %}
						{% endif %}
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						{% if PupilDetails.returnAreasOfConcern %}
						{% for i in PupilDetails.returnAreasOfConcernList %}
						{% if i.2.0 or i.3.0 or i.4.0 %}	
						<div class='RecordFormCRight2'>
							{% if inSEN %}
							<button id="#pupilModifyEalAreasOfConcern_eal{{ i.1 }}" class="login-window2" >Modify</button>
							<button id="#pupilDeleteEalAreasOfConcern_eal{{ i.1 }}" class="login-window2" >Delete</button>
							{% endif %}
						</div>						
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style="height:auto;">
									<table>
										<tbody>
											<tr><td class="Label">Level:</td><td class="DataItem">{{ i.2.0 }} - {{ i.2.1 }}</td></tr>											
											<tr><td class="DataItem" colspan="2"><b>{{ i.0 }} Notes:</b><span style="font-weight:normal;">{{ i.3.0|safe }}</span></td></tr>
											<tr><td class="DataItem" colspan="2"><b>{{ i.0 }} Teacher Notes:</b><span style="font-weight:normal;">{{ i.4.0|safe }}</span></td></tr>
											<tr><td style="background-color:#CCC9A1;" colspan="2"><br /></td></tr>
										</tbody>
									</table>
								</div>
							</div>											
						</div>
						{% endif %}						
						{% endfor %}
						{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No Concerns</h1>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
<!-- end -->
<!-- eal notes -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>EAL Notes...</b></h1>
					</div>
					<div style="margin-top:10px;">
						{% if inSEN %}
						<button id="#pupil_AddNote" class="login-window2" >Add a Note</button>
						{% endif %}
					</div>
				</div>
				<div class="RecordFormCRight">
				<div class="RecordFormCRight1">
				{% if NoteRecords %}
				{% for Notes in NoteRecords %}			
					<div class='RecordFormCRight2'>
						<div class='RecordFormCRight2' style="width:90px;">
							{% if inSEN %}
							<button type='button' id="#RemoveNote{{Notes.NoteId.id}}" class="login-window2">Delete</button>
							{% endif %}
							{% include "RemoveNote_fromEAL.html" %}
							<button type='button' onclick="document.location.href='/WillowTree/{{ school }}/{{ AcYear }}/ModifyPupilNote/{{ Notes.NoteId.id }}/{{ PupilDetails.Pupil.id }}/'">Modify</button>
						</div>
					</div>
					<div class='RecordFormCRight3'>
						<div class="table-wrapper"> 
							<div class="table-scroll" style="height:auto;float:right;">
								<table>
									<tbody>
										<tr><td class="DataItem">Raised Date:<span style="float:right;padding-right:4px">{{ Notes.NoteId.RaisedDate|date:"d/m/Y"}}</span></td></tr>
										<tr><td class="DataItem">Raised By:<span style="float:right;padding-right:4px">{{ Notes.NoteId.RaisedBy.UserId.User.Forename }} {{ Notes.NoteId.RaisedBy.UserId.User.Surname }}</span></td></tr>
										<tr><td class='DataItem'>Keywords:<span style="float:right;padding-right:4px">{{ Notes.NoteId.Keywords|SplitKW }}</span></div>
										<tr><td class="DataItem"><br />{{ Notes.NoteId.NoteText|safe }}</td></tr>
										<tr><td style="background-color:#CCC9A1;"><br /></td><td style="background-color:#CCC9A1;"><br /></td></tr>		
									</tbody>
								</table>
							</div>
						</div>
					</div>
				{% endfor %}
				{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No Notes</h1>
						</div>
				{% endif %}				
				</div>
				</div>
			</div>
<!-- end -->
		{% endwith %}
		</div>
{% endblock %}
