
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}
<!-- pop out code -->
<script>
{% include "popOutJavaScript.js" %}
</script>
<!-- end-->
<div class="leftMiddle">
	<div class="banner">
	Pupil Search Results
	</div>
	{% if not SearchResults %}
		<h1>* * * No Pupils Found * * *</h1>
		<br><br><br>
	{% else %}
			<table class="WillowTable1">
			<tr>			
				<td class="WillowTableHeader">Pupil</td>
				<td class="WillowTableHeader">Status</td>
			{% if transfer %}
				<td class="WillowTableHeader">Transfer</td>
			{% endif %}
			<tr>			
			{% for pupil in SearchResults %}
			<tr>
				<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" >
					<a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ pupil.Pupil.id }}">
						{{ pupil.Pupil.FullName }}
					</a>
				</td>
				<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" >
				{% for Groups in pupil.GroupList %}
					<div style="padding:3px;">
						<a href="/WillowTree/{{ school }}/{{ Groups.AcademicYear }}/ManageThis/{{ Groups.Group.Name }}">
							{{ Groups.Group.Name }} ({{Groups.AcademicYear}})
						</a><br />
					</div>
				{% endfor %}
				</td>
				<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}">
				{% if transfer %}
				{% include "includes/MoveToMain.html" %}			
					<a href="#MoveToMain{{pupil.Pupil.id}}" class="login-window" style="text-decoration:none;color:blue;font-weight:bold;" onMouseOver="this.style.color='red';" onMouseOut="this.style.color='blue';">Activate Transfer?</a>
				{% endif %}						
				</td>
			</tr>
			{% endfor %}
			</table>
			<br><br><br>
	{% endif %}
</div>			
{% endblock %}
