
<div id="pupil_AddNote" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' style="font-size:0.8em;width:900px;" name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/SaveANoteSinglePupil_fromEAL/Manager/{{ PupilDetails.Pupil.id }}/" method="post" name="PupilNote"> {% csrf_token %}
		<select multiple="multiple" id="KWSelect" name="KWSelect" style="display:none;">
			{% for words in KWList.All %}
			<option>{{ words.Keyword }}</option>
			{% endfor %}
		</select>   
		{% include "DisplayKeywordsNew.html" %}
		{% include 'includes/Manager_AddNoteTextBox_PopOut.html' %}
		<select multiple="multiple" id="NotePupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='Note{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>				
		<div id="DetailsBox" class="NotesC2">
			<button type="button" id="#Manager_AddNoteTextBox_PopOut" class="login-window3" style="width:150px;">Click to add details</button> -- OR --
			<button type="submit" value="Submit">Submit</button>
		</div>	
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupil_AddNoteS" onclick="hideSubmitButton('pupil_AddNoteS');" type="submit" value="Submit">Submit</button>
            <span id="pupil_AddNotePD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>		
	</form>
</div>


