
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block ContentArea %}
<!-- pop out code -->
<script>
{% include "popOutJavaScript.js" %}
{% include "KeywordsManager.js" %}
</script>
<script>
{% include "datePickerCode.js" %}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
{% include "tinyMCE.js" %}
</script>
		{% load WillowFilters %}
		{% with PupilExtended=PupilDetails.Extended %}
		{% include "includes/pupilMostAbled.html" %}
		<div class="leftMiddle">
			<div class="banner">
				<span style="font-weight:bold;color:lightblue;">Most Abled Record: <a style="color:lightblue;" href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{PupilDetails.id}}/">{{ PupilDetails.Forename }} {{PupilDetails.Surname }}</a> (PupilId: {{ PupilDetails.id }} )&nbsp &nbsp </span>
			</div>				
<!-- sen -->
			<div class="RecordFormBody" style="height:40px;">
				<div style="float:left;font-weight:normal;margin:7px 5px 5px 5px;">
					<!-- button goes here? -->
				</div>
			</div>

			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>Most<br />Abled...</b></h1>
					</div>
					<div style="margin-top:10px;">
						{% if inGT %}
						<button id="#pupilMostAbled" class="login-window2" >add</button>
						{% endif %}
					</div>
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						{% if GTData %}
						{% for i in GTData %}
						{% include "includes/pupilModifyMostAbled.html" %}
						{% include "includes/pupilDeleteMostAbled.html" %}
						<div class='RecordFormCRight2'>
							{% if inGT %}
							<button id="#pupilModifyMostAbled{{ i.id }}" class="login-window2" >Modify</button>
							<button id="#pupilDeleteMostAbled{{ i.id }}" class="login-window2" >Delete</button>
							{% endif %}
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style="height:auto;">
									<table>
										<tbody>
											<tr><td class="Label">Subject:</td><td class="DataItem">{{ i.Subject.Name }}</td></tr>
											<tr><td class="Label">Details:</td><td class="DataItem">{{ i.Details|safe }}</td></tr>
											<tr><td style="background-color:#CCC9A1;" colspan="2"><br /></td></tr>
										</tbody>
									</table>
								</div>
							</div>											
						</div>
						{% endfor %}
						{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No Most Abled Data</h1>
						</div>
						{% endif %}						
					</div>
				</div>
			</div>
<!-- end -->
<!-- end -->
		{% endwith %}
		</div>
{% endblock %}
