
<HTML>
{% load static from staticfiles %}
<HEAD> 
	<meta http-equiv="X-UA-Compatible" content="IE=8" />
	<META name="description" content="$Description">
	<Meta name="keywords" content="$Keywords">
	<TITLE>SEN Map/s</TITLE>
	<STYLE TYPE="text/css">
	h1 { font-size: 15pt;
	font-weight:700;
	text-align:center;
	font-family:Georgia,"New Times Roman",Arial;}
	h2 { font-size: 10pt;
	font-weight:300;
	border: 2px solid black;}
	h3 { font-size: 12pt;
	font-family:Georgia,"New Times Roman",Arial;}
	table { font-size: 8pt;
	font-family:Georgia,"New Times Roman",Arial;
	margin:3px 0 3px 0;}
	.index { font-size: 9pt;
	font-family:Georgia,"New Times Roman",Arial;
	font-weight:700;}

	<!--
		@page { margin-left: 1cm; margin-right: 1cm }
		P { margin-bottom: 0.21cm }
		TD P { margin-bottom: 0cm }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-GB" DIR="LTR" style='page-break-inside:avoid'>
{% load WillowFilters %}
{% for pup in pupilList %}
<h1><img src="{% static "images/unicorn_small.jpg" %}" width="100" height="105" style="padding:12px;"/><BR></h1>
<h1><FONT SIZE=5>Thomas's
Learning Support <BR>Provision Map</FONT></h1>
<TABLE WIDTH=100% BORDER=0 CELLPADDING=4 CELLSPACING=0>
	<TR VALIGN=TOP>
		<TD width=10%>Name</TD>
		<td width=25%> {{ pup.0.Pupil.Forename }} {{ pup.0.Pupil.Surname }}</td>
		<td width=10%><b>DOB</b>: {{ pup.0.Pupil.DateOfBirth|date:"jS F Y" }}</td>
		<TD width=15%><b>Year:</b> {{ pup.0.Form.0 }} <b>Class:</b> {{ pup.0.Form }}</TD>
		<td width=15%></td>
		<td width=25%><br></td>
	</TR>
	<TR VALIGN=TOP>
		<TD Width=10%>Provision:</TD>
		<td width=25%>{{ pup.0.ActivePupilAlerts.0.0.AlertType.Name }}</td>
		<td width=40%><br></td>
		<TD Width=15%>EAL Level(If applicable):</TD>
		<td width=10%><!-- Still to be made - roy --></td>
	</TR>
	<TR VALIGN=TOP>
		<TD Width=10%>Start Date</TD>
		<td width=25%>{{ pup.0.ActivePupilAlerts.0.0.StartDate|date:"jS F Y" }}</td>
		<td width=40%><br></td>
		<TD Width=25%>Laptop Usage Allowed:</TD>
		<td width=10%>{{ pup.0.returnSenLaptopSpecialPermissions }}</td>
	</TR>
	<TR VALIGN=TOP>
		<TD Width=10%>Stop Date</TD>
		<td width=25%>{{ pup.0.ActivePupilAlerts.0.0.StopDate|date:"jS F Y" }}</td>
		<td width=40%><br></td>
		<TD Width=15%>Extra Time Allowed:</TD>
		<td width=10%>{{ pup.0.returnSenExtraTimeSpecialPermissions }}</td>
	</TR>
<!-- sen extra options -->	
{% if pup.2.hasExtraOptions %}
		{% for a in pup.2.extraOptionsInList %}
			{% if a in pup.2.standard_SEN_search_list %}
		<tr>
			<td></td><td></td><td></td><td>Extra option:</td><td>{{ a|replaceSpace:'_' }}</td>
		</tr>
			{% endif %}
			{% if a in pup.2.difficulties_SEN_search_list %}
		<tr>
			<td></td><td></td><td></td><td>Extra option:</td><td>{{ a|replaceSpace:'_' }}</td>
		</tr>
			{% endif %}
		{% endfor %}
		</tr>												
{% endif %}	
<!-- # -->
</TABLE>

<TABLE WIDTH=100% BORDER=1 BORDERCOLOR="#000000" CELLPADDING=4 CELLSPACING=0>
	<COL WIDTH=256*>
	<TR>
		<TD WIDTH=100% VALIGN=TOP BGCOLOR="#83caff" class=index align=center>SEN Pr&eacute;cis</TD>
	</TR>
	<TR>
		<TD WIDTH=100% VALIGN=TOP>{{ pup.0.ReturnCurrentActiveSen.AlertDetails|safe }}<br></TD> 
	</TR>
</TABLE>
<!--#################################################################-->
{% if pup.0.returnSenLiteracy or pup.0.returnSenLiteracyTeacherNotes %}
<TABLE WIDTH=100% BORDER=1 BORDERCOLOR="#000000" CELLPADDING=4 CELLSPACING=0>
	<TR VALIGN=TOP>
		<TD WIDTH=30% BGCOLOR="#83caff" class=index>Literacy</TD>
		<TD WIDTH=80% BGCOLOR="#83caff" class=index>Literacy Teaching Strategies</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=30%>{{ pup.0.returnSenLiteracy|safe }}<BR></TD>
		<TD WIDTH=80%>{{ pup.0.returnSenLiteracyTeacherNotes|safe }}<BR></TD>
	</TR>
</table>
{% endif %}
{% if pup.0.returnSenNumeracy or pup.0.returnSenNumeracyTeacherNotes %}
<TABLE WIDTH=100% BORDER=1 BORDERCOLOR="#000000" CELLPADDING=4 CELLSPACING=0>
	<TR VALIGN=TOP>
		<TD WIDTH=30% BGCOLOR="#83caff" class=index>Numeracy</TD>
		<TD WIDTH=80% BGCOLOR="#83caff" class=index>Numeracy Teaching Strategies</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=30%>{{ pup.0.returnSenNumeracy|safe }}<BR></TD>
		<TD WIDTH=80%>{{ pup.0.returnSenNumeracyTeacherNotes|safe }}<BR></TD>
	</TR>
</table>
{% endif %}
{% if pup.0.returnSenBehavior or pup.0.returnSenBehaviorTeacherNotes %}
<TABLE WIDTH=100% BORDER=1 BORDERCOLOR="#000000" CELLPADDING=4 CELLSPACING=0>
	<TR VALIGN=TOP>
		<TD WIDTH=30% BGCOLOR="#83caff" class=index>Behaviour</TD>
		<TD WIDTH=80% BGCOLOR="#83caff" class=index>Behaviour Teaching Strategies</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=30%>{{ pup.0.returnSenBehavior|safe }}<BR></TD>
		<TD WIDTH=80%>{{ pup.0.returnSenBehaviorTeacherNotes|safe }}<BR></TD>
	</TR>
</table>
{% endif %}
{% if pup.0.returnSenCommunication or pup.0.returnSenCommunicationTeacherNotes %}
<TABLE WIDTH=100% BORDER=1 BORDERCOLOR="#000000" CELLPADDING=4 CELLSPACING=0>
	<TR VALIGN=TOP>
		<TD WIDTH=30% BGCOLOR="#83caff" class=index>Communication</TD>
		<TD WIDTH=80% BGCOLOR="#83caff" class=index>Communication Teaching Strategies</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=30%>{{ pup.0.returnSenCommunication|safe }}<BR></TD>
		<TD WIDTH=80%>{{ pup.0.returnSenCommunicationTeacherNotes|safe }}<BR></TD>
	</TR>
</table>
{% endif %}
{% if pup.0.returnSenPhysical or pup.0.returnSenPhysicalTeacherNotes %}
<TABLE WIDTH=100% BORDER=1 BORDERCOLOR="#000000" CELLPADDING=4 CELLSPACING=0>
	<TR VALIGN=TOP>
		<TD WIDTH=30% BGCOLOR="#83caff" class=index>Physical</TD>
		<TD WIDTH=80% BGCOLOR="#83caff" class=index>Physical Teaching Strategies</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=30%>{{ pup.0.returnSenPhysical|safe }}<BR></TD>
		<TD WIDTH=80%>{{ pup.0.returnSenPhysicalTeacherNotes|safe }}<BR></TD>
	</TR>
</table>
{% endif %}
{% if pup.0.returnSenGeneral or pup.0.returnSenGeneralTeacherNotes %}
<TABLE WIDTH=100% BORDER=1 BORDERCOLOR="#000000" CELLPADDING=4 CELLSPACING=0>
	<TR VALIGN=TOP>
		<TD WIDTH=30% BGCOLOR="#83caff" class=index>General</TD>
		<TD WIDTH=80% BGCOLOR="#83caff" class=index>General Teaching Strategies</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=30%>{{ pup.0.returnSenGeneral|safe }}<BR></TD>
		<TD WIDTH=80%>{{ pup.0.returnSenGeneralTeacherNotes|safe }}<BR></TD>
	</TR>
</table>
{% endif %}
<!--#################################################################-->
{% if pup.0.returnSenAssessmentHistory %}
<!--<p STYLE="margin-bottom: 0cm">Assessment History</p>
<h2>{{ pup.0.pupil.returnSenAssessmentHistory|safe }}</h2>-->
<p></p>
<table border=0 width=100%>
<tr><td class='index'>Assessment History</td></tr>
<tr><td>
<table WIDTH=100% BORDER=1 BORDERCOLOR="#000000" CELLPADDING=4 CELLSPACING=0>
<tr>
<td><p>{{ pup.0.returnSenAssessmentHistory|safe }}</p></td>
</tr>
</table><BR>
</td></tr>
</table>
{% endif %}
<!--#################################################################-->
{% if pup.0.senFunctions.returnProvisions.activeProvisions %}
<p></p>
<table border=0 width=100%>
<tr><td class='index'>Provisions Made</td></tr>
<tr><td>
<table WIDTH=100% BORDER=1 BORDERCOLOR="#000000" CELLPADDING=4 CELLSPACING=0>
<tr>
<td class='index'>Type</td><td class='index'>Start Date</td><td class='index'>Stop Date</td><td class='index'>Details</td>
</tr>
{% for i in pup.0.senFunctions.returnProvisions.activeProvisions %}
<tr>
<td><p>{{ i.SENType }}</p></td><td><p>{{ i.StartDate|date:"jS F Y" }}</p></td><td><p>{{ i.StopDate|date:"jS F Y" }}</p></td><td><p>{{ i.Details|safe }}</p></td>
</tr>
{% endfor %}
</table><BR>
</td></tr>
</table>
{% endif %}
<!--#################################################################-->
{% if pup.0.senFunctions.returnTargets.activeTargets %}
<p></P>
<table border=0 width=100%>
<tr><td class='index'>Targets set in conjunction with Teacher</td></tr>
<tr><td>
<table WIDTH=100% BORDER=1 BORDERCOLOR="#000000" CELLPADDING=4 CELLSPACING=0>
<tr>
<td class=index>Review Date<br></td><td class=index>Target<br></td><td class=index>Review<br></td>
</tr>
{% for i in pup.0.senFunctions.returnTargets.activeTargets %}
<tr>
<td>{{ i.ReviewDate|date:"jS F Y" }}</td><td>{{ i.Target|safe }}</td><td>{{ i.Review|safe }}</td>
</tr>
{% endfor %}
</table>
</td></tr>
</table>
<p></p>
{% endif %}
<!--#################################################################-->
{% if pup.1.NoteRecords %}
<p></p>
<table border=0 width=100%><tr><td class='index'>Reviews</td></tr>
<tr><td>
<table WIDTH=100% BORDER=1 BORDERCOLOR="#000000" CELLPADDING=4 CELLSPACING=0>
<tr>
<td class=index>Raised Date</td><td class=index>Raised By</td><td class=index>Notes</td>
</tr>
{% for Notes in pup.1.NoteRecords %}
<tr>
<td>{{ Notes.NoteId.RaisedDate|date:"d/m/Y" }}</td>
<td>{{ Notes.NoteId.RaisedBy.UserId.User.Forename }} {{ Notes.NoteId.RaisedBy.UserId.User.Surname }}</td>
<td>{{ Notes.NoteId.NoteText|safe }}</td>
</tr>
{% endfor %}
</table>
</td></tr></table>
{% endif %}
</td></tr></table>
<div style="page-break-after:always;"></div>
{% endfor %}
</BODY>
</HTML>
