
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block ContentArea %}

<script type="text/javascript">
</script>
{% load WillowFilters %}
			<div class="leftMiddle">
				<div class="banner">				
					Pupil Record : {{ PupilDetails.Pupil.Forename }} {{PupilDetails.Pupil.Surname }} (PupilId: {{ PupilDetails.Pupil.id }} )
				</div>	
				<div class="banner">				
					<h1 style="text-align:center;color:red;">The Applicant <b>{{ PupilDetails.Pupil.Forename }} {{PupilDetails.Pupil.Surname }}</b> has been declined. Details below...</h1>
				</div>	 
				<div class="RecordFormBody">
					<div class="RecordFormCLeft"> 
						<div id="RecordFormTitle">
							<img src="{{ MEDIA_REDIRECT }}{{PupilDetails.Pupil.Picture}}" width="125" height="170" alt="{{ PupilDetails.Pupil.Forename }} {{ PupilDetails.Pupil.Surname }}" style="padding:12px;"/>
						</div>
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
							<div class='RecordFormCRight2'>
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll" style="height:185px;">
										<table>
											<tbody>	
												<tr><td></td></tr>
												<tr><td></td></tr>
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						</div>
					</div>
				</div>	
			</div>
{% endblock %}
