
<div id="RemoveFamilyContact{{FamilyContact.FamilyRec.Contact.id}}" class="login-popup">
{% load static from staticfiles %}
	<div class='RecordFormInput'>
		<div class='bannerDialog'>
			<span>Remove Contact?</span>
		</div>
		<form action="/WillowTree/{{ school }}/{{ AcYear }}/RemoveFamilyContact/{{ FamilyDetails.FamilyId.id}}/{{ FamilyContact.FamilyRec.Contact.id }}/" method="post" name="PupilNote" >
			{% csrf_token %}
			Click OK to remove the following Contact from this<br>family record
			<ul>
				<li>Relationship: <b>{{FamilyContact.FamilyRec.Relationship}}</b></li>
				<li>Forename: <b>{{FamilyContact.FamilyRec.Contact.Forename}}</b></li>
				<li>Surname: <b>{{FamilyContact.FamilyRec.Contact.Surname}}</b></li>
			</ul>			
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="RemoveFamilyContact{{FamilyContact.FamilyRec.Contact.id}}S" onclick="hideSubmitButton('RemoveFamilyContact{{FamilyContact.FamilyRec.Contact.id}}S');" type="submit" value="Submit">Submit</button>
            <span id="RemoveFamilyContact{{FamilyContact.FamilyRec.Contact.id}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>		
		</form>
	</div>
</div>
