
<div id="RemoveNote{{Notes.NoteId.id}}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/RemovePupilNote2/{{ PupilDetails.Pupil.id }}/{{Notes.NoteId.id}}/" method="post" >
		{% csrf_token %}
		<div class='bannerDialog'>
			<p style="font-weight:bold;">Are you sure you wish to delete this note?</p> 
		</div>	
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="RemoveNote{{Notes.NoteId.id}}S" onclick="hideSubmitButton('RemoveNote{{Notes.NoteId.id}}S');" type="submit" value="Submit">Submit</button>
            <span id="RemoveNote{{Notes.NoteId.id}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>		
	</form>		
</div>
