
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
{% endblock %}
{% block ContentArea %}
{% load WillowFilters %}
<style>
table {
	margin:auto;
}
</style>
<script>
{% include "datePickerCode.js" %}
</script>
<script>
function selectReport()
{
	var e = document.getElementById("selectReportDropDown");
	var selectReportDropDown = e.options[e.selectedIndex].value;
	if (selectReportDropDown == 'School_Report_1')
	{
		document.getElementById('School_Report_1').style.display = 'inline';
		document.getElementById('Class_Report').style.display = 'none';
	}
	else if (selectReportDropDown == 'Class_Report')
	{
		document.getElementById('Class_Report').style.display = 'inline';
		document.getElementById('School_Report_1').style.display = 'none';					
	}
}
</script>
<script>
function selectAll(type)
{
	var grpChkBoxArray = document.getElementsByClassName('grpChkBox');
	for (var i=0; i<grpChkBoxArray.length; i++)
	{
		if (type == 'deSelect')
		{
			grpChkBoxArray[i].checked = false;
		}
		else if (type == 'select')
		{
			grpChkBoxArray[i].checked = true;
		}
	}
}
</script>
	<div>
		<div style='height:685px;' class="leftMiddle">
			<div class="banner">
				<span style="font-weight:bold;color:lightblue;">School Attendance Reports:</span>
			</div>
			<div>
				<div>
					<h1 style='text-align:center;margin-top:50px;'>Please select Report...</h1>
				</div>
				<div style="margin:25px 275px 25px 275px;background-color:#F0F0F0;padding:20px;">
					<table>
						<tr>
							<td>
								<span style='font-weight:bold;'>Select Report:</span>
							</td>
							<td>
								<select id='selectReportDropDown' onchange='selectReport();'>
									<option value="Class_Report">Class Report</option>
									<option value="School_Report_1">School Report</option>
								</select>
							</td>
						</tr>
					</table>
				</div>
				<!-- school report 1 -->
				<div id='School_Report_1' style='display:none;'>
					<div>
						<h1 style='text-align:center;margin-top:10px;'>Now please select either a date range...</h1>
					</div>
					<div>										
						<form class="SearchForm" action="/WillowTree/{{ school }}/{{ AcYear }}/SchoolAttendanceReportGenerate/" method="post"> 
							{% csrf_token %}
							<div style="margin:25px 275px 25px 275px;background-color:#F0F0F0;padding:20px;">
								<table>
									<tr>
										<td><span style='font-weight:bold;'>Date Range:</span></td>
										<td>
											<select name='dateRange'>
												{% for i in dateRange %}
												<option value="{{ i }}">{{ i }}</option>
												{% endfor %}
											</select>
										</td>
									</tr>													
								</table>
								<div style='text-align:center;'><button type="submit">Submit</button></div>
							</div>	
						</form>
						<div>
							<h1 style='text-align:center;margin-top:10px;'>Or a start date and stop date...</h1>
						</div>						
					<!-- for SchoolAttendanceReportGenerateForNonStandardDateRange view-->
						<form class="SearchForm" action="/WillowTree/{{ school }}/{{ AcYear }}/SchoolAttendanceReportGenerateForNonStandardDateRange/" method="post"> 
							{% csrf_token %}
							<div style="margin:25px 275px 25px 275px;background-color:#F0F0F0;padding:20px;">
								<table>
									<tr>
										<td><span style='font-weight:bold;'>Start Date:</span></td>
										<td><input required name='startDate2' class='datepicker' readonly='true' type='text' value="{{ startDate }}"></td>
									</tr>
									<tr>
										<td><span style='font-weight:bold;'>End Date:</span></td>
										<td><input required name='endDate2' class='datepicker' readonly='true' type='text' value="{{ endDate }}"></td>
									</tr>												
								</table>
								<div style='text-align:center;'><button type="submit">Submit</button></div>
							</div>	
						</form>						
					<!-- end -->	
					</div>
				</div>
				<!-- end -->
				<!-- class report -->
				<div id='Class_Report'>
					<div>
						<h1 style='text-align:center;margin-top:50px;'>Please select classes and date range...</h1>
					</div>
					<div>
						<form class="SearchForm" action="/WillowTree/{{ school }}/{{ AcYear }}/classAttendanceReport/" method="post"> 
							{% csrf_token %}
							<div style="margin:25px 275px 25px 275px;background-color:#F0F0F0;padding:20px;">
								<div style='text-align:center;'>
									<button type="button" style='padding:2px;width:90px;' type="checkbox" onclick="selectAll('select');">Select All</button>
									<button type="button" style='padding:2px;width:90px;' type="checkbox" onclick="selectAll('deSelect');">Select None</button>
								</div>
								<table>
									<tr>
										<td colspan='2'>
											<table style="margin-left:auto;margin-right:auto;">
												<tr>
												{% for group in Groups %}
												<td><input class='grpChkBox' style='padding:2px;' type="checkbox" name="{{ group.Name }}" value="{{ group.Name }}"></td>
												<td>{{ group.Name|getFormOnlyFromGroupName }}</td>
												{%if forloop.counter|divisibleby:"4"%}
												</tr><tr>
												{% endif %}
												{% endfor %}
												</tr>
											</table>											
										</td>
									</tr>
									<tr>
										<td><br /></td><td></td>
									</tr>
									<tr>
										<td><span style='font-weight:bold;'>Start Date:</span></td>
										<td><input required name='startDate' class='datepicker' readonly='true' type='text' value="{{ startDate }}"></td>
									</tr>
									<tr>
										<td><span style='font-weight:bold;'>End Date:</span></td>
										<td><input required name='endDate' class='datepicker' readonly='true' type='text' value="{{ endDate }}"></td>
									</tr>
									<tr>
										<td><br /></td><td></td>
									</tr>														
								</table>
								<div style='text-align:center;'><button type="submit">Submit</button></div>
							</div>	
						</form>
					</div>	
				</div>		
				<!-- end -->
			</div>
		</div>
	</div>
{% endblock %}
