
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}
<script type="text/javascript">


function CheckSelected(FormObject)
{
	OptionSelected= false;
	for (i=0;i < FormObject.length;i++)
	{
		if (FormObject.Selected=true)
		{
			OptionSelected=true;
		}
	}
	return OptionSelected
}

function CheckText(FormObject)
{
	if (FormObject.value.length > 1)
	{
		return true;
	}
	else
	{
		return false;
	}
}

function checkform()
{
	var ArraySelected= new Array('Selectletter');
	var ArrayText= new Array();
	
	for (i=0;i < ArraySelected.length; i++)
	{
		FormObject=document.getElementById(ArraySelected[i]);
		if (CheckSelected(FormObject) ==false)
		{
			alert('failed on check for ' + ArraySelected[i]);
			return false;
		}
	}
	for (i=0; i < ArrayText.length; i++)
	{
		FormObject=document.getElementById(ArrayText[i]);
		if (CheckText(FormObject) ==false)
		{
			alert('Failed on check for ' + ArrayText[i]);
			return false;
		}	
	}
	return true;
}
	
</script>

<div class="leftMiddle">
    <div class="banner">Create  a letter</div>
	{% if return_msg %}
		{% for msgs in return_msg %}
			<h1>{{ msgs }}</h1>
		{% endfor %}
	{% endif %}

	<div class="LetterCreateMain">
		<form action="/WillowTree/{{ school }}/{{ AcYear }}/GenerateALetter/{{ GroupName }}/" onsubmit="return checkform()" method="post" name="Letter" target="_blank"> 
		{% csrf_token %}
		<div class="LetterCreateTop">
		
			<label>Select a Letter</label>
			<select id='SelectLetter' name='SelectLetter'>
				<option value='None'>Select A Letter</option>
				{% for Letters in LetterList %}
					<option value='{{ Letters.id }}'><b>{{ Letters.Name }}</b> ({{Letters.ObjectBaseType}})</option>
				{% endfor %}
			</select><br>	
		</div>
		
		
		
		
		
		<div class='LetterCreateMiddle' style='height:auto;'>
			<h1>Enter any variable data</h1>
			<label>Variable 1</label><input type='text' name='Var1'><br>
			<label>Variable 2</label><input type='text' name='Var2'><br>
			<label>Variable 3</label><input type='text' name='Var3'><br>
			<label>Variable 4</label><input type='text' name='Var4'><br>
			<label>Variable 5</label><input type='text' name='Var5'><br>
				<div class='LetterCreateTop'>
					<input type="submit" id="Submit" name="save" value="Generate Letter"/>
		
					</div															
		</div>
		
		</form>

	</div>
</div>
</div>
			
{% endblock %}
