
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}

<div class="leftMiddle">
    <div class="banner">Select a letter To Modify</div>
	{% if return_msg %}
		{% for msgs in return_msg %}
			<h1>{{ msgs }}</h1>
		{% endfor %}
	{% endif %}

	<div class="LetterCreateMain">
	<form action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyALetterForm/" method="post" name="Letter"> 
	{% csrf_token %}
	<div class="LetterCreateTop">
		
		<label>Select a Letter</label>
		<select id='SelectLetter' name='SelectLetter'>
			<option value='None'>Select A Letter</option>
			{% for Letters in LetterList %}
				<option value='{{ Letters.id }}'><b>{{ Letters.Name }}</b> ({{Letters.ObjectBaseType}})</option>
			{% endfor %}
		</select><br><br>	
	</div>
		
	<div class='LetterCreateBottom'>
		<br>
		<input type="submit" id="Submit" name="save" value="Modify Letter"/>
		
	</div>

	
	</form>

		</div>

			</div>
			
{% endblock %}
