
<div id="SelectALetterSinglePupil{{pupil.Pupil.id}}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/GenerateALetter/{{ GroupName }}/" method="post", target="_blank">
		{% csrf_token %}
		<script>
			function showSubmitButton() 
			{
				var SelectLetter = document.getElementById("SelectLetter");
				var submitButton = document.getElementById("submitButton");
				if (SelectLetter.options[SelectLetter.selectedIndex].text != '-Select Letter-') 
				{
					submitButton.style.display="inline";
				}
				else if (SelectLetter.options[SelectLetter.selectedIndex].text == '-Select Letter-') 
				{
					submitButton.style.display="none";
				}
			}
		{% include "datePickerCode.js" %}		
		</script>
		<input id='Letter{{pupil.Pupil.id}}' name="PupilSelect" value="{{ pupil.Pupil.id }}" style="display:none;">
	
		
		<div class="LetterCreateTop" style='width:auto; height:auto;'>
			<label>Select a Letter</label>
			<select name="SelectLetter" id="SelectLetter" style="width:100%;" onChange='ShowLetterDesc();showSubmitButton();'>			
					<option value="">-Select Letter-</option>
				{% for Letters in LetterList %}
					<option value="{{ Letters.id }}"><b>{{ Letters.Name }}</b> ({{Letters.ObjectBaseType}})</option>
				{% endfor %}
			</select><br>
		<div id='LetterDescription'style='border:solid 1px;font-size:0.9em;color:darkred;'>Please select a letter to generate...</div>				
		</div>
			
		
		<div class='LetterCreateMiddle' style='height:auto;'>
			<div style="float:left;margin-right:50px;">
				<label>Letter Date</label><input class='datepicker' readonly='true' type='text' name="LetterDate" id="LetterDate" size="11" value='{% now "c"%}'/><br><br>
				<label>Adhoc Date 1</label><input class='datepicker' readonly='true' type='text' name="Date1" id="Date1" size="11" value='{% now "c"%}'/><br>
				<label>Adhoc Date 2</label><input class='datepicker' readonly='true' type='text' name="Date2" id="Date2" size="11" value='{% now "c"%}'/><br>
				<label>Adhoc Date 3</label><input class='datepicker' readonly='true' type='text' name="Date3" id="Date3" size="11" value='{% now "c"%}'/><br><br>
			</div>
			<div style="float:right;">
				<label>Adhoc Item 1</label><input type='text' name='Adhoc1' style='width:200px;'><br>
				<label>Adhoc Item 2</label><input type='text' name='Adhoc2' style='width:200px;'><br>
				<label>Adhoc Item 3</label><input type='text' name='Adhoc3' style='width:200px;'><br>
				<label>Adhoc Item 4</label><input type='text' name='Adhoc4' style='width:200px;'><br>
				<label>Adhoc Item 5</label><input type='text' name='Adhoc5' style='width:200px;'><br>
				<label>Adhoc Item 6</label><input type='text' name='Adhoc6' style='width:200px;'><br>
			</div>
			<div style="text-align:center;">
				<div id="MRemoveApplicant{{pupil.Pupil.id}}S">
					<button type="button" class='close2'>Cancel</button>
					<button  onclick="hideSubmitButton('RemoveApplicant{{pupil.Pupil.id}}S');" type="submit" value="Submit">Generate</button>
				</div>
				<span id="RemoveApplicant{{pupil.Pupil.id}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
			</div>															
		</div>
		</div>
	</form>
</div>
