
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}

{% endblock %}
{% block ContentArea %}

			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% endif %}
					{{ BannerTitle }}
				</div>
			
			<table class="WillowTable1">
			<tr>
			<td class="WillowTableHeader">Home Salutation</td>
			<td class="WillowTableHeader">Address Line 1</td>
			<td class="WillowTableHeader">Address Line 2</td>
			<td class="WillowTableHeader">PostCode</td>
			<td class="WillowtableHeader"><br></td>
			</tr>
			{% for Address in AddressList %}
			<div data-dojo-type="dijit/Dialog"  title='New Address' data-dojo-id="AddressDialog_{{Address.id }}">
							<div class='RecordFormInput'>
								<br>
								<div class='bannerDialog'>
									Are you sure you want to add the following Address?
								</div>
								<ul>
									<li><label>Home Salutation</label>{{Address.HomeSalutation}}</li>
									<li><label>Address Line1</label>{{Address.AddressLine1}}</li>	
									<li><label>Address Line2</label>{{Address.AddressLine2}}</li>
									<li><label>Postcode</label>{{Address.PostCode}}</li>								
								</ul>
									<form action="/WillowTree/{{ school }}/{{ AcYear }}/AddExistingFamilyAddress/{{ FamilyId }}/{{Address.id}}/" method="post" name="PupilNote">
										{% csrf_token %}
										<li>
											<input type="hidden" name="AddressId"/>
										</li>
										<button type='button' onclick="AddressDialog_{{Address.id}}.hide()">Cancel</button>
										<button type="submit">OK</button>	
									</form>
							</div>
			</div>
			
			
			<tr>
			<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" >{{Address.HomeSalutation}}</td>
			<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" >{{Address.AddressLine1}}</td>
			<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" >{{Address.AddressLine2}}</td>			
			<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" >{{Address.PostCode}}</td>
			<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" ><button type='button' onclick="AddressDialog_{{Address.id}}.show()">Select</button></td>						
			</tr>	
			{% endfor %}
			
			</table>
			</div>

			
{% endblock %}
