
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
					Manage Sets : {{ GroupName }} 
				</div>
			{% for items in  system_messages %}
				{{ items }}
			{% endfor %}
			<table border=1>
			<tr>
			<th>Pupil Name</th>
			{% for sets in SetList %}
			<th>{{ sets }}</th>
			{% endfor %}
			<form action='/WillowTree/{{ school }}/{{AcYear}}/UpdateSets/{{ ManagerId }}/{{ GroupRef }}/' method='post'>
			{% csrf_token %}
			{% for pupils in PupilList %}
			<tr>
			<td><a href='/WillowTree/{{ school }}/{{AcYear }}/pupil/{{ pupils.0.id }}/'><img src="{{ MEDIA_REDIRECT }}{{ pupils.0.Picture}}" width="30" height="35" /> <b>{{ pupils.0}}</b></a></td>

			{% for items in pupils.1 %}
			<td><input type="radio" name="{{ pupils.0.id}}" value="{{ items.0}}" {% if items.1 %} checked="checked" {% endif %}/></td>
			{% endfor %}
			</tr>
			{% endfor %}
			<tr><td><input type="submit" value='Submit'></td></tr>
			</form>
			</table>

			</div>
			<div class="leftBottom">
				<img src="images/left_bottom.jpg" width="800" height="8" />
			</div>
			
{% endblock %}
