
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}
<script type="text/javascript">
	function UnTab(ElementName)
	{
		var groupId=document.getElementById(ElementName);
		groupId.style.backgroundColor='';		
	}
	function Tab(ElementName,PupilId,GroupId)
	{
		var groupId=document.getElementById(ElementName);
		groupId.style.backgroundColor='#888';		
		var PupilGroup=document.getElementById(PupilId);
		PupilGroup.value=GroupId;
	}
	function NotSet(ElementName)
	{
		var groupId=document.getElementById(ElementName);
		groupId.style.backgroundColor='#888';
	}	
window.onload= function () {
	{% for Pupil in SetManager.PupilList %}
		{% if not Pupil.Selected %}
			NotSet("{{Pupil.PupilDetails.id}}-{{ SetManager.MgroupName }}");
		{% else %}
			{% for Groups in Pupil.GroupList %}
				{% if Groups.1 %}
					Tab("{{Pupil.PupilDetails.id}}-{{ Groups.0.id }}","{{Pupil.PupilDetails.id}}","{{ Groups.0.id }}");
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}
}
</script>
<style>
.SMPupilPic {
	width: 1cm;
	height: 1cm;
	float: left;
}
.SMPupil {
	width: 5cm;
	height: 0.7cm;
	float: left;
	padding: 0.2cm;
	margin: 0.1cm;

}
.SMGroup {
	width: 1.3cm;
	height: 0.7cm;
	float:left;
	padding: 0.2cm;
	margin: 0.1cm;

}
.SMGroup:hover {
color:red;
cursor:pointer;
}
.SMContainer {
	height 1.2cm;
	clear: both;
	padding: 0.2cm;
	border-top: 1px solid;
}
</style>



			<div class="leftMiddle">
				<div class="banner">
					Manage Sets : {{ SetManager.MgroupChild.Name }} 
				</div>
			{% for items in  system_messages %}
				{{ items }}<br>
			{% endfor %}
			<form action='/WillowTree/{{ school }}/{{AcYear}}/UpdateSets/{{ SetManager.MgroupChild.id }}/{{ SetManager.SgroupString }}/' method='post'>
			{% csrf_token %}
			<input type='hidden' value='{{SetManager.Mgroup.id}}' id='ParentGroup' name='ParentGroup'/>

	 <!-- This section goes through all the pupils adding the records in -->		
			
		{% for Pupil in SetManager.PupilList %}
		<div class='SMContainer'>
			<div class='SMPupilPic'>
				<a href='/WillowTree/{{ school }}/{{AcYear }}/pupil/{{ Pupil.PupilDetails.id }}/'>
					<img src="{{ MEDIA_REDIRECT }}{{ Pupil.PupilDetails.Picture}}" width="30" height="35" />
				</a>		
			</div>
			<div class='SMPupil'>
				<a href='/WillowTree/{{ school }}/{{AcYear }}/pupil/{{ Pupil.PupilDetails.id }}/'>
					{{ Pupil.PupilDetails.FullName }}
				</a>
			</div>
			<div class='SMGroup'  id="{{Pupil.PupilDetails.id}}-{{ SetManager.MgroupName }}" name="{{Pupil.PupilDetails.id}}-{{ SetManager.MgroupName }}">
				{{ SetManager.MgroupName }}
			</div> 
		
			<!-- for each pupil this adds in details on which set has been selected -->
		
			{% for Groups in Pupil.GroupList %}
					<div class='SMGroup' id="{{Pupil.PupilDetails.id}}-{{ Groups.0.id }}" name="{{Pupil.PupilDetails.id}}-{{ Groups.0.id }}" onClick="UnTab('{{Pupil.PupilDetails.id}}-{{ SetManager.MgroupName }}'); {% for Sgroups in Pupil.GroupList %}UnTab('{{Pupil.PupilDetails.id}}-{{Sgroups.0.id}}'); {% endfor %} Tab('{{Pupil.PupilDetails.id}}-{{ Groups.0.id }}','{{Pupil.PupilDetails.id}}','{{ Groups.0.id }}');">
						{{ Groups.0.MenuName }}		
					</div>
			{% endfor %}
			</div>
		{% endfor %}
		{% for Pupils in SetManager.PupilList %}
			<input type='hidden' id="{{ Pupils.PupilDetails.id}}" name="{{ Pupils.PupilDetails.id}}" value="{% for Groups in Pupils.GroupList %}{% if Groups.1 %}{{Groups.o.id}}{% endif %}{% endfor %}"/>
		{% endfor %}
		<div class='SMContainer'>
			<div class='SMPupilPic'><br></div>
			<div class='SMPupil'>Set Count</div>
			<div class='SMGroup'><br></div>
			{% for Counts in SetManager.GroupCounter %}
			<div class='SMGroup'>{{ Counts }}</div>
			{% endfor %}
		</div>
		
			
<div class='SMContainer'>			
<input type="submit" value='Submit'>
<br><br>
</div>
			</form>


			
{% endblock %}
