
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
					Sets Updated 
				</div>
			<table border=1 width=100%>
			{% for msg in ChangeList %}
			<tr><td>{{ msg }}</td></tr>
			{% endfor %}
			</table>

			</div>
			<div class="leftBottom">
				<img src="images/left_bottom.jpg" width="800" height="8" />
			</div>
			
{% endblock %}