
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% endif %}
					{{ BannerTitle }}
				</div>
				<h1>
				{% for msgs in return_msg %}
				{{ msgs|safe }}<br>
				{% endfor %}
				</h1>
				{% if ReturnLink %}
				<a href="/WillowTree/{{ school }}/{{ AcYear }}/{{ ReturnLink.Reference }}/">{{ReturnLink.Text}}</a>
				{% endif %}
			<br><br>


			</div>

			
{% endblock %}
