
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
					ClassList: {{ GroupName }} 
				</div>
			<table width='100%' border=1>

			{% for pupils in ClassList %}
			<tr>
				<td><a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ pupils.id }}/"><img src="{{ MEDIA_REDIRECT }}{{pupils.Picture}}" width="50" height="60"/></a></td>
				<td valign='top'>
				<table width='100%'>
				<div class="profileRow">
					<tr><td>
					<span class="dataLabel">Pupil ID</span>
					<span class="dataCritialItem">{{ pupils.id }}</span>
					<br>
					<br>
					</td>
					</tr>
	
					<tr>
					<td>					
					<span class="dataLabel">Surname</span>
					<span class="dataSmallItem">{{ pupils.Surname }}</span>
					</td>
					<td>
					<span class="dataLabel">Forename</span>
					<span class="dataSmallItem">{{ pupils.Forename }}</span>
					</td>
					</tr>
					<tr>
					<td>
					<span class="dataLabel">Middle Names</span>
					<span class="dataSmallItem"><br></span>
					</td>						
					<td>
					<span class="dataLabel">DOB</span>
					<span class="dataSmallItem">{{ pupils.DateOfBirth }}</span>
					</td>
					</tr>
					<tr>
					<td>
					<span class="dataLabel">Gender</span>
					<span class="dataSmallItem">{{ pupils.Gender }}</span>
					</td>
					<td>
					<span class="dataLabel">Known As</span>
					<span class="dataSmallItem">{{ pupils.NickName }}</span>
					</td>					
					</tr>
					<tr>
					<td>
					<span class="dataLabel">Academic House</span>
					<span class="dataSmallItem">{{ pupils.AcHouse }}</span>
					</td>
					<td>
					<span class="dataLabel">UPN Number</span>
					<span class="dataSmallItem">{{ pupils.UPN}}</span>
					</td>
					</tr>
				</div>
				</table>
				</td>
			</tr>
			{% endfor %}
			</table>



			</div>
			<div class="leftBottom">
				<img src="images/left_bottom.jpg" width="800" height="8" />
			</div>
			
{% endblock %}
