
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block ContentArea %}
<script>
{% include "popOutJavaScript.js" %}
</script>
{% include "includes/special_groups_create.html" %}
<div class="leftMiddle">
	<div class="banner">
	{% if errmsg %}
	<b>{{ errmsg }}</b>
	{% else %}
		<span style="font-weight:bold;color:lightblue;">Admin Special Groups</span>
	{% endif %}
	</div>
<div class='body' style='height:600px;'>
	<div style="float:right:">
		<button style="padding:10px;" id="#special_groups_create" class="login-window2">New Group?</button>
	</div>
	{% if error_message %}
	<div style="text-align:center;color:darkred;">
		<p>{{ error_message }}</p>
	</div>
	{% endif %}
	<div style="clear:both;">
		<table class="WillowTable1">
			<tr style="text-align:center;font-weight:bold;">
				<td>Group Name</td><td>Status</td><td>Action</td>
			</tr>
			{% for group in groups %}
			{% include "includes/special_groups_delete_group.html" %}
			{% include "includes/special_groups_remove_all_members.html" %}			
			<tr class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
				<td style="text-align:left;" class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
					<a style="text-decoration:none;" href="/WillowTree/{{ school }}/{{ AcYear }}/ManageAll/{{ group.0 }}/">{{ group.0 }}</a>
				</td>
				{% if group.1 %}
				<td style="color:blue;width:10%;">
					<span>has members</span>
				</td>
				<td style="color:blue;width:10%;">
					<button id="#special_groups_remove_all_members_{{ group.2 }}" class="login-window2">Remove Members?</button>
				</td>
				{% else %}
				<td style="color:red;width:10%;">
					<span>empty</span>
				</td>
				<td style="color:blue;width:10%;">
					<button id="#special_groups_delete_group_{{ group.2 }}" class="login-window2">Remove Group?</button>
				</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
	</div>
</div>	
</div>
{% endblock %}
