
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block ContentArea %}
<script>
{% include "popOutJavaScript.js" %}
</script>
<div class="leftMiddle">
	<div class="banner">
	{% if errmsg %}
	<b>{{ errmsg }}</b>
	{% else %}
		<span style="font-weight:bold;color:lightblue;">Admin Special Groups</span>
	{% endif %}
	</div>
<div style="text-align:center;color:blue;">
	<p>Note: Only Special Groups with members will appear here!</p>
</div>
<div class='body'>
	<div class='add_special_group_button'>
		<button id="#add_special_group_button" class="login-window2" >Add New Group</button>
	</div>
	<table class="WillowTable1">
		{% for group in groups %}
		{% if group.1 %}
		<tr class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
			<td><a style="text-decoration:none;" href="/WillowTree/{{ school }}/{{ AcYear }}/ManageAll/{{ group.0 }}/">{{ group.0 }}</a></td>
		</tr>
		{% endif %}
	</table>
</div>	
</div>
{% endblock %}
