
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">

{% include "KeywordsManager.js" %}

</script>
<script>
{% include "popOutJavaScript.js" %}
</script>
<script>
{% include "datePickerCode.js" %}
</script>
{% endblock %}
{% load WillowFilters %}
{% block ContentArea %}	
			{% include "includes/change_to_new_staff_group.html" %} 
			{% include "includes/RemoveAStaffMemeberFromGrp.html" %}
			{% include "includes/staffCpdCsvExtractPopUp.html" %}
			{% include "SelectALetterManager.html" %}
			{% include "includes/StaffLabelManager.html" %}
			{% include "includes/addAStaffMemeberToGrp.html" %}
		<div>
			<div class="leftMiddle">
				<div class="banner">
					<span style="font-weight:bold;color:lightblue;">StaffList: {{ GroupName }}</span>
				</div>	
			<div>
				<p style="color:blue;font-weight:bold;margin-bottom:0;">		
				{% if Messages %}
					{% for msg in Messages %}
						{{ msg }}<br>
					{% endfor %}
				{% endif %}
				</p>
			</div>
			<table class="WillowTable1">
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" width='7%'>
					<input type='checkbox' id="SelectAll" name="PupilCheck" checked='checked' style='height:20px;width:20px;' onChange='ToggleSelectAll();'/> 
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" width='20%'><<<< Select/Unselect All<td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}"><br></td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" width='15%'>
<!-- ######################################################## -->						
					<ul class="managermenu">
						<li><a href='#' class="drop">Actions</a>
							<div class="dropdown_2columns align_right">
								<div class="col_1">
									<h3>Main</h3>
									<ul>
										<li><a href='#staffCpdCsvExtractPopUp' onclick="AddForSelected('staffCpdCsvExtractPopUp');" class="login-window">Staff Cpd Extract</a></li>
										<li><a href="#SelectALetterManager" class="login-window" onclick="AddForSelected('Letter');">Generate Letters</a><li>						
										<li><a href="#LabelManager" class="login-window" onclick="AddForSelected('Labels');">Generate Labels</a><li>
									</ul>
								</div>
								<div class='col_1'>
									<h3>AdHoc</h3>
									<ul>
										<li><a href='#addAStaffMemeberToGrp' onclick="AddForSelected('Add');" class="login-window">Add to Group</a></li>
										<li><a href='#RemoveAStaffMemeberFromGrp' onclick="AddForSelected('Remove');" class="login-window">Rm from Group</a></li>
										<li><a href='#change_to_new_staff_group' class="login-window">Change To Grp</a></li>	
									</ul>
								</div>
							</div>
						</li>
					</ul>					
<!-- ######################################################## -->										
				</td>	
			</tr>
		</table>							
			<table class="WillowTable1">
				<tr>
					<td class="WillowTableHeaderSmall" width='7%'>Select</td>
					<td class="WillowTableHeaderSmall">Picture</td>					
					<td class="WillowTableHeaderSmall">Id</td>
					<td class="WillowTableHeaderSmall">Name</td>
					<td class="WillowTableHeaderSmall">Gender</td>
					<td class="WillowTableHeaderSmall">Assigned To</td>
					<td class="WillowTableHeaderSmall" width='15%'>Actions</td>
				</tr>
			{% for staff in staffRecs %}
			<tr>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
					<input type='checkbox' id="Checked{{ staff.StaffId }}" name="PupilCheck" checked='checked' style='height:20px;width:20px;' onchange="UpdatePupilList('{{ staff.StaffId }}');"/> 
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
					{% if 'Admin' in school %}
					<a href="/WillowTree/{{ School }}/{{ AcYear }}/staff/{{ staff.StaffId }}/"><img src="#" width="50" height="60"/></a>
					{% else %}
					<img src="#" width="50" height="60"/>
					{% endif %}
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ staff.StaffId }}</td> 
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ staff.StaffRec.Forename }} {{ staff.StaffRec.Surname }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ staff.StaffRec.Gender }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >				
				{% for Groups in staff.ListGroups %}
				<a href="/WillowTree/{{ School }}/{{ AcYear }}/Manage/{{ Groups.Group.Name }}/">{{ Groups.Group.Name }}</a><br>  
				{% endfor%}
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
					<ul class="managermenu">
						<li><a href='#' class="drop">Actions</a>
							<div class="dropdown_2columns align_right">
								<div class="col_1">
									<h3>Main</h3>
									<ul>
										<li><a href='#'></a></li>						
									</ul>
								</div>
								<div class='col_1'>
									<h3>AdHoc</h3>
									<ul>
										<li><a href='#addAStaffMemeberToGrp' onclick="AddFor('{{ staff.StaffId }}','Add');" class="login-window">Add to Group</a></li>
										<li><a href='#RemoveAStaffMemeberFromGrp' onclick="AddFor('{{ staff.StaffId }}','Remove');" class="login-window">Rm from Group</a></li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</td>
			<tr>
				
			{% endfor %}
			</table>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<br><br><br><br><br><br><br><br>
		</div>			
{% endblock %}
