
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block ContentArea %}
<!-- pop out code -->
<script>
{% include "popOutJavaScript.js" %}
{% include "KeywordsManager.js" %}
</script>
<script>
{% include "datePickerCode.js" %}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
{% include "tinyMCE.js" %}
</script>
		{% load WillowFilters %}
		{% include "includes/AddStaffCpd.html" %}
		<div class="leftMiddle">
			<div class="banner">
				<span style="font-weight:bold;color:lightblue;">CPD Records: {{ Staff.Forename }} {{ Staff.Surname }}</span>
			</div>				
<!-- sen -->
			<div class="RecordFormBody" style="height:40px;">
				<div style="float:left;font-weight:normal;margin:7px 5px 5px 5px;">
					<!-- button goes here? -->
				</div>
			</div>
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText"></b>Career<br />Path<br />Development...</b></h1>
					</div>
					<div style="margin-top:10px;">
						<button id="#addStaffCpd" class="login-window2" >add</button>
					</div>
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						{% if CpdData %}
						{% for i in CpdData %}
						{% include "includes/ModifyStaffCpd.html" %}
						{% include "includes/DeleteStaffCpd.html" %}
						<div class='RecordFormCRight2'>
							<button id="#modifyStaffCpd{{ i.id }}" class="login-window2" >Modify</button>
							<button id="#deleteStaffCpd{{ i.id }}" class="login-window2" >Delete</button>
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style="height:auto;">
									<table>
										<tbody>
											<tr><td class="Label">Course Title:</td><td class="DataItem">{{ i.Name }}</td></tr>
											<tr><td class="Label">Name of Provider:</td><td class="DataItem">{{ i.Provider }}</td></tr>
											<tr><td class="Label">Time Taken:</td><td class="DataItem">{{ i.TimeTaken }}</td></tr>
											<tr><td class="Label">Date Taken:</td><td class="DataItem">{{ i.DateTaken }}</td></tr>
											<tr><td class="Label">Duration:</td><td class="DataItem">{{ i.Duration }}</td></tr>
											<tr><td class="Label">Expiry Date:</td><td class="DataItem">{{ i.DateExpires }}</td></tr>
											<tr><td class="Label">Certificate Issued:</td><td class="DataItem">{{ i.CertIssued }}</td></tr>
											<tr><td class="Label">Internal/External:</td><td class="DataItem">{{ i.InternalExternal }}</td></tr>
											<tr><td class="Label">Details/Notes:</td><td class="DataItem">{{ i.Details|safe }}</td></tr>
											<tr><td style="background-color:#CCC9A1;" colspan="2"><br /></td></tr>
										</tbody>
									</table>
								</div>
							</div>											
						</div>
						{% endfor %}
						{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No CPD Data</h1>
						</div>
						{% endif %}						
					</div>
				</div>
			</div>
<!-- end -->
<!-- end -->
		</div>
{% endblock %}
