
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}
<!-- pop out code -->
<script>
{% include "popOutJavaScript.js" %}
</script>
<!-- end-->
<div class="leftMiddle">
	<div class="banner">
	Staff Search Results:
	</div>
	{% if not SearchResults %}
		<h1>* * * No Staff Found * * *</h1>
		<br><br><br>
	{% else %}
			<table class="WillowTable1">
			<tr>			
				<td class="WillowTableHeader">Staff</td>
				<td class="WillowTableHeader">Default School</td>
			<tr>			
			{% for staff in SearchResults %}
			<tr>
				<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" > 
						<a href="/WillowTree/{{ school }}/{{ AcYear }}/staff/{{ staff.id }}">
						<span style="font-weight:bold;">{{ staff.Forename }} {{ staff.Surname }}</span>
						</a>
						( ID:<span style="font-weight:bold;">{{ staff.id }}</span>, DOB:<span style="font-weight:bold;">{{ staff.DateOfBirth|date:"jS F Y" }}</span>, Active:<span style="font-weight:bold;">{{ staff.Active }}</span>)
				</td>
				<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" >
					{{ staff.DefaultMenu.SchoolId.Name }}
				</td>
			</tr>
			{% endfor %}
			</table>
			<br><br><br>
	{% endif %}
</div>			
{% endblock %}
