
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
{% endblock %}
{% block ContentArea %}
<!-- datepicker code -->
<!--  ^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$ --->
<script>
{% include "datePickerCode.js" %}
</script>
<!-- end -->
	<div>
		<div class="leftMiddle">
			<div class="banner">
				<span style="font-weight:bold;color:lightblue;">Add a new staff member:</span>
			</div>	
				<form class="SearchForm" action="/WillowTree/{{ school }}/{{ AcYear }}/saveStaffDetails/" method="post"> 
					{% csrf_token %}
					<div style="margin:0 275px 0 275px;background-color:#F0F0F0;">
						<div style="text-align:left;margin:25px;width:250px;border:">
							<div style="float:left;margin-bottom:25px;">
								<h2>School</h2>
							{% for i in schools %}
								<input type="radio" name="school" value="{{ i.Name }}" {% if i.Name == 'Battersea'%}checked{% endif %}>{{ i.Name }}<br>
							{% endfor %}
							</div>
							<div style="float:right;">
								<h2>Menu Type</h2>
								<input type="radio" name="TeacherOrAdmin" value="Teacher" checked>Teacher<br>								
								<input type="radio" name="TeacherOrAdmin" value="Admin">Admin<br>
							</div>
						</div>
						<!-- new -->
						<div style="clear:both;margin:25px 0 25px 25px;border:">
							<h2>Admin Data</h2>
							<table>
								<tr>
									<td style="width:125px;">Job Title</td><td><input type="text" name="teacherJobTitle" /></td>
								</tr>
								<tr>
									<td style="width:125px;">Start Date</td><td><input class='datepicker' readonly='true' type="text" name="teacherStartDate" /></td> 
								</tr>																																																		
							</table>
						</div>						
						<!-- end -->
						<div style="clear:both;margin:25px 0 25px 25px;border:">
							<h2>Teacher Main</h2>
							<table>
								<tr>
									<td style="width:125px;">Forename *</td><td><input required type="text" name="teacherForename" /></td>
								</tr>
								<tr>
									<td style="width:125px;">Surname *</td><td><input required type="text" name="teacherSurname" /></td>
								</tr>
								<tr>
									<td style="width:125px;">Other Names</td><td><input type="text" name="teacherOtherName" /></td>
								</tr>
								<tr>
									<td style="width:125px;">Known As</td><td><input type="text" name="teacherKnownAs" /></td>
								</tr>
								<tr>
									<td style="width:125px;">Title</td><td><input type="text" name="teacherTitle" /></td>
								</tr>
								<tr>
									<td style="width:125px;">DOB *</td><td><input required class='datepicker' readonly='true' type="text" name="teacherDOB" /></td> 
								</tr>
								<tr>
									<td style="width:125px;">Gender *</td><td><input type="radio" name="TeacherGender" value="F" checked>Female<input style="margin-left:25px;" type="radio" name="TeacherGender" value="M">Male</td>
								</tr>																																										
							</table>
						</div>
						<div style="clear:both;margin:25px 0 25px 25px;border:">
							<h2>Teacher Address</h2>
							<table>
								<tr>
									<td style="width:125px;">Home Salutation *</td><td><input required type="text" name="teacherHomeSalutation" /></td>
								</tr>
								<tr>
									<td style="width:125px;">Postal Title *</td><td><input required type="text" name="postalTitle" /></td>
								</tr>								
								<tr>
									<td style="width:125px;">Address Line 1 *</td><td><input required type="text" name="teacherAddressLine1" /></td>
								</tr>
								<tr>
									<td style="width:125px;">Address Line 2 *</td><td><input required type="text" name="teacherAddressLine2" /></td>
								</tr>
								<tr>
									<td style="width:125px;">Address Line 3</td><td><input type="text" name="teacherAddressLine3" /></td>
								</tr>
								<tr>
									<td style="width:125px;">Address Line 4</td><td><input type="text" name="teacherAddressLine4" /></td>
								</tr>
								<tr>
									<td style="width:125px;">Country</td><td><input type="text" name="teacherCountry" /></td>
								</tr>
								<tr>
									<td style="width:125px;">Post Code *</td><td><input required type="text" name="teacherPostCode" /></td>
								</tr>
								<tr>
									<td style="width:125px;">Phone 1 *</td><td><input required type="text" name="teacherPhone1" /></td>
								</tr>
								<tr>
									<td style="width:125px;">Phone 2</td><td><input type="text" name="teacherPhone2" /></td>
								</tr>
								<tr>
									<td style="width:125px;">Phone 3</td><td><input type="text" name="teacherPhone3" /></td>
								</tr>																																															
							</table>
						</div>
						<div style="border:1px solid darkred;color:darkred;padding:10px;margin:10px;text-align:center;">
							<span>Note: An Email Address will be automatically generated for this staff member</span>
						</div>						
					</div>
					<div style="text-align:center;">
						<button type="submit">Next</button>
					</div>								
				</form>
			</div>
		</div>
{% endblock %}
