
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
{% endblock %}
{% block ContentArea %}
	<div>
		<div class="leftMiddle">
			<div class="banner">
				<span style="font-weight:bold;color:lightblue;">Choose one or more groups for the new staff member to belong to:</span>
			</div>	
				<form class="SearchForm" action="/WillowTree/{{ school }}/{{ AcYear }}/saveStaffGroups/{{ staff.id }}/" method="post"> 
					{% csrf_token %}
					<div style="margin:0 275px 0 275px;background-color:#F0F0F0;padding:10px;">
						<h2>Groups</h2>
					{% for group in groups %}
						<input type="checkbox" name="groupCheckBox_{{ group }}" value="{{ group }}">{{ group }}<br>
					{% endfor %}
					</div>
					<div style="text-align:center;">
						<button type="submit">Finish</button>
					</div>											
				</form>
			</div>
		</div>
{% endblock %}
