
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
					Staff List: {{ GroupName }} 
				</div>
			<table class="WillowTable1">
				<tr>
					<td class="WillowTableHeader"><br></td>
					<td class="WillowTableHeader">Id</td>
					<td class="WillowTableHeader">Surname</td>
					<td class="WillowTableHeader">Forename</td>
					<td class="WillowTableHeader">Other Names</td>
					<td class="WillowTableHeader">NickName</td>					
					<td class="WillowTableHeader">Gender</td>
					<td class="WillowTableHeader">DOB</td>
					<td class="WillowTableHeader">Email</td>					
				</tr>

			{% for Staff in ClassList %}
			<tr>
				<td>
					<a href="/WillowTree/{{ school }}/{{ AcYear }}/staff/{{ Staff.Staff.id }}/"><img src="{{ MEDIA_REDIRECT }}{{Staff.Staff.Picture}}" width="50" height="60"/></a>
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ Staff.Staff.id }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ Staff.Staff.Surname }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ Staff.Staff.Forename }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ Staff.Staff.OtherNames }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ Staff.Staff.NickName }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ Staff.Staff.Gender }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ Staff.Staff.DateOfBirth }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >
				<a href="/WillowTree/{{ school }}/{{ AcYear }}/SendEmail/{{ Staff.Staff.Surname }}/{{ Staff.Staff.Forename }}/{{ pupil.Extended.Email.0 }}/">{{ Staff.Staff.EmailAddress }}</a></td>
			<tr>
				
			{% endfor %}
			</table>



			</div>
			<div class="leftBottom">
				<img src="images/left_bottom.jpg" width="800" height="8" />
			</div>
			
{% endblock %}
