
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
{% endblock %}
{% block ContentArea %}
	<div>
		<div class="leftMiddle">
			<div class="banner">
				<span style="font-weight:bold;color:lightblue;">Staff Search:</span>
			</div>
			<div>
				<form class="SearchForm" action="/WillowTree/{{ school }}/{{ AcYear }}/staffSearch/" method="post"> 
					{% csrf_token %}
					<div style="text-align:center;margin:100px 0 100px 0;">
						<button type="submit">Staff Search</button><input style="width:300px;"type='text' name='SearchText'>
						<div>
							<div style="">
								<input type="checkbox" name="active" value="true" checked>Search for active records
							</div>
							<div style="">
								<input type="checkbox" name="notActive" value="true">Search for deactivated records
							</div>
						</div>					
					</div>	
				</form>
			</div>
		</div>
	</div>
{% endblock %}
