
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}

			{% with StaffExtended=StaffDetails.Extended %}
			<div class="leftMiddle">
				<div class="banner">
				<!-- Contents banner section
					This section is the brown line at the top of the page with the Staffs
					name ect in it
				-->
				
					<span style="float:left">Staff Record : {{ StaffDetails.Staff.Forename }} {{StaffDetails.Staff.Surname }} (StaffId: {{ StaffDetails.Staff.id }} )&nbsp &nbsp</span><br>

									</div>
				<!-- This section shows the primary details of the Staff records -->
				<table width=100%>
				<tr>
					<td rowspan=5 ><img src="{{STATIC_URL}}{{StaffDetails.Staff.Picture}}" width="125" height="170" alt="{{ StaffDetails.Staff.Forename }} {{ StafdDetails.Staff.Surname }}" />
					</td>
					
					<td><span class='dataLabel'>Surname</span><span class='smallDataItem'>{{ StaffDetails.Staff.Surname }}</span></td>

					<td><span class='dataLabel'>Forename</span><span class='smallDataItem'>{{ StaffDetails.Staff.Forename }}</span></td>
					
					<td><span class='dataLabel'>Other Names</span><span class='smallDataItem'>{{ StaffDetails.Staff.OtherNames }}</span></td>
					<td>
						<form class="UpdateAlertsForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ViewStaffNotes/{{ StaffDetails.Staff.id }}/" method='post'/>
								{% csrf_token %}
						<input type="submit" name="Family" value="View Notes" />
						</form>
					<td>		
				</tr>
				<tr> 
					<td><span class='dataLabel'>Nick Name</span><span class='smallDataItem'>{{ StaffDetails.Staff.NickName }}</span></td>
					
					<td><span class='dataLabel'>Title</span><span class='smallDataItem'>{{ StaffDetails.Staff.Title }}</span></td>
					
					<td><br></td>
					
					<td>
						<form class="UpdateAlertsForm" action="/WillowTree/{{ school }}/{{ AcYear }}/AddStaffNote/{{ StaffDetails.Staff.id }}/" method='post'/>
								{% csrf_token %}
						<input type="submit" name="Family" value="Add a Note" />
						</form>
					<td>					

				</tr>
				
				<tr> 
					<td><span class='dataLabel'>Gender</span><span class='smallDataItem'>{{ StaffDetails.Staff.Gender }}</span></td>
					
					<td><span class='dataLabel'>DOB</span><span class='smallDataItem'>{{ StaffDetails.Staff.DateOfBirth }}</span></td>
					
					<td><br></td>
					
					<td>
						<form class="UpdateAlertsForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ViewStaffIssues/{{ StaffDetails.Staff.id }}/" method='post'/>
								{% csrf_token %}
						<input type="submit" name="Family" value="{% if StaffDetails.StaffIssueCount %}{{StaffDetails.StaffIssueCount}} Open Issues{% else %}No Open Issues{% endif %}" />
						</form>
					<td>		
				</tr>
				
				<tr> 
					<td><span class='dataLabel'>Ac House</span><span class='smallDataItem'>{{ StaffDetails.AcademicHouse }}</span></td>
					
					<td><span class='dataLabel'>Form</span><span class='smallDataItem'>{{ StaffDetails.Form }}</span></td>
					
					<td><br></td>
					<td>
						<form class="UpdateAlertsForm" action="/WillowTree/{{ school }}/{{ AcYear }}/AddStaffIssue/{{ StaffDetails.Staff.id }}/" method='post'/>
								{% csrf_token %}
						<input type="submit" name="Family" value="Add an Issue" />
						</form>
					<td>
				</tr>								

				<tr> 
					<td colspan=3><span class='dataLabel'>Email</span><span class='smallDataItem'><a href="/WillowTree/{{ school }}/{{ AcYear }}/SendEmail/{{ StaffDetails.Staff.Surname }}/{{ StaffDetails.Staff.Forename }}/{{ StaffExtended.Email.0 }}/">{{ StaffDetails.Staff.EmailAddress }}</a></span></td>
					<td>
						<form class="UpdateAlertsForm" action="/WillowTree/{{ school }}/{{ AcYear }}/PrintReport/Staff/{{ StaffDetails.Staff.id }}/" method='post'/>
								{% csrf_token %}
						<input type="submit" name="Family" value="Print Report" />
						</form>
					<td>					
	
				</tr>
				<tr>
					<td><br></td><td><br></td><td><br></td>

				</tr>			
			</table>
				<div class="divider"></div>
				
			<!-- Emergency contact section -->
			
			<h1>Emergency Contacts</h1>
			
			<table class="WillowTable1">
				<tr>
					<td class="WillowTableHeaderSmall">Home Salutation</td>
					<td class="WillowTableHeaderSmall">Phone 1</td>
					<td class="WillowTableHeaderSmall">Phone 2</td>
					<td class="WillowTableHeaderSmall">Phone 3</td>
					<td class="WillowTableHeaderSmall">Email</td>
					<td class="WillowTableHeaderSmall">Street No</td>					
					<td class="WillowTableHeaderSmall">Street Name</td>
					<td class="WillowTableHeaderSmall">City</td>
					<td class="WillowTableHeaderSmall">County</td>
					<td class="WillowTableHeaderSmall">Country</td>
					<td class="WillowTableHeaderSmall">Postcode</td>					
				</tr>
				{% for CDS in StaffDetails.EmergencyContacts %}
				<tr>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ CDS.HomeSalutation }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ CDS.Phone1 }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ CDS.Phone2 }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ CDS.Phone3 }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ CDS.EmailAddress }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ CDS.StreetNo }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ CDS.StreetName }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ CDS.City }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ CDS.County }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ CDS.Country }}</td>
					<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ CDS.PostCode }}</td>
				<tr>
				{% endfor %}
			</table>
				
			<!-- emegency contact section finished -->	
				
			<div class="divider"></div>

			<h1>Groups Assigned</h1>
				<table class="WillowTable1">
					{% for groups in StaffDetails.GroupList %}
					<tr>
						<td class="{% cycle 'WillowTableRow1' 'WillowTableRow2' %}" >
						<a href="/WillowTree/{{ school }}/{{ AcYear }}/StaffLists/StaffBasic/{{ groups }}/">{{ groups }}</a>
						</td>
					</tr>
					{% endfor %}
				</table>
				
			<!-- Other Data section finished -->	
				
			<div class="divider"></div>				
			
			<h1>Other Info </h1>

			
				
			<div class="divider"></div>				
			

			</div>
			
	{% endwith %}

			
{% endblock %}
