
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block ContentArea %}
<script>
{% include "popOutJavaScript.js" %}
</script>
<script type="text/javascript">
{% include "KeywordsManager.js" %}
{% include "datePickerCode.js" %}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
{% include "tinyMCE.js" %}
</script>
			{% load WillowFilters %}
			{% include "includes/resetStaffPassword.html" %}
			{% include "includes/staffPageDetailsWrong.html" %}
			{% include "includes/staffDeactivate.html" %}
			{% include "includes/staffActivate.html" %}
			{% include "includes/StaffAddToGroupFromStaffPage.html" %}
			{% include "includes/staffModifyMedicalDetails.html" %}
			{% include "includes/staffAddContactDetails.html" %}
			{% include "includes/ResetYourPasspharse.html" %}
		<div>
			<div class="leftMiddle">
				<div class="banner">
					<span style="font-weight:bold;color:lightblue;">Staff Record : {{ StaffDetails.StaffRec.Forename }} {{ StaffDetails.StaffRec.Surname }} (Staff Id: {{ StaffDetails.StaffRec.id }})</span>
				</div>
			{% for i in Meassages %}
				{{ i }}
			{% endfor %}
			{% if myStaffPage %}
				<div class="RecordFormBody" style="height:40px;">
					<!--<div style="float:right;font-weight:normal;margin:7px 5px 5px 5px;">
						<button style="width:150px;" id="#staffPageDetailsWrong" class="login-window2"><span style="color:darkred;font-weight:bold;">Details Wrong?</span></button>
					</div>-->
					<div style="float:left;font-weight:normal;margin:7px 5px 5px 5px;">
						<button style="width:150px;" id="#ResetYourPasspharse" class="login-window2"><span>change Passphrase?</span></button>
					</div>					
					<div style="float:right;font-weight:normal;margin:7px 5px 5px 5px;">
						<button style="width:150px;" onClick="location.href='/WillowTree/{{ school }}/{{ AcYear }}/staffCpd/{{ StaffDetails.StaffRec.id }}/'"><span>Manage CPD</span></button>
					</div>					
				{% if 'Admin' in school %}
					<!--<div style="float:left;font-weight:normal;margin:7px 5px 5px 5px;">
						<button style="width:150px;"  onClick="location.href='/WillowTree/{{ school }}/{{ AcYear }}/staff/{{ StaffDetails.StaffRec.id }}/'">Admin View</button>
					</div>-->				
				{% endif %}
				</div>		
			{% else %}
<!-- menus -->					
				<div class="RecordFormBody" style="height:40px;">
					{% if not StaffDetails.StaffRec.Active %}
					<div style="float:left;font-weight:normal;margin:7px 5px 5px 5px;">

						<span style="padding-top:10px;font-weight:bold;color:darkred;font-size:1.5em;">Staff Member is Deactivated</span>

					</div>					
					{% else %}
					<div style="float:left;font-weight:normal;margin:7px 5px 5px 5px;">
						{% if 'Admin' in school and staffIsUser %}
						<button style="width:150px;" id="#resetStaffPassword" class="login-window2"><span>Reset Passphrase</button>
						{% else %}
						<span style="padding-top:10px;font-weight:bold;color:darkblue;font-size:1.5em;">Staff Member is not a Willow Tree User</span>
						{% endif %}
					</div>
					{% endif %}
					<div style="float:right;font-weight:normal;margin:5px;">
						<ul class="managermenu">
							<li><a href='#' class="drop">Actions</a>
								<div class="dropdown_2columns align_right">
									<div class="col_1">
										<h3>Adhoc</h3>
										<ul>
											<li><li>
										</ul>
									</div>
									<div class="col_1">
										<h3>Main</h3>
										<ul>
										{% if 'Admin' in school %}	
											{% if StaffDetails.StaffRec.Active %}
											<li><a href="#staffDeactivate" class="login-window">Deactivate Staff</a><li>
											{% else %}
											<li><a href="#staffActivate" class="login-window">Activate Staff</a><li>
											{% endif %}
											<li><a href='/WillowTree/{{ school }}/{{ AcYear }}/staffCpd/{{ StaffDetails.StaffRec.id }}/'>View CPD</a></li>
										{% endif %}
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>				
				</div>	
<!-- end -->			
			{% endif %}
				<div class="RecordFormBody">
					<div class="RecordFormCLeft"> 
						<div id="RecordFormTitle">
							<img src="{{ MEDIA_REDIRECT }}{{PupilDetails.Pupil.Picture}}" width="125" height="170" alt="{{ PupilDetails.Pupil.Forename }} {{ PupilDetails.Pupil.Surname }}" style="padding:12px;"/>
						</div>
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1"> 						
							<div class='RecordFormCRight2'>
							{% if 'Admin' in school or myStaffPage %}
							<button id="#StaffUpdateMain" class="login-window2" >Modify</button>
							{% include "includes/StaffUpdateMain.html" %}																					
							{% endif %}
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll" style="height:200px;">
										<table>
											<tbody>
												<tr><td class="Label">Job Title:</td><td class="DataItem">{{ StaffDetails.Extended.staffJobTitle.0 }}</td></tr>
												<tr><td class="Label">Start Date:</td><td class="DataItem">{{ StaffDetails.Extended.staffStartDate.0|date:"jS F Y" }}</td></tr>
												<tr><td class="Label">Surname:</td><td class="DataItem">{{ StaffDetails.StaffRec.Surname }}</td></tr>
												<tr><td class="Label">Forename:</td><td class="DataItem">{{ StaffDetails.StaffRec.Forename }}</td></tr>
												<tr><td class="Label">Other Names:</td><td class='DataItem'>{{ StaffDetails.StaffRec.OtherNames }}</span></div>
												<tr><td class="Label">Known As:</td><td class="DataItem">{{ StaffDetails.StaffRec.NickName }}</td></tr>
												<tr><td class="Label">Title:</td><td class="DataItem">{{ StaffDetails.StaffRec.Title }}</td></tr>
												<tr><td class="Label">Gender:</td><td class="DataItem">{{ StaffDetails.StaffRec.Gender }}</td></tr>
												<tr><td class="Label">DOB:</td><td class="DataItem">{{ StaffDetails.StaffRec.DateOfBirth|date:"jS F Y" }}</td></tr>
												<tr><td class="Label">Email:</td><td class="DataItem">{{ StaffDetails.StaffRec.Address.EmailAddress }}</td></tr>
												<tr><td class="Label">House:</td><td class="DataItem">{{ StaffDetails.Extended.staffHouse.0 }}</td></tr>
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						</div>
					</div>
				</div>	

				<div class="divider"></div>

			<!-- address and contact data section -->
				<div class="RecordFormBody">
					<div class="RecordFormCLeft"> 
						<h1 class="RecordFormTitleText">Address and Contact...</h1>
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
							<div class='RecordFormCRight2'>
							{% if 'Admin' in school or myStaffPage %}
							<button id="#StaffUpdateAddress" class="login-window2" >Modify</button>
							{% include "includes/StaffUpdateAddress.html" %}																					
							{% endif %}
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll" style="height:185px;">
										<table>
											<tbody>	
												<tr><td class="Label">Home Salutation:</td><td class="DataItem">{{ StaffDetails.StaffRec.Address.HomeSalutation }}</td></tr>
												<tr><td class="Label">Postal Title:</td><td class="DataItem">{{ StaffDetails.StaffRec.Address.PostalTitle }}</td></tr>
												<tr><td class="Label">Address Line 1:</td><td class="DataItem">{{ StaffDetails.StaffRec.Address.AddressLine1 }}</td></tr>
												<tr><td class="Label">Address Line 2:</td><td class="DataItem">{{ StaffDetails.StaffRec.Address.AddressLine2 }}</td></tr>
												<tr><td class="Label">Address Line 3:</td><td class="DataItem">{{ StaffDetails.StaffRec.Address.AddressLine3 }}</td></tr>
												<tr><td class="Label">Address Line 4:</td><td class="DataItem">{{ StaffDetails.StaffRec.Address.AddressLine4 }}</td></tr>
												<tr><td class="Label">Country:</td><td class="DataItem">{{ StaffDetails.StaffRec.Address.Country }}</td></tr>
												<tr><td class="Label">Post Code:</td><td class="DataItem">{{ StaffDetails.StaffRec.Address.PostCode }}</td></tr>
												<tr><td class="Label">Phone 1:</td><td class="DataItem">{{ StaffDetails.StaffRec.Address.Phone1 }}</td></tr>
												<tr><td class="Label">Phone 2:</td><td class="DataItem">{{ StaffDetails.StaffRec.Address.Phone2 }}</td></tr>
												<tr><td class="Label">Phone 3:</td><td class="DataItem">{{ StaffDetails.StaffRec.Address.Phone3 }}</td></tr>
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						</div>
					</div>
				</div>				
				<div class="RecordFormBody">
					<div class="RecordFormCLeft">
						<h1 class="RecordFormTitleText">Groups<br />Assigned...</h1>
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
							{% if StaffDetails.ListGroups %}
							<div class='RecordFormCRight2'>
								{% if 'Admin' in school or myStaffPage %}
								<button id="#StaffAddToGroupFromStaffPage" class="login-window2" >Modify</button>																				
								{% endif %}								
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll">
										<table>
											<tbody>
											{% for groups in StaffDetails.ListGroups %}
												<tr><td class="DataItem" style="text-align:center;"><a href="/WillowTree/{{ school }}/{{ AcYear }}/ManageThis/{{ groups.Group.Name }}/">{{ groups.Group.Name }}</a></td></tr>
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						</div>
						{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No Groups{% if 'Admin' in school or myStaffPage %}, Add groups <a href='#StaffAddToGroupFromStaffPage' class='login-window'>here</a>{% endif %}</h1>
						</div>
						{% endif %}					
					</div>
				</div>
				<!-- medical -->
				<div class="RecordFormBody">
					<div class="RecordFormCLeft">
						<h1 class="RecordFormTitleText">Medical<br />Details...</h1>
						{% if not StaffDetails.Extended.staff_medical_details.0 %}
						<button style='margin-top:20px;' id="#staffModifyMedicalDetails" class="login-window2">Add</button> 	
						{% endif %}																	
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
							{% if StaffDetails.Extended.staff_medical_details.0 %}
							<div class='RecordFormCRight2'>
								<button id="#staffModifyMedicalDetails" class="login-window2">Modify</button> 													
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll" style="height:125px;">
										<table>
											<tbody>	
												<tr>
													<td>{{ StaffDetails.Extended.staff_medical_details.0|safe }}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No Medical Details</h1>
						</div>
						{% endif %}							
						</div>
					</div>
				</div>								
				<!-- end -->
				<!-- Emergency Contact Details -->
				<div class="RecordFormBody">
					<div class="RecordFormCLeft">
						<h1 class="RecordFormTitleText">Emergency<br />Contact<br />Details...</h1>
						<button style='margin-top:20px;' id="#staffAddContactDetails" class="login-window2">Add</button> 																	
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
							{% if StaffDetails.emergencyContacts %}
							{% for contact in StaffDetails.emergencyContacts%}
							{% include "includes/staffModifyContactDetails.html" %}
							{% include "includes/staffDeleteContactDetails.html" %}
							<div class='RecordFormCRight2'>
								<button id="#staffModifyContactDetails_{{ contact.id }}" class="login-window2">Modify</button>
								<button id="#staffDeleteContactDetails_{{ contact.id }}" class="login-window2">Delete</button> 													
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll" style="height:125px;">
										<table>
											<tbody>
											
												<tr><td class="Label">Priority:</td><td class="DataItem">{{ contact.Priority }}</td></tr>
												<tr><td class="Label">Title and Name:</td><td class="DataItem">{{ contact.AddressId.HomeSalutation }}</td></tr>
												<tr><td class="Label">Postal Title:</td><td class="DataItem">{{ contact.AddressId.PostalTitle }}</td></tr>
												<tr><td class="Label">AddressLine 1:</td><td class="DataItem">{{ contact.AddressId.AddressLine1 }}</td></tr>
												<tr><td class="Label">AddressLine 2:</td><td class="DataItem">{{ contact.AddressId.AddressLine2 }}</td></tr>
												<tr><td class="Label">AddressLine 3:</td><td class="DataItem">{{ contact.AddressId.AddressLine3 }}</td></tr>
												<tr><td class="Label">AddressLine 4:</td><td class="DataItem">{{ contact.AddressId.AddressLine4 }}</td></tr>
												<tr><td class="Label">PostCode:</td><td class="DataItem">{{ contact.AddressId.PostCode }}</td></tr>
												<tr><td class="Label">Country:</td><td class="DataItem">{{ contact.AddressId.Country }}</td></tr>
												<tr><td class="Label">Phone 1:</td><td class="DataItem">{{ contact.AddressId.Phone1 }}</td></tr>
												<tr><td class="Label">Phone 2:</td><td class="DataItem">{{ contact.AddressId.Phone2 }}</td></tr>
												<tr><td class="Label">Phone 3:</td><td class="DataItem">{{ contact.AddressId.Phone3 }}</td></tr>
												<tr><td class="Label">EmailAddress:</td><td class="DataItem">{{ contact.AddressId.EmailAddress }}</td></tr>
												<tr><td class="Label">Note</td><td class="DataItem">{{ contact.AddressId.Note }}</td></tr>
												<tr><td style="background-color:#CCC9A1;"><br /></td><td style="background-color:#CCC9A1;"><br /></td></tr>
											
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						{% endfor %}
						{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No Emergency Contact Details</h1>
						</div>
						{% endif %}							
						</div>
					</div>
				</div>						
				<!-- end -->										
			</div>
		</div>
{% endblock %}
