
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
{% endblock %}
{% block ContentArea %}
	<div>
		<div class="leftMiddle">
			<div class="banner">
				<span style="font-weight:bold;color:lightblue;">Add new staff member complete t:</span>
			</div>	
		<div>		
		<div style="text-align:center;margin:100px 0 100px 0;">
			<span style="font-weight:bold;font-size:1.5em;">Staff member {{ staff.Forename }} {{ staff.Surname }} with a Staff Id of {{ staff.id }} had been added.<br/>
			To view the staff record click <a href="/WillowTree/{{ school }}/{{ AcYear }}/staff/{{ staff.id }}/">here</a></span>		
		</div>
	</div>
</div>
{% endblock %}
