
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
					{{ AmPm }} Daily Attendance for {{ GroupName }} 
				</div>
<form class="RecordForm" action='/WillowTree/{{ school }}/{{AcYear}}/AttendanceP/{{ GroupName }}/{{ AmPm }}/' method='post'>				
			<table border=0, cellpadding=2, cellspacing=0 width=80%>

			<tr><td width=6%><br></td><td><br></td><td><br></td><td rowspan=15 valign='TOP' align="right">
			<br><br>
			<table border=1, cellpadding=5, cellspacing=0>
			{% for codes in AttendanceCodes %}
			<tr><td bgcolor='#FDD017'>{{ codes.AttendanceCode}}</td><td>{{ codes.AttendanceDesc }}</td></tr>
			{% endfor %}
			</table>
			</td></tr>
			<tr>
			
			{% csrf_token %}
			{% for pupils in PupilList %}


			<td>
			{% if pupils.5 %}
			<select name="{{ pupils.0}}" >
			<option value="/" selected="selected">/</option> 
			{% for codes in AttendanceCodes %}
			<option value="{{ codes.AttendanceCode}}">{{ codes.AttendanceCode }}</option>
			{% endfor %}
			</select>
			{% else %}
			<div class='AttendanceItem'>{{ pupils.4}}</div>
			{% endif %}
			</td>
			<td><a href='/WillowTree/{{ school }}/{{AcYear }}/pupil/{{ pupils.0 }}/'>{{ pupils.2}} {{ pupils.1 }}</a></td>
			
			<td>
			{{ pupils.6|safe }}
			</td>
			</tr>
			{% endfor %}

			</table>
			<input class="RecordForm" style="float: left" type="submit" value='Submit'>
			</form>
			</br><br>
			</div>
			
{% endblock %}
