
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
{% endblock %}
{% block ContentArea %}
	<div>
		<div class="leftMiddle">
			<div class="banner">
				<span style="font-weight:bold;color:lightblue;">Search for Pupils or Applicants from all Schools to Tranfer to this School:</span>
			</div>	
		<div>
	{% if Messages %}	
		<div style="text-align:center;margin:100px 0 100px 0;font-weight:bold;font-size:1.5em;">
			<span>{{ Messages.0|safe }}</span>
		</div>
	{% endif %}			
		<div>
			<tr>
				<form class="SearchForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Transfer/Search/" method="post"> 
					{% csrf_token %}
					<div style="text-align:center;margin:100px 0 100px 0;">
						<button type="submit">Pupil Search</button><input style="width:300px;"type='text' name='SearchText'>
					</div>			
				</form>
			</tr>		
		</div>
	</div>
</div>
{% endblock %}
