
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">
{% include "KeywordsManager.js" %}
{% include "popOutJavaScript.js" %}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
{% include "tinyMCE.js" %}
</script>
{% endblock %}
{% load WillowFilters %}
{% block ContentArea %}
		{% include "Manager_AddNote.html" %}
		{% include "SelectALetterManager.html" %}
		{% include "includes/CopyAPupil.html" %}
		{% include "includes/MoveAPupil.html" %}
			<div class="leftMiddle">
				<div class="banner">
					ClassList: {{ GroupName }} 
				</div>
			{% if Messages %}
				{% for msg in Messages %}
					{{ msg }}<br>
				{% endfor %}
			{% endif %}
			<table class="WillowTable1">
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" width='7%'>
					<input type='checkbox' id="SelectAll" name="PupilCheck" checked='checked' style='height:20px;width:20px;' onChange='ToggleSelectAll();'/> 
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" width='20%'><<<< Select/Unselect All<td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}"><br></td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" width='15%'>
					<ul class="managermenu">
						<li><a href='#' class="drop">Actions</a>
							<div class="dropdown_2columns align_right">
								<div class="col_1">
									<h3>Main</h3>
									<ul>
										<li><a href="#Manager_AddNote" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Note');">Add Note/Email</a></li>
										{% if 'Admin' in school  or 'Applicants' in school %}
										<li><a href="#SelectALetterManager" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Letter');">Generate Letter</a></li>
										<li><a href="#LabelManager" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Labels');">Generate Labels</a></li>
										<li><a href="#" onclick="alert('not working yet :-(')">Edit Family</a></li>
										{% endif %}
									</ul>
								</div>
								<div class='col_1'>
									<h3>AdHoc</h3>
									<ul>
										{% if 'Admin' in school  or 'Applicants' in school %}
										<li><a href="#CopyAPupil" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Copy');">Copy to Group</a></li>
										<li><a href="#MoveAPupil" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Move');">Move to Group</a></li>						
										<li><a href="#" onclick="alert('not working yet :-(')">Remove from Group</a></li>
										<li><a href="#" onclick="alert('not working yet :-(')">Move to Another Thomas's</a></li>
										{% endif %}										
									</ul>
								</div>
							</div>
						</li>
					</ul>	
				</td>	
			</tr>
		</table>							
			<table class="WillowTable1">
				<tr>
					<td class="WillowTableHeaderSmall" width='7%'>Select</td>
					<td class="WillowTableHeaderSmall">Picture</td>					
					<td class="WillowTableHeaderSmall">Id</td>
					<td class="WillowTableHeaderSmall">Name</td>
					<td class="WillowTableHeaderSmall">Gender</td>
					<td class="WillowTableHeaderSmall">DOB</td>
					<td class="WillowTableHeaderSmall">House</td>
					<td class="WillowTableHeaderSmall">Form</td>
					<td class="WillowTableHeaderSmall" width='15%'>Actions</td>
				</tr>
			{% for pupil in ClassList %}
			<tr>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
					<input type='checkbox' id="Checked{{pupil.Pupil.id}}" name="PupilCheck" checked='checked' style='height:20px;width:20px;' onchange="UpdatePupilList('{{pupil.Pupil.id}}');"/> 
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
					<a href="/WillowTree/{{ School }}/{{ AcYear }}/pupil/{{ pupil.Pupil.id }}/"><img src="{{ MEDIA_REDIRECT }}{{pupil.Pupil.Picture}}" width="50" height="60"/></a>
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.id }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.FullName }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.Gender }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Pupil.DateOfBirth|date:"jS N Y" }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.AcademicHouse }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ pupil.Form }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
					<ul class="managermenu">
						<li><a href='#' class="drop">Actions</a>
							<div class="dropdown_2columns align_right">
								<div class="col_1">
									<h3>Main</h3>
									<ul>
										<li><a href="#Manager_AddNote" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Note');">Add Note/Email</a></li>
										{% if 'Admin' in school  or 'Applicants' in school %}
										<li><a href="#SelectALetterManager" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Letter');">Generate Letter</a></li>
										<li><a href="#LabelManager" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Labels');">Generate Labels</a></li>
										<li><a href="#" onclick="alert('not working yet :-(')">Edit Family</a></li>
										{% endif %}
									</ul>
								</div>
								<div class='col_1'>
									<h3>AdHoc</h3>
									<ul>
										{% if 'Admin' in school  or 'Applicants' in school %}
										<li><a href="#CopyAPupil" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Copy');">Copy to Group</a></li>
										<li><a href="#MoveAPupil" class="login-window" onclick="AddFor('{{pupil.Pupil.id}}','Move');">Move to Group</a></li>						
										<li><a href="#" onclick="alert('not working yet :-(')">Remove from Group</a></li>
										<li><a href="#" onclick="alert('not working yet :-(')">Move to Another Thomas's</a></li>
										{% endif %}										
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</td>
			<tr>
				
			{% endfor %}
			</table>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<br><br><br><br><br><br><br><br>
			</div>		
{% endblock %}
