
<HTML>
{% load static from staticfiles %}
<HEAD>
	<STYLE TYPE="text/css">

body {
	font-family:Arial,Verdana;
	}

.index { 
	font-weight:bold; 
	}

td { 
	text-align:center;
	}
	
table {
	width:800px;
	border-collapse:collapse;
	margin-left:auto;
	margin-right:auto;
	}
	
table, th, td {
	border:1px solid black;
	}

#footer {
	text-align:center;
	}
	
#footer {
	clear: both;
	}
	
.dataCell {
	font-size:12px;
	}

#bottomTable td {
	font-weight:bold;
	width:200px;
	}
	
#mainDataTable td {
	padding:2px; 
	}	
	
	</STYLE>
</HEAD>
<BODY LANG="en-US" DIR="LTR">
	<div style="width:800px;">	
		<div style="width:400px;float:left;">
			<h3>Class: {{ class }}</h3>
		</div>
		<div style="width:400px;float:right;">
			<h3 style="float:right;">Date: ____________</h3>
		</div>
		<div>
			<table style="margin-bottom:25px;"> 
				<tr>
					<td style="width:150px;font-weight:bold;">Reason:</td><td style="width:650px;"></td>
				</tr>
			</table>
		</div>
		<!-- extra as of 28/04/2014 -->
		<div>
			<table style="margin-bottom:25px;"> 
				<tr>
					<td style="text-align:left;font-weight:bold;">Trip Leader:</td>
				</tr>	
				<tr>
					<td style="text-align:left;font-weight:bold;">Other Staff:</td>
				</tr>	
				<tr>					
					<td style="text-align:left;font-weight:bold;">Contact Phone Number:</td>
				</tr>	
				<tr>					
					<td style="text-align:left;font-weight:bold;">Trip Phone Number:</td>
				</tr>	
				<tr>					
					<td style="text-align:left;font-weight:bold;">Estimated time of return:</td>
				</tr>
			</table>
		</div>
		<!-- end -->		
		<div style="margin-top:25px;">
			<TABLE id="mainDataTable">
				<TR VALIGN=TOP>
					<TD class='index'>Name</TD>
					<TD class='index'>DOB</TD>
					<TD class='index'>Emergency details</TD>
					<TD style="width:50px;"></TD>
				</TR>
			{% for pupil in pupilDetails %}
				<TR VALIGN=TOP>
					<TD class="dataCell"><b>{{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }}</b></TD>
					<TD class="dataCell">{{ pupil.Pupil.DateOfBirth }}</TD>
					<TD class="dataCell">Name: <b>{{ pupil.EmergencyContacts.0.Record.Contact.Forename }} {{ pupil.EmergencyContacts.0.Record.Contact.Surname }}
											   </b> Mobile: <b>{{ pupil.EmergencyContacts.0.Extended.mobileNumber.0 }}</b> Home: 
											   <b>{{ pupil.FamilyRecord.Address.all.0.Phone1 }}</b></TD>
					<TD style="width:50px;"></TD>
				</TR>
			{% endfor %}
			</TABLE>
		</div>
		<div style="margin-top:25px;">
			<table id="bottomTable">
				<tr>
					<td>No. Left School:</td><td></td><td>Time Left School:</td><td></td>
				</tr>
				<tr>
					<td>No. Returned to School:</td><td></td><td>Time Returned to School:</td><td></td>
				</tr>				
			</table>
		</div>
		<div style="margin-top:35px;clear:both;float:right;width:700px;font-weight:bold;">
			<p style="float:right;">Teacher's copy shredded. Teacher's signature: _____________________________</p>
		</div>		
	</div>
</BODY>
</HTML>
