
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">
</script>
{% endblock %}



{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% endif %}
					Active Issue {{ IssueDetails.id}} for  {{ StaffDetails.Forename }} {{ StaffDetails.Surname }}
				</div>
		
			<table border=1 width=100%>
				<tr>
					<td width=35%><span class='dataLabel'>Raised Date</span><span class='smallDataItem'>{{ IssueDetails.RaisedDate|date:"d/m/Y"}}</span></td>
					<td rowspan=3> {{ IssueDetails.IssueText|safe }}</td>
				<tr>
					<td><span class='dataLabel'>Raised By</span><span class='smallDataItem'>{{ IssueDetails.RaisedBy.UserId.User.first_name }} {{ IssueDetails.RaisedBy.UserId.User.last_name }} </td>
				</tr>

				<tr>
				<td><span class='dataLabel'>Keywords</span><span class='smallDataItem'>{{ IssueDetails.Keywords }} </td>
				</tr>
			</table>
			<div class="divider"></div>
			<h1> Change Form:</h1>
			<h3> Enter Text to be added to the Ticket. Warning. You will not be able to change the text once saved</h3>
			
			<form class="SearchForm" action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateStaffIssue/{{IssueDetails.id}}/{{StaffDetails.id}}/" method="post" name="PupilIssue"> {% csrf_token %}
				

				<input type="hidden" name="AddedText" id='AddedText' value="" />  
				
				<div dojoType="dijit.Editor" id="AddedText2" onChange="dojo.byId('AddedText').value = this.getValue();"  extraPlugins="['dijit._editor.plugins.AlwaysShowToolbar']">                      
				<p></p>                     
				</div> 
				<br>
				<h3>Set Ticket Status :<br>Default is Work in Progress. Please note, that only the Staff member who raised
				the ticket may close a ticket. Select 'close Pending' to inform the staff member.</h3>
				<table border=1 width=50%>
					<tr><td>
						<input type='radio' name='IssueStatus' value='WorkInProgress' checked='checked' /> Work in progress<br>
							<input type='radio' name='IssueStatus' value='NeedInfo' />Need More Information<br>
							<input type='radio' name='IssueStatus' value='PendingClosure' />Close Pending (Only Ticket Raiser may close a ticket) 
							{% ifequal user.id IssueDetails.RaisedBy.UserId.User.id %}
							<br><input type='radio' name='IssueStatus' value='Closed'/>Close
							{% endifequal %}
					</td>
					</tr>
				</table>
				
				
				<input type="submit" id="Submit" name="save" value="Submit"><br>					

			</form>


			</div>

			
{% endblock %}
