
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}

{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% endif %}
					{{ BannerTitle }}
				</div>
				<h1>Records Updated for </h1>
				{% for Pupils in PupilList %}
				<a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ Pupils.id }}/">{{ Pupils.Forename }} {{Pupils.Surname }}</a><br>
				{% endfor %}
				{% if ReturnLink %}
				<a href="/WillowTree/{{ school }}/{{ AcYear }}/{{ ReturnLink.Reference }}/">{{ReturnLink.Text}}</a>
				{% endif %}
			<br><br>


			</div>

			
{% endblock %}
