
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">
{% include "Keywords.js" %}
	
</script>
{% endblock %}



{% block ContentArea %}
{% load WillowFilters %}


			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% endif %}
					Pupil Issues for <a class='WillowLink' href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ PupilDetails.Pupil.id }}/">{{ PupilDetails.Pupil.Forename }} {{ PupilDetails.Pupil.Surname }}</a>
				</div>

		
			
			{% for Notes in NoteRecords %}
				{% if Notes.NoteId.IsAnIssue and Notes.NoteId.IssueStatus != 'Closed' %}
					{% include "includes/Display_Issues.html" %}
				{% endif %}
			{% endfor %}


			</div>

			
{% endblock %}
