
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">
{% include "Keywords.js" %}
	
</script>
{% endblock %}



{% block ContentArea %}
{% load WillowFilters %}


			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% endif %}
					Pupil Notes for <a class='WillowLink' href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ PupilDetails.Pupil.id }}/">{{ PupilDetails.Pupil.Forename }} {{ PupilDetails.Pupil.Surname }}</a>
				</div>
	<form class="UpdateAlertsForm" action="/WillowTree/{{ school }}/{{ AcYear }}/FilterNotes/Pupil/" method='post'>{% csrf_token %}	
		{% include "FilterKeywords.html" %}
		</form>
			
			{% for Notes in NoteRecords %}
				{% if not Notes.NoteId.IsAnIssue or Notes.NoteId.IssueStatus == 'Closed' %}
			<table border=1 width=100%>
				<tr>
					<td width=25%><span class='dataLabel'>Raised Date</span><span class='smallDataItem'>{{ Notes.NoteId.RaisedDate|date:"d/m/Y"}}</span></td>
					<td rowspan=5> {{ Notes.NoteId.NoteText|safe }}</td>
				<tr>
					<td><span class='dataLabel'>Raised by</span><br><span class='smallDataItem'>{{ Notes.NoteId.RaisedBy.UserId.User.Forename }} {{ Notes.NoteId.RaisedBy.UserId.User.Surname }}</td>
				</tr>

				<tr>
					<td><span class='dataLabel'>Keywords</span><br><span class='smallDataItem'>{{ Notes.NoteId.Keywords|SplitKW }} </td>
				</tr>
				{% if Notes.NoteId.HousePoints != 0 %}
				<tr>
					<td><span class='dataLabel'>HousePoints</span><br><span class='smallDataItem'>{{ Notes.NoteId.HousePoints }}</span></td>
				</tr>
				{% endif %}
				<tr>
					<td style='padding:0px 20px 0px 0px'>
						<form class="UpdateAlertsForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyPupilNote/{{Notes.NoteId.id}}/{{ PupilDetails.Pupil.id }}/" method='post'>{% csrf_token %}
						<input type="submit" name="Remove" id="Remove" value="Remove" />
						<input type="submit" name="Modify" id="Modify" value="Modify" />
						</form>
					</td>
				</tr>
			</table>
			{% endif %}
			{% endfor %}


			</div>

			
{% endblock %}
