
<div data-dojo-type="dijit/Dialog"  title='View Pupil Notes' data-dojo-id="ViewPupilNotesPopOut">
{% load static from staticfiles %}
	<div class='RecordFormDialog' data-dojo-type="dijit/form/Form" id="ViewPupilNotesPopOut1" data-dojo-id="ViewPupilNotesPopOut1" encType="multipart/form-data" action="#"  method="post">	
		<!--action="/WillowTree/{{ school }}/{{ AcYear }}/EditPupilDetails/{{ PupilDetails.Pupil.id }}/"-->
		<script>
		</script>	
	{% include "DeletePupilNotesPopOut.html" %}	
	<div class='bannerDialog'>
		View Pupil Notes...<span style="float:right;border-radius:3px;"><button type='button' onclick="#">Filter Notes?</button></span>
	</div>
	{% load WillowFilters %}
		{% csrf_token %}
	<div>
	<div class='RecordFormCRight3'>
		<div class="table-wrapper">
			<div class="table-scroll" style="height:350px;">
				{% if NoteRecords %}
				{% for Notes in NoteRecords %}
				{% if not Notes.NoteId.IsAnIssue or Notes.NoteId.IssueStatus == 'Closed' %}
				<table>
					<tbody>	
						<tr><td class="DataItem">Raised Date:<span style="float:right;padding-right:4px">{{ Notes.NoteId.RaisedDate|date:"d/m/Y"}}</span></td></tr>
						<tr><td class="DataItem">Raised By:<span style="float:right;padding-right:4px">{{ Notes.NoteId.RaisedBy.UserId.User.Forename }} {{ Notes.NoteId.RaisedBy.UserId.User.Surname }}</span></td></tr>
						<tr><td class='DataItem'>Keywords:<span style="float:right;padding-right:4px">{{ Notes.NoteId.Keywords|SplitKW }}</span></div>
						<tr><td class="DataItem"><br />{{ Notes.NoteId.NoteText|safe }}
							<button style="float:right;margin:3px;" type='button' onclick="DeletePupilNotesPopOut.show()" >Delete</button>
						</td></tr>
						<tr><td style="background-color:#CCC9A1;"><br /></td><td style="background-color:#CCC9A1;"><br /></td></tr>		
					</tbody>
				</table>
				{% endif %}
				{% endfor %}
				{% else %}
				<p style="text-align:center;margin-top:125px;">This pupil has no Notes attached!</p>
				{% endif %}
			</div>
		</div>
	</div>	
	</div>
		<button data-dojo-type="dijit/form/Button" onclick="ViewPupilNotesPopOut.hide()">Cancel</button>
		<button data-dojo-type="dijit/form/Button" type="reset">Reset</button>
		<button data-dojo-type="dijit/form/Button" type="submit">OK</button>
	</div>
</div>
