
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">
{% include "Keywords.js" %}	
	
</script>
{% endblock %}



{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% endif %}
					Staff Issues for {{ StaffDetails.Forename }} {{ StaffDetails.Surname }}
				</div>
	<form class="UpdateAlertsForm" action="/WillowTree/{{ school }}/{{ AcYear }}/FilterStaffIssues/{{ StaffDetails.id }}/" method='post'>{% csrf_token %}	
		<h1> Filter form (click filter again to clear)</h1>
		<table border=1  class='center' style='border-collapse:collapse'>
			<tr>
				<td width=70% style='padding:5px'>
				
					<table border=1 class='center' style='border-collapse:collapse'>
						{% for Words in KWList %}
						{% if forloop.counter0|divisibleby:"5" %}</tr><tr>{% endif %}
						<td style='padding:3px'><span id='{{Words.Keyword}}' onClick="SelectKeyword('{{Words.Keyword}}')">{{ Words.Keyword }}</span>
						</td>
						{% endfor %}				
					</table>
				</td>
				<td style='padding:5px'>
					<div style="text-align:left;padding:5px;">
					Start Date<br>
					<input type='text' name="StartDate" id="StartDate" size="11" dojoType="dijit.form.DateTextBox"/></br>
					Stop Date<br>
					<input type='text' name="StopDate" id="StopDate" size="11" dojoType="dijit.form.DateTextBox"/></br>
					<input type="checkbox" name="ShowAll" /> Show All Issues?<br> 
					</div>
					<div style="padding: 0px 10px 0px 0px;">
					<input type="submit" name="filter" value="Filter">
					</div>
				</td>
			</tr>
		</table>
					<div class="divider"></div>	
		<select multiple="multiple" id="KWSelect" name="KWSelect" style="display:none;">
				{% for words in KWList %}
					<option>{{ words.Keyword }}</option>
				{% endfor %}
		</select>
		</form>
		
			
				<h1> Active Issues in Date order ( Filters : {{ Filters }})</h1>
			{% for Issues in IssueRecords %}
			<table border=1 width=100%>
				<tr>
					<td width=25%><span class='dataLabel'>Raised Date</span><span class='smallDataItem'>{{ Issues.IssueId.RaisedDate|date:"d/m/Y"}}</span></td>
					<td rowspan=4> {{ Issues.IssueId.IssueText|safe }}</td>
				<tr>
					<td><span class='dataLabel'>Raised Date</span><br><span class='smallDataItem'>{{ Issues.IssueId.RaisedBy.UserId.User.Forename }} {{ Issues.IssueId.RaisedBy.UserId.User.Surname }}</td>
				</tr>

				<tr>
				<td><span class='dataLabel'>Keywords</span><br><span class='smallDataItem'>{{ Issues.IssueId.Keywords }} </td>
				</tr>
				<tr><td style='padding:0px 20px 0px 0px'>
				<form class="UpdateAlertsForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyStaffIssue/{{Issues.IssueId.id}}/{{ StaffDetails.id }}/" method='post'/>{% csrf_token %}
				<input type="submit" name="Update" id="Update" value="Update" />
				</form>
				</td></tr>
			</table>
			{% endfor %}


			</div>

			
{% endblock %}
