
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block ContentArea %}
<div class="leftMiddle">
	<div class="banner">
	{% if errmsg %}
	<b>{{ errmsg }}</b>
	{% else %}
		<span style="font-weight:bold;color:lightblue;">Select Special Group</span>
	{% endif %}
	</div>
<div class='body' style='height:600px;'>
<div style="text-align:center;color:blue;">
	<p>Note: Only Special Groups with members will appear here</p>
</div>	
	<div>
		<table class="WillowTable1">
			{% for group in groups %}
			{% if group.1 %}
			<tr>
				<td style="text-align:left;" class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">
					<span><a style="text-decoration:none;" href="/WillowTree/{{ school }}/{{ AcYear }}/ManageAll/{{ group.0 }}/">{{ group.0 }}</a></span>
				</td>
			</tr>
			{% endif %}
			{% endfor %}
		</table>
	</div>
</div>	
</div>
{% endblock %}
