
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">
{% include "Keywords.js" %}
</script>
{% endblock %}
{% block ContentArea %}
{% load WillowFilters %}
<div class="leftMiddle">
	<div class="banner">
		View multiple Pupil Notes
	</div>
	<div class="RecordFormBody">
		<div class="RecordFormCLeft"> 
			<div id="RecordFormTitle">
				<h1>Pupil Notes</h1>
			</div>
		</div>
		<div class="RecordFormCRight">
			<div class="RecordFormCRight1">
				<div class='RecordFormCRight2'>
					<button onclick="FilterPupilNotes.show();" >Filter</button>
						{% include "FilterPupilNotes.html" %}
					<form action="/WillowTree/{{ school }}/{{ AcYear }}/FilterNotes/Pupil/" method="post">
						{% csrf_token %}
						<div style="display:none;">
							<input type='text' name="StartDate" id="StartDate_clear"/>
							<input type='text' name="StopDate" id="StopDate_clear"/>
							<input type='text' name='PupilNo' value='{{PupilDetails.Pupil.id}}' style="display:none;">				
							<select multiple="multiple" id="KWSelect_clear" name="KWSelect"/>
										<option></option>
							</select>
						</div>
						<input type="submit" value="Submit">					
					</form>
				</div>
				<div class='RecordFormCRight3'>
					<div class="table-wrapper">
						<div class="table-scroll" style="height:600px;">
							{% if NoteRecords %}
							{% for Notes in NoteRecords %}
							{% if not Notes.NoteId.IsAnIssue or Notes.NoteId.IssueStatus == 'Closed' %}
							<table>
								<tbody>	
									<tr><td class="DataItem">Raised Date:<span style="float:right;padding-right:4px">{{ Notes.NoteId.RaisedDate|date:"d/m/Y"}}</span></td></tr>
									<tr><td class="DataItem">Raised By:<span style="float:right;padding-right:4px">{{ Notes.NoteId.RaisedBy.FullName }}</span></td></tr>
									<tr><td class='DataItem'>Keywords:<span style="float:right;padding-right:4px">{{ Notes.NoteId.Keywords|SplitKW }}</span></div>
									<tr><td class="DataItem"><br />{{ Notes.NoteId.NoteText|safe }}
										<form class="UpdateAlertsForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyPupilNote/{{Notes.NoteId.id}}/{{ PupilDetails.Pupil.id }}/" method='post'>{% csrf_token %}
										<input type="submit" name="Remove" id="Remove" value="Remove" />
										<input type="submit" name="Modify" id="Modify" value="Modify" />
										</form>
									</td></tr>
									<tr><td style="background-color:#CCC9A1;"><br /></td><td style="background-color:#CCC9A1;"><br /></td></tr>		
								</tbody>
							</table>
							{% endif %}
							{% endfor %}
							{% else %}
							<p style="text-align:center;margin-top:275px;color:darkred;">This pupil has no Notes attached!</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
{% endblock %}
