
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script type="text/javascript">
{% include "Keywords.js" %}
</script>
<!-- pop out code -->
<script>
{% include "popOutJavaScript.js" %}
{% include "datePickerCode.js" %}
</script>
{% endblock %}
{% block ContentArea %} 
{% load WillowFilters %}
<div class="leftMiddle">
{% include "PupilBanner.html" %}
	<div class="RecordFormBody">
		<div class="RecordFormCLeft"> 
			<div id="RecordFormTitle">
				{% if achievementsOnly %}
				<h1>Pupil Achievements...</h1>
				{% else %}
				<h1>Pupil Notes...</h1>
				{% endif %} 
				<button style="margin-top:5px;" id="#FilterPupilNotes" class="login-window2">Filter</button>
					{% include "FilterPupilNotes.html" %}
				{% if NotesKWordFilter or NotesStartFilter or NotesStopFilter %}
				{% if achievementsOnly %}
				<form action="/WillowTree/{{ school }}/{{ AcYear }}/FilterAchievementNotes/Pupil/" method="post">
				{% else %}
				<form action="/WillowTree/{{ school }}/{{ AcYear }}/FilterStandardNotes/Pupil/" method="post">	
				{% endif %}
					{% csrf_token %}
					<div style="display:none;">  
						<input type='text' name="StartDate" id="StartDate_clear"/>
						<input type='text' name="StopDate" id="StopDate_clear"/>
						<input type='text' name='PupilNo' value='{{PupilDetails.Pupil.id}}' style="display:none;">				
						<select multiple="multiple" id="KWSelect_clear" name="KWSelect"/>
							<option></option>
						</select>
					</div>	
					<h3>Following filters active:</h3>
					{% for i in NotesKWordFilter %}
						<li style="color:darkred;">{{ i }}</li>	
					{% endfor %}
					{% if NotesStartFilter %}
						<li style="color:darkred;">Start date: {{ NotesStartFilter|englishDateFormat }}</li>
					{% endif %}
					{% if NotesStopFilter %}
						<li style="color:darkred;">End date: {{ NotesStopFilter|englishDateFormat }}</li>
					{% endif %}
					<input style="width:100px;height:21px;margin-top:5px;" type="submit" value="Reset Filter">				
				</form>			
				{% endif %}
			</div>
		</div>
		<div class="RecordFormCRight">
			<div class="RecordFormCRight1" style="height:600px;">
			{% if NoteRecords %}
			{% for Notes in NoteRecords %}
			{% if not Notes.NoteId.IsAnIssue or Notes.NoteId.IssueStatus == 'Closed' %}				
				<div class='RecordFormCRight2' style="width:90px;">
					<button style="width:75px;" type='button' id="#RemoveNote{{Notes.NoteId.id}}" class="login-window2">Remove</button>
					{% include "RemoveNote.html" %}
					<button style="width:75px;" type='button' onclick="document.location.href='/WillowTree/{{ school }}/{{ AcYear }}/ModifyPupilNote/{{ Notes.NoteId.id }}/{{ PupilDetails.Pupil.id }}/'">Modify</button>
				</div>
				<div class='RecordFormCRight3'>
					<div class="table-wrapper"> 
						<div class="table-scroll" style="height:auto;float:right;">
							<table>
								<tbody>	
									<tr><td class="DataItem">Raised Date:<span style="float:right;padding-right:4px">{{ Notes.NoteId.RaisedDate|date:"d/m/Y" }}</span></td></tr>
									<tr><td class="DataItem">Raised By:<span style="float:right;padding-right:4px">{{ Notes.NoteId.RaisedBy.FullName }}</span></td></tr>
									<tr><td class="DataItem">Modified By:<span style="float:right;padding-right:4px">{{ Notes.NoteId.ModifiedBy.FullName }}</span></td></tr>
									<tr><td class="DataItem">Modified Date:<span style="float:right;padding-right:4px">{{ Notes.NoteId.ModifiedDate|date:"d/m/Y" }}</span></td></tr>
									<tr><td class='DataItem'>Keywords:<span style="float:right;padding-right:4px">{{ Notes.NoteId.Keywords|SplitKW }}</span></div>
									<tr><td class="DataItem"><br />{{ Notes.NoteId.NoteText|safe }}</td></tr>
									<tr><td style="background-color:#CCC9A1;"><br /></td><td style="background-color:#CCC9A1;"><br /></td></tr>		
								</tbody>
							</table>
						</div>
					</div>
				</div>
			{% endif %}
			{% endfor %}
			{% else %}
			{% if achievementsOnly %}
			<p style="text-align:center;margin-top:275px;color:darkred;">No Achievements!</p>
			{% else %}
			<p style="text-align:center;margin-top:275px;color:darkred;">No Notes!</p>
			{% endif %}
			{% endif %}				
			</div>	
		</div>
	</div>	
</div>
{% endblock %}
