
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block base_header_extra %}
<script>
{% include "datePickerCode.js" %}
</script>
{% endblock %}
{% load WillowFilters %}
{% block ContentArea %}
<div>
	<div class="leftMiddle">
		<div class="banner">
			<span style="font-weight:bold;color:lightblue;">ClassList: {{ GroupName }}</span>
		</div>
			{% if Messages %}
				{% for msg in Messages %}
					{{ msg }}<br>
				{% endfor %}
			{% endif %}

	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyTermDates/Mich/" method="post">
	{% csrf_token %}
		<div class="RecordFormCLeft">
			<div class="RecordFormTitle">
				Michaelmas<br>Term Dates
			</div>
			<div class="RecordFormCommands">
				<button type='submit' name='LabelType'>Submit</button>
			</div>
		</div>
		<div class="RecordFormCRight">
			<div class='RecordFormCRight1'>
				<div class='RecordFormCRight2'>
				</div>
			<div class='RecordFormCRight3'>
				<div class="table-wrapper">
					<div class="table-scroll" style='height:110px;'>
						<table>
							<tbody>
								<tr><td class='Label'>Mich Start date</td><td><input required type='text' class='datepicker' readonly='true' name="Start" 
								{% if YearDates.MichStart %}  value="{{ YearDates.MichStart|date:'Y-m-d' }}" {% endif %}/></td></tr>
								<tr><td class='Label'>Mich Half Term Start</td><td><input required type='text' class='datepicker' readonly='true' name="HalfStart"
								{% if YearDates.MichHalfStart %}  value="{{ YearDates.MichHalfStart|date:'Y-m-d' }}" {% endif %}/></td></tr>
								<tr><td class='Label'>Mich Half Term End</td><td><input required type='text' class='datepicker' readonly='true' name="HalfStop"
								{% if YearDates.MichHalfStop %}  value="{{ YearDates.MichHalfStop|date:'Y-m-d' }}" {% endif %}/></td></tr></td></tr>
								<tr><td class='Label'>Mich End date</td><td><input required type='text' class='datepicker' readonly='true' name="Stop"
								{% if YearDates.MichStop %}  value="{{ YearDates.MichStop|date:'Y-m-d' }}" {% endif %}/></td></tr></td></tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
	
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyTermDates/Lent/" method="post">
	{% csrf_token %}
		<div class="RecordFormCLeft">
			<div class="RecordFormTitle">
				Lent Term Dates
			</div>
			<div class="RecordFormCommands">
				<button type='submit' name='LabelType' value='AddressPupil'>Submit</button>
			</div>
		</div>
		<div class="RecordFormCRight">
			<div class='RecordFormCRight1'>
				<div class='RecordFormCRight2'>
				</div>
			<div class='RecordFormCRight3'>
				<div class="table-wrapper">
					<div class="table-scroll" style='height:110px;'>
						<table>
							<tbody>
								<tr><td class='Label'>Lent Start date</td><td><input required type='text' class='datepicker' readonly='true' name="Start" 
								{% if YearDates.LentStart %}  value="{{ YearDates.LentStart|date:'Y-m-d' }}" {% endif %}/></td></tr>
								<tr><td class='Label'>Lent Half Term Start</td><td><input required type='text' class='datepicker' readonly='true' name="HalfStart"
								{% if YearDates.LentHalfStart %}  value="{{ YearDates.LentHalfStart|date:'Y-m-d' }}" {% endif %}/></td></tr>
								<tr><td class='Label'>Lent Half Term End</td><td><input required type='text' class='datepicker' readonly='true' name="HalfStop"
								{% if YearDates.LentHalfStop %}  value="{{ YearDates.LentHalfStop|date:'Y-m-d' }}" {% endif %}/></td></tr></td></tr>
								<tr><td class='Label'>Lent End date</td><td><input required type='text' class='datepicker' readonly='true' name="Stop"
								{% if YearDates.LentStop %}  value="{{ YearDates.LentStop|date:'Y-m-d' }}" {% endif %}/></td></tr></td></tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>	

	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyTermDates/Summer/" method="post">
	{% csrf_token %}
		<div class="RecordFormCLeft">
			<div class="RecordFormTitle">
				Summer Term Dates
			</div>
			<div class="RecordFormCommands">
				<button type='submit' name='LabelType' value='AddressPupil'>Submit</button>
			</div>
		</div>
		<div class="RecordFormCRight">
			<div class='RecordFormCRight1'>
				<div class='RecordFormCRight2'>
				</div>
			<div class='RecordFormCRight3'>
				<div class="table-wrapper">
					<div class="table-scroll" style='height:110px;'>
						<table>
							<tbody>
								<tr><td class='Label'>Summer Start date</td><td><input required type='text' class='datepicker' readonly='true' name="Start" 
								{% if YearDates.SummerStart %}  value="{{ YearDates.SummerStart|date:'Y-m-d' }}" {% endif %}/></td></tr>
								<tr><td class='Label'>Summer Half Term Start</td><td><input required type='text' class='datepicker' readonly='true' name="HalfStart"
								{% if YearDates.SummerHalfStart %}  value="{{ YearDates.SummerHalfStart|date:'Y-m-d' }}" {% endif %}/></td></tr>
								<tr><td class='Label'>Summer Half Term End</td><td><input required type='text' class='datepicker' readonly='true' name="HalfStop"
								{% if YearDates.SummerHalfStop %}  value="{{ YearDates.SummerHalfStop|date:'Y-m-d' }}" {% endif %}/></td></tr></td></tr>
								<tr><td class='Label'>Summer End date</td><td><input required type='text' class='datepicker' readonly='true' name="Stop"
								{% if YearDates.SummerStop %}  value="{{ YearDates.SummerStop|date:'Y-m-d' }}" {% endif %}/></td></tr></td></tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>	

</div>
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyTermDates/Adhoc/" method="post">
	{% csrf_token %}
		<div class="RecordFormCLeft">
			<div class="RecordFormTitle">
				Other Holidays
			</div>
			<div class="RecordFormCommands">
				<button type='submit' name='LabelType' value='AddressPupil'>Submit</button>
			</div>
		</div>
		<div class="RecordFormCRight">
			<div class='RecordFormCRight1'>
				<div class='RecordFormCRight2'>
				</div>
			<div class='RecordFormCRight3'>
				<div class="table-wrapper">
					<div class="table-scroll" style='height:110px;'>
						<table>
							<tbody>
								<tr><td class='Label'>Holiday1</td><td><input type='text' class='datepicker' readonly='true' name="one" 
								{% if YearDates.Holiday1 %}  value="{{ YearDates.Holiday1|date:'Y-m-d' }}" {% endif %}/></td></tr>
								<tr><td class='Label'>Holiday2</td><td><input type='text' class='datepicker' readonly='true' name="two"
								{% if YearDates.Holiday2 %}  value="{{ YearDates.Holiday2|date:'Y-m-d' }}" {% endif %}/></td></tr>
								<tr><td class='Label'>Holiday3</td><td><input type='text' class='datepicker' readonly='true' name="three"
								{% if YearDates.Holiday3 %}  value="{{ YearDates.Holiday3|date:'Y-m-d' }}" {% endif %}/></td></tr></td></tr>
								<tr><td class='Label'>Holiday4</td><td><input type='text' class='datepicker' readonly='true' name="four"
								{% if YearDates.Holiday4 %}  value="{{ YearDates.Holiday4|date:'Y-m-d' }}" {% endif %}/></td></tr></td></tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>	

</div>
</div>
{% endblock %}
