
<!-- not finished -->
{% load static from staticfiles %}
<table>
	<tr style='background-color:#BFE4FF;'>
		<td rowspan='3'>Michaelmas {{ Report.ReportYear }} 11+ Examination Results</td>
	</tr>
	<tr style='background-color:#BFE4FF;'>
		<td>Subject</td><td>Achieved %</td><td>Average %</td>
	</tr>
	<tr>
		<td>{{ ThisReport.English_Reading.Subject }}</td><td></td><td></td>
	</tr>
	<tr>
		<td></td><td></td><td></td>
	</tr>
	<tr>
		<td></td><td></td><td></td>
	</tr>
	<tr>
		<td></td><td></td><td></td>
	</tr>
	<tr>
		<td></td><td></td><td></td>
	</tr>
	<tr>
		<td></td><td></td><td></td>
	</tr>
	<tr>
		<td></td><td></td><td></td>
	</tr>
	<tr>
		<td></td><td></td><td></td>
	</tr>
	<tr>
		<td></td><td></td><td></td>
	</tr>		
</table>
