{% load WillowFilters %}
<tbody>
	<tr class="data-row">
<!-- ENGLISH SPECIALS -->
{% if 'English' in ThisSubject.Subject %}		
	{% if ThisSubject.Subject == 'English' %}
		<td class="td-col-1">English</td>
	{% endif %}		
	{% if ThisSubject.Subject == 'English_Reading' %}
		<td class="td-col-1">English - Reading</td>
	{% endif %}		
    {% if ThisSubject.Subject == 'English_Writing' %}
        <td class="td-col-1">English - Writing</td>
    {% endif %}
    {% if ThisSubject.Subject == 'English_Speaking' %}
        <td class="td-col-1">English - Speaking and Listening</td>
    {% endif %}
{% endif %}
<!-- RE SPECIALS -->
{% if ThisSubject.Subject == 'Religious_Education' %}
	<td class="td-col-1">RE&amp;P</td>
{% endif %}
<!-- Computing SPECIALS -->
{% if ThisSubject.Subject == 'Computing' %}
	<td class="td-col-1">Computing</td>
{% endif %}
<!-- Gym_Athletics SPECIALS -->
{% if ThisSubject.Subject == 'Gym_Athletics' %}
    {% if Report.ReportTerm == 'Michaelmas' %}
	<td class="td-col-1">Gym</td>
    {% else %}
    <td class="td-col-1">Athletics</td>
    {% endif %}
{% endif %}
<!-- STANDARD SUBJECT -->
{% if ThisSubject.Subject != 'Religious_Education' and  'English' not in ThisSubject.Subject and ThisSubject.Subject != 'Computing' and ThisSubject.Subject != 'Gym_Athletics' %}
		<td class="td-col-1">{{ ThisSubject.Subject|replaceSpace:'_' }}</td>
{% endif %}
		<td class="td-col-4"><div class="comment">{{ ThisSubject.Current.Comment.0|StripSafe }}</div></td>
	</tr>
</tbody>
