{% load WillowFilters %}
<tbody>
	<tr>
		<td class="td-col-1">{{ ThisSubject.Subject|replaceSpace:'_' }}</td>	
		<td class="td-col-4"><div class="comment">{{ ThisSubject.Current.Comment.0|StripSafe }}</div></td>
		<td class="td-col-5">{{ ThisSubject.TeacherName }}</td>
	</tr>
</tbody>
