<div id="logo"><img id="logo-img" src="{{STATIC_URL}}images/unicorn_small.jpg"></div>
<div id="logo-text">Thomas's<br>{{Report.PupilSchool }}</div>
<div id="title-header">{% if Report.ReportYear != "Reception" %}Year{% endif %} {{ Report.ReportYear }} Review - {{ Report.ReportTerm }} {{ Report.HeaderReportYear }}</div>
