<div id="header-table">
	<table>
		<tr class="content-row-1">
			<td><b>NAME: {{ Report.Pupil.FullName }}</td>
			<td><b>FORM TEACHER: {{Report.TeacherNames.FormTeacher}}</td>
			<td><b>CLASS: {{ Report.Form }}</td>
		</tr>
		<!--<tr class="content-row-2">
			<td><b>NUMBER OF LATES:</b> </td>
			<td><b>ATTENDANCE:</b> </td>
			<td></td>
		</tr>-->
	</table>
</div>
