<div id="content-table-2">
	<table>
		<tr class="content-row-3">
            {% if Report.ReportYear == 'Reception' or Report.ReportYear < 3 %}
			<td class="no-border"><b>Head of Lower School:</b></td>
            {% endif %}
            {% if Report.ReportYear >= 3 and Report.ReportYear < 5 %}
            <td class="no-border"><b>Head of Middle School:</b></td>
            {% endif %}
            {% if Report.ReportYear == 5 %}
            <td class="no-border"><b>Headmaster:</b></td>
            {% endif %}
            {% if Report.ReportYear > 5 %}
            <td class="no-border"><b>HEADS SIGNATURE:</b></td>
            {% endif %}
        </tr>
	</table>
</div>
