{% load WillowFilters %}
<tfoot>
	<tr class="data-row-form">
		{% if Report.ReportYear == 7 or Report.ReportYear == 8 %}
		<td class="td-col-1">Tutor Report</td>
		{% else %}
		<td class="td-col-1">Form Teacher Report</td>
		{% endif %}
		<td align=left colspan="4" class="td-col-4"><div class="large-comment">{{ ThisReport.Form_Comment.Current.Comment.0|StripSafe }}</div></td>
	</tr>
</tfoot>
