
{% load WillowFilters %}
{% load static from staticfiles %}
{% if ThisSubject.Current.Comment.0 %}
<table class='ReportTable' style='width:100%;'>
	<tr class='ReportTableHeader'>
		<th {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %}>
		{% if Report.PupilSchool == 'Battersea' and ThisSubject.Subject == 'English_Speaking' %}
			English - Speaking &#38; Listening
		{% else %}
			{% if ThisSubject.Subject == 'Gym_Athletics' %}
				{% if ThisSubject.Term == 'Mich' %}Gym{%else%}Athletics{% endif %}
			{% else %}
				{% if Report.PupilSchool == 'Fulham' and ThisSubject.Subject == 'Art' %}
					Art and Design Technology
				{% else %}
					{{ ThisSubject.Subject|replaceSpace:'_' }}
				{% endif %}
			{% endif %}
		{% endif %}
		</th>
	</tr>
	<tr>
		{% if Report.PupilSchool == 'Battersea' and ReportType == '11Plus' %}
		<td>{{ ThisSubject.Current.Comment.0|safe }}</td>
		{% else %}
		<td {%  if ThisSubject.Term == 'Lent' %}{% if Report.PupilSchool == 'Battersea' %} style="font-size:14px !important" {% endif %}{% endif %}>{{ ThisSubject.Current.Comment.0|StripSafe }}</td>
		{% endif %}
	</tr>
</table>
<br>

{% endif %}
