
{% load WillowFilters %}
{% load static from staticfiles %}
{% if ThisSubject.Current.Effort.0 or ThisSubject.Current.Attainment.0 or ThisSubject.Current.Comment.0 %}
	<table class='ReportTable'>
{% if Report.PupilSchool == 'Clapham' and ThisSubject.Subject == 'Art' or Report.PupilSchool == 'Fulham' and ThisSubject.Subject == 'Art' %}
		<tr>
			<th {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %} colspan='3' style='text-align:center;font-weight:bold;background-color:#BFE4FF;'>Art and Design Technology</th>
		</tr>
{% else %}
	{% if ThisSubject.Subject == 'Gym_Athletics' %}
		{% if Report.ReportTerm == 'Michaelmas' %}
	<tr>
		<th {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %} colspan='3' style='text-align:center;font-weight:bold;background-color:#BFE4FF;'>Gym</th>
	</tr>
		{% else %}
	<tr>
		<th {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %} colspan='3' style='text-align:center;font-weight:bold;background-color:#BFE4FF;'>Athletics </th>
	</tr>
		{% endif %}
	{% else %}
	<tr>
		<th {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %} colspan='3' style='text-align:center;font-weight:bold;background-color:#BFE4FF;'>{{ ThisSubject.Subject|replaceSpace:'_' }}</th>
	</tr>
	{% endif %}
{% endif %}
		<tr>
			<td style='width:20%;'>Effort: {% if ThisSubject.Current.Effort.0 %}{{ ThisSubject.Current.Effort.0 }}{% else %}N/A{% endif %}</td>
			<td style='width:20%;'>Attainment: {% if ThisSubject.Current.Attainment.0 %}{{ ThisSubject.Current.Attainment.0 }}{% else %}N/A{% endif %}</td>
			<td></td>
		</tr>
		<tr>
			<td colspan='3' style='text-align:left;'>{{ ThisSubject.Current.Comment.0|StripSafe }} <span style="text-align:center;">{{ ThisSubject.TeacherName }}</span></td>
		</tr>
	</table>
	<br />
{% endif %}
