
{% load WillowFilters %}
{% load static from staticfiles %}
{% if ThisSubject.Current.Comment.0 %}
	{{ThisSubject.AddTotalCommentLength }}
	{% if ThisSubject.GetTotalCommentLength >= 4700 %}
		{{ ThisSubject.ResetTotalCommentLength }}
		<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
		<br />
		{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
		<br />
	{% endif %}
<table class='ReportTable' style='width:100%;'>
	<tr class='ReportTableHeader'>
		<th {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %}>
		{% if ThisSubject.Subject == 'Gym_Athletics' %}
			{% if ThisSubject.Term == 'Mich' %}Gym{%else%}Athletics{% endif %}
		{% else %}
		{{ ThisSubject.Subject|replaceSpace:'_' }}
		{% endif %}
		</th>
	</tr>
	<tr>
		<td>{{ ThisSubject.Current.Comment.0|StripSafe }} {{ThisSubject.TeacherName}}</td>
	</tr>
</table>
<br>

{% endif %}
