
{% load WillowFilters %}
{% load static from staticfiles %}
{% if ThisSubject.Current.Effort.0 or ThisSubject.Current.Attainment.0 or Report.PupilSchool == 'Clapham' and ThisSubject.Current.Comment.0 %}
	{{ ThisSubject.AddTotalCommentLength }}
	{% if ThisSubject.GetTotalCommentLength >= 5500 %}
		{{ ThisSubject.ResetTotalCommentLength }}
		<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
		<br />
		{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
		<br />
	{% endif %}		
	<table class='ReportTable'>
{% if Report.PupilSchool == 'Clapham' and ThisSubject.Subject == 'Art' or Report.PupilSchool == 'Fulham' and ThisSubject.Subject == 'Art' %}
		<tr>
			<th {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %} colspan='3' style='text-align:center;font-weight:bold;background-color:#BFE4FF;'>Art and Design Technology</th>
		</tr>
{% else %}
	{% if ThisSubject.Subject == 'Gym_Athletics' %}
		{% if Report.ReportTerm == 'Michaelmas' %}
	<tr>
		<th {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %} colspan='3' style='text-align:center;font-weight:bold;background-color:#BFE4FF;'>Gym</th>
	</tr>
		{% else %}
	<tr>
		<th {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %} colspan='3' style='text-align:center;font-weight:bold;background-color:#BFE4FF;'>Athletics </th>
	</tr>
		{% endif %}
	{% else %}
	<tr>
		<th {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %} colspan='3' style='text-align:center;font-weight:bold;background-color:#BFE4FF;'>{{ ThisSubject.Subject|replaceSpace:'_' }}</th>
	</tr>
	{% endif %}
{% endif %}
		<tr>
			<td style='width:20%;'>Effort: {{ ThisSubject.Current.Effort.0 }}</td>
			<td style='width:20%;'>Attainment: {{ ThisSubject.Current.Attainment.0 }}</td>
			<td></td>
		</tr>
		<tr>
			<td colspan='3' style='text-align:left;'>{{ ThisSubject.Current.Comment.0|StripSafe }} AP</td>
		</tr>
	</table>
	<br />
{% endif %}
