
{% load WillowFilters %}
{% load static from staticfiles %}
{% if ThisSubject.Current.Comment.0 %}
	<table class='ReportTable' style='width:100%;'>
		<tr>
			<th {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %} colspan='3' style='text-align:center;font-weight:bold;background-color:#BFE4FF;'>{{ ThisSubject.Subject|replaceSpace:'_' }}</th>
		</tr>
		{% if ThisSubject.Subject == 'English' %}
		<tr>
			<td style='width:20%;'>Effort: {{ ThisSubject.Current.Effort.0 }}</td>
			<td colspan='2'>Attainment: {{ ThisSubject.Current.Attainment.0 }}</td>
		</tr>
		<tr>
			<td style='width:33%;'>Reading Level: {{ ThisReport.English_Reading.Current.Level.0 }}</td>
			<td {% if Report.PupilSchool == 'Fulham' and ReportYear == "1" %} colspan='2'{% endif %} style='width:33%;'>Writing Level: {{ ThisReport.English_Writing.Current.Level.0 }}</td>
			{% if Report.PupilSchool == 'Fulham' and ReportYear == "1" %}
			<!-- cell here? -->
			{% else %}
			<td style='width:33%;'>{% if Report.PupilSchool == 'Fulham' %}Sp. &#38; List: {% else %}S and L Level: {% endif %}{{ ThisReport.English_Speaking.Current.Level.0 }}</td>
			{% endif %}
		</tr>
		{% else %}
		<tr>
			<td style='width:33%;'>Effort: {% if ThisSubject.Current.Effort.0 %}{{ ThisSubject.Current.Effort.0 }}{% else %}N/A{% endif %}</td>
			<td style='width:33%;'>Attainment: {% if ThisSubject.Current.Attainment.0 %}{{ ThisSubject.Current.Attainment.0 }}{% else %}N/A{% endif %}</td>
			<td style='width:33%;'>Level: {% if ThisSubject.Current.Level.0 %}{{ ThisSubject.Current.Level.0 }}{% else %}N/A{% endif %}</td>
		</tr>
		{% endif %}
		<tr>
			{% if Report.PupilSchool == 'Fulham' and ThisSubject.Subject == 'English' and ReportYear == "1" %}
			<td colspan='2' style='text-align:left;'>{{ ThisSubject.Current.Comment.0|StripSafe }} {% if Report.PupilSchool == 'Clapham' %} <span style="text-align:center;">{{ ThisSubject.TeacherName }}</span> {% endif %}</td>
			{% else %}
			<td colspan='3' style='text-align:left;'>{{ ThisSubject.Current.Comment.0|StripSafe }} {% if Report.PupilSchool == 'Clapham' %} <span style="text-align:center;">{{ ThisSubject.TeacherName }}</span> {% endif %}</td>
			{% endif %}
		</tr>
	</table>
	<br />
{% endif %}
