
{% if Report.PupilSchool == 'Clapham' %}
{% load static from staticfiles %}
<style>
</style>
<div style='font-size:0.8em;' class='CoreValuesTableClapham'>
	<table style='width:100%;text-align:center;'>
		<tr style='background-color:#BFE4FF;'>
			<td class='CoreValuesTableHeaderForClapham' style='width:30%;border:0;'><img src="{% static "images/unicorn_small.jpg" %}" width="40" height="43" style="padding:2px;"/></td>
			<td class='CoreValuesTableHeaderForClapham' style='font-weight:bold;border:0;'>Thomas's Values</td>
			<td class='CoreValuesTableHeaderForClapham' style='width:30%;border:0;'><img src="{% static "images/unicorn_small.jpg" %}" width="40" height="43" style="padding:2px;"/></td>
		</tr>
		<tr style='border:0;'>
			<td style='border:0;'>Kindness</td><td style='border:0;'>Courtesy</td><td style='border:0;'>Honesty</td>
		</tr>
		<tr style='border:0;'>
			<td style='border:0;'>Respect</td><td style='border:0;'>Independence</td><td style='border:0;'>Confidence</td>
		</tr>
		<tr style='border:0;'>
			<td style='border:0;'>Leadership</td><td style='border:0;'>Humility</td><td style='border:0;'>Givers not takers</td>
		</tr>				
	</table>
</div>
{% else %}
<div style='font-size:0.8em;' id='CoreValuesTable'>
	<table style='width:100%;text-align:center;'>
		<tr style='background-color:#BFE4FF;'>
			<td class='CoreValuesTableHeaderForClapham' style='width:30%;'><img src="{% static "images/unicorn_small.jpg" %}" width="40" height="43" style="padding:2px;"/></td>
			<td class='CoreValuesTableHeaderForClapham' style='font-weight:bold;'>Thomas's Values</td>
			<td class='CoreValuesTableHeaderForClapham' style='width:30%;'><img src="{% static "images/unicorn_small.jpg" %}" width="40" height="43" style="padding:2px;"/></td>
		</tr>
		<tr>
			<td >Kindness</td><td>Courtesy</td><td>Honesty</td>
		</tr>
		<tr>
			<td>Respect</td><td>Independence</td><td>Confidence</td>
		</tr>
		<tr>
			<td>Leadership</td><td>Humility</td><td>Givers not takers</td>
		</tr>				
	</table>
</div>
{% endif %}
