
<div style='width:100%;font-size:0.8em;'>
{% load static from staticfiles %}
	<div style='float:left;width:40%;margin-right:5%;'>
		<table style='width:100%'>
			<tr>
				<td colspan='2' style='font-size:1.2em;font-weight:bold;background-color:#BFE4FF;text-align:center;'>Effort</td>
			</tr>
			<tr>	
				<td style='font-weight:bold;width:30px;text-align:center;'>A</td>
				<td>Very good</td>			
			</tr>
			<tr>
				
				<td style='font-weight:bold;width:30px;text-align:center;'>B</td>
				<td>Good</td>				
			</tr>
			<tr>
				<td style='font-weight:bold;width:30px;text-align:center;'>C</td>
				<td>Inconsistent</td>				
			</tr>
		</table>
	</div>
	<div style='float:right;width:55%;'>
		<table style='width:100%'>
			<tr>
				<td colspan='2' style='font-size:1.2em;font-weight:bold;background-color:#BFE4FF;text-align:center;'>Attainment</td>
			</tr>
			<tr>
				<td style='font-weight:bold;width:30px;text-align:center;'>1</td>
				<td>Working beyond the expected standard</td>
			</tr>
			<tr>
				<td style='font-weight:bold;width:30px;text-align:center;'>2</td>
				<td>Working at the expected standard</td>				
			</tr>
			<tr>
				<td style='font-weight:bold;width:30px;text-align:center;'>3</td>
				<td>Working towards the expected standard</td>			
			</tr>
			{% if not Report.PupilSchool == 'Fulham' %}	
			<tr>
				{% if Report.PupilSchool == 'Battersea' %}
				<td colspan='2'>These criteria refer to the standard expected of the majority of pupils in Year {{ Report.ReportYear }}</td>
				{% else %}
				<td colspan='2'>These criteria refer to the standard expected by the majority of pupils in Year {{ Report.ReportYear }} at Thomas's</td>
				{% endif %}
			</tr>
			{% endif %}						
		</table>
	</div>
</div>
