
<style>
{% load static from staticfiles %}
.table__EffortAttainmentLevelLegendTable_Kensington
{
	border:1px solid;
}
</style>
<div style='width:100%;font-size:0.7em;'>
	<div style='float:left;width:30%;'>
		<table class="table__EffortAttainmentLevelLegendTable_Kensington" style='width:100%'>
			<tr>
				<td colspan='2' style='font-size:1.2em;font-weight:bold;background-color:#BFE4FF;text-align:center;'>Effort</td>
			</tr>
			<tr>	
				<td style='font-weight:bold;width:30px;text-align:center;'>A</td>
				<td>Outstanding effort, high levels of enthusiasm and commitment</td>			
			</tr>
			<tr>
				
				<td style='font-weight:bold;width:30px;text-align:center;'>B</td>
				<td>Good effort</td>				
			</tr>
			<tr>
				<td style='font-weight:bold;width:30px;text-align:center;'>C</td>
				<td>Satisfactory effort</td>				
			</tr>
			<tr>
				<td style='font-weight:bold;width:30px;text-align:center;'>D</td>
				<td>Erratic effort, needs reminders to participate</td>				
			</tr>
			<tr>
				<td style='font-weight:bold;width:30px;text-align:center;'>E</td>
				<td>Unsatisfactory</td>				
			</tr>						
		</table>
	</div>
	<div style='float:left;width:30%;margin-left:5%;'>
		<table class="table__EffortAttainmentLevelLegendTable_Kensington" style='width:100%'>
			<tr>
				<td colspan='2' style='font-size:1.2em;font-weight:bold;background-color:#BFE4FF;text-align:center;'>Attainment</td>
			</tr>
			<tr>
				<td style='font-weight:bold;width:30px;text-align:center;'>1</td>
				<td>Working beyond the expected level for the year group at Thomas's</td>
			</tr>
			<tr>
				<td style='font-weight:bold;width:30px;text-align:center;'>2</td>
				<td>Working at the expected level for the year group at Thomas's</td>				
			</tr>
			<tr>
				<td style='font-weight:bold;width:30px;text-align:center;'>3</td>
				<td>Working towards the expected level for the year group at Thomas's</td>			
			</tr>	
			<tr>
				<td colspan="2">
					<span style="font-style:italic;">
						The levels within an attainment band may be different across the subjects
					</span>
				</td>
			</tr>						
		</table>
	</div>
	<div style='float:left;width:30%;margin-left:5%;'>
		<table class="table__EffortAttainmentLevelLegendTable_Kensington" style='width:100%'>
			<tr>
				<td style='font-size:1.2em;font-weight:bold;background-color:#BFE4FF;text-align:center;'>Level</td>
			</tr>
			<tr>
				{% if "1" in Report.Form %}
				<td>The national expectation for children at the end of the year 2 is to gain a Level 2b</td>
				{% endif %}
			</tr>
		</table>
	</div>
</div>
