
<div style='width:100%;font-size:0.8em;'>
{% load static from staticfiles %}
	<div style='float:left;width:40%;margin-right:5%;'>
		<table style='width:100%'>
			<tr>
				<td colspan='2' style='font-size:1.2em;font-weight:bold;background-color:#BFE4FF;text-align:center;'>Effort</td>
			</tr>
			<tr>	
				<td style='font-weight:bold;width:30px;text-align:center;'>A</td>
				<td>Very good</td>			
			</tr>
			<tr>
				
				<td style='font-weight:bold;width:30px;text-align:center;'>B</td>
				<td>Good</td>				
			</tr>
			<tr>
				<td style='font-weight:bold;width:30px;text-align:center;'>C</td>
				<td>Inconsistent</td>				
			</tr>
		</table>
	</div>
	<div style='float:right;width:55%;'>
		<span></span>
	</div>
</div>
