
<style>
{% load static from staticfiles %}
.tables_in_EffortAttainmentLevelLegendTable_Fulham
{
	border:1px solid;
	height:120px;
}

.tables_header_in_EffortAttainmentLevelLegendTable_Fulham
{
	height:20%;
}
</style>
<div style='width:100%;font-size:0.7em;'>
	<div style='float:left;width:15%;'>
		<table class="tables_in_EffortAttainmentLevelLegendTable_Fulham" style='width:100%;'>
			<tr>
				<td class="tables_header_in_EffortAttainmentLevelLegendTable_Fulham" colspan='2' style='font-size:1.2em;font-weight:bold;background-color:#BFE4FF;text-align:center;'>Effort</td>
			</tr>
			<tr>	
				<td style='font-weight:bold;width:30px;text-align:center;'>A</td>
				<td>Very good</td>			
			</tr>
			<tr>
				
				<td style='font-weight:bold;width:30px;text-align:center;'>B</td>
				<td>Good</td>				
			</tr>
			<tr>
				<td style='font-weight:bold;width:30px;text-align:center;'>C</td>
				<td>Inconsistent</td>				
			</tr>
		</table>
	</div>
	<div style='float:left;width:40%;margin-left:5%;'>
		<table class="tables_in_EffortAttainmentLevelLegendTable_Fulham" style='width:100%;'>
			<tr>
				<td class="tables_header_in_EffortAttainmentLevelLegendTable_Fulham" colspan='2' style='font-size:1.2em;font-weight:bold;background-color:#BFE4FF;text-align:center;'>Attainment</td>
			</tr>
			<tr>
				<td style='font-weight:bold;width:30px;text-align:center;'>1</td>
				<td>Working beyond the expected standard</td>
			</tr>
			<tr>
				<td style='font-weight:bold;width:30px;text-align:center;'>2</td>
				<td>Working at the expected standard</td>				
			</tr>
			<tr>
				<td style='font-weight:bold;width:30px;text-align:center;'>3</td>
				<td>Working towards the expected standard</td>			
			</tr>				
			<tr>
				{% if Report.PupilSchool == 'Clapham' and ReportType == 'Type1' and Report.ReportYear == 7 %}
				<td colspan='2'>These criteria refer to the standard expected by the majority of pupils in Year {{ Report.ReportYear }}E at Thomas's</td>
				{% else %}
				{% if Report.PupilSchool == 'Clapham' and ReportType == 'Type1' and Report.ReportYear == 8 %}
					<td colspan='2'>These criteria refer to the standard expected by the majority of pupils in Year {{ Report.ReportYear }}D at Thomas's</td>
				{% else %}
					{% if Report.PupilSchool == 'Battersea' %}
					<td colspan='2'>These criteria refer to the standard expected of the majority of pupils in Year {{ Report.ReportYear }}</td>
					{% else %}
					<td colspan='2'>These criteria refer to the standard expected by the majority of pupils in Year {{ Report.ReportYear }} at Thomas's</td>
					{% endif %}
				{% endif %}
				{% endif %}
			</tr>					
		</table>
	</div>
	<div style='float:left;width:35%;margin-left:5%;'>
		<table class="tables_in_EffortAttainmentLevelLegendTable_Fulham" style='width:100%;'>
			<tr>
				<td class="tables_header_in_EffortAttainmentLevelLegendTable_Fulham" style='font-size:1.2em;font-weight:bold;background-color:#BFE4FF;text-align:center;'>Level</td>
			</tr>
			<tr>
				<td>
                {% if Report.PupilSchool == 'Kensington' %}
                    <span style='text-align:justify;'>Descriptors and explanations can be found on the Parent Portal under Assessments and Levels</span>
                {% else %}
					<span style='text-align:justify;'>Descriptors and explanations can be found on the Parent Portal under Curriculum/ Downloads/ Assessments and Levels</span>
				{% endif %}
                </td>
			</tr>					
		</table>
	</div>
</div>
