
<style>
{% load static from staticfiles %}
.tables_in_EffortAttainmentLevelLegendTable_Fulham
{
	border:1px solid;
	height:120px;
}

.tables_header_in_EffortAttainmentLevelLegendTable_Fulham
{
	height:20%;
}

.tables_in_EffortAttainmentLevelLegendTable_Fulham_div table
{
	border-collapse:collapse;
}
</style>
<div class="tables_in_EffortAttainmentLevelLegendTable_Fulham_div">
	<div style='width:100%;font-size:0.7em;'>
		<div style='float:left;width:15%;'>
			<table class="tables_in_EffortAttainmentLevelLegendTable_Fulham" style='width:100%;'>
				<tr>
					<td class="tables_header_in_EffortAttainmentLevelLegendTable_Fulham" colspan='2' style='font-size:1.2em;font-weight:bold;background-color:#BFE4FF;text-align:center;'>Effort</td>
				</tr>
				<tr>	
					<td style='font-weight:bold;width:30px;text-align:center;'>A</td>
					<td>Very good</td>			
				</tr>
				<tr>
					
					<td style='font-weight:bold;width:30px;text-align:center;'>B</td>
					<td>Good</td>				
				</tr>
				<tr>
					<td style='font-weight:bold;width:30px;text-align:center;'>C</td>
					<td>Inconsistent</td>				
				</tr>
			</table>
		</div>
		<div style='float:left;width:40%;margin-left:5%;'>
			<table class="tables_in_EffortAttainmentLevelLegendTable_Fulham" style='width:100%;'>
				<tr>
					<td class="tables_header_in_EffortAttainmentLevelLegendTable_Fulham" colspan='2' style='font-size:1.2em;font-weight:bold;background-color:#BFE4FF;text-align:center;'>Attainment</td>
				</tr>
				<tr>
					<td style='font-weight:bold;width:30px;text-align:center;'>1</td>
					<td>Working beyond the expected standard</td>
				</tr>
				<tr>
					<td style='font-weight:bold;width:30px;text-align:center;'>2</td>
					<td>Working at the expected standard</td>				
				</tr>
				<tr>
					<td style='font-weight:bold;width:30px;text-align:center;'>3</td>
					<td>Working towards the expected standard</td>			
				</tr>							
			</table>
		</div>
		<div style='float:left;width:35%;margin-left:5%;'>
			<table class="tables_in_EffortAttainmentLevelLegendTable_Fulham" style='width:100%;'>
				<tr>
					<td class="tables_header_in_EffortAttainmentLevelLegendTable_Fulham" style='font-size:1.2em;font-weight:bold;background-color:#BFE4FF;text-align:center;'>Level</td>
				</tr>
				<tr>
					<td>
						<span style='text-align:justify;'>Descriptors and explanations can be found on the Parent Portal under Curriculum/ Downloads/ Assessments and Levels</span>
					</td>
				</tr>					
			</table>
		</div>
	</div>
</div>
