
{% load WillowFilters %}
{% load static from staticfiles %}
<tr>
	<th><span class='notBoldForClapham'>English Reading</span></th>
	<td style='text-align:center;'>{% if Report.Grades.Yr8_Eot_L.Grades.English_Reading.Current.Level.0 %}{{ Report.Grades.Yr8_Eot_L.Grades.English_Reading.Current.Level.0 }}{% else %}N/A{% endif %}</td>
	<td style='text-align:center;'>{{ Report.Grades.Yr8_Eot_S.Grades.English_Reading.Current.Level.0 }}</td>
	<td style='text-align:center;' rowspan="3">{{ Report.Grades.Yr8_Eot_S.Grades.English.Current.Effort.0 }}</td>
	<td style='text-align:center;' rowspan="3">{% if Report.Grades.Yr8_Eot_S.Grades.English.Current.Attainment.0 == '1' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;' rowspan="3">{% if Report.Grades.Yr8_Eot_S.Grades.English.Current.Attainment.0 == '2' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;' rowspan="3">{% if Report.Grades.Yr8_Eot_S.Grades.English.Current.Attainment.0 == '3' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style="text-align:center;">{{ Report.Grades.Yr8_Eot_S.Grades.English_Reading.TeacherName }}</td>
</tr>
<tr>
	<th><span class='notBoldForClapham'>English Writing</span></th>
	<td style='text-align:center;'>{% if Report.Grades.Yr8_Eot_L.Grades.English_Writing.Current.Level.0 %}{{ Report.Grades.Yr8_Eot_L.Grades.English_Writing.Current.Level.0 }}{% else %}N/A{% endif %}</td>
	<td style='text-align:center;'>{{ Report.Grades.Yr8_Eot_S.Grades.English_Writing.Current.Level.0 }}</td>
	<td style="text-align:center;">{{ Report.Grades.Yr8_Eot_S.Grades.English_Writing.TeacherName }}</td>
</tr>
<tr>
	<th><span class='notBoldForClapham'>English - Speaking &amp; Listening</span></th>
	<td style='text-align:center;'>{% if Report.Grades.Yr8_Eot_L.Grades.English_Speaking.Current.Level.0 %}{{ Report.Grades.Yr8_Eot_L.Grades.English_Speaking.Current.Level.0 }}{% else %}N/A{% endif %}</td>
	<td style='text-align:center;'>{{ Report.Grades.Yr8_Eot_S.Grades.English_Speaking.Current.Level.0 }}</td>
	<td style="text-align:center;">{{ Report.Grades.Yr8_Eot_S.Grades.English_Speaking.TeacherName }}</td>
</tr>
