
<div class='ReportHeader'>
{% load static from staticfiles %}
<img src="{% static "images/unicorn_small.jpg" %}" width="100" height="105" style="padding:12px;"/><br>
Thomas's {{Report.PupilSchool }}<br />
{% if Report.ReportYear == 'Reception' %}
{{ Report.ReportYear }} Report<br />
{% endif %}
{% if Report.ReportYear != 'Reception' %}
Year {{ Report.ReportYear }} 13+ Report<br />
{% endif %}
{{ Report.ReportTerm }} Term {{ Report.HeaderReportYear }}
</div>
<br>
<div  div='EOTHeadeTable'>
	<div style='float:left;'>
		<span>{{ Report.Pupil.FullName }}</span><br />
		<span>{{ Report.Form }}</span>
		<span><br /></span>
	</div>
	<div style='float:right'>
		<span>{{Report.TeacherNames.FormTeacher}}</span><br />
		{% if Report.PupilSchool != 'Clapham' %}
		{% if Report.PupilSchool == 'Clapham' %}
			<span>Absences (in half days): {{Report.Stats.ASAbsencesCount|floatformat}}</span><br />
		{% else %}
			{% if Report.ReportYear == 'Reception' and Report.PupilSchool == 'Fulham' %}
			<span>Absences (incl. optional half days): {{Report.Stats.ASAbsencesCount|floatformat}}</span><br />
			{% endif %}
			{% if Report.ReportYear != 'Reception' and Report.PupilSchool == 'Fulham' %}
			<span>Absences (in half days): {{Report.Stats.ASAbsencesCount|floatformat}}</span><br />
			{% else %}
			<span>Absences: {{Report.Stats.ASAbsencesCount|floatformat}}</span><br />
			{% endif %}
		{% endif %}
		<span>Lates: {{Report.Stats.AuthorisedLatesCount|floatformat}}</span>
		{% endif %}
	</div>
</div>
<br />
