
<div {% if Report.PupilSchool == 'Fulham' %} class='ReportHeaderFulham' {% else %} class='ReportHeader' {% endif %}>
{% load static from staticfiles %}
<img src="{% static "images/unicorn_small.jpg" %}" width="100" height="105" style="padding:12px;"/><br>
Thomas's {{Report.PupilSchool }}<br />
{% if Report.ReportYear == 'Reception' %}
{{ Report.ReportYear }} Report<br />
{% endif %}
{% if Report.ReportYear != 'Reception' %}
Year {{ Report.ReportYear }} {% if Report.PupilSchool != 'Battersea' %}Report{% endif %}
<!-- 11/13+ -->
{% if Report.ReportYear == 6 %}
	{% if ReportType == '11Plus' %}
		11&#43;
	{% endif %}
	{% if ReportType == '13Plus' %}
		13&#43;
	{% endif %}
{% endif %}
<!-- # -->
<br />
{% endif %}
{{ Report.ReportTerm }} Term {{ Report.HeaderReportYear }}
</div>
<br>
<div  div='EOTHeadeTable'>
	<div style='float:left;'>
		{% if Report.PupilSchool == 'Battersea' %}
		<span {% if Report.PupilSchool == 'Fulham' %} class='bold' {% endif %}>{{ Report.Pupil.Forename }} {{ Report.Pupil.Surname }}</span><br />
		{% else %}
		<span {% if Report.PupilSchool == 'Fulham' %} class='bold' {% endif %}>{{ Report.Pupil.FullName }}</span><br />
		{% endif %}
		<span>{{ Report.Form }}</span>
		<span><br /></span>
	</div>
	<div style='float:right'>
		<span>{% if Report.PupilSchool == 'Fulham' %}Teacher: {% endif %}{{Report.TeacherNames.FormTeacher}}</span><br />
	
	<!-- ATTENDANCE -->	
	{% if Report.PupilSchool != 'Kensington' %}
	{% if Report.PupilSchool != 'Clapham' %}
		{% if Report.PupilSchool == 'Clapham' or Report.PupilSchool == 'Kensington' %}
			<span>Absences (in half days): {{Report.Stats.ASAbsencesCount|floatformat}}</span><br />
		{% else %}
			{% if Report.ReportYear == 'Reception' and Report.PupilSchool == 'Fulham' %}
			<span>Absences (in half days): {{Report.Stats.ASAbsencesCount|floatformat}}</span><br />
			{% endif %}
			{% if not Report.ReportYear == 'Reception' and Report.PupilSchool == 'Fulham' %}
			<span>Absences (in half days): {{Report.Stats.ASAbsencesCount|floatformat}}</span><br />
			{% else %}
				{% if not Report.PupilSchool == 'Fulham' %}
				<span>Absences (in half days): {{Report.Stats.ASAbsencesCount|floatformat}}</span><br />
				{% endif %}
			{% endif %}
		{% endif %}
		<span>Lates: {{Report.Stats.AuthorisedLatesCount|floatformat}}</span>
	{% endif %}
	{% endif %}
	<!-- # -->
	
	</div>
</div>
<br />
{% if Report.PupilSchool == 'Fulham' %}
<br />
<br />
{% endif %}
