
<div {% if Report.PupilSchool == 'Fulham' %} class='ReportHeaderFulham' {% else %} class='ReportHeader' {% endif %}>
{% load static from staticfiles %}
<img src="{% static "images/unicorn_small.jpg" %}" width="100" height="105" style="padding:12px;"/><br>
Thomas's {{Report.PupilSchool }}<br />
<span>Extra Drama Report</span><br />
{{ Report.ReportTerm }} Term {{ Report.HeaderReportYear }}
</div>
<br>
<div  div='EOTHeadeTable'>
	<div style='float:left;'>
		<span {% if Report.PupilSchool == 'Fulham' %} class='bold' {% endif %}>{{ Report.Pupil.FullName }}</span><br />
		<span>{{ Report.Form }}</span>
	</div>
	<div style='float:right'>
		<span>{{ ThisReport.ExtraDrama.TeacherName }}</span><br />
		<span></span>
	</div>	
</div>
<br />
