
{% load WillowFilters %}
{% load static from staticfiles %}
<style>
table, tr, td {
	border:1px solid;
	border-collapse:collapse;
	{% if Report.PupilSchool != 'Fulham' %}
	font-size:0.9em;
	{% endif %}	
}

table {
	width: 100%;
	margin-top:20px;
	margin-bottom:20px;
}
</style>
<br />
<br />
{% if Report.PupilSchool == 'Clapham' %}
<table>
	<tr>
		<th colspan="2" style='text-align:center;font-weight:bold;background-color:#BFE4FF;font-size:0.9em;'>Extra Ballet</th>
	</tr>
	<tr>
		<td style='width:25%;'><span>Effort: {{ ThisReport.ExtraBallet.Current.Effort.0 }}</span></td>
		<td style='width:25%;'><span>Attainment: {{ ThisReport.ExtraBallet.Current.Attainment.0 }}</span></td>
	</tr>
	<tr>
		<td colspan="2"><span {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %}>{{ ThisReport.ExtraBallet.Current.Comment.0|StripSafe }}</span></td>
	</tr>
</table>
{% else %}
<table>
	<tr>
		<th style='text-align:center;font-weight:bold;background-color:#BFE4FF;font-size:0.9em;'>Extra Ballet</th>
	</tr>
	<tr>
		<td style='width:25%;'><span {% if Report.PupilSchool == 'Fulham' %}class='smallerFont' style='text-align:left;'{% endif %}>Effort: {{ ThisReport.ExtraBallet.Current.Effort.0 }}</span></td>
	</tr>
	<tr>
		<td><span {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %}>{{ ThisReport.ExtraBallet.Current.Comment.0|StripSafe }}</span></td>
	</tr>
</table>
{% endif %}
<br />
