
{% load WillowFilters %}
{% load static from staticfiles %}
<style>
table, tr, td {
	border:1px solid;
	border-collapse:collapse;
	{% if Report.PupilSchool != 'Fulham' %}
	font-size:0.9em;
	{% endif %}	
}

table {
	width: 100%;
	margin-top:20px;
	margin-bottom:20px;
}
</style>
<br />
<br />
<table>
	<tr>
		<th colspan='4' style='text-align:center;font-weight:bold;background-color:#BFE4FF;font-size:0.9em;'>Extra Drama</th>
	</tr>
	<tr>
		<td style='width:25%;'><span {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %}>Effort: {{ ThisReport.ExtraDrama.Current.Effort.0 }}</span></td>
		{%  if not Report.PupilSchool == 'Fulham' %}
		<td style='width:25%;'><span {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %}>Attainment: {{ ThisReport.ExtraDrama.Current.Attainment.0 }}</span></td>
		{% endif %}
		<td {% if not Report.PupilSchool == 'Fulham' %} colspan='4' {% else %} colspan='3' {% endif %} ></td>
	</tr>
	<tr>
		<td colspan='4'><span {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %}>{{ ThisReport.ExtraDrama.Current.Comment.0|StripSafe }}</span></td>
	</tr>
</table>
<br />
