
{% load WillowFilters %}
{% load static from staticfiles %}
<table class='ReportTable' style='width:100%;'>
	<tr style='background-color:#BFE4FF;'>
		<th {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %}>Targets</th>
	</tr>
	<tr>
		<td>
			<ul>
				{% if ThisReport.Form_Comment.Current.WrittenTarget1.0 %}
				<li>{{ ThisReport.Form_Comment.Current.WrittenTarget1.0|StripSafe }}</li>
				{% endif %}
				{% if ThisReport.Form_Comment.Current.WrittenTarget2.0 %}
				<li>{{ ThisReport.Form_Comment.Current.WrittenTarget2.0|StripSafe }}</li>
				{% endif %}
				{% if ThisReport.Form_Comment.Current.WrittenTarget3.0 %}
				<li>{{ ThisReport.Form_Comment.Current.WrittenTarget3.0|StripSafe }}</li>
				{% endif %}
				{% if ThisReport.Form_Comment.Current.WrittenTarget4.0 %}
				<li>{{ ThisReport.Form_Comment.Current.WrittenTarget4.0|StripSafe }}</li>
				{% endif %}
			</ul>
		</td>
	</tr>
</table>
<br>
