
<style>
{% load static from staticfiles %}
{% if Report.PupilSchool == 'Fulham' %}
#FormTutorAndHeadSignatureDiv {
	font-size:0.9em;
	font-weight:bold;
}
{% else %}
#FormTutorAndHeadSignatureDiv {
	font-size:1.1em;
	font-weight:bold;
}
{% endif %}

.FormTutorAndHeadSignature {
	width:33%;
	border-top:1px solid;
}

.FormTutorAndHeadSignatureNoBorder {
	width:33%;
}
</style>
<div id='FormTutorAndHeadSignatureDiv'>
<!-- BATTERSEA -->
{% if Report.PupilSchool == 'Battersea' %}
	{% if Report.ReportYear == 'Reception' or Report.ReportYear == 1 or Report.ReportYear == 2  %}
	<div class='FormTutorAndHeadSignature' style='float:left;'><span>Form Teacher</span></div>
	<div class='FormTutorAndHeadSignature' style='float:right;'><span>Head of Lower School</span></div>
	{% endif %}
	{% if Report.ReportYear == 3 or Report.ReportYear == 4 or Report.ReportYear == 5 %}
	<div class='FormTutorAndHeadSignature' style='float:left;'><span>Form Teacher</span></div>
	<div class='FormTutorAndHeadSignature' style='float:right;'><span>Head of Middle School</span></div>
	{% endif %}
	<!-- 11+ -->	
	{% if Report.ReportYear == 6 and ReportType == '11Plus' %}
	<div class='FormTutorAndHeadSignature' style='float:left;'><span>Assistant Headmistress</span></div>
	<div class='FormTutorAndHeadSignature' style='float:right;'><span>Headmaster</span></div>
	{% endif %}
	<!-- end -->	
	<!-- 13+ -->	
	{% if Report.ReportYear == 6 and ReportType == '13Plus' %}
	<div class='FormTutorAndHeadSignature' style='float:left;'><span>Head of Upper School</span></div>
	<div class='FormTutorAndHeadSignature' style='float:right;'><span>Headmaster</span></div>
	{% endif %}
	<!-- end -->	
	{% if Report.ReportYear == 7 or Report.ReportYear == 8 %}
	<div class='FormTutorAndHeadSignature' style='float:left;'><span>Head of Upper School</span></div>
	{% endif %}
{% endif %}
<!-- CLAPHAM -->
{% if Report.PupilSchool == 'Clapham' %}
	{% if Report.ReportYear == 'Reception' or Report.ReportYear == 1 or Report.ReportYear == 2 %}
	<div class='FormTutorAndHeadSignatureNoBorder' style='float:left;'><span></span></div>
	<div class='FormTutorAndHeadSignature' style='float:right;'><span>Head of Lower School</span></div>
	{% endif %}
	{% if Report.ReportYear == 3 or Report.ReportYear == 4 %}
	<div class='FormTutorAndHeadSignatureNoBorder' style='float:left;'><span></span></div>
	<div class='FormTutorAndHeadSignature' style='float:right;'><span>Head of Middle School</span></div>
	{% endif %}
	{% if Report.ReportYear == 5 or Report.ReportYear == 6 or Report.ReportYear == 7 or Report.ReportYear == 8 %}
	<div class='FormTutorAndHeadSignatureNoBorder' style='float:left;'><span></span></div>
	<div class='FormTutorAndHeadSignature' style='float:right;'><span>Headmaster</span></div>
	{% endif %}
{% endif %}
<!-- FULHAM -->
{% if Report.PupilSchool == 'Fulham' %}
	<div class='FormTutorAndHeadSignature' style='float:left;'><span>Classteacher</span></div>
	<div class='FormTutorAndHeadSignature' style='float:right;'><span>Headmistress</span></div>
{% endif %}
<!-- KENSINGTON -->
{% if Report.PupilSchool == 'Kensington' %}
	<div class='FormTutorAndHeadSignature' style='float:left;'><span>Form Teacher</span></div>
	<div class='FormTutorAndHeadSignature' style='float:right;'><span>Headmistress</span></div>
{% endif %}
</div>
