
{% load WillowFilters %}
{% load static from staticfiles %}
<table class='ReportTable' style='width:100%;font-size:14px !important'>
	<tr style='background-color:#BFE4FF;'>
		{% if Report.PupilSchool == 'Battersea' and  Report.ReportYear >= 6 %}
			<th>Form Tutor Comment</th>	
		{% else %}
			{% if Report.PupilSchool == 'Clapham' and  Report.ReportYear >= 7 %}
			<th>Tutor Report</th>	
			{% else %}
				{% if Report.PupilSchool == 'Clapham' %}
				<th>Form Teacher Report</th>			
				{% else %}		
				<th {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %}>{% if Report.PupilSchool == 'Fulham' %}Personal and Social Development{%else%}Form Comment{%endif%}
				</th>
				{% endif %}
			{% endif %}
		{% endif %}
	</tr>
	<tr>
		{% if Report.PupilSchool == 'Fulham' %}
		<td>{{ ThisReport.Form_Comment.Current.Comment.0|StripSafe }}</td>
		{% else %}
		<td style='font-size:14px !important'>{{ ThisReport.Form_Comment.Current.Comment.0|safe }}</td>
		{% endif %}
	</tr>
</table>
<br>
