{% load WillowFilters %}
<div class="table-row">

    <!-- ENGLISH -->
    {% if ThisSubject.Subject == 'English' %}
    <div class="subject footer-left no-bottom-border">Literacy</div>
    {% endif %}

    <!-- RE -->
    {% if ThisSubject.Subject == 'Religious_Education' %}
    <div class="subject footer-left no-bottom-border">RE</div>
    {% endif %}

    <!-- ART -->
    {% if ThisSubject.Subject == 'Art' %}
    <div class="subject footer-left no-bottom-border">Art and Design</div>
    {% endif %}

    <!-- Gym_Athletics -->
    {% if ThisSubject.Subject == 'Gym_Athletics' %}
        {% if Report.ReportTerm == 'Michaelmas' %}
            <div class="subject footer-left no-bottom-border">Gym</div>
        {% else %}
            <div class="subject footer-left no-bottom-border">Athletics</div>
        {% endif %}
    {% endif %}

    <!-- the rest -->
    {% if ThisSubject.Subject != 'English' and ThisSubject.Subject != 'Religious_Education' and ThisSubject.Subject != 'Art' and ThisSubject.Subject != 'Gym_Athletics' %}
    <div class="subject footer-left no-bottom-border">{{ ThisSubject.Subject|replaceSpace:'_' }}</div>
    {% endif %}

    <div class="effort no-bottom-border">{{ ThisSubject.Current.Effort.0 }}</div>
    <div class="attain no-bottom-border">{{ ThisSubject.Current.Attainment.0 }}</div>
    <div class="target no-bottom-border">
        {{ ThisSubject.Current.WrittenTarget1.0|safe }}
        {{ ThisSubject.Current.WrittenTarget2.0|safe }}
    </div>
    <div class="initial footer-right no-bottom-border">{{ ThisSubject.TeacherName }}</div>
</div>
</div>