{% load WillowFilters %}
<div class="blue-box height150 year5">
    <div class="blue-box-title">

        <!-- Literacy -->
        {% if ThisSubject.Subject == 'English' %}
        Literacy Comment<br /><br />
        {% endif %}

        <!-- Maths -->
        {% if ThisSubject.Subject == 'Mathematics' %}
        Maths Comment<br /><br />
        {% endif %}

        <!-- the rest -->
        {% if ThisSubject.Subject != 'Mathematics' and ThisSubject.Subject != 'English' %}
        {{ ThisSubject.Subject|replaceSpace:'_' }} Comment<br /><br />
        {% endif %}

        <span class="not-bold-2">{{ ThisSubject.Current.Comment.0|StripSafe }}</span>
    </div>
</div>