<div class="green-box-levels">
    <div class="levels-item border-right"><b>Levels</b></div>
    <div class="levels-item border-right"><b>Reading: </b>{{ ThisReport.English_Reading.Current.Level.0 }}</div>
    <div class="levels-item border-right"><b>Writing: </b>{{ ThisReport.English_Writing.Current.Level.0 }}</div>
    <div class="levels-item"><b>Maths: </b>{{ ThisReport.Mathematics.Current.Level.0 }}</div>
    <div class="clear"></div>
</div>