<div id="logo"><img id="logo-img" style='margin: 20px 0 3px 0;' src="{{STATIC_URL}}images/unicorn_small.jpg"></div>
<div id="logo-text">Thomas's {{Report.PupilSchool }}</div>
<div id="title-header">Year {{ Report.ReportYear }} Half term Targets {{ Report.ReportTerm }} {{ Report.HeaderReportYear }}</div>
