{% load WillowFilters %}
<div class="table-row">

    <!-- ENGLISH -->
    {% if ThisSubject.Subject == 'English' %}
    <div class="subject">Literacy</div>
    {% endif %}

    <!-- Maths -->
    {% if ThisSubject.Subject == 'Mathematics' %}
    <div class="subject">Maths</div>
    {% endif %}

    <!-- RE -->
    {% if ThisSubject.Subject == 'Religious_Education' %}
    <div class="subject">RE</div>
    {% endif %}

    <!-- ART -->
    {% if ThisSubject.Subject == 'Art' %}
    <div class="subject">Art &#38; Design</div>
    {% endif %}

    <!-- Gym_Athletics -->
    {% if ThisSubject.Subject == 'Gym_Athletics' %}
        {% if Report.ReportTerm == 'Michaelmas' %}
            <div class="subject">Gym</div>
        {% else %}
            <div class="subject">Athletics</div>
        {% endif %}
    {% endif %}

    <!-- the rest -->
    {% if ThisSubject.Subject != 'English' and ThisSubject.Subject != 'Religious_Education' and ThisSubject.Subject != 'Art' and ThisSubject.Subject != 'Gym_Athletics' and ThisSubject.Subject != 'Mathematics' %}
    <div class="subject">{{ ThisSubject.Subject|replaceSpace:'_' }}</div>
    {% endif %}

    <div class="effort">{{ ThisSubject.Current.Effort.0 }}</div>
    <div class="attain">{{ ThisSubject.Current.Attainment.0 }}</div>
    <div class="target">
        {{ ThisSubject.Current.WrittenTarget1.0|safe }}
        {{ ThisSubject.Current.WrittenTarget2.0|safe }}
    </div>
    <div class="initial">{{ ThisSubject.TeacherName }}</div>
</div>