{% load WillowFilters %}
<tbody>
	<tr class="data-row">
<!-- ENGLISH SPECIALS -->
{% if 'English' in ThisSubject.Subject %}		
	{% if ThisSubject.Subject == 'English' %}
		<td class="td-col-1"  >Literacy</td>
	{% endif %}		
	{% if ThisSubject.Subject == 'English_Reading' %}
		<td class="td-col-1"  >English - Reading</td>
	{% endif %}		
    {% if ThisSubject.Subject == 'English_Writing' %}
        <td class="td-col-1"  >English - Writing</td>
    {% endif %}
    {% if ThisSubject.Subject == 'English_Speaking' %}
        <td class="td-col-1" >English - Speaking and Listening</td>
    {% endif %}
{% endif %}
<!-- RE SPECIALS -->
{% if ThisSubject.Subject == 'Religious_Education' %}
	<td class="td-col-1" >RE&amp;P</td>
{% endif %}
<!-- Computing SPECIALS -->
{% if ThisSubject.Subject == 'Computing' %}
	<td class="td-col-1" >Computing</td>
{% endif %}
<!-- STANDARD SUBJECT -->
{% if ThisSubject.Subject != 'Religious_Education' and  'English' not in ThisSubject.Subject and ThisSubject.Subject != 'Computing' %}
		<td class="td-col-1">{{ ThisSubject.Subject|replaceSpace:'_' }}</td>
{% endif %}	
		<td class="td-col-2" style="border-left:1px solid black;">{{ ThisSubject.Current.Effort.0 }}</td>
		<td class="td-col-3" style="border-left:1px solid black;">{{ ThisSubject.Current.Attainment.0 }}</td>
		<td class="td-col-4" style="border-left:1px solid black;"><div class="comment">{{ ThisSubject.Current.Comment.0|StripSafe }}</div></td>
		<td class="td-col-5" style="border-left:1px solid black;">{{ ThisSubject.TeacherName }}</td>
	</tr>
</tbody>
