{% load WillowFilters %}
<div id="header-table">
	<div style='font-size:8px;margin:0;padding:0;'>
		<table>
			<tr class="content-row-1">
				<td class="rad-top-left" style='width:5%;' style='padding:2px; margin:2px;'></td>
				<td style='width:15%;' style='padding:2px; margin:2px;' class='left-border'><b>Standardised score (100 is standardised mean)</b></td>
				<td style='width:15%;' class='left-border' style='padding:2px; margin:2px;'><b>Year group mean</b></td>
				<td style='padding:2px; margin:2px; border-top-right-radius: 5px; -webkit-border-top-right-radius: 5px; border-left:1px solid black;'><b>Reasoning tests:<br />These relate to prior experience that is not part of the taught curriculum.  The perception and manipulation of relationships and content are assessed.</b></td>
			</tr>
			<tr class="content-row-10">
				<td style='padding:2px; margin:2px;'><b>NVR</b></td>
				<td style="text-align: center;" style='padding:2px; margin:2px;' class='left-border'><span class="bold">{{ this_report_cat.Form_Comment.Current.NonVerbalScore.0 }}</span></td>
				<td style="text-align: center;" style='padding:2px; margin:2px;' class='left-border'>{% SchoolVar "fulham_nvr_yr6" %}</td>
				<td style='padding:2px; margin:2px;' class='left-border'>Non–verbal reasoning processes using shapes and figures</td>
			</tr>
			<tr class="content-row-10">
				<td style='padding:2px; margin:2px;'><b>VR</b></td>
				<td style="text-align: center;" style='padding:2px; margin:2px;' class='left-border'><span class="bold">{{ this_report_cat.Form_Comment.Current.VerbalScore.0 }}</span></td>
				<td style="text-align: center;" style='padding:2px; margin:2px;' class='left-border'>{% SchoolVar "fulham_vr_yr6" %}</td>
				<td style='padding:2px; margin:2px;' class='left-border'>Verbal reasoning processes using shapes and figures</td>
			</tr>
			<tr class="content-row-11">
				<td style='padding:2px; margin:2px;'><b>Qu</b></td>
				<td style="text-align: center;" style='padding:2px; margin:2px;' class='left-border'><span class="bold">{{ this_report_cat.Form_Comment.Current.QuantativeScore.0 }}</span></td>
				<td style="text-align: center;" style='padding:2px; margin:2px;' class='left-border'>{% SchoolVar "fulham_qu_yr6" %}</td>
				<td style='padding:2px; margin:2px;' class='left-border'>Quantitative reasoning processes using numbers</td>
			</tr>
		</table>
	</div>
</div>
