<div id="logo"><img id="logo-img" src="{{STATIC_URL}}images/Unicorn_Colour.jpg"></div>
<div id="title-header">
    Year {{ Report.ReportYear }}
    <!-- 11/13+ -->
    {% if Report.ReportYear == 6 %}
        {% if ReportType == '11Plus' %}
            &nbsp;11&#43;
        {% endif %}
        {% if ReportType == '13Plus' %}
            &nbsp;13&#43;
        {% endif %}
    {% endif %}
    <!-- # -->
    <br>{{ Report.ReportTerm }} {{ Report.HeaderReportYear }} Summary and Targets
</div>
<div class="green-box-header year5">
    <div style="font-size: 22px" class="header-item border-right">{{ Report.Pupil.Forename }} {{ Report.Pupil.Surname }}</div>
    <div style="font-size: 22px" class="header-item border-right">{{Report.TeacherNames.FormTeacher}}</div>
    <div style="font-size: 22px" class="header-item">{{ Report.Form }}</div>
    <div class="clear"></div>
</div>