{% load WillowFilters %}
<div class="table-targets margint20">
    <div class="table-row">
        <div class="scores-header2 year6 border-right" style="border-radius: 8px 0 0 0;"></div>
        <div class="scores-header2 year6 border-right">Level Sum 14</div>
        <div class="scores-header2 year6 border-right">Level Mich 14</div>
        <div class="scores-header2 year6 border-right">Mich Exam %</div>
        {% if ReportType == '11Plus' %}
        <div class="scores-header2 year6 border-right">11+ Group Average</div>
        {% endif %}
        {% if ReportType == '13Plus' %}
        <div class="scores-header2 year6 border-right">13+ Group Average</div>
        {% endif %}
        {% if ReportType != '11Plus' and ReportType != '13Plus' %}
        <div class="scores-header2 year6 border-right">Group Average</div>
        {% endif %}
        <div class="scores-header2 year6" style="border-radius: 0 8px 0 0;">% Spread</div>
    </div>

{% if ReportType == '11Plus' %}
    <div class="table-row">
        <div class="scores-item2 border-right">Reading/ Comprehension</div>
        <div class="scores-item2 border-right">{% if  ThisReport.English_Reading.Previous.Level.0 %}{{  ThisReport.English_Reading.Previous.Level.0 }}{% else %}N/A{% endif %}</div>
        <div class="scores-item2 border-right">{{ ThisReport.English_Reading.Current.Level.0 }}</div>
        <div class="scores-item2 border-right">{{ ThisReport.English.Current.Exam2.0 }}</div>
        <div class="scores-item2 border-right">{{ ThisReport.English_Reading.Averages.Year.0 }}</div>
        <div class="scores-item2">{{ ThisReport.English_Reading.Averages.Spread.0 }}</div>
    </div>
    <div class="table-row">
        <div class="scores-item2 border-right">Writing</div>
        <div class="scores-item2 border-right">{% if  ThisReport.English_Writing.Previous.Level.0 %}{{  ThisReport.English_Writing.Previous.Level.0 }}{% else %}N/A{% endif %}</div>
        <div class="scores-item2 border-right">{{ ThisReport.English_Writing.Current.Level.0 }}</div>
        <div class="scores-item2 border-right">{{ ThisReport.English.Current.Exam1.0 }}</div>
        <div class="scores-item2 border-right">{{ ThisReport.English_Writing.Averages.Year.0 }}</div>
        <div class="scores-item2">{{ ThisReport.English_Writing.Averages.Spread.0 }}</div>
    </div>
    <div class="table-row">
        <div class="scores-item2 border-right footer-left no-bottom-border">Maths</div>
        <div class="scores-item2 border-right no-bottom-border">{% if  ThisReport.Mathematics.Previous.Level.0 %}{{  ThisReport.Mathematics.Previous.Level.0 }}{% else %}N/A{% endif %}</div>
        <div class="scores-item2 border-right no-bottom-border">{{ ThisReport.Mathematics.Current.Level.0 }}</div>
        <div class="scores-item2 border-right no-bottom-border year6 border-right">{{ ThisReport.Mathematics.Current.Exam1.0 }}</div>
        <div class="scores-item2 border-right no-bottom-border year6 border-right">{{ ThisReport.Mathematics.Averages.Year.0 }}</div>
        <div class="scores-item2 no-bottom-border footer-right year6">{{ ThisReport.Mathematics.Averages.Spread.0 }}</div>
    </div>
{% else %}
    <div class="table-row">
        <div class="scores-item2 border-right">Reading/ Comprehension</div>
        <div class="scores-item2 border-right">{% if  ThisReport.English_Reading.Previous.Level.0 %}{{  ThisReport.English_Reading.Previous.Level.0 }}{% else %}N/A{% endif %}</div>
        <div class="scores-item2 border-right">{{ ThisReport.English_Reading.Current.Level.0 }}</div>
        <div class="scores-item2 border-right">{{ ThisReport.English.Current.Exam2.0 }}</div>
        <div class="scores-item2 border-right">{{ ThisReport.English_Reading.Averages.Year.1 }}</div>
        <div class="scores-item2">{{ ThisReport.English_Reading.Averages.Spread.1 }}</div>
    </div>
    <div class="table-row">
        <div class="scores-item2 border-right">Writing</div>
        <div class="scores-item2 border-right">{% if  ThisReport.English_Writing.Previous.Level.0 %}{{  ThisReport.English_Writing.Previous.Level.0 }}{% else %}N/A{% endif %}</div>
        <div class="scores-item2 border-right">{{ ThisReport.English_Writing.Current.Level.0 }}</div>
        <div class="scores-item2 border-right">{{ ThisReport.English.Current.Exam1.0 }}</div>
        <div class="scores-item2 border-right">{{ ThisReport.English_Writing.Averages.Year.1 }}</div>
        <div class="scores-item2">{{ ThisReport.English_Writing.Averages.Spread.1 }}</div>
    </div>
    <div class="table-row">
        <div class="scores-item2 border-right footer-left no-bottom-border">Maths</div>
        <div class="scores-item2 border-right no-bottom-border">{% if  ThisReport.Mathematics.Previous.Level.0 %}{{  ThisReport.Mathematics.Previous.Level.0 }}{% else %}N/A{% endif %}</div>
        <div class="scores-item2 border-right no-bottom-border">{{ ThisReport.Mathematics.Current.Level.0 }}</div>
        <div class="scores-item2 border-right no-bottom-border year6 border-right">{{ ThisReport.Mathematics.Current.Exam1.0 }}</div>
        <div class="scores-item2 border-right no-bottom-border year6 border-right">{{ ThisReport.Mathematics.Averages.Year.1 }}</div>
        <div class="scores-item2 no-bottom-border footer-right year6">{{ ThisReport.Mathematics.Averages.Spread.1 }}</div>
    </div>
{% endif %}
</div>