{% load WillowFilters %}
<div class="blue-box height180 year5 2">
    <div class="blue-box-title">
        Teacher Comment<br /><br />
        <span class="not-bold-2">{{ ThisReport.Form_Comment.Current.Comment.0|StripSafe }}
        <!-- SPECIAL COMMENT FOR FOLLOWING PUPILS -->
        {% if 'Molly' in Report.Pupil.Forename and 'Longfield' in Report.Pupil.Surname %}
            <br /><br /><span style="color: #6E6E6E;">To clarify, the levels in Summer 2014 column are {{ Report.Pupil.Forename }}'s start levels from earlier this term</span>
        {% endif %}
        {% if 'Ella' in Report.Pupil.Forename and 'Sofuoglu' in Report.Pupil.Surname %}
            <br /><br /><span style="color: #6E6E6E;">To clarify, the levels in Summer 2014 column are {{ Report.Pupil.Forename }}'s start levels from earlier this term</span>
        {% endif %}
        </span>
    </div>
</div>