<div class="table-targets margint20">
    <div class="table-row">
        <div class="scores-header1 border-right"></div>
        <div class="scores-header2 border-right">Standardised score (100 is standardised mean)</div>
        <div class="scores-header3 border-right">Year group mean</div>
        <div class="scores-header4">
            Reasoning tests: These relate to prior experience that is not part of the taught curriculum. The perception and manipulation of relationships and content are assessed.
        </div>
    </div>
    <div class="table-row">
        <div class="scores-item1 border-right">VR</div>
        <div class="scores-item2 border-right">{{ this_report_cat.Form_Comment.Current.VerbalScore.0 }}</div>
        <div class="scores-item3 border-right">120</div>
        <div class="scores-item4">Verbal reasoning processes using the medium of words.</div>
    </div>
    <div class="table-row">
        <div class="scores-item1 border-right">NVR</div>
        <div class="scores-item2 border-right">{{ this_report_cat.Form_Comment.Current.NonVerbalScore.0 }}</div>
        <div class="scores-item3 border-right">123</div>
        <div class="scores-item4">Non-verbal reasoning processes using shapes and figures.</div>
    </div>
    <div class="table-row">
        <div class="scores-item1 border-right no-bottom-border footer-left">Qu</div>
        <div class="scores-item2 border-right no-bottom-border">{{ this_report_cat.Form_Comment.Current.QuantativeScore.0 }}</div>
        <div class="scores-item3 border-right no-bottom-border">121</div>
        <div class="scores-item4 no-border footer-right">Quantitative reasoning processes using numbers.</div>
    </div>
</div>