<div id="header-table">	
	<table>
		<tr class="content-row-1">
			<td class="rad-left"><b>{{ Report.Pupil.FullName }}</b></td>
			<td><b>{{Report.TeacherNames.FormTeacher}}</b></td>
			<td class="rad-right" class="rad-top-right"><b>{{ Report.Form }}</b></td>
		</tr>
		<!--<tr class="content-row-2">
			<td><b>NUMBER OF LATES:</b> </td>
			<td><b>ATTENDANCE:</b> </td>
			<td></td>
		</tr>-->
	</table>
</div>
