<div style="font-size: 22px;">
    <div id="logo"><img id="logo-img" src="{{STATIC_URL}}images/Unicorn_Colour.jpg"></div>
    <div id="title-header">Year {{ Report.ReportYear }}<br>{{ Report.ReportTerm }} {{ Report.HeaderReportYear }} Summary and Targets</div>
    <div class="green-box-header year5">
        <div class="header-item border-right">{{ Report.Pupil.Forename }} {{ Report.Pupil.Surname }}</div>
        <div class="header-item border-right">{{ ThisReport.LearningSupport.Current.TeacherName.0 }}</div>
        <div class="header-item">{{ Report.Form }}</div>
        <div class="clear"></div>
    </div>
</div>