
<div class='ReportHeader'>
{% load static from staticfiles %}
<img src="{% static "images/Unicorn_Small.jpg"%}" width="125" height="170" style="padding:12px;"/><br>
Thomas's {{Report.PupilSchool }}<br>
{{ ReportTitle }} {{ ReportYear }}
</div>
<table border=0 width='100%'>
	<tr>
		<td width='20%'>Pupil : {{ Report.Pupil.FullName }}</td><td width='15%'></td><td>Form Teacher: {{Report.TeacherNames.FormTeacher}}</td>
	</tr>
	<tr>
		<td>Class: {{ Report.Form }}</td><td></td><td>Absences: {{Report.Stats.ASAbsencesCount}}</td>
		<td><br></td><td><br></td><td>Lates: {{Report.Stats.UnathorisedLatesCount}}</td>
	</tr>
</table>
