
<div class='ReportHeader'>
{% load static from staticfiles %}
<img src="{% static "images/unicorn_small.jpg" %}" width="100" height="105" style="padding:12px;"/><br>
Thomas's {{Report.PupilSchool }}<br>
{% if 'Fulham' in Report.PupilSchool %}
Year {{ Report.ReportYear }} {% if '11Plus' in ReportType %}11+ {% endif %} {% if '13Plus' in ReportType %}13+ {% endif %}Half Term 
{% endif %}
{% if 'Clapham' in Report.PupilSchool %}
Year {{ Report.ReportYear }} Half Term Grade Sheet<br>
{% endif %}

{% if 'Battersea' in Report.PupilSchool %}
{{ Report.ReportTerm }} Term {{ Report.HeaderReportYear }}<br>
Half Term Effort Grades
{% else %}
{{ Report.ReportTerm }} {{ Report.HeaderReportYear }}
{% endif %}
</div>
<br>
<table border=0 width='100%'>
	<tr>
		<td width='40%'>{{ Report.Pupil.FullName }} {{ Report.Form }}</td>
		
		<td style='text-align:right;'>
			{% if 'Clapham' in Report.PupilSchool %}{% if Report.ReportYear > 5 %}Form Teacher{%else%}Class Teacher {% endif %}{% endif %}
			{% if 'Fulham' in Report.PupilSchool %}Classteacher: {{Report.TeacherNames.FormTeacher}}{% endif %}
			{% if not 'Fulham' in Report.PupilSchool %}
			{% if not 'Battersea' in Report.PupilSchool %}: {{Report.TeacherNames.FormTeacher}} {% endif %}
			{% endif %}</td>
	</tr>
</table><br>
