
{% load WillowFilters %}
{% load static from staticfiles %}
<style>
table, tr, td {
	border:1px solid;
	border-collapse:collapse;
	{% if Report.PupilSchool != 'Fulham' %}
	font-size:0.9em;
	{% endif %}	
}

table {
	width: 100%;
	margin-top:20px;
	margin-bottom:20px;
}
</style>
<br />
<br />
<table style='width:100%;'>
	<tr>
		<th style='text-align:center;font-weight:bold;background-color:#BFE4FF;font-size:0.9em;'>Learning Support</th>
	</tr>
	<tr>
		<td><span {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %}>{{ ThisReport.LearningSupport.Current.Comment.0|StripSafe }}</span></td>
	</tr>
</table>
<br />
