
{% load WillowFilters %}
{% load static from staticfiles %}
{% if ThisReport.IndividualMusic1.Current.Comment.0 %}
<style>
table, tr, td {
	border:1px solid;
	border-collapse:collapse;
	{% if Report.PupilSchool != 'Fulham' %}
	font-size:0.9em;
	{% endif %}
}

table {
	width: 100%;
	margin-top:20px;
	margin-bottom:20px;
}
</style>
<br />
<br />
<table>
	<tr>
		<th colspan='2' style='text-align:center;font-weight:bold;background-color:#BFE4FF;font-size:0.9em;'>{{ ThisReport.IndividualMusic1.Current.Instrument.0 }}</th>
		<th colspan='2' style='text-align:center;font-weight:bold;background-color:#BFE4FF;font-size:0.9em;'>{{ ThisReport.IndividualMusic1.Current.TeacherName.0 }}</th>
	</tr>
	<tr>
		<td style='width:25%;'><span {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %}>Effort: {{ ThisReport.IndividualMusic1.Current.Effort.0 }}</span></td>
		<td style='width:25%;'><span {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %}>Attainment: {{ ThisReport.IndividualMusic1.Current.Attainment.0 }}</span></td>
		<td colspan='3'></td>
	</tr>
	<tr>
		<td colspan='4'><span {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %}>{{ ThisReport.IndividualMusic1.Current.Comment.0|StripSafe }}</span></td>
	</tr>
</table>
<br />
{% endif %}
{% if ThisReport.IndividualMusic2.Current.Comment.0 %}
<table>
	<tr>
		<th colspan='2' style='text-align:center;font-weight:bold;background-color:#BFE4FF;font-size:0.9em;'>{{ ThisReport.IndividualMusic2.Current.Instrument.0 }}</th>
		<th colspan='2' style='text-align:center;font-weight:bold;background-color:#BFE4FF;font-size:0.9em;'>{{ ThisReport.IndividualMusic2.Current.TeacherName.0 }}</th>
	</tr>
	<tr>
		<td style='width:25%;'><span {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %}>Effort: {{ ThisReport.IndividualMusic2.Current.Effort.0 }}</span></td>
		<td style='width:25%;'><span {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %}>Attainment: {{ ThisReport.IndividualMusic2.Current.Attainment.0 }}</span></td>
		<td colspan='3'></td>
	</tr>
	<tr>
		<td colspan='4'><span {% if Report.PupilSchool == 'Fulham' %}class='smallerFont'{% endif %}>{{ ThisReport.IndividualMusic2.Current.Comment.0|StripSafe }}</span></td>
	</tr>
</table>
{% endif %}
