
<style>
{% load static from staticfiles %}
.NVR_VR_div
{
	text-align:left;	
	font-size:0.7em;
	font-weight:normal;
}

.NVR_VR_div table
{
border-collapse:collapse;
}
.NVR_VR_div table, th, td
{
border: 1px solid black;
}
</style>
<div class="NVR_VR_div" style="text-align:left;">
	{% if Report.ReportYear == 5 %}
	<table style="margin-top:5px;">
		<tr>
			<td>
			<span>
			Pupils completed English (comprehension and composition) and Mathematics ISEB 11+ practice papers to reflect their attainment prior to the 11+ and 13+ written pre-assessment process. An increase of approximately 10-20% is the anticipated level of progress by January 2015.
			</span>	
			<!-- old text <span>The percentages above provide information about pupil's performance in the recent assessments, having completed 11&#43; papers in English (composition and reading comprehension) and Mathematics. The percentage is a summative result from pupil's recent assessment.
			At this stage in Year {{ Report.ReportYear }} these results reflect attainment prior to the 11&#43; preparations process. An increase of the approximately 10-20&#37; is the anticipated level of progress by January 2015. For Example; if a pupil achieved 50&#37; in Maths in the Summer Term of Year {{ Report.ReportYear }} they could potentially score between 60-70%.</span> -->
			</td>
		</tr>
	</table>
	{% endif %}
	{% if Report.ReportYear == 6 %}
	<table style="margin-top:5px;width:100%;text-align:center;font-weight:0.9em;text-align:left;">
		<tr>
			<td>
			<span>The percentages above are a summative result from pupil's recent assessments.</span>
			</td>
		</tr>
	</table>
	{% endif %}
</div>
<div class="NVR_VR_div">
	<table style="margin:5px 0 5px 0;">
		<tr style='background-color:#BFE4FF;'>
			<th colspan="2">Cognitive Abilities Test (CAT) Standardised Score (100 is national average)</th>
			<th>Reasoning tests tap a general set of prior experience that is not part of the taught curriculum, assessing the perception and manipulation of relationships and content.</th>
		</tr>
		<tr>
			<tr>
				<td><span style="font-weight:bold;">NVR</span></td>
				<td><span style="text-align:center;">{{ this_report_cat.Form_Comment.Current.NonVerbalScore.0 }}</span></td>
				<td>Non-verbal reasoning processes using shapes and figures</td>
			</tr>
			<tr>
				<td><span style="font-weight:bold;">VR</span></td>
				<td><span style="text-align:center;">{{ this_report_cat.Form_Comment.Current.VerbalScore.0 }}</span></td>
				<td>Verbal reasoning processes using the medium of words</td>			
			</tr>
		</tr>
	</table>
</div>
