
{% load WillowFilters %}
{% load static from staticfiles %}
{% with ThisSubject=ThisReport.Form_Comment %}
<!-- Personal, Social and Emotional Development -->
<table class='ReportTable'>
		<tr>
			<td {% if Report.PupilSchool == 'Fulham' %}class='CommentTitleFulham'{% else %}class='CommentTitle'{% endif %}>Personal, Social and Emotional Development</td>
		</tr>
			<td style='text-align:left;'>{{ ThisSubject.Current.PSED.0|StripSafe }}</td>
		</tr>
</table>
<br/>

<!-- Maths -->
<table class='ReportTable'>
		<tr>
			<td {% if Report.PupilSchool == 'Fulham' %}class='CommentTitleFulham'{% else %}class='CommentTitle'{% endif %}>Mathematics</td>
		</tr>
			<td style='text-align:left;'>{{ ThisSubject.Current.MA.0|StripSafe }}</td>
		</tr>
</table> 
<br/>

<!-- Literacy -->
<table class='ReportTable'>
		<tr>
			<td {% if Report.PupilSchool == 'Fulham' %}class='CommentTitleFulham'{% else %}class='CommentTitle'{% endif %}>Literacy</td>
		</tr>
			<td style='text-align:left;'>{{ ThisSubject.Current.LI.0|StripSafe }}</td>
		</tr>
</table>
<br/>

<!-- Communication and Language -->
<table class='ReportTable'>
		<tr>
			<td {% if Report.PupilSchool == 'Fulham' %}class='CommentTitleFulham'{% else %}class='CommentTitle'{% endif %}>Communication and Language</td>
		</tr>
			<td style='text-align:left;'>{{ ThisSubject.Current.CL.0|StripSafe }}
			</td>
		</tr>
</table>
<br/>

<!-- Understanding the World -->
<table class='ReportTable'>
		<tr>
			<td {% if Report.PupilSchool == 'Fulham' %}class='CommentTitleFulham'{% else %}class='CommentTitle'{% endif %}>Understanding the World</td>
		</tr>
			<td style='text-align:left;'>{{ ThisSubject.Current.UW.0|StripSafe }}
			</td>
		</tr>
</table>

<!-- PAGE BREAK -->
<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}

<!-- Expressive Arts and Design -->
<table class='ReportTable'>
		<tr>
			<td {% if Report.PupilSchool == 'Fulham' %}class='CommentTitleFulham'{% else %}class='CommentTitle'{% endif %}>Expressive Arts and Design</td>
		</tr>
			<td style='text-align:left;'>{{ ThisSubject.Current.EAD.0|StripSafe }}
			</td>
		</tr>
</table>
<br/>

<!-- Physical Development -->
<table class='ReportTable'>
		<tr>
			<td {% if Report.PupilSchool == 'Fulham' %}class='CommentTitleFulham'{% else %}class='CommentTitle'{% endif %}>Physical Development</td>
		</tr>
			<td style='text-align:left;'>{{ ThisSubject.Current.PD.0|StripSafe }}
			</td>
		</tr>
</table>
<br/>

<!-- targets -->
{% if Report.PupilSchool != 'Clapham' %}
<table class='ReportTable'>
		<tr>
			<td {% if Report.PupilSchool == 'Fulham' %}class='CommentTitleFulham'{% else %}class='CommentTitle'{% endif %}>Targets</td>
		</tr>
			<td style='text-align:left;'>
				<ul>
					{% if ThisSubject.Current.WrittenTarget1.0 %}
					<li>{{ ThisSubject.Current.WrittenTarget1.0|StripSafe }}</li>
					{% endif %}
					{% if ThisSubject.Current.WrittenTarget2.0 %}
					<li>{{ ThisSubject.Current.WrittenTarget2.0|StripSafe }}</li>
					{% endif %}
					{% if ThisSubject.Current.WrittenTarget3.0 %}
					<li>{{ ThisSubject.Current.WrittenTarget3.0|StripSafe }}</li>
					{% endif %}
					{% if ThisSubject.Current.WrittenTarget4.0 %}
					<li>{{ ThisSubject.Current.WrittenTarget4.0|StripSafe }}</li>
					{% endif %}
				</ul>
			</td>
		</tr>
</table>

{% endif %}
<br/>
{% endwith %}
