
<tr>
{% load static from staticfiles %}
	<th><span class='notBoldForClapham'>Games</span></th>
	<td style='background-color:lightgrey;'><br /></td>
	<td style='text-align:center;' rowspan="2">{{ ThisReport.Games.Current.Level.0 }}</td>
	<td style='text-align:center;'>{{ ThisReport.Games.Current.Effort.0 }}</td>
	<td style='text-align:center;'>{% if ThisReport.Games.Current.Attainment.0 == '1' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{% if ThisReport.Games.Current.Attainment.0 == '2' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{% if ThisReport.Games.Current.Attainment.0 == '3' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td>{{ ThisReport.Music.TeacherName }}</td>
</tr>
<tr>
	<th><span class='notBoldForClapham'>Gym_Athletics</span></th>
	<td style='background-color:lightgrey;'><br /></td>
	<td style='text-align:center;'>{{ ThisReport.Gym_Athletics.Current.Effort.0 }}</td>
	<td style='text-align:center;'>{% if ThisReport.Gym_Athletics.Current.Attainment.0 == '1' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{% if ThisReport.Gym_Athletics.Current.Attainment.0 == '2' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{% if ThisReport.Gym_Athletics.Current.Attainment.0 == '3' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td>{{ ThisReport.Music.TeacherName }}</td>
</tr>
