
{% load WillowFilters %}
{% load static from staticfiles %}
<tr>
{% if Report.PupilSchool == 'Clapham' %}
    {% if ThisSubject.Subject == 'English_Reading' %}
	<th><span class='notBoldForClapham'>English - Reading</span></th>
    {% endif %}
    {% if ThisSubject.Subject == 'English_Writing' %}
        <th><span class='notBoldForClapham'>English - Writing</span></th>
    {% endif %}
    {% if ThisSubject.Subject == 'English_Speaking' %}
        <th><span class='notBoldForClapham'>English - Speaking and Listening</span></th>
    {% endif %}
{% else %}
	{% if Report.PupilSchool == 'Battersea' and ThisSubject.Subject == 'English_Speaking' %}
			<th><span class='notBoldForClapham'>English - Speaking &#38; Listening</span></th>
	{% else %}
		{% if ThisSubject.Subject == 'Gym_Athletics' %}
			{% if Report.ReportTerm == 'Michaelmas' %}
			<th><span class='notBoldForClapham'>Gym</span></th>
			{% else %}
			<th><span class='notBoldForClapham'>Athletics</span></th>
			{% endif %}
		{% else %}
			<th><span class='notBoldForClapham'>{{ ThisSubject.Subject|replaceSpace:'_' }}</span></th>
		{% endif %}
	{% endif %}
{% endif %}
	<td style='text-align:center;'>{% if ThisSubject.Previous.Level.0 %}{{ ThisSubject.Previous.Level.0 }}{% else %}N/A{% endif %}</td>
	<td style='text-align:center;'>{{ ThisSubject.Current.Level.0 }}</td>
	<td style="text-align:center;">{{ ThisSubject.TeacherName }}</td>
</tr>
