
<tr style='background-color:#BFE4FF;text-align:center;'>
{% load static from staticfiles %}
	<th style='width:20%;'>Subject</th>
	<th style='width:20%;'>Current Level</th>	
	<th style='width:20%;'>Effort</th>
	<th style='width:20%;'>Attainment</th>
	<th style='width:20%;'>Teacher</th>
</tr>
