
{% load WillowFilters %}
{% load static from staticfiles %}
{% if ThisSubject.Current.Effort.0 or ThisSubject.Current.Attainment.0 %}
<tr>
{% if Report.PupilSchool == 'Kensington' and ThisSubject.Subject == 'English_Speaking' %}
    <th><span class='notBoldForClapham'>English Speaking and Listening</span></th>
{% else %}
	{% if ThisSubject.Subject == 'Art' %}
		{% if Report.PupilSchool != 'Battersea' %}
		<th><span class='notBoldForClapham'>Art and DT</span></th>
		{% else %}
		<th><span class='notBoldForClapham'>Art</span></th>
		{% endif %}
	{% else %}
		{% if ThisSubject.Subject == 'Gym_Athletics' %}
			{% if Report.ReportTerm == 'Michaelmas' %}
		<th><span class='notBoldForClapham'>Gym</span></th>
			{% else %}
		<th><span class='notBoldForClapham'>Athletics </span></th>
			{% endif %}
		{% else %}
		<th><span class='notBoldForClapham'>{{ ThisSubject.Subject|replaceSpace:'_' }}</span></th>
		{% endif %}
	{% endif %}
{% endif %}
	<td style='text-align:center;'>{{ ThisSubject.Current.Effort.0 }}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '1' %}<img src="{% static "images/Tick.jpg" %}" width="20" height="20"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '2' %}<img src="{% static "images/Tick.jpg" %}" width="20" height="20"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '3' %}<img src="{% static "images/Tick.jpg" %}" width="20" height="20"/>{% else %}<br />{% endif %}</td>
	<td style="text-align:center;">{{ ThisSubject.TeacherName }}</td>	
</tr>
{% endif %}
