
{% load WillowFilters %}
{% load static from staticfiles %}
<tr>
	<th rowspan="2"><span class='notBoldForClapham'>{{ ThisSubject.Subject|replaceSpace:'_' }}</span></th>
	<td style='text-align:center;' rowspan="2">{% if ThisSubject.Previous.Level.0 %}{{ ThisSubject.Previous.Level.0 }}{% else %}N/A{% endif %}</td>
	<td style='text-align:center;' rowspan="2">{{ ThisSubject.Current.Level.0 }}</td>
	<td style='text-align:center;' rowspan="2">{{ ThisSubject.Current.Effort.0 }}</td>
	<td style='text-align:center;' rowspan="2">{% if ThisSubject.Current.Attainment.0 == '1' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;' rowspan="2">{% if ThisSubject.Current.Attainment.0 == '2' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;' rowspan="2">{% if ThisSubject.Current.Attainment.0 == '3' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Exam1.0 %}{{ ThisSubject.Current.Exam1.0 }}{% else %}N/A{% endif %}</td>
	<td style='text-align:center;' rowspan="2">
		{% if Report.PupilSchool == 'Clapham' %}
			{% if ThisSubject.Subject == 'Mathematics' %}
				{% if ReportType == '11Plus' %}
					{{ ThisSubject.Averages.Year_11Plus }}
				{% else %}
					{% if ReportType == '13Plus' %}
						{{ ThisSubject.Averages.Year_13Plus }}
					{% else %}
						{% if ThisSubject.YearAverage %}{{ ThisSubject.YearAverage }}{% else %}N/A{% endif %}
					{% endif %}
				{% endif %}
			{% else %}
				{% if ThisSubject.Subject == 'Science' %}
					{% if ReportType == '11Plus' %}
						{{ ThisSubject.Averages.Year_11Plus }}
					{% else %}
						{% if ReportType == '13Plus' %}
							{{ ThisSubject.Averages.Year_13Plus }}
						{% else %}
							{% if ThisSubject.YearAverage %}{{ ThisSubject.YearAverage }}{% else %}N/A{% endif %}
						{% endif %}
					{% endif %}
				{% else %}
					{% if ThisSubject.YearAverage %}{{ ThisSubject.YearAverage }}{% else %}N/A{% endif %}
				{% endif %}
			{% endif %}
		{% else %}
			{% if ThisSubject.YearAverage %}{{ ThisSubject.YearAverage }}{% else %}N/A{% endif %}
		{% endif %}
		</td>
	<td style="text-align:center;" rowspan="2">{{ ThisSubject.TeacherName }}</td>
</tr>
<tr>
	<td style='text-align:center;'>{% if ThisSubject.Current.Exam2.0 %}{{ ThisSubject.Current.Exam2.0 }}{% else %}N/A{% endif %}</td>	
</tr>
