
{% load WillowFilters %}
{% load static from staticfiles %}
<tr>
	<th><span class='notBoldForClapham'>English - Writing</span></th>
	<td style='text-align:center;'>{% if ThisSubject.Previous.Level.0 %}{{ ThisSubject.Previous.Level.0 }}{% else %}N/A{% endif %}</td>
	<td style='text-align:center;'>{{ ThisSubject.Current.Level.0 }}</td>	
	<td style='text-align:center;'>{{ ThisReport.English.Current.Exam2.0|floatformat }}</td>
	<td style='text-align:center;'>{% if ThisSubject.YearAverage %}{{ ThisSubject.YearAverage }}{% else %}N/A{% endif %}</td>
	<td style='text-align:center;'>{% if ThisSubject.SetAverage %}{{ ThisSubject.SetAverage }}{% else %}N/A{% endif %}</td>	
	<td style="text-align:center;">{{ ThisSubject.TeacherName }}</td>
</tr>
