
{% load WillowFilters %}
{% load static from staticfiles %}
<tr>
{% if Report.PupilSchool == 'Battersea' %}
    {% if ThisSubject.Subject == 'English_Reading' %}
	<th><span class='notBoldForClapham'>English:<br />Paper 1</span></th>
    {% endif %}
    {% if ThisSubject.Subject == 'English_Writing' %}
        <th><span class='notBoldForClapham'>English:<br />Paper 2</span></th>
    {% endif %}
    {% if ThisSubject.Subject == 'English_Speaking' %}
        <th><span class='notBoldForClapham'>English - Speaking and Listening</span></th>
    {% endif %}
{% else %}
	{% if ThisSubject.Subject == 'Gym_Athletics' %}
		{% if Report.ReportTerm == 'Michaelmas' %}
		<th><span class='notBoldForClapham'>Gym</span></th>
		{% else %}
		<th><span class='notBoldForClapham'>Athletics</span></th>
		{% endif %}
	{% else %}
		<th><span class='notBoldForClapham'>{{ ThisSubject.Subject|replaceSpace:'_' }}</span></th>
	{% endif %}
{% endif %}
	<td style='text-align:center;' rowspan='2'>{% ReadingWritingAverage ThisReport.English_Reading.Previous.Level ThisReport.English_Writing.Previous.Level %}</td>
	<td style='text-align:center;' rowspan='2'>{% ReadingWritingAverage ThisReport.English_Reading.Current.Level ThisReport.English_Writing.Current.Level %}</td>
	<td style='text-align:center;' rowspan='2'>{{ ThisReport.English.Current.Effort.0 }}</td>
	<td style='text-align:center;' rowspan='2'>{% if ThisReport.English.Current.Attainment.0 == '1' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;' rowspan='2'>{% if ThisReport.English.Current.Attainment.0 == '2' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;' rowspan='2'>{% if ThisReport.English.Current.Attainment.0 == '3' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{{ ThisReport.English.Current.Exam1.0|floatformat }}</td>
{% if Report.PupilSchool == 'Battersea' and ReportType == 'Type1' and Report.ReportYear == 8 %}
<td style='background-color:lightgrey;'><br /></td>
{% else %}
	{% if Report.PupilSchool == 'Battersea' and Report.ReportYear == 8 %}
	<td style='text-align:center;'>{% if ThisSubject.YearAverage %}{{ ThisSubject.YearAverage }}{% else %}N/A{% endif %}</td>
	{% else %}
	<td style='text-align:center;'>{% if ThisSubject.YearAverage %}{{ ThisSubject.YearAverage }}{% else %}N/A{% endif %}</td>
	{% endif %}
{% endif %}	
{% if Report.PupilSchool == 'Battersea' and ReportType == 'Type1' and Report.ReportYear == 8 %}
<td style='background-color:lightgrey;'><br /></td>
{% else %}
	<td style='text-align:center;'>{% if ThisSubject.SetAverage.0 %}{{ ThisSubject.SetAverage.0 }}{% else %}N/A{% endif %}</td>	
	{% endif %}
	<td style="text-align:center;">{{ ThisSubject.TeacherName }}</td>
</tr>
