
{% load WillowFilters %}
{% load static from staticfiles %}
<tr>
{% if ThisSubject.Subject == 'Gym_Athletics' %}
	{% if Report.ReportTerm == 'Michaelmas' %}
	<th><span class='notBoldForClapham'>Gym</span></th>
	{% else %}
	<th><span class='notBoldForClapham'>Athletics</span></th>
	{% endif %}
{% else %}
	<th><span class='notBoldForClapham'>{{ ThisSubject.Subject|replaceSpace:'_' }}</span></th>
{% endif %}
	<td style='text-align:center;'>{% if ThisSubject.Previous.Level.0 %}{{ ThisSubject.Previous.Level.0 }}{% else %}N/A{% endif %}</td>
	<td style='text-align:center;'>{{ ThisSubject.Current.Level.0 }}</td>
	<td style='text-align:center;'>{{ ThisSubject.Current.Effort.0 }}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '1' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '2' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '3' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Exam1.0 %}{{ ThisSubject.Current.Exam1.0|floatformat }}{% else %}N/A{% endif %}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Exam2.0 %}{{ ThisSubject.Current.Exam2.0|floatformat }}{% else %}N/A{% endif %}</td>
	{% if Report.PupilSchool == 'Clapham' %}
		{% if ReportType == 'Type1' %}
		<td style='text-align:center;'>{% if ThisSubject.Averages.Year1_type1 %}{{ ThisSubject.Averages.Year1_type1 }}{% else %}N/A{% endif %}</td>
		<td style='text-align:center;'>{% if ThisSubject.Averages.Year2_type1 %}{{ ThisSubject.Averages.Year2_type1 }}{% else %}N/A{% endif %}</td>
		{% else %}
		<td style='text-align:center;'>{% if ThisSubject.Averages.Year1 %}{{ ThisSubject.Averages.Year1 }}{% else %}N/A{% endif %}</td>
		<td style='text-align:center;'>{% if ThisSubject.Averages.Year2 %}{{ ThisSubject.Averages.Year2 }}{% else %}N/A{% endif %}</td>
		{% endif %}
	{% else %}	
	<td style='text-align:center;'>{% if ThisSubject.Averages.Exam1 %}{{ ThisSubject.Averages.Exam1 }}{% else %}N/A{% endif %}</td>
	<td style='text-align:center;'>{% if ThisSubject.Averages.Exam2 %}{{ ThisSubject.Averages.Exam2 }}{% else %}N/A{% endif %}</td>
	{% endif %}
	<td style='text-align:center;'>{% if ThisSubject.Current.Quartile.0 %}{{ ThisSubject.Current.Quartile.0 }}{% else %}N/A{% endif %}</td>
	<td style="text-align:center;">{{ ThisSubject.TeacherName }}</td>
</tr>
