
{% load WillowFilters %}
{% load static from staticfiles %}
<tr>
{% if Report.PupilSchool == 'Clapham' %}
    {% if ThisSubject.Subject == 'English_Reading' %}
	<th><span class='notBoldForClapham'>English - Reading</span></th>
    {% endif %}
    {% if ThisSubject.Subject == 'English_Writing' %}
        <th><span class='notBoldForClapham'>English - Writing</span></th>
    {% endif %}
    {% if ThisSubject.Subject == 'English_Speaking' %}
        <th><span class='notBoldForClapham'>English - Speaking and Listening</span></th>
    {% endif %}
{% else %}
	{% if ThisSubject.Subject == 'Gym_Athletics' %}
		{% if Report.ReportTerm == 'Michaelmas' %}
		<th><span class='notBoldForClapham'>Gym</span></th>
		{% else %}
		<th><span class='notBoldForClapham'>Athletics</span></th>
		{% endif %}
	{% else %}
		<th><span class='notBoldForClapham'>{{ ThisSubject.Subject|replaceSpace:'_' }}</span></th>
	{% endif %}
{% endif %}
	<td style='text-align:center;background-color:lightgrey;'></td>
	<td style='text-align:center;background-color:lightgrey;'></td>
	<td style='text-align:center;'>{{ ThisSubject.Current.Effort.0 }}</td>
	<td style='text-align:center;background-color:lightgrey;'></td>
	<td style='text-align:center;background-color:lightgrey;'></td>
	<td style='text-align:center;background-color:lightgrey;'></td>
	<td style='text-align:center;'>{% if ThisSubject.Exam %}{{ ThisSubject.Exam|floatformat }}{% else %}N/A{% endif %}</td>
    <!-- special paper average -->
    {% if ReportType == 'Type1' %}
    <td style='text-align:center;'>{{ ThisSubject.Averages.Type1 }}</td>
    {% endif %}
    {% if ReportType == 'Type2' %}
    <td style='text-align:center;'>{{ ThisSubject.Averages.Type2 }}</td>
    {% endif %}
    {% if ReportType == 'Type3' %}
    <td style='text-align:center;'>{{ ThisSubject.Averages.Type3 }}</td>
    {% endif %}
    {% if ReportType == 'Type4' %}
    <td style='text-align:center;'>{{ ThisSubject.Averages.Type4 }}</td>
    {% endif %}
    <!-- end -->
    <td style="text-align:center;">{{ ThisSubject.TeacherName }}</td>
</tr>
