
<tr style='background-color:#BFE4FF;text-align:center;'>
{% load static from staticfiles %}
	<th style='width:20%;' rowspan='2'>Subject</th>
	<th style='width:20%;' rowspan='2'>Effort</th>
	<th style='width:20%;' colspan='3'>Attainment</th>
	<th style='width:20%;' rowspan='2'>Teacher</th>
</tr>
<tr style='background-color:#BFE4FF;text-align:center;'>
	<th class='attainmentHeader'>1</th>
	<th class='attainmentHeader'>2</th>
	<th class='attainmentHeader'>3</th>
</tr>
