
{% load WillowFilters %}
{% load static from staticfiles %}
<tr>
{% if ThisSubject.Subject == 'Gym_Athletics' %}
	{% if Report.ReportTerm == 'Michaelmas' %}
	<th><span class='notBoldForClapham'>Gym</span></th>
	{% else %}
	<th><span class='notBoldForClapham'>Athletics</span></th>
	{% endif %}
{% else %}
	{% if Report.PupilSchool == 'Battersea' and ThisSubject.Subject == 'English_Speaking' %}
			<th><span class='notBoldForClapham'>English - Speaking &#38; Listening</span></th>
	{% else %}
		{% if Report.PupilSchool == 'Clapham' and ThisSubject.Subject == 'Art' or Report.PupilSchool == 'Fulham' and ThisSubject.Subject == 'Art' %}
		<th><span class='notBoldForClapham'>Art and Design Technology</span></th>
		{% else %}
		<th><span class='notBoldForClapham'>{{ ThisSubject.Subject|replaceSpace:'_' }}</span></th>    
		{% endif %}
	{% endif %}
{% endif %}
	<td style='background-color:lightgrey;'><br /></td>
	<td style='background-color:lightgrey;'><br /></td>
	<td style='text-align:center;'>{{ ThisSubject.Current.Effort.0 }}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '1' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '2' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '3' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style="text-align:center;">{{ ThisSubject.TeacherName }}</td>
</tr>
