
{% load WillowFilters %}
{% load static from staticfiles %}
<tr>
{% if Report.PupilSchool == 'Battersea' %}
    {% if ThisSubject.Subject == 'English_Reading' %}
	<th><span class='notBoldForClapham'>English:<br />Paper 1</span></th>
    {% endif %}
    {% if ThisSubject.Subject == 'English_Writing' %}
        <th><span class='notBoldForClapham'>English:<br />Paper 2</span></th>
    {% endif %}
    {% if ThisSubject.Subject == 'English_Speaking' %}
        <th><span class='notBoldForClapham'>English - Speaking and Listening</span></th>
    {% endif %}
{% else %}
	{% if ThisSubject.Subject == 'Gym_Athletics' %}
		{% if Report.ReportTerm == 'Michaelmas' %}
		<th><span class='notBoldForClapham'>Gym</span></th>
		{% else %}
		<th><span class='notBoldForClapham'>Athletics</span></th>
		{% endif %}
	{% else %}
		<th><span class='notBoldForClapham'>{{ ThisSubject.Subject|replaceSpace:'_' }}</span></th>
	{% endif %}
{% endif %}
{% if Report.PupilSchool == 'Battersea' and ReportType == 'Type1' and Report.ReportYear == 8 %}
<td style='background-color:lightgrey;'><br /></td>
{% else %}
	<td style='text-align:center;'>{{ ThisReport.English.Current.Exam2.0|floatformat }}</td>
{% endif %}
	{% if Report.PupilSchool == 'Battersea' and Report.ReportYear == 8 %}
{% if Report.PupilSchool == 'Battersea' and ReportType == 'Type1' and Report.ReportYear == 8 %}
<td style='background-color:lightgrey;'><br /></td>
{% else %}
	<td style='text-align:center;'>{% if ThisSubject.YearAverage %}{{ ThisSubject.YearAverage }}{% else %}N/A{% endif %}</td>
{% endif %}	
	{% else %}
	<td style='text-align:center;'>{% if ThisSubject.YearAverage %}{{ ThisSubject.YearAverage }}{% else %}N/A{% endif %}</td>
	{% endif %}
{% if Report.PupilSchool == 'Battersea' and ReportType == 'Type1' and Report.ReportYear == 8 %}
<td style='background-color:lightgrey;'><br /></td>
{% else %}
	<td style='text-align:center;'>{% if ThisSubject.SetAverage.1 %}{{ ThisSubject.SetAverage.1 }}{% else %}N/A{% endif %}</td>	
{% endif %}
	<td style="text-align:center;">{{ ThisSubject.TeacherName }}</td>
</tr>
