
{% load WillowFilters %}
{% load static from staticfiles %}
<tr>
{% if ThisSubject.Subject == 'Gym_Athletics' %}
	{% if Report.ReportTerm == 'Michaelmas' %}
	<th><span class='notBoldForClapham'>Gym</span></th>
	{% else %}
	<th><span class='notBoldForClapham'>Athletics</span></th>
	{% endif %}
{% else %}
	<th><span class='notBoldForClapham'>{{ ThisSubject.Subject|replaceSpace:'_' }}</span></th>
{% endif %}
	<td style='text-align:center;'>{% if ThisSubject.Previous.Level.0 %}{{ ThisSubject.Previous.Level.0 }}{% else %}N/A{% endif %}</td>
	<td style='text-align:center;'>{{ ThisSubject.Current.Level.0 }}</td>
	<td style='background-color:lightgrey;'><br /></td>
	<td style='text-align:center;'>{% if ThisSubject.YearAverage %}{{ ThisSubject.YearAverage }}{% else %}N/A{% endif %}</td>
	<td style='text-align:center;'>{% if ThisSubject.SetAverage %}{{ ThisSubject.SetAverage }}{% else %}N/A{% endif %}</td>	
	<td style="text-align:center;">{{ ThisSubject.TeacherName }}</td>
</tr>
