
{% load WillowFilters %}
{% load static from staticfiles %}
<tr>
{% if ThisSubject.Subject == 'Gym_Athletics' %}
	{% if Report.ReportTerm == 'Michaelmas' %}
	<th><span class='notBoldForClapham'>Gym</span></th>
	{% else %}
	<th><span class='notBoldForClapham'>Athletics</span></th>
	{% endif %}
{% else %}
	{% if ThisSubject.Subject == 'Religious_Education' %}
	<th><span class='notBoldForClapham'>RE</span></th>
	{% else %}
	<th><span class='notBoldForClapham'>{{ ThisSubject.Subject|replaceSpace:'_' }}</span></th>
	{% endif %}
{% endif %}
	<td style='background-color:lightgrey;'></td>
	<td style='background-color:lightgrey;'></td>
	<td style='text-align:center;'>{{ ThisSubject.Current.Effort.0 }}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '1' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '2' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '3' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	{% if ThisSubject.Exam %}
    <td style='text-align:center;'>{{ ThisSubject.Exam|floatformat }}</td>
        {% if Report.PupilSchool == 'Battersea' and ReportType == 'Type1' and Report.ReportYear == 8 %}
        <td style='background-color:lightgrey;'><br /></td>
        {% else %}
            <td style='text-align:center;'>{% if ThisSubject.YearAverage %}{{ ThisSubject.YearAverage }}{% else %}N/A{% endif %}</td>
        {% endif %}
        {% if Report.PupilSchool == 'Battersea' and ReportType == 'Type1' and Report.ReportYear == 8 %}
        <td style='background-color:lightgrey;'><br /></td>
        {% else %}
            <td style='text-align:center;'>{% if ThisSubject.SetAverage %}{{ ThisSubject.SetAverage }}{% else %}N/A{% endif %}</td>
        {% endif %}
    {% else %}
    <td style='background-color:lightgrey;'></td>
    <td style='background-color:lightgrey;'></td>
    <td style='background-color:lightgrey;'></td>
    {% endif %}
    <td style="text-align:center;">{{ ThisSubject.TeacherName }}</td>
</tr>
