
{% load WillowFilters %}	
{% load static from staticfiles %}
	<tr>
{% if Report.PupilSchool == 'Clapham' %}
    {% if ThisSubject.Subject == 'English_Reading' %}
	<th><span class='notBoldForClapham'>English - Reading</span></th>
    {% endif %}
    {% if ThisSubject.Subject == 'English_Writing' %}
        <th><span class='notBoldForClapham'>English - Writing</span></th>
    {% endif %}
    {% if ThisSubject.Subject == 'English_Speaking' %}
        <th><span class='notBoldForClapham'>English - Speaking and Listening</span></th>
    {% endif %}
{% else %}
		<th><span class='notBoldForClapham'>{{ ThisSubject.Subject|replaceSpace:'_' }}</span></th>
{% endif %}
		<td style='text-align:center;'>{% if ThisSubject.Previous.Level.0 %}{{ ThisSubject.Previous.Level.0 }}{% else %}N/A{% endif %}</td>
		<td style='text-align:center;'>{{ ThisSubject.Current.Level.0 }}</td>
		<td style='text-align:center;' rowspan='3'>{{ ThisReport.English.Current.Effort.0 }}</td>
		<td style='text-align:center;' rowspan='3'>{% if ThisReport.English.Current.Attainment.0 == '1' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
		<td style='text-align:center;' rowspan='3'>{% if ThisReport.English.Current.Attainment.0 == '2' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
		<td style='text-align:center;' rowspan='3'>{% if ThisReport.English.Current.Attainment.0 == '3' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
		<td style='text-align:center;'>{{ ThisReport.English.Current.Exam1.0|floatformat }}</td>
		<td style='text-align:center;'>
		{% if Report.PupilSchool == 'Clapham' %}
			{% if ReportType == '11Plus' %}
				{{ ThisReport.English.Averages.YearExam1_11plus }}
			{% else %}
				{% if ReportType == '13Plus' %}
					{{ ThisReport.English.Averages.YearExam1_13plus }}
				{% else %}
					{{ ThisReport.English.Averages.YearRd }}
				{% endif %}
			{% endif %}
		{% else %}	
			{{ ThisReport.English.Averages.YearRd }}
		{% endif %}			
			</td>
		<td style="text-align:center;">{{ ThisSubject.TeacherName }}</td>
	</tr>
