
{% load WillowFilters %}	
{% load static from staticfiles %}
	<tr>
{% if Report.PupilSchool == 'Clapham' %}
    {% if ThisSubject.Subject == 'English_Reading' %}
	<th><span class='notBoldForClapham'>English - Reading</span></th>
    {% endif %}
    {% if ThisSubject.Subject == 'English_Writing' %}
        <th><span class='notBoldForClapham'>English - Writing</span></th>
    {% endif %}
    {% if ThisSubject.Subject == 'English_Speaking' %}
        <th><span class='notBoldForClapham'>English - Speaking and Listening</span></th>
    {% endif %}
{% else %}
		<th><span class='notBoldForClapham'>{{ ThisSubject.Subject|replaceSpace:'_' }}</span></th>
{% endif %}
		<td style='text-align:center;' >{{ ThisReport.English_Reading.Previous.Level.0 }}</td>
		<td style='text-align:center;' >{{ ThisReport.English_Reading.Current.Level.0 }}</td>
		<td style='text-align:center;' rowspan='2'>{{ ThisReport.English.Current.Effort.0 }}</td>
		<td style='text-align:center;' rowspan='2'>{% if ThisReport.English.Current.Attainment.0 == '1' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
		<td style='text-align:center;' rowspan='2'>{% if ThisReport.English.Current.Attainment.0 == '2' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
		<td style='text-align:center;' rowspan='2'>{% if ThisReport.English.Current.Attainment.0 == '3' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
		<td style='text-align:center;' colspan='2'>{{ ThisReport.English.Current.Exam1.0|floatformat }}</td>
		{% if Report.PupilSchool == 'Clapham' %}
			{% if ReportType == 'Type1' %}
			<td style='text-align:center;' colspan='2'>{{ ThisReport.English.Averages.Year1_type1 }}</td>	
			{% else %}
			<td style='text-align:center;' colspan='2'>{{ ThisReport.English.Averages.Year1 }}</td>	
			{% endif %}
		{% else %}
		<td style='text-align:center;' colspan='2'>{{ ThisReport.English_Reading.Averages.YearRd }}</td>
		{% endif %}
		<td style='text-align:center;'>{% if ThisSubject.Current.Quartile.0 %}{{ ThisSubject.Current.Quartile.0 }}{% else %}N/A{% endif %}</td>	
		<td style="text-align:center;">{{ ThisSubject.TeacherName }}</td>
	</tr>
