
{% load WillowFilters %}
{% load static from staticfiles %}
<tr>
{% if ThisSubject.Subject == 'Gym_Athletics' %}
	{% if Report.ReportTerm == 'Michaelmas' %}
	<th><span class='notBoldForClapham'>Gym</span></th>
	{% else %}
	<th><span class='notBoldForClapham'>Athletics</span></th>
	{% endif %}
{% else %}
	{% if ThisSubject.Subject == 'Religious_Education' %}
	<th><span class='notBoldForClapham'>RE</span></th>
	{% else %}
	<th><span class='notBoldForClapham'>{{ ThisSubject.Subject|replaceSpace:'_' }}</span></th>
	{% endif %}
{% endif %}
	<td style='background-color:lightgrey;'></td>
	<td style='background-color:lightgrey;'></td>
	<td style='text-align:center;'>{{ ThisSubject.Current.Effort.0 }}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '1' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '2' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '3' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	{% if ThisSubject.Subject == 'Religious_Education' %}
        {% if ReportType == 'Type3' %}
            <td style='text-align:center;'>{% if ThisSubject.Exam %}{{ ThisSubject.Exam|floatformat }}{% else %}N/A{% endif %}</td>
        {% else %}
            <td style='background-color:lightgrey;'></td>
        {% endif %}
    {% else %}
        <td style='text-align:center;'>{% if ThisSubject.Exam %}{{ ThisSubject.Exam|floatformat }}{% else %}N/A{% endif %}</td>
    {% endif %}
    <!-- special paper average -->
    {% if ThisSubject.Subject == 'Religious_Education' %}
        {% if ReportType == 'Type3' %}
            <td style='text-align:center;'>{{ ThisSubject.Averages.Type3 }}</td>
        {% else %}
            <td style='background-color:lightgrey;'></td>
        {% endif %}
    {% else %}
        {% if ReportType == 'Type1' %}
            <td style='text-align:center;'>{{ ThisSubject.Averages.Type1 }}</td>
        {% endif %}
        {% if ReportType == 'Type2' %}
            <td style='text-align:center;'>{{ ThisSubject.Averages.Type2 }}</td>
        {% endif %}
        {% if ReportType == 'Type3' %}
            <td style='text-align:center;'>{{ ThisSubject.Averages.Type3 }}</td>
        {% endif %}
        {% if ReportType == 'Type4' %}
            <td style='text-align:center;'>{{ ThisSubject.Averages.Type4 }}</td>
        {% endif %}
    {% endif %}
    <!-- end -->
    <td style="text-align:center;">{{ ThisSubject.TeacherName }}</td>
</tr>
