
<tr style='background-color:#BFE4FF;text-align:center;'>
{% load static from staticfiles %}
	<th rowspan='2'>Subject</th>
	<th style='width:12%;' rowspan='2'>Level<br />Mich<br />2013</th>	
	<th style='width:12%;' rowspan='2'>Level<br />Sum<br />{{ Report.HeaderReportYear }}</th>
	<th style='width:12%;' rowspan='2'>Effort</th>
	<th style='width:12%;' colspan='3'>Attainment</th>
	<th style='width:12%;' rowspan='2'>
	{% if Report.ReportTerm == 'Michaelmas' %}
		Mich
	{% endif %}	
	{% if Report.ReportTerm == 'Lent' %}
		Lent
	{% endif %}
	{% if Report.ReportTerm == 'Summer' %}
		Summer
	{% endif %}
	<br />Exam<br />%</th>
	<th style='width:12%;' rowspan='2'>Year<br />Group<br />Average</th>
	<th style='width:12%;' rowspan='2'>Teacher</th>
</tr>
<tr style='background-color:#BFE4FF;'>
	<th class='attainmentHeader'>1</th>
	<th class='attainmentHeader'>2</th>
	<th class='attainmentHeader'>3</th>
</tr>
