
{% load WillowFilters %}
{% load static from staticfiles %}
<tr>
	<th><span class='notBoldForClapham'>Games (Lent)</span></th>
	<td style='background-color:lightgrey;'><br /></td>
	<td style='text-align:center;'>{% if this_report_lent.Games.Current.Level.0 %}{{ this_report_lent.Games.Current.Level.0 }}{% else %}N/A{% endif %}</td>
	<td style='background-color:lightgrey;' style='text-align:center;'><br/></td>
	<td style='background-color:lightgrey;' style='text-align:center;'><br /></td>
	<td style='background-color:lightgrey;' style='text-align:center;'><br /></td>
	<td style='background-color:lightgrey;' style='text-align:center;'><br /></td>
	<td style='text-align:center;'>{{ ThisReport.Games.TeacherName }}</td>
</tr>
