
{% load WillowFilters %}
{% load static from staticfiles %}
<tr>
{% if ThisSubject.Subject == 'Gym_Athletics' %}
	{% if Report.ReportTerm == 'Michaelmas' %}
	<th><span class='notBoldForClapham'>Gym</span></th>
	{% else %}
	<th><span class='notBoldForClapham'>Athletics</span></th>
	{% endif %}
{% else %}
	<th><span class='notBoldForClapham'>{{ ThisSubject.Subject|replaceSpace:'_' }}</span></th>
{% endif %}
	<td style='text-align:center;'>{% if ThisSubject.Previous.Level.0 %}{{ ThisSubject.Previous.Level.0 }}{% else %}N/A{% endif %}</td>
	<td style='text-align:center;'>{{ ThisSubject.Current.Level.0 }}</td>
	<td style='text-align:center;'>{{ ThisSubject.Current.Effort.0 }}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '1' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '2' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '3' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{% if ThisSubject.Exam %}{{ ThisSubject.Exam|floatformat }}{% else %}N/A{% endif %}</td>
	<td style='text-align:center;'>
		{% if Report.PupilSchool == 'Clapham' %}
			{% if ThisSubject.Subject == 'Mathematics' %}
				{% if ReportType == '11Plus' %}
					{{ ThisSubject.Averages.Year_11Plus }}
				{% else %}
					{% if ReportType == '13Plus' %}
						{{ ThisSubject.Averages.Year_13Plus }}
					{% else %}
						{% if ThisSubject.YearAverage %}{{ ThisSubject.YearAverage }}{% else %}N/A{% endif %}
					{% endif %}
				{% endif %}
			{% else %}
				{% if ThisSubject.Subject == 'Science' %}
					{% if ReportType == '11Plus' %}
						{{ ThisSubject.Averages.Year_11Plus }}
					{% else %}
						{% if ReportType == '13Plus' %}
							{{ ThisSubject.Averages.Year_13Plus }}
						{% else %}
							{% if ThisSubject.YearAverage %}{{ ThisSubject.YearAverage }}{% else %}N/A{% endif %}
						{% endif %}
					{% endif %}
				{% else %}
					{% if ThisSubject.YearAverage %}{{ ThisSubject.YearAverage }}{% else %}N/A{% endif %}
				{% endif %}
			{% endif %}
		{% else %}
			{% if ThisSubject.YearAverage %}{{ ThisSubject.YearAverage }}{% else %}N/A{% endif %}
		{% endif %}
		</td>
	<td style="text-align:center;">{{ ThisSubject.TeacherName }}</td>
</tr>
