
{% load WillowFilters %}
{% load static from staticfiles %}
{% if 'Reading' in ThisSubject.Subject %}
	<tr>
		<th><span class='notBoldForClapham'>{{ ThisSubject.Subject|replaceSpace:'_' }}</span></th>
		<td style='text-align:center;'>{% if ThisSubject.Previous.Level.0 %}{{ ThisSubject.Previous.Level.0 }}{% else %}N/A{% endif %}</td>
		<td style='text-align:center;'>{{ ThisSubject.Current.Level.0 }}</td>
		<td style='text-align:center;' rowspan='3'>{{ ThisSubject.Current.Effort.0 }}</td>
		<td style='text-align:center;' rowspan='3'>{% if ThisSubject.Current.Attainment.0 == '1' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
		<td style='text-align:center;' rowspan='3'>{% if ThisSubject.Current.Attainment.0 == '2' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
		<td style='text-align:center;' rowspan='3'>{% if ThisSubject.Current.Attainment.0 == '3' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
		<td style="text-align:center;">{{ ThisSubject.TeacherName }}</td>
	</tr>
{% endif%}
{% if 'Writing' in ThisSubject.Subject %}
	<tr>
		<th><span class='notBoldForClapham'>{{ ThisSubject.Subject|replaceSpace:'_' }}</span></th>
		<td style='text-align:center;'>{% if ThisSubject.Previous.Level.0 %}{{ ThisSubject.Previous.Level.0 }}{% else %}N/A{% endif %}</td>
		<td style='text-align:center;'>{{ ThisSubject.Current.Level.0 }}</td>
		<td style="text-align:center;">{{ ThisSubject.TeacherName }}</td>
	</tr>
{% endif %}
{% if 'Speaking' in ThisSubject.Subject %}
	<tr>
		<th><span class='notBoldForClapham'>{{ ThisSubject.Subject|replaceSpace:'_' }}</span></th>
		<td style='text-align:center;'>{% if ThisSubject.Previous.Level.0 %}{{ ThisSubject.Previous.Level.0 }}{% else %}N/A{% endif %}</td>
		<td style='text-align:center;'>{{ ThisSubject.Current.Level.0 }}</td>
		<td style="text-align:center;">{{ ThisSubject.TeacherName }}</td>
	</tr>
{% endif %}
