
{% load WillowFilters %}
{% load static from staticfiles %}
{% if ThisSubject.Current.Effort.0 or ThisSubject.Current.Attainment.0 %}
<tr>
<!-- subject name -->
{% if 'English' in ThisSubject.Subject %}
    {% if ThisSubject.Subject == 'English_Reading' %}
	<th>English (Reading)</th>
    {% endif %}
    {% if ThisSubject.Subject == 'English_Writing' %}
    <th>English (Writing)</th>
    {% endif %}
    {% if ThisSubject.Subject == 'English_Speaking' %}
    <th>English (Speaking &#38; Listening)</th>
    {% endif %}
{% else %}
	{% if 'Gym_Athletics' in ThisSubject.Subject and Report.PupilSchool == 'Kensington' %}
	<th>Gym/Athletics</th>
	{% else %}
	<th>{{ ThisSubject.Subject }}</th>
	{% endif %}
{% endif %}
<!-- current level -->
	<td style='text-align:center;'>{{ ThisSubject.Current.Level.0 }}</td>
<!-- effort -->
	<td style='text-align:center;'>{{ ThisSubject.Current.Effort.0 }}</td>
<!-- attainment -->
	<td style='text-align:center;'>{{ ThisSubject.Current.Attainment.0 }}</td>
<!-- teacher -->
	<td style="text-align:center;">{{ ThisSubject.TeacherName }}</td>
</tr>
{% endif %}
