
<div style='font-weight:bold;text-align:center;'>
{% load static from staticfiles %}
	<span>Thomas's {{Report.PupilSchool }} Report, {{ Report.ReportTerm }} Term {{ Report.HeaderReportYear }}</span>
</div>
