<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr" ng-app="">
<head>
<title>{{ class.ClassListName }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
	
body{ margin: 0; padding: 5px 15px 15px 15px; font-family: "Gill Sans MT", Calibri, sans-serif; background: fff; text-align: center; line-height: 1em; font-size: 12px; }
#main-wrapper{ width: 960px; display: block; margin: 0 auto; }
#logo-text{ font-weight: bold; line-height: 1em; margin-top: -5px; }
#logo-img{ width: 80px; }
#title-header{ background: #270188; border-radius: 8px; margin: 10px 0 5px 0; color: #fff; font-weight: bold; font-size: 16px; padding: 8px; }

#header-table ,
#content-table-1,
#content-table-2{ font-size: 12px; border-radius: 8px; overflow: hidden; margin: 5px 0; }

#content-table-2{ border: 1px solid #999; }

#header-table table,
#content-table-1 table,
#content-table-2 table{ border-collapse: collapse; width: 100%; }

#content-table-1 table tr.data-row-form{ height: 6em; overflow: hidden; }
#content-table-1 table tr.data-row{ height: 3em; overflow: hidden; }
#content-table-1 table td .comment{ height: 3em; overflow: hidden; line-height: 1em; text-align: left; }
#content-table-1 table td .large-comment{ height: 5em; overflow: hidden; line-height: 1em; text-align: left; }

#content-table-1 table th{ padding: 5px 5px; color: #fff; border: 1px solid #777; }
#content-table-1 table td{ padding: 3px 5px; border: 1px solid #bbb; }
#content-table-2 table tr td,
#header-table table tr td{ text-align: left; }
#content-table-2 td,
#header-table td{ padding: 5px; }

#header-table td:first-child,
#content-table-2 td:first-child{ border-right: 1px solid #aaa; }

#header-table td:last-child,
#content-table-2 td:last-child{ border-left: 1px solid #aaa; }

.th-col-1,.th-col-2,.th-col-3,
.td-col-1,.td-col-2,.td-col-3{ width: 10%; font-weight: bold; }
.th-col-1{ background: #EE2E2B; }
.th-col-2{ background: #0D763C; }
.th-col-3{ background: #FCAF28; }
.th-col-4{ background: #418ECC; }
.th-col-5{ background: #83165E; width: 7%; }

.td-col-1{ background: #FCDFD0; }
.td-col-2{ background: #D7E1D5; }
.td-col-3{ background: #FEF1DA; }
.td-col-4{ background: #DFE8F6; }
.td-col-5{ background: #E5D2DC; width: 7%; }

.content-row-1{ background: #D7E1D5; border-bottom: 1px solid #aaa; }
.content-row-2{ background: #FEF1DA; border-bottom: 1px solid #aaa; }
.content-row-3{ background: #DFE8F6; }

.no-border{ border: 0 !important; }


	
</style>
</head>
<body>
{% block ReportTemplate %}{% endblock %}
</body></html>
