<div class="blue-box height130 year5">
    <div class="blue-box-title">
        {% if ThisSubject.Subject == 'English' %}
        Literacy Comment<br />
        {% else %}
        {{ ThisSubject.Subject|replaceSpace:'_' }} Comment<br />
        {% endif %}
        {{ ThisSubject.Current.Comment.0|StripSafe }}
    </div>
</div>