<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr" ng-app="">
<head>
<title>{{ class.ClassListName }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
	
body{margin: 0 20px 20px 20px; padding: 0; "Gill Sans", "Gill Sans MT", Calibri, sans-serif; background: fff; text-align: center; line-height: 1em; font-size: 10px; }
#main-wrapper{ width: 960px; display: block; margin: 0 auto; }
#logo-text{ font-weight: bold; line-height: 1em; margin-top: -5px; }
#logo-img{ width: 80px; }
#title-header{color: black; font-weight: bold; font-size: 10px; }

#header-table ,
#content-table-1,
#content-table-2{ font-size: 12px; overflow: hidden; margin: 5px 0;}

table { border: 1px solid black; border-radius: 5px; -webkit-border-radius: 5px; border-spacing: 0 }
td, tr { }

#content-table-2{ }

#header-table table,
#content-table-1 table,
#content-table-2 table{ width: 100%; }

#content-table-1 table tr.data-row-form{ height: 6em; overflow: hidden; }
#content-table-1 table tr.data-row{ height: 3em; overflow: hidden; }
#content-table-1 table td .comment{ height: 3em; overflow: hidden; line-height: 1em; text-align: left; }
#content-table-1 table th{ padding: 5px 5px; color: black; }
#content-table-1 table td{ padding: 3px 5px; }
#content-table-2 table tr td,
#header-table table tr td{ text-align: left; }
#content-table-2 td,
#header-table td{ padding: 5px; }

#header-table td:first-child,
#content-table-2 td:first-child{ }

#header-table td:last-child,
#content-table-2 td:last-child{ }

.th-col-1,.th-col-2,.th-col-3,
.td-col-1,.td-col-2,.td-col-3{ width: 10%; font-weight: bold; }
.th-col-20{ width: 5%; font-weight: bold; }
.th-col-1{   }
.th-col-2{   }
.th-col-3{   }
.th-col-4{   }
.th-col-5{   width: 7%; }

.td-col-1{   }
.td-col-2{   }
.td-col-3{   }
.td-col-4{   }
.td-col-5{   width: 7%; }

.content-row-1{ background: lightblue; }
.content-row-10{}
.content-row-11{}
.content-row-2{ background: }
.content-row-3{ background: #DFE8F6; }

.left-border{border-left:1px solid black;}
.no-border{ border: 0 !important; }	
.text-center{ text-align:center; }
.bold{font-weight:bold;}
.rad-top-left{ border-top-left-radius:5px; -webkit-border-top-left-radius: 5px;}
.rad-top-right{ border-top-right-radius:5px; -webkit-border-top-right-radius: 5px;}
.rad-bottom-left{ border-bottom-left-radius:5px; -webkit-border-bottom-left-radius: 5px;}
.rad-bottom-right{ border-bottom-right-radius:5px; -webkit-border-bottom-right-radius: 5px;}
.rad-left{ border-top-left-radius:5px; border-bottom-left-radius:5px; -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px;}	
.rad-right{ border-top-right-radius:5px; border-bottom-right-radius:5px; -webkit-border-bottom-right-radius: 5px; -webkit-border-top-right-radius: 5px;}
.small-font{ font-size:0.6em; }
</style>
</head>
<body>
{% block ReportTemplate %}{% endblock %}
</body></html>
