
{% load WillowFilters %}
{% load static from staticfiles %}
{% with ThisSubject=ThisReport.Form_Comment %}
<table class='ReportTable'>
		<tr>
			<td {% if Report.PupilSchool == 'Fulham' %}class='CommentTitleFulham'{% else %}class='CommentTitle'{% endif %}>Personal, Social and Emotional Development</td>
		</tr>
			<td style='text-align:left;'>{{ ThisSubject.Current.PSED.0|StripSafe }}</td>
		</tr>
</table>
<br/>
<table class='ReportTable'>
		<tr>
			<td {% if Report.PupilSchool == 'Fulham' %}class='CommentTitleFulham'{% else %}class='CommentTitle'{% endif %}>Mathematics</td>
		</tr>
			<td style='text-align:left;'>{{ ThisSubject.Current.MA.0|StripSafe }}</td>
		</tr>
</table> 
<br/>
<table class='ReportTable'>
		<tr>
			<td {% if Report.PupilSchool == 'Fulham' %}class='CommentTitleFulham'{% else %}class='CommentTitle'{% endif %}>Literacy</td>
		</tr>
			<td style='text-align:left;'>{{ ThisSubject.Current.LI.0|StripSafe }}</td>
		</tr>
</table>
<br/>
<table class='ReportTable'>
		<tr>
			<td {% if Report.PupilSchool == 'Fulham' %}class='CommentTitleFulham'{% else %}class='CommentTitle'{% endif %}>Communication and Language</td>
		</tr>
			<td style='text-align:left;'>{{ ThisSubject.Current.CL.0|StripSafe }}
			{% if not Report.PupilSchool == 'Battersea' %}
			<br/>
			<table class='InnerRecTable' style='padding-top:10px;'>
				<tr>
					<td style='width:100px;veritcal-align:top;'>French:</td><td>{{ ThisReport.French.Current.Comment.0|StripSafe }} {{ThisReport.French.TeacherName}}</td>
				</tr>
			</table>
			{% endif %}
			</td>
		</tr>
</table>
<br/>
<table class='ReportTable'>
		<tr>
			<td {% if Report.PupilSchool == 'Fulham' %}class='CommentTitleFulham'{% else %}class='CommentTitle'{% endif %}>Understanding the World</td>
		</tr>
			<td style='text-align:left;'>{{ ThisSubject.Current.UW.0|StripSafe }}
			{% if not Report.PupilSchool == 'Battersea' %}
			<br/>
			<table class='InnerRecTable' style='padding-top:10px;'>
				<tr>
					<td style='width:100px;veritcal-align:top;'>Computing:</td><td>{{ ThisReport.Computing.Current.Comment.0|StripSafe }} {{ThisReport.Computing.TeacherName}}</td>
				</tr>
			</table>
			{% endif %}
			</td>
		</tr>
</table>
		<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
		{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
{% if Report.PupilSchool == 'Kensington'  %}
<table class='ReportTable'>
    <tr>
        <td {% if Report.PupilSchool == 'Fulham' %}class='CommentTitleFulham'{% else %}class='CommentTitle'{% endif %}>Expressive Arts and Design</td>
    </tr>
        <td style='text-align:left;'>
            <table class='InnerRecTable'>
                <tr>
                    <td  style='width:100px;veritcal-align:top;'>Music:</td><td>{{ ThisReport.Music.Current.Comment.0|StripSafe }} {{ThisReport.Music.TeacherName}}</td>
                </tr>
            </table>
            <table class='InnerRecTable'>
                <tr>
                    <td style='width:100px;veritcal-align:top;'>Drama:</td><td>{{ ThisReport.Drama.Current.Comment.0|StripSafe }} {{ThisReport.Drama.TeacherName}}</td>
                </tr>
            </table>
            <table class='InnerRecTable'>
                <tr>
                    <td style='width:100px;veritcal-align:top;'>Art:</td><td>{{ ThisReport.Art.Current.Comment.0|StripSafe }} {{ThisReport.Art.TeacherName}}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% else %}
<table class='ReportTable'>
		<tr>
			<td {% if Report.PupilSchool == 'Fulham' %}class='CommentTitleFulham'{% else %}class='CommentTitle'{% endif %}>Expressive Arts and Design</td>
		</tr>
			<td style='text-align:left;'>{{ ThisSubject.Current.EAD.0|StripSafe }}
			{% if not Report.PupilSchool == 'Battersea' %}
			<table class='InnerRecTable'>
				<tr>
					<td  style='width:100px;veritcal-align:top;'>Music:</td><td>{{ ThisReport.Music.Current.Comment.0|StripSafe }} {{ThisReport.Music.TeacherName}}</td>
				</tr>
			</table>
			<table class='InnerRecTable'>
				<tr>
					<td style='width:100px;veritcal-align:top;'>Drama:</td><td>{{ ThisReport.Drama.Current.Comment.0|StripSafe }} {{ThisReport.Drama.TeacherName}}</td>
				</tr>
			</table>
			<table class='InnerRecTable'>
				<tr>
					<td style='width:100px;veritcal-align:top;'>Art:</td><td>{{ ThisReport.Art.Current.Comment.0|StripSafe }} {{ThisReport.Art.TeacherName}}</td>
				</tr>
			</table>
			{% endif %}			
			
			</td>
		</tr>
</table>
{% endif %}
<br/>
<table class='ReportTable'>
		<tr>
			<td {% if Report.PupilSchool == 'Fulham' %}class='CommentTitleFulham'{% else %}class='CommentTitle'{% endif %}>Physical Development</td>
		</tr>
			<td style='text-align:left;'>{{ ThisSubject.Current.PD.0|StripSafe }}
			{% if not Report.PupilSchool == 'Battersea' %}
			<br/>
			
			<table class='InnerRecTable'>
				<tr>
					<td style='width:100px;veritcal-align:top;'>Games:</td><td>{{ ThisReport.Games.Current.Comment.0|StripSafe }} {{ThisReport.Games.TeacherName}}</td>
				</tr>
			</table>
			<table  class='InnerRecTable'>
				<tr>
					<td style='width:100px;veritcal-align:top;'>{% ifequal Report.ReportTerm 'Michaelmas' %}Gym{%else%}Athletics{%endifequal%}:</td><td>{{ ThisReport.Gym_Athletics.Current.Comment.0|StripSafe }} {{ThisReport.Gym_Athletics.TeacherName}}</td>
				</tr>
			</table>
			<table  class='InnerRecTable'>
				<tr>
					<td style='width:100px;veritcal-align:top;'>Ballet:</td><td>{{ ThisReport.Ballet.Current.Comment.0|StripSafe }} {{ThisReport.Ballet.TeacherName}}</td>
				</tr>
			</table>		
			</td>
			{% endif %}
		</tr>
</table>
<br/>
{% if not Report.PupilSchool == 'Clapham' and not Report.PupilSchool == 'Kensington' %}
<table class='ReportTable'>
		<tr>
			<td {% if Report.PupilSchool == 'Fulham' %}class='CommentTitleFulham'{% else %}class='CommentTitle'{% endif %}>Targets</td>
		</tr>
			<td style='text-align:left;'>
				<ul>
					{% if ThisSubject.Current.WrittenTarget1.0 %}
					<li>{{ ThisSubject.Current.WrittenTarget1.0|StripSafe }}</li>
					{% endif %}
					{% if ThisSubject.Current.WrittenTarget2.0 %}
					<li>{{ ThisSubject.Current.WrittenTarget2.0|StripSafe }}</li>
					{% endif %}
					{% if ThisSubject.Current.WrittenTarget3.0 %}
					<li>{{ ThisSubject.Current.WrittenTarget3.0|StripSafe }}</li>
					{% endif %}
					{% if ThisSubject.Current.WrittenTarget4.0 %}
					<li>{{ ThisSubject.Current.WrittenTarget4.0|StripSafe }}</li>
					{% endif %}
				</ul>
			</td>
		</tr>
</table>
{% endif %}
<br/>
{% endwith %}
