<!DOCTYPE HTML>
{% load static from staticfiles %}
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>{{ class.ClassListName }}</TITLE>
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<style>
body{ margin: 0;. padding: 0; font-family: "Gill Sans MT", Calibri, sans-serif; background: fff; text-align: center; line-height: 1.2em; font-size: 16px; }
#main-wrapper{ width: 960px; display: block; margin: 0 auto; padding: 40px 0; }
#logo-text{ font-weight: bold; line-height: 1em; margin-top: -5px; }
#logo-img{ width: 80px; }
#title-header{ background: #270188; border-radius: 8px; margin: 10px 0 5px 0; color: #fff; font-weight: bold; font-size: 22px; padding: 8px; line-height: 1.1em; }

.green-box-header{ background: #D7E1D5; border-radius: 8px; margin: 40px 0; padding: 7px 0; }
.year5{ margin: 25px 0 !important; }
.header-item{ float: left; width: 299px; text-align: left; padding: 3px 10px; }

.green-box-levels{ background: #D7E1D5; border-radius: 8px; padding: 7px 0; }
.levels-item{ float: left; width: 219px; text-align: left; padding: 3px 10px; }

.blue-box-large{ height: 800px; background: #DFE8F6; margin: 60px 0; text-align: left; padding: 10px; border-radius: 8px; border: 1px solid #bbb; }
.blue-box-small{ height: 200px; background: #DFE8F6; margin: 60px 0; text-align: left; padding: 10px; border-radius: 8px; border: 1px solid #bbb; }
.green-box{ background: #D7E1D5; border-radius: 8px; padding: 20px; text-align: left; margin: 50px 0 20px 0; }

.blue-header-targets{ float: left; background: #418ECC; padding: 10px 8px; text-align: left; color: #fff; width: 868px; border-radius: 8px 0 0 0; font-size: 18px; }
.purple-header-sig{ float: left; background: #83165E; padding: 10px 8px; text-align: center; color: #fff; width: 60px; border-radius: 0 8px 0 0; }

.table-container{ display: table; }
.table-row{ display: table-row; }
.light-blue-targets{ display: table-cell; background: #DFE8F6; padding: 15px 8px; text-align: left; width: 868px; border-bottom: 1px solid #aaa; height: 74px; overflow: hidden; }
.light-purple-sig{ display: table-cell; background: #E5D2DC; padding: 8px; text-align: center; width: 60px; border-bottom: 1px solid #aaa; vertical-align: middle; }
.targets-title{ font-size: 22px; font-weight: bold; }

.light-blue-targets-footer{ float: left; height: 10px;  border-radius: 0 0 0 8px; width: 884px; background: #DFE8F6; }
.light-purple-sig-footer{ float: left; height: 10px;  border-radius: 0 0 8px 0; width: 76px; background: #E5D2DC; }

.blue-box{ margin: 60px 0; background: #DFE8F6; border-radius: 8px; padding: 20px 0 20px 20px; text-align: left; }
.blue-box-title{ text-size: 18px; font-weight: bold; }
.signature-titlel{ float: left; font-size: 18px; font-weight: bold; width: 470px; text-align: left; }
.signature-titler{ float: right; font-size: 18px; font-weight: bold; width: 470px; text-align: left; }

.signaturel{ float: left; height: 30px; width: 450px; border-radius: 8px; background: #fff; margin: 10px 0 0 0; }
.signaturer{ float: right; height: 30px; width: 450px; border-radius: 8px; background: #fff; margin: 10px 20px 0 0; }

.subject-header{ display: table-cell; background: #418ECC; width: 89px; padding: 10px 0; text-align: center; color: #fff; border-radius: 8px 0 0 0; }
.effort-header{ display: table-cell; background: #0D763C; width: 88px; padding: 10px 0; text-align: center; color: #fff; border-right: 1px solid #777; }
.attain-header{ display: table-cell; background: #0D763C; width: 89px; padding: 10px 0; text-align: center; color: #fff; }
.target-header{ display: table-cell; background: #418ECC; width: 620px; padding: 10px 0; text-align: center; color: #fff; }
.initial-header{ display: table-cell; background: #83165E; width: 60px; padding: 10px 0; text-align: center; color: #fff; border-radius: 0 8px 0 0; }

.scores-header1,
.scores-header2,
.scores-header3,
.scores-header4,
.scores-header5,
.scores-header6{ display: table-cell; margin-top: 20px; font-size: 12px; line-height: 1.1em; vertical-align: middle; text-align: left; padding: 10px 8px; color: #FFF; }

.scores-header1{ background: #0D763C; width: 30px; text-align: center; border-radius: 8px 0 0 0; }
.scores-header2{ background: #0D763C; width: 75px; text-align: center; }
.scores-header3{ background: #0D763C; width: 75px; text-align: center; }
.scores-header4{ background: #0D763C; width: 716px; color: #fff;  border-radius: 0 8px 0 0; }

.scores-header5,
.scores-header6{ background: #418ECC; }

.scores-item1,
.scores-item2,
.scores-item3,
.scores-item4{ display: table-cell; padding: 8px 5px; border-bottom: 1px solid #bbb; }

.scores-item1{ background: #D7E1D5; text-align: left; }
.scores-item2{ background: #D7E1D5; }
.scores-item3{ background: #D7E1D5; }
.scores-item4{ background: #D7E1D5; text-align: left; }


.year6{ width: 160px; text-align: center; }
.scores-header4.year6{ border-radius: 0; }

.subject,.effort,.attain,.target,.initial{ display: table-cell; border-bottom: 1px solid #aaa; }
.subject-footer,.effort-footer,.attain-footer,.target-footer,.initial-footer{ height: 10px; display: table-cell; }

.subject-footer{ background: #DFE8F6; }
.effort-footer{ background: #D7E1D5; }
.attain-footer{ background: #D7E1D5; }
.target-footer{ background: #DFE8F6; }
.initial-footer{ background: #E5D2DC; }

.subject{ background: #DFE8F6; text-align: center; vertical-align: middle; width: 10%;}
.effort{ background: #D7E1D5; text-align: center; vertical-align: middle; border-right: 1px solid #bbb; width: 10%;}
.attain{ background: #D7E1D5; text-align: center; vertical-align: middle; width: 10%;}
.target{ background: #DFE8F6; width: 620px; text-align: left; font-size: 14px; line-height: 1.2em; height: 73px; overflow: hidden; }
.initial{ background: #E5D2DC; width: 60px; text-align: center; vertical-align: middle; }

.legend.left{ width: 469px; }
.legend.right{ width: 465px; }

ul{ margin: 6px; padding: 0 0 0 20px; }
li{ margin: 4px 0; }
hr{ margin: 62px 0 0 0; }

.footer-left{ border-radius: 0 0 0 8px; }
.footer-right{ border-radius: 0 0 8px 0; }

.legend-box{ background: #D7E1D5; border-radius: 8px; padding: 10px; text-align: left; margin: 20px 0 0 0; }

.no-border{ border: 0 !important; }
.left{ float: left; }
.right{ float: right; }
.clear{ clear: both; }
.border-right{ border-right: 1px solid #aaa; }
.border-bottom{ border-bottom: 1px solid #aaa; }
.round-borders{ border-radius: 8px; overflow: hidden; }
.margint40{ margin-top: 60px; }
.margint300{ margin-top: 300px; }
.margint120{ margin-top: 120px; }
.height130{ height: 120px; overflow: hidden; }
.height150{ height: 150px; overflow: hidden; }
.height180{ height: 180px; overflow: hidden; }
.height200{ height: 200px; overflow: hidden; }
.padl5{ padding-left: 5px; }
.padt15{ padding-top: 15px; }
.margint20{ margin-top: 20px; }
.no-bottom-border{ border-bottom: 0 !important; }
.not-bold-2{font-weight:normal; font-size: 18px;}

@media print{
	body { -webkit-print-color-adjust: exact; }
	.page-break{ page-break-after: always; }
}
</style>
</HEAD>
<BODY LANG="en-GB" DIR="LTR">
		{% block ReportTemplate %}{% endblock %}

</BODY>
</HTML>