
<!DOCTYPE HTML>
{% load static from staticfiles %}
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>{{ class.ClassListName }}</TITLE>
<link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<style>
	body  {
	margin-left:1cm;
	margin-right:1cm;
	font-family: 'Lato', sans-serif;
	}
	
	span {
		font-family:"Lato", "san-serif" !important;
	}
	
	.ReportHeader {
	text-align:center;
	margin:auto;		
	display: block;
	font-size: 22px;
	font-family: 'Lato', sans-serif;
	}
	
	.ReportHeaderFulham {
	font-size:0.9em;
	text-align:center;
	margin:auto;		
	display: block;
	font-size: 22px;
	font-family: 'Lato', sans-serif;
	}	
	
	.PageHeader {
	text-align:center;
	margin:auto;		
	display: block;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	}
	.HeaderTable
	{
		width:100%;
		border: none;
		vertical-align:text-top;
		color: #B1DAE7;
		margin:auto;
	}
	.HeaderTable td
	{
		vertical-align:text-top;
	}
	.ReportTable
	{
		border:1px solid black;
		width:100%;
		margin:auto;
		border-collapse:collapse;
	}
	
	.ReportTable td 
	{
		font-size: 12px;
		border:1px solid black;
	}
	.ReportTable th
	{
		Border:1px solid black;
	}
	.ReportTableHeader
	{
		background-color: #BFE4FF;
	}
	.ReportTableDataCol
	{
		text-align:center;
	}
	.ReportTableDataTitle
	{
		font-size:14px;
	}
	.LegendTable
	{
		border:1px solid black;
		margin:auto;
		font-size: 10px;
	}
	.legendTable td
	{
		font-size:10px;
	}
	.ReportTable .CommentTitle
	{
		font-weight: bold;
		font-size: 1.2em;
		background-color:#BFE4FF;
		text-align:center;
	}
	
	.CommentTitleFulham
	{
		font-weight: bold;
		font-size: 1em;
		background-color:#BFE4FF;
		text-align:center;
	}	
	
	li
	{
		font-size:10px;
	}
	.ReportTable li
	{
		font-size: 12px;
	}
	.InnerRecTable
	{
		border-style:none;
	}
	.InnerRecTable tr
	{
		border-style:none;
		border:0px;
	}
	.InnerRecTable td
	{
		border-style:none;
	}
	.attainmentHeader {
		width:20px;
	}
	.bold {
		font-weight:bold;
	}
	.smallerFont {
		font-size:0.9em;
	}
</style>
</HEAD>
<BODY LANG="en-GB" DIR="LTR">
		{% block ReportTemplate %}{% endblock %}

</BODY>
</HTML>
