
{% extends 'ReportsToParents/Report2PBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for Report in ReportList %}
{% with ThisReport=Report.Grades.Yr1_Eot_S.Grades %}
	{% with absence=Report.Summer %}
	{% include 'ReportsToParents/Elements/EOTHeader.html' %}
	{% endwith %}
	<br />
	<div style='clear:both;'>
		{% include 'ReportsToParents/Elements/EffortAttainmentLevelLegendTable_Fulham.html' %}
	</div>
	<div style='clear:both;'><br /></div>
<!-- comment tables -->
	
	{% with ThisSubject=ThisReport.English %}
		{% include 'ReportsToParents/Elements/CommentGradeLevel_NoSpeakingLevel.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/CommentGradeLevel.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Science %}
		{% include 'ReportsToParents/Elements/CommentGradeNoLevel.html' %}{{ ThisSubject.ResetTotalCommentLength }}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.French %}
		{% include 'ReportsToParents/Elements/CommentGradeNoLevel.html' %}{{ ThisSubject.ResetTotalCommentLength }}
	{% endwith %}
<div style='page-break-before:always;float:clear;padding-top:5mm'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}	
<br />	

	{% with ThisSubject=ThisReport.Topic %}
		{% include 'ReportsToParents/Elements/CommentGradeNoLevel.html' %}{{ ThisSubject.ResetTotalCommentLength }}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Religious_Education %}
		{% include 'ReportsToParents/Elements/CommentGradeNoLevel.html' %}{{ ThisSubject.ResetTotalCommentLength }}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Computing %}
		{% include 'ReportsToParents/Elements/CommentGradeNoLevel.html' %}{{ ThisSubject.ResetTotalCommentLength }}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Music %}
		{% include 'ReportsToParents/Elements/CommentGradeNoLevel.html' %}{{ ThisSubject.ResetTotalCommentLength }}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Drama %}
		{% include 'ReportsToParents/Elements/CommentGradeNoLevel.html' %}{{ ThisSubject.ResetTotalCommentLength }}
	{% endwith %}		
{{ ThisReport.Art.ResetTotalCommentLength }}
	{% with ThisSubject=ThisReport.Art %}
		{% include 'ReportsToParents/Elements/CommentGradeNoLevel.html' %}{{ ThisSubject.ResetTotalCommentLength }}
	{% endwith %}

	{% with ThisSubject=ThisReport.Games %}
		{% include 'ReportsToParents/Elements/CommentGradeNoLevel.html' %}{{ ThisSubject.ResetTotalCommentLength }}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Gym_Athletics %}
		{% include 'ReportsToParents/Elements/CommentGradeNoLevel.html' %}{{ ThisSubject.ResetTotalCommentLength }}
	{% endwith %}	
	
<div style='page-break-before:always;float:clear;padding-top:5mm'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}	
<br />		
	
	{% with ThisSubject=ThisReport.Swimming %}
		{% include 'ReportsToParents/Elements/CommentGradeNoLevel.html' %}{{ ThisSubject.ResetTotalCommentLength }}
	{% endwith %}			
	
	{% with ThisSubject=ThisReport.Ballet %}
		{% include 'ReportsToParents/Elements/CommentGradeNoLevel.html' %}{{ ThisSubject.ResetTotalCommentLength }}
	{% endwith %}		
<!-- comment tables -->
{% include 'ReportsToParents/Elements/FormComment.html' %}
{% include 'ReportsToParents/Elements/FormTargets.html' %}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{% include 'ReportsToParents/Elements/FormTutorAndHeadSignatureInclude.html' %}
{% include 'ReportsToParents/Elements/space_before_core_values_table_LESS.html' %}
<div style='page-break-before:always;float:clear;'></div>
{% endwith %}
{% endfor %}
{% endblock %}
