
{% extends 'ReportsToParents/Report2PBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for Report in ReportList %}
{% with ThisReport=Report.Grades.Yr1_Eot_M.Grades %}
	{% if ThisReport.ExtraDrama.Current.Comment.0 %}
		{% include 'ReportsToParents/Elements/EOTHeader_ExtraDrama.html' %}
		{% include 'ReportsToParents/Elements/ExtraDrama_Standard_Include.html' %}
		<div style='clear:both;margin-top:20px;'>
			{% include 'ReportsToParents/Elements/EffortLegendTable.html' %}
		</div>
		<div style='page-break-before:always;float:clear;'></div>			
	{% endif %}
{% endwith %}
{% endfor %}
{% endblock %}
