
{% extends 'ReportsToParents/Report2PBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for Report in ReportList %}
 {% with ThisReport=Report.Grades.Yr2_Eot_M.Grades %}
	{% with absence=Report.Michaelmas %}
	{% include 'ReportsToParents/Elements/EOTHeader.html' %}
	{% endwith %}
<table class='ReportTable'>
	{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Header.html' %}
	
	{% with ThisSubject=ThisReport.English_Reading %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.English_Writing %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.English_Speaking %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Science %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.French %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Topic %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Religious_Education %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Computing %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Music %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Drama %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}		

	{% with ThisSubject=ThisReport.Art %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Games %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Gym_Athletics %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Swimming %}
	    {% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
    {% endwith %}
	
	{% with ThisSubject=ThisReport.Ballet %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}		
</table>
<br />
{% include 'ReportsToParents/Elements/EffortAttainmentLevelLegendTable.html' %}
<div style='page-break-before:always;float:clear;'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />
{% include 'ReportsToParents/Elements/FormComment.html' %}
<br />
{% include 'ReportsToParents/Elements/FormTargets.html' %}
<br />
<br />
<br />
<br />
<br />
<br />
{% include 'ReportsToParents/Elements/FormTutorAndHeadSignatureInclude.html' %}
{% include 'ReportsToParents/Elements/space_before_core_values_table_LESS.html' %}
{% include 'ReportsToParents/Elements/CoreValuesTable.html' %}
<div style='page-break-before:always;float:clear;'></div>
{% endwith %}
{% endfor %}
{% endblock %}
