
{% extends 'ReportsToParents/Report2PBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}

{% for Report in ReportList %}
 {% with ThisReport=Report.Grades.Yr3_Eot_M.Grades %}
 {% with absence=Report.Michaelmas %} {% endwith %}
	{% include 'ReportsToParents/Standard/FullHeader.html' %}
	{% include 'ReportsToParents/Yr3_Eot_M/Table1.html' %}
	<br><br>
	{% include 'ReportsToParents/Yr3_Eot_M/Table2.html' %}
	<br><br>
	{% include 'ReportsToParents/Standard/CatTable.html' %}
	<br><br>
	{% include 'ReportsToParents/Standard/Legend.html' %}
	<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
	{% include 'ReportsToParents/Yr3_Eot_M/Comments.html' %}
	<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
 {% endwith %}
{% endfor %}

	
{% endblock %}
