
{% extends 'ReportsToParents/Report2PBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for Report in ReportList %}
{% with ThisReport=Report.Grades.Yr3_Eot_M.Grades %}
	{% if ThisReport.ExtraBallet.Current.Comment.0 %}
		{% include 'ReportsToParents/Elements/EOTHeader_ExtraBallet.html' %}
		{% include 'ReportsToParents/Elements/ExtraBallet_Standard_Include.html' %}
		<div style='clear:both;margin-top:20px;'>
			{% include 'ReportsToParents/Elements/EffortAttainmentLegendTable.html' %}
		</div>
		<div style='page-break-before:always;float:clear;'></div>			
	{% endif %}
{% endwith %}
{% endfor %}
{% endblock %}
