
{% extends 'ReportsToParents/Report2PBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}

{% for Report in ReportList %}
 {% with ThisReport=Report.Grades.Yr3_Hf_M.Grades %}
 {% with absence=Report.Michaelmas %} {% endwith %}
	{% include 'ReportsToParents/Standard/HalfTermHeader.html' %}
	{% include 'ReportsToParents/Standard/TableHalfTerm2.html' %}
	<br><br>
	{% include 'ReportsToParents/Standard/CatTable.html' %}
	<br><br><br><br>
	Head's Comment:<br><br><br><br><br>
	{% include 'ReportsToParents/Standard/Legend.html' %}
 {% endwith %}
{% endfor %}

	
{% endblock %}
