
{% extends 'ReportsToParents/Report2PBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for Report in ReportList %}
{% with ThisReport=Report.Grades.Yr3_Eot_S.Grades %}
	{% with absence=Report.Summer %}
	{% include 'ReportsToParents/Elements/EOTHeader.html' %}
	{% endwith %}
<!-- grade table one -->
<table class='ReportTable'>
{% include 'ReportsToParents/Elements/TableCurrentLevelEffortAttainment_Header.html' %}

{% with ThisSubject=ThisReport.English_Reading %}
	{% include 'ReportsToParents/Elements/TableCurrentLevelEffortAttainment_Row.html' %}
{% endwith %}	

{% with ThisSubject=ThisReport.English_Writing %}
	{% include 'ReportsToParents/Elements/TableCurrentLevelEffortAttainment_Row.html' %}
{% endwith %}	

{% with ThisSubject=ThisReport.English_Speaking %}
	{% include 'ReportsToParents/Elements/TableCurrentLevelEffortAttainment_Row.html' %}
{% endwith %}	

{% with ThisSubject=ThisReport.Mathematics %}
	{% include 'ReportsToParents/Elements/TableCurrentLevelEffortAttainment_Row.html' %}
{% endwith %}		

{% with ThisSubject=ThisReport.Science %}
	{% include 'ReportsToParents/Elements/TableCurrentLevelEffortAttainment_Row.html' %}
{% endwith %}			

{% with ThisSubject=ThisReport.Computing %}
	{% include 'ReportsToParents/Elements/TableCurrentLevelEffortAttainment_Row.html' %}
{% endwith %}	

{% with ThisSubject=ThisReport.Art %}
	{% include 'ReportsToParents/Elements/TableCurrentLevelEffortAttainment_Row.html' %}
{% endwith %}	

{% with ThisSubject=ThisReport.Music %}
	{% include 'ReportsToParents/Elements/TableCurrentLevelEffortAttainment_Row.html' %}
{% endwith %}	

{% with ThisSubject=ThisReport.Drama %}
	{% include 'ReportsToParents/Elements/TableCurrentLevelEffortAttainment_Row.html' %}
{% endwith %}	

{% with ThisSubject=ThisReport.Games %}
	{% include 'ReportsToParents/Elements/TableCurrentLevelEffortAttainment_Row.html' %}
{% endwith %}	

{% with ThisSubject=ThisReport.Gym_Athletics %}
	{% include 'ReportsToParents/Elements/TableCurrentLevelEffortAttainment_Row.html' %}
{% endwith %}			

{% with ThisSubject=ThisReport.Swimming %}
	{% include 'ReportsToParents/Elements/TableCurrentLevelEffortAttainment_Row.html' %}
{% endwith %}	
</table>
<!-- grade table two -->
<br />
<table class='ReportTable'>
{% include 'ReportsToParents/Elements/TableEffortAttainment_Header2.html' %}

{% with ThisSubject=ThisReport.French %}
	{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row2.html' %}
{% endwith %}		

{% with ThisSubject=ThisReport.Humanities %}
	{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row2.html' %}
{% endwith %}						

{% with ThisSubject=ThisReport.Religious_Education %}
	{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row2.html' %}
{% endwith %}				

</table>
<!-- effort_attainment_levels -->
<br />
{% include 'ReportsToParents/Elements/EffortAttainmentLevelLegendTable.html' %}
<!-- PAGE BREAK -->
<div style='page-break-before:always;float:clear;padding-top:5mm'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<!-- comments -->
{% with ThisSubject=ThisReport.English %}
	{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
{% endwith %}

{% with ThisSubject=ThisReport.Mathematics %}
	{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
{% endwith %}

{% with ThisSubject=ThisReport.Science %}
	{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
{% endwith %}

{% with ThisSubject=ThisReport.Topic %}
	{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
{% endwith %}

{% with ThisSubject=ThisReport.Computing %}
	{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
{% endwith %}

{% with ThisSubject=ThisReport.French %}
	{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
{% endwith %}

{% with ThisSubject=ThisReport.Humanities %}
	{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
{% endwith %}

<!-- PAGE BREAK -->
<div style='page-break-before:always;float:clear;padding-top:5mm'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}

{% with ThisSubject=ThisReport.Religious_Education %}
	{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
{% endwith %}

{% with ThisSubject=ThisReport.Music %}
	{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
{% endwith %}

{% with ThisSubject=ThisReport.Drama %}
	{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
{% endwith %}

{% with ThisSubject=ThisReport.Art %}
	{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
{% endwith %}

{% with ThisSubject=ThisReport.Gym_Athletics %}
	{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
{% endwith %}

{% with ThisSubject=ThisReport.Games %}
	{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
{% endwith %}

{% with ThisSubject=ThisReport.Swimming %}
	{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
{% endwith %}

<!-- PAGE BREAK -->
<div style='page-break-before:always;float:clear;padding-top:5mm'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}

<br />
{% include 'ReportsToParents/Elements/FormComment.html' %}
<br />
{% include 'ReportsToParents/Elements/FormTargets.html' %}
<br />
<br />
{% include 'ReportsToParents/Elements/FormTutorAndHeadSignatureInclude.html' %}
{% include 'ReportsToParents/Elements/space_before_core_values_table_LESS.html' %}
{% include 'ReportsToParents/Elements/CoreValuesTable.html' %}
<div style='page-break-before:always;float:clear;'></div>
{% endwith %}
{% endfor %}
{% endblock %}
