
{% extends 'ReportsToParents/Report2PBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}

{% for Report in ReportList %}
 {% with ThisReport=Report.Grades.Yr4_Eot_L.Grades %}
 {% with absence=Report.Lent %} {% endwith %}
	{% include 'ReportsToParents/Elements/EOTHeader.html' %}
	{% include 'ReportsToParents/Standard/TableHalfTerm2.html' %}
	<br><br>
	{% include 'ReportsToParents/Standard/LegendHalfterm2.html' %}
	<br/><br/>
    <br><br><br>
	{% include 'ReportsToParents/Standard/Disclaimer.html' %}
 {% endwith %}
	{% if not forloop.last %}
	<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
	{% endif %}
{% endfor %}

	
{% endblock %}
