
{% extends 'ReportsToParents/Report2PBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for Report in ReportList %}
{% with ThisReport=Report.Grades.Yr4_Eot_S.Grades %}
{% if Report.PupilSchool == 'Clapham' %}
<style>	
	.notBoldForClapham {
		font-weight:normal;
	}
</style>
{% endif %}
	{% with absence=Report.Summer %}
	{% include 'ReportsToParents/Elements/EOTHeader.html' %}
	{% endwith %}
	<br />
	<div style='clear:both;'></div>
	<div style='clear:both;'><br /></div>
<!-- grades table -->
<table class='ReportTable'>
	{% include 'ReportsToParents/Elements/TableLevelExamYrGp_Header.html' %}
	
	{% with ThisSubject=ThisReport.English_Reading %}
		{% include 'ReportsToParents/Elements/TableLevelExamYrGp_English_Reading.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.English_Writing %}
		{% include 'ReportsToParents/Elements/TableLevelExamYrGp_English_Speaking_No_MichExamNoAverage.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.English_Speaking %}
		{% include 'ReportsToParents/Elements/TableLevelExamYrGp_English_Speaking_No_MichExamNoAverage.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/TableLevelExamYrGp_Row.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Science %}
		{% include 'ReportsToParents/Elements/TableLevelExamYrGp_Row.html' %}    
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.French %}
		{% include 'ReportsToParents/Elements/TableLevelExamYrGp_NoLevelNoExamNoAverage.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Humanities %}
		{% include 'ReportsToParents/Elements/TableLevelExamYrGp_NoLevelNoExamNoAverage.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Religious_Education %}
		{% include 'ReportsToParents/Elements/TableLevelExamYrGp_NoLevelNoExamNoAverage.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Computing %}
		{% include 'ReportsToParents/Elements/TableLevelExamYrGp_Row_no_prev_level_no_exam_no_year_average.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Music %}
		{% include 'ReportsToParents/Elements/TableLevelExamYrGp_NoLevelNoExamNoAverage.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Drama %}
		{% include 'ReportsToParents/Elements/TableLevelExamYrGp_NoLevelNoExamNoAverage.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Art %}
		{% include 'ReportsToParents/Elements/TableLevelExamYrGp_NoLevelNoExamNoAverage.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Games %}
		{% include 'ReportsToParents/Elements/TableLevelExamYrGp_Row_no_prev_level_no_exam_no_year_average.html' %}
	{% endwith %}	
	{% with ThisSubject=ThisReport.Gym_Athletics %}
		{% include 'ReportsToParents/Elements/TableLevelExamYrGp_Row_no_prev_level_no_exam_no_year_average.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Swimming %}
		{% include 'ReportsToParents/Elements/TableLevelExamYrGp_Row_no_prev_level_no_exam_no_year_average.html' %}
	{% endwith %}	
</table>
<br />
{% include 'ReportsToParents/Elements/EffortAttainmentLevelLegendTable.html' %}
<br />
<div style='page-break-before:always;float:clear;padding-top:5mm'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />
<!-- grades table-->
<!-- comment tables -->
	
	{% with ThisSubject=ThisReport.English %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Science %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.French %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Humanities %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Religious_Education %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Computing %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Music %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Drama %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}		

	{% with ThisSubject=ThisReport.Art %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Games %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Gym_Athletics %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Swimming %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}	
	
<!-- comment tables -->
<br />

<div style='page-break-before:always;float:clear;padding-top:5mm'></div>
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />
{% include 'ReportsToParents/Elements/FormComment.html' %}
<br />
<br />
<br />
<br />
<br />
<br />
{% include 'ReportsToParents/Elements/space_before_core_values_table_LESS.html' %}
{% include 'ReportsToParents/Elements/FormTutorAndHeadSignatureInclude.html' %}
<br />
<br />
{% include 'ReportsToParents/Elements/CoreValuesTable.html' %}
<div style='page-break-before:always;float:clear;'></div>
{% endwith %}
{% endfor %}
{% endblock %}
