
{% extends 'ReportsToParents/Report2PBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for Report in ReportList %}
{% with ThisReport=Report.Grades.Yr4_Eot_S.Grades %}

<!-- For getting CAT Data - delete if not needed --> 
{% with this_report_cat=Report.Grades.Yr4_Cat.Grades %}             

{% if Report.PupilSchool == 'Fulham' %}
<style>	
	.notBoldForClapham {
		font-weight:normal;
	}
</style>
{% endif %}
	{% with absence=Report.Summer %}
	{% include 'ReportsToParents/Elements/EOTHeader.html' %}
	{% endwith %}
	<div style='clear:both;'></div>
	<br />
<!-- grades table -->
<table class='ReportTable'>
	{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Header.html' %}
	
	{% with ThisSubject=ThisReport.English_Reading %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_English_Reading.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.English_Writing %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_English_Writing.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.English_Speaking %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_English_Speaking.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Science %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row.html' %}    
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.French %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.History %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Geography %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Religious_Education %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Computing %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Music %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainmentCurrentLevelOnly.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Drama %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainmentCurrentLevelOnly.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Art %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainmentCurrentLevelOnly.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Games %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainmentCurrentLevelOnly.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Gym_Athletics %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainmentCurrentLevelOnly.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Swimming %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainmentCurrentLevelOnly.html' %}
	{% endwith %}	
</table>
<!-- NVR_VR_table -->
{% include 'ReportsToParents/Elements/NVR_VR_table.html' %}
<!-- -->
{% include 'ReportsToParents/Elements/EffortAttainmentLevelLegendTable_Fulham.html' %}
<div style='page-break-before:always;float:clear;padding-top:5mm'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />
<!-- grades table-->
<!-- comment tables -->
	
	{% with ThisSubject=ThisReport.English %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Science %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.French %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.History %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Geography %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Religious_Education %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Computing %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}		
	
<div style='page-break-before:always;float:clear;padding-top:5mm'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />		
	
	{% with ThisSubject=ThisReport.Music %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Drama %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}		

	{% with ThisSubject=ThisReport.Art %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Games %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Gym_Athletics %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Swimming %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}		
	
<!-- comment tables -->
{% include 'ReportsToParents/Elements/FormComment.html' %}
{% include 'ReportsToParents/Elements/FormTargets.html' %}
<br />
<br />
{% include 'ReportsToParents/Elements/FormTutorAndHeadSignatureInclude.html' %}

<div style='page-break-before:always;float:clear;'></div>

{% endwith %}
{% endwith %}
{% endfor %}
{% endblock %}
