{% extends 'ReportsToParents/report_base_fulham.html' %}
{% load WillowFilters %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for Report in ReportList %}
{% with ThisReport=Report.Grades.Yr4_Eot_M.Grades %}
<div id="main-wrapper">
	{% include 'ReportsToParents/Elements/fulham_new_header_learning_support.html' %}
	<div class="blue-box-small" style="font-size: 22px;">{{ ThisReport.LearningSupport.Current.Comment.0|safe }}</div>
</div>
<div style='page-break-before:always;float:clear;'></div>
{% endwith %}
{% endfor %}
{% endblock %}
