{% extends 'ReportsToParents/clapham_new_report_base.html' %}
{% load WillowFilters %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for Report in ReportList %}
{% with ThisReport=Report.Grades.Yr5_Eot_M.Grades %}
{% with absence=Report.Lent %} {% endwith %}
{% include 'ReportsToParents/Elements/clapham_new_header.html' %}
{% include 'ReportsToParents/Elements/clapham_new_info_box.html' %}
{% include 'ReportsToParents/Elements/clapham_new_comments_table_start.html' %}

<!-- subjects -->
{% with ThisSubject=ThisReport.English %}
	{% include 'ReportsToParents/Elements/clapham_new_comments_table_subject.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Mathematics %}
	{% include 'ReportsToParents/Elements/clapham_new_comments_table_subject.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Science %}
	{% include 'ReportsToParents/Elements/clapham_new_comments_table_subject.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.French %}
	{% include 'ReportsToParents/Elements/clapham_new_comments_table_subject.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Latin %}
	{% include 'ReportsToParents/Elements/clapham_new_comments_table_subject.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Geography %}
	{% include 'ReportsToParents/Elements/clapham_new_comments_table_subject.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.History %}
	{% include 'ReportsToParents/Elements/clapham_new_comments_table_subject.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Religious_Education %}
	{% include 'ReportsToParents/Elements/clapham_new_comments_table_subject.html' %}
{% endwith %}
<!-- special ict to computing -->
<tr>
    <td class="td-col-1">Computing</td>
    <td class="td-col-2">{{ ThisReport.ICT.Current.Effort.0 }}</td>
    <td class="td-col-3">{{ ThisReport.ICT.Current.Attainment.0 }}</td>
    <td class="td-col-4"><div class="comment">{{ ThisReport.ICT.Current.Comment.0|StripSafe }}</div></td>
    <td class="td-col-5">{{ ThisReport.ICT.TeacherName }}</td>
</tr>
<!-- # -->
{% with ThisSubject=ThisReport.Music %}
	{% include 'ReportsToParents/Elements/clapham_new_comments_table_subject.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Drama %}
	{% include 'ReportsToParents/Elements/clapham_new_comments_table_subject.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Art %}
	{% include 'ReportsToParents/Elements/clapham_new_comments_table_subject.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Games %}
	{% include 'ReportsToParents/Elements/clapham_new_comments_table_subject.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Gym_Athletics %}
	{% include 'ReportsToParents/Elements/clapham_new_comments_table_subject.html' %}
{% endwith %}
<!-- # -->
{% include 'ReportsToParents/Elements/clapham_new_comments_table_form_3.html' %}
{% include 'ReportsToParents/Elements/clapham_new_comments_table_end.html' %}
{% include 'ReportsToParents/Elements/clapham_new_heads.html' %}
{% include 'ReportsToParents/Elements/clapham_new_effort_attainment_box.html' %}
{% endwith %}
{% if not forloop.last %}
<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
{% endif %}
{% endfor %}
{% endblock %}
