{% extends 'ReportsToParents/report_base_fulham.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for Report in ReportList %}
{% with ThisReport=Report.Grades.Yr6_Eot_M.Grades %}
<div id="main-wrapper">
<!-- HEADER -->
{% include 'ReportsToParents/Elements/fulham_new_header_2.html' %}
<!-- fulham_new_special_year_6_levels_table.html -->
{% include 'ReportsToParents/Elements/fulham_new_special_year_6_levels_table.html' %}
<!-- COMMENTS -->
{% with ThisSubject=ThisReport.English %}
    {% include 'ReportsToParents/Elements/fulham_new_comment_2_height130.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Mathematics %}
    {% include 'ReportsToParents/Elements/fulham_new_comment_2_height130.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Science %}
    {% include 'ReportsToParents/Elements/fulham_new_comment_2_height130.html' %}
{% endwith %}
<!-- FORM TEACHER COMMENT -->
{% include 'ReportsToParents/Elements/fulham_new_head_teacher_comment_2.html' %}
<!-- HEAD/TEACHER SIGNATURES-->
{% include 'ReportsToParents/Elements/fulham_new_head_teacher_signatures.html' %}
<!-- PAGE BREAK -->
<div style='page-break-before:always;float:clear;padding-top:5mm'></div><br /><br />
<!-- SUBJECT EFFORT ATTAINMENT TARGETS INITIALS -->
{% include 'ReportsToParents/Elements/fulham_new_subject_effort_attainment_targets_initials_header.html' %}
{% with ThisSubject=ThisReport.English %}
    {% include 'ReportsToParents/Elements/fulham_new_subject_effort_attainment_targets_initials_row.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Mathematics %}
    {% include 'ReportsToParents/Elements/fulham_new_subject_effort_attainment_targets_initials_row.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Science %}
    {% include 'ReportsToParents/Elements/fulham_new_subject_effort_attainment_targets_initials_row.html' %}
{% endwith %}
<div class="table-row">
    <div class="subject">Computing</div>
    <div class="effort">{{ ThisReport.ICT.Current.Effort.0 }}</div>
    <div class="attain">{{  ThisReport.ICT.Current.Attainment.0 }}</div>
    <div class="target">
        {{  ThisReport.ICT.Current.WrittenTarget1.0|safe }}
        {{  ThisReport.ICT.Current.WrittenTarget2.0|safe }}
    </div>
    <div class="initial">{{ ThisReport.ICT.TeacherName }}</div>
</div>
{% with ThisSubject=ThisReport.French %}
    {% include 'ReportsToParents/Elements/fulham_new_subject_effort_attainment_targets_initials_row.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Latin %}
    {% include 'ReportsToParents/Elements/fulham_new_subject_effort_attainment_targets_initials_row.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.History %}
    {% include 'ReportsToParents/Elements/fulham_new_subject_effort_attainment_targets_initials_row.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Geography %}
    {% include 'ReportsToParents/Elements/fulham_new_subject_effort_attainment_targets_initials_row.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Religious_Education %}
    {% include 'ReportsToParents/Elements/fulham_new_subject_effort_attainment_targets_initials_row.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Music %}
    {% include 'ReportsToParents/Elements/fulham_new_subject_effort_attainment_targets_initials_row.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Drama %}
    {% include 'ReportsToParents/Elements/fulham_new_subject_effort_attainment_targets_initials_row.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Art %}
    {% include 'ReportsToParents/Elements/fulham_new_subject_effort_attainment_targets_initials_row.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Games %}
    {% include 'ReportsToParents/Elements/fulham_new_subject_effort_attainment_targets_initials_row.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Gym_Athletics %}
    {% include 'ReportsToParents/Elements/fulham_new_subject_effort_attainment_targets_initials_row.html' %}
{% endwith %}
</div>
<!-- EFFORT/ATTAINMENT TABLE -->
{% include 'ReportsToParents/Elements/fulham_new_levels_attainment_table_2.html' %}
</div>
<div style='page-break-before:always;float:clear;'></div>
{% endwith %}
{% endfor %}
{% endblock %}