
{% extends 'ReportsToParents/Report2PBase_Test.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% load WillowFilters %}  
{% for Report in ReportList %}
 {% with ThisReport=Report.Grades.Yr6_Eot_S.Grades %}

<!---->

	{% with absence=Report.Summer %}
	{% include 'ReportsToParents/Elements/EOTHeader.html' %}
	{% endwith %}
<table class='ReportTable'>
	{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Header.html' %}
	
	{% with ThisSubject=ThisReport.English_Reading %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_English_Reading_battersea_yr611plus.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.English_Writing %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_English_Speaking_battersea_yr611plus.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.English_Speaking %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_English_Speaking_battersea_yr611plus.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Science %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.French %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_no_prev_level.html' %}
	{% endwith %}

<!-- Spanish or German for 11+ Battersea Summer -->
{% if ThisReport.Spanish.Current.Comment.0 %}
	{% with ThisSubject=ThisReport.Spanish %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_no_prev_level.html' %}
	{% endwith %}
{% endif %}

{% if ThisReport.German.Current.Comment.0 %}
	{% with ThisSubject=ThisReport.German %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_no_prev_level.html' %}
	{% endwith %}
{% endif %}
<!-- # -->
	
	{% with ThisSubject=ThisReport.Geography %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_no_prev_level.html' %}
	{% endwith %}		
	
	{% with ThisSubject=ThisReport.History %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_no_prev_level.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Religious_Education %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_no_prev_level.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Art %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Drama %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Computing %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Music %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Games %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Gym_Athletics %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}	
</table>
<br />
{% include 'ReportsToParents/Elements/EffortAttainmentLevelLegendTable.html' %}
		<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />
	{% with ThisSubject=ThisReport.English %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Science %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.French %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Spanish %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.German %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Geography %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}		
	
	{% with ThisSubject=ThisReport.History %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}		
	
<!-- HARD PAGE BREAK PAGE -->
<div style='page-break-before:always;float:clear;'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />	
	
	{% with ThisSubject=ThisReport.Religious_Education %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Art %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Drama %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Computing %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Music %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Games %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Gym_Athletics %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}								
		<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />
{% include 'ReportsToParents/Elements/FormComment.html' %}
<br />
{% include 'ReportsToParents/Elements/space_before_core_values_table_LESS.html' %}
{% include 'ReportsToParents/Elements/FormTutorAndHeadSignatureInclude.html' %}
<br />
<br />
{% include 'ReportsToParents/Elements/CoreValuesTable.html' %}
		<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
<br/>
		<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
{% endwith %}
{% endfor %}
{% endblock %}
