
{% extends 'ReportsToParents/Report2PBase_Test.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% load WillowFilters %}  
{% for Report in ReportList %}
 {% with ThisReport=Report.Grades.Yr6_Eot_M.Grades %}

<!---->

	{% with absence=Report.Michaelmas %}
	{% include 'ReportsToParents/Elements/EOTHeader.html' %}
	{% endwith %}
<table class='ReportTable'>
	{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Header.html' %}
	
	{% with ThisSubject=ThisReport.English_Reading %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.English_Writing %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.English_Speaking %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Science %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.French %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Geography %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}		
	
	{% with ThisSubject=ThisReport.History %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Religious_Education %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Art %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Drama %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Computing %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Music %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Games %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Gym_Athletics %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_NoLevel.html' %}
	{% endwith %}	
</table>
<br />
{% include 'ReportsToParents/Elements/EffortAttainmentLevelLegendTable.html' %}
		<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />
	{% with ThisSubject=ThisReport.English %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Science %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}

{% include 'ReportsToParents/Elements/FormComment.html' %}

<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />

<table style='width:100%;margin-bottom:5px;'>
	<tr>
		<th colspan='3' style='background-color:#BFE4FF;text-align:center;'>Michaelmas {{ Report.HeaderReportYear }} 11+ Examination Results</th>
	</tr>
</table>
<table style='width:100%;'>
	<tr>
		<th style='background-color:#BFE4FF;text-align:center;'>Subject</th>
		<th style='background-color:#BFE4FF;text-align:center;'>Achieved %</th>
		<th style='background-color:#BFE4FF;text-align:center;'>Average %</th>
	</tr>
	<tr>
		<td>Comprehension 1</td><td>{% if ThisReport.English.Current.Exam1.0 %}{{ ThisReport.English.Current.Exam1.0|floatformat }}{% else %}N/A{% endif %}</td><td>57</td>
	</tr>
	<tr>
		<td>Writing 1</td><td>{% if ThisReport.English.Current.Exam2.0 %}{{ ThisReport.English.Current.Exam2.0|floatformat }}{% else %}N/A{% endif %}</td><td>58</td>
	</tr>
	<tr>
		<td>Overall English 1</td><td>{% WorkOutAverage ThisReport.English.Current.Exam1.0 ThisReport.English.Current.Exam2.0 %}</td><td>58</td>
	</tr>
	<tr>
		<td>Comprehension 2</td><td>{% if ThisReport.English.Current.Exam3.0 %}{{ ThisReport.English.Current.Exam3.0|floatformat }}{% else %}N/A{% endif %}</td>
        {% if 'Amelia' in Report.Pupil.Forename and 'Mitten' in Report.Pupil.Surname %}
            <td>N/A</td>
        {% else %}
            <td>64</td>
        {% endif %}
	</tr>
	<tr>
		<td>Writing 2</td><td>{% if ThisReport.English.Current.Exam4.0 %}{{ ThisReport.English.Current.Exam4.0|floatformat }}{% else %}N/A{% endif %}</td><td>55</td>
	</tr>
	<tr>
		<td>Overall English 2</td><td>{% WorkOutAverage ThisReport.English.Current.Exam3.0 ThisReport.English.Current.Exam4.0 %}</td><td>60</td>
	</tr>
	<tr>
		<td>Mathematics 1</td><td>{% if ThisReport.Mathematics.Current.Exam1.0 %}{{ ThisReport.Mathematics.Current.Exam1.0|floatformat }}{% else %}N/A{% endif %}</td><td>54</td>
	</tr>
	<tr>
		<td>Mathematics 2</td><td>{% if ThisReport.Mathematics.Current.Exam2.0 %}{{ ThisReport.Mathematics.Current.Exam2.0|floatformat }}{% else %}N/A{% endif %}</td><td>73</td>
	</tr>
	<tr>
		<td>Science</td><td>{% if ThisReport.Science.Exam %}{{ ThisReport.Science.Exam|floatformat }}{% else %}N/A{% endif %}</td><td>61</td>
	</tr>						
</table>
<br />
{% include 'ReportsToParents/Elements/space_before_core_values_table_LESS.html' %}
{% include 'ReportsToParents/Elements/FormTutorAndHeadSignatureInclude.html' %}
<br />
<br />
{% include 'ReportsToParents/Elements/CoreValuesTable.html' %}
		<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
<br/>
		<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
{% endwith %}
{% endfor %}
{% endblock %}
