
{% extends 'ReportsToParents/Report2PBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% load WillowFilters %}
{% for Report in ReportList %}
 {% with ThisReport=Report.Grades.Yr6_Eot_M.Grades %}
	{% with absence=Report.Michaelmas %}
	{% include 'ReportsToParents/Elements/EOTHeader.html' %}
	{% endwith %}
<table class='ReportTable'>
<tr style='background-color:#BFE4FF;text-align:center;'>
	<th rowspan='2'>Subject</th>
	<th style='width:12%;' rowspan='2'>Level<br />Sum<br />{{ Report.HeaderReportYear }}</th>	
	<th style='width:12%;' rowspan='2'>Level<br />Mich<br />{{ Report.HeaderReportYear }}</th>
	<th style='width:12%;' rowspan='2'>Effort</th>
	<th style='width:12%;' colspan='3'>Attainment</th>
	<th style='width:12%;' rowspan='2'>Mich<br />Exam<br />%</th>
	<th style='width:12%;' rowspan='2'>Year<br />Average</th>
	<th style='width:12%;' rowspan='2'>%<br />Spread</th>
	<th style='width:12%;' rowspan='2'>Teacher</th>
</tr>
<tr style='background-color:#BFE4FF;'>
	<th class='attainmentHeader'>1</th>
	<th class='attainmentHeader'>2</th>
	<th class='attainmentHeader'>3</th>
</tr>
<!-- ENGLISH READING -->	
	{% with ThisSubject=ThisReport.English_Reading %}
	<tr>
	{% if ThisSubject.Subject == 'Gym_Athletics' %}
		{% if Report.ReportTerm == 'Michaelmas' %}
		<th>Gym</th>
		{% else %}
		<th>Athletics</th>
		{% endif %}
	{% else %}
		<th>{{ ThisSubject.Subject|replaceSpace:'_' }}</th>
	{% endif %}
		<td style='text-align:center;'>{{ ThisSubject.Previous.Level.0 }}</td>
		<td style='text-align:center;'>{{ ThisSubject.Current.Level.0 }}</td>
		<td style='text-align:center;'>{{ ThisSubject.Current.Effort.0 }}</td>
		<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '1' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
		<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '2' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
		<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '3' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
		<td style='text-align:center;'>{{ ThisReport.English.Current.Exam1.0|floatformat }}</td>
		<td style='text-align:center;'>63</td>
		<td style='text-align:center;'>50 - 70%</td>	
		<td>{{ ThisSubject.TeacherName }}</td>
	</tr>
	{% endwith %}
<!-- ENGLISH WRITING -->
	{% with ThisSubject=ThisReport.English_Writing %}
		{% include 'ReportsToParents/Elements/TablelevelExamYrGpSpread_Row_KensingtonWriting.html' %}
	{% endwith %}
<!-- ENGLISH  SPEAKING -->	
	{% with ThisSubject=ThisReport.English_Speaking %}
<tr>
{% if ThisSubject.Subject == 'Gym_Athletics' %}
	{% if Report.ReportTerm == 'Michaelmas' %}
	<th>Gym</th>
	{% else %}
	<th>Athletics</th>
	{% endif %}
{% else %}
	<th>{{ ThisSubject.Subject|replaceSpace:'_' }}</th>
{% endif %}
	<td style='text-align:center;'>{{ ThisSubject.Previous.Level.0 }}</td>
	<td style='text-align:center;'>{{ ThisSubject.Current.Level.0 }}</td>
	<td style='text-align:center;'>{{ ThisSubject.Current.Effort.0 }}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '1' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '2' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='text-align:center;'>{% if ThisSubject.Current.Attainment.0 == '3' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
	<td style='background-color:grey;'></td>
	<td style='background-color:grey;'></td>
	<td style='background-color:grey;'></td>	
	<td>{{ ThisSubject.TeacherName }}</td>
</tr>
	{% endwith %}	

	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/TablelevelExamYrGpSpread_Row.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Science %}
		{% include 'ReportsToParents/Elements/TablelevelExamYrGpSpread_NoExamNoAverageNoSpread.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.French %}
		{% include 'ReportsToParents/Elements/TablelevelExamYrGpSpread_NoLevelNoExamNoAverageNoSpread.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Latin %}
		{% include 'ReportsToParents/Elements/TablelevelExamYrGpSpread_NoLevelNoExamNoAverageNoSpread.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.History %}
		{% include 'ReportsToParents/Elements/TablelevelExamYrGpSpread_NoLevelNoExamNoAverageNoSpread.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Geography %}
		{% include 'ReportsToParents/Elements/TablelevelExamYrGpSpread_NoLevelNoExamNoAverageNoSpread.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Religious_Education %}
		{% include 'ReportsToParents/Elements/TablelevelExamYrGpSpread_NoLevelNoExamNoAverageNoSpread.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Computing %}
		{% include 'ReportsToParents/Elements/TablelevelExamYrGpSpread_NoLevelNoExamNoAverageNoSpread.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Music %}
		{% include 'ReportsToParents/Elements/TablelevelExamYrGpSpread_NoLevelNoExamNoAverageNoSpread.html' %}
	{% endwith %}		

	{% with ThisSubject=ThisReport.Art %}
		{% include 'ReportsToParents/Elements/TablelevelExamYrGpSpread_NoLevelNoExamNoAverageNoSpread.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Games %}
		{% include 'ReportsToParents/Elements/TablelevelExamYrGpSpread_NoLevelNoExamNoAverageNoSpread.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Gym_Athletics %}
		{% include 'ReportsToParents/Elements/TablelevelExamYrGpSpread_NoLevelNoExamNoAverageNoSpread.html' %}
	{% endwith %}		
</table>
<br />
{% include 'ReportsToParents/Elements/EffortAttainmentLevelLegendTable.html' %}
<div style='page-break-before:always;float:clear;'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />
{% include 'ReportsToParents/Elements/FormComment.html' %}
<br />
{% include 'ReportsToParents/Elements/FormTargets.html' %}
<br />
<br />
<br />
<br />
<br />
<br />
{% include 'ReportsToParents/Elements/FormTutorAndHeadSignatureInclude.html' %}
{% include 'ReportsToParents/Elements/space_before_core_values_table_LESS.html' %}
{% include 'ReportsToParents/Elements/CoreValuesTable.html' %}
<div style='page-break-before:always;float:clear;'></div>
{% endwith %}
{% endfor %}
{% endblock %}
