{% extends 'ReportsToParents/fulham_new_report_base.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for Report in ReportList %}
{% with ThisReport=Report.Grades.Yr6_Hf_M.Grades %}
<!-- For getting CAT Data - delete if not needed --> 
{% with this_report_cat=Report.Grades.Yr6_Cat.Grades %} 
{% with absence=Report.Lent %} {% endwith %}
{% include 'ReportsToParents/Elements/fulham_new_header.html' %}
{% include 'ReportsToParents/Elements/fulham_new_info_box.html' %}
<div style='background-color:#EFF7FA;'>
{% include 'ReportsToParents/Elements/fulham_new_comments_table_start.html' %}

<!-- subjects -->
{% with ThisSubject=ThisReport.English %}
	{% include 'ReportsToParents/Elements/fulham_new_comments_table_subject.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Mathematics %}
	{% include 'ReportsToParents/Elements/fulham_new_comments_table_subject.html' %}
{% endwith %}
{% with ThisSubject=ThisReport.Science %}
	{% include 'ReportsToParents/Elements/fulham_new_comments_table_subject_last.html' %}
{% endwith %}
{% include 'ReportsToParents/Elements/clapham_new_comments_table_end.html' %}
</div>
{% include 'ReportsToParents/Elements/fulham_CAT_data_box.html' %}
{% include 'ReportsToParents/Elements/fulham_new_effort_attainment_box.html' %}
<!-- space for heads comment -->
<br /><br /><br /><br />
{% endwith %}
{% endwith %}
{% if not forloop.last %}
<div style='page-break-before:always;float:clear;'></div>
{% endif %}
{% endfor %}
{% endblock %}
