
{% extends 'ReportsToParents/Report2PBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% load WillowFilters %}
{% for Report in ReportList %}
 {% with ThisReport=Report.Grades.Yr6_Hf_L.Grades %}
 {% with absence=Report.Lent %} {% endwith %}
	{% include 'ReportsToParents/Elements/HalfTermHeader.html' %}
	{% include 'ReportsToParents/Standard/TableHalfTerm3.html' %}
	<br><br>
	{% with ThisCat=Report.Grades.Yr6_Cat.Grades.Form_Comment %}
	{% include 'ReportsToParents/Standard/CatTableYr6.html' %}
	{% endwith %}
	<br>
	Head's Comment:
	<div style='font-size:12px;'>{{ ThisReport.Heads_Comment.Current.Comment.0|StripSafe }}</div>
<br><br><br><br>
	{% include 'ReportsToParents/Standard/LegendHalfterm2.html' %}
 {% endwith %}
	{% if not forloop.last %}
	<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
	{% endif %}
{% endfor %}

	
{% endblock %}
