
{% extends 'ReportsToParents/Report2PBase_Test.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}

{% for Report in ReportList %}
 {% with ThisReport=Report.Grades.Yr6_Hf_L.Grades %}
 {% with absence=Report.Lent %} {% endwith %}
	{% include 'ReportsToParents/Elements/HalfTermHeader.html' %}
	<table border=0  width='100%'>
		<tr>
			<td width='100%' style='vertical-align:top;'>{% include 'ReportsToParents/Standard/TableHalfTerm2Battersea.html' %}</td>
		</tr>
	</table>
	<table border=0 style='width:25%;margin-top:50px;'>
		<tr>
			<td>{% include 'ReportsToParents/Standard/LegendHalfterm1.html' %}</td>
		</tr>
	</table>
	<br/><br/>
 {% endwith %}
	{% if not forloop.last %}
	<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
	{% endif %}
{% endfor %}

	
{% endblock %}
