
{% extends 'ReportsToParents/Report2PBase_Test.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for Report in ReportList %}
 {% with ThisReport=Report.Grades.Yr7_Eot_S.Grades %}

<!---->

	{% with absence=Report.Summer %}
	{% include 'ReportsToParents/Elements/EOTHeader.html' %}
	{% endwith %}
<table class='ReportTable'>
	{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_Header.html' %}
	
	{% with ThisSubject=ThisReport.English_Reading %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_English_Reading_special_for_summer_yr7.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.English_Writing %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_English_Writing_special_for_summer_yr7.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.English_Speaking %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_English_Speaking.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_Row.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Science %} 
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoEffort.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Biology %} 
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoLevelNoAttainment.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Chemistry %} 
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoLevelNoAttainment.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Physics %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoLevelNoAttainment.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.French %}
		{% if ThisSubject.Current.Effort.0 %}
			{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_Row.html' %}
		{% endif %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Latin %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_no_prev_level.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Geography %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_no_prev_level.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.History %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_no_prev_level.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Religious_Education %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_no_prev_level.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Art %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_no_level_no_exam_no_year_grp_no_set_average.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Drama %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_no_level_no_exam_no_year_grp_no_set_average.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Computing %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_no_level_no_exam_no_year_grp_no_set_average.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Music %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_no_level_no_exam_no_year_grp_no_set_average.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Games %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_no_level_no_exam_no_year_grp_no_set_average.html' %}
	{% endwith %}
</table>
<br />
{% include 'ReportsToParents/Elements/EffortAttainmentLevelLegendTable.html' %}
		<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />
	{% with ThisSubject=ThisReport.English %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Biology %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Chemistry %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Physics %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.French %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Latin %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	
	
<!-- HARD PAGE BREAK PAGE -->
<div style='page-break-before:always;float:clear;'></div>
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />		
	
	{% with ThisSubject=ThisReport.Geography %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.History %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Religious_Education %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Art %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Drama %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Computing %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Music %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Games %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}

		<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />	
{% include 'ReportsToParents/Elements/FormComment.html' %}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{% include 'ReportsToParents/Elements/FormTutorAndHeadSignatureInclude.html' %}
<br />
<br />
{% include 'ReportsToParents/Elements/CoreValuesTable.html' %}
<div style='page-break-before:always;float:clear;'></div>
{% endwith %}
{% endfor %}
{% endblock %}
