
{% extends 'ReportsToParents/Report2PBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for Report in ReportList %}
 {% with ThisReport=Report.Grades.Yr8_Eot_M.Grades %}
<style>	
	.notBoldForClapham {
		font-weight:normal;
	}
</style>
<!-- clapham year 7 header header -->
	{% with absence=Report.Michaelmas %}
<div {% if Report.PupilSchool == 'Fulham' %} class='ReportHeaderFulham' {% else %} class='ReportHeader' {% endif %}>
<img src="{% static "images/unicorn_small.jpg" %}" width="100" height="105" style="padding:12px;"/><br>
Thomas's {{Report.PupilSchool }}<br />
{% if Report.ReportYear == 'Reception' %}
{{ Report.ReportYear }} Report<br />
{% endif %}
{% if Report.ReportYear != 'Reception' %}
Year {{ Report.ReportYear }} E Report<br />
{% endif %}
{{ Report.ReportTerm }} Term {{ Report.HeaderReportYear }}
</div>
<br>
<div  div='EOTHeadeTable'>
	<div style='float:left;'>
		<span {% if Report.PupilSchool == 'Fulham' %} class='bold' {% endif %}>{{ Report.Pupil.FullName }}</span><br />
		<span>{{ Report.Form }}</span>
		<span><br /></span>
	</div>
	<div style='float:right'>
		<span>{{ Report.TeacherNames.Tutor }}</span><br />
		{% if Report.PupilSchool == 'Clapham' %}
			<span>Absences (in half days): {{Report.Stats.ASAbsencesCount|floatformat}}</span><br />
		{% else %}
			{% if Report.ReportYear == 'Reception' and Report.PupilSchool == 'Fulham' %}
			<span>Absences (incl. optional half days): {{Report.Stats.ASAbsencesCount|floatformat}}</span><br />
			{% endif %}
			{% if Report.ReportYear != 'Reception' and Report.PupilSchool == 'Fulham' %}
			<span>Absences (in half days): {{Report.Stats.ASAbsencesCount|floatformat}}</span><br />
			{% else %}
			<span>Absences: {{Report.Stats.ASAbsencesCount|floatformat}}</span><br />
			{% endif %}
		{% endif %}
		<span>Lates: {{Report.Stats.UnauthorisedLatesCount|floatformat}}</span>
	</div>
</div>
<br />	
	{% endwith %}
<!-- end -->
<table class='ReportTable'>
	{% include 'ReportsToParents/Elements/TableLevelAttainmentExam_Header.html' %}
	
	{% with ThisSubject=ThisReport.English_Reading %}
		{% include 'ReportsToParents/Elements/TableLevelExamAttainmentExam_English_Reading_Yr7Clapham_type2.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.English_Writing %}
		{% include 'ReportsToParents/Elements/TableLevelExamAttainmentExam_English_Writing_Yr7Clapham_type2.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/TableLevelExamAttainmentExam_Row.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Science %}
		{% include 'ReportsToParents/Elements/TableLevelExamAttainmentExam_Row.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.French %}
		{% include 'ReportsToParents/Elements/TableLevelAttainmentExam_NoLevel.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Latin %}
		{% include 'ReportsToParents/Elements/TableLevelAttainmentExam_NoLevel.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.History %}
		{% include 'ReportsToParents/Elements/TableLevelAttainmentExam_NoLevel.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Geography %}
		{% include 'ReportsToParents/Elements/TableLevelAttainmentExam_NoLevel.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Religious_Education %}
		{% include 'ReportsToParents/Elements/TableLevelAttainmentExam_NoLevel.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Computing %}
		{% include 'ReportsToParents/Elements/TableLevelAttainmentExam_NoLevel_NoExam.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Music %}
		{% include 'ReportsToParents/Elements/TableLevelAttainmentExam_NoLevel_NoExam.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Drama %}
		{% include 'ReportsToParents/Elements/TableLevelAttainmentExam_NoLevel_NoExam.html' %}
	{% endwith %}		

	{% with ThisSubject=ThisReport.Art %}
		{% include 'ReportsToParents/Elements/TableLevelAttainmentExam_NoLevel_NoExam.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Games %}
		{% include 'ReportsToParents/Elements/TableLevelAttainmentExam_NoLevel_NoExam.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Gym_Athletics %}
		{% include 'ReportsToParents/Elements/TableLevelAttainmentExam_NoLevel_NoExam.html' %}
	{% endwith %}	
</table>
<br />
{% include 'ReportsToParents/Elements/EffortAttainmentLevelLegendTable.html' %}
<div style='page-break-before:always;float:clear;'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />
	{% with ThisSubject=ThisReport.English %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Science %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.French %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Latin %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Greek %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.History %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Geography %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Religious_Education %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Computing %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Music %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Drama %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Art %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Games %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Gym_Athletics %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}

<div style='page-break-before:always;float:clear;'></div>
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />
{% include 'ReportsToParents/Elements/FormComment.html' %}
<br />
<br />
<br />
{% include 'ReportsToParents/Elements/FormTutorAndHeadSignatureInclude.html' %}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{% include 'ReportsToParents/Elements/CoreValuesTable.html' %}
<div style='page-break-before:always;float:clear;'></div>
{% endwith %}
{% endfor %}
{% endblock %}
