
{% extends 'ReportsToParents/Report2PBase_Test.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for Report in ReportList %}
 {% with ThisReport=Report.Grades.Yr8_Eot_S.Grades %}                   
 {% with ThisReportLent=Report.Grades.Yr8_Eot_L.Grades %}               

<!---->

	{% with absence=Report.Summer %}
	{% include 'ReportsToParents/Elements/EOTHeader.html' %}
	{% endwith %}
<table class='ReportTable'>
	{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Header3.html' %}

<!-- special -->
	{%  include 'ReportsToParents/Elements/english_combined_special_yr8_eot_s_battersea.html' %}	
<!-- # -->

	{% with ThisSubject=ThisReport.Mathematics %}
	{% with ThisSubjectLent=ThisReportLent.Mathematics %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row3.html' %}
	{% endwith %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Science %}
	{% with ThisSubjectLent=ThisReportLent.Science %} 
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row3.html' %}
	{% endwith %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.French %}
	{% with ThisSubjectLent=ThisReportLent.French %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row3_no_prev_level.html' %}
	{% endwith %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Latin %}
	{% with ThisSubjectLent=ThisReportLent.Latin %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row3_no_prev_level.html' %}
	{% endwith %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Geography %}
	{% with ThisSubjectLent=ThisReportLent.Geography %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row3_no_prev_level.html' %}
	{% endwith %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.History %}
	{% with ThisSubjectLent=ThisReportLent.History %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row3_no_prev_level.html' %}
	{% endwith %}
	{% endwith %}		

	{% with ThisSubject=ThisReport.Religious_Education %}
	{% with ThisSubjectLent=ThisReportLent.Religious_Education %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row3_no_prev_level.html' %}
	{% endwith %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Art %}
	{% with ThisSubjectLent=ThisReportLent.Art %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row3_no_level.html' %}
	{% endwith %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Drama %}
	{% with ThisSubjectLent=ThisReportLent.Drama %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row3_no_level.html' %}
	{% endwith %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Computing %}
	{% with ThisSubjectLent=ThisReportLent.Computing %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row3_no_level.html' %}
	{% endwith %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Music %}
	{% with ThisSubjectLent=ThisReportLent.Music %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row3_no_level.html' %}
	{% endwith %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Games %}
	{% with ThisSubjectLent=ThisReportLent.Games %}
		{% include 'ReportsToParents/Elements/TableLevelEffortAttainment_Row3_no_level.html' %}
	{% endwith %}
	{% endwith %}
</table>
<br />
{% include 'ReportsToParents/Elements/EffortAttainmentLevelLegendTable.html' %}
		<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />
	{% with ThisSubject=ThisReport.English %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Science %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.French %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Latin %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Geography %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.History %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	
	
<!-- HARD PAGE BREAK PAGE -->
<div style='page-break-before:always;float:clear;'></div>
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />		
	
	{% with ThisSubject=ThisReport.Religious_Education %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Art %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Drama %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Computing %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Music %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Games %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}

<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />
{% include 'ReportsToParents/Elements/FormComment.html' %}
<br />
{% include 'ReportsToParents/Elements/space_before_core_values_table.html' %}
{% include 'ReportsToParents/Elements/FormTutorAndHeadSignatureInclude.html' %}
<br />
<br />
{% include 'ReportsToParents/Elements/CoreValuesTable.html' %}
<div style='page-break-before:always;float:clear;'></div>
{% endwith %}
{% endwith %}
{% endfor %}
{% endblock %}
