
{% extends 'ReportsToParents/Report2PBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for Report in ReportList %}
 {% with ThisReport=Report.Grades.Yr8_Eot_S.Grades %}
<style>	
	.notBoldForClapham {
		font-weight:normal;
	}
</style> 
<!-- clapham year 8 header -->
	{% with absence=Report.Summer %}
<div {% if Report.PupilSchool == 'Fulham' %} class='ReportHeaderFulham' {% else %} class='ReportHeader' {% endif %}>
<img src="{% static "images/unicorn_small.jpg" %}" width="100" height="105" style="padding:12px;"/><br>
Thomas's {{Report.PupilSchool }}<br />
{% if Report.ReportYear == 'Reception' %}
{{ Report.ReportYear }} Report<br />
{% endif %}
{% if Report.ReportYear != 'Reception' %}
Year {{ Report.ReportYear }}D Report<br />
{% endif %}
{{ Report.ReportTerm }} Term {{ Report.HeaderReportYear }}
</div>
<br>
<div  div='EOTHeadeTable'>
	<div style='float:left;'>
		<span {% if Report.PupilSchool == 'Fulham' %} class='bold' {% endif %}>{{ Report.Pupil.FullName }}</span><br />
		<span>{{ Report.Form }}</span>
		<span><br /></span>
	</div>
	<div style='float:right'>
		<span>{{ Report.TeacherNames.Tutor }}</span><br />
		{% if Report.PupilSchool != 'Clapham' %}
		{% if Report.PupilSchool == 'Clapham' %}
			<span>Absences (in half days): {{Report.Stats.ASAbsencesCount|floatformat}}</span><br />
		{% else %}
			{% if Report.ReportYear == 'Reception' and Report.PupilSchool == 'Fulham' %}
			<span>Absences (incl. optional half days): {{Report.Stats.ASAbsencesCount|floatformat}}</span><br />
			{% endif %}
			{% if Report.ReportYear != 'Reception' and Report.PupilSchool == 'Fulham' %}
			<span>Absences (in half days): {{Report.Stats.ASAbsencesCount|floatformat}}</span><br />
			{% else %}
			<span>Absences: {{Report.Stats.ASAbsencesCount|floatformat}}</span><br />
			{% endif %}
		{% endif %}
		<span>Lates: {{Report.Stats.UnauthorisedLatesCount|floatformat}}</span>
		{% endif %}
	</div>
</div>
<br />	
	{% endwith %}
<!-- end -->
<table class='ReportTable'>
	{% include 'ReportsToParents/Elements/TableEffortAttainment_Header.html' %}
	
	{% with ThisSubject=ThisReport.English %}
		{% include 'ReportsToParents/Elements/TableEffortAttainment_Row_2.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/TableEffortAttainment_Row_2.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Science %}
		{% include 'ReportsToParents/Elements/TableEffortAttainment_Row_2.html' %}
	{% endwith %}	
		
	{% with ThisSubject=ThisReport.French %}
		{% include 'ReportsToParents/Elements/TableEffortAttainment_Row_2.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Latin %}
		{% include 'ReportsToParents/Elements/TableEffortAttainment_Row_2.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.History %}
		{% include 'ReportsToParents/Elements/TableEffortAttainment_Row_2.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Geography %}
		{% include 'ReportsToParents/Elements/TableEffortAttainment_Row_2.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Religious_Education %}
		{% include 'ReportsToParents/Elements/TableEffortAttainment_Row_2.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Computing %}
		{% include 'ReportsToParents/Elements/TableEffortAttainment_Row_2.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Music %}
		{% include 'ReportsToParents/Elements/TableEffortAttainment_Row_2.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Drama %}
		{% include 'ReportsToParents/Elements/TableEffortAttainment_Row_2.html' %}
	{% endwith %}		

	{% with ThisSubject=ThisReport.Art %}
		{% include 'ReportsToParents/Elements/TableEffortAttainment_Row_2.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Games %}
		{% include 'ReportsToParents/Elements/TableEffortAttainment_Row_2.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Gym_Athletics %}
		{% include 'ReportsToParents/Elements/TableEffortAttainment_Row_2.html' %}
	{% endwith %}	
</table>
<br />
{% include 'ReportsToParents/Elements/EffortAttainmentLevelLegendTable.html' %}
<div style='page-break-before:always;float:clear;'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />
	{% with ThisSubject=ThisReport.English %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Science %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}		

	{% with ThisSubject=ThisReport.French %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Latin %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.History %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Geography %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Religious_Education %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}
	
<!-- HARD PAGE BREAK PAGE -->
<div style='page-break-before:always;float:clear;'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />		
	
	{% with ThisSubject=ThisReport.Computing %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Music %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Drama %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Art %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Games %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Gym_Athletics %}
		{% include 'ReportsToParents/Elements/Comment_reset_total_comment_length.html' %}
	{% endwith %}

<div style='page-break-before:always;float:clear;'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />
{% include 'ReportsToParents/Elements/FormComment.html' %}
<br />
<br />
<br />
{% include 'ReportsToParents/Elements/FormTutorAndHeadSignatureInclude.html' %}
{% include 'ReportsToParents/Elements/space_before_core_values_table.html' %}
{% include 'ReportsToParents/Elements/CoreValuesTable.html' %}
<div style='page-break-before:always;float:clear;'></div>
{% endwith %}
{% endfor %}
{% endblock %}
