
{% extends 'ReportsToParents/Report2PBase_Test.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for Report in ReportList %}
 {% with ThisReport=Report.Grades.Yr8_Eot_L.Grades %}

<!---->

	{% with absence=Report.Lent %}
	{% include 'ReportsToParents/Elements/EOTHeader.html' %}
	{% endwith %}

<!-- special eton table ############################################################################################ -->
{% load WillowFilters %}
<table class='ReportTable'>
	{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_Header_special_scholar.html' %}
	
	{% with ThisSubject=ThisReport.English_Reading %}
        <tr>
        {% if Report.PupilSchool == 'Battersea' %}
            {% if ThisSubject.Subject == 'English_Reading' %}
            <th><span class='notBoldForClapham'>English:<br />Paper 1</span></th>
            {% endif %}
            {% if ThisSubject.Subject == 'English_Writing' %}
                <th><span class='notBoldForClapham'>English:<br />Paper 2</span></th>
            {% endif %}
            {% if ThisSubject.Subject == 'English_Speaking' %}
                <th><span class='notBoldForClapham'>English - Speaking and Listening</span></th>
            {% endif %}
        {% endif %}
            <td style='text-align:center;' rowspan='2'>{% ReadingWritingAverage ThisReport.English_Reading.Previous.Level ThisReport.English_Writing.Previous.Level %}</td>
            <td style='text-align:center;' rowspan='2'>{% ReadingWritingAverage ThisReport.English_Reading.Current.Level ThisReport.English_Writing.Current.Level %}</td>
            <td style='text-align:center;' rowspan='2'>{{ ThisReport.English.Current.Effort.0 }}</td>
            <td style='text-align:center;' rowspan='2'>{% if ThisReport.English.Current.Attainment.0 == '1' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
            <td style='text-align:center;' rowspan='2'>{% if ThisReport.English.Current.Attainment.0 == '2' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
            <td style='text-align:center;' rowspan='2'>{% if ThisReport.English.Current.Attainment.0 == '3' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br />{% endif %}</td>
            <td style='text-align:center;'>{{ ThisReport.English.Current.Exam1.0|floatformat }}</td>
            <td style='text-align:center;'>{{ ThisSubject.Averages.Type4.0 }}</td>
            <td style="text-align:center;">{{ ThisSubject.TeacherName }}</td>
        </tr>
	{% endwith %}

	{% with ThisSubject=ThisReport.English_Writing %}
        <tr>
        {% if Report.PupilSchool == 'Battersea' %}
            {% if ThisSubject.Subject == 'English_Reading' %}
            <th><span class='notBoldForClapham'>English:<br />Paper 1</span></th>
            {% endif %}
            {% if ThisSubject.Subject == 'English_Writing' %}
                <th><span class='notBoldForClapham'>English:<br />Paper 2</span></th>
            {% endif %}
            {% if ThisSubject.Subject == 'English_Speaking' %}
                <th><span class='notBoldForClapham'>English - Speaking and Listening</span></th>
            {% endif %}
        {% endif %}
            <td style='text-align:center;'>{{ ThisReport.English.Current.Exam2.0|floatformat }}</td>
            <td style='text-align:center;'>{{ ThisReport.English_Reading.Averages.Type4.1 }}</td>
            <td style="text-align:center;">{{ ThisSubject.TeacherName }}</td>
        </tr>
	{% endwith %}

	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_Row_special_scholar.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Science %} 
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoEffort_special_scholar.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Biology %} 
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoLevelNoAttainment_special_scholar.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Chemistry %} 
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoLevelNoAttainment_special_scholar.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Physics %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoLevelNoAttainment_special_scholar.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.French %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoLevel_special_scholar.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Latin %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoLevel_special_scholar.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Geography %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoLevel_special_scholar.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.History %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoLevel_special_scholar.html' %}
	{% endwith %}		

	{% with ThisSubject=ThisReport.Religious_Education %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoLevel_special_scholar.html' %}
	{% endwith %}
	
</table>
<br />

<!-- ############################################################################################################### -->

{% include 'ReportsToParents/Elements/EffortAttainmentLevelLegendTable.html' %}
		<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />
	{% with ThisSubject=ThisReport.English %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Biology %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Chemistry %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Physics %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}
{{ ThisReport.French.ResetTotalCommentLength }}
		<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />
	{% with ThisSubject=ThisReport.French %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Latin %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}	



	{% with ThisSubject=ThisReport.Geography %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.History %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Religious_Education %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}
{{ ThisReport.Art.ResetTotalCommentLength }}	

		<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />
{% include 'ReportsToParents/Elements/FormComment.html' %}
<br />
{% include 'ReportsToParents/Elements/space_before_core_values_table.html' %}
{% include 'ReportsToParents/Elements/FormTutorAndHeadSignatureInclude.html' %}
<br />
<br />
{% include 'ReportsToParents/Elements/CoreValuesTable.html' %}
<div style='page-break-before:always;float:clear;'></div>
{% endwith %}
{% endfor %}
{% endblock %}
