
{% extends 'ReportsToParents/Report2PBase_Test.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for Report in ReportList %}
 {% with ThisReport=Report.Grades.Yr8_Eot_L.Grades %}

<!---->

	{% with absence=Report.Michaelmas %}
	{% include 'ReportsToParents/Elements/EOTHeader.html' %}
	{% endwith %}
<table class='ReportTable'>
	{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_Header.html' %}
	
	{% with ThisSubject=ThisReport.English_Reading %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_English_Reading_Yr7Battersea.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.English_Writing %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_English_Writing_Yr7Battersea.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_Row.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Science %} 
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoEffort.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Biology %} 
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoLevelNoAttainment.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Chemistry %} 
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoLevelNoAttainment.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Physics %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoLevelNoAttainment.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.French %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoLevel.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Latin %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoLevel.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Geography %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoLevel.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.History %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoLevel.html' %}
	{% endwith %}		

	{% with ThisSubject=ThisReport.Religious_Education %}
		{% include 'ReportsToParents/Elements/TableLevelExamSetAverage_NoLevel.html' %}
	{% endwith %}
</table>
<br />
{% include 'ReportsToParents/Elements/EffortAttainmentLevelLegendTable.html' %}
		<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
<br />
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />
	{% with ThisSubject=ThisReport.English %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Mathematics %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Biology %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Chemistry %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.Physics %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}

    {{ ThisReport.French.ResetTotalCommentLength }}
<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>


    <br />
        {% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
    <br />

	{% with ThisSubject=ThisReport.French %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}
	
	{% with ThisSubject=ThisReport.Latin %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}	

	{% with ThisSubject=ThisReport.Geography %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}

	{% with ThisSubject=ThisReport.History %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}	
	
	{% with ThisSubject=ThisReport.Religious_Education %}
		{% include 'ReportsToParents/Elements/Comment.html' %}
	{% endwith %}
{{ ThisReport.Art.ResetTotalCommentLength }}	

		<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
{% include 'ReportsToParents/Elements/TopOfPageMiniHeader.html' %}
<br />
{% include 'ReportsToParents/Elements/FormComment.html' %}
<br />
{% include 'ReportsToParents/Elements/space_before_core_values_table.html' %}
{% include 'ReportsToParents/Elements/FormTutorAndHeadSignatureInclude.html' %}
<br />
<br />
{% include 'ReportsToParents/Elements/CoreValuesTable.html' %}
<div style='page-break-before:always;float:clear;'></div>
{% endwith %}
{% endfor %}
{% endblock %}
