
{% extends 'ReportsToParents/Report2PBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}

{% for Report in ReportList %}
 {% with ThisReport=Report.Grades.Yr8_Hf_L.Grades %}
 {% with absence=Report.Lent %} {% endwith %}
	{% include 'ReportsToParents/Elements/HalfTermHeader.html' %}
	<table border=0  width='100%'>
		<tr>
			<td width='75%' style='vertical-align:top;'>{% include 'ReportsToParents/Standard/TableHalfTerm1.html' %}</td>
			<td width='5%' style='vertical-align:top;'><br></td>
		<td style='vertical-align:top;'>{% include 'ReportsToParents/Standard/LegendHalfterm1.html' %}</td>
	</tr>
	</table>
	<br/><br/><br><br><br>
	{% include 'ReportsToParents/Standard/Disclaimer.html' %}
 {% endwith %}
	{% if not forloop.last %}
	<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
	{% endif %}
{% endfor %}

	
{% endblock %}
