
{% extends 'ReportsToParents/Report2PBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for Report in ReportList %}
 {% with absence=Report.Michaelmas %} {% endwith %}
    {% with ThisReport=Report.Grades.YrR_Eot_M.Grades %}
		{% include 'ReportsToParents/Elements/EOTHeader.html' %}
		<br/><br/><br/>
		{% include 'ReportsToParents/Elements/reception_comments_no_ballet.html' %}
			<br/><br/><br/><br/><br/><br>
				{% include 'ReportsToParents/Elements/FormTutorAndHeadSignatureInclude.html' %}
					<br/><br/><br><br/>
				{% if not Report.PupilSchool == 'Fulham' %}
				{% include 'ReportsToParents/Elements/CoreValuesTable.html' %}
				{% endif %}
							{% if not forloop.last %}
							<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
							{% endif %}
    {% endwith %}
{% endfor %}
{% endblock %}
