
{% extends 'ReportsToParents/Report2PBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for Report in ReportList %}
 {% with absence=Report.Michaelmas %} {% endwith %}
    {% with ThisReport=Report.Grades.YrR_Eot_M.Grades %}
		{% include 'ReportsToParents/Elements/EOTHeader.html' %}
		{% if Report.PupilSchool == 'Fulham' %}
		<br/>
		{% else %}
		<br/><br/><br/>
		{% endif %}
		{% if Report.PupilSchool == 'Fulham' %}
			{% include 'ReportsToParents/Elements/ReceptionComments_Fulham.html' %}
        {% endif %}
		{% if Report.PupilSchool == 'Battersea' %}
			{% include 'ReportsToParents/Elements/ReceptionComments_Battersea.html' %}
		{% endif %}
		{% if Report.PupilSchool != 'Battersea' or Report.PupilSchool == 'Fulham' %}
			{% include 'ReportsToParents/Elements/ReceptionComments.html' %}
		{% endif %}
			<br/><br/><br/><br/><br/>
				{% include 'ReportsToParents/Elements/FormTutorAndHeadSignatureInclude.html' %}
					<br/><br/>
				{% if not Report.PupilSchool == 'Fulham' %}
				{% include 'ReportsToParents/Elements/CoreValuesTable.html' %}
				{% endif %}
							{% if not forloop.last %}
							<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
							{% endif %}
    {% endwith %}
{% endfor %}
{% endblock %}
