{% extends 'ReportsToParents/clapham_new_report_base.html' %}
{% load WillowFilters %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for Report in ReportList %}
{% with ThisReport=Report.Grades.YrR_Eot_M.Grades %}
{% with absence=Report.Lent %} {% endwith %}
{% include 'ReportsToParents/Elements/clapham_new_header.html' %}
{% include 'ReportsToParents/Elements/clapham_new_info_box.html' %}
{% include 'ReportsToParents/Elements/clapham_new_comments_table_start_reception.html' %}

<!-- subjects -->
{% with ThisSubject=ThisReport.Form_Comment %}

	<!-- Personal, Social and Emotional Development -->
	<tbody>
		<tr>
			<td class="td-col-1">Personal, Social and Emotional Development</td>	
			<td class="td-col-4"><div class="comment">{{ ThisSubject.Current.PSED.0|StripSafe }}</div></td>
			<td class="td-col-5">{{ThisReport.Form_Comment.TeacherName}}</td>
		</tr>
	</tbody>
	<!-- Maths -->
	<tbody>
		<tr>
			<td class="td-col-1">Mathematics</td>	
			<td class="td-col-4"><div class="comment">{{ ThisSubject.Current.MA.0|StripSafe }}</div></td>
			<td class="td-col-5">{{ThisReport.Form_Comment.TeacherName}}</td>
		</tr>
	</tbody>
	<!-- Maths -->
	<tbody>
		<tr>
			<td class="td-col-1">Literacy</td>	
			<td class="td-col-4"><div class="comment">{{ ThisSubject.Current.LI.0|StripSafe }}</div></td>
			<td class="td-col-5">{{ThisReport.Form_Comment.TeacherName}}</td>
		</tr>
	</tbody>
	<!-- Communication and Language -->
	<tbody>
		<tr>
			<td class="td-col-1">Communication and Language</td>	
			<td class="td-col-4"><div class="comment">{{ ThisSubject.Current.CL.0|StripSafe }}</div></td>
			<td class="td-col-5">{{ThisReport.Form_Comment.TeacherName}}</td>
		</tr>
	</tbody>
	<!-- French -->
	<tbody>
		<tr>
			<td class="td-col-1">French</td>	
			<td class="td-col-4"><div class="comment">{{ ThisReport.French.Current.Comment.0|StripSafe }}</div></td>
			<td class="td-col-5">{{ThisReport.French.TeacherName}}</td>
		</tr>
	</tbody>
	<!-- Understanding the World -->
	<tbody>
		<tr>
			<td class="td-col-1">Understanding the World</td>	
			<td class="td-col-4"><div class="comment">{{ ThisSubject.Current.UW.0|StripSafe }}</div></td>
			<td class="td-col-5">{{ThisReport.Form_Comment.TeacherName}}</td>
		</tr>
	</tbody>
	<!-- Computing -->
	<tbody>
		<tr>
			<td class="td-col-1">Computing</td>	
			<td class="td-col-4"><div class="comment">{{ ThisReport.ICT.Current.Comment.0|StripSafe }}</div></td>
			<td class="td-col-5">{{ThisReport.ICT.TeacherName}}</td>
		</tr>
	</tbody>
	<!-- Expressive Arts and Design -->
	<tbody>
		<tr>
			<td class="td-col-1">Expressive Arts and Design</td>	
			<td class="td-col-4"><div class="comment">{{ ThisSubject.Current.EAD.0|StripSafe }}</div></td>
			<td class="td-col-5">{{ThisReport.Form_Comment.TeacherName}}</td>
		</tr>
	</tbody>	
	<!-- Music -->
	<tbody>
		<tr>
			<td class="td-col-1">Music</td>	
			<td class="td-col-4"><div class="comment">{{ ThisReport.Music.Current.Comment.0|StripSafe }}</div></td>
			<td class="td-col-5">{{ThisReport.Music.TeacherName}}</td>
		</tr>
	</tbody>
	<!-- Drama -->
	<tbody>
		<tr>
			<td class="td-col-1">Drama</td>	
			<td class="td-col-4"><div class="comment">{{ ThisReport.Drama.Current.Comment.0|StripSafe }}</div></td>
			<td class="td-col-5">{{ThisReport.Drama.TeacherName}}</td>
		</tr>
	</tbody>	
	<!-- Art -->
	<tbody>
		<tr>
			<td class="td-col-1">Art</td>	
			<td class="td-col-4"><div class="comment">{{ ThisReport.Art.Current.Comment.0|StripSafe }}</div></td>
			<td class="td-col-5">{{ThisReport.Art.TeacherName}}</td>
		</tr>
	</tbody>	
	<!-- Physical Development -->
	<tbody>
		<tr>
			<td class="td-col-1">Physical Development</td>	
			<td class="td-col-4"><div class="comment">{{ ThisSubject.Current.PD.0|StripSafe }}</div></td>
			<td class="td-col-5">{{ThisReport.Form_Comment.TeacherName}}</td>
		</tr>
	</tbody>	
	<!-- Games -->
	<tbody>
		<tr>
			<td class="td-col-1">Games</td>	
			<td class="td-col-4"><div class="comment">{{ ThisReport.Games.Current.Comment.0|StripSafe }}</div></td>
			<td class="td-col-5">{{ThisReport.Games.TeacherName}}</td>
		</tr>
	</tbody>	
	<!-- Gym -->
	<tbody>
		<tr>
			<td class="td-col-1">Gym</td>	
			<td class="td-col-4"><div class="comment">{{ ThisReport.Gym_Athletics.Current.Comment.0|StripSafe }}</div></td>
			<td class="td-col-5">{{ThisReport.Gym_Athletics.TeacherName}}</td>
		</tr>
	</tbody>	
	<!-- Ballet -->
	<tbody>
		<tr>
			<td class="td-col-1">Ballet</td>	
			<td class="td-col-4"><div class="comment">{{ ThisReport.Ballet.Current.Comment.0|StripSafe }}</div></td>
			<td class="td-col-5">{{ThisReport.Ballet.TeacherName}}</td>
		</tr>
	</tbody>	

{% endwith %}
<!-- # -->
{% include 'ReportsToParents/Elements/clapham_new_comments_table_end.html' %}
<div id="content-table-2">
	<table>
		<tr class="content-row-3">
            <td class="no-border"><b>Head of Lower School:</b></td>
        </tr>
	</table>
</div>
{% endwith %}
{% if not forloop.last %}
<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
{% endif %}
{% endfor %}
{% endblock %}
