{% extends 'ReportsToParents/report_base_fulham.html' %}
{% load WillowFilters %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for Report in ReportList %}
{% with ThisReport=Report.Grades.YrR_Eot_M.Grades %}
{% with ThisSubject=ThisReport.Form_Comment %}
<div id="main-wrapper">
<!-- HEADER -->
    <div id="logo"><img id="logo-img" src="{{STATIC_URL}}images/Unicorn_Colour.jpg"></div>
    <div id="title-header">Year {{ Report.ReportYear }}<br>{{ Report.ReportTerm }} {{ Report.HeaderReportYear }} Summary and Targets</div>
    <div class="green-box-header year5">
        <div style="font-size: 22px" class="header-item border-right">{{ Report.Pupil.Forename }} {{ Report.Pupil.Surname }}</div>
        <div style="font-size: 22px" class="header-item border-right">{{Report.TeacherNames.FormTeacher}}</div>
        <div style="font-size: 22px" class="header-item">{{ Report.Form }}</div>
        <div class="clear"></div>
    </div>

    <div class="blue-box-large" style="font-size: 22px;"><br /><br /><br /><br /><br />
    {% if 'Theadora' in Report.Pupil.Forename and 'Kilroy-Silk' in Report.Pupil.Surname %}
        {{ ThisSubject.Current.PSED.0|last_paragraph_italic_and_gray }}
    {% else %}
        {{ ThisSubject.Current.PSED.0|safe }}
    {% endif %}
	</div>

	<div class="green-box">
			There are seven Areas of Learning within the Early Years curriculum: the Prime Areas are Communication
			and Language, Physical Development and Personal, Social & Emotional Development; the Specific Areas
			are Literacy, Mathematics, Understanding the World and Expressive Arts and Design. Our specialist taught
			areas are planned within this structure.
	</div>

	<div class="page-break"></div>

	<div class="round-borders margint40">
		<div class="blue-header-targets">Targets for Areas of Learning</div>
		<div class="purple-header-sig">Initials</div>
		<div class="clear"></div>

		<div class="table-targets">
			<div class="table-container">
				<div class="table-row">
					<div class="light-blue-targets">
						<div class="targets-title">Personal, Social & Emotional Development</div>
						{{ ThisSubject.Current.WrittenTarget1.0|safe }}
                        {{ ThisSubject.Current.WrittenTarget2.0|safe }}
					</div>
					<div class="light-purple-sig">
					    {{ ThisSubject.TeacherName }}
					</div>
				</div>

				<div class="table-row">
					<div class="light-blue-targets">
						<div class="targets-title">Mathematics</div>
                        {{ ThisSubject.Current.MA.0|safe }}
					</div>
					<div class="light-purple-sig">
						{{ ThisSubject.TeacherName }}
					</div>
				</div>

				<div class="table-row">
					<div class="light-blue-targets">
						<div class="targets-title">Literacy</div>
						{{ ThisSubject.Current.LI.0|safe }}
					</div>
					<div class="light-purple-sig">
					    {{ ThisSubject.TeacherName }}
					</div>
				</div>

				<div class="table-row">
					<div class="light-blue-targets">
						<div class="targets-title">Communication & Language</div>
						{{ ThisSubject.Current.CL.0|safe }}
						French:<br />
						{{ ThisReport.French.Current.WrittenTarget1.0|safe }}
					</div>
					<div class="light-purple-sig" style="vertical-align: middle;">
						<div style="margin-top: 30px;">
							{{ ThisSubject.TeacherName }}
						</div>
						<hr style="margin: 0;">
						<div style="margin-top: 30px;">
							{{ ThisReport.French.TeacherName }}
						</div>
						<hr style="margin: 0;">
					</div>
				</div>

				<div class="table-row">
					<div class="light-blue-targets">
						<div class="targets-title">Understanding the World</div>
						{{ ThisSubject.Current.UW.0|safe }}
						Computing:<br />
						{{ ThisReport.ICT.Current.WrittenTarget1.0|safe }}
					</div>
					<div class="light-purple-sig" style="vertical-align: middle;">
						<div style="margin-top: 30px;">
							{{ ThisSubject.TeacherName }}
						</div>
						<hr style="margin: 0;">
						<div style="margin-top: 30px;">
							{{ ThisReport.ICT.TeacherName }}
						</div>
						<hr style="margin: 0;">
					</div>
				</div>

				<div class="table-row">
					<div class="light-blue-targets">
						<div class="targets-title" style="margin-bottom: 5px;">Expressive Arts and Design</div>
						{{ ThisSubject.Current.EAD.0|safe }}
                        Music:<br />
						{{ ThisReport.Music.Current.WrittenTarget1.0|safe }}
						Drama:<br />
						{{ ThisReport.Drama.Current.WrittenTarget1.0|safe }}
						Art & Design:<br />
						{{ ThisReport.Art.Current.WrittenTarget1.0|safe }}
					</div>
					<div class="light-purple-sig" style="vertical-align: middle;">
						<div style="margin-top: 60px;">
                        {{ ThisReport.Music.TeacherName }}
						</div>
						<hr style="margin: 0;">
						<div style="margin-top: 30px;">
                        {{ ThisReport.Drama.TeacherName }}
						</div>
						<hr style="margin: 0;">
						<div style="margin-top: 30px;">
                        {{ ThisReport.Art.TeacherName }}
						</div>
						<hr style="margin: 0;">
					</div>
				</div>

				<div class="table-row">
					<div class="light-blue-targets no-border">
						<div class="targets-title" style="margin-bottom: 5px;">Physical Development</div>
                        {{ ThisSubject.Current.PD.0|safe }}
						Games:<br />
						{{ ThisReport.Games.Current.WrittenTarget1.0|safe }}
						Gym:<br />
						{{ ThisReport.Gym_Athletics.Current.WrittenTarget1.0|safe }}
						Dance:<br />
                        <ul>
						    <li><span style="color: #6E6E6E;font-style: italic;">Due to Mrs Gootje's current absence , targets for Dance will be sent at a later point</span></li>
                        </ul>
					</div>
					<div class="light-purple-sig no-border" style="vertical-align: middle;">
						<div style="margin-top: 60px;">
                        {{ ThisReport.Games.TeacherName }}
						</div>
						<hr style="margin: 0;">
						<div style="margin-top: 30px;">
						{{ ThisReport.Gym_Athletics.TeacherName }}
						</div>
                        <hr style="margin: 0;">
						<div style="margin-top: 30px;">
                        {{ ThisReport.Ballet.TeacherName }}
						</div>
						<hr style="margin: 0;">
					</div>
				</div>
			</div>

			<div class="light-blue-targets-footer"></div>
			<div class="light-purple-sig-footer"></div>
			<div class="clear"></div>
		</div>
	</div>

	<div class="blue-box margint150">
		<div class="signature-titlel">Head</div>
		<div class="signature-titler">Teacher</div>
		<div class="clear"></div>

		<div class="signaturel"></div>
		<div class="signaturer"></div>
		<div class="clear"></div>
	</div>
<div style='page-break-before:always;float:clear;'></div>
</div>
{% endwith %}
{% endwith %}
{% endfor %}
{% endblock %}