{% verbatim %}
<div class="app-dialogue">
	<button type="button" class="back-button" title="Go Back" ng-click="data.go( '/past_range' )"><<<</button>
	<div class="app-dialogue-title">Edit attendance for: {{ data.staffGroup }}</div>
	<div class="clear"></div>
	<div class="take-attendance-box">
		<div class="name-fixed-col">
			<table id="fixedcol">
				<tr><th>Staff</th></tr>
				<tr><th>&nbsp;</th></tr>
				<tr ng-repeat="users in data.editAttendanceData">
					<td ng-click="popMaternity( $index )" class="tdlink" title="Click to set Maternity leave.">{{ users.staff.staff_full_name }}</td>
				</tr>
			</table>
		</div>
		<div id="edit-attendance-data">
			<table>
				
				<tr>
					<th rowspan="2">Staff</th>
					<th ng-repeat="dampm in data.ampmData track by $index" class="center">{{ dampm }}</th>
				</tr>
				<tr>
					<th colspan="2" ng-repeat="date in data.dateData track by $index" class="center">{{ date }}</th>
				</tr>
				<tr ng-repeat="users in data.editAttendanceData">
					<td ng-click="popMaternity( $index )" class="tdlink" title="Click to set Maternity leave.">{{ users.staff.staff_full_name }}</td>
					<td ng-repeat="date in users.attendance" class="center">
						<select ng-options="item.attendance_code+' - '+item.attendance_description for item in data.attendanceCodes track by item.attendance_code" ng-model="data.u[ $parent.$index ][ $index ]" ng-change="saveAttendanceChange( {{$parent.$index}} , {{$index}} )" class="attendance-form-select">
						</select>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="clear"></div>
	<div class="server-messages" ng-bind-html="data.serverMessages"></div>
</div>
<div id="page-mask" ng-show="data.maternityPop"></div>
<div id="fetching-data" ng-show="data.maternityPop">
	<div id="fetching-data-msg">
	Set Maternity Leave For:<br><b>{{ data.staff_full_name }}</b>
	<div class="date_picker">Start Date<br><input class="datepicker" type="date" ng-model="data.startDateMaternity" id="startDate"></div>
	<div class="date_picker">End Date<br><input class="datepicker" type="date" ng-model="data.endDateMaternity" id="endDate"></div>
	<div class="left"><button type="button" id="date-range-button" ng-click="data.maternityPop = false">Cancel</button></div>
	<div class="right"><button type="button" id="date-range-button" ng-click="processMaternity()">Submit</button></div>
	</div>
</div>
<script type="text/javascript">
	$( ".datepicker" ).datepicker({dateFormat: "yy-mm-dd", changeYear: true, yearRange: "1950:2025", constrainInput: true});
</script>

{% endverbatim %}