{% verbatim %}
<div class="app-dialogue">
	<button type="button" class="back-button" title="Go Back" ng-click="data.go( '/rules' )"><<<</button>
	<div class="app-dialogue-title">Create Staff Attendance Rules</div>
	<div id="staff-groups-box">
		<select name="staff-group-select" id="staff-group-select" ng-model="data.staffGroup" ng-change="fetchStaffList()">
			<option ng-repeat="group in data.staffGroups" value="{{group}}" ng-selected="data.staffGroup == group">{{group}}</option>
		</select>
	</div>
	<div class="input-box-wrapper">
		<div class="new-rule-input-box">
			<div class="table-row-group">
				<div class="table-row">
					<div class="date_picker">Start Date</div><div class="date_picker">
					<input class="datepicker" type="date" ng-model="data.startDate" id="startDate"></div>
					<div class="date_picker">End Date</div>
					<div class="date_picker"><input class="datepicker" type="date" ng-model="data.endDate" id="endDate"></div>
				</div>
			</div>
		</div>
		<div class="new-rule-input-box">
			<div class="table-row-group">
				<div class="table-row">
					<div class="date_picker" ng-repeat="day in daysOfTheWeek">{{ day.day }} <input type="checkbox" ng-model="day.checked"></div>
				</div>
			</div>
		</div>
		<div class="new-rule-input-box">
			<div class="table-row-group">
				<div class="table-row">
					<div class="date_picker">AM <input type="checkbox" ng-model="timeAM">&nbsp;&nbsp;&nbsp;PM <input type="checkbox" ng-model="timePM"></div>
				</div>
			</div>
		</div>
		<div class="new-rule-input-box">
			<div class="table-row-group">
				<div class="table-row">
					<div class="date_picker">Attendance Code</div>
					<div class="date_picker">
						<select ng-model="selectedCode" class="slim-select">
							<option value="-1">Select an attendance code</option>
							<option value="{{ code.fields.attendance_code }}" ng-repeat="code in data.attendanceCodes"><b>{{ code.fields.attendance_code }}</b> - {{ code.fields.attendance_description }}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	
	<button id="rule-submit" ng-click="ruleSubmit()">Create Rule</button>
	<div class="form-messages left">{{ data.formMessages }}</div>
	<div id="rule-filter-box">Filter <input id="rule-filter" ng-model="staffFilter"></div>
	<div class="clear"></div>
	
	<div id="rules-table">
		<table>
			<tr>
				<th></th>
				<th>ID</th>
				<th>Username</th>
				<th>Forename</th>
				<th>Surname</th>
				<th>Email</th>
				<th>DOB</th>
				<th>Gender</th>
			</tr>
			<tbody>
				<tr ng-repeat="user in staffData | filter: staffFilter" ng-if="user.fields.User[0]">
					<td><input type="checkbox" ng-model="user.checked"></td>
					<td>{{ user.pk }}</td>
					<td>{{ user.fields.User[0] }}</td>
					<td>{{ user.fields.Forename }}</td>
					<td>{{ user.fields.Surname }}</td>
					<td>{{ user.fields.EmailAddress }}</td>
					<td>{{ user.fields.DateOfBirth }}</td>
					<td>{{ user.fields.Gender }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
	$( ".datepicker" ).datepicker({dateFormat: "yy-mm-dd", changeYear: true, yearRange: "1950:2025", constrainInput: true});
</script>
{% endverbatim %}