{% verbatim %}
<div class="app-dialogue">
	<button type="button" class="back-button" title="Go Back" ng-click="data.go( '/' )"><<<</button>
	<div class="app-dialogue-title">Currently Active Rules</div>
	
	<button type="button" id="new-rule-btn" ng-click="data.go( '/new_rule' )">Create New Rule</button>
	<div id="rule-filter-box">Filter <input id="rule-filter"></div>
	
	<div class="clear"></div>
	
	<div id="rules-table">
		<table>
			<tr>
				<th>ID</th>
				<th>User Names</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Days</th>
				<th>AM / PM</th>
				<th>Code</th>
				<th colspan="2" style="width: 20px;">Actions</th>
			</tr>
			<tbody>
				<tr>
					<td colspan="8" ng-if="!data.rulesData.length">No Currently Active Rules</td>
				</tr>
				<tr ng-repeat="rule in data.rulesData">
					<td>{{ rule.pk }}</td>
					<td>{{ rule.fields.user_names }}</td>
					<td width="70">{{ rule.fields.start_date }}</td>
					<td width="70">{{ rule.fields.stop_date }}</td>
					<td>{{ rule.fields.days }}</td>
					<td>{{ rule.fields.am_pm }}</td>
					<td>{{ rule.fields.attendance_code }}</td>
					<td><div class="action-button" ng-click="deleteRule( rule.pk )" title="DELETE Rule.">D</div></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


{% endverbatim %}