{% verbatim %}
<div class="app-dialogue">
	<button type="button" class="back-button" title="Go Back" ng-click="data.go( '/' )"><<<</button>
	<div class="app-dialogue-title">Take attendance for<br>{{ data.staffGroup }}</div>
	<div class="ampm-select">Take attendance for: <select ng-model="data.ampm" ng-change="ampmChange()"><option value="AM" selected>AM</option><option value="PM">PM</option></select></div>
	<div class="change-all-select">
		<select ng-model="selectedVal" ng-change="setAllCodes()">
			<option value='-1'>Change All</option>
			<option value="{{ code.fields.attendance_code }}" ng-repeat="code in data.attendanceCodes"><b>{{ code.fields.attendance_code }}</b> - {{ code.fields.attendance_description }}</option>
		</select>
	</div>
	
	<div class="clear"></div>
	<div class="take-attendance-box">
		<table align="center">
			<tr>
				<th>Staff</th>
				<th>AM</th>
				<th>PM</th>
				<th></th>
			</tr>
			<tr ng-repeat="item in data.attendanceData">
				<td>{{item.staff_name}}</td>
				<td ng-if="item.am_attendance_taken == true">Taken</td>
				<td ng-if="item.am_attendance_taken == false && item.am_rule === false">Not Taken</td>
				<td ng-if="item.am_rule !== false && item.am_attendance_taken == false">Rule Applied</td>
				
				<td ng-if="item.pm_attendance_taken == true">Taken</td>
				<td ng-if="item.pm_attendance_taken == false && item.pm_rule === false">Not Taken</td>
				<td ng-if="item.pm_rule !== false && item.pm_attendance_taken == false">Rule Applied</td>
				
				<td><select ng-if="data.ampm == 'AM' && item.am_rule === false || data.ampm == 'PM' && item.pm_rule === false" class="attendance-form-select" data-staff-id="{{ item.staff_id }}" ng-change="attendanceFormChange( {{ item.staff_id }} )" ng-model="selectedVal">
						<option value="-1"></option>
						<option value="{{ code.fields.attendance_code }}" ng-selected="code.fields.attendance_code == '/'" ng-repeat="code in data.attendanceCodes"><b>{{ code.fields.attendance_code }}</b>&nbsp;&nbsp;&nbsp;&nbsp; - {{ code.fields.attendance_description }}</option>
					</select>
					<div ng-if="data.ampm == 'AM' && item.am_rule !== false">Rule:{{ item.am_rule }}</div>
					<div ng-if="data.ampm == 'PM' && item.pm_rule !== false">Rule:{{ item.pm_rule }}</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="left"><button type="button" ng-click="data.go( '/' )">Cancel</button></div>
	<div class="right"><button type="button" ng-click="submitAttendance()">Submit</bitton></div>
	<div class="clear"></div>
	<div class="server-messages" ng-bind-html="data.serverMessages"></div>
</div>
{% endverbatim %}