
.AttendanceBox { 
{% load static from staticfiles %}
	width:130px;
	height:170px;
	border: 5px double;
	font-size:12px;
	font-weight:bold;
	margin:2px ;
	float:left;
	background-image: url('{% static "images/Letterbackground.png" %}');
	background-repeat:repeat;
	position:relative;
	}
.AttendanceBox img {
	padding-top:10px;
	padding-left:15px;
	padding-right:15px;
	width:100px;
	height:135px;
	}
.AttendanceBox select {
	margin-left:15px;
	padding-left:10px;
	width:100px; 
	}
.AttendanceHeader {
	margin-left:15px;
	margin-right:15px;
	font-size:13px;
	width:100px;
	height:30px;
	position: absolute;
	top: 10px;
	background: rgba(0, 0, 0, 0.7);
	color:white;
	}
.AttendanceFooter {
	margin-left:15px;
	margin-right:15px;
	font-size:13px;
	width:110px;
	height:20px;
	position: absolute;
	Bottom: 25px;
	color:white;
	}
.AttendanceFooter img {
	padding: 0px;
	width:20px;
	height: 20px;
	float:left;
	
	}
