
	body  {
{% load static from staticfiles %}
	margin-left:2cm;
	margin-right:2cm;
	}
	.LetterWhole {
	font-size: 13px;		
	display: block;
	float:clear;
	overflow:auto;
	font-family: 'Montserrat', sans-serif;
	}
    .page-break  {
        clear: left;
        display:block;
        page-break-after:always;
        }
	.SchoolHeader {
		float: right;
		margin-bottom: 0cm;
	}
	.PostalDetails {
	display: block;
	float: left;
	margin-top: 6cm;
	position:absolute;
	}
	.LetterDate {
	float: right;
	margin-top:1cm;
	display:block;
	text-align:right;
	}
	
	.LetterBody {
		margin-top:2.5cm;
		float: clear;
		display:block;
		text-align: justify;
	}

	.PostalDetailsHeaded {
		display: block;
		margin-top: 3cm;
	}
.LetterClose {
float: clear;
display: block;
text-align: center;
	}
