

{% load static from staticfiles %}
.managermenu {
	list-style:none;
	width:85px;
	margin:0px 0px 0px 10px;
	height:22px;
	padding:3px 8px 4px 9px;
	overflow:visible;
        z-index:500;
	
	/* Background color and gradients */
	
	background:#F4F4F4;
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));
	
	/* Borders */
	
	border: 1px solid #002232;

	/*-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;*/
}

.managermenu li {
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 3px 5px 4px 9px;
	border:none;
	overflow:visible;
}

.managermenu li:hover {
	border: 1px solid #777777;
	padding: 3px 5px 4px 9px;
	z-index:9999;
	/* Background color and gradients */
	
	background: #F4F4F4;
	background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));
	
	/* Rounded corners */
	
	/*-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;*/
}

.managermenu li a {
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px; 
	display:block;
	color: black;
	outline:0;
	text-decoration:none;
	text-shadow: 1px 1px 1px #FFFFFF;
}

.managermenu li:hover a {
	color:#161616;
	text-shadow: 1px 1px 1px #ffffff;
}
.managermenu li .drop {
	padding-right:21px;
	background:url('{% static "images/drop.png" %}') no-repeat right 8px;
}
.managermenu li:hover .drop {
	background:url('{% static "images/drop.png" %}') no-repeat right 8px;
}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
	margin:4px auto;
	float:left;
	position:absolute;
	top:8px;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:3px 5px 10px 5px;
	border:1px solid #222222;
	/*border-top:none;*/

	
	/* Gradient background */
	background:#F4F4F4;
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));

	/* Rounded Corners */
	/*-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;*/
}

.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 700px;}

.managermenu li:hover .dropdown_1column, 
.managermenu li:hover .dropdown_2columns, 
.managermenu li:hover .dropdown_3columns,
.managermenu li:hover .dropdown_4columns,
.managermenu li:hover .dropdown_5columns {
	left:-1px;
	top:auto;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}

.managermenu .menu_right {
	float:right;
	margin-right:0px;
}
.managermenu li .align_right {
	/* Rounded Corners */
	/*-moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;*/
}

.managermenu li:hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}

.managermenu p, .managermenu h2, .managermenu h3, .managermenu ul li {
	font-family:Verdana, Geneva, sans-serif;
	line-height:21px;
	font-size:14px;
	text-align:left;
	text-shadow: 1px 1px 1px #FFFFFF;
}
.managermenu h2 {
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:1px solid #666666;
}
.managermenu h3 {
	font-size:14px;
	margin:3px 0 7px 0;
	padding-bottom:3px;
	border-bottom:1px solid #888888;
}
.managermenu p {
	line-height:18px;
	margin:0 0 10px 0;
}

.managermenu li:hover div a {
	font-size:14px;

}
.managermenu li:hover div a:hover {
	color:blue;
}


.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	/*-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;*/
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}

.managermenu li .black_box {
	background-color:#333333;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;

	/* Rounded Corners */
	/*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;*/

	/* Shadow */
	/*-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;*/
}

.managermenu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
.managermenu li ul li {
	font-size:12px;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	width:130px;
}
.managermenu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}

.managermenu li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;

	/* Rounded Corners */
	/*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;*/
}
.managermenu li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}
