
.overlay {
{% load static from staticfiles %}
	visibility:hidden;
	position: absolute;
	left:0px;
	top: 0px;
	width:100%;
	min-height:100%;
	overflow:hidden;
	text-align:center;
	z-index:1000;
	background-color:rgba(100,163,107,0.3);
	}
.overlay .Title {
	top: 20px;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	border: 2px solid black;
	font-size:30px;
	background-color: white;
	box-shadow: 0px 6px 10px 4px #888888;
	}
.overlay .Popup1 {
	width:460px;
	height:400px;
	margin:20px auto;
	text-align:left;

	}
.screenlock {
	visibility:hidden;
	position: absolute;
	left:0px;
	top: 0px;
	width:100%;
	height:100%;
	text-align:center;
	z-index:2000;
	background-color:rgba(100,163,107,0.3);
	}
