
.DataItem {
{% load static from staticfiles %}
	color:#2F4F4F;
	font-size: 13px;
	padding-left:5px;
}

.Label {
	font-size: 13px;
	padding-left:5px;
}

.SmallLabel {
	font-size: 13px;
	padding-left:5px;
	width:80px;
}

#dialogColor_underlay {
    background-color:grey;
}

.RecordFormDialog td {
	text-align:left;
}

.RecordFormDialog input {
	text-align:left;
}

.RecordFormDialog select { 
	width:100%;
}

.RecordFormDialog {
	border: 1px solid;
	font-size:13px;
	font-weight:bold;
	margin:2px ;
	float:left;
	background-image: url('{% static "images/Letterbackground.png" %}');
	background-repeat:repeat;	
	overflow:auto;
	padding: 10px;
	box-shadow: 0px 6px 10px 4px #888888;
	}
.RecordFormDialog button {
	width: 100px;
	}
.RecordFormDialog  label{
	font-size:13px;
	font-weight:bold;
	width:160px;
	float:left;
	}
		
.RecordFormBody {
	width:860px;
	border: 1px solid;
	font-size:13px;
	font-weight:bold;
	margin:2px ;
	float:left;
	background-image: url('{% static "images/Letterbackground.png" %}');
	background-repeat:repeat;	
	}
.RecordFormBody button {
	width: 100px;
	}	
	
.RecordFormInput {
	background-image: url('{% static "images/Letterbackground.png" %}');
	background-repeat:repeat;
	border: 5px double;
	overflow:auto;
	padding: 10px;
	}
.RecordFormInput  label{
	font-size:13px;
	font-weight:bold;
	width:160px;
	float:left;
	}
.RecordFormInput input[type=submit] {
	border:2px solid #333333;
	border-radius:2px;
	padding:3px;
	font-size:13px;
	width:120px;
	margin-left: 160px;
	margin-right:auto;
}
.RecordFormInput input[type=text] {
	border:2px solid #333333;
	border-radius:2px;
	padding:5px;
	font-size:13px;
	width:290px;
	margin:0px 0px 10px 0px;
}

.RecordFormInput input[type=password] {
	border:2px solid #333333;
	border-radius:2px;
	padding:5px;
	font-size:13px;
	width:290px;
	margin:0px 0px 10px 0px;
}
.RecordFormCommands select {
	width:100px;
	}
	
.RecordFormCLeft {
	width: 170px;
	margin: 2px;
	padding: 3px;
	float: left;
	}
.RecordFormCRight {
	width: 650px;
	margin: 2px;
	padding: 3px;
	float: left;
	}
.RecordFormCRight1 {
	width: 640px;
	margin: 2px;
	padding: 2px;
	float: clear;
	overflow: auto;
	border: 2px solid;
	}
.RecordFormCRight2 {
	width: 120px;
	margin: 2px;
	padding : 2px;
	float: left;
	text-align: center;
	}
	
.RecordFormCRight2 input[type=submit] {
	float:clear;
	display: block;
}
.RecordFormCRight3 {
	width:300;
	margin-left:auto;
	margin-right: auto;
	padding: 2px;
	padding: 2px;
	float: left;
	}
	
.table-wrapper {
  position:relative;
}
.table-scroll {
  height:145px;
  width:500px;
  overflow:auto;  
}
.table-wrapper table {
  width:100%;
}
.table-wrapper table * {
	background-color:#EAF0E0;
}




