
@charset "utf-8";
{% load static from staticfiles %}
/* CSS Document  in mis/static*/

body {
	background-color:#222222;
/*	background-color:#00007A; */
	margin:0px 0px 0px 0px;
	color:#333333;
	font-family:Verdana, Geneva, sans-serif;
	font-size:15px;
}

h1 {
	font-size:17px;
	color:#070a69;
	font-weight:bold;
	margin:0px 5px 5px 0px;
}
Label { font-size: 12px;
	  font-weight:bold;
	  }

textarea {
	margin:10px 10px 10px 10px;
	padding-left: 30px;
	padding-right: 30px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
}
.container {
	width:900px;
	margin:auto;
}

.header {
	width:880px;
	position:relative;
}

.navbar {
	width:900px;
}

.navButtons {
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:0px;
}

.navButtons li{
	width:150px;
	height:35px;
	background-image:url(../images/button_bg.jpg);
	background-repeat:no-repeat;
	float:left;
	margin:0px 12px 16px 0px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	padding-top:15px;
	color:#444444;
}

.navButtons li:hover{
	background-position:0px 100%;
	cursor:pointer;
	color:#666666;
}

.navButtons li:last-child{
	margin:0px 0px 0px 0px;
}

.content {
	width:900px;
}

.contentLeft {
	width:900px;
	height: auto;
}

.leftHead {
	width:900px;
}

.leftMiddle {
	width:880px;
	background-color:#ffffff;
	padding:0px 10px 10px 10px;
	overflow:auto;
}

.leftBottom{
	width:900px;
	line-height:0px;
	height:8px;
	margin:0px 0px 13px 0px;
}

.contentRight {
	width:320px;
	float:right;
}

.rightHead {
	padding-top:5px;
	width:200px;
}

.rightMiddle {
	width:320px;
	background-color:#ffffff;
	padding:0px 10px 0px 10px;
}

.rightBottom{
	width:290px;
	line-height:0px;
	height:8px;
	margin:0px 0px 10px 0px;
}

.footer {
	width:880px;
	margin:20px 0px 100px 0px;
	color:#dddddd;
	text-align:center;
	border:1px #333333 solid;
	border-width:1px 0px 0px 0px;
	padding:10px;
}

.banner {
	border-radius:3px;
	width:860px;
	padding:10px 10px 13px 10px;
	color:#eeeeee;
	background:#333333;
	box-shadow:inset 0 0 10px #111111;
	margin:0px 0px 10px 0px;
	font-weight:bold;color:lightblue;
}

.bannerShort {
	border-radius:3px;
	width:160px;
	padding:10px;
	color:#eeeeee;
	background:#333333;
	box-shadow:inset 0 0 10px #111111;
	margin:0px 0px 10px 0px;
}
.bannerDialog {
	border-radius:3px;
	width:auto;
	padding:3px;
	margin-bottom: 3px;
	color:#eeeeee;
	background:#333333;
	box-shadow:inset 0 0 10px #111111;
}


.sideButton {
	border-radius:3px;
	width:160px;
	padding:10px;
	color:#eeeeee;
	background:#333333;
	box-shadow:inset 0 0 10px #111111;
	margin:0px 0px 6px 0px;
}

.sideButton:hover {
	cursor:pointer;
	color:#eeeeee;
	background:#555555;
}

.divider {
	border:2px solid #cccccc;
	width:90%;
	margin:12px auto 12px auto;
	border-width:2px 0px 0px 0px;
	line-height:1px;
}

.standardForm input[type=submit] {
	border:2px solid #333333;
	border-radius:2px;
	padding:3px;
	font-size:11px;
	width:100px;
	margin:10px 0px 0px 0px;
}

.RecordForm input[type=submit] {
	border:2px solid #333333;
	border-radius:2px;
	padding:3px;
	font-size:11px;
	width:60px;
	margin:10px 0px 0px 0px;
	float: right;
}

.RecordForm input[type=text] {
	border:2px solid #333333;
	border-radius:2px;
	padding:5px;
	font-size:11px;
	width:100px;
	margin:0px 0px 10px 0px;
}

.SearchForm input[type=submit] {
	border:2px solid #333333;
	border-radius:2px;
	padding:3px;
	font-size:11px;
	width:80px;
	margin:0px 0px 10px 0px;
	float: right;
	
}
.UpdateAlertsForm input[type=submit] {
	border:2px solid #333333;
	border-radius:2px;
	padding:3px;
	font-size:11px;
	width:80px;
	margin:0px 0px 0px 0px;
	float: right;
}

.SearchForm input[type=text] {
	border:2px solid #333333;
	border-radius:2px;
	padding:3px;
	font-size:11px;
	width:150px;
	margin:0px 0px 10px 0px;
}

.standardForm input[type=text] {
	border:2px solid #333333;
	border-radius:2px;
	padding:5px;
	font-size:11px;
	width:160px;
	margin:0px 0px 10px 0px;
}

.standardForm input[type=password] {
	border:2px solid #333333;
	border-radius:2px;
	padding:5px;
	font-size:11px;
	width:160px;
	margin:0px 0px 10px 0px;
}

.standardForm input:focus {
	background:#dddeff;
}

.profileRow {
	margin:0px 0px 5px 0px;
}

.profileArea {
	font-weight:bold;
	float:left;
	width:100px;
	clear:both;
}

.profileValue {
	float:right;
	width:140px;
	clear:right;
}

.dataLabel {
	font-weight:bold;
	float:left;
	width:90px;
	clear:both;
}

.dataCritialItem {
	font-size: 14px;
	font-weight:600;
	float:right;
	width:100px;
	clear:right;
}

.dataSmallItem {
	font-size: 14px;
	float:right;
	width:120px;
	clear:right;
	padding-left:5px;	
}

.dataLargeItem {
	float:right;
	width:620px;
	clear:right;
	padding-left:5px;
}
.AttendanceItem {
margin: auto ; 
border-width: medium ; 
border-style:groove;
background-color:#FDD017;
font-size:13px;
font-weight:600;
text-align:center;
}
/* Main */
/* Main menu */

#menu
{
	width: 100%;
	margin: 0;
	padding: 5px 0 0 0;
	list-style: none;  
	background: #111;
	background: -moz-linear-gradient(#444, #111); 
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));	
	background: -webkit-linear-gradient(#444, #111);	
	background: -o-linear-gradient(#444, #111);
	background: -ms-linear-gradient(#444, #111);
	background: linear-gradient(#444, #111);
	-moz-border-radius: 10px;
	border-radius: 10px;

}

#menu li
{
	float: left;
	padding: 0 0 5px 0;
	position: relative;
	line-height: 0;
}

#menu a 
{
	float: left;
	height: 20px;
	padding: 0 15px;
	color: #999;
	font: bold 14px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}
#menu dt
{
	float: left;
	height: 20px;
	padding: 0 15px;
	background-color: #999;
	font: bold 14px/25px Arial, Helvetica;
}

#menu li:hover > a
{
	color: #fafafa;
}

*html #menu li a:hover /* IE6 */
{
	color: #fafafa;
}

#menu li:hover > ul
{
	display: block;
}

/* Sub-menu */

#menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 99999;    
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);    
    background: -o-linear-gradient(#444, #111);	
    background: -ms-linear-gradient(#444, #111);	
    background: linear-gradient(#444, #111);
    -moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
    box-shadow: 0 0 2px rgba(255,255,255,.5);	
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul ul
{
  top: 7px;
  left: 60px;
}
#menu ul ul.Tasks
{
  top: -30px;
  left: 50px;
}

#menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child
{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#menu ul a
{    
    padding: 5px;
	height: 5px;
	width: 100px;
	height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
	text-transform: none;
}

#menu ul dt
{    
    padding: 5px;
	height: 5px;
	width: auto;
	height: auto;
	position: static;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
	text-transform: none;
}

*html #menu ul a /* IE6 */
{    
	height: 5px;
}

*:first-child+html #menu ul a /* IE7 */
{    
	height: 5px;
}

#menu ul a:hover
{
    background: #0186ba;
	background: -moz-linear-gradient(#04acec,  #0186ba);	
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#04acec,  #0186ba);
}

#menu ul li:first-child > a
{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
#menu ul li:first-child > dt
{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child > a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}
#menu ul li:first-child > dt:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul ul li:first-child a:after
{
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;	
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid #444;
}
#menu ul ul li:first-child dt:after
{
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;	
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid #444;
}


#menu ul li:first-child a:hover:after
{
    border-bottom-color: #04acec; 
}

#menu ul ul li:first-child a:hover:after
{
    border-right-color: #04acec; 
    border-bottom-color: transparent; 	
}


#menu ul li:last-child > a
{
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
#menu ul li:last-child > dt
{
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after 
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */
/* added elements */
ul.errorlist {
margin: 0;
padding: 0;
}
.errorlist li {
background-color: red;
color: white;
display: block;
font-size: 10px;
margin: 0 0 3px;
padding: 4px 5px;
}

/* table display css */
.WillowTable1 
{ 
padding:1px; 
width: 100%; 
border: none; 
text-align:center;
}
.WillowTableHeader
{
background-color:#EAF0E0; 
font-weight:600;
font-size:120%;
}
.WillowTableHeaderSmall
{
	background-image: url('{% static "images/Letterbackground.png" %}');
	background-repeat:repeat; 
font-weight:700;
font-size:110;
}
.WillowTableRow1
{
	background-color:#CCC9A1;

}
.WillowTableRow2
{
	background-color:#EAF0E0;
}
.WillowTableRowSmall1
{
	background-image: url('{% static "images/Letterbackground.png" %}');
	background-repeat:repeat;
	position: relative;
}
.WillowTableRowSmall2
{
	background-color:#EAF0E0;
	position: relative;
}

.WillowTableRowSmall1 img,
.WillowTableRowSmall2 img{ z-index: 1000; }

.WillowTableNewRow
{
background-color:#737CA1; 
font-size:125%; 
font-weight:600;
}
.WillowTableReadOnly
{
background-color:#98AFC7; 
font-size:125%; 
font-weight:600;
}
.WillowTableEdit
{
background-color:#FFF8C6; 
font-size:125%; 
font-weight:600;
}
.WillowTable1 input[type=submit]
{
border:2px solid #333333;
border-radius:2px;	
padding:3px; 
font-size:11px; 
width:60px; 
margin:10px 0px 0px 0px;
}

table.center {
	margin-left:auto;
	margin-right:auto;
	}
.WillowLink {color: white;}

.LetterCreateMain {
	width:860px;
	margin:auto;
	background-image: url('{% static "images/Letterbackground.png" %}');
	background-repeat:repeat;
	padding:10px;
	}
	
.LetterCreateTop2 {
	text-align:center;
	padding: 5px;
	}	

.LetterCreateTop2 {
	padding: 5px;
	}	
	
.LetterCreateMain label {
	font-weight:bold;
	float:left;
	width:200px;
	clear:both;
	}
.LetterCreateMain input[type=text] {
	border:2px solid #333333;
	border-radius:2px;
	padding:5px;
	font-size:11px;
	width:600px;
	margin:0px 0px 10px 0px;
	}
.LetterCreateMain input:focus {
	background:#dddeff;
}

.LetterCreateMiddle {
	height:550px;
	padding: 6px;
	}

.LetterCreateBottom {
	width:840px;
	height:200px;
	border-style:double;
	border-width:5px;
	border-color: grey;
	padding: 5px;
	}		
.LetterCreateMain input[type=submit] {
	border:2px solid #333333;
	border-radius:2px;
	padding:3px;
	font-size:11px;
	width:100px;
	margin:10px 0px 0px 0px;
}
.KeywordsContainer {
	float: left;
	display: block;
	}
.KeywordsC1 {
	width: 150px;
	height:350px;
	border: 5px double;
	font-size:15px;
	font-weight:bold;
	margin:2px ;
	float:left;
	background-image: url('{% static "images/Letterbackground.png" %}');
	background-repeat:repeat;	
}
.KeywordsC1 p {
margin: 5px;
padding: 2px;
border: 1px solid;
}
.KeywordsC1 p:hover {
color: red;
cursor:pointer;
}
.KeywordsC2 {
	width:705px;
	height:350px;
	font-size: 14px;
	margin: 2px;
	float:left;

	}

.KeywordsC2A {
	height:170px;
	display: block;
	border:5px double;
	margin: 0px 10px 3px 10px;
	background-image: url('{% static "images/Letterbackground.png" %}');
	background-repeat:repeat;	
	overflow:auto;	
	}
.KeywordsC2A p {
	font-weight:bold;
	margin: 5px;
	padding: 2px;
	border: 1px solid;
	float:left;
	
}
.KeywordsC2A p:hover {
	color:red;
	cursor:pointer;
}

.KeywordsC2B {
	display: block;
	border: 5px double;
	height: 167px;
	overflow:auto;
	background-image: url('{% static "images/Letterbackground.png" %}');
	background-repeat:repeat;	
	margin: 2px 10px 3px 10px;		
	}
.KeywordsC2B p {
	margin: 5px;
	padding: 2px;
	border: 1px solid;
	float:left;
}
.KeywordsC2B p:hover {
color:red;
cursor:pointer;
}

.NotesC1 {
	float: left;
	display: block;
	}
.NotesC1 p {
margin: 5px;
padding: 2px;
border: 1px solid;
}
.NotesC1 p:hover {
color: red;
cursor:pointer;
}
.NotesC2 {
float: left;
margin: 2px;
display:none;
font-size:15px;
}
.NotesC2 p {
	font-weight:bold;
	margin: 5px;
	padding: 2px;
	font-size:25px;
	}
.NotesSlider {
	background-image: url('{{ STATIC_URL}}images/Letterbackground.png');
	background-repeat:repeat;	
	border: 5px double;
	}
.NotesSlider p {
	font-weight:bold;
	margin: 5px;
	padding: 2px;
	float:left;
	font-size:15px;
	}	
.NotesBody {
display:block;
}

.WelcomeBody {
display:block;
height:550px;
}


/*------CSS for possible new layout:
		linked to the page "PupilRecord_NewLayoutByRoy_NotUsed"---------

.pupilRecordBold {
	font-weight: bold;
	float: right;
	padding-right: 5px;
}

#pupilRecordMainButtonsBar {
	margin-left:auto;
	margin-right:auto;
	text-align:center; 
	border-radius:3px;
	width:880px;
	padding: 5px 0 5px 0;
	color:#eeeeee;
	background-color:#CCC9A1;
	margin:0px 0px 10px 0px;
	border: 1px solid #222222;
}

#pupilRecordMainButtonsBar button {
	width: 150px;
	padding: 4px 16px 4px 16px;
	margin: 0 30px 0 30px;
	background-color:#EAF0E0;
	border-radius:3px;
	border: 1px solid #222222;
}

#pupilRecordMainButtonsBar button:hover {
	background-color:#89854A;
}

#pupilRecordBaseDetails {
	float: left;
	margin-left:auto;
	margin-right:auto;
	border-radius:3px;
	width:880px;
	padding: 5px 0 5px 0;
	color:#eeeeee;
	background-color:#CCC9A1;
	margin:0px 0px 10px 0px;
	border: 1px solid #222222;
}

#pupilRecordImage img{
	margin: 5px;
	border: 1px solid #222222;
	float: left;
}

#pupilRecordBaseName {
	float: left;
	color: #222222;
}


#pupilRecordBaseMainDetails {
	float: right;
	width: 600px;
	min-height: 170px;
	border-radius:3px;
	padding: 5px;
	color:#222222;
	background-color:#EAF0E0;
	margin:0px 5px 10px 0px;
	border: 1px solid #222222;
}

.pupilRecordBaseMainDetailsInnerDiv {
	float: left;
	margin-left: 3px;
	margin-top: 3px;
	padding: 5px;
	min-width: 285px;
	background-color:#CCC9A1;
}

.pupilRecordBaseMainDetailsInnerDiv3 {
	clear; both;
	float: right;
	margin-left: 3px;
	margin-top: 3px;
	padding: 5px;
}

.pupilRecordBaseMainDetailsInnerDiv3 button{
	background-color: #EAF0E0;
	border: 1px solid #222222;
	border-radius:3px;
	min-width: 185px;
}

.pupilRecordBaseMainDetailsInnerDiv3 button:hover {
	background-color:#89854A;
}
----------------------------------------------------------------------*/

/*--------------------------------------------------------------------*/
#pupilRecordTopButtonsBar {
	margin-left:auto;
	margin-right:auto;
	text-align:center; 
	border-radius:3px;
	width:877px;
	padding: 5px 0 5px 0;
	color:#eeeeee;
	background-color:#CCC9A1;
	margin:0px 0px 10px 0px;
	border: 1px solid #222222;
}

#pupilRecordTopButtonsBar button {
	padding:3px;
	width:135px;
	margin-left:2px;
	margin-right:2px;
}

#pupilRecordImage {
	margin: 5px;
	border: 1px solid #222222;
	float: left;
}

.pupilRecordInnerBox {
	float: right;
	width: 640px;
	height: 165px;
	border: 2px solid #222222;
	margin: 6px 25px 6px 5px;
	padding: 2px 20px 2px 2px;
}

.modifyButton {
	margin-left: 5px;
	float: left;
}

.pupilRecordBaseMainDetailsInnerDiv {
	float: left;
	margin-left: 3px;
	margin-top: 3px;
	padding: 5px;
	width: 235px;
	background-color:#EAF0E0;
}

.pupilRecordBaseMainDetailsInnerDiv2 {
	float: right;
	margin-left: 3px;
	margin-top: 3px;
	padding: 5px;
	width: 235px;
	background-color:#EAF0E0;
}

.pupilRecordBold {
	font-weight: bold;
	float: right;
	padding-right: 5px;
}

#pupilRecordBaseMainDetails {
	overflow: auto;
	width: 500px;
	max-height: 155px;
	float: right;
}
/*--------------------------------------------------------------------*/

.Label {
	width: 175px;
}

.RecordFormTitleText {
	padding-top:0;
	margin-top:0;
}

/*--------------------------------------------------------------------*/
#PupilInternetPermissionsHave {
	height: 75px;
	width: 150px;
	padding: 5px;
	border-radius:5px;
}

#PupilInternetPermissionsHave:hover {
	background-color:#89854A;
	cursor: pointer;
}

#PupilInternetPermissionsHaveNot {
	height: 75px;
	width: 150px;
	padding: 5px;
	border-radius:5px;
}


#PupilInternetPermissionsHaveNot:hover {
	background-color:#89854A;
	cursor: pointer;
}

#PupilMediaPermissionsHave {
	height: 75px;
	width: 150px;
	padding: 5px;
	border-radius:5px;
}

#PupilMediaPermissionsHave:hover {
	background-color:#89854A;
	cursor: pointer;
}


#PupilMediaPermissionsHaveNot {
	height: 75px;
	width: 150px;
	padding: 5px;
	border-radius:5px;	
}


#PupilMediaPermissionsHaveNot:hover {
	background-color:#89854A;
	cursor: pointer;
}

#EditPupilOtherInformationSelect {
	width: 250px;
} 

.favouritesDiv {
	padding: 7px;
	background-color: #CCC9A1;
	margin: 1px 5px 1px 5px;
	border: 1px solid black;
	border-radius: 5px;
}

.favouritesSpan {
	color: darkblue;
	font-size: 1.15em;
	font-weight: bold;
	text-align: center; 
}

.favouritesSpanDiv { 
	clear: both;
	float: left;
	padding: 5px;
	width: 550px;
}

.favouritesButton {
	width: 120px;
}

.GlobalVariablesContainer {
	width:860px;
	border: 5px double;
	font-size:15px;
	font-weight:bold;
	margin:2px ;
	float:left;
	background-image: url('{% static "images/Letterbackground.png" %}');
	background-repeat:repeat;	
	}
	
.GlobalVariablesTable {
	width: 80%;
	margin-top: 10px;
	margin-left:auto; 
	margin-right:auto; 
}	

.GlobalVariablesTable button {
	padding: 0;
	margin: 0;
}	
	
.GlobalVariablesTableTd {
	padding-left: 5px; 
	background-color:#EAF0E0;
	width:800px;
}

.GlobalVariablesTableButton {
	padding: 0px;
}

.favouritesSpanButtonsDiv { 
}

.table-scroll2 {
	height:600px;
	overflow:auto;  
}

#gradeDisplay {
	margin-top:75px; 
	text-align:center;
	color:darkblue;
	height:100px;
	font-size:20px;
}

#gradeSelectionContainer {
	width:300px;
	padding:10px; 
	margin-left:auto;
	margin-right:auto;	
	margin-top:0;
	font-size:16px;
	border:3px solid gray; 
	border-radius:25px;	
}

.GradeSelectPageText {
	margin-bottom:0;
	padding-bottom:0;
}

.GradeSelectPageButtons {
	margin-top:75px;
	text-align:center;
}

.redText {
	color:darkred;
}

/*####################################################################*/
/* Mask for background, by default is not display */
#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

/* You can customize to your needs  */
.login-popup{
	display:none;
	background: #333;
	padding: 5px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99950;
	box-shadow: 0px 0px 20px #999; /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
        -moz-border-radius: 3px; /* Firefox */
        -webkit-border-radius: 3px; /* Safari, Chrome */
}

.login-popup2{
	display:none;
	background: #333;
	padding: 5px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999; /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
        -moz-border-radius: 3px; /* Firefox */
        -webkit-border-radius: 3px; /* Safari, Chrome */
}

img.btn_close { Position the close button
	float: right; 
	margin: -28px -28px 0 0;
}

fieldset { 
	border:none; 
}

form.signin .textbox label { 
	display:block; 
	padding-bottom:7px; 
}

form.signin .textbox span { 
	display:block;
}

form.signin p, form.signin span { 
	color:#999; 
	font-size:11px; 
	line-height:18px;
} 

form.signin .textbox input { 
	background:#666666; 
	border-bottom:1px solid #333;
	border-left:1px solid #000;
	border-right:1px solid #333;
	border-top:1px solid #000;
	color:#fff; 
        border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
        -webkit-border-radius: 3px;
	font:13px Arial, Helvetica, sans-serif;
	padding:6px 6px 4px;
	width:200px;
}

form.signin input:-moz-placeholder { color:#bbb; text-shadow:0 0 2px #000; }
form.signin input::-webkit-input-placeholder { color:#bbb; text-shadow:0 0 2px #000;  }

.button { 
	background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
	background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
	border-color:#000; 
	border-width:1px;
        border-radius:4px 4px 4px 4px;
	-moz-border-radius: 4px;
        -webkit-border-radius: 4px;
	color:#333;
	cursor:pointer;
	display:inline-block;
	padding:6px 6px 4px;
	margin-top:10px;
	font:12px; 
	width:214px;
}
.button:hover { background:#ddd; }

.manage-updated{ position: absolute; top: 0; right: 0; z-index: 1; }
.manage-updated img{ width: 40px; z-index: 1; }


/*####################################################################*/
/* css for timepicker */

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
