
.LetterWhole {
{% load static from staticfiles %}
	font-size: 13px;		
	display: block;
	float:clear;
	overflow:auto;
	font-family: 'Montserrat', sans-serif;
	}
.page-break  {
    clear: left;
    display:block;
    page-break-after:always;
}
.DayBox {
	position: fixed;
	width: 3.4cm;
	height: 6cm;
	margin: 0.2cm;
	background-color:#FF8C00;
	}
.Monday {
	top: 3cm;
	left: 2cm;
	transform:rotate(-5deg);
	-ms-transform:rotate(-5deg); /* IE 9 */
	-webkit-transform:rotate(-5deg);
	z-index: -1;
	}
.Tuesday {
	top: 4cm;
	left: 11.5cm;
	transform:rotate(5deg);
	-ms-transform:rotate(5deg); /* IE 9 */
	-webkit-transform:rotate(5deg);
	z-index: -1;
	}
.Wednesday {
	top: 9cm;
	left: 7cm;
	transform:rotate(-1deg);
	-ms-transform:rotate(-1deg); /* IE 9 */
	-webkit-transform:rotate(-1deg);
	}
.Thursday {
	top: 15cm;
	left: 3cm;
	transform:rotate(5deg);
	-ms-transform:rotate(5deg); /* IE 9 */
	-webkit-transform:rotate(5deg);
	z-index: 1;
	}
.Firday {
	top: 15cm;
	left: 11cm;
	transform:rotate(-5deg);
	-ms-transform:rotate(-5deg); /* IE 9 */
	-webkit-transform:rotate(-5deg);
	z-index: 2;
	}
