	.LetterWhole {
	display: block;
	page-break-after: always;
	}

	.SchoolHeader {
		float: right;
		margin-bottom: 0cm;
	}
	.PostalDetails {
	display: block;
		float: left;
		margin-top: 5cm;
	}
	
	.LetterBody {
		margin-top:1cm;
		margin-left: 1cm;
		margin-right:1.5cm;
		float: clear;
		display:block;
		text-align: justify;
	}

	.PostalDetailsHeaded {
		display: block;
		margin-top: 3cm;
		margin-left:1cm;
	}
.LetterClose {
float: clear;
display: block;
text-align: center;
	}

