<div class="app-dialogue">
	<div class="app-dialogue-title">Select a staff group and date range to set past or future attendance data.</div>
	<div id="staff-groups-box">
		<select name="staff-group-select" id="staff-group-select" ng-model="data.staffGroup">
			<option ng-repeat="group in data.staffGroups" value="{{group}}">{{group}}</option>
		</select>
	</div>
	<div class="form-messages">{{ data.formMessages }}</div>
	<div class="date_picker"><input class="datepicker" type="date" ng-model="data.startDate" id="startDate"></div>
	<div class="date_picker"><input class="datepicker" type="date" ng-model="data.endDate" id="endDate"></div>
	<div class="left"><button type="button" id="date-range-button" ng-click="data.go('/')">Cancel</button></div>
	<div class="right"><button type="button" id="date-range-button" ng-click="validateDateRange()">Submit</button></div>


</div>
<script type="text/javascript">
	$( ".datepicker" ).datepicker({dateFormat: "yy-mm-dd", changeYear: true, yearRange: "1950:2025", constrainInput: true});
</script>