<div class="app-dialogue">
	<div class="app-dialogue-title">Take attendance for: {{ data.staffGroup }}</div>
	<div class="server-messages" ng-bind-html="data.serverMessages"></div>
	<div class="clear"></div>
	<div class="take-attendance-box">
		<table>
			<tr>
				<th rowspan="2">Staff</th>
				<th ng-repeat="dampm in data.ampmData track by $index" class="center">{{ dampm }}</th>
			</tr>
			<tr>
				<th colspan="2" ng-repeat="date in data.dateData track by $index" class="center">{{ date }}</th>
			</tr>
			<tr ng-repeat="users in data.editAttendanceData">
				<td>{{ users.staff.staff_full_name }}</td>
				<td ng-repeat="date in users.attendance">
					<select ng-options="item.attendance_code+' - '+item.attendance_description for item in data.attendanceCodes track by item.attendance_code" ng-model="data.u[ $parent.$index ][ $index ]" ng-change="saveAttendanceChange( {{$parent.$index}} , {{$index}} )" class="attendance-form-select">
					</select>
				</td>
				
			</tr>
		</table>
	</div>
	<div class="left"><button type="button" ng-click="data.go( '/' )">Cancel</button></div>
</div>