<div class="app-dialogue">
	<div class="app-dialogue-title">Select a staff group to take attendance.</div>
	<div id="staff-groups-box">
		<select name="staff-group-select" id="staff-group-select" ng-model="data.staffGroup">
			<option ng-repeat="group in data.staffGroups" value="{{group}}">{{group}}</option>
		</select>
		<button type="button" id="staff-groups-button" ng-click="data.go( '/take_attendance' )">Submit</button>
	</div>
	
	<div>OR</div>
	
	<div style="margin: 10px;"><button type="button" id="past-future-button" ng-click="data.go( '/past_future_range' )">Edit Past or Future Attendance</button></div>
</div>