<div class="app-dialogue">
	<div class="app-dialogue-title">Take attendance for: {{ data.staffGroup }}</div>
	<div class="server-messages" ng-bind-html="data.serverMessages"></div>
	<div class="ampm-select">Take attendance for: <select ng-model="data.ampm"><option value="AM" selected>AM</option><option value="PM">PM</option></select></div>
	<div class="change-all-select">
		<select ng-model="selectedVal" ng-change="setAllCodes()">
			<option value='-1'>Change All</option>
			<option value="{{ code.fields.attendance_code }}" ng-repeat="code in data.attendanceCodes"><b>{{ code.fields.attendance_code }}</b> - {{ code.fields.attendance_description }}</option>
		</select>
	</div>
	
	<div class="clear"></div>
	<div class="take-attendance-box">
		<table>
			<tr>
				<th>Staff</th>
				<th>AM</th>
				<th>PM</th>
				<th></th>
			</tr>
			<tr ng-repeat="item in data.attendanceData">
				<td>{{item.staff_name}}</td>
				<td ng-if="item.am_attendance_taken == true">Taken</td>
				<td ng-if="item.am_attendance_taken ==  false">Not Taken</td>
				<td ng-if="item.pm_attendance_taken === true">Taken</td>
				<td ng-if="item.pm_attendance_taken === false">Not Taken</td>
				<td><select class="attendance-form-select" data-staff-id="{{ item.staff_id }}" ng-change="attendanceFormChange( {{ item.staff_id }} )" ng-model="selectedVal">
						<option value="-1"></option>
						<option value="{{ code.fields.attendance_code }}" ng-repeat="code in data.attendanceCodes"><b>{{ code.fields.attendance_code }}</b>&nbsp;&nbsp;&nbsp;&nbsp; - {{ code.fields.attendance_description }}</option>
					</select>
				</td>
			</tr>
		</table>
	</div>
	<div class="left"><button type="button" ng-click="data.go( '/' )">Cancel</button></div>
	<div class="right"><button type="button" ng-click="submitAttendance()">Submit</bitton></div>
</div>