{% verbatim %}
<div class="box-wide">
	<div class="box-input">
		<select ng-model="selectedGroup">
			<option ng-repeat="group in pupilGroups" value="{{group}}">{{group}}</option>
		</select>
	</div>
	<div class="box-input left">
		<table>
			<tr><td><input type="date" ng-model="startDate"></td></tr>
			<tr><td><input type="date" ng-model="endDate"></td></tr>
		</table>
	</div>
	
	<div class="box-input right">
		<table>
			<tr>
				<td><div multi-select input-model="keywords1" output-model="search1" button-label="name" item-label="keyword" tick-property="selected" max-height="200px"></div></td>
				<td><div multi-select input-model="keywords2" output-model="search2" button-label="name" item-label="keyword" tick-property="selected" max-height="200px"></div></td>
			</tr>
			<tr>
				<td><div multi-select input-model="keywords3" output-model="search3" button-label="name" item-label="keyword" tick-property="selected" max-height="200px"></div></td>
				<td><div multi-select input-model="keywords4" output-model="search4" button-label="name" item-label="keyword" tick-property="selected" max-height="200px"></div></td>
			</tr>
		</table>
		<div class="left"><button type="button" ng-click="resetForm()" class="form-button">Reset</button></div>
		<div class="right"><button type="button" ng-click="search()" class="form-button">Search</button></div>
		<div class="clear"></div>
	</div>

	<div class="clear"></div>
	
	<div class="box-results">
		<table>
			<tr>
				<th>Name</th>
				<th class="center">Class</th>
				<th class="center">House</th>
				<th class="center" ng-if="searchView1 !== ''">{{ searchView1 }}</th>
				<th class="center" ng-if="searchView2 !== ''">{{ searchView2 }}</th>
				<th class="center" ng-if="searchView3 !== ''">{{ searchView3 }}</th>
				<th class="center" ng-if="searchView4 !== ''">{{ searchView4 }}</th>
			</tr>
			<tr ng-repeat="row in pupilData | orderBy: 'name'">
				<td class="text-nowrap">{{ row[1] }}</td>
				<td class="center">{{ row[2] }}</td>
				<td class="center">{{ row[3] }}</td>
				<td class="center" ng-click="showNotes( 1, row[0], searchView1.length )" ng-class="{ clickable: row[4] }" ng-if="searchView1 !== ''" title="Click to view notes.">{{ row[4] }}</td>
				<td class="center" ng-click="showNotes( 2, row[0], searchView2.length )" ng-class="{ clickable: row[5] }" ng-if="searchView2 !== ''" title="Click to view notes.">{{ row[5] }}</td>
				<td class="center" ng-click="showNotes( 3, row[0], searchView3.length )" ng-class="{ clickable: row[6] }" ng-if="searchView3 !== ''" title="Click to view notes.">{{ row[6] }}</td>
				<td class="center" ng-click="showNotes( 4, row[0], searchView4.length )" ng-class="{ clickable: row[7] }" ng-if="searchView4 !== ''" title="Click to view notes.">{{ row[7] }}</td>
			</tr>
		</table>
	</div>
	
	<div class="page-mask" ng-show="notePop"></div>
	<div class="note-pop-wrapper" ng-show="notePop">
		<div class="note-pop">
			<div>
				<div class="left"><button class="popButton" ng-click="notePop = false">Close</button></div>
				<div class="right"><button class="popButton" ng-csv="exportCVS()" filename="{{ csvFileName }}.csv" csv-header="[ 'Pupil','Keywords','Raised By','Raised Date','Note Text' ]">Save CSV File</button></div>
				<div class="clear"></div>
			</div>
			
			<div>
				<table ng-repeat="note in noteData" class="note-pop-table">
					<tr>
						<td width="20%">{{ note.fields.NoteId.keywords }}</td>
						<td width="80%"rowspan="2" ng-bind-html="note.fields.NoteId.note_text"></td>
					</tr>
					<tr>
						<td width="10%">By: {{ note.fields.NoteId.raised_by_staff_member}}.<br>On: {{ note.fields.NoteId.raised_by_date }}.</td>
					</tr>
				</table>
			</div>
			<div>
				<div class="left"><button class="popButton" ng-click="notePop = false">Close</button></div>
				<div class="right"><button class="popButton" ng-csv="exportCVS()" filename="{{ csvFileName }}.csv" csv-header="[ 'Pupil','Keywords','Raised By','Raised Date','Note Text' ]">Save CSV file</button></div>
				<div class="clear"></div>
			</div>
			
		</div>	
	</div>
</div>
{% endverbatim %}