
<!-- edit grade pop out? -->
{% load static from staticfiles %}
<div id="editCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm"
	{% if Type == 'Pupil' %}
	action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateGrade/{{Type}}/{{ grades.Pupil.id }}/{{grades.GradeRecord}}/{{subjectname}}/"
	{% else %}
	action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateGrade/{{Type}}/{{ grades.Pupil.id }}/{{grades.GradeRecord}}/{{GroupRecords.GroupName}}/{{subjectname}}/"
	{% endif %}
	method="post">			
	<div class='bannerDialog'>
		<span>Edit Current Exam: {{subjectname}} for {{ grades.Pupil.Forename }} {{ grades.Pupil.Surname }}</span>
	</div>
	{% load WillowFilters %}
		{% csrf_token %}
		<table style="padding-bottom: 20px;">

			<tr>
				<td><label>Mean CAT Score:</label></td></td> 
				<td><input type="text" name="CATScore" id="F@CATScore{{grades.Pupil.id}}{{subjectname}}" value="{{ grades.Current.CATScore.0 }}" style = 'border: 2px solid; width: 250px; height: 25px;'/></td>
			</tr>
			<tr>
				<td><label>Verbal Score:</label></td></td> 
				<td><input type="text" name="VerbalScore" id="F@VerbalScore{{grades.Pupil.id}}{{subjectname}}" value="{{ grades.Current.VerbalScore.0 }}" style = 'border: 2px solid; width: 250px; height: 25px;'/></td>
			</tr>
			<tr>
				<td><label>Non Verbal Score:</label></td></td> 
				<td><input type="text" name="NonVerbalScore" id="F@NonVerbalScore{{grades.Pupil.id}}{{subjectname}}" value="{{ grades.Current.NonVerbalScore.0 }}" style = 'border: 2px solid; width: 250px; height: 25px;'/></td>
			</tr>
			<tr>
				<td><label>QuantativeScore:</label></td></td> 
				<td><input type="text" name="QuantativeScore" id="F@QuantativeScore{{grades.Pupil.id}}{{subjectname}}" value="{{ grades.Current.QuantativeScore.0 }}" style = 'border: 2px solid; width: 250px; height: 25px;'/></td>
			</tr>						
		</table>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="editCurrent{{grades.Pupil.id}}{{subjectname}}S" onclick="hideSubmitButton('editCurrent{{grades.Pupil.id}}{{subjectname}}S');" type="submit" value="Submit">Submit?</button>
            <span id="editCurrent{{grades.Pupil.id}}{{subjectname}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
<!-- end -->
