
{% include "GradeInputForms/CATScoresForm.html" %}
{% load static from staticfiles %}

{% include "GradeInputForms/CATScoresPrev.html" %}

<div class="RecordFormBody">
	<div class="RecordFormCLeft"> 
		<div id="RecordFormTitle">
			<a id="{{subjectname}}_{{ grades.Pupil.id }}" name="{{subjectname}}_{{ grades.Pupil.id }}">
				<div style='padding-left:10px;'>{{ grades.Pupil.FullName }} ({{subjectname}})</div>
			</a>
			<a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ grades.Pupil.id }}/"><img src="{{ MEDIA_REDIRECT }}{{ grades.Pupil.Picture }}" width="100" height="140" style="padding:12px;"/></a>
		</div>
	</div>
	<div class="RecordFormCRight">
		<div class="RecordFormCRight1">
			<div class='RecordFormCRight2'>
				{{ subject }}
				<button id="#prevCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-window2">Prev Record</button>
				<br>
				<br>
				<button id="#editCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-window2">Edit Current</button>
			</div>
			<div class='RecordFormCRight3'>
				<div class="table-wrapper">
					<div class="table-scroll" style="height:185px;">
						<table>
							<tbody>
								<tr>
									<td>Mean Cat Score</td>
									<td id="D@CATScore{{grades.Pupil.id}}{{subjectname}}">{{grades.Current.CATScore.0}}</td>
								</tr>									
								<tr>
									<td>Verbal Score</td>
									<td id="D@VerbalScore{{grades.Pupil.id}}{{subjectname}}" >{{grades.Current.VerbalScore.0}}</td>
								</tr>
								<tr>
									<td>Non-Verbal Score</td>
									<td id="D@NonVerbalScore{{grades.Pupil.id}}{{subjectname}}">{{grades.Current.NonVerbalScore.0}}</td>
								</tr>
								<tr>
									<td>Quantative Score</td>
									<td id="D@QuantativeScore{{grades.Pupil.id}}{{subjectname}}" >{{grades.Current.QuantativeScore.0}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>											
			</div>
		</div>
	</div>
</div>	
