

{% load static from staticfiles %}
<!-- Put the popUp to show the old data here -->
<div id="prevCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-popup">
	<div class="RecordFormBody">
		<div class="RecordFormCLeft">
			<h1>Previous Exams...<br /><span style='font-weight:bold;'>{{subjectname}}</span></h1>
			<br /><br /><button type="button" class='close2'>Close</button>
		</div>
		<div class="RecordFormCRight">
			<div class="RecordFormCRight1"> 
				<div class='RecordFormCRight2'>
				</div>
				<div class='RecordFormCRight3'>
					<div class="table-wrapper">
						<div class="table-scroll" style="height:185px;">
						<table>
							<tbody>
								<tr>
									<td>Mean Cat Score</td>
									<td>{{grades.Previous.CATScore.0}}</td>
								</tr>									
								<tr>
									<td>Verbal Score</td>
									<td>{{grades.Previous.VerbalScore.0}}</td>
								</tr>
								<tr>
									<td>Non-Verbal Score</td>
									<td>{{grades.Previous.VerbalScore.0}}</td>
								</tr>
								<tr>
									<td>Quantative Score</td>
									<td>{{grades.Previous.QuantativeScore.0}}</td>
								</tr>
							</tbody>
						</table>
						</div>
					</div>											
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Put the Pop Up to Edit the current Data here -->
