

{% load static from staticfiles %}
<!-- Put the popUp to show the old data here -->
<div id="prevCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-popup">
	<div class="RecordFormBody">
		<div class="RecordFormCLeft">
			<h1>Previous Exams...<br /><span style='font-weight:bold;'>{{subjectname}}</span></h1>
			<br /><br /><button type="button" class='close2'>Close</button>
		</div>
		<div class="RecordFormCRight">
			<div class="RecordFormCRight1"> 
				<div class='RecordFormCRight2'>
				</div>
				<div class='RecordFormCRight3'>
					<div class="table-wrapper">
						<div class="table-scroll" style="height:185px;">
							<table>
								<tbody>
								<tr>
									<th><br/></th><th>Reading</th><th>Writing</th><th>SLR</th>
								</tr>
								<tr>
									<td>LEVEL</td>
									<td>{{grades.SubSubject.English_Reading.Previous.Level.0}}</td>
									<td>{{grades.SubSubject.English_Writing.Previous.Level.0}}</td>
									<td>{{grades.SubSubject.English_Speaking.Previous.Level.0}}</td>
								</tr>
								<tr>
									<td>Effort</td>
									<td>{{grades.SubSubject.English_Reading.Previous.Effort.0}}</td>
									<td>{{grades.SubSubject.English_Writing.Previous.Effort.0}}</td>
									<td>{{grades.SubSubject.English_Speaking.Previous.Effort.0}}</td>
								</tr>
								<tr>
									<td>Attainment</td>
									<td>{{grades.SubSubject.English_Reading.Previous.Attainment.0}}</td>
									<td>{{grades.SubSubject.English_Writing.Previous.Attainment.0}}</td>
									<td>{{grades.SubSubject.English_Speaking.Previous.Attainment.0}}</td>
								</tr>
								<tr>
									<td>Quartile(Cla Only)</td>
									<td>{{grades.SubSubject.English_Reading.Previous.Quartile.0}}</td>
									<td>{{grades.SubSubject.English_Writing.Previous.Quartile.0}}</td>
									<td>{{grades.SubSubject.English_Speaking.Previous.Quartile.0}}</td>
								</tr>
								<tr><td colspan=4>OVERALL ENGLISH</td></tr>
								<tr>
									<td class="SmallLabel">Effort:</td><td class="DataItem">{{ grades.Previous.Effort.0 }}</td>
									<td class="SmallLabel">Attainment:</td><td class="DataItem">{{ grades.Previous.Attainment.0 }}</td>
								</tr>								
								<tr>
									<td class="SmallLabel">Exam1:</td><td class="DataItem">{{ grades.Previous.Exam1.0 }}</td>
									<td class="SmallLabel">Exam1 Type:</td><td class="DataItem">{{ grades.Previous.Exam1Type.0 }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Exam2:</td><td class="DataItem">{{ grades.Previous.Exam2.0 }}</td>
									<td class="SmallLabel">Exam2 Type:</td><td class="DataItem">{{ grades.Previous.Exam2Type.0 }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Comment Length:</td><td class="DataItem">{{ grades.Previous.Comment.0|length }}</td>
									<td class="SmallLabel">Word Count:</td><td class="DataItem">{{ grades.Previous.Comment.0|wordcount }}</td>
								</tr>															
								<tr> 
									<td class="SmallLabel" >Comment:</td><td class="DataItem" colspan=3>{{ grades.Previous.Comment.0|safe }}</td>
								</tr>
								<tr>
									<td class="SmallLabel" >Target:</td><td class="DataItem" colspan=3>{{ grades.Previous.WrittenTarget1.0|safe }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Length:</td><td class="DataItem">{{ grades.Previous.WrittenTarget1.0|length }}</td>
									<td class="SmallLabel">Word Count:</td><td class="DataItem">{{ grades.Previous.WrittenTarget1.0|wordcount }}</td>
								</tr>
							</tbody>
							</table>
						</div>
					</div>											
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Put the Pop Up to Edit the current Data here -->
