
{% include "GradeInputForms/EnglishInputform.html" %}
{% load static from staticfiles %}

{% include "GradeInputForms/EnglishPrev.html" %}

<div class="RecordFormBody">
	<div class="RecordFormCLeft"> 
		<div id="RecordFormTitle">
			<a id="{{subjectname}}_{{ grades.Pupil.id }}" name="{{subjectname}}_{{ grades.Pupil.id }}">
				<div style='padding-left:10px;'>{{ grades.Pupil.FullName }} ({{subjectname}})</div>
			</a>
			<a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ grades.Pupil.id }}/"><img src="{{ MEDIA_REDIRECT }}{{ grades.Pupil.Picture }}" width="100" height="140" style="padding:12px;"/></a>
			<a id="{{subjectname}}_here" name="{{subjectname}}_here"></a>
		</div>
	</div>
	<div class="RecordFormCRight">
		<div class="RecordFormCRight1">
			<div class='RecordFormCRight2'>
				{{ subject }}
				<button id="#prevCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-window2">Prev Record</button>
				<br>
				<br>
				<button id="#editCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-window2">Edit Current</button>
			</div>
			<div class='RecordFormCRight3'>
				<div class="table-wrapper">
					<div class="table-scroll" style="height:185px;">
						<table>
							<tbody>
								<tr>
									<th><br/></th><th>Reading</th><th>Writing</th><th>SLR</th>
								</tr>
								<tr>
									<td>LEVEL</td>
									<td id="D@Level{{grades.Pupil.id}}English_Reading">{{grades.SubSubject.English_Reading.Current.Level.0}}</td>
									<td id="D@Level{{grades.Pupil.id}}English_Writing">{{grades.SubSubject.English_Writing.Current.Level.0}}</td>
									<td id="D@Level{{grades.Pupil.id}}English_Speaking">{{grades.SubSubject.English_Speaking.Current.Level.0}}</td>
								</tr>
								<tr>
									<td>Effort</td>
									<td id="D@Effort{{grades.Pupil.id}}English_Reading">{{grades.SubSubject.English_Reading.Current.Effort.0}}</td>
									<td id="D@Effort{{grades.Pupil.id}}English_Writing">{{grades.SubSubject.English_Writing.Current.Effort.0}}</td>
									<td id="D@Effort{{grades.Pupil.id}}English_Speaking">{{grades.SubSubject.English_Speaking.Current.Effort.0}}</td>
								</tr>
								<tr>
									<td>Attainment</td>
									<td id="D@Attainment{{grades.Pupil.id}}English_Reading">{{grades.SubSubject.English_Reading.Current.Attainment.0}}</td>
									<td id="D@Attainment{{grades.Pupil.id}}English_Writing">{{grades.SubSubject.English_Writing.Current.Attainment.0}}</td>
									<td id="D@Attainment{{grades.Pupil.id}}English_Speaking">{{grades.SubSubject.English_Speaking.Current.Attainment.0}}</td>
								</tr>
								<tr>
									<td>Quartile(Cla Only)</td>
									<td id="D@Quartile{{grades.Pupil.id}}English_Reading">{{grades.SubSubject.English_Reading.Current.Quartile.0}}</td>
									<td id="D@Quartile{{grades.Pupil.id}}English_Writing">{{grades.SubSubject.English_Writing.Current.Quartile.0}}</td>
									<td id="D@Quartile{{grades.Pupil.id}}English_Speaking">{{grades.SubSubject.English_Speaking.Current.Quartile.0}}</td>
								</tr>
								<tr><td colspan=4>OVERALL ENGLISH</td></tr>
								<tr>
									<td class="SmallLabel">Effort:</td><td class="DataItem" id="D@Effort{{grades.Pupil.id}}English">{{ grades.Current.Effort.0 }}</td>
									<td class="SmallLabel">Attainment:</td><td class="DataItem" id="D@Attainment{{grades.Pupil.id}}English">{{ grades.Current.Attainment.0 }}</td>
								</tr>								
								<tr>
									<td class="SmallLabel">Exam1:</td><td class="DataItem" id="D@Exam1{{grades.Pupil.id}}English">{{ grades.Current.Exam1.0 }}</td>
									<td class="SmallLabel">Exam1 Type:</td><td class="DataItem" id="D@Exam1Type{{grades.Pupil.id}}English">{{ grades.Current.Exam1Type.0 }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Exam2:</td><td class="DataItem" id="D@Exam2{{grades.Pupil.id}}English">{{ grades.Current.Exam2.0 }}</td>
									<td class="SmallLabel">Exam2 Type:</td><td class="DataItem" id="D@Exam2Type{{grades.Pupil.id}}English">{{ grades.Current.Exam2Type.0 }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Comment Length<br />(English):</td>
                                    <td class="DataItem" id="L@Comment{{grades.Pupil.id}}English">{{ grades.Current.Comment.0|length }}</td>
									<td class="SmallLabel">Word Count:</td>
                                    <td class="DataItem" id="C@Comment{{grades.Pupil.id}}English">{{ grades.Current.Comment.0|wordcount }}</td>
								</tr>	
								<tr> 
									<td class="SmallLabel" >Comment:</td><td class="DataItem" colspan=3 id="D@Comment{{grades.Pupil.id}}English">{{ grades.Current.Comment.0|safe }}</td>
								</tr>

								{% if 'Battersea' in school %}
								<!-- English Reading Comment -->
								<tr>
									<td class="SmallLabel">Comment Length<br />(Reading):</td>
                                    <td class="DataItem" id="L@Comment{{grades.Pupil.id}}English_Reading">{{ grades.SubSubject.English_Reading.Current.Comment.0|length }}</td>
									<td class="SmallLabel">Word Count:</td>
                                    <td class="DataItem" id="C@Comment{{grades.Pupil.id}}English_Reading">{{ grades.SubSubject.English_Reading.Current.Comment.0|wordcount }}</td>
								</tr>	
								<tr> 
									<td class="SmallLabel" >Comment:</td><td class="DataItem" colspan=3 id="D@Comment{{grades.Pupil.id}}English_Reading">{{ grades.SubSubject.English_Reading.Current.Comment.0|safe }}</td>
								</tr>															
								<!-- English Writing Comment -->
								<tr>
									<td class="SmallLabel">Comment Length<br />(Writing):</td>
                                    <td class="DataItem" id="L@Comment{{grades.Pupil.id}}English_Writing">{{ grades.SubSubject.English_Writing.Current.Comment.0|length }}</td>
									<td class="SmallLabel">Word Count:</td>
                                    <td class="DataItem" id="C@Comment{{grades.Pupil.id}}English_Writing">{{ grades.SubSubject.English_Writing.Current.Comment.0|wordcount }}</td>
								</tr>	
								<tr> 
									<td class="SmallLabel" >Comment:</td><td class="DataItem" colspan=3 id="D@Comment{{grades.Pupil.id}}English_Writing">{{ grades.SubSubject.English_Writing.Current.Comment.0|safe }}</td>
								</tr>								
								<!-- English Speaking Comment-->								
								<tr>
									<td class="SmallLabel">Comment Length<br />(Speaking):</td>
                                    <td class="DataItem" id="L@Comment{{grades.Pupil.id}}English_Speaking">{{ grades.SubSubject.English_Speaking.Current.Comment.0|length }}</td>
									<td class="SmallLabel">Word Count:</td>
                                    <td class="DataItem" id="C@Comment{{grades.Pupil.id}}English_Speaking">{{ grades.SubSubject.English_Speaking.Current.Comment.0|wordcount }}</td>
								</tr>	
								<tr> 
									<td class="SmallLabel" >Comment:</td><td class="DataItem" colspan=3 id="D@Comment{{grades.Pupil.id}}English_Speaking">{{ grades.SubSubject.English_Speaking.Current.Comment.0|safe }}</td>
								</tr>																
								{% endif %}
								<tr>
									<td class="SmallLabel" >Target:</td><td class="DataItem" colspan=3 id="D@WrittenTarget1{{grades.Pupil.id}}English">{{ grades.Current.WrittenTarget1.0|safe }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Length:</td>
                                    <td class="DataItem" id="L@WrittenTarget1{{grades.Pupil.id}}English">{{ grades.Current.WrittenTarget1.0|length }}</td>
									<td class="SmallLabel">Word Count:</td>
                                    <td class="DataItem" id="C@WrittenTarget1{{grades.Pupil.id}}English">{{ grades.Current.WrittenTarget1.0|wordcount }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>											
			</div>
		</div>
	</div>
</div>	
