
<!-- edit grade pop out? -->
{% load static from staticfiles %}
<div id="editCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm"
	{% if Type == 'Pupil' %}
	action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateGrade/{{Type}}/{{ grades.Pupil.id }}/{{grades.GradeRecord}}/Multiple/"
	{% else %}
	action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateGrade/{{Type}}/{{ grades.Pupil.id }}/{{grades.GradeRecord}}/{{GroupRecords.GroupName}}/Multiple/"
	{% endif %}
	method="post" PupilName="{{ grades.Pupil.FullName }}">
	<div class='bannerDialog'>
		<span>Edit Current: {{subjectname}} for {{ grades.Pupil.Forename }} {{ grades.Pupil.Surname }}</span>
	</div>
	{% load WillowFilters %}
		{% csrf_token %}
		<div style='border:1px solid grey;padding:3px;height:350px;overflow-y:scroll;'>
		<h1>Please see your school documentation on which Fields to fill in. Effort and Attainment are graded differently in diffent schools<br></h1>
		<table style="padding-bottom: 20px;">
			<tr><td colspan=2>READING  :</td></tr>
			<tr>
				<td><label for="English_Reading:Level">Reading Level:</label></td></td> 
				<td><select type="text" name="English_Reading:Level" id="F@Level{{grades.Pupil.id}}English_Reading">
					<option value='None' {% if not grades.SubSubject.English_Reading.Current.Level.0  %}selected='selected'{% endif %}>None</option>
					{% for options in grades.SubSubject.English_Reading.Current.Level.2 %}
					 <option value="{{ options.0 }}" {% if options.0 ==  grades.SubSubject.English_Reading.Current.Level.0  %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="English_Reading:Effort">Reading Effort:</label></td></td> 
				<td><select type="text" name="English_Reading:Effort" id="F@Effort{{grades.Pupil.id}}English_Reading">
					<option value='None' {% if not grades.SubSubject.English_Reading.Current.Effort.0  %}selected='selected'{% endif %}>None</option>
					{% for options in grades.SubSubject.English_Reading.Current.Effort.2 %}
					 <option value="{{ options.0 }}" {% if options.0 ==  grades.SubSubject.English_Reading.Current.Effort.0  %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="English_Reading:Attainment">Reading Attainment:</label></td></td> 
				<td><select type="text" name="English_Reading:Attainment" id="F@Attainment{{grades.Pupil.id}}English_Reading">
					<option value='None' {% if not grades.SubSubject.English_Reading.Current.Attainment.0  %}selected='selected'{% endif %}>None</option>
					{% for options in grades.SubSubject.English_Reading.Current.Attainment.2 %}
					 <option value="{{ options.0 }}" {% if options.0 ==  grades.SubSubject.English_Reading.Current.Attainment.0  %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="English_Reading:Quartile">Reading Quartile(Cla Only):</label></td></td> 
				<td><select type="text" name="English_Reading:Quartile" id="F@Quartile{{grades.Pupil.id}}English_Reading">
					<option value='None' {% if not grades.SubSubject.English_Reading.Current.Quartile.0  %}selected='selected'{% endif %}>None</option>
					{% for options in grades.SubSubject.English_Reading.Current.Quartile.2 %}
					 <option value="{{ options.0 }}" {% if options.0 ==  grades.SubSubject.English_Reading.Current.Quartile.0  %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>		
				
			<tr><td colspan=2>WRITING   :</td></tr>
			<tr>
				<td><label for="English_Writing:Level">Writing Level:</label></td></td> 
				<td><select type="text" name="English_Writing:Level" id="F@Level{{grades.Pupil.id}}English_Writing">
					<option value='None' {% if not grades.SubSubject.English_Writing.Current.Level.0  %}selected='selected'{% endif %}>None</option>					
					{% for options in grades.SubSubject.English_Writing.Current.Level.2 %}
					 <option value="{{ options.0 }}" {% if options.0 ==  grades.SubSubject.English_Writing.Current.Level.0  %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="English_Writing:Effort">Writing Effort:</label></td></td> 
				<td><select type="text" name="English_Writing:Effort" id="F@Effort{{grades.Pupil.id}}English_Writing">
					<option value='None' {% if not grades.SubSubject.English_Writing.Current.Effort.0  %}selected='selected'{% endif %}>None</option>					
					{% for options in grades.SubSubject.English_Writing.Current.Effort.2 %}
					 <option value="{{ options.0 }}" {% if options.0 ==  grades.SubSubject.English_Writing.Current.Effort.0  %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			
			<tr>
				<td><label for="English_Writing:Attainment">Writing Attainment:</label></td></td> 
				<td><select type="text" name="English_Writing:Attainment" id="F@Attainment{{grades.Pupil.id}}English_Writing">
					<option value='None' {% if not grades.SubSubject.English_Writing.Current.Attainment.0  %}selected='selected'{% endif %}>None</option>					
					{% for options in grades.SubSubject.English_Writing.Current.Attainment.2 %}
					 <option value="{{ options.0 }}" {% if options.0 ==  grades.SubSubject.English_Writing.Current.Attainment.0  %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			
			<tr>
				<td><label for="English_Writing:Quartile">Writing Quartile (Cla Only):</label></td></td> 
				<td><select type="text" name="English_Writing:Quartile" id="F@Quartile{{grades.Pupil.id}}English_Writing">
					<option value='None' {% if not grades.SubSubject.English_Writing.Current.Quartile.0  %}selected='selected'{% endif %}>None</option>					
					{% for options in grades.SubSubject.English_Writing.Current.Quartile.2 %}
					 <option value="{{ options.0 }}" {% if options.0 ==  grades.SubSubject.English_Writing.Current.Quartile.0  %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>			
			
			
			<tr><td colspan=2>SPEAKING AND LISTERNING  :</td></tr>			
			<tr>
				<td><label for="English_Speaking:Level">Speaking Level:</label></td></td> 
				<td><select type="text" name="English_Speaking:Level" id="F@Level{{grades.Pupil.id}}English_Speaking">
					<option value='None' {% if not grades.SubSubject.English_Speaking.Current.Level.0  %}selected='selected'{% endif %}>None</option>	
					{% for options in grades.SubSubject.English_Speaking.Current.Level.2 %}
					 <option value="{{ options.0 }}" {% if options.0 ==  grades.SubSubject.English_Speaking.Current.Level.0  %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="English_Speaking:Effort">Speaking Effort:</label></td></td> 
				<td><select type="text" name="English_Speaking:Effort" id="F@Effort{{grades.Pupil.id}}English_Speaking">
					<option value='None' {% if not grades.SubSubject.English_Speaking.Current.Effort.0  %}selected='selected'{% endif %}>None</option>	
					{% for options in grades.SubSubject.English_Speaking.Current.Effort.2 %}
					 <option value="{{ options.0 }}" {% if options.0 ==  grades.SubSubject.English_Speaking.Current.Effort.0  %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="English_Speaking:Attainment">Speaking Attainment:</label></td></td> 
				<td><select type="text" name="English_Speaking:Attainment" id="F@Attainment{{grades.Pupil.id}}English_Speaking">
					<option value='None' {% if not grades.SubSubject.English_Speaking.Current.Attainment.0  %}selected='selected'{% endif %}>None</option>	
					{% for options in grades.SubSubject.English_Speaking.Current.Attainment.2 %}
					 <option value="{{ options.0 }}" {% if options.0 ==  grades.SubSubject.English_Speaking.Current.Attainment.0  %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="English_Speaking:Quartile">Speaking Quartile(Cla Only):</label></td></td> 
				<td><select type="text" name="English_Speaking:Quartile" id="F@Quartile{{grades.Pupil.id}}English_Speaking">
					<option value='None' {% if not grades.SubSubject.English_Speaking.Current.Quartile.0  %}selected='selected'{% endif %}>None</option>	
					{% for options in grades.SubSubject.English_Speaking.Current.Quartile.2 %}
					 <option value="{{ options.0 }}" {% if options.0 ==  grades.SubSubject.English_Speaking.Current.Quartile.0  %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr><td colspan=2>OVERALL ENGLISH</td></tr>		
			<tr>
				<td><label for="English:Effort">Effort:</label></td></td> 
				<td><select type="text" name="English:Effort" id="F@Effort{{grades.Pupil.id}}English">
					<option value='None' {% if not grades.Current.Effort.0  %}selected='selected'{% endif %}>None</option>	
					{% for options in grades.Current.Effort.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.Effort.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="English:Attainment">Attainment:</label></td></td> 
				<td><select type="text" name="English:Attainment" id="F@Attainment{{grades.Pupil.id}}English">
					<option value='None' {% if not grades.Current.Attainment.0  %}selected='selected'{% endif %}>None</option>	
					{% for options in grades.Current.Attainment.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.Attainment.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>			
		
			<tr>
				<td><label for="English:Exam1">Exam1:</label></td></td> 
				<td><input type="text" name="English:Exam1" id="F@Exam1{{grades.Pupil.id}}English"
				value="{{ grades.Current.Exam1.0 }}" 
				style = 'border: 2px solid; width: 250px; height: 25px;'/></td>
			</tr>
			<tr>
				<td><label for="English:Exam1Type">Exam1 Type:</label></td></td> 
				<td><select type="text" name="English:Exam1Type" id="F@Exam1Type{{grades.Pupil.id}}English">
					<option value=''>Select Type</option>
					{% for options in grades.Current.Exam1Type.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.Exam1Type.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			
			<tr>
				<td><label for="English:Exam2">Exam2:</label></td></td> 
				<td><input type="text" name="English:Exam2" id="F@Exam2{{grades.Pupil.id}}English"
				value="{{ grades.Current.Exam2.0 }}" 
				style = 'border: 2px solid; width: 250px; height: 25px;'/></td>
			</tr>
			
			<tr>
				<td><label for="English:Exam2Type">Exam2 Type:</label></td></td> 
				<td><select type="text" name="English:Exam2Type" id="F@Exam2Type{{grades.Pupil.id}}English">
					<option value=''>Select Type</option>
					{% for options in grades.Current.Exam2Type.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.Exam2Type.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="English:Exam3">Exam3:</label></td></td> 
				<td><input type="text" name="English:Exam3" id="F@Exam3{{grades.Pupil.id}}English"
				value="{{ grades.Current.Exam3.0 }}" 
				style = 'border: 2px solid; width: 250px; height: 25px;'/></td>
			</tr>
			<tr>
				<td><label for="English:Exam3Type">Exam3 Type:</label></td></td> 
				<td><select type="text" name="English:Exam3Type" id="F@Exam3Type{{grades.Pupil.id}}English">
					<option value=''>Select Type</option>
					{% for options in grades.Current.Exam3Type.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.Exam3Type.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>	
			
			<tr>
				<td><label for="English:Exam4">Exam4:</label></td></td> 
				<td><input type="text" name="English:Exam4" id="F@Exam4{{grades.Pupil.id}}English"
				value="{{ grades.Current.Exam4.0 }}" 
				style = 'border: 2px solid; width: 250px; height: 25px;'/></td>
			</tr>
			<tr>
				<td><label for="English:Exam4Type">Exam4 Type:</label></td></td> 
				<td><select type="text" name="English:Exam4Type" id="F@Exam4Type{{grades.Pupil.id}}English">
					<option value=''>Select Type</option>
					{% for options in grades.Current.Exam4Type.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.Exam4Type.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
					
			<tr>
				<td><label for="Level">Comment (English):</label></td></td> 
				<td>
					<script>{% includeTinyMCE "Comment" grades.Pupil.id "English" %}</script>
					<textarea id="F@Comment{{grades.Pupil.id}}{{subjectname}}" name='English:Comment' class="Comment{{grades.Pupil.id}}{{subjectname}}"
					value="{{grades.Current.Comment.0}}">{{ grades.Current.Comment.0}}</textarea>
				</td>
			</tr>	
			
			{% if 'Battersea' in school %}
			<!-- English Reading Comment -->
			<tr>
				<td><label for="Level">Comment (Reading):</label></td></td> 
				<td>
					<script>{% includeTinyMCE "Comment" grades.Pupil.id "English_Reading" %}</script>
					<textarea id="F@Comment{{grades.Pupil.id}}English_Reading" name='English_Reading:Comment' class="Comment{{grades.Pupil.id}}English_Reading"
					value="{{grades.SubSubject.English_Reading.Current.Comment.0}}">{{ grades.SubSubject.English_Reading.Current.Comment.0 }}</textarea>
				</td>
			</tr>				
			<!-- English Writing Comment -->
			
			<tr>
				<td><label for="Level">Comment (Writing):</label></td></td> 
				<td>
					<script>{% includeTinyMCE "Comment" grades.Pupil.id "English_Writing" %}</script>
					<textarea id="F@Comment{{grades.Pupil.id}}English_Writing" name='English_Writing:Comment' class="Comment{{grades.Pupil.id}}English_Writing"
					value="{{grades.SubSubject.English_Writing.Current.Comment.0}}">{{ grades.SubSubject.English_Writing.Current.Comment.0}}</textarea>
				</td>
			</tr>				
			
			<!-- English Speaking Comment-->
			<tr>
				<td><label for="Level">Comment (Speaking):</label></td></td> 
				<td>
					<script>{% includeTinyMCE "Comment" grades.Pupil.id "English_Speaking" %}</script>
					<textarea id="F@Comment{{grades.Pupil.id}}English_Speaking" name='English_Speaking:Comment' class="Comment{{grades.Pupil.id}}English_Speaking"
					value="{{grades.SubSubject.English_Speaking.Current.Comment.0}}">{{ grades.SubSubject.English_Speaking.Current.Comment.0}}</textarea>
				</td>
			</tr>	
						
			{% endif %}

			<tr>
				<td><label for="WrittenTarget1">Target:</label></td></td>
				<td>
					<script>{% includeTinyMCE "WrittenTarget1" grades.Pupil.id "English" %}</script>
					<textarea id="F@WrittenTarget1{{grades.Pupil.id}}English"  class="WrittenTarget1{{grades.Pupil.id}}English" name='English:WrittenTarget1' rows="10" cols="65" style="width:auto;"
					value="{{grades.Current.WrittenTarget1.0}}">{{ grades.Current.WrittenTarget1.0}}</textarea>
				</td>
			</tr>
		</table>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="editCurrent{{grades.Pupil.id}}{{subjectname}}S" onclick="hideSubmitButton('editCurrent{{grades.Pupil.id}}{{subjectname}}S');" type="submit" value="Submit">Submit?</button>
            <span id="editCurrent{{grades.Pupil.id}}{{subjectname}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
<!-- end -->
