
<!-- edit grade pop out? -->
{% load static from staticfiles %}
<div id="editCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm"
	{% if Type == 'Pupil' %}
	action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateGrade/{{Type}}/{{ grades.Pupil.id }}/{{grades.GradeRecord}}/{{subjectname}}/"
	{% else %}
	action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateGrade/{{Type}}/{{ grades.Pupil.id }}/{{grades.GradeRecord}}/{{GroupRecords.GroupName}}/{{subjectname}}/"
	{% endif %}
	method="post">			
	<div class='bannerDialog'>
		<span>Edit Current Exam: {{subjectname}} for {{ grades.Pupil.Forename }} {{ grades.Pupil.Surname }}</span>
	</div>
	{% load WillowFilters %}
		{% csrf_token %}
		<table style="padding-bottom: 20px;">
			{% include "GradeInputForms/InputElements/EYFS_PSED.html"%}
			{% include "GradeInputForms/InputElements/EYFS_PD.html"%}
			{% include "GradeInputForms/InputElements/EYFS_CL.html"%}
			{% include "GradeInputForms/InputElements/EYFS_L.html"%}
			{% include "GradeInputForms/InputElements/EYFS_M.html"%}
			{% include "GradeInputForms/InputElements/EYFS_UW.html"%}	
			{% include "GradeInputForms/InputElements/EYFS_EAD.html"%}								
		</table>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="editCurrent{{grades.Pupil.id}}{{subjectname}}S" onclick="hideSubmitButton('editCurrent{{grades.Pupil.id}}{{subjectname}}S');" type="submit" value="Submit">Submit?</button>
            <span id="editCurrent{{grades.Pupil.id}}{{subjectname}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
<!-- end -->


<!-- Put the popUp to show the old data here -->
<div id="prevCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-popup">
	<div class="RecordFormBody">
		<div class="RecordFormCLeft">
			<h1>Previous Exams...<br /><span style='font-weight:bold;'>{{subjectname}}</span></h1>
			<br /><br /><button type="button" class='close2'>Close</button>
		</div>
		<div class="RecordFormCRight">
			<div class="RecordFormCRight1"> 
				<div class='RecordFormCRight2'>
				</div>
				<div class='RecordFormCRight3'>
					<div class="table-wrapper">
						<div class="table-scroll" style="height:185px;">
							<table>
								<tbody>
								<tr>
									<td class="SmallLabel">PSED:</td>
										<td class="DataItem" id="D@PSED_MR{{grades.Pupil.id}}{{subjectname}}">MR: {{ grades.Previous.PSED_MR.0 }}</td>
										<td class="DataItem" id="D@PSED_ScSa{{grades.Pupil.id}}{{subjectname}}">ScSa: {{ grades.Previous.PSED_ScSa.0 }}</td>
										<td class="DataItem" id="D@PSED_MfB{{grades.Pupil.id}}{{subjectname}}">MfB: {{ grades.Previous.PSED_MfB.0 }}</td>
								</tr>									
								<tr>
									<td class="SmallLabel">PD:</td>
										<td class="DataItem" id="D@PD_HSC{{grades.Pupil.id}}{{subjectname}}">HCS: {{ grades.Previous.PD_HCS.0 }}</td>
										<td class="DataItem" id="D@PD_MH{{grades.Pupil.id}}{{subjectname}}">MH: {{ grades.Previous.PD_MH.0 }}</td>
										<td class="DataItem"><br></td>
								</tr>
								<tr>
									<td class="SmallLabel">CL:</td>
										<td class="DataItem" id="D@CL_LA{{grades.Pupil.id}}{{subjectname}}">LA: {{ grades.Previous.CL_LA.0 }}</td>
										<td class="DataItem" id="D@CL_U{{grades.Pupil.id}}{{subjectname}}">U: {{ grades.Previous.CL_U.0 }}</td>
										<td class="DataItem" id="D@CL_S{{grades.Pupil.id}}{{subjectname}}">S: {{ grades.Previous.CL_S.0 }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">L:</td>
										<td class="DataItem" id="D@L_Reading{{grades.Pupil.id}}{{subjectname}}">Reading:{{ grades.Previous.L_Reading.0}}</td>
										<td class="DataItem" id="D@L_Writing{{grades.Pupil.id}}{{subjectname}}">Writing:{{ grades.Previous.L_Writing.0}}</td>
										<td class="DataItem"><br></td>
								</tr>															
								<tr>
									<td class="SmallLabel">M:</td>
										<td class="DataItem" id="D@M_Numbers{{grades.Pupil.id}}{{subjectname}}">Numbers: {{ grades.Previous.M_Numbers.0 }}</td>
										<td class="DataItem" id="D@M_SSM{{grades.Pupil.id}}{{subjectname}}">SSM: {{ grades.Previous.M_SSM.0 }}</td>
										<td class="DataItem"><br></td>
								</tr>
								<tr>
									<td class="SmallLabel">UW:</td>
										<td class="DataItem" id="D@UW_PC{{grades.Pupil.id}}{{subjectname}}">PC: {{ grades.Previous.UW_PC.0 }}</td>
										<td class="DataItem" id="D@UW_TW{{grades.Pupil.id}}{{subjectname}}">TW: {{ grades.Previous.UW_TW.0 }}</td>
										<td class="DataItem" id="D@UW_Tech{{grades.Pupil.id}}{{subjectname}}">Tech: {{ grades.Previous.UW_Tech.0 }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">EAD:</td>
										<td class="DataItem" id="D@EAD_EUMH{{grades.Pupil.id}}{{subjectname}}">EUMM: {{ grades.Previous.EAD_EUMM.0 }}</td>
										<td class="DataItem" id="D@EAD_BI{{grades.Pupil.id}}{{subjectname}}">BI: {{ grades.Previous.EAD_BI.0 }}</td>
										<td class="DataItem"><br></td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>											
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Put the Pop Up to Edit the current Data here -->

<div class="RecordFormBody">
	<div class="RecordFormCLeft"> 
		<div id="RecordFormTitle">
			<a id="{{subjectname}}_{{ grades.Pupil.id }}" name="{{subjectname}}_{{ grades.Pupil.id }}">
				<div style='padding-left:10px;'>{{ grades.Pupil.FullName }} ({{subjectname}})</div>
			</a>
			<a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ grades.Pupil.id }}/"><img src="{{ MEDIA_REDIRECT }}{{ grades.Pupil.Picture }}" width="100" height="140" style="padding:12px;"/></a>
		</div>
	</div>
	<div class="RecordFormCRight">
		<div class="RecordFormCRight1">
			<div class='RecordFormCRight2'>
				{{ subject }}
				<button id="#prevCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-window2">Prev Record</button>
				<br>
				<br>
				<button id="#editCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-window2">Edit Current</button>
			</div>
			<div class='RecordFormCRight3'>
				<div class="table-wrapper">
					<div class="table-scroll" style="height:185px;">
						<table>
							<tbody>
								<tr>
									<td class="SmallLabel">PSED:</td>
										<td class="DataItem">MR: {{ grades.Current.PSED_MR.0 }}</td>
										<td class="DataItem">ScSa: {{ grades.Current.PSED_ScSa.0 }}</td>
										<td class="DataItem">MfB: {{ grades.Current.PSED_MfB.0 }}</td>
								</tr>									
								<tr>
									<td class="SmallLabel">PD:</td>
										<td class="DataItem">HCS: {{ grades.Current.PD_HCS.0 }}</td>
										<td class="DataItem">MH: {{ grades.Current.PD_MH.0 }}</td>
										<td class="DataItem"><br></td>
								</tr>
								<tr>
									<td class="SmallLabel">CL:</td>
										<td class="DataItem">LA: {{ grades.Current.CL_LA.0 }}</td>
										<td class="DataItem">U: {{ grades.Current.CL_U.0 }}</td>
										<td class="DataItem">S: {{ grades.Current.CL_S.0 }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">L:</td>
										<td class="DataItem">Reading:{{ grades.Current.L_Reading.0}}</td>
										<td class="DataItem">Writing:{{ grades.Current.L_Writing.0}}</td>
										<td class="DataItem"><br></td>
								</tr>															
								<tr>
									<td class="SmallLabel">M:</td>
										<td class="DataItem">Numbers: {{ grades.Current.M_Numbers.0 }}</td>
										<td class="DataItem">SSM: {{ grades.Current.M_SSM.0 }}</td>
										<td class="DataItem"><br></td>
								</tr>
								<tr>
									<td class="SmallLabel">UW:</td>
										<td class="DataItem">PC: {{ grades.Current.UW_PC.0 }}</td>
										<td class="DataItem">TW: {{ grades.Current.UW_TW.0 }}</td>
										<td class="DataItem">Tech: {{ grades.Current.UW_Tech.0 }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">EAD:</td>
										<td class="DataItem">EUMM: {{ grades.Current.EAD_EUMM.0 }}</td>
										<td class="DataItem">BI: {{ grades.Current.EAD_BI.0 }}</td>
										<td class="DataItem"><br></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>											
			</div>
		</div>
	</div>
</div>	
