
{% include 'GradeInputForms/FormCommentEdit.html' %}
{% load static from staticfiles %}
{% include 'GradeInputForms/FormCommentPrevious.html' %}
<div class="RecordFormBody">
	<div class="RecordFormCLeft"> 
		<div id="RecordFormTitle">
			<a id="{{subjectname}}_{{ grades.Pupil.id }}" name="{{subjectname}}_{{ grades.Pupil.id }}">
				<div style='padding-left:10px;'>{{ grades.Pupil.FullName }} ({{subjectname}})</div>
			</a>
			<a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ grades.Pupil.id }}/"><img src="{{ MEDIA_REDIRECT }}{{ grades.Pupil.Picture }}" width="100" height="140" style="padding:12px;"/></a>
		</div>
	</div>
	<div class="RecordFormCRight">
		<div class="RecordFormCRight1">
			<div class='RecordFormCRight2'>
				{{ subject }}
				<button id="#prevCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-window2">Prev Record</button>
				<br>
				<br>
				<button id="#editCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-window2">Edit Current</button>
			</div>
			<div class='RecordFormCRight3'>
				<div class="table-wrapper">
					<div class="table-scroll" style="height:185px;">
						<table>
							<tbody>													
								<tr> 
									<td class="SmallLabel" >Comment:</td>
                                    <td class="DataItem" colspan=3 id="D@Comment{{grades.Pupil.id}}{{subjectname}}" >{{ grades.Current.Comment.0|safe }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Length:</td>
                                    <td class="DataItem" id="L@Comment{{grades.Pupil.id}}{{subjectname}}">{{ grades.Current.Comment.0|length }}</td>
									<td class="SmallLabel">Word Count:</td>
                                    <td class="DataItem" id="C@Comment{{grades.Pupil.id}}{{subjectname}}" >{{ grades.Current.Comment.0|wordcount }}</td>
								</tr>
								<tr> 
									<td class="SmallLabel" >Target1:</td><td class="DataItem" colspan=3 id="D@WrittenTarget1{{grades.Pupil.id}}{{subjectname}}">{{ grades.Current.WrittenTarget1.0|safe }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Length:</td>
                                    <td class="DataItem" id="L@WrittenTarget1{{grades.Pupil.id}}{{subjectname}}">{{ grades.Current.WrittenTarget1.0|length }}</td>
									<td class="SmallLabel">Word Count:</td>
                                    <td class="DataItem" id="C@WrittenTarget1{{grades.Pupil.id}}{{subjectname}}">{{ grades.Current.WrittenTarget1.0|wordcount }}</td>
								</tr>
								<tr> 
									<td class="SmallLabel" >Target2:</td>
                                    <td class="DataItem" colspan=3  id="D@WrittenTarget2{{grades.Pupil.id}}{{subjectname}}">{{ grades.Current.WrittenTarget2.0|safe }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Length:</td>
                                    <td class="DataItem" id="L@WrittenTarget2{{grades.Pupil.id}}{{subjectname}}">{{ grades.Current.WrittenTarget2.0|length }}</td>
									<td class="SmallLabel">Word Count:</td>
                                    <td class="DataItem" id="C@WrittenTarget2{{grades.Pupil.id}}{{subjectname}}">{{ grades.Current.WrittenTarget2.0|wordcount }}</td>
								</tr>
								<tr> 
									<td class="SmallLabel" >Target3:</td><td class="DataItem" colspan=3 id="D@WrittenTarget3{{grades.Pupil.id}}{{subjectname}}">>{{ grades.Current.WrittenTarget3.0|safe }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Length:</td>
                                    <td class="DataItem" id="L@WrittenTarget3{{grades.Pupil.id}}{{subjectname}}">{{ grades.Current.WrittenTarget3.0|length }}</td>
									<td class="SmallLabel">Word Count:</td>
                                    <td class="DataItem" id="C@WrittenTarget3{{grades.Pupil.id}}{{subjectname}}">{{ grades.Current.WrittenTarget3.0|wordcount }}</td>
								</tr>
								<tr> 
									<td class="SmallLabel" >Target4:</td><td class="DataItem" colspan=3 id="D@WrittenTarget4{{grades.Pupil.id}}{{subjectname}}">{{ grades.Current.WrittenTarget4.0|safe }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Length:</td>
                                    <td class="DataItem" id="L@WrittenTarget4{{grades.Pupil.id}}{{subjectname}}">{{ grades.Current.WrittenTarget4.0|length }}</td>
									<td class="SmallLabel">Word Count:</td>
                                    <td class="DataItem" id="C@WrittenTarget4{{grades.Pupil.id}}{{subjectname}}">{{ grades.Current.WrittenTarget4.0|wordcount }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>											
			</div>
		</div>
	</div>
</div>	
