
<!-- edit grade pop out? -->
{% load static from staticfiles %}
{% load WillowFilters %}
<div id="editCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-popup">

	<form class='RecordFormDialog' name="popOutForm"
	{% if Type == 'Pupil' %}
	action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateGrade/{{Type}}/{{ grades.Pupil.id }}/{{grades.GradeRecord}}/{{subjectname}}/"
	{% else %}
	action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateGrade/{{Type}}/{{ grades.Pupil.id }}/{{grades.GradeRecord}}/{{GroupRecords.GroupName}}/{{subjectname}}/"
	{% endif %}  PupilName="{{ grades.Pupil.FullName }}"
	method="post">
	<div class='bannerDialog'>
		<span>Edit Current Exam: {{subjectname}} for {{ grades.Pupil.Forename }} {{ grades.Pupil.Surname }}</span>
	</div>	
	{% load WillowFilters %}
		{% csrf_token %}
		<div style='border:1px solid grey;padding:3px;height:350px;overflow-y:scroll;'>
		<table style="padding-bottom: 20px;">
		
			<tr>
				<td><label for="Comment">Comment:</label></td>
				<td>
					<script>{% includeTinyMCE "Comment" grades.Pupil.id %}</script>
					<textarea id="F@Comment{{grades.Pupil.id}}{{subjectname}}"  class="Comment{{grades.Pupil.id}}" name='Comment' rows="10" cols="65" style="width:auto;" value="{{grades.Current.Comment.0}}">{{ grades.Current.Comment.0}}</textarea>
				</td>
			</tr>
			
			<tr>
				<td><label for="WrittenTarget1">Target 1:</label></td>
				<td>
					<script>{% includeTinyMCE "WrittenTarget1" grades.Pupil.id %}</script>
					<textarea id="F@WrittenTarget1{{grades.Pupil.id}}{{subjectname}}"  class="WrittenTarget1{{grades.Pupil.id}}" name='WrittenTarget1' rows="10" cols="65" style="width:auto;" value="{{grades.Current.WrittenTarget1.0}}">{{ grades.Current.WrittenTarget1.0}}</textarea>
				</td>
			</tr>
			
			<tr>
				<td><label for="WrittenTarget2">Target 2:</label></td>
				<td>
					<script>{% includeTinyMCE "WrittenTarget2" grades.Pupil.id %}</script>
					<textarea id="F@WrittenTarget2{{grades.Pupil.id}}{{subjectname}}"  class="WrittenTarget2{{grades.Pupil.id}}" name='WrittenTarget2' rows="10" cols="65" style="width:auto;" value="{{grades.Current.WrittenTarget2.0}}">{{ grades.Current.WrittenTarget2.0}}</textarea>
				</td>
			</tr>
			
			<tr>
				<td><label for="WrittenTarget3">Target 3:</label></td>
				<td>
					<script>{% includeTinyMCE "WrittenTarget3" grades.Pupil.id %}</script>
					<textarea id="F@WrittenTarget3{{grades.Pupil.id}}{{subjectname}}"  class="WrittenTarget3{{grades.Pupil.id}}" name='WrittenTarget3' rows="10" cols="65" style="width:auto;" value="{{grades.Current.WrittenTarget3.0}}">{{ grades.Current.WrittenTarget3.0}}</textarea>
				</td>
			</tr>
			
			<tr>
				<td><label for="WrittenTarget4">Target 4:</label></td>
				<td>
					<script>{% includeTinyMCE "WrittenTarget4" grades.Pupil.id %}</script>
					<textarea id="F@WrittenTarget4{{grades.Pupil.id}}{{subjectname}}"  class="WrittenTarget4{{grades.Pupil.id}}" name='WrittenTarget4' rows="10" cols="65" style="width:auto;" value="{{grades.Current.WrittenTarget4.0}}">{{ grades.Current.WrittenTarget4.0}}</textarea>
				</td>
			</tr>						
		</table>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="editCurrent{{grades.Pupil.id}}{{subjectname}}S" onclick="hideSubmitButton('editCurrent{{grades.Pupil.id}}{{subjectname}}S');" type="submit" value="Submit">Submit?</button>
            <span id="editCurrent{{grades.Pupil.id}}{{subjectname}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
<!-- end -->
