
{% include "GradeInputForms/FrenchInputForm.html" %}
{% load static from staticfiles %}

{% include "GradeInputForms/FrenchPrevious.html" %}

<div class="RecordFormBody">
	<div class="RecordFormCLeft"> 
		<div id="RecordFormTitle">
			<a id="{{subjectname}}_{{ grades.Pupil.id }}" name="{{subjectname}}_{{ grades.Pupil.id }}">
				<div style='padding-left:10px;'>{{ grades.Pupil.FullName }} ({{subjectname}})</div>
			</a>
			<a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ grades.Pupil.id }}/"><img src="{{ MEDIA_REDIRECT }}{{ grades.Pupil.Picture }}" width="100" height="140" style="padding:12px;"/></a>
			<a id="{{subjectname}}_here" name="{{subjectname}}_here"></a>
		</div>
	</div>
	<div class="RecordFormCRight">
		<div class="RecordFormCRight1">
			<div class='RecordFormCRight2'>
				{{ subject }}
				<button id="#prevCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-window2">Prev Record</button>
				<br>
				<br>
				<button id="#editCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-window2">Edit Current</button>
			</div>
			<div class='RecordFormCRight3'>
				<div class="table-wrapper">
					<div class="table-scroll" style="height:185px;">
						<table>
							<tbody>
								<tr>
									<th>Speaking</th><th>Listening</th><th>Reading</th><th>Writing</th><th>Overall</th>
								</tr>
								<tr>
									<td id="D@Level{{grades.Pupil.id}}French_Speaking">{{grades.SubSubject.French_Speaking.Current.Level.0}}<br/></td>
									<td id="D@Level{{grades.Pupil.id}}French_Listening">{{grades.SubSubject.French_Listening.Current.Level.0}}<br/></td>
									<td id="D@Level{{grades.Pupil.id}}French_Reading">{{grades.SubSubject.French_Reading.Current.Level.0}}<br/></td>
									<td id="D@Level{{grades.Pupil.id}}French_Writing">{{grades.SubSubject.French_Writing.Current.Level.0}}<br/></td>
									<td id="D@Level{{grades.Pupil.id}}{{subjectname}}">{{grades.Current.Level.0}}<br/></td>
								</tr>									
								<tr>
									<td>Effort</td>
									<td id="D@Effort{{grades.Pupil.id}}{{subjectname}}">{{grades.Current.Effort.0}}</td>
									<td colspan=2>Attainment</td>
									<td id="D@Attainment{{grades.Pupil.id}}{{subjectname}}">{{grades.Current.Attainment.0}}</td>
								</tr>
								<tr>
									<td>Quartile(Cla only</td><td id="D@Attainment{{grades.Pupil.id}}{{subjectname}}">{{grades.Current.Quartile.0}}</td>
									<td colspan=3><br></td>
								</tr>
								<tr><td colspan=5><br></td>
								</tr>	
								<tr>
									<td class="SmallLabel">Exam:</td>
                                    <td class="DataItem" id="D@Exam1{{grades.Pupil.id}}{{subjectname}}">{{ grades.Current.Exam1.0 }}</td>
									<td class="SmallLabel" colspan=2>Exam Type:</td>
                                    <td class="DataItem" id="D@ExamType1{{grades.Pupil.id}}{{subjectname}}">{{ grades.Current.Exam1Type.0 }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Comment Length:</td>
                                    <td class="DataItem" id="L@Comment{{grades.Pupil.id}}{{subjectname}}">{{ grades.Current.Comment.0|length }}</td>
									<td class="SmallLabel" colspan=2>Word Count:</td>
                                    <td class="DataItem" id="C@Comment{{grades.Pupil.id}}{{subjectname}}">{{ grades.Current.Comment.0|wordcount }}</td>
								</tr>															
								<tr> 
									<td class="SmallLabel" >Comment:</td>
                                    <td class="DataItem" colspan=4 id="D@Comment{{grades.Pupil.id}}{{subjectname}}">{{ grades.Current.Comment.0|safe }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>											
			</div>
		</div>
	</div>
</div>	
