
<!-- edit grade pop out? -->
{% load static from staticfiles %}
{% load WillowFilters %}
<div id="editCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm"
	{% if Type == 'Pupil' %}
	action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateGrade/{{Type}}/{{ grades.Pupil.id }}/{{grades.GradeRecord}}/Multiple/"
	{% else %}
	action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateGrade/{{Type}}/{{ grades.Pupil.id }}/{{grades.GradeRecord}}/{{GroupRecords.GroupName}}/Multiple/"
	{% endif %}  PupilName="{{ grades.Pupil.FullName }}"
	method="post">			
	<div class='bannerDialog'>
		<span>Edit Current: {{subjectname}} for {{ grades.Pupil.Forename }} {{ grades.Pupil.Surname }}</span>
	</div>
	{% load WillowFilters %}
		{% csrf_token %}
		<table style="padding-bottom: 20px;">
			<tr>
				<td><label for="French_Speaking:Level">Speaking Level:</label></td></td> 
				<td><select type="text" name="French_Speaking:Level" id="F@Level{{grades.Pupil.id}}French_Speaking">
					<option value='None' {% if not grades.SubSubject.French_Speaking.Current.Level.0  %}selected='selected'{% endif %}>None</option>
					{% for options in grades.SubSubject.French_Speaking.Current.Level.2 %}
					 <option value="{{ options.0 }}" {% if options.0 ==  grades.SubSubject.French_Speaking.Current.Level.0  %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="French_Listening:Level">Listening Level:</label></td></td> 
				<td><select type="text" name="French_Listening:Level" id="F@Level{{grades.Pupil.id}}French_Listening">
					<option value='None' {% if not grades.SubSubject.French_Listening.Current.Level.0  %}selected='selected'{% endif %}>None</option>
					{% for options in grades.SubSubject.French_Listening.Current.Level.2 %}
					 <option value="{{ options.0 }}" {% if options.0 ==  grades.SubSubject.French_Listening.Current.Level.0  %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="French_Reading:Level">Reading Level:</label></td></td> 
				<td><select type="text" name="French_Reading:Level" id="F@Level{{grades.Pupil.id}}French_Reading">
					<option value='None' {% if not grades.SubSubject.French_Reading.Current.Level.0  %}selected='selected'{% endif %}>None</option>
					{% for options in grades.SubSubject.French_Reading.Current.Level.2 %}
					 <option value="{{ options.0 }}" {% if options.0 ==  grades.SubSubject.French_Reading.Current.Level.0  %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="French_Writing:Level">Writing Level:</label></td></td> 
				<td><select type="text" name="French_Writing:Level" id="F@Level{{grades.Pupil.id}}French_Writing">
					<option value='None' {% if not grades.SubSubject.French_Writing.Current.Level.0  %}selected='selected'{% endif %}>None</option>
					{% for options in grades.SubSubject.French_Writing.Current.Level.2 %}
					 <option value="{{ options.0 }}" {% if options.0 ==  grades.SubSubject.French_Writing.Current.Level.0  %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>

			<tr>
				<td><label for="French:Level">Overall Level:</label></td></td> 
				<td><select type="text" name="French:Level" id="F@Level{{grades.Pupil.id}}French">
					<option value='None' {% if not grades.Current.Level.0  %}selected='selected'{% endif %}>None</option>	
					{% for options in grades.Current.Level.2 %}
					 <option value="{{ options.0 }}" {% if options.0 ==  grades.Current.Level.0  %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="French:Effort">Effort:</label></td></td> 
				<td><select type="text" name="French:Effort" id="F@Effort{{grades.Pupil.id}}French">
					<option value='None' {% if not grades.Current.Effort.0  %}selected='selected'{% endif %}>None</option>	
					{% for options in grades.Current.Effort.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.Effort.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="French:Attainment">Attainment:</label></td></td> 
				<td><select type="text" name="French:Attainment" id="F@Attainment{{grades.Pupil.id}}French">
					<option value='None' {% if not grades.Current.Attainment.0  %}selected='selected'{% endif %}>None</option>	
					{% for options in grades.Current.Attainment.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.Attainment.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>	
			<tr>
				<td><label for="French:Quartile">Quartile:</label></td></td> 
				<td><select type="text" name="French:Quartile" id="F@Quartile{{grades.Pupil.id}}French">
					<option value='None' {% if not grades.Current.Quartile.0  %}selected='selected'{% endif %}>None</option>	
					{% for options in grades.Current.Quartile.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.Quartile.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>		
			<tr>
				<td><label for="French:Exam1">Exam:</label></td></td> 
				<td><input type="text" name="French:Exam1" id="F@Exam1{{grades.Pupil.id}}French"
				value="{{ grades.Current.Exam1.0 }}" 
				style = 'border: 2px solid; width: 250px; height: 25px;'/></td>
			</tr>
			<tr>
				<td><label for="English:Exam1Type">Exam Type:</label></td></td> 
				<td><select type="text" name="French:Exam1Type" id="F@Exam1Type{{grades.Pupil.id}}French">
					<option value=''>Select Type</option>
					{% for options in grades.Current.Exam1Type.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.Exam1Type.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="Comment">Comment:</label></td></td> 
				<td>
					<script>{% includeTinyMCE "Comment" grades.Pupil.id "French" %}</script>
					<textarea id="F@Comment{{grades.Pupil.id}}{{subjectname}}" name='French:Comment' class="Comment{{grades.Pupil.id}}{{subjectname}}"
					value="{{grades.Current.Comment.0}}">{{ grades.Current.Comment.0}}</textarea>
				</td>
			</tr>					
		</table>
		
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="editCurrent{{grades.Pupil.id}}{{subjectname}}S" onclick="hideSubmitButton('editCurrent{{grades.Pupil.id}}{{subjectname}}S');" type="submit" value="Submit">Submit?</button>
            <span id="editCurrent{{grades.Pupil.id}}{{subjectname}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
<!-- end -->
