
<div id="prevCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-popup">
{% load static from staticfiles %}
<div class="RecordFormBody">
	<div class="RecordFormCLeft"> 
		<div id="RecordFormTitle">
			<a id="{{subjectname}}_{{ grades.Pupil.id }}" name="{{subjectname}}_{{ grades.Pupil.id }}">
				<div style='padding-left:10px;'>{{ grades.Pupil.FullName }} ({{subjectname}})</div>
			</a>
			<a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ grades.Pupil.id }}/"><img src="{{ MEDIA_REDIRECT }}{{ grades.Pupil.Picture }}" width="100" height="140" style="padding:12px;"/></a>
			<a id="{{subjectname}}_here" name="{{subjectname}}_here"></a>
		</div>
	</div>
	<div class="RecordFormCRight">
		<div class="RecordFormCRight1">
			<div class='RecordFormCRight2'>
				{{ subject }}
			<br /><br /><button type="button" class='close2'>Close</button>
			</div>
			<div class='RecordFormCRight3'>
				<div class="table-wrapper">
					<div class="table-scroll" style="height:185px;">
						<table>
							<tbody>
								<tr>
									<th>Speaking</th><th>Listening</th><th>Reading</th><th>Writing</th><th>Overall</th>
								</tr>
								<tr>
									<td>{{grades.SubSubject.French_Speaking.Current.Level.0}}</td>
									<td>{{grades.SubSubject.French_Listening.Current.Level.0}}</td>
									<td>{{grades.SubSubject.French_Reading.Current.Effort.0}}</td>
									<td>{{grades.SubSubject.French_Writing.Current.Level.0}}</td>
									<td>{{grades.Previous.Level.0}}</td>
								</tr>									
								<tr>
									<td>Effort</td>
									<td>{{grades.Effort.0}}</td>
									<td colspan=2>Attainment</td>
									<td>{{grades.Previous.Attainment.0}}</td>
								</tr>
								<tr><td colspan=5><br></td>
								</tr>	
								<tr>
									<td class="SmallLabel">Exam:</td><td class="DataItem">{{ grades.Previous.Exam1.0 }}</td>
									<td class="SmallLabel" colspan=2>Exam Type:</td><td class="DataItem">{{ grades.Previous.Exam1Type.0 }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Comment Length:</td><td class="DataItem">{{ grades.Previous.Comment.0|length }}</td>
									<td class="SmallLabel" colspan=2>Word Count:</td><td class="DataItem">{{ grades.Previous.Comment.0|wordcount }}</td>
								</tr>															
								<tr> 
									<td class="SmallLabel" >Comment:</td><td class="DataItem" colspan=4>{{ grades.Previous.Comment.0|safe }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>											
			</div>
		</div>
	</div>
</div>	
</div>
