
<!-- edit grade pop out? -->
{% load static from staticfiles %}
<div id="editCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm"
	{% if Type == 'Pupil' %}
	action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateGrade/{{Type}}/{{ grades.Pupil.id }}/{{grades.GradeRecord}}/Multiple/"
	{% else %}
	action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateGrade/{{Type}}/{{ grades.Pupil.id }}/{{grades.GradeRecord}}/{{GroupRecords.GroupName}}/Multiple/"
	{% endif %}  PupilName="{{ grades.Pupil.FullName }}"
	method="post">			
	<div class='bannerDialog'>
		<span>Edit Current: {{subjectname}} for {{ grades.Pupil.Forename }} {{ grades.Pupil.Surname }}</span>
	</div>
	{% load WillowFilters %}
		{% csrf_token %}
		<table style="padding-bottom: 20px;">
			<tr>
				<td><label for="Geography:Level">Geography Level:</label></td></td> 
				<td><select type="text" name="Geography:Level" id="F@Level{{grades.Pupil.id}}Geography">
					<option value='None' {% if not grades.SubSubject.Geography.Current.Level.0  %}selected='selected'{% endif %}>None</option>
					{% for options in grades.SubSubject.Geography.Current.Level.2 %}
					 <option value="{{ options.0 }}" {% if options.0 ==  grades.SubSubject.Geography.Current.Level.0  %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="Geography:Effort">Geography Effort:</label></td></td> 
				<td><select type="text" name="Geography:Effort" id="F@Effort{{grades.Pupil.id}}Geography">
					<option value='None' {% if not grades.SubSubject.Geography.Current.Effort.0  %}selected='selected'{% endif %}>None</option>
					
					{% for options in grades.SubSubject.Geography.Current.Effort.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.SubSubject.Geography.Current.Effort.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="Geography:Attainment">Geography Attainment:</label></td></td> 
				<td><select type="text" name="Geography:Attainment" id="F@Attainment{{grades.Pupil.id}}Geography">
					<option value='None' {% if not grades.SubSubject.Geography.Current.Attainment.0  %}selected='selected'{% endif %}>None</option>

					{% for options in grades.SubSubject.Geography.Current.Attainment.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.SubSubject.Geography.Current.Attainment.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>			

			<tr>
				<td><label for="History:Level">History Level:</label></td></td> 
				<td><select type="text" name="History:Level" id="F@Level{{grades.Pupil.id}}History">
					<option value='None' {% if not grades.SubSubject.History.Current.Level.0  %}selected='selected'{% endif %}>None</option>
					{% for options in grades.SubSubject.History.Current.Level.2 %}
					 <option value="{{ options.0 }}" {% if options.0 ==  grades.SubSubject.History.Current.Level.0  %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="History:Effort">History Effort:</label></td></td> 
				<td><select type="text" name="History:Effort" id="F@Effort{{grades.Pupil.id}}History">
					<option value='None' {% if not grades.SubSubject.History.Current.Effort.0  %}selected='selected'{% endif %}>None</option>
					
					{% for options in grades.SubSubject.History.Current.Effort.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.SubSubject.History.Current.Effort.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="History:Attainment">History Attainment:</label></td></td> 
				<td><select type="text" name="History:Attainment" id="F@Attainment{{grades.Pupil.id}}History">
					<option value='None' {% if not grades.SubSubject.History.Current.Attainment.0  %}selected='selected'{% endif %}>None</option>

					{% for options in grades.SubSubject.History.Current.Attainment.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.SubSubject.History.Current.Attainment.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			
			<tr>
				<td><label for="Level">Comment:</label></td></td> 
				<td>
					<script>{% includeTinyMCE "Comment" grades.Pupil.id  "Humanities" %}</script>
					<textarea id="Comment{{grades.Pupil.id}}{{subjectname}}" class="F@Comment{{grades.Pupil.id}}{{subjectname}}" name='Humanities:Comment' value="{{grades.Current.Comment.0}}">{{ grades.Current.Comment.0}}</textarea>
				</td>
			</tr>					
		</table>
		
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="editCurrent{{grades.Pupil.id}}{{subjectname}}S" onclick="hideSubmitButton('editCurrent{{grades.Pupil.id}}{{subjectname}}S');" type="submit" value="Submit">Submit?</button>
            <span id="editCurrent{{grades.Pupil.id}}{{subjectname}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
<!-- end -->
