

{% load static from staticfiles %}
<!-- Put the popUp to show the old data here -->
<div id="prevCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-popup">
	<div class="RecordFormBody">
		<div class="RecordFormCLeft">
			<h1>Previous Exams...<br /><span style='font-weight:bold;'>{{subjectname}}</span></h1>
			<br /><br /><button type="button" class='close2'>Close</button>
		</div>
		<div class="RecordFormCRight">
			<div class="RecordFormCRight1"> 
				<div class='RecordFormCRight2'>
				</div>
				<div class='RecordFormCRight3'>
					<div class="table-wrapper">
						<div class="table-scroll" style="height:185px;">
							<table>
							<tbody>
								<tr>
									<th>Subject</th><th>Level</th><th>Effort</th><th>Attainment</th>
								</tr>
								<tr>
									<td>Geography</td>
									<td>{{grades.SubSubject.Geography.Previous.Level.0}}</td>
									<td>{{grades.SubSubject.Geography.Previous.Effort.0}}</td>
									<td>{{grades.SubSubject.Geography.Previous.Attainment.0}}</td>									
								</tr>									
								<tr>
									<td>History</td>
									<td>{{grades.SubSubject.History.Previous.Level.0}}</td>
									<td>{{grades.SubSubject.History.Previous.Effort.0}}</td>
									<td>{{grades.SubSubject.History.Previous.Attainment.0}}</td>									
								</tr>									
								<tr><td colspan=4><br></td>
								</tr>	
								<tr>
									<td class="SmallLabel">Comment Length:</td><td class="DataItem">{{ grades.Previous.Comment.0|length }}</td>
									<td class="SmallLabel">Word Count:</td><td class="DataItem">{{ grades.Previous.Comment.0|wordcount }}</td>
								</tr>															
								<tr> 
									<td class="SmallLabel" >Comment:</td><td class="DataItem" colspan=3>{{ grades.Previous.Comment.0|safe }}</td>
								</tr>
							</tbody>
							</table>
						</div>
					</div>											
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Put the Pop Up to Edit the current Data here -->
