
{% include "GradeInputForms/HumanitiesInputform.html" %}
{% load static from staticfiles %}

{% include "GradeInputForms/HumanitiesPrev.html" %}

<div class="RecordFormBody">
	<div class="RecordFormCLeft"> 
		<div id="RecordFormTitle">
			<a id="{{subjectname}}_{{ grades.Pupil.id }}" name="{{subjectname}}_{{ grades.Pupil.id }}">
				<div style='padding-left:10px;'>{{ grades.Pupil.FullName }} ({{subjectname}})</div>
			</a>
			<a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ grades.Pupil.id }}/"><img src="{{ MEDIA_REDIRECT }}{{ grades.Pupil.Picture }}" width="100" height="140" style="padding:12px;"/></a>
			<a id="{{subjectname}}_here" name="{{subjectname}}_here"></a>
		</div>
	</div>
	<div class="RecordFormCRight">
		<div class="RecordFormCRight1">
			<div class='RecordFormCRight2'>
				{{ subject }}
				<button id="#prevCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-window2">Prev Record</button>
				<br>
				<br>
				<button id="#editCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-window2">Edit Current</button>
			</div>
			<div class='RecordFormCRight3'>
				<div class="table-wrapper">
					<div class="table-scroll" style="height:185px;">
						<table>
							<tbody>
								<tr>
									<th>Subject</th><th>Level</th><th>Effort</th><th>Attainment</th>
								</tr>
								<tr>
									<td>Geography</td>
									<td id="D@Level{{grades.Pupil.id}}Geography">{{grades.SubSubject.Geography.Current.Level.0}}</td>
									<td id="D@Effort{{grades.Pupil.id}}Geography">{{grades.SubSubject.Geography.Current.Effort.0}}</td>
									<td id="D@Attainment{{grades.Pupil.id}}Geography">{{grades.SubSubject.Geography.Current.Attainment.0}}</td>
								</tr>									
								<tr>
									<td>History</td>
									<td id="D@Level{{grades.Pupil.id}}History">{{grades.SubSubject.History.Current.Level.0}}</td>
									<td id="D@Effort{{grades.Pupil.id}}History">{{grades.SubSubject.History.Current.Effort.0}}</td>
									<td id="D@Attainment{{grades.Pupil.id}}History">{{grades.SubSubject.History.Current.Attainment.0}}</td>
								</tr>									
								<tr><td colspan=4><br></td>
								</tr>	
								<tr>
									<td class="SmallLabel">Comment Length:</td>
                                    <td class="DataItem" id="L@Comment{{grades.Pupil.id}}{{subjectname}}">{{ grades.Current.Comment.0|length }}</td>
									<td class="SmallLabel" id="C@Comment{{grades.Pupil.id}}{{subjectname}}">Word Count:</td><td class="DataItem">{{ grades.Current.Comment.0|wordcount }}</td>
								</tr>															
								<tr> 
									<td class="SmallLabel" id="D@Comment{{grades.Pupil.id}}{{subjectname}}" >Comment:</td><td class="DataItem" colspan=3>{{ grades.Current.Comment.0|safe }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>											
			</div>
		</div>
	</div>
</div>	
