
{% include "GradeInputForms/ReadingAgeForm.html" %}
{% load static from staticfiles %}

{% include "GradeInputForms/ReadingAgePrev.html" %}

<div class="RecordFormBody">
	<div class="RecordFormCLeft"> 
		<div id="RecordFormTitle">
			<a id="{{subjectname}}_{{ grades.Pupil.id }}" name="{{subjectname}}_{{ grades.Pupil.id }}">
				<div style='padding-left:10px;'>{{ grades.Pupil.FullName }} ({{subjectname}})</div>
			</a>
			<a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ grades.Pupil.id }}/"><img src="{{ MEDIA_REDIRECT }}{{ grades.Pupil.Picture }}" width="100" height="140" style="padding:12px;"/></a>
		</div>
	</div>
	<div class="RecordFormCRight">
		<div class="RecordFormCRight1">
			<div class='RecordFormCRight2'>
				{{ subject }}
				<button id="#prevCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-window2">Prev Record</button>
				<br>
				<br>
				<button id="#editCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-window2">Edit Current</button>
			</div>
			<div class='RecordFormCRight3'>
				<div class="table-wrapper">
					<div class="table-scroll" style="height:185px;">
						<table>
							<tbody>
								<tr>
									<th>Area</th><th>Years</th><th>Months</th><th>STD score</th>
								</tr>
								<tr>
									<td>Reading Age</td>
									<td id="D@ReadingAgeYears{{grades.Pupil.id}}{{subjectname}}">{{grades.Current.ReadingAgeYears.0}}</td>
									<td id="D@ReadingAgeMonths{{grades.Pupil.id}}{{subjectname}}">{{grades.Current.ReadingAgeMonths.0}}</td>
									<td id="D@StandardScore{{grades.Pupil.id}}{{subjectname}}">{{grades.Current.StandardScore.0}}</td>
								</tr>									
								<tr>
									<td>Age at Test</td>
									<td id="D@ActualYearsYears{{grades.Pupil.id}}{{subjectname}}">{{grades.Current.ActualAgeYears.0}}</td>
									<td name="ActualAgeMonths" id="D@ActualYearsMonths{{grades.Pupil.id}}{{subjectname}}">{{grades.Current.ActualAgeMonths.0}}</td>
									<td><br></td>									
								</tr>
							</tbody>
						</table>
					</div>
				</div>											
			</div>
		</div>
	</div>
</div>	
