
<!-- edit grade pop out? -->
{% load static from staticfiles %}
<div id="editCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm"
	{% if Type == 'Pupil' %}
	action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateGrade/{{Type}}/{{ grades.Pupil.id }}/{{grades.GradeRecord}}/{{subjectname}}/"
	{% else %}
	action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateGrade/{{Type}}/{{ grades.Pupil.id }}/{{grades.GradeRecord}}/{{GroupRecords.GroupName}}/{{subjectname}}/"
	{% endif %}  PupilName="{{ grades.Pupil.FullName }}"
	method="post">			
	<div class='bannerDialog'>
		<span>Edit Current Exam: {{subjectname}} for {{ grades.Pupil.Forename }} {{ grades.Pupil.Surname }}</span>
	</div>
	{% load WillowFilters %}
		{% csrf_token %}
		<table style="padding-bottom: 20px;">

			<tr>
				<td><label>Reading Age Years:</label></td></td> 
				<td><input type="text" name="ReadingAgeYears" id="F@ReadingAgeYears{{grades.Pupil.id}}{{subjectname}}" value="{{ grades.Current.ReadingAgeYears.0 }}" style = 'border: 2px solid; width: 250px; height: 25px;'/></td>
			</tr>
			<tr>
				<td><label>Reading Age Months:</label></td></td> 
				<td><input type="text" name="ReadingAgeMonths" id="F@ReadingAgeMonths{{grades.Pupil.id}}{{subjectname}}" value="{{ grades.Current.ReadingAgeMonths.0 }}" style = 'border: 2px solid; width: 250px; height: 25px;'/></td>
			</tr>
			<tr>
				<td><label>Standard Score:</label></td></td> 
				<td><input type="text" name="StandardScore" id="F@StandardScore{{grades.Pupil.id}}{{subjectname}}" value="{{ grades.Current.StandardScore.0 }}" style = 'border: 2px solid; width: 250px; height: 25px;'/></td>
			</tr>
			<tr>
				<td><label>Age at Test Years:</label></td></td> 
				<td><input type="text" name="ActualAgeYears" id="F@ActualYearsYears{{grades.Pupil.id}}{{subjectname}}" value="{{ grades.Current.ActualAgeYears.0 }}" style = 'border: 2px solid; width: 250px; height: 25px;'/></td>
			</tr>
			<tr>
				<td><label>Age at Test Months:</label></td></td> 
				<td><input type="text" name="ActualAgeMonths" id="F@ActualYearsMonths{{grades.Pupil.id}}{{subjectname}}" value="{{ grades.Current.ActualAgeMonths.0 }}" style = 'border: 2px solid; width: 250px; height: 25px;'/></td>
			</tr>						
		</table>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="editCurrent{{grades.Pupil.id}}{{subjectname}}S" onclick="hideSubmitButton('editCurrent{{grades.Pupil.id}}{{subjectname}}S');" type="submit" value="Submit">Submit?</button>
            <span id="editCurrent{{grades.Pupil.id}}{{subjectname}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
<!-- end -->
