

{% load static from staticfiles %}


<!-- Put the popUp to show the old data here -->
<div id="prevCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-popup">

<div class="RecordFormBody">
	<div class="RecordFormCLeft"> 
		<div class="RecordFormCLeft">
			<h1>Previous Exams...<br /><span style='font-weight:bold;'>{{subjectname}}</span></h1>
			<br /><br /><button type="button" class='close2'>Close</button>
		</div>
		<div id="RecordFormTitle">
			{{ grades.Pupil.FullName }} ({{subjectname}})
		</div>
	</div>
	<div class="RecordFormCRight">
		<div class="RecordFormCRight1">
			<div class='RecordFormCRight3'>
				<div class="table-wrapper">
					<div class="table-scroll" style="height:185px;">
						<table>
							<tbody>
								<tr>
									<td class="SmallLabel">PSED:</td><td class="DataItem" colspan=3>{{ grades.Previous.PSED.0|safe }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Length:</td><td class="DataItem">{{ grades.Previous.PSED.0|length }}</td>
									<td class="SmallLabel">Word Count:</td><td class="DataItem">{{ grades.Previous.PSED.0|wordcount }}</td>
								</tr>	
								<tr>
									<td class="SmallLabel">Maths:</td><td class="DataItem" colspan=3>{{ grades.Previous.MA.0|safe }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Length:</td><td class="DataItem">{{ grades.Previous.MA.0|length }}</td>
									<td class="SmallLabel">Word Count:</td><td class="DataItem">{{ grades.Previous.MA.0|wordcount }}</td>
								</tr>
								
								<tr>
									<td class="SmallLabel">Literacy:</td><td class="DataItem" colspan=3>{{ grades.Previous.LI.0|safe }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Length:</td><td class="DataItem">{{ grades.Previous.LI.0|length }}</td>
									<td class="SmallLabel">Word Count:</td><td class="DataItem">{{ grades.Previous.LI.0|wordcount }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Com and Lang:</td><td class="DataItem" colspan=3>{{ grades.Previous.CL.0|safe }}</td>
								</tr>	
								<tr>
									<td class="SmallLabel">Length:</td><td class="DataItem">{{ grades.Previous.CL.0|length }}</td>
									<td class="SmallLabel">Word Count:</td><td class="DataItem">{{ grades.Previous.CL.0|wordcount }}</td>
								</tr>													
								<tr> 
									<td class="SmallLabel" >Und. the World:</td><td class="DataItem" colspan=3>{{ grades.Previous.UW.0|safe }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Length:</td><td class="DataItem">{{ grades.Previous.UW.0|length }}</td>
									<td class="SmallLabel">Word Count:</td><td class="DataItem">{{ grades.Previous.UW.0|wordcount }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Expres. Art and Desg.:</td><td class="DataItem" colspan=3>{{ grades.Previous.EAD.0|safe }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Length:</td><td class="DataItem">{{ grades.Previous.EAD.0|length }}</td>
									<td class="SmallLabel">Word Count:</td><td class="DataItem">{{ grades.Previous.EAD.0|wordcount }}</td>
								</tr>															
								<tr> 
									<td class="SmallLabel" >Physical Dev.:</td><td class="DataItem" colspan=3>{{ grades.Previous.PD.0|safe }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Length:</td><td class="DataItem">{{ grades.Previous.PD.0|length }}</td>
									<td class="SmallLabel">Word Count:</td><td class="DataItem">{{ grades.Previous.PD.0|wordcount }}</td>
								</tr>
								<tr> 
									<td class="SmallLabel" >Target1:</td><td class="DataItem" colspan=3>{{ grades.Previous.WrittenTarget1.0|safe }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Length:</td><td class="DataItem">{{ grades.Previous.WrittenTarget1.0|length }}</td>
									<td class="SmallLabel">Word Count:</td><td class="DataItem">{{ grades.Previous.WrittenTarget1.0|wordcount }}</td>
								</tr>
								<tr> 
									<td class="SmallLabel" >Target2:</td><td class="DataItem" colspan=3>{{ grades.Previous.WrittenTarget2.0|safe }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Length:</td><td class="DataItem">{{ grades.Previous.WrittenTarget2.0|length }}</td>
									<td class="SmallLabel">Word Count:</td><td class="DataItem">{{ grades.Previous.WrittenTarget2.0|wordcount }}</td>
								</tr>
								<tr> 
									<td class="SmallLabel" >Target3:</td><td class="DataItem" colspan=3>{{ grades.Previous.WrittenTarget3.0|safe }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Length:</td><td class="DataItem">{{ grades.Previous.WrittenTarget3.0|length }}</td>
									<td class="SmallLabel">Word Count:</td><td class="DataItem">{{ grades.Previous.WrittenTarget3.0|wordcount }}</td>
								</tr>
								<tr> 
									<td class="SmallLabel" >Target4:</td><td class="DataItem" colspan=3>{{ grades.Previous.WrittenTarget4.0|safe }}</td>
								</tr>
								<tr>
									<td class="SmallLabel">Length:</td><td class="DataItem">{{ grades.Previous.WrittenTarget4.0|length }}</td>
									<td class="SmallLabel">Word Count:</td><td class="DataItem">{{ grades.Previous.WrittenTarget4.0|wordcount }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>											
			</div>
		</div>
	</div>
</div>	



</div>
<!-- Put the Pop Up to Edit the current Data here -->
