

{% load static from staticfiles %}
<!-- Put the popUp to show the old data here -->
<div id="prevCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-popup">
	<div class="RecordFormBody">
		<div class="RecordFormCLeft">
			<h1>Previous Exams...<br /><span style='font-weight:bold;'>{{subjectname}}</span></h1>
			<br /><br /><button type="button" class='close2'>Close</button>
		</div>
		<div class="RecordFormCRight">
			<div class="RecordFormCRight1"> 
				<div class='RecordFormCRight2'>
				</div>
				<div class='RecordFormCRight3'>
					<div class="table-wrapper">
						<div class="table-scroll" style="height:185px;">
						<table>
							<tbody>
								<tr>
									<th>Area</th><th>Years</th><th>Months</th><th>STD score</th>
								</tr>
								<tr>
									<td>Spelling Age</td>
									<td>{{grades.Previous.SpellingAgeYears.0}}</td>
									<td>{{grades.Previous.SpellingAgeMonths.0}}</td>
									<td>{{grades.Previous.StandardScore.0}}</td>									
								</tr>									
								<tr>
									<td>Age at Test</td>
									<td>{{grades.Previous.ActualAgeYears.0}}</td>
									<td>{{grades.Previous.ActualAgeMonths.0}}</td>
									<td><br></td>									
								</tr>
							</tbody>
						</table>
						</div>
					</div>											
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Put the Pop Up to Edit the current Data here -->
