
<!-- edit grade pop out? -->
{% load static from staticfiles %}
<div id="editCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm"
	{% if Type == 'Pupil' %}
	action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateGrade/{{Type}}/{{ grades.Pupil.id }}/{{grades.GradeRecord}}/{{subjectname}}/"
	{% else %}
	action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateGrade/{{Type}}/{{ grades.Pupil.id }}/{{grades.GradeRecord}}/{{GroupRecords.GroupName}}/{{subjectname}}/"
	{% endif %}
	method="post">			
	<div class='bannerDialog'>
		<span>Edit Current Exam: {{subjectname}} for {{ grades.Pupil.Forename }} {{ grades.Pupil.Surname }}</span>
	</div>
	{% load WillowFilters %}
		{% csrf_token %}
		<table style="padding-bottom: 20px;">
			{% include "GradeInputForms/InputElements/Instrument.html" %}
			{% include "GradeInputForms/InputElements/Comment.html"%}						
		</table>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="editCurrent{{grades.Pupil.id}}{{subjectname}}S" onclick="hideSubmitButton('editCurrent{{grades.Pupil.id}}{{subjectname}}S');" type="submit" value="Submit">Submit?</button>
            <span id="editCurrent{{grades.Pupil.id}}{{subjectname}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
<!-- end -->


<!-- Put the popUp to show the old data here -->
<div id="prevCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-popup">
	<div class="RecordFormBody">
		<div class="RecordFormCLeft">
			<h1>Previous Exams...<br /><span style='font-weight:bold;'>{{subjectname}}</span></h1>
			<br /><br /><button type="button" class='close2'>Close</button>
		</div>
		<div class="RecordFormCRight">
			<div class="RecordFormCRight1"> 
				<div class='RecordFormCRight2'>
				</div>
				<div class='RecordFormCRight3'>
					<div class="table-wrapper">
						<div class="table-scroll" style="height:185px;">
							<table>
								<tbody>
									<tr>
										<td class="Label">Comment Length:</td><td class="DataItem">{{ gradesPrevious.Comment.0|length }}</td>
										<td class="Label">Word Count:</td><td class="DataItem">{{ grades.Previous.Comment.0|wordcount }}</td>
									</tr>																
									<tr>
										<td class="Label">Comment:</td><td class="DataItem" colspan=3>{{ grades.Previous.Comment.0|safe }}</td>
									</tr>
									<tr>
										<td class="Label">Teacher Name:</td><td class="DataItem" colspan=3>{{ grades.Previous.TeacherName.0|safe }}</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>											
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Put the Pop Up to Edit the current Data here -->

<div class="RecordFormBody">
	<div class="RecordFormCLeft"> 
		<div id="RecordFormTitle">
			<a id="{{subjectname}}_{{ grades.Pupil.id }}" name="{{subjectname}}_{{ grades.Pupil.id }}">
				<div style='padding-left:10px;'>{{ grades.Pupil.FullName }} ({{subjectname}})</div>
			</a>
			<a href="/WillowTree/{{ school }}/{{ AcYear }}/pupil/{{ grades.Pupil.id }}/"><img src="{{ MEDIA_REDIRECT }}{{ grades.Pupil.Picture }}" width="100" height="140" style="padding:12px;"/></a>
		</div>
	</div>
	<div class="RecordFormCRight">
		<div class="RecordFormCRight1">
			<div class='RecordFormCRight2'>
				{{ subject }}
				<br>
				<button id="#editCurrent{{grades.Pupil.id}}{{subjectname}}" class="login-window2">Edit Current</button>
			</div>
			<div class='RecordFormCRight3'>
				<div class="table-wrapper">
					<div class="table-scroll" style="height:185px;">
						<table>
							<tbody>
								<tr>
									<td class="SmallLabel">Comment Length:</td>
                                    <td class="DataItem" id="L@Comment{{grades.Pupil.id}}{{subjectname}}">{{ grades.Current.Comment.0|length }}</td>
									<td class="SmallLabel" id="C@Comment{{grades.Pupil.id}}{{subjectname}}">Word Count:</td><td class="DataItem">{{ grades.Current.Comment.0|wordcount }}</td>
								</tr>															
								<tr> 
									<td class="SmallLabel" >Comment:</td>
                                    <td class="DataItem" colspan=3 id="D@Comment{{grades.Pupil.id}}{{subjectname}}">{{ grades.Current.Comment.0|safe }}</td>
								</tr>
								<tr> 
									<td class="SmallLabel" >Teacher Name:</td>
                                    <td class="DataItem" colspan=3 id="D@TeacherName{{grades.Pupil.id}}{{subjectname}}" >{{ grades.Current.TeacherName.0|safe }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>											
			</div>
		</div>
	</div>
</div>	
