
{% load WillowFilters %}
{% load static from staticfiles %}
{% if 'Admin' in school %}
<li><a href="#">Potential Grps</a>
	<ul>
				<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/ChooseClassList/{{CurrentYear|AcYearPlus:+1}}/">Multi Lists</a></li>
		{% if 'Battersea' in school %}
				<li><a href='#'>Lower School</a>
					<ul>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.LowerSchool.Reception.Form.RBE/{{CurrentYear|AcYearPlus:+1}}/">RBE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.LowerSchool.Reception.Form.RBN/{{CurrentYear|AcYearPlus:+1}}/">RBN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.LowerSchool.Reception.Form.RBS/{{CurrentYear|AcYearPlus:+1}}/">RBS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.LowerSchool.Reception.Form.RBW/{{CurrentYear|AcYearPlus:+1}}/">RBW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.LowerSchool.Year1.Form.1BE/{{CurrentYear|AcYearPlus:+1}}/">1BE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.LowerSchool.Year1.Form.1BN/{{CurrentYear|AcYearPlus:+1}}/">1BN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.LowerSchool.Year1.Form.1BS/{{CurrentYear|AcYearPlus:+1}}/">1BS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.LowerSchool.Year1.Form.1BW/{{CurrentYear|AcYearPlus:+1}}/">1BW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.LowerSchool.Year2.Form.2BE/{{CurrentYear|AcYearPlus:+1}}/">2BE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.LowerSchool.Year2.Form.2BN/{{CurrentYear|AcYearPlus:+1}}/">2BN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.LowerSchool.Year2.Form.2BS/{{CurrentYear|AcYearPlus:+1}}/">2BS</a></li>
					</ul>
				</li>
				<li><a href='#'>Middle School</a>
					<ul>				
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.LowerSchool.Year2.Form.2BW/{{CurrentYear|AcYearPlus:+1}}/">2BW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.MiddleSchool.Year3.Form.3BE/{{CurrentYear|AcYearPlus:+1}}/">3BE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.MiddleSchool.Year3.Form.3BN/{{CurrentYear|AcYearPlus:+1}}/">3BN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.MiddleSchool.Year3.Form.3BS/{{CurrentYear|AcYearPlus:+1}}/">3BS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.MiddleSchool.Year3.Form.3BW/{{CurrentYear|AcYearPlus:+1}}/">3BW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.MiddleSchool.Year4.Form.4BE/{{CurrentYear|AcYearPlus:+1}}/">4BE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.MiddleSchool.Year4.Form.4BN/{{CurrentYear|AcYearPlus:+1}}/">4BN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.MiddleSchool.Year4.Form.4BS/{{CurrentYear|AcYearPlus:+1}}/">4BS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.MiddleSchool.Year4.Form.4BW/{{CurrentYear|AcYearPlus:+1}}/">4BW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.MiddleSchool.Year5.Form.5BE/{{CurrentYear|AcYearPlus:+1}}/">5BE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.MiddleSchool.Year5.Form.5BN/{{CurrentYear|AcYearPlus:+1}}/">5BN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.MiddleSchool.Year5.Form.5BS/{{CurrentYear|AcYearPlus:+1}}/">5BS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.MiddleSchool.Year5.Form.5BW/{{CurrentYear|AcYearPlus:+1}}/">5BW</a></li>
					</ul>
				</li>
				<li><a href='#'>Upper School</a>
					<ul>				
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.UpperSchool.Year6.Form.6BE/{{CurrentYear|AcYearPlus:+1}}/">6BE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.UpperSchool.Year6.Form.6BN/{{CurrentYear|AcYearPlus:+1}}/">6BN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.UpperSchool.Year6.Form.6BS/{{CurrentYear|AcYearPlus:+1}}/">6BS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.UpperSchool.Year6.Form.6BW/{{CurrentYear|AcYearPlus:+1}}/">6BW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.UpperSchool.Year7.Form.7BE/{{CurrentYear|AcYearPlus:+1}}/">7BE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.UpperSchool.Year7.Form.7BN/{{CurrentYear|AcYearPlus:+1}}/">7BN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.UpperSchool.Year7.Form.7BS/{{CurrentYear|AcYearPlus:+1}}/">7BS</a></li>	
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.UpperSchool.Year7.Form.7BW/{{CurrentYear|AcYearPlus:+1}}/">7BW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.UpperSchool.Year8.Form.8BE/{{CurrentYear|AcYearPlus:+1}}/">8BE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.UpperSchool.Year8.Form.8BN/{{CurrentYear|AcYearPlus:+1}}/">8BN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.UpperSchool.Year8.Form.8BS/{{CurrentYear|AcYearPlus:+1}}/">8BS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Battersea.UpperSchool.Year8.Form.8BW/{{CurrentYear|AcYearPlus:+1}}/">8BW</a></li>
					</ul>
				<li>				

		{% endif %}
		{% if 'Clapham' in school %}
				<li><a href='#'>Lower School</a>
					<ul>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.LowerSchool.Reception.Form.RCE/{{CurrentYear|AcYearPlus:+1}}/">RCE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.LowerSchool.Reception.Form.RCN/{{CurrentYear|AcYearPlus:+1}}/">RCN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.LowerSchool.Reception.Form.RCS/{{CurrentYear|AcYearPlus:+1}}/">RCS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.LowerSchool.Reception.Form.RCW/{{CurrentYear|AcYearPlus:+1}}/">RCW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.LowerSchool.Year1.Form.1CE/{{CurrentYear|AcYearPlus:+1}}/">1CE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.LowerSchool.Year1.Form.1CN/{{CurrentYear|AcYearPlus:+1}}/">1CN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.LowerSchool.Year1.Form.1CS/{{CurrentYear|AcYearPlus:+1}}/">1CS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.LowerSchool.Year1.Form.1CW/{{CurrentYear|AcYearPlus:+1}}/">1CW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.LowerSchool.Year2.Form.2CE/{{CurrentYear|AcYearPlus:+1}}/">2CE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.LowerSchool.Year2.Form.2CN/{{CurrentYear|AcYearPlus:+1}}/">2CN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.LowerSchool.Year2.Form.2CS/{{CurrentYear|AcYearPlus:+1}}/">2CS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.LowerSchool.Year2.Form.2CW/{{CurrentYear|AcYearPlus:+1}}/">2CW</a></li>
					</ul>
				</li>
				<li><a href='#'>Middle School</a>
					<ul>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.MiddleSchool.Year3.Form.3CE/{{CurrentYear|AcYearPlus:+1}}/">3CE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.MiddleSchool.Year3.Form.3CN/{{CurrentYear|AcYearPlus:+1}}/">3CN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.MiddleSchool.Year3.Form.3CS/{{CurrentYear|AcYearPlus:+1}}/">3CS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.MiddleSchool.Year3.Form.3CW/{{CurrentYear|AcYearPlus:+1}}/">3CW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.MiddleSchool.Year4.Form.4CE/{{CurrentYear|AcYearPlus:+1}}/">4CE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.MiddleSchool.Year4.Form.4CN/{{CurrentYear|AcYearPlus:+1}}/">4CN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.MiddleSchool.Year4.Form.4CS/{{CurrentYear|AcYearPlus:+1}}/">4CS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.MiddleSchool.Year4.Form.4CW/{{CurrentYear|AcYearPlus:+1}}/">4CW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.MiddleSchool.Year5.Form.5CE/{{CurrentYear|AcYearPlus:+1}}/">5CE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.MiddleSchool.Year5.Form.5CN/{{CurrentYear|AcYearPlus:+1}}/">5CN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.MiddleSchool.Year5.Form.5CS/{{CurrentYear|AcYearPlus:+1}}/">5CS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.MiddleSchool.Year5.Form.5CW/{{CurrentYear|AcYearPlus:+1}}/">5CW</a></li>
					</ul>
				</li>
				<li><a href='#'>Upper School</a>
					<ul>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.UpperSchool.Year6.Form.6CE/{{CurrentYear|AcYearPlus:+1}}/">6CE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.UpperSchool.Year6.Form.6CN/{{CurrentYear|AcYearPlus:+1}}/">6CN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.UpperSchool.Year6.Form.6CS/{{CurrentYear|AcYearPlus:+1}}/">6CS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.UpperSchool.Year6.Form.6CW/{{CurrentYear|AcYearPlus:+1}}/">6CW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.UpperSchool.Year7.Form.7CE/{{CurrentYear|AcYearPlus:+1}}/">7CE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.UpperSchool.Year7.Form.7CN/{{CurrentYear|AcYearPlus:+1}}/">7CN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.UpperSchool.Year7.Form.7CS/{{CurrentYear|AcYearPlus:+1}}/">7CS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.UpperSchool.Year7.Form.7CW/{{CurrentYear|AcYearPlus:+1}}/">7CW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.UpperSchool.Year8.Form.8CE/{{CurrentYear|AcYearPlus:+1}}/">8CE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.UpperSchool.Year8.Form.8CN/{{CurrentYear|AcYearPlus:+1}}/">8CN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.UpperSchool.Year8.Form.8CS/{{CurrentYear|AcYearPlus:+1}}/">8CS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Clapham.UpperSchool.Year8.Form.8CW/{{CurrentYear|AcYearPlus:+1}}/">8CW</a></li>
					</ul>
				</li>

		{% endif %}
		{% if 'Fulham' in school %}
				<li><a href='#'>Lower School</a>
					<ul>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.LowerSchool.Reception.Form.RFE/{{CurrentYear|AcYearPlus:+1}}/">RFE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.LowerSchool.Reception.Form.RFN/{{CurrentYear|AcYearPlus:+1}}/">RFN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.LowerSchool.Reception.Form.RFS/{{CurrentYear|AcYearPlus:+1}}/">RFS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.LowerSchool.Reception.Form.RFW/{{CurrentYear|AcYearPlus:+1}}/">RFW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.LowerSchool.Year1.Form.1FE/{{CurrentYear|AcYearPlus:+1}}/">1FE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.LowerSchool.Year1.Form.1FN/{{CurrentYear|AcYearPlus:+1}}/">1FN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.LowerSchool.Year1.Form.1FS/{{CurrentYear|AcYearPlus:+1}}/">1FS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.LowerSchool.Year1.Form.1FW/{{CurrentYear|AcYearPlus:+1}}/">1FW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.LowerSchool.Year2.Form.2FE/{{CurrentYear|AcYearPlus:+1}}/">2FE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.LowerSchool.Year2.Form.2FN/{{CurrentYear|AcYearPlus:+1}}/">2FN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.LowerSchool.Year2.Form.2FS/{{CurrentYear|AcYearPlus:+1}}/">2FS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.LowerSchool.Year2.Form.2FW/{{CurrentYear|AcYearPlus:+1}}/">2FW</a></li>
					</ul>
				</li>
				<li><a href='#'>Prep School</a>
					<ul>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.PrepSchool.Year3.Form.3FE/{{CurrentYear|AcYearPlus:+1}}/">3FE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.PrepSchool.Year3.Form.3FN/{{CurrentYear|AcYearPlus:+1}}/">3FN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.PrepSchool.Year3.Form.3FS/{{CurrentYear|AcYearPlus:+1}}/">3FS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.PrepSchool.Year3.Form.3FW/{{CurrentYear|AcYearPlus:+1}}/">3FW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.PrepSchool.Year4.Form.4FE/{{CurrentYear|AcYearPlus:+1}}/">4FE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.PrepSchool.Year4.Form.4FN/{{CurrentYear|AcYearPlus:+1}}/">4FN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.PrepSchool.Year4.Form.4FS/{{CurrentYear|AcYearPlus:+1}}/">4FS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.PrepSchool.Year4.Form.4FW/{{CurrentYear|AcYearPlus:+1}}/">4FW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.PrepSchool.Year5.Form.5FE/{{CurrentYear|AcYearPlus:+1}}/">5FE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.PrepSchool.Year5.Form.5FN/{{CurrentYear|AcYearPlus:+1}}/">5FN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.PrepSchool.Year5.Form.5FS/{{CurrentYear|AcYearPlus:+1}}/">5FS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.PrepSchool.Year5.Form.5FW/{{CurrentYear|AcYearPlus:+1}}/">5FW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.PrepSchool.Year6.Form.6FE/{{CurrentYear|AcYearPlus:+1}}/">6FE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.PrepSchool.Year6.Form.6FN/{{CurrentYear|AcYearPlus:+1}}/">6FN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.PrepSchool.Year6.Form.6FS/{{CurrentYear|AcYearPlus:+1}}/">6FS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Fulham.PrepSchool.Year6.Form.6FW/{{CurrentYear|AcYearPlus:+1}}/">6FW</a></li>					
					</ul>
				</li>

		{% endif %}
		{% if 'Kensington' in school %}
				<li><a href='#'>Lower School</a>
					<ul>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.LowerSchool.Reception.Form.RKE/{{CurrentYear|AcYearPlus:+1}}/">RKE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.LowerSchool.Reception.Form.RKN/{{CurrentYear|AcYearPlus:+1}}/">RKN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.LowerSchool.Reception.Form.RKS/{{CurrentYear|AcYearPlus:+1}}/">RKS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.LowerSchool.Reception.Form.RKW/{{CurrentYear|AcYearPlus:+1}}/">RKW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.LowerSchool.Year1.Form.1KE/{{CurrentYear|AcYearPlus:+1}}/">1KE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.LowerSchool.Year1.Form.1KN/{{CurrentYear|AcYearPlus:+1}}/">1KN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.LowerSchool.Year1.Form.1KS/{{CurrentYear|AcYearPlus:+1}}/">1KS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.LowerSchool.Year1.Form.1KW/{{CurrentYear|AcYearPlus:+1}}/">1KW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.LowerSchool.Year2.Form.2KE/{{CurrentYear|AcYearPlus:+1}}/">2KE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.LowerSchool.Year2.Form.2KN/{{CurrentYear|AcYearPlus:+1}}/">2KN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.LowerSchool.Year2.Form.2KS/{{CurrentYear|AcYearPlus:+1}}/">2KS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.LowerSchool.Year2.Form.2KW/{{CurrentYear|AcYearPlus:+1}}/">2KW</a></li>
					</ul>
				</li>
				<li><a href='#'>Prep School</a>
					<ul>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.PrepSchool.Year3.Form.3KE/{{CurrentYear|AcYearPlus:+1}}/">3KE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.PrepSchool.Year3.Form.3KN/{{CurrentYear|AcYearPlus:+1}}/">3KN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.PrepSchool.Year3.Form.3KS/{{CurrentYear|AcYearPlus:+1}}/">3KS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.PrepSchool.Year3.Form.3KW/{{CurrentYear|AcYearPlus:+1}}/">3KW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.PrepSchool.Year4.Form.4KE/{{CurrentYear|AcYearPlus:+1}}/">4KE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.PrepSchool.Year4.Form.4KN/{{CurrentYear|AcYearPlus:+1}}/">4KN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.PrepSchool.Year4.Form.4KS/{{CurrentYear|AcYearPlus:+1}}/">4KS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.PrepSchool.Year4.Form.4KW/{{CurrentYear|AcYearPlus:+1}}/">4KW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.PrepSchool.Year5.Form.5KE/{{CurrentYear|AcYearPlus:+1}}/">5KE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.PrepSchool.Year5.Form.5KN/{{CurrentYear|AcYearPlus:+1}}/">5KN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.PrepSchool.Year5.Form.5KS/{{CurrentYear|AcYearPlus:+1}}/">5KS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.PrepSchool.Year5.Form.5KW/{{CurrentYear|AcYearPlus:+1}}/">5KW</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.PrepSchool.Year6.Form.6KE/{{CurrentYear|AcYearPlus:+1}}/">6KE</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.PrepSchool.Year6.Form.6KN/{{CurrentYear|AcYearPlus:+1}}/">6KN</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.PrepSchool.Year6.Form.6KS/{{CurrentYear|AcYearPlus:+1}}/">6KS</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kensington.PrepSchool.Year6.Form.6KW/{{CurrentYear|AcYearPlus:+1}}/">6KW</a></li>					
					</ul>
				</li>
		{% endif%}

		{% if 'Kindergarten' in school %}
				<li><a href='#'>Pimlico</a>
					<ul>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kindergarten.Pimlico.Lower/{{CurrentYear|AcYearPlus:+1}}/">Lower</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kindergarten.Pimlico.Upper/{{CurrentYear|AcYearPlus:+1}}/">Upper</a></li>

					</ul>
				</li>
				<li><a href='#'>Battersea</a>
					<ul>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kindergarten.Battersea.Lower/{{CurrentYear|AcYearPlus:+1}}/">Lower</a></li>
						<li><a href="/WillowTree/{{ school }}/{{ CurrentYear }}/PotentialGroup/Current.Kindergarten.Battersea.Upper/{{CurrentYear|AcYearPlus:+1}}/">Upper</a></li>						
					</ul>
				</li>
		{% endif%}
	</ul>
</li>	
{% endif %}
