<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
<link href="{% static SchoolDetails.TemplateCSS %}" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
</HEAD>
<BODY LANG="en-GB" DIR="LTR">
{% for eachFamily in Letter.FamilyList %}
{% for PostalDetails in eachFamily.FamilyId.PostalAddress }}
	<div class="SchoolHeader">
		<IMG SRC="{{ MEDIA_REDIRECT }}{{ SchoolDetails.TemplateBanner }}" NAME="SchoolBanner" ALIGN=LEFT WIDTH=238 HEIGHT=78 BORDER=0><br><br><br><br>
		Head Teacher: {{ Letter.SchoolDetails.HeadsTeacher }}</br>
		{{ Letter.SchoolDetails.Address.Address1 }}</br>
		{{ Letter.SchoolDetails.Address.Address2 }}</br>
		{{ Letter.SchoolDetails.Address.Address3 }}</br>
		{{ Letter.SchoolDetails.Address.Address4 }}</br>
		Tel: {{ Letter.SchoolDetails.Address.Phone1 }} / {{ Letter.SchoolDetails.Address.Phone2 }}</br>
		Fax: {{ Letter.SchoolDetails.Address.Phone3 }}</br>
		<br>
		Ref: {{ Letter.LetterDetails.id}}/{{ eachFamily.Name}}
		</div>

<div class='PostalDetails'>
{{ PostalDetails.PostalSalutation }}<br>
{{ PostalDetails.Address1 }}</br>
{{ PostalDetails.Address2 }}</br>
{% if PostalDetails.Address3 %}{{ PostalDetails.Address3}}{% endif %}</br>
{% if PostalDetails.Address4 %}{{ PostalDetails.Address4}}{% endif %}</br>
{{ PostalDetails.PostCode }}</br>
<P><BR></P>
</div>

<div class='LetterBody'>

<P>Dear {{ PostalDetails.HomeSaultation }}</P>	
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
{{ eachFamily.LetterBody }}
</P>
<p>{{ Letter.LetterDetails.SignatureName }}<br></p>
<p>{{ Letter.LetterDetails.SignnatureTitle }}</p>

</div>
{% endfor %}
</BODY>
</HTML>
