<table class='WTTable'>{% for events in TableRecs %}<tr><td {% if events.Clash %}class='WTClash'{% else %}class='WTTimeCell'{%endif%}>{% if events.Clash%}<div class='WTClashLabel'>CLASH</div>{% endif %}{{ events.Times }}<br>{{ events.Subject }}{% if events.Teachers %} <br>{{ events.Groups }}{% endif %}{% if events.Room%} in <br>{{ events.Room }}{% endif%}<br></td></tr>{% if events.SchoolBreak %}<tr><td class='WTBreak'>----BREAK----</td></tr>{% endif %}{% endfor %}</table>
