<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<meta http-equiv="X-UA-Compatible" content="IE=8" />
	<TITLE></TITLE>
<style>
	{% include "css/TimeTable.css" %}
</style>
<link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</HEAD>
<BODY LANG="en-GB" DIR="LTR">
{% for stafftable in StaffTables %}
<table class='TableHeader'>
	<tr>
		<td></td>
		<td> {{stafftable.Record.FullName}}'s Timetable</td>
	</tr>
</table>

<table class='TableWhole'>
	<tr>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
	</tr>
	<tr>
		<td>
			<table class='TableInner'>
				{% for events in stafftable.Monday %} 
				<tr>
					<td {% if events.Clash %}class='Clash'{% endif %}>
						{% if events.Clash%}<div class='ClashLabel'>CLASH</div>{% endif %}
						{{ events.Times }} {{ events.Subject }}
						{{ events.Groups }}
						{% if events.Room%} in <br>{{ events.Room }}{% endif%}<br>

					</td>
				</tr>
				{% if events.SchoolBreak %}
				<tr>
					<td class='Break'>----BREAK----</td>
				</tr>
				{% endif %}
				{% endfor %}
			</table>
		</td>
		<td>
			<table class='TableInner'>
				{% for events in stafftable.Tuesday %}
				<tr>
					<td {% if events.Clash %}class='Clash'{% endif %}>
						{% if events.Clash%}<div class='ClashLabel'>CLASH</div>{% endif %}
						{{ events.Times }} {{ events.Subject }}
						{{ events.Groups }}
						{% if events.Room%} in <br>{{ events.Room }}{% endif%}
					</td>
				</tr>
				{% if events.SchoolBreak %}
				<tr>
					<td class='Break'>----BREAK----</td>
				</tr>
				{% endif %}
				{% endfor %}
			</table>
		</td>
		<td>
			<table class='TableInner'>
				{% for events in stafftable.Wednesday %}
				<tr>
					<td {% if events.Clash %}class='Clash'{% endif %}>
						{% if events.Clash%}<div class='ClashLabel'>CLASH</div>{% endif %}
						{{ events.Times }} {{ events.Subject }}
						{{ events.Groups }}
						{% if events.Room%} in <br>{{ events.Room }}{% endif%}
					</td>
				</tr>
				{% if events.SchoolBreak %}
				<tr>
					<td class='Break'>----BREAK----</td>
				</tr>
				{% endif %}
				{% endfor %}
			</table>
		</td>
		<td>
			<table class='TableInner'>
				{% for events in stafftable.Thursday %}
				<tr>
					<td {% if events.Clash %}class='Clash'{% endif %}>
						{% if events.Clash%}<div class='ClashLabel'>CLASH</div>{% endif %}
						{{ events.Times }} {{ events.Subject }}
						{{ events.Groups }}
						{% if events.Room%} in <br>{{ events.Room }}{% endif%}
					</td>
				</tr>
				{% if events.SchoolBreak %}
				<tr>
					<td class='Break'>----BREAK----</td>
				</tr>
				{% endif %}
				{% endfor %}
			</table>
		</td>
		<td>
			<table class='TableInner'>
				{% for events in stafftable.Friday %}
				<tr>
					<td {% if events.Clash %}class='Clash'{% endif %}>
						{% if events.Clash%}<div class='ClashLabel'>CLASH</div>{% endif %}
						{{ events.Times }} {{ events.Subject }}
						{{ events.Groups }}
						{% if events.Room%} in <br>{{ events.Room }}{% endif%}
					</td>
				</tr>
				{% if events.SchoolBreak %}
				<tr>
					<td class='Break'>----BREAK----</td>
				</tr>
				{% endif %}
				{% endfor %}
			</table>
		</td>
	</tr>
</table>
{% if not forloop.last %}<div class='page-break'> </div>{% endif %}
{% endfor %}
</BODY>
</HTML>
