<html>
	<head>
		<title>test timetable</title>
		<link href="TimeTableGeneral.css" rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class='WholePage'>
		<div class='DayBox Monday'>
			Monday
			<div class='EmbosedLine'></div>
			08:05-9:30 -- English with Mrs Johnson in 5BE
			<div class='EmbosedLine'></div>
			9:30- 10:10 -- Maths with Mr Douglas in Maths 1
			<div class='EmbosedLine'></div>
			10:10-10-25 -- FREE
			<div class='EmbosedLine'></div>
			10:25-11:15 -- Science with Mrs Rose in Science 3
			<div class='EmbosedLine'></div>
			11:15-12:05 -- Science with Mrs Rose in Science 3
			<div class='EmbosedLine'></div>
			12:05-13:00 -- FREE
			<div class='EmbosedLine'></div>
			13:00-13:50 -- Games with Mr Atikins/Mr Gould/Mr Smith
			<div class='EmbosedLine'></div>
			13:50-14:30 -- Games with Mr Atikins/Mr Gould/Mr Smith
			<div class='EmbosedLine'></div>
			14:30-15:20 -- Drama with Miss Green in Drama Hall
			<div class='EmbosedLine'></div>
			</div>
		<div class='DayBox Tuesday'>Tuesday</div>
		<div class='DayBox Wednesday'>Wednesday</div>
		<div class='DayBox Thursday'>Thursday</div>
		<div class='DayBox Firday'>Friday</div>
		</div>
		<div class='page-break'></div>	
		<div class='WholePage'>
		<div class='DayBox Monday'>Monday
			<div class='EmbosedLine'></div>
			{% for items in timetable.Monday %}
			{{ items.times }} -- {{ items.subject.mane }} with {{ items.teachers }} {% if items.room %} in {{items.room.name }} {% endif %}
			{% if items.clash %}
			<br> ** clash ** 
			{% endif %}			
			{% endfor %}
		
		</div>
		<div class='DayBox Tuesday'>Tuesday</div>
		<div class='DayBox Wednesday'>Wednesday</div>
		<div class='DayBox Thursday'>Thursday</div>
		<div class='DayBox Firday'>Friday</div>
		</div>
	</body>
</html>
