<li><a href='#'>Tasks</a>
	<ul>
		<li><a href='/WillowTree/{{school}}/{{AcYear}}/TimeTables/ManageSlots/{{ThisGroup1}}/{{ThisGroup2}}/'>Slots</a></li>
		<li><a href='/WillowTree/{{school}}/{{AcYear}}/TimeTables/ManageBase/{{ThisGroup1}}/{{ThisGroup2}}/'>Base Events</a></li>
		<li><a href='/WillowTree/{{school}}/{{AcYear}}/TimeTables/ManageBase/Unselected/{{ThisGroup1}}/{{ThisGroup2}}/'>Unselected BE</a></li>
		<li><a href='/WillowTree/{{school}}/{{AcYear}}/TimeTables/ManageEvents/Unscheduled/{{ThisGroup1}}/{{ThisGroup2}}/'>Unscheduled CE</a></li>
		<li><a href='/WillowTree/{{school}}/{{AcYear}}/TimeTables/ManageEvents/Scheduled/{{ThisGroup1}}/{{ThisGroup2}}/'>Scheduled CE</a></li>						
		<li><a href='/WillowTree/{{school}}/{{AcYear}}/TimeTables/PupilTimeTables/{{ThisGroup1}}/{{ThisGroup2}}/{{CurrentYear}}/' target='_blank'>Timetables</a></li>
		<li><a href='/WillowTree/{{school}}/{{AcYear}}/TimeTables/ClashCheck/{{ThisGroup1}}/{{ThisGroup2}}/' target='_blank'>Clash Check</a></li>
		<li><a href='/WillowTree/{{school}}/{{AcYear}}/TimeTables/ClashCheck/{{ThisGroup1}}/{{ThisGroup2}}/' target='_blank'>Teacher Hours</a></li>
	</ul>
</li> 
