.page-break  {
    clear: left;
    display:block;
    page-break-after:always;
}

.WholePage {
	position: relative;
	width:21cm;
	height:29cm;
	display:block;
	overflow:auto;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;	
	}
.DayBox {
	position: absolute;
	display: block;
	width: 6.5cm;
	height: 10cm;
	margin: 0.2cm;
	background-color:#FF8C00;
	border: solid 1px black;
	}
.Monday {
	top: 2cm;
	left: 1cm;
	transform:rotate(-3deg);
	-ms-transform:rotate(-3deg); /* IE 9 */
	-webkit-transform:rotate(-3deg);
	z-index: -1;
	}
.Tuesday {
	top: 2.2cm;
	left: 13cm;
	transform:rotate(5deg);
	-ms-transform:rotate(5deg); /* IE 9 */
	-webkit-transform:rotate(5deg);
	z-index: -1;
	}
.Wednesday {
	top: 10cm;
	left: 7cm;
	transform:rotate(2deg);
	-ms-transform:rotate(2deg); /* IE 9 */
	-webkit-transform:rotate(2deg);
	}
.Thursday {
	top: 17.5cm;
	left: 1cm;
	transform:rotate(-5deg);
	-ms-transform:rotate(-5deg); /* IE 9 */
	-webkit-transform:rotate(-5deg);
	z-index: 1;
	}
.Firday {
	top: 18cm;
	left: 13cm;
	transform:rotate(2deg);
	-ms-transform:rotate(2deg); /* IE 9 */
	-webkit-transform:rotate(2deg);
	z-index: 2;
	}
.EmbosedLine {
    width:100%; 
    height:0; 
    color:none; 
    background:none; 
    border:none; 
    border-top:1px solid #666; 
    border-bottom:1px solid #999; 
}
