{% extends 'TTMenuBar.html' %}
{% block base_header_extra %}
<script type="text/javascript">
</script>
<!-- pop out code -->

    <link rel="stylesheet" href="{{STATIC_URL}}/Scripts/jquery.ui.timepicker.css?v=0.3.2" type="text/css" />
<script type="text/javascript" src="{{STATIC_URL}}Scripts/jquery.ui.timepicker.js"></script>
<script>
{% include "popOutJavaScript.js" %}
$(function() {
	$( ".datepicker" ).datepicker({ dateFormat: "dd/mm/yy", changeYear: true });
	$('.timepicker').timepicker( );
	});
</script>
<!-- end -->
{% endblock %}
{% load WillowFilters %}
{% block ContentArea %}

{% include 'Base/TTCreateBase.html' %}	
{% include 'Base/TTAddEvent.html' %}	
		
		<div>		
			<div class="leftMiddle">
				<div class="banner">
					{{BannerTitle}} for groups containing {{Group1}} and {{Group2}} 
					<span style='float:right'>
						<button id='#TTCreateEvent' class='login-window2'>Create New Base Event</button>
					</span>
				</div>	

			<div>
				<p style="color:blue;font-weight:bold;margin-bottom:0;">		
				{% if Messages %}
					{% for msg in Messages %}
						{{ msg }}<br>
					{% endfor %}
				{% endif %}
				</p>
			</div>
		
			<table class="WillowTable1">
				<tr>
					<td class="WillowTableHeaderSmall">Name</td>
					<td class="WillowTableHeaderSmall">Description</td>					
					<td class="WillowTableHeaderSmall">Groups</td>
					<td class="WillowTableHeaderSmall">Subject</td>
					<td class="WillowTableHeaderSmall" width='15%'>Actions</td>
				</tr>
			{% for Record in Events %}
			<tr>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">{{ Record.Name}}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">{{ Record.Description}}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >
				{% for groups in Record.Groups.all %}
				{% if forloop.last %}{{groups.Name}}{%else%}{{groups.Name}}<br>{%endif%}
				{% endfor %}
				</td> 
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ Record.Subject }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >
				<ul class="managermenu">
					<li><a href='#' class="drop">Actions</a>
						<div class="dropdown_1column align_right">
							<div class="col_1">
								<h3>Main</h3>
								<ul>
									{% include 'Base/TTModifyBase.html' %}
									{% include 'Base/TTDeleteBase.html' %}
									{% include 'Base/TTSetAsCEvent.html' %}
									{% include 'Base/TTScheduleBEvent.html' %}
									<li><a  href="#TTModifyEvent{{Record.id}}" class='login-window'>Modify</a></li>
									<li><a  href="#TTDeleteEvent{{Record.id}}" class='login-window'>Delete</a></li>
									<li><a  href="#TTSetAsCEvent{{Record.id}}" class='login-window'>Make Current</a></li>
									<li><a  href="#TTScheduleBEvent{{Record.id}}" class='login-window'>Schedule</a></li>
								</ul>
	
							</div>
						</div>
					</li>
				</ul>

				</td>
			</tr>
				
			{% endfor %}
			</table>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<br><br><br><br><br><br><br><br>
		</div>			
{% endblock %}
