{% extends 'TTMenuBar.html' %}
{% block base_header_extra %}
<script type="text/javascript">
</script>
<!-- pop out code -->

    <link rel="stylesheet" href="{{STATIC_URL}}/Scripts/jquery.ui.timepicker.css?v=0.3.2" type="text/css" />
<script type="text/javascript" src="{{STATIC_URL}}Scripts/jquery.ui.timepicker.js"></script>
<script>
{% include "popOutJavaScript.js" %}
$(function() {
	$( ".datepicker" ).datepicker({ dateFormat: "dd/mm/yy", changeYear: true });
	$('.timepicker').timepicker( );
	});
</script>
<!-- end -->
{% endblock %}
{% load WillowFilters %}
{% block ContentArea %}

{% include 'Base/TTAddEvent.html' %}	
{% include 'Base/TTCopyEventFromLastYear.html' %}
		
		<div>		
			<div class="leftMiddle">
				<div class="banner">
					{{BannerTitle}} for groups containing {{Group1}} and {{Group2}} ({{ViewType}}) 
					<span style='float:right'>
					<ul class="managermenu" style='float:right'>
						<li><a href='#' class="drop">Actions</a>
							<div class="dropdown_2columns align_right">
								<div class="cols_2">
									<a  href="#TTAddEvent" class='login-window'>Add Event</a>
									<a  href="#TTCopyEventFrom LastYear" class='login-window'>Copy From Last Year</a>
								</div>
							</div>
						</li>
					</ul>
					</span>
				</div>	

			<div>
				<p style="color:blue;font-weight:bold;margin-bottom:0;">		
				{% if Messages %}
					{% for msg in Messages %}
						{{ msg }}<br>
					{% endfor %}
				{% endif %}
				</p>
			</div>

<!-- General manager menu ends -->
		
			<table class="WillowTable1">
				<tr>
					<td class="WillowTableHeaderSmall">Name</td>
					<td class="WillowTableHeaderSmall">Groups</td>
					<td class="WillowTableHeaderSmall">Subject</td>
					<td class="WillowTableHeaderSmall">Teachers</td>
					<td class="WillowTableHeaderSmall">Room</td>
					{% if not "Unscheduled" in ViewType %}
					<td class="WillowTableHeaderSmall">TimeSlot</td>
					{% endif %}
					<td class="WillowTableHeaderSmall" width='15%'>Actions</td>
				</tr>
			{% for Record in Events %}
			<tr>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">{{ Record.Event.Name}}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ Record.Groups}}</td> 
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ Record.Event.Subject.Name }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >
				{% for staff in Record.Staff.all %}
				{% if forloop.last %}{{staff.FullName}}{%else%}{{staff.FullName}}<br>{%endif%}
				{% endfor %}
				</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ Record.Room.Name }}</td>
				{% if not "Unscheduled" in ViewType %}
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{Record.tabledevents_set.all.0.TimeSlot.Name}} <br>{{Record.tabledevents_set.all.0.TimeSlot.DayOfWeek|slice:":3"}} {{Record.tabledevents_set.all.0.TimeSlot.StartTime}}</td>
				{% endif %}
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >
				<ul class="managermenu">
					<li><a href='#' class="drop">Actions</a>
						<div class="dropdown_1column align_right">
							<div class="col_1">
								<h3>Main</h3>
								<ul>
									{% include 'Base/TTModifyEvent.html' %}
									{% include 'Base/TTModifyScheduledEvent.html' %}
									{% include 'Base/TTRemoveEvent.html' %}
									{% if ViewType == 'Scheduled' %}									
									<li><a  href="#TTModifyScheduledEvent{{Record.id}}" class='login-window'>Modify</a></li>
									{% else %}
									<li><a  href="#TTModifyEvent{{Record.id}}" class='login-window'>Modify</a></li>
									<li><a  href="#TTDeleteEvent{{Record.id}}" class='login-window'>Remove</a></li>
									{% endif %}
					
									{% if ViewType == 'Scheduled' %}
										{% with file='Base/TTUnscheduleEvent.html' %}
										{% include file%}
									<li><a  href="#TTUnscheduleEvent{{Record.id}}" class='login-window'>Unschedule</a></li>
										{% endwith %}
									{% endif %}
									
									{% if ViewType == 'Unscheduled' %}
										{% with file='Base/TTScheduleEvent.html' %}
										{% include file%}
									<li><a  href="#TTScheduleEvent{{Record.id}}" class='login-window'>Schedule</a></li>
										{% endwith %}
									{% endif %}
																																
								</ul>
	
							</div>
						</div>
					</li>
				</ul>

				</td>
			</tr>
				
			{% endfor %}
			</table>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<br><br><br><br><br><br><br><br>
		</div>			
{% endblock %}
