{% extends 'TTMenuBar.html' %}

{% block ContentArea %}


			<div class="leftMiddle">
				<div class="banner">
				{% if errmsg %}
				<b>{{ errmsg }}</b>
				{% else %}
					<span style="font-weight:bold;color:lightblue;">Welcome To WillowTree's TimeTable management Area</span>
				{% endif %}
				</div>
				<div class='WelcomeBody'>
					<br>
				</div>	
			</div>
{% endblock %}
