{% extends 'TTMenuBar.html' %}
{% block base_header_extra %}
<script type="text/javascript">
</script>
<!-- pop out code -->

    <link rel="stylesheet" href="{{STATIC_URL}}/Scripts/jquery.ui.timepicker.css?v=0.3.2" type="text/css" />
<script type="text/javascript" src="{{STATIC_URL}}Scripts/jquery.ui.timepicker.js"></script>
<script>
{% include "popOutJavaScript.js" %}
$(function() {
	$( ".datepicker" ).datepicker({ dateFormat: "dd/mm/yy", changeYear: true });
	$('.timepicker').timepicker( );
	});
</script>
<!-- end -->
{% endblock %}
{% load WillowFilters %}
{% block ContentArea %}

{% include 'Slots/TTCreateSlot.html' %}	

		
		<div>		
			<div class="leftMiddle">
				<div class="banner">
					Time Slot Manager for groups containing {{Group1}} and {{Group2}} 
					<span style='float:right'>
						<button id='#TTCreateSlot' class='login-window2'>Create New Slot</button>
					</span>
				</div>	

			<div>
				<p style="color:blue;font-weight:bold;margin-bottom:0;">		
				{% if Messages %}
					{% for msg in Messages %}
						{{ msg }}<br>
					{% endfor %}
				{% endif %}
				</p>
			</div>
		
			<table class="WillowTable1">
				<tr>
					<td class="WillowTableHeaderSmall">StartTime</td>
					<td class="WillowTableHeaderSmall">Description</td>					
					<td class="WillowTableHeaderSmall">Base Group</td>
					<td class="WillowTableHeaderSmall">Date Period</td>
					<td class="WillowTableHeaderSmall">Day</td>
					<td class="WillowTableHeaderSmall">Cycle</td>
					<td class="WillowTableHeaderSmall">Duration</td>
					<td class="WillowTableHeaderSmall">Start Week</td>
					<td class="WillowTableHeaderSmall" width='15%'>Actions</td>
				</tr>
			{% for Record in Slots %}
			<tr>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">{{ Record.StartTime}}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}">{{ Record.Description}}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ Record.BaseGroup.Name}}</td> 
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ Record.DatePeriod }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ Record.DayOfWeek}}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ Record.Cycle }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ Record.Duration }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >{{ Record.StartWeek }}</td>
				<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >
				<ul class="managermenu">
					<li><a href='#' class="drop">Actions</a>
						<div class="dropdown_1column align_right">
							<div class="col_1">
								<h3>Main</h3>
								<ul>
									{% include 'Slots/TTModifySlot.html' %}
									{% include 'Slots/TTDeleteSlot.html' %}
									<li><a  href="#TTModifySlot{{Record.id}}" class='login-window'>Modify</a></li>
									<li><a  href="#TTDeleteSlot{{Record.id}}" class='login-window'>Delete</a></li>
								</ul>
	
							</div>
						</div>
					</li>
				</ul>

				</td>
			</tr>
				
			{% endfor %}
			</table>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<br><br><br><br><br><br><br><br>
		</div>			
{% endblock %}
