
<!doctype html>
{% load static from staticfiles %}
<html lang="en">
{% load WillowFilters %}
<head>
    <meta charset="utf-8">
    <title>HTML & CSS Avery Labels (5160) by MM at Boulder Information Services</title>
    <link href="labels.css" rel="stylesheet" type="text/css" >
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <style>
    body {

        margin-top: 14mm;
        margin-left:5mm;
        
        }
    .label{
        /* Avery L7162 -- CSS and HTML by MM at Boulder Information Services */
        min-width: 80mm;
        max-width: 80mm;
        min-height: 32.95mm;
        padding: 1.5mm 4.5mm 1.5mm 4.5mm;
        margin-right: 5mm; /* the gutter */
		font-family: 'Montserrat', sans-serif;
		font-size:15px;

        float: left;

        text-align: left;
        overflow: hidden;

        }
    .page-break  {
        clear: left;
        display:block;
        page-break-after:always;
        }
	@page{
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
    </style>

</head>
<body>
{% for eachFamily in Label.FamilyList %}
{% for PostalDetails in eachFamily.FamilyId.Address.all %}
<div class="label">
{{ eachFamily.PupilDetails.Pupil.FullName }}<br>
{{ PostalDetails.AddressLine1 }}</br>
{{ PostalDetails.AddressLine2 }}</br>
{% if PostalDetails.AddressLine3 %}{{ PostalDetails.AddressLine3}}<br>{% endif %}
{% if PostalDetails.AddressLine4 %}{{ PostalDetails.AddressLine4}}<br>{% endif %}
{{ PostalDetails.PostCode }}</br>
{% if PostalDetails.Country %}{% if PostalDetails.Country != "None" %}{{PostalDetails.Country}}{% endif %}<br>{% endif %}
</div>
{% cycle '' '' '' '' '' '' '' '' '' '' '' '' '' "<div style='page-break-before:always;float:clear;padding-top:14mm;'></div>" %}
{% endfor %}
{% endfor %}


</body>
</html>
