
<!doctype html>
{% load static from staticfiles %}
<html lang="en">
{% load WillowFilters %}
<head>
    <meta charset="utf-8">
    <title>HTML & CSS Avery Labels (5160) by MM at Boulder Information Services</title>
    <link href="labels.css" rel="stylesheet" type="text/css" >
    <style>
    body {

        margin-top: 12mm;
        margin-left:5mm;
        
        }
    .label{
        /* Avery L7162 -- CSS and HTML by MM at Boulder Information Services */
        min-width: 80mm;
        max-width: 80mm;
        min-height: 28.75mm;
        padding: 1.5mm 4.5mm 1.5mm 4.5mm;
        margin-right: 5mm; /* the gutter */
  

        float: left;

        text-align: left;
        overflow: hidden;

        }
    .page-break  {
        clear: left;
        display:block;
        page-break-after:always;
        }
    </style>

</head>
<body>
{% for eachFamily in Label.FamilyList %}
{% for PostalDetails in eachFamily.FamilyId.Address.all %}
<div class="label">
{{ eachFamily.PupilDetails.FullName }}<br>
{{ PostalDetails.AddressLine1 }}</br>
{{ PostalDetails.AddressLine2 }}</br>
{% if PostalDetails.AddressLine3 %}{{ PostalDetails.AddressLine3}}<br>{% endif %}
{% if PostalDetails.AddressLine4 %}{{ PostalDetails.AddressLine4}}<br>{% endif %}
{{ PostalDetails.PostCode }}</br>
</div>
{% cycle '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' "<div style='page-break-before:always;float:clear;padding-top:12mm;'></div>" %}
{% endfor %}
{% endfor %}


</body>
</html>
