
<!doctype html>
{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HTML & CSS Avery Labels (5160) by MM at Boulder Information Services</title>
 		{% if 'cursive' in Font %}
<link href='//fonts.googleapis.com/css?family=Elsie+Swash+Caps|Norican|Rye|Muli' rel='stylesheet' type='text/css'>	
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		{% endif %}   
    <link href="labels.css" rel="stylesheet" type="text/css" >
    <style>

{% load WillowFilters %}		
    body {

        margin-top: 14mm;
        margin-left:5mm;
		
        }
    .label{
        /* Avery L7162 -- CSS and HTML by MM at Boulder Information Services */
        min-width: 80mm;
        max-width:80mm;
        min-height: 32.95mm;
        max-height: 32.95mm;
        padding: 1.5mm 4.5mm 1.5mm 4.5mm;
        margin-right: 5mm; /* the gutter */
  

        float: left;

        text-align: center;
        overflow: hidden;

        }
    .Line1 {
		font-family:{{ Font|safe }};
        font-size:{{Size}};
        color:{{Colour}};
	}

    .Line2 {
		font-family:{{ Font|safe }};
        color:{{Colour}};
	}
	.LabelImage {
		float:left;

	}
	.LabelImage img{
		width:23mm;
		height:30mm;
		padding:2mm;	
	}
    .page-break  {
        clear: left;
        display:block;
        page-break-after:always;
        }
	@page{
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
    </style>

</head>
<body>
{% for eachFamily in Label.FamilyList %}
{% for PostalDetails in eachFamily.FamilyId.Address.all %}
<div class="label">
	<div class='LabelImage'>
		{% if Image == 'Pupil' %}
		<img src="{{ MEDIA_REDIRECT }}{{eachFamily.PupilDetails.Pupil.Picture}}"/>
		{% endif %}
		{% if Image == 'Cake' %}
		<img src="{% static "images/birthday-cake.png"%}"/>
		{% endif %}
		{% if Image == 'Star' %}
		<img src="{% static "images/Star.png"%}" />
		{% endif %}
		{% if Image == 'Unicorn' %}
		<img src="{% static "images/Unicorn.png"%}" />
		{% endif %}
		{% if Image == 'Balloons' %}
		<img src="{% static "images/Balloons.GIF"%}"/>
		{% endif %}				
	</div>
<span class='Line1'>{{ eachFamily.PupilDetails.Pupil.FullName }}</span><br>
<span class='Line2'>{% if Extra == 'Form' %}
<br>Form: {{ eachFamily.PupilDetails.Form }}
{% endif %}
{% if Extra == 'House' %}
<br>House: {{ eachFamily.PupilDetails.AcademicHouse }}
{% endif %}
{% if Extra == 'DateOfBirth' %}
<br>DOB: {{ eachFamily.PupilDetails.Pupil.DateOfBirth|date:"jS F Y" }}
{% endif %}
{% if Adhoc %}
<br>{{Adhoc}}
{% endif %}

</div>
{% cycle '' '' '' '' '' '' '' '' '' '' '' '' '' "<div style='page-break-before:always;float:clear;padding-top:14mm;'></div>" %}
{% endfor %}
{% endfor %}

 
</body> 
</html>
