
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
{% load static from staticfiles %}
<HTML>
<HEAD>
	<meta http-equiv="X-UA-Compatible" content="IE=8" />
	<TITLE></TITLE>
<style>
	{% include "css/LetterGeneral.css" %}
</style>
<link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</HEAD>
<BODY LANG="en-GB" DIR="LTR">
{% for eachFamily in Letter.FamilyList %}
{% for PostalDetails in eachFamily.FamilyId.Address.all %}
<div class="LetterWhole">
	<div class='LetterBody'>

	{{ eachFamily.LetterBody }}<br>

	</div>

	{% if not forloop.last %}
	<div style='page-break-before:always;float:clear;'></div>
	{% else %}
		{% if not forloop.parentloop.last %}
		<div style='page-break-before:always;float:clear;'></div>
		{% endif %}
	{% endif %}
</div>
{% endfor %}
{% endfor %}
</BODY>
</HTML>
