
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
{% load static from staticfiles %}
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
<link href="{% static Letter.SchoolDetails.TemplateCSS %}" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</HEAD>
<BODY LANG="en-GB" DIR="LTR">

{% for eachFamily in Letter.FamilyList %}
{% for PostalDetails in eachFamily.FamilyId.Address.all %}
<div class="LetterWhole">
	<div class="SchoolHeader">
		<IMG SRC="{% static Letter.SchoolDetails.TemplateBanner %}" NAME="SchoolBanner" ALIGN=LEFT WIDTH=238 HEIGHT=78 BORDER=0><br><br><br><br>
		Head Teacher: {{ Letter.SchoolDetails.HeadTeacher }}</br>
		{{ Letter.SchoolDetails.Address.AddressLine1 }}</br>
		{{ Letter.SchoolDetails.Address.AddressLine2 }}</br>
		{% if Letter.SchoolDetails.Address.AddressLine3 %}{{ Letter.SchoolDetails.Address.AddressLine3 }}</br>{% endif %}
		{% if Letter.SchoolDetails.Address.AddressLine4 %}{{ Letter.SchoolDetails.Address.AddressLine4 }}</br>{% endif %}
		{{ Letter.SchoolDetails.Address.PostCode }}</br>		
		Tel: {{ Letter.SchoolDetails.Address.Phone1 }} {% if Letter.SchoolDetails.Address.Phone2 %}/ {{ Letter.SchoolDetails.Address.Phone2 }}{% endif %}</br>
		Fax: {{ Letter.SchoolDetails.Address.Phone3 }}</br>
		Date: {{ Letter.LetterDate|date:"jS F Y" }}<br><br>
		Ref: {{ Letter.LetterDetails.id}}/{{ eachFamily.FamilyId.FamilyName}}
		{{Letter.Var}}
		</div>

<div class='PostalDetails'>
{{ PostalDetails.PostalTitle }}<br>
{{ PostalDetails.AddressLine1 }}</br>
{{ PostalDetails.AddressLine2 }}</br>
{% if PostalDetails.AddressLine3 %}{{ PostalDetails.AddressLine3}}<br>{% endif %}
{% if PostalDetails.AddressLine4 %}{{ PostalDetails.AddressLine4}}<br>{% endif %}
{{ PostalDetails.PostCode }}</br>
<br>
</div>

<div class='LetterBody'>

Dear {{ PostalDetails.HomeSalutation }}<br>
{{ eachFamily.LetterBody }}
</P>
<p>{{ Letter.LetterDetails.SignatureName }}<br><br><br></p>
<p>{{ Letter.LetterDetails.SignatureTitle }}</p>
	{% if not forloop.last %}
	<div style='page-break-before:always;float:clear;'></div>
	{% else %}
		{% if not forloop.parentloop.last %}
		<div style='page-break-before:always;float:clear;'></div>
		{% endif %}
	{% endif %}
</div>
</div>
{% endfor %}
{% endfor %}
</BODY>
</HTML>
