
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
{% load static from staticfiles %}
<HTML>
<HEAD>
	<meta http-equiv="X-UA-Compatible" content="IE=8" />
	<TITLE></TITLE>
<style>
	{% include "css/LetterGeneral.css" %}
</style>
<link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</HEAD>
<BODY LANG="en-GB" DIR="LTR">
{% for eachFamily in Letter.FamilyList %}
{% for PostalDetails in eachFamily.FamilyId.Address.all %}
<div class="LetterWhole">

	<div class='PostalDetailsHeaded' style='margin-top:4.3cm;'>
		{{ eachFamily.PupilDetails.Pupil.FullName }}<br>
        {% include "LetterTemplates/letter_address_include.html" %}
		
	<br>
	</div>
	
	<div class='LetterDate'>
		{{ Letter.LetterDate|date:"jS F Y" }}<br><br>
	</div>

	<div class='LetterBody'>

	Dear {{ eachFamily.PupilDetails.Pupil.Forename }}<br>
	{{ eachFamily.LetterBody }}


	</div>
	

		<br><br><br><br><br>
		{{ Letter.LetterDetails.SignatureName }}<br>
		{{ Letter.LetterDetails.SignatureTitle }}
	<div class='LetterClose'>
		<br>
	</div>
	{% if not forloop.last %}
	<div style='page-break-before:always;float:clear;'></div>
	{% else %}
		{% if not forloop.parentloop.last %}
		<div style='page-break-before:always;float:clear;'></div>
		{% endif %}
	{% endif %}
</div>
{% endfor %}
{% endfor %}
</BODY>
</HTML>
