
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
{% load static from staticfiles %}
<HTML>
<HEAD>
	<meta http-equiv="X-UA-Compatible" content="IE=8" />
	<TITLE></TITLE>
<style>
	{% include "css/LetterGeneral.css" %}
</style>
<link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</HEAD>
<BODY LANG="en-GB" DIR="LTR">
{% for School in Letter.school_list %}
<div class="LetterWhole">

	<div class='PostalDetailsHeaded' style='margin-top:4cm;'>
		{{ Letter.LetterDate|date:"jS F Y" }}<br><br>
		{{ School.School.Address.PostalTitle }}<br>
		{{ School.School.Address.AddressLine1 }}</br>
		{{ School.School.Address.AddressLine2 }}</br>
		{% if School.School.Address.AddressLine3 %}{{ School.School.Address.AddressLine3}}<br>{% endif %}
		{% if School.School.Address.AddressLine4 %}{{ School.School.Address.AddressLine4}}<br>{% endif %}
		{{ School.School.Address.PostCode }}</br>
	</div>
	
	<div class='LetterDate'>
		{{ Letter.LetterDate|date:"jS F Y" }}<br><br>
	</div>

	<div class='LetterBody'>
	Dear {{ School.School.Address.HomeSalutation }}<br>
	{{ School.letter_body }}


	</div>
	{% if not forloop.last %}
	<div style='page-break-before:always;float:clear;'></div>
	{% else %}
		{% if not forloop.parentloop.last %}
		<div style='page-break-before:always;float:clear;'></div>
		{% endif %}
	{% endif %}
</div>
{% endfor %}
</BODY>
</HTML>
