
<!doctype html>
{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HTML & CSS Avery Labels (5160) by MM at Boulder Information Services</title>
 		{% if 'cursive' in Font %}
<link href='//fonts.googleapis.com/css?family=Elsie+Swash+Caps|Norican|Rye|Muli' rel='stylesheet' type='text/css'>	
	
		{% endif %}
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>			 
    <link href="labels.css" rel="stylesheet" type="text/css" >
    <style>

{% load WillowFilters %}		
    body {

        margin-top: 14mm;
        margin-left:5mm;
		
        }
    .label{
        /* Avery L7162 -- CSS and HTML by MM at Boulder Information Services */
        min-width: 80mm;
        max-width:80mm;
        min-height: 32.95mm;
        max-height: 32.95mm;
        padding: 1.5mm 4.5mm 1.5mm 4.5mm;
        margin-right: 5mm; /* the gutter */
  

        float: left;

        text-align: center;
        overflow: hidden;

        }
    .Line1 {
		font-family:{{ Font|safe }};
        font-size:{{Size}};
        color:{{Colour}};
	}

    .Line2 {
		font-family:{{ Font|safe }};
        color:{{Colour}};
	}
	
    .page-break  {
        clear: left;
        display:block;
        page-break-after:always;
        }
	@page{
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
    </style>

</head>
<body>
{% for staff in staff_list %}
<div class="label">
<span class='Line1'>{{ staff.Forename }} {{ staff.Surname }}</span><br>
<span class='Line2'>
{% if Extra == 'DateOfBirth' %}
<br>DOB: {{ staff.DateOfBirth|date:"jS F Y" }}
{% endif %}
{% if Adhoc %}
<br>{{Adhoc}}
{% endif %}
</div>
{% cycle '' '' '' '' '' '' '' '' '' '' '' '' '' "<div style='page-break-before:always;float:clear;padding-top:14mm;'></div>" %}
{% endfor %}
</body> 
</html>
