
<html>
{% load static from staticfiles %}
	<head>	
	</head>
	<body>
		<div>
			<div style='text-align:center;'>
				<img src="{% static "images/thomas-s-Letter-logo.bmp" %}" width="100" height="105" style="padding:12px;"/><br>
			</div>
			<div id='school_address'>
				<div style='text-align:center;'>
					<p>
						Thomas's Kindergarten Pimlico<br />14 Ranelagh Grove, London, SW1W 8PD
					</p>
				</div>
			</div>
			<div id='contact_address'>
				<div class='PostalDetailsHeaded'>
					{{ PostalDetails.PostalTitle }}<br>
					{{ PostalDetails.AddressLine1 }}</br>
					{{ PostalDetails.AddressLine2 }}</br>
					{% if PostalDetails.AddressLine3 %}{{ PostalDetails.AddressLine3}}<br>{% endif %}
					{% if PostalDetails.AddressLine4 %}{{ PostalDetails.AddressLine4}}<br>{% endif %}
					{{ PostalDetails.PostCode }}</br>
					{% if PostalDetails.Country %}{{PostalDetails.Country}}<br>{% endif %}
				</div>
			</div>
			<div id='date'>
				<div class='LetterDate'>
					{{ Letter.LetterDate|date:"jS F Y" }}<br><br>
				</div>
			</div>
			<div>
				<div style='text-align:center;'>
					<h1>Confirmation of Choice</h1>
				</div>
			</div>
			<div id='main_body'>
				<div id='table_1'>
					<table style='width:100%;'>
						<tr>
							<td colspan='2'><h2>Please tick as appropriate:</h2></td>
							<td><h2>Options:</h2></td>
						</tr>
						<tr>
							<td style='width:20%;'>A</td>
							<td>I would like {{ Pupil.Pupil.Forename }} to join Thomas's Kindergarten Pimlico until its closure in July 2015. I agree to Thomas's London Day Schools Terms and Conditions, a copy of which is enclosed.</td>
							<td style='width:20%;border:1px solid'><br /></td>
						</tr>
						<tr>
							<td style='width:20%;'>B</td>
							<td>I no longer wish {{ Pupil.Pupil.Forename }} to join Thomas's Pimlico. Please repay my Registration fee of 38 pounds and Acceptance Deposit of 750 pounds to the following bank account:</td>
							<td style='width:20%;border:1px solid'><br /></td>
						</tr>
						<tr>
							<td>Account Name:</td>
							<td style='border-bottom:1px dotted'></td>
							</td>
						</tr>
						<tr>
							<td>Account Number:</td>
							<td style='border-bottom:1px dotted'></td>
							</td>
						<tr>
						</tr>
							<td>Sort Code:</td>
							<td style='border-bottom:1px dotted'></td>
							</td>
						</tr>
						<tr>	
							<td>Bank:</td>
							<td style='border-bottom:1px dotted'></td>
							</td>
						</tr>				
					</table>
					<table style='margin-top:25px;font-weight:bold;'>
						<tr>
							<td colspan='2'style='width:15%;'>Parent 1</td>
							<td></td>
							<td colspan='2' style='width:15%;'>Parent 2</td>
						</tr>
						<tr>
							<td>Name</td>
							<td style='border-bottom:1px dotted;width:25%;'></td>
							<td style='width:10%;'></td>
							<td>Name</td>
							<td style='border-bottom:1px dotted;width:25%'></td>
						</tr>
						<tr>
							<td>Signature</td>
							<td style='border-bottom:1px dotted'></td>
							<td></td>
							<td>Signature</td>
							<td style='border-bottom:1px dotted'></td>
						</tr>
						<tr>
							<td>Date</td>
							<td style='border-bottom:1px dotted'></td>
							<td></td>
							<td>Date</td>
							<td style='border-bottom:1px dotted'></td>
						</tr>
						<tr>
							<td colspan='5'><br /></td>
						</tr>
						<tr>
							<td colspan='5'>Please return this form, by the 19th of May to:  Mrs Carol Clare, Finance Manager, by email <span style='text-decoration:underline;'>cclare@thomas-s.co.uk</span> or by post to Thomas's London Day Schools, Monmouth Court, Southampton Road, Ringwood, Hants, BH24 1HE</td>
						</tr>			
						<tr>
							<td colspan='5'>For questions or concerns, please contact Mrs Carol Clare on the email address above or telephone 01425 481506. Thank you.</td>
						</tr>	
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
