
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
{% load static from staticfiles %}
<HTML>
<HEAD>
	<meta http-equiv="X-UA-Compatible" content="IE=8" />
	<TITLE></TITLE>
<style>
	{% include "css/LetterGeneral.css" %}
</style>
<link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</HEAD>
<BODY LANG="en-GB" DIR="LTR">
{% for eachFamily in Letter.FamilyList %}
{% for PostalDetails in eachFamily.FamilyId.Address.all %}
		<div class="LetterWhole">
			<div style='text-align:center;'>
				<img src="{% static "images/Thomas-s-Letter-logo.bmp" %}" width="200" height="105" style="padding:12px;"/><br>
			</div>
			<div id='school_address'>
				<div style='text-align:center;'>
					<p>
						Thomas's Kindergarten Pimlico<br />14 Ranelagh Grove, London, SW1W 8PD
					</p>
				</div>
			</div>
			<div id='contact_address'>
				<div class='PostalDetailsHeaded' style='margin-top:10px;'>
					{{ PostalDetails.PostalTitle }}<br>
                    {% include "LetterTemplates/letter_address_include.html" %}
				</div>
			</div>
			<div id='date'>
				<div class='LetterDate'>
					{{ Letter.LetterDate|date:"jS F Y" }}<br><br>
				</div>
			</div>
				{{ eachFamily.LetterBody }}
			</div>
		</div>
{% endfor %}
{% endfor %}
</BODY>
</HTML>
