
			<tr>
{% load static from staticfiles %}
				<td><label for="Attainment">Attainment:</label></td></td> 
				<td><select type="text" name="Attainment" id="F@Attainment{{grades.Pupil.id}}{{subjectname}}">
					{% for options in grades.Current.Attainment.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.Attainment.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 {% if not grades.Current.Attainment.0 %}
					 <option value='None' selected='selected'>None</option>
					 {% else %}
					 <option value='None'>None</option>
					 {% endif %}
					 </select>
				</td>
			</tr>
