
{% load WillowFilters %}
{% load static from staticfiles %}
			<tr>
				<td><label for="Level">Comment:</label></td></td> 
				<td>
					<script>{% includeTinyMCE "Comment" grades.Pupil.id subjectname %}</script>
					<textarea id="F@Comment{{grades.Pupil.id}}{{subjectname}}"  class="Comment{{grades.Pupil.id}}{{subjectname}}" name='Comment' rows="10" cols="65" style="width:auto;"
					value="{{grades.Current.Comment.0}}">{{ grades.Current.Comment.0}}</textarea>
				</td>
			</tr>

			<tr>
				<td><label for="WrittenTarget1">Target:</label></td></td>
				<td>
					<script>{% includeTinyMCE "WrittenTarget1" grades.Pupil.id subjectname %}</script>
					<textarea id="F@WrittenTarget1{{grades.Pupil.id}}{{subjectname}}"  class="WrittenTarget1{{grades.Pupil.id}}{{ subjectname }}" name='WrittenTarget1' rows="10" cols="65" style="width:auto;"
					value="{{grades.Current.WrittenTarget1.0}}">{{ grades.Current.WrittenTarget1.0}}</textarea>
				</td>
			</tr>