
			<tr>
{% load static from staticfiles %}
				<td><label for="Effort">Effort:</label></td></td> 
				<td><select type="text" name="Effort" id="F@Effort{{grades.Pupil.id}}{{subjectname}}">
					{% for options in grades.Current.Effort.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.Effort.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 {% if not grades.Current.Effort.0 %}
					 <option value='None' selected='selected'>None</option>
					 {% else %}
					 <option value='None'>None</option>
					 {% endif %}					 
					 </select>
				</td>
			</tr>
