
			<tr>
{% load static from staticfiles %}
				<td><label for="Exam4Type">Exam4 Type:</label></td></td> 
				<td><select type="text" name="Exam4Type" id="F@Exam4Type{{grades.Pupil.id}}{{subjectname}}">
					<option value=''>Select Type</option>
					{% for options in grades.Current.Exam4Type.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.Exam4Type.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
