
			<tr>
{% load static from staticfiles %}
				<td><label for="Exam2Type">Exam2 Type:</label></td></td> 
				<td><select type="text" name="Exam2Type" id="F@Exam2Type{{grades.Pupil.id}}{{subjectname}}">
					<option value=''>Select Type</option>
					{% for options in grades.Current.Exam2Type.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.Exam2Type.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
