
			<tr>
{% load static from staticfiles %}
				<td><label for="Exam4">Exam4:</label></td></td> 
				<td><input type="text" name="Exam4" id="F@Exam4{{grades.Pupil.id}}{{subjectname}}" value="{{ grades.Current.Exam4.0 }}" style = 'border: 2px solid; width: 250px; height: 25px;'/></td>
			</tr>
