
			<tr>
{% load static from staticfiles %}
				<td><label for="Exam">Exam:</label></td></td> 
				<td><input type="text" name="Exam1" id="F@Exam1{{grades.Pupil.id}}{{subjectname}}" value="{{ grades.Current.Exam1.0 }}" style = 'border: 2px solid; width: 250px; height: 25px;'/></td>
			</tr>
