
			<tr>
{% load static from staticfiles %}
				<td><label for="Exam3Type">Exam3 Type:</label></td></td> 
				<td><select type="text" name="Exam3Type" id="F@Exam3Type{{grades.Pupil.id}}{{subjectname}}">
					<option value=''>Select Type</option>
					{% for options in grades.Current.Exam3Type.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.Exam3Type.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
