
			<tr>
{% load static from staticfiles %}
				<td><label for="Exam3">Exam3:</label></td></td> 
				<td><input type="text" name="Exam3" id="F@Exam3{{grades.Pupil.id}}{{subjectname}}" value="{{ grades.Current.Exam3.0 }}" style = 'border: 2px solid; width: 250px; height: 25px;'/></td>
			</tr>
