
			<tr>
{% load static from staticfiles %}
				<td><label for="Exam2">Exam2:</label></td></td> 
				<td><input type="text" name="Exam2" id="F@Exam2{{grades.Pupil.id}}{{subjectname}}" value="{{ grades.Current.Exam2.0 }}" style = 'border: 2px solid; width: 250px; height: 25px;'/></td>
			</tr>
