
			<tr>
{% load static from staticfiles %}
				<td><label for="M_Numbers">M:Numbers :</label></td></td> 
				<td><select type="text" name="M_Numbers" id="F@M_Numbers{{grades.Pupil.id}}{{subjectname}}">
					{% for options in grades.Current.M_Numbers.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.M_Numbers.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="M_SSM">M:SSM :</label></td></td> 
				<td><select type="text" name="M_SSM" id="F@M_SSM{{grades.Pupil.id}}{{subjectname}}">
					{% for options in grades.Current.M_SSM.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.M_SSM.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
