
			<tr>
{% load static from staticfiles %}
				<td><label for="EAD_EUMM">EAD:EUMM :</label></td></td> 
				<td><select type="text" name="EAD_EUMM" id="F@EAD_EUMH{{grades.Pupil.id}}{{subjectname}}">
					{% for options in grades.Current.EAD_EUMM.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.EAD_EUMM.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="EAD_BI">EAD:BI :</label></td></td> 
				<td><select type="text" name="EAD_BI" id="F@EAD_BI{{grades.Pupil.id}}{{subjectname}}">
					{% for options in grades.Current.EAD_BI.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.EAD_BI.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
