
			<tr>
{% load static from staticfiles %}
				<td><label for="UW_PC">UW:PC :</label></td></td> 
				<td><select type="text" name="UW_PC" id="F@UW_PC{{grades.Pupil.id}}{{subjectname}}">
					{% for options in grades.Current.UW_PC.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.UW_PC.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="UW_TW">UW:TW :</label></td></td> 
				<td><select type="text" name="UW_TW" id="F@UW_TW{{grades.Pupil.id}}{{subjectname}}">
					{% for options in grades.Current.UW_TW.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.UW_TW.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="UW_Tech">UW:Tech :</label></td></td> 
				<td><select type="text" name="UW_Tech" id="F@UW_Tech{{grades.Pupil.id}}{{subjectname}}">
					{% for options in grades.Current.UW_Tech.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.UW_Tech.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
