
			<tr>
{% load static from staticfiles %}
				<td><label for="CL_LA">CL:LA:</label></td></td> 
				<td><select type="text" name="CL_LA" id="F@CL_LA{{grades.Pupil.id}}{{subjectname}}">
					{% for options in grades.Current.CL_LA.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.CL_LA.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="CL_U">CL:U :</label></td></td> 
				<td><select type="text" name="CL_U" id="F@CL_U{{grades.Pupil.id}}{{subjectname}}">
					{% for options in grades.Current.CL_U.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.CL_U.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="CL_S">Cl:S :</label></td></td> 
				<td><select type="text" name="CL_S" id="F@CL_S{{grades.Pupil.id}}{{subjectname}}">
					{% for options in grades.Current.CL_S.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.CL_S.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
