
			<tr>
{% load static from staticfiles %}
				<td><label for="PD_HSC">PD:HSC :</label></td></td> 
				<td><select type="text" name="PD_HSC" id="F@PD_HSC{{grades.Pupil.id}}{{subjectname}}">
					{% for options in grades.Current.PD_HSC.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.PD_HSC.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="PD_MH">PD:MH :</label></td></td> 
				<td><select type="text" name="PD_MH" id="F@PD_MH{{grades.Pupil.id}}{{subjectname}}">
					{% for options in grades.Current.PD_MH.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.PD_MH.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
