
			<tr>
{% load static from staticfiles %}
				<td><label for="PSED_MR">PSED:MR :</label></td></td> 
				<td><select type="text" name="PSED_MR" id="F@PSED_MR{{grades.Pupil.id}}{{subjectname}}">
					{% for options in grades.Current.PSED_MR.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.PSED_MR.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="PSED_ScSa">PSED:ScSa :</label></td></td> 
				<td><select type="text" name="PSED_ScSa" id="F@PSED_ScSa{{grades.Pupil.id}}{{subjectname}}">
					{% for options in grades.Current.PSED_ScSa.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.PSED_ScSa.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="PSED_MfB">PSED:MfB :</label></td></td> 
				<td><select type="text" name="PSED_MfB" id="F@PSED_MfB{{grades.Pupil.id}}{{subjectname}}">
					{% for options in grades.Current.PSED_MfB.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.PSED_MfB.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
