
			<tr>
{% load static from staticfiles %}
				<td><label for="L_Reading">L:Reading:</label></td></td> 
				<td><select type="text" name="L_Reading" id="F@L_Reading{{grades.Pupil.id}}{{subjectname}}">
					{% for options in grades.Current.L_Reading.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.L_Reading.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
			<tr>
				<td><label for="L_Writing">L:Writing :</label></td></td> 
				<td><select type="text" name="L_Writing" id="F@L_Writing{{grades.Pupil.id}}{{subjectname}}">
					{% for options in grades.Current.L_Writing.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.L_Writing.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 </select>
				</td>
			</tr>
