
			<tr>
{% load static from staticfiles %}
				<td><label for="Instrument">TeacherName:</label></td></td>
				<td><input type="text" name="TeacherName" id="F@TeacherName{{grades.Pupil.id}}{{subjectname}}" value="{{ grades.Current.TeacherName.0 }}" style = 'border: 2px solid; width: 250px; height: 25px;'/></td>
			</tr>
