
			<tr>
{% load static from staticfiles %}
				<td><label for="Level">Level:</label></td></td> 
				<td><select type="text" name="Level" id="F@Level{{grades.Pupil.id}}{{subjectname}}">
					{% for options in grades.Current.Level.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.Level.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 {% if not grades.Current.Level.0 %}
					 <option value='None' selected='selected'>None</option>
					 {% else %}
					 <option value='None'>None</option>
					 {% endif %}
					 </select>
				</td>
			</tr>
