
			<tr>
{% load static from staticfiles %}
				<td><label for="Quartile">Quartile(CLa Only):</label></td></td> 
				<td><select type="text" name="Quartile" id="F@Quartile{{grades.Pupil.id}}{{subjectname}}">
					{% for options in grades.Current.Quartile.2 %}
					 <option value="{{ options.0 }}" {% if options.0 == grades.Current.Quartile.0 %}selected='selected'{% endif %}>{{ options.0}}</option>
					 {% endfor %}
					 {% if not grades.Current.Quartile.0 %}
					 <option value='None' selected='selected'>None</option>
					 {% else %}
					 <option value='None'>None</option>
					 {% endif %}					 
					 </select>
				</td>
			</tr>
			<tr><td colspan=2><br/></td></tr>
