
			<tr>
{% load static from staticfiles %}
				<td><label for="Instrument">Instrument:</label></td></td> 
				<td><input type="text" name="Instrument" id="F@Instrument{{grades.Pupil.id}}{{subjectname}}" value="{{ grades.Current.Instrument.0 }}" style = 'border: 2px solid; width: 250px; height: 25px;'/></td>
			</tr>
