				<div id="TTCreateSlot" class="login-popup">
					<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/TimeTables/CreateSlot/{{Group1}}/{{Group2}}/" method="post">
						{% csrf_token %}
					<table>
						<tr>
							<td><label for="GroupName">Assigned Group: *</label></td>
							<td>
								<select required name='GroupName'>
									{% for Groups in GroupList %}
									<option value='{{Groups.id}}' {% if forloop.last %} selected='selected' {% endif %}>{{Groups.Name}}</option>
									{% endfor %}
								</select>
							</td>
						</tr>						
						<tr>
							<td><label for="SlotName">Slot Name: *</label></td>
							<td><input required type="text" name="Name" id="SlotName" style = 'border: 2px solid; width: 250px; '></td>
						</tr>
						<tr>
							<td><label for="Description">Description: *</label></td> 
							<td><input  required type="text" name="Description" id="SlotDesc" style = 'border: 2px solid; width: 250px; '/></td>
						</tr>
						<tr>
							<td><label for="DatePeriod">Date Period: *</label></td>
							<td><select required name='DatePeriod' id='SlotDatePeriod'>
								<option value='Michaelmas Term'>Michaelmas Term</option>
								<option value='Michaelmas 1st Half'>Michaelmas 1st Half</option>
								<option value='Michaalmas 2nd Half'>Michaelmas 2nd Half</option>
								<option value='Lent Term'>Lent Term</option>
								<option value='Lent 1st Half'>Lent 1st Half</option>
								<option value='Lent 2nd Half'>Lent 2nd Half</option>
								<option value='Summer Term'>Summer Term</option>
								<option value='Summer 1st Half'>Summer 1st Half</option>
								<option value='Summer 2nd Half'>Summer 2nd Half</option>
								<option value='All AcYear' selected='selected'>All AcYear</option>)
							</select>
							
							</td>
					</tr>
					<tr>
						<td><label for="DayOfFWeek">Day of the Week: *</label></td> 
						<td>
							<select requried name='DayOfWeek'>
								<option value='Monday'>Monday</option>
								<option value='Tuesday'>Tuesday</option>
								<option value='Wednesday'>Wednesday</option>
								<option value='Thursday'>Thursday</option>
								<option value='Friday'>Friday</option>
							</select>
						</td>
					</tr>
					<tr>
						<td><label for="Cycle">Cycle: *</label></td> 
						<td>
							<select requried name='Cycle'>
								<option value='Weekly' selected='selected'>Weekly</option>
								<option value='Fortnightly'>Fortnightly</option>
								<option value='Monthly'>Monthly</option>
							</select>
						</td>
					</tr>
					<tr>
						<td><label for="StartTime">Start Time:</label></td> 
						<td style="padding-top:10px;"><input class='timepicker' style="float:left;width:100%;" type='text' name="StartTime"></td>
					</tr>
					<tr>
						<td><label for="Duration">Duration:</label></td> 
						<td><input type="number" name="Duration" min="15" max="300" step="5"></td>
					</tr>
					
				</table>
						<div style="text-align:center;">
							
							<button type="button" class='close2'>Cancel</button>
							<button id="TTCreateSlotS" onclick="hideSubmit('TTCreateSlotS');" type="submit" value="Submit">Submit</button>
							<span id="TTCreateSlotPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
						</div>
					</form>
				</div>
