				<div id="TTDeleteSlot{{Record.id}}" class="login-popup">
					<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/TimeTables/DeleteSlot/{{Record.id}}/{{Group1}}/{{Group2}}/" method="post">
						{% csrf_token %}
						<h1> Are you sure you wish to Delete Slot {{ Record.id }} ?</h1>
						<br>
						<div style="text-align:center;">
							
							<button type="button" class='close2'>Cancel</button>
							<button  type="submit" value="Submit">Delete</button>
						</div>
					</form>
				</div>
