				<div id="TTModifySlot{{Record.id}}" class="login-popup">
					<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/TimeTables/ModifySlot/{{Record.id}}/{{Group1}}/{{Group2}}/" method="post">
						{% csrf_token %}
					<table>
						<tr>
							<td><label for="GroupName">Assigned Group: *</label></td>
							<td>
								<select required name='GroupName'>
									{% for Groups in GroupList %}
									<option value='{{Groups.id}}' {% if Record.BaseGroup.id == Groups.id %} selected='selected' {% endif %}>{{Groups.Name}}</option>
									{% endfor %}
								</select>
							</td>
						</tr>						
						<tr>
							<td><label for="SlotName">Slot Name: *</label></td>
							<td><input required type="text" name="Name" style = 'border: 2px solid; width: 250px;' value='{{Record.Name}}'></td>
						</tr>
						<tr>
							<td><label for="Description">Description: *</label></td> 
							<td><input  required type="text" name="Description" style = 'border: 2px solid; width: 250px;' value='{{Record.Description}}'/></td>
						</tr>
						<tr>
							<td><label for="DatePeriod">Date Period: *</label></td>
							<td><select required name='DatePeriod'>
								<option value='Michaelmas Term'
								 {% if Record.DatePeriod == 'Michaelmas Term' %} selected='selected' {% endif %}>Michaelmas Term</option>
								<option value='Michaelmas 1st Half'
								{% if Record.DatePeriod == 'Michaelmas 1st Half' %} selected='selected' {% endif %}>Michaelmas 1st Half</option>
								<option value='Michaalmas 2nd Half'
								{% if Record.DatePeriod == 'Michaelmas 2nd Half' %} selected='selected' {% endif %}>Michaelmas 2nd Half</option>
								<option value='Lent Term'
								{% if Record.DatePeriod == 'Lent Term' %} selected='selected' {% endif %}>Lent Term</option>
								<option value='Lent 1st Half'
								{% if Record.DatePeriod == 'Lent 1st Half' %} selected='selected' {% endif %}>Lent 1st Half</option>
								<option value='Lent 2nd Half'
								{% if Record.DatePeriod == 'Lent 2nd Half' %} selected='selected' {% endif %}>Lent 2nd Half</option>
								<option value='Summer Term'
								{% if Record.DatePeriod == 'Summer Term' %} selected='selected' {% endif %}>Summer Term</option>
								<option value='Summer 1st Half'
								{% if Record.DatePeriod == 'Summer 1st Half' %} selected='selected' {% endif %}>Summer 1st Half</option>
								<option value='Summer 2nd Half'
								{% if Record.DatePeriod == 'Summer 2nd Half' %} selected='selected' {% endif %}>Summer 2nd Half</option>
								<option value='All AcYear'
								{% if Record.DatePeriod == 'All AcYear' %} selected='selected' {% endif %}>All AcYear</option>)
							</select>
							
							</td>
					</tr>
					<tr>
						<td><label for="DayOfFWeek">Day of the Week: *</label></td> 
						<td>
							<select requried name='DayOfWeek'>
								<option value='Monday'
								{% if Record.DayOfWeek == 'Monday' %} selected='selected' {% endif %}>Monday</option>
								<option value='Tuesday'
								{% if Record.DayOfWeek == 'Tuesday' %} selected='selected' {% endif %}>Tuesday</option>
								<option value='Wednesday'
								{% if Record.DayOfWeek == 'Wednesday' %} selected='selected' {% endif %}>Wednesday</option>
								<option value='Thursday'
								{% if Record.DayOfWeek == 'Thursday' %} selected='selected' {% endif %}>Thursday</option>
								<option value='Friday'
								{% if Record.DayOfWeek == 'Friday' %} selected='selected' {% endif %}>Friday</option>
							</select>
						</td>
					</tr>
					<tr>
						<td><label for="Cycle">Cycle: *</label></td> 
						<td>
							<select requried name='Cycle'>
								<option value='Weekly'
								{% if Record.Cycle == 'Weekly' %} selected='selected' {% endif %}>Weekly</option>
								<option value='Fortnightly'
								{% if Record.Cycle == 'Fortnightly' %} selected='selected' {% endif %}>Fortnightly</option>
								<option value='Monthly'
								{% if Record.Cycle == 'Monthly' %} selected='selected' {% endif %}>Monthly</option>
							</select>
						</td>
					</tr>
					<tr>
						<td><label for="StartTime">Start Time:</label></td> 
						<td style="padding-top:10px;"><input class='timepicker' style="float:left;width:100%;" type='text' name="StartTime" value='{{Record.StartTime|time:"H:i"}}'></td>
					</tr>
					<tr>
						<td><label for="Duration">Duration:</label></td> 
						<td><input type="number" name="Duration" min="15" max="300" step="5" value="{{ Record.Duration }}"></td>
					</tr>
					
				</table>
						<div style="text-align:center;">
							
							<button type="button" class='close2'>Cancel</button>
							<button id="TTCreateSlotS" onclick="hideSubmit('TTCreateSlotS');" type="submit" value="Submit">Submit</button>
							<span id="TTCreateSlotPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
						</div>
					</form>
				</div>
