<li><a href="#">Year 6</a>
				<ul>
					{% with ThisGroup1='Year6' ThisGroup2='None' %}
					 {% include 'TimeTableMenuTasks.html' %}
					{% endwith %}
					<li><a href="#">6BE</a>
					<ul>
						{% with ThisGroup1='6BE' ThisGroup2='Year6' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
					</ul>
					</li>
					<li><a href="#">6BN</a>
						<ul>
						{% with ThisGroup1='6BN' ThisGroup2='Year6' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">6BS</a>
						<ul>
						{% with ThisGroup1='6BS' ThisGroup2='Year6' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">6BW</a>
						<ul>
						{% with ThisGroup1='6BW' ThisGroup2='Year6' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Set A</a>
						<ul>
						{% with ThisGroup1='SetA' ThisGroup2='Year6' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Set B</a>
						<ul>
						{% with ThisGroup1='SetB' ThisGroup2='Year6' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Set C</a>
						<ul>
						{% with ThisGroup1='SetC' ThisGroup2='Year6' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Set D</a>
						<ul>
						{% with ThisGroup1='SetD' ThisGroup2='Year6' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Set E</a>
						<ul>
						{% with ThisGroup1='SetE' ThisGroup2='Year6' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>	
					<li><a href="#">Set S</a>
						<ul>
						{% with ThisGroup1='SetS' ThisGroup2='Year6' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Girls Games</a>
						<ul>
						{% with ThisGroup1='Girls' ThisGroup2='Year6.Games' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Boys Games</a>
						<ul>
						{% with ThisGroup1='Boys' ThisGroup2='Year6.Games' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>																																											
				</ul>
			</li>
