			<li><a href="#">Year 1</a>
				<ul>
					{% with ThisGroup1='Year1' ThisGroup2='None' %}
					 {% include 'TimeTableMenuTasks.html' %}
					{% endwith %}
					<li><a href="#">1BE</a>
						<ul>
						{% with ThisGroup1='1BE' ThisGroup2='Year1' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">1BN</a>
						<ul>
						{% with ThisGroup1='1BN' ThisGroup2='Year1' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">1BS</a>
						<ul>
						{% with ThisGroup1='1BS' ThisGroup2='Year1' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">1BW</a>
						<ul>
						{% with ThisGroup1='1BW' ThisGroup2='Year1' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
				</ul>
			</li>
