			<li><a href="#">Reception</a>
				<ul>
					{% with ThisGroup1='Reception' ThisGroup2='None' %}
					 {% include 'TimeTableMenuTasks.html' %}
					{% endwith %}
					<li><a href="#">RBE</a>
						<ul>
						{% with ThisGroup1='RBE' ThisGroup2='Reception' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">RBN</a>
						<ul>
						{% with ThisGroup1='RBN' ThisGroup2='Reception' %}
							{% include 'TimeTableMenuTasks.html' %}  
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">RBS</a>
						<ul>
						{% with ThisGroup1='RBS' ThisGroup2='Reception' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">RBW</a>
						<ul>
						{% with ThisGroup1='RBW' ThisGroup2='Reception' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
				</ul>	
			</li>
