<li><a href="#">Year 4</a>
				<ul>
					{% with ThisGroup1='Year4' ThisGroup2='None' %}
					 {% include 'TimeTableMenuTasks.html' %}
					{% endwith %}
					<li><a href="#">4BE</a>
					<ul>
						{% with ThisGroup1='4BE' ThisGroup2='Year4' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
					</ul>
					</li>
					<li><a href="#">4BN</a>
						<ul>
						{% with ThisGroup1='4BN' ThisGroup2='Year4' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">4BS</a>
						<ul>
						{% with ThisGroup1='4BS' ThisGroup2='Year4' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">4BW</a>
						<ul>
						{% with ThisGroup1='4BW' ThisGroup2='Year4' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Set A</a>
						<ul>
						{% with ThisGroup1='SetA' ThisGroup2='Year4' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Set B</a>
						<ul>
						{% with ThisGroup1='SetB' ThisGroup2='Year4' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Set C</a>
						<ul>
						{% with ThisGroup1='SetC' ThisGroup2='Year4' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Set D</a>
						<ul>
						{% with ThisGroup1='SetD' ThisGroup2='Year4' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Set E</a>
						<ul>
						{% with ThisGroup1='SetE' ThisGroup2='Year4' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Girls Games</a>
						<ul>
						{% with ThisGroup1='Girls' ThisGroup2='Year4.Games' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Boys Games</a>
						<ul>
						{% with ThisGroup1='Boys' ThisGroup2='Year4.Games' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>																			
				</ul>
			</li>
