<li><a href="#">Year 2</a>
				<ul>
					{% with ThisGroup1='Year2' ThisGroup2='None' %}
					 {% include 'TimeTableMenuTasks.html' %}
					{% endwith %}
					<li><a href="#">2BE</a>
					<ul>
						{% with ThisGroup1='2BE' ThisGroup2='Year2' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
					</ul>
					</li>
					<li><a href="#">2BN</a>
						<ul>
						{% with ThisGroup1='2BN' ThisGroup2='Year2' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">2BS</a>
						<ul>
						{% with ThisGroup1='2BS' ThisGroup2='Year2' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">2BW</a>
						<ul>
						{% with ThisGroup1='2BW' ThisGroup2='Year2' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
				</ul>
			</li>
