			<li><a href="#">Reception</a>
				<ul>
					{% with ThisGroup1='Reception' ThisGroup2='None' %}
					 {% include 'TimeTableMenuTasks.html' %}
					{% endwith %}
					<li><a href="#">RCE</a>
						<ul>
						{% with ThisGroup1='RCE' ThisGroup2='Reception' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">RCN</a>
						<ul>
						{% with ThisGroup1='RCN' ThisGroup2='Reception' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">RCS</a>
						<ul>
						{% with ThisGroup1='RCS' ThisGroup2='Reception' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">RCW</a>
						<ul>
						{% with ThisGroup1='RCW' ThisGroup2='Reception' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
				</ul>	
			</li>
