<li><a href="#">Year 7</a>
				<ul>
					{% with ThisGroup1='Year7' ThisGroup2='None' %}
					 {% include 'TimeTableMenuTasks.html' %}
					{% endwith %}
					<li><a href="#">7CE</a>
					<ul>
						{% with ThisGroup1='7CE' ThisGroup2='Year7' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
					</ul>
					</li>
					<li><a href="#">7CN</a>
						<ul>
						{% with ThisGroup1='7CN' ThisGroup2='Year7' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">7CS</a>
						<ul>
						{% with ThisGroup1='7CS' ThisGroup2='Year7' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">7CW</a>
						<ul>
						{% with ThisGroup1='7CW' ThisGroup2='Year7' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Set A</a>
						<ul>
						{% with ThisGroup1='SetA' ThisGroup2='Year7' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Set B</a>
						<ul>
						{% with ThisGroup1='SetB' ThisGroup2='Year7' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Set C</a>
						<ul>
						{% with ThisGroup1='SetC' ThisGroup2='Year7' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Set D</a>
						<ul>
						{% with ThisGroup1='SetD' ThisGroup2='Year7' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Set E</a>
						<ul>
						{% with ThisGroup1='SetE' ThisGroup2='Year7' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>	
					<li><a href="#">Set S</a>
						<ul>
						{% with ThisGroup1='SetS' ThisGroup2='Year7' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>																																												
				</ul>
			</li>
