<li><a href="#">Year 6</a>
				<ul>
					{% with ThisGroup1='Year6' ThisGroup2='None' %}
					 {% include 'TimeTableMenuTasks.html' %}
					{% endwith %}
					<li><a href="#">6CE</a>
						<ul>
						{% with ThisGroup1='6CE' ThisGroup2='Year6' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">6CN</a>
						<ul>
						{% with ThisGroup1='6CN' ThisGroup2='Year6'  %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">6CS</a>
						<ul>
						{% with ThisGroup1='6CS' ThisGroup2='Year6'  %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">6CW</a>
						<ul>
						{% with ThisGroup1='6CW' ThisGroup2='Year6'  %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">11 Plus</a>
						<ul>
						{% with ThisGroup1='11Plus' ThisGroup2='None' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}					
							<li><a href="#">Set A</a>
								<ul>
								{% with ThisGroup1='SetA' ThisGroup2='11Plus'  %}
									{% include 'TimeTableMenuTasks.html' %}
								{% endwith %}
								</ul>
							</li>
							<li><a href="#">Set B</a>
								<ul>
								{% with ThisGroup1='SetB' ThisGroup2='11Plus'  %}
									{% include 'TimeTableMenuTasks.html' %}
								{% endwith %}
								</ul>
							</li>
							<li><a href="#">Set C</a>
								<ul>
								{% with ThisGroup1='SetC' ThisGroup2='11Plus'  %}
									{% include 'TimeTableMenuTasks.html' %}
								{% endwith %}
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="#">13 Plus</a>
						<ul>
						{% with ThisGroup1='13Plus' ThisGroup2='None' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}					
							<li><a href="#">Set A</a>
								<ul>
								{% with ThisGroup1='SetA' ThisGroup2='13Plus'  %}
									{% include 'TimeTableMenuTasks.html' %}
								{% endwith %}
								</ul>
							</li>
							<li><a href="#">Set B</a>
								<ul>
								{% with ThisGroup1='SetB' ThisGroup2='13Plus'  %}
									{% include 'TimeTableMenuTasks.html' %}
								{% endwith %}
								</ul>
							</li>
							<li><a href="#">Set C</a>
								<ul>
								{% with ThisGroup1='SetC' ThisGroup2='13Plus'  %}
									{% include 'TimeTableMenuTasks.html' %}
								{% endwith %}
								</ul>
							</li>
						</ul>
					</li>
					
					
					
					
	</ul>
</li>
