			<li><a href="#">Year 1</a>
				<ul>
					{% with ThisGroup1='Year1' ThisGroup2='None' %}
					 {% include 'TimeTableMenuTasks.html' %}
					{% endwith %}
					<li><a href="#">1CE</a>
						<ul>
						{% with ThisGroup1='1CE' ThisGroup2='Year1' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">1CN</a>
						<ul>
						{% with ThisGroup1='1CN' ThisGroup2='Year1' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">1CS</a>
						<ul>
						{% with ThisGroup1='1CS' ThisGroup2='Year1' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">1CW</a>
						<ul>
						{% with ThisGroup1='1CW' ThisGroup2='Year1' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
				</ul>
			</li>
