<li><a href="#">Year 2</a>
				<ul>
					{% with ThisGroup1='Year2' ThisGroup2='None' %}
					 {% include 'TimeTableMenuTasks.html' %}
					{% endwith %}
					<li><a href="#">2CE</a>
					<ul>
						{% with ThisGroup1='2CE' ThisGroup2='Year2' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
					</ul>
					</li>
					<li><a href="#">2CN</a>
						<ul>
						{% with ThisGroup1='2CN' ThisGroup2='Year2' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">2CS</a>
						<ul>
						{% with ThisGroup1='2CS' ThisGroup2='Year2' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">2CW</a>
						<ul>
						{% with ThisGroup1='2CW' ThisGroup2='Year2' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
				</ul>
			</li>
