			<li><a href="#">Reception</a>
				<ul>
					{% with ThisGroup1='Reception' ThisGroup2='None' %}
					 {% include 'TimeTableMenuTasks.html' %}
					{% endwith %}
					<li><a href="#">RFE</a>
						<ul>
						{% with ThisGroup1='RFE' ThisGroup2='Reception' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">RFN</a>
						<ul>
						{% with ThisGroup1='RFN' ThisGroup2='Reception' %}
							{% include 'TimeTableMenuTasks.html' %}  
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">RFS</a>
						<ul>
						{% with ThisGroup1='RFS' ThisGroup2='Reception' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">RFW</a>
						<ul>
						{% with ThisGroup1='RFW' ThisGroup2='Reception' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
				</ul>	
			</li>
