			<li><a href="#">Year 1</a>
				<ul>
					{% with ThisGroup1='Year1' ThisGroup2='None' %}
					 {% include 'TimeTableMenuTasks.html' %}
					{% endwith %}
					<li><a href="#">1FE</a>
						<ul>
						{% with ThisGroup1='1FE' ThisGroup2='Year1' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">1FN</a>
						<ul>
						{% with ThisGroup1='1FN' ThisGroup2='Year1' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">1FS</a>
						<ul>
						{% with ThisGroup1='1FS' ThisGroup2='Year1' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">1FW</a>
						<ul>
						{% with ThisGroup1='1FW' ThisGroup2='Year1' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
				</ul>
			</li>
