<li><a href="#">Year 4</a>
				<ul>
					{% with ThisGroup1='Year4' ThisGroup2='None' %}
					 {% include 'TimeTableMenuTasks.html' %}
					{% endwith %}
					<li><a href="#">4FE</a>
					<ul>
						{% with ThisGroup1='4FE' ThisGroup2='Year4' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
					</ul>
					</li>
					<li><a href="#">4FN</a>
						<ul>
						{% with ThisGroup1='4FN' ThisGroup2='Year4' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">4FS</a>
						<ul>
						{% with ThisGroup1='4FS' ThisGroup2='Year4' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">4FW</a>
						<ul>
						{% with ThisGroup1='4FW' ThisGroup2='Year4' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Set A</a>
						<ul>
						{% with ThisGroup1='SetA' ThisGroup2='Year4' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Set B</a>
						<ul>
						{% with ThisGroup1='SetB' ThisGroup2='Year4' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Set C</a>
						<ul>
						{% with ThisGroup1='SetC' ThisGroup2='Year4' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Set D</a>
						<ul>
						{% with ThisGroup1='SetD' ThisGroup2='Year4' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Set E</a>
						<ul>
						{% with ThisGroup1='SetE' ThisGroup2='Year4' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Girls Games</a>
						<ul>
						{% with ThisGroup1='Girls' ThisGroup2='Year4.Games' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">Boys Games</a>
						<ul>
						{% with ThisGroup1='Boys' ThisGroup2='Year4.Games' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>																			
				</ul>
			</li>
