<li><a href="#">Year 2</a>
				<ul>
					{% with ThisGroup1='Year2' ThisGroup2='None' %}
					 {% include 'TimeTableMenuTasks.html' %}
					{% endwith %}
					<li><a href="#">2FE</a>
					<ul>
						{% with ThisGroup1='2FE' ThisGroup2='Year2' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
					</ul>
					</li>
					<li><a href="#">2FN</a>
						<ul>
						{% with ThisGroup1='2FN' ThisGroup2='Year2' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">2FS</a>
						<ul>
						{% with ThisGroup1='2FS' ThisGroup2='Year2' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">2FW</a>
						<ul>
						{% with ThisGroup1='2FW' ThisGroup2='Year2' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
				</ul>
			</li>
