<li><a href='#'>General</a>
	<ul>
			<li><a href="#">Teacher</a>
				<ul>
					<li><a href='/WillowTree/{{school}}/{{AcYear}}/TimeTables/Teacher/Events/'>Teacher Events</a></li>
					<li><a href='/WillowTree/{{school}}/{{AcYear}}/TimeTables/Teacher/GroupEvents/'>Staff Group Events</a></li>
					<li><a href='/WillowTree/{{school}}/{{AcYear}}/TimeTables/Teacher/TimeTable/'>Teacher Timetable</a></li>
					<li><a href='/WillowTree/{{school}}/{{AcYear}}/TimeTables/Teacher/Unscheduled/Events/'>Unscheduled TE</a></li>
					<li><a href='/WillowTree/{{school}}/{{AcYear}}/TimeTables/Teacher/PrintTimeTables/' target='_blank'>Timetables</a></li>
					<li><a href='/WillowTree/{{school}}/{{AcYear}}/TimeTables/Teacher/ClashCheck/' target='_blank'>Clash Check</a></li>
					<li><a href='/WillowTree/{{school}}/{{AcYear}}/TimeTables/Teacher/Timetable/Analysis/' target='_blank'>Teacher Hours</a></li>
				</ul>
			</li>
	</ul>
</li>
