<li><a href="#">Year 2</a>
				<ul>
					{% with ThisGroup1='Year2' ThisGroup2='None' %}
					 {% include 'TimeTableMenuTasks.html' %}
					{% endwith %}
					<li><a href="#">2KE</a>
					<ul>
						{% with ThisGroup1='2KE' ThisGroup2='Year2' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
					</ul>
					</li>
					<li><a href="#">2KN</a>
						<ul>
						{% with ThisGroup1='2KN' ThisGroup2='Year2' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">2KS</a>
						<ul>
						{% with ThisGroup1='2KS' ThisGroup2='Year2' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
				</ul>
			</li>
