			<li><a href="#">Reception</a>
				<ul>
					{% with ThisGroup1='Reception' ThisGroup2='None' %}
					 {% include 'TimeTableMenuTasks.html' %}
					{% endwith %}
					<li><a href="#">RKE</a>
						<ul>
						{% with ThisGroup1='RKE' ThisGroup2='Reception' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">RKN</a>
						<ul>
						{% with ThisGroup1='RKN' ThisGroup2='Reception' %}
							{% include 'TimeTableMenuTasks.html' %}  
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">RKS</a>
						<ul>
						{% with ThisGroup1='RKS' ThisGroup2='Reception' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
				</ul>	
			</li>
