			<li><a href="#">Year 1</a>
				<ul>
					{% with ThisGroup1='Year1' ThisGroup2='None' %}
					 {% include 'TimeTableMenuTasks.html' %}
					{% endwith %}
					<li><a href="#">1KE</a>
						<ul>
						{% with ThisGroup1='1KE' ThisGroup2='Year1' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">1KN</a>
						<ul>
						{% with ThisGroup1='1KN' ThisGroup2='Year1' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
					<li><a href="#">1KS</a>
						<ul>
						{% with ThisGroup1='1KS' ThisGroup2='Year1' %}
							{% include 'TimeTableMenuTasks.html' %}
						{% endwith %}
						</ul>
					</li>
				</ul>
			</li>
