<ul id="menu">
	<li><a href="#">Lower School</a>
		<ul>

				{% include 'BatterseaReception.html' %}
				{% include 'BatterseaYear1.html' %}
				{% include 'BatterseaYear2.html' %}						
			
		</ul>
	</li>
	<li>
		<a href='#'>Middle school</a>
		<ul>
			{% include 'BatterseaYear3.html' %}
			{% include 'BatterseaYear4.html' %}
		</ul>
	</li>
	<li>
		<a href='#'>Upper School</a>
		<ul>
			{% include 'BatterseaYear5.html' %}
			{% include 'BatterseaYear6.html' %}
			{% include 'BatterseaYear7.html' %}
			{% include 'BatterseaYear8.html' %}
		</ul>
	</li>
	<li>
		<li><a href='/WillowTree/{{school}}/{{AcYear}}/TimeTables/StaffTimeTables/Staff.Battersea/' Target='_Blank'>Staff timetables</a></li>
	</li>
</ul>

<br>
