<ul id="menu">
	<li><a href="#">Lower School</a>
		<ul>

				{% include 'KensingtonReception.html' %}
				{% include 'KensingtonYear1.html' %}
				{% include 'KensingtonYear2.html' %}						
			
		</ul>
	</li>
	<li>
		<a href='#'>Middle school</a>
		<ul>
			{% include 'KensingtonYear3.html' %}
			{% include 'KensingtonYear4.html' %}
			{% include 'KensingtonYear5.html' %}
		</ul>
	</li>
	<li>
		<a href='#'>Upper School</a>
		<ul>
			{% include 'KensingtonYear6.html' %}
		</ul>
	</li>
	<li>
		<li><a href='/WillowTree/{{school}}/{{AcYear}}/TimeTables/StaffTimeTables/Staff.Kensington/' Target='_Blank'>Staff timetables</a></li>
	</li>
</ul>

<br>
