<ul id="menu">
	{% include 'Menus/GeneraltableActions.html' %}
	<li><a href="#">Lower School</a>
		<ul>

				{% include 'Menus/ClaphamReception.html' %}
				{% include 'Menus/ClaphamYear1.html' %}
				{% include 'Menus/ClaphamYear2.html' %}						
			
		</ul>
	</li>
	<li>
		<a href='#'>Middle school</a>
		<ul>
			{% include 'Menus/ClaphamYear3.html' %}
			{% include 'Menus/ClaphamYear4.html' %}
		</ul>
	</li>
	<li>
		<a href='#'>Upper School</a>
		<ul>
			{% include 'Menus/ClaphamYear5.html' %}
			{% include 'Menus/ClaphamYear6.html' %}
			{% include 'Menus/ClaphamYear7.html' %}
			{% include 'Menus/ClaphamYear8.html' %}
		</ul>
	</li>
</ul>

<br>
