<ul id="menu">
	<li><a href="#">Lower School</a>
		<ul>

				{% include 'FulhamReception.html' %}
				{% include 'FulhamYear1.html' %}
				{% include 'FulhamYear2.html' %}						
			
		</ul>
	</li>
	<li>
		<a href='#'>Middle school</a>
		<ul>
			{% include 'FulhamYear3.html' %}
			{% include 'FulhamYear4.html' %}
			{% include 'FulhamYear5.html' %}
		</ul>
	</li>
	<li>
		<a href='#'>prep School</a>
		<ul>
			{% include 'FulhamYear6.html' %}

		</ul>
	</li>
	<li>
		<li><a href='/WillowTree/{{school}}/{{AcYear}}/TimeTables/StaffTimeTables/Staff.Fulham/' Target='_Blank'>Staff timetables</a></li>
	</li>
</ul>

<br>
