{% verbatim %}
<div class="signatures-wrapper">
	<div class="signatures">
		<div class="signature" ng-repeat="signature in signatures">
			<div><img ng-src="/WillowTree/getmedia/{{ signature.fields.SignatureImage }}"></div>
			<div>{{ signature.fields.Name }}</div>
			<div class="delete-signature" ng-click="deleteSignature( signature.pk )">Delete</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="upload-box">
		<div class="upload-title">Upload Signature</div>
		<input type="text" id="sig-name" ng-model="sigName"> Signature Name <font color=red size=2>*required</font><br>
		<input type="file" id="file-input" ng-file-select="" ng-file-change="uploadImage( $files, $event, -1 )" accept="image/*" ng-accept="'image/*'">
		<div ng-file-drop="" class="sig-drop-box" drag-over-class="{accept:'drop-accept', reject:'drop-reject', delay:100}" ng-multiple="false" allow-dir="false" accept="image/*" ng-file-change="uploadImage( $files, $event, $rejectedFiles )">
			You can drag and drop an image file here.<br>
			<b>Please enter the Signature name first. Upload will start immediately.</b>
		</div>
	
	</div>
</div>
<div class="page-mask" ng-show="uploading"></div>
<div class="uploading" ng-show="uploading">
	<div class="uploading-msg">Uploading {{ uploadProgress }}% complete</div>
</div>
{% endverbatim %}