{% extends 'ForumBase.html' %}
{% block ContentArea %}
<!-- Forums  -->
<div class="leftMiddle">
	<table class="WillowTable1">
		<tr>
			<td width='20%'>Forum</td>
			<td width='40%'>Description</td>
			<td width='40%'>Last post</td>
			<td></td>
		</tr>

		{% for forum in forums %}
		<tr>
			<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >
				<a href="/WillowTree/forum/threads/{{forum.id}}">{{ forum.Name }}</a>
            </td>
			<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >
				{{ forum.Description }}
			</td>
			<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >
				{{ forum.last_post.BodyText|safe }}
			</td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >
		</tr>

		{% endfor %}
	</table>
</div>
{% endblock %} 
