<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Willow Tree Forum {{ TitleBar }} </title>
<style>
	{% include "css/thomas.css" %}
	{% include "css/RecordForm.css" %}
	{% include "css/ManagerMenu.css" %}
</style>
{% load WillowFilters %}
<link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
		{% block base_header_extra %}{% endblock %}
</head>
<body class='tundra'>
<div class="container">
	<!-- Header Start -->
	<div class="header">
		<div style="position:absolute;margin-left:85px;;margin-top:97px;">
			<span style="color:white;font-size:1.2em;">{{ school|removeSchoolName }} {{ AcYear }}</span>
		</div>	
		<a href="/WillowTree/"><img src="{% static Logo %}" width="450" height="120" alt="Willow Tree Logo" /></a>
				<!-- Sidebar Start -->
		<div class="contentRight">
			<div class="rightMiddle">
			<table>
			<tr><td>
				<div class="profileRow">
					<span class="profileArea">Username</span>
					<span class="profileValue">{{ UserName }}</span>
				</div>
				<div class="profileRow">
					<span class="profileArea">Last Action</span>
					<span class="profileValue">{% now "G:i" %}</span>
				</div>
				</td>
					{% if LoggedIn %}
					<td>
				<div class="profileRow">
					<form class="RecordForm" action="/WillowTree/{{ school }}/Logout/" method="post" name="auth"> {% csrf_token %}
						<input type="submit" name="logout" id="logout" value="Logout" />
					</form>

				</div>
				</td>
				{% endif %}
				</tr>
				</table>
				<div class="divider"></div>
				<form class="SearchForm" action="/WillowTree/forum/Search/" method="post" name="auth"> {% csrf_token %}
				<table>
				<tr>
				<td><input type="submit" name="Search" id="Search" value="Search" /></td>
				<td><input type='text' name='SearchItems'></td>
				</tr>
				</table>
				</form>
				
				

			</div>
			<div class="rightBottom">
				<img src="{% static "images/right_bottom.jpg" %}" width="340" height="8" />
			</div>			
		</div>
		<!-- Sidebar End -->
	</div>
	<!-- Header End -->
	<!-- Navigation Start -->
	<div class="navbar">
		{% block MenuBar %}{% endblock %}
	</div>
	<!-- Navigation End -->
	<div class="content">

		<!-- Content Start -->
		<div class="contentLeft">
					<div class="leftHead">
				<img src="
				{% static "images/left_head.jpg" %}" width="900" height="12" />
			</div>
			
			{% block ContentArea %}{% endblock %}
			<div class="leftBottom">
				<img src="{% static "images/left_bottom.jpg" %}" width="900" height="8" />
			</div>
		</div>
	</div>
	<!-- Content End -->
	<!-- Footer Start -->
	<div class="footer">
		&copy; 2011 - Thomas's London Day Schools    
	<!-- Footer End --> 
</div>
</body>
</html>

