{% extends 'ForumBase.html' %}
{% block ContentArea %}
<!-- Forums  -->
<script type="text/javascript" src="{{ STATIC_URL }}Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
	tinyMCE.init({
        mode : "textareas",
        theme : "advanced",
        plugins : "emotions,spellchecker,advhr,insertdatetime,preview", 
                
        // Theme options - button# indicated the row# only
        theme_advanced_buttons1 : "bold,italic,underline,|,justifyleft,justifycenter,justifyright,|,bullist,numlist,|,outdent,indent,|,undo,redo,|,insertdate,inserttime,|,spellchecker,advhr,,removeformat,|,sub,sup,|,emotions",
        theme_advanced_toolbar_location : "bottom",
        theme_advanced_toolbar_align : "center",
        theme_advanced_statusbar_location : "none",
        theme_advanced_resizing : false
});
</script>
<div class="leftMiddle">
	<h3 style='float:left;'> <a href="/WillowTree/forum/">forums</a> - <a href='/WillowTree/forum/threads/{{ posts.object_list.0.Thread.Forum.id }}/'>{{ posts.object_list.0.Thread.Forum.Name }}</a> -<br>{{ posts.object_list.0.Thread.Name }}</h3>
	<div class="pagination" style='float:right'>
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    </span>
	</div>

	
	<table class="WillowTable1">


		{% for post in posts.object_list %}
		<tr>
			<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" width='20%'>
				{{ post.UserName }}<br>
				<img src="{% static "images/icons/artistica2/png/64x64/user.png" %}"/><br>
				<div style='text-align:left;font-size:10px;'>
				Post Id  :{{ post.id }}<br>
				Post Date:{% if post.createdToday %}Today{% else %}{{ post.CreatedOn|date:"dS F Y"}}{% endif %}<br>
				Post time:{{ post.CreatedOn|date:"P"}}
				<div>
            </td>
			<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" style='text-align:left;vertical-align:top;' >
				{{ post.BodyText|safe}}
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" colspan=2>
				<br>
			</td>
		</tr>
		<tr>
			<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}"><br></td>
			<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" style='align:left;vertical-align:top;'>
			<div style='text-align:left;'>
				<div style='font-size:16;font-weight:800;'>
					New Post
			<form action='/WillowTree/forum/addPost/{{posts.object_list.0.Thread.id}}/' method='post'>
				<br>
				{% csrf_token %}				
				<textarea name='BodyText' rows="12" cols="88"></textarea>
				<button type='submit' name='Submit'>Submit</button>
			</form>
				<div>
			<div>
			</td>
		</tr>
	</table>
	<div class="pagination" style='float:right'>
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>	
	
</div>
{% endblock %} 
