{% extends 'ForumBase.html' %}
{% block ContentArea %}
<!-- Forums  -->
<div class="leftMiddle">
	<br>
	<h3 style='float:left;'> <a href="/WillowTree/forum/">Forum Search results for {{ SearchString }} </h3>
<div class="pagination" style='float:right;'>
    <span class="step-links">
        {% if threads.has_previous %}
            <a href="?page={{ threads.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ threads.number }} of {{ threads.paginator.num_pages }}.
        </span>

        {% if threads.has_next %}
            <a href="?page={{ threads.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

	<table class="WillowTable1">
		<tr>
			<td>User</td>
			<td>Posts</td>
			<td>Thread</td>
			<td>Status</td>
		</tr>

		{% for thread in threads.object_list %}
		<tr>
			<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >
				<img src="{% static "images/icons/artistica2/png/32x32/user.png" %}"/><br>
				<div style='text-align:left;font-size:10px;'>
				Created By:{{ thread.CreatedBy.User.username }}<br>	
				Date:{% if thread.createdToday %}Today{% else %}{{ thread.CreatedOn|date:"dS F Y"}}{% endif %}<br>
				time:{{ thread.CreatedOn|date:"P"}}<br>
                      forum:{{thread.Forum.Name }}
            
				<div>
            </td>
			<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >
				{{ thread.num_posts }}
			</td>
			<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" style='text-align:left;vertical-align:top;'>
				<a href="/WillowTree/forum/posts/{{thread.id}}">{{ thread.Name }}</a><br>
				<div style='font-style:italic'>
				Last Post: {{ thread.last_post.CreatedOn|date:"dS F Y"}}
				</div>
			</td>
			<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >
				{{ thread.Status }}
			</td>
		</tr>

		{% endfor %}
	</table>

<div class="pagination">
    <span class="step-links">
        {% if threads.has_previous %}
            <a href="?page={{ threads.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ threads.number }} of {{ threads.paginator.num_pages }}.
        </span>

        {% if threads.has_next %}
            <a href="?page={{ threads.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


</div>
{% endblock %} 
