{% extends 'ForumBase.html' %}
{% block ContentArea %}
<!-- Forums  -->
<script type="text/javascript" src="{{ STATIC_URL }}Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
	tinyMCE.init({
        mode : "textareas",
        theme : "advanced",
        plugins : "emotions,spellchecker,advhr,insertdatetime,preview", 
                
        // Theme options - button# indicated the row# only
        theme_advanced_buttons1 : "bold,italic,underline,|,justifyleft,justifycenter,justifyright,|,cut,copy,paste,|,bullist,numlist,|,outdent,indent,|,undo,redo,|,insertdate,inserttime,|,spellchecker,advhr,,removeformat,|,sub,sup,|,emotions",
        theme_advanced_toolbar_location : "bottom",
        theme_advanced_toolbar_align : "center",
        theme_advanced_statusbar_location : "none",
        theme_advanced_resizing : false
});
</script>
<div class="leftMiddle">
	<br>
	<h3 style='float:left;'> <a href="/WillowTree/forum/">forums</a> - {{Forum.Name }} - </h3>
<div class="pagination" style='float:right;'>
    <span class="step-links">
        {% if threads.has_previous %}
            <a href="?page={{ threads.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ threads.number }} of {{ threads.paginator.num_pages }}.
        </span>

        {% if threads.has_next %}
            <a href="?page={{ threads.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

	<table class="WillowTable1">
		<tr>
			<td>User</td>
			<td>Posts</td>
			<td>Thread</td>
			<td>Status</td>
		</tr>

		{% for thread in threads.object_list %}
		<tr>
			<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >
				<img src="{% static "images/icons/artistica2/png/32x32/user.png" %}"/><br>
				<div style='text-align:left;font-size:10px;'>
				Created By:{{ thread.CreatedBy.User.username }}<br>	
				Date:{% if thread.createdToday %}Today{% else %}{{ thread.CreatedOn|date:"dS F Y"}}{% endif %}<br>
				time:{{ thread.CreatedOn|date:"P"}}
				<div>
            </td>
			<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >
				{{ thread.num_posts }}
			</td>
			<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" style='text-align:left;vertical-align:top;'>
				<a href="/WillowTree/forum/posts/{{thread.id}}">{{ thread.Name }}</a><br>
				<div style='font-style:italic'>
				Last Post: {{ thread.last_post.CreatedOn|date:"dS F Y"}}
				</div>
			</td>
			<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >
				{{ thread.Status }}
			</td>
		</tr>

		{% endfor %}
		<tr>
			<td class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" colspan=3>
				<br>
            </td>
		</tr>
		<tr>
			<td  class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" >
			</td>
			<td colspan=2  class="{% cycle 'WillowTableRowSmall1' 'WillowTableRowSmall2' %}" style='text-align:left;'>
				<div style='font-size:16;font-weight:800;'>
					New Thread
				</div>
				<form action='/WillowTree/forum/addThread/{{Forum.id }}/' method='post'>
							{% csrf_token %}
					<br>
					<table border=0 style='vertical-align:top;'>
						<tr>
							<td>
								<label style='width:100px;'>Title </label>
							</td>
							<td>
							<input type='text' name='Title' id='Title' style='width:645px;'/>
							</td>
						</tr>
						<tr>
							<td style='vertical-align:top;'>
								<label style='width:100px;'>Post</label>
							</td>
							<td>
								<textarea name='BodyText' rows="12" cols="88" style='width:650px;'></textarea>
							</td>
						</tr>
						<tr>
							<td colspan=2>
								<button type='submit' name='Submit'>Submit</button>
							</td>
						</tr>
					</table>
				</form>
			</td>
	</table>

<div class="pagination">
    <span class="step-links">
        {% if threads.has_previous %}
            <a href="?page={{ threads.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ threads.number }} of {{ threads.paginator.num_pages }}.
        </span>

        {% if threads.has_next %}
            <a href="?page={{ threads.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


</div>
{% endblock %} 
