				<div id="TTAddEvent{{Record.id}}" class="login-popup">
					<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/TimeTables/AddEvent/{{ViewType}}/{{Record.id}}/{{Group1}}/{{Group2}}/" method="post">
						{% csrf_token %}
					<table>
						</tr>
							<td><label for="BaseEvent">Base Event: *</label></td>
							<td><select required name='BaseEvent'>
								{% for BaseEvents in BaseEventList %}
								<option value="{{BaseEvents.id}}">{{BaseEvents.Name}}</option>
								{% endfor%}
							</select>
							
							</td>
						</tr>
						</tr>
							<td><label for="Teachers">Teacher: *</label></td>
							<td><select required multiple name='Staff'>
								{% for Teachers in TeacherList %}
								<option value="{{Teachers.id}}">{{Teachers.fullname}}</option>
								{% endfor%}
							</select>
							
							</td>
						</tr>
						</tr>
							<td><label for="Room">Room: *</label></td>
							<td><select name='Room'>
								{% for Room in RoomList %}
								<option value="{{Room.id}}">{{Room.Name}}</option>
								{% endfor%}
							</select>
							
							</td>
						</tr>
						{% ifequal ViewType 'Scheduled'	%}
						</tr>
							<td><label for="Slot">Room: *</label></td>
							<td><select name='Slot'>
								{% for Slot in SlotList %}
								<option value="{{Slot.id}}">{{Slot.StartTime}}/{{Slot.Description}}/{{ Slot.DayOfWeek}}</option>
								{% endfor%}
							</select>
							
							</td>
						</tr>						
						{% endifequal %}
					</table>
						<div style="text-align:center;">
							
							<button type="button" class='close2'>Cancel</button>
							<button id="TTAddEventS" onclick="hideSubmitButton('TTAddEventS');" type="submit" value="Submit">Submit</button>
							<span id="TTAddEventPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
						</div>
					</form>
				</div>
