				<div id="TTModifyScheduledEvent{{Record.id}}" class="login-popup">
					<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/TimeTables/ModifyEvent/{{ViewType}}/{{Record.id}}/{{Group1}}/{{Group2}}/" method="post">
						{% csrf_token %}
					<table>
						</tr>
							<td><label for="Teachers">Teacher: *</label></td>
							<td><select multiple name='Staff'>
								{% for Teachers in TeacherList %}
								<option value="{{Teachers.id}}"
                                                {% for staff in Record.Staff.all %}
                                                     {% if staff.id == Teachers.id %}selected="selected"{%endif%}
                                                {% endfor %}
                                            >{{Teachers.FullName}}</option>
								{% endfor%}
							</select>
							
							</td>
						</tr>
						</tr>
							<td><label for="Room">Room: *</label></td>
							<td><select name='Room'>
								{% for Room in RoomList %}
								<option value="{{Room.id}}" {% if Room.id == Record.Room.id %}selected="selected"{%endif%}>{{Room.Name}}</option>
								{% endfor%}
							</select>
							
							</td>
						</tr>
						</tr>
							<td><label for="Slots">Slots: *</label></td>
							<td><select required name='Slot'>
								{% for slots in SlotList %}
								<option value="{{slots.id}}" {% if slots.id == Record.tabledevents_set.all.0.TimeSlot.id %}selected="selected"{%endif%}>{{slots.Name }}--{{slots.DayOfWeek}} {{slots.StartTime}}</option>
								{% endfor%}
							</select>
							</td>
						</tr>
					</table>
						<div style="text-align:center;">
							
							<button type="button" class='close2'>Cancel</button>
							<button id="TTModifyScheduledEventS" onclick="hideSubmitButton('TTModifyScheduledEventS');" type="submit" value="Submit">Submit</button>
							<span id="TTModifyScheduledEventPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
						</div>
					</form>
				</div>
