				<div id="TTModifyEvent{{Record.id}}" class="login-popup">
					<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/TimeTables/ModifyBase/{{Record.id}}/{{Group1}}/{{Group2}}/" method="post">
						{% csrf_token %}
					<table>
						<tr>
							<td><label for="GroupName">Assigned Group: *</label></td>
							<td>
								<select required name='GroupId'>
									{% for Groups in GroupList %}
									<option value='{{Groups.id}}' {% if Record.BaseGroup.id == Groups.id %} selected='selected' {% endif %}>{{Groups.Name}}</option>
									{% endfor %}
								</select>
							</td>
						</tr>						
						<tr>
							<td><label>Event Name: *</label></td>
							<td><input required type="text" name="Name" style = 'border: 2px solid; width: 250px;' value='{{Record.Name}}'></td>
						</tr>
						<tr>
							<td><label for="Description">Description: *</label></td> 
							<td><input  required type="text" name="Description" style = 'border: 2px solid; width: 250px;' value='{{Record.Description}}'/></td>
						</tr>
							<td><label for="Subject">Subject: *</label></td>
							<td><select required name='Subject'>
								{% for subjects in SubjectList %}
								<option value="{{subjects.id}}" {% if Record.Subject.id == subjects.id %}selected="selected"{%endif%}>{{subjects.Name}}</option>
								{% endfor%}
							</select>
							
							</td>
						</tr>						
					</table>
						<div style="text-align:center;">
							
							<button type="button" class='close2'>Cancel</button>
							<button id="TTModifyEventS" onclick="hideSubmitButton('TTModifyEventS');" type="submit" value="Submit">Submit</button>
							<span id="TTModifyEventPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
						</div>
					</form>
				</div>
