				<div id="TTScheduleEvent{{Record.id}}" class="login-popup">
					<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/TimeTables/ScheduleEvent/{{ViewType}}/{{Record.id}}/{{Group1}}/{{Group2}}/" method="post">
						{% csrf_token %}
					<table>
						</tr>
							<td><label for="Slots">Slots: *</label></td>
							<td><select required name='Slot'>
								{% for slots in SlotList %}
								<option value="{{slots.id}}">{{slots.Name }}--{{slots.DayOfWeek}} {{slots.StartTime}}</option>
								{% endfor%}
							</select>
							
							</td>
						</tr>
					</table>
						<div style="text-align:center;">
							
							<button type="button" class='close2'>Cancel</button>
							<button id="TTScheduleEventS" onclick="hideSubmitButton('TTScheduleEventS');" type="submit" value="Submit">Submit</button>
							<span id="TTScheduleEventPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
						</div>
					</form>
				</div>

