				<div id="TTSetAsCEvent{{Record.id}}" class="login-popup">
					<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/TimeTables/SetAsCEvent/{{ViewType}}/{{Group1}}/{{Group2}}/" method="post">
						{% csrf_token %}
						<input type='hidden' name='BaseEvent' value="{{Record.id}}"/>
					<table>
						<tr>
							<td><label for="Teachers">Teacher: *</label></td>
							<td><select required multiple name='Staff'>
								{% for Teachers in TeacherList %}
								<option value="{{Teachers.id}}">{{Teachers.fullname}}</option>
								{% endfor%}
							</select>
							
							</td>
						</tr>
						<tr>
							<td><label for="Room">Room: *</label></td>
							<td><select name='Room'>
								{% for Room in RoomList %}
								<option value="{{Room.id}}">{{Room.Name}}</option>
								{% endfor%}
							</select>
							
							</td>
						</tr>
					</table>
						<div style="text-align:center;">
							
							<button type="button" class='close2'>Cancel</button>
							<button id="TTSetAsCEventS" onclick="hideSubmitButton('TTSetAsCEventS');" type="submit" value="Submit">Submit</button>
							<span id="TTSetAsCEventPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
						</div>
					</form>
				</div>
