<div id="TTUnscheduleEvent{{Record.id}}" class="login-popup">
		<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/TimeTables/UnscheduleEvent/{{ViewType}}/{{Record.id}}/{{Group1}}/{{Group2}}/" method="post">
		{% csrf_token %}
		
		<button type='button' class='close2'>Cancel</button>
		<button type="submit">Unschedule</button>
	</form>
</div>
