
{% extends 'MenuBar.html' %}
{% load static from staticfiles %}
{% block ContentArea %}

<style type="text/css">
	#reports_page{ position: relative; border: 1px solid #ddd; display: block; overflow: hidden; font-size: 11px; padding: 4px;}
	#school_select,
	#ay_select,
	#grouplist_select,
	#subject_select,
	#rt_select{ width: 200px; }
	
	#ay_select,
	#rt_select{ margin-top: 5px; }
	
	#reportlisttable{ font-size: 11px; margin: 20px 0 10px 0; }
	#reportlisttable th{ text-align: left; background: #bbb; padding: 3px 2px; }
	#reportlisttable td{ padding: 3px 2px; }
	#reportlisttable tbody tr:nth-child(even) { background-color: #eee; }
	#listmask{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: .7; background: #999; display: none; }
	#listwaiting{ position: absolute; width: 200px; top: 20px; height: 20px; background: #fff; text-align: center; font-size: 18px;
				padding: 5px 0 8px 0; border-radius: 5px; display: none; }
	
	.reportupdate{ cursor: pointer; color: blue; text-decoration: underline; }
	
	.left{ float: left; }
	.right{ float: right; }
	.clear{ clear: both; }
</style>
	<div id="reports_page">
		<div class="left" style="margin-right: 10px;">
			<div>
				1: <select name="school" id="school_select">
					<option value="0">Select School</option>
					<option value="battersea">Battersea</option>
					<option value="clapham">Clapham</option>
					<option value="fulham">Fulham</option>
					<option value="kensington">Kensington</option>				
				</select>
			</div>
			<div>
				2: <select name="academic_year" id="ay_select" disabled>
					<option value="0">Select Academic Year</option>	
				</select>
			</div>
		</div>
		<div class="left">
			<div style="height: 21px; padding: 3px 0 0 17px;">Please select in order 1,2,3</div>
			<div>
				3: <select name="grouplist" id="grouplist_select" disabled>
					<option value="0">Select Group List</option>
				</select>
			</div>
		</div>
		<div class="right">
			<div>
				<select name="subject" id="subject_select" disabled>
					<option value="0">Select Subject</option>
				</select>
			</div>
			<div>
				<select name="report_type" id="rt_select" disabled>
					<option value="0">Select Report Type</option>
				</select>
			</div>
		</div>
		<div class="right" style="padding: 3px 15px; font-size: 15px;">Filters</div>

		<div class="clear"></div>
		<div id="reportlist">
			<table id="reportlisttable" width="100%" cellspacing="0">
				<thead>
					<tr><th>Report Type</th><th>Group</th><th>Subject</th><th>Term</th><th>Academic Year</th><th>GenDate</th><th></th><th></th></tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
		<div id="listmask"></div>
		<div id="listwaiting">Fetching...</div>
		
	</div>
	
<script type="text/javascript">
{% if not request.get_host %}
var willowtree_URL = 'https://willowtree.thomas-s.co.uk/WillowTree/';
{% else %}
var willowtree_URL = '/WillowTree/';
{% endif %}
var mediURL = '{{ MEDIA_REDIRECT }}';
var reportsObj = '';
fullSchool = location.pathname.split( '/' );
fullSchool = fullSchool[2];

$.ajaxSetup({
	error: function(jqXHR, exception) {
		if (jqXHR.status === 0) {
			alert('Not connect.\n Verify Network.');
		} else if (jqXHR.status == 400) {
			alert('Bad request. [400]');
		} else if (jqXHR.status == 404) {
			alert('Requested page not found. [404]');
		} else if (jqXHR.status == 500) {
			alert('Internal Server Error [500].');
		} else if (exception === 'parsererror') {
			alert('Requested JSON parse failed.');
		} else if (exception === 'timeout') {
			alert('Time out error.');
		} else if (exception === 'abort') {
			alert('Ajax request aborted.');
		} else if (jqXHR.status != 403){
			alert('Uncaught Error.\n' + jqXHR.responseText);
		}
	},
	datatype: 'json',
	type: "POST"
});

$(document).ready(function() {
	$("#school_select").change(function () {
		if( $( '#school_select' ).val() !='0' ){
			fetchYears();
		}
	});
	
	$("#ay_select").change(function () {
		if( $( '#ay_select' ).val() !='0' ){
			fetchGroups();
		}
	});
	
	$("#grouplist_select").change(function () {
		if( $( '#grouplist_select' ).val() !='0' ){
			fetchReports();
		}
	});
	
	$("#subject_select").change(function () {
		filterReports();
	});
	
	$("#rt_select").change(function () {
		filterReports();
	});
	
	centerWaiting();
});

function fetchYears(){
	var school = $( '#school_select' ).val();
	var options = '<option value="0">Select Academic Year</option>';
	toggleWaiting();
	
	$.ajax({
		type: 'GET',
		url: willowtree_URL + 'analysis_store/academic_year/list/',
		statusCode: { 
			200: function( result ) {
				$.each( result , function( i , item ){
					options += '<option value="' + item + '">' + item + '</option>';
				});
				$( '#ay_select' ).html( options );
				$( '#ay_select' ).removeAttr( 'disabled' );
				$( '#reportlisttable tbody' ).html( '' );
				
				toggleWaiting();
			}
		}
	});
}

function fetchGroups(){
	var school = $( '#school_select' ).val();
	var academicYear = $( '#ay_select' ).val();
	var options = '<option value="0">Select Group List</option>';
	toggleWaiting();
	
	$.ajax({
		type: 'GET',
		url: willowtree_URL + 'analysis_store/groups/list/' + school + '/' + academicYear + '/',
		statusCode: { 
			200: function( result ) {
				$.each( result , function( i , item ){
					optionArr = item.split( '.' );
					options += '<option value="' + item + '">' + optionArr[2] + ' ' + optionArr[3] + '</option>';
				});
				$( '#grouplist_select' ).html( options );
				$( '#grouplist_select' ).removeAttr( 'disabled' );
				$( '#reportlisttable tbody' ).html( '' );
				
				toggleWaiting();
			}
		}
	});
}

function fetchReports(){
	var school = $( '#school_select' ).val();
	var academicYear = $( '#ay_select' ).val();
	var groupList = $( '#grouplist_select' ).val();
	toggleWaiting();
	
	$.ajax({
		type: 'GET',
		url: willowtree_URL + 'analysis_store/list/' + school + '/' + academicYear + '/' + groupList + '/',
		statusCode: { 
			200: function( result ) {
				//console.log( result );
				reportsObj = result;
				buildFilters();
				displayReports( 0 , 0 );
				toggleWaiting();
			}
		}
	});
}

function buildFilters(){
	var subjectArr = new Array();
	var typeArr = new Array();
	var subjectOptions = '<option value="0">Select Subject</option>';
	var typeOptions = '<option value="0">Select Report Type</option>';
	
	$.each( reportsObj , function( i , item ){
		if ( jQuery.inArray( item.fields.ReportSubject , subjectArr )  == -1 ){ subjectArr.push( item.fields.ReportSubject ); }
		if ( jQuery.inArray( item.fields.ReportType , typeArr )  == -1 ){ typeArr.push( item.fields.ReportType ); }
	});
	
	subjectArr.sort();
	typeArr.sort();
	
	$.each( subjectArr , function( i , item ){
		subjectOptions += '<option value="' + item + '">' + item + '</option>';
	});
	$.each( typeArr , function( i , item ){
		typeOptions += '<option value="' + item + '">' + item + '</option>';
	});
	
	$( '#subject_select' ).html( subjectOptions );
	$( '#subject_select' ).removeAttr( 'disabled' );
	$( '#rt_select' ).html( typeOptions );
	$( '#rt_select' ).removeAttr( 'disabled' );
}

function filterReports(){
	var subject = $( '#subject_select' ).val();
	var reportType = $( '#rt_select' ).val();
	displayReports( subject , reportType );
}

function displayReports( subject , reportType ){
	$(".reportupdate").off( 'click' );
	var reportsHTML ='';
	$( '#reportlisttable tbody' ).html( '' );
	
	$.each( reportsObj , function( i , item ){
		var isValid = true;
		if( subject != '0' ){
			if( item.fields.ReportSubject != subject ){ isValid = false; }
		}
		if( reportType != '0' ){
			if( item.fields.ReportType != reportType ){ isValid = false; }
		}
		
		if( isValid ){
			reportsHTML += '<tr><td>' + item.fields.ReportType + '</td>';
			reportsHTML += '<td>' + $( '#grouplist_select' ).val() + '</td>';
			reportsHTML += '<td>' + item.fields.ReportSubject + '</td>';
			reportsHTML += '<td>' + item.fields.ReportTerm + '</td>';
			reportsHTML += '<td>' + item.fields.AcademicYear + '</td>';
			reportsHTML += '<td id="gd' + item.pk + '">' + item.fields.GenDate + '</td>';
			reportsHTML += '<td><a href="' + mediURL + item.fields.ReportName + '" target="_BLANK">View</a></td>';
			reportsHTML += '<td class="reportupdate" pk="' + item.pk + '">Update</td></tr>';
		}
		
	});
	$( '#reportlisttable tbody' ).html( reportsHTML );
	$(".reportupdate").click( function () { reportUpdate( this ); } );	
}

function reportUpdate( clickitem ){
	var school = $( '#school_select' ).val();
	var academicYear = $( '#ay_select' ).val();
	
	reportID = $( clickitem ).attr( 'pk' );
	$( clickitem ).css( 'cursor','auto' );
	$( clickitem ).css( 'color','#000' );
	$( clickitem ).css( 'text-decoration','none' );
	$( clickitem ).off( 'click' );	
	$( '#gd' + reportID ).html( 'Updating' );
	
	$.ajax({
		type: 'GET',
		url: willowtree_URL + fullSchool + '/' + academicYear + '/analysis_store/update/' + reportID + '/',
		statusCode: { 
			200: function( result ) {
				fetchReports();
			}
		}
	});

}

function centerWaiting(){
	var w = ( $( '#reports_page' ).width() / 2 ) - ( $('#listwaiting').width() / 2 );
	$('#listwaiting').css( 'left' , w + 'px' );
}

function toggleWaiting(){
	$( '#listmask' ).fadeToggle();
	$( '#listwaiting' ).fadeToggle();
}
</script>

{% endblock %}
