
{% extends 'Reports/ReportBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
<style>
table, tr, td {
	border: 1px solid black;
	border-collapse:collapse;
}

td {
	padding: 2px;
}

.rotate {
	{% if report.datafield != "Comment" %}
	width: 25px;
    {% endif %}
    -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
    -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
}

.nothing {
   border:none;
   outline:none;
}

.width_of_cell {
	{% if report.datafield != "Comment" %}
	width: 25px;
    {% endif %}
}
</style>
<script>
window.addEventListener('load', function () {
    var rotates = document.getElementsByClassName('rotate');
    for (var i = 0; i < rotates.length; i++) {
        rotates[i].style.height = rotates[i].offsetWidth + 'px';
    }
});
</script>
<div style='padding:5 0 50 0;'>
	<p>
		Analysis Report: <span style='font-weight:bold;'>{{ report.reportSeason }}</span><br />
		Data Field: <span style='font-weight:bold;'>{{ report.datafield }}</span><br />
		Date: <span style='font-weight:bold;'>{{ report.todaysDate }}</span>
	</p>
</div>
<div>
	<table class='FormatTable' style="margin-top:75px;">
		<tr class="nothing">
			<td class="nothing"><div style='width:150px;'><br /></div></td>
			{% for subject in report.Subjects %}
			<td class="nothing"><div class="rotate">{{ subject }}</div></td>
			{% endfor %}
		</tr>
			{% for record in report.returnData %}
		<tr>	
			<td><div style='width:150px;'>{{ record.pupil.Pupil.Forename }} {{ record.pupil.Pupil.Surname }}</div></td>
			{% for subject in report.Subjects %}
			{% for k, v in  record.data.items %}
			{% if k == subject %}
			{% if v.0 != '' %}
			<td><div class="width_of_cell">{{ v.0 }}</div></td>
			{% else %}
			<td style='background-color:lightgrey;'><div class="width_of_cell"><br /></div></td>
			{% endif %}
			{% endif %}
			{% endfor %}
			{% endfor %}
		</tr>	
			{% endfor %}
	</table>
</div
{% endblock %}
