
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static from staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<META name="description" content="APS Compare Report for Battersea">
	<Meta name="keywords" content="APS Compare Report for Battersea">
	<TITLE>APS KS2 Compare Report for {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.AcYear}}</TITLE>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<style>
body{ font-size: 13px; }
#main_wrapper{ width: 900px; margin: 0 auto; }
header{ background: #f5f5f5; border-bottom: 1px solid transparent; font-size: 13px; padding: 5px 10px; }
#dataTables{ margin: 5px 0 0 0; }
#dataTables table th{ padding: 3px; }
#dataTables table td{ border: 1px solid; padding: 2px; }
#averageAPS, .averageAPS{ font-size: 16px; text-align: center; }

.APSless{ background: lightpink; }
.APSzero{ background: lightyellow; }
.APSmore{ background: lightblue; }
.center{ text-align: center;}
.bold{ font-weight: bold; }

@media print
{
	table { page-break-after:auto }
	tr    { page-break-inside:avoid; page-break-after:auto }
	td    { page-break-inside:avoid; page-break-after:auto }
	thead { display:table-header-group }
	tfoot { display:table-row-group }
	.no-print { display: none; }
	table{ margin: 0 auto; }
}
	</style>
	<!--- <script src="https://willowtrain.thomas-s.co.uk/static/js/jquery.min.js"></script>   --->
	<script type="text/javascript">
		document.write("\<script src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js' type='text/javascript'>\<\/script>");
	</script>
</head>
<body>
<div id="main_wrapper">
	<header class="panel-heading">
		<b>APS KS2 Compare Report for {{DataObj.GroupName}} {{DataObj.AcYear}} (Gen Date {{ DataObj.today|date:"SHORT_DATE_FORMAT" }})<br>
		Subject code: {{DataObj.SubjectName}}</b><br><br>
		This report shows the difference in point scores between this academic year's Summer Term and the Summer Term from year Two. Hence comparing pupils' progress all the way through Key Stage 2.
	</header>
	<div id="dataTables">
		<table>
			<tr>
				<th style="float:left;font-weight:bold;">TABLE KEY:</th>
				<td style="background-color:lightblue;">Gained Points</td>
				<td style="background-color:lightyellow;">Not gained Points</td>
				<td style="background-color:lightpink;">Lost Points</td>
				<td>No Data or Error</td>
			</tr>
		</table>
	</div>
	<form id="filterForm" action="">
	<table id="tblResult" BORDER="1" CELLPADDING="6" CELLSPACING=0>
		<thead>
			<tr class="no-print">
				<td colspan="5"><b>Filter by:</b> 
					Class: 	<select id="sltClass">
								
							</select>
												 
              		Gender: <select id="chkGender">
								<option value="0" selected="selected">N/A</option>
								<option value="M">Male</option>
								<option value="F">Female</option>
              				</select>
					
              		Sen: 	<select id="chkSen">
              					<option value="-1" selected="selected">N/A</option>
              					<option value="1">True</option>
              					<option value="0">False</option>
							</select>
              		
					G&T: 	<select id="chkgt">
              					<option value="-1" selected="selected">N/A</option>
              					<option value="1">True</option>
              					<option value="0">False</option>
              				</select>
					
					EAL: 	<select id="chkeAL">
								<option value="-1" selected="selected">N/A</option>
              		  			<option value="1">True</option>
              		  			<option value="0">False</option>
							</select>
					
              		MoreAble:  <select id="chkMoreAble">
              						<option value="-1" selected="selected">N/A</option>
              						<option value="1">True</option>
              						<option value="0">False</option>
              					</select>
					
              		Summer Birth: <select id="chkSB">
									<option value="-1" selected="selected">N/A</option>
              						<option value="1">True</option>
              						<option value="0">False</option>
								  </select>
              							  		 
					<button type="button" id="btnreset" class="btn btn-primary">Reset</button>
              </td>
             </tr>
             <tr style="background-color: #e5e5e5;">
                <td class="bold"><b>Name</b></td>
				<td class="center bold">Gender</td>
				<td class="center bold">Class</td>
				<td class="center bold">SEN/EAL</td>
				<td class="center bold">Difference in APS</td>
			 </tr>
           </thead>
           <tbody>
           </tbody>
		   <tfoot>
			<tr>
				<td colspan="4"><div id="chartAPS"></div></td>
				<td class="averageAPS"><b>Average:</b><div id="averageAPS"></div></td>
			</tr>
			
		   </tfoot>
         </table>
	</form>
</div> <!--  close main_wrapper   --->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
var jsonp='';
{% for datalines in DataObj.JSONData %}
jsonp += {{ datalines|safe }};
{% endfor %}
google.load('visualization', '1.0', {'packages':['corechart']});

$(document).ready(function() {
	$('#btnreset').click(function(){
		$('#filterForm')[0].reset();
		FilterData(objData, 0, -1, -1, -1, -1, -1, -1);
	});
	$('#sltClass').change(function(){
		CreateFilter(objData);
	});
	$('#chkGender').change(function(){
		CreateFilter(objData);
	});
	$('#chkSen').change(function(){
		CreateFilter(objData);
	});
	$('#chkgt').change(function(){
		CreateFilter(objData);
	});
	$('#chkeAL').change(function(){
		CreateFilter(objData);
	});
	$('#chkMoreAble').change(function(){
		CreateFilter(objData);
	});
	$('#chkSB').change(function(){
		CreateFilter(objData);
	});
	var objData = $.parseJSON(jsonp);

	// Populate Class options
	var classData = [];
	var classOptions = '<option value=-1>All</option>';
	$.each(objData, function(i, item){
		if ( $.inArray( item['Class'], classData ) == -1 ) {
				classData.push( item['Class'] );
			} 
	});
	$.each( classData, function(i, item){
		classOptions += '<option value=' + item + '>' + item + '</option>';
	});
	$('#sltClass').html( classOptions );
	
	FilterData(objData, 0, -1, -1, -1, -1, -1, -1);
	
	function CreateFilter(objData)
	{
		var iGender = $("#chkGender").val();
		var iSen = $("#chkSen").val();
		var iGt = $("#chkgt").val();
		var iMoreable = $("#chkMoreAble").val();
		var iEAL = $("#chkeAL").val();
		var iSB = $("#chkSB").val();
		var sClass = $('#sltClass').val();
		//console.log(iGender + '-' + iSen + '-' + iGt + '-' + iMoreable + '=' + sClass);
		FilterData(objData, iGender, iSen, iGt, iMoreable, iEAL, iSB, sClass);
	}
	function FilterData(objData, iGender, iSen, iGt, iMoreable, iEAL, iSB, sClass)
	{
		var content = "";
		$('#tblResult >tbody').html("");
		var arrResult = [];
		var arrChart = [];
		var averageAPS = 0;
		
		$.each(objData, function (i, item) {
					var isValid = true;
			if( iGender !='0' && iGender != item['Gender'] )
			{
				isValid = false;
			}
			if(iSen == 1 && item['SEN'] == 'F')
			{
				isValid = false;
			}
			if(iSen == 0 && item['SEN'] == 'T')
			{
				isValid = false;
			}
			if(iGt == 1 && item['G&T'] == 'F')
			{
				isValid = false;
			}
			if(iGt == 0 && item['G&T'] == 'T')
			{
				isValid = false;
			}
			if(iMoreable == 1 && item['MoreAble'] == 'F')
			{
				isValid = false;
			}
			if(iMoreable == 0 && item['MoreAble'] == 'T')
			{
				isValid = false;
			}
			
			if(iEAL == 1 && item['EAL'] == 'F')
			{
				isValid = false;
			}
			if(iEAL == 0 && item['EAL'] == 'T')
			{
				isValid = false;
			}
			
			if(iSB == 1 && item['SumBirth'] == 'F')
			{
				isValid = false;
			}
			if(iSB == 0 && item['SumBirth'] == 'T')
			{
				isValid = false;
			}
			
			//Filter by class:
			if(sClass != item['Class'] && sClass != '-1')
			{
				isValid = false;
			}
		
			if(isValid)
			{
				var objRow = new Object();
				objRow.name = item['Fullname'];
				objRow.gender = item['Gender'];
				objRow.cls = item['Class'];
				objRow.ls = '';
				if(item['SEN'] == 'T')
				{
					objRow.ls += 'SEN,';
				}	
				if(item['EAL'] == 'T')
				{
					objRow.ls += 'EAL4,';
				}	
				if(item['G&T'] == 'T')
				{
					objRow.ls += 'G&T,';
				}	
				if(item['MoreAble'] == 'T')
				{
					objRow.ls += 'MoreAble,';
				}
				if(item['SumBirth'] == 'T')
				{
					objRow.ls += 'SumBirth,';
				}
				if ( ! isNaN( item.Level[0].APS1 ) &&  ! isNaN( item.Level[1].APS2 ) && item.Level[0].APS1 != "" && item.Level[1].APS2 != "" ){
					objRow.diffAPS = item.Level[1].APS2 - item.Level[0].APS1;
				}else{
					objRow.diffAPS = "N/F";
				}
				arrResult.push(objRow);
			}
		});
		$.each(arrResult, function (i, item) {
			
			if ( isNaN(item.diffAPS) ){
				classAPS = "APSnan";
			}else if (item.diffAPS < 0){
				classAPS = "APSless";
			}else if (item.diffAPS == 0){
				classAPS = "APSzero";
			}else {
				classAPS = "APSmore";
			}
			content += '<tr>';
			content += '<td>' + item.name + '</td>';
			content += '<td class="center">' + item.gender + '</td>';
			content += '<td class="center">' + item.cls + '</td>';
			content += '<td class="center">' + item.ls + '</td>';
			content += '<td class="' + classAPS + ' center">' + item.diffAPS + '</td>';
			content += '</tr>';
			
			if ( ! isNaN(item.diffAPS) ){
				arrChart.push( item.diffAPS );
				averageAPS += item.diffAPS;
			}
		});
		var chartData = {};
		for (var i = 0, j = arrChart.length; i < j; i++) {
			if (chartData[arrChart[i]]) {
				chartData[arrChart[i]]++;
			} else {
				chartData[arrChart[i]] = 1;
			} 
		}
		$('#tblResult >tbody').html(content);
		drawChart(chartData);
		averageAPS = averageAPS / arrChart.length;
		averageAPS = averageAPS.toFixed(1);
		$('#averageAPS').html( averageAPS );
		
	}
});  /* close document.ready */

function drawChart( chartData ) {
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Task');
	data.addColumn('number', 'APS');
	$.each(chartData, function(i, item){
		if ( i < 0 ){
			data.addRow( ['Lost -' + i + ' Points', item ] );
		}else if( i == 0){
			data.addRow( ['Pupils that did not gain any Points', item ] );
		}else{
			data.addRow( ['Gained ' + i + ' Points', item ] );
		}
	}); 
	var options = {'width':600, 'height':300, chartArea: {  width: "100%", height: "90%" } };
	var chart = new google.visualization.PieChart(document.getElementById('chartAPS'));  
	chart.draw(data, options);
}


</script>
</body>
</html>
