
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static from staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<META name="description" content="APS PupilProgress for {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.AcYear}}">
	<TITLE>APS PupilProgress for {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.AcYear}}</TITLE>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/AnalysisReportStyles.css" />
	<script src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
</head>
<body>
<div id="main_wrapper">
       <header class="panel-heading"><b>APS PupilProgress for {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.AcYear}}</b>
       </header>
       <div class="dataTables">
       <form action="report1.html" id="frmReport">
         <table id="tblResult" BORDER="1"  BORDERCOLOR="#000000" CELLPADDING="3" CELLSPACING=0 class="APSpupiltable">
           <thead>
			  <tr class="no-print" class="font11">
				<td colspan="10" class="font11" style="text-align: center;">
					Class: 	<select id="sltClass">
								
							</select>
												 
              		Gender: <select id="chkGender">
								<option value="0" selected="selected">N/A</option>
								<option value="M">Male</option>
								<option value="F">Female</option>
              				</select>
					
              		Sen: 	<select id="chkSen">

							</select>
              		
					MostAble: <select id="chkgt">

              				</select>
					
					EAL: 	<select id="chkeAL">
							</select>
					
              		MoreAble:  <select id="chkMoreAble">
              						<option value="-1" selected="selected">N/A</option>
              						<option value="1">True</option>
              						<option value="0">False</option>
              					</select>
					
              		Summer Birth: <select id="chkSB">
									<option value="-1" selected="selected">N/A</option>
              						<option value="1">True</option>
              						<option value="0">False</option>
								  </select>
              							  		 
					<button type="button" id="btnreset" class="btn btn-primary">Reset</button>
              </td>
             </tr>
              <tr style="background-color: #D1D0CE;">
             	<td><b>Name</b></td>
             	<td class="center"><b>Class</b></td>
             	<td class="center"><b>Gender</b></td>
             	<td class="center"><b>Learning Support</b></td>
             	<td class="center"><b>Prev Summer</b></td>
             	<td class="center"><b>Mich</b></td>
             	<td class="center"><b>Lent</b></td>
             	<td class="center"><b>Summer</b></td>
             	<td class="center"><b>Progress so far</b></td>
				<td class="center"><b>Progress in KS</b></td>
             </tr>
           </thead>
           <tbody>
           </tbody>
			<tfoot>
			</tfoot>
         </table>
         </form>
       </div>
		<div id="MichTitle">Mich</div>
		<div id="chartM"></div>
		<div id="LentTitle">Lent</div>
		<div id="chartL"></div>
		<div id="SummerTitle">Summer</div>
		<div id="chartS"></div>
		<div id="KSTitle">KS</div><div id="ProgressTitle">Progress so Far</div>
		<div class="clear"></div>
		<div id="chartKS"></div><div id="chartProgress"></div>
		
	<!-- / footer -->
</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
//Define data here : 
jsonp = '';
{% for datalines in DataObj.JSONData %}
jsonp += {{ datalines|safe }};  
{% endfor %}
google.load('visualization', '1.0', {'packages':['corechart']});
	
$(document).ready(function() {
	var objData = $.parseJSON(jsonp);
	//console.log(objData);
	
	FilterData(objData, 0, 0, 0, -1, 0, -1, -1);
	
	var MostAbleData = [];
	var EALData = [];
	var SENData = [];
	
	var MostAbleOptions = '<option value=0>N/A</option>';
	var SENOptions = '<option value=0>N/A</option>';
	var EALOptions = '<option value=0>N/A</option>';
	
	$.each(objData, function(i, item){
		if ( $.inArray( item['MostAble'], MostAbleData ) == -1 ) {
			MostAbleData.push( item['MostAble'] );
		}
		if ( $.inArray( item['SEN'], SENData ) == -1 ) {
			SENData.push( item['SEN'] );
		}
		if ( $.inArray( item['EAL'], EALData ) == -1 ) {
			EALData.push( item['EAL'] );
		}
	});
	MostAbleData.sort();
	$.each( MostAbleData, function(i, item){
		MostAbleOptions += '<option value="' + item + '">' + item + '</option>';
	});
	MostAbleOptions += '<option value="MostAbleall">All MostAble</option>';
	
	SENData.sort();
	$.each( SENData, function(i, item){
		if ( item == "SEND 1" ){ SENoption = 'SEN 1'; }
		else if ( item == "SEND 2" ){ SENoption = 'SEN 2'; }
		else if ( item == "SEND 3" ){ SENoption = 'SEN 3'; }
		else if ( item == "SEND 4" ){ SENoption = 'SEN 4'; }
		else if ( item == "SEND 5" ){ SENoption = 'SEN 5'; }
		else{ SENoption = 'None'; }
		SENOptions += '<option value="' + item + '">' + SENoption + '</option>';
	});
	SENOptions += '<option value="SEN12">SEN 1+2</option>';
	SENOptions += '<option value="SENall">All SEN</option>';
	
	EALData.sort();
	$.each( EALData, function(i, item){
		EALOptions += '<option value="' + item + '">' + item + '</option>';
	});
	EALOptions += '<option value="EALall">All EAL</option>';
	
	$('#chkgt').html( MostAbleOptions );
	$('#chkSen').html( SENOptions );
	$('#chkeAL').html( EALOptions );
	
    $("#chkGender").change(function () {
    	CreateFilter(objData);
    });
    $("#chkSen").change(function () {
    	CreateFilter(objData);
    });
    $("#chkeAL").change(function () {
    	CreateFilter(objData);
    });
    $("#chkgt").change(function () {
    	CreateFilter(objData);
    });

    $("#chkMoreAble").change(function () {
    	CreateFilter(objData);
    });

    $("#chkSB").change(function () {
    	CreateFilter(objData);
    });

    $('#sltClass').change(function () {
        CreateFilter(objData);	
    });
    
	$("#btnreset").click(function () {
		$("#frmReport").trigger('reset');
    	CreateFilter(objData);
	});
	
	// Populate Class options
	var classData = [];
	var classOptions = '<option value=-1>All</option>';
	$.each(objData, function(i, item){
		if ( $.inArray( item['Class'], classData ) == -1 ) {
				classData.push( item['Class'] );
			} 
	});
	$.each( classData, function(i, item){
		classOptions += '<option value=' + item + '>' + item + '</option>';
	});
	$('#sltClass').html( classOptions );
	flashRed();
});

function CreateFilter(objData)
{
	var iGender = $("#chkGender").val();
	var iSen = $("#chkSen").val();
	var iGt = $("#chkgt").val();
	var iMoreable = $("#chkMoreAble").val();
	var iEAL = $("#chkeAL").val();
	var iSB = $("#chkSB").val();
	var sClass = $('#sltClass').val();
	FilterData(objData, iGender, iSen, iGt, iMoreable, iEAL, iSB, sClass);

}

function FilterData(objData, iGender, iSen, iMostAble, iMoreable, iEAL, iSB, sClass){
	var content = "";
	$('#tblResult >tbody').html("");
	//Make the data
	var TotalPrevSummer = 0;
	var TotalMich = 0;
	var TotalLent = 0;
	var TotalSummer = 0;
	var TotalProgress = 0;
	var TotalKProgress = 0;
	var TotalRows = 0;	
	var CntMich = 0;
	var CntLent = 0;
	var CntSummer = 0;
	var CntPrevSummer = 0;
	var CntKProgress = 0;
	var arrChartM = new Array();
	var arrChartL = new Array();
	var arrChartS = new Array();
	var arrChartKS = new Array();
	var arrChartProgress = new Array();
	
	$.each(objData, function (i, item) {
		//Filter here:
		var isValid = true;
		if( iGender !='0' && iGender != item['Gender'] ){
			isValid = false;
		}
		
		if(  iSen != 0 && iSen != 'SENall' && iSen != item['SEN'] && iSen != 'SEN12' ){
			isValid = false;
		}else if( iSen == 'SEN12' && item['SEN'] != 'SEND 1' && item['SEN'] != 'SEND 2' ){
			isValid = false;
		}else if( iSen == 'SENall' && item['SEN'] != 'SEND 1' && item['SEN'] != 'SEND 2' && item['SEN'] != 'SEND 3' && item['SEN'] != 'SEND 4' && item['SEN'] != 'SEND 5' ){
			isValid = false;
		}
		
		if(  iMostAble != 0 && iMostAble != 'MostAbleall' && iMostAble != item['MostAble'] ){
			isValid = false;
		}else if( iMostAble == 'MostAbleall' && item['MostAble'] != 'MostAble 1' && item['MostAble'] != 'MostAble 2' ){
			isValid = false;
		}
		
		if(iMoreable == 1 && item['MoreAble'] == 'F'){
			isValid = false;
		}
		if(iMoreable == 0 && item['MoreAble'] == 'T'){
			isValid = false;
		}
		
		if(  iEAL != 0 && iEAL != 'EALall' && iEAL != item['EAL'] ){
			isValid = false;
		}else if( iEAL == 'EALall' && item['EAL'] == 'None' ){
			isValid = false;
		}
		
		if(iSB == 1 && item['SumBirth'] == 'F'){
			isValid = false;
		}
		if(iSB == 0 && item['SumBirth'] == 'T'){
			isValid = false;
		}
		
		if(sClass != item['Class'] && sClass != '-1'){
				isValid = false;
		}
		
		if(isValid){
			var strLS = '';
			if(item['SEN'] != 'None'){
				strLS += item['SEN'].replace( 'SEND' , 'SEN' ) + ',';
			}	
			if(item['EAL'] != 'None'){
				strLS += item['EAL'] + ',';
			}	
			if(item['MostAble'] != 'None'){
				strLS += item['MostAble'] + ',';
			}	
			if(item['MoreAble'] == 'T'){
				strLS += 'MoreAble,';
			}
			if(item['SumBirth'] == 'T'){
				strLS += 'SumBirth,';
			}
			strLS = strLS.slice(0, - 1);
			
			//Calculate Progress So far:
			var strProgress = 0;
			if( parseInt( item['Summer'] ) ){ summer = parseInt( item['Summer'] ); }else{ summer=0; }
			if( parseInt( item['Lent'] ) ){ lent = parseInt( item['Lent'] ); }else{ lent=0; }
			if( parseInt( item['Mich'] ) ){ mich = parseInt( item['Mich'] ); }else{ mich=0; }
			if( parseInt( item['PrevSummer'] ) ){ prevsummer = parseInt( item['PrevSummer'] ); }else{ prevsummer=0; }
			
			hasPrev = 1;
			if( summer && prevsummer ){ strProgress = summer - prevsummer; }
			else if( lent && prevsummer ){ strProgress = lent - prevsummer; }
			else if( mich && prevsummer ){ strProgress = mich - prevsummer; }
			else if( summer && mich ){ strProgress = summer - mich; hasPrev = 0; }
			else if( summer && lent ){ strProgress = summer - lent; hasPrev = 0; }
			else if( lent && mich ){ strProgress = lent - mich; hasPrev = 0; }
			else{ strProgress=0; hasPrev = 0; }
			
			if( summer ){
				TotalSummer += summer;
				CntSummer++;			
			}
			if( lent ){
				TotalLent += lent;
				CntLent++;
			}
			if( mich ){
				TotalMich += mich;
				CntMich++;	
			}
			if( prevsummer ){
				TotalPrevSummer += prevsummer;
				CntPrevSummer++;
			}
			
			dataPoints = 0;
			if( item[ 'PrevSummer' ] != '' ){ dataPoints++; }
			if( item[ 'Mich' ] != '' ){ dataPoints++; }
			if( item[ 'Lent' ] != '' ){ dataPoints++; }
			if( item[ 'Summer' ] != '' ){ dataPoints++; }
			
			if( dataPoints >= 2 ){
				TotalProgress += strProgress;
				TotalRows++;
				arrChartProgress.push( strProgress );
			}
			
			if ( isNaN( item['Mich'] || parseInt( item['Mich'] ) == 0 ) ){
				classMich = "APSnan";
			}else if( parseInt( item['PrevSummer'] ) ){
				if ( (item['Mich'] - item['PrevSummer']) < 0){
					classMich = "APSbelowzero";
				}else if ( ( item['Mich'] - item['PrevSummer']) >= 0 && ( item['Mich'] - item['PrevSummer']) < 2 ){
					classMich = "APSabovezero";
				}else {
					classMich = "APSabovetwo";
				}
				arrChartM.push( item['Mich'] - item['PrevSummer'] );
			}else{
				classMich = "APSabovetwo";
			}
			
			if ( item['Lent'] == ''  || parseInt( item['Lent'] ) == 0 ){
				classLent = "APSnan";
			}else{
				if ( (item['Lent'] - item['Mich'] ) < 0){
					classLent = "APSbelowzero";
				}else if ( ( item['Lent'] - item['Mich']) >= 0 && ( item['Lent'] - item['Mich']) < 2 ){
					classLent = "APSabovezero";
				}else {
					classLent = "APSabovetwo";
				}
				arrChartL.push( item['Lent'] - item['Mich'] );
			}
			
			if ( item['Summer'] == '' || parseInt( item['Summer'] ) == 0 ){
				classSummer = "APSnan";
			}else{
				if ( (item['Summer'] - item['Lent'] ) < 0){
					classSummer = "APSbelowzero";
				}else if ( ( item['Summer'] - item['Lent']) >= 0 && ( item['Summer'] - item['Lent']) < 2 ){
					classSummer = "APSabovezero";
				}else {
					classSummer = "APSabovetwo";
				}
				arrChartS.push( item['Summer'] - item['Lent'] );
			}
			
			if( item['KSstart'] != '' && item['Summer'] != '' ){
				KProgress = item['Summer'] - item['KSstart'];
				if( item['KSstartpoint'] ){
					TotalKProgress += parseInt( item['Summer'] ) - parseInt( item['KSstart'] );
					CntKProgress ++;
					arrChartKS.push( item['Summer'] - item['KSstart'] );
				}
			}else if( item['KSstart'] != '' && item['Lent'] != '' ){
				KProgress = item['Lent'] - item['KSstart'];
				if( item['KSstartpoint'] ){
					TotalKProgress += parseInt( item['Lent'] ) - parseInt( item['KSstart'] );
					CntKProgress ++;
					arrChartKS.push( item['Lent'] - item['KSstart'] );
				}
			}
			else if( item['KSstart'] != '' && item['Mich'] != '' ){
				KProgress = item['Mich'] - item['KSstart'];
				if( item['KSstartpoint'] ){
					TotalKProgress += parseInt( item['Mich'] ) - parseInt( item['KSstart'] );
					CntKProgress ++;
					arrChartKS.push( item['Mich'] - item['KSstart'] );
				}
			}else{ KProgress = 'N/F'; }
			
			if( item['KSstartpoint'] ){
				classKS = 'APSabovetwo';
			}else{
				classKS = '';
			}
			
			content += '<tr>';
			content += '<td>' + item['Fullname'] + '</td>';
			content += '<td class="center">' + item['Class'] + '</td>';
			content += '<td class="center">' + item['Gender'] + '</td>';
			content += '<td class="center">' + strLS + '</td>';
			content += '<td class="center">' + item['PrevSummer'] + '</td>';
			content += '<td class="center ' + classMich + '">' + item['Mich'] + '</td>';
			content += '<td class="center ' + classLent + '">' + item['Lent'] + '</td>';
			content += '<td class="center ' + classSummer + '">' + item['Summer'] + '</td>';
			content += '<td class="center"><b>' + strProgress + '</b></td>';
			content += '<td class="center ' + classKS + '"><b>' + KProgress + '</b></td>';
			content += '</tr>';
		}
	});
    $('#tblResult >tbody').html(content);
	
	if ( TotalMich && CntMich ){ Tmich = toFixed(TotalMich/CntMich, 2).toFixed(2); }else{ Tmich = 'N/F'; }
	if ( TotalLent && CntLent ){ Tlent = toFixed(TotalLent/CntLent, 2).toFixed(2); }else{ Tlent = 'N/F'; }
	if ( TotalSummer && CntSummer ){ Tsummer = toFixed(TotalSummer/CntSummer, 2).toFixed(2); }else{ Tsummer = 'N/F'; }
	if ( TotalKProgress && CntKProgress ){ Tkprogress = toFixed(TotalKProgress/CntKProgress, 2).toFixed(2); }else{ Tkprogress = 'N/F'; }
	
    var strFooter = "<tr>";
	strFooter += "<td colspan='4' align='center'><b>Average</b></td>";
	strFooter += "<td class='center'><b>" + toFixed(TotalPrevSummer/CntPrevSummer, 2).toFixed(2) + "</b></td>";
	strFooter += "<td class='center'><b>" + Tmich + "</b></td>";
	strFooter += "<td class='center'><b>" + Tlent + "</b></td>";
	strFooter += "<td class='center'><b>" + Tsummer + "</b></td>";
	strFooter += "<td class='center'><b>" + toFixed(TotalProgress/TotalRows, 2).toFixed(2) + "</b></td>";
	strFooter += "<td class='center'><b>" + Tkprogress + " for " + toFixed( ( CntKProgress/TotalRows )*100, 2).toFixed(2) + "%</b></td>";
	strFooter += "</tr>";
    $('#tblResult >tfoot').html(strFooter);
	$('#KSTitle').html( 'KS progress for ' + toFixed( ( CntKProgress/TotalRows )*100, 2).toFixed(2) + '% of pupils with Kstart' );
	
	var chartData = {};
		for (var i = 0, j = arrChartM.length; i < j; i++) {
			if (chartData[arrChartM[i]]) {
				chartData[arrChartM[i]]++;
			} else {
				chartData[arrChartM[i]] = 1;
			} 
		}
	drawChart( chartData , 'chartM' );

		var chartData = {};
		for (var i = 0, j = arrChartL.length; i < j; i++) {
			if (chartData[arrChartL[i]]) {
				chartData[arrChartL[i]]++;
			} else {
				chartData[arrChartL[i]] = 1;
			} 
		}
	drawChart( chartData , 'chartL' );
	
	
		var chartData = {};
		for (var i = 0, j = arrChartS.length; i < j; i++) {
			if (chartData[arrChartS[i]]) {
				chartData[arrChartS[i]]++;
			} else {
				chartData[arrChartS[i]] = 1;
			} 
		}
	drawChart( chartData , 'chartS' );
	
	
		var chartData = {};
		for (var i = 0, j = arrChartKS.length; i < j; i++) {
			if (chartData[arrChartKS[i]]) {
				chartData[arrChartKS[i]]++;
			} else {
				chartData[arrChartKS[i]] = 1;
			} 
		}
	drawChart2( chartData , 'chartKS' );
	
		var chartData = {};
		for (var i = 0, j = arrChartProgress.length; i < j; i++) {
			if (chartData[arrChartProgress[i]]) {
				chartData[arrChartProgress[i]]++;
			} else {
				chartData[arrChartProgress[i]] = 1;
			} 
		}
	drawChart2( chartData , 'chartProgress' );	
}

function drawChart( chartData , chartDiv ) {
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Task');
	data.addColumn('number', 'APS');
	$.each(chartData, function(i, item){
		if ( i < 0 ){
			data.addRow( ['Negative ' + i, item ] );
		}else if( i == 0){
			data.addRow( ['Zero', item ] );
		}else if( i == 2 ){
			data.addRow( ['2', item ] );
		}else if( i == 4 ){
			data.addRow( ['4', item ] );
		}else if( i == 6 ){
			data.addRow( ['6', item ] );
		}else if( i == 8 ){
			data.addRow( ['8', item ] );
		}else if( i == 10 ){
			data.addRow( ['10', item ] );
		}else if( i == 12 ){
			data.addRow( ['12', item ] );
		}else if( i == 14 ){
			data.addRow( ['14', item ] );
		}else if( i == 16 ){
			data.addRow( ['16', item ] );
		}else if( i == 18 ){
			data.addRow( ['18', item ] );
		}else if( i == 20 ){
			data.addRow( ['20', item ] );
		}else if( i == 22 ){
			data.addRow( ['22', item ] );
        }
	}); 
	var options = {'width':600, 'height':220, chartArea: {  width: "100%", height: "90%" }, title: 'My Daily Activities', is3D: true};
	var chart = new google.visualization.PieChart(document.getElementById(chartDiv));  
	chart.draw(data, options);
}

function drawChart2( chartData , chartDiv ) {
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Task');
	data.addColumn('number', 'APS');
	$.each(chartData, function(i, item){
		if ( i < 0 ){
			data.addRow( ['Negative ' + i, item ] );
		}else if( i == 0){
			data.addRow( ['Zero', item ] );
		}else if( i == 2 ){
			data.addRow( ['2', item ] );
		}else if( i == 4 ){
			data.addRow( ['4', item ] );
		}else if( i == 6 ){
			data.addRow( ['6', item ] );
		}else if( i == 8 ){
			data.addRow( ['8', item ] );
		}else if( i == 10 ){
			data.addRow( ['10', item ] );
		}else if( i == 12 ){
			data.addRow( ['12', item ] );
		}else if( i == 14 ){
			data.addRow( ['14', item ] );
		}else if( i == 16 ){
			data.addRow( ['16', item ] );
		}else if( i == 18 ){
			data.addRow( ['18', item ] );
		}else if( i == 20 ){
			data.addRow( ['20', item ] );
		}else if( i == 22 ){
			data.addRow( ['22', item ] );
        }
	}); 
	var options = {'width':440, 'height':220, chartArea: {  width: "100%", height: "90%" }, title: 'My Daily Activities', is3D: true};
	var chart = new google.visualization.PieChart(document.getElementById(chartDiv));  
	chart.draw(data, options);
}

function toFixed( number, precision ) {
    var multiplier = Math.pow( 10, precision );
    return Math.round( number * multiplier ) / multiplier;
}

function flashRed(){
	$('.APSbelowzero').css('background','#ffaaaa');
	setTimeout('flashWhite();', 500);
}

function flashWhite(){
	$('.APSbelowzero').css('background','#ffffff');
	setTimeout('flashRed();', 500);
}
</script>
	
</body>
</html>
