
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static from staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<META name="description" content="Summer Levels Review for Year 6 E/RDG 2012/2013">
	<Meta name="keywords" content="2012/2013, Summer, E/RDG,Levels,Summer Review, 6, 6KE, 6KN, 6KS, Maya Owens, Lara Archer, Cristina Marson, Lucas Fraser-Taliente, Zeenia Munchow, Luke Biamonti, Eleanor Farry, Alexander Rivers, Julie Molenaar, Edward Ind, Talya Newman, Oliver Ferrand, Sebastian Rodger, Sharaf Younes, Lilly Vadaneaux, Jared Roy, Lauren King, Ellie Brooks Wadham, Ramsey Gordon, Charles Gordon, Lucilla Partridge, Amber Azmoudeh, Annabel Little, Lili Becker, Massimiliano Gallo, Donall Cunningham, Vedant Hinduja, Amelia Rushing, Jan van Heusde, Sophia Shaikh, Mikhail Sudakov, Camilla Gronskag, Thomas Gronskag, Camilla Groeller, Luke Tannenbaum, Audrey Craighead">
	<TITLE>Mapping Report for GAMES Year 3 - Summer 2012/2013</TITLE>
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/font.css" cache="false">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/plugin.css">
	<link rel="stylesheet" href="css/landing.css">
	<!-- CSS file -->
	<link type="text/css" rel="stylesheet" href="css/jquery.qtip.css" />
	<style type="text/css">
		td { text-align :center !important;}
		#tblResult
		{width: 80%; margin: 0 auto;}
	</style>
	<!--[if lt IE 9]>
	   <script src="js/ie/respond.min.js" cache="false"></script>
	   <script src="js/ie/html5.js" cache="false"></script>
	   <script src="js/ie/excanvas.js" cache="false"></script>
	<![endif]-->
</head>
<body>
	<section class="panel">
       <header class="panel-heading"><b>APS progress for Pupils</b>
       </header>
       <div class="table-responsive">
       <form action="report1.html" id="frmReport">
         <table class="table-striped" id="tblResult" BORDER="1"  BORDERCOLOR="#000000" CELLPADDING="6" CELLSPACING=0>
           <thead>
             <tr>
              <td id="tdFilter" colspan="10"><b>Filter by:</b> 
              							  Class: <select id="sltClass">
              							  			<option value="" selected="selected">All</option>
              							  			{% for classes in DataObj.ClassList %}
              							  			<option value="{{classes}}">{{ classes }}</option>
              							  			{% endfor %}
              							  		 </select>&nbsp;&nbsp;-&nbsp;&nbsp;
              							  Gender: <input type="radio" name="chkGender" class="gender" value="-1" checked="checked"> All <input type="radio" name="chkGender" class="gender" value="1"> Male <input type="radio" name="chkGender" class="gender" value="0"> Female &nbsp;&nbsp;-&nbsp;&nbsp; 
              							  Sen: <input type="radio" name="chkSen" class="sen" value="-1" checked="checked"> All <input type="radio" name="chkSen" class="sen" value="1"> True <input type="radio" name="chkSen" class="sen" value="0"> False &nbsp;&nbsp;-&nbsp;&nbsp;
              							  G&T: <input type="radio" name="chkgt" class="ckgt" value="-1" checked="checked"> All <input type="radio" name="chkgt" class="ckgt" value="1"> True <input type="radio" name="chkgt" class="ckgt" value="0"> False &nbsp;&nbsp;-&nbsp;&nbsp;
              							  Summer Birth: <input type="radio" name="chkSB" class="summerbirth" value="-1" checked="checked"> All <input type="radio" name="chkSB" class="summerbirth" value="1"> True <input type="radio" name="chkSB" class="summerbirth" value="0"> False &nbsp;&nbsp;
              							  MoreAble: <input type="radio" name="chkMoreAble" class="moreable" value="-1" checked="checked"> All <input type="radio" name="chkMoreAble" class="moreable" value="1"> True <input type="radio" name="chkMoreAble" class="moreable" value="0"> False &nbsp;&nbsp;
              							 
              							  <button type="button" id="btnreset" class="btn btn-primary">Reset</button>
              </td>
             </tr>
              <tr style="background-color: #D1D0CE;">
             	<td><b>Name</b></td>
             	<td><b>Class</b></td>
             	<td><b>Gender</b></td>
             	<td><b>Learning Support</b></td>
             	<td><b>Prev Summer</b></td>
             	<td><b>Mich</b></td>
             	<td><b>Lent</b></td>
             	<td><b>Summer</b></td>
             	<td><b>Progress so far</b></td>
             </tr>
           </thead>
           <tbody>
           </tbody>
			<tfoot>
			</tfoot>
         </table>
         </form>
       </div>
     </section>
	<!-- / footer -->
	<script src="{% static "js/jquery.min.js" %}"></script>
	<!-- Bootstrap -->
	<script src="{% static "js/bootstrap.js" %}"></script>
	<!-- app -->
<script type="text/javascript">
{% include "APSPupilReview.js" %}
</script>
	
</body>
</html>
