
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static from staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<META name="description" content="APS PupilProgress for {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.AcYear}}">
	<TITLE>APS PupilProgress for {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.AcYear}}</TITLE>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link type="text/css" rel="stylesheet" href="styles.css" />
	<script src="https://willowtrain.thomas-s.co.uk/static/js/jquery.min.js"></script> 
</head>
<body>
<div id="main_wrapper">
       <header class="panel-heading"><b>APS PupilProgress for {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.AcYear}}</b>
       </header>
       <div class="dataTables">
       <form action="report1.html" id="frmReport">
         <table id="tblResult" BORDER="1"  BORDERCOLOR="#000000" CELLPADDING="6" CELLSPACING=0 >
           <thead>
			  <tr class="no-print">
				<td colspan="9"><b>Filter by:</b> 
					Class: 	<select id="sltClass">
								
							</select>
												 
              		Gender: <select id="chkGender">
								<option value="0" selected="selected">N/A</option>
								<option value="M">Male</option>
								<option value="F">Female</option>
              				</select>
					
              		Sen: 	<select id="chkSen">
              					<option value="-1" selected="selected">N/A</option>
              					<option value="1">True</option>
              					<option value="0">False</option>
							</select>
              		
					G&T: 	<select id="chkgt">
              					<option value="-1" selected="selected">N/A</option>
              					<option value="1">True</option>
              					<option value="0">False</option>
              				</select>
					
					EAL: 	<select id="chkeAL">
								<option value="-1" selected="selected">N/A</option>
              		  			<option value="1">True</option>
              		  			<option value="0">False</option>
							</select>
					
              		MoreAble:  <select id="chkMoreAble">
              						<option value="-1" selected="selected">N/A</option>
              						<option value="1">True</option>
              						<option value="0">False</option>
              					</select>
					
              		Summer Birth: <select id="chkSB">
									<option value="-1" selected="selected">N/A</option>
              						<option value="1">True</option>
              						<option value="0">False</option>
								  </select>
              							  		 
					<button type="button" id="btnreset" class="btn btn-primary">Reset</button>
              </td>
             </tr>
              <tr style="background-color: #D1D0CE;">
             	<td><b>Name</b></td>
             	<td class="center"><b>Class</b></td>
             	<td class="center"><b>Gender</b></td>
             	<td class="center"><b>Learning Support</b></td>
             	<td class="center"><b>Prev Summer</b></td>
             	<td class="center"><b>Mich</b></td>
             	<td class="center"><b>Lent</b></td>
             	<td class="center"><b>Summer</b></td>
             	<td class="center"><b>Progress so far</b></td>
             </tr>
           </thead>
           <tbody>
           </tbody>
			<tfoot>
			</tfoot>
         </table>
         </form>
       </div>
	   <div style="font-size: 16px; font-weight: bold; margin: 25px 0 0 0;">Mich</div>
	   <div id="chartM">Mich</div>
	    <div style="font-size: 16px; font-weight: bold; margin: 25px 0 0 0;">Lent</div>
	   <div id="chartL">Lent</div>
	    <div style="font-size: 16px; font-weight: bold; margin: 25px 0 0 0;">Summer</div>
	   <div id="chartS">Summer</div>
	<!-- / footer -->
</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
//Define data here : 
var jsonp='';
{% for datalines in DataObj.JSONData %}
jsonp += {{ datalines|safe }};  
{% endfor %}
google.load('visualization', '1.0', {'packages':['corechart']});
	
$(document).ready(function() {
	var objData = $.parseJSON(jsonp);
	FilterData(objData, 0, -1, -1, -1, -1, -1, -1);
	//Copy booker to 1st golfer:
    $("#chkGender").change(function () {
    	CreateFilter(objData);
    });
    $("#chkSen").change(function () {
    	CreateFilter(objData);
    });
    $("#chkeAL").change(function () {
    	CreateFilter(objData);
    });
    $("#chkgt").change(function () {
    	CreateFilter(objData);
    });

    $("#chkMoreAble").change(function () {
    	CreateFilter(objData);
    });

    $("#chkSB").change(function () {
    	CreateFilter(objData);
    });
    //Show golfers for toId
    $('#sltClass').change(function () {
        CreateFilter(objData);	
    });
    
	$("#btnreset").click(function () {

    	$('#sltClass').val("");
    	$('#chkGender').val("0");
    	$('#chkSen').val("-1");
    	$('#chkeAL').val("-1");
    	$('#chkgt').val("-1");
    	$('#chkMoreAble').val("-1");
    	$('#chkSB').val("-1");

    	CreateFilter(objData);
    });
	
	// Populate Class options
	var classData = [];
	var classOptions = '<option value=-1>All</option>';
	$.each(objData, function(i, item){
		if ( $.inArray( item['Class'], classData ) == -1 ) {
				classData.push( item['Class'] );
			} 
	});
	$.each( classData, function(i, item){
		classOptions += '<option value=' + item + '>' + item + '</option>';
	});
	$('#sltClass').html( classOptions );
	flashRed();
});

function CreateFilter(objData)
{
	var iGender = $("#chkGender").val();
	var iSen = $("#chkSen").val();
	var iGt = $("#chkgt").val();
	var iMoreable = $("#chkMoreAble").val();
	var iEAL = $("#chkeAL").val();
	var iSB = $("#chkSB").val();
	var sClass = $('#sltClass').val();
	//console.log(iGender + '-' + iSen + '-' + iGt + '-' + iMoreable);
	FilterData(objData, iGender, iSen, iGt, iMoreable, iEAL, iSB, sClass);

}

function FilterData(objData, iGender, iSen, iGt, iMoreable, iEAL, iSB, sClass)
{
	var content = "";
	$('#tblResult >tbody').html("");
	//Make the data
	var TotalPrevSummer = 0;
	var TotalMich = 0;
	var TotalLent = 0;
	var TotalSummer = 0;
	var TotalProgress = 0;
	var TotalRows = 0;	
	var CntMich = 0;
	var CntLent = 0;
	var CntSummer = 0;
	var CntPrevSummer = 0;
	var arrChartM = new Array();
	var arrChartL = new Array();
	var arrChartS = new Array();

	$.each(objData, function (i, item) {
		//Filter here:
		var isValid = true;
		if( iGender !='0' && iGender != item['Gender'] )
			{
				isValid = false;
			}
		if(iSen == 1 && item['SEN'] == 'F')
		{
			isValid = false;
		}
		if(iSen == 0 && item['SEN'] == 'T')
		{
			isValid = false;
		}
		if(iGt == 1 && item['G&T'] == 'F')
		{
			isValid = false;
		}
		if(iGt == 0 && item['G&T'] == 'T')
		{
			isValid = false;
		}
		if(iMoreable == 1 && item['MoreAble'] == 'F')
		{
			isValid = false;
		}
		if(iMoreable == 0 && item['MoreAble'] == 'T')
		{
			isValid = false;
		}
		
		if(iEAL == 1 && item['EAL'] == 'F')
		{
			isValid = false;
		}
		if(iEAL == 0 && item['EAL'] == 'T')
		{
			isValid = false;
		}
		
		if(iSB == 1 && item['SumBirth'] == 'F')
		{
			isValid = false;
		}
		if(iSB == 0 && item['SumBirth'] == 'T')
		{
			isValid = false;
		}
		
		//Filter by class:
		if(sClass != item['Class'] && sClass != '-1')
			{
				isValid = false;
			}
		

		if(isValid)
		{
			var strLS = '';
			if(item['SEN'] == 'T')
			{
				strLS += 'SEN,';
			}	
			if(item['EAL'] == 'T')
			{
				strLS += 'EAL,';
			}	
			if(item['G&T'] == 'T')
			{
				strLS += 'G&T,';
			}	
			if(item['MoreAble'] == 'T')
			{
				strLS += 'MoreAble,';
			}
			if(item['SumBirth'] == 'T')
			{
				strLS += 'SumBirth,';
			}
			//Calculate Progress So far:
			var strProgress = parseInt(item['Summer']);
			if($.trim(item['Summer']) == "")
			{
				if($.trim(item['Lent']) == "")
				{
					strProgress =  parseInt(item['Mich']) - parseInt(item['PrevSummer']);
				}
				else
				{
					strProgress = parseInt(item['Lent']) - parseInt(item['PrevSummer']) ;
				}
			}
			else
			{
				if (!(isNaN(strProgress)))
				{
					TotalSummer += strProgress;
					strProgress = strProgress - parseInt(item['PrevSummer']);
					CntSummer++;
				}
			}	
			if($.trim(item['Lent']) != "")
			{
				TotalLent += parseInt(item['Lent']);
				CntLent++;
				
			}
			
			if($.trim(item['Mich']) != "")
			{
				TotalMich += parseInt(item['Mich']);
				CntMich++;
			}	
				
			if($.trim(item['PrevSummer']) != "")
			{
				TotalPrevSummer += parseInt(item['PrevSummer']);
				CntPrevSummer++;
			}
			
			if ( isNaN(strProgress) ){
				strProgress = 'N/F';
				classAPS = "APSnan";
			}else{
				TotalProgress += strProgress;
				TotalRows++;
			}
			
			if ( isNaN(item['Mich'] ) ){
				classMich = "APSnan";
			}else{
				if ( (item['Mich'] - item['PrevSummer']) < 0){
					classMich = "APSbelowzero";
				}else if ( ( item['Mich'] - item['PrevSummer']) >= 0 && ( item['Mich'] - item['PrevSummer']) < 2 ){
					classMich = "APSabovezero";
				}else {
					classMich = "APSabovetwo";
				}
				arrChartM.push( item['Mich'] - item['PrevSummer'] );
			}
			if ( isNaN( item['Lent'] ) || item['Lent'] == 0 ){
				classLent = "APSnan";
			}else{
				if ( (item['Lent'] - item['Mich'] ) < 0){
					classLent = "APSbelowzero";
				}else if ( ( item['Lent'] - item['Mich']) >= 0 && ( item['Lent'] - item['Mich']) < 2 ){
					classLent = "APSabovezero";
				}else {
					classLent = "APSabovetwo";
				}
				arrChartL.push( item['Lent'] - item['Mich'] );
			}
			if ( isNaN( item['Summer'] ) || item['Summer'] == 0 ){
				classSummer = "APSnan";
			}else{
				if ( (item['Summer'] - item['Lent'] ) < 0){
					classSummer = "APSbelowzero";
				}else if ( ( item['Summer'] - item['Lent']) >= 0 && ( item['Summer'] - item['Lent']) < 2 ){
					classSummer = "APSabovezero";
				}else {
					classSummer = "APSabovetwo";
				}
				arrChartS.push( item['Summer'] - item['Lent'] );
			}
			
			
			content += '<tr>';
			content += '<td>' + item['Fullname'] + '</td>';
			content += '<td class="center">' + item['Class'] + '</td>';
			content += '<td class="center">' + item['Gender'] + '</td>';
			content += '<td class="center">' + strLS + '</td>';
			content += '<td class="center">' + item['PrevSummer'] + '</td>';
			content += '<td class="center ' + classMich + '">' + item['Mich'] + '</td>';
			content += '<td class="center ' + classLent + '">' + item['Lent'] + '</td>';
			content += '<td class="center ' + classSummer + '">' + item['Summer'] + '</td>';
			content += '<td class="center"><b>' + strProgress + '</b></td>';
			content += '</tr>';
		}
	});
    $('#tblResult >tbody').html(content); 
    var strFooter = "<tr>";
	strFooter += "<td colspan='4' align='center'><b>Average</b></td>";
	strFooter += "<td class='center'><b>" + toFixed(TotalPrevSummer/CntPrevSummer, 2).toFixed(2) + "</b></td>";
	strFooter += "<td class='center'><b>" + toFixed(TotalMich/CntMich, 2).toFixed(2) + "</b></td>";
	strFooter += "<td class='center'><b>" + toFixed(TotalLent/CntLent, 2).toFixed(2) + "</b></td>";
	strFooter += "<td class='center'><b>" + toFixed(TotalSummer/CntSummer, 2).toFixed(2) + "</b></td>";
	strFooter += "<td class='center'><b>" + toFixed(TotalProgress/TotalRows, 2).toFixed(2) + "</b></td>";
	strFooter += "</tr>";
    $('#tblResult >tfoot').html(strFooter);
	
	var chartData = {};
		for (var i = 0, j = arrChartM.length; i < j; i++) {
			if (chartData[arrChartM[i]]) {
				chartData[arrChartM[i]]++;
			} else {
				chartData[arrChartM[i]] = 1;
			} 
		}
	drawChart( chartData , 'chartM' );
	
		var chartData = {};
		for (var i = 0, j = arrChartL.length; i < j; i++) {
			if (chartData[arrChartL[i]]) {
				chartData[arrChartL[i]]++;
			} else {
				chartData[arrChartL[i]] = 1;
			} 
		}
	drawChart( chartData , 'chartL' );
	
		var chartData = {};
		for (var i = 0, j = arrChartS.length; i < j; i++) {
			if (chartData[arrChartS[i]]) {
				chartData[arrChartS[i]]++;
			} else {
				chartData[arrChartS[i]] = 1;
			} 
		}
	drawChart( chartData , 'chartS' );
}


function drawChart( chartData , chartDiv ) {
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Task');
	data.addColumn('number', 'APS');
	$.each(chartData, function(i, item){
		if ( i < 0 ){
			data.addRow( ['Negative', item ] );
		}else if( i == 0){
			data.addRow( ['Zero', item ] );
		}else if( i == 2 ){
			data.addRow( ['2', item ] );
		}else if( i == 4 ){
			data.addRow( ['4', item ] );
		}else if( i == 6 ){
			data.addRow( ['6', item ] );
		}else if( i == 8 ){
			data.addRow( ['8', item ] );
		}else if( i == 10 ){
			data.addRow( ['10', item ] );
		}
	}); 
	var options = {'width':600, 'height':300, chartArea: {  width: "100%", height: "90%" }, title: 'My Daily Activities', is3D: true};
	var chart = new google.visualization.PieChart(document.getElementById(chartDiv));  
	chart.draw(data, options);
}


function toFixed( number, precision ) {
    var multiplier = Math.pow( 10, precision );
    return Math.round( number * multiplier ) / multiplier;
}

function flashRed(){
	$('.APSbelowzero').css('background','#ffaaaa');
	setTimeout('flashWhite();', 500);
}

function flashWhite(){
	$('.APSbelowzero').css('background','#ffffff');
	setTimeout('flashRed();', 500);
}
</script>
	
</body>
</html>
