
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static from staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<META name="description" content="{{ DataObj.SchoolName}}">
	<Meta name="keywords" content="{{ DataObj.SchoolName}}">
	<TITLE>APS {{DataObj.AcYear}} Review for {{DataObj.SchoolName}} : {{DataObj.SubjectName}}</TITLE>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="{% static "css/AnalysisReportStyles.css" %}">
	<script type="text/javascript">
		document.write("\<script src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js' type='text/javascript'>\<\/script>");
	</script>
</head>
<body class="APS_Review">

<div id="main_wrapper">
	<header class="panel-heading">
		<b>APS {{DataObj.AcYear}} Review for {{DataObj.SchoolName}} <br>Subject: {{DataObj.SubjectName}}</b>
	</header>
	<form id="filterForm" action="">
	<table BORDER="1" CELLPADDING="6" CELLSPACING=0 width="900">
		<thead>
			<tr class="no-print">
				<td colspan="5"><div class="left"><b>Filter by:</b></div>
					<select name="radFILT" id="radFILT">


					</select>
				</td>
			</tr>
		</thead>
	</table>
	</form>
	<div id="contentData"></div>
<script type="">

var jsonp='';
{% for datalines in DataObj.JSONData %}
jsonp += {{ datalines|safe }};
{% endfor %}

$(document).ready(function() {
	$('#radFILT').change(function(){
		filterData(objData, this.value);
	});
	var objData = $.parseJSON(jsonp);

	filterData(objData, 'All' );
	
	keys = Object.keys( objData[0].Lent.Classes[0].Data );	
	keys.sort();
	radFiltOptions = '';
	$.each(keys, function(i, item){
		if ( item.slice( 0,4 ) == "SEND" ){ optionV = item.replace('SEND', 'SEN'); }else{ optionV = item; }
		radFiltOptions += '<option value="'+ item +'">'+ optionV +'</option>';
	});
	radFiltOptions += '<option value="SEN12">SEN 1+2</option>';
	$('#radFILT').html( radFiltOptions );
	
});
function filterData(objData, filter){
	var content = "";
	var tableCount = 1;
	var dataLength = objData.length;
	
	$.each( objData,  function ( i, item ) {
		var classArr = new Array();
		$.each( item['Mich'].Classes, function( i, item ){
			classArr.push( item.Name );
		});
		$('#contentData').html('');
		content += '<table id="tblResult" BORDER="1"><thead><tr><th colspan="7">' + item.Name + '</th></tr>';
		content += '<tr><th colspan="3" width="300">Mich</th><th colspan="2" width="300">Lent</th><th colspan="2" width="300">Summer</th></tr></thead><tbody>';
		firstRow = 1;
		$.each(classArr, function( x, xc ){
			content += '<tr><td width="30">'+xc+'</td><td width="135" align="center">'+ item.Mich.Classes[x].Data[filter] +'</td>';
			if ( firstRow ){
				content += '<td rowspan="'+ classArr.length +'" width="135" align="center">'+ item.Mich.Year[filter] +'</td>';
			}
			content += '<td width="135" align="center">'+ item.Lent.Classes[x].Data[filter] +'</td>';
			if ( firstRow ){
				content += '<td rowspan="'+ classArr.length +'" width="135" align="center">'+ item.Lent.Year[filter] +'</td>';
			}
			content += '<td width="135" align="center">'+ item.Summer.Classes[x].Data[filter] +'</td>';
			if ( firstRow ){
				firstRow = 0;
				content += '<td rowspan="'+ classArr.length +'" width="135" align="center">'+ item.Summer.Year[filter] +'</td></tr>';
			}
		});
		content += '</table>';
		$('#contentData').html(content);
		if ( tableCount == 6 && dataLength >= 7 ){
			content += '<div style="page-break-before: always; height: 0px; overflow: hidden;">&nbsp</div>';
		}
		tableCount ++;
	});
}
</script>
</body></html>
