
<!DOCTYPE HTML>
{% load static from staticfiles %}
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>{{ class.ClassListName }}</TITLE>
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<style>
	.ReportTable
	{
		border:1px solid black;
		width:100%;
		margin:auto;
		border-collapse:collapse;
	}
	.ReportTable td 
	{
		font-size: 12px;
		border:1px solid black;
	}
	.ReportTable th
	{
		Border:1px solid black;
	}
	.ReportTableHeader
	{
		background-color: #BFE4FF;
		text-align:center;
		font-size:14px;
	}
	.ReportTableDataCol
	{
		text-align:center;
	}
	.ReportTableDataTitle
	{
		font-size:14px;
	}
</style>
<script src="{{ STATIC_URL }}Scripts/jquery-1.10.2.min.js"></script> <!-- must be put on server!! -->
<script>
$(document).ready(function(){
	$.when(
		$("#Year1Class4Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year1.Class4.Name}}/Yr1_Eot_M/Yr1_Eot_L/{{SubjectName}}/"),
		$("#Year1Class1Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year1.Class1.Name}}/Yr1_Eot_M/Yr1_Eot_L/{{SubjectName}}/"),
		$("#Year1Class2Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year1.Class2.Name}}/Yr1_Eot_M/Yr1_Eot_L/{{SubjectName}}/"),
		$("#Year1Class3Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year1.Class3.Name}}/Yr1_Eot_M/Yr1_Eot_L/{{SubjectName}}/"),
		$("#Year1AvgLent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year1.Group.Name}}/Yr1_Eot_M/Yr1_Eot_L/{{SubjectName}}/"),

		$("#Year1Class1Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year1.Class1.Name}}/Yr1_Eot_L/Yr1_Eot_S/{{SubjectName}}/"),
		$("#Year1Class2Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year1.Class2.Name}}/Yr1_Eot_L/Yr1_Eot_S/{{SubjectName}}/"),
		$("#Year1Class3Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year1.Class3.Name}}/Yr1_Eot_L/Yr1_Eot_S/{{SubjectName}}/"),
		$("#Year1Class4Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year1.Class4.Name}}/Yr1_Eot_L/Yr1_Eot_S/{{SubjectName}}/"),
		$("#Year1AvgSummer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year1.Group.Name}}/Yr1_Eot_L/Yr1_Eot_S/{{SubjectName}}/"),	

		$("#Year2Class1Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year2.Class1.Name}}/Yr1_Eot_S/Yr2_Eot_M/{{SubjectName}}/"),
		$("#Year2Class2Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year2.Class2.Name}}/Yr1_Eot_S/Yr2_Eot_M/{{SubjectName}}/"),
		$("#Year2Class3Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year2.Class3.Name}}/Yr1_Eot_S/Yr2_Eot_M/{{SubjectName}}/"),
		$("#Year2Class4Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year2.Class4.Name}}/Yr1_Eot_S/Yr2_Eot_M/{{SubjectName}}/"),
		$("#Year2AvgMich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year2.Group.Name}}/Yr1_Eot_S/Yr2_Eot_M/{{SubjectName}}/"),

		$("#Year2Class1Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year2.Class1.Name}}/Yr2_Eot_M/Yr2_Eot_L/{{SubjectName}}/"),
		$("#Year2Class2Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year2.Class2.Name}}/Yr2_Eot_M/Yr2_Eot_L/{{SubjectName}}/"),
		$("#Year2Class3Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year2.Class3.Name}}/Yr2_Eot_M/Yr2_Eot_L/{{SubjectName}}/"),
		$("#Year2Class4Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year2.Class4.Name}}/Yr2_Eot_M/Yr2_Eot_L/{{SubjectName}}/"),
		$("#Year2AvgLent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year2.Group.Name}}/Yr2_Eot_M/Yr2_Eot_L/{{SubjectName}}/"),
		
		$("#Year2Class1Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year2.Class1.Name}}/Yr2_Eot_L/Yr2_Eot_S/{{SubjectName}}/"),
		$("#Year2Class2Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year2.Class2.Name}}/Yr2_Eot_L/Yr2_Eot_S/{{SubjectName}}/"),
		$("#Year2Class3Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year2.Class3.Name}}/Yr2_Eot_L/Yr2_Eot_S/{{SubjectName}}/"),
		$("#Year2Class4Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year2.Class4.Name}}/Yr2_Eot_L/Yr2_Eot_S/{{SubjectName}}/"),
		$("#Year2AvgSummer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year2.Group.Name}}/Yr2_Eot_L/Yr2_Eot_S/{{SubjectName}}/"),	

		$("#Year3Class1Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year3.Class1.Name}}/Yr2_Eot_S/Yr3_Eot_M/{{SubjectName}}/"),
		$("#Year3Class2Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year3.Class2.Name}}/Yr2_Eot_S/Yr3_Eot_M/{{SubjectName}}/"),
		$("#Year3Class3Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year3.Class3.Name}}/Yr2_Eot_S/Yr3_Eot_M/{{SubjectName}}/"),
		$("#Year3Class4Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year3.Class4.Name}}/Yr2_Eot_S/Yr3_Eot_M/{{SubjectName}}/"),
		$("#Year3AvgMich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year3.Group.Name}}/Yr2_Eot_S/Yr3_Eot_M/{{SubjectName}}/"),
		
		$("#Year3Class1Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year3.Class1.Name}}/Yr3_Eot_M/Yr3_Eot_L/{{SubjectName}}/"),
		$("#Year3Class2Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year3.Class2.Name}}/Yr3_Eot_M/Yr3_Eot_L/{{SubjectName}}/"),
		$("#Year3Class3Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year3.Class3.Name}}/Yr3_Eot_M/Yr3_Eot_L/{{SubjectName}}/"),
		$("#Year3Class4Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year3.Class4.Name}}/Yr3_Eot_M/Yr3_Eot_L/{{SubjectName}}/"),		
		$("#Year3AvgLent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year3.Group.Name}}/Yr3_Eot_M/Yr3_Eot_L/{{SubjectName}}/"),
		
		$("#Year3Class1Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year3.Class1.Name}}/Yr3_Eot_L/Yr3_Eot_S/{{SubjectName}}/"),
		$("#Year3Class2Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year3.Class2.Name}}/Yr3_Eot_L/Yr3_Eot_S/{{SubjectName}}/"),
		$("#Year3Class3Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year3.Class3.Name}}/Yr3_Eot_L/Yr3_Eot_S/{{SubjectName}}/"),
		$("#Year3Class4Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year3.Class4.Name}}/Yr3_Eot_L/Yr3_Eot_S/{{SubjectName}}/"),
		$("#Year3AvgSummer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year3.Group.Name}}/Yr3_Eot_L/Yr3_Eot_S/{{SubjectName}}/"),	
		
		$("#Year4Class1Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year4.Class1.Name}}/Yr3_Eot_S/Yr4_Eot_M/{{SubjectName}}/"),
		$("#Year4Class2Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year4.Class2.Name}}/Yr3_Eot_S/Yr4_Eot_M/{{SubjectName}}/"),
		$("#Year4Class3Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year4.Class3.Name}}/Yr3_Eot_S/Yr4_Eot_M/{{SubjectName}}/"),
		$("#Year4Class4Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year4.Class4.Name}}/Yr3_Eot_S/Yr4_Eot_M/{{SubjectName}}/"),
		$("#Year4AvgMich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year4.Group.Name}}/Yr3_Eot_S/Yr4_Eot_M/{{SubjectName}}/"),

		$("#Year4Class1Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year4.Class1.Name}}/Yr4_Eot_M/Yr4_Eot_L/{{SubjectName}}/"),
		$("#Year4Class2Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year4.Class2.Name}}/Yr4_Eot_M/Yr4_Eot_L/{{SubjectName}}/"),
		$("#Year4Class3Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year4.Class3.Name}}/Yr4_Eot_M/Yr4_Eot_L/{{SubjectName}}/"),
		$("#Year4Class4Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year4.Class4.Name}}/Yr4_Eot_M/Yr4_Eot_L/{{SubjectName}}/"),
		$("#Year4AvgLent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year4.Group.Name}}/Yr4_Eot_M/Yr4_Eot_L/{{SubjectName}}/"),

		$("#Year4Class1Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year4.Class1.Name}}/Yr4_Eot_L/Yr4_Eot_S/{{SubjectName}}/"),
		$("#Year4Class2Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year4.Class2.Name}}/Yr4_Eot_L/Yr4_Eot_S/{{SubjectName}}/"),
		$("#Year4Class3Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year4.Class3.Name}}/Yr4_Eot_L/Yr4_Eot_S/{{SubjectName}}/"),
		$("#Year4Class4Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year4.Class4.Name}}/Yr4_Eot_L/Yr4_Eot_S/{{SubjectName}}/"),
		$("#Year4AvgSummer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year4.Group.Name}}/Yr4_Eot_L/Yr4_Eot_S/{{SubjectName}}/"),		

		$("#Year5Class1Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year5.Class1.Name}}/Yr4_Eot_S/Yr5_Eot_M/{{SubjectName}}/"),
		$("#Year5Class2Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year5.Class2.Name}}/Yr4_Eot_S/Yr5_Eot_M/{{SubjectName}}/"),
		$("#Year5Class3Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year5.Class3.Name}}/Yr4_Eot_S/Yr5_Eot_M/{{SubjectName}}/"),
		$("#Year5Class4Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year5.Class4.Name}}/Yr4_Eot_S/Yr5_Eot_M/{{SubjectName}}/"),
		$("#Year5AvgMich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year5.Group.Name}}/Yr4_Eot_S/Yr5_Eot_M/{{SubjectName}}/"),

		$("#Year5Class1Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year5.Class1.Name}}/Yr5_Eot_M/Yr5_Eot_L/{{SubjectName}}/"),
		$("#Year5Class2Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year5.Class2.Name}}/Yr5_Eot_M/Yr5_Eot_L/{{SubjectName}}/"),
		$("#Year5Class3Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year5.Class3.Name}}/Yr5_Eot_M/Yr5_Eot_L/{{SubjectName}}/"),
		$("#Year5Class4Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year5.Class4.Name}}/Yr5_Eot_M/Yr5_Eot_L/{{SubjectName}}/"),		
		$("#Year5AvgLent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year5.Group.Name}}/Yr5_Eot_M/Yr5_Eot_L/{{SubjectName}}/"),

		$("#Year5Class1Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year5.Class1.Name}}/Yr5_Eot_L/Yr5_Eot_S/{{SubjectName}}/"),
		$("#Year5Class2Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year5.Class2.Name}}/Yr5_Eot_L/Yr5_Eot_S/{{SubjectName}}/"),
		$("#Year5Class3Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year5.Class3.Name}}/Yr5_Eot_L/Yr5_Eot_S/{{SubjectName}}/"),
		$("#Year5Class4Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year5.Class4.Name}}/Yr5_Eot_L/Yr5_Eot_S/{{SubjectName}}/"),
		$("#Year5AvgSummer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year5.Group.Name}}/Yr5_Eot_L/Yr5_Eot_S/{{SubjectName}}/"),	

		$("#Year6Class1Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year6.Class1.Name}}/Yr5_Eot_S/Yr6_Eot_M/{{SubjectName}}/"),
		$("#Year6Class2Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year6.Class2.Name}}/Yr5_Eot_S/Yr6_Eot_M/{{SubjectName}}/"),
		$("#Year6Class3Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year6.Class3.Name}}/Yr5_Eot_S/Yr6_Eot_M/{{SubjectName}}/"),
		$("#Year6Class4Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year6.Class4.Name}}/Yr5_Eot_S/Yr6_Eot_M/{{SubjectName}}/"),
		$("#Year6AvgMich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year6.Group.Name}}/Yr5_Eot_S/Yr6_Eot_M/{{SubjectName}}/"),

		$("#Year6Class1Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year6.Class1.Name}}/Yr6_Eot_M/Yr6_Eot_L/{{SubjectName}}/"),
		$("#Year6Class2Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year6.Class2.Name}}/Yr6_Eot_M/Yr6_Eot_L/{{SubjectName}}/"),
		$("#Year6Class3Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year6.Class3.Name}}/Yr6_Eot_M/Yr6_Eot_L/{{SubjectName}}/"),
		$("#Year6Class4Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year6.Class4.Name}}/Yr6_Eot_M/Yr6_Eot_L/{{SubjectName}}/"),
		$("#Year6AvgLent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year6.Group.Name}}/Yr6_Eot_M/Yr6_Eot_L/{{SubjectName}}/"),

		$("#Year6Class1Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year6.Class1.Name}}/Yr6_Eot_L/Yr6_Eot_S/{{SubjectName}}/"),
		$("#Year6Class2Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year6.Class2.Name}}/Yr6_Eot_L/Yr6_Eot_S/{{SubjectName}}/"),
		$("#Year6Class3Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year6.Class3.Name}}/Yr6_Eot_L/Yr6_Eot_S/{{SubjectName}}/"),
		$("#Year6Class4Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year6.Class4.Name}}/Yr6_Eot_L/Yr6_Eot_S/{{SubjectName}}/"),
		$("#Year6AvgSummer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year6.Group.Name}}/Yr6_Eot_L/Yr6_Eot_S/{{SubjectName}}/"),

		$("#Year7Class1Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year7.Class1.Name}}/Yr6_Eot_S/Yr7_Eot_M/{{SubjectName}}/"),
		$("#Year7Class2Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year7.Class2.Name}}/Yr6_Eot_S/Yr7_Eot_M/{{SubjectName}}/"),
		$("#Year7Class3Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year7.Class3.Name}}/Yr6_Eot_S/Yr7_Eot_M/{{SubjectName}}/"),
		$("#Year7Class4Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year7.Class4.Name}}/Yr6_Eot_S/Yr7_Eot_M/{{SubjectName}}/"),
		$("#Year7AvgMich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year7.Group.Name}}/Yr6_Eot_S/Yr7_Eot_M/{{SubjectName}}/"),

		$("#Year7Class1Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year7.Class1.Name}}/Yr7_Eot_M/Yr7_Eot_L/{{SubjectName}}/"),
		$("#Year7Class2Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year7.Class2.Name}}/Yr7_Eot_M/Yr7_Eot_L/{{SubjectName}}/"),
		$("#Year7Class3Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year7.Class3.Name}}/Yr7_Eot_M/Yr7_Eot_L/{{SubjectName}}/"),
		$("#Year7Class4Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year7.Class4.Name}}/Yr7_Eot_M/Yr7_Eot_L/{{SubjectName}}/"),
		$("#Year7AvgLent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year7.Group.Name}}/Yr7_Eot_M/Yr7_Eot_L/{{SubjectName}}/"),

		$("#Year7Class1Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year7.Class1.Name}}/Yr7_Eot_L/Yr7_Eot_S/{{SubjectName}}/"),
		$("#Year7Class2Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year7.Class2.Name}}/Yr7_Eot_L/Yr7_Eot_S/{{SubjectName}}/"),
		$("#Year7Class3Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year7.Class3.Name}}/Yr7_Eot_L/Yr7_Eot_S/{{SubjectName}}/"),
		$("#Year7Class4Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year7.Class4.Name}}/Yr7_Eot_L/Yr7_Eot_S/{{SubjectName}}/"),
		$("#Year7AvgSummer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year7.Group.Name}}/Yr7_Eot_L/Yr7_Eot_S/{{SubjectName}}/"),	

		$("#Year8Class1Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year8.Class1.Name}}/Yr7_Eot_S/Yr8_Eot_M/{{SubjectName}}/"),
		$("#Year8Class2Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year8.Class2.Name}}/Yr7_Eot_S/Yr8_Eot_M/{{SubjectName}}/"),
		$("#Year8Class3Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year8.Class3.Name}}/Yr7_Eot_S/Yr8_Eot_M/{{SubjectName}}/"),
		$("#Year8Class4Mich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year8.Class4.Name}}/Yr7_Eot_S/Yr8_Eot_M/{{SubjectName}}/"),
		$("#Year8AvgMich").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year8.Group.Name}}/Yr7_Eot_S/Yr8_Eot_M/{{SubjectName}}/"),

		$("#Year8Class1Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year8.Class1.Name}}/Yr8_Eot_M/Yr8_Eot_L/{{SubjectName}}/"),
		$("#Year8Class2Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year8.Class2.Name}}/Yr8_Eot_M/Yr8_Eot_L/{{SubjectName}}/"),
		$("#Year8Class3Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year8.Class3.Name}}/Yr8_Eot_M/Yr8_Eot_L/{{SubjectName}}/"),
		$("#Year8Class4Lent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year8.Class4.Name}}/Yr8_Eot_M/Yr8_Eot_L/{{SubjectName}}/"),
		$("#Year8AvgLent").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year8.Group.Name}}/Yr8_Eot_M/Yr8_Eot_L/{{SubjectName}}/"),

		$("#Year8Class1Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year8.Class1.Name}}/Yr8_Eot_L/Yr8_Eot_S/{{SubjectName}}/"),
		$("#Year8Class2Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year8.Class2.Name}}/Yr8_Eot_L/Yr8_Eot_S/{{SubjectName}}/"),
		$("#Year8Class3Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year8.Class3.Name}}/Yr8_Eot_L/Yr8_Eot_S/{{SubjectName}}/"),
		$("#Year8Class4Summer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year8.Class4.Name}}/Yr8_Eot_L/Yr8_Eot_S/{{SubjectName}}/"),
		$("#Year8AvgSummer").load("/WillowTree/{{ school }}/{{ AcYear }}/APSAverage/{{ClassYears.Year8.Group.Name}}/Yr8_Eot_L/Yr8_Eot_S/{{SubjectName}}/")	
    );});
</script>
</HEAD>
<BODY LANG="en-GB" DIR="LTR">
<div class='ClassListBody'>
	<h1>{{ SchoolName }}APS Progress report for  {{SubjectName}}:{{AcYear}}</h1>
	<table class='ReportTable'>
		<tr>
			<td colspan=7 class='ReportTableHeader'>Year 1</td>
		</tr>
		<tr>
			<td colspan=3 class='ReportTableHeader'>Mich</td>
			<td colspan=2 class='ReportTableHeader'>Lent</td>
			<td colspan=2 class='ReportTableHeader'>Summer</td>
		</tr>
		<tr>
			<td>{{ClassYears.Year1.Class1.MenuName}}</td>
			<td><div id='Year1Class1Mich' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year1.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year1AvgMich' class='ReportDataCol'>Av Loading</div></td>
			<td><div id='Year1Class1Lent' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year1.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year1AvgLent' class='ReportDataCol'>Av Loading</div></td>
			<td><div id='Year1Class1Summer' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year1.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year1AvgSummer' class='ReportDataCol'>Av Loading</div></td>

		</tr>
		<tr>
			<td>{{ClassYears.Year1.Class2.MenuName}}</td>
			<td><div id='Year1Class2Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year1Class2Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year1Class2Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		<tr>
			<td>{{ClassYears.Year1.Class3.MenuName}}</td>
			<td><div id='Year1Class3Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year1Class3Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year1Class3Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		{% if ClassYears.Year1.Class4 %}
		<tr>
			<td>{{ClassYears.Year1.Class4.MenuName}}</td>
			<td><div id='Year1Class4Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year1Class4Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year1Class4Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		{% endif %}
	</table>
	<br/>
	
	<table class='ReportTable'>
		<tr>
			<td colspan=7 class='ReportTableHeader'>Year 2</td>
		</tr>
		<tr>
			<td colspan=3 class='ReportTableHeader'>Mich</td>
			<td colspan=2 class='ReportTableHeader'>Lent</td>
			<td colspan=2 class='ReportTableHeader'>Summer</td>
		</tr>
		<tr>
			<td>{{ClassYears.Year2.Class1.MenuName}}</td>
			<td><div id='Year2Class1Mich' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year2.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year2AvgMich' class='ReportDataCol'>Av Loading</div></td>
			<td><div id='Year2Class1Lent' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year2.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year2AvgLent' class='ReportDataCol'>Av Loading</div></td>
			<td><div id='Year2Class1Summer' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year2.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year2AvgSummer' class='ReportDataCol'>Av Loading</div></td>

		</tr>
		<tr>
			<td>{{ClassYears.Year2.Class2.MenuName}}</td>
			<td><div id='Year2Class2Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year2Class2Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year2Class2Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		<tr>
			<td>{{ClassYears.Year2.Class3.MenuName}}</td>
			<td><div id='Year2Class3Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year2Class3Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year2Class3Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		{% if ClassYears.Year2.Class4 %}
		<tr>
			<td>{{ClassYears.Year2.Class4.MenuName}}</td>
			<td><div id='Year2Class4Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year2Class4Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year2Class4Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		{% endif %}
	</table>
	<br/>
	<table class='ReportTable'>
		<tr>
			<td colspan=7 class='ReportTableHeader'>Year 3</td>
		</tr>
		<tr>
			<td colspan=3 class='ReportTableHeader'>Mich</td>
			<td colspan=2 class='ReportTableHeader'>Lent</td>
			<td colspan=2 class='ReportTableHeader'>Summer</td>
		</tr>
		<tr>
			<td>{{ClassYears.Year3.Class1.MenuName}}</td>
			<td><div id='Year3Class1Mich' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year3.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year3AvgMich' class='ReportDataCol'>Av Loading</div></td>
			<td><div id='Year3Class1Lent' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year3.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year3AvgLent' class='ReportDataCol'>Av Loading</div></td>
			<td><div id='Year3Class1Summer' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year3.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year3AvgSummer' class='ReportDataCol'>Av Loading</div></td>

		</tr>
		<tr>
			<td>{{ClassYears.Year3.Class2.MenuName}}</td>
			<td><div id='Year3Class2Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year3Class2Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year3Class2Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		<tr>
			<td>{{ClassYears.Year3.Class3.MenuName}}</td>
			<td><div id='Year3Class3Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year3Class3Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year3Class3Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		{% if ClassYears.Year3.Class4 %}
		<tr>
			<td>{{ClassYears.Year3.Class4.MenuName}}</td>
			<td><div id='Year3Class4Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year3Class4Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year3Class4Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		{% endif %}
	</table>
	<br/>
	<table class='ReportTable'>
		<tr>
			<td colspan=7 class='ReportTableHeader'>Year 4</td>
		</tr>
		<tr>
			<td colspan=3 class='ReportTableHeader'>Mich</td>
			<td colspan=2 class='ReportTableHeader'>Lent</td>
			<td colspan=2 class='ReportTableHeader'>Summer</td>
		</tr>
		<tr>
			<td>{{ClassYears.Year4.Class1.MenuName}}</td>
			<td><div id='Year4Class1Mich' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year4.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year4AvgMich' class='ReportDataCol'>Av Loading</div></td>
			<td><div id='Year4Class1Lent' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year4.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year4AvgLent' class='ReportDataCol'>Av Loading</div></td>
			<td><div id='Year4Class1Summer' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year4.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year4AvgSummer' class='ReportDataCol'>Av Loading</div></td>

		</tr>
		<tr>
			<td>{{ClassYears.Year4.Class2.MenuName}}</td>
			<td><div id='Year4Class2Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year4Class2Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year4Class2Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		<tr>
			<td>{{ClassYears.Year4.Class3.MenuName}}</td>
			<td><div id='Year4Class3Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year4Class3Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year4Class3Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		{% if ClassYears.Year4.Class4 %}
		<tr>
			<td>{{ClassYears.Year4.Class4.MenuName}}</td>
			<td><div id='Year4Class4Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year4Class4Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year4Class4Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		{% endif %}
	</table>
	<br/>
	<table class='ReportTable'>
		<tr>
			<td colspan=7 class='ReportTableHeader'>Year 5</td>
		</tr>
		<tr>
			<td colspan=3 class='ReportTableHeader'>Mich</td>
			<td colspan=2 class='ReportTableHeader'>Lent</td>
			<td colspan=2 class='ReportTableHeader'>Summer</td>
		</tr>
		<tr>
			<td>{{ClassYears.Year5.Class1.MenuName}}</td>
			<td><div id='Year5Class1Mich' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year5.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year5AvgMich' class='ReportDataCol'>Av Loading</div></td>
			<td><div id='Year5Class1Lent' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year5.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year5AvgLent' class='ReportDataCol'>Av Loading</div></td>
			<td><div id='Year5Class1Summer' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year5.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year5AvgSummer' class='ReportDataCol'>Av Loading</div></td>

		</tr>
		<tr>
			<td>{{ClassYears.Year5.Class2.MenuName}}</td>
			<td><div id='Year5Class2Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year5Class2Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year5Class2Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		<tr>
			<td>{{ClassYears.Year5.Class3.MenuName}}</td>
			<td><div id='Year5Class3Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year5Class3Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year5Class3Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		{% if ClassYears.Year5.Class4 %}
		<tr>
			<td>{{ClassYears.Year5.Class4.MenuName}}</td>
			<td><div id='Year5Class4Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year5Class4Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year5Class4Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		{% endif %}
	</table>
	<br/>
	<table class='ReportTable'>
		<tr>
			<td colspan=7 class='ReportTableHeader'>Year 6</td>
		</tr>
		<tr>
			<td colspan=3 class='ReportTableHeader'>Mich</td>
			<td colspan=2 class='ReportTableHeader'>Lent</td>
			<td colspan=2 class='ReportTableHeader'>Summer</td>
		</tr>
		<tr>
			<td>{{ClassYears.Year6.Class1.MenuName}}</td>
			<td><div id='Year6Class1Mich' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year6.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year6AvgMich' class='ReportDataCol'>Av Loading</div></td>
			<td><div id='Year6Class1Lent' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year6.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year6AvgLent' class='ReportDataCol'>Av Loading</div></td>
			<td><div id='Year6Class1Summer' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year6.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year6AvgSummer' class='ReportDataCol'>Av Loading</div></td>

		</tr>
		<tr>
			<td>{{ClassYears.Year6.Class2.MenuName}}</td>
			<td><div id='Year6Class2Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year6Class2Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year6Class2Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		<tr>
			<td>{{ClassYears.Year6.Class3.MenuName}}</td>
			<td><div id='Year6Class3Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year6Class3Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year6Class3Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		{% if ClassYears.Year6.Class4 %}
		<tr>
			<td>{{ClassYears.Year6.Class4.MenuName}}</td>
			<td><div id='Year6Class4Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year6Class4Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year6Class4Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		{% endif %}
	</table>

{% if ClassYears.Year7 %}
<div style='page-break-before:always;float:clear;padding-top:5mm'></div>
<br/>
	<table class='ReportTable'>
		<tr>
			<td colspan=7 class='ReportTableHeader'>Year 7</td>
		</tr>
		<tr>
			<td colspan=3 class='ReportTableHeader'>Mich</td>
			<td colspan=2 class='ReportTableHeader'>Lent</td>
			<td colspan=2 class='ReportTableHeader'>Summer</td>
		</tr>
		<tr>
			<td>{{ClassYears.Year7.Class1.MenuName}}</td>
			<td><div id='Year7Class1Mich' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year7.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year7AvgMich' class='ReportDataCol'>Av Loading</div></td>
			<td><div id='Year7Class1Lent' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year7.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year7AvgLent' class='ReportDataCol'>Av Loading</div></td>
			<td><div id='Year7Class1Summer' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year7.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year7AvgSummer' class='ReportDataCol'>Av Loading</div></td>

		</tr>
		<tr>
			<td>{{ClassYears.Year7.Class2.MenuName}}</td>
			<td><div id='Year7Class2Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year7Class2Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year7Class2Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		<tr>
			<td>{{ClassYears.Year7.Class3.MenuName}}</td>
			<td><div id='Year7Class3Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year7Class3Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year7Class3Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		{% if ClassYears.Year7.Class4 %}
		<tr>
			<td>{{ClassYears.Year7.Class4.MenuName}}</td>
			<td><div id='Year7Class4Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year7Class4Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year7Class4Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		{% endif %}
	</table>
	<br/>
	<table class='ReportTable'>
		<tr>
			<td colspan=7 class='ReportTableHeader'>Year 8</td>
		</tr>
		<tr>
			<td colspan=3 class='ReportTableHeader'>Mich</td>
			<td colspan=2 class='ReportTableHeader'>Lent</td>
			<td colspan=2 class='ReportTableHeader'>Summer</td>
		</tr>
		<tr>
			<td>{{ClassYears.Year8.Class1.MenuName}}</td>
			<td><div id='Year8Class1Mich' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year8.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year8AvgMich' class='ReportDataCol'>Av Loading</div></td>
			<td><div id='Year8Class1Lent' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year8.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year8AvgLent' class='ReportDataCol'>Av Loading</div></td>
			<td><div id='Year8Class1Summer' class='ReportDataCol'>Loading</div></td>
			<td {% if ClassYears.Year8.Class4 %}rowspan=4{%else%}rowspan=3{%endif%}><div id='Year8AvgSummer' class='ReportDataCol'>Av Loading</div></td>

		</tr>
		<tr>
			<td>{{ClassYears.Year8.Class2.MenuName}}</td>
			<td><div id='Year8Class2Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year8Class2Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year8Class2Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		<tr>
			<td>{{ClassYears.Year8.Class3.MenuName}}</td>
			<td><div id='Year8Class3Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year8Class3Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year8Class3Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		{% if ClassYears.Year8.Class4 %}
		<tr>
			<td>{{ClassYears.Year8.Class4.MenuName}}</td>
			<td><div id='Year8Class4Mich' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year8Class4Lent' class='ReportDataCol'>Loading</div></td>
			<td><div id='Year8Class4Summer' class='ReportDataCol'>Loading</div></td>
		</tr>
		{% endif %}
	</table>
{% endif %}
</div>


</BODY>
</HTML>
