
<!DOCTYPE HTML>
{% load static from staticfiles %}
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>{{ class.ClassListName }}</TITLE>
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<style>
	body  {
	margin-left:1cm;
	margin-right:1cm;
	}
	.ClassListHeader {
	font-size: 14px;		
	display: block;
	float:clear;
	overflow:auto;
	font-family: 'Montserrat', sans-serif;
	}
	.ClassListBody {
	font-size: 12px;		
	display: block;
	float:clear;
	overflow:auto;
	font-family: 'Montserrat', sans-serif;
	}
	h1 {
		font-size: 24px;
		font-weight:600;
		text-align:center;
	}
	table {
		width:100%;
		border-bottom: 1px solid black;
		margin-bottom:20px;
	}
	th {
		border-bottom: 1px solid black;
		border-top: 1px solid black;
		font-weight:600;
	}
	.classListFooter {
		font-family: 'Montserrat', sans-serif;
		font-size: 10px;
		border-bottom:1px solid black;
		border-top:1px solid black;
	}
</style>
</HEAD>
<BODY LANG="en-GB" DIR="LTR">
<div class='ClassListBody'>
{% load WillowFilters %}
<table>
	<tr>
		<th>Name</th>
		<th>Form</th>
		<th>Day</td>
		<th>Month</th>
		<th>DOB</th>
		<th>Current Age</th>
	</tr>
	{% for pupil in class.BirthdayListAll %}
	{% if pupil.Pupil.Gender == 'F' %}
	<tr style='color:darkred;'>
	{% endif %}
	{% if pupil.Pupil.Gender == 'M' %}
	<tr style='color:blue;'>
	{% endif %}
		<td>{{pupil.Pupil.FullName}}</td>
		<td>{{pupil.Form}}</td>
		<td>{{pupil.Pupil.DateOfBirth.day}}</td>
		<td>{{pupil.Pupil.DateOfBirth.month}}</td>
		<td>{{pupil.Pupil.DateOfBirth|date:"d-m-Y" }}</td>
		<td>{{pupil.Pupil.DateOfBirth|Age}}</td>
	</tr>
	{% endfor %}
</table>

</div>


</BODY>
</HTML>
