
<!DOCTYPE HTML>
{% load static from staticfiles %}
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>{{ class.ClassListName }}</TITLE>
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<style>
	body  {
	margin-left:1cm;
	margin-right:1cm;
	}
	.ClassListHeader {
	font-size: 14px;		
	display: block;
	float:clear;
	overflow:auto;
	font-family: 'Montserrat', sans-serif;
	}
	.ClassListBody {
	font-size: 12px;		
	display: block;
	float:clear;
	overflow:auto;
	font-family: 'Montserrat', sans-serif;
	}
	h1 {
		font-size: 24px;
		font-weight:600;
		text-align:center;
	}
	table {
		width:100%;
		border-bottom: 1px solid black;
		margin-bottom:20px;
	}
	th {
		border-bottom: 1px solid black;
		border-top: 1px solid black;
		font-weight:600;
	}
	.classListFooter {
		font-family: 'Montserrat', sans-serif;
		font-size: 10px;
		border-bottom:1px solid black;
		border-top:1px solid black;
	}
</style>
</HEAD>
<BODY LANG="en-GB" DIR="LTR">
<div class='ClassListHeader'>
	<table border=0>
		<tr>
			<td><img src="{% static class.ThisMonthImage %}" width="200" height="130" /></td>
			<td><h1>Thomas's {{ class.SchoolName }}	Birthday list {{class.NewAcYear}}</h1><br></td>
			<td><img src="{% static class.ThisMonthImage %}" width="200" height="130" /></td>
		</tr>
	</table>

	Class:  <span style='font-weight:600;font-size:16px;'>{{ class.Name }}</span><br><br>
	Teacher/s: {{ class.Teachers }}<br>
</div>
<div class='ClassListBody'>
<table>
	<tr>
		<th>Name</th>
		<th>Date of Birth</th>
		<th>Gender</td>
		<th>Groups</th>
		<th>House</th> 
	</tr>
	{% for pupil in class.BirthdayList %}
	{% if pupil.Pupil.Gender == 'F' %}
	<tr style='color:darkred;'>
	{% endif %}
	{% if pupil.Pupil.Gender == 'M' %}
	<tr style='color:blue;'>
	{% endif %}
		<td>{{pupil.Pupil.Surname}}, {{pupil.Pupil.FirstName}}</td>
		<td>{{ pupil.Pupil.DateOfBirth|date:"jS N Y" }}</td>
		<td style='text-align:center'>{{pupil.Pupil.Gender}}</td>
		<td>{{ pupil.Form }}</td>
		<td>{{pupil.AcademicHouse}}</td>
	</tr>
	{% endfor %}
</table>

</div>


</BODY>
</HTML>
