
{% load WillowFilters %}
{% load static from staticfiles %}
<style>
table, th, td {
	border: 1px solid black;
	border-collapse:collapse;
}
</style>
<html>
{% for i in data %}	
	<div style='font-weight:bold;'>
		<div style='float:left;'><span>Class group attendance analysis for {{ i.school }} {{ i.GroupNameShort }} ({{ i.startDate.date.isoformat|englishDateFormat }} to {{ i.endDate.date.isoformat|englishDateFormat }})</span></div>
		<div style='float:right;'>{{ i.todaysDate }}</div>
	</div>
	<div style='clear:both;'>
		<table>
			<tr>
				<td></td>
			{% for date in i.DateRange %}
				{% if date.date.weekday != 5 %}
				{% if date.date.weekday != 6 %}
				<td colspan='2'>
					<div style='padding:5px;'>{{ date.date.weekday|workOutDayFromWeekdayShort }}<br />{{ date.date.isoformat|englishDateFormat }}</div>
				</td>
				{% endif %}
				{% endif %}
				{% endfor %}
			</tr>			
			{% for attendance in i.AttendanceData %}
			<tr>
				<td>
					<span>{{ attendance.Pupil.FullName }}</span>
				</td>
				{% for att in attendance.Data %}
				{% if att.4.weekday != 5 %}
				{% if att.4.weekday != 6 %}
				{% if att.0 != '/' %}
				<td style='background-color:pink;'>
					<span>{{ att.0 }}</span>
				</td>
				{% else %}
				<td>
					<span>{{ att.0 }}</span>
				</td>				
				{% endif %}
				{% endif %}
				{% endif %}
				{% endfor %}
			</tr>			
			{% endfor %}
		</table>
	</div>
	<div style='page-break-before:always;float:clear;'></div>
{% endfor %}
</html>
