
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static from staticfiles %}
<html>
<head>
<META name="description" content="">
<Meta name="keywords" content="">
<TITLE>Trends over time Analysis <br>
    {{ DataObj.SubjectName }} : {{self.AcYear}} ({{ DataObj.AnalysisGrade }}) (Gen Date {{ DataObj.today|date:"SHORT_DATE_FORMAT" }})</TITLE>
<STYLE TYPE="text/css">
	h1 { font-size: 20pt;
	font-weight:700;
	text-align:center;
	font-family:Georgia,"New Times Roman",Arial;}
	h2 { font-size: 12pt;
	font-weight:300;
	border: 2px solid black;}
	h3 { font-size: 12pt;
	font-family:Georgia,"New Times Roman",Arial;	
	page-break-after: always;}
	table { font-size: 12pt;
	font-family:Georgia,"New Times Roman",Arial;}
	.index { font-size: 12pt;
	font-family:Georgia,"New Times Roman",Arial;
	font-weight:700;}
	<!--
		@page { margin-left: 1cm; margin-right: 1cm }
		P { margin-bottom: 0.21cm }
		TD P { margin-bottom: 0cm }
	-->
body{ font-size: 13px; }
#main_wrapper{ width: 900px; margin: 0 auto; }
#main_wrapper_narrow{ width: 800px; margin: 0 auto; }

header{ background: #f5f5f5; border-bottom: 1px solid transparent; font-size: 13px; padding: 5px 10px; }
#dataTables{ margin: 5px 0 0 0; }
#dataTables table th{ padding: 3px; }
#dataTables table td{ border: 1px solid; padding: 2px; }
#averageAPS, .averageAPS{ font-size: 16px; text-align: center; }

.APS_Review #tblResult{ width: 900px; margin: 15px 0 0 0; border-spacing: 0px; border-collapse: collapse; }
.APS_Review #tblResult thead th{ background: lightblue; }
.APS_Review #tblResult thead th, .APS_Review #tblResult td{ padding: 3px; }

.APSless{ background: lightpink; }
.APSzero{ background: lightyellow; }
.APSmore{ background: lightblue; }
.center{ text-align: center;}
.bold{ font-weight: bold; }
.left{ float: left; }
.clear{ clear: both; }

input[type="radio"]{
	margin: 1px 0 0 0;
}
.radfilt_txt{ margin: 0 4px 0 48px; float: left; }

@media print
{
	table { page-break-after:auto }
	tr    { page-break-inside:avoid; page-break-after:auto }
	td    { page-break-inside:avoid; page-break-after:auto }
	thead { display:table-header-group }
	tfoot { display:table-row-group }
	.no-print { display: none; }
	table{ margin: 0 auto; }
}
</STYLE>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<link rel="stylesheet" href="styles.css">
<!--- <script src="https://willowtrain.thomas-s.co.uk/static/js/jquery.min.js"></script>   --->
<script type="text/javascript">
	document.write("\<script src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js' type='text/javascript'>\<\/script>");
</script>
</head>
<body>
<div id="main_wrapper_narrow">
  <h1>Year <span class="repYear"></span> analysis : Chart 1  {{ DataObj.SubjectName }} (Gen Date {{ DataObj.today|date:"SHORT_DATE_FORMAT" }})</h1>
  <p> This chart shows the percentages of pupils gaining a specified level</p>
    <div id="chart1"></div>
	<p>
	<div id="table1"></div>
	</p>
	<h3>.</h3>
	  <h1>Year <span class="repYear"></span> analysis : Chart 2 {{ DataObj.SubjectName }} (Gen Date {{ DataObj.today|date:"SHORT_DATE_FORMAT" }})</h1>
	<p> This chart shows the percentages of pupils obtaining the level of <span class="g1Above"></span> or above</p>
    <div id="chart2"></div>
	<div id="table2"></div>
	<h3>.</h3>
	  <h1>Year <span class="repYear"></span> analysis : Chart 3 {{ DataObj.SubjectName }} (Gen Date {{ DataObj.today|date:"SHORT_DATE_FORMAT" }})</h1>
		<p> This chart shows the percentages of boys against girls obtaining the level of <span class="g1Above"></span> or above</p>
    <div id="chart3"></div>
	<div id="table3"></div>
	<h3>.</h3>
	  <h1>Year <span class="repYear"></span> analysis : Chart 4 {{ DataObj.SubjectName }} (Gen Date {{ DataObj.today|date:"SHORT_DATE_FORMAT" }})</h1>
	<p> This chart shows the percentages of pupils obtaining the level of <span class="g2Above"></span> or above</p>
    <div id="chart4"></div>
	<div id="table4"></div>
	<h3>.</h3>
	  <h1>Year <span class="repYear"></span> analysis : Chart 5 {{ DataObj.SubjectName }} (Gen Date {{ DataObj.today|date:"SHORT_DATE_FORMAT" }})</h1>
		<p> This chart shows the percentages of boys against girls obtaining the level of <span class="g2Above"></span> or above</p>
    <div id="chart5"></div>
	<div id="table5"></div>
</div>
<script type="text/javascript">
var jsonp='';
{% for datalines in DataObj.JSONData %}
jsonp += {{ datalines|safe }};
{% endfor %}
	var objData = $.parseJSON(jsonp);
	console.log(objData);
		
	if ( objData.Table1[0].Level == 'W' ){ repYear = 2; g1Above = '2b'; g2Above = '2a'; g3Above = '3c'; }
	if ( objData.Table1[0].Level == '2c' ){ repYear = 4; g1Above = '3b'; g2Above = '3a'; g3Above = '4c'; }
	if ( objData.Table1[0].Level == '3c' ){ repYear = 6; g1Above = '4b'; g2Above = '4a'; g3Above = '5c'; }
	if ( objData.Table1[0].Level == '4b' ){ repYear = 8; g1Above = '5b'; g2Above = '5a'; g3Above = '6c'; }
	
	$('.repYear').html(repYear);
	$('.g1Above').html(g1Above);
	$('.g2Above').html(g2Above);

	google.load("visualization", "1", {packages:["corechart"]});
	google.load("visualization", "1", {packages:["table"]});
	
	google.setOnLoadCallback(drawChart1);
	google.setOnLoadCallback(drawChart2);
	google.setOnLoadCallback(drawChart3);
	google.setOnLoadCallback(drawChart4);
	google.setOnLoadCallback(drawChart5);
	
	function drawChart1() {
		var data = new google.visualization.DataTable();
		var levelArr = new Array();
		var yearArr = new Array();
		
		data.addColumn('string', 'Levels');
		
		$.each( objData.Table1, function( i, item ){
			levelArr.push( item.Level )
		});
		$.each( objData.Table2, function( i, item ){
			yearArr.push( item.Year )
			data.addColumn('number', item.Year );
		});
		
		data.addRows( levelArr.length );
		
		var dataRow = 0;
		
		$.each( objData.Table1, function( i, item ){
			var dataCol=1;
			data.setValue( dataRow, 0, item.Level  );
			$.each( item.Data, function( x, xd ){
				data.setValue( dataRow, dataCol, xd[1]  );
				dataCol++;
			});
			dataRow++;
		});
		
        var chart = new google.visualization.ColumnChart(document.getElementById('chart1'));
		var table = new google.visualization.Table(document.getElementById('table1'));
		var formatter = new google.visualization.NumberFormat();
		
		for ( i=1; i <= objData.Table1[0].Data.length; i++ ){
			formatter.format(data, i);
		}
		
		var Colour_formatter = new google.visualization.ColorFormat();
		Colour_formatter.addGradientRange(0.1, 60, 'red','white','plum');
		
		for ( i=1; i <= objData.Table1[0].Data.length; i++ ){
			Colour_formatter.format(data, i);
		}
		
        chart.draw(data, {width: 800, height: 600, title: 'MA : '+ objData.Table2[0].Year +' - ' + objData.Table2[objData.Table2.length - 1].Year,
                          hAxis: {title: 'Levels', titleTextStyle: {color: 'red'}},
						  vAxis: {title: '% of Pupils achieving the level',titleTextStyle: {color: 'green'}, maxValue: 100},
						  backgroundColor: {stroke: 'ffff00', strokeWidth: 2}
                         });
		table.draw(data, {width:800, allowHtml: true});	
	}
	
	function drawChart2() {
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Levels');	
		data.addColumn('number', g1Above + ' or Above');
		data.addColumn('number', g2Above + ' or Above');
		data.addRows( objData.Table2.length );
		
		var dataRow = 0;
		$.each( objData.Table2, function( i, item ){
			data.setValue( dataRow,0,item.Year );
			data.setValue( dataRow,1,item.Data[0][1].All );
			data.setValue( dataRow,2,item.Data[1][1].All );
			dataRow++;
		});
        var chart = new google.visualization.ColumnChart(document.getElementById('chart2'));
		var table = new google.visualization.Table(document.getElementById('table2'));
		var formatter = new google.visualization.NumberFormat();
		formatter.format(data, 1);
		formatter.format(data, 2);
		var Colour_formatter = new google.visualization.ColorFormat();
		Colour_formatter.addGradientRange(30, 100, 'red','white','plum');
		Colour_formatter.format(data, 1);
		Colour_formatter.format(data, 2);
        chart.draw(data, {width: 800, height: 600, title: 'MA : '+ objData.Table2[0].Year +' - ' + objData.Table2[objData.Table2.length - 1].Year,
                          hAxis: {title: 'Levels', titleTextStyle: {color: 'red'}},
						  vAxis: {title: '% of Pupils achieving the level',titleTextStyle: {color: 'green'}, maxValue: 100},
						  colors: ['Gold','GreenYellow'],
						  backgroundColor: {stroke: 'ffff00', strokeWidth: 2}
                         });
		table.draw(data, {width:800, allowHtml: true});	
	}
	
	function drawChart3() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Levels');
        data.addColumn('number', 'Boys');
		data.addColumn('number', 'Girls');
        data.addRows( objData.Table2.length );
		
		var dataRow = 0;
		$.each( objData.Table2, function( i, item ){
			data.setValue( dataRow,0,item.Year );
			data.setValue( dataRow,1,item.Data[0][1].M );
			data.setValue( dataRow,2,item.Data[0][1].F );
			dataRow++;
		});
			
       var chart = new google.visualization.ColumnChart(document.getElementById('chart3'));
		var table = new google.visualization.Table(document.getElementById('table3'));
		var formatter = new google.visualization.NumberFormat();
		formatter.format(data, 1);
		formatter.format(data, 2);
		var Colour_formatter = new google.visualization.ColorFormat();
		Colour_formatter.addGradientRange(20, 100, 'red','white','plum');
		Colour_formatter.format(data, 1);
		Colour_formatter.format(data, 2);
        chart.draw(data, {width: 800, height: 600, title: 'MA : '+ objData.Table2[0].Year +' - ' + objData.Table2[objData.Table2.length - 1].Year,
                          hAxis: {title: 'Years', titleTextStyle: {color: 'red'}},
						  vAxis: {title: '% of Boys v Girls achieving a '+ g1Above +' or above',titleTextStyle: {color: 'green'}, maxValue: 100},
						  backgroundColor: {stroke: 'ffff00', strokeWidth: 2}
                         });
		table.draw(data, {width:800, allowHtml: true});	
      }
	  
	 function drawChart4() {
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Levels');	
		data.addColumn('number', g2Above + ' or Above');
		data.addColumn('number', g3Above + ' or Above');
		data.addRows( objData.Table2.length );
		
		var dataRow = 0;
		$.each( objData.Table2, function( i, item ){
			data.setValue( dataRow,0,item.Year );
			data.setValue( dataRow,1,item.Data[1][1].All );
			data.setValue( dataRow,2,item.Data[2][1].All );
			dataRow++;
		});
        var chart = new google.visualization.ColumnChart(document.getElementById('chart4'));
		var table = new google.visualization.Table(document.getElementById('table4'));
		var formatter = new google.visualization.NumberFormat();
		formatter.format(data, 1);
		formatter.format(data, 2);
		var Colour_formatter = new google.visualization.ColorFormat();
		Colour_formatter.addGradientRange(30, 100, 'red','white','plum');
		Colour_formatter.format(data, 1);
		Colour_formatter.format(data, 2);
        chart.draw(data, {width: 800, height: 600, title: 'MA : '+ objData.Table2[0].Year +' - ' + objData.Table2[objData.Table2.length - 1].Year,
                          hAxis: {title: 'Levels', titleTextStyle: {color: 'red'}},
						  vAxis: {title: '% of Pupils achieving the level',titleTextStyle: {color: 'green'}, maxValue: 100},
						  colors: ['Gold','GreenYellow'],
						  backgroundColor: {stroke: 'ffff00', strokeWidth: 2}
                         });
		table.draw(data, {width:800, allowHtml: true});	
	} 	
	
	function drawChart5() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Levels');
        data.addColumn('number', 'Boys');
		data.addColumn('number', 'Girls');
        data.addRows( objData.Table2.length );
		
		var dataRow = 0;
		$.each( objData.Table2, function( i, item ){
			data.setValue( dataRow,0,item.Year );
			data.setValue( dataRow,1,item.Data[1][1].M );
			data.setValue( dataRow,2,item.Data[1][1].F );
			dataRow++;
		});
			
       var chart = new google.visualization.ColumnChart(document.getElementById('chart5'));
		var table = new google.visualization.Table(document.getElementById('table5'));
		var formatter = new google.visualization.NumberFormat();
		formatter.format(data, 1);
		formatter.format(data, 2);
		var Colour_formatter = new google.visualization.ColorFormat();
		Colour_formatter.addGradientRange(20, 100, 'red','white','plum');
		Colour_formatter.format(data, 1);
		Colour_formatter.format(data, 2);
        chart.draw(data, {width: 800, height: 600, title: 'MA : '+ objData.Table2[0].Year +' - ' + objData.Table2[objData.Table2.length - 1].Year,
                          hAxis: {title: 'Years', titleTextStyle: {color: 'red'}},
						  vAxis: {title: '% of Boys v Girls achieving a '+ g1Above +' or above',titleTextStyle: {color: 'green'}, maxValue: 100},
						  backgroundColor: {stroke: 'ffff00', strokeWidth: 2}
                         });
		table.draw(data, {width:800, allowHtml: true});	
      }
</script>
</body>
</html>
