
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static from staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<META name="description" content="Comments Report">
	<Meta name="keywords" content="Comments Report">
    <TITLE>comments for {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.Term}}/{{DataObj.AcYear}}</TITLE>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/AnalysisReportStyles.css" />
	<!--- <script src="https://willowtrain.thomas-s.co.uk/static/js/jquery.min.js"></script>   --->
	<script type="text/javascript">
		document.write("\<script src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js' type='text/javascript'>\<\/script>");
	</script>
	<style>
		tbody tr:nth-child(even){ background-color: #fff; }
		
	</style>
</head>
<body>
<div id="main_wrapper">
	<header class="panel-heading">comments for {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.Term}}/{{DataObj.AcYear}}</header>
	<div class="dataTables">
	<form action="report1.html" id="frmReport">
		<table id="tblResult" BORDER="1"  BORDERCOLOR="#000000" CELLPADDING="3" CELLSPACING=0 class="APSpupiltable">
		<thead>
			<tr class="no-print" class="font11">
			<td colspan="10" class="font11" style="text-align: center;">
				Class: 	<select id="sltClass"></select>
				&nbsp;&nbsp;&nbsp;&nbsp;
              	Gender: <select id="chkGender">
							<option value="0" selected="selected">N/A</option>
							<option value="M">Male</option>
							<option value="F">Female</option>
              			</select>
			</td>
			</tr>
		</thead>			
		<tbody></tbody>
		<tfoot></tfoot>
		</table>
	<div>
</div>

<script type="text/javascript">
jsonp = '';
{% for datalines in DataObj.JSONData %}
jsonp += {{ datalines|safe }};  
{% endfor %}
var objData = $.parseJSON(jsonp);
console.log( objData );

$(document).ready(function() {
	
	$('#sltClass').change(function () {
		displayRows();	
	});
	$("#chkGender").change(function () {
		displayRows();
	});
	
	var classData = [];
	var classOptions = '<option value="0">All</option>';
	$.each(objData, function(i, item){
		if ( $.inArray( item['Class'], classData ) == -1 ) {
				classData.push( item['Class'] );
			} 
	});
	$.each( classData, function(i, item){
		classOptions += '<option value=' + item + '>' + item + '</option>';
	});
	$('#sltClass').html( classOptions );
	
	displayRows();
});

function displayRows(){
	filtClass = $( '#sltClass' ).val();
	filtGender = $( '#chkGender' ).val();
	rowsHTML = '';
	
	$.each( objData , function( i , item ){
		isValid = true;
		
		if( filtGender != '0' && item.Gender != filtGender ){
			isValid = false;
		}
		if( filtClass != '0' && item.Class != filtClass ){
			isValid = false;
		}
		
		if( isValid ){
			charCount = item.Level[0].Level.length;
			wc = item.Level[0].Level.split( ' ' );
			wordCount = wc.length;
			
			rowsHTML += '<tr><td><table><tr>';
			rowsHTML += '<td colspan=2 width=200 height=50 class="center bold" style="border: 1px solid #ccc; background: #eee;">' + item.Fullname + '</td>';
			rowsHTML += '<td rowspan=2 style="padding: 0 5px;">' + item.Level[0].Level + '</td>';
			rowsHTML += '</tr><tr>';
			rowsHTML += '<td width=100 class="center" style="border: 1px solid #ccc;">Char Count<br>' + charCount + '</td>';
			rowsHTML += '<td width=100 class="center" style="border: 1px solid #ccc;">Word Count<br>' + wordCount + '</td>';
			rowsHTML += '</tr>';
			
			rowsHTML += '</table></tr></td>';
		}
	});
	console.log(rowsHTML);
	$('#tblResult tbody').html( rowsHTML );

}

</script>
</body></html>
