
{% extends 'Reports/ReportBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
<p><br></p>
<div class='ClassListHeader'>Daily Attendance Report for<br /><br />{{ ReportData.GroupName }}</div>
<p><br></p>
<div style='float:left;'>
	<table class='DailyTable'>
		<tr><th>Pupil</th><th>AM</th><th>PM</th></tr>
			{% for records in ReportData.DailyReport.Report %}
		<tr>
			<td>{{records.PupilDetails.FullName}}</td><td>{{records.AM}}</td><td>{{records.PM}}</td>
		</tr>
	{% endfor %}
	</table>
</div>
<div style='float:right;'>
	<table>
		{% for i in AttCodes %}
		<tr>
			<td><span style='font-weight:bold;'>{{ i.AttendanceCode }} - </span></td><td>{{ i.AttendanceDesc }}</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}
