
{% extends 'Reports/FireDrillBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}

<p><br></p>
<div class='ClassListHeader'>Data / Assessment Sheet for {{pupil.Pupil.FullName }}</div>
<p><br></p>
<table>
	<tr>
		<th colspan=2>Reading/Spelling Ages</th>
	</tr>
	<tr>
		<td>Spelling Age</td><td></td>
	</tr>
	<tr>
		<td>Spelling Age STD</td><td></td>
	</tr>
	<tr>
		<td>Reading Age</td><td></td>
	</tr>
	<tr>
		<td>Reading Age STD</td><td></td>
	</tr>
</table>

{% endblock %}
