
<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EYFS Mapping Attainment &amp; Progress</title>
    <link rel="stylesheet" href="{% static "css/EYFS/reset.css"%}">
    <link rel="stylesheet" href="{% static "css/EYFS/960_24_col.css"%}">
    <link rel="stylesheet" href="{% static "css/EYFS/text.css"%}">
    <link rel="stylesheet" href="{% static "css/EYFS/style.css"%}" type="text/css" media="screen, print" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

   
    <div class="container_24">
        <div class="grid_24">
            <header>
                    <h1>EYFS Mapping Attainment &amp; Progress</h1>
                    <h3>All Pupils</h3>
                    <h3>Report Description:</h3>
                    <p>This report plots pupils on a grid based on attainment On Entry through to the end of Mich, Lent and Summer terms. Each age band is split into <span class="orange">Beginning</span>, <span class="green">Developing</span> and <span class="pink">Secure</span> except for the Early Learning Goals (ELG) section to the right of the grid, this is split into standardised <span class="orange">Emerging</span>, <span class="green">Expected</span> and <span class="pink">Exceeding</span>. The <span class="aqua">Aqua</span> boxes are national age related expectations for Reception pupils. This report summarises progress in the 17 aspects of Prime and Specific Areas of Learning and Development.</p>
                    <h2>{{Report.GroupName}} : {{ Report.EYFSArea }}</h2>
            </header>
            
            <table class="table table-bordered tg-table-plain">
                <thead>
              <tr>
                            <th rowspan="2" class="tg-center"></th>
                            <th colspan="3" class="tg-center">30-50 Months</th>
                            <th colspan="3" class="tg-center">40 - 60+ Months</th>
                            <th colspan="3" class="tg-center">ELG</th>
                          </tr>
                          <tr class="tg-even">
                            <th class="tg-center orange">BEGINNING <br> <img class="smiley" src="{% static "images/smiley-orange.jpg" %}" alt=""></th>
                            <th class="tg-center green">DEVELOPING <br> <img class="smiley" src="{% static "images/smiley-green.jpg" %}" alt=""></th>
                            <th class="tg-center pink">SECURE<br> <img class="smiley" src="{% static "images/smiley-pink.jpg"%}" alt=""></th>
                            <th class="tg-center orange">BEGINNING<br> <img class="smiley" src="{% static "images/smiley-orange.jpg" %}" alt=""></th>
                            <th class="tg-center green">DEVELOPING<br> <img class="smiley" src="{% static "images/smiley-green.jpg" %}" alt=""></th>
                            <th class="tg-center pink">SECURE<br> <img class="smiley" src="{% static "images/smiley-pink.jpg" %}" alt=""></th>
                            <th class="tg-center orange">EMERGING<br> <img class="smiley" src="{% static "images/smiley-orange.jpg" %}" alt=""></th>
                            <th class="tg-center green">EXPECTED<br> <img class="smiley" src="{% static "images/smiley-green.jpg" %}" alt=""></th>
                            <th class="tg-center pink">EXCEEDING<br> <img class="smiley" src="{% static "images/smiley-pink.jpg" %}" alt=""></th>
                          </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tg-center upper">On Entry</td>
                        <td class="tg-center">{% for pupils in Report.OnEntryData.3050.Beginning.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center">{% for pupils in Report.OnEntryData.3050.Development.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center aqua">{% for pupils in Report.OnEntryData.3050.Secure.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center aqua">{% for pupils in Report.OnEntryData.4060.Beginning.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center">{% for pupils in Report.OnEntryData.4060.Development.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center">{% for pupils in Report.OnEntryData.4060.Secure.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center">{% for pupils in Report.OnEntryData.ELG.Emerging.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center">{% for pupils in Report.OnEntryData.ELG.Expected.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center">{% for pupils in Report.OnEntryData.ELG.Exceeding.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                    </tr>
                    <tr class="tg-even">
						<td class="tg-center">%</td>
                        <td class="tg-center">{{Report.OnEntryData.3050.Beginning.Percentage|floatformat}}%</td>
                        <td class="tg-center">{{Report.OnEntryData.3050.Development.Percentage|floatformat}}%</td>
                        <td class="tg-center">{{Report.OnEntryData.3050.Secure.Percentage|floatformat}}%</td>
                        <td class="tg-center">{{Report.OnEntryData.4060.Beginning.Percentage|floatformat}}%</td>
                        <td class="tg-center">{{Report.OnEntryData.4060.Development.Percentage|floatformat}}%</td>
                        <td class="tg-center">{{Report.OnEntryData.4060.Secure.Percentage|floatformat}}%</td>
                        <td class="tg-center">{{Report.OnEntryData.ELG.Emerging.Percentage|floatformat}}%</td>
                        <td class="tg-center">{{Report.OnEntryData.ELG.Expected.Percentage|floatformat}}%</td>
                        <td class="tg-center">{{Report.OnEntryData.ELG.Exceeded.Percentage|floatformat}}%</td>

                    </tr>
                    <tr>
                        <td class="tg-center upper">MICH Term</td>
                        <td class="tg-center">{% for pupils in Report.MichData.3050.Beginning.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center">{% for pupils in Report.MichData.3050.Development.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center">{% for pupils in Report.MichData.3050.Secure.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center aqua">{% for pupils in Report.MichData.4060.Beginning.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center aqua">{% for pupils in Report.MichData.4060.Development.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center">{% for pupils in Report.MichData.4060.Secure.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center">{% for pupils in Report.MichData.ELG.Emerging.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center">{% for pupils in Report.MichData.ELG.Expected.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center">{% for pupils in Report.MichData.ELG.Exceeded.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                    </tr>
                    <tr class="tg-even">
                        <td class="tg-center">%</td>
                        <td class="tg-center">{{Report.MichData.3050.Beginning.Percentage|floatformat  }}%</td>
                        <td class="tg-center">{{Report.MichData.3050.Development.Percentage|floatformat  }}%</td>
                        <td class="tg-center">{{Report.MichData.3050.Secure.Percentage|floatformat  }}%</td>
                        <td class="tg-center">{{Report.MichData.4060.Beginning.Percentage|floatformat  }}%</td>
                        <td class="tg-center">{{Report.MichData.4060.Development.Percentage|floatformat  }}%</td>
                        <td class="tg-center">{{Report.MichData.4060.Secure.Percentage|floatformat  }}%</td>
                        <td class="tg-center">{{Report.MichData.ELG.Emerging.Percentage|floatformat  }}%</td>
                        <td class="tg-center">{{Report.MichData.ELG.Expected.Percentage|floatformat  }}%</td>
                        <td class="tg-center">{{Report.MichData.ELG.Exceeding.Percentage|floatformat  }}%</td>

                    </tr>
                    <tr>
                        <td class="tg-center upper">LENT Term</td>
                        <td class="tg-center">{% for pupils in Report.LentData.3050.Beginning.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center">{% for pupils in Report.LentData.3050.Development.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center">{% for pupils in Report.LentData.3050.Secure.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center">{% for pupils in Report.LentData.4060.Beginning.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center">{% for pupils in Report.LentData.4060.Development.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center aqua">{% for pupils in Report.LentData.4060.Secure.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center aqua">{% for pupils in Report.LentData.ELG.Emerging.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center">{% for pupils in Report.LentData.ELG.Expected.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center">{% for pupils in Report.LentData.ELG.Exceeded.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                    </tr>
                    <tr class="tg-even">
                        <td class="tg-center">%</td>
                        <td class="tg-center">{{Report.LentData.3050.Beginning.Percentage|floatformat }}%</td>
                        <td class="tg-center">{{Report.LentData.3050.Development.Percentage|floatformat}}%</td>
                        <td class="tg-center">{{Report.LentData.3050.Secure.Percentage|floatformat}}%</td>
                        <td class="tg-center">{{Report.LentData.4060.Beginning.Percentage|floatformat}}%</td>
                        <td class="tg-center">{{Report.LentData.4060.Development.Percentage|floatformat}}%</td>
                        <td class="tg-center">{{Report.LentData.4060.Secure.Percentage|floatformat}}%</td>
                        <td class="tg-center">{{Report.LentData.ELG.Emerging.Percentage|floatformat}}%</td>
                        <td class="tg-center">{{Report.LentData.ELG.Expected.Percentage|floatformat}}%</td>
                        <td class="tg-center">{{Report.LentData.ELG.Exceeding.Percentage|floatformat}}%</td>
                    </tr>
                    <tr>
                        <td class="tg-center upper">Summer Term</td>
                        <td class="tg-center">{% for pupils in Report.SummerData.3050.Beginning.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center">{% for pupils in Report.SummerData.3050.Development.Pupils %}{{ pupils }}<br>{% endfor %}<BR></td>
                        <td class="tg-center">{% for pupils in Report.SummerData.3050.Secure.Pupils %}{{ pupils }}<br>{% endfor %}<BR></td>
                        <td class="tg-center">{% for pupils in Report.SummerData.4060.Beginning.Pupils %}{{ pupils }}<br>{% endfor %}<BR></td>
                        <td class="tg-center">{% for pupils in Report.SummerData.4060.Development.Pupils %}{{ pupils }}<br>{% endfor %}<BR></td>
                        <td class="tg-center">{% for pupils in Report.SummerData.4060.Secure.Pupils %}{{ pupils }}<br>{% endfor %}<BR></td>
                        <td class="tg-center">{% for pupils in Report.SummerData.ELG.Emerging.Pupils %}{{ pupils }}<br>{% endfor %}<BR></td>
                        <td class="tg-center aqua">{% for pupils in Report.SummerData.ELG.Expected.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                        <td class="tg-center">{% for pupils in Report.SummerData.ELG.Exceeded.Pupils %}{{ pupils }}<br>{% endfor %}</td>
                    </tr>
                    <tr class="tg-even">
                        <td class="tg-center">%</td>
                        <td class="tg-center">{{Report.SummerData.3050.Beginning.Percentage|floatformat }}%</td>
                        <td class="tg-center">{{Report.SummerData.3050.Development.Percentage|floatformat  }}%</td>
                        <td class="tg-center">{{Report.SummerData.3050.Secure.Percentage|floatformat  }}%</td>
                        <td class="tg-center">{{Report.SummerData.4060.Beginning.Percentage|floatformat  }}%</td>
                        <td class="tg-center">{{Report.SummerData.4060.Development.Percentage|floatformat  }}%</td>
                        <td class="tg-center">{{Report.SummerData.4060.Secure.Percentage|floatformat  }}%</td>
                        <td class="tg-center">{{Report.SummerData.ELG.Emerging.Percentage|floatformat  }}%</td>
                        <td class="tg-center">{{Report.SummerData.ELG.Expected.Percentage|floatformat  }}%</td>
                        <td class="tg-center">{{Report.SummerData.ELG.Exceeding.Percentage|floatformat  }}%</td>

                    </tr>
                </tbody>
            </table>
            
            <p class="note">Note: Print in landscape view for best results <br/> (Recommended Browser: Google Chrome)</p>
        </div>
    </div><!-- /.container -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  </body>
</html>
