
<HTML>
{% load static from staticfiles %}
<HEAD>
	
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	
	<STYLE>
	</STYLE>
	
</HEAD>

<BODY TEXT="#000000">
<TABLE CELLSPACING="0" COLS="10" BORDER="0">
	<TR>
		<TD COLSPAN=10 HEIGHT="40" ALIGN="CENTER" VALIGN=BOTTOM ><B>EYFS Mapping<BR>Report Description:</TD>
		</TR>
	<TR>
		<TD COLSPAN=10 HEIGHT="50" ALIGN="CENTER" VALIGN=MIDDLE>This report plots pupils on a grid based on attainment On Entry through to the end of Mich, Lent and Summer terms. Each age band is split into Beginning, Developing and Secure except for the Early Learning Goals (ELG) section to the right of the grid, this is split into standardised Emerging, Expected and Exceeding. The Aqua boxes are national age related expectations for Reception pupils.  This summative assessment summarises progress in the 17 Aspects of the Prime and Specific Areas of Learning and Development.</TD>
		</TR>
	<TR>
		<TD HEIGHT="11" ALIGN="LEFT" VALIGN=BOTTOM><BR></TD>
		<TD ALIGN="LEFT" VALIGN=BOTTOM><BR></TD>
		<TD ALIGN="LEFT" VALIGN=BOTTOM><BR></TD>
		<TD ALIGN="LEFT" VALIGN=BOTTOM ><BR></TD>
		<TD ALIGN="LEFT" VALIGN=BOTTOM><BR></TD>
		<TD ALIGN="LEFT" VALIGN=BOTTOM ><BR></FONT></TD>
		<TD ALIGN="LEFT" VALIGN=BOTTOM ><BR></FONT></TD>
		<TD ALIGN="LEFT" VALIGN=BOTTOM ><BR></FONT></TD>
		<TD ALIGN="LEFT" VALIGN=BOTTOM ><BR></FONT></TD>
		<TD ALIGN="LEFT" VALIGN=BOTTOM ><BR></FONT></TD>
	</TR>
	<TR>
		<TD COLSPAN=10 HEIGHT="35" ALIGN="CENTER" VALIGN=BOTTOM SDNUM="2057;2057;General"><B><FONT SIZE=5 COLOR="#002060">{{Report.GroupName}}{{ Report.EYFSArea }}</FONT></B></TD>
		</TR>
	<TR>
		<TD HEIGHT="6" ALIGN="LEFT" VALIGN=BOTTOM ><BR></FONT></TD>
		<TD ALIGN="LEFT" VALIGN=BOTTOM ><BR></TD>
		<TD ALIGN="LEFT" VALIGN=BOTTOM ><BR></TD>
		<TD ALIGN="LEFT" VALIGN=BOTTOM ><BR></TD>
		<TD ALIGN="LEFT" VALIGN=BOTTOM ><BR></TD>
		<TD ALIGN="LEFT" VALIGN=BOTTOM ><BR></TD>
		<TD ALIGN="LEFT" VALIGN=BOTTOM ><BR></TD>
		<TD ALIGN="LEFT" VALIGN=BOTTOM ><BR></TD>
		<TD ALIGN="LEFT" VALIGN=BOTTOM ><BR></TD>
		<TD ALIGN="LEFT" VALIGN=BOTTOM ><BR></TD>
	</TR>
	<TR>
		<TD ALIGN="LEFT" VALIGN=TOP ><BR></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" VALIGN=BOTTOM SDNUM="2057;2057;General"><B><FONT COLOR="#000000">30 - 50 Months</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" VALIGN=BOTTOM SDNUM="2057;2057;General"><B><FONT COLOR="#000000">40 - 60+ Months</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" VALIGN=BOTTOM SDNUM="2057;2057;General"><B><FONT COLOR="#000000">ELG</FONT></B></TD>
		</TR>
	<TR>
		<TD ALIGN="LEFT" VALIGN=TOP><BR></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP SDNUM="2057;2057;General"><B><FONT COLOR="#FF6600">BEGINNING<IMG SRC="EYFSMappingMaster_html_75bd329c.png" WIDTH=39 HEIGHT=41 HSPACE=50 VSPACE=13>
		</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP SDNUM="2057;2057;General"><B><FONT COLOR="#008000">DEVELOPING<IMG SRC="EYFSMappingMaster_html_47ff88fa.png" WIDTH=39 HEIGHT=41 HSPACE=50 VSPACE=13>
		</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP SDNUM="2057;2057;General"><B><FONT COLOR="#CC0066">SECURE<IMG SRC="EYFSMappingMaster_html_5e40be5f.png" WIDTH=39 HEIGHT=41 HSPACE=50 VSPACE=13>
		</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP SDNUM="2057;2057;General"><B><FONT COLOR="#FF6600">BEGINNING<IMG SRC="EYFSMappingMaster_html_m51488ccd.png" WIDTH=39 HEIGHT=41 HSPACE=50 VSPACE=13>
		</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP SDNUM="2057;2057;General"><B><FONT COLOR="#008000">DEVELOPING<IMG SRC="EYFSMappingMaster_html_m79aac930.png" WIDTH=39 HEIGHT=41 HSPACE=50 VSPACE=13>
		</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP SDNUM="2057;2057;General"><B><FONT COLOR="#CC0066">SECURE<IMG SRC="EYFSMappingMaster_html_6012bbf7.png" WIDTH=39 HEIGHT=41 HSPACE=50 VSPACE=13>
		</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP SDNUM="2057;2057;General"><B><FONT COLOR="#FF6600">EMERGING<IMG SRC="EYFSMappingMaster_html_4c6b2ead.png" WIDTH=39 HEIGHT=41 HSPACE=50 VSPACE=13>
		</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP SDNUM="2057;2057;General"><B><FONT COLOR="#008000">EXPECTED<IMG SRC="EYFSMappingMaster_html_3cdd849e.png" WIDTH=39 HEIGHT=41 HSPACE=50 VSPACE=13>
		</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP SDNUM="2057;2057;General"><B><FONT COLOR="#CC0066">EXCEEDING<IMG SRC="EYFSMappingMaster_html_6e145db.png" WIDTH=39 HEIGHT=41 HSPACE=50 VSPACE=13>
	</FONT></B></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP><FONT SIZE=1 COLOR="#000000">ON ENTRY</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
			{% for pupils in Report.OnEntryData.3050.Beginning.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		
		
		
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
						{% for pupils in Report.OnEntryData.3050.Development.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM BGCOLOR="#C6D9F1" >
						{% for pupils in Report.OnEntryData.3050.Secure.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM BGCOLOR="#C6D9F1" >
						{% for pupils in Report.OnEntryData.4060.Beginning.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >#
		{% for pupils in Report.OnEntryData.4060.Development.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
			{% for pupils in Report.OnEntryData.4060.Secure.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
			{% for pupils in Report.OnEntryData.ELG.Emerging.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
			{% for pupils in Report.OnEntryData.ELG.Expected.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
			{% for pupils in Report.OnEntryData.ELG.Exceeding.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.OnEntryData.3050.Beginning.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.OnEntryData.3050.Development.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.OnEntryData.3050.Secure.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.OnEntryData.4060.Beginning.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.OnEntryData.4060.Development.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.OnEntryData.4060.Secure.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.OnEntryData.ELG.Emerging.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.OnEntryData.ELG.Expected.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.OnEntryData.ELG.Exceeded.Percentage|floatformat  }}%</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP ><FONT SIZE=1 COLOR="#000000">MICH<BR>TERM<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
			{% for pupils in Report.MichData.3050.Beginning.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
			{% for pupils in Report.MichData.3050.Development.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
			{% for pupils in Report.MichData.3050.Secure.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM BGCOLOR="#C6D9F1" >
			{% for pupils in Report.MichData.4060.Beginnning.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM BGCOLOR="#C6D9F1" >
			{% for pupils in Report.MichData.4060.Development.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
			{% for pupils in Report.MichData.4060.Secure.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
			{% for pupils in Report.MichData.ELG.Emerging.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM ><BR>
		{% for pupils in Report.MichData.ELG.Expected.Pupils %}{{ pupils }}<br>{% endfor %}</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
			{% for pupils in Report.MichData.ELG.Exceeded.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >%</TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.MichData.3050.Beginning.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.MichData.3050.Development.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.MichData.3050.Secure.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.MichData.4060.Beginning.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.MichData.4060.Development.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.MichData.4060.Secure.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.MichData.ELG.Emerging.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.MichData.ELG.Expected.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.MichData.ELG.Exceeding.Percentage|floatformat  }}%</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP ><FONT SIZE=1 COLOR="#000000">LENT<BR>TERM<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
			{% for pupils in Report.LentData.3050.Beginning.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
			{% for pupils in Report.LentData.3050.Development.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
			{% for pupils in Report.LentData.3050.Secure.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM>
			{% for pupils in Report.LentData.4060.Beginnning.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM BGCOLOR="#C6D9F1" >
			{% for pupils in Report.LentData.4060.Development.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM  BGCOLOR="#C6D9F1" >
			{% for pupils in Report.LentData.4060.Secure.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
			{% for pupils in Report.LentData.ELG.Emerging.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM ><BR>
		{% for pupils in Report.LentData.ELG.Expected.Pupils %}{{ pupils }}<br>{% endfor %}</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
			{% for pupils in Report.LentData.ELG.Exceeded.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >%</TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.LentData.3050.Beginning.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.LentData.3050.Development.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.LentData.3050.Secure.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.LentData.4060.Beginning.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.LentData.4060.Development.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.LentData.4060.Secure.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.LentData.ELG.Emerging.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.LentData.ELG.Expected.Percentage|floatformat }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.LentData.ELG.Exceeding.Percentage|floatformat }}%</FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP><FONT SIZE=1 COLOR="#000000">SUMMER<BR>TERM<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
			{% for pupils in Report.SummerData.3050.Beginning.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
			{% for pupils in Report.SummerData.3050.Development.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
			{% for pupils in Report.SummerData.3050.Secure.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM>
			{% for pupils in Report.SummerData.4060.Beginnning.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM>
			{% for pupils in Report.SummerData.4060.Development.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
			{% for pupils in Report.SummerData.4060.Secure.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM  BGCOLOR="#C6D9F1" >
			{% for pupils in Report.SummerData.ELG.Emerging.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM ><BR>
		{% for pupils in Report.SummerData.ELG.Expected.Pupils %}{{ pupils }}<br>{% endfor %}</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="LEFT" VALIGN=BOTTOM >
			{% for pupils in Report.SummerData.ELG.Exceeded.Pupils %}{{ pupils }}<br>{% endfor %}<BR></FONT></TD>
	</TR>
	<TR>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >%</TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.SummerData.3050.Beginning.Percentage|floatformat }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.SummerData.3050.Development.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.SummerData.3050.Secure.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.SummerData.4060.Beginning.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.SummerData.4060.Development.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.SummerData.4060.Secure.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.SummerData.ELG.Emerging.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.SummerData.ELG.Expected.Percentage|floatformat  }}%</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" ALIGN="CENTER" VALIGN=TOP >
			{{Report.SummerData.ELG.Exceeding.Percentage|floatformat  }}%</FONT></TD>
	</TR>
</TABLE>
<!-- ************************************************************************** -->
</BODY>

</HTML>
