
{% extends 'Reports/FireDrillBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for ReportData in FireDrillList %}
{%if ReportData.Report %}
<p><br></p>
<div class='ClassListHeader'>Fire Drill Report for<br>{{ ReportData.AttendanceClassName }} <br> Date: {{ReportDate}} <br /><br /> Form tutor: {{ ReportData.form_tutor_name }}</div>
<p><br></p>
<table width='100%'>
	<tr>
		<td width='20%'><br></td>
		<td>
			<table class='DailyTable'>
				<tr><th width='240px'>Pupil</th><th width='20px'>AM</th><th width='20px'>PM</th><th width='100px'>Present?</th></tr>
					{% for records in ReportData.Report %}
				<tr>
					{% if ReportData.HasBeenTakenAM == 'Y' and ReportData.HasBeenTakenPM == 'Y' %}
						<td>{{records.PupilDetails.FullName}}</td><td>{{records.AM}}</td><td>{{records.PM}}</td><td><br></td>
					{% else%}
						{%if ReportData.HasBeenTakenAM == 'Y' and ReportData.HasBeenTakenPM == 'N' %}
						<td>{{records.PupilDetails.FullName}}</td><td>{{records.AM}}</td><td><br></td><td><br></td>
						{% endif %}
						{% if ReportData.HasBeenTakenAM == 'N'  and ReportData.HasBeenTakenPM == 'Y' %}
						<td>{{records.PupilDetails.FullName}}</td><td><br></td><td>{{records.PM}}</td><td><br></td>
						{% endif %}
						{% if ReportData.HasBeenTakenAM == 'N' and ReportData.HasBeenTakenPM == 'N' %}
						<td>{{records.PupilDetails.FullName}}</td><td><br></td><td><br></td><td><br></td>
						{% endif %}
					{% endif %}
				</tr>
			{% endfor %}
				<tr style='background-color:grey;'>
					<td>Total Present</td><td>{{ReportData.TotalPresentAM}}</td><td>{{ReportData.TotalPresentPM}}</td>
				</tr>
			</table>
		</td>
		<td with='20%'><br></td>
	</tr>
</table>
<div style='page-break-before:always;float:clear;padding-top:1cm;'>
{% endif %}
{% endfor %}

<!-- ############################################################################################################### -->

{% for ReportData in staff_fire_drill_list %}
<p><br></p>
<div class='ClassListHeader'>Fire Drill Report for Staff Group:<br>{{ ReportData.group_name }} <br> Date: {{ReportDate}}</div>
<p><br></p>
<table width='100%'>
	<tr>
		<td width='20%'><br></td>
		<td>
			<table class='DailyTable'>
				<tr><th width='240px'>Staff</th><th width='20px'>AM</th><th width='20px'>PM</th><th width='100px'>Present?</th></tr>
				{% for cell in ReportData.data %}
                <tr>
					<td>{{ cell.0 }}</td><td>{{ cell.1 }}</td><td>{{ cell.2 }}</td><td><br /></td>
				</tr>
                {% endfor %}
				<tr style='background-color:grey;'>
					<td>Total Present</td><td>{{ ReportData.total_present_am }}</td><td>{{ ReportData.total_present_pm }}</td>
				</tr>
			</table>
        </td>
		<td with='20%'><br></td>
	</tr>
</table>
	{% if not forloop.last %}
<div style='page-break-before:always;float:clear;padding-top:1cm;'>
	{% endif %}
{% endfor %}
<!-- ############################################################################################################### -->
{% endblock %}
