
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static from staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<META name="description" content="Future schools">
	<Meta name="keywords" content="Future schools">
	<TITLE>Future schools</TITLE>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--  <link rel="stylesheet" href="CCS/FutureSchoolsReport.css">  -->
	<!-- <script src="https://willowtrain.thomas-s.co.uk/static/js/jquery.min.js"></script>   -->
	<script type="text/javascript">
		document.write("\<script src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js' type='text/javascript'>\<\/script>");
	</script>
	<style>
<!-- FROM ATTACHED FILE FROM DAVID -->
		
body{ font-size: 12px; font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }
#main_wrapper{ width: 900px; margin: 0 auto; }
#lr-main_wrapper{ width: 1290px; margin: 0 auto; }

header{ background: #f5f5f5; border-bottom: 1px solid transparent; font-size: 13px; padding: 5px 10px; }
.panel-heading{ width: 880px; }
.LRpanel-heading{ width: 1270px; }

#tblResult thead select{ font-size: 11px; }

#dataTables{ margin: 5px 0 0 0; }
#tblResult{ width: 100%; }
#dataTables table th{ padding: 3px; }
#dataTables table td{ border: 1px solid; padding: 2px; }
#averageAPS, .averageAPS{ font-size: 16px; text-align: center; }

.APS_Review #tblResult{ width: 900px; margin: 15px 0 0 0; border-spacing: 0px; border-collapse: collapse; }
.APS_Review #tblResult thead th{ background: lightblue; }
.APS_Review #tblResult thead th, .APS_Review #tblResult td{ padding: 3px; }

.APSless{ background: lightpink; }
.APSzero{ background: lightyellow; }
.APSmore{ background: lightblue; }
.APSbelowzero{  }
.APSabovezero{ background: #ffaaaa; }
.APSabovetwo{ background: lightgreen; }

.LPselect td select{ margin: 0 5px 0 0; }
.lReviewTable{ font-size: 11px; }
.lReviewTable select { margin: 0; }

.mappingTable{ width: 900px; }
.mappingUl li{ display: inline; margin: 0 10px; }

#radFILT{ margin: 0 10px; }

#chartM, #chartL, #chartS, #chartKS{ height: 220px; border: #cccccc 1px solid; margin: 5px 0; padding: 5px 200px; }
#venn_wrapper{ background: url(venn_bg.png) 0 0 no-repeat; width: 900px; height: 1100px; background-size:900px 1100px; position: relative; }
#venn_wrapper div{ margin: 0 4px; }
#venn_wrapper ul{ list-style: none; margin: 0; padding: 0; }
#venn_wrapper ul li{ display: inline-block; margin: 0 4px; white-space: nowrap; overflow: hidden; }

#venn_wrapper #readwritemaths,
#venn_wrapper #reading,
#venn_wrapper #writing,
#venn_wrapper #maths,
#venn_wrapper #readwrite,
#venn_wrapper #writemath,
#venn_wrapper #readmath,
#venn_wrapper #readingpercent,
#venn_wrapper #writingpercent,
#venn_wrapper #mathspercent,
#venn_wrapper #readwritemathspercent,
#venn_wrapper #readwritepercent,
#venn_wrapper #readmathpercent,
#venn_wrapper #writemathpercent{ position: absolute; text-align: center; border: 1px solid #8f8; padding: 2px 0; border-radius: 5px; }

#venn_wrapper #reading{ top: 110px; left: 80px; width: 170px; }
#venn_wrapper #writing{ top: 110px; right: 80px; width: 170px; }
#venn_wrapper #maths{ bottom: 225px; left: 130px; width: 70%; }

#venn_wrapper #readingpercent{ color: #666; top: 80px; left: 120px; width: 100px; font-size: 22px; font-weight: bold; border: 0 !important; }
#venn_wrapper #writingpercent{  color: #666; top: 80px; right: 120px; width: 100px; font-size: 22px; font-weight: bold; border: 0 !important; }
#venn_wrapper #mathspercent{ color: #666; bottom: 120px; left: 400px; width: 100px; font-size: 22px; font-weight: bold; border: 0 !important; }

#venn_wrapper #readwritemaths{ position: absolute;  top: 325px; left: 260px; width: 370px; overflow: hidden; text-align: center; }
#venn_wrapper #readwritemathspercent{ color: #666; top: 290px; left: 400px; width: 100px; font-size: 22px; font-weight: bold; border: 0 !important; }

#venn_wrapper #readwrite{ position: absolute; top: 130px; left: 318px; width: 250px; text-align: center; }
#venn_wrapper #readwritepercent{ color: #666; top: 100px; left: 395px; width: 100px; font-size: 22px; font-weight: bold; border: 0 !important; }

#venn_wrapper #readmath{ top: 445px; left: 80px; width: 170px; }
#venn_wrapper #readmathpercent{ color: #666; top:410px; left: 135px; width: 100px; font-size: 22px; font-weight: bold; border: 0 !important; }

#venn_wrapper #writemath{ position: absolute; top: 445px; right: 80px; width: 170px; }
#venn_wrapper #writemathpercent{ color: #666; top:410px; right: 135px; width: 100px; font-size: 22px; font-weight: bold; border: 0 !important; }

.venntable{ font-size: 11px; }
.venntable select{ font-size: 11px; }
#venn_lvl{ position: absolute; top: 10px; left: 10px; background: #fff; padding: 0 3px;}
#venn_lvl_select{  }
#venn_NA{ position: absolute; bottom: 5px; right: 0px; max-width: 900px; background: #fff;  }
#venn_NA_title{ font-weight: bold; text-align: center; border-bottom: 1px solid #ddd; }
#venn_NA_content{ text-align: center; }

.center{ text-align: center;}
.bold{ font-weight: bold; }
.left{ float: left; }
.clear{ clear: both; }
.font11{ font-size: 11px; }
.tleft{ text-align: left !important; }

input[type="radio"]{ margin: 1px 0 0 0; }

.radfilt_txt{ margin: 0 4px 0 48px; float: left; }
tbody tr:nth-child(even) { background-color: #ddd; }
tbody tr:nth-child(even) { background-color: #ddd; }
tbody tr.nostripe{  background-color: #fff; }

@media print{
	table { page-break-after:auto }
	tr    { page-break-inside:avoid; page-break-after:auto }
	tr    { page-break-inside:avoid; page-break-before:auto }
	td    { page-break-inside:avoid; page-break-after:auto }
	td    { page-break-inside:avoid; page-break-before:auto }
	thead { display:table-header-group }
	tfoot { display:table-row-group }
	.no-print { display: none; }
	table{ margin: 0 auto; }
	.APSpupiltable{ page-break-after:always !important; }
}		
		
<!-- # -->
		.progress0, .progress8{ background: #FF00FF; text-align: center; }
		.progress1, .progress9{ background: #FF0000; text-align: center; }
		.progress2, .progress10{ background: #00CCFF; text-align: center; }
		.progress3, .progress11{ background: #FF9900; text-align: center; }
		.progress4, .progress12{ background: #FFFF00; text-align: center; }
		.progress5, .progress13{ background: #99FF00; text-align: center; }
		.progress6, .progress14{ background: #0066ff; text-align: center; }
		.progress7, .progress15{ background: #FF0099; text-align: center; }
		table{ border: #ccc; }
		th, #txttst{ vertical-align: bottom; text-align: center; font-size: 10px; font-weight: normal; }
		td{ font-weight: bold; }
		tfoot{ }
	</style>
</head>
<body>
<header class="panel-heading" style="width: 100%;">{{ school_and_group }}</header>
<table id="reptable" border=1 cellspacing=0>
	<thead></thead>
	<tbody></tbody>
	<tfoot></tfoot>
</table>
<span id="txttst" style="padding: 0; margin: 0; border: 0; position: absolute; left: -9999em;"></span>

<!-- <script src="future_schools_report.jsonp"></script> -->
<script type="text/javascript">
	//console.log( json_object );
	
	var json_object = {{ future_schools_data|safe }};	
	var schoolsArr = new Array();
	var pupilArr = new Array();
	var progressArr = new Array();
	
	var schoolsHTML = '';
	var pupilHTML = '';
	
	$.each( json_object , function( i , item ){
		if ( $.inArray( item.fields.School, schoolsArr ) == -1 ) {
			schoolsArr.push( item.fields.School );
		}
		if ( $.inArray( item.fields.Pupil, pupilArr ) == -1 ) {
			pupilArr.push( item.fields.Pupil );
		}
		if ( $.inArray( item.fields.Progress, progressArr ) == -1 ) {
			progressArr.push( item.fields.Progress );
		}
	});
	
	schoolsArr.sort();
	pupilArr.sort();
	progressArr.sort();
	
	schoolsHTML += '<tr height="190"><th style="text-align: left; padding: 0 0 4px 2px; color: red; font-size: 12px;">Pupil Name</th>';
	$.each( schoolsArr , function( i , item ){
		textarr = item.split( '' );
		textarr = textarr.reverse();
		schoolsHTML += '<th width="20"><div style="position: relative; width: 18px; margin: 0 auto;">';
		schoolsHTML += '<div style="position: absolute; bottom: 4px;">';
		
		$.each( textarr , function( ti , titem ){
			if( titem == ' ' ) titem = '&nbsp;';
			$( '#txttst' ).html( titem );
			txtw = $( '#txttst' ).width();
			schoolsHTML += '<div style="-webkit-transform: rotate(-90deg); margin: 1px; width: ' + (txtw) + 'px; height: ' + (txtw) + 'px;">' + titem + '</div>';
		});
		
		schoolsHTML += '</div></div></th>';
	});
	schoolsHTML += '</tr>';
	$( '#reptable thead' ).html( schoolsHTML );
	
	$.each( pupilArr , function( i , item ){
		pupilHTML += '<tr>';
		pupilHTML += '<td style="font-weight: normal;">' + item + '</td>';
		
		$.each( schoolsArr , function( si , sitem ){
			htmlClass='';
			htmlTxt = '';
			htmlTitle = '';
			
			$.each( json_object , function( ji , jitem ){
				
				if( item == jitem.fields.Pupil && sitem == jitem.fields.School ){
					
					arrIndex = progressArr.indexOf( jitem.fields.Progress );
					htmlTxt = arrIndex;
					htmlClass = 'progress' + arrIndex;
					htmlTitle = jitem.fields.Progress;
				}
				
			});
			pupilHTML += '<td class="' + htmlClass + '" title="' + htmlTitle + '">' + htmlTxt + '</td>';
		});
		
		pupilHTML += '</tr>';
	});
	$( '#reptable tbody' ).html( pupilHTML );
	
	legendHTML = '<tr><td colspan="100" height="15"></td></tr>';
	legendHTML += '<tr><td rowspan="5" style="font-weight: bold; color: red; vertical-align: bottom;">Legend</td>';
	counter = 1;
	$.each( progressArr , function( i , item ){
		legendHTML += '<td class="progress' + i + '">' + i + '</td><td colspan=7 style="font-weight: normal;">&nbsp;= ' + item + '</td>';
		if( counter == 3 ){ legendHTML += '</tr><tr>'; counter=1; }else{ counter ++; }
	});
	legendHTML += '</tr>';
	
	$( '#reptable tfoot' ).html( legendHTML );
</script>
</body></html>
