
{% for Subject, data in Grade.items %}
{% load static from staticfiles %}
<table border=1>
	<tr>
		<td colspan=6>{{Name}} : {{Subject }}</td>
	</tr>
	<tr>
		<td>Level</td><td>{{data.Level.0}}</td><td>Effort</td><td>{{data.Effort.0}}</td><td>Att</td><td>{{data.Attainment.0}}</td>
	</tr>
	<tr>
		<td colspan=6>{{data.Comment.0}}</td>
	</tr>
</table>
<br>
{% endfor %}
