
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
{% load static from staticfiles %}
<HTML>
	
<HEAD> 
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="html">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>	
	<STYLE TYPE="text/css">
	    body {

        margin-top: 5mm;
        margin-left:5mm;
        margin-right:5mm;
        
        }	
	h1 { font-size: 18pt;
	font-weight:700;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	margin: 1px 1px 1px 1px}
	
	h2 { font-size: 10pt;
	font-weight:300;
	border: 2px solid black;
	margin: 1px 1px 1px 1px;}
	
	h3 { font-size: 12pt;
	font-family: 'Montserrat', sans-serif;
	font-style:italic;
	font-weight:600;
	margin: 1px 1px 1px 1px;}
	
	h4 { font-size: 9pt;}
	
	ol { margin: 1px 1px 1px 1px;}
	
	table { font-size: 8pt;
	font-family: 'Montserrat', sans-serif;
	
	td { height : 26px}
	
	h5 { font-size: 11pt;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;}
	
	.index { font-size: 11pt;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;}
	
	.bold {
		font-weight: bold;
	}
	
	</STYLE>
</HEAD>
<BODY>
<h1>Recorded Grades for {{Record.Pupil.FullName}}</h1>
{% with Grade=Record.PupilReportedGrades.YrR_Eot_M Name='YrR Mich'%}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.YrR_Eot_S Name='YrR Summer' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr1_Eot_M Name='Yr1 Mich' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr1_Eot_L Name='Yr1 Lent' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr1_Eot_S Name='Yr1 Summer' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr2_Eot_M Name='Yr2 Mich' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr2_Eot_L Name='Yr2 Lent' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr2_Eot_S Name='Yr2 Summer' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr3_Eot_M Name='Yr3 Mich' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr3_Eot_L Name='Yr3 Lent' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr3_Eot_S Name='Yr3 Summer' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr4_Eot_M Name='Yr4 Mich' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr4_Eot_L Name='Yr4 Lent' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr4_Eot_S Name='Yr4 Summer' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr5_Eot_M Name='Yr5 Mich' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr5_Eot_L Name='Yr5 Lent' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr5_Eot_S Name='Yr5 Summer' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr6_Eot_M Name='Yr6 Mich' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr6_Eot_L Name='Yr6 Lent' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr6_Eot_S Name='Yr6 Summer' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr7_Eot_M Name='Yr7 Mich' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr7_Eot_L Name='Yr7 Lent' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr7_Eot_S Name='Yr7 Summer' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr8_Eot_M Name='Yr8 Mich' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr8_Eot_L Name='Yr8 Lent' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

{% with Grade=Record.PupilReportedGrades.Yr8_Eot_S Name='Yr8 Summer' %}
	{% include "Reports/GradeReport_Table.html" %}
{% endwith %}

</BODY>
</HTML>
