
<table>
{% load static from staticfiles %}
	<tr>
		<td colspan=3>The following data is calculated based upon averages for the selected
		group of pupils. It is worked out by adding up the counts and dividing by the number
		of pupils.</td>
	</tr>
	<tr>
		<td colspan=3>Summary Of absences {{ ReportData.Stats.ClassCount}}</td>
	</tr>
	<tr>
		<td>Possible Attendances</td><td>{{ ReportData.Stats.NumberOfSessions }}</td><td><br></td>
	</tr>
	<tr>
		<td>Non Statistical Absences</td><td>{{ReportData.Stats.NonStatAbsenceCount|floatformat:"-2" }}</td>
		<td>{{ ReportData.Stats.NonStatAbsencePercentage|floatformat:"-2" }}</td>
	</tr>
	<tr>
		<td>Total Absences</td><td>{{ReportData.Stats.TotalAbsencesCount|floatformat:"-2"}}</td>
		<td>{{ReportData.Stats.TotalAbsencesPercentage|floatformat:"-2"}}</td>
	</tr>
	<tr>
		<td>Unauthorised Statistical Absences</td><td>{{ReportData.Stats.USAbsencesCount|floatformat:"-2"}}</td>
		<td>{{ReportData.Stats.USAbsencesPercentage|floatformat:"-2"}}</td>
	</tr>
		<td>Authorised Statistical Absences</td><td>{{ReportData.Stats.ASAbsencesCount|floatformat:"-2" }}</td>
		<td>{{ReportData.Stats.ASAbsencesPercentage|floatformat:"-2"}}</td>
	<tr>
	<tr>
		<td>Attendances (Including Non Stat)</td><td>{{ReportData.Stats.AttendedWithNonStatCount|floatformat:"-2"}}</td>
		<td>{{ReportData.Stats.AttendedWithNonStatPercentage|floatformat:"-2"}}</td>
	</tr>
	<tr>
		<td>Attendances (Excluding Non Stat)</td><td>{{ReportData.Stats.AttendedExcludeNonStatCount|floatformat:"-2"}}</td>
		<td>{{ReportData.Stats.AttendedExcludeNonStatPercentage|floatformat:"-2"}}</td>
	</tr>
	<tr>
		<td colspan=3>Summary of Lates</td>
	</tr>
	<tr>
		<td>Authorised Lates</td><td>{{ReportData.Stats.AuthorisedLatesCount|floatformat:"-2"}}</td>
		<td>{{ReportData.Stats.AuthorisedLatesPercentage|floatformat:"-2"}}</td>
	</tr>
	<tr>
		<td>Unauthorised Lates</td><td>{{ReportData.Stats.UnauthorisedLatesCount|floatformat:"-2"}}</td>
		<td>{{ReportData.Stats.UnauthorisedLatesPercentage|floatformat:"-2"}}</td>
	</tr>
</table>