
{% extends 'Reports/ReportBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}

<style>
	#main-wrapper{ width: 960px; margin: 0 auto; }
	#header{ background: #ccc; font-weight: bold; font-size: 14px; padding: 4px 5px; margin: 0 0 5px 0; }
	#left-column{ float: left; width: 218px; }
	#left-column table{ border-collapse: collapse; font-size: 11px; width: 100%; text-align: center; }
	#left-column table tr:first-child{ background: #eee; }
	#left-column table tr td:first-child{ text-align: left; }	
	#left-column table td{ padding: 3px 2px; border: 1px solid #ccc; }
	
	#right-column{ float: right; width: 738px; }
	#right-column table{ border-collapse: collapse; font-size: 11px; width: 100%; text-align: center; }
	#right-column table tr:first-child{ background: #eee; }
	#right-column table tr td:first-child{ width: 12%; }
	#right-column table th{ border: 1px solid #ccc; }
	#right-column table td{ padding: 3px 2px; border: 1px solid #ccc; }
	#right-column table tr:nth-child(even){ background: #def }
</style>

<div id="main-wrapper">
<div id="header">
Group Attendance report for {{ ReportData.GroupName }}
</div>

<div id="left-column">
	{% include 'Reports/GroupAttendanceCol1.html' %}
</div>

<div id="right-column">
	{% include 'Reports/GroupAttendanceCol2.html' %}
</div>

<div style="clear: both;"></div>

</div>  <!--- close main wrapper --->
{% endblock %}
