
{% extends 'Reports/ReportBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
<h1>{{ReportData.GroupName}} ({{ReportData.TimePeriod}} {{ReportData.AcYear}})</h1>
<table class='DailyTable' width='1000px'>
	<tr>
		<th width='3cm' height='70px'>Pupil</th>
		{% for attdates in ReportData.FullDateList %}
		<th width='15px'  style='font-size:10px;' colspan=2><div class='VertialHeaders' width='10px'>{{attdates|date:"d/m/y"}}</div></th>
		{% endfor %}
		<th width='50px'><div class='VertialHeaders'>Possible</div></th>
		<th width='50px'><div class='VertialHeaders'>Stat Abs</div></th>
		<th width='50px'><div class='VertialHeaders'>Att %</div></th>
	</tr>
	{% for recs in ReportData.FullList %}
	<tr>
	<td>{{recs.0}}</td>
	{% for innerrecs in recs.1 %}
	<td {% if innerrecs == '#' %} style='background-color:grey;'{%endif%}>
	{{ innerrecs }}
	</td>
	{% endfor %}
	<td>{{recs.2}}</td>
	<td>{{recs.3}}</td>
	<td>{{recs.4|floatformat}}</td>
	</tr>
	 {% endfor %}
</table>
{% endblock %}
