
<table>
{% load static from staticfiles %}
	<tr>
		<th class='VerticalHeaders'>Name</th>
		<th class='VerticalHeaders' colspan=2>Non Stat Absences</th>
		<th class='VerticalHeaders' colspan=2>Stat Absences</th>
		<th class='VerticalHeaders' colspan=2>Total Absences</th>
		<th class='VerticalHeaders' colspan=2>Unauthorised<br>Statistical Absences</th>
		<th class='VerticalHeaders' colspan=2>Authorised<br>Statistical Absences</th>
		<th class='VerticalHeaders' colspan=2>Attended<br>With Non Stat</th>
		<th class='VerticalHeaders' colspan=2>Attended<br>Excluing Non Stat</th>
		<th class='VerticalHeaders' colspan=2>Authorised lates</th>
		<th class='VerticalHeaders' colspan=2>Unauthorised lates</th>
	</tr>
	{% for recs in ReportData.PupilList %}
	<tr>
		<td>{{recs.Pupil.FullName}}</td>
		<td>{{recs.Stats.NonStatAbsenceCount|floatformat:"-2" }}</td>
		<td>{{recs.Stats.NonStatAbsencePercentage|floatformat:"-2"}}</td>
		<td>{{recs.Stats.StatisticalAbsenceCount|floatformat:"-2" }}</td>
		<td>{{recs.Stats.StatisticalAbsencePercentage|floatformat:"-2"}}</td>
		
		<td>{{recs.Stats.TotalAbsencesCount|floatformat:"-2"}}</td>
		<td>{{recs.Stats.TotalAbsencesPercentage|floatformat:"-2"}}</td>
		
		<td>{{recs.Stats.USAbsencesCount|floatformat:"-2"}}</td>
		<td>{{recs.Stats.USAbsencesPercentage|floatformat:"-2"}}</td>
		
		<td>{{recs.Stats.ASAbsencesCount|floatformat:"-2"}}</td>
		<td>{{recs.Stats.ASAbsencesPercentage|floatformat:"-2"}}</td>
		
		<td>{{recs.Stats.AttendedWithNonStatCount|floatformat:"-2"}}</td>
		<td>{{recs.Stats.AttendedWithNonStatPercentage|floatformat:"-2"}}</td>
		
		<td>{{recs.Stats.AttendedExcludeNonStatCount|floatformat:"-2"}}</td>
		<td>{{recs.Stats.AttendedExcludeNonStatPercentage|floatformat:"-2"}}</td>
		
		<td>{{recs.Stats.AuthorisedLatesCount|floatformat:"-2"}}</td>
		<td>{{recs.Stats.AuthorisedLatesPercentage|floatformat:"-2"}}</td>
		
		<td>{{recs.Stats.UnauthorisedLatesCount|floatformat:"-2"}}</td>
		<td>{{recs.Stats.UnauthorisedLatesPercentage|floatformat:"-2"}}</td>
	</tr>
	{% endfor%}
</table>
