
{% extends 'Reports/ReportBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}

<style>
	#main-wrapper{ width: 960px; margin: 0 auto; }
	#header{ background: #ccc; font-weight: bold; font-size: 12px; padding: 4px 5px; margin: 0 0 5px 0; }
	#left-column{ float: left; width: 390px; border: 1px solid #bbb; }
	#right-column{ float: left;width: 566px;; border: 1px solid #bbb; }
</style>

<div id="main-wrapper">
<div id="header">
Group Attendance report for {{ ReportData.GroupName }}
</div>

<div id="left-column">
 sample left
</div>
<div id="right-column">
sample right
</div>
<div style="clear: both;"></div>
<!---
<table class='FormatTable'>
	<tr>
	<td style='width:40%; vertical-align:top;'>{% include 'Reports/GroupAttendanceCol1.html' %}</td>
	<td width='60%'>{% include 'Reports/GroupAttendanceCol2.html' %}</td>
	</tr>
</table>
--->


</div>  <!--- close main wrapper --->
{% endblock %}
