
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static from staticfiles %}
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="description" content="Levels Review for {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.AcYear}}">
	<meta name="keywords" content="Levels Review for {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.AcYear}}">
	<title>Levels Review for {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.AcYear}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script type="text/javascript">
		document.write("\<script src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js' type='text/javascript'>\<\/script>");
	</script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/LevelsReviewStyle.css">
	
	<style type="text/css">
		td { text-align :center !important;}
	</style>
</head>
<body>
<div id="lr-main_wrapper">
	<section class="panel">
       <header class="LRpanel-heading"><b>Levels Review for {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.AcYear}} (Gen Date {{ DataObj.today|date:"SHORT_DATE_FORMAT" }})</b></header>
       <div class="table-responsive">
       <form action="file:///tmp/report1.html" id="frmReport">
         <table id="tblResult" border="1" cellpadding="4" cellspacing="0" class="table-striped lReviewTable" width=1260>
           <thead>
             <tr class="no-print">
              <td colspan="22"><b>Filter by:</b> 
              							 Class: <select id="sltClass">
              							  			
              							  		 </select>
										
              							  Gender: <select id="chkGender">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">Male</option>
              							  			<option value="0">Female</option>
              							  		 </select>
					
              							  Sen: <select id="chkSen">
 
              							  		 </select>
              							  MostAble: <select id="chkgt">

              							  		 </select>
              							  EAL: <select id="chkeAL">

              							  		 </select>
					
              							  MoreAble:  <select id="chkMoreAble">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>
              							  Summer Birth: <select id="chkSB">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>
              							  		 
              							  <button type="button" id="btnreset" class="btn btn-primary">Reset</button>
              </td>
             </tr>
			 <tr class="no-print">
				<td>Show/Hide Columns</td>
				<td>Gender:<br><input type="checkbox" class="hidecolumns" columnname="Gender" checked></td>
				<td>LearningSupport:<br><input type="checkbox" class="hidecolumns" columnname="LearningSupport" checked></td>
				
				{% for records in DataObj.RecordList %}
					<td><b>{{records}}<br><input type="checkbox" class="hidecolumns" columnname="{{records}}" checked></td>
				{% endfor %}
				
			</tr>
			</thead>
			</table>
			 <table id="tblResult" border="1" cellpadding="4" cellspacing="0" class="table-striped lReviewTable" width=1290>
		   <thead>            
			<tr style="background-color: #D1D0CE;">
                <td><b>Name</b></td>
				<td class="Gender"><b>Gender</b></td>
				<td class="Class"><b>Class</b></td>
				<td class="LearningSupport"><b>Learning Support</b></td>
				
				{% for records in DataObj.RecordList %}
					<td class="{{records}}"><b>{{records}}</b></td>
				{% endfor %}
				
			 </tr>
           </thead>
           <tbody></tbody>
         </table>
         </form>
       </div>
     </section>
	
	<!-- / footer -->
</div>
<script type="text/javascript">
//Define data here : 
var jsonp='';
{% for datalines in DataObj.JSONData %}
jsonp += {{ datalines|safe }};
{% endfor %} 
 
$(document).ready(function() {
	var objData = $.parseJSON(jsonp);
	FilterData( objData, -1, 0, 0, -1, 0, -1, 0 );
	
	var MostAbleData = [];
	var EALData = [];
	var SENData = [];
	var classData = [];
	
	var classOptions = '<option value=0>N/A</option>';
	var MostAbleOptions = '<option value=0>N/A</option>';
	var SENOptions = '<option value=0>N/A</option>';
	var EALOptions = '<option value=0>N/A</option>';
	$.each(objData, function(i, item){
		if ( $.inArray( item['Class'], classData ) == -1 ) {
				classData.push( item['Class'] );
			} 
	});
	$.each( classData, function(i, item){
		classOptions += '<option value=' + item + '>' + item + '</option>';
	});
	$('#sltClass').html( classOptions );	

	$.each(objData, function(i, item){
		if ( $.inArray( item['MostAble'], MostAbleData ) == -1 ) {
			MostAbleData.push( item['MostAble'] );
		}
		if ( $.inArray( item['SEN'], SENData ) == -1 ) {
			SENData.push( item['SEN'] );
		}
		if ( $.inArray( item['EAL'], EALData ) == -1 ) {
			EALData.push( item['EAL'] );
		}
	});
	MostAbleData.sort();
	$.each( MostAbleData, function(i, item){
		MostAbleOptions += '<option value="' + item + '">' + item + '</option>';
	});
	MostAbleOptions += '<option value="MostAbleall">All MostAble</option>';
	
	SENData.sort();
	$.each( SENData, function(i, item){
		if ( item == "SEND 1" ){ SENoption = 'SEN 1'; }
		else if ( item == "SEND 2" ){ SENoption = 'SEN 2'; }
		else if ( item == "SEND 3" ){ SENoption = 'SEN 3'; }
		else if ( item == "SEND 4" ){ SENoption = 'SEN 4'; }
		else if ( item == "SEND 5" ){ SENoption = 'SEN 5'; }
		else{ SENoption = 'None'; }
		SENOptions += '<option value="' + item + '">' + SENoption + '</option>';
	});
	SENOptions += '<option value="SEN12">SEN 1+2</option>';
	SENOptions += '<option value="SENall">All SEN</option>';
	
	EALData.sort();
	$.each( EALData, function(i, item){
		EALOptions += '<option value="' + item + '">' + item + '</option>';
	});
	EALOptions += '<option value="EALall">All EAL</option>';
	
	$('#chkgt').html( MostAbleOptions );
	$('#chkSen').html( SENOptions );
	$('#chkeAL').html( EALOptions );
	    
	$("#chkGender").change(function () {
    	CreateFilter(objData);
    });
	
	$(".hidecolumns").change(function () {
    	$( '.' + $( this ).attr( 'columnname' ) ).slideToggle( 'fast' );
    });
	
    $("#chkSen").change(function () {
    	CreateFilter(objData);
    });
    $("#chkeAL").change(function () {
    	CreateFilter(objData);
    });
    $("#chkgt").change(function () {
    	CreateFilter(objData);
    });
    $("#chkMoreAble").change(function () {
    	CreateFilter(objData);
    });
    $("#chkSB").change(function () {
    	CreateFilter(objData);
    });
    $('#sltClass').change(function () {
        CreateFilter(objData);	
    });
    $("#btnreset").click(function () {
    	$("#frmReport").trigger('reset');
	    CreateFilter(objData);
    });
});

function CreateFilter(objData){
	var iGender = $("#chkGender").val();
	var iSen = $("#chkSen").val();
	var iMostAble = $("#chkgt").val();
	var iMoreable = $("#chkMoreAble").val();
	var iEAL = $("#chkeAL").val();
	var iSB = $("#chkSB").val();
	var sClass = $('#sltClass').val();
	FilterData(objData, iGender, iSen, iMostAble, iMoreable, iEAL, iSB, sClass);
}

function FilterData(objData, iGender, iSen, iMostAble, iMoreable, iEAL, iSB, sClass){
	var content = "";
	$('#tblResult >tbody').html("");
	var arrResult = [];

	$.each(objData, function (i, item){
		var isValid = true;
		
		if(iGender == 1 && item['Gender'] == 'F'){
			isValid = false;
		}
		if(iGender == 0 && item['Gender'] == 'M'){
			isValid = false;
		}
		if(  iSen != 0 && iSen != 'SENall' && iSen != item['SEN'] && iSen != 'SEN12' ){
			isValid = false;
		}else if( iSen == 'SEN12' && item['SEN'] != 'SEND 1' && item['SEN'] != 'SEND 2' ){
			isValid = false;
		}else if( iSen == 'SENall' && item['SEN'] == 'None' ){
			isValid = false;
		}
		
		if(  iMostAble != 0 && iMostAble != 'MostAbleall' && iMostAble != item['MostAble'] ){
			isValid = false;
		}else if( iMostAble == 'MostAbleall' && item['MostAble'] != 'MostAble 1' && item['MostAble'] != 'MostAble 2' ){
			isValid = false;
		}
		
		if(  iEAL != 0 && iEAL != 'EALall' && iEAL != item['EAL'] ){
			isValid = false;
		}else if( iEAL == 'EALall' && item['EAL'] == 'None' ){
			isValid = false;
		}
		
		if(iMoreable == 1 && item['MoreAble'] == 'F'){
			isValid = false;
		}
		if(iMoreable == 0 && item['MoreAble'] == 'T'){
			isValid = false;
		}
				
		if(iSB == 1 && item['SumBirth'] == 'F'){
			isValid = false;
		}
		if(iSB == 0 && item['SumBirth'] == 'T'){
			isValid = false;
		}
		
		if( sClass != 0 ){
			if(sClass != item['Class']){
				isValid = false;
			}
		}
		
		if(isValid){
			var objRow = new Object();
			objRow.forename = item['Fullname'];
			objRow.surename = '';
			objRow.gender = item['Gender'];
			objRow.cls = item['Class'];
			objRow.ls = '';
			
			if(item['SEN'] != 'None'){
				objRow.ls += item['SEN'].replace( 'SEND' , 'SEN' ) + ',';
			}	
			if(item['EAL'] != 'None'){
				objRow.ls += item['EAL'].replace( 'Level' , '' ) + ',';
			}	
			if(item['MostAble'] != 'None'){
				objRow.ls += item['MostAble'] + ',';
			}	
			if(item['MoreAble'] == 'T'){
				objRow.ls += 'MoreAble,';
			}
			if(item['SumBirth'] == 'T'){
				objRow.ls += 'SumBirth,';
			}
			objRow.ls = objRow.ls.slice(0, - 1);
			
			objRow.forename = item['Fullname'];
			{% for records in DataObj.RecordList %}
				objRow.{{records}} = '';
			{% endfor %}
			
			$.each(item.Level, function (j, subitem) {
				var key = '';
				{% for records in DataObj.RecordList %}
					if ( subitem.hasOwnProperty('{{records}}') ) {
						objRow.{{records}} = subitem['{{records}}'];
					}
				{% endfor %}
			
			});
			arrResult.push(objRow);
		}
	});

	$.each(arrResult, function (i, item) {
		content += '<tr>';
		content += '<td class="tleft">' + item.forename + '</td>';
		content += '<td class="Gender">' + item.gender + '</td>';
		content += '<td class="Class">' + item.cls + '</td>';
		content += '<td class="LearningSupport">' + item.ls + '</td>';
		
		{% for records in DataObj.RecordList %}
			content += '<td class="{{records}}">' + item.{{records}} + '</td>';
		{% endfor %}
		
		content += '</tr>';
    });
    $('#tblResult >tbody').html(content);
}

function getById(id, myArray){ return myArray.filter(function(obj) { if(obj.key == id) { return obj; } })[0]; }
</script>
</body></html>
