
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static from staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<META name="description" content="">
	<Meta name="keywords" content="">
	<TITLE>Levels Percentages Report for {{DataObject.GroupName }}/{{DataObj.Term}}/{{DataObj.SubjectName}}/{{DataObj.AcYear}}</TITLE>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script type="text/javascript">
		document.write("\<script src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js' type='text/javascript'>\<\/script>");
	</script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/AnalysisReportStyles.css">
	<style type="text/css">
		td { text-align :center !important;}
	</style>
</head>
<body>
<div id="main_wrapper">
	<section class="panel">
       <header class="panel-heading"><b>Levels Percentages Report for {{DataObject.GroupName }}/{{DataObj.Term}}/{{DataObj.SubjectName}}/{{DataObj.AcYear}}</b></header>
       <div class="table-responsive">
       <form action="report1.html" id="frmReport">
        <table id="tblResult" BORDER="1" CELLPADDING=6 CELLSPACING=0 class="LPselect">
           <thead>
             <tr class="no-print">
              <td colspan="6"><b>Filter by:</b> 
					Gender: <select id="chkGender">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">Male</option>
              							  			<option value="0">Female</option>
              							  		 </select>
					
              							  Sen: <select id="chkSen">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>
              							  MostAble: <select id="chkgt">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>
              							  EAL: <select id="chkeAL">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>
					
              							  MoreAble:  <select id="chkMoreAble">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>
              							  Summer Birth: <select id="chkSB">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>
					<button type="button" id="btnreset" class="btn btn-primary">Reset</button>
              </td>
             </tr>
             <tr style="background-color: #D1D0CE;" id="theader">

             </tr>
           </thead>
           <tbody>
           </tbody>
         </table>
         </form>
       </div>
     </section>
	<!-- / footer -->
</div>
<script type="text/javascript">

var jsonp='';
{% for datalines in DataObj.JSONData %}
jsonp += {{ datalines|safe }};
{% endfor %}

//Calculate the result here: 
$(document).ready(function() {
	var objData = $.parseJSON(jsonp);
	//console.log( objData );
	FilterData(objData, -1, 0, 0, -1, 0, -1);

	var MostAbleData = [];
	var EALData = [];
	var SENData = [];
	
	var MostAbleOptions = '<option value=0>N/A</option>';
	var SENOptions = '<option value=0>N/A</option>';
	var EALOptions = '<option value=0>N/A</option>';
	
	$.each(objData, function(i, item){
		if ( $.inArray( item['MostAble'], MostAbleData ) == -1 ) {
			MostAbleData.push( item['MostAble'] );
		}
		if ( $.inArray( item['SEN'], SENData ) == -1 ) {
			SENData.push( item['SEN'] );
		}
		if ( $.inArray( item['EAL'], EALData ) == -1 ) {
			EALData.push( item['EAL'] );
		}
	});
	MostAbleData.sort();
	$.each( MostAbleData, function(i, item){
		MostAbleOptions += '<option value="' + item + '">' + item + '</option>';
	});
	MostAbleOptions += '<option value="MostAbleall">All MostAble</option>';
	
	SENData.sort();
	$.each( SENData, function(i, item){
		if ( item == "SEND 1" ){ SENoption = 'SEN 1'; }
		else if ( item == "SEND 2" ){ SENoption = 'SEN 2'; }
		else if ( item == "SEND 3" ){ SENoption = 'SEN 3'; }
		else if ( item == "SEND 4" ){ SENoption = 'SEN 4'; }
		else if ( item == "SEND 5" ){ SENoption = 'SEN 5'; }
		else{ SENoption = 'None'; }
		SENOptions += '<option value="' + item + '">' + SENoption + '</option>';
	});
	SENOptions += '<option value="SEN12">SEN 1+2</option>';
	SENOptions += '<option value="SENall">All SEN</option>';
	
	EALData.sort();
	$.each( EALData, function(i, item){
		EALOptions += '<option value="' + item + '">' + item + '</option>';
	});
	EALOptions += '<option value="EALall">All EAL</option>';
	
	$('#chkgt').html( MostAbleOptions );
	$('#chkSen').html( SENOptions );
	$('#chkeAL').html( EALOptions );


	
    $("#chkGender").change(function () {
    	CreateFilter(objData);
    });
    $("#chkSen").change(function () {
    	CreateFilter(objData);
    });
    $("#chkeAL").change(function () {
    	CreateFilter(objData);
    });
    $("#chkgt").change(function () {
    	CreateFilter(objData);
    });
    $("#chkMoreAble").change(function () {
    	CreateFilter(objData);
    });
    $("#chkSB").change(function () {
    	CreateFilter(objData);
    });
    
    $("#btnreset").click(function () {
		$("#frmReport").trigger('reset');
    	CreateFilter(objData);
    });
});

function CreateFilter(objData){
	var iGender = $("#chkGender").val();
	var iSen = $("#chkSen").val();
	var iMostAble = $("#chkgt").val();
	var iMoreable = $("#chkMoreAble").val();
	var iEAL = $("#chkeAL").val();
	var iSB = $("#chkSB").val();
	var sClass = $('#sltClass').val();
	FilterData(objData, iGender, iSen, iMostAble, iMoreable, iEAL, iSB);
}

function FilterData(objData, iGender, iSen, iMostAble, iMoreable, iEAL, iSB){
	var content = "";
	//console.log(objData);
	$('#tblResult >tbody').html("");
	var arrResult = [];
	
	classObj = {};
	$.each(objData, function (i, item) {
		if ( !( item['Class'] in classObj ) ){
			classObj[ item['Class']  ] = 0;
		}
	});

	var objRow = new Object();
	objRow.key = 'W';
	objRow.year = 0;
	$.each( classObj, function (i, item) {
			objRow[ i  ] = 0;
	});
	arrResult.push(objRow);
	for(var i=1;i<=8;i++)
	{
		var objRow = new Object();
		objRow.key = i +'c';
		objRow.year = 0;
		$.each(classObj, function (i, item) {
				objRow[ i  ] = 0;
		});
	
		arrResult.push(objRow);
		var objRow = new Object();
		objRow.key = i +'b';
		objRow.year = 0;
		$.each(classObj, function (i, item) {
				objRow[ i ] = 0;
		});
		
		arrResult.push(objRow);
		var objRow = new Object();
		objRow.key = i +'a';
		objRow.year = 0;
		$.each(classObj, function (i, item) {
				objRow[ i  ] = 0;
		});
		arrResult.push(objRow);
	}
	
	var total = 0;
	
	$.each(objData, function (i, item) {
		//Filter here:
		var isValid = true;
		
		if(iGender == 1 && item['Gender'] == 'F'){
			isValid = false;
		}
		if(iGender == 0 && item['Gender'] == 'M'){
			isValid = false;
		}
		if(  iSen != 0 && iSen != 'SENall' && iSen != item['SEN'] && iSen != 'SEN12' ){
			isValid = false;
		}else if( iSen == 'SEN12' && item['SEN'] != 'SEND 1' && item['SEN'] != 'SEND 2' ){
			isValid = false;
		}else if( iSen == 'SENall' && item['SEN'] != 'SEND 1' && item['SEN'] != 'SEND 2' && item['SEN'] != 'SEND 3' && item['SEN'] != 'SEND 4' && item['SEN'] != 'SEND 5' ){
			isValid = false;
		}
		
		if(  iMostAble != 0 && iMostAble != 'MostAbleall' && iMostAble != item['MostAble'] ){
			isValid = false;
		}else if( iMostAble == 'MostAbleall' && item['MostAble'] != 'MostAble 1' && item['MostAble'] != 'MostAble 2' ){
			isValid = false;
		}

		if(iMoreable == 1 && item['MoreAble'] == 'F'){
			isValid = false;
		}
		if(iMoreable == 0 && item['MoreAble'] == 'T'){
			isValid = false;
		}
		
		if(  iEAL != 0 && iEAL != 'EALall' && iEAL != item['EAL'] ){
			isValid = false;
		}else if( iEAL == 'EALall' && item['EAL'] == 'None' ){
			isValid = false;
		}

		if(iSB == 1 && item['SumBirth'] == 'F'){
			isValid = false;
		}
		if(iSB == 0 && item['SumBirth'] == 'T'){
			isValid = false;
		}
			
		//console.log(isValid);
		if(isValid){
		
			$.each(item.Level, function (j, subitem) {
				//console.log( subitem );
				var key = '';
				var objRow = new Object();
				if ( subitem.hasOwnProperty('Level') ) {
					key = subitem['Level'];
					console.log('hmm');
		        }
				$.each(arrResult, function (k, item1) {
					if(item1.key == key){
						item1.year = item1.year + 1;
						//Calculate total: 
						total = total + 1;
						classObj[ item['Class'] ]  ++ ;
						item1[ item['Class']  ] ++;
					}
									
				});
				
			});
		}
	});
	//console.log( arrResult );
	content = '<td width="6%"></td><td><b>YearGroup</b></td>';
	$.each( classObj , function( i, item ){
		content += '<td><b>' + i + '</b></td>';
	});

	$('#theader').html(content);
	
	content ='';
	
	$.each(arrResult, function (i, item) {
		content += '<tr class="nostripe">';
		content += '<td bgcolor="#F7F8F9"><b>' + item['key'] + '</b></td>';
		if(item['year'] > 0){
			var percent = (item['year']/total)*100;
			var round = 2;
			if(percent == 100)
				round = 0;
			content += '<td>' + percent.toFixed(round) + '</td>';
		}else{
			content += '<td bgcolor="#ddd">0.00</td>';
		}
		
		$.each( classObj, function( c, cdat ){
			if(item[c] > 0){
				var percent = ( item[c] / classObj[c] )*100;
				var round = 2;
				if(percent == 100)
					round = 0;
				content += '<td>' + percent.toFixed(round) + '</td>';
			}else{
					content += '<td bgcolor="#ddd">0.00</td>';
				}
		});
		
		content += '</tr>';
    });

    $('#tblResult >tbody').html(content); 
}

function getById(id, myArray) {
    return myArray.filter(function(obj) {
      if(obj.key == id) {
        return obj; 
      }
    })[0];
}
</script>
</body>
</html>



