
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head>
{% load static from staticfiles %}
	<meta charset="utf-8">
	<META name="description" content="Mapping {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.AcYear}}">
	<Meta name="keywords" content="Mapping {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.AcYear}}">
	<TITLE>Mapping {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.AcYear}} ({{ DataObj.RecordList.0 }} -
        {{ DataObj.RecordList.1 }})
        (Gen Date {{ DataObj.today|date:"SHORT_DATE_FORMAT" }})</TITLE>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="{% static "css/AnalysisReportStyles.css" %}">
	<script type="text/javascript">
		document.write("\<script src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js' type='text/javascript'>\<\/script>");
	</script>
	
	<style type="text/css">
	:root {	-webkit-print-color-adjust: exact;}
		td { text-align :center !important; font-size:11px !important;}
		#tblResult
		{width: 100%; margin: 0 auto;}
		.color1
		{
			background-color:#F7F8F9 !important;
		}
		.color2
		{
			background-color:peachpuff !important;
		}
		.color3
		{
			background-color:plum !important;
		}
	</style>
<body>
       
       <header class="panel-heading"><b>Mapping {{DataObj.GroupName}} {{DataObj.SubjectName}} {{DataObj.AcYear}} ({{ DataObj.RecordList.0 }} -{{ DataObj.RecordList.1 }}) </b>
       			<ul class='no-print mappingUl'>
					<font style='color: #228B22 !important;'><li>SEN Action </li></font>
					<font style='color: lightseagreen !important;'><li>EAL only</li></font>
					<li> (*) Shows the EAL level is applicable</li>
					<font style='color: red;'><li>(MostAble) Gifted and Talented.</li></font>
					<font style='color: gold;'><li>(SB) Summer Birth</li></font>
				</ul>
       </header>
	<section class="panel">	
<!-- Put Filters into their own include statement -->
         <table class="mappingTable" BORDER="1"  BORDERCOLOR="#000000" CELLPADDING="4" CELLSPACING=0 class='no-print'>
             <tr class="no-print">
              <td id="tdFilter"><b>Filter by:</b> 
              							 Class: <select id="sltClass">
              							  		 </select>

										 Gender: <select id="chkGender">
              							  			<option value="NA" selected="selected">N/A</option>
              							  			<option value="M">Male</option>
              							  			<option value="F">Female</option>
              							  		 </select>
					
              							  Sen: <select id="chkSEN">

              							  		 </select>
              							  MostAble: <select id="chkGT">

              							  		 </select>
              							  EAL: <select id="chkEAL">

              							  		 </select>
					
              							  MoreAble:  <select id="chkMoreAble">
              							  			<option value="NA" selected="selected">N/A</option>
              							  			<option value="T">True</option>
              							  			<option value="F">False</option>
              							  		 </select>
              							  Summer Birth: <select id="chkSB">
              							  			<option value="NA" selected="selected">N/A</option>
              							  			<option value="T">True</option>
              							  			<option value="F">False</option>
              							  		 </select>
	

										 <div>Show empty rows and columns <input type="checkbox" name="chkShowEmpty" id="showempty" class="showempty" value="1"></div>
              </td>
             </tr>
         </table>
<!-- End filters -->
         
<div class="table-responsive mappingTable">        
<table BORDER="1"  BORDERCOLOR="#000000" CELLPADDING="6" CELLSPACING=0>
	<tr class='Titles'>
		<td class='color1'>Across=Current Year<br>Down=Prev Year</td>
		<td id='1cCol' class='color1'>1c</td><td id='1bCol' class='color1'>1b</td><td id='1aCol' class='color1'>1a</td>
		<td id='2cCol' class='color1'>2c</td><td id='2bCol' class='color1'>2b</td><td id='2aCol' class='color1'>2a</td>
		<td id='3cCol' class='color1'>3c</td><td id='3bCol' class='color1'>3b</td><td id='3aCol' class='color1'>3a</td>
		<td id='4cCol' class='color1'>4c</td><td id='4bCol' class='color1'>4b</td><td id='4aCol' class='color1'>4a</td>
		<td id='5cCol' class='color1'>5c</td><td id='5bCol' class='color1'>5b</td><td id='5aCol' class='color1'>5a</td>
		<td id='6cCol' class='color1'>6c</td><td id='6bCol' class='color1'>6b</td><td id='6aCol' class='color1'>6a</td>
		<td id='7cCol' class='color1'>7c</td><td id='7bCol' class='color1'>7b</td><td id='7aCol' class='color1'>7a</td>
		<td id='8cCol' class='color1'>8c</td><td id='8bCol' class='color1'>8b</td><td id='8aCol' class='color1'>8a</td>
	</tr>
	<tr id='WRow'>
	<td class='color1'>W</td>
	<td id='W1c'></td><td id='W1b'></td><td id='W1a' class='color2'></td>
	<td id='W2c' class='color3'></td><td id='W2b'></td><td id='W2a'></td>
	<td id='W3c'></td><td id='W3b'></td><td id='W3a'></td>
	<td id='W4c'></td><td id='W4b'></td><td id='W4a'></td>	
	<td id='W5c'></td><td id='W5b'></td><td id='W5a'></td>	
	<td id='W6c'></td><td id='W6b'></td><td id='W6a'></td>
	<td id='W7c'></td><td id='W7b'></td><td id='W7a'></td>
	<td id='W8c'></td><td id='W8b'></td><td id='W8a'></td>	
	</tr>
	<tr id='1cRow'>
	<td class='color1'>1c</td>
	<td id='1c1c'></td><td id='1c1b'></td><td id='1c1a'></td>
	<td id='1c2c' class='color2'></td><td id='1c2b' class='color3'></td><td id='1c2a'></td>
	<td id='1c3c'></td><td id='1c3b'></td><td id='1c3a'></td>
	<td id='1c4c'></td><td id='1c4b'></td><td id='1c4a'></td>	
	<td id='1c5c'></td><td id='1c5b'></td><td id='1c5a'></td>	
	<td id='1c6c'></td><td id='1c6b'></td><td id='1c6a'></td>
	<td id='1c7c'></td><td id='1c7b'></td><td id='1c7a'></td>
	<td id='1c8c'></td><td id='1c8b'></td><td id='1c8a'></td>
	</tr>
	<tr id='1bRow'>
	<td class='color1'>1b</td>
	<td id='1b1c'></td><td id='1b1b'></td><td id='1b1a'></td>
	<td id='1b2c'></td><td id='1b2b' class='color2'></td><td id='1b2a' class='color3'></td>
	<td id='1b3c'></td><td id='1b3b'></td><td id='1b3a'></td>
	<td id='1b4c'></td><td id='1b4b'></td><td id='1b4a'></td>	
	<td id='1b5c'></td><td id='1b5b'></td><td id='1b5a'></td>	
	<td id='1b6c'></td><td id='1b6b'></td><td id='1b6a'></td>
	<td id='1b7c'></td><td id='1b7b'></td><td id='1b7a'></td>
	<td id='1b8c'></td><td id='1b8b'></td><td id='1b8a'></td>
	</tr>	
	<tr id='1aRow'>
	<td class='color1'>1a</td>
	<td id='1a1c'></td><td id='1a1b'></td><td id='1a1a'></td>
	<td id='1a2c'></td><td id='1a2b' class='color2'></td><td id='1a2a' class='color3'></td>
	<td id='1a3c'></td><td id='1a3b'></td><td id='1a3a'></td>
	<td id='1a4c'></td><td id='1a4b'></td><td id='1a4a'></td>	
	<td id='1a5c'></td><td id='1a5b'></td><td id='1a5a'></td>	
	<td id='1a6c'></td><td id='1a6b'></td><td id='1a6a'></td>
	<td id='1a7c'></td><td id='1a7b'></td><td id='1a7a'></td>
	<td id='1a8c'></td><td id='1a8b'></td><td id='1a8a'></td>
	</tr>	
	<tr id='2cRow'>
	<td class='color1'>2c</td>
	<td id='2c1c'></td><td id='2c1b'></td><td id='2c1a'></td>
	<td id='2c2c'></td><td id='2c2b' class='color2'></td><td id='2c2a' class='color3'></td>
	<td id='2c3c'></td><td id='2c3b'></td><td id='2c3a'></td>
	<td id='2c4c'></td><td id='2c4b'></td><td id='2c4a'></td>	
	<td id='2c5c'></td><td id='2c5b'></td><td id='2c5a'></td>	
	<td id='2c6c'></td><td id='2c6b'></td><td id='2c6a'></td>
	<td id='2c7c'></td><td id='2c7b'></td><td id='2c7a'></td>
	<td id='2c8c'></td><td id='2c8b'></td><td id='2c8a'></td>
	</tr>
	<tr id='2bRow'>
	<td class='color1'>2b</td>
	<td id='2b1c'></td><td id='2b1b'></td><td id='2b1a'></td>
	<td id='2b2c'></td><td id='2b2b'></td><td id='2b2a' class='color2'></td>
	<td id='2b3c' class='color3'></td><td id='2b3b'></td><td id='2b3a'></td>
	<td id='2b4c'></td><td id='2b4b'></td><td id='2b4a'></td>	
	<td id='2b5c'></td><td id='2b5b'></td><td id='2b5a'></td>	
	<td id='2b6c'></td><td id='2b6b'></td><td id='2b6a'></td>
	<td id='2b7c'></td><td id='2b7b'></td><td id='2b7a'></td>
	<td id='2b8c'></td><td id='2b8b'></td><td id='2b8a'></td>
	</tr>
	<tr id='2aRow'>
	<td class='color1'>2a</td>
	<td id='2a1c'></td><td id='2a1b'></td><td id='2a1a'></td>
	<td id='2a2c'></td><td id='2a2b'></td><td id='2a2a'></td>
	<td id='2a3c' class='color2'></td><td id='2a3b' class='color3'></td><td id='2a3a'></td>
	<td id='2a4c'></td><td id='2a4b'></td><td id='2a4a'></td>	
	<td id='2a5c'></td><td id='2a5b'></td><td id='2a5a'></td>	
	<td id='2a6c'></td><td id='2a6b'></td><td id='2a6a'></td>
	<td id='2a7c'></td><td id='2a7b'></td><td id='2a7a'></td>
	<td id='2a8c'></td><td id='2a8b'></td><td id='2a8a'></td>
	</tr>	
	<tr id='3cRow'>
	<td class='color1'>3c</td>
	<td id='3c1c'></td><td id='3c1b'></td><td id='3c1a'></td>
	<td id='3c2c'></td><td id='3c2b'></td><td id='3c2a'></td>
	<td id='3c3c'></td><td id='3c3b' class='color2'></td><td id='3c3a' class='color3'></td>
	<td id='3c4c'></td><td id='3c4b'></td><td id='3c4a'></td>	
	<td id='3c5c'></td><td id='3c5b'></td><td id='3c5a'></td>	
	<td id='3c6c'></td><td id='3c6b'></td><td id='3c6a'></td>
	<td id='3c7c'></td><td id='3c7b'></td><td id='3c7a'></td>
	<td id='3c8c'></td><td id='3c8b'></td><td id='3c8a'></td>
	</tr>	
	<tr id='3bRow'>
	<td class='color1'>3b</td>
	<td id='3b1c'></td><td id='3b1b'></td><td id='3b1a'></td>
	<td id='3b2c'></td><td id='3b2b'></td><td id='3b2a'></td>
	<td id='3b3c'></td><td id='3b3b'></td><td id='3b3a' class='color2'></td>
	<td id='3b4c' class='color3'></td><td id='3b4b'></td><td id='3b4a'></td>	
	<td id='3b5c'></td><td id='3b5b'></td><td id='3b5a'></td>	
	<td id='3b6c'></td><td id='3b6b'></td><td id='3b6a'></td>
	<td id='3b7c'></td><td id='3b7b'></td><td id='3b7a'></td>
	<td id='3b8c'></td><td id='3b8b'></td><td id='3b8a'></td>
	</tr>
	<tr id='3aRow'>
	<td class='color1'>3a</td>
	<td id='3a1c'></td><td id='3a1b'></td><td id='3a1a'></td>
	<td id='3a2c'></td><td id='3a2b'></td><td id='3a2a'></td>
	<td id='3a3c'></td><td id='3a3b'></td><td id='3a3a'></td>
	<td id='3a4c' class='color2'></td><td id='3a4b' class='color3'></td><td id='3a4a'></td>	
	<td id='3a5c'></td><td id='3a5b'></td><td id='3a5a'></td>	
	<td id='3a6c'></td><td id='3a6b'></td><td id='3a6a'></td>
	<td id='3a7c'></td><td id='3a7b'></td><td id='3a7a'></td>
	<td id='3a8c'></td><td id='3a8b'></td><td id='3a8a'></td>
	</tr>	
	<tr id='4cRow'>
	<td class='color1'>4c</td>
	<td id='4c1c'></td><td id='4c1b'></td><td id='4c1a'></td>
	<td id='4c2c'></td><td id='4c2b'></td><td id='4c2a'></td>
	<td id='4c3c'></td><td id='4c3b'></td><td id='4c3a'></td>
	<td id='4c4c'></td><td id='4c4b' class='color2'></td><td id='4c4a' class='color3'></td>	
	<td id='4c5c'></td><td id='4c5b'></td><td id='4c5a'></td>	
	<td id='4c6c'></td><td id='4c6b'></td><td id='4c6a'></td>
	<td id='4c7c'></td><td id='4c7b'></td><td id='4c7a'></td>
	<td id='4c8c'></td><td id='4c8b'></td><td id='4c8a'></td>
	</tr>
	<tr id='4bRow'>
	<td class='color1'>4b</td>
	<td id='4b1c'></td><td id='4b1b'></td><td id='4b1a'></td>
	<td id='4b2c'></td><td id='4b2b'></td><td id='4b2a'></td>
	<td id='4b3c'></td><td id='4b3b'></td><td id='4b3a'></td>
	<td id='4b4c'></td><td id='4b4b'></td><td id='4b4a' class='color2'></td>	
	<td id='4b5c' class='color3'></td><td id='4b5b'></td><td id='4b5a'></td>	
	<td id='4b6c'></td><td id='4b6b'></td><td id='4b6a'></td>
	<td id='4b7c'></td><td id='4b7b'></td><td id='4b7a'></td>
	<td id='4b8c'></td><td id='4b8b'></td><td id='4b8a'></td>
	</tr>	
	<tr id='4aRow'>
	<td class='color1'>4a</td>
	<td id='4a1c'></td><td id='4a1b'></td><td id='4a1a'></td>
	<td id='4a2c'></td><td id='4a2b'></td><td id='4a2a'></td>
	<td id='4a3c'></td><td id='4a3b'></td><td id='4a3a'></td>
	<td id='4a4c'></td><td id='4a4b'></td><td id='4a4a'></td>	
	<td id='4a5c' class='color2'></td><td id='4a5b' class='color3'></td><td id='4a5a'></td>	
	<td id='4a6c'></td><td id='4a6b'></td><td id='4a6a'></td>
	<td id='4a7c'></td><td id='4a7b'></td><td id='4a7a'></td>
	<td id='4a8c'></td><td id='4a8b'></td><td id='4a8a'></td>
	</tr>	
	<tr id='5cRow'>
	<td class='color1'>5c</td>
	<td id='5c1c'></td><td id='5c1b'></td><td id='5c1a'></td>
	<td id='5c2c'></td><td id='5c2b'></td><td id='5c2a'></td>
	<td id='5c3c'></td><td id='5c3b'></td><td id='5c3a'></td>
	<td id='5c4c'></td><td id='5c4b'></td><td id='5c4a'></td>	
	<td id='5c5c'></td><td id='5c5b' class='color2'></td><td id='5c5a' class='color3'></td>	
	<td id='5c6c'></td><td id='5c6b'></td><td id='5c6a'></td>
	<td id='5c7c'></td><td id='5c7b'></td><td id='5c7a'></td>
	<td id='5c8c'></td><td id='5c8b'></td><td id='5c8a'></td>
	</tr>	
	<tr id='5bRow'>
	<td class='color1'>5b</td>
	<td id='5b1c'></td><td id='5b1b'></td><td id='5b1a'></td>
	<td id='5b2c'></td><td id='5b2b'></td><td id='5b2a'></td>
	<td id='5b3c'></td><td id='5b3b'></td><td id='5b3a'></td>
	<td id='5b4c'></td><td id='5b4b'></td><td id='5b4a'></td>	
	<td id='5b5c'></td><td id='5b5b'></td><td id='5b5a' class='color2'></td>	
	<td id='5b6c' class='color3'></td><td id='5b6b'></td><td id='5b6a'></td>
	<td id='5b7c'></td><td id='5b7b'></td><td id='5b7a'></td>
	<td id='5b8c'></td><td id='5b8b'></td><td id='5b8a'></td>
	</tr>
	<tr id='5aRow'>
	<td class='color1'>5a</td>
	<td id='5a1c'></td><td id='5a1b'></td><td id='5a1a'></td>
	<td id='5a2c'></td><td id='5a2b'></td><td id='5a2a'></td>
	<td id='5a3c'></td><td id='5a3b'></td><td id='5a3a'></td>
	<td id='5a4c'></td><td id='5a4b'></td><td id='5a4a'></td>	
	<td id='5a5c'></td><td id='5a5b'></td><td id='5a5a'></td>	
	<td id='5a6c' class='color2'></td><td id='5a6b' class='color3'></td><td id='5a6a'></td>
	<td id='5a7c'></td><td id='5a7b'></td><td id='5a7a'></td>
	<td id='5a8c'></td><td id='5a8b'></td><td id='5a8a'></td>
	</tr>	
	<tr id='6cRow'>
	<td class='color1'>6c</td>
	<td id='6c1c'></td><td id='6c1b'></td><td id='6c1a'></td>
	<td id='6c2c'></td><td id='6c2b'></td><td id='6c2a'></td>
	<td id='6c3c'></td><td id='6c3b'></td><td id='6c3a'></td>
	<td id='6c4c'></td><td id='6c4b'></td><td id='6c4a'></td>	
	<td id='6c5c'></td><td id='6c5b'></td><td id='6c5a'></td>	
	<td id='6c6c'></td><td id='6c6b' class='color2'></td><td id='6c6a' class='color3'></td>
	<td id='6c7c'></td><td id='6c7b'></td><td id='6c7a'></td>
	<td id='6c8c'></td><td id='6c8b'></td><td id='6c8a'></td>
	</tr>
	<tr id='6bRow'>
	<td class='color1'>6b</td>
	<td id='6b1c'></td><td id='6b1b'></td><td id='6b1a'></td>
	<td id='6b2c'></td><td id='6b2b'></td><td id='6b2a'></td>
	<td id='6b3c'></td><td id='6b3b'></td><td id='6b3a'></td>
	<td id='6b4c'></td><td id='6b4b'></td><td id='6b4a'></td>	
	<td id='6b5c'></td><td id='6b5b'></td><td id='6b5a'></td>	
	<td id='6b6c'></td><td id='6b6b'></td><td id='6b6a' class='color2'></td>
	<td id='6b7c' class='color3'></td><td id='6b7b'></td><td id='6b7a'></td>
	<td id='6b8c'></td><td id='6b8b'></td><td id='6b8a'></td>
	</tr>	
	<tr id='6aRow'>
	<td class='color1'>6a</td>
	<td id='6a1c'></td><td id='6a1b'></td><td id='6a1a'></td>
	<td id='6a2c'></td><td id='6a2b'></td><td id='6a2a'></td>
	<td id='6a3c'></td><td id='6a3b'></td><td id='6a3a'></td>
	<td id='6a4c'></td><td id='6a4b'></td><td id='6a4a'></td>	
	<td id='6a5c'></td><td id='6a5b'></td><td id='6a5a'></td>	
	<td id='6a6c'></td><td id='6a6b'></td><td id='6a6a'></td>
	<td id='6a7c' class='color2'></td><td id='6a7b' class='color3'></td><td id='6a7a'></td>
	<td id='6a8c'></td><td id='6a8b'></td><td id='6a8a'></td>
	</tr>
	<tr id='7cRow'>
	<td class='color1'>7c</td>
	<td id='7c1c'></td><td id='7c1b'></td><td id='7c1a'></td>
	<td id='7c2c'></td><td id='7c2b'></td><td id='7c2a'></td>
	<td id='7c3c'></td><td id='7c3b'></td><td id='7c3a'></td>
	<td id='7c4c'></td><td id='7c4b'></td><td id='7c4a'></td>	
	<td id='7c5c'></td><td id='7c5b'></td><td id='7c5a'></td>	
	<td id='7c6c'></td><td id='7c6b'></td><td id='7c6a'></td>
	<td id='7c7c'></td><td id='7c7b' class='color2'></td><td id='7c7a' class='color3'></td>
	<td id='7c8c'></td><td id='7c8b'></td><td id='7c8a'></td>
	</tr>	
	<tr id='7bRow'>
	<td class='color1'>7b</td>
	<td id='7b1c'></td><td id='7b1b'></td><td id='7b1a'></td>
	<td id='7b2c'></td><td id='7b2b'></td><td id='7b2a'></td>
	<td id='7b3c'></td><td id='7b3b'></td><td id='7b3a'></td>
	<td id='7b4c'></td><td id='7b4b'></td><td id='7b4a'></td>	
	<td id='7b5c'></td><td id='7b5b'></td><td id='7b5a'></td>	
	<td id='7b6c'></td><td id='7b6b'></td><td id='7b6a'></td>
	<td id='7b7c'></td><td id='7b7b'></td><td id='7b7a' class='color2'></td>
	<td id='7b8c' class='color3'></td><td id='7b8b'></td><td id='7b8a'></td>
	</tr>
	<tr id='7aRow'>
	<td class='color1'>7a</td>
	<td id='7a1c'></td><td id='7a1b'></td><td id='7a1a'></td>
	<td id='7a2c'></td><td id='7a2b'></td><td id='7a2a'></td>
	<td id='7a3c'></td><td id='7a3b'></td><td id='7a3a'></td>
	<td id='7a4c'></td><td id='7a4b'></td><td id='7a4a'></td>	
	<td id='7a5c'></td><td id='7a5b'></td><td id='7a5a'></td>	
	<td id='7a6c'></td><td id='7a6b'></td><td id='7a6a'></td>
	<td id='7a7c'></td><td id='7a7b'></td><td id='7a7a'></td>
	<td id='7a8c' class='color2'></td><td id='7a8b' class='color3'></td><td id='7a8a'></td>
	</tr>			
	<tr id='8cRow'>
	<td class='color1'>8c</td>
	<td id='8c1c'></td><td id='8c1b'></td><td id='8c1a'></td>
	<td id='8c2c'></td><td id='8c2b'></td><td id='8c2a'></td>
	<td id='8c3c'></td><td id='8c3b'></td><td id='8c3a'></td>
	<td id='8c4c'></td><td id='8c4b'></td><td id='8c4a'></td>	
	<td id='8c5c'></td><td id='8c5b'></td><td id='8c5a'></td>	
	<td id='8c6c'></td><td id='8c6b'></td><td id='8c6a'></td>
	<td id='8c7c'></td><td id='8c7b'></td><td id='8c7a'></td>
	<td id='8c8c'></td><td id='8c8b' class='color2'></td><td id='8c8a' class='color3'></td>
	</tr>
	<tr id='8bRow'>
	<td class='color1'>8b</td>
	<td id='8b1c'></td><td id='8b1b'></td><td id='8b1a'></td>
	<td id='8b2c'></td><td id='8b2b'></td><td id='8b2a'></td>
	<td id='8b3c'></td><td id='8b3b'></td><td id='8b3a'></td>
	<td id='8b4c'></td><td id='8b4b'></td><td id='8b4a'></td>	
	<td id='8b5c'></td><td id='8b5b'></td><td id='8b5a'></td>	
	<td id='8b6c'></td><td id='8b6b'></td><td id='8b6a'></td>
	<td id='8b7c'></td><td id='8b7b'></td><td id='8b7a'></td>
	<td id='8b8c'></td><td id='8b8b'></td><td id='8b8a' class='color2'></td>
	</tr>
	<tr id='8aRow'>
	<td class='color1'>8a</td>
	<td id='8a1c'></td><td id='8a1b'></td><td id='8a1a'></td>
	<td id='8a2c'></td><td id='8a2b'></td><td id='8a2a'></td>
	<td id='8a3c'></td><td id='8a3b'></td><td id='8a3a'></td>
	<td id='8a4c'></td><td id='8a4b'></td><td id='8a4a'></td>	
	<td id='8a5c'></td><td id='8a5b'></td><td id='8a5a'></td>	
	<td id='8a6c'></td><td id='8a6b'></td><td id='8a6a'></td>
	<td id='8a7c'></td><td id='8a7b'></td><td id='8a7a'></td>
	<td id='8a8c'></td><td id='8a8b'></td><td id='8a8a'></td>
	</tr>				
</table>
</div>
</section>

<script type="text/javascript">
	//Define data here : 
var jsonp='';
{% for datalines in DataObj.JSONData %}
jsonp += {{ datalines|safe }};
{% endfor %}

var CellIdList=['W1c','W1b','W1a','W2c','W2b','W2a','W3c','W3b','W3a','W4c','W4b','W4a','W5c','W5b','W5a','W6c','W6b','W6a','W7c','W7b','W7a','W8c','W8b','W8a',
'1c1c','1c1b','1c1a','1c2c','1c2b','1c2a','1c3c','1c3b','1c3a','1c4c','1c4b','1c4a','1c5c','1c5b','1c5a','1c6c','1c6b','1c6a','1c7c','1c7b','1c7a','1c8c','1c8b','1c8a',
'1b1c','1b1b','1b1a','1b2c','1b2b','1b2a','1b3c','1b3b','1b3a','1b4c','1b4b','1b4a','1b5c','1b5b','1b5a','1b6c','1b6b','1b6a','1b7c','1b7b','1b7a','1b8c','1b8b','1b8a',
'1a1c','1a1b','1a1a','1a2c','1a2b','1a2a','1a3c','1a3b','1a3a','1a4c','1a4b','1a4a','1a5c','1a5b','1a5a','1a6c','1a6b','1a6a','1a7c','1a7b','1a7a','1a8c','1a8b','1a8a',
'2c1c','2c1b','2c1a','2c2c','2c2b','2c2a','2c3c','2c3b','2c3a','2c4c','2c4b','2c4a','2c5c','2c5b','2c5a','2c6c','2c6b','2c6a','2c7c','2c7b','2c7a','2c8c','2c8b','2c8a',
'2b1c','2b1b','2b1a','2b2c','2b2b','2b2a','2b3c','2b3b','2b3a','2b4c','2b4b','2b4a','2b5c','2b5b','2b5a','2b6c','2b6b','2b6a','2b7c','2b7b','2b7a','2b8c','2b8b','2b8a',
'2a1c','2a1b','2a1a','2a2c','2a2b','2a2a','2a3c','2a3b','2a3a','2a4c','2a4b','2a4a','2a5c','2a5b','2a5a','2a6c','2a6b','2a6a','2a7c','2a7b','2a7a','2a8c','2a8b','2a8a',
'3c1c','3c1b','3c1a','3c2c','3c2b','3c2a','3c3c','3c3b','3c3a','3c4c','3c4b','3c4a','3c5c','3c5b','3c5a','3c6c','3c6b','3c6a','3c7c','3c7b','3c7a','3c8c','3c8b','3c8a',
'3b1c','3b1b','3b1a','3b2c','3b2b','3b2a','3b3c','3b3b','3b3a','3b4c','3b4b','3b4a','3b5c','3b5b','3b5a','3b6c','3b6b','3b6a','3b7c','3b7b','3b7a','3b8c','3b8b','3b8a',
'3a1c','3a1b','3a1a','3a2c','3a2b','3a2a','3a3c','3a3b','3a3a','3a4c','3a4b','3a4a','3a5c','3a5b','3a5a','3a6c','3a6b','3a6a','3a7c','3a7b','3a7a','3a8c','3a8b','3a8a',
'4c1c','4c1b','4c1a','4c2c','4c2b','4c2a','4c3c','4c3b','4c3a','4c4c','4c4b','4c4a','4c5c','4c5b','4c5a','4c6c','4c6b','4c6a','4c7c','4c7b','4c7a','4c8c','4c8b','4c8a',
'4b1c','4b1b','4b1a','4b2c','4b2b','4b2a','4b3c','4b3b','4b3a','4b4c','4b4b','4b4a','4b5c','4b5b','4b5a','4b6c','4b6b','4b6a','4b7c','4b7b','4b7a','4b8c','4b8b','4b8a',
'4a1c','4a1b','4a1a','4a2c','4a2b','4a2a','4a3c','4a3b','4a3a','4a4c','4a4b','4a4a','4a5c','4a5b','4a5a','4a6c','4a6b','4a6a','4a7c','4a7b','4a7a','4a8c','4a8b','4a8a',
'5c1c','5c1b','5c1a','5c2c','5c2b','5c2a','5c3c','5c3b','5c3a','5c4c','5c4b','5c4a','5c5c','5c5b','5c5a','5c6c','5c6b','5c6a','5c7c','5c7b','5c7a','5c8c','5c8b','5c8a',
'5b1c','5b1b','5b1a','5b2c','5b2b','5b2a','5b3c','5b3b','5b3a','5b4c','5b4b','5b4a','5b5c','5b5b','5b5a','5b6c','5b6b','5b6a','5b7c','5b7b','5b7a','5b8c','5b8b','5b8a',
'5a1c','5a1b','5a1a','5a2c','5a2b','5a2a','5a3c','5a3b','5a3a','5a4c','5a4b','5a4a','5a5c','5a5b','5a5a','5a6c','5a6b','5a6a','5a7c','5a7b','5a7a','5a8c','5a8b','5a8a',
'6c1c','6c1b','6c1a','6c2c','6c2b','6c2a','6c3c','6c3b','6c3a','6c4c','6c4b','6c4a','6c5c','6c5b','6c5a','6c6c','6c6b','6c6a','6c7c','6c7b','6c7a','6c8c','6c8b','6c8a',
'6b1c','6b1b','6b1a','6b2c','6b2b','6b2a','6b3c','6b3b','6b3a','6b4c','6b4b','6b4a','6b5c','6b5b','6b5a','6b6c','6b6b','6b6a','6b7c','6b7b','6b7a','6b8c','6b8b','6b8a',
'6a1c','6a1b','6a1a','6a2c','6a2b','6a2a','6a3c','6a3b','6a3a','6a4c','6a4b','6a4a','6a5c','6a5b','6a5a','6a6c','6a6b','6a6a','6a7c','6a7b','6a7a','6a8c','6a8b','6a8a',
'7c1c','7c1b','7c1a','7c2c','7c2b','7c2a','7c3c','7c3b','7c3a','7c4c','7c4b','7c4a','7c5c','7c5b','7c5a','7c6c','7c6b','7c6a','7c7c','7c7b','7c7a','7c8c','7c8b','7c8a',
'7b1c','7b1b','7b1a','7b2c','7b2b','7b2a','7b3c','7b3b','7b3a','7b4c','7b4b','7b4a','7b5c','7b5b','7b5a','7b6c','7b6b','7b6a','7b7c','7b7b','7b7a','7b8c','7b8b','7b8a',
'7a1c','7a1b','7a1a','7a2c','7a2b','7a2a','7a3c','7a3b','7a3a','7a4c','7a4b','7a4a','7a5c','7a5b','7a5a','7a6c','7a6b','7a6a','7a7c','7a7b','7a7a','7a8c','7a8b','7a8a',
'8c1c','8c1b','8c1a','8c2c','8c2b','8c2a','8c3c','8c3b','8c3a','8c4c','8c4b','8c4a','8c5c','8c5b','8c5a','8c6c','8c6b','8c6a','8c7c','8c7b','8c7a','8c8c','8c8b','8c8a',
'8b1c','8b1b','8b1a','8b2c','8b2b','8b2a','8b3c','8b3b','8b3a','8b4c','8b4b','8b4a','8b5c','8b5b','8b5a','8b6c','8b6b','8b6a','8b7c','8b7b','8b7a','8b8c','8b8b','8b8a',
'8a1c','8a1b','8a1a','8a2c','8a2b','8a2a','8a3c','8a3b','8a3a','8a4c','8a4b','8a4a','8a5c','8a5b','8a5a','8a6c','8a6b','8a6a','8a7c','8a7b','8a7a','8a8c','8a8b','8a8a']

var RowList=['W','1c','1b','1a','2c','2b','2a','3c','3b','3a','4c','4b','4a','5c','5b','5a','6c','6b','6a','7c','7b','7a','8c','8b','8a']

var ColumnList=['1c','1b','1a','2c','2b','2a','3c','3b','3a','4c','4b','4a','5c','5b','5a','6c','6b','6a','7c','7b','7a','8c','8b','8a']

	//function to Populate the table
	function PopulateTable(objData)
	{
		$.each(CellIdList, function(key, CellId)
		{
			$('#'+CellId).html("");
		})
			$.each(objData, function(i,record)
			{
				if (CheckAgainstFilters(record))
				{
					var Level1="";
					var Level2="";
					$.each(record['Level'], function(levelkey, leveldata)
					{
						Level1=leveldata.Level1;
						Level2=leveldata.Level2;
					})
					if (Level1.length > 0 && Level2.length > 0)
					{
						$('#'+Level1+Level2).append(SetRecordHTML(record));
					}
				}
			});
	
	}
	//Setup the Record HTML
	function SetRecordHTML(record)
	{
		var Extra=''
		if (record['EAL']=='T')
		{
			Extra+='EAL ';
		}
		if (record['G&T']=='T')
		{
			Extra+='G&T ';
		}
		if (record['SumBirth']=='T')
		{
			Extra+='SB ';
		}
		if (record['SEN'] != 'None'){	
			if (Extra.length > 0){
				return "<div style='color:forestgreen !important;'>"+record['Fullname']+"("+Extra+")</div>";
			}else{
				return "<div style='color:forestgreen !important;'>"+record['Fullname']+"("+Extra+")</div>";
			}				
		}
		if (record['EAL'] != 'None')
		{
			if (Extra.length > 0){
				return "<div style='color:lightseagreen !important;'>"+record['Fullname']+"("+Extra+")</div>";
			}else{
				return "<div style='color:lightseagreen !important;'>"+record['Fullname']+"("+Extra+")</div>";
			}
		}
		if ( record['MostAble'] !='None'  ){
			if (Extra.length > 0){
				return "<div style='color:red !important;'>"+record['Fullname']+"("+Extra+")</div>";
			}else{
				return "<div style='color:red !important;'>"+record['Fullname']+"("+Extra+")</div>";
			}
		}
		if (record['SumBirth']=='T'){
			if (Extra.length > 0){
				return "<div style='color:gold !important;'>"+record['Fullname']+"("+Extra+")</div>";
			}else{
				return "<div style='color:gold !important;'>"+record['Fullname']+"("+Extra+")</div>";
			}
		}
		if(Extra.length > 0){
			return "<div>"+record['Fullname']+"("+Extra+")</div>"
		}else{
			return "<div>"+record['Fullname']+"</div>"	
		}
	}
	//Function to Check Record against Filters
	function CheckAgainstFilters(record){
		var iGender = $("#chkGender").val();
		var iSen = $("#chkSEN").val();
		var iMostAble = $("#chkGT").val();
		var iMoreAble = $("#chkMoreAble").val();
		var iEAL = $("#chkEAL").val();
		var iSB = $("#chkSB").val();
		var iClass = $('#sltClass').val();
		
		var validRecord = true
				
		if(!( iClass == -1 ))
		{
			if(!(iClass == record['Class']))
			{
				validRecord = false;
			}
		}
		
		if(!(iGender =='NA'))
		{
			if(!(iGender == record['Gender']))
			{
				validRecord = false;
			}
		}

		if(  iSen != 0 && iSen != 'SENall' && iSen != record['SEN'] && iSen != 'SEN12' ){
			validRecord = false;
		}else if( iSen == 'SEN12' && record['SEN'] != 'SEND 1' && record['SEN'] != 'SEND 2' ){
			validRecord = false;
		}else if( iSen == 'SENall' && record['SEN'] != 'SEND 1' && record['SEN'] != 'SEND 2' && record['SEN'] != 'SEND 3' && record['SEN'] != 'SEND 4' && record['SEN'] != 'SEND 5' ){
			validRecord = false;
		}
		
		if(  iMostAble != 0 && iMostAble != 'MostAbleall' && iMostAble != record['MostAble'] ){
			validRecord = false;
		}else if( iMostAble == 'MostAbleall' && record['MostAble'] != 'MostAble 1' && record['MostAble'] != 'MostAble 2' ){
			validRecord = false;
		}
		if(  iEAL != 0 && iEAL != 'EALall' && iEAL != record['EAL'] ){
			validRecord = false;
		}else if( iEAL == 'EALall' && record['EAL'] == 'None' ){
			validRecord = false;
		}
		
		if(!(iMoreAble =='NA'))
		{
			if(!(iMoreAble == record['MoreAble']))
			{
				validRecord = false;
			}
		}
		if(!(iSB =='NA'))
		{
			if(!(iSB == record['SumBirth']))
			{
				validRecord = false;
			}
		}
		return validRecord;


	}
	//function to Hide empty Rows
	function HideEmptyRows()
	{
		var FilledCellFound=false;
		$.each(RowList, function(rowkey, rowName)
		{
			if(FilledCellFound==false)
			{
				var rowEmpty=true;
				$.each(ColumnList, function(columnKey, columnName)
				{
					if(!($('#'+rowName+columnName).is(':empty')))
					{
						rowEmpty=false;
					}
				})
				if(rowEmpty==true)
				{
					$('#'+rowName+'Row').hide();
				}
				else
				{
					FilledCellFound=true;
				}
			}
		})
		FilledCellFound=false;
		$.each(RowList.reverse(), function(rowkey, rowName)
		{
			if(FilledCellFound==false)
			{
				var rowEmpty=true;
				$.each(ColumnList.reverse(), function(columnKey, columnName)
				{
					if(!($('#'+rowName+columnName).is(':empty')))
					{
						rowEmpty=false;
					}
				})
				if(rowEmpty==true)
				{
					$('#'+rowName+'Row').hide();
				}
				else
				{
					FilledCellFound=true;
				}
			}
		})					
	}
	//function to Hide Empty columns
	function HideEmptyColumns()
	{
		var FilledCellFound=false;
		$.each(ColumnList, function(columnkey, columnName)
		{
			if(FilledCellFound==false)
			{
				var columnEmpty=true;
				$.each(RowList, function(rowKey, rowName)
				{
					if(!($('#'+rowName+columnName).is(':empty')))
					{
						columnEmpty=false;
					}
				})
				if(columnEmpty==true)
				{
					$('#'+columnName+'Col').hide();
					$.each(RowList,function(rowKey,rowName)
					{
						$('#'+rowName+columnName).hide();
					})
				}
				else
				{
					FilledCellFound=true;
				}
			}
		})
		var FilledCellFound=false;
		$.each(ColumnList.reverse(), function(columnkey, columnName)
		{
			if(FilledCellFound==false)
			{
				var columnEmpty=true;
				$.each(RowList.reverse(), function(rowKey, rowName)
				{
					if(!($('#'+rowName+columnName).is(':empty')))
					{
						columnEmpty=false;
					}
				})
				if(columnEmpty==true)
				{
					$('#'+columnName+'Col').hide();
					$.each(RowList,function(rowKey,rowName)
					{
						$('#'+rowName+columnName).hide();
					})
				}
				else
				{
					FilledCellFound=true;
				}
			}
		})				
	}
	//function to Show all columns and rows
	function ShowAllRowsColumns()
	{
		$.each(RowList, function(rowKey,rowName)
		{
			$('#'+rowName+'Row').show();
			$.each(ColumnList, function(columnKey,columnName)
			{
				$('#'+columnName+'Col').show();
				$('#'+rowName+columnName).show();
			})
		})
	}
	//Function to Hide empty
	function HideEmpty()
	{
		HideEmptyRows();
		HideEmptyColumns();
	}

$(document).ready(function() {
	// Read in JSON data
	var objData = $.parseJSON(jsonp);
    $("#chkGender, #chkSEN, #chkEAL, #chkGT, #chkMoreAble, #chkSB, #sltClass").change(function () {
    	PopulateTable(objData);
    });
	
	var MostAbleData = [];
	var EALData = [];
	var SENData = [];
	
	var MostAbleOptions = '<option value=0>N/A</option>';
	var SENOptions = '<option value=0>N/A</option>';
	var EALOptions = '<option value=0>N/A</option>';
	
	$.each(objData, function(i, item){
		if ( $.inArray( item['MostAble'], MostAbleData ) == -1 ) {
			MostAbleData.push( item['MostAble'] );
		}
		if ( $.inArray( item['SEN'], SENData ) == -1 ) {
			SENData.push( item['SEN'] );
		}
		if ( $.inArray( item['EAL'], EALData ) == -1 ) {
			EALData.push( item['EAL'] );
		}
	});
	MostAbleData.sort();
	$.each( MostAbleData, function(i, item){
		MostAbleOptions += '<option value="' + item + '">' + item + '</option>';
	});
	MostAbleOptions += '<option value="MostAbleall">All MostAble</option>';
	
	SENData.sort();
	$.each( SENData, function(i, item){
		if ( item == "SEND 1" ){ SENoption = 'SEN 1'; }
		else if ( item == "SEND 2" ){ SENoption = 'SEN 2'; }
		else if ( item == "SEND 3" ){ SENoption = 'SEN 3'; }
		else if ( item == "SEND 4" ){ SENoption = 'SEN 4'; }
		else if ( item == "SEND 5" ){ SENoption = 'SEN 5'; }
		else{ SENoption = 'None'; }
		SENOptions += '<option value="' + item + '">' + SENoption + '</option>';
	});
	SENOptions += '<option value="SEN12">SEN 1+2</option>';
	SENOptions += '<option value="SENall">All SEN</option>';
	
	EALData.sort();
	$.each( EALData, function(i, item){
		EALOptions += '<option value="' + item + '">' + item + '</option>';
	});
	EALOptions += '<option value="EALall">All EAL</option>';
	
	$('#chkGT').html( MostAbleOptions );
	$('#chkSEN').html( SENOptions );
	$('#chkEAL').html( EALOptions );
	
	// Populate Class options
	var classData = [];
	var classOptions = '<option value=-1>All</option>';
	$.each(objData, function(i, item){
		if ( $.inArray( item['Class'], classData ) == -1 ) {
				classData.push( item['Class'] );
			} 
	});
	$.each( classData, function(i, item){
		classOptions += '<option value=' + item + '>' + item + '</option>';
	});
	$('#sltClass').html( classOptions );
	
    $("#showempty").change(function () {
		if($('#showempty').is(':checked'))
		{
			ShowAllRowsColumns();
		}
		else
		{
			HideEmpty();
		}
    });
	
	PopulateTable(objData);
	HideEmpty();
});


</script>
</body>
</html>



