
{% extends 'Reports/FireDrillBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}

<p><br></p>
<div class='ClassListHeader'>Attendance report Report Date: {{ReportDate}}</div>
<p><br></p>
<table width='100%'>
	<tr>
		<td width='20%'><br></td>
		<td>
			<table class='DailyTable'>
				<tr><th width='240px'>Pupil</th><th>Group</th><th width='20px'>AM/PM</th><th width='20px'>Code</th><th width='250x'>Desc</th><th>Teacher</th></tr>
			{% for records in MissingList %}
				<tr>
					<td>{{records.Pupil.FullName}}</td><td>{{ records.Group.MenuName}}</td><td>{{records.AmPm}}</td><td>{{records.Code.AttendanceCode}}</td><td>{{records.Code.AttendanceDesc}}</td><td>{{records.Teacher.FullName}}</td>
				</tr>
<!-- page break reset counter  -->
    <span style="display:none;">{{ Counter.AddToCounter }}</span>
    {%  if Counter.Counter > 18 %}
    <span style="display:none;">{{ Counter.resetCounter }}</span>
                </table>
                 </td>
                </tr>
                </table>
                   <div style='page-break-before:always;float:clear;padding-top:1cm;'>
                <table width='100%'>
	            <tr>
		        <td width='20%'><br></td>
		        <td>
    			<table class='DailyTable'>
				<tr><th width='240px'>Pupil</th><th>Group</th><th width='20px'>AM/PM</th><th width='20px'>Code</th><th width='250x'>Desc</th><th>Teacher</th></tr>
    {% endif %}
<!-- end -->
			{% endfor %}
			</table>
		</td>
		<td with='20%'><br></td>
	</tr>
</table>
{% endblock %}
