<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static from staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<META name="description" content="">
	<Meta name="keywords" content="">
	<TITLE>Notes Report</TITLE>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script type="text/javascript">
		document.write("\<script src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js' type='text/javascript'>\<\/script>");
	</script>
	<script type="text/javascript" src="{% static "Scripts/angular/angular.min.js" %}"></script>
	<script type="text/javascript" src="{% static "Scripts/angular/angular-sanitize.min.js" %}"></script>
	<link rel="stylesheet" href="{% static "css/AnalysisReportStyles.css" %}">
</head>
<body ng-app="notesreport">
<div id="main_wrapper">
	<section class="panel">
       <header class="notes panel-heading"><b>Notes Report for {{ school }} ({{ date_range }})</b></header>
	   {% verbatim %}
		<div class="table-responsive" ng-controller="notesController">
		<form novalidate name="frmReport" id="frmReport">
        <table id="tblResult" BORDER="1" CELLPADDING=6 CELLSPACING=0 class="LPselect">
           <thead>
             <tr class="no-print">
              <td colspan="6" class="center" ><b>Filter by:</b> 
					Keyword: <select id="keyword" ng-model="searchKeyword" class="font11">
							<option value="" selected="selected">N/A</option>
							<option ng-repeat="keyword in keywords" value="{{keyword}}">{{keyword}}</option>
					</select>
					Raised By: <select ng-model="searchRaised" class="font11">
								<option value="" selected="selected">N/A</option>
								<option ng-repeat="raised in raisedby" value="{{raised}}">{{raised}}</option>
					</select>
					Pupil Name: <select ng-model="searchName" class="font11">
								<option value="" selected="selected">N/A</option>
								<option ng-repeat="name in pupilNames" value="{{name}}">{{name}}</option>
					</select>
					Truncate Note: <select ng-model="setNoteLimit" class="font11">
								<option value="Infinity" selected="selected">Full Text</option>
								<option value="1200">Truncated</option>
					</select>
	
					<button id="btnreset" class="btn btn-primary" ng-click="searchKeyword='';searchName='';searchRaised='';setNoteLimit='Infinity'">Reset</button>
              </td>
             </tr>
           </thead>
		</table>
		</form>
					
		   <div ng-repeat="note in notes | filter: { Name: searchName, Keywords: searchKeyword, RaisedBy: searchRaised,  }" class="break-after" style="margin: 5px 0;">
		   <table border=1 width="100%" cellspacing=1>
           <tbody>
			<tr  class="nostripe">
				<td width="30%">
					<table border=1 cellspacing=0 cellpadding=4 width="100%" class="notes_table">
						<tr><th colspan="2" class="nowrap">{{note.Name}}</th></tr>
						<tr><td width=100>Keywords</td><td width=150>{{note.Keywords}}</td></tr>
						<tr><td class="nowrap">Issue Status</td><td class="nowrap">{{note.IsIssue}}</td></tr>
						<tr><td class="nowrap">Raised By</td><td class="nowrap">{{note.RaisedBy}}</td></tr>
						<tr><td class="nowrap">Raised Date</td><td class="nowrap">{{note.RaisedByDate}}</td></tr>
						<tr><td class="nowrap">Modified By</td><td class="nowrap">{{note.ModifiedBy}}</td></tr>
						<tr><td class="nowrap">Modified Date</td><td class="nowrap">{{note.ModifiedDate}}</td></tr>
					</table>
				</td>
				<td class="notes_report_text" ng-bind-html="note.NoteText | noteLimitFilter"></td>
			</tr>
           </tbody>
		   
         </table>
		 <div ng-if="( (($index+1) % 5) == 0 ) && setNoteLimit == 1200" class="force-break"></div>
		 </div>
	
       </div>
	   {% endverbatim %}
	</section>

<script type="text/javascript">
var jsonp = {{ notes_data|safe }};

var thisApp = angular.module( 'notesreport' , [ 'ngSanitize' ] );
thisApp.controller( 'notesController' , function( $scope , $sce ){
	$scope.keywords = [];
	$scope.notes = [];
	$scope.raisedby = [];
	$scope.pupilNames = [];
	$scope.setNoteLimit = Infinity;
	$.each( jsonp , function( i , item ){
		$scope.notes.push( { 	Name:item.fields.PupilId,
								RaisedByDate:item.fields.NoteId.raised_by_date,
								RaisedBy:item.fields.NoteId.raised_by_staff_member,
								NoteText:item.fields.NoteId.note_text,
								IsIssue:item.fields.NoteId.is_an_issue,
								ModifiedBy:item.fields.NoteId.modified_by_staff_member,
								ModifiedDate: item.fields.NoteId.modified_by_date,
								Keywords: item.fields.NoteId.keywords.replace( new RegExp(":", "g") , ', ' )
							} );
	});
	$.each( $scope.notes , function( i , item ){
		keys = item.Keywords.split( ', ' );
		$.each( keys , function( k , key ){
			if( $.inArray( key , $scope.keywords  ) == -1 ) $scope.keywords.push( key );
		});
		if( $.inArray( item.RaisedBy , $scope.raisedby  ) == -1 ) $scope.raisedby.push( item.RaisedBy );
		if( $.inArray( item.Name , $scope.pupilNames  ) == -1 ) $scope.pupilNames.push( item.Name );
	});
	$scope.keywords.sort();
	$scope.raisedby.sort();
	$scope.pupilNames.sort();
});
thisApp.filter( 'noteLimitFilter', function( $sce ){
	return function( input ) {
			addCount = ( input.split('<br>').length-1 ) * 60;
			addCount += ( input.split('<br />').length-1 ) * 60;
			addCount += ( input.split('\n').length-1 ) * 60;
			addCount += ( input.split('<p>').length-1 ) * 100;
	if( this.setNoteLimit != Infinity && input.length > this.setNoteLimit - addCount ){
			return $sce.trustAsHtml( input.substring( 0, this.setNoteLimit - addCount ) + ' ... (Truncated)' );
		}else{
			return $sce.trustAsHtml( input );
			
		}
	};	
});
</script>
