
<html>
{% load static from staticfiles %}
	<style>
table
	{
	border-collapse:collapse;
	margin: 3px 0;
	}

table, th, td
	{
	border: 1px solid black;
	
	}
	@media print {
     break-after{ page-break-after: auto; }
	 break-before{ page-break-before: auto; }
	}
	</style>
	<script>
		
function note_details()
{
	var e = document.getElementById("note_details_dropdown");
	var note_details_dropdown_value = e.options[e.selectedIndex].value;
	
	if (note_details_dropdown_value == "hide note text")
	{
		var returned_classes = document.getElementsByClassName('note_details');
		var truncate_note_text = document.getElementsByClassName('truncate_note_text');
		for (var i=0; i<returned_classes.length; i++)
		{
			returned_classes[i].style.height='190px';			
			returned_classes[i].style.overflow='hidden';
			truncate_note_text[i].style.display="inline";
		}
	}
	else
	{
		var returned_classes = document.getElementsByClassName('note_details');
		var truncate_note_text = document.getElementsByClassName('truncate_note_text');		
		for (var i=0; i<returned_classes.length; i++)
		{
			returned_classes[i].style.height='auto';
			truncate_note_text[i].style.display="none";			
		}
	}
}

	</script>
	<body>
		<div>
			<div>
				<p style="text-align:center;">Notes Report for {{ group_name }} generated on {{ today_date }}</p>
				<span>For better printing results you may have to truncate note text --> </span>
				<select id="note_details_dropdown" onchange="note_details();">
				    <option value="show note text">show note text</option>
				    <option value="hide note text">truncate note text</option>
				</select>
			</div>
			<div>
				{% for note in data %}
				<table style="width:800px;" class="break-before">
					<tr>
						<td colspan="2" style="font-weight:bold;text-align:center;">{{ note.PupilId.Forename }} {{ note.PupilId.Surname }} ({{ note.PupilId.id }})</td>
						<td rowspan="9"><div class="note_details">{{ note.NoteId.NoteText|safe }}</div><div class="truncate_note_text" style="display:none;">(note text truncated...)</div></td>
					</tr>
					<tr>
						<td style="width:15%;">Filter date</td><td style="width:35%;">{{ start_date }} --> {{ stop_date }}</td>
					</tr>
					<tr>
						<td>Keywords</td><td>{{ note.NoteId.Keywords }}</td>
					</tr>
					<tr>
						<td>Is and Issue</td><td>{{ note.NoteId.IsAnIssue }}</td>
					</tr>
					<tr>
						<td>Issue status</td><td>{{ note.NoteId.IssueStatus }}</td>
					</tr>																									
					<tr>
						<td>Raised by</td><td>{{ note.NoteId.RaisedBy.Forename }} {{ note.NoteId.RaisedBy.Surname }}</td>
					</tr>
					<tr>
						<td>Raised date</td><td>{{ note.NoteId.RaisedDate }}</td>
					</tr>
					<tr>
						<td>Modified by</td><td>{{ note.NoteId.ModifiedBy }}</td>
					</tr>
					<tr>
						<td>Modified date</td><td>{{ note.NoteId.ModifiedDate }}</td>
					</tr>
				</table>
				{% if forloop.counter|divisibleby:4 %}
				<div style='page-break-before:always;float:clear;'>
				{% endif %}							
				{% endfor %}
			</div>
		</div>
	</body>
</html>