
<!DOCTYPE HTML>
{% load static from staticfiles %}
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>{{ class.ClassListName }}</TITLE>
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<style>
	body  {
	margin-left:1cm;
	margin-right:1cm;
	}
	.ClassListHeader {
	font-size: 14px;		
	display: block;
	float:clear;
	overflow:auto;
	font-family: 'Montserrat', sans-serif;
	}
	.ClassListBody {
	font-size: 12px;		
	display: block;
	float:clear;
	overflow:auto;
	font-family: 'Montserrat', sans-serif;
	}
	h1 {
		font-size: 24px;
		font-weight:600;
		text-align:center;
	}
	table {
		width:100%;
		border-bottom: 1px solid black;
		margin-bottom:20px;
	}
	th {
		border-bottom: 1px solid black;
		border-top: 1px solid black;
		font-weight:600;
	}
	.classListFooter {
		font-family: 'Montserrat', sans-serif;
		font-size: 10px;
		border-bottom:1px solid black;
		border-top:1px solid black;
	}
</style>
</HEAD>
<BODY LANG="en-GB" DIR="LTR">
<div class='ClassListHeader'>
	Class:  <span style='font-weight:600;font-size:16px;'>{{ PupilForm }}</span><br><br>
</div>
<div class='ClassListBody'>
<style>
table, th, tr, td {
	border: 1px solid;
	border-collapse:collapse;
}
</style>
<table>
	<tr>
		<th>Name</th>
		<th>Siblings in Current Thomas's Schools</th> 
	</tr>
	{% for pupil in class %}
	<tr>
		<td>{{pupil.Pupil.Surname}}, {{pupil.Pupil.FirstName}}</td>
		<td>
        {% for Sibs in pupil.Siblings %}
			{% if Sibs.PupilStatus == 'Current' %}
			Name: <span style='font-weight:bold;'>{{ Sibs.Pupil.FullName }}</span><br />
			School: <span style='font-weight:bold;'>
				{% if 'B' in  Sibs.Form %}
				Battersea
				{% endif %}
				{% if 'C' in  Sibs.Form %}
				Clapham
				{% endif %}
				{% if 'F' in  Sibs.Form %}
				Fulham
				{% endif %}
				{% if 'K' in  Sibs.Form %}
				Kensington
				{% endif %}								
				</span><br />
			Form: <span style='font-weight:bold;'>{{ Sibs.Form }}</span><br />
			House: <span style='font-weight:bold;'>{{ Sibs.AcademicHouse }}</span><br /><br />
			{% endif %}		
        {% endfor %}																
		</td>
	</tr>
	{% endfor %}
</table>

</div>


</BODY>
</HTML>
