
{% extends 'Reports/ReportBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for pupil in ReportData.PupilList %}

<style>
	#main-wrapper{ width: 960px; margin: 0 auto; }
	#header{ background: #ccc; font-weight: bold; font-size: 14px; padding: 4px 5px; margin: 0 0 5px 0; }
	
	#left-column{ float: left; width: 238px; }
	#left-column table{ border-collapse: collapse; font-size: 11px; width: 100%; text-align: center; margin-bottom: 10px; }
	#left-column table tr:first-child{ background: #eee; }
	#left-column table tr td:first-child{ text-align: left; }	
	#left-column table td, #left-column table th{ padding: 3px 2px; border: 1px solid #ccc; }
	
	#right-column{ float: right; width: 718px; }
	#right-column table{ border-collapse: collapse; font-size: 12px; width: 100%; text-align: center; }
	#right-column table tr:first-child{ background: #eee; }
	#right-column table tr td{ width: 9%; }
	#right-column table tr td:first-child{ width: 10%; }
	#right-column table th{ border: 1px solid #ccc; }
	#right-column table td{ padding: 3px 2px 1px 2px; border: 1px solid #ccc; line-height: 1em; }
	#right-column table tr:nth-child(even){ background: #def }
</style>

<div id="main-wrapper">
	<div id='header'>
		Pupil Attendance report	for {{ pupil.Pupil.FullName }}
	</div>

	<div id="left-column">
		{% include 'Reports/PupilAttendanceCol1.html' %}
		
		<div>
			<table>
				<tr><th>Code</th><th>Descripttion</th></tr>
			{% for i in AttCodes %}
				<tr>
					<td><span style='font-weight:bold; text-align: center !important;'>{{ i.AttendanceCode }} - </span></td><td>{{ i.AttendanceDesc }}</td>
				</tr>
			{% endfor %}
			</table>
		</div>
	
	</div>
	
	<div id="right-column">
		{% include 'Reports/PupilAttendanceCol2.html' %}
	</div>
	
</div> <!--- close main wrapper  --->

	{% if not forloop.last %}
<div style='page-break-before:always;float:clear;padding-top:1cm;'>
	{% endif %}
{% endfor %}
{% endblock %}
