
{% extends 'Reports/ReportBase.html' %}
{% load static from staticfiles %}
{% block ReportTemplate %}
{% for pupil in ReportData.PupilList %}

<table class='FormatTable'>
	<tr>
		<td style='width:60%; vertical-align:top;'>{% include 'Reports/PupilAttendanceCol1.html' %}</td>
		<td width='40%' style='vertical-align:bottom;'>{% include 'Reports/PupilAttendanceCol2.html' %}</td>
	</tr>
</table>




<div>
	<table>
		{% for i in AttCodes %}
		<tr>
			<td><span style='font-weight:bold;'>{{ i.AttendanceCode }} - </span></td><td>{{ i.AttendanceDesc }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
	{% if not forloop.last %}
<div style='page-break-before:always;float:clear;padding-top:1cm;'>
	{% endif %}
{% endfor %}
{% endblock %}
