
<!DOCTYPE HTML>
{% load static from staticfiles %}
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>{{ class.ClassListName }}</TITLE>
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<style>
	body  {
	margin-left:1cm;
	margin-right:1cm;
	}
	.ClassListHeader {
	font-size: 14px;		
	display: block;
	float:clear;
	overflow:auto;
	font-family: 'Montserrat', sans-serif;
	}
	.ClassListBody {
	font-size: 12px;		
	display: block;
	float:clear;
	overflow:auto;
	font-family: 'Montserrat', sans-serif;
	}
	h1 {
		font-size: 24px;
		font-weight:600;
		text-align:center;
	}
	table {
		width:100%;
		border-bottom: 1px solid black;
		margin-bottom:20px;
	}
	th {
		border-bottom: 1px solid black;
		border-top: 1px solid black;
		font-weight:600;
	}
	.classListFooter {
		font-family: 'Montserrat', sans-serif;
		font-size: 10px;
		border-bottom:1px solid black;
		border-top:1px solid black;
	}
</style>
</HEAD>
<BODY LANG="en-GB" DIR="LTR">
<div class='ClassListHeader'>
	Class:  <span style='font-weight:600;font-size:16px;'>{{ class }}</span><br><br>
	Teacher/s: {{ class.Teachers }}<br>
</div>
<div class='ClassListBody'>
<table>
	<tr>
		<th>Picture</th>
		<th>Name</th>
		<th>Groups</th>
		<th>House</th> 
	</tr>
	{% for pupil in pupilDetails %}
	<tr style='text-align:center;'>
		<td><img src="{{ MEDIA_REDIRECT }}{{ pupil.Pupil.Picture }}" width="100" height="145" alt="No Picture"/></td>
		<td>{{pupil.Pupil.Surname}}, {{pupil.Pupil.FirstName}}</td>
		<td>{{ pupil.Form }}</td>
		<td>{{pupil.AcademicHouse}}</td>
	</tr>
	{% endfor %}
</table>

</div>


</BODY>
</HTML>
