
<table>
{% load static from staticfiles %}
	<tr>
		<th>Date</th><th colspan=2>M</th><th colspan=2>T</th><th colspan=2>W</th><th colspan=2>T</th><th colspan=2>F</th>
	</tr>
	{% for recs in pupil.Report %}
	<tr>
		<td>{{recs.0|date:"d/m/y"}}</td>
		{% for innterrec in recs.1 %}
		<td>{{innterrec}}</td>
		{% endfor %}
	</tr>
	{% endfor%}
</table>