
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static from staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<title>Pupil Grades Report</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="AnalysisReportStyles.css">
	<script type="text/javascript" src="/scripts/jquery.min.js"></script>
<body>
<div id="main_wrapper">
	<header class="panel-heading">Pupil Grades Report For: </header>
	<div id="dataTables">
		<table id="tblResult" cellpadding="0" cellspacing="0" border="0">
			<thead>
				<tr><td class="no-print" colspan="20">
					Filter by: Record <select id="class-filter"></select> 
					Subject <select id="subject-filter"></select> 
				</td></tr>
			</thead>
		</table>
	</div>
	<div id="pgr-data"></div>
</div>
<script type="text/javascript" src="json.js"></script>
<script type="text/javascript">
	//var objData = $.parseJSON( jsonp );
	//console.log( jsonp );
var classes = [];
var classOptions = '<option value="0" selected>N/A</option>';
var subjects = [];
var subjectOptions = '<option value="0" selected>N/A</option>';

$(document).ready(function() {
	$.each( jsonp , function( i , item ){
		if( $.inArray( item.Record , classes ) == -1 ){ classes.push( item.Record ); }
		if( $.inArray( item.Subject , subjects ) == -1 ){ subjects.push( item.Subject ); }
	});
	$.each( classes , function( i , item ){ classOptions += '<option value=' + item + '>' + item + '</option>'; });
	$( '#class-filter' ).html( classOptions );	
	$( '#class-filter' ).change( function(){ showData(); });
	$.each( subjects , function( i , item ){ subjectOptions += '<option value=' + item + '>' + item + '</option>'; });
	$( '#subject-filter' ).html( subjectOptions );
	$( '#subject-filter' ).change( function(){ showData(); });
	showData();
});
function showData(){
	htmlData = '';
	$.each( jsonp , function( i , item ){
		isValid = true;
		if( $( '#class-filter' ).val() != '0' ){ if( item.Record != $( '#class-filter' ).val() ){ isValid = false; } }
		if( $( '#subject-filter' ).val() != '0' ){ if( item.Subject != $( '#subject-filter' ).val() ){ isValid = false; } }
		if( isValid ){
			isEmpty = 1 ;
			
			$.each( item.Data , function( d , data ){
				if( d != 'TeacherName' && data[0] ){
					if( data[0] ){ isEmpty = 0; }
				}
			});
			if( ! isEmpty ){
				htmlData += '<div class="pgr-form"><div class="pgr-form-title">' + item.Record + ' : ' + item.Subject + '</div>';
				$.each( item.Data , function( d , data ){
					if( d != 'TeacherName' && d != 'Comment' && data[0] ){
						htmlData += '<div class="pgr-form-item">' + d + ' : ' + data[0] + '</div>';
					}
				});
				if( typeof item.Data.Comment != 'undefined' ) {
					if( item.Data.Comment[0] ){ htmlData += '<div class="pgr-form-item"><b>Comment:</b> ' + item.Data.Comment[0] + '</div>'; }
				}
				htmlData += '</div>';
			}
			
		}
	});
	$( '#pgr-data' ).html( htmlData );
}
</script>
</body></html>