
<table>
{% load static from staticfiles %}
	<tr>
		<td colspan=3>Summary Of absences</td>
	</tr>
	<tr>
		<td>Possible Attendances</td><td>{{ pupil.Stats.NumberOfSessions }}</td><td><br></td>
	</tr>
	<tr>
		<td>Non Statistical Absences</td><td>{{pupil.Stats.NonStatAbsenceCount }}</td><td>{{pupil.Stats.NonStatAbsencePercentage}}</td>
	</tr>
	<tr>
		<td>Total Absences</td><td>{{pupil.Stats.TotalAbsencesCount}}</td><td>{{pupil.Stats.TotalAbsencesPercentage}}</td>
	</tr>
	<tr>
		<td>Unauthorised Statistical Absences</td><td>{{pupil.Stats.USAbsencesCount}}</td><td>{{pupil.Stats.ASAbsencesPercentage}}</td>
	</tr>
		<td>Authorised Statistical Absences</td><td>{{pupil.Stats.ASAbsencesCount }}</td><td>{{pupil.Stats.ASAbsencesPercentage}}</td>
	<tr>
	<tr>
		<td>Attendances (Including Non Stat)</td><td>{{pupil.Stats.AttendedWithNonStatCount}}</td><td>{{pupil.Stats.AttendedWithNonStatPercentage}}</td>
	</tr>
	<tr>
		<td>Attendances (Excluding Non Stat)</td><td>{{pupil.Stats.AttendedExcludeNonStatCount}}</td><td>{{pupil.Stats.AttendedExcludeNonStatPercentage}}</td>
	</tr>
	<tr>
		<td colspan=3>Summary of Lates</td>
	</tr>
	<tr>
		<td>Authorised Lates</td><td>{{pupil.Stats.AuthorisedLatesCount}}</td><td>{{pupil.Stats.AuthorisedLatesPercentage}}</td>
	</tr>
	<tr>
		<td>Unauthorised Lates</td><td>{{pupil.Stats.UnauthorisedLatesCount}}</td><td>{{pupil.Stats.UnauthorisedLatesPercentage}}</td>
	</tr>
</table>
