
<!DOCTYPE HTML>
{% load static from staticfiles %}
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>{{ class.ClassListName }}</TITLE>
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<style>
	body  {
	margin-left:1cm;
	margin-right:1cm;
	}
	.ClassListHeader {
	font-size: 14px;		
	display: block;
	float:clear;
	overflow:auto;
	font-family: 'Montserrat', sans-serif;
	}
	.ReportHeader {
	font-size: 16px;		
	display: block;
	float:clear;
	overflow:auto;
	font-family: 'Montserrat', sans-serif;
	}
	.ReportBody {
	font-size: 12px;		
	display: block;
	float:clear;
	overflow:auto;
	font-family: 'Montserrat', sans-serif;
	}
	.ReportTable {
	font-size: 10px;		
	display: block;
	float:clear;
	overflow:auto;
	font-family: 'Montserrat', sans-serif;
	}
	.FormatTable {
	vertical-align:top;
	border:0px;
	}

	 .DailyTable
	 { 
		 border:1px solid black;
		 border-collapse:collapse;
	 }
	 .DailyTable th
	 {
		 background-color:lightgrey;
		 border:1px solid black;
	 }
	 .DailyTable td
	 {
		 border:1px solid black;
		 font-size:10px;
		 text-align:center;
	 }
	.VertialHeaders
	{
	 -webkit-transform: rotate(-90deg);  /* Chrome, Safari 3.1+ 
     -moz-transform: rotate(-90deg);  /* Firefox 3.5-15 
     -ms-transform: rotate(-90deg);  /* IE 9 
      -o-transform: rotate(-90deg);  /* Opera 10.50-12.00 
         transform: rotate(-90deg);
	 }		
</style>
</HEAD>
<BODY LANG="en-GB" DIR="LTR">
		{% block ReportTemplate %}{% endblock %}

</BODY>
</HTML>
