
<!DOCTYPE html>
{% load static from staticfiles %}
<html>
    <head>
        <title>Absence_Form</title>
    </head>
    <body>
        <div>
			<div id="absence_form_header">
				<p style="text-align:center;">(print and return to admin office)</p>
				<p>Please note, requests for absence must be received by
				 the beginning of each term or, at the very latest, four
				 weeks prior to the dates requested unless in dire
				 emergency</p>
			</div>
			<div id="absence_form_main">
				<h2 style="text-align:center;">SCHOOL STAFF ABSENCE FORM</h2>
				<table style="border:1px solid;width:100%;">
					<tr>
						<td colspan='2'><br /></td>
					</tr>
					<tr>
						<td colspan='2'>NAME:<hr /></td>
					</tr>
					<tr>
						<td colspan='2'>DATE/S OF ABSENCE:<hr /></td>
					</tr>
					<tr>
						<td colspan='2'>REASON FOR ABSENCE:<hr /></td>
					</tr>
					<tr>
						<td colspan='2'><br /><hr /></td>
					</tr>
					<tr>
						<td colspan='2'><br /><hr /></td>
					</tr>					
					<tr>
						<td style="width:50%;">SIGNED:<hr /></td>
						<td style="width:50%;">DATE:<hr /></td>
					</tr>
					<tr>
						<td style="width:50%;">DATES CHECKED BY HLS/DH:<hr /></td>
						<td style="width:50%;">COMMENTS:<hr /></td>
					</tr>
					<tr>
						<td colspan='2'><br /><hr /></td>
					</tr>						
					<tr>
						<td colspan='2'><br /><hr /></td>
					</tr>	
					<tr>
						<td style="width:50%;">SIGNED BY HLS/DH:<hr /></td>
						<td style="width:50%;">DATE:<hr /></td>
					</tr>	
					<tr>
						<td colspan='2'>HEADS' COMMENTS:<hr /></td>
					</tr>	
					<tr>
						<td colspan='2'><br /><hr /></td>
					</tr>	
					<tr>
						<td colspan='2'><br /><hr /></td>
					</tr>																							
				</table>
			</div>
			<div>
				<h3>GUIDANCE:</h3>
				<p>The form is to be filled in by all staff requesting a
				 planned absence (e.g. courses, leave, medical
				 appointments) and by those who have been on an
				 unplanned absence (e.g. illness, emergency).</p>
				 <p>For <u>planned absences</u> first check the date/s
				 are available with the head of your school line manager.
				 Fill in the forms as soon as possible with any relevant
				 paperwork attached and give to Head for authorisation.</p>
				 <p>For <u>unplanned absences</u> notify the school
				 office by 08.15 hrs on each day of absence. Complete
				 the form within 24 hours of return to school. If absent
				 for seven (7) days or more due to illness, a doctor's
				 certificate is required and should be attached. Part-day
				 absences also require a form. Return to head of your
				 school line manager</p>
			</div>
        </div>
    </body>
</html>
