
<style>
{% load static from staticfiles %}
table, tr, td {
	border: 1px solid black;
	border-collapse:collapse;
	}

.tableInnerDiv {
	width:200px;
	}
</style>
{% for reportData in report.wholeSchoolData %}
	<div id="{{ reportData.0 }}" style='margin:10px;'>
		<h1>{{ reportData.0 }}</h1>
		<!-- stats data -->
		<table>
			<tr>
				<td><div class='tableInnerDiv'><div class='tableInnerDiv'>House</div></td>
				<td><div class='tableInnerDiv'>Total</div></td>
				<td><div class='tableInnerDiv'>Boys</div></td>
				<td><div class='tableInnerDiv'>Girls</div></td>
			</tr>
		{% for houses,counts in reportData.1.items %}
		{% if houses != 'Total' %}
			<tr>
				<td><div class='tableInnerDiv'>{{ houses }}</div></td>
				<td><div class='tableInnerDiv'>{{ counts.Total }}</div></td>
				<td><div class='tableInnerDiv'>{{ counts.Boys }}</div></td>
				<td><div class='tableInnerDiv'>{{ counts.Girls }}</div></td>				
			</tr>
		{% endif %}
		{% endfor %}
			<tr>
				<td><div class='tableInnerDiv'>Totals</div></td>
				<td><div class='tableInnerDiv'>{{ reportData.1.Total.Total }}</div></td>
				<td><div class='tableInnerDiv'>{{ reportData.1.Total.Boys }}</div></td>
				<td><div class='tableInnerDiv'>{{ reportData.1.Total.Girls }}</div></td>
			</tr>			
		</table>			
		<!-- end -->
	</div>
	<div style='page-break-before:always;float:clear;'></div>
{% endfor %}
