
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static from staticfiles %}
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="description" content="venn">
	<meta name="keywords" content="venn">
	<title>Level Threshold Report{{DataObj.GroupName}} {{DataObj.AcYear}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script type="text/javascript">
		document.write("\<script src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js' type='text/javascript'>\<\/script>");
	</script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/VennReportStyles.css">
	
	<style type="text/css">
		td { text-align :center !important;}
	</style>
</head>
<body>
<div id="main_wrapper">
	<section class="panel">
       <header class="venn-heading"><b>Level Threshold Report{{DataObj.GroupName}} {{DataObj.AcYear}}</b></header>
	   <div class="table-responsive">
		<form action='' id="frmReport">
         <table id="tblResult" border="1" cellpadding="4" cellspacing="0" width=900 class="venntable">
           <thead>
             <tr class="no-print">
              <td colspan="13"><b>Filter by:</b> 
              							 Class: <select id="sltClass">
              							  			<option value="" selected="selected">All</option>
              							  			
              							  			<option value="5BN">5BN</option>
              							  			
              							  		 </select>
										
										  Gender: <select id="chkGender">
              							  			<option value="0" selected="selected">N/A</option>
              							  			<option value="M">Male</option>
              							  			<option value="F">Female</option>
              							  		 </select>
					
              							  Sen: <select id="chkSen">
              							  		 </select>
              							  MostAble: <select id="chkgt" style="position: absolute; left: -9999em;">
													</select>
              							  EAL: <select id="chkeAL">
												</select>
					
              							  MoreAble:  <select id="chkMoreAble">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>
              							  Summer Birth: <select id="chkSB">
              							  			<option value="-1" selected="selected">N/A</option>
              							  			<option value="1">True</option>
              							  			<option value="0">False</option>
              							  		 </select>
              							  		 
              							  <button type="button" id="btnreset" class="btn btn-primary">Reset</button>
              </td>
             </tr>
			</table>
			</form>
		</div>
	   <div id="venn_wrapper" style="background: url({{ STATIC_URL }}images/venn_bg.png) 0 0 no-repeat; background-size: 900px 1100px;">
			<div id="readingpercent"></div>
			<div id="reading">

			</div>
			
			<div id="writingpercent"></div>
			<div  id="writing">

			</div>
			
			<div id="mathspercent"></div>
			<div  id="maths">

			</div>
			
			<div id="readwritemathspercent"></div>
			<div  id="readwritemaths">

			</div>
			
			<div id="readwritepercent"></div>
			<div id="readwrite">

			</div>

			<div id="readmathpercent"></div>
			<div id="readmath">

			</div>
			
			<div id="writemathpercent"></div>
			<div id="writemath">

			</div>			
			
			<div id="venn_lvl">
				Select required level : <select id="venn_lvl_select">
					<option value="1c">1C</option>
					<option value="1b">1B</option>
					<option value="1a">1A</option>
					<option value="2c">2C</option>
					<option value="2b">2B</option>
					<option value="2a">2A</option>
					<option value="3c">3C</option>
					<option value="3b">3B</option>
					<option value="3a" selected>3A</option>
					<option value="4c">4C</option>
					<option value="4b">4B</option>
					<option value="4a">4A</option>
					<option value="5c">5C</option>
					<option value="5b">5B</option>
					<option value="5a">5A</option>
					<option value="6c">6C</option>
					<option value="6b">6B</option>
					<option value="6a">6A</option>
					<option value="7c">7C</option>
					<option value="7b">7B</option>
					<option value="7a">7A</option>
					<option value="8c">8C</option>
					<option value="8b">8B</option>
					<option value="8a">8A</option>
				</select>
			</div>
			<div id="venn_NA">
				<div id="venn_NA_title">Pupils not shown in chart <span id="notShown"></span>.</div>
				<div id="venn_NA_content"></div>
			</div>
	   </div>
	</section>
</div>

<script type="text/javascript">
var jsonp='';
{% for datalines in DataObj.JSONData %}
jsonp += {{ datalines|safe }};
{% endfor %}

var requiredLVL = $( '#venn_lvl_select' ).val();

$(document).ready(function() {
	var objData = $.parseJSON(jsonp);
	//console.log( objData );
	
	FilterData(objData, 0, 0, 0, -1, 0, -1, -1);
	
	var MostAbleData = [];
	var EALData = [];
	var SENData = [];
	
	var MostAbleOptions = '<option value=0>N/A</option>';
	var SENOptions = '<option value=0>N/A</option>';
	var EALOptions = '<option value=0>N/A</option>';
	
	$.each(objData, function(i, item){
		if ( $.inArray( item['MostAble'], MostAbleData ) == -1 ) {
			MostAbleData.push( item['MostAble'] );
		}
		if ( $.inArray( item['SEN'], SENData ) == -1 ) {
			SENData.push( item['SEN'] );
		}
		if ( $.inArray( item['EAL'], EALData ) == -1 ) {
			EALData.push( item['EAL'] );
		}
	});
	MostAbleData.sort();
	$.each( MostAbleData, function(i, item){
		MostAbleOptions += '<option value="' + item + '">' + item + '</option>';
	});
	MostAbleOptions += '<option value="MostAbleall">All MostAble</option>';
	
	SENData.sort();
	$.each( SENData, function(i, item){
		if ( item == "SEND 1" ){ SENoption = 'SEN 1'; }
		else if ( item == "SEND 2" ){ SENoption = 'SEN 2'; }
		else if ( item == "SEND 3" ){ SENoption = 'SEN 3'; }
		else if ( item == "SEND 4" ){ SENoption = 'SEN 4'; }
		else if ( item == "SEND 5" ){ SENoption = 'SEN 5'; }
		else{ SENoption = 'None'; }
		SENOptions += '<option value="' + item + '">' + SENoption + '</option>';
	});
	SENOptions += '<option value="SEN12">SEN 1+2</option>';
	SENOptions += '<option value="SENall">All SEN</option>';
	
	EALData.sort();
	$.each( EALData, function(i, item){
		EALOptions += '<option value="' + item + '">' + item + '</option>';
	});
	EALOptions += '<option value="EALall">All EAL</option>';
	
	// Populate Class options
	var classData = [];
	var classOptions = '<option value=-1>All</option>';
	$.each(objData, function(i, item){
		if ( $.inArray( item['Class'], classData ) == -1 ) {
				classData.push( item['Class'] );
			} 
	});
	$.each( classData, function(i, item){
		classOptions += '<option value=' + item + '>' + item + '</option>';
	});
	
	$('#sltClass').html( classOptions );
	$('#chkgt').html( MostAbleOptions );
	$('#chkSen').html( SENOptions );
	$('#chkeAL').html( EALOptions );
	
    $("#chkGender").change(function () {
    	CreateFilter(objData);
    });
    $("#chkSen").change(function () {
    	CreateFilter(objData);
    });
    $("#chkeAL").change(function () {
    	CreateFilter(objData);
    });
    $("#chkgt").change(function () {
    	CreateFilter(objData);
    });
    $("#chkMoreAble").change(function () {
    	CreateFilter(objData);
    });
    $("#chkSB").change(function () {
    	CreateFilter(objData);
    });
    $("#sltClass").change(function () {
    	CreateFilter(objData);
    });
	$("#venn_lvl_select").change(function () {
    	CreateFilter(objData);
    });
	$("#btnreset").click(function () {
		$("#frmReport").trigger('reset');
    	CreateFilter(objData);
	});
});

function CreateFilter(objData){
	var iGender = $("#chkGender").val();
	var iSen = $("#chkSen").val();
	var iGt = $("#chkgt").val();
	var iMoreable = $("#chkMoreAble").val();
	var iEAL = $("#chkeAL").val();
	var iSB = $("#chkSB").val();
	var sClass = $('#sltClass').val();
	
	requiredLVL = $( '#venn_lvl_select' ).val();
	FilterData(objData, iGender, iSen, iGt, iMoreable, iEAL, iSB, sClass);
}

function FilterData(objData, iGender, iSen, iMostAble, iMoreable, iEAL, iSB, sClass){
	var content = "";
	var readwritemathHTML = '<ul>';
	var readwriteHTML = '<ul>';
	var readmathHTML = '<ul>';
	var writemathHTML = '<ul>';
	var readHTML = '<ul>';
	var writeHTML = '<ul>';
	var mathHTML = '<ul>';
	var NAHTML = '<ul>';
	var TotalRows = 0;
	var Totalreadwritemath = 0;
	var Totalreadwrite = 0;
	var Totalwritemath = 0;
	var Totalreadmath = 0;
	var Totalread = 0;
	var Totalwrite = 0;
	var Totalmath = 0;
	var NAcount = 0;
	
	$( '#readwritemaths' ).html( '' );
	$( '#readwrite' ).html( '' )
	$( '#writemath' ).html( '' )
	$( '#readmath' ).html( '' )
	$( '#reading' ).html( '' )
	$( '#writing' ).html( '' )
	$( '#maths' ).html( '' )
	$( '#readwritemathspercent' ).html( '' );
	$( '#readwritepercent' ).html( '' )
	$( '#writemathpercent' ).html( '' )
	$( '#readmathpercent' ).html( '' )
	$( '#readingpercent' ).html( '' )
	$( '#writingpercent' ).html( '' )
	$( '#mathspercent' ).html( '' )
	
	$.each(objData, function (i, item) {

		var isValid = true;
		
		if( iGender !='0' && iGender != item['Gender'] ){
			isValid = false;
		}
				
		if(  iSen != 0 && iSen != 'SENall' && iSen != item['SEN'] && iSen != 'SEN12' ){
			isValid = false;
		}else if( iSen == 'SEN12' && item['SEN'] != 'SEND 1' && item['SEN'] != 'SEND 2' ){
			isValid = false;
		}else if( iSen == 'SENall' && item['SEN'] != 'SEND 1' && item['SEN'] != 'SEND 2' && item['SEN'] != 'SEND 3' && item['SEN'] != 'SEND 4' && item['SEN'] != 'SEND 5' ){
			isValid = false;
		}	
		
		if(  iMostAble != 0 && iMostAble != 'MostAbleall' && iMostAble != item['MostAble'] ){
			isValid = false;
		}else if( iMostAble == 'MostAbleall' && item['MostAble'] != 'MostAble 1' && item['MostAble'] != 'MostAble 2' ){
			isValid = false;
		}
		
		if(iMoreable == 1 && item['MoreAble'] == 'F'){
			isValid = false;
		}
		if(iMoreable == 0 && item['MoreAble'] == 'T'){
			isValid = false;
		}
		if(  iEAL != 0 && iEAL != 'EALall' && iEAL != item['EAL'] ){
			isValid = false;
		}else if( iEAL == 'EALall' && item['EAL'] != 'EAL 1' && item['EAL'] != 'EAL 2' && item['EAL'] != 'EAL 3' && item['EAL'] != 'EAL 4' && item['EAL'] != 'EAL EMT' ){
			isValid = false;
		}
		if(iSB == 1 && item['SumBirth'] == 'F'){
			isValid = false;
		}
		if(iSB == 0 && item['SumBirth'] == 'T'){
			isValid = false;
		}
		if(sClass != item['Class'] && sClass != '-1'){
			isValid = false;
		}
		
		if( isValid ){
			lvls = [ 'c','b','a' ];
			reqlvl = requiredLVL;
			reqlvl = reqlvl.split( '' );
			reqlvl[0] = parseInt( reqlvl[0] );
			
			for ( i=0 ; i < lvls.length ; i++  ){
				if ( lvls[i] == reqlvl[1] ){ reqlvl[1] = i+1; }
			}
			reqlvl = reqlvl.join( '' );
			
			lvlRead = item.Level[0].English_Reading.split( '' );
			lvlRead[0] = parseInt( lvlRead[0] );
			for ( i=0 ; i < lvls.length ; i++  ){
				if ( lvls[i] == lvlRead[1] ){ lvlRead[1] = i+1; }
			}
			lvlRead = lvlRead.join( '' );
			
			lvlWrite = item.Level[1].English_Writing.split( '' );
			lvlWrite[0] = parseInt( lvlWrite[0] );
			for ( i=0 ; i < lvls.length ; i++  ){
				if ( lvls[i] == lvlWrite[1] ){ lvlWrite[1] = i+1; }
			}
			lvlWrite = lvlWrite.join( '' );

			lvlMaths = item.Level[2].Mathematics.split( '' );
			lvlMaths[0] = parseInt( lvlMaths[0] );
			for ( i=0 ; i < lvls.length ; i++  ){
				if ( lvls[i] == lvlMaths[1] ){ lvlMaths[1] = i+1; }
			}
			lvlMaths = lvlMaths.join( '' );
			
		if( !isNaN(lvlRead) && !isNaN(lvlWrite) && !isNaN(lvlMaths) ){
			if( lvlRead >= reqlvl && lvlWrite >= reqlvl && lvlMaths >= reqlvl ){
				readwritemathHTML += '<li>' + item.Fullname + ' ' + item.Level[0].English_Reading + '/' + item.Level[1].English_Writing + '/' + item.Level[2].Mathematics + '</li>';
				Totalreadwritemath++;
				TotalRows++;
			}else if ( lvlRead >= reqlvl && lvlWrite >= reqlvl ){
				readwriteHTML += '<li>' + item.Fullname + ' ' + item.Level[0].English_Reading + '/' + item.Level[1].English_Writing + '/' + item.Level[2].Mathematics + '</li>';
				Totalreadwrite++;
				TotalRows++;
			}else if( lvlRead >= reqlvl && lvlMaths >= reqlvl ){
				readmathHTML += '<li>' + item.Fullname + ' ' + item.Level[0].English_Reading + '/' + item.Level[1].English_Writing + '/' + item.Level[2].Mathematics + '</li>';
				Totalreadmath++;
				TotalRows++;
			}else if( lvlMaths >= reqlvl && lvlWrite >= reqlvl ){
				writemathHTML += '<li">' + item.Fullname + ' ' + item.Level[0].English_Reading + '/' + item.Level[1].English_Writing + '/' + item.Level[2].Mathematics + '</li>';
				Totalwritemath++;
				TotalRows++;
			}else if( lvlRead >= reqlvl ){
				readHTML += '<li>' + item.Fullname + ' ' + item.Level[0].English_Reading + '/' + item.Level[1].English_Writing + '/' + item.Level[2].Mathematics + '</li>';
				Totalread++;
				TotalRows++;
			}else if( lvlWrite >= reqlvl ){
				writeHTML += '<li>' + item.Fullname + ' ' + item.Level[0].English_Reading + '/' + item.Level[1].English_Writing + '/' + item.Level[2].Mathematics + '</li>';
				Totalwrite++;
				TotalRows++;
			}else if( lvlMaths >= reqlvl ){
				mathHTML += '<li>' + item.Fullname + ' ' + item.Level[0].English_Reading + '/' + item.Level[1].English_Writing + '/' + item.Level[2].Mathematics + '</li>';
				Totalmath++;
				TotalRows++;
			}else{
				NAcount++;
				NAHTML += '<li>' + item.Fullname + ' ' + item.Level[0].English_Reading + '/' + item.Level[1].English_Writing + '/' + item.Level[2].Mathematics + '</li>';
				TotalRows++;
			}
			
		}else{
			//NAcount++;
		}	

		}
	});
	
	readwritemathHTML += '</ul>';
	readwriteHTML += '</ul>';
	readmathHTML += '</ul>';
	writemathHTML += '</ul>';
	readHTML += '</ul>';
	writeHTML += '</ul>';
	mathHTML += '</ul>';
	NAHTML += '</ul>';
	percentreadwritemath = toFixed(Totalreadwritemath/TotalRows * 100 , 2 );
	percentreadwrite	= toFixed(Totalreadwrite/TotalRows * 100 , 2 );
	percentwritemath = toFixed(Totalwritemath/TotalRows * 100 , 2 );
	percentreadmath = toFixed(Totalreadmath/TotalRows * 100 , 2 );
	percentread = toFixed(Totalread/TotalRows * 100 , 2 );
	percentwrite = toFixed(Totalwrite/TotalRows * 100 , 2 );
	percentmath = toFixed(Totalmath/TotalRows * 100 , 2 );
	
	if( isNaN( percentreadwritemath ) ) percentreadwritemath = 0;
	if( isNaN( percentreadwrite ) ) percentreadwrite = 0;
	if( isNaN( percentwritemath ) ) percentwritemath = 0;
	if( isNaN( percentreadmath ) ) percentreadmath = 0;
	if( isNaN( percentread ) ) percentread = 0;
	if( isNaN( percentwrite ) ) percentwrite = 0;
	if( isNaN( percentmath ) ) percentmath = 0;
	
	$( '#readwritemathspercent' ).html( percentreadwritemath + '%' );
	$( '#readwritepercent' ).html( percentreadwrite + '%' );
	$( '#writemathpercent' ).html( percentwritemath + '%' );
	$( '#readmathpercent' ).html( percentreadmath + '%' );
	$( '#readingpercent' ).html( percentread + '%' );
	$( '#writingpercent' ).html( percentwrite + '%' );
	$( '#mathspercent' ).html( percentmath + '%' );
	
	$( '#readwritemaths' ).html( readwritemathHTML );
	$( '#readwrite' ).html( readwriteHTML )
	$( '#writemath' ).html( writemathHTML )
	$( '#readmath' ).html( readmathHTML )
	$( '#reading' ).html( readHTML )
	$( '#writing' ).html( writeHTML )
	$( '#maths' ).html( mathHTML )
	$( '#venn_NA_content' ).html( NAHTML )
	$( '#notShown' ).html( toFixed(NAcount/TotalRows * 100 , 2 ) + '%' )
	
	if( readwritemathHTML == '<ul></ul>' ) $( '#readwritemaths' ).hide(); else $( '#readwritemaths' ).show();
	if( readwriteHTML == '<ul></ul>' ) $( '#readwrite' ).hide(); else $( '#readwrite' ).show();
	if( writemathHTML == '<ul></ul>' ) $( '#writemath' ).hide(); else $( '#writemath' ).show();
	if( readmathHTML == '<ul></ul>' ) $( '#readmath' ).hide(); else $( '#readmath' ).show();
	if( readHTML == '<ul></ul>' ) $( '#reading' ).hide(); else $( '#reading' ).show();
	if( writeHTML == '<ul></ul>' ) $( '#writing' ).hide(); else $( '#writing' ).show();
	if( mathHTML == '<ul></ul>' ) $( '#maths' ).hide(); else $( '#maths' ).show();
	if( NAHTML == '<ul></ul>' ) $('#venn_NA' ).hide(); else $( '#venn_NA' ).show();
}
function toFixed( number, precision ) {
    var multiplier = Math.pow( 10, precision );
    return Math.round( number * multiplier ) / multiplier ;
}
</script>
</body></html>
       
