
<style>
{% load static from staticfiles %}
table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

table {
	width:100%;
	padding-top:20px;
}

#main_container {
	padding:20px;
}
</style>
<div id='main_container'>
	<div style="text-align:center;">
		<h3>{{ report.title }}</h3>
	</div>
	<table>
		<tr>
			<td style="background-color:lightgrey;"></td>
		{% for i in report.date_grid %}
			<td colspan='2' style="background-color:lightgrey;">{{ i.date.isoformat }}</td>
		{% endfor %}
		</tr>
		<tr>
			<td style="background-color:lightgrey;"></td>
		{% for i in report.date_grid %}
			<td style="background-color:lightgrey;">AM</td><td style="background-color:lightgrey;">PM</td>
		{% endfor %}
		</tr>
		{% for i in report.plugs_staff_attendance_data_into_data_grid %}
		<tr>
			{% for data in i %}
			{% if not forloop.first %}		
				{% if data == '/' %}
				<td>{{ data }}</td>
				{% else %}
					{% if data == '-' %}
					<td style="background-color:red;">{{ data }}</td>
					{% else %}
					<td style="background-color:pink;">{{ data }}</td>
					{% endif %}
				{% endif %}	
			{% else %}
				<td style="background-color:lightgrey;">{{ data }}</td>
			{% endif %}
			{% endfor %}	
		</tr>
		{% if forloop.counter|divisibleby:"38" %}
		</table>
		<div style='page-break-before:always;float:clear;'></div>	
		<table>
		<tr>
			<td style="background-color:lightgrey;"></td>
		{% for i in report.date_grid %}
			<td colspan='2' style="background-color:lightgrey;">{{ i.date.isoformat }}</td>
		{% endfor %}
		</tr>
		<tr>
			<td style="background-color:lightgrey;"></td>
		{% for i in report.date_grid %}
			<td style="background-color:lightgrey;">AM</td><td style="background-color:lightgrey;">PM</td>
		{% endfor %}
		</tr>		
		{% endif %}
		{% endfor %}
	</table>
	
	<div style='page-break-before:always;float:clear;'></div>	
	<div style="text-align:center;">
		<h3>Staff Attendance Code Table</h3>
	</div>
	<table>
		<tr>
			<td style="background-color:lightgrey;">Attendance Code</td><td style="background-color:lightgrey;">Attendance Description</td>
		</tr>		
	{% for i in attendance_codes %}
		<tr>
			<td style="background-color:lightgrey;">{{ i.attendance_code }}</td><td>{{ i.attendance_description }}</td>
		</tr>
	{% endfor %}
	</table>
</div>
