
<style>
{% load static from staticfiles %}
table {
	border-collapse:collapse;
}

table,th, td {
	border: 1px solid lightgrey;
}	

.header_cell_for_whole_school_numbers_report {
	width:70px;
	background-color:lightblue;
}

.total_cell_for_whole_school_numbers_report {
	background-color:lightgrey;
}
</style>
<div>
	<div>
		<h1>{{ header }}</h1>
	</div>
	<div>
		<table>
			<tr>
				<td style="background-color:lightblue;"></td>
				<td class="header_cell_for_whole_school_numbers_report">Girls</td>
				<td class="header_cell_for_whole_school_numbers_report">Boys</td>
				<td class="header_cell_for_whole_school_numbers_report">Becket</td>
				<td class="header_cell_for_whole_school_numbers_report">Hardy</td>
				<td class="header_cell_for_whole_school_numbers_report">Lawrence</td>
				<td class="header_cell_for_whole_school_numbers_report">More</td>
				<td class="header_cell_for_whole_school_numbers_report">SEN</td>
				<td class="header_cell_for_whole_school_numbers_report">EAL</td>
				<td class="header_cell_for_whole_school_numbers_report">GT</td>
				<td class="header_cell_for_whole_school_numbers_report">All</td>
				<td class="header_cell_for_whole_school_numbers_report">Teachers</td>
			</tr>
			{% for data_list in data %}
			{% if "Total" in data_list.0 %}
			<tr>
				<td class="total_cell_for_whole_school_numbers_report">{{ data_list.0 }}</td>
				<td class="total_cell_for_whole_school_numbers_report">{{ data_list.1 }}</td>
				<td class="total_cell_for_whole_school_numbers_report">{{ data_list.2 }}</td>
				<td class="total_cell_for_whole_school_numbers_report">{{ data_list.3 }}</td>
				<td class="total_cell_for_whole_school_numbers_report">{{ data_list.4 }}</td>
				<td class="total_cell_for_whole_school_numbers_report">{{ data_list.5 }}</td>
				<td class="total_cell_for_whole_school_numbers_report">{{ data_list.6 }}</td>
				<td class="total_cell_for_whole_school_numbers_report">{{ data_list.7 }}</td>
				<td class="total_cell_for_whole_school_numbers_report">{{ data_list.8 }}</td>
				<td class="total_cell_for_whole_school_numbers_report">{{ data_list.9 }}</td>
				<td class="total_cell_for_whole_school_numbers_report">{{ data_list.10 }}</td>
				<td class="total_cell_for_whole_school_numbers_report">{{ data_list.11 }}</td>
			</tr>
			{% else %}			
			<tr>
				<td>{{ data_list.0 }}</td>
				<td>{{ data_list.1 }}</td>
				<td>{{ data_list.2 }}</td>
				<td>{{ data_list.3 }}</td>
				<td>{{ data_list.4 }}</td>
				<td>{{ data_list.5 }}</td>
				<td>{{ data_list.6 }}</td>
				<td>{{ data_list.7 }}</td>
				<td>{{ data_list.8 }}</td>
				<td>{{ data_list.9 }}</td>
				<td>{{ data_list.10 }}</td>
				<td>{{ data_list.11 }}</td>
			</tr>
			{% endif %}
			{% endfor %}
            <!-- extra data -->
			<tr>
                <td colspan="10">Number of Familes in school</td>
				<td>{{ number_of_families }}</td>
				<td></td>
			</tr>
		</table>
	</div>
</div>
