
<style>
{% load static from staticfiles %}
table, th, td {
	border: 1px solid black;
	border-collapse:collapse;
}
</style>
<html>
	<div style='font-weight:bold;'>
		<div style='float:left;'><span>Class group attendance analysis for {{ school }} - {{ dateRange }}</span></div>
		<div style='float:right;'>{{ todaysDate }}</div>
	</div>
	<div style='clear:both;'>
		<table>
			{% for class in returnData %}
			<tr>
			{% if i.1 != 0 %}
				{% for i in class %}
				<td>{{ i }}</td>
				{% endfor %}
			{% endif %}
			</tr>
			{% endfor %}
		</table>
	</div>
</html>
