
<table>
{% load static from staticfiles %}
	<tr>
		<td>Standardised Score (100 is the standardised average)</td><td>Year Group average</td><td>Reasoning test:
	Relate to proir experience that is not part of the taught curriculumn. The perception and manipulation of relationships
	and content are assessed</td>
	</tr>
	<tr>NVR</tr>
	
</table>
