
{% load WillowFilters %}
{% load static from staticfiles %}
<table class='ReportTable'>
	<tr>
		<td><br/></td>
		<td style='padding-left:3px;padding-right:3px;font-size:10px;'>Standardised Score (100 is the standardised average)</td>
		<td style='padding-left:3px;padding-right:3px;font-size:10px;'>Year Group average</td>
		<td style='padding-left:3px;padding-right:3px;font-size:10px;'>Reasoning tests:<br>
	Relate to prior experience that is not part of the taught curriculum. The perception and manipulation of relationships
	and content are assessed</td>
	</tr>
	<tr><td style='padding-left:3px;padding-right:3px;'>NVR</td><td style='padding-left:3px;padding-right:3px;text-align:center;'>{{ThisCat.Current.NonVerbalScore.0|floatformat:"0" }}</td>
	<td style='padding-left:3px;padding-right:3px;text-align:center;'>
		{% if 'Battersea' in Report.PupilSchool %}
		{% SchoolVar "Current.Battersea.Year6.CAT.NonVerbalAverage" %}
		{% endif %}
		
		{% if 'Clapham' in Report.PupilSchool %}
		{% SchoolVar "Current.Clapham.Year6.CAT.NonVerbalAverage" %}
		{% endif %}
		
		{% if 'Fulham' in Report.PupilSchool %}
		{% SchoolVar "Current.Fulham.Year6.CAT.NonVerbalAverage" %}
		{% endif %}
		
		{% if 'Kensington' in Report.PupilSchool %}
		{% SchoolVar "Current.Clapham.Year6.CAT.NonVerbalAverage" %}
		{% endif %}		
		
	</td><td style='padding-left:3px;padding-right:3px;'>Non-verbal reasoning processes using shapes and figures</td></tr>
	<tr><td style='padding-left:3px;padding-right:3px;'>VR</td>
	<td style='padding-left:3px;padding-right:3px;text-align:center;'>{{ThisCat.Current.VerbalScore.0|floatformat:"0"}}</td>
	<td style='padding-left:3px;padding-right:3px;text-align:center;'>
		{% if 'Battersea' in Report.PupilSchool %}
		{% SchoolVar "Current.Battersea.Year6.CAT.VerbalAverage" %}
		{% endif %}
		
		{% if 'Clapham' in Report.PupilSchool %}
		{% SchoolVar "Current.Clapham.Year6.CAT.VerbalAverage" %}
		{% endif %}
		
		{% if 'Fulham' in Report.PupilSchool %}
		{% SchoolVar "Current.Fulham.Year6.CAT.VerbalAverage" %}
		{% endif %}
		
		{% if 'Kensington' in Report.PupilSchool %}
		{% SchoolVar "Current.Clapham.Year6.CAT.VerbalAverage" %}
		{% endif %}		
	
	
	
	</td>
	<td style='padding-left:3px;padding-right:3px;'>Verbal reasoning processes using the medium of words</td></tr>
</table>
