
{% if ThisSubject.Current.Comment.0 %}
{% load static from staticfiles %}
	{{ThisSubject.AddTotalCommentLength }}
	{% if ThisSubject.GetTotalCommentLength >= 4700 %}
		{{ ThisSubject.ResetTotalCommentLength }}
		<div style='page-break-before:always;float:clear;padding-top:5mm;'></div>
		{% include 'ReportsToParents/Standard/PageHeader.html' %}
	{% endif %}
<table class='ReportTable' style='width:100%;'>
	<tr class='ReportTableHeader'>
		<th>
		{% if ThisSubject.Subject == 'Gym_Athletics' %}
			{% if ThisSubject.Term == 'Mich' %}Gym{%else%}Athletics{% endif %}
		{% else %}
		{{ ThisSubject.Subject }}
		{% endif %}
		</th>
	</tr>
	<tr>
		<td>{{ ThisSubject.Current.Comment.0 }}</td>
	</tr>
</table>
<br>

{% endif %}
