
<table style='border: solid 1px black; width:100%;'>
{% load static from staticfiles %}
<tr><td>These criteria refer to the standard expected of a majority of the pupils in this cohort at Thomas’s Clapham
</td></tr>
</table>
