

{% load static from staticfiles %}
	{% include 'ReportsToParents/Standard/PageHeader.html' %}	
	
<table>
	<tr style='CommentHeader'>
		<th>Form</th>
	</tr>
	<tr>
		<td>{{ ThisReport.Form_Comment.Current.Comment.0 }}</td>
	</tr>
</table>

<table>
	<tr style='CommentHeader'>
		<th>Head's Comment</th>
	</tr>
	<tr>
		<td>{{ ThisReport.Heads_Comment.Current.Comment.0 }}</td>
	</tr>
</table>

<table border=0>
	<tr>
		<td style='border-top:1px solid black'>Head of Middle School</td><td width='20%'><br></td><tdstyle='border-top:1px solid black'>Form Teacher</td>
	</tr>
</table>
