
<div class='ReportHeader'>
{% load static from staticfiles %}
<img src="{% static "images/unicorn_small.jpg" %}" width="125" height="130"/><br>
Thomas's {{Report.PupilSchool }}<br>
{{ Report.ReportTitle }} {{ Report.ReportAcYearPart.0 }}
</div>
<table class='HeaderTable'>
	<tr>
		<td>Pupil : {{ Report.Pupil.FullName }}</td><td><br></td><td>Form Teacher: {{Report.TeacherNames.FormTeacher}}</td>
	</tr>
	<tr>
		<td>Class: {{ Report.Form }}</td><td></td>
		<td>
			<table>
				<tr>
					<td>Absences: {{Report.Stats.TotalAbsencesCount}}</td>
				</tr>
				<tr>
					<td>Lates: {{Report.Stats.UnauthorisedLatesCount}}</td>
				</tr>
			</table>

		</td>
	</tr>
</table>
