
<table width=100% class='LegendTable' {% if 'Fulham' in Report.PupilSchool %} style='border-collapse:collapse;' {% endif %}>
{% load static from staticfiles %}
<tr class='ReportTableHeader' {% if 'Fulham' in Report.PupilSchool %} style='border-bottom:1px solid;' {% endif %}>
<th>Effort</th>
<th {% if 'Fulham' in Report.PupilSchool %}style='border-left:1px solid;'{% endif %} >Attainment</th>
<tr>
	{% if 'Battersea' in Report.PupilSchool or 'Clapham' in Report.PupilSchool %}
		{% include "ReportsToParents/Standard/EffortLegend_Battersea.html" %}
	{% else %}
		{% include "ReportsToParents/Standard/EffortLegend.html" %}
	{% endif %}
	{% if 'Fulham' in Report.PupilSchool %}
		{% include "ReportsToParents/Standard/AttainmentLegendFulham.html" %}
	{%else%}
		{% if not 'Battersea' in Report.PupilSchool %}
		{% include "ReportsToParents/Standard/AttainmentLegend.html" %}
		{% endif %}
	{% endif %}
</tr>
</table>
</td>
</tr>
</table>
