
<table width=100% class='LegendTable' >
{% load static from staticfiles %}
<tr class='ReportTableHeader'>
<th>Effort</th>
<th>Attainment</th>
<tr>
	{% include "ReportsToParents/Standard/EffortLegend.html" %}
{% if 'Fulham' in Report.PupilSchool %}
	{% include "ReportsToParents/Standard/AttainmentLegendFulham.html" %}
{%else%}
	{% include "ReportsToParents/Standard/AttainmentLegend.html" %}
{% endif %}
</tr>
</table>
</td>
</tr>
</table>
