
<table width=100% class='LegendTable' >
{% load static from staticfiles %}
<tr class='ReportTableHeader'>
<th>Effort</th>
<tr>
	{% if 'Battersea' in Report.PupilSchool or 'Clapham' in Report.PupilSchool %}
		{% include "ReportsToParents/Standard/EffortLegend_Battersea.html" %}
	{% else %}
		{% include "ReportsToParents/Standard/EffortLegend.html" %}
	{% endif %}
</tr>
</table>
<br/>
		{% if not 'Battersea' in Report.PupilSchool %}
<table width=100% class='LegendTable' >
	
<tr class='ReportTableHeader'>
<th>Attainment</th>
<tr>
	{% if 'Fulham' in Report.PupilSchool %}
		{% include "ReportsToParents/Standard/AttainmentLegendFulham.html" %}
	{%else%}
		{% include "ReportsToParents/Standard/AttainmentLegend.html" %}
	{% endif %}
</tr>
</table>
	{% endif %}
