
<table width=100% class='LegendTable' >
{% load static from staticfiles %}
<tr class='ReportTableHeader'>
<th>Effort</th>
<th>Attainment</th>
<th>Levels</th>
<tr>
	<td valign=top>
		<ol valign=top style="list-style-type:upper-alpha">
			<li>Outstanding effort, high levels of enthusiasm and commitment</li>
			<li>Good effort</li>
			<li>Satisfactory effort</li>
			<li>Erratic effort, needs reminders to participate</li>
			<li>Unsatisfactory</li>
		</ol>
	</td>
	<td valign=top>
		<ol valign=top style="list-style-type:decimal">
			<li>Working beyond the expected level for the year group at Thomas's</li>
			<li>Working at the expected level for the year group at Thomas's</li>
			<li>Working towards the expected level for the year group at Thomas's</li>

		</ol>
			<i>The levels within an attainment band may be different across the subjects</i>
	</td>
	<td valign=top><br>
			The national expectation for children at the end of 
			{% if ThisReport.PupilYear == '2' or ThisReport.PupilYear == '1' %}
				Year 2 is to gain a Level 2b
			{%else %}
				Year 6 is to gain a Level 4.
			{% endif %} 
</td></tr>
</table>
</td>
</tr>
</table>
