
<div class='PageHeader'>
{% load static from staticfiles %}
Thomas's {{Report.PupilSchool }}<br>{{ Report.ReportTitle }}  {{ Report.ReportAcYearPart.0 }}
</div>
<table border=0 width='100%'>
	<tr>
		<td>Pupil : {{ Report.Pupil.FullName }}</td><td><br></td><td>Form Teacher: {{Report.TeacherNames.FormTeacher}}</td>
	</tr>
</table>
