
<tr class='ReportTableHeader'>
{% load static from staticfiles %}
	<th rowspan=2>Subject</th>
	<th width='50px' rowspan=2>Effort</th>
	<th width='50px' colspan=3>Attainment</th>
</tr>
<tr class='ReportTableHeader'>
	<th>1</th><th>2</th><th>3</th>
</tr>

