
<tr class='ReportTableHeader'>
{% load static from staticfiles %}
	<th rowspan=2 width='170px'>Subject</th>
	<th rowspan=2 width='70px'>Summer<Br>Level</th>
	<th rowspan=2 width='70px'>Current<br>Level</th>
	<th rowspan=2 width='70px'>Effort</th>
	<th colspan=3>Attainment</th>
	<th rowspan=2 width='100px'>Teacher</th>
</tr>
<tr class='ReportTableHeader'>
	<th width='30px'>1</th><th width='30px'>2</th><th width='30px'>3</th>
</tr>
