
<tr class='ReportTableRow'>
{% load static from staticfiles %}
	<td>{{ThisSubject.Subject}}</td>
	{% if ThisSubject.Previous.Level.0%}<td class='ReportTableDataCol'>{{ ThisSubject.Previous.Level.0 }}{% else %} <td style='background-color:grey;'><br>{% endif %}</td>
	{% if ThisSubject.Current.Level.0%}<td class='ReportTableDataCol'>{{ ThisSubject.Current.Level.0 }}{% else %} <td style='background-color:grey;'><br> {% endif %}</td>
	{% if ThisSubject.Current.Effort.0%}<td class='ReportTableDataCol'>{{ ThisSubject.Current.Effort.0 }}{% else %} <td style='background-color:grey;'><br>{%endif%}</td>
	<td>{% if ThisSubject.Current.Attainment.0 == '1' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br>{% endif %}</td>
	<td>{% if ThisSubject.Current.Attainment.0 == '2' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br>{% endif %}</td>
	<td>{% if ThisSubject.Current.Attainment.0 == '3' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br>{% endif %}</td>
	{% if ThisSubject.TeacherName %}<td class='ReportTableDataCol'>{{ ThisSubject.TeacherName }}{% else %} <td style='background-color:grey;'><br>{%endif%}</td>

</tr>
