
<tr class='ReportTableRow'>
{% load static from staticfiles %}
	<td>{{ThisSubject.English_Reading.Subject}}</td>
	{% if ThisSubject.English_Reading.Previous.Level.0%}<td class='ReportTableDataCol'>{{ ThisSubject.English_Reading.Previous.Level.0 }}{% else %} <td style='background-color:grey;'><br>{% endif %}</td>
	{% if ThisSubject.English_Reading.Current.Level.0%}<td class='ReportTableDataCol'>{{ ThisSubject.English_Reading.Current.Level.0 }}{% else %} <td style='background-color:grey;'><br> {% endif %}</td>
	{% if ThisSubject.English_Reading.Current.Effort.0%}<td class='ReportTableDataCol'>{{ ThisSubject.English_Reading.Current.Effort.0 }}{% else %} <td style='background-color:grey;'><br>{%endif%}</td>
	<td>{% if ThisSubject.English_Reading.Current.Attainment.0 == '1' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br>{% endif %}</td>
	<td>{% if ThisSubject.English_Reading.Current.Attainment.0 == '2' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br>{% endif %}</td>
	<td>{% if ThisSubject.English_Reading.Current.Attainment.0 == '3' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br>{% endif %}</td>
	{% if ThisSubject.English.TeacherName %}<td class='ReportTableDataCol'>{{ ThisSubject.English.TeacherName }}{% else %} <td style='background-color:grey;'><br>{%endif%}</td>

</tr>
<tr class='ReportTableRow'>
	<td>{{ThisSubject.English_Writing.Subject}}</td>
	{% if ThisSubject.English_Writing.Previous.Level.0%}<td class='ReportTableDataCol'>{{ ThisSubject.English_Writing.Previous.Level.0 }}{% else %} <td style='background-color:grey;'><br>{% endif %}</td>
	{% if ThisSubject.English_Writing.Current.Level.0%}<td class='ReportTableDataCol'>{{ ThisSubject.English_Writing.Current.Level.0 }}{% else %} <td style='background-color:grey;'><br> {% endif %}</td>
	{% if ThisSubject.English_Writing.Current.Effort.0%}<td class='ReportTableDataCol'>{{ ThisSubject.English_Writing.Current.Effort.0 }}{% else %} <td style='background-color:grey;'><br>{%endif%}</td>
	<td>{% if ThisSubject.English_Writing.Current.Attainment.0 == '1' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br>{% endif %}</td>
	<td>{% if ThisSubject.English_Writing.Current.Attainment.0 == '2' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br>{% endif %}</td>
	<td>{% if ThisSubject.English_Writing.Current.Attainment.0 == '3' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br>{% endif %}</td>
	{% if ThisSubject.English.TeacherName %}<td class='ReportTableDataCol'>{{ ThisSubject.English.TeacherName }}{% else %} <td style='background-color:grey;'><br>{%endif%}</td>

</tr>
