
{% if ThisSubject %}
{% load static from staticfiles %}
<tr>
	<td>{{ThisSubject.Subject}}</td>
	<td>{{ ThisSubject.Current.Effort.0 }}</td>
	<td>{% if ThisSubject.Current.Attainment.0 == '1'%}<img src="{% static "images/Tick.jpg" %}" width="20" height="20"/>{% else %}<br>{% endif %}</td>
	<td>{% if ThisSubject.Current.Attainment.0 == '2'%}<img src="{% static "images/Tick.jpg" %}" width="20" height="20"/>{% else %}<br>{% endif %}</td>
	<td>{% if ThisSubject.Current.Attainment.0 == '3'%}<img src="{% static "images/Tick.jpg" %}" width="20" height="20"/>{% else %}<br>{% endif %}</td>
	<td>{{ ThisSubject.TeacherName }}</td>
</tr>
{% endif %}
