
			{% load WillowFilters %}
{% load static from staticfiles %}
{% if ThisSubject.Current.Effort.0 or ThisSubject.Current.Attainment.0 %}
		<tr>
			<td>{{ThisSubject.Subject|replaceSpace:'_'}}</td>
			{% if ThisSubject.Current.Effort.0%}<td class='ReportTableDataCol'>{{ ThisSubject.Current.Effort.0 }}{% else %} <td style='background-color:grey;'><br>{%endif%}</td>
			{% if ThisSubject.Current.Attainment.0%}<td class='ReportTableDataCol'>{{ ThisSubject.Current.Attainment.0 }}{% else %} <td style='background-color:grey;'><br>{%endif%}</td>
			{% if ThisSubject.Current.Comment.0 %}<td class='ReportTableDataCol'>{{ ThisSubject.Current.Comment.0 }}{% else %} <td style='background-color:grey;'><br>{%endif%}</td>
		</tr>

{% endif %}
