
{% if ThisSubject.Current.Effort.0 %}
{% load static from staticfiles %}
		<tr>
			{% load WillowFilters %}
            {% if ThisSubject.Subject == 'Computing' %}
            <td class='ReportTableDataTitle'>Computing</td>
            {% else %}
			<td class='ReportTableDataTitle'>{{ ThisSubject.Subject|replaceSpace:"_" }}</td>
			{% endif %}
            {% if ThisSubject.Current.Effort.0%}<td class='ReportTableDataCol' style='height:30px'>{{ ThisSubject.Current.Effort.0 }}{% else %} <td style='background-color:grey;'><br>{%endif%}</td>
		</tr>

{% endif %}
