
{% load WillowFilters %}
{% load static from staticfiles %}
{% if ThisSubject.Current.Effort.0 or ThisSubject.Current.Attainment.0 %}
	{% if ThisSubject.Subject = 'Gym_Athletics' %}
		<tr>
			<td>{% ifequal ThisSubject.Term 'Mich' %}Gym{%else%}Athletics{%endifequal%}</td>
			{% if ThisSubject.Current.Effort.0%}<td class='ReportTableDataCol'>{{ ThisSubject.Current.Effort.0 }}{% else %} <td style='background-color:grey;'><br>{%endif%}</td>
			{% if ThisSubject.Current.Attainment.0%}<td class='ReportTableDataCol'>{{ ThisSubject.Current.Attainment.0 }}{% else %} <td style='background-color:grey;'><br>{%endif%}</td>
			{% if ThisSubject.TeacherName %}<td class='ReportTableDataCol'>{{ ThisSubject.TeacherName }}{% else %} <td style='background-color:grey;'><br>{%endif%}</td>

		</tr>

	{% else %}
		<tr>
			<td>{{ThisSubject.Subject|replaceSpace:'_'}}</td>
			{% if ThisSubject.Current.Effort.0 %}<td class='ReportTableDataCol'>{{ ThisSubject.Current.Effort.0 }}{% else %} <td style='background-color:grey;'><br>{%endif%}</td>
			{% if ThisSubject.Current.Attainment.0%}<td class='ReportTableDataCol'>{{ ThisSubject.Current.Attainment.0 }}{% else %} <td style='background-color:grey;'><br>{%endif%}</td>
			{% if ThisSubject.TeacherName %}<td class='ReportTableDataCol'>{{ ThisSubject.TeacherName }}{% else %} <td style='background-color:grey;'><br>{%endif%}</td>
		</tr>
	{% endif %}
{% endif %}
