
			{% load WillowFilters %}
{% load static from staticfiles %}
{% if ThisSubject.Current.Effort.0 or ThisSubject.Current.Attainment.0 %}
		<tr>
			<td>{{ThisSubject.Subject|replaceSpace:'_'}}</td>
			{% if ThisSubject.Current.Effort.0%}<td class='ReportTableDataCol'>{{ ThisSubject.Current.Effort.0 }}{% else %} <td style='background-color:grey;'><br>{%endif%}</td>
			<td class='ReportTableDataCol'>{% if ThisSubject.Current.Attainment.0 == '1' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br>{% endif %}</td>
			<td class='ReportTableDataCol'>{% if ThisSubject.Current.Attainment.0 == '2' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br>{% endif %}</td>
			<td class='ReportTableDataCol'>{% if ThisSubject.Current.Attainment.0 == '3' %}<img src="{% static "images/Tick.jpg" %}" width="10" height="10"/>{% else %}<br>{% endif %}</td>
		</tr>

{% endif %}
