body{ font-size: 12px; font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }
#main_wrapper{ width: 900px; margin: 0 auto; }
header{ background: #f5f5f5; border-bottom: 1px solid transparent; font-size: 13px; padding: 5px 10px; }
.panel-heading{ width: 880px; }
#dataTables{ margin: 5px 0 0 0; }
#tblResult{ width: 100%; }
#dataTables table th{ padding: 3px; }
#dataTables table td{ border: 1px solid; padding: 2px; }
#averageAPS, .averageAPS{ font-size: 16px; text-align: center; }
.APS_Review #tblResult{ width: 900px; margin: 15px 0 0 0; border-spacing: 0px; border-collapse: collapse; }
.APS_Review #tblResult thead th{ background: lightblue; }
.APS_Review #tblResult thead th, .APS_Review #tblResult td{ padding: 3px; }
.APSless{ background: lightpink; }
.APSzero{ background: lightyellow; }
.APSmore{ background: lightblue; }
.APSbelowzero{  }
.APSabovezero{ background: #ffaaaa; }
.APSabovetwo{ background: lightgreen; }
.LPselect td select{ margin: 0 5px 0 0; }
.lReviewTable{ font-size: 11px; }
.lReviewTable select { margin: 0; }
.mappingTable{ width: 900px; }
.mappingUl li{ display: inline; margin: 0 10px; }
#chartM, #chartL, #chartS{ height: 220px; border: #ccc 1px solid; margin: 0; padding: 5px 200px; }
#chartKS, #chartProgress{ display: inline-block; height: 220px; border: #ccc 1px solid; margin: 0; padding: 20px 2px 2px 2px; }
#SummerTitle, #LentTitle, #MichTitle{ position: relative; top: 25px; left: 8px; font-size: 16px; font-weight: bold; z-index: 2000; }
#ProgressTitle, #KSTitle{ position: relative; top: 25px; left: 8px; display: inline-block; width: 440px; font-size: 16px; font-weight: bold; z-index: 2000; }
#ProgressTitle, #chartProgress{ margin-left: 8px; }
#ProgressTitle{ left: 12px; }
.center{ text-align: center;}
.bold{ font-weight: bold; }
.left{ float: left; }
.clear{ clear: both; }
.font11{ font-size: 11px; }
.tleft{ text-align: left !important; }
input[type="radio"]{ margin: 1px 0 0 0; }
.radfilt_txt{ margin: 0 4px 0 48px; float: left; }
tbody tr:nth-child(even) { background-color: #ddd; }
.nostripe{ background-color: #fff !important; }
.nowrap{ white-space: nowrap; }
.notes_report_text{ vertical-align: top; padding: 0 5px; }
.notes_table th{ background: #bbb; }
.pgr-form{ width: 100%; border: 2px solid #8888dd; margin: 4px 0; border-radius: 4px; text-align: center; overflow: hidden;  }
.pgr-form-title{ text-align: center; font-weight: bold; font-size: 14px; padding: 3px; background: linear-gradient(to top, #a1b1be 0%, #d2dce6 100%);}
.pgr-form-item{ display: inline-block; border: 1px solid #ccc; padding: 3px 10px; text-align: left; }

@media print{
	.break-before{ page-break-before: auto; }
	.break-after{ page-break-after: auto; }
	table { page-break-after:auto; }
	tr    { page-break-inside: avoid; }
	td    { page-break-inside: avoid; }
	thead { display: table-header-group; }
	tfoot { display: table-row-group; }
	.no-print { display: none; }
	table{ margin: 0 auto; }
	.APSpupiltable{ page-break-after:always !important; }
	.force-break{  page-break-after: always; }
	#ProgressTitle, #KSTitle, #SummerTitle, #LentTitle, #MichTitle,
	#chartM, #chartL, #chartS, #chartKS, #chartProgress, .pgr-form{ page-break-after: auto; }
}