.signatures-wrapper{  }
.signatures{ margin: 0 0 20px 0; position: relative; border: 1px solid #ddd; background: #fff; border-radius: 5px; }
.signature{ position: relative; float: left; padding: 5px; border-radius: 4px; border: 1px solid #ddd; margin: 10px 5px; text-align: center; }
.signature img{ margin-bottom: 5px;}
.delete-signature{ position: absolute; top: 0; right: 0; background: #207CD8; color: #fff; font-size: 10px; padding: 3px 4px; cursor: pointer;
		border-radius: 0 4px 0 0; }
.upload-box{ border-top: 1px solid #ccc; }
.upload-box input{ margin: 10px 0; width: 400px; }
.upload-title{ text-align: left; margin: 15px 0 0 0; font-weight: bold; font-size: 16px; }
.sig-drop-box{ padding: 15px; text-align: center; background: #ddd; border-radius: 5px; border: 1px dotted #999; }
.sig-drop-box.drop-accept{ background: #0f0; }
.sig-drop-box.drop-reject{ background: #f00; }
.page-mask{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000; background: #555; opacity: .8; transition: opacity .3s linear; }
.page-mask.ng-hide{ opacity: 0; }
.fetching-data, .uploading{ position: fixed; width: 200px; z-index: 1000; top: 30%; left: 50%;  transition: opacity .3s linear; }
.fetching-data.ng-hide, .uploading.ng-hide{ opacity: 0; }
.fetching-data-msg, .uploading-msg{ position: absolute; width: 200px; left: -50%; background: #fff; border-radius: 4px; padding: 15px 10px; text-align: center; }
.fetching-data-msg img{ position: relative; top: 2px; }
.clear{ clear: both; }