	.SchoolHeader {
		float: right;
		margin-bottom: 0cm;
	}
	.PostalDetails {
		float: left;
		margin-top: 4cm;
	}
	
	.LetterBody {
		float: left;
		border: 1px solid;
	}
	.LetterClose {
	float: clear;
	display: block;
	width:100%;
	margin: 0px 0px 0px 20px;
	border: 1px solid;
	}
	
	@media print {
	:root{-webkit-print-color-adjust:exact}
	}
	.LetterWhole {
	page-break-after: always
	}
