#mb-left-col{ display: block; width: 200px; float: left; }
#mb-right-col{ width: 660px; float: right; border: 1px solid #eee; margin: 0 2px 0 0; }
#mb-handson{ width: 660px; margin: 0 auto; }
#mb-list{ height: 200px; border: 1px solid #bbb; }
.mb-list-item{ padding: 3px 2px; border-bottom: 1px solid #ddd; user-select: none; -webkit-user-select: none; }
.mb-list-item:hover{ background: #ccddf0; font-weight: bold; cursor: pointer; }
.mb-list-item.selected{ background: #ddd; font-weight: bold; cursor: pointer; }
.mb-button{ margin: 20px 10px 0 10px; text-align: center; background: #ccc; border: 1px solid: #777; box-shadow: 3px 3px 3px #a9a9a9;
	padding: 4px; border-radius: 3px; font-weight: bold; transition: all .3s;  user-select: none; -webkit-user-select: none; cursor: pointer; }
.mb-button:hover{ background: #ddd; box-shadow: 4px 4px 4px #aaa; }
.mb-button.inactive{ cursor: default; opacity: .4; }
#mb-newbook-title{ text-align: center; font-weight: bold; background: #ddd; margin: 0 0 15px 0; padding: 4px 0; }
#mb-newbook-messages{ height: 18px; text-align: center; color: red; margin-top: 5px; }
#page-mask{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000; background: #555; opacity: .8; transition: opacity .3s linear; }
#page-mask.ng-hide{ opacity: 0; }
#fetching-data{ position: fixed; width: 200px; z-index: 1000; top: 40%; left: 50%;  transition: opacity .3s linear; }
#fetching-data.ng-hide{ opacity: 0; }
#fetching-data-msg{ position: absolute; width: 200px; left: -50%; background: #fff; border-radius: 4px; padding: 15px 10px; text-align: center; }
#fetching-data-msg img{ position: relative; top: 2px; }
#mb-title{ text-align: center; padding: 4px 0; font-weight: bold; }
#mb-saving{ position: fixed; top: 2px; right: 2px; padding: 5px; background: #eff0b9; border-radius: 3px; }
button{ cursor: pointer; }