




#page-mask{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000; background: #555; opacity: .8; transition: opacity .3s linear; }
#page-mask.ng-hide{ opacity: 0; }
#fetching-data{ position: fixed; width: 200px; z-index: 1000; top: 30%; left: 50%;  transition: opacity .3s linear; }
#fetching-data.ng-hide{ opacity: 0; }

#fetching-data-msg{ position: absolute; width: 200px; left: -50%; background: #fff; border-radius: 4px; padding: 15px 10px; text-align: center; }
#fetching-data-msg img{ position: relative; top: 2px; }