.box-wide{  }
.box-input{ border: 1px solid #ccc; padding: 10px; border-radius: 5px; text-align: center; margin: 10px 0px; }
.box-input table{ border-spacing: 0; border-collapse: collapse; }
.box-input td{ padding: 3px; }
.box-results{ border: 1px solid #ccc; padding: 10px; border-radius: 5px; }
.box-results table{ width: 100%; border-spacing: 0; border-collapse: collapse; }
.box-results th{ background: #ccc; border: 1px solid #eee; font-weight: bold; padding: 4px 3px; }
.box-results td{ border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 4px; }

.note-pop-wrapper{ position: absolute; width: 900px; top: 20px; left: 50%; z-index: 1999; }
.note-pop{ position: relative; width: 900px; left: -50%; background: #fff; border-radius: 5px; z-index: 1999; padding: 10px; }

.note-pop-table{ border: 1px solid #ccc; border-radius: 4px; width: 100%; margin: 10px 0; }
.note-pop-table td{ padding: 5px; border: 1px solid #ccc; border-radius: 4px; vertical-align: middle; }

.form-button{ margin: 5px 3px 0 3px; border-radius: 3px; cursor: pointer; }

.page-mask{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000; background: #555; opacity: .8; transition: opacity .3s linear; }
.page-mask.ng-hide{ opacity: 0; }
.fetching-data{ position: fixed; width: 200px; z-index: 1000; top: 30%; left: 50%;  transition: opacity .3s linear; }
.fetching-data.ng-hide{ opacity: 0; }
.fetching-data-msg{ position: absolute; width: 200px; left: -50%; background: #fff; border-radius: 4px; padding: 15px 10px; text-align: center; }
.fetching-data-msg img{ position: relative; top: 2px; }

.left{ float: left; }
.right{ float: right; }
.clear{ clear: both; }
.center{ text-align: center; }
.text-nowrap{ white-space: nowrap; }
.clickable{ cursor: pointer; text-decoration: underline; color: blue; }