#dialogColor_underlay {
    background-color:grey;
}
.RecordFormDialog {
	border: 5px double;
	font-size:15px;
	font-weight:bold;
	margin:2px ;
	float:left;
	background-image: url('{% static "images/Letterbackground.png" %}');
	background-repeat:repeat;	
	overflow:auto;
	padding: 10px;	
	}
.RecordFormDialog button {
	width: 100px;
	}
.RecordFormDialog  label{
	font-size:14px;
	font-weight:bold;
	width:160px;
	float:left;
	}
		
.RecordFormBody {
	width:860px;
	border: 5px double;
	font-size:15px;
	font-weight:bold;
	margin:2px ;
	float:left;
	background-image: url('{% static "images/Letterbackground.png" %}');
	background-repeat:repeat;	
	}
.RecordFormBody button {
	width: 100px;
	}	
	
.RecordFormInput {
	background-image: url('{% static "images/Letterbackground.png" %}');
	background-repeat:repeat;
	border: 5px double;
	overflow:auto;
	padding: 10px;
	}
.RecordFormInput  label{
	font-size:14px;
	font-weight:bold;
	width:160px;
	float:left;
	}
.RecordFormInput input[type=submit] {
	border:2px solid #333333;
	border-radius:2px;
	padding:3px;
	font-size:15px;
	width:120px;
	margin-left: 160px;
	margin-right:auto;
}
.RecordFormInput input[type=text] {
	border:2px solid #333333;
	border-radius:2px;
	padding:5px;
	font-size:15px;
	width:290px;
	margin:0px 0px 10px 0px;
}
.RecordFormInput input[type=password] {
	border:2px solid #333333;
	border-radius:2px;
	padding:5px;
	font-size:15px;
	width:290px;
	margin:0px 0px 10px 0px;
}
.RecordFormCLeft {
	width: 170px;
	margin: 2px;
	padding: 3px;
	float: left;
	}
.RecordFormCRight {
	width: 650px;
	margin: 2px;
	padding: 3px;
	float: left;
	}
.RecordFormCRight1 {
	width: 640px;
	margin: 2px;
	padding: 2px;
	float: clear;
	overflow: auto;
	border: 2px solid;
	}
.RecordFormCRight2 {
	width: 120px;
	margin: 2px;
	padding : 2px;
	float: left;
	text-align: center;
	}


	
.RecordFormCRight2 input[type=submit] {
float:clear;
display: block;
}
.RecordFormCRight3 {
	width:300;
	margin-left:auto;
	margin-right: auto;
	padding: 2px;
	padding: 2px;
	float: left;
	}
	
.table-wrapper {
  position:relative;
}
.table-scroll {
  height:145px;
  width:500px;
  overflow:auto;  
}
.table-wrapper table {
  width:100%;
    
}
.table-wrapper table * {
	background-color:#EAF0E0;
	color:black;
}
.table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
}​
	
