.app-dialogue{ position: relative; display: table; margin: 0 auto; background: #ddd; border-radius: 5px; text-align: center; padding: 25px 5px; max-width: 880px; overflow: hidden; }
.app-dialogue-title{ font-size: 16px; font-weight: bold; margin: 0 0 10px 0; }
#staff-groups-box{ margin: 10px; }
#staff-group-select{ height: 22px; }
#staff-groups-button{ height: 23px; }
.past-button{ width: 140px; padding: 4px; }
.server-messages{ min-height: 1.3em; background: #fff; border: 1px solid #ccc; font-size: 12px; text-align: left; padding: 2px 3px; margin: 10px 0 0 0; }
.form-messages{ height: 1.3em; color: red; font-size: 12px; text-align: center; }
.ampm-select{ float: left; }
.change-all-select{ float: right; }
.ampm-select, .ampm-select select,
.change-all-select, .change-all-select select{ font-size: 12px; margin: 0; }
.change-all-select select{ width: 90px; }
.attendance-form-select{ width: 50px; font-size: 11px; }
.take-attendance-box{ display: block; max-width: 870px; background: #fff; margin: 0 0 10px 0; overflow: hidden; position: relative; border-radius: 5px; }
.take-attendance-box table{ border-collapse: collapse; font-size: 12px; border-radius: 5px; }
.take-attendance-box table th{ background: #418ECC; font-weight: bold; color: #fff; }
.take-attendance-box table th,
.take-attendance-box table td{ text-align: left; border: 1px solid #bbb; height: 21px; }
.take-attendance-box table td:first-child{ padding: 0 3px; }
#rules-table{ border-radius: 12px; overflow: hidden; display: block; }
#rules-table table{ width: 870px; border: 0; border-radius: 12px; overflow: hidden; }
/* table tr:nth-child(odd){ background: #fff; }
table tr:nth-child(even){ background: #DFE8F6; }
*/
#rules-table table th{ background: #418ECC; color: white; padding: 4px 5px; text-align: center; }

#new-rule-btn{ float: left; margin: 0 0 5px 2px; height: 19px; }
#rule-filter-box{ float: right; margin: 0 2px 5px 0; }
#page-mask{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000; background: #555; opacity: .8; transition: opacity .3s linear; }
#page-mask.ng-hide{ opacity: 0; }
#fetching-data{ position: fixed; width: 200px; z-index: 1000; top: 30%; left: 50%;  transition: opacity .3s linear; }
#fetching-data.ng-hide{ opacity: 0; }
#fetching-data-msg{ position: absolute; width: 200px; left: -50%; background: #fff; border-radius: 4px; padding: 15px 10px; text-align: center; }
#fetching-data-msg img{ position: relative; top: 2px; }
.back-button img{ height: 20px; }
.date_picker{ margin: 10px 0px; }
.input-box-wrapper{ display: inline-block; margin: 0 auto; border: 1px solid #bbb; margin: 0 0 20px 0; }
.new-rule-input-box{ display: table; margin: 0 auto; width: 410px; }
.new-rule-input-box .date_picker{ display: table-cell; padding: 4px 5px; text-align: left; }
.new-rule-input-box input[type=checkbox]{ position: relative; top: 2px; }
.slim-select{ width: 290px; }
.dateppicker{ z-index: 1001; }
#rule-submit{ float: left; margin: 0 10px 0 2px; }
input[type="date"]::-webkit-input-placeholder{ visibility: hidden !important; }
input::-webkit-calendar-picker-indicator{ display: none; -webkit-appearance: none; }
.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator { display: none; -webkit-appearance: none; }
.tdlink{ cursor: pointer; color: blue; text-decoration: underline; white-space: nowrap; }
.ui-datepicker-week-end{ display: none; }
button{ cursor: pointer; color: #fff; border: 0; border-radius: 3px; background: linear-gradient(#04acec, #0186ba); }
.back-button{ position: absolute; top: 0px; left: 0px; padding: 5px 10px; border-radius: 3px 0 3px 0; }
.action-button{ padding: 3px 4px; width: 20px; cursor: pointer; color: #fff; border-radius: 3px; background: linear-gradient(#04acec, #0186ba); margin: 0 auto; }
.center{ text-align: center !important; }
.left{ float: left; }
.right{ float: right; }
.clear{ clear: both; }
.tleft{ text-align: left; }
.table-row{ display: table-row; }
.no-brerak( white-space:  nowrap; )
.table-row-group{ display: table-row-group; }
.name-fixed-col{ position: absolute; top: 0; left: 0px; background: #fff; border-radius: 5px 0 0 5px; overflow: hidden; }

#edit-attendance-data{ width: 870px; overflow: auto; border-radius: 5px; }
#fixedcol th{ height: 21px; }
#fixedcol td{ height: 21px; padding: 0 3px; }