.logout-timer-relative{ position: relative; }
#logout-timer{ position: absolute; top: 0px; right: 358px; background: #fff; padding: 7px; border-radius: 0 0 5px 5px; display: none; text-align: center; }
#logout-timer-count{}
.logout-timer-warning{ color: red; }