body{ font-size: 12px; font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }
#main_wrapper{ width: 900px; margin: 0 auto; }
#lr-main_wrapper{ width: 1290px; margin: 0 auto; }

header{ background: #f5f5f5; border-bottom: 1px solid transparent; font-size: 13px; padding: 5px 10px; }
.panel-heading{ width: 880px; }
.LRpanel-heading{ width: 1270px; }

#tblResult thead select{ font-size: 11px; }

#dataTables{ margin: 5px 0 0 0; }
#tblResult{ width: 100%; }
#dataTables table th{ padding: 3px; }
#dataTables table td{ border: 1px solid; padding: 2px; }
#averageAPS, .averageAPS{ font-size: 16px; text-align: center; }

.APS_Review #tblResult{ width: 900px; margin: 15px 0 0 0; border-spacing: 0px; border-collapse: collapse; }
.APS_Review #tblResult thead th{ background: lightblue; }
.APS_Review #tblResult thead th, .APS_Review #tblResult td{ padding: 3px; }

.APSless{ background: lightpink; }
.APSzero{ background: lightyellow; }
.APSmore{ background: lightblue; }
.APSbelowzero{  }
.APSabovezero{ background: #ffaaaa; }
.APSabovetwo{ background: lightgreen; }

.LPselect td select{ margin: 0 5px 0 0; }
.lReviewTable{ font-size: 11px; }
.lReviewTable select { margin: 0; }

.mappingTable{ width: 900px; }
.mappingUl li{ display: inline; margin: 0 10px; }

#radFILT{ margin: 0 10px; }

#chartM, #chartL, #chartS, #chartKS{ height: 220px; border: #cccccc 1px solid; margin: 5px 0; padding: 5px 200px; }
#venn_wrapper{ background: url(venn_bg.png) 0 0 no-repeat; width: 900px; height: 1100px; background-size:900px 1100px; position: relative; }
#venn_wrapper div{ margin: 0 4px; }
#venn_wrapper ul{ list-style: none; margin: 0; padding: 0; }
#venn_wrapper ul li{ display: inline-block; margin: 0 4px; white-space: nowrap; overflow: hidden; }

#venn_wrapper #readwritemaths,
#venn_wrapper #reading,
#venn_wrapper #writing,
#venn_wrapper #maths,
#venn_wrapper #readwrite,
#venn_wrapper #writemath,
#venn_wrapper #readmath,
#venn_wrapper #readingpercent,
#venn_wrapper #writingpercent,
#venn_wrapper #mathspercent,
#venn_wrapper #readwritemathspercent,
#venn_wrapper #readwritepercent,
#venn_wrapper #readmathpercent,
#venn_wrapper #writemathpercent{ position: absolute; text-align: center; border: 1px solid #8f8; padding: 2px 0; border-radius: 5px; }

#venn_wrapper #reading{ top: 110px; left: 80px; width: 170px; }
#venn_wrapper #writing{ top: 110px; right: 80px; width: 170px; }
#venn_wrapper #maths{ bottom: 225px; left: 130px; width: 70%; }

#venn_wrapper #readingpercent{ color: #666; top: 80px; left: 120px; width: 100px; font-size: 22px; font-weight: bold; border: 0 !important; }
#venn_wrapper #writingpercent{  color: #666; top: 80px; right: 120px; width: 100px; font-size: 22px; font-weight: bold; border: 0 !important; }
#venn_wrapper #mathspercent{ color: #666; bottom: 120px; left: 400px; width: 100px; font-size: 22px; font-weight: bold; border: 0 !important; }

#venn_wrapper #readwritemaths{ position: absolute;  top: 325px; left: 260px; width: 370px; overflow: hidden; text-align: center; }
#venn_wrapper #readwritemathspercent{ color: #666; top: 290px; left: 400px; width: 100px; font-size: 22px; font-weight: bold; border: 0 !important; }

#venn_wrapper #readwrite{ position: absolute; top: 130px; left: 318px; width: 250px; text-align: center; }
#venn_wrapper #readwritepercent{ color: #666; top: 100px; left: 395px; width: 100px; font-size: 22px; font-weight: bold; border: 0 !important; }

#venn_wrapper #readmath{ top: 445px; left: 80px; width: 170px; }
#venn_wrapper #readmathpercent{ color: #666; top:410px; left: 135px; width: 100px; font-size: 22px; font-weight: bold; border: 0 !important; }

#venn_wrapper #writemath{ position: absolute; top: 445px; right: 80px; width: 170px; }
#venn_wrapper #writemathpercent{ color: #666; top:410px; right: 135px; width: 100px; font-size: 22px; font-weight: bold; border: 0 !important; }

.venntable{ font-size: 11px; }
.venntable select{ font-size: 11px; }
#venn_lvl{ position: absolute; top: 10px; left: 10px; background: #fff; padding: 0 3px;}
#venn_lvl_select{  }
#venn_NA{ position: absolute; bottom: 5px; right: 0px; max-width: 900px; background: #fff;  }
#venn_NA_title{ font-weight: bold; text-align: center; border-bottom: 1px solid #ddd; }
#venn_NA_content{ text-align: center; }

.center{ text-align: center;}
.bold{ font-weight: bold; }
.left{ float: left; }
.clear{ clear: both; }
.font11{ font-size: 11px; }
.tleft{ text-align: left !important; }

input[type="radio"]{ margin: 1px 0 0 0; }

.radfilt_txt{ margin: 0 4px 0 48px; float: left; }
tbody tr:nth-child(even) { background-color: #ddd; }
tbody tr:nth-child(even) { background-color: #ddd; }
tbody tr.nostripe{  background-color: #fff; }

@media print{
	table { page-break-after:auto }
	tr    { page-break-inside:avoid; page-break-after:auto }
	tr    { page-break-inside:avoid; page-break-before:auto }
	td    { page-break-inside:avoid; page-break-after:auto }
	td    { page-break-inside:avoid; page-break-before:auto }
	thead { display:table-header-group }
	tfoot { display:table-row-group }
	.no-print { display: none; }
	table{ margin: 0 auto; }
	.APSpupiltable{ page-break-after:always !important; }
}