body  
{
	margin-top:7mm;
    margin-left:1cm;
	margin-right:1cm;
}
.TableWhole 
{
		
	display: block;
	float:clear;
	overflow:auto;
	font-family: 'Montserrat', sans-serif;
	border:1px black solid;
	width:100%
}
.TableWhole td
{
	border:1px black solid;
	vertical-align:top;
	font-size:10px;
	text-align:center;
}
.TableWhole th
{
	width:20%;
}
.page-break  
{
    page-break-before:always;
    float:clear;
    padding-top:12mm;
}
.Clash
{
background-color:lightblue;
height:1.2cm;
}
.ClashLabel
{
	font-size:15px;
	text-decoration:underline;
	text-align:center;
}
.TableInner 
{
	width:100%;
}
.InnerTd
{
	height:1.2cm;
}
.Break
{
	font-size:15px;
	background-color:yellow;
	text-align:center;
}    
.LabelImage img{
	width:10mm;
	height:15mm;
	padding:2mm;	
	}
.TableHeader 
{
	font-size:20px;
	display: block;
	float:clear;
	overflow:auto;
	font-family: 'Montserrat', sans-serif;
	width:100%
}
