
<!DOCTYPE HTML>
{% load static from staticfiles %}
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>{{ class.ClassListName }}</TITLE>
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
{% load WillowFilters %}
<style>
	body  {
	margin-left:1cm;
	margin-right:1cm;
	}
	.ClassListHeader {
	font-size: 14px;		
	display: block;
	float:clear;
	overflow:auto;
	font-family: 'Montserrat', sans-serif;
	}
	.ClassListBody {
	font-size: 12px;		
	display: block;
	float:clear;
	overflow:auto;
	font-family: 'Montserrat', sans-serif;
	}
	h1 {
		font-size: 24px;
		font-weight:600;
		text-align:center;
	}
	table {
		width:100%;
		border-bottom: 1px solid black;
		margin-bottom:20px;
	}
	th {
		border-bottom: 1px solid black;
		border-top: 1px solid black;
		font-weight:600;
	}
	.classListFooter {
		font-family: 'Montserrat', sans-serif;
		font-size: 10px;
		border-bottom:1px solid black;
		border-top:1px solid black;
	}
</style>
</HEAD>
<BODY LANG="en-GB" DIR="LTR">
<div class='ClassListHeader'>
	<h1>Thomas's {{ class.SchoolName }}<br>
	Classlist {{class.NewAcYear}}</h1><br>
	Class:  <span style='font-weight:600;font-size:16px;'>{{ class.Name }}</span><span style='float:right;'>Year: {{ class.Year}}</span><br><br>
	Teacher/s: {{ class.Teachers }}<span style='float:right;'>Date Created: {{ todaysDate }}</span><br>
</div>
<div class='ClassListBody'>
	{% include class.ClassListFile %}
</div>


</BODY>
</HTML>
