
		<select id="ClassListSelect" name="ClassList" style='width:500px;' maxHeight='150' ,required=true>
{% load static from staticfiles %}
					<option value="Standard">Standard</option>
					<option value="StandardWithStats">Standard With Stats</option>
					<option value="PTA">PTA</option>
					<option value="PTA2">PTA2</option>
					<option value="HouseList">House List</option>
					<option value="EALSpecial">EAL Special</option> 
		</select>	
