
{% load WillowFilters %}
{% load static from staticfiles %}
<div style='font-size:10px;'>
<style>
.classListTable
{ 
    border-collapse: collapse; 
}	

tr.border_bottom td
{
	border-bottom:1pt solid black;
}	
</style>
<table class='classListTable'>
	<tr>
		<th>Name</th>
		<th>EAL Level</th>
		<th>Gender</td>
		<th>History</th>
	</tr>
	{% for pupil in class.ClassList %}
	<tr class="border_bottom">
		<td>{{ pupil.Pupil.Surname }}, {{ pupil.Pupil.FirstName }}</td>
		<td>
		{% for i in pupil.ActivePupilAlerts.0 %}
			{% if i.AlertType.AlertGroup.Name == 'EAL' %}
				{{ i.AlertType.Name }}
			{% endif %}
		{% endfor %}
		</td>
		<td style='text-align:center'>{{ pupil.Pupil.Gender }}</td>
		<td>{{ pupil.ExtendedEal.ealAssessmentHistory.0|Last1000 }}</td>
	</tr>
	{% endfor %}
</table>
</div>
