
<!DOCTYPE HTML>
{% load static from staticfiles %}
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>{{ class.ClassListName }}</TITLE>
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<style>
	body  {
	margin-left:1cm;
	margin-right:1cm;
	}
	.ClassListHeader {
	font-size: 14px;		
	display: block;
	float:clear;
	overflow:auto;
	font-family: 'Montserrat', sans-serif;
	}
	.ClassListBody {
	font-size: 12px;		
	display: block;
	float:clear;
	overflow:auto;
	font-family: 'Montserrat', sans-serif;
	}
	h1 {
		font-size: 24px;
		font-weight:600;
		text-align:center;
	}
	table {
		width:100%;
		border-bottom: 1px solid black;
		margin-bottom:20px;
	}
	th {
		border-bottom: 1px solid black;
		border-top: 1px solid black;
		font-weight:600;
	}
	.classListFooter {
		font-family: 'Montserrat', sans-serif;
		font-size: 10px;
		border-bottom:1px solid black;
		border-top:1px solid black;
	}
</style>
</HEAD>
<BODY LANG="en-GB" DIR="LTR">
<div class='ClassListHeader'>
</div>
<div class='ClassListBody'>
	<h1> Priority 1 only</h1>
		{% for pupil in class.ClassList %}
			{% for contacts in pupil.EmergencyContacts %}
				{% if contacts.Record.Priority == 1 %}
					{% if contacts.Extended.EmailAddress %}
						{{ contacts.Extended.EmailAddress.0 }},
					{% else %}
						{{ contacts.Record.Contact.EmailAddress }},
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	<br>
	<h1> Priority 2 only</h1>
		{% for pupil in class.ClassList %}
			{% for contacts in pupil.EmergencyContacts %}
				{% if contacts.Record.Priority == 2 %}
					{% if contacts.Extended.EmailAddress %}
						{{ contacts.Extended.EmailAddress.0 }},
					{% else %}
						{{ contacts.Record.Contact.EmailAddress }},
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	<br>
	<h1> All Contacts</h1>
		{% for pupil in class.ClassList %}
			{% for contacts in pupil.EmergencyContacts %}

					{% if contacts.Extended.EmailAddress %}
						{{ contacts.Extended.EmailAddress.0 }},
					{% else %}
						{{ contacts.Record.Contact.EmailAddress }},
					{% endif %}

			{% endfor %}
		{% endfor %}
	<br>
</div>
	

</BODY>
</HTML>
