
<div style='font-size:10px;'>
{% load static from staticfiles %}
<table>
	<tr>
		<th>Name</th>
		<th>Date of Birth</th>
		<th>Gender</td>
		<th>Family Address</th>
		<th>Home Phone</th>
		<th>House</th>
	</tr>
	{% for pupil in class.ClassList %}
	<tr>
		<td>{{pupil.Pupil.Surname}}, {{pupil.Pupil.FirstName}}</td>
		<td>{{ pupil.Pupil.DateOfBirth|date:"jS N Y" }}</td>
		<td>{{pupil.Pupil.Gender}}</td>
		<td>{% for addresses in pupil.FamilyRecord.Address.all %}{{addresses.ListAddress}}{% endfor %}</td>
		<td>{{pupil.EmergencyContacts.0.Extended.mobileNumber.0}}</td>
		<td>{{pupil.AcademicHouse}}</td>
	</tr>
	{% endfor %}
</table>
</div>
