
<table>
{% load static from staticfiles %}
	<tr>
		<th>Name</th>
		<th>Date of Birth</th>
		<th>Gender</td>
		<th>Medical Details</th>
		<th>Emergency Phone</th> 
	</tr>
	{% for pupil in class.ClassList %}
	<tr>
		<td>{{ pupil.Pupil.Surname }}, {{ pupil.Pupil.FirstName }}</td>
		<td>{{ pupil.Pupil.DateOfBirth|date:"jS N Y" }}</td>
		<td style='text-align:center'>{{ pupil.Pupil.Gender }}</td>
		<td>{{ pupil.Extended.pupils_medical_details.0|safe }}</td>
		<td>{{ pupil.EmergencyContacts.0.Extended.mobileNumber.0 }}</td>
	</tr>
	{% endfor %}
</table>
