
{% load WillowFilters %}
{% load static from staticfiles %}
<div style='font-size:10px;'>
<style>
.classListTable
{ 
    border-collapse: collapse; 
}	

tr.border_bottom td
{
	border-bottom:1pt solid black;
}	
</style>
<div style="text-align:center;">
	<h2>More Abled</h2>
</div>
<table class='classListTable'>
	<tr>
		<th>Name</th>
		<th>Gender</td>
		<th>Alert Details</th>
	</tr>
{% for pupil in class.ClassList %}
	{% for i in pupil.ActivePupilAlerts.0 %}
		{% if i.AlertType.AlertGroup.Name == 'Gifted and Talented 2' %}
	<tr class="border_bottom">
		<td>{{ pupil.Pupil.Surname }}, {{ pupil.Pupil.FirstName }}</td>
		<td style='text-align:center'>{{ pupil.Pupil.Gender }}</td>
		<td>
			{{ i.AlertDetails|safe }}
		</td>
	</tr>
		{% endif %}
	{% endfor %}	
{% endfor %}
</table>
</div>
