
<div style='font-size:10px;'>
{% load static from staticfiles %}
<table>
	<tr>
		<th>Name</th>
		<th width='100px'>Date of Birth</th>
		<th>Gender</td>
		<th>Family Address</th>
		<th>Home Phone</th>
		<th>Emergency Contact</th>
		<th>Phone</th>
		<th>Email</th>
	</tr>
	{% for pupil in class.ClassList %}
	<tr>
		<td>{{pupil.Pupil.Surname}}, {{pupil.Pupil.FirstName}}</td>
		<td>{{ pupil.Pupil.DateOfBirth|date:"jS N Y" }}</td>
		<td>{{pupil.Pupil.Gender}}</td>
		<td>{% for addresses in pupil.FamilyRecord.Address.all %}{{addresses.ListAddress}}{% endfor %}</td>
		<td>{% for addresses in pupil.FamilyRecord.Address.all %}{{addresses.Phone1}} {% if addresses.Phone2 %}/{{addresses.Phone2}}{% endif %}{% endfor %}</td>
		<td>{{pupil.EmergencyContacts.0.Record.Contact.Forename}} {{pupil.EmergencyContacts.0.Record.Contact.Surname}}</td>
		<td>{{pupil.EmergencyContacts.0.Extended.mobileNumber.0}}</td>
		<td>{{pupil.EmergencyContacts.0.Record.Contact.EmailAddress}}</td>
	</tr>
	{% endfor %}
</table>
</div>
