
<table>
{% load static from staticfiles %}
	<tr>
		<th>Name</th>
		<th>Called name</th>
		<th>Contact 1 Mobile</th>
		<th>Class</th>
	</tr>
	{% for pupil in class.ClassList %}
	<tr>
		<td>{{ pupil.Pupil.Surname }}, {{ pupil.Pupil.FirstName }}</td>
		{% if pupil.Pupil.NickName %}
			<td>{{ pupil.Pupil.NickName }}</td>
		{% else %}
			<td>{{ pupil.Pupil.FirstName }}</td>
		{% endif %}
		<td>{{pupil.EmergencyContacts.0.Extended.mobileNumber.0}}</td>
		<td>{{ pupil.Form }}</td>
	</tr>
	{% endfor %}
</table>
