
<table>
{% load static from staticfiles %}
	<tr>
		<th>Name</th>
		<th>Called name</th>
		<th>Home Tel</td>
		<th>Class</th>
	</tr>
	{% for pupil in class.ClassList %}
	<tr>
		<td>{{ pupil.Pupil.Surname }}, {{ pupil.Pupil.FirstName }}</td>
		{% if pupil.Pupil.NickName %}
			<td>{{ pupil.Pupil.NickName }}</td>
		{% else %}
			<td>{{ pupil.Pupil.FirstName }}</td>
		{% endif %}
		<td>{% for addresses in pupil.FamilyRecord.Address.all %}{{addresses.Phone1}}{% if not forloop.last %}<br>{% endif %}{% endfor %}</td>
		<td>{{ pupil.Form }}</td>
	</tr>
	{% endfor %}
</table>
