
{% load WillowFilters %}
{% load static from staticfiles %}
<div style='font-size:10px;'>
<style>
.classListTable
{ 
    border-collapse: collapse; 
}	

tr.border_bottom td
{
	border-bottom:1pt solid black;
}	
</style>
<table class='classListTable'>
	<tr>
		<th>Name</th>
		<th>Class</th>
		<th width='100px'>Date of Birth</th>
		<th>Extra time allowed</th>
		<th>Laptop allowed</th>
		<th>Precis of Difficulty</th>
	</tr>
	{% for pupil in class.ClassList %}
	<tr class="border_bottom">
		<td>{{ pupil.Pupil.Surname }}, {{ pupil.Pupil.FirstName }}</td>
		<td>{{ pupil.Form }}</td>
		<td>{{ pupil.Pupil.DateOfBirth|date:"jS N Y" }}</td>
		<td>{{ pupil.ExtendedSen.senExtraTime.0 }}</td>
		<td>{{ pupil.ExtendedSen.senLaptop.0 }}</td>
		<td>{{ pupil.ReturnCurrentActiveSen.AlertDetails|safe }}</td>
		<!-- ealAssessmentHistory.0|Last500 (to get only 500 char. if needed) -->
	</tr>
	{% endfor %}
</table>
</div>
