<style>
table {
    border-collapse: collapse;
    width:100%;
    padding:20px;
}

table, td, th {
    border: 1px solid black;
}
</style>
<table>
{% load static from staticfiles %}
	<tr>
		<th>Name</th>
		<th>Date of Birth</th>
		<th>Form</th>
		<th>Box 1</th>
		<th>Box 2</th>
        <th>Box 3</th>
        <th>Box 4</th>
	</tr>
	{% for pupil in class.ClassList %}
	<tr>
		<td>{{ pupil.Pupil.Surname }}, {{pupil.Pupil.FirstName}}</td>
		<td>{{ pupil.Pupil.DateOfBirth|date:"jS N Y" }}</td>
		<td>{{ pupil.Form }}</td>
		<td><br /></td>
        <td><br /></td>
        <td><br /></td>
        <td><br /></td>
	</tr>
	{% endfor %}
</table>
