
<table>
{% load static from staticfiles %}
	<tr>
		<th>Name</th>
		<th>Date of Birth</th>
		<th>Gender</td>
		<th>Family Address</th>
		<th>Phone</th> 
	</tr>
	{% for pupil in class.ClassList %}
	<tr>
		<td>{{pupil.Pupil.Surname}}, {{pupil.Pupil.FirstName}}</td>
		<td>{{ pupil.Pupil.DateOfBirth|date:"jS N Y" }}</td>
		<td style='text-align:center'>{{pupil.Pupil.Gender}}</td>
		<td>{% for addresses in pupil.FamilyRecord.Address.all %}{{addresses.ListAddress}}{% if not forloop.last %}<br>{% endif %}{% endfor %}</td>
		<td>{{pupil.EmergencyContacts.0.Extended.mobileNumber.0}}</td>
	</tr>
	{% endfor %}
</table>
<table style='border:1px solid black'>
	<tr>
		<td colspan=2>Boys:{{ class.NumberOfBoys}}</td><td colspan=2>Girls:{{class.NumberOfGirls}}</td>
	</tr>
	<tr>
		{% for name,number in class.HouseNumbers.items %}
		<td>{{name}}:{{number}}</td>
		{% endfor %}
	</tr>
</table>
