
<div id="AddTarget" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/add_most_abled_target/{{ PupilDetails.id }}/" method="post" >	
		{% csrf_token %}		
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Add Target...</span>   
		</div>
		<div style="display:none;">
			<input name="targetType" value="G/T" />
		</div>
		<div>
			<table style="padding-bottom:15px;">
				<tr>
					<td>
						<span>Target:</span>
					</td>
					<td colspan="3">
						<textarea name="targetText"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<span>Review:</span>
					</td>
					<td colspan="3">
						<textarea name="reviewText"></textarea>
					</td>
				</tr>												
				<tr>
					<td style="padding-top:10px;"><label>Review Date: *</label></td>
					<td style="padding-top:10px;"><input required onclick="showSubmitButton2('AddTargetS');" class='datepicker' readonly='true' type='text' name="reviewDate" value='{% now "Y-m-d"%}' /></td>
					{% if fromEalPage %}
					<td></td><td></td>
					{% else %}
					<td style="padding-top:10px;"><label style="float:right;">Progress:</label></td>
					<td style="padding-top:10px;">
						<select name="Progress">
							<option value="Not_Set">Not Set</option>
							<option value="Met">Met</option>
							<option value="Partial_Met">Partial Met</option>
							<option value="Not_Met">Not Met</option>
						</select>
					</td>
					{% endif %}			
				</tr>								
			</table>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="AddTargetS" onclick="hideSubmitButton('AddTargetS');" type="submit" value="Submit">Submit</button>
            <span id="AddTargetPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
