
<div id="add_to_special_group" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/special_groups_add_pupils/{{ GroupName }}/" method="post">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">Add Pupils to a Special Group</p>   
		</div>		
		<select multiple="multiple" id="add_to_special_groupPupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='add_to_special_group{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>
		<div>
			<select name="special_group_name" size="1">
			{% for group in special_groups %}
				<option value="{{ group.0 }}">
					{{ group.0 }}
				{% if group.1 %}
					(has members)
				{% else %}
					(empty)
				{% endif %}	
				</option>
			{% endfor %}
			</select>
		</div>
		<div style="display:none;">
			<input type="text" name="ac_year" value="{{ AcYear }}">
		</div>										
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="add_to_special_groupS" onclick="hideSubmitButton('add_to_special_groupS');" type="submit" value="Submit">Submit</button>
            <span id="add_to_special_groupPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
