
<div id="addAStaffMemeberToGrp" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/EditStaffGroup/{{ GroupName }}/" method="post">
		{% csrf_token %}
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<p style="font-weight:bold;">Add to Group?</p>   
			</div>
		</div> 
		<select multiple="multiple" id="AddPupilSelect" name="PupilSelect"  style="display:none;">
			{% for staff in staffRecs %}
			<option selected='selected' id='Add{{ staff.StaffId }}'>{{ staff.StaffId }}</option>
			{% endfor %}
		</select>	
		
		<input style="display:none;" type="text" name="EditType" value="Add">		
		
		<select id="addMoveGroupSelect" name="NewGroup">
			{% for Groups in staffGroups %}
				<option value="{{Groups.Name}}">{{ Groups.Name }}</option>
			{% endfor %}
		</select>		<br>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="addAStaffMemeberToGrpS" onclick="hideSubmitButton('addAStaffMemeberToGrpS');" type="submit" value="Submit">Submit</button>
            <span id="addAStaffMemeberToGrpPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
