
<div id="addExistingPupil" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/addExistingPupilSearch/{{ FamilyDetails.FamilyId.id }}/" method="post">
		{% csrf_token %}
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<p style="font-weight:bold;">Add Existing Pupil?</p>   
			</div>
		</div> 
		<div style='border:1px solid darkred;color:darkred;text-align:center;'>
			<p>Please enter part or the full name of <br />the pupil you wish to add to this family</p>
		</div>
		<div>
			<input type="text" name="pupilSearch" style='width:100%; height:25px;' data-dojo-type="dijit/form/ValidationTextBox"/>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="addExistingPupilS" onclick="hideSubmitButton('addExistingPupilS');" type="submit" value="Submit">Submit</button>
            <span id="addExistingPupilPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
