
<div id="addExistingContact" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/addExistingContactSearch/{{ FamilyDetails.FamilyId.id }}/" method="post">
		{% csrf_token %}
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<p style="font-weight:bold;">Add Existing Contact?</p>   
			</div>
		</div> 
		<div style='border:1px solid darkred;color:darkred;text-align:center;'>
			<p>Please enter part or the full name of <br />the contact you wish to add to this family</p>
		</div>
		<div>
			<input type="text" name="contactSearch" style='width:100%;'/>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="addExistingContactS" onclick="hideSubmitButton('addExistingContactS');" type="submit" value="Submit">Submit</button>
            <span id="addExistingContactPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
