
<div id="AddFutureAttendanceRecords" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/AddFutureAttendances/{{ PupilDetails.Pupil.id }}/" method="post">
		{% csrf_token %}
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<span style="font-weight:bold;">Add future attendance data for pupil?</span>   
			</div>
		</div>
		<div style='width:600px;'>
			<div class='bannerDialog'>
				<span>
<span style='color:red;'>Understanding future attendance...</span> One "Attendance" is equal to half a day, this is because we take an attendance for a pupil in the morning (am) and the afternoon (pm).<br /><br />
<span style='color:red;'>example 1:</span> If you would like to mark a pupil off for a whole day you would select the start date then set am/pm to "am" then set No. of Attendances to 2.<br /><br />
<span style='color:red;'>example 2:</span> If you would like to mark a pupil as being off for a week you would select the start date, set am/pm to "am" then set No. of Attendances to 14 - as the pupil will be away for 14 attendances.<br /><br />
				</span>   
			</div>
		</div>			
		<h1>Select Date...</h1>	
					<td style="padding-top:10px;"><input required class='datepicker' readonly='true' style="float:left;width:100%;" type='text' name="AttendanceDate" value='{% now "Y-m-d"%}'></td>
    	<br>
    	<h1>am/pm...</h1>
    	<select name='AmPm'>
			<option value='AM' select='selected'>AM</option>
			<option value='PM'>PM</option>
    	</select>
    	<br>
    	<h1>No. of Attendances...</h1>
    	<input type="number" style='width:100%;' required type='text' name='NoAttendances'/>
    	<h1>Attendance Code...</h1>
    	<select name='AttendanceCode'>
			{% for code in AttendanceCodes %}
			<option value='{{code.AttendanceCode}}'>{{code.AttendanceCode}} :{{code.AttendanceDesc}}</option>
			{% endfor %}
			<option value='/'>/ : present (cancel future Attendance Record)</option>
    	</select>
    	<br>
    	
		<button type='button' class='close2'>Cancel</button>
		<button type="submit">Add</button>
	</form>
</div>
