
<div id="AddProvision" class="login-popup">
{% load static from staticfiles %}
{% if fromEalPage %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/AddEalProvision/{{ PupilDetails.Pupil.id }}/" method="post" >
{% else %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/AddProvision/{{ PupilDetails.Pupil.id }}/" method="post" >
{% endif %}		
		{% csrf_token %}		
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Add Provision...</span>   
		</div>
		<div style="display:none;">
			<input name="provisiontype" value="SEN" />provisiontype
		</div>
		<div>
			<table style="padding-bottom:15px;">
				<tr>
					<td>
						<span>Target:</span>
					</td>
					<td>
						<textarea name="provisionText"></textarea>
					</td>
				</tr>				
				<tr>
					<td style="padding-top:10px;">
						<label>SEN Type: *</label>
					</td>
					<td>
						<select name="senType">
							<option>Class</option>
							<option>Tuition</option>
						</select>
					</td>
				</tr>				
				<tr>
					<td style="padding-top:10px;"><label>Start Date: *</label></td>
					<td style="padding-top:10px;"><input required onclick="showSubmitButton2('AddProvisionS');" class='datepicker' readonly='true' type='text' name="startDate" value='{% now "Y-m-d"%}' /></td>
				</tr>
				<tr>	
					<td style="padding-top:10px;"><label>Stop Date: *</label></td>
					<td style="padding-top:10px;"><input required onclick="showSubmitButton2('AddProvisionS');" class='datepicker' readonly='true' type='text' name="stopDate" value='{% now "Y-m-d"%}' /></td>				
				</tr>								
			</table>
		</div>	
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="AddProvisionS" onclick="hideSubmitButton('AddProvisionS');" type="submit" value="Submit">Submit</button>
            <span id="AddProvisionPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
