
<div id="addStaffCpd" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/addStaffCpd/{{ Staff.id }}/" method="post" >	
		{% csrf_token %}		
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Add Career Path Development Data...</span>   
		</div>
		<div>
			<table style="padding-bottom:15px;">
				<tr>
					<td>Course Title: *</td>
					<td><input style='width:100%;' type='text' name='cpdName' required onclick="showSubmitButton2('addStaffCpdS');"/></td>
				</tr>
				<tr>
					<td>Name of Provider: *</td>
					<td><input style='width:100%;' type='text' name='cpdProvider' required onclick="showSubmitButton2('addStaffCpdS');"/></td>
				</tr>
				<tr>
					<td>Time Taken:</td>
					<td><input style='width:100%;' type='text' name='cpdTimeTaken'/></td>
				</tr>				
				<tr>
					<td>Date Taken:</td>
					<td><input style='width:100%;' type='text' name='cpdDateTaken' class='datepicker' readonly='true'/></td>
				</tr>
				<tr>
					<td>Duration:</td>
					<td><input style='width:100%;' type='text' name='cpdDuration'/></td>
				</tr>				
				<tr>
					<td>Expiry Date:</td>
					<td><input style='width:100%;' type='text' name='cpdExpiryDate' class='datepicker' readonly='true'/></td>
				</tr>
				<tr>
					<td>Certificate Issued:</td>
					<td>
						<input type="radio" name="cpdCertificateIssued" value="yes" checked><span style='padding-right:10px;'>Yes</span>
						<input type="radio" name="cpdCertificateIssued" value="no"><span>No</span>			
					<td>					
				</tr>											
				<tr>
					<td>Internal/External:</td>
					<td>
						<input type="radio" name="cpdIntExt" value="Internal" checked><span style='padding-right:17px;'>Int</span>
						<input type="radio" name="cpdIntExt" value="External"><span>Ext</span>			
					<td>
					<td></td>
				</tr>
				<tr>
					<td style='padding-top:10px;'>Details/Notes:</td><td></td>
				</tr>
				<tr>
					<td colspan='2'><textarea name='cpdDetailsNotes'></textarea></td>
				</tr>																								
			</table>
		</div>	
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="addStaffCpdS" onclick="hideSubmitButton('addStaffCpdS');" type="submit" value="Submit">Submit</button>
            <span id="addStaffCpdPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
