
<div id="AnalysisReportManager" class="login-popup">
{% load static from staticfiles %}
	<script>
		function changeSubjectDivDisplay() {
			var subjectDivDisplay = document.getElementById("choose_a_subject");
			var reportNameSelect = document.getElementById("ReportNameSelect");
			var reportNameSelectString = reportNameSelect.options[reportNameSelect.selectedIndex].text;
			if (reportNameSelectString.indexOf('(All Subjects)') == -1) {
				subjectDivDisplay.style.display = 'inline';
			}
			else {
				subjectDivDisplay.style.display = 'none';
			}
		}
	</script>
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/AnalysisReports/{{ GroupName }}/" method="post" target="_blank">
		{% csrf_token %}
		<div class='bannerDialog' style='text-align:center;'>
			<span>Create Analysis Report?</span>
		</div>			
		<select multiple="multiple" id="AnalysisReportPupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='AnalysisReport{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>
		<div style='background-color:lightgrey;border:1px solid black;padding:10px;'>
			<h1>Select a report...</h1>	
			<select id='ReportNameSelect' name='ReportName' onchange='changeSubjectDivDisplay();'>
				<!--<option value='Mapping'>Mapping</option>-->
				<option value='effortGrade'>Effort Grade Report (All Subjects)</option>
				<option value='attainmentGrade'>Attainment Grade Report (All Subjects)</option>
				<option value='levelGrade'>Level Grade Report (All Subjects)</option>
				<option value='commentGrade'>Comments Report (All Subjects)</option>
			</select>
			<br>
			<h1>Now select a Reporting Season...</h1>
			<select name='ReportSeason'>
				{% for gradeRecords in gradeObj.GetAllReports %}
				<option value="{{ gradeRecords.GradeRecord.Name }}" {% if gradeRecords.GradeRecord.Name in currentGradeRecord %} selected="selected" {% endif %}>{{ gradeRecords.GradeRecord.Name }}</option>
				{% endfor %} 
			</select>
			<div id='choose_a_subject' style='display:none;'>
				<h1>And Lastly, a Subject...</h1>
				<select name='ReportSubject'>
					{% for subject in SubjectList %}
					<option value='{{subject.Name}}'>{{subject.Name}}</option>
					{% endfor %}
				</select>
			</div>
			<div style="border:1px solid darkred;padding:5px;text-align:center;margin:5px;">
				<span style="color:darkred;">Note: These reports may take a few minutes to generate<br />
				You may close this window when report has started</span>
			</div>				
    	</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Close</button>
            <button id="AnalysisReportManagerS" type="submit" value="Submit">Submit</button>
		</div>
	</form>
</div>
