{% load static from staticfiles %}
<link href="{% static "css/multi-select.css" %}" media="screen" rel="stylesheet" type="text/css">
<script src="{% static "js/jquery.multi-select.js" %}" type="text/javascript"></script>
<script src="{% static "js/jquery.form.min.js" %}" type="text/javascript"></script>

<div id="AnalysisReportManager{{ AnalysisTerm }}" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/AnalysisReportsList/{{ GroupName }}/{{ AnalysisTerm }}/" method="post">
		{% csrf_token %}
		<div class='bannerDialog' style='text-align:center;'>
			<span>Select Analysis Reports?</span>
		</div>			
			<h1>Select Reports</h1>	
			<select class='AnalysisReportList' style='height:500px;' id='AnalysisReportList{{ AnalysisTerm }}'  name='AnalysisReportList' multiple='multiple'>
				<optgroup label='EYFS'>
					<option value='{"Report":"EYFS","Subject":"CL_LA"}'>CL:LA</option>
					<option value="{'Report':'EYFS','Subject':'CL_U'}">CL:U</option>	
					<option value="{'Report':'EYFS','Subject':'CL_S'}">CL:S</option>
					<option value="{'Report':'EYFS','Subject':'UW_PC'}">UW:PC</option>
					<option value="{'Report':'EYFS','Subject':'UW_TW'}">UW:TW</option>
					<option value="{'Report':'EYFS','Subject':'UW_Tech'}">UW:Tech</option>
					<option value="{'Report':'EYFS','Subject':'EAD_BI'}">EAD:BI</option>
					<option value="{'Report':'EYFS','Subject':'EAD_EUMM'}">EAD:EUMM</option>
					<option value="{'Report':'EYFS','Subject':'L_Reading'}">L:Reading</option>
					<option value="{'Report':'EYFS','Subject':'L_Writing'}">L:Writing</option>
					<option value="{'Report':'EYFS','Subject':'M_SSM'}">M:SSM</option>
					<option value="{'Report':'EYFS','Subject':'M_Numbers'}">M:Numbers</option>
					<option value="{'Report':'EYFS','Subject':'PD_HSC'}">PD:HSC</option>
					<option value="{'Report':'EYFS','Subject':'PD_MH'}">PD:MH</option>
					<option value="{'Report':'EYFS','Subject':'PSED_MfB'}">PSED:MfB</option>
					<option value="{'Report':'EYFS','Subject':'PSED_MR'}">PSED:MR</option>			
					<option value="{'Report':'EYFS','Subject':'PSED_ScSa'}">PSED:ScSa</option>	
				</optgroup>
				{% for subjects in AnalysisSubjectList %}
				<optgroup label='{{subjects}}'>
					<option value='{"Report":"LevelsReview","Subject":"{{subjects}}","NoYears":5,"Term":"{{ AnalysisTerm }}"}'>Levels Review</option>
					<option value='{"Report":"LevelsPercentage","Subject":"{{subjects}}","Term":"{{ AnalysisTerm }}"}'>Levels Percentage</option>
					<option value='{"Report":"Mapping","Subject":"{{subjects}}","Term":"{{ AnalysisTerm }}"}'>Mapping</option>
					<option value='{"Report":"APSPupilProgress","Subject":"{{subjects}}","Term":"{{ AnalysisTerm }}"}'>APS pupil progress</option>
					<option value='{"Report":"APSSchoolReview","Subject":"{{subjects}}"}'>APS School Review</option>
					<option value='{"Report":"CohortAnalysis","Subject":"{{subjects}}","AnalysisGrade":"Yr2_Eot_S"}'>Yr2 Cohort Analysis</option>
					<option value='{"Report":"CohortAnalysis","Subject":"{{subjects}}","AnalysisGrade":"Yr4_Eot_S"}'>Yr4 Cohort Analysis</option>
					<option value='{"Report":"CohortAnalysis","Subject":"{{subjects}}","AnalysisGrade":"Yr6_Eot_S"}'>Yr6 Cohort Analysis</option>
					<option value='{"Report":"CohortAnalysis","Subject":"{{subjects}}","AnalysisGrade":"Yr8_Eot_S"}'>Yr8 Cohort Analysis</option>
				</optgroup>
				{% endfor %}
			</select>
		<div style="text-align:center;">
            <button type="button" class='close2'>Close</button>
            <button id="AnalysisReportManagerNewS{{ AnalysisTerm }}" type="submit" value="Submit">Submit</button>
		</div>
	</form>
<script type="text/javascript">
$('#AnalysisReportList{{ AnalysisTerm }}').multiSelect({ selectableOptgroup: true });
$('#AnalysisReportManager{{ AnalysisTerm }}').ajaxForm(function () { alert('Your reports have been submitted and will be emailed to you');});

</script>
</div>
