
			<div class="RecordFormBody" style='display:inline-block;'>
{% load static from staticfiles %}
				<div class="RecordFormCLeft">
					
					<div class="RecordFormTitle">
						<h1 class="RecordFormTitleText">Applicant extra fields...</h1> 
					</div>
					
					<div class="RecordFormCommands">
					</div>
					
				</div>
				
				<div class="RecordFormCRight">
					<div class='RecordFormCRight1'>
						<div class='RecordFormCRight2'>  
							{% include "includes/ModifyApplicantExtrafields.html" %}
							<button id="#ModifyApplicantExtrafields" class="login-window2">Modify</button>
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
					
								<div class="table-scroll" style="height:auto;">
					
									<table>
										<tbody>
										<tr><td class='Label'>Source</td><td class='DataItem'>{{ PupilExtended.ApplicantSource.0 }}</td></tr>
										<tr><td class='Label'>Interview Time</td><td class='DataItem'>{{ PupilExtended.ApplicantInterviewTime.0 }}</td></tr>
										<tr><td class='Label'>Interview Date</td><td class='DataItem'>{{ PupilExtended.ApplicantInterviewDate.0 }}</td></tr>
										<tr><td class='Label'>Acceptance Deadline</td><td class='DataItem'>{{ PupilExtended.applicantAcceptanceDeadline.0 }}</td></tr>
										<tr><td class='Label'>Standardised Scores</td><td class='DataItem'>{{ PupilExtended.ApplicantStandardisedScore.0 }}</td></tr>
										<tr><td class='Label'>Percentage Score</td><td class='DataItem'>{{ PupilExtended.applicantPercentageScore.0 }}</td></tr>
										</tbody>
									</table>
								</div>
					
							</div>


						</div>
					</div>
				</div>
				
			</div>




