
<div id="AssignHouseManager" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/PotentialGroup/AssignHouse/{{ GroupName }}/{{ClassObj.NewAcYear}}/" method="post">
		{% csrf_token %}
		
		<select multiple="multiple" id="AssignHousePupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='AssignHouse{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>			
		
		<select id="AssignHouseSelect" name="NewHouse" style='width:500px;' maxHeight='150' ,required=true>
				{% for Groups in ClassObj.PossibleHouses %}
					<option value="{{Groups}}">{{ Groups }}</option>
				{% endfor %}

		</select>		<br>
		<input type='text' style='display:none;' name='NewAcYear' value='{{ClassObj.NewAcYear}}'></input>
		
		<button type='button' class='close2'>Cancel</button>
		<button type="submit">Action Move</button>
	</form>
</div>
