
<div id="Attendance_ChangeDate" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/DailyAttendanceReport/" method="post">
		{% csrf_token %}
	
		<h1>Select Date</h1>	
					<td style="padding-top:10px;"><input required class='datepicker' readonly='true' style="float:left;width:100%;" type='text' name="AttendanceDate" value='{% now "Y-m-d"%}'></td>
    	<br>				
		<button type='button' class='close2'>Cancel</button>
		<button type="submit">Generate</button>
	</form>
</div>
