
<div id="AttendanceReportManager" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/AttendanceReports/{{ GroupName }}/" method="post", target="_blank">
		{% csrf_token %}
		
		<select multiple="multiple" id="AttendanceReportPupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='AttendanceReport{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>
		<h1>Select a report</h1>
		<P> A time period is not required for the Daily Attendance.</P>
		<select name='ReportName'>
			<option value='PupilAttendanceReport.html'>Pupil Att</option>
			<option value='GroupAttendanceReport.html'>Group Stats</option>
			<option value='DailyAttendanceReport.html'>Daily Att</option>
			<option value='GroupAttendanceRegister.html'>Group Register</option>			
		</select>
    	<br>
    	<h1>Now select a Time period</h1>
    	<select name='TimePeriod'>
			<option value='ThisWeek'>This Week</option>
			<option value='LastWeek'>Last Week</option>
			<option value='Yearly'>Yearly</option>
			<option value='Michaelmas'>Michaelmas</option>
			<option value='Lent'>Lent</option>
			<option value='Summer'>Summer</option>
			<option value='Mich1'>Mich 1st Half</option>
			<option value='Mich2'>Mich 2nd Half</option>
			<option value='Lent1'>Lent 1st Half</option>
			<option value='Lent2'>Lent 2nd Half</option>
			<option value='Summer1'>Summer 1st Half</option>
			<option value='Summer2'>Summer 2nd Half</option>
			<option value='September'>September</option>
			<option value='October'>October</option>
			<option value='November'>November</option>
			<option value='December'>December</option>
			<option value='January'>January</option>
			<option value='February'>February</option>
			<option value='March'>March</option>
			<option value='April'>April</option>
			<option value='May'>May</option>
			<option value='June'>June</option>
			<option value='July'>July</option>
    	</select>				
		<button type='button' class='close2'>Cancel</button>
		<button type="submit">Generate</button>
	</form>
</div>
