
{% load WillowFilters %}
{% load static from staticfiles %}
<div id="AttendanceByList" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/AttendanceByGroup/{{AttDate|date:"Y-m-d"}}/" method="post">
		{% csrf_token %}
		<h1>Select group</h1>
		<P> A time period is not required for the Daily Attendance.</P>
		<select name='AttendanceGroup'>
			<option value='WholeSchool'>Whole School</option>
			<option value='LowerSchool'>Lower School</option>
			<option value='MiddleSchool'>Middle School</option>
			<option value='PrepSchool'>Prep School</option>	
			<option value='UpperSchool'>Upper School</option>
			<option value='Reception'>Reception</option>
			<option value='Year1'>Year 1</option>
			<option value='Year2'>Year 2</option>
			<option value='Year3'>Year 3</option>
			<option value='Year4'>Year 4</option>
			<option value='Year5'>Year 5</option>
			<option value='Year6'>Year 6</option>
			<option value='Year7'>Year 7</option>
			<option value='Year8'>Year 8</option>	
		</select>
    	<br>
    	<h1>Am or PM</h1>
			<input type="radio" name="AmPm" value="AM" {% AmChecked %}>AM<br>
			<input type="radio" name="AmPm" value="PM" {% PmChecked %}>PM<br>			
		<button type='button' class='close2'>Cancel</button>
		<button type="submit">Generate</button>
	</form>
</div>
