
<div id="AttendanceMarkGroup" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/AttendanceMarkGroup/{{GroupName}}/{{AmPm}}/{{AttDate}}/" method="post">
		{% csrf_token %}
		
    	<h1>Please Select the Attendance code to mark all of {{GroupName}}.<br>
    	Be aware that this will not change any already set records</h1>
    	<select name='AttendanceCode'>
			{% for code in AttendanceCodes %}
			<option value='{{code.AttendanceCode}}'>{{code.AttendanceCode}} :{{code.AttendanceDesc}}</option>
			{% endfor %}
			<option value='/'>/ : present (cancel future Attendance Record)</option>
    	</select>
    	<br>
    	
		<button type='button' class='close2'>Cancel</button>
		<button type="submit">Add</button>
	</form>
</div>
