
<div id="change_to_new_staff_group" class="login-popup">
{% load static from staticfiles %}
<script>
function change_to_new_staff_group() {
	var new_group = document.getElementById("change_to_new_staff_group_select").selectedIndex;
	var action = document.getElementsByTagName("option")[new_group].value;
	
	var change_to_new_staff_group_div = document.getElementById("change_to_new_staff_group_2");
	change_to_new_staff_group_div.action = '/WillowTree/{{ school }}/{{ AcYear }}/ManageAll/'+action+'/';
}	
</script>
	<form id='change_to_new_staff_group_2' class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ManageAll/{{ GroupName }}/" method="post">
		{% csrf_token %}
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<p style="font-weight:bold;">Change to new Staff Group?</p>   
			</div>
		</div> 
		<select id="change_to_new_staff_group_select" name="NewGroup" onchange="change_to_new_staff_group()">
			{% for Groups in staffGroups %}
				<option value="{{Groups.Name}}">{{ Groups.Name }}</option>
			{% endfor %}
		</select>		<br>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="change_to_new_staff_groupS" onclick="hideSubmitButton('change_to_new_staff_groupS');" type="submit" value="Submit">Submit</button>
            <span id="change_to_new_staff_groupPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
