
<div id="ClassListManager" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/GenerateClassList/{{ GroupName }}/" method="post", target="_blank">
		{% csrf_token %}
		
		<select multiple="multiple" id="ClassListPupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='ClassList{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>			
		{% include "includes/ClassListSelector.html" %}
    	<br>
						
		<button type='button' class='close2'>Cancel</button>
		<button type="submit">Generate List</button>
	</form>
</div>
