
		<select id="ClassListSelect" name="ClassList" style='width:500px;' maxHeight='150' ,required=true>
{% load static from staticfiles %}
			<option value="Standard">Standard</option>
			<option value="StandardWithStats">Standard With Stats</option>
			<option value="standard_as_table_with_four_blank_boxes">Standard as table with four blank boxes</option>
			<option value="QuickList">Quicklist (with home telephone number)</option>
			<option value="quick_list_with_contact_one_mobile_number">Quicklist (with contact 1 mobile number)</option>
            <option value="PTA">PTA</option>
			<option value="PTA2">PTA2</option>
			<option value="PTA3">PTA3</option>
			<option value="HouseList">House List</option>
			<option value="EALSpecial">EAL Special</option>
			<option value="SENSpecial">SEN Special</option>
			<option value="most_abled_more_abled_special_1">Most Abled Special</option>
			<option value="most_abled_more_abled_special_2">More Abled Special</option>
			<option value="MedicalDetails">Medical Details</option>
		</select>	
