<div id="contact_skills_bank{{FamilyContact.FamilyRec.Contact.id}}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/contact_skills_bank/{{FamilyContact.FamilyRec.Contact.id}}/{{ FamilyDetails.FamilyId.id }}/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Contact Skills Bank</span>
		</div>
		<div>
			<textarea name="contact_skills_bank">{{ FamilyContact.Extended.contact_skills_bank.0|safe }}</textarea>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="contact_skills_bank{{FamilyContact.FamilyRec.Contact.id}}S" onclick="hideSubmitButton('contact_skills_bank{{FamilyContact.FamilyRec.Contact.id}}S');" type="submit" value="Submit">Submit</button>
            <span id="contact_skills_bank{{FamilyContact.FamilyRec.Contact.id}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>