
{% comment %}
{% load static from staticfiles %}
 
 *********************************************************************
 
 This file is used as an include for the Manager.html screens
 
 It  is used to create the dialog for moving a pupil from 
 one group to another 
 
 *********************************************************************
 
{% endcomment %}


<div id="CopyAPupil" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/CopyAPupil/{{ GroupName }}/" method="post">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">Copy {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }} to Group?</p>
		</div>
		<select multiple="multiple" id="CopyPupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='Copy{{pupil.Pupil.id}}' value='{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>			
		
		<select id="NewGroupCopySelect" name="NewGroup" data-dojo-is='NewGroupCopySelect' style='width:500px;'>
			{% if 'Applicants' in GroupName %}
				{% for Groups in GroupList.Applicants %}
					<option value="{{Groups.Name}}">{{ Groups.Name }}</option>
				{% endfor %}
			{% else %}
				{% for Groups in GroupList.Current %}
					<option value="{{Groups.Name}}">{{ Groups.Name }}</option>
				{% endfor %}
			{% endif %}			
		</select>		<br>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="CopyAPupilS" onclick="hideSubmitButton('CopyAPupilS');" type="submit" value="Submit">Submit</button>
            <span id="CopyAPupilPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
