
<div id="CopySinglePupilBackToHolding" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/CopyAPupil/Applicants/" method="post">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">Copy {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }} back to holding?</p>
		</div>
		<div style="display:none;">
			<select multiple="multiple" id="CopyBackToHoldingPupilSelect" name="PupilSelect">
				{% for pupil in ClassList %}
				<option selected='selected' id='CopyBackToHolding{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
				{% endfor %}
			</select>
			<input type="text" id="CopySinglePupilBackToHoldingNewGroup" name="NewGroup" value="Applicants.Holding">
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="CopySinglePupilBackToHoldingS" onclick="hideSubmitButton('CopySinglePupilBackToHoldingS');" type="submit" value="Submit">Submit</button>
            <span id="CopySinglePupilBackToHoldingPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
