
<div id="copy_and_paste_family_address{{ Address.id }}" class="login-popup">
{% load static from staticfiles %}
	<div class='RecordFormDialog'>
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<span style="font-weight:bold;">Copy and paste mode</span>   
			</div>
		</div>
		<div style="background-color:white;border:1px solid;text-align:left;padding:20px;">
			<p>
				{{Address.PostalTitle}}<br /><br />
				{{Address.AddressLine1}}<br />
				{{Address.AddressLine2}}<br />
			{% if Address.AddressLine3 %}
				{{Address.AddressLine3}}<br />
			{% endif %}
			{% if Address.AddressLine4 %}
				{{Address.AddressLine4}}<br />
			{% endif %}
				{{Address.PostCode}}<br /><br />
				{{Address.Country}}
			</p>
		</div>
		<div style="text-align:center;">
			<button type="button" class='close2'>Close</button>
		</div>
	</div>
</div>



