
<style>
{% load static from staticfiles %}
.csvOptionsTableHeader {
	padding: 5px;
	color: darkblue;
	}
	
.csvOptionsTableSubHeader {
	padding: 5px 5px 5px 15px;
	color: darkblue;
	font-size:0.9em;
	}	
	
.csvOptionsTableCell {
	width: 200px;
	}
	
.csvOptionsTable {
	padding: 10px;
	border-bottom: 1px solid darkgrey;
	}
	
.csvOptionsTableNoBorder {
	padding: 10px;
	}	
</style>
{% load WillowFilters %}
<div id="CsvOptions" class="login-popup">
	{% if ClassObj.NewAcYear %}
		<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{school}}/{{AcYear}}/PotentialGroup/csv/{{ GroupName }}/{{ClassObj.NewAcYear}}/" method="post">
		<select multiple="multiple" id="CsvOptionsPupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='CsvOptions{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>	
	{% else %}
		<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{school}}/{{AcYear}}/Manage/CSV2/{{ GroupName }}/pupillist.csv" method="post">
	{% endif %}
		{% csrf_token %}
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<span style="font-weight:bold;">Please select options to include in your CSV file...</span>   
			</div>
		</div>
<!-- code to get pupil selector to work -->
		<select multiple="multiple" id="CsvOptionsPupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='CsvOptions{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>	
<!-- end -->
<!-- from sen or eal? -->
		{% if senView %}
			<input type="hidden" name='fromSenView' value='True' />
		{% endif %}
		{% if ealView %}
			<input type="hidden" name='fromEalView' value='True' />
		{% endif %}	
<!-- end -->
<!-- main csv options -->
		<div>
			<div style='height:250px;overflow-y:scroll;background-color:lightgrey;border:1px solid black;margin-left:auto;margin-right:auto;'>
				<div class='csvOptionsTableHeader'>Main details...</div>
				<table class='csvOptionsTable'>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="pupilId" value="pupilId">Pupil Id</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Religion" value="Religion">Religion</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="pupilForename" value="pupilForename">Pupil Forename</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="PrimaryLanguage" value="PrimaryLanguage">Primary Language</input></div></td>
					</tr>				
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="pupilSurname" value="pupilSurname">Pupil Surname</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="ageOfToday" value="ageOfToday">Age of today</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="pupilOtherNames" value="pupilOtherNames">Pupil Other Names</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="siblingCount" value="siblingCount">Sibling Count</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="pupilGender" value="pupilGender">Pupil Gender</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="P_Internet" value="P_Internet">Internet Permissions</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="pupilDOB" value="pupilDOB">Pupil DOB (format 1)</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="P_Media" value="P_Media">Media Permissions</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="pupilDOB2" value="pupilDOB2">Pupil DOB (format 2)</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="pupilRegistrationDate" value="pupilRegistrationDate">Pupil Registration Date</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="pupilGroups" value="pupilGroups">Pupil Groups</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="previousSchool" value="previousSchool">Previous School (truncated)</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="pupilHouse" value="pupilHouse">Pupil House</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="pupilFormDerivedFromGroupName" value="pupilFormDerivedFromGroupName">Group Name</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="pupilForm" value="pupilForm">Pupil Form</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="familyAddress" value="familyAddress">Family address (truncated)</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="pupilEmail" value="pupilEmail">Pupil Email</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="UPN" value="UPN">UPN</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Ethnicity" value="Ethnicity">Ethnicity</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="contactDetails1" value="contactDetails1">Contact 1 (truncated)</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Nationality" value="Nationality">Nationality</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="contactDetails2" value="contactDetails2">Contact 2 (truncated)</input></div></td>
					</tr>	
					<tr>				
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="medical_details" value="medical_details">Medical Details</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="contactDetails3" value="contactDetails3">Contact 3 (truncated)</input></div></td>
					</tr>																																													
				</table>
			{% if 'Admin' in school  or 'Applicants' in school %}
				<!-- applicant details -->
				<div class='csvOptionsTableHeader'>Applicant Extra...</div>
				<table class='csvOptionsTable'>
					<tr>				
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Source" value="Source">Source</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Interview_Time" value="Interview_Time">Interview Time</input></div></td>
					</tr>
					<tr>				
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Interview_Date" value="Interview_Date">Interview Date</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Acceptance_Deadline" value="Acceptance_Deadline">Acceptance Deadline</input></div></td>
					</tr>
					<tr>				
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Standardised_Score" value="Standardised_Score">Standardised Score</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Percentage_Score" value="Percentage_Score">Percentage Score</input></div></td>
					</tr>
					<tr>				
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Applicant_Notes" value="Applicant_Notes">Applicant Notes</input></div></td>
						<td><br /></td>
					</tr>					
				</table>
				<!-- end -->
			{% endif %}
				<!-- contact details -->
				<div class='csvOptionsTableHeader'>Contact Details...</div>
				<table class='csvOptionsTable'>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Con_1_Forename" value="Con_1_Forename">Contact 1 Forename</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Con_1_Mobile" value="Con_1_Mobile">Contact 1 Mobile</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Con_1_Surname" value="Con_1_Surname">Contact 1 Surname</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Con_1_Email" value="Con_1_Email">Contact 1 Email</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Con_1_Type" value="Con_1_Type">Contact 1 Type</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Con_1_car_reg" value="Con_1_car_reg">Contact 1 Car Reg.</input></div></td>
					</tr>	
					<tr>
						<td colspan="2"><div class='csvOptionsTableCell'><input type="checkbox" name="Con_1_messaging_status" value="Con_1_messaging_status">Contact 1 Messaging Status</input></div></td>
					</tr>									
					<tr>
						<td><br /></td><td></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Con_2_Forename" value="Con_2_Forename">Contact 2 Forename</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Con_2_Mobile" value="Con_2_Mobile">Contact 2 Mobile</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Con_2_Surname" value="Con_2_Surname">Contact 2 Surname</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Con_2_Email" value="Con_2_Email">Contact 2 Email</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Con_2_Type" value="Con_2_Type">Contact 2 Type</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Con_2_car_reg" value="Con_2_car_reg">Contact 2 Car Reg.</input></div></td>
					</tr>
					<tr>
						<td colspan="2"><div class='csvOptionsTableCell'><input type="checkbox" name="Con_2_messaging_status" value="Con_2_messaging_status">Contact 2 Messaging Status</input></div></td>
					</tr>											
					<tr>
						<td><br /></td><td></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Con_3_Forename" value="Con_3_Forename">Contact 3 Forename</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Con_3_Mobile" value="Con_3_Mobile">Contact 3 Mobile</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Con_3_Surname" value="Con_3_Surname">Contact 3 Surname</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Con_3_Email" value="Con_3_Email">Contact 3 Email</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Con_3_Type" value="Con_3_Type">Contact 3 Type</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="Con_3_car_reg" value="Con_3_car_reg">Contact 3 Car Reg.</input></div></td>
					</tr>
					<tr>
						<td colspan="2"><div class='csvOptionsTableCell'><input type="checkbox" name="Con_3_messaging_status" value="Con_3_messaging_status">Contact 3 Messaging Status</input></div></td>
					</tr>	
				</table>
				<!-- -->
				<div class='csvOptionsTableHeader'>Address Details...</div>
				<div class='csvOptionsTableSubHeader'>Address 1</div>
				<table class='csvOptionsTable' style='border-bottom:0;'>
					<tr>				
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="familyHomeSalutation" value="familyHomeSalutation">Home Salutation</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="familyPostalTitle" value="familyPostalTitle">Postal Title</input></div></td>
					</tr>
					<tr>	
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="familyAddressLine1" value="familyAddressLine1">Address Line 1</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="familyAddressLine2" value="familyAddressLine2">Address Line 2</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="familyAddressLine3" value="familyAddressLine3">Address Line 3</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="familyAddressLine4" value="familyAddressLine4">Address Line 4</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="familyPostCode" value="familyPostCode">Post Code</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="familyCountry" value="familyCountry">Country</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="familyPhone1" value="familyPhone1">Phone 1</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="familyPhone2" value="familyPhone2">Phone 2</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="familyPhone3" value="familyPhone3">Phone 3</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="familyEmailAddress" value="familyEmailAddress">Email Address</input></div></td>
					</tr>				
				</table>
				<div class='csvOptionsTableSubHeader'>Address 2</div>
				<table class='csvOptionsTable' style='border-bottom:0;'> 
					<tr>				
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="2ndfamilyHomeSalutation" value="2ndfamilyHomeSalutation">Home Salutation</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="2ndfamilyPostalTitle" value="2ndfamilyPostalTitle">Postal Title</input></div></td>
					</tr>
					<tr>	
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="2ndfamilyAddressLine1" value="2ndfamilyAddressLine1">Address Line 1</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="2ndfamilyAddressLine2" value="2ndfamilyAddressLine2">Address Line 2</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="2ndfamilyAddressLine3" value="2ndfamilyAddressLine3">Address Line 3</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="2ndfamilyAddressLine4" value="2ndfamilyAddressLine4">Address Line 4</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="2ndfamilyPostCode" value="2ndfamilyPostCode">Post Code</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="2ndfamilyCountry" value="2ndfamilyCountry">Country</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="2ndfamilyPhone1" value="2ndfamilyPhone1">Phone 1</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="2ndfamilyPhone2" value="2ndfamilyPhone2">Phone 2</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="2ndfamilyPhone3" value="2ndfamilyPhone3">Phone 3</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="2ndfamilyEmailAddress" value="2ndfamilyEmailAddress">Email Address</input></div></td>
					</tr>				
				</table>	
				<div class='csvOptionsTableSubHeader'>Address 3</div>
				<table class='csvOptionsTable'>
					<tr>				
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="3rdfamilyHomeSalutation" value="3rdfamilyHomeSalutation">Home Salutation</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="3rdfamilyPostalTitle" value="3rdfamilyPostalTitle">Postal Title</input></div></td>
					</tr>
					<tr>	
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="3rdfamilyAddressLine1" value="3rdfamilyAddressLine1">Address Line 1</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="3rdfamilyAddressLine2" value="3rdfamilyAddressLine2">Address Line 2</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="3rdfamilyAddressLine3" value="3rdfamilyAddressLine3">Address Line 3</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="3rdfamilyAddressLine4" value="3rdfamilyAddressLine4">Address Line 4</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="3rdfamilyPostCode" value="3rdfamilyPostCode">Post Code</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="3rdfamilyCountry" value="3rdfamilyCountry">Country</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="3rdfamilyPhone1" value="3rdfamilyPhone1">Phone 1</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="3rdfamilyPhone2" value="3rdfamilyPhone2">Phone 2</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="3rdfamilyPhone3" value="3rdfamilyPhone3">Phone 3</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="3rdfamilyEmailAddress" value="3rdfamilyEmailAddress">Email Address</input></div></td>
					</tr>				
				</table>							
				<!-- contact details here -->				
				<div class='csvOptionsTableHeader'>Sen Details...</div>
				<table class='csvOptionsTableNoBorder'>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="SEN_Y_N" value="SEN_Y_N">SEN (Y/N)</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="SEN_Alert" value="SEN_Alert">SEN (Alert code)</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="SEN_extra_time" value="SEN_Y_N">Extra Time</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="SEN_laptop" value="SEN_Alert">Laptop</input></div></td>
					</tr>					
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="SEN_precis" value="SEN_precis">SEN Precis</input></div></td>
						<td></td>
					</tr>
				</table>
				
				<div class='csvOptionsTableSubHeader'>Standard Options...</div>
				<table class='csvOptionsTableNoBorder'>
					<tr>
					{% for a in ExtraSenOptions.standard_SEN_search_list %}
					<td><div class='csvOptionsTableCell'><input style='padding:2px;' type="checkbox" name="extraOptions{{ a }}" value="{{ a }}">{{ a|replaceSpace:'_' }}</input></div></td>
					{%if forloop.counter|divisibleby:"2"%}
					</tr><tr>
					{% endif %}
					{% endfor %}
					</tr>
				</table>
				<div class='csvOptionsTableSubHeader'>Difficulty Options...</div>
				<table class='csvOptionsTable'>
					<tr>
					{% for b in ExtraSenOptions.difficulties_SEN_search_list %}
					<td><div class='csvOptionsTableCell'><input style='padding:2px;' type="checkbox" name="extraOptions{{ b }}" value="{{ b }}">{{ b|replaceSpace:'_' }}</input></div></td>
					{%if forloop.counter|divisibleby:"2"%}
					</tr><tr>
					{% endif %}
					{% endfor %}
					</tr>		
				</table>				
				
				<div class='csvOptionsTableHeader'>Eal Details...</div>
				<table class='csvOptionsTable'>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="EAL_Y_N" value="EAL_Y_N">EAL (Y/N)</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="EAL_Alert" value="EAL_Alert">EAL (Alert code)</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="ealLanguage1" value="ealLanguage1">Language 1</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="ealLanguage2" value="ealLanguage2">Language 2</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="ealLanguage3" value="ealLanguage3">Language 3</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="EAL_precis" value="EAL_precis">EAL Precis</input></div></td>
					</tr>										
				</table>	
				<!-- MOST ABLED -->
				<div class='csvOptionsTableHeader'>Most/More Abled Details...</div>
				<table class='csvOptionsTable'>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="subjects_most_abled_in_level_1" value="subjects_most_abled_in_level_1">Subjects Most Abled in lv 1</input></div></td>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="subjects_most_abled_in_level_2" value="subjects_most_abled_in_level_2">Subjects Most Abled in lv 2</input></div></td>
					</tr>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="more_abled_Y_N" value="more_abled_Y_N">More Abled (Y/N)</input></div></td>
						<td></td><td></td>
					</tr>						
				</table>					
				<!-- end -->	
				<!-- CAT DATA -->
				<div class='csvOptionsTableHeader'>CAT Data</div>
				<table class='csvOptionsTable'>
					<tr>
						<td><div class='csvOptionsTableCell'><input type="checkbox" name="cat_data" value="cat_data">CAT Data</input></div></td>
						<td></td>
					</tr>						
				</table>					
				<!-- end -->				
			</div>
		</div>
<!-- end -->
		<div style='padding:5px;text-align:center;font-size:0.9em;color:darkred;'>
			<span>scroll down for more options</span>
		</div>		
		<div style="text-align:center;margin-top:25px;clear:both">
			<button type="button" class='close2'>Close</button>
			<button type="submit">Submit</button>
		</div>
		<div style="border:1px solid darkred;padding:5px;text-align:center;margin:5px;">
			<span style="color:darkred;">You can download several different configuration of file here.<br />Select close button when your CSV file has downloaded</span>
		</div>
	</form>
</div>
