
<div id="DeleteTarget{{ Target.id }}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/delete_most_abled_target/{{ PupilDetails.id }}/{{ Target.id }}/" method="post" >
		{% csrf_token %}		
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Delete Target?</span>   
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="DeleteTarget{{ Target.id }}S" onclick="hideSubmitButton('DeleteTarget{{ Target.id }}S');" type="submit" value="Submit">Submit</button>
            <span id="DeleteTarget{{ Target.id }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
