
<div id="DeleteProvision{{ Provision.id }}" class="login-popup">
{% load static from staticfiles %}
{% if fromEalPage %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/DeleteEalProvision/{{ PupilDetails.Pupil.id }}/{{ Provision.id }}/" method="post" >
{% else %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/DeleteProvision/{{ PupilDetails.Pupil.id }}/{{ Provision.id }}/" method="post" >
{% endif %}
		{% csrf_token %}		
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Delete Provision?</span>   
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="DeleteProvision{{ Provision.id }}S" onclick="hideSubmitButton('DeleteProvision{{ Provision.id }}S');" type="submit" value="Submit">Submit</button>
            <span id="DeleteProvision{{ Provision.id }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
