
<div id="deleteStaffCpd{{ i.id }}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/deleteStaffCpd/{{ Staff.id }}/" method="post" >	
		{% csrf_token %}		
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Delete Career Path Development Data?</span>   
		</div>
		<div>
			<input style='display:none;' name='cpdID' value='{{ i.id }}'/>
		</div>	
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="deleteStaffCpd{{ i.id }}S" onclick="hideSubmitButton('deleteStaffCpd{{ i.id }}S');" type="submit" value="Submit">Submit</button>
            <span id="deleteStaffCpd{{ i.id }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
