
{% load WillowFilters %}
{% load static from staticfiles %}
<script type="text/javascript" src="{{ STATIC_URL }}Scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
{% include "tinyMCE.js" %}
</script>	
<script>
{% include "popOutJavaScript.js" %}
{% include "datePickerCode.js" %}
</script>
{% include "includes/UpdateIssues.html" %}
<div class="RecordFormBody">
	<div class="RecordFormCLeft">
		<div class="RecordFormTitle">
			Keywords: </br>
			{{ Notes.NoteId.Keywords|SplitKW }}
		</div>
	</div>
	<div class="RecordFormCRight">
		<div class='RecordFormCRight1'>
			<div class='RecordFormCRight2'>
				<button id="#UpdateIssue{{Notes.NoteId.id}}" class="login-window2">Modify</button>
			</div>
			<div class='RecordFormCRight3'>
				<div class="table-wrapper">
					<div class="table-scroll">
						<table>
							<tbody>
								<tr><td class='Label'>Details</td><td class='DataItem'> {{ Notes.NoteId.NoteText|safe }}</td></tr>
								<tr><td class='Label'>Raised By</td><td class='DataItem'>{{ Notes.NoteId.RaisedBy.UserId.User.Forename }} {{ Notes.NoteId.RaisedBy.UserId.User.Surname }}</td></tr>
								<tr><td class='Label'>Raised Date</td><td class='DataItem'>{{ Notes.NoteId.RaisedDate|date:"d/m/Y"}}</td></tr>
								<tr><td class='Label'>Status</td><td class='DataItem'>{{ Notes.NoteId.IssueStatus }}</td></tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
