
				<div class="RecordFormBody">
{% load static from staticfiles %}
					<div class="RecordFormCLeft">
						<h1 class="RecordFormTitleText">Future<br />Attendances<br />for this Pupil...</h1>
						<button style='margin-top:20px;' id="#AddFutureAttendanceRecords" class="login-window2">Add</button>			
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1">
							{% if PupilDetails.FutureAttendances %}		
							<div class='RecordFormCRight2'>
								<!-- button place -->
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll" style="min-height:125px;">
										<table>
											<tbody>	
											{% for Records in PupilDetails.FutureAttendances %}
												<tr>
													<td>{{Records.AttendanceDate}}</td>
													<td>{{Records.AmPm}}</td>
													<td>{{Records.Code.AttendanceCode}}: {{Records.Code.AttendanceDesc}}</td>
												</tr>
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						<!-- -->
						{% else %}
						<div style="text-align:center">
							<h1 style="color:darkred;padding-top:50px;padding-bottom:75px;">No Attendances Marked</h1>
						</div>
						{% endif %}
					</div>
				</div>
			</div>	
