
{% load WillowFilters %}
{% load static from staticfiles %}
<div id="EditAttendancePopUp_{{ attendance.Pupil.id }}_{{ att.1 }}_{{ att.3 }}" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/EditAttendancePopUp/" method="post">
		{% csrf_token %}	
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">
				Change {{ attendance.Pupil.FullName }}'s attendance?<br />
				{{ att.1|englishDateFormat }} {{ att.3 }}
			</span>   
		</div>			
<!-- -->
		<div>
			<input type="hidden" name="startDate" value="{{ startDate }}">
			<input type="hidden" name="endDate" value="{{ endDate }}">
			<input type="hidden" name="groupName" value="{{ groupName }}">
			<input type="hidden" name="GroupName" value="{{ groupName }}"> 
			<input type="hidden" name="pupilId" value="{{ attendance.Pupil.id }}">
			<select name="newAttendanceCode">
			{% for code in AttendanceCodes %}
				{% if att.0 == code.0 %}
				<option selected='selected' value="{{ code.0 }}_{{ att.1 }}_{{ att.2 }}_{{ att.3 }}_{{ attendance.Pupil.id }}">{{ code.0 }} -- {{ code.1 }}</option>
				{% else %}
				<option value="{{ code.0 }}_{{ att.1 }}_{{ att.2 }}_{{ att.3 }}_{{ attendance.Pupil.id }}">{{ code.0 }} -- {{ code.1 }}</option>
				{% endif %}
			{% endfor %}
			</select>
		</div>
<!-- -->
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="EditAttendancePopUp_{{ attendance.Pupil.id }}_{{ att.1 }}_{{ att.3 }}S" onclick="hideSubmitButton('EditAttendancePopUp_{{ attendance.Pupil.id }}_{{ att.1 }}_{{ att.3 }}S');" type="submit" value="Submit">Submit</button>
            <span id="EditAttendancePopUp_{{ attendance.Pupil.id }}_{{ att.1 }}_{{ att.3 }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
