
<div id="EditPupilDetails{{pupil.Pupil.id}}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/UpdateApplicant/{{GroupName}}/{{pupil.Pupil.id}}/"  method="post">	
			<div class='bannerDialog'>
				Edit {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }}'s Details...
			</div>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script>
{% include "datePickerCode.js" %}
</script>				
				{% csrf_token %}
		<table>		
			<tr>
				<td>
					<label for="EditPupilSurname{{pupil.Pupil.id}}">Surname: *</label>
				</td> 
				<td>
					<input required onclick="showSubmitButton2('EditPupilDetails{{pupil.Pupil.id}}S');" type="text" name="Surname" id="EditPupilSurname{{pupil.Pupil.id}}" value="{{ pupil.Pupil.Surname }}">
				</td>
			</tr>
			<tr>
				<td>
					<label for="EditPupilForename{{pupil.Pupil.id}}">Forename: *</label>
				</td> 
				<td>
					<input required onclick="showSubmitButton2('EditPupilDetails{{pupil.Pupil.id}}S');" type="text" name="Forename" id="EditPupilForename{{pupil.Pupil.id}}" value="{{ pupil.Pupil.Forename }}">
				</td>
			</tr>
			<tr>
				<td>
					<label for="EditPupilOtherNames{{pupil.Pupil.id}}">Other Names:</label>
				</td>
				<td>
					<input type="text" name="OtherNames" id="EditPupilOtherNames{{ pupil.Pupil.id}}" value="{{ PupilDetails.Pupil.OtherNames }}">
				</td>
			</tr>			
			<tr>
				<td>
					<label for="EditPupilKnownAs{{pupil.Pupil.id}}">Known as:</label>
				</td> 
				<td>
					<input type="text" name="NickName" id="EditPupilKnownAs{{pupil.Pupil.id}}" value="{{ PupilDetails.Pupil.NickName }}">
				</td>
			</tr>
			<tr>
				<td>
					<label for="EditPupilTitle{{pupil.Pupil.id}}">Title:</label>
				</td> 
				<td>
					<input type="text" name="Title" id="EditPupilTitle{{pupil.Pupil.id}}" value="{{ PupilDetails.Pupil.Title }}">
				</td>
			</tr>
			<tr>
				<td>
					<label for="EditPupilGender{{pupil.Pupil.id}}">Gender:</label>
				</td>
				<td>
					<table>
						<tr>
							<td>
								<label for="RadioMale{{pupil.Pupil.id}}">Male</label><input type="radio" name="Gender" value="M" id="RadioMale{{pupil.Pupil.id}}" {% ifequal pupil.Pupil.Gender "M" %}checked='checked'{% endifequal %} >
							</td>
						</tr>
						<tr>
							<td>
								<label for="RadioFemale{{pupil.Pupil.id}}">Female</label><input type="radio" name="Gender" value="F" id="RadioFemale{{pupil.Pupil.id}}" {% ifequal pupil.Pupil.Gender "F" %}checked='checked'{% endifequal %}>
							</td>
						</tr>
					</table>
				</td> 

			</tr>
			<tr>
				<td>
					<label for="DateOfBirth{{pupil.Pupil.id}}">DOB:</label>
				</td>
				<td>
					<input class='datepicker' readonly='true' type='text' name="DateOfBirth" id="DateOfBirth{{pupil.Pupil.id}}" size="11" value="{{ pupil.Pupil.DateOfBirth|date:'Y-m-d' }}">
				</td>
			</tr>
			<tr>
				<td>
					<label for="EmailAddress{{pupil.Pupil.id}}">Email:</label>
				</td>
				<td>
					<input type="text" name="EmailAddress" id="EmailAddress{{pupil.Pupil.id}}" value="{{ pupil.Pupil.EmailAddress }}">
				</td>
			</tr>
		</table>
		<br /><br />
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="EditPupilDetails{{pupil.Pupil.id}}S" onclick="hideSubmitButton('EditPupilDetails{{pupil.Pupil.id}}S');" type="submit" value="Submit">Submit</button>
            <span id="EditPupilDetails{{pupil.Pupil.id}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
		<div style="text-align:center;margin-top:10px;border:1px solid;">
			<span>fields marked with an asterisk (*) are required</span>
		</div>		
	</form>
</div>
