
<div id="EmailListManager" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/GenerateEmailList/{{ GroupName }}/" method="post", target="_blank">
		{% csrf_token %}
		
		<select multiple="multiple" id="EmailListPupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='EmailList{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>			
		<button type='button' class='close2'>Cancel</button>
		<button type="submit">Generate List</button>
	</form>
</div>
