
{% if Type == 'List' %}
{% load static from staticfiles %}

<ul>
	{% for Contacts in ContactList %}
	<li>{{Contacts.Contact.Title}} {{Contacts.Contact.Forename}} {{Contacts.Contact.Surname}} ({{Contacts.Relationship.Type}})</li>
	{% endfor %}
</ul>

{% else %}

<table border=1>
	<tr>
		<td>Name</td><td>Relationship</td>
	<tr>
	{% for Contacts in ContactList %}
	<tr>
		<td>{{Contacts.Contact.Title}} {{Contacts.Contact.Forename}} {{Contacts.Contact.Surname}} </td><td>{{Contacts.Relationship.Type}}</td>
	<tr>
	{% endfor %}
</table>

{% endif %}
