
<div id="EPIFManager" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/PotentialGroup/GenerateEPIF/{{ GroupName }}/{{ClassObj.NewAcYear}}/" method="post" , target="_blank">
		{% csrf_token %}
		
		<select multiple="multiple" id="EPIFPupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='EPIF{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>			
		
		<button type='button' class='close2'>Cancel</button>
		<button type="submit">Generate EPIF</button>
	</form>
</div>
