
<div id="EYFSReportManager" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/EYFSReports/{{ GroupName }}/" method="post", target="_blank">
		{% csrf_token %}
		
		<select multiple="multiple" id="EYFSReportPupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='EYFSReport{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>
    	<h1>Select a Subject</h1>
    	<select name='ReportSubject'>
			<option value='CL_LA'>CL:LA</option>
			<option value='CL_U'>CL:U</option>
			<option value='CL_S'>CL:S</option>
			<option value='UW_PC'>UW:PC</option>
			<option value='UW_TW'>UW:TW</option>
			<option value='UW_Tech'>UW:Tech</option>
			<option value='EAD_BI'>EAD:BI</option>
			<option value='EAD_EUMM'>EAD:EUMM</option>
			<option value='L_Reading'>L:Reading</option>
			<option value='L_Writing'>L:Writing</option>
			<option value='M_SSM'>M:SSM</option>
			<option value='M_Numbers'>M:Numbers</option>
			<option value='PD_HSC'>PD:HSC</option>
			<option value='PD_MH'>PD:MH</option>
			<option value='PSED_MfB'>PSED:MfB</option>
			<option value='PSED_MR'>PSED:MR</option>			
			<option value='PSED_ScSa'>PSED:ScSa</option>			
    	</select>						
		<button type='button' class='close2'>Cancel</button>
		<button type="submit">Generate</button>
	</form>
</div>
