
{% if Favourites.GroupList %}
{% load static from staticfiles %}
<style>
.favouritesButton1 {
	width:80px;
}
.favouritesSpan1 {
	color: darkblue;
	font-weight: bold;
	text-align: center; 
}
</style>
<h1 style='padding-left:7px;'>favourites...</h1>
{% for favgroups in Favourites.GroupList %} 
<div class="favouritesDiv">
	<div class="favouritesSpanDiv">
		<span class="favouritesSpan1">{{ favgroups.Group.Name }}</span>
	</div>
	<div class="favouritesSpanButtonsDiv">
		<button class="favouritesButton1" type="button" onclick="document.location.href='/WillowTree/{{ school }}/{{ AcYear }}/ManageAll/{{ favgroups.Group.Name }}/'">Manage</button>
		<button class="favouritesButton1" type="button" onclick="document.location.href='/WillowTree/{{ school }}/{{ AcYear }}/Grade/{{ favgroups.Group.Name }}/'">Grade</button>
		{% if favgroups.Group.Name in attendanceClass %}
		<button class="favouritesButton1" type='button' onclick="document.location.href='/WillowTree/{{ school }}/{{ AcYear }}/Attendance/{{ favgroups.Group.Name }}/'">Attendance</button>
		{% endif %}
		<button style="float:right;color:red;" type='button' onclick="document.location.href='/WillowTree/{{ school }}/{{ AcYear }}/removeFavourites/{{ favgroups.Group.id }}/{{ staffIdNumber }}/'">X</button>
	</div>
</div>
{% endfor %} 
{% endif %}  









