
<div data-dojo-type="dijit/Dialog"  title='Add Note'  data-dojo-id="FilterNotes">
{% load static from staticfiles %}
{% include "DisplayKeywordsNew.html" %}      
			
	<div data-dojo-type="dijit/form/Form" id="FilterNotesForm" data-dojo-id="filterNoteSForm" encType="multipart/form-data" action="/WillowTree/{{ school }}/{{ AcYear }}/Filter/{{ NoteType}}/Pupil/{{ PupilDetails.Pupil.id }}/" method="post" name="filterNotes"> {% csrf_token %}
		<select multiple="multiple" id="KWSelect" name="KWSelect" style="display:none;">
			{% for words in KWList.All %}
			<option>{{ words.Keyword }}</option>
			{% endfor %}
		</select>   
		<div style="text-align:left;padding:5px;">
		  Start Date<br>
		   <input type='text' name="StartDate" id="StartDate" size="11" dojoType="dijit.form.DateTextBox"/></br>
		  Stop Date<br>
		   <input type='text' name="StopDate" id="StopDate" size="11" dojoType="dijit.form.DateTextBox"/></br>
		</div>
		<div style="padding: 0px 10px 0px 0px;">
			<input type="submit" name="filter" value="Filter">
		</div>		

	</div>
</div>


