
<tr>
{% load static from staticfiles %}
	<td>
		<label for="PupilReligion">Religion</label>
	</td>
	<td>
		<select id='PupilReligion' name='Religion' data-dojo-id='PupilReligion' data-dojo-type="dijit/form/Select" style = 'border: 1px solid; width: 250px; height: 25px;'>
			{% for values in Picklists.Religion %}
				<option value='[{{values.0}},{{values.1}}]'>{{values.0}}{% if values.1 %} : {{values.1}}{%endif%}</option>
			{% endfor %}
		</select>
	</td>
</tr>

<tr>
	<td>
		<label for="PupilNationality">Nationality</label>
	</td>
	<td>
		<select id='PupilNationality' name='Nationality' data-dojo-id='PupilNationality' data-dojo-type="dijit/form/Select" style = 'border: 1px solid; width: 250px; height: 25px;'>
			{% for values in Picklists.Nationality %}
				<option value='[{{values.0}},{{values.1}}]'>{{values.0}}{% if values.1 %} : {{values.1}}{%endif%}</option>
			{% endfor %}
		</select>
	</td>
</tr>

<tr>
	<td>
		<label for="PupilEthnicity">Ethnicity</label>
	</td>
	<td>
		<select id='PupilEthnicity' name='Ethnicity' data-dojo-id='PupilEthnicity' data-dojo-type="dijit/form/Select" style = 'border: 1px solid; width: 250px; height: 25px;'>
			{% for values in Picklists.Ethnicity %}
				<option value='[{{values.0}},{{values.1}}]'>{{values.0}}{% if values.1 %} : {{values.1}}{%endif%}</option>
			{% endfor %}
		</select>
	</td>
</tr>

<tr>
	<td>
		<label for="PupilPrimaryLanguage">Primary Language</label>
	</td>
	<td>
		<select id='PupilPrimaryLanguage' name='PrimaryLanguage' data-dojo-id='PupilPrimaryLanguage' data-dojo-type="dijit/form/Select" style = 'border: 1px solid; width: 250px; height: 25px;'>
			{% for values in Picklists.Ethnicity %}
				<option value='[{{values.0}},{{values.1}}]'>{{values.0}}{% if values.1 %} : {{values.1}}{%endif%}</option>
			{% endfor %}
		</select>
	</td>
</tr>
<tr>
	<td>
		<label for='PupilUPN'>UPN Number:</label>
	</td>
	<td>
		<input type="text" id="PupilUPN" name="UPN" style = 'border: 2px solid; width: 250px; height: 25px;' required="false" data-dojo-type="dijit/form/ValidationTextBox"/>
	</td>
</tr>
