
<script>
{% load static from staticfiles %}
	function hide() {
		document.getElementById('futureSchoolsReport').style.display='none';
		document.getElementById('mask').style.display='none';
	}
</script>
<div id="futureSchoolsReport" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/futureSchoolsReportCSV/"  method="post" target="_blank">		
	
		<div class='bannerDialog'>
			<span>Generate Future Schools CSV?</span>
		</div>
		{% load WillowFilters %}
		{% csrf_token %}		
		<select multiple="multiple" id="futureSchoolsReportPupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
				<option selected='selected' id='futureSchoolsReport{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>
		<div style="text-align:center;">
            <button onclick="hide();" type="submit" name="csv">Generate<br />CSV</button>
            <button  onclick="hide();" type="submit" name="html">Generate<br />HTML</button>
		</div>		
		<div style="margin-top:10px;">
			<button type="button" class='close2'>Cancel</button>
		</div>
	</form>
</div>
