
<div id="GlobalVariablesEdit_popout{{ variable.id }}" class="login-popup">
{% load static from staticfiles %}
	<form name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/EditGlobalVariable/"  method="post">		
		<div class='RecordFormDialog'>
			<div class='bannerDialog'>
				Edit Variable...
			</div>
			{% csrf_token %}
			<div style="margin-bottom:5px;">			
				{{ variable.Variable.Name }}:  <input required onclick="showSubmitButton2('GlobalVariablesEdit_popout{{ variable.id }}S');" type="text" name="Data" id="variable{{ variable.Variable.Name }}" value="{{ variable.Data }}"/>
				<input type="hidden" name="Name" value="{{ variable.Variable.Name }}">
				<input type="hidden" name="AcademicYear" value="{{ variable.AcademicYear }}">
			</div>	
			<div style="text-align:center;">
				<button type="button" class='close2'>Cancel</button>
				<button id="GlobalVariablesEdit_popout{{ variable.id }}S" onclick="hideSubmitButton('GlobalVariablesEdit_popout{{ variable.id }}S');" type="submit" value="Submit">Submit</button>
				<span id="GlobalVariablesEdit_popout{{ variable.id }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
			</div>
		</div>
	</form>
</div>
