
<div>
{% load static from staticfiles %}
	<script>
		
function go_to_pupil()
{
	var go_to_pupil_var = document.getElementById('go_to_pupil');
	var go_to_pupil_value = go_to_pupil_var.options[go_to_pupil_var.selectedIndex].value;	
	var go_to_pupil_div = 'go_to_pupil_'+go_to_pupil_value;
	document.getElementById(go_to_pupil_div).scrollIntoView();
}	
		
	</script>
	<div>
		<div>
			<span style="font-weight:bold;">Go to </span>		
			<select id="go_to_pupil" name="go_to_pupil" onChange='go_to_pupil();' style="max-width:150px;">
			{% for pupil in ClassList %}
				<option value="{{ pupil.Pupil.id }}">{{ pupil.Pupil.Surname }}, {{ pupil.Pupil.Forename }}</option>             
			{% endfor %}
			</select>						
		</div>								
	</div>		
</div>
