
<div data-dojo-type="dijit/Dialog"  title='' data-dojo-id="GradeSubjectChange" style="display:none;">
{% load static from staticfiles %}
	<div class='RecordFormDialog' data-dojo-type="dijit/form/Form" id="GradeSubjectChange1" data-dojo-id="GradeSubjectChange1" encType="multipart/form-data" action="#"  method="post">	
		<script type="dojo/on" data-dojo-event="reset">
			return confirm('Press OK to reset widget values');
		</script>
		<script type="dojo/on" data-dojo-event="submit">
			if(this.validate()){
				return true;
			}else{
				return false;
			}
			return true;
		</script>		
	<div class='bannerDialog'>
		Change Subject... WORK IN PROGRESS!!
	</div>
	{% load WillowFilters %}
		{% csrf_token %}
		<table style="padding-bottom: 20px;">
			<tr>
				<td><label for="Surname">Surname:</label></td></td> 
				<td><input type="text" name="Surname" id="Surname" value="{{ PupilDetails.Pupil.Surname }}" style = 'border: 2px solid; width: 250px; height: 25px;' {% ifnotequal PupilDetails.Pupil.Surname "" %} required="true" {% endifnotequal %} data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="regExp:'[a-zA-Z]+[\\s-a-zA-z][a-zA-Z]+', invalidMessage:'Invalid surname format.'" /></td>
			</tr>

		</table>
		<button data-dojo-type="dijit/form/Button" onclick="GradeSubjectChange.hide()">Cancel</button>
		<button data-dojo-type="dijit/form/Button" type="reset">Reset</button>
		<button data-dojo-type="dijit/form/Button" type="submit">OK</button>
	</div>
</div>
