
<!-- Put the popUp to show the old data here -->
{% load static from staticfiles %}
<div data-dojo-type="dijit/Dialog"  title='Last Terms Record: {{ grades.Pupil.FullName }}' data-dojo-id="LastTermsRecord{{ grades.Pupil.id}}">
	<div class="RecordFormBody">
		<div class="RecordFormCLeft"> 
			<div id="RecordFormTitle">
				<img src="{{ MEDIA_REDIRECT }}{{ pupil.Picture }}" width="125" height="170" alt="{{ grades.Pupil.Firstname }} {{ grades.Pupil.Surname }}" style="padding:12px;"/>
			</div>
		</div>
		<div class="RecordFormCRight">
			<div class="RecordFormCRight1">
				<div class='RecordFormCRight2'>
				</div>
				<div class='RecordFormCRight3'>
					<div class="table-wrapper">
						<div class="table-scroll" style="height:185px;">
							<table>
								<tbody>	
									<tr>
										<td class="Label">Effort tst:</td><td class="DataItem">{{ grades.PreviousRecord.Effort.0 }}</td>
										<td class="Label">Attainment:</td><td class="DataItem">{{ grades.PreviousRecord.Attainment.0 }}</td>
									</tr>
									<tr>
										<td class="Label">Level:</td><td class="DataItem">{{ grades.PreviousRecord.Level.0 }}</td>
										<td class="Label">Teacher Name/Int:</td><td class="DataItem">{{ grades.PreviousRecord.TeacherName.0 }}</td>
									</tr>
									<tr>
										<td class="Label">Comment:</td><td class="DataItem" colspan=3>{{ grades.PreviousRecord.Comment.0|safe }}</td>
									</tr>								
								</tbody>
							</table>
						</div>
					</div>											
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Put the Pop Up to Edit the current Data here -->

<div class="RecordFormBody">
	<div class="RecordFormCLeft"> 
		<div id="RecordFormTitle">
			<img src="{{ MEDIA_REDIRECT }}{{ pupil.Picture }}" width="125" height="170" alt="{{ pupils.Firstname }} {{ pupils.Surname }}" style="padding:12px;"/>
		</div>
	</div>
	<div class="RecordFormCRight">
		<div class="RecordFormCRight1">
			<div class='RecordFormCRight2'>
				<button onclick="LastTermsRecord{{ grades.Pupil.id}}.show()" >Prev Record</button>
				<br>
				<br>
				<button onclick="EditCurrentRecord{{grades.pupil.id}}.show()" >Edit Current</button>
			</div>
			<div class='RecordFormCRight3'>
				<div class="table-wrapper">
					<div class="table-scroll" style="height:185px;">
						<table>
							<tbody>	
								<tr>
									<td class="Label">Effort:</td><td class="DataItem">{{ grades.CurrentRecord.Effort.0 }}</td>
									<td class="Label">Attainment:</td><td class="DataItem">{{ grades.CurrentRecord.Attainment.0 }}</td>
								</tr>
								<tr>
									<td class="Label">Level:</td><td class="DataItem">{{ grades.CurrentRecord.Level.0 }}</td>
									<td class="Label">Teacher Name/Int:</td><td class="DataItem">{{ grades.CurrentRecord.TeacherName.0 }}</td>
								</tr>
								<tr>
									<td class="Label" >Comment:</td><td class="DataItem" colspan=3>{{ grades.CurrentRecord.Comment.0|safe }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>											
			</div>
		</div>
	</div>
</div>	
