
<div id="LabelManager" class="login-popup">
{% load static from staticfiles %}
	{% if PotentialGroup %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/PotentialGroup/GenerateLabels/{{ GroupName}}/" method="post", target="_blank">
	{% else %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/GenerateLabels/" method="post", target="_blank">
	{% endif %}
		{% csrf_token %}
		
		<select multiple="multiple" id="LabelsPupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='Labels{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>
		<div class="table-scroll" style='height:500px; width:900px;'>
		<!-- Address Label Section -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div class="RecordFormTitle">
						Address Labels
					</div>
					<div class="RecordFormCommands">
						<button type='submit' name='LabelType' value='AddressFamily'>Family</button><br>
						<button type='submit' name='LabelType' value='AddressPupil'>Pupil</button>						
					</div>
				</div>
				<div class="RecordFormCRight">
					<div class='RecordFormCRight1'>
						<div class='RecordFormCRight2'>
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style='height:110px;'>
									<table>
										<tbody>
										<tr><td class='Label'>Postal Title</td></tr>
										<tr><td class='Label'>Address Line 1</td></tr>
										<tr><td class='Label'>Address Line 2</td></tr>
										<tr><td class='label'>Address Line3 (if present)</td></tr>
										<tr><td class='label'>Address Line4 (if present)</td></tr>
										<tr><td class='label'>Post Code</td></tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End of Address Label Section -->
		

		<!-- Address Label With Pupil Name  -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div class="RecordFormTitle">
						Address Labels (Pupil Name)
					</div>
					<div class="RecordFormCommands">
						<button type='submit' name='LabelType' value='AddressWithPupilName'>Select</button>						
					</div>
				</div>
				<div class="RecordFormCRight">
					<div class='RecordFormCRight1'>
						<div class='RecordFormCRight2'>
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style='height:110px;'>
									<table>
										<tbody>
										<tr><td class='Label'>Pupil Name</td></tr>
										<tr><td class='Label'>Address Line 1</td></tr>
										<tr><td class='Label'>Address Line 2</td></tr>
										<tr><td class='label'>Address Line3 (if present)</td></tr>
										<tr><td class='label'>Address Line4 (if present)</td></tr>
										<tr><td class='label'>Post Code</td></tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End of Address Label Section -->

		<!-- Child Label Section -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div class="RecordFormTitle">
						Child Name Labels
					</div>
					<div class="RecordFormCommands">
						<select id='ChildLabel1Font' name='ChildLabel1Font'>
							<option value=''>Font</option>
							<option value='Impact,Charcoal,sans-serif'>Impact</option>
							<option value='Tahoma,Geneva,sans-serif'>Tahoma</option>
							<option value='Arial,Helvetica,sans-serif'>Arial</option>
							<option value='"Lucinda Sans Unicode","Lucinda Grande",sans-serif'>Lucinda Sans Unicode</option>
							<option value='"Trebuchet MS",Helevtica,sans-serif'>Trebuchet</option>
							<option value='"Times New Roman",Times,serif'>Times Roman</option>
							<option value='"Montserrat", sans-serif'>Montserrat</option>
							<option value='"Muli", sans-serif'>Muli</option>
							<option value='"Elsie Swash Caps",cursive'>Elsie</option>
							<option value='"Norican",cursive'>Norican</option>								
							<option value='"Rye",cursive'>Rye</option>							
						</select><br>
						<select id='ChildLabel1Colour' name='ChildLabel1Colour'>
							<option value=''>Font colour</option>
							<option value='black'>Black</option>
							<option value='blue'>Blue</option>
							<option value='Green'>Green</option>
							<option value='Maroon'>Maroon</option>
							<option value='Orange'>Orange</option>
							<option value='Purple'>Purple</option>
							<option value='Red'>Red</option>
						</select><br>
						<select id='ChildLabel1Size' name='ChildLabel1Size'>
							<option value=''>Font size</option>
							<option value='15px'>1</option>
							<option value='25px'>2</option>
							<option value='30px'>3</option>
							<option value='35px'>4</option>
							<option value='40px'>5</option>
						</select><br>
						<select id='ChildLabel1Extra' name='ChildLabel1Extra'>
							<option value=''>Extra element</option>
							<option value='Form'>Form</option>
							<option value='House'>House</option>
							<option value='DateOfBirth'>Date of Birth</option>
						</select>
						<label>Adhoc Text</label><br>
						<input type='text' name='ChildLabel1Adhoc'/>
						<button type='submit' name='LabelType' value='ChildLabel1'>Select</button>						
					</div>
				</div>
				<div class="RecordFormCRight">
					<div class='RecordFormCRight1'>
						<div class='RecordFormCRight2'>
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style='height:110px;'>
									<table>
										<tbody>
										<tr><td class='Label'>Name</td></tr>
										<tr><td class='Label'>Extra Element</td></tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End of Child Label Section -->		

		<!-- Child Label With Picture Section -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div class="RecordFormTitle">
						Child Picture Labels
					</div>
					<div class="RecordFormCommands">
						<select id='ChildLabel2Font' name='ChildLabel2Font'>
							<option value=''>Font</option>
							<option value='Impact,Charcoal,sans-serif'>Impact</option>
							<option value='Tahoma,Geneva,sans-serif'>Tahoma</option>
							<option value='Arial,Helvetica,sans-serif'>Arial</option>
							<option value='"Lucinda Sans Unicode","Lucinda Grande",sans-serif'>Lucinda Sans Unicode</option>
							<option value='"Trebuchet MS",Helevtica,sans-serif'>Trebuchet</option>
							<option value='"Times New Roman",Times,serif'>Times Roman</option>
							<option value='"Montserrat", sans-serif'>Montserrat</option>	
							<option value='"Muli", sans-serif'>Muli</option>						
							<option value='"Elsie Swash Caps",cursive'>Elsie</option>
							<option value='"Norican",cursive'>Norican</option>								
							<option value='"Rye",cursive'>Rye</option>	
						</select>
						<select id='ChildLabel2Colour' name='ChildLabel2Colour'>
							<option value=''>Font colour</option>
							<option value='black'>Black</option>
							<option value='blue'>Blue</option>
							<option value='Green'>Green</option>
							<option value='Maroon'>Maroon</option>
							<option value='Orange'>Orange</option>
							<option value='Purple'>Purple</option>
							<option value='Red'>Red</option>
						</select>
						<select id='ChildLabel2Size' name='ChildLabel2Size'>
							<option value=''>Font size</option>
							<option value='15px'>1</option>
							<option value='25px'>2</option>
							<option value='30px'>3</option>
							<option value='35px'>4</option>
						</select>
						<select id='ChildLabel2Extra' name='ChildLabel2Extra'>
							<option value=''>Extra Element</option>
							<option value='Form'>Form</option>
							<option value='House'>House</option>
							<option value='DateOfBirth'>Date of Birth</option>
						</select>
						<select id='ChildLabel2Image' name='ChildLabel2Image'>
							<option value=''>Image</option>
							<option value='Pupil'>Pupil</option>
							<option value='Cake'>Birthday Cake</option>
							<option value='Star'>Star</option>
							<option value='Unicorn'>Unicorn</option>
							<option value='Balloons'>Balloons</option>							
						</select>
						<label>Adhoc Text</label><br>
						<input type='text' name='ChildLabel2Adhoc'/>																										
						<button type='submit' name='LabelType' value='ChildLabel2'>Select</button>						
					</div>
				</div>
				<div class="RecordFormCRight">
					<div class='RecordFormCRight1'>
						<div class='RecordFormCRight2'>
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style='height:110px;'>
									<table>
										<tbody>
										<tr><td class='Label'>Name</td></tr>
										<tr><td class='Label'>Extra Element</td></tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End of Child Label Section -->	
		
		<!-- ParentPupil Label Section -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div class="RecordFormTitle">
						Parent Pupil Labels
					</div>
					<div class="RecordFormCommands">
						<select id='CPLabelType' name='CPLabelType'>
							<option value='IncPupils'>Parents and Pupils</option>
							<option value='ParentOnly'>ParentsOnly</option>						
						</select><br>
						<select id='CPLabelTitle' name='CPLabelTitle'>
							<option value='True'>Use Parent Tiles</option>
							<option value='False'>No Titles</option>						
						</select><br>							
						<select id='CPLabelFont' name='CPLabelFont'>
							<option value=''>Font</option>
							<option value='Impact,Charcoal,sans-serif'>Impact</option>
							<option value='Tahoma,Geneva,sans-serif'>Tahoma</option>
							<option value='Arial,Helvetica,sans-serif'>Arial</option>
							<option value='"Lucinda Sans Unicode","Lucinda Grande",sans-serif'>Lucinda Sans Unicode</option>
							<option value='"Trebuchet MS",Helevtica,sans-serif'>Trebuchet</option>
							<option value='"Times New Roman",Times,serif'>Times Roman</option>
							<option value='"Montserrat", sans-serif'>Montserrat</option>
							<option value='"Muli", sans-serif'>Muli</option>
							<option value='"Elsie Swash Caps",cursive'>Elsie</option>
							<option value='"Norican",cursive'>Norican</option>								
							<option value='"Rye",cursive'>Rye</option>							
						</select><br>
						<select id='CPLabelColour' name='CPLabelColour'>
							<option value=''>Font colour</option>
							<option value='black'>Black</option>
							<option value='blue'>Blue</option>
							<option value='Green'>Green</option>
							<option value='Maroon'>Maroon</option>
							<option value='Orange'>Orange</option>
							<option value='Purple'>Purple</option>
							<option value='Red'>Red</option>
						</select><br>
						<select id='CPLabelSize' name='CPLabelSize'>
							<option value=''>Font size</option>
							<option value='15px'>1</option>
							<option value='25px'>2</option>
							<option value='30px'>3</option>
							<option value='35px'>4</option>
							<option value='40px'>5</option>
						</select><br>
						<button type='submit' name='LabelType' value='ParentPupilNames'>Select</button>						
					</div>
				</div>
				<div class="RecordFormCRight">
					<div class='RecordFormCRight1'>
						<div class='RecordFormCRight2'>
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style='height:110px;'>
									<table>
										<tbody>
										<tr><td class='Label'>Parent/Pupil Name</td></tr>
										<tr><td class='Label'>PupilName/Form</td></tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End of Parent Pupil Names Label Section -->			
		
		</div>
		<button type="button" class='close2'>Cancel</button>	
	</form>
</div>
