
<div id="Manager_AddNoteTextBox_PopOut" class="login-popup2">
{% load static from staticfiles %}
	<div style='border:5px double; padding-bottom:10px; padding-right:3px;'>
		
			<textarea name="NoteTextArea" rows="12" cols="88" style='width:650px;'>                    
			</textarea> 
		  
	</div>
	<div style="text-align:center;">
		<button type="button" class='close3'>Cancel</button>
		<button id="Manager_AddNoteTextBox_PopOutS" onclick="hideSubmitButton('Manager_AddNoteTextBox_PopOutS');" type="submit" value="Submit">Submit</button>
		<span id="Manager_AddNoteTextBox_PopOutPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
	</div>
</div>
