
<div id="Manager_Email_PopOut" class="login-popup2">
{% load static from staticfiles %}
	<div style='border:5px double; padding-bottom:10px; padding-right:3px;'>
		<div style="color:lightgrey;">
			<div style="clear:both;float:left;padding-bottom:10px;">
				<div style="clear:both;float:left;width:75px;"><span>To: </span></div><div style="float:right;"><input type="checkbox" name="emailPupils">     Pupil/s    <input type="checkbox" name="emailContacts" checked>     Family     </div>
			</div>			
			<div style="clear:both;float:left;padding-bottom:10px;">
				<div style="clear:both;float:left;width:75px;"><span>From: </span></div><span>{{ userEmailAddress }}</span><div style="float:right;"><input required style="display:none;" name="emailFrom" value="{{ userEmailAddress }}"></input></div>
			</div>
			<div style="clear:both;float:left;padding-bottom:10px;">
				<div style="clear:both;float:left;width:75px;"><span>Subject: </span></div><div style="float:right;"><input required style="width:570px;" name="emailHeader" value="not given"></input></div>
			</div>
			<div>
				<textarea name="NoteTextArea2" rows="12" cols="88" style='width:650px;'>                    
				</textarea>
			</div>
		</div>
	</div>
	<div style="text-align:center;">
		<button type="button" class='close3'>Cancel</button>
		<button id="Manager_Email_PopOutS" onclick="hideSubmitButton('Manager_Email_PopOutS');" name="email" value="True">Submit</button>
		<span id="Manager_Email_PopOutPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
	</div>
</div>
