
<div data-dojo-type="dijit/Dialog"  title='Move A Pupil' data-dojo-id="RemoveApplicantRecord">
{% load static from staticfiles %}
	<div class='RecordFormDialog' data-dojo-type="dijit/form/Form" id="RemoveApplicantRecordForm" data-dojo-id="MoveAnApplicantForm" encType="multipart/form-data" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/RemoveApplicantRecord/{{ GroupName }}/{{pupil.Pupil.id}}/" method="post">
		{% csrf_token %}
		
				<input type="hidden" name="LetterBody" id="LetterBody" value="">
				<div dojoType="dijit.Editor" id="LetterBodyEditor" onChange="dojo.byId('LetterBody').value = this.getValue();"  extraPlugins="['dijit._editor.plugins.AlwaysShowToolbar']" height='500px'>               
					<p></p>                     
				</div>
				
		<button type='button' onclick='RemoveApplicantRecord.hide()'><b>Cancel</b></button>
		<button type="submit">Remove</button>

	</div>
</div>
