
<div id="ModifyContactAddressOld{{FamilyContact.FamilyRec.Contact.id}}" class="login-popup2">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyContactAddressOld/{{ FamilyDetails.FamilyId.id }}/{{FamilyContact.FamilyRec.Contact.Address.id}}/" method="post">
	{% csrf_token %}
	<table width='500px'>
		<tr>
			<td><label for="HomeSalutation"> Home Salutation: *</label></td></td> 
			<td><input type="text" name="HomeSalutation" id="ModHomeSalutation_{{FamilyContact.FamilyRec.Contact.id}}"  required onclick="showSubmitButton2('ModifyContactAddressOld{{FamilyContact.FamilyRec.Contact.id}}S');"  value='{{FamilyContact.FamilyRec.Contact.Address.HomeSalutation}}'/></td>
		</tr>
		<tr>
			<td><label for="PostalTitle">Postal Title: *</label></td></td> 
			<td><input type="text" name="PostalTitle" id="ModPostalTitle_{{FamilyContact.FamilyRec.Contact.id}}"  required onclick="showSubmitButton2('ModifyContactAddressOld{{FamilyContact.FamilyRec.Contact.id}}S');"  value='{{FamilyContact.FamilyRec.Contact.Address.PostalTitle}}'/></td>
		</tr>
		<tr>
			<td><label for="AddressLine1">Address Line 1: *</label></td> 
			<td><input type="text" name="AddressLine1" id="ModAddressLine1_{{FamilyContact.FamilyRec.Contact.id}}"  required onclick="showSubmitButton2('ModifyContactAddressOld{{FamilyContact.FamilyRec.Contact.id}}S');"  value='{{FamilyContact.FamilyRec.Contact.Address.AddressLine1}}'/></td>
		</tr>
		<tr>
			<td><label for="AddressLine2">Address Line 2: *</label></td> 
			<td><input type="text" name="AddressLine2" id="ModAddressLine2_{{FamilyContact.FamilyRec.Contact.id}}"  required onclick="showSubmitButton2('ModifyContactAddressOld{{FamilyContact.FamilyRec.Contact.id}}S');"  value='{{FamilyContact.FamilyRec.Contact.Address.AddressLine2}}'/></td>
		</tr>
		<tr>
			<td><label for="AddressLine3">Address Line 3:</label></td> 
			<td><input type="text" name="AddressLine3" id="ModAddressLine3_{{FamilyContact.FamilyRec.Contact.id}}"   value='{{FamilyContact.FamilyRec.Contact.Address.AddressLine3}}'/></td>
		</tr>
		<tr>
			<td><label for="AddressLine4">Address Line 4:</label></td> 
			<td><input type="text" name="AddressLine4" id="ModAddressLine4_{{FamilyContact.FamilyRec.Contact.id}}"   value='{{FamilyContact.FamilyRec.Contact.Address.AddressLine4}}'/></td>
		</tr>
		<tr>
			<td><label for="PostCode">Postcode: *</label></td> 
			<td><input type="text" name="PostCode" id="ModPostCode_{{FamilyContact.FamilyRec.Contact.id}}"  required onclick="showSubmitButton2('ModifyContactAddressOld{{FamilyContact.FamilyRec.Contact.id}}S');"  value='{{FamilyContact.FamilyRec.Contact.Address.PostCode}}'/></td>
		</tr>
		<tr>
			<td><label for="Country">Country:</label></td> 
			<td><input type="text" name="Country" id="ModCountry_{{FamilyContact.FamilyRec.Contact.id}}"    value='{{FamilyContact.FamilyRec.Contact.Address.Country}}'/></td>
		</tr>										
		<tr>
			<td><label for="Phone1">Phone 1: *</label></td> 
			<td><input type="text" name="Phone1" id="ModPhone1_{{FamilyContact.FamilyRec.Contact.id}}"  required onclick="showSubmitButton2('ModifyContactAddressOld{{FamilyContact.FamilyRec.Contact.id}}S');"  value='{{FamilyContact.FamilyRec.Contact.Address.Phone1}}'/></td>
		</tr>
		<tr>
			<td><label for="Phone2">Phone 2:</label></td> 
			<td><input type="text" name="Phone2" id="ModPhone2_{{FamilyContact.FamilyRec.Contact.id}}"   value='{{FamilyContact.FamilyRec.Contact.Address.Phone2}}'/></td>
		</tr>
		<tr>
			<td><label for="Phone3">Phone 3:</label></td> 
			<td><input type="text" name="Phone3" id="ModPhone3_{{FamilyContact.FamilyRec.Contact.id}}"   value='{{FamilyContact.FamilyRec.Contact.Address.Phone3}}'/></td>
		</tr>
		<tr>
			<td><label for="EmailAddress">Email Address:</label></td> 
			<td><input type="text" name="EmailAddress" id="ModEmailAddress_{{FamilyContact.FamilyRec.Contact.id}}"   value='{{FamilyContact.FamilyRec.Contact.Address.EmailAddress}}'/></td>
		</tr>
		<tr>
			<td><label for="Note">Note:</label></td> 
			<td><textarea id="ModNote_{{FamilyContact.FamilyRec.Contact.id}}" rows="10" cols="40" name="Note">{{FamilyContact.FamilyRec.Contact.Address.Note}}</textarea></td>
		</tr>
		</table>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="ModifyContactAddressOld{{FamilyContact.FamilyRec.Contact.id}}S" onclick="hideSubmitButton('ModifyContactAddressOld{{FamilyContact.FamilyRec.Contact.id}}S');" type="submit" value="Submit">Submit</button>
            <span id="ModifyContactAddressOld{{FamilyContact.FamilyRec.Contact.id}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
		<div style="text-align:center;margin-top:10px;border:1px solid;">
			<span>fields marked with an asterisk (*) are required</span>
		</div>		
	</form>
</div>
