
<div id="modifyStaffCpd{{ i.id }}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/modifyStaffCpd/{{ Staff.id }}/" method="post" >	
		{% csrf_token %}		
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Modify Career Path Development Data...</span>   
		</div>
		<div>
			<input style='display:none;' name='cpdID' value='{{ i.id }}'/>
			<table style="padding-bottom:15px;">
				<tr>
					<td>Course Title: *</td>
					<td><input style='width:100%;' type='text' name='cpdName' value='{{ i.Name }}' required onclick="showSubmitButton2('modifyStaffCpd{{ i.id }}S');"/></td>
				</tr>
				<tr>
					<td>Name of Provider: *</td>
					<td><input style='width:100%;' type='text' name='cpdProvider' value='{{ i.Provider }}' required onclick="showSubmitButton2('modifyStaffCpd{{ i.id }}S');"/></td>
				</tr>
				<tr>
					<td>Time Taken:</td>
					<td><input style='width:100%;' type='text' name='cpdTimeTaken' value='{{ i.TimeTaken }}' /></td>
				</tr>				
				<tr>
					<td>Date Taken:</td>
					<td><input style='width:100%;' type='text' name='cpdDateTaken' value='{{ i.DateTaken|date:"Y-m-d" }}' class='datepicker' readonly='true'/></td>
				</tr>
				<tr>
					<td>Duration:</td>
					<td><input style='width:100%;' type='text' name='cpdDuration' value='{{ i.Duration }}'/></td>
				</tr>				
				<tr>
					<td>Expiry Date:</td>
					<td><input style='width:100%;' type='text' name='cpdExpiryDate' value='{{ i.DateExpires|date:"Y-m-d" }}' class='datepicker' readonly='true'/></td>
				</tr>
				<tr>
					<td>Certificate Issued:</td>
					<td>
						<input type="radio" name="cpdCertificateIssued" value="yes" {% if i.CertIssued %}checked{% endif %}><span style='padding-right:10px;'>Yes</span>
						<input type="radio" name="cpdCertificateIssued" value="no" {% if not i.CertIssued %}checked{% endif %}><span>No</span>			
					<td>					
				</tr>											
				<tr>
					<td>Internal/External:</td>
					<td>
						<input type="radio" name="cpdIntExt" value="Internal" {% ifequal i.InternalExternal "Internal" %}checked{% endifequal %}><span style='padding-right:17px;'>Int</span>
						<input type="radio" name="cpdIntExt" value="External" {% ifequal i.InternalExternal "External" %}checked{% endifequal %}><span>Ext</span>			
					<td>
					<td></td>
				</tr>
				<tr>
					<td style='padding-top:10px;'>Details/Notes:</td><td></td>
				</tr>
				<tr>
					<td colspan='2'><textarea name='cpdDetailsNotes'>{{ i.Details|safe }}</textarea></td>
				</tr>																								
			</table>
		</div>	
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="modifyStaffCpd{{ i.id }}S" onclick="hideSubmitButton('modifyStaffCpd{{ i.id }}S');" type="submit" value="Submit">Submit</button>
            <span id="modifyStaffCpd{{ i.id }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
