
<div id="ModifyContactAddressAddNew{{FamilyContact.FamilyRec.Contact.id}}" class="login-popup2">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyContactAddressNew/{{ FamilyDetails.FamilyId.id }}/{{FamilyContact.FamilyRec.Contact.id}}/" method="post">
		<h1> Use this to create a new Address in the system.</h1>
		{% csrf_token %}
		<table width='500px'>
			<tr>
				<td><label for="HomeSalutation"> Home Salutation: *</label></td></td> 
				<td><input type="text" name="HomeSalutation" id="NewHomeSalutation_{{FamilyContact.FamilyRec.Contact.id}}"  required onclick="showSubmitButton2('ModifyContactAddressAddNew{{FamilyContact.FamilyRec.Contact.id}}S');" /></td>
			</tr>
			<tr>
				<td><label for="PostalTitle">Postal Title: *</label></td></td> 
				<td><input type="text" name="PostalTitle" id="NewPostalTitle_{{FamilyContact.FamilyRec.Contact.id}}"  required onclick="showSubmitButton2('ModifyContactAddressAddNew{{FamilyContact.FamilyRec.Contact.id}}S');" /></td>
			</tr>
			<tr>
				<td><label for="AddressLine1">Address Line 1: *</label></td> 
				<td><input type="text" name="AddressLine1" id="NewAddressLine1_{{FamilyContact.FamilyRec.Contact.id}}"  required onclick="showSubmitButton2('ModifyContactAddressAddNew{{FamilyContact.FamilyRec.Contact.id}}S');" /></td>
			</tr>
			<tr>
				<td><label for="AddressLine2">Address Line 2: *</label></td> 
				<td><input type="text" name="AddressLine2" id="NewAddressLine2_{{FamilyContact.FamilyRec.Contact.id}}"  required onclick="showSubmitButton2('ModifyContactAddressAddNew{{FamilyContact.FamilyRec.Contact.id}}S');" /></td>
			</tr>
			<tr>
				<td><label for="AddressLine3">Address Line 3:</label></td> 
				<td><input type="text" name="AddressLine3" id="NewAddressLine3_{{FamilyContact.FamilyRec.Contact.id}}"  /></td>
			</tr>
			<tr>
				<td><label for="AddressLine4">Address Line 4:</label></td> 
				<td><input type="text" name="AddressLine4" id="NewAddressLine4_{{FamilyContact.FamilyRec.Contact.id}}"  /></td>
			</tr>
			<tr>
				<td><label for="PostCode">Postcode: *</label></td> 
				<td><input type="text" name="PostCode" id="NewPostCode_{{FamilyContact.FamilyRec.Contact.id}}"  required onclick="showSubmitButton2('ModifyContactAddressAddNew{{FamilyContact.FamilyRec.Contact.id}}S');" /></td>
			</tr>
			<tr>
				<td><label for="Country">Country:</label></td> 
				<td><input type="text" name="Country" id="NewCountry_{{FamilyContact.FamilyRec.Contact.id}}"   /></td>
			</tr>										
			<tr>
				<td><label for="Phone1">Phone 1: *</label></td> 
				<td><input type="text" name="Phone1" id="NewPhone1_{{FamilyContact.FamilyRec.Contact.id}}"  required onclick="showSubmitButton2('ModifyContactAddressAddNew{{FamilyContact.FamilyRec.Contact.id}}S');" /></td>
			</tr>
			<tr>
				<td><label for="Phone2">Phone 2:</label></td> 
				<td><input type="text" name="Phone2" id="NewPhone2_{{FamilyContact.FamilyRec.Contact.id}}"  /></td>
			</tr>
			<tr>
				<td><label for="Phone3">Phone 3:</label></td> 
				<td><input type="text" name="Phone3" id="NewPhone3_{{FamilyContact.FamilyRec.Contact.id}}"  /></td>
			</tr>
			<tr>
				<td><label for="EmailAddress">Email Address:</label></td> 
				<td><input type="text" name="EmailAddress" id="NewEmailAddress_{{FamilyContact.FamilyRec.Contact.id}}"  /></td>
			</tr>
			<tr>
				<td><label for="Note">Note:</label></td> 
				<td><textarea id="NewNote_{{FamilyContact.FamilyRec.Contact.id}}" rows="10" cols="40" name="Note"></textarea></td>
			</tr>
			</table>
		<div style="text-align:center;">
            <button type="button" class='close3'>Cancel</button>
            <button id="ModifyContactAddressAddNew{{FamilyContact.FamilyRec.Contact.id}}S" onclick="hideSubmitButton('ModifyContactAddressAddNew{{FamilyContact.FamilyRec.Contact.id}}S');" type="submit" value="Submit">Submit</button>
            <span id="ModifyContactAddressAddNew{{FamilyContact.FamilyRec.Contact.id}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
		<div style="text-align:center;margin-top:10px;border:1px solid;">
			<span>fields marked with an asterisk (*) are required</span>
		</div>			
	</form>
</div>
				
