
<div id="ModifyApplicantExtrafields" class="login-popup">
{% load static from staticfiles %}
	<script>
		function getType(value){ 
		  if(value.match(/^[-+]?([0-9]*\.[0-9]+|[0-9]+)$/)){
			  return true;
		  }
		  else {
			alert("error: This value must be a number");
			}
		}
		function regTest(value){ 
		  if(value.match(/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/)){
			  return true;
		  }
		  else {
			alert("error: Date values have to be in YYYY-MM-DD format");
			return false;
			}
		}
		function testDatepicker() {
			var elements = document.getElementsByClassName('datepicker');
			for (var i = 0, length = elements.length; i < length; i++) {
				if (regTest(elements[i].value) == true) {
					return true;
				}
				else {
					return false;
				}
			}
		}		
	</script>
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Applicant/UpdateExtraFields/{{PupilDetails.Pupil.id}}/"  method="post" onsubmit="testDatepicker();">		
				{% csrf_token %}
		<table>		
			<tr>
				<td>
					<label for="ApplicantSource">Source:</label>
				</td> 
				<td>
					<select id="ApplicantSource" name="ApplicantSource" style='width:500px;' maxHeight='150'>
						{% for Source in PupilExtended.ApplicantSource.2 %}
						<option value="{{Source.0}}" {% ifequal Source.0 PupilExtended.ApplicantSource.0 %} Selected='Selected' {% endifequal %}>{{ Source.0 }}</option>
						{% endfor %}

					</select>
				</td>
			</tr>
			<tr>
				<td>
					<label for="ApplicantInterviewTime">Interview Time:</label>
				</td> 
				<td>
					<input type="time" name="ApplicantInterviewTime" value='{{ PupilExtended.ApplicantInterviewTime.0}}' />
				</td>
			</tr>
			<tr>
				<td>
					<label for="ApplicantInterviewDate">Interview Date:</label>
				</td>
				<td>
					<input class='datepicker' readonly='true' name="ApplicantInterviewDate" size="11" value="{{ PupilExtended.ApplicantInterviewDate.0 }}"/>
				</td>
			</tr>			
<!-- new -->			
			<tr>
				<td>
					<label for="applicantAcceptanceDeadline">Acceptance Deadline:</label>
				</td>
				<td>
					<input class='datepicker' readonly='true' name="applicantAcceptanceDeadline" size="11" value="{{ PupilExtended.applicantAcceptanceDeadline.0 }}"/>
				</td>
			</tr>
			<tr>
				<td>
					<label for="ApplicantStandardisedScore">Standardised Score:</label>
				</td> 
				<td>
					<input type="text" name="ApplicantStandardisedScore" value="{{ PupilExtended.ApplicantStandardisedScore.0 }}" onchange="getType(this.value);"/>
				</td>
			</tr>
			<tr>
				<td>
					<label for="applicantPercentageScore">Percentage Score:</label>
				</td> 
				<td>
					<input type="text" name="applicantPercentageScore" value="{{ PupilExtended.applicantPercentageScore.0 }}" onchange="getType(this.value);"/>
				</td>
			</tr>														
<!-- end -->		
		</table>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="ModifyApplicantExtrafieldsS" onclick="hideSubmitButton('ModifyApplicantExtrafieldsS');" type="submit" value="Submit">Submit</button>
            <span id="ModifyApplicantExtrafieldsPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
