
<div id="ModifyAssessmentHistory" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyAssessmentHistory/{{ PupilDetails.Pupil.id }}/" method="post" >
		{% csrf_token %}		
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Modify Assessment History...</span>   
		</div>
		<div>
			<table style="padding-bottom:15px;">
				<tr>
					<td>
						<textarea name="assessmentText">{{ PupilDetails.returnSenAssessmentHistory|safe }}</textarea>
					</td>
				</tr>								
			</table>
		</div>	
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="ModifyAssessmentHistoryS" onclick="hideSubmitButton('ModifyAssessmentHistoryS');" type="submit" value="Submit">Submit</button>
            <span id="ModifyAssessmentHistoryPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
