
<div id="ModifyProvision{{ Provision.id }}" class="login-popup">
{% load static from staticfiles %}
{% if fromEalPage %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyEalProvision/{{ PupilDetails.Pupil.id }}/{{ Provision.id }}/" method="post" >
{% else %}	
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyProvision/{{ PupilDetails.Pupil.id }}/{{ Provision.id }}/" method="post" >
{% endif %}		
		{% csrf_token %}		
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Modify Provision...</span>   
		</div>
		<div style="display:none;">
			<input name="provisiontype" value="SEN" />provisiontype
		</div>
		<div>
			<table style="padding-bottom:15px;">
				<tr>
					<td>
						<span>Target:</span>
					</td>
					<td>
						<textarea name="provisionText">{{ Provision.Details|safe }}</textarea>
					</td>
				</tr>				
				<tr>
					<td style="padding-top:10px;">
						<label>SEN Type: *</label>
					</td>
					<td>
						<select name="senType">
							<option {% ifequal 'Class' Provision.SENType %} selected {% endifequal %}>Class</option>
							<option {% ifequal 'Tuition' Provision.SENType %} selected {% endifequal %}>Tuition</option>
						</select>
					</td>
				</tr>				
				<tr>
					<td style="padding-top:10px;"><label>Start Date: *</label></td>
					<td style="padding-top:10px;"><input required onclick="showSubmitButton2('ModifyProvision{{ Provision.id }}S');" class='datepicker' readonly='true' type='text' name="startDate" value='{{ Provision.StartDate|date:"Y-m-d" }}' /></td>
				</tr>
				<tr>	
					<td style="padding-top:10px;"><label>Stop Date: *</label></td>
					<td style="padding-top:10px;"><input required onclick="showSubmitButton2('ModifyProvision{{ Provision.id }}S');" class='datepicker' readonly='true' type='text' name="stopDate" value='{{ Provision.StopDate|date:"Y-m-d" }}' /></td>				
				</tr>								
			</table>
		</div>	
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="ModifyProvision{{ Provision.id }}S" onclick="hideSubmitButton('ModifyProvision{{ Provision.id }}S');" type="submit" value="Submit">Submit</button>
            <span id="ModifyProvision{{ Provision.id }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
