
<div id="ModifyTarget{{ Target.id }}" class="login-popup">
{% load static from staticfiles %}
{% if fromEalPage %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyEalTarget/{{ PupilDetails.Pupil.id }}/{{ Target.id }}/" method="post" >
{% else %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ModifyTarget/{{ PupilDetails.Pupil.id }}/{{ Target.id }}/" method="post" >
{% endif %}		
		{% csrf_token %}		
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Modify Target...</span>   
		</div>
		<div style="display:none;">
			<input name="targetType" value="SEN" />
		</div>
		<div>
			<table style="padding-bottom:15px;">
				<tr>
					<td>
						<span>Target:</span>
					</td>
					<td colspan="3">
						<textarea name="targetText">{{ Target.Target|safe }}</textarea>
					</td>
				</tr>
				<tr>
					<td>
						<span>Review:</span>
					</td>
					<td colspan="3">
						<textarea name="reviewText">{{ Target.Review|safe }}</textarea>
					</td>
				</tr>												
				<tr>
					<td style="padding-top:10px;"><label>Review Date: *</label></td>
					<td style="padding-top:10px;"><input required onclick="showSubmitButton2('AddTargetS');" class='datepicker' readonly='true' type='text' name="reviewDate" value='{{ Target.ReviewDate|date:"Y-m-d" }}' /></td>
					{% if fromEalPage %}
					<td></td><td></td>
					{% else %}
					<td style="padding-top:10px;"><label style="float:right;">Progress:</label></td>
					<td style="padding-top:10px;"> 
						<select name="Progress">
							<option {% if Target.Progress == "Not_Set" %} selected="selected" {% endif %} value="Not_Set">Not Set</option>
							<option {% if Target.Progress == "Met" %} selected="selected" {% endif %} value="Met">Met</option>
							<option {% if Target.Progress == "Partial_Met" %} selected="selected" {% endif %} value="Partial_Met">Partial Met</option>
							<option {% if Target.Progress == "Not_Met" %} selected="selected" {% endif %} value="Not_Met">Not Met</option>
						</select>
					</td>
					{% endif %}	
				</tr>								
			</table>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="ModifyTarget{{ Target.id }}S" onclick="hideSubmitButton('ModifyTarget{{ Target.id }}S');" type="submit" value="Submit">Submit</button>
            <span id="ModifyTarget{{ Target.id }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>	
	</form>
</div>
