
<div id="ModifyTeacherVarsManager" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/PotentialGroup/ModifyTeacherVars/{{ GroupName }}/{{ClassObj.NewAcYear}}/" method="post">
		{% csrf_token %}

		<label>Form Teacher</label><input type='text' name='FormTeacher' style='width:300px;' value='{{ClassObj.FormTeacher}}'/><br>
		<label>All Teachers</label><input type='text' name='FormTeachersAll' style='width:300px;' value='{{ClassObj.FormTeachersAll}}'/><br>
		<label>Tutor/s</label><input type='text' name='Tutors' style='width:300px;' value='{{ClassObj.Tutors}}'/><br>
		
		<button type='button' class='close2'>Cancel</button>
		<button type="submit">Action Move</button>
	</form>
</div>
