
<div id="ModifyContactAddressAdvice" class="login-popup2">
{% load static from staticfiles %}
	<div style="color:grey;font-size:0.8em;width:600px;">
		<h2>Editing Contact Addess's</h2>
		<p>In WillowTree, Addresses are stored in their own table. Families and contacts are then connected to these records. As such
		if a contact has the same address as the family postal address (as is common), this is actually a single record. As such, if you change
		the address for the contact, you change the postal address as well. However a contact can be attached to a different address from the
		Family postal address. Thus this form gives multiple options for attaching addresses to a contact.
		<ol>
			<li>Modify the Current Address.
				<ul>
					<li>
					This will allow you to modify the currently attached address. If this address is also
					a postal address, you WILL modify that address as well. It is recomended in this case that you 
					modify the family postal addresses instead</li>
				</ul>
			</li>
			<li>Select a current Postal address.
				<ul>
					<li>Here You can select from the postal addresses attached to the family and attach them to the contact as well</li>
				</ul>
			</li>
			<li>Add a new address
				<ul>
					<li>This will create a brand new address record and attach the contact to that address. It will have no connection to 
				the family postal addresses. In the curcumstance of parents separating, you may wish to add the new second address to the 
				family postal addresses and then attach the contact to that address after.</li>
				</ul>
			</li>
		</ol>
	</div>
	<button type="button" class='close3'>Cancel</button>
</div>
