
<div data-dojo-type="dijit/Dialog"  title='Move A Pupil' data-dojo-id="MoveAStaffMemeber" style="display:none;">
{% load static from staticfiles %}
	<div class='RecordFormDialog' data-dojo-type="dijit/form/Form" id="MoveAStaffMemeberForm" data-dojo-id="MoveAStaffMemeberForm" encType="multipart/form-data" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveAStaffMember/{{ GroupName }}/" method="post">
		{% csrf_token %}
		
		<select multiple="multiple" id="MovePupilSelect" name="PupilSelect"  style="display:none;">
			{% for staff in staffRecs %}
			<option selected='selected' id='Move{{ staff.StaffId }}'>{{ staff.StaffId }}</option>
			{% endfor %}
		</select>			
		
		<select id="NewMoveGroupSelect" name="NewGroup" data-dojo-is='MoveGroupSelect' style='width:500px;' data-dojo-type="dijit/form/Select",required=true>
			{% for Groups in staffGroups %}
				<option value="{{Groups.Name}}">{{ Groups.Name }}</option>
			{% endfor %}
		</select>		<br>
		
		<button type='button' onclick='MoveAStaffMemeber.hide()'>Cancel</button>
		<button type="submit">Action Move</button>

	</div>
</div>
