
{% load WillowFilters %}
{% load static from staticfiles %}
<div id="MoveToMain{{pupil.Pupil.id}}" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveToMain/{{pupil.Pupil.id}}/" method="post">
		{% csrf_token %}
		{% if transfer %}
			<input type='text' style="display:none;" name="transfer" value="true" />
		{% endif %}
		<div style="text-align:center;">
			<div class='bannerDialog'>
			{% if not transfer %}
				<span style="font-weight:bold;">Move {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }} to Main?</span>
			{% else %}
				<span style="font-weight:bold;">Copy Pupil to the Main Applicant List for this School?</span>
			{% endif %}
			</div>
		</div> 		
		<input type='text' Name='GroupType' value='Main' style='display:none;'/>
		<select id="NewMoveGroupSelect" name="AppAcYear" style='width:500px;' >
			<option value="{{CurrentYear}}">{{ CurrentYear }}</option>
			<option value="{{CurrentYear|AcYearPlus:1}}">{{ CurrentYear|AcYearPlus:1 }}</option>
			<option value="{{CurrentYear|AcYearPlus:2}}">{{ CurrentYear|AcYearPlus:2 }}</option>
			<option value="{{CurrentYear|AcYearPlus:3}}">{{ CurrentYear|AcYearPlus:3 }}</option>
			<option value="{{CurrentYear|AcYearPlus:4}}">{{ CurrentYear|AcYearPlus:4 }}</option>
			<option value="{{CurrentYear|AcYearPlus:5}}">{{ CurrentYear|AcYearPlus:5 }}</option>
			<option value="{{CurrentYear|AcYearPlus:6}}">{{ CurrentYear|AcYearPlus:6 }}</option>														
			<option value="{{CurrentYear|AcYearPlus:7}}">{{ CurrentYear|AcYearPlus:7 }}</option>
			<option value="{{CurrentYear|AcYearPlus:8}}">{{ CurrentYear|AcYearPlus:8 }}</option>														
			<option value="{{CurrentYear|AcYearPlus:9}}">{{ CurrentYear|AcYearPlus:9 }}</option>
		</select>		<br>
		<select id="NewMoveGroupYearSelect" name="AppApplyForYear" style='width:500px;'> 
			<option value="Reception">Reception</option>
			<option value="Year1">Year1</option>
			<option value="Year2">Year2</option>
			<option value="Year3">Year3</option>
			<option value="Year4">Year4</option>
			<option value="Year5">Year5</option>
			<option value="Year6">Year6</option>
			<option value="Year7">Year7</option>
		</select>		<br>		
		<div style="text-align:center;">
			<div id="MoveToMain{{pupil.Pupil.id}}S">
				<button type="button" class='close2'>Cancel</button>
			{% if not transfer %}
				<button onclick="hideSubmitButton('MoveToMain{{pupil.Pupil.id}}S');" type="submit" value='Move' Name='MoveType'>Move</button>
			{% endif %}
				<button onclick="hideSubmitButton('MoveToMain{{pupil.Pupil.id}}S');" type="submit" value='Copy' Name='MoveType'>Copy</button>
            </div>
            <span id="MoveToMain{{pupil.Pupil.id}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>		
	</form>
</div>
