
<div id="MoveSinglePupilToReserve" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveAPupil/{{ GroupName }}/" method="post">
		{% csrf_token %}
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<p style="font-weight:bold;">Move {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }} to Reserve?</p>   
			</div>
		</div> 
		<div style="display:none;">
			<select multiple="multiple" id="MoveToReservePupilSelect" name="PupilSelect">
				{% for pupil in ClassList %}
				<option selected='selected' id='MoveToReserve{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
				{% endfor %}
			</select>		
			<input type="hidden" id="MoveSinglePupilToReserveNewGroup" name="NewGroup" value="Applicants.{{schoolName}}.Reserve">  
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="MoveSinglePupilToReserveS" onclick="hideSubmitButton('MoveSinglePupilToReserveS');" type="submit" value="Submit">Submit</button>
            <span id="MoveSinglePupilToReservePD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
