
<div id="MoveSinglePupilToNoShow" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveAPupil/{{ GroupName }}/" method="post">
		{% csrf_token %}	
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<p style="font-weight:bold;">Move {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }} to "didn't show up to Inteview?"</p>   
			</div>
		</div> 
		<div style="display:none;">
			<select multiple="multiple" id="MoveToNoShowPupilSelect" name="PupilSelect">
				{% for pupil in ClassList %}
				<option selected='selected' id='MoveToNoShow{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
				{% endfor %}
			</select>		
			<input type="text" id="MoveSinglePupilToNoShowNewGroup" name="NewGroup" value="{{MainGroups.DeclinedNoShow}}">  
		</div>	
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="MoveSinglePupilToNoShowS" onclick="hideSubmitButton('MoveSinglePupilToNoShowS');" type="submit" value="Submit">Submit</button>
            <span id="MoveSinglePupilToNoShowPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
