
<div id="MoveSinglePupilToDeclinedAfterDepositPaid_PopUp" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveAPupil/{{ GroupName }}/" method="post">
		{% csrf_token %}		
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<p style="font-weight:bold;">Move {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }} to Declined After Deposit Paid?</p>   
			</div>
			<p style="font-weight:bold;color:darkred;font-weight:0.75em;margin-bottom:0;padding-bottom:0;">Why has Applicant declined after paid deposit...</p>
		</div> 
		<div style="display:none;">
			<select multiple="multiple" id="MoveToDeclinedAfterDepositPaidPupilSelect" name="PupilSelect">
				{% for pupil in ClassList %}
				<option selected='selected' id='MoveToDeclinedAfterDepositPaid{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
				{% endfor %}
			</select>		
			<input type="text" id="MoveSinglePupilToDeclinedAfterDepositPaidNewGroup" name="NewGroup" value="{{MainGroups.DeclinedAfterDeposit}}">  
		</div>
		<div>
			<input required onclick="showSubmitButton2('MoveSinglePupilToWithdrawnS');" type="text" name="declinedAfterDepositReason" style="width:100%;">
		</div>		
		<div style="text-align:center;">
			<button type="button" class='close2'>Cancel</button>
			<button id="MoveSinglePupilToWithdrawnS" onclick="hideSubmitButton('MoveSinglePupilToWithdrawnS');" type="submit" value="Submit">Submit</button>
			<span id="MoveSinglePupilToWithdrawnPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
