
<div id="MoveSinglePupilToClass_PopUp" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveAPupil/{{ GroupName }}/" method="post">
		{% csrf_token %}
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<p style="font-weight:bold;">Move {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }} to a Class?</p>   
			</div>
		</div> 
		<div style="display:none;">
			<select multiple="multiple" id="MoveToClassPupilSelect" name="PupilSelect">
				{% for pupil in ClassList %}
				<option selected='selected' id='MoveToClass{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option> 
				{% endfor %}
			</select>		  
		</div>
		<div>
			<select style="width:375px;" id="ListOfClasses" name="NewGroup">
				{% for class in ListOfClasses %}
				<option value="{{class}}">{{ class }}</option>
				{% endfor %}
			</select>			
		</div>
		<div style="text-align:center;">
			<button type="button" class='close2'>Cancel</button>
			<button id="MoveSinglePupilToClass_PopUpS" onclick="hideSubmitButton('MoveSinglePupilToClass_PopUpS');" type="submit" value="Submit">Submit</button>
			<span id="MoveSinglePupilToClass_PopUpPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
