
<div id="MoveSinglePupilToWithdrawn" class="login-popup"> 
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveAPupil/{{ GroupName }}/" method="post">
		{% csrf_token %}
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<p style="font-weight:bold;">Move {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }} to Withdrawn?</p>   
			</div>
			<p style="font-weight:bold;color:darkred;font-weight:0.75em;margin-bottom:0;padding-bottom:0;">Why has Applicant has Withdrawn...</p>
		</div> 
		<div style="display:none;">
			<select multiple="multiple" id="MoveToWithdrawnPupilSelect" name="PupilSelect">
				{% for pupil in ClassList %}
				<option selected='selected' id='MoveToWithdrawn{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
				{% endfor %}
			</select>		
			<input type="text" id="MoveSinglePupilToWithdrawnNewGroup" name="NewGroup" value="{{MainGroups.Declined}}">  
		</div>
		<div>
			<input required onclick="showSubmitButton2('MoveSinglePupilToWithdrawnS');" type="text" name="withdrawnReason" style="width:100%;">
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="MoveSinglePupilToWithdrawnS" onclick="hideSubmitButton('MoveSinglePupilToWithdrawnS');" type="submit" value="Submit">Submit</button>
            <span id="MoveSinglePupilToWithdrawnPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
