
<div id="MoveSinglePupilToClassYear" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveAPupil/{{ GroupName }}/" method="post">
		{% csrf_token %}
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<p style="font-weight:bold;">Move {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }} to a Class Year?</p>   
			</div>
		</div> 
		<div style="display:none;">
			<select multiple="multiple" id="MoveToClassYearPupilSelect" name="PupilSelect">
				{% for pupil in ClassList %}
				<option selected='selected' id='MoveToClassYear{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option> 
				{% endfor %}
			</select>		  
		</div>
		<div>
			<select id="ListOfYearClasses" name="NewGroup">
				{% for class in ListOfYearClasses %}
				<option value="{{class}}">{{ class }}</option>
				{% endfor %}
			</select>			
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="MoveSinglePupilToClassYearS" onclick="hideSubmitButton('MoveSinglePupilToClassYearS');" type="submit" value="Submit">Submit</button>
            <span id="MoveSinglePupilToClassYearPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
