
<div data-dojo-type="dijit/Dialog"  title='Move A Pupil' data-dojo-id="MoveAPupil">
{% load static from staticfiles %}
	<div class='RecordFormDialog' data-dojo-type="dijit/form/Form" id="MoveAPupilForm" data-dojo-id="MoveAPupilForm" encType="multipart/form-data" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveAPupil/{{ GroupName }}/" method="post">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Move {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }} to Current?</span>   
		</div>		
		<select multiple="multiple" id="MovePupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='Move{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>			
		
		<select id="NewMoveGroupSelect" name="NewGroup" data-dojo-is='MoveGroupSelect' style='width:500px;' data-dojo-props='maxHeight:30px' data-dojo-type="dijit/form/Select",required=true>
			{% if 'Applicants' in GroupName %}
				{% for Groups in GroupList.Applicants %}
					<option value="{{Groups.Name}}">{{ Groups.Name }}</option>
				{% endfor %}
			{% else %}
				{% for Groups in GroupList.Current %}
					<option value="{{Groups.Name}}">{{ Groups.Name }}</option>
				{% endfor %}
			{% endif %}	
		</select>		<br>
		
		<button type='button' onclick='MoveAPupil.hide()'>Cancel</button>
		<button type="submit">Action Move</button>

	</div>
</div>
