
{% load WillowFilters %}
{% load static from staticfiles %}
<div id="MoveToReserve{{pupil.Pupil.id}}" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveToReserve/{{pupil.Pupil.id}}/" method="post">
		{% csrf_token %}
		<input type='text' Name='GroupType' value='Reserve' style='display:none;'/>
		<select id="NewMoveGroupSelect" name="AppAcYear" style='width:500px;'>
			<option value="{{CurrentYear|AcYearPlus:1}}">{{ CurrentYear|AcYearPlus:1 }}</option>
			<option value="{{CurrentYear|AcYearPlus:2}}">{{ CurrentYear|AcYearPlus:2 }}</option>
			<option value="{{CurrentYear|AcYearPlus:3}}">{{ CurrentYear|AcYearPlus:3 }}</option>
			<option value="{{CurrentYear|AcYearPlus:4}}">{{ CurrentYear|AcYearPlus:4 }}</option>
			<option value="{{CurrentYear|AcYearPlus:5}}">{{ CurrentYear|AcYearPlus:5 }}</option> 												
		</select>		<br>
		<div style="text-align:center;">
			<div id="MoveToReserve{{pupil.Pupil.id}}S">
				<button type="button" class='close2'>Cancel</button>
				<button onclick="hideSubmitButton('MoveToReserve{{pupil.Pupil.id}}S');" type="submit" value='Move' Name='MoveType'>Move</button>
				<button onclick="hideSubmitButton('MoveToReserve{{pupil.Pupil.id}}S');" type="submit" value='Copy' Name='MoveType'>Copy</button>
            </div>
            <span id="MoveToReserve{{pupil.Pupil.id}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>		
	</form>
</div>
