
<div id="MoveAPupil" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveAPupil/{{ GroupName }}/" method="post">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">Move {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }} to Group?</p>   
		</div>		
		<select multiple="multiple" id="MovePupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='Move{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>			
		
		<select id="NewMoveGroupSelect" name="NewGroup" required>
			{% if 'Applicants' in GroupName %}
				{% for Groups in GroupList.Applicants %}
					<option value="{{Groups.Name}}">{{ Groups.Name }}</option>
				{% endfor %}
			{% else %}
				{% for Groups in GroupList.Current %}
					<option value="{{Groups.Name}}">{{ Groups.Name }}</option>
				{% endfor %}
			{% endif %}	
		</select>		<br>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="MoveAPupilS" onclick="hideSubmitButton('MoveAPupilS');" type="submit" value="Submit">Submit</button>
            <span id="MoveAPupilPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
