
<div id="move_to_group_from_pupil_record" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/move_to_group_from_pupil_record/{{ PupilDetails.Pupil.id }}/" method="post">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">Add Pupil to Group/Groups?</p>   
		</div>
		
		<div style='background-color:lightgrey;border:1px solid grey;padding:3px;height:350px;overflow-y:scroll;'>
		{% for group in groups %}
		{% if ".House" not in group.Name %}
			<input type="checkbox" name="new_group_{{ group }}" value="{{ group }}">{{ group }}</input><br />
			{% if not forloop.last %}
			<hr />
			{% endif %}
		{% endif %}
		{% endfor %}
		</div>		
		
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="move_to_group_from_pupil_recordS" onclick="hideSubmitButton('move_to_group_from_pupil_recordS');" type="submit" value="Submit">Submit</button>
            <span id="move_to_group_from_pupil_recordPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
