
<div id="MoveClassManager" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/PotentialGroup/MoveClass/{{ GroupName }}/{{ClassObj.NewAcYear}}/" method="post">
		{% csrf_token %}
		
		<select multiple="multiple" id="MoveClassPupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='MoveClass{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>			
		
		<select id="MoveClassSelect" name="NewGroup" style='width:500px;' maxHeight='150' ,required=true>
				{% for Groups in ClassObj.PossibleGroups %}
					<option value="{{Groups}}">{{ Groups }}</option>
				{% endfor %}

		</select>		<br>
		<input type='text' style='display:none;' name='NewAcYear' value='{{ClassObj.NewAcYear}}'></input>
		
		<button type='button' class='close2'>Cancel</button>
		<button type="submit">Action Move</button>
	</form>
</div>
