
<div id="MoveSinglePupilToDeclinedInterview" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveAPupil/{{ GroupName }}/" method="post">
		{% csrf_token %}
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<p style="font-weight:bold;">Move {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }} to Declined Interview?</p>   
			</div>
			<p style="font-weight:bold;color:darkred;font-weight:0.75em;margin-bottom:0;padding-bottom:0;">Why has Applicant declined Interview...</p>
		</div> 
		<div style="display:none;">
			<select multiple="multiple" id="MoveToDeclinedInterviewPupilSelect" name="PupilSelect">
				{% for pupil in ClassList %}
				<option selected='selected' id='MoveToDeclinedInterview{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
				{% endfor %}
			</select>		
			<input type="text" id="MoveSinglePupilToDeclinedInterviewNewGroup" name="NewGroup" value="{{MainGroups.DeclinedInterview}}">  
		</div>
		<div>
			<input required onclick="showSubmitButton2('MoveSinglePupilToDeclinedInterviewS');" type="text" name="declinedInterviewReason" style="width:100%;"> 
		</div>		
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="MoveSinglePupilToDeclinedInterviewS" onclick="hideSubmitButton('MoveSinglePupilToDeclinedInterviewS');" type="submit" value="Submit">Submit</button>
            <span id="MoveSinglePupilToDeclinedInterviewPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
