
<div data-dojo-type="dijit/Dialog"  title='' data-dojo-id="MoveSinglePupilToInterview" style="display:none;"> 
{% load static from staticfiles %}
	<div class='RecordFormDialog' data-dojo-type="dijit/form/Form" id="MoveSinglePupilToInterviewForm" data-dojo-id="MoveSinglePupilToInterviewForm" encType="multipart/form-data" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveAPupil/{{ GroupName }}/" method="post">
		{% csrf_token %}
		<script type="dojo/on" data-dojo-event="submit">
			if(this.validate()){
				return true;
			}else{
				return false;
			}
			return true;
		</script>
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<p style="font-weight:bold;">Move {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }} to Interview?</p>   
			</div>
			<p style="font-weight:bold;color:darkred;font-weight:0.75em;margin-bottom:0;padding-bottom:0;">Please enter time and date of Interview...</p>
		</div> 
		<div style="display:none;">
			<select multiple="multiple" id="MoveToInterviewPupilSelect" name="PupilSelect">
				{% for pupil in ClassList %}
				<option selected='selected' id='MoveToInterview{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
				{% endfor %}
			</select>		
			<input type="text" id="MoveSinglePupilToInterviewNewGroup" name="NewGroup" value="{{MainGroups.Interview}}">  
		</div>
		<div>
			<table style="padding-bottom:15px;">
				<tr>
					<td style="padding-top:10px;"><label for="ApplicantInterviewDate_{{pupil.Pupil.id}}">Date of Interview:</label></td></td> 
					<td style="padding-top:10px;"><input type='text' name="ApplicantInterviewDate" id="ApplicantInterviewDate_{{ pupil.Pupil.id }}" value='{% now "c" %}' required="true" dojoType="dijit.form.DateTextBox"/></td>
				</tr>
				<tr>
					<td style="padding-top:10px;"><label for="ApplicantInterviewTime_{{pupil.Pupil.id}}">Time of Interview:</label></td></td> 
					<td style="padding-top:10px;"><input style="float:left;width:100%;" type='text' name="ApplicantInterviewTime" id="ApplicantInterviewTime_{{ pupil.Pupil.id }}" required="true" dojoType="dijit.form.TimeTextBox"/></td>
				</tr>
				<tr>
					<td style="padding-top:10px;"><label for="Type">Past School:</label></td></td> 
					<td style="padding-top:10px;">
						<select style="width:100%;" name="pastSchool">
							<option>Not Known</option>
							{% for t in pastSchools %}
							<option>{{ t.Name }}: {{t.Address.PostCode}}</option>
							{% endfor %}
						</select>
					</td>
				</tr>								
			</table>
		</div>
		<!--<div style='border:1px solid darkred;'>
				<p style='color:darkred;text-align:center;padding:5px;'>Please click the 'add a School' button below if the past<br />school for this child isn't in the above drop down list:</p>
				<button style='padding:3px;margin:0 0 3px 3px;font-weight:bold;' type='button' onclick="pastSchoolsNew{{pupil.Pupil.id}}.show()">add a School</button>
				{% include "includes/pastSchoolsNewFromInterviewPopUp.html" %}
		</div>-->
		<div style="text-align:center;">	
			<button data-dojo-type="dijit.form.Button" onclick='MoveSinglePupilToInterview.hide()'>Cancel</button> 
            <button data-dojo-type="dijit.form.Button" type="submit" name="submitButton" value="Submit">Submit</button>	
		</div>
	</div>
</div>
