
<div data-dojo-type="dijit/Dialog"  title='' data-dojo-id="MoveSinglePupilBackToHolding" style="display:none;"> 
{% load static from staticfiles %}
	<div class='RecordFormDialog' data-dojo-type="dijit/form/Form" id="MoveSinglePupilBackToHoldingForm" data-dojo-id="MoveSinglePupilBackToHoldingForm" encType="multipart/form-data" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveAPupil/{{ GroupName }}/" method="post">
		{% csrf_token %}
		<div class='bannerDialog'>
			<p style="font-weight:bold;">Move {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }} back to holding?</p>
		</div>
		<div style="display:none;">
			<select multiple="multiple" id="MoveBackToHoldingPupilSelect" name="PupilSelect">
				{% for pupil in ClassList %}
				<option selected='selected' id='MoveBackToHolding{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
				{% endfor %}
			</select>
			<input type="text" id="MoveSinglePupilBackToHoldingNewGroup" name="NewGroup" value="Applicants.Holding">
		</div>
		<div style="text-align:center;">			
			<button type='button' onclick='MoveSinglePupilBackToHolding.hide()'>Cancel</button> 
			<button type="submit">OK</button>
		</div>
	</div>
</div>
