
<div data-dojo-type="dijit/Dialog"  title='Move From Holding' data-dojo-id="MoveFromHolding">
{% load static from staticfiles %}
	<div class='RecordFormDialog' data-dojo-type="dijit/form/Form" id="MoveFromHoldingForm" data-dojo-id="MoveFromHoldingForm" encType="multipart/form-data" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveFromHolding/{{ GroupName }}/" method="post">
		{% csrf_token %}
		
		<select multiple="multiple" id="MoveFromHoldingPupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='MoveFromHolding{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>			
		
		<select id="MoveFromHoldingGroupSelect" name="NewGroup" data-dojo-is='MoveFromHoldingGroupSelect' style='width:500px;' maxHeight='150' data-dojo-type="dijit/form/Select",required=true>
				{% for Groups in GroupList.Applicants %}
					<option value="{{Groups.Name}}">{{ Groups.Name }}</option>
				{% endfor %}

		</select>		<br>
		
		<button type='button' onclick='MoveFromHolding.hide()'>Cancel</button>
		<button type="submit">Action Move</button>

	</div>
</div>
