
<div data-dojo-type="dijit/Dialog"  title='Move A Pupil' data-dojo-id="MoveAnApplicant">
{% load static from staticfiles %}
	<div class='RecordFormDialog' data-dojo-type="dijit/form/Form" id="MoveAnApplicantForm" data-dojo-id="MoveAnApplicantForm" encType="multipart/form-data" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveAnApplicant/{{ GroupName }}/" method="post">
		{% csrf_token %}
		
		<select multiple="multiple" id="MoveApplicantPupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='MoveApplicant{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>			
		
		<select id="NewMoveGroupSelect" name="NewGroup" data-dojo-is='MoveApplicantGroupSelect' style='width:500px;' maxHeight='150' data-dojo-type="dijit/form/Select",required=true>
				{% for Groups in GroupList.Applicants %}
					<option value="{{Groups.Name}}">{{ Groups.Name }}</option>
				{% endfor %}

		</select>		<br>
		
		<button type='button' onclick='MoveAnApplicant.hide()'>Cancel</button>
		<button type="submit">Action Move</button>

	</div>
</div>
