
<div id="MoveSinglePupilToMoveToBatJanUpperDeclined" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveAPupil/{{ GroupName }}/" method="post">
		{% csrf_token %}
		<div class='bannerDialog'>
			<p style="font-weight:bold;padding:3px;text-align:center;">Move {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }} to Battersea<br />January Upper Declined?</p>
		</div>
		<div style="display:none;">
			<select multiple="multiple" id="MoveToBatJanUpperDeclinedPupilSelect" name="PupilSelect">
				{% for pupil in ClassList %}
				<option selected='selected' id='MoveToBatJanUpperDeclined{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
				{% endfor %}
			</select>
			<input type="text" name="NewGroup" value="Applicants.Kindergarten.BatMain.January.Upper.Declined">
		</div>
		<div style="text-align:center;">
	        <button type="button" class='close2'>Cancel</button>
	        <button id="MoveSinglePupilToMoveToBatJanUpperDeclinedS" onclick="hideSubmitButton('MoveSinglePupilToMoveToBatJanUpperDeclinedS');" type="submit" value="Submit">Submit</button>
            <span id="MoveSinglePupilToMoveToBatJanUpperDeclinedPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
