
<div id="MoveSinglePupilToInterview_PopUp" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveAPupil/{{ GroupName }}/" method="post" onsubmit='return formValidation();'>
		{% csrf_token %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script>
{% include "datePickerCode.js" %}
</script>		
		</script>
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<p style="font-weight:bold;">Move {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }} to Interview?</p>   
			</div>
			<p style="font-weight:bold;color:darkred;font-weight:0.75em;margin-bottom:0;padding-bottom:0;">Please enter time and date of Interview...</p>
		</div> 
		<div style="display:none;">
			<select multiple="multiple" id="MoveToInterviewPupilSelect" name="PupilSelect">
				{% for pupil in ClassList %}
				<option selected='selected' id='MoveToInterview{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
				{% endfor %}
			</select>		
			<input type="text" id="MoveSinglePupilToInterviewNewGroup" name="NewGroup" value="{{MainGroups.Interview}}">  
		</div>
		<div>
			<table style="padding-bottom:15px;">
				<tr>
					<td style="padding-top:10px;"><label for="ApplicantInterviewDate_{{pupil.Pupil.id}}">Date of Interview:</label></td>
					<td style="padding-top:10px;"><input onclick="showSubmitButton2('MoveSinglePupilToInterview_PopUpS');" class='datepicker' readonly='true' style="float:left;width:100%;" type='text' name="ApplicantInterviewDate"></td>
				</tr>
				<tr>
					<td style="padding-top:10px;"><label for="ApplicantInterviewTime_{{pupil.Pupil.id}}">Time of Interview:</label></td>
					<td><input onclick="showSubmitButton2('MoveSinglePupilToInterview_PopUpS');" type='time' name="ApplicantInterviewTime"></td>
				</tr>
				<tr>
					<td style="padding-top:10px;"><label for="Type">Past School:</label></td> 
					<td style="padding-top:10px;">
						<select style="width:100%;" name="pastSchool">
							<option>Not Known</option>
							{% for t in pastSchools %}
							<option>{{ t.Name }}: {{t.Address.PostCode}}</option>
							{% endfor %}
						</select>
					</td>
				</tr>								
			</table>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="MoveSinglePupilToInterview_PopUpS" onclick="hideSubmitButton('MoveSinglePupilToInterview_PopUpS');" type="submit" value="Submit">Submit</button>
            <span id="MoveSinglePupilToInterview_PopUpPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
