
<div data-dojo-type="dijit/Dialog"  title=''  data-dojo-id="MoveSinglePupilBackToHolding{{pupil.Pupil.id}}" style='display:none;'>	
{% load static from staticfiles %}
	<select multiple="multiple" id="MoveSinglePupilBackToHolding" name="MoveSinglePupilBackToHolding"  style="display:none;">
		{% for pupil in ClassList %}
		<option selected='selected' id='MoveSinglePupilBackToHolding{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
		{% endfor %}
	</select>
	<div style="text-align:center;">
		<div class='bannerDialog'>
			<p style="font-weight:bold;">Move {{ pupil.Pupil.FullName }} back to holding?</p> 
		</div>
		<button type='button' onclick='MoveSinglePupilBackToHolding{{pupil.Pupil.id}}.hide()'>No</button>				
		<button type='button' onclick="document.location.href='/WillowTree/{{ school }}/{{ AcYear }}/Manage/moveSinglePupilBackToHolding/{{pupil.Pupil.id}}/{{ GroupName }}'">Yes</button>		
	</div>
</div>
