
<div id="MoveSinglePupilBackToHolding" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveAPupil/{{ GroupName }}/" method="post">
		{% csrf_token %}
		<div style='text-align:center;'>
			<div class='bannerDialog'>
				<p style="font-weight:bold;">Move {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }} back to holding?</p>
			</div>
		</div>
		<div style="display:none;">
			<select multiple="multiple" id="MoveBackToHoldingPupilSelect" name="PupilSelect">
				{% for pupil in ClassList %}
				<option selected='selected' id='MoveBackToHolding{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
				{% endfor %}
			</select>
			<input type="text" id="MoveSinglePupilBackToHoldingNewGroup" name="NewGroup" value="Applicants.Holding">
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="MoveSinglePupilBackToHoldingS" onclick="hideSubmitButton('MoveSinglePupilBackToHoldingS');" type="submit" value="Submit">Submit</button>
            <span id="MoveSinglePupilBackToHoldingPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
