
{% load WillowFilters %}
{% load static from staticfiles %}
<div id="MoveToKindie{{pupil.Pupil.id}}" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveToKindie/{{pupil.Pupil.id}}/" method="post">
		{% csrf_token %}
		<input type='text' Name='GroupType' value='Main' style='display:none;'/>
		<select name="AppAcYear" style='width:300px;'>
			<option value="{{CurrentYear}}">{{ CurrentYear}}</option>
			<option value="{{CurrentYear|AcYearPlus:1}}">{{ CurrentYear|AcYearPlus:1 }}</option>
			<option value="{{CurrentYear|AcYearPlus:2}}">{{ CurrentYear|AcYearPlus:2 }}</option>
			<option value="{{CurrentYear|AcYearPlus:3}}">{{ CurrentYear|AcYearPlus:3 }}</option>
			<option value="{{CurrentYear|AcYearPlus:4}}">{{ CurrentYear|AcYearPlus:4 }}</option>
			<option value="{{CurrentYear|AcYearPlus:5}}">{{ CurrentYear|AcYearPlus:5 }}</option>												
		</select>		
		<br /><br />
		<div>
			<input type="radio" name="School" value="PimlicoLowerSeptember" style='height:17px; width:17px;'>Pimlico Lower September<br>
			<input type="radio" name="School" value="PimlicoUpperSeptember" style='height:17px; width:17px;'>Pimlico Upper September<br>
			<input type="radio" name="School" value="PimlicoLowerJanuary" style='height:17px; width:17px;'>Pimlico Lower January  <br>
			<input type="radio" name="School" value="PimlicoUpperJanuary" style='height:17px; width:17px;'>Pimlico Upper January  <br>
			<br />
			<input type="radio" name="School" value="BatterseaLowerSeptember" style='height:17px; width:17px;'>Battersea Lower September<br>
			<input type="radio" name="School" value="BatterseaUpperSeptember" style='height:17px; width:17px;'>Battersea Upper September<br>
			<input type="radio" name="School" value="BatterseaLowerJanuary" style='height:17px; width:17px;'>Battersea Lower January  <br>
			<input type="radio" name="School" value="BatterseaUpperJanuary" style='height:17px; width:17px;'>Battersea Upper January  <br>
		</div>
		<br />
		<div style="text-align:center;">
			<div id="MoveToKindie{{pupil.Pupil.id}}S">
				<button type="button" class='close2'>Cancel</button>
				<button onclick="hideSubmitButton('MoveToKindie{{pupil.Pupil.id}}S');" type="submit" value='Move' Name='MoveType'>Move</button>
				<button onclick="hideSubmitButton('MoveToKindie{{pupil.Pupil.id}}S');" type="submit" value='Copy' Name='MoveType'>Copy</button>
            </div>
            <span id="MoveToKindie{{pupil.Pupil.id}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>			
	</form>
</div>
