
<div id="MoveSinglePupilToMoveToPimJanLowerAccepted" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/MoveAPupil/{{ GroupName }}/" method="post">
		{% csrf_token %}
		<div class='bannerDialog'>
			<p style="font-weight:bold;padding:3px;text-align:center;">Move {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }} to Pimlico<br />January Lower Accepted?</p>
		</div>
		<div style="display:none;">
			<select multiple="multiple" id="MoveToPimJanLowerAcceptedPupilSelect" name="PupilSelect">
				{% for pupil in ClassList %}
				<option selected='selected' id='MoveToPimJanLowerAccepted{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
				{% endfor %}
			</select>
			<input type="text" name="NewGroup" value="Applicants.Kindergarten.PimMain.January.Lower.Accepted">
		</div>
		<div style="text-align:center;">
			<button type="button" class='close2'>Cancel</button>
			<button id="MoveSinglePupilToMoveToPimJanLowerAcceptedS" onclick="hideSubmitButton('MoveSinglePupilToMoveToPimJanLowerAcceptedS');" type="submit" value="Submit">Submit</button>
			<span id="MoveSinglePupilToMoveToPimJanLowerAcceptedPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
