
<div id="NewPupilForm" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/NewPupilRecord/{{ FamilyDetails.FamilyId.id }}/" method="post">
	{% csrf_token %}
		<table>
			<tr>
				<td>
					<label for="PicturePupil">Picture:</label>
				</td>
				<td>
					<input type="file" id="PicturePupil" name="Picture"  />
				</td>
			</tr>						
			<tr>
				<td>
					<label for="TitlePupil">Title:</label>
				</td>
				<td>
					<input type="text" id="TitlePupil" name="Title"   />
				</td>
			</tr>			
			<tr>
				<td>
					<label for="ForenamePupil">Forename: *</label>
				</td>
				<td>
					<input type="text" id="ForenamePupil" name="Forename"  required onclick="showSubmitButton2('NewPupilFormS');" />
				</td>
			</tr>			
			<tr>
				<td>
					<label for="SurnamePupil">Surname: *</label>
				</td>
				<td>
					<input type="text" id="SurnamePupil" name="Surname"  required onclick="showSubmitButton2('NewPupilFormS');" />
				</td>
			</tr>								
			<tr>
				<td>
					<label for="NickNamePupil">Known As:</label>
				</td>
				<td>
					<input type="text" id="NickNamePupil" name="NickName"   />
				</td>
			</tr>	
			<tr>
				<td>
					<label for="OthernamesPupil">Other Names:</label>
				</td>
				<td>
					<input type="text" id="OthernamesPupil"  name="OtherNames"  />
				</td>
			</tr>								
			<tr>
				<td>
					<label for="NewPupildob">Date of birth: *</label>
				</td>
				<td>
					<input type="text" class='datepicker' readonly='true' readonly='true' name="DateOfBirth"  required onclick="showSubmitButton2('NewPupilFormS');"/>
				</td>
			</tr>
			<tr>
				<td>
					<label for="NewPupildob">Registration Date: *</label>
				</td>
				<td>
					<input type="text" class='datepicker' readonly='true' readonly='true' name="registrationDate" value='{% now "Y-m-d" %}' required onclick="showSubmitButton2('NewPupilFormS');"/>
				</td>
			</tr>
			<tr>
				<td>
					<label for='GenderPupil'>Gender</label>
				</td>
				<td>
					<table>
						<tr>
							<td><label style='width:50px;'>Female</label><input type="radio"  name="Gender" id="NewPupilFemale" checked value="F"/></td>
						</tr>
						<tr> 
							<td><label style='width:50px;'>Male</label><input type="radio"  name="Gender" id="NewPupilMale" value="M"/> </td>
						</tr>										
					</table>
				</td>
			</tr>
		</table>
		<p style="color:darkred;text-align:center;">Note: Email Address automatically generated for Pupil</p>	
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="NewPupilFormS" onclick="hideSubmitButton('NewPupilFormS');" type="submit" value="Submit">Submit</button>
            <span id="NewPupilFormPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
		<div style="text-align:center;margin-top:10px;border:1px solid;">
			<span>fields marked with an asterisk (*) are required</span>
		</div>		
	</form>
</div>	
