
<div id="notesReport" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/notesReportCSV/{{ GroupName }}/"  method="post">		
	
		<div class='bannerDialog'>
			<span>Pupil Notes Report Generator...</span>
		</div>
		{% load WillowFilters %}
		{% csrf_token %}		
		<select multiple="multiple" id="notesReportCSVPupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
				<option selected='selected' id='notesReportCSV{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>		
		<div>
			<div>
				<div class='RecordFormCRight3'>
					<div class="table-wrapper">
						<div class="table-scroll" style="height:250px;">
							<table>
								<tbody>	
								{% for Words in KWList2.StringListOnlyNoRepeats %}
								{% if forloop.counter0|divisibleby:"3" %}</tr><tr>{% endif %}
									<td style="background-color:#EAF0E0;"><span style="cursor:pointer;" id='{{Words}}__2' onClick="SelectFilterKeyword2('{{Words}}')">{{ Words }}</span></td>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>											
				</div>
				<div style="float:left;">
					<div>
						<div style="text-align:left;padding:5px;">
							Start Date<br>
							<input class='datepicker' readonly='true' type='text' name="StartDate" id="StartDate" size="11"/></br>
							Stop Date<br>
							<input class='datepicker' readonly='true' type='text' name="StopDate" id="StopDate" size="11"/></br>
						</div>
					</div>
					<!-- csv button -->
					<div style="margin-top:75px;text-align:center;"> 
						<button name="csv" type="submit">Generate<br />CSV</button>
					</div>
					<!-- csv button -->
					<div style="margin-top:5px;text-align:center;"> 
						<button name="html" type="submit">Generate<br />HTML</button>
					</div>
					<div style="text-align:center;">
						<button type="button" class='close2'>Close</button>
					</div>
				</div>
				<div>
					<select multiple="multiple" id="KWSelect2" name="KWSelect2" style="display:none;">
					{% for words in KWList2.All %}
						<option>{{ words }}</option>
					{% endfor %}
					</select>
				</div>
			</div>
		</div>
	</form>
</div>
