
<div id="notesReport" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/notesReport2/"  method="post" target="_blank">		
	
		<div class='bannerDialog' style="text-align:center;">
			<span>Pupil Notes Report</span>
		</div>
		{% load WillowFilters %}
		{% csrf_token %}		
		<select multiple="multiple" id="notesReportCSVPupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
				<option selected='selected' id='notesReportCSV{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>		
		<div>
			<div>
				<div>
					<div style="border:1px solid;background-color:lightgrey;text-align:center;">
						<div style="text-align:left;padding:5px;">
							Start Date<br>
							<input required class='datepicker' readonly='true' type='text' name="start_date" id="StartDate" size="11" value="{{ start_date }}"/></br>
							Stop Date<br>
							<input required class='datepicker' readonly='true' type='text' name="end_date" id="StopDate" size="11" value="{{ end_date }}"/></br>
						</div>
					</div>
					<div style="margin-top:5px;text-align:center;"> 
						<button type="button" class='close2'>Close</button>
						<button name="html" type="submit">Generate</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
