
<div id="oldProvisions" class="login-popup">
{% load static from staticfiles %}
	<div class='RecordFormDialog'>
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">Past Provisions...</p>   
		</div>
		<div class='RecordFormCRight3'>
			<div class="table-wrapper">		
				<div class="table-scroll" style="height:200px;">
					<table>
						<tbody>
							{% if PupilDetails.returnProvisions.inActiveProvisions %}
							{% for Provision in PupilDetails.returnProvisions.inActiveProvisions %}
							<tr><td class="Label">Type</td><td class="DataItem">{{ Provision.SENType }}</td></tr>
							<tr><td class="Label">Start Date</td><td class="DataItem">{{ Provision.StartDate|date:"jS F Y" }}</td></tr>
							<tr><td class="Label">Stop Date</td><td class="DataItem">{{ Provision.StopDate|date:"jS F Y" }}</td></tr>
							<tr><td class="Label">Details</td><td class="DataItem">{{ Provision.Details|safe }}</td></tr>
							<tr><td style="background-color:#CCC9A1;" colspan="2"><br /></td></tr>
							{% endfor %}
							{% endif %}
														
							{% if inActiveProvisions %}
							{% for Provision in inActiveProvisions %}
							<tr><td class="Label">Type</td><td class="DataItem">{{ Provision.SENType }}</td></tr>
							<tr><td class="Label">Start Date</td><td class="DataItem">{{ Provision.StartDate|date:"jS F Y" }}</td></tr>
							<tr><td class="Label">Stop Date</td><td class="DataItem">{{ Provision.StopDate|date:"jS F Y" }}</td></tr>
							<tr><td class="Label">Details</td><td class="DataItem">{{ Provision.Details|safe }}</td></tr>
							<tr><td style="background-color:#CCC9A1;" colspan="2"><br /></td></tr>
							{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>	
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
		</div>
	</div>
</div>
