
{% load WillowFilters %}
{% load static from staticfiles %}
<div id="oldTargets" class="login-popup">
	<div class='RecordFormDialog'>
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">Past Targets...</p>   
		</div>
		<div class='RecordFormCRight3'>
			<div class="table-wrapper">		
				<div class="table-scroll" style="height:200px;">
					<table>
						<tbody>
							{% if PupilDetails.returnTargets.inActiveTargets %}
							{% for Target in PupilDetails.returnTargets.inActiveTargets %}
							<tr><td class="Label">Review Date</td><td class="DataItem">{{ Target.ReviewDate|date:"jS F Y" }}</td></tr>
							{% if not fromEalPage %}
							<tr><td class="Label">Progress</td><td class="DataItem">{{ Target.Progress|replaceSpace:'_' }}</td></tr>
							{% endif %}
							<tr><td class="Label">Target</td><td class="DataItem">{{ Target.Target|safe }}</td></tr>
							<tr><td class="Label">Review</td><td class="DataItem">{{ Target.Review|safe }}</td></tr>
							<tr><td style="background-color:#CCC9A1;" colspan="2"><br /></td></tr>
							{% endfor %}
							{% endif %}							
							
							{% if inActiveTargets %}
							{% for Target in inActiveTargets %}
							<tr><td class="Label">Review Date</td><td class="DataItem">{{ Target.ReviewDate|date:"jS F Y" }}</td></tr>
							{% if not fromEalPage %}
							<tr><td class="Label">Progress</td><td class="DataItem">{{ Target.Progress|replaceSpace:'_' }}</td></tr>
							{% endif %}
							<tr><td class="Label">Target</td><td class="DataItem">{{ Target.Target|safe }}</td></tr>
							<tr><td class="Label">Review</td><td class="DataItem">{{ Target.Review|safe }}</td></tr>
							<tr><td style="background-color:#CCC9A1;" colspan="2"><br /></td></tr>
							{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>	
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Close</button>
		</div>
	</div>
</div>
