
<div id="OtherReportManager" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/OtherReports/{{ GroupName }}/" method="post", target="_blank">
		{% csrf_token %}
		
		<select multiple="multiple" id="OtherReportPupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='OtherReport{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>
		<div class='bannerDialog'>
			<span>Select a Report...</span>
		</div>	
		<select name='ReportName'>
			<option value='Birthday.html'>Birthday (this month)</option>
			<option value='BirthdayNext.html'>Birthday (next month)</option>
			<option value='BirthdayWholeYear.html'>Birthday Whole Year</option>
			<option value='EPIF_Report.html'>EPIF</option>
			<!--<option value='housePointsReport(per class)'>House Points Report (per class)</option>-->
			<option value='housePointsReport(per pupil)'>House Points Report (per pupil)</option>  
			<option value='PupilPictureReport.html'>Pupil Pictures</option>
			<option value='PupilSibling.html'>Pupil Sibling Report</option>			
			<option value='Trips List'>Trips List (standard)</option>
			<option value='Trips List Medical Details'>Trips List (with Medical Details)</option>
		</select>
    	<br>
    	<div style='text-align:center;'>				
		<button type='button' class='close2'>Close</button>
		<button type="submit">Generate</button>
		</div>
	</form>
</div>
