
<div id="pastSchoolsEdit{{ sch.id }}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/pastSchoolsEdit/{{ sch.id }}/"  method="post">		
		<div class='bannerDialog'>
			Modify School...
		</div>
		{% load WillowFilters %}
			{% csrf_token %}
		<table style="float:left;margin-right:5px;margin-bottom:30px;">
			<tr>
				<td><label for="NameofSchool">Name of School: *</label></td></td>
				<td><input type="text" name="NameofSchool" value="{{ sch.Name }}" required onclick="showSubmitButton2('pastSchoolsEdit{{ sch.id }}S');"  /></td>
			</tr>
			<tr>
				<td><label for="PostalTitle">PostalTitle: *</label></td></td> 
				<td><input type="text" name="PostalTitle" value="{{ sch.Address.PostalTitle }}" required onclick="showSubmitButton2('pastSchoolsEdit{{ sch.id }}S');"  /></td>
			</tr>			
			<tr>
				<td><label for="HeadTeacher">Head Teacher: *</label></td></td> 
				<td><input type="text" name="HeadTeacher" value="{{ sch.HeadTeacher }}" required onclick="showSubmitButton2('pastSchoolsEdit{{ sch.id }}S');"  /></td>
			</tr>			
			<tr>
				<td><label for="Description">Description:</label></td></td> 
				<td><textarea rows='5' cols='20' name="Description" />{{ sch.Desc }}</textarea></td>
			</tr>
			<tr>
				<td style="padding-top:10px;"><label for="Type">Type of School:</label></td></td> 
				<td style="padding-top:10px;"><select style="width:100%;" name="Type">
					{% for t in TypeofSchool %}
					<option value="{{ t }}" {% ifequal t sch.Type %} selected="selected" {% endifequal %}>{{ t }}</option>
					{% endfor %}
				</select></td>
			</tr>			
			</table>
			<table style="float:right">
			<tr>
				<td><label for="AddressLine1">Address Line 1: *</label></td></td> 
				<td><input type="text" name="AddressLine1" value="{{ sch.Address.AddressLine1 }}" required onclick="showSubmitButton2('pastSchoolsEdit{{ sch.id }}S');"  /></td>
			</tr>	
			<tr>
				<td><label for="AddressLine2">Address Line 2: *</label></td></td> 
				<td><input type="text" name="AddressLine2" value="{{ sch.Address.AddressLine2 }}" required onclick="showSubmitButton2('pastSchoolsEdit{{ sch.id }}S');"  /></td>
			</tr>
			<tr>
				<td><label for="AddressLine3">Address Line 3:</label></td></td> 
				<td><input type="text" name="AddressLine3" value="{{ sch.Address.AddressLine3 }}"   /></td>
			</tr>
			<tr>
				<td><label for="AddressLine4">Address Line 4:</label></td></td> 
				<td><input type="text" name="AddressLine4" value="{{ sch.Address.AddressLine4 }}" /></td>
			</tr>
			<tr>
				<td><label for="Postcode">Postcode: *</label></td></td> 
				<td><input type="text" name="Postcode" value="{{ sch.Address.PostCode }}" required onclick="showSubmitButton2('pastSchoolsEdit{{ sch.id }}S');"  /></td>
			</tr>
			<tr>
				<td><label for="Country">Country:</label></td></td> 
				<td><input type="text" name="Country" value="{{ sch.Address.Country }}" /></td>
			</tr>
			<tr>
				<td><label for="PhoneNumber1">Phone Number 1:</label></td></td> 
				<td><input type="text" name="PhoneNumber1" value="{{ sch.Address.Phone1 }}"   /></td>
			</tr>
			<tr>
				<td><label for="PhoneNumber2">Phone Number 2:</label></td></td> 
				<td><input type="text" name="PhoneNumber2" value="{{ sch.Address.Phone2 }}"   /></td>
			</tr>	
			<tr>
				<td><label for="PhoneNumber3">Phone Number 3:</label></td></td> 
				<td><input type="text" name="PhoneNumber3"  value="{{ sch.Address.Phone3 }}"  /></td>
			</tr>
			<tr>
				<td><label for="EmailAddress">Email Address:</label></td></td> 
				<td><input type="text" name="EmailAddress"  value="{{ sch.Address.EmailAddress }}"  /></td>
			</tr>																														
		</table>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pastSchoolsEdit{{ sch.id }}S" onclick="hideSubmitButton('pastSchoolsEdit{{ sch.id }}S');" type="submit" value="Submit">Submit</button>
            <span id="pastSchoolsEdit{{ sch.id }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
		<div style="text-align:center;margin-top:10px;border:1px solid;">
			<span>fields marked with an asterisk (*) are required</span>
		</div>		
	</form>
</div>
