
<div data-dojo-type="dijit/Dialog"  title='new school...' data-dojo-id="pastSchoolsNew{{pupil.Pupil.id}}" style="display:none;">
{% load static from staticfiles %}
	<div class='RecordFormDialog' data-dojo-type="dijit/form/Form" id="pastSchoolsNew1{{pupil.Pupil.id}}" data-dojo-id="pastSchoolsNew1{{pupil.Pupil.id}}" encType="multipart/form-data" action="/WillowTree/{{ school }}/{{ AcYear }}/pastSchoolsNewFromInterviewPopUp/{{ GroupName }}/"  method="post">	
		<script type="dojo/on" data-dojo-event="reset">
			return confirm('Press OK to reset widget values');
		</script>
		<script type="dojo/on" data-dojo-event="submit">
			if(this.validate()){
				return true;
			}else{
				return false;
			}
			return true;
		</script>		
	<div class='bannerDialog'>
		Add Past School...
	</div>
	{% load WillowFilters %}
		{% csrf_token %}
		<table style="float:left;margin-right:5px;margin-bottom:30px;">
			<tr>
				<td><label for="NameofSchool">Name of School:</label></td></td> 
				<td><input type="text" name="NameofSchool" style='border: 2px solid; width: 250px; height: 25px;' required="true" data-dojo-type="dijit/form/ValidationTextBox" /></td>
			</tr>
			<tr>
				<td><label for="PostalTitle">PostalTitle:</label></td></td> 
				<td><input type="text" name="PostalTitle" style = 'border: 2px solid; width: 250px; height: 25px;' required="true" data-dojo-type="dijit/form/ValidationTextBox" /></td>
			</tr>			
			<tr>
				<td><label for="HeadTeacher">Head Teacher:</label></td></td> 
				<td><input type="text" name="HeadTeacher" style='border: 2px solid; width: 250px; height: 25px;' required="true" data-dojo-type="dijit/form/ValidationTextBox" /></td>
			</tr>			
			<tr>
				<td><label for="Description">Description:</label></td></td> 
				<td><textarea rows='5' cols='34' name="Description" />{{ sch.Desc }}</textarea></td>
			</tr>
			<tr>
				<td style="padding-top:10px;"><label for="Type">Type of School:</label></td></td> 
				<td style="padding-top:10px;"><select style="width:100%;" name="Type">
					{% for t in TypeofSchool %}
					<option>{{ t }}</option>
					{% endfor %}
				</select></td>
			</tr>			
			</table>
			<table style="float:right">
			<tr>
				<td><label for="AddressLine1">Address Line 1:</label></td></td> 
				<td><input type="text" name="AddressLine1" style = 'border: 2px solid; width: 250px; height: 25px;' required="true" data-dojo-type="dijit/form/ValidationTextBox" /></td>
			</tr>	
			<tr>
				<td><label for="AddressLine2">Address Line 2:</label></td></td> 
				<td><input type="text" name="AddressLine2" style = 'border: 2px solid; width: 250px; height: 25px;' required="true" data-dojo-type="dijit/form/ValidationTextBox" /></td>
			</tr>
			<tr>
				<td><label for="AddressLine3">Address Line 3:</label></td></td> 
				<td><input type="text" name="AddressLine3" style = 'border: 2px solid; width: 250px; height: 25px;' required="false" data-dojo-type="dijit/form/ValidationTextBox" /></td>
			</tr>
			<tr>
				<td><label for="AddressLine4">Address Line 4:</label></td></td> 
				<td><input type="text" name="AddressLine4" style = 'border: 2px solid; width: 250px; height: 25px;' required="false" data-dojo-type="dijit/form/ValidationTextBox" /></td>
			</tr>
			<tr>
				<td><label for="Postcode">Postcode:</label></td></td> 
				<td><input type="text" name="Postcode" style = 'border: 2px solid; width: 250px; height: 25px;' required="true" data-dojo-type="dijit/form/ValidationTextBox" /></td>
			</tr>
			<tr>
				<td><label for="Country">Country:</label></td></td> 
				<td><input type="text" name="Country" value="{{ sch.Address.Country }}" style = 'border: 2px solid; width: 250px; height: 25px;' required="false" data-dojo-type="dijit/form/ValidationTextBox" /></td>
			</tr>
			<tr>
				<td><label for="PhoneNumber1">Phone Number 1:</label></td></td> 
				<td><input type="text" name="PhoneNumber1" style = 'border: 2px solid; width: 250px; height: 25px;' required="false" data-dojo-type="dijit/form/ValidationTextBox" /></td>
			</tr>
			<tr>
				<td><label for="PhoneNumber2">Phone Number 2:</label></td></td> 
				<td><input type="text" name="PhoneNumber2" style = 'border: 2px solid; width: 250px; height: 25px;' required="false" data-dojo-type="dijit/form/ValidationTextBox" /></td>
			</tr>	
			<tr>
				<td><label for="PhoneNumber3">Phone Number 3:</label></td></td> 
				<td><input type="text" name="PhoneNumber3" style = 'border: 2px solid; width: 250px; height: 25px;' required="false" data-dojo-type="dijit/form/ValidationTextBox" /></td>
			</tr>
			<tr>
				<td><label for="EmailAddress">Email Address:</label></td></td> 
				<td><input type="text" name="EmailAddress" style = 'border: 2px solid; width: 250px; height: 25px;' required="false" data-dojo-type="dijit/form/ValidationTextBox" /></td>
			</tr>																														
		</table>
		<button data-dojo-type="dijit/form/Button" onclick="pastSchoolsNew{{pupil.Pupil.id}}.hide()">Cancel</button>
		<button data-dojo-type="dijit/form/Button" type="reset">Reset</button>
		<button data-dojo-type="dijit/form/Button" type="submit">OK</button>
	</div>
</div>
