
<div id="pastSchoolsDelete{{ sch.id }}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/pastSchoolsDelete/{{ sch.id }}/"  method="post">		
		<div class='bannerDialog'>
			Delete School?
		</div>
		{% csrf_token %}
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pastSchoolsDelete{{ sch.id }}S" onclick="hideSubmitButton('pastSchoolsDelete{{ sch.id }}S');" type="submit" value="Submit">Submit</button>
            <span id="pastSchoolsDelete{{ sch.id }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
