
<div id="ClassListManager" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/PotentialGroup/ClassList/{{ GroupName }}/{{ClassObj.NewAcYear}}/" method="post", target="_blank">
		{% csrf_token %}
		
		<select multiple="multiple" id="ClassListPupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='ClassList{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>			
		{% include "includes/ClassListSelector.html" %}
    	<br>
		<input type='text' style='display:none;' name='NewAcYear' value='{{ClassObj.NewAcYear}}'></input>
		<input type='text' style='display:none;' name='FormTeacher' value='{{ClassObj.FormTeacher}}'></input>
		<input type='text' style='display:none;' name='FormTeachersAll' value='{{ClassObj.FormTeachersAll}}'></input>
		<input type='text' style='display:none;' name='Tutors' value='{{ClassObj.Tutors}}'></input>
		<input type='text' style='display:none;' name='HouseNumbers' value="{{ClassObj.HouseNumbers}}"/>
		<input type='text' style='display:none;' name='NumberOfPupils' value='{{ClassObj.NumberOfPupils}}'/>
		<input type='text' style='display:none;' name='NumberOfGirls' value='{{ClassObj.NumberOfGirls}}'/>
		<input type='text' style='display:none;' name='NumberOfBoys' value='{{ClassObj.NumberOfBoys}}'/>		
						
		<button type='button' class='close2'>Cancel</button>
		<button type="submit">Generate List</button>
	</form>
</div>
