
<a href="#">Potential Classes</a>
{% load static from staticfiles %}
	<ul>
		{% include "includes/PotentialClassMenu/Battersea.html" %}
		{% include "includes/PotentialClassMenu/Clapham.html" %}		
		{% include "includes/PotentialClassMenu/Kensington.html" %}
		{% include "includes/PotentialClassMenu/FulhamBo.html" %}
				
								<li><a href='#'>To Battersea</a>
								<ul>
									<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/Manage/Transfer.Battersea.Clapham/">From Clapham</a></li>
									<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/Manage/Transfer.Battersea.Fulham/">From Fulham</a></li>
									<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/Manage/Transfer.Battersea.Kensington/">From Kensington</a></li>
								</ul>
								</li>
								<li><a href='#'>To Clapham</a>
								<ul>
									<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/Manage/Transfer.Clapham.Battersea/">From Battersea</a></li>
									<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/Manage/Transfer.Clapham.Fulham/">From Fulham</a></li>
									<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/Manage/Transfer.Clapham.Kensington/">From Kensington</a></li>
								</ul>
								</li>
								<li><a href='#'>To Fulham</a>
								<ul>
									<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/Manage/Transfer.Fulham.Battersea/">From Battersea</a></li>									
									<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/Manage/Transfer.Fulham.Clapham/">From Clapham</a></li>
									<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/Manage/Transfer.Fulham.Kensington/">From Kensington</a></li>
								</ul>
								</li>	
								<li><a href='#'>To Kensington</a>
								<ul>
									<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/Manage/Transfer.Kensington.Battersea/">From Battersea</a></li>									
									<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/Manage/Transfer.Kensington.Clapham/">From Clapham</a></li>
									<li><a href="/WillowTree/{{ school }}/{{ AcYear }}/Manage/Transfer.Kensington.Fulham/">From Fulham</a></li>
								</ul>
								</li>																								
							</ul>
