

{% load static from staticfiles %}
<div id="pupil_admin_notes" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Applicant/UpdateExtraFields/{{PupilDetails.Pupil.id}}/"  method="post" onsubmit="testDatepicker();">		
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Admin Notes</span>   
		</div>
		<div>		
			<table>
				<tr>
					<td>
						<textarea name="applicantNotes">{{ PupilExtended.applicantNotes.0|safe }}</textarea>
					</td>
				</tr>																
			</table>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupil_admin_notesS" onclick="hideSubmitButton('pupil_admin_notesS');" type="submit" value="Submit">Submit</button>
            <span id="pupil_admin_notesPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
