
<script>
{% load static from staticfiles %}
function validateForm() {
	var validateTest = false;
	var interviewDate = document.forms['popOutForm1']['interviewDate'].value;
	var interviewTime = document.forms['popOutForm1']['interviewTime'].value;
	if (interviewDate == null || interviewDate == '') {
		validateTest = true;
	}
	if (interviewTime == null || interviewTime == '') {
		validateTest = true;
	}
	if (validateTest == true) {
		alert('Sorry, interview time and date need to be entered');
		return false;
	}
}
</script>
<div id="pupilModifyFutureSchoolsProgressInterview_{{ futureSchool.id }}" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm1" action="/WillowTree/{{ school }}/{{ AcYear }}/pupilModifyFutureSchoolsProgressInterview/{{ PupilDetails.Pupil.id }}/{{ futureSchool.id }}/" method="post" enctype="multipart/form-data" onsubmit='return validateForm();'>
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Modify Interview Details?</span>
		</div>
			<tr>	
				<td><label for="interviewDate">Interview Date: *</label></td>
				<td>
					<input onclick="showSubmitButton2('pupilModifyFutureSchoolsProgressInterview_{{ futureSchool.id }}S');" style='width:100%;' readonly='true' class='datepicker' type='text' name="interviewDate" value='{{ futureSchool.Interview|date:"Y-m-d" }}'>
				</td>
			</tr>
			<tr>
				<td><label for="interviewTime">Interview Time: *</label></td>
				<td>
					<input onclick="showSubmitButton2('pupilModifyFutureSchoolsProgressInterview_{{ futureSchool.id }}S');" style='width:100%;' type='time' type='text' name="interviewTime" value='{{ futureSchool.Interview|time:"H:i" }}'>
				</td>
			</tr>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupilModifyFutureSchoolsProgressInterview_{{ futureSchool.id }}S" onclick="hideSubmitButton('pupilModifyFutureSchoolsProgressInterview_{{ futureSchool.id }}S');" type="submit" value="Submit">Submit</button>
            <span id="pupilModifyFutureSchoolsProgressInterview_{{ futureSchool.id }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
		<div style="text-align:center;margin-top:10px;border:1px solid;">
			<span>fields marked with an asterisk (*) are required</span>
		</div>			
	</form>
</div>
