
<div id="pupilModifyEalLanguageData_eal{{ i.0 }}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/pupilModifyEalLanguageData/{{ PupilDetails.Pupil.id }}/" method="post" >
		{% csrf_token %}		
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Modify {{ i.1 }} Language Data...</span>   
		</div>
		<div style="background-color:lightgrey;margin-bottom:5px;padding:5px;border:1px solid grey;">
			<span>Language...</span>
			<select name="ealLanguage{{ i.0 }}">
			{% for pickListItem in PupilDetails.returnLanguagePickList %}
					<option value='{{ pickListItem.0 }}' {% ifequal pickListItem.0 i.2.0 %} selected="selected" {% endifequal %}>{{ pickListItem.1 }}</option>
			{% endfor %}
			</select>
		</div>
		<!-- speaking -->
		<div style="background-color:lightgrey;margin-bottom:5px;padding:5px;border:1px solid grey;">
			<span>Speaking Level...</span>
			<select name="ealLanguage{{ i.0 }}SpeakingLevel">
			{% for pickListItem in PupilDetails.returnLanguageLevelPickList %}
					<option value='{{ pickListItem.0 }}' {% ifequal pickListItem.0 i.3.0 %} selected="selected" {% endifequal %}>{{ pickListItem.0 }}, {{ pickListItem.1 }}</option>
			{% endfor %}
			</select>
		</div>
		<!-- end -->
		<!-- reading -->
		<div style="background-color:lightgrey;margin-bottom:5px;padding:5px;border:1px solid grey;">
			<span>Reading Level...</span>
			<select name="ealLanguage{{ i.0 }}ReadingLevel">
			{% for pickListItem in PupilDetails.returnLanguageLevelPickList %}
					<option value='{{ pickListItem.0 }}' {% ifequal pickListItem.0 i.4.0 %} selected="selected" {% endifequal %}>{{ pickListItem.0 }}, {{ pickListItem.1 }}</option>
			{% endfor %}
			</select>
		</div>
		<!-- end -->
		<!-- writing -->
		<div style="background-color:lightgrey;margin-bottom:5px;padding:5px;border:1px solid grey;">
			<span>Writing Level...</span>
			<select name="ealLanguage{{ i.0 }}WritingLevel">
			{% for pickListItem in PupilDetails.returnLanguageLevelPickList %}
					<option value='{{ pickListItem.0 }}' {% ifequal pickListItem.0 i.5.0 %} selected="selected" {% endifequal %}>{{ pickListItem.0 }}, {{ pickListItem.1 }}</option>
			{% endfor %}
			</select>
		</div>
		<!-- end -->	
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupilModifyEalLanguageData_eal{{ i.0 }}S" onclick="hideSubmitButton('pupilModifyEalLanguageData_eal{{ i.0 }}S');" type="submit" value="Submit">Submit</button>
            <span id="pupilModifyEalLanguageData_eal{{ i.0 }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
