
<div id="pupilRemoveDocument{{Documents.DocumentId.id}}" class="login-popup">
{% load static from staticfiles %}
	<div class='RecordFormDialog' style='max-width:400px;'>
		<form name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/pupilRemoveDocument/{{ PupilDetails.Pupil.id }}/{{Documents.DocumentId.id}}/" method="post">
			{% csrf_token %}
			<div class='bannerDialog' style="text-align:center;">
				<p style="font-weight:bold;">Remove below Document?</p>   
			</div>
			<div style='background-color:lightgrey;border:1px solid grey;'>
				<span style='color:blue;padding:10px;'>{{Documents.DocumentId.DocumentName}}</span>
			</div>
			<div style="text-align:center;">
				<button type="button" class='close2'>Cancel</button>
				<button id="pupilRemoveDocument{{Documents.DocumentId.id}}S" onclick="hideSubmitButton('pupilRemoveDocument{{Documents.DocumentId.id}}S');" type="submit" value="Submit">Submit</button>
				<span id="pupilRemoveDocument{{Documents.DocumentId.id}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
			</div>
		</form>
	</div>
</div>
