
<div id="pupilAddFutureSchoolsProgressDetails" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/pupilAddFutureSchoolsProgressDetails/{{ PupilDetails.Pupil.id }}/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Add Future Schools Progress?</span>
		</div>
		<table>
			<tr>
				<td><label for="school">School:</label></td>
				<td>
					<select required name='school'>
						{% for school in pastSchools %}
						<option value="{{ school.id }}">{{ school.Name }}: {{ school.Address.PostCode }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td><label for="progress">Progress:</label></td>
				<td>
					<!-- WARNING! if you edit this this remember to also edit pupilModifyFutureSchoolsProgressDetails.html-->
					<select required name='progress'>
						<option value="Accepted Place (gained/offer)">Accepted Place (gained/offer)</option>
						<option value="Conditional place offered">Conditional place offered</option>
						<option value="Interview/Exam">Interview/Exam</option>
						<option value="No Interview/Offer">No Interview/Offer</option>
						<option value="Parents interested">Parents interested</option>
						<option value="Parents not interested">Parents not interested</option>
						<option value="Passed Pre-Test">Passed Pre-Test</option>						
						<option value="Reference Completed">Reference Completed</option>						
						<option value="Registered">Registered</option>
						<option value="Reserve List">Reserve List</option>
						<option value="Turned down">Turned down</option>
						<option value="Scholarship (gained/offer)">Scholarship (gained/offer)</option>
						<option value="Unconditional place offered">Unconditional place offered</option>
						<option value="Waiting List 1">Waiting List 1</option>
						<option value="Waiting List 2">Waiting List 2</option>
						<option value="Waiting List 3">Waiting List 3</option>
						<option value="Withdrawn">Withdrawn</option>
					</select>				
				</td>
			</tr>
			<tr>
				<td><label for="entryYear">Entry Year:</label></td>
				<td>	
					<select name='entryYear'>
						{% for year in yearRangeForFutureSchoolsProgress %}
						<option value="{{ year }}">{{ year }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
		</table>
		<div>	
			<textarea name="details"></textarea>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupilAddFutureSchoolsProgressDetailsS" onclick="hideSubmitButton('pupilAddFutureSchoolsProgressDetailsS');" type="submit" value="Submit">Submit</button>
            <span id="pupilAddFutureSchoolsProgressDetailsPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
