
<div id="pupilDeleteSENAreasOfConcern_sen{{ area.0 }}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/pupilModifySENAreasOfConcern/{{ PupilDetails.Pupil.id }}/" method="post" >
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">Delete all of {{ area.0 }} Area of Concern?</p>   
		</div>			
		<div style="display:none;">
			<input name="sen{{ area.0 }}"></input>
			<input name="sen{{ area.0 }}TeacherNotes"></input>
		</div>	
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupilDeleteSENAreasOfConcern_sen{{ area.0 }}S" onclick="hideSubmitButton('pupilDeleteSENAreasOfConcern_sen{{ area.0 }}S');" type="submit" value="Submit">Submit</button>
            <span id="pupilDeleteSENAreasOfConcern_sen{{ area.0 }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
