
{% load WillowFilters %}
{% load static from staticfiles %}
<div id="PupilLeaver" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateLeavingDetails/{{PupilDetails.Pupil.id}}/" method="post">
		{% csrf_token %}
		<label>Enter Leaving Details</label><br>
		<div style='border: 1px solid black;'>
		<input type="radio" name="LeaverStatus" value="POSSIBLE" {% ifequal PupilExtended.LeaverStatus.0 "POSSIBLE" %} checked="checked" {% endifequal %} >Potential<br>
		<input type="radio" name="LeaverStatus" value="EOY" {% ifequal PupilExtended.LeaverStatus.0 "EOY" %} checked="checked" {% endifequal %}>End Of Year<br>
		<input type="Radio" name="LeaverStatus" value='LEFT' {% ifequal PupilExtended.LeaverStatus.0 "LEFT" %} checked="checked" {% endifequal %}>Leaving Now<br>
		<input type="Radio" name="LeaverStatus" value='NONE' {% ifequal PupilExtended.LeaverStatus.0 "NONE" %} checked="checked" {% endifequal %}{% ifequal PupilExtended.LeaverStatus.0  '' %} checked="checked" {% endifequal %}>None<br>
		<br>
		Details *<br>
		<textarea name="LeaverDetails" rows='4' cols='60' >{{ PupilExtended.LeaverDetails.0 }}</textarea><br>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="PupilLeaverS" onclick="hideSubmitButton('PupilLeaverS');" type="submit" value="Submit">Submit</button>
            <span id="PupilLeaverPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
		<div style="text-align:center;margin-top:10px;border:1px solid;">
			<span>fields marked with an asterisk (*) are required</span>
		</div>		
		</div>
	</form>
</div>
