
<div id="pupilModifyMedicalDetails" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/pupilModifyMedicalDetails/{{ PupilDetails.Pupil.id }}/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Pupil Medical Details</span>
		</div>
		<div>	
			<textarea name="pupilModifyMedicalDetails">{{ PupilDetails.ExtendedRecord.pupils_medical_details.0|safe }}</textarea>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupilModifyMedicalDetailsS" onclick="hideSubmitButton('pupilModifyMedicalDetailsS');" type="submit" value="Submit">Submit</button>
            <span id="pupilModifyMedicalDetailsPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
