
{% load WillowFilters %}
{% load static from staticfiles %}
<div id="pupilModifyMostAbled{{ i.id }}" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/modifyMostAbled/{{ PupilDetails.id }}/{{ i.id }}/" method="post">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Modify Most Abled...</span>   
		</div>	
		<div style="text-align:center;">
		<span style='float:left;'>Subject...</span>
		<select name='subject'>
			{% for subject in subjects %}
			<option value="{{ subject.Name }}" {% ifequal subject.Name i.Subject.Name %} selected='selected' {% endifequal %}>{{ subject.Name }}</option>
			{% endfor %}
		</select>
		<span style='float:left;'>Details...</span>
		<textarea name='gtTextArea' textarea>{{ i.Details|safe }}</textarea>
		</div>
		<div style="text-align:center;">
			<div id="pupilModifyMostAbled{{ i.id }}S">
				<button type="button" class='close2'>Cancel</button>
				<button onclick="hideSubmitButton('pupilModifyMostAbled{{ i.id }}S');" type="submit" value='Copy' Name='MoveType'>Submit</button>
            </div>
            <span id="pupilModifyMostAbled{{ i.id }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>		
	</form>
</div>
