
<div id="pupilModifySENAreasOfConcern_sen{{ area.0 }}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/pupilModifySENAreasOfConcern/{{ PupilDetails.Pupil.id }}/" method="post" >
		{% csrf_token %}		
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Modify {{ area.0 }} Area of Concern...</span>   
		</div>
		<div>
			<h1>Modify {{ area.0 }} Notes...</h1>
			<textarea name="sen{{ area.0 }}">{{ area.1 }}</textarea>
		</div>
		<div>
			<h1>Modify {{ area.0 }} Teacher Notes...</h1>
			<textarea name="sen{{ area.0 }}TeacherNotes">{{ area.2 }}</textarea>
		</div>	
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupilModifySENAreasOfConcern_sen{{ area.0 }}S" onclick="hideSubmitButton('pupilModifySENAreasOfConcern_sen{{ area.0 }}S');" type="submit" value="Submit">Submit</button>
            <span id="pupilModifySENAreasOfConcern_sen{{ area.0 }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
