
<div id="pupilModifyEALGeneralNotes" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/pupilModifyEALGeneralNotes/{{ PupilDetails.Pupil.id }}/" method="post" >
		{% csrf_token %}		
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">Modify General Notes...</p>   
		</div>
		<div>
			<table>
				<tr>
					<td><textarea name="ealGeneralNotes">{{ PupilDetails.returnEalGeneralNotes|safe }}</textarea></td>
				</tr>								
			</table>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupilModifyEALGeneralNotesS" onclick="hideSubmitButton('pupilModifyEALGeneralNotesS');" type="submit" value="Submit">Submit</button>
            <span id="pupilModifyEALGeneralNotesPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
