
<div id="pupilModifySENSpecialPermissions" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/pupilModifySENSpecialPermissions/{{ PupilDetails.Pupil.id }}/" method="post" >
		{% csrf_token %}		
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">Modify Special Permissions...</p>   
		</div>
		<div>
			<table>
				<tr>
					<td>Extra Time:   </td>
					<td>
						<select name="senExtraTime">
							{% for i in PupilDetails.returnSenExtraTimeSpecialPermissionsPickList %}
							<option value="{{ i.0 }}" {% ifequal PupilDetails.returnSenExtraTimeSpecialPermissions i.0 %} selected="selected" {% endifequal %}>{{ i.0 }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Laptop:</td>
					<td>
						<select name="senLaptop">
							{% for i in PupilDetails.returnSenLaptopSpecialPermissionsPickList %}
							<option value="{{ i.0 }}" {% ifequal PupilDetails.returnSenLaptopSpecialPermissions i.0 %} selected="selected" {% endifequal %}>{{ i.0 }}</option>
							{% endfor %}
						</select>					
					</td>
				</tr>
				<tr>
					<td>Other:</td><td><textarea name="senOther">{{  PupilDetails.returnSenOtherSpecialPermissions }}</textarea></td>
				</tr>								
			</table>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupilModifySENSpecialPermissionsS" onclick="hideSubmitButton('pupilModifySENSpecialPermissionsS');" type="submit" value="Submit">Submit</button>
            <span id="pupilModifySENSpecialPermissionsPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
