
{% load WillowFilters %}
{% load static from staticfiles %}
<div id="pupilMostAbled" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/addNewMostAbled/{{ PupilDetails.id }}/" method="post">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Add Most Abled...</span>   
		</div>		
		<div style="text-align:center;">
		<span style='float:left;'>Subject...</span>
		<select name='subject'>
			{% for subject in subjects %}
			<option value="{{ subject.Name }}">{{ subject.Name }}</option>
			{% endfor %}
		</select>
		<span style='float:left;'>Details...</span>
		<textarea name='gtTextArea' textarea></textarea>
		</div>
		<div style="text-align:center;">
			<div id="pupilMostAbledS">
				<button type="button" class='close2'>Cancel</button>
				<button onclick="hideSubmitButton('pupilMostAbledS');" type="submit" value='Copy' Name='MoveType'>Submit</button>
            </div>
            <span id="pupilMostAbledPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>		
	</form>
</div>
