
<div id="pupilDeleteEalLanguageData_eal{{ i.0 }}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/pupilDeleteEalLanguageData/{{ PupilDetails.Pupil.id }}/" method="post" >
		{% csrf_token %}		
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Delete {{ i.1 }} Language Data?</span>   
		</div>
		<div style="display:none;">
			<div style="background-color:lightgrey;margin-bottom:5px;padding:5px;border:1px solid grey;">
				<span>Language...</span>
				<select name="ealLanguage{{ i.0 }}">
				{% for pickListItem in PupilDetails.returnLanguagePickList %}
						<option>{{ pickListItem.1 }}</option>
				{% endfor %}
				</select>
			</div>
			<!-- speaking -->
			<div style="background-color:lightgrey;margin-bottom:5px;padding:5px;border:1px solid grey;">
				<span>Speaking Level...</span>
				<select name="ealLanguage{{ i.0 }}SpeakingLevel">
				{% for pickListItem in PupilDetails.returnLanguageLevelPickList %}
						<option>{{ pickListItem.0 }}, {{ pickListItem.1 }}</option>
				{% endfor %}
				</select>
			</div>
			<!-- end -->
			<!-- reading -->
			<div style="background-color:lightgrey;margin-bottom:5px;padding:5px;border:1px solid grey;">
				<span>Reading Level...</span>
				<select name="ealLanguage{{ i.0 }}ReadingLevel">
				{% for pickListItem in PupilDetails.returnLanguageLevelPickList %}
						<option>{{ pickListItem.0 }}, {{ pickListItem.1 }}</option>
				{% endfor %}
				</select>
			</div>
			<!-- end -->
			<!-- writing -->
			<div style="background-color:lightgrey;margin-bottom:5px;padding:5px;border:1px solid grey;">
				<span>Writing Level...</span>
				<select name="ealLanguage{{ i.0 }}WritingLevel">
				{% for pickListItem in PupilDetails.returnLanguageLevelPickList %}
						<option>{{ pickListItem.0 }}, {{ pickListItem.1 }}</option>
				{% endfor %}
				</select>
			</div>
			<!-- end -->
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupilDeleteEalLanguageData_eal{{ i.0 }}S" onclick="hideSubmitButton('pupilDeleteEalLanguageData_eal{{ i.0 }}S');" type="submit" value="Submit">Submit</button>
            <span id="pupilDeleteEalLanguageData_eal{{ i.0 }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
