
<div id="PupilFutureAttendance" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/PupilFutureAttendance/" method="post">
		{% csrf_token %}
		<table border=0>
			<tr>
				<td>Select Date</td>
				<td><input required class='datepicker' readonly='true' style="float:left;width:100%;" type='text' name="AttendanceDate" value='{% now "Y-m-d"%}'></td>
			</tr>
			<tr>
				<td>
					<select id="AttCode" name="AttendanceCode" style='width:500px;' maxHeight='150' ,required=true>
						{% for codes in AttendanceCodes %}
							<option value="{{ codes.AttendanceCode}}" selected='selected'>{{ codes.AttendanceCode }}: {{ codes.AttendanceDesc }}</option>
						{% endfor %}
					</select>	
				</td>
			</tr>
			<tr>
				<td>Number Of attendances</td>
				<td><input type='text'/>
				</td>
			</tr>
		</table>		
		<button type='button' class='close2'>Cancel</button>
		<button type="submit">Generate</button>
	</form>
</div>
