
<div id="pupilModifyEALSpecialPermissions" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/pupilModifyEALSpecialPermissions/{{ PupilDetails.Pupil.id }}/" method="post" >
		{% csrf_token %}		
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">Modify Special Permissions...</p>   
		</div>
		<div>
			<table>
				<tr>
					<td>Extra Time:   </td>
					<td>
						<select name="ealExtraTime">
							{% for i in PupilDetails.returnEalExtraTimeSpecialPermissionsPickList %}
							<option value="{{ i.0 }}" {% ifequal PupilDetails.returnEalExtraTimeSpecialPermissions i.0 %} selected="selected" {% endifequal %}>{{ i.0 }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>Laptop:</td>
					<td>
						<select name="ealLaptop">
							{% for i in PupilDetails.returnEalLaptopSpecialPermissionsPickList %}
							<option value="{{ i.0 }}" {% ifequal PupilDetails.returnEalLaptopSpecialPermissions i.0 %} selected="selected" {% endifequal %}>{{ i.0 }}</option>
							{% endfor %}
						</select>					
					</td>
				</tr>
				<tr>
					<td>Other:</td><td><textarea name="ealOther">{{  PupilDetails.returnEalOtherSpecialPermissions }}</textarea></td>
				</tr>								
			</table>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupilModifyEALSpecialPermissionsS" onclick="hideSubmitButton('pupilModifyEALSpecialPermissionsS');" type="submit" value="Submit">Submit</button>
            <span id="pupilModifyEALSpecialPermissionsPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
