
<div id="pupilViewPastEALs" class="login-popup">
{% load static from staticfiles %}
	<div class='RecordFormDialog'>
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">Past EALs...</p>   
		</div>
		<div class='RecordFormCRight3'>
			<div class="table-wrapper">		
				<div class="table-scroll" style="height:200px;">
					<table>
						<tbody>	
						{% for record in PupilDetails.ReturnPastEALs %}
							<tr><td class="Label">Alert Type</td><td class="DataItem">{{ record.AlertType.Name }}</td></tr>
							<tr><td class="Label">Start Date</td><td class="DataItem">{{ record.StartDate|date:"jS F Y" }}</td></tr>
							<tr><td class="Label">Stop Date</td><td class="DataItem">{{ record.StopDate|date:"jS F Y" }}</td></tr>
							<tr><td class="Label">Alert Details</td><td class="DataItem">{{ record.AlertDetails|safe }}</td></tr>
							<tr><td class="Label">Closed Details</td><td class="DataItem">{{ record.AlertClosedDetails|safe }}</td></tr>
							<tr><td style="background-color:#CCC9A1;"><br /></td><td style="background-color:#CCC9A1;"><br /></td></tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>	
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
		</div>
	</div>
</div>
