
<div id="pupilDeleteFutureSchoolsProgressDetails_{{ futureSchool.id }}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/pupilDeleteFutureSchoolsProgressDetails/{{ PupilDetails.Pupil.id }}/{{ futureSchool.id }}/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Delete Future Schools Progress?</span>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupilDeleteFutureSchoolsProgressDetails_{{ futureSchool.id }}S" onclick="hideSubmitButton('pupilDeleteFutureSchoolsProgressDetails_{{ futureSchool.id }}S');" type="submit" value="Submit">Submit</button>
            <span id="pupilDeleteFutureSchoolsProgressDetails_{{ futureSchool.id }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
