
<style>
{% load static from staticfiles %}
.csvOptionsTableHeader {
	padding: 5px;
	color: darkblue;
	}
.csvOptionsTableCell {
	width: 200px;
	}
.csvOptionsTable {
	padding: 10px;
	border-bottom: 1px solid darkgrey;
	width:100%;
	}
</style>
{% load WillowFilters %}
<div id="pupilModifyExtraOptions" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/modifyExtraOptions/{{ PupilDetails.Pupil.id }}/" method="post" >
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Add/Modify SEN Extra Options...</span>   
		</div>
		<div class='RecordFormCRight3'>
			<div style='background-color:lightgrey;border:1px solid black;'>		
				<div class="table-scroll" style="height:200px;">
					<div class='csvOptionsTableHeader'>Standard Options...</div>
					<table class='csvOptionsTable'>
						<tr>
						{% for a in extraOptions.standard_SEN_search_list %}
						<td><div class='csvOptionsTableCell'><input style='padding:2px;' {% if a in extraOptions.extraOptionsInList %} checked='checked' {% endif %} type="checkbox" name="extraOptions{{ a }}" value="{{ a }}">{{ a|replaceSpace:'_' }}</input></div></td>
						{%if forloop.counter|divisibleby:"2"%}
						</tr><tr>
						{% endif %}
						{% endfor %}
						</tr>
					</table>
					<div class='csvOptionsTableHeader'>Difficulty Options...</div>
					<table class='csvOptionsTable'>
						<tr>
						{% for b in extraOptions.difficulties_SEN_search_list %}
						<td><div class='csvOptionsTableCell'><input style='padding:2px;' {% if b in extraOptions.extraOptionsInList %} checked='checked' {% endif %} type="checkbox" name="extraOptions{{ b }}" value="{{ b }}">{{ b|replaceSpace:'_' }}</input></div></td>
						{%if forloop.counter|divisibleby:"2"%}
						</tr><tr>
						{% endif %}
						{% endfor %}
						</tr>		
					</table>
				</div>
			</div>	
		</div>
		<div style='padding:5px;text-align:center;font-size:0.9em;color:darkred;'>
			<span>scroll down for more options</span>
		</div>	
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupilModifyExtraOptionsS" onclick="hideSubmitButton('pupilModifyExtraOptionsS');" type="submit" value="Submit">Submit</button>
            <span id="pupilModifyExtraOptionsPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
