
<div id="pupilDeleteEalAreasOfConcern_eal{{ i.1 }}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/pupilDeleteEalAreasOfConcern/{{ PupilDetails.Pupil.id }}/" method="post" >
		{% csrf_token %}		
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">Delete {{ i.0 }} Area of Concern?</p>   
		</div>
		<div style="display:none;">
			<div>
				<h1>Delete {{ i.0 }} Level...</h1>
				<select name="ealAreasOfConcern{{ i.1 }}Level">
				{% for pickListItem in PupilDetails.returnAreasOfConcernListPickList %}
						<option value='{{ pickListItem.1 }}' {% ifequal pickListItem.1 i.2.0 %} selected {% endifequal %}>{{ pickListItem.0 }}, {{ pickListItem.1 }}</option>
				{% endfor %}
				</select>
			</div>
			<div>
				<h1>Delete {{ i.0 }} Notes...</h1>
				<textarea name="ealAreasOfConcern{{ i.1 }}Notes">{{ i.3.0|safe }}</textarea>
			</div>
			<div>
				<h1>Delete {{ i.0 }} Teacher Notes...</h1>
				<textarea name="ealAreasOfConcern{{ i.1 }}TeacherNotes">{{ i.4.0|safe }}</textarea>
			</div>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupilDeleteEalAreasOfConcern_eal{{ i.1 }}S" onclick="hideSubmitButton('pupilDeleteEalAreasOfConcern_eal{{ i.1 }}S');" type="submit" value="Submit">Submit</button>
            <span id="pupilDeleteEalAreasOfConcern_eal{{ i.1 }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
