
<div id="pupilMoveToCurrent{{ pupil.Pupil.id }}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/pupilMoveToCurrent/{{ GroupName }}/" method="post">
		{% csrf_token %}
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<p style="font-weight:bold;">Move {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }} to a Current Group?</p>
				<hr />
				<table>
					<tr>
						<td><input type="checkbox" name="createEmailAddress" value="True"></td>
						<td><p style="font-weight:bold;color:red;font-weight:0.75em;padding:5px;"> <-- </p></td>
						<td><p style="font-weight:bold;color:red;font-weight:0.75em;width:300px;">NOTE: If this checkbox is selected, I.T Support will be contacted requesting an Email Account to be set-up for this Pupil</p></td>
					</tr>
				</table>				
			</div>	
		</div>
		<input style='display:none;' name='pupilIdFromHolding' value='{{ pupil.Pupil.id }}'></input>								
		<select id="NewMoveGroupSelect" name="NewGroup" required>
		{% if 'Kindergarten' in school %}
			{% for Groups in currentKindergartenGrps %}
			<option value="{{Groups.Name}}">{{ Groups.Name }}</option>
			{% endfor %}			
		{% else %}
			{% for Groups in currentFormGrps %}
			<option value="{{Groups.Name}}">{{ Groups.Name }}</option>
			{% endfor %}
		{% endif %}
		</select>
		<br>	
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupilMoveToCurrent{{ pupil.Pupil.id }}S" onclick="hideSubmitButton('pupilMoveToCurrent{{ pupil.Pupil.id }}S');" type="submit" value="Submit">Submit</button>
            <span id="pupilMoveToCurrent{{ pupil.Pupil.id }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
