
<div id="pupilModifyFutureSchoolsProgressDetails_{{ futureSchool.id }}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/pupilModifyFutureSchoolsProgressDetails/{{ PupilDetails.Pupil.id }}/{{ futureSchool.id }}/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Modify Future Schools Progress?</span>
		</div>
		<table>
			<tr>
				<td><label for="school">School:</label></td>
				<td>
					<select required name='school'>
						{% for pastschool in pastSchools %}
						<option {% ifequal futureSchool.School.id pastschool.id %} selected="selected" {% endifequal %} value="{{ pastschool.id }}">{{ pastschool.Name }}: {{ pastschool.Address.PostCode }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td><label for="progress">Progress:</label></td>
				<td>
					<!-- WARNING! if you edit this this remember to also edit pupilAddFutureSchoolsProgressDetails.html-->
					<select required name='progress'>
						<option {% ifequal futureSchool.Progress 'Accepted Place (gained/offer)' %} selected="selected" {% endifequal %} value="Accepted Place (gained/offer)">Accepted Place (gained/offer)</option>
						<option {% ifequal futureSchool.Progress 'Conditional place offered' %} selected="selected" {% endifequal %} value="Conditional place offered">Conditional place offered</option>
						<option {% ifequal futureSchool.Progress 'Interview/Exam' %} selected="selected" {% endifequal %} value="Interview/Exam">Interview/Exam</option>
						<option {% ifequal futureSchool.Progress 'No Interview/Offer' %} selected="selected" {% endifequal %} value="No Interview/Offer">No Interview/Offer</option>
						<option {% ifequal futureSchool.Progress 'Parents interested' %} selected="selected" {% endifequal %} value="Parents interested">Parents interested</option>
						<option {% ifequal futureSchool.Progress 'Parents not interested' %} selected="selected" {% endifequal %} value="Parents not interested">Parents not interested</option>
						<option {% ifequal futureSchool.Progress 'Passed Pre-Test' %} selected="selected" {% endifequal %} value="Passed Pre-Test">Passed Pre-Test</option>						
						<option {% ifequal futureSchool.Progress 'Reference Requested' %} selected="selected" {% endifequal %} value="Reference Requested">Reference Requested</option>
						<option {% ifequal futureSchool.Progress 'Registered' %} selected="selected" {% endifequal %} value="Registered">Registered</option>
						<option {% ifequal futureSchool.Progress 'Reserve List' %} selected="selected" {% endifequal %} value="Reserve List">Reserve List</option>
						<option {% ifequal futureSchool.Progress 'Turned down' %} selected="selected" {% endifequal %} value="Turned down">Turned down</option>
						<option {% ifequal futureSchool.Progress 'Scholarship (gained/offer)' %} selected="selected" {% endifequal %} value="Scholarship (gained/offer)">Scholarship (gained/offer)</option>
						<option {% ifequal futureSchool.Progress 'Unconditional place offered' %} selected="selected" {% endifequal %} value="Unconditional place offered">Unconditional place offered</option>
						<option {% ifequal futureSchool.Progress 'Waiting List 1' %} selected="selected" {% endifequal %} value="Waiting List 1">Waiting List 1</option>
						<option {% ifequal futureSchool.Progress 'Waiting List 2' %} selected="selected" {% endifequal %} value="Waiting List 2">Waiting List 2</option>
						<option {% ifequal futureSchool.Progress 'Waiting List 3' %} selected="selected" {% endifequal %} value="Waiting List 3">Waiting List 3</option>
						<option {% ifequal futureSchool.Progress 'Withdrawn' %} selected="selected" {% endifequal %} value="Withdrawn">Withdrawn</option>					
					
					</select>				
				</td>
			</tr>
			<tr>
				<td><label for="entryYear">Entry Year:</label></td>
				<td>	
					<select name='entryYear'>
						{% for year in yearRangeForFutureSchoolsProgress %}
						<option {% ifequal futureSchool.EntryYear year %} selected="selected" {% endifequal %} value="{{ year }}">{{ year }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
		</table>
		<div>	
			<textarea name="details">{{ futureSchool.Details|safe }}</textarea>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupilModifyFutureSchoolsProgressDetails_{{ futureSchool.id }}S" onclick="hideSubmitButton('pupilModifyFutureSchoolsProgressDetails_{{ futureSchool.id }}S');" type="submit" value="Submit">Submit</button>
            <span id="pupilModifyFutureSchoolsProgressDetails_{{ futureSchool.id }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
