
<div id="PupilSingleGradeFromManage" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/GradeInput/Pupil/Intermediate/" method="post">
		{% csrf_token %}
		<div class='bannerDialog' style='text-align:center;'>
			Grade {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }}?
		</div>	
		<div style="display:none;">
			<select multiple="multiple" id="GradePupilPupilSelect" name="PupilSelect">
				{% for pupil in ClassList %}
				<option selected='selected' id='GradePupil{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
				{% endfor %}
			</select>		
		</div>		
						
		<div style="background-color:lightgrey;border:1px solid;text-align:center;margin-top:15px;margin-bottom:15px">
			<p style="padding-top:0;margin:0;">Change Grade Record?</p> 
			<select name="GradeRecord" style="min-width:100%;">     
				{% for gradeRecords in gradeObj.GetAllReports %}
					<option value="{{ gradeRecords.GradeRecord.Name }}" {% if gradeRecords.GradeRecord.Name in currentGradeRecord %} selected="selected" {% endif %}>{{ gradeRecords.GradeRecord.Name }}</option>
				{% endfor %}     
			</select>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="PupilSingleGradeFromManageS" onclick="hideSubmitButton('PupilSingleGradeFromManageS');" type="submit" value="Submit">Submit</button>
            <span id="PupilSingleGradeFromManagePD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
