
<div id="pupilModifyEalAreasOfConcern_eal{{ i.1 }}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/pupilModifyEalAreasOfConcern/{{ PupilDetails.Pupil.id }}/" method="post" >
		{% csrf_token %}		
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Modify {{ i.0 }} Area of Concern...</span>   
		</div>
		<div>
			<h1>Modify {{ i.0 }} Level...</h1>
			<select name="ealAreasOfConcern{{ i.1 }}Level">
			{% for pickListItem in PupilDetails.returnAreasOfConcernListPickList %}
					<option value='{{ pickListItem.0 }}' {% ifequal pickListItem.0 i.2.0 %} selected="selected" {% endifequal %}>{{ pickListItem.0 }}, {{ pickListItem.1 }}</option>
			{% endfor %}
			</select>
		</div>
		<div>
			<h1>Modify {{ i.0 }} Notes...</h1>
			<textarea name="ealAreasOfConcern{{ i.1 }}Notes">{{ i.3.0|safe }}</textarea>
		</div>
		<div>
			<h1>Modify {{ i.0 }} Teacher Notes...</h1>
			<textarea name="ealAreasOfConcern{{ i.1 }}TeacherNotes">{{ i.4.0|safe }}</textarea>
		</div>	
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupilModifyEalAreasOfConcern_eal{{ i.1 }}S" onclick="hideSubmitButton('pupilModifyEalAreasOfConcern_eal{{ i.1 }}S');" type="submit" value="Submit">Submit</button>
            <span id="pupilModifyEalAreasOfConcern_eal{{ i.1 }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
