
<div id="PupilSingleGrade" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/GradeInput/Pupil/IntermediateFromRec/{{ PupilDetails.Pupil.id }}/"  method="post">	
		<script>
		</script>		
	<div class='bannerDialog' style='text-align:center;'>
		Grade {{ PupilDetails.Pupil.Forename }} {{ PupilDetails.Pupil.Surname }}?
	</div>
	{% load WillowFilters %}
		{% csrf_token %}
		<div style="text-align:center;margin-top:15px;margin-bottom:15px;background-color:lightgrey;border:1px solid;">
			<p style="padding-top:0;margin:0;">Change Grade Record?</p>  
			<select name="GradeRecord" style="min-width:100%;">     
				{% for gradeRecords in gradeObj.GetAllReports %} 
					<p>meh</p>
					<p>{{gradeRecords.GradeRecord.Name}} ? {{currentGradeRecord}}</p>
					<option value="{{ gradeRecords.GradeRecord.Name }}" {% if gradeRecords.GradeRecord.Name in currentGradeRecord %} selected="selected" {% endif %}>{{ gradeRecords.GradeRecord.Name }}</option>
				{% endfor %}     
			</select>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="PupilSingleGradeS" onclick="hideSubmitButton('PupilSingleGradeS');" type="submit" value="Submit">Submit</button>
            <span id="PupilSingleGradePD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
