
<div id="PupilRec_MvToHolding" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/PupilRec_MvToHolding/{{ PupilDetails.Pupil.id }}/" method="post">
		{% csrf_token %}
		<div style='text-align:center;'>
			<div class='bannerDialog'>
				<p style="font-weight:bold;">Move to holding?</p>
			</div>
			<div style="width:300px;border:1px solid;background-color:yellow;padding:10px;">
				<p><span style="color:red;">WARNING!</span> This action will remove this Pupil/Applicant from <u>ALL</u> groups, from <u>ALL</u> Schools, and put them into the "Holding" group</p>
			</div>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="PupilRec_MvToHoldingS" onclick="hideSubmitButton('PupilRec_MvToHoldingS');" type="submit" value="Submit">Submit</button>
            <span id="PupilRec_MvToHoldingPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
