
<div id="pupilModifyEALAssessmentHistory" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/pupilModifyEALAssessmentHistory/{{ PupilDetails.Pupil.id }}/" method="post" >
		{% csrf_token %}		
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">Modify Assessment History...</p>   
		</div>
		<div>
			<table>
				<tr>
					<td><textarea name="ealAssessmentHistory">{{  PupilDetails.returnEalAssessmentHistory|safe }}</textarea></td>
				</tr>								
			</table>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupilModifyEALAssessmentHistoryS" onclick="hideSubmitButton('pupilModifyEALAssessmentHistoryS');" type="submit" value="Submit">Submit</button>
            <span id="pupilModifyEALAssessmentHistoryPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
