
{% load WillowFilters %}			
{% load static from staticfiles %}
<div id="pupil_gifted_and_talented_old" class="login-popup">
	<div class='RecordFormDialog'>
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">Closed Most Abled...</p>   
		</div>
		<div class='RecordFormCRight3'>
			<div class="table-wrapper">		
				<div class="table-scroll" style="height:200px;">				
				<table>
					<tbody>
						{% for i in GTData_old %}
						<tr><td class="Label">Subject:</td><td class="DataItem">{{ i.Subject.Name }}</td></tr>
						<tr><td class="Label">Level:</td><td class="DataItem">{{ i.Level }}</td></tr>
						<tr><td class="Label">Mentor:</td><td class="DataItem">{{ i.Mentor }}</td></tr>
						<tr><td class="Label">Date Identified:</td><td class="DataItem">{{ i.DateIdentified }}</td></tr>
						<tr><td class="Label">Details:</td><td class="DataItem">{{ i.Details|safe }}</td></tr>
						<tr><td class="Label">Reasons For Removal of Status:</td><td class="DataItem">{{ i.ReasonsForRemovalGiftedAndTalented|safe }}</td></tr>
						<tr><td class="Label">Date Status Removed:</td><td class="DataItem">{{ i.DateNotGiftedAndTalented }}</td></tr>	
						<tr><td style="background-color:#CCC9A1;" colspan="2"><br /></td></tr>										
						{% endfor %}
					</tbody>
				</table>
				</div>
			</div>	
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Close</button>
		</div>
	</div>
</div>
