
{% load WillowFilters %}
{% load static from staticfiles %}
<div id="pupilDeleteGiftedAndTalented{{ i.id }}" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/deleteGiftedAndTalented/{{ PupilDetails.id }}/{{ i.id }}/" method="post">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Close Most Abled?</span>   
		</div>
		<div>
			<table>
				<tr>
					<td>Reasons For Removal of Status...</td>
					<td><textarea name='reasons_for_removal_of_status'>{{ i.ReasonsForRemovalGiftedAndTalented|safe }}</textarea></td>
				</tr>
				<tr>
					<td>Date Status Removed...</td>
					<td><input class='datepicker' readonly='true' type="text" name="date_status_removed" value="{{ i.DateNotGiftedAndTalented|date:'Y-m-d' }}" /></td>
				</tr>
			</table>			
		</div>
		<input style='display:none;' name='subject' value='{{ i.Subject.Name }}'/>
		<div style="text-align:center;">
			<div id="pupilDeleteGiftedAndTalented{{ i.id }}S">
				<button type="button" class='close2'>Cancel</button>
				<button onclick="hideSubmitButton('pupilDeleteGiftedAndTalented{{ i.id }}S');" type="submit" value='Copy' Name='MoveType'>Submit</button>
            </div>
            <span id="pupilDeleteGiftedAndTalented{{ i.id }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>		
	</form>
</div>
