
{% load WillowFilters %}
{% load static from staticfiles %}
<div data-dojo-type="dijit/Dialog"  title='Mark as a potential Leaver' data-dojo-id="PupilPotentialLeaver">
	<div class='RecordFormDialog' data-dojo-type="dijit/form/Form" data-dojo-id="PupilPotentialLeaverForm" encType="multipart/form-data" action="/WillowTree/{{ school }}/{{ AcYear }}/Pupil/MarkAsPotentialLeaver/{{pupil.Pupil.id}}/" method="post">
		{% csrf_token %}

		{% if PupilExtentions.LeaverPotential %}
		<p style="color:darkred;">{{pupil.Pupil.FirstName}} is already marked as a Potential Leaver</p>
		<button type='button' onclick='MoveToKindie{{pupil.Pupil.id}}.hide()'>Cancel</button>		
			<button type="submit" value='Move' Name='MoveType'>Un-Mark</button>
		{% else %}
		<p>Mark {{pupil.Pupil.FirstName}} as a Potential Leaver</p>
		<button type='button' onclick='MoveToKindie{{pupil.Pupil.id}}.hide()'>Cancel</button>		
		<button type="submit" value='Copy' Name='MoveType'>Mark</button>
		{% endif %}
	</div>
</div>
