
{% load WillowFilters %}
{% load static from staticfiles %}
<div id="pupilGiftedAndTalented" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/addNewGiftedAndTalented/{{ PupilDetails.id }}/" method="post">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Add Most Abled...</span>   
		</div>		
		<div>
			<table>
				<tr>
					<td>Subject...</td>
					<td>
						<select name='subject'>
							{% for subject in subjects %}
							<option value="{{ subject.Name }}">{{ subject.Name }}</option>
							{% endfor %}
						</select>					
					</td>
				</tr>
				<tr>
					<td>Level...</td>
					<td>
						<select name='Level'>
							<option value="1">1</option>
							<option value="2">2</option>
						</select>						
					</td>
				</tr>
				<tr>
					<td>Mentor...</td>
					<td><input style="100%" type="text" name="mentor"></td>
				</tr>
				<tr>
					<td>Date Identified...</td>
					<td><input class='datepicker' readonly='true' type="text" name="identified" /></td>
				</tr>
				<tr>
					<td>Details...</td>
					<td><textarea name='gtTextArea'></textarea></td>
				</tr>													
			</table>
		</div>
		<div style="text-align:center;">
			<div id="pupilGiftedAndTalentedS">
				<button type="button" class='close2'>Cancel</button>
				<button onclick="hideSubmitButton('pupilGiftedAndTalentedS');" type="submit" value='Copy' Name='MoveType'>Submit</button>
            </div>
            <span id="pupilGiftedAndTalentedPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>		
	</form>
</div>
