
{% load WillowFilters %}
{% load static from staticfiles %}
<div id="pupilModifyGiftedAndTalented{{ i.id }}" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/modifyGiftedAndTalented/{{ PupilDetails.id }}/{{ i.id }}/" method="post">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Modify Most Abled...</span>   
		</div>	
		<div style="text-align:center;background-color:lightgrey;padding:5px;">
			<span style="font-weight:bold;color:red;">Please note: You cannot change the level of a Most Abled record.<br />To do so please delete this record and create another.</span>   
		</div>			
		<div>
			<table>
				<tr>
					<td>Subject...</td>
					<td>
						<select name='subject'>
							{% for subject in subjects %}
							<option value="{{ subject.Name }}" {% ifequal subject.Name i.Subject.Name %} selected='selected' {% endifequal %}>{{ subject.Name }}</option>
							{% endfor %}
						</select>					
					</td>
				</tr>
				<input style="display:none;" name="Level" value="{{ i.Level }}" />
				<tr>
					<td>Mentor...</td>
					<td><input style="100%" type="text" name="mentor" value="{{ i.Mentor }}" ></td>
				</tr>
				<tr>
					<td>Date Identified...</td>
					<td><input class='datepicker' readonly='true' type="text" name="identified" value="{{ i.DateIdentified|date:'Y-m-d' }}" /></td>
				</tr>
				<tr>
					<td>Details...</td>
					<td><textarea name='gtTextArea'>{{ i.Details|safe }}</textarea></td>
				</tr>																
			</table>				
		</div>
		<div style="text-align:center;">
			<div id="pupilModifyGiftedAndTalented{{ i.id }}S">
				<button type="button" class='close2'>Cancel</button>
				<button onclick="hideSubmitButton('pupilModifyGiftedAndTalented{{ i.id }}S');" type="submit" value='Copy' Name='MoveType'>Submit</button>
            </div>
            <span id="pupilModifyGiftedAndTalented{{ i.id }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>		
	</form>
</div>
