
{% load WillowFilters %}
{% load static from staticfiles %}
<div id="pupilDeleteMostAbled{{ i.id }}" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/deleteMostAbled/{{ PupilDetails.id }}/{{ i.id }}/" method="post">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Delete Most Abled?</span>   
		</div>
		<input style='display:none;' name='subject' value='{{ i.Subject.Name }}'/>
		<div style="text-align:center;">
			<div id="pupilDeleteMostAbled{{ i.id }}S">
				<button type="button" class='close2'>Cancel</button>
				<button onclick="hideSubmitButton('pupilDeleteMostAbled{{ i.id }}S');" type="submit" value='Copy' Name='MoveType'>Submit</button>
            </div>
            <span id="pupilDeleteMostAbled{{ i.id }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>		
	</form>
</div>
