
<div id="pupilAddDocument" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/pupilAddDocument/{{ PupilDetails.Pupil.id }}/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">Add Document to Pupil?</p>   
		</div>
		<div>	
			<table style='margin-top:20px;margin-bottom:20px;'>
				<tr>
					<td>Name of Document: *</td><td><input required onclick="showSubmitButton2('pupilAddDocumentS');" type="text" name="documentName" /></td>
				</tr>
				<tr>
					<td>Upload file here: *</td><td><input required onclick="showSubmitButton2('pupilAddDocumentS');" type="file" name="documentUploadField" ></td>
				</tr>
			</table>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupilAddDocumentS" onclick="hideSubmitButton('pupilAddDocumentS');" type="submit" value="Submit">Submit</button>
            <span id="pupilAddDocumentPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
		<div style="text-align:center;margin-top:10px;border:1px solid;">
			<span>fields marked with an asterisk (*) are required</span>
		</div>
	</form>
</div>
