
<div id="pupilModifyEalFurtherLanguageDetails" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/pupilModifyEalFurtherLanguageDetails/{{ PupilDetails.Pupil.id }}/" method="post" style="width:350px;">
		{% csrf_token %}		
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Modify Further Language Details...</span>   
		</div>
		<div style="background-color:lightgrey;margin-bottom:5px;padding:5px;border:1px solid grey;">
			<span style="float:left;">Pupil Ethnicity...</span>
			<select name="ealPupilEthnicity">
			{% for i in PupilDetails.Extended.Ethnicity.2 %}
					<option value='{{ i.0 }}' {% ifequal i.1 PupilDetails.returnEthnicity %} selected="selected" {% endifequal %}>{{ i.1 }}</option>
			{% endfor %}
			</select>
		</div>
		<!-- contact 1 -->
		{% if PupilDetails.EmergencyContacts.0.Record.Relationship.Type %}
		<input style="display:none;" name="ealPupilContactId1" value="{{ PupilDetails.EmergencyContacts.0.Record.Contact_id }}"/>
		<div style="background-color:lightgrey;margin-bottom:5px;padding:5px;border:1px solid grey;">
			<span style="float:left;">{{ PupilDetails.EmergencyContacts.0.Record.Relationship.Type }} Nationality...</span>
			<select name="ealPupilContactNationality1">
			{% for i in PupilDetails.EmergencyContacts.0.Extended.Nationality.2 %}
					<option value='{{ i.0 }}' {% ifequal i.1 PupilDetails.EmergencyContacts.0.Extended.Nationality.1 %} selected="selected" {% endifequal %}>{{ i.1 }}</option>
			{% endfor %}
			</select>
			<span style="float:left;">{{ PupilDetails.EmergencyContacts.0.Record.Relationship.Type }} Language...</span>
			<select name="ealPupilContactLanguage1">
			{% for i in PupilDetails.EmergencyContacts.0.Extended.PrimaryLanguage.2 %}
					<option value='{{ i.0 }}' {% ifequal i.1 PupilDetails.EmergencyContacts.0.Extended.PrimaryLanguage.1 %} selected="selected" {% endifequal %}>{{ i.1 }}</option>
			{% endfor %}
			</select>
		</div>
		{% endif %}	
		<!-- end -->
		<!-- contact 2 -->
		{% if PupilDetails.EmergencyContacts.1.Record.Relationship.Type %}
		<input style="display:none;" name="ealPupilContactId2" value="{{ PupilDetails.EmergencyContacts.1.Record.Contact_id }}"/>
		<div style="background-color:lightgrey;margin-bottom:5px;padding:5px;border:1px solid grey;">
			<span style="float:left;">{{ PupilDetails.EmergencyContacts.1.Record.Relationship.Type }} Nationality...</span>
			<select name="ealPupilContactNationality2">
			{% for i in PupilDetails.EmergencyContacts.1.Extended.Nationality.2 %}
					<option value='{{ i.0 }}' {% ifequal i.1 PupilDetails.EmergencyContacts.1.Extended.Nationality.1 %} selected="selected" {% endifequal %}>{{ i.1 }}</option>
			{% endfor %}
			</select>
			<span style="float:left;">{{ PupilDetails.EmergencyContacts.1.Record.Relationship.Type }} Language...</span>
			<select name="ealPupilContactLanguage2">
			{% for i in PupilDetails.EmergencyContacts.1.Extended.PrimaryLanguage.2 %}
					<option value='{{ i.0 }}' {% ifequal i.1 PupilDetails.EmergencyContacts.1.Extended.PrimaryLanguage.1 %} selected="selected" {% endifequal %}>{{ i.1 }}</option>
			{% endfor %}
			</select>
		</div>
		{% endif %}	
		<!-- end -->
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupilModifyEalFurtherLanguageDetailsS" onclick="hideSubmitButton('pupilModifyEalFurtherLanguageDetailsS');" type="submit" value="Submit">Submit</button>
            <span id="pupilModifyEalFurtherLanguageDetailsPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
