
<div id="moreAbled" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/addModifyMoreAbled/{{ PupilDetails.Pupil.id }}/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			{% if moreAbled %}
			<span style="font-weight:bold;">Unset Pupil More Abled?</span>
			{% else %}
			<span style="font-weight:bold;">Set Pupil as More Abled?</span>
			{% endif %}
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            {% if moreAbled %}
            <button id="moreAbledS" onclick="hideSubmitButton('moreAbledS');" type="submit" name='delete' value="delete">Submit</button>
            {% else %}
            <button id="moreAbledS" onclick="hideSubmitButton('moreAbledS');" type="submit" value="Submit">Submit</button>
            {% endif %}
            <span id="moreAbledPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
