
<div id="RawGradeExtract" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/RawGradeExtract/{{ GroupName }}/" method="post">
		{% csrf_token %}
		<div class='bannerDialog' style='text-align:center;'>
			Raw Grade Extract
		</div>						
		<div style="background-color:lightgrey;border:1px solid;text-align:center;margin-top:15px;margin-bottom:15px">		
			<h1 style='text-align:left;'>Select a Grade Record...</h1>	
			<select name="GradeRecord" style="min-width:100%;">     
				{% for gradeRecords in gradeObj.GetAllReports %}
					<option value="{{ gradeRecords.GradeRecord.Name }}" {% if gradeRecords.GradeRecord.Name in currentGradeRecord %} selected="selected" {% endif %}>{{ gradeRecords.GradeRecord.Name }}</option>
				{% endfor %}     
			</select>
			<h1 style='text-align:left;'>Select a Subject...</h1>
			<select name='ReportSubject'>
				{% for subject in SubjectList %}
				<option value='{{subject.Name}}'>{{subject.Name}}</option>
				{% endfor %}
			</select>
		<div style="border:1px solid darkred;padding:5px;text-align:center;margin:5px;">
			<span style="color:darkred;">Note: These reports may take a few minutes to generate<br />
			You may close this window when report has started</span>
		</div>			
		</div>		
		<div style="text-align:center;">
            <button type="button" class='close2'>Close</button>
            <button id="RawGradeExtractS" type="submit" value="Submit">Submit</button>
            <span id="RawGradeExtractPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
