
<div id="registerNewUser" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm"action="/WillowTree/{{ school }}/Register/" method="post" name="auth" class='RecordFormInput'>
		{% csrf_token %}
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<span style="font-weight:bold;">Register New User?</span>   
			</div>
		</div>
		<div style="margin-top:20px;margin-bottom:20px">		
			<label for="NewStaffId">Staff ID number: *</label> <input required onclick="showSubmitButton2('registerNewUserS');" id="NewStaffId" name="NewStaffId" /><br />
			<label for="Forename">Forename: *</label> <input required onclick="showSubmitButton2('registerNewUserS');" id="Forename" name="Forename" /><br/>
			<label for="Surname">Surname: *</label> <input required onclick="showSubmitButton2('registerNewUserS');" id="Surname" name="Surname" /><br/>					
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="registerNewUserS" onclick="hideSubmitButton('registerNewUserS');" type="submit" value="Submit">Submit</button>
            <span id="registerNewUserPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
		<div style="text-align:center;margin-top:10px;border:1px solid;">
			<span>fields marked with an asterisk (*) are required</span>
		</div>		
	</form>
</div>
