
<div id="remove_from_group_from_pupil_record" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/remove_from_group_from_pupil_record/{{ PupilDetails.Pupil.id }}/" method="post">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">Remove Pupil from Group/Groups?</p>   
		</div>
		<div style='background-color:lightgrey;border:1px solid grey;padding:3px;height:350px;overflow-y:scroll;'>
		{% for group in PupilDetails.GroupList %}
			<input type="checkbox" name="old_group_{{ group.Group.Name }}" value="{{ group.Group.Name }}">{{ group.Group.Name }} ({{ group.AcademicYear }})</input><br />
			{% if not forloop.last %}
			<hr />
			{% endif %}
		{% endfor %}
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="remove_from_group_from_pupil_recordS" onclick="hideSubmitButton('remove_from_group_from_pupil_recordS');" type="submit" value="Submit">Submit</button>
            <span id="remove_from_group_from_pupil_recordPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
