
<div id="RemoveApplicant{{pupil.Pupil.id}}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/RemoveApplicant/{{ GroupName }}/{{pupil.Pupil.id}}/" method="post">
		{% csrf_token %}
		<h1>This action will remove this record completely from WillowTree. Are You sure?</h1>
		<br><br>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="RemoveApplicant{{pupil.Pupil.id}}S" onclick="hideSubmitButton('RemoveApplicant{{pupil.Pupil.id}}S');" type="submit" value="Submit">Submit</button>
            <span id="RemoveApplicant{{pupil.Pupil.id}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
