
<div id="removeAddress_{{ Address.id }}" class="login-popup">
{% load static from staticfiles %}
	<div class='RecordFormInput'>
		<br>
		<div class='bannerDialog'>
			Remove Address
		</div>
		<form action="/WillowTree/{{ school }}/{{ AcYear }}/RemoveFamilyAddress/{{ FamilyDetails.FamilyId.id}}/{{ Address.id }}/" method="post" name="PupilNote" >
			{% csrf_token %}
			Click OK to remove the following address from this<br>family record
			<ul>
				<li>{{Address.HomeSalutation}}</li>
				<li>{{Address.AddressLine1}}</li>
				<li>{{Address.PostCode}}</li>
			</ul>
			<div style="text-align:center;">
				<button type="button" class='close2'>Cancel</button>
				<button id="removeAddress_{{ Address.id }}S" onclick="hideSubmitButton('removeAddress_{{ Address.id }}S');" type="submit" value="Submit">Submit</button>
				<span id="removeAddress_{{ Address.id }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
			</div>		
		</form>
	</div>
</div>
