
<div id="removePupilFromGrp" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/removePupilFromGrp/{{ GroupName }}/" method="post">
		{% csrf_token %}
		<div style='text-align:center;'>
			<div class='bannerDialog'>
				<p style="font-weight:bold;">Remove {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }} from Group?</p>
			</div>
			<div style="width:300px;border:1px solid;background-color:yellow;padding:10px;">
				<p><span style="color:red;">WARNING!</span> Will only remove {{ pupil.Pupil.Forename }} {{ pupil.Pupil.Surname }} from this group if they are <u>ALREADY</u> a member of another group.</p>
			</div>			
		</div>
		<div style="display:none;">
			<select multiple="multiple" id="removePupilFromGrpPupilSelect" name="PupilSelect">
				{% for pupil in ClassList %}
				<option selected='selected' id='removePupilFromGrp{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
				{% endfor %}
			</select>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="removePupilFromGrpS" onclick="hideSubmitButton('removePupilFromGrpS');" type="submit" value="Submit">Submit</button>
            <span id="removePupilFromGrpPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
