
<div id="RemoveExistingPupil{{Children.Pupil.id}}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/RemoveExistingPupil/{{ FamilyDetails.FamilyId.id }}/{{ Children.Pupil.id }}/" method="post">
		{% csrf_token %}
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<p style="font-weight:bold;">Remove Existing Pupil?</p>   
			</div>
		</div> 
		<div style='border:1px solid darkred;color:darkred;text-align:center;'>
			<p style='padding:3px;'>Note:<br /> Will only remove child<br /> 
			from this family <b>IF</b> a <br />
			member of another<br />family!!</p>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="RemoveExistingPupil{{Children.Pupil.id}}S" onclick="hideSubmitButton('RemoveExistingPupil{{Children.Pupil.id}}S');" type="submit" value="Submit">Submit</button>
            <span id="RemoveExistingPupil{{Children.Pupil.id}}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>	
	</form>
</div>
