
<div id="Report2ParentsManager" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Report2ParentsReports/{{ GroupName }}/" method="post", target="_blank">
		{% csrf_token %}
		
		<select multiple="multiple" id="GradeReportPupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='GradeReport{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>
		<h1>Select a report</h1>	
		<select name='ReportName'>
			<option value='YrR_Eot_M' {% if 'YrR_Eot_M' in currentGradeRecord %} selected="selected" {% endif %}>Reception EOT Mich</option>
			<option value='YrR_Eot_S' {% if 'YrR_Eot_S' in currentGradeRecord %} selected="selected" {% endif %}>Reception EOT Summer</option>
			<option value='Yr1_Eot_M' {% if 'Yr1_Eot_M' in currentGradeRecord %} selected="selected" {% endif %}>Year 1 EOT Mich</option>
			<option value='Yr1_Eot_S' {% if 'Yr1_Eot_S' in currentGradeRecord %} selected="selected" {% endif %}>Year 1 EOT Summer</option>
			<option value='Yr2_Eot_M' {% if 'Yr2_Eot_M' in currentGradeRecord %} selected="selected" {% endif %}>Year 2 EOT Mich</option>
			<option value='Yr2_Eot_S' {% if 'Yr2_Eot_S' in currentGradeRecord %} selected="selected" {% endif %}>Year 2 EOT Summer</option>
			<option value='Yr3_Hf_M' {% if 'Yr3_Hf_M' in currentGradeRecord %} selected="selected" {% endif %}>Year 3 Half Term Mich</option>
			<option value='Yr3_Eot_M' {% if 'Yr3_Eot_M' in currentGradeRecord %} selected="selected" {% endif %}>Year 3 EOT Mich</option>
			<option value='Yr3_hf_L' {% if 'Yr3_hf_L' in currentGradeRecord %} selected="selected" {% endif %}>Year 3 Half Term Lent</option>
			<option value='Yr3_Eot_L' {% if 'Yr3_Eot_L' in currentGradeRecord %} selected="selected" {% endif %}>Year 3 EOT Lent</option>
			<option value='Yr3_Hf_S' {% if 'Yr3_Hf_S' in currentGradeRecord %} selected="selected" {% endif %}>Year 3 Half Term Summer</option>
			<option value='Yr3_Eot_S' {% if 'Yr3_Eot_S' in currentGradeRecord %} selected="selected" {% endif %}>Year 3 EOT Summer</option>
			<option value='Yr4_Hf_M' {% if 'Yr4_Hf_M' in currentGradeRecord %} selected="selected" {% endif %}>Year 4 Half Term Mich</option>
			<option value='Yr4_Eot_M' {% if 'Yr4_Eot_M' in currentGradeRecord %} selected="selected" {% endif %}>Year 4 EOT Mich</option>
			<option value='Yr4_hf_L' {% if 'Yr4_hf_L' in currentGradeRecord %} selected="selected" {% endif %}>Year 4 Half Term Lent</option>
			<option value='Yr4_Eot_L' {% if 'Yr4_Eot_L' in currentGradeRecord %} selected="selected" {% endif %}>Year 4 EOT Lent</option>
			<option value='Yr4_Hf_S' {% if 'Yr4_Hf_S' in currentGradeRecord %} selected="selected" {% endif %}>Year 4 Half Term Summer</option>
			<option value='Yr4_Eot_S' {% if 'Yr4_Eot_S' in currentGradeRecord %} selected="selected" {% endif %}>Year 4 EOT Summer</option>
			<option value='Yr5_Hf_M' {% if 'Yr5_Hf_M' in currentGradeRecord %} selected="selected" {% endif %}>Year 5 Half Term Mich</option>
			<option value='Yr5_Eot_M' {% if 'Yr5_Eot_M' in currentGradeRecord %} selected="selected" {% endif %}>Year 5 EOT Mich</option>
			<option value='Yr5_Hf_L' {% if 'Yr5_Hf_L' in currentGradeRecord %} selected="selected" {% endif %}>Year 5 Half Term Lent</option>
			<option value='Yr5_Eot_L' {% if 'Yr5_Eot_L' in currentGradeRecord %} selected="selected" {% endif %}>Year 5 EOT Lent</option>
			<option value='Yr5_Hf_S' {% if 'Yr5_Hf_S' in currentGradeRecord %} selected="selected" {% endif %}>Year 5 Half Term Summer</option>
			<option value='Yr5_Eot_S' {% if 'Yr5_Eot_S' in currentGradeRecord %} selected="selected" {% endif %}>Year 5 EOT Summer</option>
			<option value='Yr6_Hf_M' {% if 'Yr6_Hf_M' in currentGradeRecord %} selected="selected" {% endif %}>Year 6 Half Term Mich</option>
			<option value='Yr6_Eot_M' {% if 'Yr6_Eot_M' in currentGradeRecord %} selected="selected" {% endif %}>Year 6 EOT Mich</option>
			<option value='Yr6_Hf_L' {% if 'Yr6_Hf_L' in currentGradeRecord %} selected="selected" {% endif %}>Year 6 Half Term Lent</option>
			<option value='Yr6_Eot_L' {% if 'Yr6_Eot_L' in currentGradeRecord %} selected="selected" {% endif %}>Year 6 EOT Lent</option>
			<option value='Yr6_Hf_S' {% if 'Yr6_Hf_S' in currentGradeRecord %} selected="selected" {% endif %}>Year 6 Half Term Summer</option>
			<option value='Yr6_Eot_S' {% if 'Yr6_Eot_S' in currentGradeRecord %} selected="selected" {% endif %}>Year 6 EOT Summer</option>		
			<option value='Yr7_Hf_M' {% if 'Yr7_Hf_M' in currentGradeRecord %} selected="selected" {% endif %}>Year 7 Half Term Mich</option>
			<option value='Yr7_Eot_M' {% if 'Yr7_Eot_M' in currentGradeRecord %} selected="selected" {% endif %}>Year 7 EOT Mich</option>
			<option value='Yr7_Hf_L' {% if 'Yr7_Hf_L' in currentGradeRecord %} selected="selected" {% endif %}>Year 7 Half Term Lent</option>
			<option value='Yr7_Eot_L' {% if 'Yr7_Eot_L' in currentGradeRecord %} selected="selected" {% endif %}>Year 7 EOT Lent</option>
			<option value='Yr7_Hf_S' {% if 'Yr7_Hf_S' in currentGradeRecord %} selected="selected" {% endif %}>Year 7 Half Term Summer</option>
			<option value='Yr7_Eot_S' {% if 'Yr7_Eot_S' in currentGradeRecord %} selected="selected" {% endif %}>Year 7 EOT Summer</option>
			<option value='Yr8_Hf_M' {% if 'Yr8_Hf_M' in currentGradeRecord %} selected="selected" {% endif %}>Year 8 Half Term Mich</option>
			<option value='Yr8_Eot_M' {% if 'Yr8_Eot_M' in currentGradeRecord %} selected="selected" {% endif %}>Year 8 EOT Mich</option>
			<option value='Yr8_Hf_L' {% if 'Yr8_Hf_L' in currentGradeRecord %} selected="selected" {% endif %}>Year 8 Half Term Lent</option>
			<option value='Yr8_Eot_L' {% if 'Yr8_Eot_L' in currentGradeRecord %} selected="selected" {% endif %}>Year 8 EOT Lent</option>
			<option value='Yr8_Hf_S' {% if 'Yr8_Hf_S' in currentGradeRecord %} selected="selected" {% endif %}>Year 8 Half Term Summer</option>
			<option value='Yr8_Eot_S' {% if 'Yr8_Eot_S' in currentGradeRecord %} selected="selected" {% endif %}>Year 8 EOT Summer</option>
		</select>
    	<br>
    	<h1>If this report is not the standard report, select a report type from below.<br>Lists of the Report types
    	and their required use should be<br>available in your school</h1>
    	<select name='ReportType'>
			<option value='standard' selected>default</option>
			<option value='11Plus'>11 Plus</option>
			<option value='13Plus'>13 Plus</option>
			<option value='Type1'>Type 1</option>
			<option value='Type2'>Type 2</option>
			<option value='Type3'>Type 3</option>
			<option value='Type4'>Type 4</option>
			<option value='IndMusic'>IndMusic</option>
			<option value='ExtraBallet'>Extra Ballet</option>
			<option value='ExtraDrama'>Extra Drama</option>
			<option value='LearningSupport'>Learning Support</option>
    	</select>
		<button type='button' class='close2'>Cancel</button>
		<button type="submit">Generate</button>
	</form>
</div>
