
<div id="resetStaffPassword" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/resetStaffPassword/{{ StaffDetails.StaffRec.id }}/" method="post">
		{% csrf_token %}
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<span style="font-weight:bold;">Reset {{ StaffDetails.StaffRec.Forename }} {{ StaffDetails.StaffRec.Surname }}'s Passphrase?</span>   
			</div>
		</div> 
		<div style="width:300px;border:1px solid;text-align:center;background-color:yellow;padding:10px;">
			<span>
				To be used if a user has forgot their passphrase or they are locked out of their Account.<br /><hr />
				Resetting the passphrase for this staff member will set their passphrase to:<br /><br />
				<span style="font-size:1.5em;color:darkred;">'password'</span>
				<br /><br />The staff member will need to enter a new passphrase the next time they login.<br /><br />
			</span>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="resetStaffPasswordS" onclick="hideSubmitButton('resetStaffPasswordS');" type="submit" value="Submit">Reset?</button>
            <span id="resetStaffPasswordPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
