
<div id="ResetYourPasspharse" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/newPasswordAfterReset/{{ StaffDetails.StaffRec.User.id }}/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Change Your Passpharse?</span>
		</div>	
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="ResetYourPasspharseS" onclick="hideSubmitButton('ResetYourPasspharseS');" type="submit" value="Submit">Submit</button>
            <span id="ResetYourPasspharsePD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
