
<div id="schoolLetterVaribleHelp" class="login-popup" style="width:600px;">>
{% load static from staticfiles %}
	<div style="text-align:center;color:#B5B5B5;">
		<h1 style="color:#B5B5B5;font-weight:bold;">School Letter Variables...</h1>
		<h3 style="font-weight:bold;font-style:italic;">below are a few common examples you use in your letter</h3>
	</div>
	<div style="color:#000000;margin:10px;background-color:white;padding:25px 0 25px 0;">
		<ul style="list-style-type:none;">
			{% for i in schoolLetterVariableHelp %}
			<li>{{ i }}</li>
			{% endfor %}
		</ul>
	</div>
	<div style="text-align:center;">
		<span style="color:#B5B5B5;">Example use: {{ schoolLetterVariableExample }}</span>
	</div>
	<div style="text-align:right;margin-top:25px;">
		<button type="button" class='close2'>close</button>
	</div>
</div>
