
<div id="LabelManager" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/generate_school_letter_labels/" method="post", target="_blank">
		{% csrf_token %}
		
		<select multiple="multiple" id="LabelsPupilSelect" name="PupilSelect"  style="display:none;">
			{% for sch in schools %}
			<option selected='selected' id='Labels{{ sch.id }}'>{{ sch.id }}</option>
			{% endfor %}
		</select>
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">School Labels</span>
		</div>		
		<div class="table-scroll" style='height:auto; width:865px;'>
		<!-- Address Label With Pupil Name  -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div class="RecordFormTitle">
						Address Labels<br/>(without postal title)
					</div>
					<div class="RecordFormCommands">
						<button type='submit' name='LabelType' value='AddressWithSchoolName'>Generate</button>						
					</div>
				</div>
				<div class="RecordFormCRight">
					<div class='RecordFormCRight1'>
						<div class='RecordFormCRight2'>
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper" >
								<div class="table-scroll" style='height:auto;'>
									<table>
										<tbody>
										<tr><td class='Label'>School Name</td></tr>
										<tr><td class='Label'>Address Line 1</td></tr>
										<tr><td class='Label'>Address Line 2</td></tr>
										<tr><td class='label'>Address Line3 (if present)</td></tr>
										<tr><td class='label'>Address Line4 (if present)</td></tr>
										<tr><td class='label'>Post Code</td></tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End of Address Label Section -->
		<!-- Address Label With Pupil Name  -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div class="RecordFormTitle">
						Address Labels<br/>(with postal title)
					</div>
					<div class="RecordFormCommands">
						<button type='submit' name='LabelType' value='AddressWithSchoolNameWithPostalTitle'>Generate</button>						
					</div>
				</div>
				<div class="RecordFormCRight">
					<div class='RecordFormCRight1'>
						<div class='RecordFormCRight2'>
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper" >
								<div class="table-scroll" style='height:auto;'>
									<table>
										<tbody>
										<tr><td class='Label'>School Name</td></tr>
										<tr><td class='Label'>Postal Title</td></tr>
										<tr><td class='Label'>Address Line 1</td></tr>
										<tr><td class='Label'>Address Line 2</td></tr>
										<tr><td class='label'>Address Line3 (if present)</td></tr>
										<tr><td class='label'>Address Line4 (if present)</td></tr>
										<tr><td class='label'>Post Code</td></tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End of Address Label Section -->		
		</div>
		<button type="button" class='close2'>Cancel</button>	
	</form>
</div>
