
<div id="SelectExistingFamilyAddress" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/FindExistingFamilyAddress/{{ FamilyDetails.FamilyId.id }}/" method="post" name="PupilNote">
		{% include "Formscript.html" %}
		<table>
			<tr>
				<td><label for="PostCode">Postcode:</label></td>
				<td><input type="text" name="PostCode" id="FindFamilyPostCode" /></td>
			<tr>
		</table>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="SelectExistingFamilyAddressS" onclick="hideSubmitButton('SelectExistingFamilyAddressS');" type="submit" value="Submit">Submit</button>
            <span id="SelectExistingFamilyAddressPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
