
<div data-dojo-type="dijit/Dialog"  title="'Send An Email to {{ pupil.Pupil.FullName}}'s Parents"  data-dojo-id="SendParentEmail">
{% load static from staticfiles %}
{% include "DisplayKeywordsNew.html" %}      
			
	<div data-dojo-type="dijit/form/Form" id="AddNoteForm" data-dojo-id="AddNoteForm" encType="multipart/form-data" action="/WillowTree/{{ school }}/{{ AcYear }}/SaveANote/Manager/{{ GroupName }}/" method="post" name="PupilNote"> {% csrf_token %}
		<select multiple="multiple" id="KWSelect" name="KWSelect" style="display:none;">
			{% for words in KWList.All %}
			<option>{{ words.Keyword }}</option>
			{% endfor %}
		</select>   
				
		<select multiple="multiple" id="NotePupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='Note{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>				
				
		<div id="DetailsBox" class="NotesC2">
			<button type="button" onclick='AddNoteDetails.show()'>Click to add details</button> -- OR --
			<button type='submit'>Submit</button>	
		</div>		
				
		<input type="hidden" name="NoteTextArea" id='NoteTextArea' value="" />  
		
		<div data-dojo-type="dijit/Dialog"  title='Add Note Details' data-dojo-id="AddNoteDetails">
			<div style='border:5px double; padding-bottom:10px; padding-right:3px;'>
				
					<div dojoType="dijit/Editor" id="NoteTextArea2" onChange="dojo.byId('NoteTextArea').value = this.getValue();"  data-dojo-props="extraPlugins:['dijit/_editor/plugins/AlwaysShowToolbar']",height='100px'>
						<p></p>                     
					</div> 
				  
			</div>
			<button type='button' id='Cancel_SaveNote' onclick='AddNote.hide();AddNoteDetails.hide()'>Cancel</button>
			<button type='button' id='Cancel_SaveNoteDetails' onclick='AddNoteDetails.hide()'>Go Back to Keywords</button>				
			<button type='button' onclick="AddNoteForm.submit()">Submit</button>		
			
		</div>

	</div>
</div>
