
<div id="senProvisionMapPopup" class="login-popup">
{% load static from staticfiles %}
{% if senView %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ViewSenProvisionMap/placeHolder/multiplePupil/" target="_blank" method="post">
{% else %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/ViewEalProvisionMap/placeHolder/multiplePupil/" target="_blank" method="post">
{% endif %}		
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">Generate Provision Maps<br />for selected Pupils?</p>
		</div>		
		<select multiple="multiple" id="senMapPupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='senMap{{pupil.Pupil.id}}' value='{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>			
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="senProvisionMapPopupS" type="submit" value="Submit">Submit</button>
		</div>
	</form>
</div>
