
{% if Type == 'List' %}
{% load static from staticfiles %}

<ul>
	{% for Sibs in SiblingsList %}
	<li>{{Sibs.FullName}} ({{sibs.Form}})</li>
	{% endfor %}
</ul>

{% else %}

<table border=1>
	<tr>
		<td>Name</td><td>Form</td>
	<tr>
	{% for Sibs in SiblingsList %}
	<tr>
		<td>{{Sibs.FullName}}</td><td>{{sibs.Form}}</td>
	<tr>
	{% endfor %}
</table>

{% endif %}
