
<div id="special_groups_delete_group_{{ group.2 }}" class="login-popup">
{% load static from staticfiles %}
	<div class='RecordFormDialog'>
		<form name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/special_groups_delete_group/" method="post">
			{% csrf_token %}
			<div class='bannerDialog' style="text-align:center;">
				<p style="font-weight:bold;">Completely Remove {{ group.0 }}?</p>
			</div>
			<div style="background-color:lightgrey;border:1px solid;color:darkred;padding:5px;">
				<p>Warning:<br /><br />This will permanently delete all history of this group!</p>
			</div>
			<div style="display:none;">
				<input type="text" name="special_group_name" value="{{ group.0 }}">
			</div>
			<div style="display:none;">
				<input type="text" name="ac_year" value="{{ AcYear }}">
			</div>		
			<div style="text-align:center;">
				<button type="button" class='close2'>Cancel</button>
				<button id="special_groups_delete_group_{{ group.2 }}S" onclick="hideSubmitButton('special_groups_delete_group_{{ group.2 }}S');" type="submit" value="Submit">Submit</button>
				<span id="special_groups_delete_group_{{ group.2 }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
			</div>
		</form>
	</div>
</div>
