
<div id="special_groups_create" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/create_new_special_group/" method="post">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">Create a Special Group?</p>   
		</div>
		<div>
			<div style="background-color:lightgrey;border:1px solid;text-align:center;padding:5px;">
				<div>	
					New Group Name: <input type="text" name="special_group_name">
				</div>
			</div>
			<div style="background-color:lightgrey;border:1px solid;text-align:center;margin-top:5px;padding:5px;">
				<div>
					<p style="color: darkred">The following are not allowed<br />in Special Group names:</p>
					<ul>
						<li>Forward slashes ("/")</li>
						<li>Dots (".")</li>
						<li>"My"</li>
						<li>"Year"</li>
						<li>Months of the Year</li>
						<li>Teacher Names</li>
						<li>The Academic Year</li>
						<li>Existing Group Names</li>
					</ul>
				</div>
			</div>
		</div>
		<div style="display:none;">
			<input type="text" name="school" value="{{ school }}">
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="special_groups_createS" onclick="hideSubmitButton('special_groups_createS');" type="submit" value="Submit">Submit</button>
            <span id="special_groups_createPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
