
<div id="staffDeleteContactDetails_{{ contact.id }}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/staffDeleteContactDetails/{{ StaffDetails.StaffRec.id }}/{{ contact.id }}/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Staff Delete Contact?</span>
		</div>
		{% if myStaffPage %}
		<input style='display:none;' type='text' name='myStaffPage' value='true'>
		{% endif %}		
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="staffDeleteContactDetails_{{ contact.id }}S" onclick="hideSubmitButton('staffDeleteContactDetails_{{ contact.id }}S');" type="submit" value="Submit">Submit</button>
            <span id="staffDeleteContactDetails_{{ contact.id }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
