
<div id="LabelManager" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/generate_staff_letter_labels/" method="post", target="_blank">
		{% csrf_token %}
		
		<select multiple="multiple" id="LabelsPupilSelect" name="PupilSelect"  style="display:none;">
			{% for staff in staffRecs %}
			<option selected='selected' id='Labels{{ staff.StaffId }}'>{{ staff.StaffId }}</option>
			{% endfor %}
		</select>
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Staff Labels</span>
		</div>		
		<div class="table-scroll" style='height:auto; width:865px;'>
		<!-- Child Label Section -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div class="RecordFormTitle">
						Staff Name Labels
					</div>
					<div class="RecordFormCommands">
						<select id='StaffLabel1Font' name='StaffLabel1Font'>
							<option value=''>Font</option>
							<option value='Impact,Charcoal,sans-serif'>Impact</option>
							<option value='Tahoma,Geneva,sans-serif'>Tahoma</option>
							<option value='Arial,Helvetica,sans-serif'>Arial</option>
							<option value='"Lucinda Sans Unicode","Lucinda Grande",sans-serif'>Lucinda Sans Unicode</option>
							<option value='"Trebuchet MS",Helevtica,sans-serif'>Trebuchet</option>
							<option value='"Times New Roman",Times,serif'>Times Roman</option>
							<option value='"Montserrat", sans-serif'>Montserrat</option>
							<option value='"Muli", sans-serif'>Muli</option>
							<option value='"Elsie Swash Caps",cursive'>Elsie</option>
							<option value='"Norican",cursive'>Norican</option>								
							<option value='"Rye",cursive'>Rye</option>							
						</select><br>
						<select id='StaffLabel1Colour' name='StaffLabel1Colour'>
							<option value=''>Font colour</option>
							<option value='black'>Black</option>
							<option value='blue'>Blue</option>
							<option value='Green'>Green</option>
							<option value='Maroon'>Maroon</option>
							<option value='Orange'>Orange</option>
							<option value='Purple'>Purple</option>
							<option value='Red'>Red</option>
						</select><br>
						<select id='StaffLabel1Size' name='StaffLabel1Size'>
							<option value=''>Font size</option>
							<option value='15px'>1</option>
							<option value='25px'>2</option>
							<option value='30px'>3</option>
							<option value='35px'>4</option>
							<option value='40px'>5</option>
						</select><br>
						<select id='StaffLabel1Extra' name='StaffLabel1Extra'>
							<option value=''>Extra element</option>
							<option value='DateOfBirth'>Date of Birth</option>
						</select>
						<label>Adhoc Text</label><br>
						<input type='text' name='StaffLabel1Adhoc'/>
						<button type='submit' name='LabelType' value='StaffLabel1'>Generate</button>						
					</div>
				</div>
				<div class="RecordFormCRight">
					<div class='RecordFormCRight1'>
						<div class='RecordFormCRight2'>
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper">
								<div class="table-scroll" style='height:155px;'>
									<table>
										<tbody>
										<tr><td class='Label'>Name</td></tr>
										<tr><td class='Label'>Extra Element</td></tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End of Child Label Section -->		
		<!-- Address Label With Pupil Name  -->
			<div class="RecordFormBody">
				<div class="RecordFormCLeft">
					<div class="RecordFormTitle">
						Address Labels
					</div>
					<div class="RecordFormCommands">
						<button type='submit' name='LabelType' value='AddressWithStaffName'>Generate</button>						
					</div>
				</div>
				<div class="RecordFormCRight">
					<div class='RecordFormCRight1'>
						<div class='RecordFormCRight2'>
						</div>
						<div class='RecordFormCRight3'>
							<div class="table-wrapper" >
								<div class="table-scroll" style='height:auto;'>
									<table>
										<tbody>
										<tr><td class='Label'>Staff Name</td></tr>
										<tr><td class='Label'>Address Line 1</td></tr>
										<tr><td class='Label'>Address Line 2</td></tr>
										<tr><td class='label'>Address Line3 (if present)</td></tr>
										<tr><td class='label'>Address Line4 (if present)</td></tr>
										<tr><td class='label'>Post Code</td></tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End of Address Label Section -->
		</div>
		<button type="button" class='close2'>Cancel</button>	
	</form>
</div>
