
<div id="StaffUpdateAddress" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/EditStaffDetails/{{ StaffDetails.StaffRec.id }}/Address/"  method="post">		
	<div class='bannerDialog'>
		Edit Staff Address...
	</div>
	{% load WillowFilters %}
		{% csrf_token %}
		<table style="padding-bottom: 20px;">
			<tr>
				<td><label>Home Salutation: *</label></td></td> 
				<td><input required onclick="showSubmitButton2('StaffUpdateAddressS');"  type="text" name="HomeSalutation" value="{{ StaffDetails.StaffRec.Address.HomeSalutation }}" /></td>
			</tr>
			<tr>
				<td><label>Postal Title: *</label></td></td> 
				<td><input required onclick="showSubmitButton2('StaffUpdateAddressS');"  type="text" name="PostalTitle" value="{{ StaffDetails.StaffRec.Address.PostalTitle }}"/></td>
			</tr>
			<tr>
				<td><label>Address Line 1: *</label></td></td> 
				<td><input required onclick="showSubmitButton2('StaffUpdateAddressS');" type="text" name="AddressLine1" value="{{ StaffDetails.StaffRec.Address.AddressLine1 }}" /></td>
			</tr>
			<tr>
				<td><label>Address Line 2: *</label></td></td> 
				<td><input required onclick="showSubmitButton2('StaffUpdateAddressS');" type="text" name="AddressLine2" value="{{ StaffDetails.StaffRec.Address.AddressLine2 }}" /></td>
			</tr>
			<tr>
				<td><label>Address Line 3:</label></td></td> 
				<td><input type="text" name="AddressLine3" value="{{ StaffDetails.StaffRec.Address.AddressLine3 }}" /></td>
			</tr>
			<tr>
				<td><label>Address Line 4:</label></td></td> 
				<td><input type="text" name="AddressLine4" value="{{ StaffDetails.StaffRec.Address.AddressLine4 }}" /></td>
			</tr>
			<tr>
				<td><label>Country:</label></td></td> 
				<td><input type="text" name="Country" value="{{ StaffDetails.StaffRec.Address.Country }}" /></td>
			</tr>															
			<tr>
				<td><label>Post Code: *</label></td></td> 
				<td><input required onclick="showSubmitButton2('StaffUpdateAddressS');" type="text" name="PostCode" value="{{ StaffDetails.StaffRec.Address.PostCode }}" /></td>
			</tr>
			<tr>
				<td><label>Phone 1: *</label></td></td> 
				<td><input required onclick="showSubmitButton2('StaffUpdateAddressS');" type="text" name="Phone1" value="{{ StaffDetails.StaffRec.Address.Phone1 }}" /></td>
			</tr>
			<tr>
				<td><label>Phone 2:</label></td></td> 
				<td><input type="text" name="Phone2" value="{{ StaffDetails.StaffRec.Address.Phone2 }}" /></td>
			</tr>
			<tr>
				<td><label>Phone 3:</label></td></td> 
				<td><input type="text" name="Phone3" value="{{ StaffDetails.StaffRec.Address.Phone3 }}" /></td>
			</tr>									
		</table>
		{% if myStaffPage %}
			<input style='display:none;' type='text' name='myStaffPage' value='true'>
		{% endif %}
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="StaffUpdateAddressS" onclick="hideSubmitButton('StaffUpdateAddressS');" type="submit" value="Submit">Submit</button>
            <span id="StaffUpdateAddressPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
		<div style="text-align:center;margin-top:10px;border:1px solid;">
			<span>fields marked with an asterisk (*) are required</span>
		</div>		
	</form>
</div>
