
<div id="staffModifyContactDetails_{{ contact.id }}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/staffModifyContactDetails/{{ StaffDetails.StaffRec.id }}/{{ contact.id }}/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Modify Staff Contact Details</span>
		</div>
		{% load WillowFilters %}
		<div>	
			<table>
				<tr>
					<td>
						<label for='PrioriotyContact'>Priority</label>
					</td>
					<td>
						<select name="Priority"  id="PriorityContact">
							<option {% if contact.Priority|intToStr == '1' %} selected {% endif %} value="1">1</option>
							<option {% if contact.Priority|intToStr == '2' %} selected {% endif %} value="2">2</option>
							<option {% if contact.Priority|intToStr == '3' %} selected {% endif %} value="3">3</option>
							<option {% if contact.Priority|intToStr == '4' %} selected {% endif %} value="4">4</option>
							<option {% if contact.Priority|intToStr == '5' %} selected {% endif %} value="5">5</option>
							<option {% if contact.Priority|intToStr == '6' %} selected {% endif %} value="6">6</option>
						</select>
					</td>				
				</tr>
				<tr>
					<td><label for="HomeSalutation">Title and Name: *</label></td></td> 
					<td><input type="text" name="HomeSalutation" value='{{ contact.AddressId.HomeSalutation }}'  required onclick="showSubmitButton2('staffModifyContactDetails_{{ contact.id }}S');" /></td>
				</tr>
				<tr>
					<td><label for="PostalTitle">Postal Title: *</label></td></td> 
					<td><input type="text" name="PostalTitle" value='{{ contact.AddressId.PostalTitle }}'  required onclick="showSubmitButton2('staffModifyContactDetails_{{ contact.id }}S');" /></td>
				</tr>
				<tr>
					<td><label for="AddressLine1">Address Line 1: *</label></td> 
					<td><input type="text" name="AddressLine1" value='{{ contact.AddressId.AddressLine1 }}'  required onclick="showSubmitButton2('staffModifyContactDetails_{{ contact.id }}S');" /></td>
				</tr>
				<tr>
					<td><label for="AddressLine2">Address Line 2: *</label></td> 
					<td><input type="text" name="AddressLine2" value='{{ contact.AddressId.AddressLine2 }}'  required onclick="showSubmitButton2('staffModifyContactDetails_{{ contact.id }}S');" /></td>
				</tr>
				<tr>
					<td><label for="AddressLine3">Address Line 3:</label></td> 
					<td><input type="text" name="AddressLine3" value='{{ contact.AddressId.AddressLine3 }}'  /></td>
				</tr>
				<tr>
					<td><label for="AddressLine4">Address Line 4:</label></td> 
					<td><input type="text" name="AddressLine4" value='{{ contact.AddressId.AddressLine4 }}'  /></td>
				</tr>
				<tr>
					<td><label for="PostCode">Postcode: *</label></td> 
					<td><input type="text" name="PostCode" value='{{ contact.AddressId.PostCode }}'  required onclick="showSubmitButton2('staffModifyContactDetails_{{ contact.id }}S');" /></td>
				</tr>
				<tr>
					<td><label for="Country">Country:</label></td> 
					<td><input type="text" name="Country" value='{{ contact.AddressId.Country }}'   /></td>
				</tr>										
				<tr>
					<td><label for="Phone1">Phone 1: *</label></td> 
					<td><input type="text" name="Phone1" value='{{ contact.AddressId.Phone1 }}'  required onclick="showSubmitButton2('staffModifyContactDetails_{{ contact.id }}S');" /></td>
				</tr>
				<tr>
					<td><label for="Phone2">Phone 2:</label></td> 
					<td><input type="text" name="Phone2" value='{{ contact.AddressId.Phone2 }}'  /></td>
				</tr>
				<tr>
					<td><label for="Phone3">Phone 3:</label></td> 
					<td><input type="text" name="Phone3" value='{{ contact.AddressId.Phone3 }}'  /></td>
				</tr>
				<tr>
					<td><label for="EmailAddress">Email Address:</label></td> 
					<td><input type="text" name="EmailAddress" value='{{ contact.AddressId.EmailAddress }}'  /></td>
				</tr>
				<tr>
					<td><label for="Note">Note:</label></td> 
					<td><input id="NewNote" name="Note" value='{{ contact.AddressId.Note }}'/></td>
				</tr>
			</table>
		</div>
		{% if myStaffPage %}
		<input style='display:none;' type='text' name='myStaffPage' value='true'>
		{% endif %}		
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="staffModifyContactDetails_{{ contact.id }}S" onclick="hideSubmitButton('staffModifyContactDetails_{{ contact.id }}S');" type="submit" value="Submit">Submit</button>
            <span id="staffModifyContactDetails_{{ contact.id }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
		<div style="text-align:center;margin-top:10px;border:1px solid;">
			<span>fields marked with an asterisk (*) are required</span>
		</div>
	</form>
</div>
