
<div id="staffCpdCsvExtractPopUp" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/staffCpdCsvExtractPopUp/" method="post">
		{% csrf_token %}
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<p style="font-weight:bold;">Create Staff CPD Extract?<br /><span style='font-style:italic;font-weight:normal;'>(close this window upon completion)</span></p>   
			</div>
		</div> 
		<select multiple="multiple" id="staffCpdCsvExtractPopUpPupilSelect" name="PupilSelect"  style="display:none;">
			{% for staff in staffRecs %}
			<option selected='selected' id='staffCpdCsvExtractPopUp{{ staff.StaffId }}'>{{ staff.StaffId }}</option>
			{% endfor %}
		</select>	
		
		<input style="display:none;" type="text" name="EditType" value="Add">
		<div style="text-align:center;">
            <button type="button" class='close2'>Close</button>
            <button id="staffCpdCsvExtractPopUpS" type="submit" value="Submit">Submit</button>
            <span id="staffCpdCsvExtractPopUpPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
