
<div id="StaffUpdateMain" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/EditStaffDetails/{{ StaffDetails.StaffRec.id }}/Main/"  method="post">		
	<div class='bannerDialog'>
		Edit Staff Details...
	</div>
	{% load WillowFilters %}
		{% csrf_token %}
		<table>
			<!-- admin use -->
			<tr>
				<td><label for="Surname">Job Title:</label></td></td> 
				<td><input type="text" name="teacherJobTitle" value="{{ StaffDetails.Extended.staffJobTitle.0 }}" /></td>
			</tr>
			<tr>
				<td><label for="Forename">Start Date:</label></td></td> 
				<td><input class='datepicker' readonly='true' readonly='true' type="text" name="teacherStartDate" value="{{ StaffDetails.Extended.staffStartDate.0|date:'Y-m-d' }}"/></td>
			</tr>			
			<!-- end -->
			<tr>
				<td><label for="Surname">Surname: *</label></td></td> 
				<td><input required onclick="showSubmitButton2('StaffUpdateMainS');"  type="text" name="Surname" id="Surname" value="{{ StaffDetails.StaffRec.Surname }}" /></td>
			</tr>
			<tr>
				<td><label for="Forename">Forename: *</label></td></td> 
				<td><input required onclick="showSubmitButton2('StaffUpdateMainS');"  type="text" name="Forename" id="Forename" value="{{ StaffDetails.StaffRec.Forename }}"/></td>
			</tr>
			<tr>
				<td><label for="OtherNames">Other Names:</label></td></td> 
				<td><input type="text" name="OtherNames" id="OtherNames" value="{{ StaffDetails.StaffRec.OtherNames }}" /></td>
			</tr>			
			<tr>
				<td><label for="NickName">Known as:</label></td></td> 
				<td><input type="text" name="NickName" id="NickName" value="{{ StaffDetails.StaffRec.NickName }}" /></td>
			</tr>
			<tr>
				<td><label for="Title">Title:</label></td></td> 
				<td><input type="text" name="Title" id="Title" value="{{ StaffDetails.StaffRec.Title }}" /></td>
			</tr>
			<tr>
				<td style="padding-top:10px;"><label for="Gender">Gender:</label></td></td> 
				{% if StaffDetails.StaffRec.Gender == "M" %}
				<td style="padding-top:10px;"><input type="radio" name="Gender" value="M" id="Gender" checked>male     <input type="radio" name="Gender" value="F" id="Gender">female</td> 
				{% else %}
				<td style="padding-top:10px"><input type="radio" name="Gender" value="M" id="Gender">male     <input type="radio" name="Gender" value="F" id="Gender" checked>female</td> 
				{% endif %}
			</tr>
			<tr>
				<td style="padding-top:10px;"><label for="DateOfBirth">DOB: *</label></td></td> 
				<td style="padding-top:10px;"><input required onclick="showSubmitButton2('StaffUpdateMainS');" class='datepicker' readonly='true' readonly='true' type='text' name="DateOfBirth" id="DateOfBirth" size="11" value="{{ StaffDetails.StaffRec.DateOfBirth|date:'Y-m-d' }}"/></td>
			</tr>
			<tr>
				<td style="padding-top:10px;"><label for="EmailAddress">Email: *</label></td></td> 
				<td style="padding-top:10px;"><input required onclick="showSubmitButton2('StaffUpdateMainS');" type="text" name="EmailAddress" id="EmailAddress" value="{{ StaffDetails.StaffRec.Address.EmailAddress }}"/></td>
			</tr>
			<tr>
				<td style="padding-top:10px;">
					<label for="staffHouse">House:</label>
				</td>
				<td style="padding-top:10px;">
					<select name="staffHouse">
						<option value='None' {% ifequal 'None' StaffDetails.Extended.staffHouse.0 %} selected="selected" {% endifequal %}>None</option>
						<option value='Becket' {% ifequal 'Becket' StaffDetails.Extended.staffHouse.0 %} selected="selected" {% endifequal %}>Becket</option>
						<option value='Hardy' {% ifequal 'Hardy' StaffDetails.Extended.staffHouse.0 %} selected="selected" {% endifequal %}>Hardy</option>
						<option value='Lawrence' {% ifequal 'Lawrence' StaffDetails.Extended.staffHouse.0 %} selected="selected" {% endifequal %}>Lawrence</option>
						<option value='More' {% ifequal 'More' StaffDetails.Extended.staffHouse.0 %} selected="selected" {% endifequal %}>More</option>
					</select>				
				</td>
			</tr>						
		</table>
		{% if myStaffPage %}
		<input style='display:none;' type='text' name='myStaffPage' value='true'>
		{% endif %}		
		<div style="text-align:center;">
			<p style="border:1px solid darkred;color:darkred;padding:5px;">If you change this email address you<br /> will need to inform I.T Support</p>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="StaffUpdateMainS" onclick="hideSubmitButton('StaffUpdateMainS');" type="submit" value="Submit">Submit</button>
            <span id="StaffUpdateMainPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
		<div style="text-align:center;margin-top:10px;border:1px solid;">
			<span>fields marked with an asterisk (*) are required</span>
		</div>		
	</form>
</div>
