
<div id="staffActivate" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/staffActivate/{{ StaffDetails.StaffRec.id }}/" method="post" >
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">Activate this staff member?</p>  
		</div>			
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="staffActivateS" onclick="hideSubmitButton('staffActivateS');" type="submit" value="Submit">Submit</button>
            <span id="staffActivatePD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
