
<script>
{% load static from staticfiles %}
	function hide() {
		document.getElementById('staffCpdCsvExtractPopUp').style.display='none';
		document.getElementById('mask').style.display='none';
	}
</script>
<div id="staffCpdCsvExtractPopUp" class="login-popup">
	<div class='RecordFormDialog'>
		<form name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/staffCpdCsvExtractPopUp/" method="post">
			{% csrf_token %}
			<div style="text-align:center;">
				<div class='bannerDialog'>
					<p style="font-weight:bold;">Create CPD CSV Extract?</p>   
				</div>
			</div> 
			<select multiple="multiple" id="staffCpdCsvExtractPopUpPupilSelect" name="PupilSelect"  style="display:none;">
				{% for staff in staffRecs %}
				<option selected='selected' id='staffCpdCsvExtractPopUp{{ staff.StaffId }}'>{{ staff.StaffId }}</option>
				{% endfor %}
			</select>
			<div style="text-align:center;">
				<button type="button" class='close2'>Cancel</button>
				<button id="staffCpdCsvExtractPopUpS" onclick="hide();" type="submit" value="Submit">Submit</button>
				<span id="staffCpdCsvExtractPopUpPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
			</div>
		</form>
	</div>
</div>

