
{% load WillowFilters %}
{% load static from staticfiles %}
<div id="StaffAddToGroupFromStaffPage" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/modifyStaffGroupsFromStaffPage/{{ StaffDetails.StaffRec.id }}/" method="post">
		{% csrf_token %}
		<div style="text-align:center;">
			<div class='bannerDialog'>
				<span style="font-weight:bold;padding-bottom:10px;">Modify Staff Groups...</span>
				<br>
				<span style='font-style:italic'>(Scroll down for groups in different Schools)</span>
			</div>
		</div> 		
		<div style='background-color:lightgrey;border:1px solid grey;padding:3px;height:350px;overflow-y:scroll;'>
			{% for group in groups %}
			<div>
			{% for i in group %}
				{% if 'Admin' in school %}
				<input type="checkbox" name="groupCheckBox_{{ i.0 }}" value="{{ i.0 }}" {% if i.1 %} checked {% endif %}>{{ i.0 }}</input>
				<br>
				{% else %}
				{% if i.0|returnLength > 4 %}
				<input type="checkbox" name="groupCheckBox_{{ i.0 }}" value="{{ i.0 }}" {% if i.1 %} checked {% endif %}>{{ i.0 }}</input>
				<br>
				{% else %}
				<div style='display:none;'><input type="checkbox" name="groupCheckBox_{{ i.0 }}" value="{{ i.0 }}" {% if i.1 %} checked {% endif %}>{{ i.0 }}</input></div>				
				{% endif %}				
				{% endif %}
			{% endfor %}
			</div>
			<hr />
			{% endfor %}								
		</div>
		<div style="text-align:center;">
			<div id="StaffAddToGroupFromStaffPageS">
				<button type="button" class='close2'>Cancel</button>
				<button onclick="hideSubmitButton('StaffAddToGroupFromStaffPageS');" type="submit">Submit</button>
            </div>
            <span id="StaffAddToGroupFromStaffPagePD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
		{% if myStaffPage %}
		<input style='display:none;' type='text' name='myStaffPage' value='true'>
		{% endif %}
	</form>				
</div>
