
<div id="staffPageDetailsWrong" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/staffPageDetailsWrong/" method="post" >
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">If any details are incorrect in your staff page, using the text box below please describe <br />the problem.
			An Email will be sent to the Support team who will correct this shortly.</p>  
		</div>			
		<div>
			<textarea name="itSupportText">Hi, the following details are wrong on my staff page in Willow Tree:</textarea>
			<input style="display:none;" name="lastURL" value="{{ path }}" />
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="staffPageDetailsWrongS" onclick="hideSubmitButton('staffPageDetailsWrongS');" type="submit" value="Submit">Submit</button>
            <span id="staffPageDetailsWrongPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
