
<div id="staffAddContactDetails" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/staffAddContactDetails/{{ StaffDetails.StaffRec.id }}/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Add Staff Contact Details</span>
		</div>
		<div>	
			<table>
				<tr>
					<td>
						<label for='PrioriotyContact'>Priority</label>
					</td>
					<td>
						<select name="Priority"  id="PriorityContact">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
						</select>
					</td>				
				</tr>
				<tr>
					<td><label for="HomeSalutation">Title and Name: *</label></td></td> 
					<td><input type="text" name="HomeSalutation" id="NewHomeSalutation"  required onclick="showSubmitButton2('staffAddContactDetailsS');" /></td>
				</tr>
				<tr>
					<td><label for="PostalTitle">Postal Title: *</label></td></td> 
					<td><input type="text" name="PostalTitle" id="NewPostalTitle"  required onclick="showSubmitButton2('staffAddContactDetailsS');" /></td>
				</tr>
				<tr>
					<td><label for="AddressLine1">Address Line 1: *</label></td> 
					<td><input type="text" name="AddressLine1" id="NewAddressLine1"  required onclick="showSubmitButton2('staffAddContactDetailsS');" /></td>
				</tr>
				<tr>
					<td><label for="AddressLine2">Address Line 2: *</label></td> 
					<td><input type="text" name="AddressLine2" id="NewAddressLine2"  required onclick="showSubmitButton2('staffAddContactDetailsS');" /></td>
				</tr>
				<tr>
					<td><label for="AddressLine3">Address Line 3:</label></td> 
					<td><input type="text" name="AddressLine3" id="NewAddressLine3"  /></td>
				</tr>
				<tr>
					<td><label for="AddressLine4">Address Line 4:</label></td> 
					<td><input type="text" name="AddressLine4" id="NewAddressLine4"  /></td>
				</tr>
				<tr>
					<td><label for="PostCode">Postcode: *</label></td> 
					<td><input type="text" name="PostCode" id="NewPostCode"  required onclick="showSubmitButton2('staffAddContactDetailsS');" /></td>
				</tr>
				<tr>
					<td><label for="Country">Country:</label></td> 
					<td><input type="text" name="Country" id="NewCountry"   /></td>
				</tr>										
				<tr>
					<td><label for="Phone1">Phone 1: *</label></td> 
					<td><input type="text" name="Phone1" id="NewPhone1"  required onclick="showSubmitButton2('staffAddContactDetailsS');" /></td>
				</tr>
				<tr>
					<td><label for="Phone2">Phone 2:</label></td> 
					<td><input type="text" name="Phone2" id="NewPhone2"  /></td>
				</tr>
				<tr>
					<td><label for="Phone3">Phone 3:</label></td> 
					<td><input type="text" name="Phone3" id="NewPhone3"  /></td>
				</tr>
				<tr>
					<td><label for="EmailAddress">Email Address:</label></td> 
					<td><input type="text" name="EmailAddress" id="NewEmailAddress"  /></td>
				</tr>
				<tr>
					<td><label for="Note">Note:</label></td> 
					<td><input id="NewNote" name="Note"/></td>
				</tr>
			</table>
		</div>
		{% if myStaffPage %}
		<input style='display:none;' type='text' name='myStaffPage' value='true'>
		{% endif %}		
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="staffAddContactDetailsS" onclick="hideSubmitButton('staffAddContactDetailsS');" type="submit" value="Submit">Submit</button>
            <span id="staffAddContactDetailsPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
		<div style="text-align:center;margin-top:10px;border:1px solid;">
			<span>fields marked with an asterisk (*) are required</span>
		</div>
	</form>
</div>
