
<div id="staffModifyMedicalDetails" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/staffModifyMedicalDetails/{{ StaffDetails.StaffRec.id }}/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Staff Medical Details</span>
		</div>
		<div>	
			<textarea name="staffModifyMedicalDetails">{{ StaffDetails.Extended.staff_medical_details.0|safe }}</textarea>
		</div>
		{% if myStaffPage %}
		<input style='display:none;' type='text' name='myStaffPage' value='true'>
		{% endif %}		
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="staffModifyMedicalDetailsS" onclick="hideSubmitButton('staffModifyMedicalDetailsS');" type="submit" value="Submit">Submit</button>
            <span id="staffModifyMedicalDetailsPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
