
<table>
{% load static from staticfiles %}
	<tr>
		<td>Name</td>
		<td>Date of Birth</td>
		<td>Gender</td>
		<td>Family Address</td>
		<td>Home Phone</td> 
	</tr>
	{% for pupil in class.ClassList %}
	<tr>
		<td>{{pupil.Pupil.FullName}}</td>
		<td>{{ pupil.Pupil.DateOfBirth|date:"jS N Y" }}</td>
		<td>{{pupil.Pupil.Gender}}</td>
		<td>{% for addresses in pupil.FamilyRecord.Address.all %}{{addresses.ListAddress}}{% endfor %}</td>
		<td>{% for addresses in Pupil.FamilyRecord.Address.all %}{{addresses.Phone1}} {{addresses.Phone2}}</td>
	</tr>
</table>
