
<div id="TeacherNamesManager" class="login-popup">
{% load static from staticfiles %}
	<div class="table-scroll" style='height:500px; width:950px;'>
	<div class='RecordFormDialog'>

		<div class="RecordFormBody">
			<form action="/WillowTree/{{ school }}/{{ AcYear }}/SetTeacherName/{{GroupName}}/" method="post">
				{% csrf_token %}
				<div class="RecordFormCLeft">
					Form teacher is used for putting in the Form teacher name on Reports etc
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						<div class='RecordFormCRight2'>
						<button type='submit'>Select</button>				
						<button type="button" class='close2'>Cancel</button>
						</div>
						<div class="RecordFormCRight3">
						Form Teacher: <input type='text' name='FormTeacher' {% if TeacherNames.FormTeacher %}value='{{TeacherNames.FormTeacher}}'>{% endif %}</td>
						</div>
					</div>
				</div>
			</form>				
		</div>
		<div class="RecordFormBody">
			<form action="/WillowTree/{{ school }}/{{ AcYear }}/SetTeacherName/{{GroupName}}/" method="post">
				{% csrf_token %}
				<div class="RecordFormCLeft">				
				All teachers is used for putting Teacher names in class lists. This should be the
				Form teachers name + other text/ teachers names
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						<div class='RecordFormCRight2'>
						<button type='submit'>Select</button>				
						<button type="button" class='close2'>Cancel</button>
						</div>
						<div class="RecordFormCRight3">
							All Teacher:<input type='text'  name='AllTeachers' {% if TeacherNames.AllTeachers %}value='{{TeacherNames.AllTeachers}}'{% endif %}>
						</div>
					</div>
				</div>
			</form>				
		</div>
		<div class="RecordFormBody">
			<form action="/WillowTree/{{ school }}/{{ AcYear }}/SetTeacherName/{{GroupName}}/" method="post">
				{% csrf_token %}
				<div class="RecordFormCLeft">
					Tutor is used for the Tutor/mentors names that gets put in reports
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						<div class='RecordFormCRight2'>
						<button type='submit'>Select</button>				
						<button type="button" class='close2'>Cancel</button>
						</div>
						<div class="RecordFormCRight3">
							Tutor:<input type='text'  name='Tutor' {% if TeacherNames.Tutor %}value='{{TeacherNames.Tutor}}'{% endif %}>
						</div>
					</div>
				</div>
			</form>				
		</div>
		<div class="RecordFormBody">
			<form action="/WillowTree/{{ school }}/{{ AcYear }}/SetTeacherName/{{GroupName}}/" method="post">
				{% csrf_token %}
				<div class="RecordFormCLeft">
				Subject teachers is used to put names/Initals into reports for subject sepcialists. Please
				set your name for the right group. For example, if you teach in a set, set your name in 
				the set group, not the form group.
				</div>
				<div class="RecordFormCRight">
					<div class="RecordFormCRight1">
						<div class='RecordFormCRight2' style='width:170px;'>
						Subject:<select name='Subject' required style='width:150px;'>
									<option value='None'>Select Subject</option>
									{% for subs in SubjectList %}
									<option value='{{subs.Name}}'>{{subs.Name}}</option>
									{% endfor %}
								</select>
						<input type='text' required name='SubjectTeacher'/>		
						<button type='submit'>Select</button>				
						<button type="button" class='close2'>Cancel</button>
						</div>
						<div class="RecordFormCRight3">	
							<div class="table-wrapper">
								<div class="table-scroll" style='height:110px;width:300px;'>			
								<table>
									{% for subjects, names in TeacherNames.SubjectTeachers.items %}
									<tr>
										<td>{{subjects}}</td><td>{{names}}</td>
									</tr>
									{% endfor %}
								</table>
								</div>
							</div>
						</div>
					</div>
				</div>


			</form>				
		</div>
	</div>
	</div>
</div>
