
				<div class="RecordFormBody">
{% load static from staticfiles %}
					<div class="RecordFormCLeft"> 
						<div id="RecordFormTitle">
						<h1 class="RecordFormTitleText">Teacher Names...</h1>
						</div>
					</div>
					<div class="RecordFormCRight">
						<div class="RecordFormCRight1"> 						
							<div class='RecordFormCRight2'><br/>
							</div>
							<div class='RecordFormCRight3'>
								<div class="table-wrapper">
									<div class="table-scroll" style="height:auto;">
										<table>
											<tbody>	
												<tr><td class="Label">Form Teacher:</td><td class="DataItem">{{ PupilDetails.TeacherNames.FormTeacher }}</td></tr>
												<tr><td class="Label">All Teachers:</td><td class="DataItem">{{ PupilDetails.TeacherNames.AllTeachers }}</td></tr>
												<tr><td class="Label">Tutor/Mentor:</td><td class="DataItem">{{ PupilDetails.TeacherNames.Tutor }}</td></tr>
												{% for subjects, teachers in PupilDetails.TeacherNames.items %}
												{% if not 'Teacher' in subjects and not 'Tutor' in subjects  and not 'Subject' in subjects %}
												<tr><td class="Label">{{subjects}}:</td><td class="DataItem">{{teachers}}</td></tr>
												{% endif %}
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>											
							</div>
						</div>
					</div>
				</div>	
