
<div id="test{{ i }}" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/pupilModifyEalAreasOfConcern/{{ PupilDetails.Pupil.id }}/" method="post" >
		{% csrf_token %}		
		<div class='bannerDialog' style="text-align:center;">
			<span style="font-weight:bold;">Modify {{ i }} Area of Concern...</span>   
		</div>
		<div>
			<h1>Modify {{ i }} Notes...</h1>
			<textarea name="eal{{ i }}">{{ i }}</textarea>
		</div>
		<div>
			<h1>Modify {{ i }} Teacher Notes...</h1>
			<textarea name="eal{{ i }}TeacherNotes">{{ i }}</textarea>
		</div>	
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="pupilModifyEalAreasOfConcern_eal{{ i }}S" onclick="hideSubmitButton('pupilModifyEalAreasOfConcern_eal{{ i }}S');" type="submit" value="Submit">Submit</button>
            <span id="pupilModifyEalAreasOfConcern_eal{{ i }}PD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
