
{% load WillowFilters %}
{% load static from staticfiles %}
<div id="TransferTo" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/Manage/TransferPupil/" method="post">
		{% csrf_token %}
		
		<select multiple="multiple" id="MovePupilSelect" name="PupilSelect"  style="display:none;">
			{% for pupil in ClassList %}
			<option selected='selected' id='MarkForTransfer{{pupil.Pupil.id}}'>{{ pupil.Pupil.id }}</option>
			{% endfor %}
		</select>		
		
		<select name="SchoolName" style='width:500px;'>
			{% if not "Battersea" in school %}
			<option value="Battersea">Battersea</option>
			{% endif %}
			{% if not "Clapham" in school %}			
			<option value="Clapham">Clapham</option>
			{% endif %}
			{% if not "Fulham" in school %}			
			<option value="Fulham">Fulham</option>
			{% endif %}
			{% if not "Kensington" in school %}			
			<option value="Kensington">Kensington</option>
			{% endif %}
		</select>		<br>
		<div style="text-align:center;">
            <button type="button" class='close2'>Cancel</button>
            <button id="TransferToS" onclick="hideSubmitButton('TransferToS');" type="submit" value="Submit">Submit</button>
            <span id="TransferToPD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>
	</form>
</div>
