
<div id="update_pupil_picture" class="login-popup">
{% load static from staticfiles %}
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/update_pupil_picture/{{ PupilDetails.Pupil.id }}/"  method="post" enctype="multipart/form-data">		
		<div style="text-align:center;">
			<div class='bannerDialog'>
				Upload new Picture...
			</div>
			{% load WillowFilters %}
				{% csrf_token %}
			<div style="background-color:lightgrey;border:1px solid;padding:5px;">
				<input type="file" name="Picture" required>
			</div>
		</div>
		<div style="text-align:center;">
			<button type="button" class='close2'>Cancel</button>
			<button id="update_pupil_pictureS" type="submit" value="Submit">Submit</button>
			<span id="update_pupil_picturePD" style="display:none;font-weight:bold;color:darkred;">PROCESSING...</span>
		</div>	
	</form>
</div>
