

{% load static from staticfiles %}
<div id="UpdateIssue{{Notes.NoteId.id}}" class="login-popup">

	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/UpdateIssue/{{ Notes.NoteId.id }}/{{PupilDetails.Pupil.id}}/"  method="post">
		{% csrf_token %}
		<textarea name="NoteTextArea"></textarea>    
			<input type="radio" name="IssueStatus{{Notes.NoteId.id}}" style='height:20px; width:20px;' value="WorkInProgress" checked />Work In Progress<br>
			<input type="radio" name="IssueStatus{{Notes.NoteId.id}}" style='height:20px; width:20px;' value="NeedInfo"/>Need More Information<br>
			<input type='radio' name='IssueStatus{{Notes.NoteId.id}}' style='height:20px; width:20px;' value='Closed'/>Close Issue<br>
			<button type="button" class='close2'>Cancel</button>
			<button type='submit' style='width:auto;'>Submit changes</button>			
	</form>
</div>
