{% load static from staticfiles %}
<link rel="stylesheet" href="{% static "css/jquery.fancybox.css"%}" type="text/css" />
<script type="text/javascript" src="{% static "js/jquery.fancybox.pack.js"%}"></script>
<table class='WillowTable1' >
	<tr class='WillowTableHeader'><td colspan=2 >Training Videos (password to watch videos is "<span style="color:green;">thomas</span>")</td></tr>
	<tr>
		<td><a class="fancybox fancybox.iframe" data-type="iframe" href="//player.vimeo.com/video/98424326">Introduction</a></td>
		<td>An introduction to WillowTree.</td>
	</tr>
	<tr class='WillowTableRow2'>
		<td><a class="fancybox fancybox.iframe" data-type="iframe" href="//player.vimeo.com/video/95681053">Shortcuts</a></td>
		<td>Adding shortcuts to your favourite classes.</td>
	</tr>
	<tr>
		<td><a class="fancybox fancybox.iframe" data-type="iframe" href="//player.vimeo.com/video/97412450">Marking Attendance</a></td>
		<td>How to mark a classes attendance records.</td>
	</tr>
	<tr class='WillowTableRow2'>
		<td><a class="fancybox fancybox.iframe" data-type="iframe" href="//player.vimeo.com/video/97429926">Pupil Records</a></td>
		<td>Viewing individual pupil records.</td>
	</tr>
	<tr>
		<td><a class="fancybox fancybox.iframe" data-type="iframe" href="//player.vimeo.com/video/97702082">SEN/EAL/G&amp;T</a></td>
		<td>Viewing SEN/EAL/G&amp;T details.</td>
	</tr>
	<tr class='WillowTableRow2'>
		<td><a class="fancybox fancybox.iframe" data-type="iframe" href="//player.vimeo.com/video/97702085">Pupil Notes</a></td>
		<td>Viewing pupil notes.</td>
	</tr>
	<tr>
		<td><a class="fancybox fancybox.iframe" data-type="iframe" href="//player.vimeo.com/video/97705689">Grading</a></td>
		<td>Grading for reports.</td>
	</tr>
	<tr class='WillowTableRow2'>
		<td><a class="fancybox fancybox.iframe" data-type="iframe" href="//player.vimeo.com/video/97806585">Class Lists</a></td>
		<td>Class lists.</td>
	</tr>
	<tr>
		<td><a class="fancybox fancybox.iframe" data-type="iframe" href="//player.vimeo.com/video/98258130">CSV Files</a></td>
		<td>How to create CSV files.</td>
	</tr>
	<tr class='WillowTableRow2'>
		<td><a class="fancybox fancybox.iframe" data-type="iframe" href="//player.vimeo.com/video/98318318">Labels</a></td>
		<td>How to create labels.</td>
	</tr>
	<tr>
		<td><a class="fancybox fancybox.iframe" data-type="iframe" href="//player.vimeo.com/video/98335279">Reports</a></td>
		<td>How to create reports.</td>
	</tr>
	<tr class='WillowTableRow2'>
		<td><a class="fancybox fancybox.iframe" data-type="iframe" href="//player.vimeo.com/video/98266788">Manage Sets</a></td>
		<td>Managing sets.</td>
	</tr>
	<tr>
		<td><a class="fancybox fancybox.iframe" data-type="iframe" href="//player.vimeo.com/video/98423111">Microsoft Excel</a></td>
		<td>Editing in Microsoft Excel.</td>
	</tr>
</table>
<script type="text/javascript">
	$(document).ready(function() { $("a.fancybox").fancybox(); });
</script>
