
{% load WillowFilters %}
{% load static from staticfiles %}
<div id="view_old_pupil_groups" class="login-popup">
	<form class='RecordFormDialog' name="popOutForm" action="/WillowTree/{{ school }}/{{ AcYear }}/view_old_pupil_groups/{{ PupilDetails.Pupil.id }}/" method="post">
		{% csrf_token %}
		<div class='bannerDialog' style="text-align:center;">
			<p style="font-weight:bold;">Pupil Old Group Membership</p>   
		</div>
		<div style='background-color:lightgrey;border:1px solid grey;padding:3px;height:350px;overflow-y:scroll;'>
			<table style="border-collapse:collapse;">
				<tr>
					<td style="width:400px;! Important"><span style="font-weight:normal;">Group</span></td>
					<td style="width:120px;! Important"><span style="font-weight:normal;">Ac Year</span></td>
					<td style="width:120px;! Important"><span style="font-weight:normal;">Inactivated</span></td>
				</tr>
			{% for group in old_pupil_groups %}
				<tr>
					<td style="border-top:1px solid grey;">{{ group.Group.Name }}</td>
					<td style="border-top:1px solid grey;">{{ group.AcademicYear }}</td>
					<td style="border-top:1px solid grey;">{{ group.DateInactivated.isoformat|englishDateFormat }}</td>
				</tr>
			{% endfor %}
			</table>
		</div>
		<div style="text-align:center;">
            <button type="button" class='close2'>Close</button>
		</div>
	</form>
</div>
